{% extends "base.html.twig" %}

{% block title %}ClientBundle:Billings:index{% endblock %}
{% block pagename %}{{ 'sidebar.billings'|trans }}{% endblock %}

{% block body %}
    <div class="card">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>{{ 'table.interventions.logo'|trans }}</th>
                            <th>{{ 'table.interventions.entity'|trans }}</th>
                            <th>{{ 'trainers.alerts.billings.sponsor'|trans }}</th>
                            <th>{{ 'admin.billings.product'|trans }}</th>
                            <th>{{ 'admin.billings.date'|trans }}</th>
                            <th>{{ 'admin.billings.bill_number'|trans }}</th>
                            <th>{{ 'admin.billings.amount'|trans }}</th>
                            <th>{{ 'admin.billings.action'|trans }}</th>
                            <th>
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input class="form-check-input check-all-input" type="checkbox" value="">
                                        <span class="form-check-sign">
                                            <span class="check"></span>
                                        </span>
                                    </label>
                                </div>
                            </th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for quotation in quotations %}
                            <tr>
                                <td>
                                    <div class="img-container">
                                        <img src="{{ asset('img/Logo_BNP.png') }}" alt="">
                                    </div>
                                </td>

                                <td>
                                    {{ quotation.customer.entity.designation }}
                                </td>

                                <td>
                                    {{ quotation.customer.displayName }}<br>
                                    {{ quotation.customer.mobilePhone }}<br>
                                    {{ quotation.customer.otherEmail }}
                                </td>

                                <td>
                                    {{ quotation.designation }}
                                </td>

                                <td>
                                    {{ quotation.statusDate| date('Y-m-d')}}
                                </td>

                                <td>
                                    BPN-2018 1645
                                </td>

                                <td>
                                    {{ quotation.totalPrice }} €
                                </td>

                                <td>
                                    <a href="{{ path('customer_billing_show', {id: quotation.id}) }}"><i class="fal fa-eye"></i></a>
                                    <a href="{{ path('customer_billing_edit', {id: quotation.id}) }}"><i class="fal fa-pen"></i></a>
                                    <a href="{{ path('customer_billing_delete', {id: quotation.id}) }}"><i class="fal fa-trash"></i></a>
                                </td>

                                <td>
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <input class="form-check-input" type="checkbox" value="">
                                            <span class="form-check-sign">
                                                <span class="check"></span>
                                            </span>
                                        </label>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            <p class="text-right">
                <a href="#" class="btn btn-sm btn-navy">{{ 'trainers.invoices.send_bills'|trans }}</a>
            </p>
        </div>
    </div>
{% endblock %}
