$border-radius: 4px 4px 0 0;
$header-clr: #e5e5e5;

.accordion-pane {
  background: $pane-grey;
  border-radius: 4px;
  margin-bottom: 10px;
}

.accordion-header {
  background: $header-clr;
  color: $deepmark-black;
  border-radius: $border-radius;
  padding: 15px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .down-arrow {
    font-size: 30px;
    line-height: 0.8;
    margin-right: 20px;
    margin-left: 10px;
  }

  i {
    margin-right: 10px;
  }

  div {
    display: flex;

    .intervention-module-title {
      font-size: 22px;
      margin-top: 4px;
    }
  }

  .assign-trainers {
    margin-top: 2px;
  }
}

.accordion-header.collapsed {
  border-radius: 4px;
}

#intervention-module-info {
  margin: 50px auto;
  display: flex;
  width: 650px;
}

.intervention-module-info-inner {
  width: 50%;
  font-size: 18px;
  padding-left: 40px;

  div {
    display: flex;

    span {
      font-size: 16px;
    }
  }
}

.module-info-icon {
  width: 40px;
  text-align: center;

  i {
    font-size: 20px;
    line-height: 24px;
  }
}

.module-info-row {
  margin: 10px 0;
}

.vertical-separator {
  width: 1px;
  height: 60px;
  align-self: center;
  border-left: solid 1px $deepmark-mediumgray;
}

#intervention-online-bottom-row {
  margin: 15px;
  display: flex;
}

.intervention-trainers-list {
  min-height: 50px;
  width: 320px;
  border-radius: 4px;
  background-color: $header-clr;
  padding: 10px 0;

  #trainer-item-template:not(:last-child) {
    margin-bottom: 20px;
  }
}

#select-trainer-header, #hours-left-header {
  font-size: 18px;
}

#intervention-hours-left-wrapper {
  margin-left: 40px;

  button {
    margin: 20px 0;
  }
}

#intervention-hours-left {
  padding: 10px 25px 10px 10px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 4px;
  background-color: $header-clr;
}

.trainer-item-template {
  display: grid;
  place-items: center;
  grid-template-columns: 40px 1fr;

  .pretty {
    margin-right: 0 !important;
  }
}

.trainer-item-content {
  justify-self: left;
}

.trainer-item-top, .trainer-item-bottom {
  display: flex;

  i {
    font-size: 16px;
    line-height: 21px;
    margin-right: 10px;
  }

  .fa-clock {
    font-size: 14px;
    line-height: 21px;
  }
}

.trainer-item-bottom {
  align-items: baseline;
}

.trainer-name {
  font-size: 16px;
  font-weight: 600;
}

.trainer-dates {
  font-size: 12px;
  color: lighten($deepmark-black, 10);
  margin-left: 10px;
}

#intervention-step4-spacer {
  height: 20px;
}

.card-intervention-add {
  padding-bottom: 20px;

  .module {
    padding-top: initial;
    padding-bottom: initial;
    line-height: initial;
    display: initial;
  }
}
#modal-vclass-trainer-select input[type="radio"]:checked + label{
  background-color: #ddd;
}