.interv-new-table {
  .col {
    &-duration{
      .filter-option {
        padding-top: 7px;
      }
    }
  }

  .currency {
    content: attr(data-currency);
    display: inline-block;
    margin-left: 5px;
  }
  .chapter-row{
    .row-field-customtitle {
      width: 100%;
      text-align: left;
      color: $deepmark;
      background-color: #fff;
      padding-left: 10px;
      &::placeholder { color: $deepmark; }
    }
  }
  .price-row {
    cursor: move;

    .badge > i { color: #FFFFFF !important; }

    .customtitle-wrapper {
      display: inline-block;

      .row-field-customtitle {
        width: 100%;
        text-align: left;
        color: $deepmark;
        background-color: #fff;
        padding-left: 10px;
        &::placeholder { color: $deepmark; }
      }
    }

    .bootstrap-select {
      display: inline-block !important;
      width: 50px !important;

      .dropdown-toggle {
        padding-right: 0 !important;
      }
    }
  }

  .form-control {
    display: inline-block;
    width: 60px;
    border: 1px solid $deepmark-lightgray ;
    background: none;
    text-align: center;

    &.priceField { width: 100px; }
    &.totalField { width: 100px; }
  }

  .badge {
    font-size: 100%;
    padding: 10px;
    width: 100%;
    text-align: left;

    i { margin-right: 10px; }
  }

  .icon-arrow {
    font-size: 30px;
    color: $deepmark-navy;

    position: relative;
    left: 25px;
    top: 5px;

    @media screen and (max-width: 1300px) { left: 0; }
    @media screen and (min-width: 1200px) and (max-width: 1600px) {
      display: none;
    }
  }
}
