$badge-size: 40px;

.round-badge {
  position: absolute;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 20px;
  z-index: 2;
}

.vertical-line {
  display: inline-block;
  background: $deepmark-navy;
  position: absolute;
  height: 100%;
  width: 2px;
  z-index: 1;
}

.step2-title {
  &::before {
    content: ' ';
    @extend .vertical-line;
    top: 10px;
    left: 29px;
  }

  position: relative;
  padding: 10px 0 50px 80px;
  color: $deepmark-mediumgray;
  font-size: 20px;

  &-icon {
    @extend .round-badge;
    background: $deepmark-orangelight;
    top: 0;
    left: 6px;
    height: 1.25 * $badge-size;
    width: 1.25 * $badge-size;
    font-size: 30px;
  }
}

#inProgressList {
  list-style: none;
  padding-left:70px;
  counter-reset: round-badge;

  .padding-bottom-custom{
    padding-bottom: 100px;
  }
  .margin-top-custom{
    margin-top: 50px;
  }
  .select2{
    width:100%!important;
  }
  .select2-choices{
    border-bottom:1px solid #d2d2d2!important;
    border-radius:0!important;
  }

  > li {
    counter-increment: round-badge;
    position: relative;

    &::before {
      content: counter(round-badge);
      @extend .round-badge;
      background-color: $deepmark-navy;
      width: $badge-size;
      height: $badge-size;

      top: 15px;
      left: -60px;
    }

    &::after {
      content: '';
      @extend .vertical-line;
      top: 0;
      left: -41px;
    }

    &:last-of-type::after {
      height: 50px;
    }
  }
}

#inProgressList .card {
  margin-top: 0;
  margin-bottom: 60px;

  &-header {
    display: flex;
    margin: 0;
    justify-content: space-between;
  }
  &-duplicate {
    background: transparent;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 20px;
  }
  &-title {
    color: white;
    display: block;
    align-items: center;
    font-size: 20px;
    i {
      font-size: 1.25em;
      margin-right: 1rem;
    }

    .module-title {
      margin-left: 1rem;
      input {
        color: white;
        border-bottom: none;
        background: transparent;
        &::placeholder {
          color: white;
        }
      }
      textarea {
        color: white;
        border-bottom: none;
        background: transparent;
        &::placeholder {
          color: white;
        }
      }
    }
  }
}

.add-session {
  font-size: 16px;
}
