@import "step-1";
@import "step-2";
@import "step-4";

.interv-new-table td{
	border-color: #fff!important;
	border-width: 5px;
}
.price-row{
	background-color: $deepmark-light;
}
.store-item {
	margin: 3px 0;
	display: flex;
	align-items: center;
	background-color: $deepmark-light;
	cursor: pointer;
	@media screen and (min-width: 992px) and (max-width: 1600px) {
		text-align: center;
	}

	p {
		display: inline-block;
		margin-left: 10px;
		margin-bottom: 0;

		&.onerow { vertical-align: 0; }

		@media screen and (min-width: 992px) and (max-width: 1600px) {
			display: block;
		}
	}
}

.store-item:hover {
	background-color: #74B4D6;
}
.sortable-cards {
	.card { cursor: move; }

	.customtitle-wrapper {
		display: inline-block;

		.row-field-customtitle {
			margin-left: 15px;
			min-width: 150px;

			border: none !important;
			color: #FFFFFF !important;
			background: transparent !important;

			&::placeholder { color: #FFFFFF; }

			text-align: left !important;
		}
	}
}

.form-group-condition {
	.bootstrap-select {
		width: 150px !important;

		.filter-option-inner-inner {
			color: $deepmark-navy !important;
		}
	}

	.form-control-txt {
		width: 50px !important;
		display: inline-block !important;

		color: $deepmark-navy;
	}
}

.card-client-included {
	.img-container { width: 100px; }

	dt { font-weight: 400; }
	dd { color: $deepmark-navy; }
}

.sortable-cards {
	list-style-type: none;
    position: relative;

	.bootstrap-select {
		& > button.dropdown-toggle {
			display: none;
		}

		.bootstrap-select {
			& > button.dropdown-toggle {
				display: block;
			}
		}
	}


    &:before {
    	content: ' ';
	    background: $deepmark-navy;
	    display: inline-block;
	    position: absolute;
	    left: 29px;
	    width: 2px;
	    height: 100%;
	    z-index: 400;
    }

    > li {
    	margin: 20px 0;
    	padding-left: 20px;
    	counter-increment: item;

    	&:before {
    		font-size: 30px;
    		text-align: center;
    		padding-top: 2px;

    		content: counter(item);
		    background: $deepmark-navy;
		    display: inline-block;
		    position: absolute;
		    border-radius: 50%;
		    left: 5px;
		    width: 50px;
		    height: 50px;
		    z-index: 400;
		    color: #FFFFFF;
    	}
    }

    .card {
    	margin-top: 0 !important;
    	margin-left: 20px !important;
    }
}

.new-interv-step3 {
	.badge {
		cursor: pointer;
		background: $deepmark-mediumgray;
		color: #FFFFFF;

		padding: 15px 20px;

		&-low.active, &-low:hover { background-color: $deepmark-green; }
		&-medium.active, &-medium:hover { background-color: $deepmark-orangelight; }
		&-high.active, &-high:hover { background-color: $deepmark-red; }

		&-day.active, &-day:hover { background-color: $deepmark-green; }
	}

	.bootstrap-select { width: 100px !important; }
}

.new-interv-step-manual {
	display: none;

	.livetrainers-select { cursor: pointer; }

	.livetrainers-btn {
		font-size: 30px;
		margin-right: 15px;
	}

	.livetrainers-card {
		visibility: hidden;
		opacity: 0;

		transition: visibility 0s, opacity 0.5s linear;

		&.active {
			visibility: visible;
			opacity: 1;
		}

		.card-body {
			max-height: 300px;
			overflow: auto;
		}
	}
}

.livetrainers-list {
	&__item {
		display: flex;
		margin-bottom: 25px;

		.img-container {
			width: 50px;
			height: 50px;

			overflow: hidden;
			border-radius: 50%;

			img { max-width: 50px; }
		}

		&-desc {
			padding-left: 20px;

			p { margin-bottom: 0; }
		}
	}
}


.new-interv-step4 {
	.card-timeline {
		border-top-right-radius: 15px;
		border-bottom-left-radius: 15px;
	}

	.sidebtn {
		white-space: normal;
	}

	.calcul-row {
		ul { list-style: none; padding: 0; }
		strong { color: $deepmark-green; }
	}

	.timeline-btn-row {
		margin-top: 25px;

		.btn { text-transform: none; }
	}
}

.load-timeline {
	.vis-dot { display: none !important; }
	.vis-itemset .vis-background {
		display: none;
	}
}

.mod-skeleton { display: none; }

.card-intervention-add {
	.card-header {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	.card-title {
		color: white;
	}
}

.card-intervention-add {
	.nav-item {
		counter-increment: nav-item;
		margin-right: 50px;

		&:last-child { margin-right: 0; }

		position: relative;

		&:before {
	    	content: ' ';
		    background: $deepmark;
		    display: inline-block;
		    position: absolute;
		    left: -70px;
			top: 20px;
		    width: 35px;
		    height: 2px;
		    z-index: 400;
	    }

		&:first-child:before { display: none; }

		.nav-link {
			position: relative;

			&:before {
				font-size: 20px;
				text-align: center;

				content: counter(nav-item);
				background: #bfdbfc;
				display: inline-block;

				position: absolute;
				border-radius: 50%;

				top: 0;
				left: -30px;

				width: 40px;
				height: 40px;

				padding-top: 7px;

				z-index: 400;
				color: #FFFFFF;
			}

			background: none;
			box-shadow: none;
			color: $deepmark;

			&.active, &:hover {
				background: none;
				box-shadow: none;
				color: $deepmark;
				font-weight: bold;
				&:before { background: $deepmark; }
			}
		}

	}
}

.btn-file {
  position: relative;
  overflow: hidden;
}

#quiz-modal {
	iframe {
		width: 100%;
		min-height: 500px;
	}
}

#upload-video-modal {
	.library-videos {
		&__item {
			margin-bottom: 15px;
		}
	}
}

.videos__file-inputs { display: none; }
.audios__file-inputs { display: none; }


.attachedFiles{
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding-left: 0 !important;
}
.warning-box{
	background-color: #fce4e4 !important;
	border: 1px solid #cc0033 !important;
	outline: none;
}
