{% extends 'base.html.twig' %}
{% from "macros/cardHeader.html.twig" import cardHeader %}

{% block pagename %}Dashboard - Alertes{% endblock %}

{% block body %}
    {{ include('molecules/cards/nav/admin-dashboard-nav.html.twig', { count: count } ) }}

	<div class="card card-pane">
		<div class="card-header alert dashboard-alerts-nav">
			{% block cardHeader %}
				{{ cardHeader({
					items: [
						{
							title: 'table.interventions.intervention'|trans,
							count: alert_count.interventions,
							link: '#interventionsPane',
							id: 'interventionsId',
							icon: 'true',
							iconClass: 'fa fa-exclamation-triangle',
						},
						{
							title: 'trainers.dashboard.nav.reports'|trans,
							count: alert_count.reports,
							link: '#crPane',
							id: 'crId',
							icon: 'true',
							iconClass: 'fa fa-exclamation-triangle',
						},
						{
							title: 'admin.alerts.courses'|trans,
							count: alert_count.courses,
							link: '#parcoursPane',
							id: 'parcoursId',
							icon: 'true',
							iconClass: 'fa fa-exclamation-triangle',
						},
						{
							title: 'trainers.dashboard.nav.planning'|trans,
							count: alert_count.plannings,
							link: '#planningPane',
							id: 'planningId',
							icon: 'true',
							iconClass: 'fa fa-exclamation-triangle',
						},
						{
							title: 'trainers.dashboard.nav.messages'|trans,
							count: alert_count.messages,
							link: '#msgPane',
							id: 'msgId',
							icon: 'true',
							iconClass: 'fa fa-exclamation-triangle',
						},
						{
							title: 'admin.billings.title'|trans,
							count: alert_count.billings,
							link: '#billingsPane',
							id: 'billingsId',
							icon: 'true',
							iconClass: 'fa fa-exclamation-triangle',
						},
					],
				}) }}
			{% endblock %}
		</div>

		<div class="card-body">
			<div class="tab-content tab-space">
				<div class="tab-pane active" id="interventionsPane">
                    {{ include('molecules/tables/interventions-table.html.twig', {bookings: interventions})}}
				</div>

                {% if reports is not null %}
					<div class="tab-pane" id="crPane">
						<h3 class="text-deepmark-red">
                            {{ count_reports_un_realised }}
                            {{ 'admin.alerts.reports_not_completed_by_livetrainer'|trans }}
						</h3>

                        {{ include('molecules/tables/reports-table.html.twig', {id:'reports_un_realised', reports:reports_un_realised, org:true, status: 'trainers.reports.status.to_do'|trans})}}

						<div class="send-msg-wrapper">
							<div class="text-right">
								<a href="#" class="btn btn-sm btn-deepmark-navy send-msg-btn">{{ 'trainers.alerts.exercices.custom_message'|trans }}</a>
							</div>

							<div class="send-msg-area">
								<div class="row">
									<div class="col-md-6 offset-md-6">
										<form class="form">
											<div class="form-group">
												<label for="msg">{{ 'global.message'|trans }}</label>
												<textarea class="form-control" id="msg" rows="5"></textarea>
											</div>

											<button type="submit" class="btn btn-sm btn-deepmark-navy">{{ 'buttons.send'|trans }}</button>
										</form>
									</div>
								</div>
							</div>
						</div>

						<h3 class="text-deepmark-red">
                            {{ count_reports_un_validated }}
                            {{ 'admin.alerts.reports_not_validated_by_livetrainer_ontime'|trans }}
						</h3>

                        {{ include('molecules/tables/reports-table.html.twig', {id:'reports_un_validated', reports:reports_un_validated, org:true, status: 'trainers.reports.status.submitted'|trans})}}

						<div class="send-msg-wrapper">
							<div class="text-right">
								<a href="#" class="btn btn-sm btn-deepmark-navy send-msg-btn">{{ 'trainers.alerts.exercices.custom_message'|trans }}</a>
								<a href="#" class="btn btn-sm btn-deepmark-green" data-action="validated_report_change" data-url="{{ '/admin/validatedReports' }}">{{ 'buttons.validate'|trans }}</a>
							</div>

							<div class="text-right">
								<a href="#" data-action="rejected_report_change" data-url="{{ '/admin/rejectedReports' }}" class="btn btn-sm btn-deepmark-red send-msg-btn">{{ 'buttons.reject'|trans }}</a>
							</div>

							<div class="send-msg-area">
								<div class="row">
									<div class="col-md-6 offset-md-6">
										<form class="form">
											<div class="form-group">
												<label for="msg">{{ 'global.message'|trans }}</label>
												<textarea class="form-control" id="msg1" rows="5"></textarea>
											</div>

											<button type="submit" class="btn btn-sm btn-deepmark-navy">{{ 'buttons.send'|trans }}</button>
										</form>
									</div>
								</div>
							</div>
						</div>

						<h3 class="text-deepmark-red">
                            {{ count_reports_rejected }}
                            {{ 'admin.alerts.reports_rejected_and_not_represented'|trans }}
						</h3>

                        {{ include('molecules/tables/reports-table.html.twig', {id:'reports_rejected', reports:reports_rejected, org:true, status: 'trainers.reports.status.validated'|trans})}}

						<div class="send-msg-wrapper">
							<div class="text-right">
								<a href="#" class="btn btn-sm btn-deepmark-navy send-msg-btn">{{ 'trainers.alerts.exercices.custom_message'|trans }}</a>
							</div>

							<div class="send-msg-area">
								<div class="row">
									<div class="col-md-6 offset-md-6">
										<form class="form">
											<div class="form-group">
												<label for="msg">{{ 'global.message'|trans }}</label>
												<textarea class="form-control" id="msg2" rows="5"></textarea>
											</div>

											<button type="submit" class="btn btn-sm btn-deepmark-navy">{{ 'buttons.send'|trans }}</button>
										</form>
									</div>
								</div>
							</div>
						</div>

					</div>
                {% endif %}
				<div class="tab-pane" id="parcoursPane">
					<h3 class="text-deepmark-red">
                        {{ count_modules_not_done_learner }}
                        {{ 'admin.alerts.ob_module_not_completed_ontime_by_learner' |trans }}
					</h3>

                    {{ include('molecules/tables/interventions-table.html.twig', {bookings: modules_not_done_learner}) }}

					<div class="send-msg-wrapper">
						<div class="text-right">
							<a href="#" class="btn btn-sm btn-deepmark-navy send-msg-btn">{{ 'trainers.alerts.exercices.custom_message'|trans }}</a>
						</div>

						<div class="send-msg-area">
							<div class="row">
								<div class="col-md-6 offset-md-6">
									<form class="form">
										<div class="form-group">
											<label for="msg">{{ 'global.message'|trans }}</label>
											<textarea class="form-control" id="msg3" rows="5"></textarea>
										</div>

										<button type="submit" class="btn btn-sm btn-deepmark-navy">{{ 'buttons.send'|trans }}</button>
									</form>
								</div>
							</div>
						</div>
					</div>

					<h3 class="text-deepmark-red">
                        {{count_modules_not_corrected_trainer}} {{ 'admin.alerts.ob_module_not_fixed_intime_by_livetrainer'|trans }}
					</h3>


                    {{ include('molecules/tables/interventions-table.html.twig', {bookings: modules_not_corrected_trainer}) }}

					<div class="send-msg-wrapper">
						<div class="text-right">
							<a href="#" class="btn btn-sm btn-deepmark-navy send-msg-btn">{{ 'trainers.alerts.exercices.custom_message'|trans }}</a>
						</div>

						<div class="send-msg-area">
							<div class="row">
								<div class="col-md-6 offset-md-6">
									<form class="form">
										<div class="form-group">
											<label for="msg">{{ 'global.message'|trans }}</label>
											<textarea class="form-control" id="msg4" rows="5"></textarea>
										</div>

										<button type="submit" class="btn btn-sm btn-deepmark-navy">{{ 'buttons.send'|trans }}</button>
									</form>
								</div>
							</div>
						</div>
					</div>

					<h3 class="text-deepmark-red">
                        {{ count_modules_not_validated_admin }} {{ 'admin.alerts.ob_module_not_validated_by_admin'|trans }}
					</h3>


                    {{ include('molecules/tables/interventions-table.html.twig', {bookings: modules_not_validated_admin}) }}

					<div class="send-msg-wrapper">
						<div class="text-right">
							<a href="#" class="btn btn-sm btn-deepmark-navy send-msg-btn">{{ 'trainers.alerts.exercices.custom_message'|trans }}</a>
						</div>

						<div class="send-msg-area">
							<div class="row">
								<div class="col-md-6 offset-md-6">
									<form class="form">
										<div class="form-group">
											<label for="msg">{{ 'global.message'|trans }}</label>
											<textarea class="form-control" id="msg5" rows="5"></textarea>
										</div>

										<button type="submit" class="btn btn-sm btn-deepmark-navy">{{ 'buttons.send'|trans }}</button>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="tab-pane" id="planningPane">
					<h3 class="text-deepmark-red" >
						<span data-role="action_count_planning_replacement">{{ replace_resources_waiting_validation|length|default(0)}}</span> {{ 'admin.alerts.liveressource_waiting_for_replacement_validation'|trans }}
					</h3>

					<div class="table-responsive">
                        {{ include('molecules/tables/validate-replacements.html.twig', { replace_resources_waiting_validation: replace_resources_waiting_validation}) }}
					</div>

					<div class="send-msg-wrapper">
						<div class="text-right">
							<a href="#" data-action="replace_status_change" data-url="{{ '/admin/denyReplace' }}" class="btn btn-sm btn-deepmark-red send-msg-btn">{{ 'table.trainers.deny_their_request'|trans }}</a>
						</div>
					</div>

					<h3 class="text-deepmark-red" >
						<span data-role="action_count_planning">{{ live_resources_waiting_validation|length|default(0)}}</span> {{ 'admin.alerts.liveressource_waiting_for_skill_validation'|trans }}
					</h3>

					<div class="table-responsive">
						{{ include('molecules/tables/validate-skills.html.twig', { live_resources_waiting_validation: live_resources_waiting_validation}) }}
					</div>

					<div class="send-msg-wrapper">
						<div class="text-right">
							<a href="#" data-action="skill_status_change" data-url="{{ '/admin/validateSkill' }}" class="btn btn-sm btn-deepmark-navy send-msg-btn">{{ 'table.trainers.validate_their_skills'|trans }}</a>
						</div>
						<div class="text-right">
							<a href="#" data-action="skill_status_change" data-url="{{ '/admin/denySkill' }}" class="btn btn-sm btn-deepmark-red send-msg-btn">{{ 'table.trainers.deny_their_profile'|trans }}</a>
						</div>
					</div>

					<h3 class="text-deepmark-red" >
						<span data-role="">0</span> {{ 'admin.alerts.liveressource_waiting_for_validation'|trans }}
					</h3>
				</div>

				<div class="tab-pane" id="msgPane">
					<p>
						<strong>{{ 'admin.alerts.livetrainer_messages'|trans }}</strong>
					</p>

					<p>
						<strong>{{ 'admin.alerts.learner_messages'|trans }}</strong>
					</p>

					<div class="msg-list">
					</div>

					<p>
						<strong>{{ 'admin.alerts.client_supervisor_messages'|trans }}</strong>
					</p>

					<div class="msg-list">
						<div class="msg-list__item">
                            {{ 'global.no_message'|trans }}
						</div>
					</div>

					<p>
						<strong>{{ 'admin.alerts.message_tenant_customers'|trans }}</strong>
					</p>

					<div class="msg-list">
					</div>
				</div>

				<div class="tab-pane" id="billingsPane">
					<h3 class="text-deepmark-red">{{count_invoices_clients_sent}} {{ 'admin.alerts.billings.customer_invoice_sent_more_than_two_month_ago'|trans }}</h3>

					<div class="table-responsive">
						<table class="table table-striped">
							<thead align="center">
							<tr>
								<th>{{ 'admin.billings.org'|trans }}</th>
								<th>{{ 'admin.billings.entity'|trans }}</th>
								<th>{{ 'trainers.alerts.billings.sponsor'|trans }}</th>
								<th>{{ 'admin.billings.product'|trans }}</th>
								<th>{{ 'admin.billings.date'|trans }}</th>
								<th>{{ 'admin.billings.bill_number'|trans }}</th>
								<th>{{ 'admin.billings.amount'|trans }}</th>
								<th>{{ 'admin.billings.action'|trans }}</th>
								<th>
									<div class="form-check">
										<label class="form-check-label">
											<input class="form-check-input check-all-input" type="checkbox" value="">
											<span class="form-check-sign">
			                                        <span class="check"></span>
			                                    </span>
										</label>
									</div>
								</th>
							</tr>
							</thead>

							<tbody>
                            {% for i in invoices_clients_sent %}
								<tr>
									<td>
										<div class="img-container">
											<img src="{{ asset('img/Logo_BNP.png') }}" alt="">
										</div>
									</td>

									<td>
										BNP
									</td>

									<td>
										Prénom nom <br>
										0645314657<br>
										prenom.nom@yopmail.com
									</td>

									<td>
										Intervention
									</td>

									<td>
										15/06/2018
									</td>

									<td>
										BPN-2018 1645
									</td>

									<td>
										50 000 €
									</td>

									<td>
										<a href="#"><i class="fal fa-eye"></i></a>
										<a href="#"><i class="fal fa-pen"></i></a>
										<a href="#"><i class="fal fa-trash"></i></a>
									</td>

									<td>
										<div class="form-check">
											<label class="form-check-label">
												<input class="form-check-input" type="checkbox" value="">
												<span class="form-check-sign">
				                                        <span class="check"></span>
				                                    </span>
											</label>
										</div>
									</td>
								</tr>
                            {% endfor %}
							</tbody>
						</table>
					</div>

					<div class="text-right">
						<a href="#" class="btn btn-sm btn-deepmark-green">{{ 'admin.billings.pay'|trans }}</a>
					</div>

					<div class="send-msg-wrapper">
						<div class="text-right">
							<a href="#" class="btn btn-sm btn-deepmark-navy send-msg-btn">{{ 'trainers.alerts.exercices.custom_message'|trans }}</a>
						</div>

						<div class="send-msg-area">
							<div class="row">
								<div class="col-md-6 offset-md-6">
									<form class="form">
										<div class="form-group">
											<label for="msg">Message</label>
											<textarea class="form-control" id="msg6" rows="5"></textarea>
										</div>

										<button type="submit" class="btn btn-sm btn-deepmark-navy">Envoyer</button>
									</form>
								</div>
							</div>
						</div>
					</div>

					<h3 class="text-deepmark-red">{{count_invoices_clients_waiting_validation}} {{ 'admin.alerts.billings.customer_invoices_waiting_for_validation_bf_sending'|trans }}</h3>

					<div class="table-responsive">
						<table class="table table-striped">
							<thead align="center">
							<tr>
								<th>{{ 'admin.billings.org'|trans }}</th>
								<th>{{ 'admin.billings.entity'|trans }}</th>
								<th>{{ 'trainers.alerts.billings.sponsor'|trans }}</th>
								<th>{{ 'admin.billings.product'|trans }}</th>
								<th>{{ 'admin.billings.date'|trans }}</th>
								<th>{{ 'admin.billings.bill_number'|trans }}</th>
								<th>{{ 'admin.billings.amount'|trans }}</th>
								<th>{{ 'admin.billings.action'|trans }}</th>
								<th>
									<div class="form-check">
										<label class="form-check-label">
											<input class="form-check-input check-all-input" type="checkbox" value="">
											<span class="form-check-sign">
			                                        <span class="check"></span>
			                                    </span>
										</label>
									</div>
								</th>
							</tr>
							</thead>

							<tbody>
                            {% for i in invoices_clients_waiting_validation %}
								<tr>
									<td>
										<div class="img-container">
											<img src="{{ asset('img/Logo_BNP.png') }}" alt="">
										</div>
									</td>

									<td>
										BNP
									</td>

									<td>
										Prénom nom <br>
										0645314657<br>
										prenom.nom@yopmail.com
									</td>

									<td>
										Intervention
									</td>

									<td>
										15/06/2018
									</td>

									<td>
										BPN-2018 1645
									</td>

									<td>
										50 000 €
									</td>

									<td>
										<a href="#"><i class="fal fa-eye"></i></a>
										<a href="#"><i class="fal fa-pen"></i></a>
										<a href="#"><i class="fal fa-trash"></i></a>
									</td>

									<td>
										<div class="form-check">
											<label class="form-check-label">
												<input class="form-check-input" type="checkbox" value="">
												<span class="form-check-sign">
				                                        <span class="check"></span>
				                                    </span>
											</label>
										</div>
									</td>
								</tr>
                            {% endfor %}
							</tbody>
						</table>
					</div>

					<div class="text-right">
						<a href="#" class="btn btn-sm btn-deepmark-green">{{ 'trainers.alerts.billings.send_invoice_by_mail'|trans }}</a>
					</div>

					<div class="send-msg-wrapper">
						<div class="text-right">
							<a href="#" class="btn btn-sm btn-deepmark-navy send-msg-btn">{{ 'trainers.alerts.exercices.custom_message'|trans }}</a>
						</div>

						<div class="send-msg-area">
							<div class="row">
								<div class="col-md-6 offset-md-6">
									<form class="form">
										<div class="form-group">
											<label for="msg">{{ 'global.message'|trans }}</label>
											<textarea class="form-control" id="msg7" rows="5"></textarea>
										</div>

										<button type="submit" class="btn btn-sm btn-deepmark-navy">{{ 'buttons.send'|trans }}</button>
									</form>
								</div>
							</div>
						</div>
					</div>

					<h3 class="text-deepmark-red">{{count_invoices_provider_waiting_validation}} {{ 'admin.alerts.billings.supplier_invoices_waiting_for_validation_bf_sending'|trans }}</h3>

					<div class="table-responsive">
						<table class="table table-striped">
							<thead align="center">
							<tr>
								<th>{{ 'admin.billings.provider'|trans }}</th>
								<th>{{ 'admin.billings.intervention_name'|trans }}</th>
								<th>{{ 'admin.billings.product'|trans }}</th>
								<th>{{ 'admin.billings.date'|trans }}</th>
								<th>{{ 'admin.billings.bill_number'|trans }}</th>
								<th>{{ 'admin.billings.amount'|trans }}</th>
								<th>{{ 'admin.billings.action'|trans }}</th>
								<th>
									<div class="form-check">
										<label class="form-check-label">
											<input class="form-check-input check-all-input" type="checkbox" value="">
											<span class="form-check-sign">
			                                        <span class="check"></span>
			                                    </span>
										</label>
									</div>
								</th>
							</tr>
							</thead>

							<tbody>
                            {% for i in invoices_provider_waiting_validation%}
								<tr>
									<td>
										Prénom nom <br>
										0645314657<br>
										prenom.nom@yopmail.com
									</td>

									<td>NPS Promoteur</td>
									<td>Séance</td>
									<td>15/06/2018</td>
									<td>BPN-2018 0398</td>
									<td>300€</td>
									<td>
										<a href="#"><i class="fal fa-eye"></i></a>
										<a href="#"><i class="fal fa-pen"></i></a>
										<a href="#"><i class="fal fa-trash"></i></a>
									</td>
									<td>
										<div class="form-check">
											<label class="form-check-label">
												<input class="form-check-input" type="checkbox" value="">
												<span class="form-check-sign">
				                                        <span class="check"></span>
				                                    </span>
											</label>
										</div>
									</td>
								</tr>
                            {% endfor %}
							</tbody>
						</table>
					</div>

					<div class="text-right">
						<a href="#" class="btn btn-sm btn-deepmark-green">{{ 'trainers.alerts.billings.send_invoice_by_mail'|trans }}</a>
					</div>

					<div class="send-msg-wrapper">
						<div class="text-right">
							<a href="#" class="btn btn-sm btn-deepmark-navy send-msg-btn">{{ 'trainers.alerts.exercices.custom_message'|trans }}</a>
						</div>

						<div class="send-msg-area">
							<div class="row">
								<div class="col-md-6 offset-md-6">
									<form class="form">
										<div class="form-group">
											<label for="msg">{{ 'global.message'|trans }}</label>
											<textarea class="form-control" id="msg8" rows="5"></textarea>
										</div>

										<button type="submit" class="btn btn-sm btn-deepmark-navy">{{ 'buttons.send'|trans }}</button>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}



{% block javascripts %}
    {{ parent() }}
	<script src="{{ asset('js/admin/dashboard/alerts.js') }}"></script>
	<script>
		$(function () {
			CKEDITOR.replace('msg');
			CKEDITOR.replace('msg1');
			CKEDITOR.replace('msg2');
			CKEDITOR.replace('msg3');
			CKEDITOR.replace('msg4');
			CKEDITOR.replace('msg5');
			CKEDITOR.replace('msg6');
			CKEDITOR.replace('msg7');
			CKEDITOR.replace('msg8');
		})

		if ('{{ app.request.query.get('planning') }}' == 1) {
			$('#planningId').trigger('click');
		} else if ('{{ app.request.query.get('report') }}' == 1) {
			$('#crId').trigger('click');
		}
	</script>
{% endblock %}
