{% extends "base.html.twig" %}

{% block pagename %}{{ 'admin.dashboard.title'|trans }}{% endblock %}
{% block body %}
    <style>
        .to-do-list .label-number {
            top:0px;!important;
            right: 0px!important;
        }
    </style>
    <div class="row header">
        <div class="col-md-7 no-padding bg-white marg-t-15 border-radius-10"  >
            <div class="row">
                <div  class="col-md-3 pad-t-15">
                    {% if api.profile is not null %}
                        <p style="bottom: 0; position: absolute;" class="no-margin font-size-13 bold color-header">
                            {{ 'global.time_zone'|trans }} : {{ api.profile.person.timeZone.timeZone }}
                        </p>
                    {% endif %}
                </div>
                <div class="col-md-6 flex--center pad-t-15 pad-r-30">
                    <h3 style="bottom: 0; position: absolute;" class="text-center bold color-header no-margin font-size-30">{{ 'trainers.planning.title'|trans }}</h3>
                </div>
                <div class="col-md-3 pad-t-15 pad-r-30 flex--center justify-content-end">
                    <div class="position-relative ">
                        <label class="label-number" id="numberBooking"></label>
                        <img width="30" height="30" src="{{ asset('images/dashboard-calendar.jpg') }}">
                    </div>
                </div>
            </div>
            <div id="dashboard-learner" class="col-md-12 pad-t-20 dashboard">
                <div id="monthDashboard">
                    {{ include('molecules/calendar/calendar-legend.twig', { user: 'learner'}) }}
                    <div id="trainerDashboardCalendar"></div>
                </div>
                <!-- Modal show the booked session -->

                {{ include('molecules/modal/calendar-admin-module-detail.html.twig') }}
            </div>
        </div>
        <div class="col-md-5 pad-l-10 font-size-12 pad-r-0 pad-t-0 pad-b-0 to-do-list " >
            <div class="col-md-12 pad-t-10 no-padding bg-white marg-t-15 pad-b-15 border-radius-10 pad-t-10" >
                <div class="row">
                    <div class="col-md-12 no-padding">
                        <h3 class="text-center bold color-header font-size-30" >{{ 'global.my_to_do_list'|trans }}</h3>
                    </div>
                </div>

                <div class="col-md-12 pad-l-0 pad-r-10 row marg-b-20 marg-t-20">
                    <div class="col-md-3 no-padding flex--center">
                        <div class="flex--center icon-to-do-list" >
                            <label class="label-number">{{ numberOfExercisesToValidations }}</label>
                            <img width="40" height="40" src="{{ asset('images/exercice.png') }}">
                        </div>
                    </div>
                    <div class="col-md-6 flex--center no-padding color-header font-size-14 justify-content-lg-start">{{ 'global.valid_exercises'|trans }}</div>
                    <div class="col-md-3 flex--center no-padding">
                        <a href="{{ url('admin_exercices_index') }}" class="btn btn-launch btn-border-header btn-block text-capitalize no-margin font-size-14">{{ 'global.go'|trans }}</a>
                    </div>
                </div>
                <div class="col-md-12 pad-l-0 pad-r-10  row marg-b-20" >
                    <div class="col-md-3 flex--center no-padding">
                        <div class="flex--center icon-to-do-list" >
                            <label class="label-number">{{ numReport|length }}</label>
                            <img width="40" height="40" src="{{ asset('images/report.png') }}">
                        </div>
                    </div>
                    <div class="col-md-6 flex--center no-padding color-header font-size-14 justify-content-lg-start" >{{ 'global.reports_to_validate'|trans }}</div>
                    <div class="col-md-3 flex--center no-padding">
                        <a href="{{ url('admin_reports_index') }}?report=1" class="btn-launch btn btn-border-header btn-block text-capitalize no-margin font-size-14">{{ 'global.go'|trans }}</a>
                    </div>
                </div>
                <div class="col-md-12 pad-l-0 pad-r-10  row marg-b-20">
                    <div class="col-md-3 flex--center no-padding">
                        <div class="flex--center icon-to-do-list" >
                            <label class="label-number">{{ numSkill|default('0') }}</label>
                            <img width="40" height="40" src="{{ asset('images/mission.png') }}">
                        </div>
                    </div>
                    <div class="col-md-6 flex--center no-padding color-header font-size-14 justify-content-lg-start" >{{ 'global.skills_to_validate'|trans }}</div>
                    <div class="col-md-3 flex--center no-padding">
                        <a href="{{ path('admin_skills_validation') }}" class="btn-launch btn btn-border-header btn-block text-capitalize no-margin font-size-14">{{ 'global.go'|trans }}</a>
                    </div>
                </div>

                <div class="col-md-12 pad-l-0 pad-r-10  row pad-b-15 ">
                    <div class="col-md-3 flex--center no-padding">
                        <div class="flex--center icon-to-do-list" >
                            <label class="label-number">0</label>
                            <embed src="/images/hand_user.svg" width="40" height="40"
                                   type="image/svg+xml"/>
                        </div>
                    </div>
                    <div class="col-md-6 flex--center no-padding text-gray font-size-14 justify-content-lg-start" >{{ 'global.resources_to_update'|trans }}</div>
                    <div class="col-md-3 flex--center no-padding">
                        <a href="{{ url('trainer_planning_index') }}" class="btn-launch  btn btn-border-header btn-block text-capitalize no-margin font-size-14">{{ 'global.go'|trans }}</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 no-padding pad-t-20 bg-white marg-t-15 pad-b-15 border-radius-10" >
            <div class="row col-md-12 marg-t-20" >
                <div class="col-md-4 no-padding-right btn-deepmark-light border-radis-30">
                    <div class="row ">
                        <div class="col-md-3 text-center no-padding color-header font-size-12 marg-t-10 marg-b-10 ">{{ 'search.content'|trans }}</div>
                        <div class="col-md-7 no-padding marg-t-10 marg-b-10">
                            <input type="text" id="bookSearch" class="border-0 no-padding no-margin color-header backgroud-deepmark-light">
                        </div>
                        <div class="col-md-2 flex--center">
                            <i class="fas color-header fa-search"></i>
                        </div>

                    </div>
                </div>
                <div class="col-md-4 no-padding">
                    <h3 class=" color-header text-center bold marg-b-15 font-size-30 marg-t-0 no-margin">{{ 'admin.alerts.courses'|trans }}</h3>
                </div>
                <div class="col-md-3"></div>
                <div class="col-md-1 no-padding-left text-right">
                    <div class="position-relative">
                        <label class="label-number">{{ interventions is not null ? interventions|length : 0 }}</label>
                        <img width="35" height="30" src="{{ asset('images/course.jpg') }}">
                    </div>
                </div>
            </div>
            <div class="col-md-12 no-padding" >
                <div class="learnerTrainerList">
                    <table id="missionsTable" class="table table-striped w-100">
                        <thead class="table-header w-100">
                        <tr>
                            <th>{{ 'table.interventions.logo'|trans }}</th>
                            <th>{{ 'table.interventions.intervention'|trans }}</th>
                            <th>{{ 'table.interventions.organization'|trans }}</th>
                            <th>{{ 'table.interventions.entity'|trans }}</th>
                            <th>{{ 'table.interventions.start_date'|trans }}</th>
                            <th>{{ 'table.interventions.end_date'|trans }}</th>
                            <th class="white-space">{{ 'table.interventions.total_duration'|trans }} <br/> {{ 'table.interventions.actual_duration'|trans }}</th>
                            <th>{{ 'table.interventions.number_of_learners'|trans }}</th>
                            <th>{{ 'table.interventions.progress'|trans }}
                            <th>{{ 'table.interventions.grade'|trans }}</th>
                            <th>{{ 'table.interventions.actions'|trans }}</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for intervention in interventions %}
                            <tr id="{{ intervention.id }}">
                                <td class="cell-pointer" data-href="{{ url('admin_interventions_show', { 'id': intervention.id }) }}">
                                    <div class="col-md-12 no-padding bg-responsive height-50" style="{% if intervention.logo is not null %}  background-image: url('/files{{ asset(intervention.logo.path) }}'); {% else %}   background-image: url({{ asset('/img/course_banner.jpg')}}); {% endif %} ">
                                    </div>
                                </td>
                                <td class="cell-pointer" data-href="{{ url('admin_interventions_show', { 'id': intervention.id }) }}">
                                    {{ intervention.designation }}
                                </td>
                                <td class="cell-pointer" data-href="{{ url('admin_interventions_show', { 'id': intervention.id }) }}">
                                    {% if intervention.entity %}
                                        {{ intervention.entity.organisation.designation }}
                                    {% endif %}
                                </td>
                                <td class="cell-pointer" data-href="{{ url('admin_interventions_show', { 'id': intervention.id }) }}">
                                    {% if intervention.entity %}
                                        {{ intervention.entity.designation }}
                                    {% endif %}
                                </td>
                                <td>
                                    <span class="d-none">{{ intervention.beginning | date('U') }}</span>{{ intervention.beginning | date('d/m/Y') }}
                                </td>
                                <td>
                                    <span class="d-none">{{ intervention.ending | date('U') }}</span>{{ intervention.ending | date('d/m/Y') }}
                                </td>
                                <td>
                                    {{ progressionLearners[intervention.id].numDurations }} <br />
                                    <strong>{{ progressionLearners[intervention.id].totalSpentTime ?  progressionLearners[intervention.id].totalSpentTime : '00:00:00'  }}</strong>
                                </td>
                                <td>
                                    {{ intervention.nbLearner }}
                                </td>
                                <td>
                                    {{ progressionLearners[intervention.id].numNotStarted }} {{ 'table.interventions.num_not_started'|trans }}
                                    <br />{{ progressionLearners[intervention.id].numStarted }} {{ 'table.interventions.num_started'|trans }}
                                    <br />{{ progressionLearners[intervention.id].numFinished }} {{ 'table.interventions.num_finished'|trans }}
                                </td>
                                <td>
                                    <strong>{{ intervention.learnersNotation !=0 ? intervention.learnersNotation|number_format(2, '.', ',') ~ ' / 5' : '-' }}</strong>
                                </td>
                                <td class="label-small">
                                    <div class="row flex--center">
                                        <div class="col-md-4 no-padding">
                                            <a href="{{ url('admin_interventions_show', { 'id': intervention.id }) }}" class="pointer">
                                                <object data="/images/eye.svg" width="18" height="18"
                                                        type="image/svg+xml"></object>
                                            </a>
                                        </div>
                                        <div class="col-md-3 no-padding position-relative">
                                            <object data="/images/alert.svg" width="18" height="18"
                                                    type="image/svg+xml"></object>
                                            <label class="label-number" >0</label>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function () {
            var table = $('#missionsTable').DataTable({
                "scrollX": true,
                "scrollY": false,
                "order": [[ 4, "desc" ], [ 5, "desc" ]],
                "columnDefs": [
                        {
                            "width": "7%",
                            "targets": 5
                        }
                    ]

                }
            );
            $('[data-href]').on('click', function() {
                window.location = $(this).data('href');
            });
            $(".dataTables_filter").hide();
            $('#bookSearch').keyup(function(){
                table.search($(this).val()).draw() ;
            })
        });
    </script>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/trainer/dashboard-calendar.js') }}"></script>

{% endblock %}