{% extends "base.html.twig" %}

{% block pagename %}{{ 'admin.dashboard.title'|trans }}{% endblock %}
{% block title %}{{ 'admin.dashboard.title'|trans }}{% endblock %}


{% block body %}
    {{ include('molecules/cards/nav/admin-dashboard-nav.html.twig' ) }}
    <div class="card card-pane">
        <div class="card-header dashboard-alerts-nav">
            {{ include('molecules/cards/nav/admin-activities-nav.html.twig') }}
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="card card-pane">
                    <div class="card-header">
                        <ul class="nav nav-pills" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#day-tab" role="tablist">
                                    {{ 'global.nav.day_activities'|trans }}
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#week-tab" role="tablist">
                                    {{ 'global.nav.week_activities'|trans }}
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="nav-link-to-calendar" data-toggle="tab" href="#month-tab"
                                   role="tablist">
                                    {{ 'global.nav.month_activities'|trans }}
                                </a>
                            </li>
                        </ul>
                    </div>

                    <div class="card-body">
                        <div class="tab-content tab-space">
                            <div class="tab-pane active" id="day-tab">
                                <div class="row">
                                    <div class="col-2">

                                    </div>

                                    <div class="col-8 flex--center">
                                        <button class="btn change-date c-bg-green c-white t-bold mr-1"
                                                id="prevDayActivities">
                                            <i class="fal fa-long-arrow-left marg-r-10"></i> {{ 'pagination.previous_day'|trans }}
                                        </button>
                                        <span id="dayRangeDateActivities" class="today-date t-bold c-black t-ls-1">
                                        <span>{{ 'now' | date('d/m/Y') }}</span>
                                    </span>
                                        <input type="hidden" value="{{ 'now'|date('Y-m-d') }}" id="activitiesDaySearch">
                                        <button class="btn change-date c-bg-green c-white t-bold ml-1"
                                                id="nextDayActivities">
                                            {{ 'pagination.next_day'|trans }}<i
                                                    class="fal fa-long-arrow-right marg-l-10"></i>
                                        </button>
                                    </div>
                                    <div class="col-2 flex--center">
                                    </div>

                                </div>
                                {% if bookings is defined %}
                                    {{ include('molecules/tables/bookings-table.html.twig', { bookings: bookings, modal: false, id: 'activitiesDayTable' }) }}
                                {% endif %}
                            </div>
                            <div class="tab-pane" id="week-tab">
                                <div class="row">
                                    <div class="col-2">

                                    </div>

                                    <div class="col-8 flex--center">
                                        <button class="btn change-date c-bg-green c-white t-bold mr-1"
                                                id="prevWeekActivities">
                                            <i class="fal fa-long-arrow-left marg-r-10"></i> {{ 'pagination.previous_week'|trans }}
                                        </button>
                                        {% set day = 'now'|date('w') %}
                                        {% set weekStart = 'now'|date_modify("-#{day-1} days")|date('d/m/Y') %}
                                        {% set weekEnd = 'now'|date_modify("+#{6-day} days")|date('d/m/Y') %}
                                        <span id="weekRangeDateActivities" class="today-date t-bold c-black t-ls-1">
                                        <span>{{ weekStart }}</span>–<span>{{ weekEnd }}</span>
                                    </span>
                                        <input type="hidden"
                                               value="{{ 'now'|date_modify("-#{day-1} days")|date('Y-m-d') }}"
                                               id="activitiesWeekStart">
                                        <input type="hidden"
                                               value="{{ 'now'|date_modify("+#{6-day} days")|date('Y-m-d') }}"
                                               id="activitiesWeekEnd">
                                        <button class="btn change-date c-bg-green c-white t-bold ml-1"
                                                id="nextWeekActivities">
                                            {{ 'pagination.next_week'|trans }}<i
                                                    class="fal fa-long-arrow-right marg-l-10"></i>
                                        </button>
                                    </div>
                                    <div class="col-2 flex--center">
                                    </div>

                                </div>
                                {% if bookingsWeek is defined %}
                                    {{ include('molecules/tables/bookings-table.html.twig', { bookings: bookingsWeek, modal: false, id: 'activitiesWeekTable' }) }}
                                {% endif %}
                            </div>
                            <div class="tab-pane" id="month-tab">
                                {% if bookingsMonth is defined %}
                                <div class="tab-pane active" id="monthDashboard">
                                    {{ include('molecules/calendar/calendar-legend.twig', { user: ''}) }}
                                    <div id="trainerDashboardCalendar"></div>
                                </div>
                                <!-- Modal show the booked session -->
                                {{ include('molecules/modal/calendar-trainer-module-detail.html.twig') }}
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/trainer/dashboard-calendar.js') }}"></script>
{% endblock %}