{% extends 'base.html.twig' %}

{% block pagename %}Dashboard - Alertes{% endblock %}

{% block body %}
    {{ include('molecules/cards/nav/admin-dashboard-nav.html.twig') }}

    <div class="card card-pane">
        <div class="card-header">
            <ul class="nav nav-pills" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#report-tab" role="tablist">
                        {{ 'admin.dashboard.content.reports_validation'|trans }}
                    </a>
                </li>

                <li class="nav-item">
                    <a id="nav-link-to-calendar" class="nav-link" data-toggle="tab" href="#exercices-tab"
                       role="tablist">
                        {{ 'admin.dashboard.content.exercices_validation'|trans }}
                    </a>
                </li>
            </ul>
        </div>
        <div class="card-body">
            <div class="tab-content tab-space">
                <div class="tab-pane active" id="report-tab">
                    {{ include('molecules/tables/reports-table.html.twig', {reports: reports}) }}
                </div>
                <div class="tab-pane" id="exercices-tab">
                    {{ include('molecules/tables/interventions-table.html.twig', {bookings: exercices}) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
