{% set intervention = app.session.get('intervention') %}
{% set participantMax = intervention['participantMax'] is defined and  intervention['participantMax'] is not null ? intervention['participantMax'] : 1  %}
{% set participantMaxSession = data.quantity != null ? participantMax // data.quantity : 0 %}
{% set apps = [1,2,3,11] %}
<div class="row">
    <div class="col-md-9">
        <div class="card">
            {{ include ('AdminBundle:Intervention/ModuleCard:card/card-header.html.twig', {
                'moduleColor': 'deepmark-green',
                'moduleIcon': '/images/tiara.svg',
                'moduleName': 'admin.interventions.mods.assessment'|trans,
                'session': data.quantity,
                'assessment':1
            }) }}

            <input type="hidden"
                   name="module[{{ data.uniqueId }}][appId]"
                   value="11">

            {#<input type="hidden"
                   name="module[{{ data.uniqueId }}][bookable]"
                   value="1">#}

            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        {{ include ('AdminBundle:Intervention/ModuleCard:form/textinputs.html.twig', {
                            'input_type': 'instruction'
                        }) }}
                    </div>
                </div>

                <div class="row marg-t-10 marg-b-20">
                    <div class="col-md-5">
                        {{ include ('AdminBundle:Intervention/ModuleCard:form/select.html.twig', {
                            'select_type': 'certificateTemplate'
                        }) }}
                    </div>
                </div>
                <div class="row ">
                    {% set tempModuleList = {} %}
                    {% for k, m in steps.1.module %}
                        {% if m.appId not in apps %}
                            {% set tempModuleList = tempModuleList|merge({ (k): m }) %}
                        {% endif %}
                    {% endfor %}
                    {% if data.sessions is defined and data.sessions is not null %}
                        {% for key, session in data.sessions %}
                            {% set numSession = key + 1 %}
                            <div class="card marg-bottom-20">
                                <div class="card-header row">
                                    <div class="col-md-5">
                                        <h5><b>{{ numSession }}</b> - Condition</h5>
                                    </div>
                                    <div class="col-md-6 text-right">
                                        {{ include ('AdminBundle:Intervention/ModuleCard:card/card-session.html.twig', {'showButton': true, 'assessment': true}) }}
                                    </div>
                                    <div class="col-md-1 text-right">
                                        <a  data-toggle="collapse" href="#sessions_{{ key }}" role="button" aria-expanded="false" aria-controls="sessions_{{ key }}"><i id="showSessions_{{ key }}" class="fa fa-angle-down"></i></a>
                                    </div>
                                </div>

                                <div class="card-body collapse"  id="sessions_{{ key }}">
                                    {% include '@Admin/Intervention/ModuleCard/CommonViews/unique_data_session_identifier.html.twig' %}
                                    <div class="row">
                                        <div class="col-md-6">
                                            {{ include ('AdminBundle:Intervention/ModuleCard:form/select.html.twig', {
                                                'select_type': 'assessmentModules'
                                            }) }}
                                        </div>
                                        <div class="col-md-6">
                                            {{ include ('AdminBundle:Intervention/ModuleCard:form/textinputs.html.twig', {
                                                'input_type': 'weightNumber'
                                            }) }}
                                        </div>
                                        <div class="col-md-2">
                                            {{ 'admin.interventions.create.step2.completed' | trans }}
                                        </div>
                                        <div class="col-md-2"></div>
                                        <div class="col-md-3">
                                            {{ 'admin.interventions.create.step2.score_to_pass' | trans }}
                                        </div>
                                        <div class="col-md-2"></div>
                                        <div class="col-md-3">
                                            {{ 'admin.interventions.create.step2.time_spent' | trans }} (%)
                                        </div>
                                        <div class="col-md-2 ">
                                            {{ include ('AdminBundle:Intervention/ModuleCard:form/textinputs.html.twig', {
                                                'input_type': 'isCompleted'
                                            }) }}
                                        </div>
                                        <div class="col-md-2">
                                            {{ include ('AdminBundle:Intervention/ModuleCard:form/textinputs.html.twig', {
                                                'input_type': 'operationOne'
                                            }) }}
                                        </div>
                                        <div class="col-md-3">
                                            {{ include ('AdminBundle:Intervention/ModuleCard:form/textinputs.html.twig', {
                                                'input_type': 'scoreToPass'
                                            }) }}
                                        </div>
                                        <div class="col-md-2">
                                            {{ include ('AdminBundle:Intervention/ModuleCard:form/textinputs.html.twig', {
                                                'input_type': 'operationTwo'
                                            }) }}
                                        </div>
                                        <div class="col-md-3">
                                            {{ include ('AdminBundle:Intervention/ModuleCard:form/textinputs.html.twig', {
                                                'input_type': 'timeSpent'
                                            }) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <script>

                                $('#sessions_{{ key }}').on('hidden.bs.collapse', function () {
                                    $('#showSessions_{{ key }}').addClass('fa-angle-down');
                                    $('#showSessions_{{ key }}').removeClass('fa-angle-up');
                                });

                                $('#sessions_{{ key }}').on('shown.bs.collapse', function () {
                                    $('#showSessions_{{ key }}').removeClass('fa-angle-down');
                                    $('#showSessions_{{ key }}').addClass('fa-angle-up');
                                });
                            </script>
                        {% endfor %}
                    {% else %}
                        {% for key in 0..data.quantity - 1  %}
                            {% set numSession = key + 1 %}
                            <div class="card marg-bottom-20">
                                <div class="card-header row">
                                    <div class="col-md-5">
                                        <h5><b>{{ numSession }}</b> - Condition</h5>
                                    </div>
                                    <div class="col-md-6 text-right">
                                        {{ include ('AdminBundle:Intervention/ModuleCard:card/card-session.html.twig', {'showButton': true, 'assessment': true}) }}
                                    </div>
                                    <div class="col-md-1 text-right">
                                        <a data-toggle="collapse" href="#sessions_{{ key }}" role="button" aria-expanded="false" aria-controls="sessions_{{ key }}"><i id="showSessions_{{ key }}" class="fa fa-angle-down"></i></a>
                                    </div>

                                </div>
                                <div class="values">
                                </div>

                                <div class="card-body collapse"  id="sessions_{{ key }}">
                                    {% include '@Admin/Intervention/ModuleCard/CommonViews/unique_data_session_identifier.html.twig' %}
                                    <div class="row">
                                        <div class="col-md-6">
                                            {{ include ('AdminBundle:Intervention/ModuleCard:form/select.html.twig', {
                                                'select_type': 'assessmentModules'
                                            }) }}
                                        </div>
                                        <div class="col-md-6">
                                            {{ include ('AdminBundle:Intervention/ModuleCard:form/textinputs.html.twig', {
                                                'input_type': 'weightNumber'
                                            }) }}
                                        </div>
                                        <div class="col-md-2">
                                            {{ 'admin.interventions.create.step2.completed' | trans }}
                                        </div>
                                        <div class="col-md-2"></div>
                                        <div class="col-md-3">
                                            {{ 'admin.interventions.create.step2.score_to_pass' | trans }}
                                        </div>
                                        <div class="col-md-2"></div>
                                        <div class="col-md-3">
                                            {{ 'admin.interventions.create.step2.time_spent' | trans }} (%)
                                        </div>
                                        <div class="col-md-2">
                                            {{ include ('AdminBundle:Intervention/ModuleCard:form/textinputs.html.twig', {
                                                'input_type': 'isCompleted'
                                            }) }}
                                        </div>
                                        <div class="col-md-2">
                                            {{ include ('AdminBundle:Intervention/ModuleCard:form/textinputs.html.twig', {
                                                'input_type': 'operationOne'
                                            }) }}
                                        </div>
                                        <div class="col-md-3">
                                            {{ include ('AdminBundle:Intervention/ModuleCard:form/textinputs.html.twig', {
                                                'input_type': 'scoreToPass'
                                            }) }}
                                        </div>
                                        <div class="col-md-2">
                                            {{ include ('AdminBundle:Intervention/ModuleCard:form/textinputs.html.twig', {
                                                'input_type': 'operationTwo'
                                            }) }}
                                        </div>
                                        <div class="col-md-3">
                                            {{ include ('AdminBundle:Intervention/ModuleCard:form/textinputs.html.twig', {
                                                'input_type': 'timeSpent'
                                            }) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <script>
                                $('#sessions_{{ key }}').on('hidden.bs.collapse', function () {
                                    $('#showSessions_{{ key }}').addClass('fa-angle-down');
                                    $('#showSessions_{{ key }}').removeClass('fa-angle-up');
                                });

                                $('#sessions_{{ key }}').on('shown.bs.collapse', function () {
                                    $('#showSessions_{{ key }}').removeClass('fa-angle-down');
                                    $('#showSessions_{{ key }}').addClass('fa-angle-up');
                                });
                            </script>
                        {% endfor %}
                    {% endif %}
                </div>

            </div>
            <button type="button" class="btn btn-deepmark-cadetblue btn-sm btnListingUpload margin-top-custom"
                    onclick="getAllFiles(this)"
                    data-module-id="{{ data.uniqueId }}" id="btnListingUpload">
                {{ 'buttons.see_uploaded_files'|trans|capitalize }}
            </button>
        </div>
    </div>

    <div class="col-md-3 d-none padding-bottom-custom">
        <hr class="form-separator">
        {{ include('AdminBundle:Intervention/ModuleCard/CommonViews:FileUpload.html.twig') }}
        <hr class="form-separator">
        {{ include ('AdminBundle:Intervention/ModuleCard:card/card-date.html.twig') }}
    </div>
</div>
<script>
    $(document).ready(function(){
        $('.score-to-pass-check-yes').each(function() {
            var currentElement = $(this);
            var sessionNumber = currentElement.attr('session-value');
            if(currentElement.is(':checked')){
                $('.operation-one-block-'+sessionNumber).show();
            }else{
                $('.operation-one-block-'+sessionNumber).hide();
            }
        });
        $(document).on('click', '.score-to-pass-check-yes', function(){
            var currentElement = $(this);
            var sessionNumber = currentElement.attr('session-value');
            $('.operation-one-block-'+sessionNumber).show();
        });
        $(document).on('click', '.score-to-pass-check-no', function(){
            var currentElement = $(this);
            var sessionNumber = currentElement.attr('session-value');
            $('.operation-one-block-'+sessionNumber).hide();
        });

        $('.time-spent-check-yes').each(function() {
            var currentElement = $(this);
            var sessionNumber = currentElement.attr('session-value');
            if(currentElement.is(':checked')){
                $('.operation-two-block-'+sessionNumber).show();
                $('.time-spent-number-'+sessionNumber).show();
            }else{
                $('.operation-two-block-'+sessionNumber).hide();
                $('.time-spent-number-'+sessionNumber).hide();
            }
        });
        $(document).on('click', '.time-spent-check-yes', function(){
            var currentElement = $(this);
            var sessionNumber = currentElement.attr('session-value');
            $('.operation-two-block-'+sessionNumber).show();
            $('.time-spent-number-'+sessionNumber).show();
        });
        $(document).on('click', '.time-spent-check-no', function(){
            var currentElement = $(this);
            var sessionNumber = currentElement.attr('session-value');
            $('.operation-two-block-'+sessionNumber).hide();
            $('.time-spent-number-'+sessionNumber).hide();

        });
    });
</script>
