<div class="row">
    <div class="col-md-9">
        <div class="card">

            {{ include ('AdminBundle:Intervention/ModuleCard:card/card-header.html.twig', {
                'moduleColor': 'c-bg-orangelight',
                'moduleIcon': '/images/elearning-white.svg',
                'moduleName': 'admin.interventions.mods.elearning'|trans
            }) }}

            <input type="hidden"
                   name="module[{{ data.uniqueId }}][appId]"
                   value="4">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-12">
                        {{ include ('AdminBundle:Intervention/ModuleCard:form/textinputs.html.twig', {
                            'input_type': 'instruction'
                        }) }}
                    </div>
                    <div class="col-sm-6 form-group select-border">
                        <label>Upload Type</label>
                        <select id="upload_type_{{ data.uniqueId }}" class="select2" data-style="select-with-transition" required name="module[{{ data.uniqueId }}][uploadType]">
                            <option {% if data.uploadType == 1 %} selected {% endif %} value="1" >File</option>
                            <option {% if data.uploadType == 3 %} selected {% endif %} value="3" >URL</option>
                            <option {% if data.uploadType == 4 %} selected {% endif %} value="4" >SCORM</option>
                        </select>
                        <script>
                            $(document).ready(function() {
                                $('#upload_type_{{ data.uniqueId }}').select2({
                                        minimumResultsForSearch: -1
                                    }
                                );
                            });
                        </script>
                    </div>

                    <div id="div_media_{{ data.uniqueId }}" class="col-sm-6">
                        {# TODO: add audio files #}
                        {{ include ('AdminBundle:Intervention/ModuleCard:form/select.html.twig', {
                            'select_type': 'media'
                        }) }}
                    </div>

                    <div class="col-sm-6 scorm{{ data.uniqueId }} checkbox-radios">
                        {{ include ('AdminBundle:Intervention/ModuleCard:form/textinputs.html.twig', {
                            'input_type': 'isNeedScoreToPass'
                        }) }}
                    </div>

{#                    <div class="col-sm-6 scorm{{ data.uniqueId }} divScoreToPass{{ data.uniqueId }} ">#}
{#                        {{ include ('AdminBundle:Intervention/ModuleCard:form/select.html.twig', {#}
{#                            'select_type': 'iterations',#}
{#                        }) }}#}
{#                    </div>#}
                    <div class="col-sm-6 scorm{{ data.uniqueId }}  divScoreToPass{{ data.uniqueId }}">
                        {{ include ('AdminBundle:Intervention/ModuleCard:form/textinputs.html.twig', {
                            'input_type':'elearningScore'
                        }) }}
                    </div>
                    <div id="div_url_{{ data.uniqueId }}" class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-10 form-group">
                                <input data-validation="" value="{{ data.url ? data.url : null }}" class="marg-b-0 form-control autocompleteUrl" id="url_{{ data.uniqueId }}" data-id="{{ data.uniqueId }}" type="text" name="module[{{ data.uniqueId }}][url]"  />
                                <span id="loadingUrl_{{ data.uniqueId }}" class="d-none">
                                    <img style="float:right; position: absolute; left: 88%; top: -30px;" id='loading' width="100px" src="{{ asset("/img/url-spinner.gif") }}"/>
                                </span>
                                <i class="font-size-10" id="invalidUrl_{{ data.uniqueId }}">{{ 'admin.interventions.create.step2.url_help_text' | trans }}</i>
                                <br><i class="font-size-10 pt-1 color-red d-none" id="messageEmbed_{{ data.uniqueId }}">{{ 'admin.interventions.create.step2.url_not_allow_embed' | trans }}</i>
                            </div>
                            <div class="col-sm-2 form-group" style="margin-top: 4px!important;">
                                <input class="btn btn-small validateUrl" data-id="{{ data.uniqueId }}" id="validateUrl_{{ data.uniqueId }}" type="button" value="{{ 'buttons.check' | trans }}" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <button type="button" class="btn btn-deepmark-cadetblue btn-sm btnListingUpload margin-top-custom" onclick="getAllFiles(this)"
                    data-module-id="{{ data.uniqueId }}" id="btnListingUpload">
                {{ 'buttons.see_uploaded_files'|trans|capitalize }}
            </button>
        </div>
    </div>

    <div class="col-md-3 padding-bottom-custom">
        <hr class="form-separator">
        {% set eLearning = 1 %}
        {{ include('AdminBundle:Intervention/ModuleCard/CommonViews:FileUpload.html.twig') }}
        <hr class="form-separator">
        {{ include ('AdminBundle:Intervention/ModuleCard:card/card-date.html.twig') }}
    </div>
</div>
<script>
    $(document).ready(function() {
        $("#upload_type_{{ data.uniqueId }}").change(function(){
            var type = $("#upload_type_{{ data.uniqueId }}").val();
            $(".scorm{{ data.uniqueId }}").hide();
            $("#elearningScore").prop('disabled', true);

            if(type == 3){
                $("#div_url_{{ data.uniqueId }}").show();
                $("#div_media_{{ data.uniqueId }}").hide();
                $('#url_{{ data.uniqueId }}').attr('data-validation' , 0);
            } else {
                $("#div_url_{{ data.uniqueId }}").hide();
                $("#div_media_{{ data.uniqueId }}").show();
                $('#url_{{ data.uniqueId }}').attr('data-validation' , null);
            }
            if (type == 4){
                $(".scorm{{ data.uniqueId }}").show();
                $("#elearningScore{{ data.uniqueId }}").prop('disabled', false);
                $('#url_{{ data.uniqueId }}').attr('data-validation' , null);

            }
        });
        $("#upload_type_{{ data.uniqueId }}").trigger( "change" );

        $('.validateUrl').on('click', function () {
            // Fetch data
            let moduleId = $(this).attr("data-id")
            $.ajax({
                url: "/admin/courses/api/embed-checking",
                type: 'get',
                dataType: "json",
                data: {
                    url: $('#url_' + moduleId).val()
                },
                beforeSend: function() {
                    $("#loadingUrl_" + moduleId).removeClass('d-none');
                },
                success: function( data ) {
                    console.log(data.status)
                    if (data.status === 1) {
                        console.log('#url_' + moduleId)
                        $('#url_' + moduleId).attr('data-validation' , 1);
                        $('#invalidUrl_' + moduleId).removeClass('color-red');
                        $('#messageEmbed_' + moduleId).addClass('d-none');
                    } else if (data.status === 0) {
                        $('#url_' + moduleId).attr('data-validation' , 0);
                        $('#invalidUrl_' + moduleId).removeClass('color-red');
                        $('#messageEmbed_' + moduleId).removeClass('d-none');
                    } else if (data.status === -1) {
                        $('#url_' + moduleId).attr('data-validation' , 0);
                        $('#invalidUrl_' + moduleId).addClass('color-red');
                        $('#messageEmbed_' + moduleId).addClass('d-none');
                    }
                    $("#loadingUrl_" + moduleId).addClass('d-none');
                    console.log($('#url_' + moduleId).attr('data-validation'))
                }
            });
        } );

        $('.autocompleteUrl').on('change', function () {
            if ($(this).val()) {
                $(this).attr('data-validation' , 0);
            }
        });

        $("#upload_type_{{ data.uniqueId }}").each(function(){
            var type = $("#upload_type_{{ data.uniqueId }}").val();
            if(type == 3){
                console.log(type)
                console.log("#validateUrl_{{ data.uniqueId }}")
                $("#validateUrl_{{ data.uniqueId }}").trigger( "click" );
            }
        });
    });
</script>