<div class="row">
    <div class="col-md-9">
        <div class="card">

            {{ include ('AdminBundle:Intervention/ModuleCard:card/card-header.html.twig', {
                'moduleColor': 'c-bg-lightmaroon',
                'moduleIcon': 'fa-pen-square',
                'moduleName': 'admin.interventions.mods.excercise'|trans
            }) }}

            <input type="hidden"
                   name="module[{{ data.uniqueId }}][appId]"
                   value="5">
            <div class="card-body">

                <!-- <select class="selectpicker selectSubject" name="selectSubject" data-style="select-with-transition"> </select> -->

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="observationsArea">{{ 'admin.interventions.create.step1.instructions'|trans }}</label>
                            <textarea class="form-control observationsArea" rows="3"></textarea>
                        </div>

                        <div class="card-audios"></div>

                        <div class="audios__file-inputs">
                            <input class="audios__file-inputs-item" type="file">
                        </div>

                        <div class="local-videos">
                            <div class="add-file">
                                <div class="input-group">
    									<span class="input-group-btn" style="padding-left: 0 !important;">
    										<span name="btn-file-upload"
                                                  class=" btn-file-upload btn btn-deepmark-orangelight btn-file">
    											Add a file <i class="fal fa-plus"></i><input type="file" name="file"
                                                                                             data-type="body"
                                                                                             class="inputUploadPublicFile"
                                                                                             multiple>
    										</span>
    									</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-check">
                            <label class="form-check-label form-check-label--nopadding row">
                                <div class="col-10">
                                    {{ 'admin.interventions.create.step2.initial_rating'|trans }}
                                </div>

                                <div class="col-2">
                                    <input class="form-check-input input-initial-rating" type="radio" value="1"
                                           name="notation-check" checked="checked">
                                    <span class="circle">
                      <span class="check"></span>
                    </span>
                                </div>
                            </label>
                        </div>

                        <div class="form-check">
                            <label class="form-check-label form-check-label--nopadding row">
                                <div class="col-10">
                                    {{ 'admin.interventions.create.step2.no_rating'|trans }}
                                </div>

                                <div class="col-2">
                                    <input class="form-check-input input-no-rating" type="radio" value="2"
                                           name="notation-check">
                                    <span class="circle">
                      <span class="check"></span>
                    </span>
                                </div>
                            </label>
                        </div>

                        <div class="form-check">
                            <label class="form-check-label form-check-label--nopadding row">
                                <div class="col-10">
                                    {{ 'admin.interventions.create.step2.final_rating'|trans }}
                                </div>

                                <div class="col-2">
                                    <input class="form-check-input input-final-rating" type="radio" value="3"
                                           name="notation-check">
                                    <span class="circle">
                      <span class="check"></span>
                    </span>
                                </div>
                            </label>
                        </div>

                        <div class="row">
                            <label class="col-sm-7 col-form-label">Maximum iterations</label>

                            <div class="col-sm-5">
                                <select class="selectpicker selectMaxIteration" data-style="select-with-transition">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                </select>
                            </div>
                        </div>

                        <div class="row">
                            <label class="col-sm-7 col-form-label">{{ 'admin.interventions.create.step2.min_rating'|trans }}</label>

                            <div class="col-sm-5">
                                <select class="selectpicker selectMinRating" data-style="select-with-transition"></select>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
            <button type="button" class="btn btn-deepmark-cadetblue btn-sm btnListingUpload margin-top-custom" onclick="getAllFiles(this)" data-module-id="{{ data.uniqueId }}" id="btnListingUpload">
                {{ 'buttons.see_uploaded_files'|trans|capitalize }}
            </button>
        </div>
    </div>

    <div class="col-md-3 padding-bottom-custom">

        <div class="row">
            <div class="col-12">
                <div class="row">
                    <div class="col-12" style="padding-top: 10px;">
                        <div class="col">
                            <input type="text" class="form-control pull-right col-md-4" value="10">
                        </div>
                        <div class="col">
                            <select class="selectpicker" data-style="select-with-transition">
                                <option value="0">days</option>
                                <option value="1">weeks</option>
                                <option value="1">month</option>
                            </select>
                        </div>
                        <label>{{ 'admin.interventions.create.step2.date_before_next'|trans }}</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">

            <div class="col-xl-6 text-center">
                <h5 class="modal-form-col-title">Learner</h5>

                <div class="file-icons">
                    <i class="fal fa-file-alt fa-2x"></i>
                    <i class="fal fa-file-alt fa-2x"></i>
                </div>

                <div class="add-file">
                    <div class="input-group">
              <span class="input-group-btn" style="padding-left: 0 !important;">
                <span name=""
                      class="btn-file-upload btn btn-round btn-fab btn-deepmark-navy btn-sm btn-file round-btn-file">
                  <i class="fal fa-plus"></i><input type="file" data-type="learner" name="file" class="inputUploadFile"
                                                    multiple="multiple">
                </span>
              </span>
                        <input hidden="hidden" type="text" class="form-control" readonly="readonly">
                    </div>
                </div>
            </div>

            <div class="col-xl-6 text-center">
                <h5 class="modal-form-col-title">Live Trainers</h5>

                <div class="file-icons">
                    <i class="fal fa-file-alt fa-2x"></i>
                </div>

                <div class="add-file">
                    <div class="input-group">
              <span class="input-group-btn" style="padding-left: 0 !important;">
                <span name=""
                      class="btn-file-upload btn btn-round btn-fab btn-deepmark-navy btn-sm btn-file round-btn-file">
                  <i class="fal fa-plus"></i><input type="file" data-type="trainer" name="file" class="inputUploadFile"
                                                    multiple="multiple">
                </span>
              </span>
                        <input hidden="hidden" type="text" class="form-control" readonly="readonly">
                    </div>
                </div>
            </div>

        </div>
        <hr class="form-separator">

        <h6 class="resource-title">Resource</h6>

        <div class="form-check form-check--nopadding">
            <label class="form-check-label ilblock">
                <p>Internal</p>
                <input class="form-check-input checkTypeTrainerInternal" type="radio" value="1" name="rcheck"
                       checked="checked">
                <span class="circle">
            <span class="check"></span>
          </span>
            </label>
        </div>

        <div class="form-check form-check--nopadding">
            <label class="form-check-label ilblock">
                <p>External</p>
                <input class="form-check-input checkTypeTrainerExternal" type="radio" value="2" name="rcheck">
                <span class="circle">
            <span class="check"></span>
          </span>
            </label>
        </div>

        <div class="form-check form-check--nopadding">
            <label class="form-check-label ilblock">
                <p>Both</p>
                <input class="form-check-input checkTypeTrainerBoth" type="radio" value="3" name="rcheck">
                <span class="circle">
            <span class="check"></span>
          </span>
            </label>
        </div>

        <hr class="form-separator">
        {{ include ('AdminBundle:Intervention/ModuleCard:card/card-date.html.twig') }}
    </div>
</div>

