{% set intervention = app.session.get('intervention') %}
{% set participantMax = intervention['participantMax'] is defined and  intervention['participantMax'] is not null ? intervention['participantMax'] : 1  %}
{% set participantMaxSession = data.quantity != null ? participantMax // data.quantity : 0 %}
<div class="row">
    <div class="col-md-9">
        <div class="card">
            {{ include ('AdminBundle:Intervention/ModuleCard:card/card-header.html.twig', {
                'moduleColor': 'c-bg-blue',
                'moduleIcon': '/images/vitual-white.svg',
                'moduleName': 'admin.interventions.mods.virtualclass'|trans,
                'session': data.quantity
            }) }}

            <input type="hidden"
                   name="module[{{ data.uniqueId }}][appId]"
                   value="7">

            <input type="hidden"
                   name="module[{{ data.uniqueId }}][bookable]"
                   value="1">

            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        {{ include ('AdminBundle:Intervention/ModuleCard:form/textinputs.html.twig', {
                            'input_type': 'instruction'
                        }) }}
                    </div>
                </div>

                <div class="row marg-t-10 marg-b-20">
                    <div class="col-md-6">
                        {{ include ('AdminBundle:Intervention/ModuleCard:form/select.html.twig', {
                            'select_type': 'skills'
                        }) }}
                    </div>
                    <div class="col-md-6">
                        {{ include ('AdminBundle:Intervention/ModuleCard:form/select.html.twig', {
                            'select_type': 'all_skills'
                        }) }}
                    </div>
                    <div class="col-md-8 no-padding">
                        {{ include ('AdminBundle:Intervention/ModuleCard:form/textinputs.html.twig', {
                            'input_type': 'signatureNumber'
                        }) }}
                    </div>
                    <div class="col-md-6 checkbox-radios">
                        {{ include ('AdminBundle:Intervention/ModuleCard:form/textinputs.html.twig', {
                            'input_type': 'isPersonalBooking'
                        }) }}
                    </div>
                    <div class="col-md-6">
                        {{ include ('AdminBundle:Intervention/ModuleCard:form/select.html.twig', {
                            'select_type': 'attendanceSheetTemplate'
                        }) }}
                    </div>
                </div>
                <div class="row collapse" id="sessions_{{ data.uniqueId }}">
                    {% if data.sessions is defined and data.sessions is not null %}
                        {% for key, session in data.sessions %}
                            {% set numSession = key + 1 %}
                            <div class="card">
                                <div class="card-header">
                                    <h5><b> {{ numSession }} </b>
                                        - {{ 'admin.interventions.create.module_card.session'|trans|capitalize }}</h5>
                                    {{ include ('AdminBundle:Intervention/ModuleCard:card/card-session.html.twig') }}
                                </div>
                                <div class="card-body">
                                    {% include '@Admin/Intervention/ModuleCard/CommonViews/unique_data_session_identifier.html.twig' %}
                                    <div class="row">
                                        <div class="col-md-4">
                                            {{ include ('AdminBundle:Intervention/ModuleCard:form/datapicker.html.twig', {
                                                'datapicker_type': 'startDateSession'
                                            }) }}
                                        </div>
                                        <div class="col-md-4">
                                            {{ include ('AdminBundle:Intervention/ModuleCard:form/datapicker.html.twig', {
                                                'datapicker_type': 'startTime'
                                            }) }}
                                        </div>
                                        <div class="col-md-2">
                                            {{ include ('AdminBundle:Intervention/ModuleCard:form/textinputs.html.twig', {
                                                'input_type': 'participants'
                                            }) }}
                                        </div>
                                        <div class="col-md-2">
                                            {{ include ('AdminBundle:Intervention/ModuleCard:form/textinputs.html.twig', {
                                                'input_type': 'participants_max'
                                            }) }}
                                        </div>
                                    </div>

                                    <div>
                                        {{ include ('AdminBundle:Intervention/ModuleCard:form/textinputs.html.twig', {
                                            'input_type': 'session_time'
                                        }) }}
                                    </div>

                                </div>
                            </div>
                        {% endfor %}
                    {% else %}
                        {% for key in 0..data.quantity - 1  %}
                            <div class="card">
                                <div class="card-header">
                                    <h5>{{ 'admin.interventions.create.module_card.session'|trans|capitalize }}</h5>
                                    {{ include ('AdminBundle:Intervention/ModuleCard:card/card-session.html.twig') }}
                                </div>
                                <div class="values">
                                </div>

                                <div class="card-body">
                                    {% include '@Admin/Intervention/ModuleCard/CommonViews/unique_data_session_identifier.html.twig' %}
                                    <div class="row">
                                        <div class="col-md-4">
                                            {{ include ('AdminBundle:Intervention/ModuleCard:form/datapicker.html.twig', {
                                                'datapicker_type': 'startDateSession'
                                            }) }}
                                        </div>
                                        <div class="col-md-4">
                                            {{ include ('AdminBundle:Intervention/ModuleCard:form/datapicker.html.twig', {
                                                'datapicker_type': 'startTime'
                                            }) }}
                                        </div>
                                        <div class="col-md-2">
                                            {{ include ('AdminBundle:Intervention/ModuleCard:form/textinputs.html.twig', {
                                                'input_type': 'participants'
                                            }) }}
                                        </div>
                                        <div class="col-md-2">
                                            {{ include ('AdminBundle:Intervention/ModuleCard:form/textinputs.html.twig', {
                                                'input_type': 'participants_max'
                                            }) }}
                                        </div>
                                    </div>
                                    <div>
                                        {{ include ('AdminBundle:Intervention/ModuleCard:form/textinputs.html.twig', {
                                            'input_type': 'session_time'
                                        }) }}
                                    </div>

                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="text-center">
                    <a id="showSessions_{{ data.uniqueId }}" class="btn btn-info" data-toggle="collapse" href="#sessions_{{ data.uniqueId }}" role="button" aria-expanded="false" aria-controls="sessions_{{ data.uniqueId }}">{{ 'global.show_sessions'|trans }}</a>
                </div>
            </div>
            <button type="button" class="btn btn-deepmark-cadetblue btn-sm btnListingUpload margin-top-custom"
                    onclick="getAllFiles(this)"
                    data-module-id="{{ data.uniqueId }}" id="btnListingUpload">
                {{ 'buttons.see_uploaded_files'|trans|capitalize }}
            </button>
        </div>
    </div>

    <div class="col-md-3 padding-bottom-custom">
        <hr class="form-separator">
        {{ include('AdminBundle:Intervention/ModuleCard/CommonViews:FileUpload.html.twig') }}
        <hr class="form-separator">
        {{ include ('AdminBundle:Intervention/ModuleCard:card/card-date.html.twig') }}
    </div>
</div>
<script>
    $('#sessions_{{ data.uniqueId }}').on('hidden.bs.collapse', function () {
        $('#showSessions_{{ data.uniqueId }}').text('{{ 'global.show_sessions'|trans }}');
    });

    $('#sessions_{{ data.uniqueId }}').on('shown.bs.collapse', function () {
        $('#showSessions_{{ data.uniqueId }}').text('{{ 'global.hide_sessions'|trans }}');
    });
</script>