<div class="row">
    <div class="col-md-9">
        <div class="card">
            {{ include ('AdminBundle:Intervention/ModuleCard:card/card-header.html.twig', {
                'moduleColor': 'c-bg-gold',
                'moduleIcon': '/images/quiz-white.svg',
                'moduleName': 'admin.interventions.mods.quiz'|trans
            }) }}

            <input type="hidden"
                   name="module[{{ data.uniqueId }}][appId]"
                   value="5">

            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        {{ include ('AdminBundle:Intervention/ModuleCard:form/textinputs.html.twig', {
                            'input_type': 'instruction'
                        }) }}
                    </div>
                    <div class="col-md-12 internalQuiz">
                        <div class="row">
                            <div class="col-md-12">
                                {{ include ('AdminBundle:Intervention/ModuleCard:form/select.html.twig', {
                                    'select_type': 'quiz',
                                }) }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                {{ include ('AdminBundle:Intervention/ModuleCard:form/select.html.twig', {
                                    'select_type': 'iterations',
                                }) }}
                            </div>
                            <div class="col-sm-6">
                                {{ include ('AdminBundle:Intervention/ModuleCard:form/textinputs.html.twig', {
                                    'input_type': 'quiz_score'
                                }) }}
                            </div>
                            <div class="col-sm-6">
                                {{ include ('AdminBundle:Intervention/ModuleCard:form/textinputs.html.twig', {
                                    'input_type': 'best_practice_score'
                                }) }}
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <button type="button" class="btn btn-deepmark-cadetblue btn-sm btnListingUpload margin-top-custom" onclick="getAllFiles(this)"
                                data-module-id="{{ data.uniqueId }}" id="btnListingUpload">
                {{ 'buttons.see_uploaded_files'|trans|capitalize }}
                        </button>
        </div>
    </div>

    <div class="col-md-3 padding-bottom-custom">
        <hr class="form-separator">
        {{ include('AdminBundle:Intervention/ModuleCard/CommonViews:FileUpload.html.twig') }}
        <hr class="form-separator">
        {{ include ('AdminBundle:Intervention/ModuleCard:card/card-date.html.twig') }}
    </div>
</div>
