<div class="row">
    <div class="col-md-9">
        <div class="card">
            {{ include ('AdminBundle:Intervention/ModuleCard:card/card-header.html.twig', {
                'moduleColor': 'c-bg-lightmaroon',
                'moduleIcon': 'fa-pen-square',
                'moduleName': 'admin.interventions.mods.evaluation'|trans
            }) }}

            <input type="hidden"
                   name="module[{{ data.uniqueId }}][appId]"
                   value="10">

            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        {{ include ('AdminBundle:Intervention/ModuleCard:form/textinputs.html.twig', {
                            'input_type': 'instruction'
                        }) }}
                    </div>
                    <div class="col-md-12 echoQuiz">
                        <div class="row">
                            <div class="col-md-12">
                                {{ include ('AdminBundle:Intervention/ModuleCard:form/select.html.twig', {
                                    'select_type': 'echoQuiz'
                                }) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <button type="button" class="btn btn-deepmark-cadetblue btn-sm btnListingUpload margin-top-custom" onclick="getAllFiles(this)"
                    data-module-id="{{ data.uniqueId }}" id="btnListingUpload">
                {{ 'buttons.see_uploaded_files'|trans|capitalize }}
            </button>
        </div>
    </div>

    <div class="col-md-3 padding-bottom-custom">
        <hr class="form-separator">
        {{ include('AdminBundle:Intervention/ModuleCard/CommonViews:FileUpload.html.twig') }}
        <hr class="form-separator">
        {{ include ('AdminBundle:Intervention/ModuleCard:card/card-date.html.twig') }}
    </div>
</div>

