<div class="row ">
    <div class="col-md-9">
        <div class="card">

            {{ include ('AdminBundle:Intervention/ModuleCard:card/card-header.html.twig', {
                'moduleColor': 'c-bg-navy',
                'moduleIcon': '/images/online-white.svg',
                'moduleName': 'admin.interventions.mods.onlineseance'|trans
            }) }}

            <input type="hidden"
                   name="module[{{ data.uniqueId }}][appId]"
                   value="6">

            <input type="hidden"
                   name="module[{{ data.uniqueId }}][bookable]"
                   value="1">

            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        {{ include ('AdminBundle:Intervention/ModuleCard:form/textinputs.html.twig', {
                            'input_type': 'instruction'
                        }) }}
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        {{ include ('AdminBundle:Intervention/ModuleCard:form/select.html.twig', {
                            'select_type': 'skills'
                        }) }}
                    </div>
                    <div class="col-md-6">
                        {{ include ('AdminBundle:Intervention/ModuleCard:form/select.html.twig', {
                            'select_type': 'all_skills'
                        }) }}
                    </div>
                    <div class="col-md-4">
                        {{ include ('AdminBundle:Intervention/ModuleCard:form/textinputs.html.twig', {
                            'input_type': 'minScore'
                        }) }}
                    </div>
                    <div class="col-md-8 no-padding">
                        {{ include ('AdminBundle:Intervention/ModuleCard:form/textinputs.html.twig', {
                            'input_type': 'signatureNumber'
                        }) }}
                    </div>
                    <div class="col-md-6 checkbox-radios">
                        {{ include ('AdminBundle:Intervention/ModuleCard:form/textinputs.html.twig', {
                            'input_type': 'isPersonalBooking'
                        }) }}

                    </div>
                    <div class="col-md-6">
                        {{ include ('AdminBundle:Intervention/ModuleCard:form/select.html.twig', {
                            'select_type': 'attendanceSheetTemplate'
                        }) }}
                    </div>
                    <div class="col-md-6 checkbox-radios">
                        {{ include ('AdminBundle:Intervention/ModuleCard:form/textinputs.html.twig', {
                            'input_type': 'isNeedReport'
                        }) }}
                    </div>
                    <div class="col-md-4 d-none divUploadReport{{ data.uniqueId }}">
                        {{ include ('AdminBundle:Intervention/ModuleCard:form/select.html.twig', {
                            'select_type': 'reportSendTo'
                        }) }}
                    </div>
                    <div class="col-md-4 divUploadReport{{ data.uniqueId }}">
                        {{ include ('AdminBundle:Intervention/ModuleCard:form/select.html.twig', {
                            'select_type': 'trainerReportTemplate'
                        }) }}
                    </div>
                </div>

                <div class="col-md-4 mt-3">
                    <input id="startDateHidden" class="form-control datepicker" type="hidden"
                           name="module[{{ data.uniqueId }}][session][0][startDateSession]"
                           value="{{ data.startDate }}"/>

                    <input id="endDateHidden" class="form-control datepicker" type="hidden"
                           name="module[{{ data.uniqueId }}][session][0][endTime]"
                           value="{{ data.endDate }}"/>
                </div>
            </div>
            <button type="button" class="btn btn-deepmark-cadetblue btn-sm btnListingUpload margin-top-custom" onclick="getAllFiles(this)"
                    data-module-id="{{ data.uniqueId }}" id="btnListingUpload">
                {{ 'buttons.see_uploaded_files'|trans|capitalize }}
            </button>
        </div>
    </div>

    <div class="col-md-3 padding-bottom-custom">
        <hr class="form-separator">

        {{ include('AdminBundle:Intervention/ModuleCard/CommonViews:FileUpload.html.twig') }}
        {{ include('AdminBundle:Intervention/ModuleCard/CommonViews:unique_data_session_identifier.html.twig') }}

        <hr class="form-separator">
        {{ include ('AdminBundle:Intervention/ModuleCard:card/card-date.html.twig') }}
    </div>
</div>
