{% extends 'base.html.twig' %}

{% block pagename %}{{ 'admin.sector.sector_list'|trans }}{% endblock %}

{% block body %}
    <div class="col-md-12 no-padding">
        {{ include('molecules/cards/nav/admin-structure-organisation-nav.html.twig') }}
    </div>
    <div class="card no-margin">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6 marg-t-10">
                <h3 class="bold text-center color-header">{{ 'admin.sector.sector_list'|trans }}</h3>
            </div>
            <div class="col-md-3 marg-t-20 no-padding-left text-right ">
                <a class="btn btn-sm font-size-10 btn-border-yelow btn-padding-small" href="{{ path('admin_group_organization_new') }}">{{ 'admin.sector.create_button'|trans }}</a>
            </div>
        </div>

        <div class="card-body admin">
            <div class="row col-md-12 no-padding z-index" >
                <div class="col-md-4 no-padding">
                </div>
                <div class="col-md-4 no-padding-right pad-t-10" >
                    <div  class="row btn-deepmark-light border-radis-30 height-40">
                        <div class="col-md-3 text-center no-padding color-header font-size-10 flex--center ">{{ 'search.content'|trans }}</div>
                        <div class="col-md-7 no-padding ">
                            <input type="text" id="bookSearch" class="border-0 height-100 no-padding no-margin color-header backgroud-deepmark-light">
                        </div>
                        <div class="col-md-2 flex--center">
                            <i class="fas color-header fa-search"></i>
                        </div>

                    </div>
                </div>
                <div class="col-md-3 text-right no-padding-right">
                    <div style="margin-top: 17px;" class="form-group pad-b-0">
                        <select id="typeAction" class="classic">
                            <option value="1">{{ 'buttons.delete'|trans }}</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-1 no-padding-right">
                    <button id="apply" class="btn btn-deepmark-orangelight btn-block">{{ 'global.apply'|trans }}</button>
                </div>
            </div>
            <div class="col-md-12 no-padding learnerTrainerList">
                <table id="sectorTable" class="table table-striped w-100 font-size-13">
                    <thead class="table-header w-100">
                    <tr>
                        <th>{{ 'admin.sector.designation'|trans }}</th>
                        <th>{{ 'admin.sector.regional'|trans }}</th>
                        <th>{{ 'admin.sector.entity'|trans }}</th>
                        <th>{{ 'admin.sector.organization'|trans }}</th>
                        <th data-orderable="false">{{ 'admin.sector.actions'|trans }}</th>
                        <th data-orderable="false" class="justify-content-center">
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input check-all-input-datatable" type="checkbox" value="">
                                    <span class="form-check-sign">
                                            <span class="check"></span>
                            </span>
                                </label>
                            </div>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for group in groups %}
                        <tr>
                            <td>{{ group.designation }}</td>
                            <td>{{ group.regional.designation }}</td>
                            <td>{{ group.regional.entity.designation }}</td>
                            <td>{{ group.regional.entity.organisation.designation }}</td>
                            <td>
                                <a href="{{ path('admin_group_organization_show', { 'id': group.id }) }}"><i class="fal color-header fa-eye"></i></a>
                                <a href="{{ path('admin_group_organization_edit', { 'id': group.id }) }}"><i class="fal color-header fa-pen"></i></a>
                            </td>
                            <td>
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" value="{{ group.id  }}">
                                        <span class="form-check-sign">
                                    <span class="check"></span>
                                </span>
                                    </label>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="{{ asset('js/lang_datatable.js') }}"></script>
    <div class="modal fade" id="deleteSectors" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body text-center">
                    <p id="txt"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ 'buttons.close'|trans }}</button>
                    <button  id="btnAction" type="submit" class="btn btn-primary">{{ 'buttons.confirm'|trans }}</button>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function () {
            let lang = languageDatatable();
            deleteSectors();
            let table = $('#sectorTable').DataTable({
                    "language": lang,
                    "scrollX": true,
                    "scrollY": false,
                    dom: 'Blfrtip',
                    exportOptions: {
                        columns: ':visible'
                    },
                    buttons: [
                        'csv',
                        'excel',
                        {extend: 'pdfHtml5', orientation: 'landscape', pageSize: 'A3',},
                        'colvis'
                    ]

                }
            );

            $('.buttons-colvis').on('click', function () {
                $('.dt-button-collection').addClass('show');
            });
            $(".dataTables_filter").hide();
            $('#bookSearch').keyup(function(){
                table.search($(this).val()).draw() ;
            })
            $('.check-all-input-datatable').change(function() {
                var rows = table.rows({ 'search': 'applied' }).nodes();
                $('input[type="checkbox"]', rows).prop('checked', this.checked);
            });
            $( window ).resize(function() {
                $('#sectorTable').DataTable().columns.adjust();
            });

            $('#apply').on('click', function () {
                let type = $('#typeAction').val();
                if (type == 1) {
                    $("#txt").text("{{ 'popup.sector_delete'|trans|raw }}");
                }
                $("#deleteSectors").modal('show');
            });

            let btn = $('[data-action="minimize-sidebar"]');
            if (btn.length) {
                btn.on('click', function () {
                    setTimeout(function() {
                        $('#sectorTable').DataTable().columns.adjust();
                    }, 300);
                })
            }

            function deleteSectors() {
                $('#btnAction').on('click', function () {
                    let type = $('#typeAction').val();
                    let checkInput = $('input[type="checkbox"]');
                    let selectedSectors = [];

                    checkInput.each(function () {
                        if(this.checked && this.value !== ""){
                            selectedSectors.push(this.value);
                        }
                    });

                    if (!selectedSectors.length) {
                        // one or more checkboxes are
                        swal('Warning', 'Please select at least one sector.', 'warning');
                        return;
                    }
                    $.ajax({
                        'url': '{{ path('admin_group_delete_sectors') }}',
                        'method': 'POST',
                        'data' : {
                            'selectedSectors': selectedSectors,
                            'type': type
                        }
                    }).done(function (response) {
                        location.reload();
                    }).fail(function (response) {
                        console.log(response)
                    })
                });
            }
        });
    </script>
{% endblock %}
