{% trans_default_domain 'FOSUserBundle' %}
{% block subject %}
{%- autoescape false -%}
{{ 'resetting.email.subject'|trans({'%username%': user.username}) }}
{%- endautoescape -%}
{% endblock %}

{% block body_text %}
{% autoescape false %}
{{ 'resetting.email.message'|trans({'%username%': user.username, '%confirmationUrl%': confirmationUrl}) }}
{% endautoescape %}
{% endblock %}
{% block body_html %}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Reset Password</title>
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700" rel="stylesheet">
<style>
    .module-circle {
        border-radius: 50%;
    }
    .flex-center {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .module{
        font-weight: 900!important;
        font-size: 20px;
    }
    .no-padding{
        padding:0!important;
    }
    .no-margin{
        margin:0!important;
    }
    .row {
        display: flex;
        flex-wrap: wrap;
    }
    .text-center{
        text-align: center!important;
    }
    body {
        font-family: 'Montserrat', sans-serif;
        font-size: 16px;
    }
    #background {
        max-width: 800px;
        margin: auto;
        background-color:#fff;
    }
    #wrapper {
        border-radius: 5px;
        padding: 15px;
    }
    #type{
        padding: 20px;
        background-color: #0076fe;
        text-align: center;
    }
    #midle{
        padding: 20px;
        background-color: #E5F0FC;
        text-align: center;
        color:#0076fe!important;
    }
    #logo {
        display: block;
        width: 160px!important;
        height: 160px!important;
        margin: auto;
    }
    #content {
        text-align: center;
        padding: 15px;
    }
    #footer {
        text-align: center;
        padding-top: 20px;
    }
    h2 { font-size: 24px; }
    h3 { font-size: 18px; margin-bottom: .2em; }

    dl {
        margin-top: 0;
        margin-bottom: 2em;
    }

    dl > div {
        padding: 6px 0;
        display: flex;
        flex-wrap: wrap;
    }
    dl dt {
        font-weight: 500;
        width: 150px;
    }
    dl dd {
        margin-left: 0;
    }
    a {
        color: #003B5C;
    }
    .text-color{
        color: #0076fe!important;
    }
    .btn{
        background-color: #0076fe!important;
        position: relative;
        padding: 12px 30px;
        margin: 0.3125rem 1px;
        font-size: .75rem;
        font-weight: 400;
        line-height: 1.428571;
        text-decoration: none;
        text-transform: uppercase;
        letter-spacing: 0;
        cursor: pointer;
        border: 0;
        border-radius: 0.2rem;
        outline: 0;
        transition: box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1), background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
        will-change: box-shadow, transform;
        color: white!important;
    }
    .text-left{
        text-align: left!important;
    }
    .text-right{
        text-align: right!important;
    }
    .msg{
        margin-bottom: 10px;
        margin-top: 10px;
    }
</style>
</head>
<body>
    <div id="background">
        <div id="wrapper">
            <div id="content">
                <header id="header">
                  <img
                     id="logo"
                     src="{{ app.request.getSchemeAndHttpHost() }}/img/{{site_logo}}"
                     alt="Deepmark logo"/>
                </header>
                <main id="content">
                    <div id="type">
                        <p style="margin: 0; color: #fff;text-transform: uppercase;">
                        {{ 'resetting.informs_you'|trans }}

                        </p>
                        <p style="margin: 0; margin-top: 10px!important; color: #fff; font-size: 20px; font-weight: 900;text-transform: uppercase;">
                        {{ 'resetting.reset_password'|trans }}
                        </p>
                    </div>
                    <div class=text-center>
                        <p class="text-color" style="margin-top:20px;font-weight:900">{{ 'resetting.hello'|trans }} {{ user.username }} !</p>
                        <p>
                            {{ 'resetting.ask_to_reset'|trans }} <br>
                            {{ 'resetting.click_create_pass'|trans }}
                        </p>
                         <a href="{{ confirmationUrl }}?resetAccount={% if user.lastLogin is null%}0{% else %}1{% endif %}" class="btn" style="text-transform: uppercase;" name="btnInitInt">{{ 'resetting.reset_button'|trans }}</a>
                         <p style="margin-top:30px;font-weight:900">{{ 'resetting.link_valid'|trans }}</p>
                         <p>{{ 'resetting.text_reset_pass'|trans }}</p>
                         <p class="msg">--------- {{ 'resetting.email_message'|trans }} ---------</p>

                    </div>
                </main>
            </div>
        </div>
    </div>
</body>
</html>

{% endblock %}

