{% trans_default_domain 'FOSUserBundle' %}
<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
<style>
    .card .card-body {
        padding:0.9375rem 30px;
    }
</style>
<form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request">
    <div class="card card-login marg-t-100">
        <div class="card-header text-center pad-t-30">
            {% include 'atoms/images/logo.html.twig' %}
        </div>

        <div class="card-body">
            {% block cardbody %}
                <div class="col-md-12 text-center" style="margin-bottom: 20px;">
                    <h2 style="color:#fff; font-size: 30px; font-weight: 900; line-height: normal!important;" >{{ 'resetting.request.title'|trans }}</h2>
                </div>
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-10 text-center">
                        <p style="color: #fff;">{{ 'resetting.request.content'|trans }}</p>
                    </div>
                    <div class="col-md-1"></div>
                </div>
                <div class="input-group " style="background-color: #fff;">
                    <div class="col-md-12">
                        <span  style="position:absolute; left:10px;top:10px;color: #72A5E5;font-size: 20px;" class="input-group-addon"><i class="fas fa-envelope"></i></span>
                        <input style="padding-top: 0.5rem!important;padding-left: 50px; height: 48px;color: #72A5E5;background: none!important;"  type="text" id="username" placeholder="Email" name="username" required="required" class="form-control" aria-label="Email" />
                    </div>
                </div>

            {% endblock %}
        </div>

        <div class="card-footer">
            <div class="col-md-12" style="margin-bottom: 15px;">
                <input style="text-transform: capitalize; height: 48px;"  class="btn btn-deepmark-orangelight btn-block" type="submit" value="{{ 'resetting.request.submit'|trans }}" />
            </div>
        </div>
    </div>
</form>
