{% extends "base.html.twig" %}

{% block pagename %}{{ 'learners.dashboard.edit_my_learner_profile'|trans }}{% endblock %}


{% block body %}
    {% set lunchStartTime = constant('\\ApiBundle\\Entity\\Profile::LUNCH_START_TIME') %}
    {% set lunchEndTime = constant('\\ApiBundle\\Entity\\Profile::LUNCH_END_TIME') %}
    <style>
        .icon-box__icon-wrapper{
            width: 150px;
            height: 150px;
            border-radius: 50%;
            margin: auto!important;
            background-color: #0076fe;
        }
        .trainer-avatar {
             width: unset !important;
             height: unset !important;
        }
    </style>
    <form action="{{ path('learner_profile_save') }}" method="post">
        <div class="row">
            <div class="col-md-12 new-profile no-padding">
                <ul class="nav nav-pills no-padding justify-content-center" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active bold" data-toggle="tab" href="#profile" id="btnProfile" role="tablist">
                            {{ 'admin.profile.title'|trans }}
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link bold" data-toggle="tab" href="#organization"  id="btnOrganization" role="tablist">
                            {{ 'admin.profile.org'|trans }}
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link bold" data-toggle="tab" href="#account"  id="btnAccount" role="tablist">
                            {{ 'account.title'|trans }}
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link bold" data-toggle="tab" href="#skills"  id="btnSkill" role="tablist">
                            {{ 'admin.trainers.skills'|trans|capitalize }}
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link bold" data-toggle="tab" href="#workingHour"  id="btnWorkingHour" role="tablist">
                            {{ 'trainers.planning.nav.working_hours'|trans }}
                        </a>
                    </li>
                </ul>
                {% if alertCheckInfo == 1 %}
                    <h3 class="text-center color-header bold">
                        {{ 'global.check_profile_message'|trans }}
                    </h3>
                {% endif %}
            </div>
            <div class="col-md-12 no-padding">
                <div class="tab-content tab-space no-padding">
                    <div class="tab-pane bg-white marg-t-20 border-radius-10" id="skills">
                        <div class="new-dashboard scroll-custom">
                            <div class="col-md-12">
                                <div class="row col-md-12 pad-t-20" style="border-bottom: 1px solid #DDDDDD">
                                    <div class="col-md-3 border-bottom-header no-padding color-header flex--center justify-content-start bold">{{ 'learners.profile.my_skills'|trans|upper }}</div>
                                    <div class="col-md-6 border-bottom-header no-padding c-black flex--center">
                                        <ul class="nav nav-pills nav-pills-primary header-dashboard" role="tablist">
                                            <li class="nav-item">
                                                <a class="nav-link active font-size-18" data-toggle="tab" href="#link1" role="tablist" aria-expanded="true">
                                                    {{ 'learners.profile.all'|trans }}
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link font-size-18" data-toggle="tab" href="#link2" role="tablist" aria-expanded="false">
                                                    {{ 'learners.profile.my_job'|trans }}
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link font-size-18" data-toggle="tab" href="#link3" role="tablist" aria-expanded="false">
                                                    {{ 'learners.profile.other'|trans }}
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-md-3 border-bottom-header no-padding flex--center justify-content-end">
                                        <a href="" class="cursorPointer marg-r-15">
                                            <img src="/new-image/List_Selected.png" width="30" height="30">
                                        </a>
                                        <a href="" class="cursorPointer marg-r-15">
                                            <img src="/new-image/Bar_Unselected.png" width="30" height="30">
                                        </a>
                                        <a href="" class="cursorPointer marg-r-15">
                                            <img src="/new-image/Add_Unselected.png" width="30" height="30">
                                        </a>
                                    </div>

                                    <div class="tab-content row col-md-12 tab-space no-padding">
                                        <div class="tab-pane col-md-12 no-padding active bg-white marg-t-20 border-radius-10" id="link1">
                                            <div class="col-md-12 no-padding skill-table">
                                                {{ include('molecules/profile/skill-table.html.twig', {'skills' : skills, 'skillLevels' : skillLevels, 'type' : 'all'}) }}
                                            </div>
                                        </div>
                                        <div class="tab-pane col-md-12 no-padding bg-white marg-t-20 border-radius-10" id="link2">
                                            <div class="col-md-12 no-padding skill-table">
                                                {{ include('molecules/profile/skill-table.html.twig', {'skills' : workingSkills, 'skillLevels' : skillLevels, 'type' : 'working'}) }}
                                            </div>
                                        </div>
                                        <div class="tab-pane col-md-12 no-padding bg-white marg-t-20 border-radius-10" id="link3">
                                            <div class="col-md-12 no-padding skill-table">
                                                {{ include('molecules/profile/skill-table.html.twig', {'skills' : notWorkingSkills, 'skillLevels' : skillLevels, 'type' : 'notWorking'}) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane active" id="profile">
                        <div class="row">
                            <div class="col-md-3 pad-t-30 text-center" >
                                {% if profile.avatar is defined and profile.avatar is not null %}
                                    <div class="trainer-avatar image-holder" id="trainer-avatar"  >
                                        <img class="border-radius-50" width="150" height="150" src="{{ profile.avatar }}" alt="">
                                    </div>
                                {% else %}
                                    <div id="trainer-avatar" class="trainer-avatar">
                                        {{ include('molecules/tools/new-icon-box.html.twig', { icon: 'user', txt: '' }) }}
                                    </div>
                                {% endif %}

                                <div class="form-group no-padding no-margin">
                                    <label for="avatarFileTrainer" class="pointer btn btn-avatar pad-5" >
                                        <i class=" text-white font-size-12 fa fa-camera no-margin"></i>
                                        <p class="no-margin no-padding text-white font-size-12" >{{ 'global.change'|trans }}</p>
                                    </label>
                                    <input id="avatarFileTrainer"
                                           type="file"
                                           name="avatarFile"
                                           data-type="avatar"
                                           data-profile-id="{{ profile.id }}"
                                           class="inputUploadPublicFile"
                                           multiple/>

                                </div>
                                <div class=" pad-t-5  text-center">
                                    {% if profile.avatar is defined and profile.avatar is not null %}
                                        <a  data-toggle="modal" href="#deleteFile" class="deleteProfileFile text-gray">{{ 'global.delete_photo'|trans }}</a>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col-md-9 card card-body marg-t-15">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label class="col-form-label required bmd-label-static">{{ 'global.firstname'|trans }}</label>
                                        <div class="form-group has-success bmd-form-group">
                                            <input required type="text" class="form-control" name="firstName" value="{{ profile.firstName | default('') }}">
                                            <span class="form-control-feedback">
                                                <i class="fa fa-pencil color-header"></i>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <label class="col-form-label required bmd-label-static">{{ 'global.lastname'|trans }}</label>
                                        <div class="form-group has-success bmd-form-group">
                                            <input required type="text" class="form-control" name="lastName" value="{{ profile.lastName | default('') }}">
                                            <span class="form-control-feedback">
                                                <i class="fa fa-pencil color-header"></i>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <label class="col-form-label required bmd-label-static">{{ 'global.phone'|trans }}</label>
                                        <div class="form-group has-success bmd-form-group">
                                            <input required type="text" class="form-control" name="fixedPhone" value="{{ profile.fixedPhone | default('') }}">
                                            <span class="form-control-feedback">
                                                <i class="fa fa-pencil color-header"></i>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <label class="col-form-label bmd-label-static">{{ 'global.mobile'|trans }}</label>
                                        <div class="form-group has-success bmd-form-group">
                                            <input type="text" class="form-control" name="mobilePhone" value="{{ profile.mobilePhone | default('') }}">
                                            <span class="form-control-feedback">
                                                <i class="fa fa-pencil color-header"></i>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label class="col-form-label required bmd-label-static">{{ 'global.email'|trans }}</label>
                                        <input disabled type="text" class="form-control" name="email" value="{{ person.email | default('') }}">
                                    </div>
                                    <div class="col-md-6"></div>
                                    <div class="col-md-6">
                                        <label class="col-form-label bmd-label-static">{{ 'global.designation'|trans }}</label>
                                        <div class="form-group has-success bmd-form-group">
                                            <input type="text" class="form-control" name="position" value="{{ profile.position | default('') }}">
                                            <span class="form-control-feedback">
                                                <i class="fa fa-pencil color-header"></i>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <label class="col-form-label bmd-label-static">{{ 'global.employee_id'|trans }}</label>
                                        <div class="form-group has-success bmd-form-group">
                                            <input type="text" name="employee_id" class="form-control" value="{{ profile.employeeId | default('') }}">
                                            <span class="form-control-feedback">
                                                <i class="fa fa-pencil color-header"></i>
                                            </span>
                                        </div>
                                    </div>
                                    <div class=" col-md-6">
                                        <label class="col-form-label bmd-label-static">{{ 'global.email_manager'|trans }}</label>
                                        <div class="form-group has-success bmd-form-group">
                                            <input type="text" class="form-control" name="manager_email" value="{{ profile.managerEmail | default('') }}">
                                            <span class="form-control-feedback">
                                                <i class="fa fa-pencil color-header"></i>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <label class="col-form-label bmd-label-static">{{ 'global.other_email'|trans }}</label>
                                        <div class="form-group  has-success bmd-form-group">
                                            <input type="text" class="form-control" name="otherEmail" value="{{ profile.otherEmail | default('') }}">
                                            <span class="form-control-feedback">
                                                <i class="fa fa-pencil color-header"></i>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <input type="hidden" class="form-check-input" name="id" value="{{ person.id }}">
                                        <button type="submit" class="btn btn-block btn-deepmark float-right">{{ 'buttons.update'|trans }}</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane col-md-12 no-padding marg-t-15" id="organization">
                        <div class="row">
                            <div class="col-md-6 profile no-padding-left pad-r-10">
                                <div class="pad-t-10 card no-margin min-height-350">
                                    <h3 class="no-margin text-center color-header">{{ 'global.organisation'|trans }}</h3>
                                    <div class="row pad-t-20 pad-b-20">
                                        <div class="form-group col-md-6">
                                            <label class="col-form-label required bmd-label-static">{{ 'global.organisation'|trans }}</label>
                                            <input type="text" class="form-control" disabled value="{{ profile.entity.organisation.designation | default('') }}">
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label class="col-form-label required bmd-label-static">{{ 'global.entity'|trans }}</label>
                                            <input type="text" class="form-control" disabled value="{{ profile.entity.designation | default('') }}">
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label class="col-form-label bmd-label-static">{{ 'global.region'|trans }}</label>
                                            <input type="text" class="form-control" disabled value="{{ profile.regional.designation | default('') }}">
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label class="col-form-label bmd-label-static">{{ 'global.group'|trans }}</label>
                                            <input type="text" class="form-control" disabled value="{{ profile.groupOrganization.designation | default('') }}">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 profile no-padding-right pad-l-10">
                                <div class="card pad-t-10 no-margin  min-height-350">
                                    <h3 class="no-margin text-center color-header">{{ 'global.workplace'|trans }}</h3>
                                    <div class="row pad-t-20 pad-b-20">
                                        <div class="form-group col-md-6">
                                            <label class="col-form-label required bmd-label-static">{{ 'select.denomination'|trans }}</label>
                                            <input type="text" disabled class="form-control"  value="{{ profile.workplace.designation | default('') }}">
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label class="col-form-label required bmd-label-static">{{ 'select.address'|trans }}</label>
                                            <input type="text" disabled class="form-control"  value="{{ profile.entity.street | default('') }}">
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label class="col-form-label required bmd-label-static">{{ 'select.additional_address'|trans }}</label>
                                            <input type="text" disabled class="form-control"  value="{{ profile.entity.expansionStreet | default('') }}">
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label class="col-form-label required bmd-label-static">{{ 'select.postal_code'|trans }}</label>
                                            <input type="text" disabled class="form-control"  value="{{ profile.entity.postalCode | default('') }}">
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label class="col-form-label required bmd-label-static">{{ 'select.city'|trans }}</label>
                                            <input type="text" disabled class="form-control"  value="{{ profile.entity.city | default('') }}">
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label class="col-form-label required bmd-label-static">{{ 'select.country'|trans }}</label>
                                            <input type="text" disabled class="form-control"  value="{{ profile.entity.country | default('') }}">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane card card-body marg-t-15" id="account">
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label class="col-form-label required bmd-label-static">{{ 'global.email'|trans }}</label>
                                <input disabled type="text" class="form-control" name="email" value="{{ person.email | default('') }}">
                            </div>
                            <div class="form-group col-md-6">
                                <label class="col-form-label required bmd-label-static">{{ 'admin.profile.password'|trans }}</label>
                                <div class="row">
                                    <div class="col-10 no-padding">
                                        <input disabled type="password" class="form-control" value="">
                                    </div>
                                    <div class="col-2">
                                        <a href="#editPass" data-toggle="modal" class="fa fa-pencil color-header"></a>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-md-6">
                                <label class="col-form-label bmd-label-static">{{ 'global.status_account'|trans }}</label>
                                <input type="text" class="form-control" disabled value="Active">
                            </div>

                            <div class="form-group col-md-6">
                                <label class="col-form-label bmd-label-static">{{ 'global.create_at'|trans }}</label>
                                <input type="text" class="form-control" disabled value="{{ profile.creationDate | date('d/m/Y')  | default('') }}">
                            </div>
                            <div class="form-group col-md-6">
                                <label class="col-form-label bmd-label-static">{{ 'global.last_login'|trans }}</label>
                                <input type="text" class="form-control" disabled value="{{ 'now'|date('d/m/Y h:m') }}">
                            </div>
                            <div class="form-group col-md-6 bmd-form-group is-filled">
                                <label class="col-form-label bmd-label-static">{{ 'global.time_zone'|trans }}</label>
                                <select id="time_zone_id" disabled name="time_zone_id" class="form-control max-width-100 height-36">
                                    {% if timeZones %}
                                        {% for timeZone in timeZones %}
                                            {% if person.timeZone is not null %}
                                                <option {{ person.timeZone.id == timeZone.id ? 'selected' : '' }}
                                                        value="{{ timeZone.id }}">{{ timeZone.timeZone }}</option>
                                            {% else %}
                                                <option value="{{ timeZone.id }}">{{ timeZone.timeZone }}</option>
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane card card-body marg-t-15 no-padding" id="workingHour">
                        {% set isNewWorkingHours = profile.workingHours ? 1 : 0 %}
                        {{ include('molecules/modal/recurring-availability.html.twig', { modal: '0', organisation: profile.workingHours ? profile : profile.entity , isNew: isNewWorkingHours, entityWorkingHours: profile.entity.workingHours }) }}
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div id="editPass" class="modal fade col-md-12" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-xs" role="document">
            <div class="modal-content">
                <form action="{{ path('learner_profile_save_pass') }}" method="post">
                    <div class="modal-header">
                        <h4 class="modal-title no-margin">{{ 'global.change_password'|trans|upper }}</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body marg-t-15">
                        <div class="form-group col-md-12 no-padding bg-password" >
                            <div class="row marg-t-20">
                                <div class="col-2 flex--center">
                                    <span class="fa fa-lock"></span>
                                </div>
                                <div class="col-8 no-padding">
                                    <input id="password" required placeholder="{{ 'admin.profile.password'|trans }}" type="password" class="form-control border-0" name="password" value="">
                                </div>
                                <div class="col-2 flex--center">
                                    <span toggle="#password" class="fa fa-fw fa-eye field-icon toggle-password"></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-md-12  no-padding bg-password">
                            <div class="row marg-t-20">
                                <div class="col-2 flex--center">
                                    <span  class="fa fa-lock"></span>
                                </div>
                                <div class="col-8 no-padding">
                                    <input required id="repeatPassword" type="password" placeholder="{{ 'admin.profile.rp_password'|trans }}" class="form-control" name="rpPassword" value="">
                                </div>
                                <div class="col-2 flex--center">
                                    <span toggle="#repeat-password" class="fa fa-fw fa-eye field-icon toggle-repeat-password"></span>
                                </div>
                            </div>
                        </div>
                        <span id='messageRepeatPassword'></span>
                        <input type="hidden" name="profileId" value="{{ profile.id }}">
                        <input type="hidden" class="form-check-input" name="id" value="{{ person.id }}">
                        <div class="col-md-12 marg-t-15">
                            <button id="btn-dispo-confirm" type="submit" name="button"
                                    class="btn btn-block btn-deepmark">{{ 'buttons.confirm'|trans }}</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div id="deleteFile" class="modal fade col-md-12" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <form method="post" action="{{ path('learner_profile_delete_file') }}">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <h3>Delete</h3>
                        <div class="row">
                            <p>Delete?</p>
                        </div>
                        <input type="hidden" name="profileId" value="{{ profile.id }}">
                        <div class="col-md-12 text-right ">
                            <button id="btn-dispo-confirm" type="submit" name="button"
                                    class="btn btn-sm btn-deepmark">{{ 'buttons.confirm'|trans }}</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="{{ asset('js/learner/dashboard-calendar.js') }}"></script>
    <script>
        $(".toggle-password").click(function() {

            $(this).toggleClass("fa-eye fa-eye-slash");
            var input = $($(this).attr("toggle"));
            if (input.attr("type") == "password") {
                input.attr("type", "text");
            } else {
                input.attr("type", "password");
            }
        });
        $(".toggle-repeat-password").click(function() {

            $(this).toggleClass("fa-eye fa-eye-slash");
            var input = $($(this).attr("toggle"));
            if ($('#repeatPassword').attr("type") === "password") {
                $('#repeatPassword').attr("type", "text");
            } else {
                $('#repeatPassword').attr("type", "password");
            }
        });
        $('#repeatPassword, #password').on('keyup', function () {
            if (($('#password').val() == '' && $('#repeatPassword').val() == '')){
                $('#messageRepeatPassword').html();
                return false;
            }
            if (($('#password').val() == $('#repeatPassword').val())) {
                $('#messageRepeatPassword').html('Matching').css('color', 'green');
            } else {
                $('#messageRepeatPassword').html('Not Matching').css('color', 'red');
            }
        });
        $(function () {
            $('.timepicker').datetimepicker({
                format: 'HH:mm',
                icons: {
                    up: 'fa fa-chevron-up',
                    down: 'fa fa-chevron-down'
                }
            });
        });
        $(document).ready(function () {
            bindFileUploaders();

            $('[data-toggle="tooltip"]').tooltip();
        });

        function bindFileUploaders() {
            const uploadOptions = {
                formData: function (data, element) {

                    let triggerField = element.fileInput[0];
                    let profileId = $(triggerField).attr('data-profile-id');
                    let dataType = $(triggerField).attr('data-type');

                    return [{name: 'profileId', value: profileId}, {name: 'dataType', value: dataType}];
                },
                isTrainer : 1
            };

            initFileUploader($('.inputUploadPublicFile'), '/learner/profile/ajax/file_upload/media', uploadOptions);
        }

    </script>
{% endblock %}
