{% extends "base.html.twig" %}

{% block title %}{{ 'global.trainning_groups'|trans }}{% endblock %}
{% block pagename %}{{ 'global.trainning_groups'|trans }}{% endblock %}

{% block body %}

    <div class="card">
        <h3 class="color-header bold text-center">{{ 'sidebar.my_training_groups'|trans|capitalize }}</h3>
        <div class="table-responsive pad-10">
            <table id="groups" class="table table-striped">
                <thead class="table-header">
                <tr>
                    <th>{{ 'global.group_name'|trans }}</th>
                    <th>{{ 'global.attached_courses'|trans }}</th>
                    <th class="text-center">{{ 'global.total_number_courses'|trans }}</th>
                    <th class="text-center">{{ 'global.number_of_learners'|trans }}</th>
                    <th class="text-center">{{ 'global.actions'|trans }}</th>
                </tr>
                </thead>
                <tbody>
                {% for key, row in groups %}
                    <tr>
                        <td class="bold">{{ row.group.designation }}</td>
                        <td class="bold">{{ row.interventionNames }}</td>
                        <td class="text-center">{{ row.numberCourse }}</td>
                        <td class="text-center">{{ row.numberLearner }}</td>
                        <td class="text-center">
                            <div class="dropdown">
                                <a  id="dropdownMenuButton{{ key }}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fa fa-ellipsis-v"></i>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton{{ key }}">
                                    <a class="dropdown-item" href="{{ url('learner_group_members', {id:row.group.id}) }}">{{ 'global.view_members'|trans }}</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/lang_datatable.js') }}"></script>
    <script>
        $(document).ready(function () {
            let lang = languageDatatable();
            $('#groups').DataTable({
                "initComplete": function (settings, json) {
                },
                "language": lang,
            });
        })
    </script>
{% endblock %}