{% extends "base.html.twig" %}

{% block title %}{{ 'global.trainning_groups'|trans }}{% endblock %}
{% block pagename %}{{ 'global.trainning_groups'|trans }}{% endblock %}

{% block body %}

    <div class="card">
        <h3 class="color-header bold text-center">{{ group.designation }}</h3>
        <div class="table-responsive pad-10">
            <table id="groups" class="table table-striped">
                <thead class="table-header">
                <tr>
                    <th>{{ 'global.avatar'|trans }}</th>
                    <th>{{ 'table.learners.firstname'|trans }}</th>
                    <th>{{ 'table.learners.lastname'|trans }}</th>
                    <th>{{ 'global.organisation_structure'|trans }}</th>
                    <th>{{ 'global.entity'|trans }}</th>
                </tr>
                </thead>
                <tbody>
                {% for row in learnerGroups %}
                    <tr>
                        <td>
                            <div class="img-container img-container--round">
                                <img style="height: 50px" src="{{ asset(row.learner.avatar|default('img/default-avatar.png')) }}" alt="">
                            </div>
                        </td>
                        <td>{{ row.learner.firstName }}</td>
                        <td>{{ row.learner.lastname }}</td>
                        <td>{{ row.learner.entity.organisation.designation| default('') }}</td>
                        <td>{{ row.learner.entity.designation| default('') }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/lang_datatable.js') }}"></script>
    <script>
        $(document).ready(function () {
            let lang = languageDatatable();
            $('#groups').DataTable({
                "initComplete": function (settings, json) {
                },
                "language": lang,
            });
        })
    </script>
{% endblock %}