{% extends "base.html.twig" %}

{% block body %}
	<div class="card card--user card--trainer">
		<div class="card-header card-header-icon">
			{% if profile.avatar is defined and profile.avatar is not null %}
				<div class="trainer-avatar">
					<img  style="border-radius: 10px;" width="100" height="100" src="{{ profile.avatar }}" alt="">
				</div>
			{% else %}
				{{ include('molecules/tools/icon-box.html.twig', { icon: 'user', txt: 'trainers.profile.my_avatar'|trans }) }}
			{% endif %}

			<a href="{{ url('learner_profile_edit') }}" class="btn btn-deepmark-orangelight btn-edit"><i class="far fa-pen"></i></a>
		</div>

		<div class="card-body">
			<div class="row">
				<div class="col-md-6 pl-0">
					<h3>{{ 'admin.profile.infos'|trans }}</h3>
					<div class="form-group row">
						<div class="col-3 t-right">
							<label class="col-form-label bmd-label-static">{{ 'global.lastname'|trans }}</label>
						</div>
						<div class="col-8">
							<label class="col-form-label">{{ profile.lastName | default('') }}</label>
						</div>
					</div>
					<div class="form-group row">
						<div class="col-3 t-right">
							<label class="col-form-label bmd-label-static">{{ 'global.firstname'|trans }}</label>
						</div>
						<div class="col-8">
							<label class="col-form-label">{{ profile.firstName | default('') }}</label>
						</div>
					</div>
					<div class="form-group row">
						<div class="col-3 t-right">
							<label class="col-form-label bmd-label-static">{{ 'global.designation'|trans }}</label>
						</div>
						<div class="col-8">
							<label class="col-form-label">{{ profile.position | default('') }}</label>
						</div>
					</div>
					<div class="form-group row">
						<div class="col-3 t-right">
							<label class="col-form-label bmd-label-static">{{ 'global.employee_id'|trans }}</label>
						</div>
						<div class="col-8">
							<label class="col-form-label">{{ profile.employeeId | default('') }}</label>
						</div>
					</div>
					<div class="form-group row">
						<div class="col-3 t-right">
							<label class="col-form-label bmd-label-static">{{ 'global.phone'|trans }}</label>
						</div>
						<div class="col-8">
							<label class="col-form-label">{{ profile.fixedPhone | default('') }}</label>
						</div>
					</div>
					<div class="form-group row">
						<div class="col-3 t-right">
							<label class="col-form-label bmd-label-static">{{ 'global.mobile'|trans }}</label>
						</div>
						<div class="col-8">
							<label class="col-form-label">{{ profile.mobilePhone | default('') }}</label>
						</div>
					</div>
					<div class="form-group row">
						<div class="col-3 t-right">
							<label class="col-form-label bmd-label-static">{{ 'global.email'|trans }}</label>
						</div>
						<div class="col-8">
							<label class="col-form-label">{{ user.email | default('') }}</label>
						</div>
					</div>
					<h3>{{ 'global.additional_information'|trans }}</h3>
					<div class="form-group row">
						<div class="col-3 t-right">
							<label class="col-form-label bmd-label-static">{{ 'global.email_manager'|trans }}</label>
						</div>
						<div class="col-8">
							<label class="col-form-label">{{ profile.managerEmail | default('') }}</label>
						</div>
					</div>
					<div class="form-group row">
						<div class="col-3 t-right">
							<label class="col-form-label bmd-label-static">{{ 'global.other_email'|trans }}</label>
						</div>
						<div class="col-8">
							<label class="col-form-label">{{ profile.otherEmail | default('') }}</label>
						</div>
					</div>
				</div>
				<div class="col-md-6 pl-0">
					<div class="form-group row">
						<div class="col-3 t-right">
							<label class="col-form-label bmd-label-static">{{ 'global.create_at'|trans }}</label>
						</div>
						<div class="col-8">
							<label class="col-form-label">{{ profile.creationDate | date('d/m/Y')  | default('') }}</label>
						</div>
					</div>
					<div class="form-group row">
						<div class="col-3 t-right">
							<label class="col-form-label bmd-label-static">{{ 'global.last_login'|trans }}</label>
						</div>
						<div class="col-8">
							<label class="col-form-label">{{ 'now'|date('d/m/Y h:m') }}</label>
						</div>
					</div>
					<div class="form-group row">
						<div class="col-3 t-right">
							<label class="col-form-label bmd-label-static">{{ 'global.status_account'|trans }}</label>
						</div>
						<div class="col-8">
							<label class="col-form-label">Active</label>
						</div>
					</div>
					<div class="form-group row">
						<div class="col-3 t-right">
							<label class="col-form-label bmd-label-static">{{ 'admin.profile.lunch_start_time'|trans }}</label>
						</div>
						<div class="col-8">
							<label class="col-form-label">{{ profile.lunchStartTime| date('G.i', false) | default('') }}</label>
						</div>
					</div>
					<div class="form-group row">
						<div class="col-3 t-right">
							<label class="col-form-label bmd-label-static">{{ 'admin.profile.lunch_end_time'|trans }}</label>
						</div>
						<div class="col-8">
							<label class="col-form-label">{{ profile.lunchEndTime| date('G.i', false) | default('') }}</label>
						</div>
					</div>
					<h3>{{ 'global.organisation_structure'|trans }}</h3>
					<div class="form-group row">
						<div class="col-3 t-right">
							<label class="col-form-label bmd-label-static">{{ 'global.organisation'|trans }}</label>
						</div>
						<div class="col-8">
							<label class="col-form-label">{{ profile.entity.organisation.designation | default('') }}</label>
						</div>
					</div>
					<div class="form-group row">
						<div class="col-3 t-right">
							<label class="col-form-label bmd-label-static">{{ 'global.entity'|trans }}</label>
						</div>
						<div class="col-8">
							<label class="col-form-label">{{ profile.entity.designation | default('') }}</label>
						</div>
					</div>
					<div class="form-group row">
						<div class="col-3 t-right">
							<label class="col-form-label bmd-label-static">{{ 'global.direction_region'|trans }}</label>
						</div>
						<div class="col-8">
							<label class="col-form-label">{{ profile.regional.designation | default('') }}</label>
						</div>
					</div>
					<div class="form-group row">
						<div class="col-3 t-right">
							<label class="col-form-label bmd-label-static">{{ 'global.group'|trans }}</label>
						</div>
						<div class="col-8">
							<label class="col-form-label">{{ profile.groupOrganization.designation | default('') }}</label>
						</div>
					</div>
					<div class="form-group row">
						<div class="col-3 t-right">
							<label class="col-form-label bmd-label-static">{{ 'global.workplace'|trans }}</label>
						</div>
						<div class="col-8">
							<label class="col-form-label">{{ profile.workplace.designation | default('') }}</label>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
