{% extends 'base.html.twig' %}

{% block pagename %}{{ isEdit is defined ? 'admin.regional.edit_regional'|trans : 'admin.regional.create_new_regional'|trans }}{% endblock %}

{% block body %}
    <div class="card">
        <div class="card-header--nav">
            {{ include('molecules/cards/nav/admin-structure-organisation-nav.html.twig') }}
        </div>

        <div class="card-body">
            <h2 class="pb-3">{{ isEdit is defined ? 'admin.regional.edit_regional'|trans : 'admin.regional.create_new_regional'|trans }}</h2>

            {{ form_start(form) }}
                {{ form_widget(form) }}
                 <button type="submit" class="btn btn-sm btn-deepmark-orangelight">{{ isEdit is defined ? 'buttons.edit'|trans : 'buttons.create'|trans }}</button>
            {{ form_end(form) }}

            <a class="btn btn-sm btn-deepmark-navy" href="{{ path('admin_regional_index') }}">{{ 'buttons.bck_to_list'|trans }}</a>
            {% if isEdit is defined %}
                {{ form_start(delete_form) }}
                    <button  class="btn btn-sm btn-deepmark-red" type="submit">{{ 'buttons.delete'|trans }}</button>
                {{ form_end(delete_form) }}
            {% endif %}
        </div>
    </div>
{% endblock %}
