{% extends 'base.html.twig' %}

{% block pagename %}{{ 'admin.regional.show_regional'|trans }}{% endblock %}

{% block body %}
    <div class="card">
        <div class="card-header--nav">
            {{ include('molecules/cards/nav/admin-structure-organisation-nav.html.twig') }}
        </div>

        <div class="card-body">
            <h2>{{ 'admin.regional.show_regional'|trans }}</h2>
            <table>
                <tbody>
                    <tr>
                        <th>Id</th>
                        <td>{{ regional.id }}</td>
                    </tr>
                    <tr>
                        <th>{{ 'admin.regional.designation'|trans }}</th>
                        <td>{{ regional.designation }}</td>
                    </tr>
                    <tr>
                        <th>{{ 'admin.regional.entity'|trans }}</th>
                        <td>{{ regional.entity.designation }}</td>
                    </tr>
                </tbody>
            </table>

            <a class="btn btn-sm btn-deepmark-navy" href="{{ path('admin_regional_index') }}">{{ 'buttons.bck_to_list'|trans }}</a>
            <a class="btn btn-sm btn-deepmark-orangelight" href="{{ path('admin_regional_edit', { 'id': regional.id }) }}">{{ 'buttons.edit'|trans }}</a>

            {{ form_start(delete_form) }}
                <button  class="btn btn-sm btn-deepmark-red" type="submit">{{ 'buttons.delete'|trans }}</button>
            {{ form_end(delete_form) }}
        </div>
    </div>
{% endblock %}
