{% extends "base.html.twig" %}

{% block title %}{{ 'learners.library.title'|trans }}{% endblock %}
{% block pagename %}{{ 'learners.library.title'|trans }}{% endblock %}

{% block body %}
	<div class="card">
		<div class="card-body">
			<h3 class="color-header marg-t-0 bold text-center pt-3"> {{ 'sidebar.learners_library'|trans }} </h3>
			{{ include('molecules/tables/learner-library-data-table.html.twig', {type : 'library'}) }}
		</div>
	</div>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script type="text/javascript" src="{{ asset('js/lang_datatable.js') }}"></script>
	<script>
		$(document).ready(function () {
			let lang = languageDatatable();
			$('#library-data-table').DataTable({
				"order": [[ 1, 'asc' ]],
				"initComplete": function (settings, json) {
					$('#deepmark-upload-table').removeClass('dataTable no-footer')
				},
				"language": lang,
				"scrollX": false,
				"columnDefs": [
					{
						"width": "30%",
						"targets": 2
					},
					{
						"width": "8%",
						"targets": 5
					}
				]
			});

			$("#library-data-table").on("click", ".preview-file-page", function(){
				let domain = document.location.origin;
				let url = '{{ amazon_s3_url }}' + '/' + $(this).attr('data-pdf-loader-queue');
				window.open(domain + '/viewer?url='+ url, '_blank');
			});
		})
	</script>
{% endblock %}
