{% extends 'base.html.twig' %}

{% block pagename %}{{ 'admin.profile.upload_learner'|trans }}{% endblock %}

{% block body %}
{{ include('molecules/uploadFiles.html.twig', {'type': false, 'route': 'learner_library_index', 'form':form})}}
{% endblock %}
