{% set audioType = ["wav", "mp3", "MP3", "WAV"] %}
{% set videoType = ["mp4", "mov", "ogg", "MP4", "MOV", "OGG"] %}
{% set imgType = ["png", "PNG", "JPG", "jpg", "JPEG", "jpeg"] %}
{% if documents %}
    {% if documents is iterable %}
        {% for document in documents %}
            {% set fileFormat = document.fileDescriptor.mimeType %}
            <tr>
                <td>{{ category }}</td>
                <td>{{ document.fileDescriptor.name }}</td>
                <td class="bold">Validate</td>
                <td class="text-center">
                    <label for="{{ name }}{{ loop.index }}" class="pointer color-header">
                        <i class="fa fa-upload " aria-hidden="true"></i>
                    </label>&nbsp;&nbsp;&nbsp;&nbsp;
                    <input class="d-none uploadFile" id="{{ name }}{{ loop.index }}" type="file" multiple name="{{ name~'[]' }}"/>
                    <a download href="{{ asset('files/profile/'~  document.fileDescriptor.path) }}" class="color-header pointer">
                        <i class="fa fa-download " ></i>
                    </a>&nbsp;&nbsp;&nbsp;
                    {% if fileFormat in imgType or fileFormat in videoType or fileFormat in audioType %}
                        <a target="_blank"  href="{{ asset('files/profile/'~  document.fileDescriptor.path) }}" >
                            <i class="fa fa-eye color-header" aria-hidden="true"></i>
                        </a>&nbsp;&nbsp;
                    {% else %}
                        <a data-pdf-loader-queue="{{ document.fileDescriptor.path }}" class="pointer preview-file preview-file-page">
                            <i class="fa fa-eye color-header" aria-hidden="true"></i>
                        </a>&nbsp;&nbsp;
                    {% endif %}
                    <a data-id="{{ document.fileDescriptor.id }}" class="color-header delete-doc pointer">
                        <i class="fa fa-trash pl-1" aria-hidden="true"></i>
                    </a>
                </td>
            </tr>
            <script>
                $( document ).ready(function() {
                    $('#{{ name }}{{ loop.index }}').on('change', function (e) {
                        if ($("#{{ name }}{{ loop.index }}").val()) {
                            let formdata = new FormData();
                            let fileLength = $("#{{ name }}{{ loop.index }}").get(0).files.length;
                            for (let i = 0; i < fileLength; i++) {
                                let file = $("#{{ name }}{{ loop.index }}").get(0).files[i];
                                formdata.append("{{ name }}[]", file);
                            }
                            let url = '/trainer/profile/saveDocuments';
                            formdata.append('profileId', '{{ profileId }}');
                            $.ajax({
                                type: 'post',
                                url: url,
                                data : formdata,
                                processData: false,
                                contentType: false,
                                success: function (response) {
                                    const textTemplateNode = $('#upload-file-modal-text');
                                    swal(textTemplateNode.data('success-header'), textTemplateNode.data('success-comment'), "success", {
                                        button: "Ok",

                                    }).then(function(){
                                        location.reload();
                                    });
                                },
                                error: function (err) {
                                    swal(
                                        textTemplateNode.data('failure-header'),
                                        data.messages.uploadedBytes?textTemplateNode.data('failure-uploaded-bytes'):textTemplateNode.data('failure-comment'),
                                        "error",
                                        { button: 'Ok' }
                                    );
                                }
                            });
                        }
                    });
                });
            </script>

        {% endfor %}
    {% else %}
        {% set fileFormat = documents.fileDescriptor.mimeType %}
        <tr>
            <td>{{ category }}</td>
            <td>{{ documents.fileDescriptor.name }}</td>
            <td class="bold">Validate</td>
            <td class="text-center">
                <label for="{{ name }}" class="pointer color-header">
                    <i class="fa fa-upload " aria-hidden="true"></i>
                </label>&nbsp;&nbsp;&nbsp;&nbsp;
                <input class="d-none uploadFile" id="{{ name }}" type="file" multiple name="{{ name~'[]' }}"/>
                <a download href="{{ asset('files/profile/'~  documents.fileDescriptor.path) }}" class="color-header pointer" >
                    <i class="fa fa-download " ></i>
                </a>&nbsp;&nbsp;&nbsp;
                {% if fileFormat in imgType or fileFormat in videoType or fileFormat in audioType %}
                    <a target="_blank"  href="{{ asset('files/profile/'~  documents.fileDescriptor.path) }}" >
                        <i class="fa fa-eye color-header" aria-hidden="true"></i>
                    </a>&nbsp;&nbsp;
                {% else %}
                    <a data-pdf-loader-queue="{{ documents.fileDescriptor.path }}" class="pointer preview-file preview-file-page">
                        <i class="fa fa-eye color-header" aria-hidden="true"></i>
                    </a>&nbsp;&nbsp;
                {% endif %}
                <a data-id="{{ documents.fileDescriptor.id }}" class="color-header delete-doc pointer">
                    <i class="fa fa-trash pl-1" aria-hidden="true"></i>
                </a>
            </td>
        </tr>
        <script>
            $( document ).ready(function() {
                $('#{{ name }}').on('change', function (e) {
                    if ($("#{{ name }}").val()) {
                        let formdata = new FormData();
                        let fileLength = $("#{{ name }}").get(0).files.length;
                        for (let i = 0; i < fileLength; i++) {
                            let file = $("#{{ name }}").get(0).files[i];
                            formdata.append("{{ name }}[]", file);
                        }
                        let url = '/trainer/profile/saveDocuments';
                        formdata.append('profileId', '{{ profileId }}');
                        $.ajax({
                            type: 'post',
                            url: url,
                            data : formdata,
                            processData: false,
                            contentType: false,
                            success: function (response) {
                                const textTemplateNode = $('#upload-file-modal-text');
                                swal(textTemplateNode.data('success-header'), textTemplateNode.data('success-comment'), "success", {
                                    button: "Ok",
                                }).then(function(){
                                    location.reload();
                                });
                            },
                            error: function (err) {
                                swal(
                                    textTemplateNode.data('failure-header'),
                                    data.messages.uploadedBytes?textTemplateNode.data('failure-uploaded-bytes'):textTemplateNode.data('failure-comment'),
                                    "error",
                                    { button: 'Ok' }
                                );
                            }
                        });
                    }
                });
            });
        </script>
    {% endif %}
{% else %}
    <tr>
        <td>{{ category }}</td>
        <td></td>
        <td class="bold">Missing</td>
        <td class="text-center">
            <label for="{{ name }}" class="pointer color-header">
                <i class="fa fa-upload" aria-hidden="true"></i>
            </label>&nbsp;&nbsp;&nbsp;&nbsp;
            <input class="d-none uploadFile" id="{{ name }}" type="file" multiple name="{{ name~'[]' }}"/>
            <a class="text-gray">
                <i class="fa fa-download" aria-hidden="true"></i>
            </a>&nbsp;&nbsp;&nbsp;
            <a  class="text-gray">
                <i class="fa fa-eye pl-1" aria-hidden="true"></i>
            </a>&nbsp;&nbsp;
            <a  class="text-gray">
                <i class="fa fa-trash pl-1" aria-hidden="true"></i>
            </a>

        </td>
    </tr>
    <script>
        $( document ).ready(function() {
            $('#{{ name }}').on('change', function (e) {
                if ($("#{{ name }}").val()) {
                    let formdata = new FormData();
                    let fileLength = $("#{{ name }}").get(0).files.length;
                    for (let i = 0; i < fileLength; i++) {
                        let file = $("#{{ name }}").get(0).files[i];
                        formdata.append("{{ name }}[]", file);
                    }
                    let url = '/trainer/profile/saveDocuments';
                    formdata.append('profileId', '{{ profileId }}');
                    $.ajax({
                        type: 'post',
                        url: url,
                        data : formdata,
                        processData: false,
                        contentType: false,
                        success: function (response) {
                            const textTemplateNode = $('#upload-file-modal-text');
                            swal(textTemplateNode.data('success-header'), textTemplateNode.data('success-comment'), "success", {
                                button: "Ok",
                            }).then(function(){
                                location.reload();
                            });
                        },
                        error: function (err) {
                            swal(
                                textTemplateNode.data('failure-header'),
                                data.messages.uploadedBytes?textTemplateNode.data('failure-uploaded-bytes'):textTemplateNode.data('failure-comment'),
                                "error",
                                { button: 'Ok' }
                            );
                        }
                    });
                }
            });
        });
    </script>
{% endif %}



