<div>
    <label class="c-black t-medium marg-r-10">
        <p>{{ 'global.upload_attendance_report'|trans|capitalize }}</p>
        {% if templateFile %}
            {{ include('molecules/widgets/download-file.html.twig', { document: templateFile, type: "documents" }) }}
        {% endif %}
    </label>
    <div class="attendance-file-uploader">
        <label for="attendance-report-upload"
               class="btn btn-deepmark-blue btn-sm attendance-report-upload">{{ 'buttons.choose'|trans }}
            <div class="ripple-container"></div>
        </label>
        <span id="attendance-filename">
            {% if reportFile %}
                {#<a data-id="{{ reportFile.id }}" title="Delete" data-type="attendance" class="deleteFile cursorPointer"><i class="fa fa-trash no-margin"></i></a>#}
                {{ include('molecules/widgets/download-file.html.twig', { document: reportFile, type: "documents" }) }}
            {% endif %}
        </span>
        <input type="file" id="attendance-report-upload" data-type="learner" name="file"
               class="inputUploadFile visual-hide"
               accept="application/msword,application/vnd.ms-excel,application/vnd.ms-powerpoint,text/plain,application/pdf">
    </div>
</div>