
<div class="row col-md-12 pad-t-15 text-white pad-b-15 backgroud-header">
    <div class="col-2">
        <i class="fa fa-users font-size-18"></i>
    </div>
    <div class="col-8 text-center ">
        <p class="no-margin text-white bold font-size-18">{{ 'global.learners' |trans|upper ~ ' (' ~ bookingAgendas|length ~ ') ' }}</p>
    </div>
    <div class="col-md-2 text-right">
        <i class="fa fa-angle-down" id="myLearnerClick" data-toggle="collapse" href="#myLearner"  aria-expanded="true" aria-controls="myLearner"></i>
    </div>
</div>
<div class="col-md-12 no-padding collapse"  id="myLearner">
{% if groupEntities|length != 0 %}

    {% for key, entity in groupEntities %}
        <div class="row col-md-12 text-center  pad-t-15 text-white pad-b-15 backgroud-deepmark-light">
            <div class="col-md-2 text-left">
                <i class="fa fa-users color-header font-size-18"></i>
            </div>
            <div class="col-md-8">
                <p class="no-margin color-header font-size-18"> <b class="bold">{{ entity.organisationName  }}</b> - {{ entity.entityName }}</p>
            </div>
            <div class="col-md-2 text-right">
                <i class="fa fa-angle-down color-header" data-toggle="collapse" href="#entity{{ key }}"  aria-expanded="true" aria-controls="entity{{ key }}"></i>
            </div>
        </div>

        <div id="entity{{ key }}" class="collapse no-padding col-md-12 ">
            <div class="row col-md-12 font-size-13 pad-10 text-center word-break border-bottom bold">
                <div class="col-md-3 pad-l-5 pad-r-5">{{ 'global.fullname_txt'|trans }}</div>
                <div class="col-md-3 pad-l-5 pad-r-5 border-left-header">{{ 'global.email'|trans }}</div>
                <div class="col-md-3 pad-l-5 pad-r-5 border-left-header">{{ 'table.function'|trans }}</div>
                <div class="col-md-3 pad-l-5 pad-r-5 border-left-header">{{ 'global.workplace'|trans }}</div>
            </div>
            {% for i, learner in entity.learners %}
                <div class="row col-md-12 font-size-13 pad-10 text-center word-break border-bottom ">
                    <div class="col-md-3 pad-l-5 pad-r-5">{{ learner.firstName ~ ' ' ~ learner.lastName }}</div>
                    <div class="col-md-3 pad-l-5 pad-r-5 border-left-header flex--center justify-content-start">&nbsp;&nbsp;&nbsp;{{ learner.person.email }}</div>
                    <div class="col-md-3 pad-l-5 pad-r-5 border-left-header">{{ learner.position }}</div>
                    <div class="col-md-3 pad-l-5 pad-r-5 border-left-header text-gray">
                        {{ learner.workplace.designation | default('') }}
                    </div>
                </div>
            {% endfor %}
        </div>

    {% endfor %}
{% endif %}
</div>
{#<div class="col-md-6 marg-t-10 no-padding-left no-padding-mobile">
    <button class="btn btn-block border-radius-0 btn-deepmark">
        <div class="row">
            <div class="col-md-2">
                <i class="fa fa-envelope font-size-20" aria-hidden="true"></i>
            </div>
            <div class="col-md-8">
                {{ 'global.group_sms' |trans }}
            </div>
            <div class="col-md-2"></div>
        </div>
    </button>

</div>
<div class="col-md-6 marg-t-10 no-padding-right no-padding-mobile">
    <button class="btn btn-block border-radius-0 btn-deepmark">
        <div class="row">
            <div class="col-md-2">
                <i class="fa fa-envelope font-size-20" aria-hidden="true"></i>
            </div>
            <div class="col-md-8">
                {{ 'global.group_email' |trans }}
            </div>
            <div class="col-md-2"></div>
        </div>
    </button>
</div>#}

