<div class="text-left">
    {% set audioType = ["wav", "mp3", "MP3", "WAV"] %}
    {% set videoType = ["mp4", "mov", "ogg", "MP4", "MOV", "OGG"] %}
    {% set imgType = ["png", "PNG", "JPG", "jpg", "JPEG", "jpeg"] %}

    <div class="file-uploader ">
        <span class="d-none" id="filename"></span>
        {% if reportFile %}
            <div class="btn-deepmark-light pad-10 row" style="height: 41px;">
                <div class="col-md-7 no-padding color-header font-size-12 text-uppercase">{{ 'global.view_report'|trans }}</div>
                <div class="col-md-5 no-padding text-right">
                    <a download href="{{ asset('files/reports/'~  reportFile.fileDescriptor.path) }}"
                       class="color-header pointer">
                        <i class="far fa-arrow-to-bottom"></i>&nbsp;&nbsp;
                    </a>&nbsp;&nbsp;
                    {% set fileFormat = reportFile.fileDescriptor.mimeType %}
                    {% if fileFormat in imgType or fileFormat in videoType or fileFormat in audioType %}
                        <a target="_blank" href="{{ asset('files/reports/'~  reportFile.fileDescriptor.path) }}">
                            <i class="fa fa-eye color-header" aria-hidden="true"></i>
                        </a>&nbsp;&nbsp;
                    {% else %}
                        <a data-pdf-loader-queue="{{ '/files/reports/'~ reportFile.fileDescriptor.path }}"
                           class="pointer preview-file">
                            <i class="fa fa-eye color-header" aria-hidden="true"></i>
                        </a>&nbsp;&nbsp;
                    {% endif %}
                </div>
            </div>
        {% endif %}

        {% if  reportFile is empty %}
            <label for="report-upload" style="height: 41px;"
                   class="btn border-radius-0 {{ isNeedReport is not null ? 'btn-deepmark' : 'btn-deepmark-grey' }} btn-block report-upload marg-0 pad-l-10 pad-r-10 {% if reportFile %}disabled{% endif %}">
                <div class="row">
                    <div class="col-md-1 text-center no-padding">
                        <i class="far fa-arrow-from-bottom font-size-18"></i>
                    </div>
                    <div class="col-md-10 no-padding">
                        {{ 'global.upload_report'|trans|capitalize }}
                    </div>
                    <div class="col-md-1 ripple-container"></div>
                </div>
            </label>
            <input {{ isNeedReport is not null ? '' : 'disabled' }} type="file" id="report-upload" data-type="learner" name="file" class="inputUploadFile visual-hide"
                   accept="application/msword,application/vnd.ms-excel,application/vnd.ms-powerpoint,text/plain,application/pdf">
        {% endif %}
    </div>

    {% if appId == constant('\\ApiBundle\\Entity\\StoredModule::ONLINE') %}
        {% if grade is empty %}
            <a data-toggle="modal" data-target="#leanerGrade"
                    class="btn btn-block border-radius-0 pad-l-10 pad-r-10 marg-t-10 btn-deepmark">
                <div class="row">
                    <div class="col-md-1 no-padding">
                        <i class="fa fa-info-circle" aria-hidden="true"></i>
                    </div>
                    <div class="col-md-10 no-padding ">
                        {{ 'global.give_learner_score'|trans|capitalize }}
                    </div>
                    <div class="col-md-1"></div>
                </div>
            </a>

            <div id="leanerGrade" class="modal fade col-md-12" tabindex="-1" role="dialog">
                <div class="modal-dialog modal-xs" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h3 class="modal-title no-margin color-header font-size-18 bold text-uppercase">Give score</h3>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="text-center marg-b-20 marg-t-20">
                                <fieldset name="grade" class="marg-r-10">
                                    <input class="color-header font-size-50" type="number" data-grade="user" name="grade"
                                           value="{{ grade }}" min="0">
                                    <span class="marg-l-10 marg-r-10 color-header font-size-50">/ 100%</span>
                                    <input type="hidden" data-grade="max" name="grade" value="100" min="0">
                                </fieldset>
                            </div>
                            <button class="btn btn-deepmark" data-send="grade" id="give_grade">
                                Validate
                                <div class="ripple-container"></div>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        {% else %}
            <div class="btn-deepmark-light marg-t-10 no-padding row" style="height: 41px;">
                <div class="col-md-7 pad-10 color-header font-size-12 text-uppercase">{{ 'global.session_score'|trans }}</div>
                <div class="col-md-5 pad-10 btn-deepmark text-center" style="height: 41px;">
                    <span class="text-white font-size-20 bold">{{ grade }}%</span>
                </div>
            </div>
        {% endif %}
    {% endif %}
</div>