{#
    Skills list box
    Needs an array of Skill { title, status }
    Status : { validate, rejected, pending }
#}

<div class="skills-list " >
    {% for skillressource in skills %}
        <div class="skills-list__item row no-padding">
            <div class="col-md-2 text-center no-padding">
                {% if skillressource.status == constant('ApiBundle\\Entity\\SkillResourceVarietyProfile::STATUS_DENY') %}
                    {% set status = 'rejected' %}
                {% elseif skillressource.status == constant('ApiBundle\\Entity\\SkillResourceVarietyProfile::STATUS_UNKNOWN') %}
                    {% set status = 'pending' %}
                {% else %}
                    {% set status = 'validate' %}
                {% endif %}
                <span >
                {% if status == 'validate' %}
                    <label class="status-validate"></label>
                {% elseif status == 'rejected' %}
                    <label class="status-deny"></label>
                {% else %}
                    <label class="status-pending"></label>
                {% endif %}
            </span>
            </div>
            <div class="col-md-8 no-padding">
                <span class="skills-list__item-title">{{ skillressource.skill.designation }}</span>
            </div>
            <div class="col-md-2 no-padding text-center">
                <a data-id="{{ skillressource.skill.id }}" class="deleteSkill pointer">
                    <i class="fa fa-times color-header"></i>
                </a>
            </div>
        </div>
    {% endfor %}
</div>
<div id="deleteSkill" class="modal fade col-md-12" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <form method="post" action="{{ path('trainer_delete_skill') }}">
                <div class="modal-header">
                    <h4 class="modal-title">Delete</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <p>Are you sure you want to delete this skill??</p>
                    </div>
                    <input type="hidden" name="deleteId" id="deleteId" value="">
                    <input type="hidden" name="editAdmin" id="adminEdit" value="{% if editAdmin is defined and editAdmin is not null %}{{ editAdmin }} {% endif %}">
                    <input type="hidden" name="id" id="id" value="{% if id is defined and id is not null %}{{ id }} {% endif %}">
                    <div class="col-md-12 text-right ">
                        <button id="btn-dispo-confirm" type="submit" name="button"
                                class="btn btn-sm btn-deepmark">{{ 'buttons.confirm'|trans }}</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('.deleteSkill').click(function () {
            $("#deleteSkill").modal('show');
            var id = $(this).attr('data-id');
            $("#deleteId").val(id);
        });
    });
</script>