{% extends 'base.html.twig' %}

{% block pagename %}{{ 'trainers.dashboard.title.alerts'|trans }}{% endblock %}

{% block body %}
{{ include('molecules/cards/nav/trainer-dashboard-nav.html.twig', { count: count }) }}
<div class="card card-pane">

  <div class="card-header dashboard-alerts-nav">
    <ul class="nav nav-pills" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#planningPane" role="tablist">
          <i class="fal fa-exclamation-triangle"></i> {{ 'trainers.dashboard.nav.planning'|trans }}
          <span class="badge badge-deepmark-navy">{{ alert_count.plannings }}</span>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#crPane" role="tablist">
          <i class="fal fa-exclamation-triangle"></i> {{ 'trainers.dashboard.nav.reports'|trans }}
          <span class="badge badge-deepmark-navy">{{ alert_count.reports }}</span>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#exercicesPane" role="tablist">
          <i class="fal fa-exclamation-triangle"></i> {{ 'trainers.dashboard.nav.exercice'|trans }}
          <span class="badge badge-deepmark-navy">{{ alert_count.exercices }}</span>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#msgPane" role="tablist">
          <i class="fal fa-exclamation-triangle"></i> {{ 'trainers.dashboard.nav.messages'|trans }}
          <span class="badge badge-deepmark-navy">{{ alert_count.messages }}</span>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#billingsPane" role="tablist">
          <i class="fal fa-exclamation-triangle"></i> {{ 'sidebar.billings'|trans }}
          <span class="badge badge-deepmark-navy">{{ alert_count.billings }}</span>
        </a>
      </li>
    </ul>
  </div>

  <div class="card-body">
    <div class="tab-content tab-space">

      <!-- ALERT PLANNING -->
      <div class="tab-pane active" id="planningPane">
        <h3 class="text-deepmark-red">{{ 'trainers.alerts.planning.activities_of_the_day'|trans }}</h3>
        {{ include('molecules/tables/interventions-table.html.twig', { bookings: bookings }) }}
      </div>

      <!-- ALERT REPORTS -->
      <div class="tab-pane" id="crPane">
        <h3 class="text-deepmark-red">
          {{ count_reports_un_realised }} {{ 'trainers.alerts.reports.reports_not_made_ontime'|trans }}
        </h3>
        {{ include('molecules/tables/reports-table.html.twig', { reports: reports_un_realised }) }}

        <h3 class="text-deepmark-red">
          {{ count_reports_un_validated }} {{ 'trainers.alerts.reports.reports_not_validate_by_admin'|trans }}
        </h3>
        {{ include('molecules/tables/reports-table.html.twig', { reports: reports_un_validated }) }}

        <h3 class="text-deepmark-red">
          {{ count_reports_rejected }} {{ 'trainers.alerts.reports.rejected_unpresented_reports'|trans }}
        </h3>
        {{ include('molecules/tables/reports-table.html.twig', { reports: reports_rejected }) }}

      </div>


      <!-- ALERT EXERCICES -->
      <div class="tab-pane" id="exercicesPane">
        <h3 class="text-deepmark-red">
          {% if count_exercices_not_ontime is defined %}
          {{ count_exercices_not_ontime }}
          {% else %}
          0
          {% endif %}
          {{ 'trainers.alerts.exercices.count_exercices_not_ontime' |trans }}
        </h3>
        <!-- DISPLAY EXERCICES NOT CORRECTED ON TIME -->
        {{ include('molecules/tables/reports-table.html.twig', { reports: [] }) }}

        <h3 class="text-deepmark-red">
          {% if count_exercices_not_ontime is defined %}
          {{ count_exercices_not_ontime }}
          {% else %}
          0
          {% endif %}
          {{ 'trainers.alerts.exercices.count_exercices_not_validated_by_admin' |trans }}
        </h3>
        <!-- DISPLAY EXERCICES NOT VALIDATED BY THE ADMIN -->
        {{ include('molecules/tables/reports-table.html.twig', { reports: [] }) }}
      </div>


      <!-- ALERT MESSAGES -->
      <div class="tab-pane" id="msgPane">
        {{ include('molecules/tables/list-trainer-alert-message.html.twig', { messages: [] }) }}

      </div>



      <!-- ALERT BILLINGS -->
      <div class="tab-pane" id="billingsPane">
        <h3 class="text-deepmark-red">{{ count_invoice_overdelay }} {{ 'trainers.alerts.billings.activity_not_invoice_for'|trans}} 1 {{ 'trainers.alerts.billings.month'|trans }}</h3>

        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Org.</th>
                <th>{{ 'trainers.alerts.billings.entity'|trans }}</th>
                <th>{{ 'trainers.alerts.billings.sponsor'|trans }}</th>
                <th>{{ 'trainers.alerts.billings.product_to_invoice'|trans }}</th>
                <th>{{ 'trainers.alerts.billings.date'|trans }}</th>
                <th>{{ 'trainers.alerts.billings.invoice_number'|trans }}</th>
                <th>{{ 'trainers.alerts.billings.amount'|trans }}</th>
                <th>{{ 'trainers.alerts.billings.actions'|trans }}</th>
                <th>
                  <div class="form-check">
                    <label class="form-check-label">
                      <input class="form-check-input check-all-input" type="checkbox" value="">
                      <span class="form-check-sign">
                        <span class="check"></span>
                      </span>
                    </label>
                  </div>
                </th>
              </tr>
            </thead>

            <tbody>

              {% for activity in activities %}
              <tr>
                <td>
                  <div class="img-container">
                    <img src="{{ asset('img/Logo_BNP.png') }}" alt="">
                  </div>
                </td>
                <td>
                  {{ activity.entity }}
                </td>
                <td>
                  {{ activity.firstname }} {{ activity.lastname }}<br>
                  {{ activity.mobile }}<br>
                  {{ activity.email }}
                </td>
                <td>
                  {{ activity.product_to_invoice }}
                </td>
                <td>
                  {{ activity.date }}
                </td>
                <td>
                  {{ activity.invoice_number }}
                </td>
                <td>
                  {{ activity.amount }}
                </td>
                <td>
                  <a href="#"><i class="fal fa-eye"></i></a>
                  <a href="#"><i class="fal fa-pen"></i></a>
                  <a href="#"><i class="fal fa-trash"></i></a>
                </td>
                <td>
                  <div class="form-check">
                    <label class="form-check-label">
                      <input class="form-check-input" type="checkbox" value="">
                      <span class="form-check-sign">
                        <span class="check"></span>
                      </span>
                    </label>
                  </div>
                </td>
              </tr>

              {% endfor %}

            </tbody>
          </table>
        </div>

        <div class="text-right">
          <a href="#" class="btn btn-sm btn-deepmark-green">{{ 'trainers.alerts.billings.send_invoice_by_mail'|trans }}</a>
        </div>
      </div>



    </div>

  </div>
</div>
{% endblock %}
