{% extends "base.html.twig" %}

{% block pagename %}Exercices{% endblock %}

{% block body %}

{{ include('molecules/cards/nav/trainer-dashboard-nav.html.twig', { count: count }) }}
<div class="card">
  <div class="card-body">
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
              <tr>
                <th>Intervention</th>
                <th>Intervention</th>
                <th>Intervention</th>
                <th>Intervention</th>
                <th>Intervention</th>
              </tr>
            </thead>
            <tbody>
              {% for exercice in exercices %}
                <tr>
                  <td></td>
                </tr>
              {% endfor %}
            </tbody>
        </table>
    </div>
  </div>
</div>
{% endblock %}
