{% extends "base.html.twig" %}

{% block pagename %}{% trans %}Dashboard{% endtrans %}{% endblock %}
{% block title %}{{ 'learners.dashboard.title'|trans }}{% endblock %}

{% block body %}
    <style>
        .to-do-list .label-number {
            top:0px;!important;
            right: 0px!important;
        }
    </style>
    <div class="row header">
        <div class="col-md-7 no-padding bg-white marg-t-15 border-radius-10"  >
            <div class="row marg-t-15">
                <div class="col-md-3 flex--center justify-content-start">
                    {% if api.profile is not null %}
                        <p style="bottom: 0; position: absolute;" class="no-margin font-size-13 bold color-header">
                            {{ 'global.time_zone'|trans }} : {{ api.profile.person.timeZone.timeZone }}
                        </p>
                    {% endif %}
                </div>
                <div class="col-md-6 flex--center">
                    <h3 style="bottom: 0;" class="text-center bold no-margin color-header font-size-30">{{ 'trainers.planning.title'|trans }}</h3>
                </div>
                <div class="col-md-3 pad-t-15 pad-r-30 flex--center justify-content-end">
                    <div class="position-relative ">
                        <label class="label-number" id="numberBooking"></label>
                        <img width="30" height="30" src="{{ asset('images/dashboard-calendar.jpg') }}">
                    </div>
                </div>
            </div>
            <div id="dashboard-learner" class="col-md-12 pad-t-20 dashboard">
                <div id="monthDashboard">
                    {{ include('molecules/calendar/calendar-legend.twig', { user: 'learner'}) }}
                    <div id="trainerDashboardCalendar"></div>
                </div>
                <!-- Modal show the booked session -->

                {{ include('molecules/modal/calendar-trainer-module-detail.html.twig') }}
            </div>
        </div>
        <div class="col-md-5 pad-l-10 font-size-12 pad-r-0 pad-t-0 pad-b-0 to-do-list " >
            <div class="col-md-12 pad-t-10 no-padding bg-white marg-t-15 pad-b-15 border-radius-10 pad-t-10" >
                <div class="row">
                    <div class="col-md-12 no-padding">
                        <h3 class="text-center bold color-header font-size-30" >{{ 'global.my_to_do_list'|trans }}</h3>
                    </div>
                </div>

                <div class="col-md-12 pad-l-0 pad-r-10 row marg-b-20 marg-t-20">
                    <div class="col-md-3 no-padding flex--center">
                        <div class="flex--center icon-to-do-list" >
                            <label class="label-number">0</label>
                            <img width="40" height="40" src="{{ asset('images/exercice.png') }}">
                        </div>
                    </div>
                    <div class="col-md-6 flex--center no-padding color-header font-size-14 justify-content-lg-start">{{ 'global.exercices_to_correct'|trans }}</div>
                    <div class="col-md-3 flex--center no-padding">
                        <a href="{{ url('trainer_exercices_index') }}" class="btn btn-launch btn-border-header btn-block text-capitalize no-margin font-size-14">{{ 'global.go'|trans }}</a>
                    </div>
                </div>
                <div class="col-md-12 pad-l-0 pad-r-10  row marg-b-20" >
                    <div class="col-md-3 flex--center no-padding">
                        <div class="flex--center icon-to-do-list" >
                            <label class="label-number">{{ reportsToDo|length }}</label>
                            <img width="40" height="40" src="{{ asset('images/report.png') }}">
                        </div>
                    </div>
                    <div class="col-md-6 flex--center no-padding color-header font-size-14 justify-content-lg-start" >{{ 'global.report_to_do'|trans }}</div>
                    <div class="col-md-3 flex--center no-padding">
                        <a href="{{ url('trainer_reports_index') }}" class="btn-launch btn btn-border-header btn-block text-capitalize no-margin font-size-14">{{ 'global.go'|trans }}</a>
                    </div>
                </div>
                <div class="col-md-12 pad-l-0 pad-r-10  row marg-b-20">
                    <div class="col-md-3 flex--center no-padding">
                        <div class="flex--center icon-to-do-list" >
                            <label class="label-number">{{ coursesCreated|length }}</label>
                            <img width="40" height="40" src="{{ asset('images/mission.png') }}">
                        </div>
                    </div>
                    <div class="col-md-6 flex--center no-padding color-header font-size-14 justify-content-lg-start" >{{ 'global.new_missions'|trans }}</div>
                    <div class="col-md-3 flex--center no-padding">
                        <a href="{{ url('trainer_missions_index') }}" class="btn-launch btn btn-border-header btn-block text-capitalize no-margin font-size-14">{{ 'global.go'|trans }}</a>
                    </div>
                </div>

                <div class="col-md-12 pad-l-0 pad-r-10  row pad-b-15">
                    <div class="col-md-3 flex--center no-padding">
                        <div class="flex--center icon-to-do-list" >
                            <label class="label-number">{{ coursesCreated|length }}</label>
                            <img width="40" height="40" src="{{ asset('images/mission.png') }}">
                        </div>
                    </div>
                    <div class="col-md-6 flex--center no-padding color-header font-size-14 justify-content-lg-start" >{{ 'global.update_planning'|trans }}</div>
                    <div class="col-md-3 flex--center no-padding">
                        <a href="{{ url('trainer_planning_index') }}" class="btn-launch  btn btn-border-header btn-block text-capitalize no-margin font-size-14">{{ 'global.go'|trans }}</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 pad-t-20 bg-white marg-t-15 pad-b-15 border-radius-10" >
            <div class="row" >
                <div class="col-md-1"></div>
                <div class="col-md-10 no-padding">
                    <h3 class=" color-header text-center bold marg-b-15 font-size-30 marg-t-0 no-margin">{{ 'global.my_current_missions'|trans }}</h3>
                </div>
                <div class="col-md-1 no-padding flex--center">
                    <div class="position-relative">
                        <label class="label-number" >{{ courses|length + coursesCreated|length }}</label>
                        <img width="35" height="30" src="{{ asset('images/course.jpg') }}">
                    </div>
                </div>
            </div>
            <div class="col-md-12 no-padding"  id="divCourse" >
                <div class="row no-padding">
                    {% for key, row in coursesCreated %}

                        <div class="col-md-3 pad-l-5 pad-r-5">
                            <div class="card card-chart">
                                {% set urlCourse = path('trainer_missions_show', {id: row.intervention.id}) %}
                                <a href="{{ urlCourse }}">
                                    <div class="card-header no-padding bg-header" style="{% if row.intervention.logo is not null %} background:  linear-gradient(rgb(0, 0, 0,.3),rgb(0, 0, 0,.3)), url('/files/{{ row.intervention.logo.path }}'); {% else %} background: linear-gradient(rgb(0, 0, 0,.3),rgb(0, 0, 0,.3))  {% endif %}   ">
                                        <div class="row">
                                            <div class="col-2 col-md-2 col-sm-2 no-padding">
                                                <img src="/images/resize_new-course.png" width="100%" height="50">
                                            </div>
                                            <div class="col-md-8 col-8 col-sm-8 no-padding d-flex justify-content-center align-items-center">
                                            </div>
                                            <div class="col-md-2 col-2 col-sm-2 no-padding"></div>
                                        </div>
                                    </div>
                                </a>
                                <div class="pad-5">
                                    <b class="font-size-13 font-weight-800 card-title long-text">{{ row.intervention.designation }}</b>
                                    <p  class="font-size-12 text-gray">Available from {{ row.intervention.beginning|date("d/m/Y") }} to {{ row.intervention.ending|date("d/m/Y") }}</p>

                                    <div class="row d-flex align-items-center justify-content-center my-course-action font-size-13" >
                                        <div id="divDesCreated{{ key }}" class="col-md-12 pad-b-10 pad-t-10 pad-l-0 pad-r-0 d-none border-top">
                                            <b class="font-weight-800">Course Description</b><br>
                                            <span>{{ row.intervention.comment|raw }}</span>
                                        </div>
                                        <div class="col-md-4 col-8 text-center left-mobile no-padding course-time">
                                            <embed src="/images/clock.svg" width="22" height="28"
                                                   type="image/svg+xml"/>
                                            <span class="font-size-12 text-gray">{{ row.totalDuration }}</span>
                                        </div>

                                        <div class="col-md-2 col-4 text-center right-mobile no-padding">
                                            <a data-id="{{ key }}" id="plusBtnCreated{{ key }}" class="pointer plusBtnCreated"><i  class="fa fa-plus-circle font-size-22 c-light" aria-hidden="true"></i></a>
                                            <a data-id="{{ key }}" id="minusBtnCreated{{ key }}" class="pointer minusBtnCreated d-none"><i class="fa fa-minus-circle font-size-22 c-light" aria-hidden="true"></i></a>
                                        </div>
                                        <div class="col-md-6 text-right no-padding">
                                            <a  href="{{ path('trainer_missions_show', {id: row.intervention.id}) }}"  class="btn btn-launch btn-border-header btn-block no-margin">{{ 'email.view'|trans }} <i class="fas fa-arrow-right"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    {% endfor %}
                    {% for key, row in courses %}

                        <div class="col-md-3 pad-l-5 pad-r-5">
                            <div class="card card-chart">
                                {% set urlCourse = path('trainer_missions_show', {id: row.intervention.id}) %}
                                <a href="{{ urlCourse }}">
                                    <div class="card-header bg-header d-flex justify-content-center align-items-center" style="{% if row.intervention.logo is not null %} background:  linear-gradient(rgb(0, 0, 0,.3),rgb(0, 0, 0,.3)), url('/files/{{ row.intervention.logo.path }}'); {% else %} background: linear-gradient(rgb(0, 0, 0,.3),rgb(0, 0, 0,.3))  {% endif %}   ">
                                    </div>
                                </a>
                                <div class="pad-5">
                                    <b class="font-size-13 font-weight-800 card-title long-text">{{ row.intervention.designation }}</b>
                                    <p  class="font-size-12 text-gray">{{ 'global.available_from'|trans }} {{ row.intervention.beginning|date("d/m/Y") }} {{ 'global.available_to'|trans }} {{ row.intervention.ending|date("d/m/Y") }}</p>

                                    <div class="row d-flex align-items-center justify-content-center my-course-action font-size-13" >
                                        <div id="divDes{{ key }}" class="col-md-12 pad-b-10 pad-t-10 pad-l-0 pad-r-0 d-none border-top">
                                            <b class="font-weight-800">{{ 'global.course_description'|trans }}</b><br>
                                            <span>{{ row.intervention.comment|raw }}</span>
                                        </div>
                                        <div class="col-md-4 col-8 text-center left-mobile no-padding course-time">
                                            <embed src="/images/clock.svg" width="22" height="28"
                                                   type="image/svg+xml"/>
                                            <span class="font-size-12 text-gray">{{ row.totalDuration }}</span>
                                        </div>

                                        <div class="col-md-2 col-4 text-center right-mobile no-padding">
                                            <a data-id="{{ key }}" id="plusBtn{{ key }}" class="pointer plusBtn"><i  class="fa fa-plus-circle font-size-22 c-light" aria-hidden="true"></i></a>
                                            <a data-id="{{ key }}" id="minusBtn{{ key }}" class="pointer minusBtn d-none"><i class="fa fa-minus-circle font-size-22 c-light" aria-hidden="true"></i></a>
                                        </div>
                                        <div class="col-md-6 text-right no-padding">
                                            {% if row.intervention.beginning|date("Y/m/d") <= "now"|date("Y/m/d") and row.intervention.ending|date("Y/m/d") >= "now"|date("Y/m/d") %}
                                                <a  href="{{ path('trainer_missions_show', {id: row.intervention.id}) }}"  class="btn btn-launch backgroud-header btn-block no-margin">{{ 'email.view'|trans }} <i class="fas fa-arrow-right"></i></a>
                                            {% else %}
                                                <label class="text-warning">{{ 'learners.courses.expired'|trans }}</label>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    {% endfor %}


                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/trainer/dashboard-calendar.js') }}"></script>
    <script>

        var myElement = document.getElementById('divCourse');
        new SimpleBar(myElement, { autoHide: true });
        $(document).ready(function () {
            $('.plusBtn').on('click', function () {
                var id = $(this).attr("data-id");
                $("#plusBtn"+id).addClass('d-none');
                $("#minusBtn"+id).removeClass('d-none');
                $("#divDes"+id).removeClass('d-none');

            });
            $('.minusBtn').on('click', function () {
                var id = $(this).attr("data-id");
                $("#plusBtn"+id).removeClass('d-none');
                $("#minusBtn"+id).addClass('d-none');
                $("#divDes"+id).addClass('d-none');

            });
            $('.plusBtnCreated').on('click', function () {
                var id = $(this).attr("data-id");
                $("#plusBtnCreated"+id).addClass('d-none');
                $("#minusBtnCreated"+id).removeClass('d-none');
                $("#divDesCreated"+id).removeClass('d-none');

            });
            $('.minusBtnCreated').on('click', function () {
                var id = $(this).attr("data-id");
                $("#plusBtnCreated"+id).removeClass('d-none');
                $("#minusBtnCreated"+id).addClass('d-none');
                $("#divDesCreated"+id).addClass('d-none');

            });
        });
    </script>
{% endblock %}

