{% if bookings is defined%}
    {% for booking in bookings %}
        <tr class="interv-tr" data-id="{{loop.index}}">

            {% if interv.organisation is defined and org == true %}
                <td>
                    <div class="img-container">
                        <img src="{{ interv.org }}" alt="">
                    </div>
                    {{ booking.module.intervention.designation }}
                </td>
            {% else %}
                <td>
                    {{ booking.module.intervention.designation }}
                </td>
            {% endif %}

            <td>
                {{ booking.learner.entity.organisation.designation }} {{ booking.learner.entity.designation }}
            </td>

            <td>
                {% if learner is defined and learner == true %}
                    {{ booking.trainer.displayName }}
                {% else %}
                    {{ booking.learner.displayName }}
                {% endif %}
            </td>

            <td>
                {% if  booking.module.storedModule is defined%}
                    {{ booking.module.storedModule.designation }}
                {% endif %}
            </td>

            <td>
                {% if booking.bookingDate is defined and booking.module.duration is defined %}
                    {{ booking.bookingDate|date("d/m/Y") }} at {{ booking.bookingDate|date("H:i") }} <br>{{ booking.module.duration|date('H:i') }}
                {% endif %}
            </td>

            <td>
                {% if (date(booking.module.beginning) <= date() and date(booking.module.ending) >= date()) and date(booking.module.intervention.beginning) <= date() and date(booking.module.intervention.ending) >= date() %}
                    {% if is_granted('ROLE_LEARNER') and interv.moduleId is defined %}
                        <a href="{{ path('learner_courses_show', { 'id': interv.id }) }}?launch={{ interv.moduleId }}&tab=visio" class="btn btn-sm btn-deepmark-green">{{ "global.nav.start_activity"|trans }}</a>
                    {% else %}
                        {% if booking.status.appId  == constant('ApiBundle\\Entity\\Status::WITH_BOOKING_BOOKED') %}
                            {% if learner is defined and learner == true %}
                                <a href="{{ path('learner_courses_module', { 'id': booking.module.id }) }}">
                                    <button class="btn btn-deepmark-navy btn-sm"> {{ 'learners.plans.begin'|trans|capitalize }}</button>
                                </a>
                            {% else %}
                                <a href="{{ path('trainer_exercices_video_booking_agenda', {'id': booking.module.id, 'bid': booking.id }) }}">
                                    <button class="btn btn-deepmark-navy btn-sm"> {{ 'learners.plans.begin'|trans|capitalize }}</button>
                                </a>
                            {% endif %}
                        {% else %}
                            <p>{{ 'trainers.my_excercise.table.no_action'|trans|capitalize }}</p>
                        {% endif %}
                    {% endif %}
                {% else %}
                    {{ 'learners.courses.expired'|trans }}
                {% endif %}
            </td>
        </tr>
    {% endfor %}
{% endif %}