{% extends 'base.html.twig' %}

{% block pagename %}{% trans %}Live{% endtrans %}{% endblock %}
{% block title %}Live{% endblock %}

{% block body %}

  <div class="card">
    <div class="card-header card-header-icon">
      <div class="card-icon active">
        <i class="fal fa-phone"></i>
      </div>
      <h3 style="color:black">Type</h3>
    </div>
    <div class="card-body">
        <div class="col-md-6 float-left">
            <div class="row">
              <div class="col">
                <img src="{{ asset('/img/logo.svg')}}" alt="">
              </div>
              <div class="col">
                <span>Prénom</span><br>
                <span>Fonction</span><br>
                <span>Entité</span>
              </div>
              <div class="col">
                Sujet : Sujet
              </div>
            </div>

            <div class="mt-5">
                <div class="row">
                  <button type="button" name="button" class="btn btn-deepmark-blue">
                    <i class="fas fa-phone"></i>
                  </button>
                  <span class="ml-3">{{ "trainers.visio.disconected"|trans}}</span>
                </div>
                <div class="row">
                  <button type="button" name="button" class="btn btn-deepmark-blue">
                    <i class="fas fa-envelope"></i>
                  </button>
                  <span class="ml-3">{{ "trainers.visio.delay"|trans}}</span>
                </div>
                <div class="row">
                  <button type="button" name="button" class="btn btn-deepmark-blue">
                    <i class="fas fa-times"></i>
                  </button>
                  <span class="ml-3">{{ "trainers.visio.absent"|trans}}</span>
                </div>
                <div class="row">
                  <select data-style="select-with-transition" class="selectpicker col-md-6" name="">
                      <option value="">{{ "trainers.visio.session_status"|trans}}</option>
                  </select>
                </div>
                <div class="row">
                  <button type="button" name="button" class="btn btn-deepmark-blue">
                    <i class="fas fa-book"></i>
                  </button>
                  <span class="ml-3">{{ "trainers.visio.formation_doc"|trans}}</span>
                </div>
                <div class="row">
                  <button type="button" name="button" class="btn btn-deepmark-blue">
                    <i class="fas fa-list"></i>
                  </button>
                  <span class="ml-3">{{ "trainers.visio.learner_report"|trans}}</span>
                </div>
                <div class="row">
                  <button type="button" name="button" class="btn btn-deepmark-blue">
                    <i class="fas fa-calendar-check"></i>
                  </button>
                  <span class="ml-3">{{ "trainers.visio.certificate"|trans}}</span>
                </div>
            </div>
        </div>
        <div class="col-md-6  mt-5 float-right">
            <div class="row offset-4">
              <button type="button" name="button" class="btn btn-lg">
                <i class="far fa-phone"></i>
              <span class="ml-3">{{ 'trainers.visio.start_call'|trans}}</span>
              </button>
            </div>
            <div class="row offset-4">
              <button type="button" name="button" class="btn btn-lg">
                <i class="far fa-search"></i>
                <span class="ml-3">{{ 'trainers.visio.see_learner_course'|trans}}</span>
              </button>
            </div>

        </div>
    </div>
  </div>
{% endblock %}
