<div class="text-left marg-b-15">
    <div class="file-uploader">
        <span class="d-none" id="filename"></span>
            <div class="row">
                <div class="col-md-10 no-padding-left no-padding-right color-header font-size-12 text-uppercase">
                    <label for="document-upload"
                           class="border-radius-0 cursorPointer no-margin btn-deepmark btn-block document-upload pad-l-10 pad-r-10 {% if reportFile %}disabled{% endif %}">
                        <div class="row flex--center" style="height: 44px;">
                            <div class="col-md-2 text-center no-padding">
                                {% if is_granted('ROLE_ADMIN') %}
                                {% elseif is_granted('ROLE_LEARNER') %}
                                {% elseif is_granted('ROLE_TRAINER') %}
                                    <i class="fa fa-upload" aria-hidden="true"></i>
                                {% else %}
                                {% endif %}
                            </div>
                            <div class="col-md-10 text-center font-size-12 no-padding">
                                {% if is_granted('ROLE_ADMIN') %}
                                    {{ 'learners.courses.quiz.question.open.view_correction'|trans|capitalize }}
                                {% elseif is_granted('ROLE_LEARNER') %}
                                    {{ 'learners.courses.quiz.question.open.view_correction'|trans|capitalize }}
                                {% elseif is_granted('ROLE_TRAINER') %}
                                    {{ 'learners.courses.quiz.question.open.mark_upload_file'|trans|capitalize }}
                                {% else %}
                                    {{ 'learners.courses.quiz.question.open.view_correction'|trans|capitalize }}
                                {% endif %}
                            </div>
                        </div>
                        <div class="ripple-container"></div>
                    </label>
                    {% if isSubmitted != 1 %}
                    <input type="file" id="document-upload" data-type="learner" name="file"
                           class="inputUploadFile visual-hide"
                           accept="application/msword,application/vnd.ms-excel,application/vnd.ms-powerpoint,text/plain,application/pdf">
                    {% endif %}
                </div>
                {% if documentFile %}
                    <div class="col-md-2 flex--center no-padding btn-deepmark-light text-right">
                        <a download href="{{ asset(documentFile) }}" class="pointer">
                            <i class="fa fa-download color-header"></i>
                        </a>&nbsp;&nbsp;
                        <a data-pdf-loader-queue="{{ asset(documentFile) }}" class="pointer preview-file preview-file-page">
                            <i class="fa fa-eye color-header " aria-hidden="true"></i>
                        </a>
                    </div>
                {% endif %}
            </div>
    </div>
</div>