<div class="text-left">
    {% if isSubmitted %}
        <div class="btn-deepmark marg-t-10 row" style="height: 44px;">
            <div class="col-md-2 flex--center pad-l-10 pad-r-10">
                <i class="fa fa-info-circle" aria-hidden="true"></i>
            </div>
            <div class="col-md-8 pad-10 btn-deepmarkt text-white font-size-12 text-uppercase text-center">
                {{ 'global.score'|trans|capitalize }}
            </div>
            <div class="col-md-2 pad-10 btn-deepmark-light text-center">
                <span class="color-header bold">{{ grade }}%</span>
            </div>
        </div>
    {% else %}
        {% if grade != '' %}
            <div class="row" style="height: 44px;">
                <div class="col-md-10 pad-10 btn-deepmark">
                    <a data-toggle="modal" data-target="#leanerGrade"
                            class="no-padding marg-t-10 min-width cursorPointer">
                        <div class="row">
                            <div class="col-md-2 no-padding text-center">
                                <i class="fa fa-info-circle" aria-hidden="true"></i>
                            </div>
                            <div class="col-md-10 text-center no-padding font-size-12">
                                {{ 'learners.courses.quiz.question.open.give_score'|trans|upper }}
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-2 btn-deepmark-light color-header flex--center">
                    {{ grade }}%
                </div>
            </div>
        {% else %}
            <div class="row">
                <button data-toggle="modal" data-target="#leanerGrade"
                        class="btn btn-block border-radius-0 pad-l-10 pad-r-10 marg-t-0 btn-deepmark min-width col-md-10 " style="font-weight: unset!important; letter-spacing: unset!important; height: 44px!important;">
                    <div class="row">
                        <div class="col-md-2 no-padding text-center">
                            <i class="fa fa-info-circle" aria-hidden="true"></i>
                        </div>
                        <div class="col-md-10 no-padding font-size-12">
                            {{ 'learners.courses.quiz.question.open.give_score'|trans|upper }}
                        </div>
                    </div>
                </button>
                <div class="col-md-2"></div>
            </div>
        {% endif %}
        <div id="leanerGrade" class="modal fade col-md-12" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-xs" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title no-margin color-header font-size-18 bold text-uppercase">{{ 'learners.courses.quiz.question.open.give_score'|trans|upper }}</h3>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="text-center marg-b-20 marg-t-20">
                            <fieldset name="grade" class="marg-r-10">
                                <input class="color-header font-size-50" type="number" data-grade="user" name="grade"
                                       value="{{ grade }}" min="0">
                                <span class="marg-l-10 marg-r-10 color-header font-size-50">/ 100%</span>
                                <input type="hidden" data-grade="max" name="grade" value="100" min="0">
                            </fieldset>
                        </div>
                        <div class="row">
                            <div class="col-md-4"></div>
                            <div class="col-md-4">
                                <button class="btn btn-deepmark " data-send="grade" id="give_grade">
                                    {{ 'global.validate'|trans }}
                                    <div class="ripple-container"></div>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
</div>