<!-- Open Template -->
<div template-id="question-drag_and_drop">
    <div style="min-height: 283px;" class="question question-body back-ground-b" id="question-{{question_id}}">
        <div class="categoryContainer">
            <!-- Best Practice Modal -->
            {{ include('molecules/modal/add-best-practice.html.twig', {
                'modalId': 'addBestPracticeLearnerAnswer',
                'resourceType': constant('\\ApiBundle\\Entity\\BestPractice::RESOURCE_TYPE_QUIZ_LEARNER_ANSWER'),
                'resourceId': answer.id,
                'resourceParams': items.answer,
                'moduleId': answer.play.module.id,
                'entityId': answer.play.module.intervention.entity.id|default(0),
                'file_descriptor': items.file_descriptor|default()
            } ) }}
            <div class="categoryOptions ckeditorCustom">
                <!-- ANSWER FREE -->
                {% if items.answer.free is defined and items.answer.free is not empty %}
                    <div class="row">
                        <div class="col-md-12">
                            <h5 class="color-header bold text-center font-size-20">{{ 'learners.courses.quiz.question.open.free.mark_title'|trans }}</h5>
                        </div>
                        <span>{{ items.answer.free != 'false' ? items.answer.free|raw : '' }}</span>
                    </div>
                {% endif %}
                <!-- ANSWER ON DOCUMENT -->
                {% if items.answer.documents is defined and items.answer.documents is not empty %}
                    <div class="row">
                        <div class="col-md-12">
                            <h5 class="color-header bold text-center font-size-20">{{ 'learners.courses.quiz.question.open.document.mark_title'|trans }}</h5>
                        </div>
                        <div class="flex--center row col-md-12">
                        {% for type in items.answer.documents %}
                            {% if type[0] == 'xls' %}
                                {% set icon = 'excel' %}
                                {% set text = 'learners.courses.quiz.question.open.document.mark_download_xls' %}
                            {% endif %}
                            {% if type[0] == 'doc' %}
                                {% set icon = 'word' %}
                                {% set text = 'learners.courses.quiz.question.open.document.mark_download_doc' %}
                            {% endif %}
                            {% if type[0] == 'ppt' %}
                                {% set icon = 'powerpoint' %}
                                {% set text = 'learners.courses.quiz.question.open.document.mark_download_ppt' %}
                            {% endif %}
                            {% if type[0] == 'pdf' %}
                                {% set icon = 'pdf' %}
                                {% set text = 'learners.courses.quiz.question.open.documentmark_download_pdf' %}
                            {% endif %}
                            {% if type[0] == 'img' %}
                                {% set icon = 'image' %}
                                {% set text = 'learners.courses.quiz.question.open.document.mark_download_img' %}
                            {% endif %}
                            {% if type[0] == 'video' %}
                                {% set icon = 'video' %}
                                {% set text = 'learners.courses.quiz.question.open.document.mark_download_video' %}
                            {% endif %}
                            {% if type[0] == 'audio' %}
                                {% set icon = 'audio' %}
                                {% set text = 'learners.courses.quiz.question.open.document.mark_download_audio' %}
                            {% endif %}
                            {% if type[1] is not empty %}
                                <div class="col-md-4 marg-b-15 text-center">
                                    <div class="row btn-deepmark-lightblue flex--center text-white" style="height: 44px;">
                                        <div class="col-md-2 no-padding">
                                            <a target="_blank" href="/files/quiz_learner/{{ answer.play.quiz.id }}/{{ type[0] }}/{{ type[1] }}" class="pad-l-10 pad-r-10 ">
                                                <i class="fa fa-download text-white"></i>
                                            </a>
                                        </div>
                                        <div class="col-md-8 font-size-13 no-padding">
                                            {{ text |trans }}
                                        </div>
                                        <div class="col-md-2">
                                            <a data-pdf-loader-queue="/files/quiz_learner/{{ answer.play.quiz.id }}/{{ type[0] }}/{{ type[1] }}" class="pointer preview-file preview-file-page">
                                                <i class="fa fa-eye text-white" aria-hidden="true"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                        </div>
                    </div>
                {% endif %}

                <!-- ANSWER ON TEMPLATE -->
                {% if items.answer.template is defined and items.answer.template is not empty %}
                    <div class="row">
                        <div class="col-md-12">
                            <h5 class="color-header bold text-center font-size-20">{{ 'learners.courses.quiz.question.open.template.mark_title'|trans }}</h5>
                        </div>
                        <div class="col-md-4"></div>
                        <div class="col-md-4 no-padding text-center">
                            <div class="row flex--center btn-deepmark-lightblue" style="height: 44px;">
                                <div class="col-md-2 no-padding">
                                    <a target="_blank" href="/files/quiz_learner/{{ answer.play.quiz.id }}/doc/{{ items.answer.template }}" class="cursorPointer pad-l-10 pad-r-10 text-white">
                                        <i class="fa fa-download text-white"></i>
                                    </a>
                                </div>
                                <div class="col-md-8 no-padding font-size-12 text-white">
                                    {{ 'learners.courses.quiz.question.open.template.mark_download'|trans }}
                                </div>
                                <div class="col-md-2 no-padding">
                                    <a data-pdf-loader-queue="/files/quiz_learner/{{ answer.play.quiz.id }}/doc/{{ items.answer.template }}" class=" pointer preview-file preview-file-page ">
                                        <i class="fa fa-eye text-white" aria-hidden="true"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="text-center" id="step-N-q-y-image-preview"></div>
                        </div>
                        <div class="col-md-4"></div>
                    </div>
                {% endif %}
                <!-- ANSWER W/ RECORD (VIDEO) -->
                {% if items.answer.record is defined and items.answer.record is not empty %}
                    {% set typeRecord = '' %}
                    {% for item in question.items %}
                        {% if (item.type == 'open' and item.name == 'record' and item.status == 1) %}
                            {% set typeRecord = item.specifics|json_decode %}
                        {% endif %}
                    {% endfor %}
                    <!-- ANSWER W/ RECORD (VIDEO) -->
                    <div class="row">
                        <div class="col-md-12 marg-t-15">
                            <h5 class="color-header bold text-center font-size-20">{{ 'learners.courses.quiz.question.open.record.mark_title_video_audio'|trans }}</h5>
                        </div>
                        <div class="col-md-12">
                            {% if typeRecord.types[0] == 'audio' %}
                                <audio style="width: 100%;" controls>
                                    <source src="/files/quiz_learner/{{ answer.play.quiz.id }}/recording/{{ items.answer.record }}" >
                                </audio>
                            {% else %}
                                <div class="row">
                                    <div class="col-md-2"></div>
                                    <div class="col-md-8">
                                        <video width="100%" height="430" style="object-fit:contain!important;" controls>
                                            <source src="/files/quiz_learner/{{ answer.play.quiz.id }}/recording/{{ items.answer.record }}" type="video/mp4">
                                            Your browser does not support the video tag.
                                        </video>
                                    </div>
                                    <div class="col-md-2"></div>
                                </div>

                            {% endif %}
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>

<!-- Init Lib for each question when DOM Ready -->
<script type="text/javascript">
    $(document).ready(function () {
        quizService.open.init({{question_id}});
    });
</script>
