{% if app.environment == "prod" %}
    <style>
        * {
            -webkit-box-sizing: border-box;
            box-sizing: border-box
        }

        body {
            padding: 0;
            margin: 0
        }

        #notfound {
            position: relative;
            height: 100vh
        }

        #notfound .notfound {
            position: absolute;
            left: 50%;
            top: 50%;
            -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%)
        }

        .notfound {
            max-width: 520px;
            width: 100%;
            line-height: 1.4;
            text-align: center
        }

        .notfound .notfound-404 {
            position: relative;
            height: 200px;
            margin: 0 auto 20px;
            z-index: -1
        }

        .notfound .notfound-404 h1 {
            font-family: montserrat, sans-serif;
            font-size: 236px;
            font-weight: 200;
            margin: 0;
            color: #211b19;
            text-transform: uppercase;
            position: absolute;
            left: 50%;
            top: 50%;
            -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%)
        }

        .notfound .notfound-404 h2 {
            font-family: montserrat, sans-serif;
            font-size: 28px;
            font-weight: 400;
            text-transform: uppercase;
            color: #211b19;
            background: #fff;
            padding: 10px 5px;
            margin: auto;
            display: inline-block;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0
        }

        .notfound a {
            font-family: montserrat, sans-serif;
            display: inline-block;
            font-weight: 700;
            text-decoration: none;
            color: #fff;
            text-transform: uppercase;
            padding: 13px 23px;
            background: #ff6300;
            font-size: 18px;
            -webkit-transition: .2s all;
            transition: .2s all
        }

        .notfound a:hover {
            color: #ff6300;
            background: #211b19
        }

        @media only screen and (max-width: 767px) {
            .notfound .notfound-404 h1 {
                font-size: 148px
            }
        }

        @media only screen and (max-width: 480px) {
            .notfound .notfound-404 {
                height: 148px;
                margin: 0 auto 10px
            }

            .notfound .notfound-404 h1 {
                font-size: 86px
            }

            .notfound .notfound-404 h2 {
                font-size: 16px
            }

            .notfound a {
                padding: 7px 15px;
                font-size: 14px
            }
        }
    </style>
    <div id="notfound">
        <div class="notfound">
            <div class="notfound-404">
                <h1>Oops!</h1>
                <h2>
                    {% if (status_code == '403' or status_code == '503') %}
                        You are not allowed to access this page!
                    {% elseif (status_code == '404') %}
                        Sorry, we cannot reach the page now.
                    {% else %}
                        We cannot reach the page now, please try again later!
                    {% endif %}
                </h2>{#HTTP {{ status_code }} <small>{{ status_text }}</small>#}
            </div>
            <a href="javascript: history.go(-1)">Back</a>
        </div>
    </div>
{% else %}
    <div class="exception-summary {{ exception.message is empty ? 'exception-without-message' }}">
        <div class="exception-metadata">
            <div class="container">
                <h2 class="exception-hierarchy">
                    {% for previousException in exception.allPrevious|reverse %}
                        {{ previousException.class|abbr_class }}
                        <span class="icon">{{ include('@Twig/images/chevron-right.svg') }}</span>
                    {% endfor %}
                    {{ exception.class|abbr_class }}
                </h2>
                <h2 class="exception-http">
                    HTTP {{ status_code }} <small>{{ status_text }}</small>
                </h2>
            </div>
        </div>

        <div class="exception-message-wrapper">
            <div class="container">
                <h1 class="break-long-words exception-message {{ exception.message|length > 180 ? 'long' }}">
                    {{- exception.message|nl2br|format_file_from_text -}}
                </h1>

                <div class="exception-illustration hidden-xs-down">
                    {{ include('@Twig/images/symfony-ghost.svg') }}
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="sf-tabs">
            <div class="tab">
                {% set exception_as_array = exception.toarray %}
                {% set _exceptions_with_user_code = [] %}
                {% for i, e in exception_as_array %}
                    {% for trace in e.trace %}
                        {% if (trace.file is not empty) and ('/vendor/' not in trace.file) and ('/var/cache/' not in trace.file) and not loop.last %}
                            {% set _exceptions_with_user_code = _exceptions_with_user_code|merge([i]) %}
                        {% endif %}
                    {% endfor %}
                {% endfor %}
                <h3 class="tab-title">
                    {% if exception_as_array|length > 1 %}
                        Exceptions <span class="badge">{{ exception_as_array|length }}</span>
                    {% else %}
                        Exception
                    {% endif %}
                </h3>

                <div class="tab-content">
                    {% for i, e in exception_as_array %}
                        {{ include('@Twig/Exception/traces.html.twig', { exception: e, index: loop.index, expand: i in _exceptions_with_user_code or (_exceptions_with_user_code is empty and loop.first) }, with_context = false) }}
                    {% endfor %}
                </div>
            </div>

            {% if logger %}
                <div class="tab {{ logger.logs is empty ? 'disabled' }}">
                    <h3 class="tab-title">
                        Logs
                        {% if logger.counterrors ?? false %}<span class="badge status-error">{{ logger.counterrors }}</span>{% endif %}
                    </h3>

                    <div class="tab-content">
                        {% if logger.logs %}
                            {{ include('@Twig/Exception/logs.html.twig', { logs: logger.logs }, with_context = false)  }}
                        {% else %}
                            <div class="empty">
                                <p>No log messages</p>
                            </div>
                        {% endif %}
                    </div>
                </div>
            {% endif %}

            <div class="tab">
                <h3 class="tab-title">
                    {% if exception_as_array|length > 1 %}
                        Stack Traces <span class="badge">{{ exception_as_array|length }}</span>
                    {% else %}
                        Stack Trace
                    {% endif %}
                </h3>

                <div class="tab-content">
                    {% for e in exception_as_array %}
                        {{ include('@Twig/Exception/traces_text.html.twig', { exception: e, index: loop.index, num_exceptions: loop.length }, with_context = false) }}
                    {% endfor %}
                </div>
            </div>

            {% if currentContent is not empty %}
                <div class="tab">
                    <h3 class="tab-title">Output content</h3>

                    <div class="tab-content">
                        {{ currentContent }}
                    </div>
                </div>
            {% endif %}
        </div>
    </div>

{% endif %}