{% extends 'base.html.twig' %}

{% block pagename %}{{ 'admin.entity.create_new_entity'|trans }}{% endblock %}

{% block body %}
    <div class="card">
        <div class="card-header--nav">
            {{ include('molecules/cards/nav/admin-structure-organisation-nav.html.twig') }}
        </div>

        <div class="card-body">
            <h2>{{ 'admin.entity.create_new_entity'|trans }}</h2>
            {{ form_start(form) }}
            <div class="row">
                <div class="col-md-2">
                    <!-- Logo -->
                    <div class=" card--user card--trainer">
                        <div class=" card-header card-header-icon">
                    <span class="organisation-logo">
                        {{ include('molecules/tools/icon-box.html.twig', { icon: 'user', txt: 'Logo' }) }}
                    </span>
                            <div style="margin-left: 15px!important;" class="form-group">
                                <label for="logoFileEntity" class="btn btn-deepmark-orangelight btn-edit">
                                    <i class="far fa fa-upload no-margin"></i>
                                </label>
                                <input id="logoFileEntity"
                                       type="file"
                                       name="logoFile"
                                       data-type="logo"
                                       class="inputUploadPublicFile"
                                       multiple/>
                            </div>
                        </div>
                    </div>

                    <!-- Signature -->
                    <div class=" card--user card--trainer">
                        <div class=" card-header card-header-icon">
                    <span class="organisation-signature">
                        {{ include('molecules/tools/icon-box.html.twig', { icon: 'file-signature', txt: 'global.signature'|trans }) }}
                    </span>
                            <div style="margin-left: 15px!important;" class="form-group">
                                <label for="signatureFileEntity" class="btn btn-deepmark-orangelight btn-edit" data-toggle="modal" data-target="#signature-image">
                                    <i class="far fa fa-upload no-margin"></i>
                                </label>
                                <input id="signatureFileEntity" name="signatureFile" type="hidden" value="">
                                {#<input id="signatureFileEntity"
                                       type="file"
                                       name="signatureFile"
                                       data-type="logo"
                                       class="inputUploadPublicFile"
                                       multiple/>#}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-10">
                    <div class="col-md-12">
                        <div class="form-group row">
                            <div class="col-2 t-left">
                                <label for="appbundle_entity_designation" class="required">
                                    {{ 'admin.entity.designation'|trans }}
                                </label>
                            </div>
                            <div class="col-10 t-left">
                                {{ form_widget(form.designation) }}
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-2 t-left">
                                <label for="appbundle_entity_street" class="required">
                                    {{ 'admin.entity.street'|trans }}
                                </label>
                            </div>
                            <div class="col-10 t-left">
                                {{ form_widget(form.street) }}
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-2 t-left">
                                <label for="appbundle_entity_expansionStreet">
                                    {{ 'admin.entity.expansion_street'|trans }}
                                </label>
                            </div>
                            <div class="col-10 t-left">
                                {{ form_widget(form.expansionStreet) }}
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-2 t-left">
                                <label for="appbundle_entity_postalCode">{{ 'select.postal_code'|trans }}</label>
                            </div>
                            <div class="col-10 t-left">
                                {{ form_widget(form.postalCode) }}
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-2 t-left">
                                <label for="appbundle_entity_city">{{ 'admin.entity.city'|trans }}</label>
                            </div>
                            <div class="col-10 t-left">
                                {{ form_widget(form.city) }}
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-2 t-left">
                                <label for="appbundle_entity_country">
                                    {{ 'admin.entity.country'|trans }}
                                </label>
                            </div>
                            <div class="col-10 t-left">
                                {{ form_widget(form.country) }}
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-2 t-left">
                                <label class="required" for="appbundle_entity_organisation">{{ 'admin.entity.organization'|trans }}</label>
                            </div>
                            <div class="col-10 t-left">
                                {{ form_widget(form.organisation) }}
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-2 t-left">
                                <label>
                                    {{ 'global.social_reason'|trans }}
                                </label>
                            </div>
                            <div class="col-10 t-left">
                                {{ form_widget(form.socialReason) }}
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-2 t-left">
                                <label>
                                    {{ 'global.siret'|trans }}
                                </label>
                            </div>
                            <div class="col-10 t-left">
                                {{ form_widget(form.siret) }}
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-2 t-left">
                                <label>
                                    {{ 'global.declaration'|trans }}
                                </label>
                            </div>
                            <div class="col-10 t-left">
                                {{ form_widget(form.declaration) }}
                            </div>
                        </div>
                    </div>
                    <!-- Working hours -->
                    <div class="col-md-12">
                        <div class="form-group row">
                            <div class="col-2 t-left" style="color: #AAAAAA;">
                                <label for="appbundle_entity_working_hours">
                                    {{ 'trainers.planning.nav.working_hours'|trans }}
                                </label>
                            </div>
                            <div class="col-10 no-padding">
                                <div class="row">
                                    <div class="col-md-12 order-top-header no-padding">
                                        <div class="row pad-t-10">
                                            <div class="col-md-9 no-padding">
                                                <ul class="no-padding-left">
                                                    {{ include ('molecules/workingHours/newDayItem.html.twig', {'day': 'global.monday'|trans|capitalize, 'dayName': 'Monday', 'start': null, 'end': null, 'startTimeAfternoon': null, 'endTimeAfternoon': null }) }}
                                                    {{ include ('molecules/workingHours/newDayItem.html.twig', {'day': 'global.tuesday'|trans|capitalize, 'dayName': 'Tuesday', 'start': null, 'end': null, 'startTimeAfternoon': null, 'endTimeAfternoon': null  }) }}
                                                    {{ include ('molecules/workingHours/newDayItem.html.twig', {'day': 'global.wednesday'|trans|capitalize, 'dayName': 'Wednesday', 'start': null, 'end': null, 'startTimeAfternoon': null, 'endTimeAfternoon': null }) }}
                                                    {{ include ('molecules/workingHours/newDayItem.html.twig', {'day': 'global.thursday'|trans|capitalize, 'dayName': 'Thursday', 'start': null, 'end': null, 'startTimeAfternoon': null, 'endTimeAfternoon': null }) }}
                                                    {{ include ('molecules/workingHours/newDayItem.html.twig', {'day': 'global.friday'|trans|capitalize, 'dayName': 'Friday', 'start': null, 'end': null, 'startTimeAfternoon': null, 'endTimeAfternoon': null }) }}
                                                    {{ include ('molecules/workingHours/newDayItem.html.twig', {'day': 'global.saturday'|trans|capitalize, 'dayName': 'Saturday', 'start': null, 'end': null, 'startTimeAfternoon': null, 'endTimeAfternoon': null }) }}
                                                    {{ include ('molecules/workingHours/newDayItem.html.twig', {'day': 'global.sunday'|trans|capitalize, 'dayName': 'Sunday', 'start': null, 'end': null, 'startTimeAfternoon': null, 'endTimeAfternoon': null }) }}
                                                </ul>
                                            </div>
                                            <div class="col-md-3">
                                                <a id="repeatTime" class="btn pointer btn-border-header btn-sm" title="{{ 'trainers.planning.buttons.repeat'|trans }}">
                                                    {{ 'trainers.planning.buttons.repeat'|trans }}
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Working hours -->
                    </div>
                    <div class="col-md-12 text-left">
                        <a href="{{ path('admin_entity_index') }}"
                           class="btn btn-deepmark-lightgray">{{ 'buttons.cancel'|trans }}</a>
                        <button type="submit" class="btn btn-orangelight">{{ 'buttons.create'|trans }}</button>
                    </div>
                </div>
            </div>
        </div>
        {{ form_end(form) }}
    </div>
    {{ include('molecules/courses/attendance-sheet.html.twig', { bookingAgendas: [] }) }}
    <script>
        $(document).ready(function () {
            $('#logoFileEntity').on('change', function () {
                $(".organisation-logo").empty().append('<img id="logoPreview" style="border-radius: 10px;" width="100" height="100" src="" alt="">')
                readURL(this);
            });

            $('#signatureFileEntity').on('change', function () {
                $(".organisation-signature").empty().append('<img id="signaturePreview" style="border-radius: 10px;" width="100" height="100" src="" alt="">')
                readURL(this, '#signaturePreview');
            });
        });

        function readURL(input, type = '#logoPreview') {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function(e) {
                    $(type).attr('src', e.target.result);
                }

                reader.readAsDataURL(input.files[0]);
            }
        }
    </script>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/lib/signature_pad.min.js') }}"></script>
    <script src="{{ asset('js/admin/signature.js') }}"></script>
    <script src="{{ asset('js/admin/calendar/repeat-time.js') }}"></script>
{% endblock %}