{% extends 'base.html.twig' %}

{% block pagename %}{{ 'admin.entity.show_entity'|trans }}{% endblock %}

{% block body %}
    <style>
        .form-check .form-check-label {
            padding-left: 0px!important;
        }
    </style>
    <div class="card">
        <div class="card-header--nav">
            {{ include('molecules/cards/nav/admin-structure-organisation-nav.html.twig') }}
        </div>

        <div class="card-body pl-lg-5">
            <h2>{{ 'admin.entity.show_entity'|trans }}</h2>
            <table>
                <tbody>
                    <tr>
                        <th>Id</th>
                        <td>{{ entity.id }}</td>
                    </tr>
                    <tr>
                        <th>Logo</th>
                        <td>
                            {% if entity.logo is defined and entity.logo is not null %}
                                <img style="border-radius: 10px;" width="100" height="100"
                                     src="{{ entity.logo }}"
                                     alt="">
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <th>{{ 'global.signature'|trans }}</th>
                        <td>
                            {% if entity.signature is defined and entity.signature is not null %}
                                <img style="border-radius: 10px;" width="100" height="100"
                                     src="{{ entity.signature }}"
                                     alt="">
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <th>{{ 'admin.entity.designation'|trans }}</th>
                        <td>{{ entity.designation }}</td>
                    </tr>
                    <tr>
                        <th>{{ 'admin.entity.organization'|trans }}</th>
                        <td>{{ entity.organisation.designation }}</td>
                    </tr>
                    <tr>
                        <th>{{ 'admin.entity.street'|trans }}</th>
                        <td>{{ entity.street }}</td>
                    </tr>
                    <tr>
                        <th>{{ 'admin.entity.expansion_street'|trans }}</th>
                        <td>{{ entity.expansionStreet }}</td>
                    </tr>
                    <tr>
                        <th>{{ 'admin.entity.city'|trans }}</th>
                        <td>{{ entity.city }}</td>
                    </tr>
                    <tr>
                        <th>{{ 'select.postal_code'|trans }}</th>
                        <td>{{ entity.postalCode }}</td>
                    </tr>
                    <tr>
                        <th>{{ 'admin.entity.country'|trans }}</th>
                        <td>{{ entity.country }}</td>
                    </tr>
                    <tr>
                        <th>{{ 'global.social_reason'|trans }}</th>
                        <td>{{ entity.socialReason }}</td>
                    </tr>
                    <tr>
                        <th>{{ 'global.siret'|trans }}</th>
                        <td>{{ entity.siret }}</td>
                    </tr>
                    <tr>
                        <th>{{ 'global.declaration'|trans }}</th>
                        <td>{{ entity.declaration }}</td>
                    </tr>
                    <tr>
                        <th>{{ 'trainers.planning.nav.working_hours'|trans }}</th>
                        <td class="no-padding-left">
                            {% if entity.workingHours %}
                                <ul class="no-padding-left">
                                    {{ include ('molecules/workingHours/showDayItem.html.twig', {'day': 'global.monday'|trans|capitalize, 'dayName': 'Monday', 'start': entity.workingHours['Monday']['startTime']|default(''), 'end': entity.workingHours['Monday']['endTime']|default(''), 'startTimeAfternoon': entity.workingHours['Monday']['startTimeAfternoon']|default(''), 'endTimeAfternoon': entity.workingHours['Monday']['endTimeAfternoon']|default('') }) }}
                                    {{ include ('molecules/workingHours/showDayItem.html.twig', {'day': 'global.tuesday'|trans|capitalize, 'dayName': 'Tuesday', 'start': entity.workingHours['Tuesday']['startTime']|default(''), 'end': entity.workingHours['Tuesday']['endTime']|default(''), 'startTimeAfternoon': entity.workingHours['Tuesday']['startTimeAfternoon']|default(''), 'endTimeAfternoon': entity.workingHours['Tuesday']['endTimeAfternoon']|default('')  }) }}
                                    {{ include ('molecules/workingHours/showDayItem.html.twig', {'day': 'global.wednesday'|trans|capitalize, 'dayName': 'Wednesday', 'start': entity.workingHours['Wednesday']['startTime']|default(''), 'end': entity.workingHours['Wednesday']['endTime']|default(''), 'startTimeAfternoon': entity.workingHours['Tuesday']['startTimeAfternoon']|default(''), 'endTimeAfternoon': entity.workingHours['Tuesday']['endTimeAfternoon']|default('') }) }}
                                    {{ include ('molecules/workingHours/showDayItem.html.twig', {'day': 'global.thursday'|trans|capitalize, 'dayName': 'Thursday', 'start': entity.workingHours['Thursday']['startTime']|default(''), 'end': entity.workingHours['Thursday']['endTime']|default(''), 'startTimeAfternoon': entity.workingHours['Thursday']['startTimeAfternoon']|default(''), 'endTimeAfternoon': entity.workingHours['Thursday']['endTimeAfternoon']|default('') }) }}
                                    {{ include ('molecules/workingHours/showDayItem.html.twig', {'day': 'global.friday'|trans|capitalize, 'dayName': 'Friday', 'start': entity.workingHours['Friday']['startTime']|default(''), 'end': entity.workingHours['Friday']['endTime']|default(''), 'startTimeAfternoon': entity.workingHours['Thursday']['startTimeAfternoon']|default(''), 'endTimeAfternoon': entity.workingHours['Thursday']['endTimeAfternoon']|default('') }) }}
                                    {{ include ('molecules/workingHours/showDayItem.html.twig', {'day': 'global.saturday'|trans|capitalize, 'dayName': 'Saturday', 'start': entity.workingHours['Saturday']['startTime']|default(''), 'end': entity.workingHours['Saturday']['endTime']|default(''), 'startTimeAfternoon': entity.workingHours['Saturday']['startTimeAfternoon']|default(''), 'endTimeAfternoon': entity.workingHours['Saturday']['endTimeAfternoon']|default('') }) }}
                                    {{ include ('molecules/workingHours/showDayItem.html.twig', {'day': 'global.sunday'|trans|capitalize, 'dayName': 'Sunday', 'start': entity.workingHours['Sunday']['startTime']|default(''), 'end': entity.workingHours['Sunday']['endTime']|default(''), 'startTimeAfternoon': entity.workingHours['Sunday']['startTimeAfternoon']|default(''), 'endTimeAfternoon': entity.workingHours['Sunday']['endTimeAfternoon']|default('') }) }}
                                </ul>
                            {% endif %}
                        </td>
                    </tr>
                </tbody>
            </table>

            <a class="btn btn-sm btn-deepmark-navy" href="{{ path('admin_entity_index') }}">{{ 'buttons.bck_to_list'|trans }}</a>
            <a class="btn btn-sm btn-deepmark-orangelight" href="{{ path('admin_entity_edit', { 'id': entity.id }) }}">{{ 'buttons.edit'|trans }}</a>

            {{ form_start(delete_form) }}
                <button  class="btn btn-sm btn-deepmark-red" type="submit">{{ 'buttons.delete'|trans }}</button>
            {{ form_end(delete_form) }}
        </div>
    </div>
{% endblock %}
