{% extends "base.html.twig" %}

{% block title %}{{ 'sidebar.trainers_documents'|trans }}{% endblock %}
{% block pagename %}{{ 'sidebar.trainers_documents'|trans }}{% endblock %}

{% block body %}
	<div class="card">
		<div class="card-header card-header-icon card-header-icon--navy">
            <div class="card-icon">
                <i class="fal fa-book"></i>
            </div>
            <div class="card-icon">
              <a href="{{path('learner_documents_new')}}">  <i class="fal fa-upload fa-2x"></i></a>
            </div>
		</div>

		<div class="card-body">
			{{ include('molecules/tables/library-table.html.twig', {docs : documents, type: 'documents'}) }}
		</div>
	</div>
{% endblock %}
