{% if type == constant('\\ApiBundle\\Entity\\StoredModule::ELEARNING') %}
    {% set bg = 'c-bg-orangelight' %}
    {% set icon = 'fa-video' %}
    {% set title = 'admin.interventions.mods.video' |trans %}
{% elseif type == constant('\\ApiBundle\\Entity\\StoredModule::ONLINE') %}
    {% set bg = 'c-bg-navy' %}
    {% set icon = 'fa-globe' %}
    {% set title = 'admin.interventions.mods.onlineseance'|trans %}
{% elseif type == constant('\\ApiBundle\\Entity\\StoredModule::VIRTUAL_CLASS') %}
    {% set bg = 'c-bg-blue' %}
    {% set icon = 'fa-desktop' %}
    {% set title = 'admin.interventions.mods.virtualclass'|trans %}
{% elseif type == constant('\\ApiBundle\\Entity\\StoredModule::QUIZ') %}
    {% set bg = 'c-bg-lightmaroon' %}
    {% set icon = 'fa-question-square' %}
    {% set title = 'admin.interventions.mods.quiz'|trans %}
{% elseif type == constant('\\ApiBundle\\Entity\\StoredModule::ONLINE_WORKSHOP') %}
    {% set bg = 'c-bg-lightblue' %}
    {% set icon = 'fa-chalkboard' %}
    {% set title = 'admin.interventions.mods.workshop'|trans %}
{% elseif type == constant('\\ApiBundle\\Entity\\StoredModule::PRESENTATION_ANIMATION') %}
    {% set bg = 'c-bg-lightblue' %}
    {% set icon = 'fa-users' %}
    {% set title = 'admin.interventions.mods.animation'|trans %}
{% elseif type == constant('\\ApiBundle\\Entity\\StoredModule::EVALUATION') %}
    {% set bg = 'c-bg-lightmaroon' %}
    {% set icon = 'fa-pen-square' %}
    {% set title = 'admin.interventions.mods.evaluation'|trans %}
{% else %}
    {% set bg = 'c-bg-navy' %}
    {% set icon = 'fa-question-mark' %}
    {% set title = 'Unknown' %}
{% endif %}

<li class="course-nav__item {% if done.appId == constant('\\ApiBundle\\Entity\\Status::WITH_BOOKING_DONE') or done.appId == constant('\\ApiBundle\\Entity\\Status::LEARNER_INTERVENTION_EXPIRED')  %}course-nav__item--done{% endif %}{% if isCurrent %} active{% endif %}"
    id="{{ loopId }}"
    data-type="{{ type }}"
    data-id="{{ id }}">
    <a href="{% if isAvailable %}{{ path('learner_courses_module', { 'id': id }) }}{% else %}javascript:void(0){% endif %}">
        <div class="course-nav__item-inner">
            <div class="course-nav__item-title {{ bg }}">
                <i class="fal {{ icon }} marg-r-10"></i>{{ title }}<br>
            </div>
            <div class="course-nav__item-desc">
                {{ designation }}
                <p class="course-nav__status marg-t-10">{{ 'learners.courses.status.label' | trans }}:
                    {% if done is defined %}
                        {%  if  done.appId == constant('\\ApiBundle\\Entity\\Status::WITH_BOOKING_DONE') %}
                            <span class="status status--done">{{ 'learners.courses.status.done' | trans }}</span>
                        {% elseif done.appId == constant('\\ApiBundle\\Entity\\Status::LEARNER_INTERVENTION_IN_PROGRESS') %}
                            <span class="status status--inprogress">{{ 'learners.courses.status.in_progress' | trans }}</span>
                        {% elseif done.appId == constant('\\ApiBundle\\Entity\\Status::WITH_BOOKING_BOOKED') %}
                            <span class="status status--booked">{{ 'learners.courses.status.booked' | trans }}</span>
                        {% elseif done.appId == constant('\\ApiBundle\\Entity\\Status::LEARNER_INTERVENTION_EXPIRED') %}
                            <span class="status status--blocked">{{ 'learners.courses.status.expired' | trans }}</span>
                        {% elseif done.appId == constant('\\ApiBundle\\Entity\\Status::WITH_BOOKING_LEARNER_ABSENT') %}
                            <span class="status status--learner-absent">{{ 'learners.courses.status.absent' | trans }}</span>
                        {% elseif done.appId == constant('\\ApiBundle\\Entity\\Status::WITH_BOOKING_CONFIRMED') %}
                            <span class="status status--booked">{{ 'learners.courses.status.confirmed' | trans }}</span>
                        {% else %}
                            <span class="status status--todo">{{ 'learners.courses.to_follow'|trans }}</span>
                        {% endif %}
                    {% else %}
                        <span class="status status--todo">{{ 'learners.courses.to_follow'|trans }}</span>
                    {% endif %}
                </p>
                {{ include('molecules/widgets/ratings.html.twig', {'max' : 5, 'grade': grade})}}
            </div>
        </div>
    </a>
</li>
