{% extends 'base.html.twig' %}

{% block pagename %}Upload client{% endblock %}

{% block body %}
{{ include('molecules/uploadFiles.html.twig', {'type': false, 'route': 'trainer_library_index', 'form':form})}}
{% endblock %}
