{% extends 'base.html.twig' %}

{% block body %}
    <div class="card card-pane">
        <div class="card-header">
            <ul class="nav nav-pills" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" href="{{ url('user_create_user',{'standardPassword': 1}) }}"
                       role="tablist">
                        {{ 'invite'|trans }}
                    </a>
                </li>
            </ul>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-striped" id="import-table-user">
                    <thead>
                    <tr>
                        <th> #</th>
                        <th>{{ 'import.table.name'|trans|capitalize }}</th>
                        <th>{{ 'import.table.surname'|trans|capitalize }}</th>
                        <th>{{ 'import.table.email'|trans|capitalize }}</th>
                        <th>{{ 'import.table.phone'|trans|capitalize }}</th>
                        <th>{{ 'import.table.import_type'|trans|capitalize }}</th>
                        <th>{{ 'import.table.import_date'|trans|capitalize }}</th>
                        <th>{{ 'import.table.status'|trans|capitalize }}</th>
                        <th>{{ 'import.table.action'|trans|capitalize }}</th>
                    </tr>
                    </thead>

                    <tbody>

                    {% for users in importedUsers %}
                        <tr>
                            <td> {{ loop.index }}</td>
                            <td> {{ users.firstName|capitalize }}</td>
                            <td> {{ users.surname|capitalize }}</td>
                            <td> {{ users.email }}</td>
                            <td> {{ users.phone }}</td>
                            <td> {{ users.importType  |  capitalize }}</td>
                            <td> {{ users.createDate|date }}</td>
                            <td> {{ users.importStatus }}</td>
                            <td></td>
                        </tr>
                    {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}

    {{ parent() }}

    <script>
        $(document).ready(function () {
            $('#import-table-user').DataTable({
                    "initComplete": function (settings, json) {
                        $('#import-table-user').removeClass('dataTable no-footer')
                    }
                }
            );
        })
    </script>
{% endblock %}