<a class="logo-link" style="width: 53%" href="{{ logoLink|default('#') }}"><img src="{%  if logo is defined %}{{ logo }}{% else %}{{ asset('img/'~site_logo) }}{% endif %}" class="dm-logo" alt="Deepmark" /></a>
