<link rel="stylesheet" href="{{ asset('js/lib/leaflet/leaflet.css') }}"/>
{% set status_done =  constant('ApiBundle\\Entity\\Status::WITH_BOOKING_DONE') %}
{% set status_learner_absent =  constant('ApiBundle\\Entity\\Status::WITH_BOOKING_LEARNER_ABSENT') %}
{% set myAddress = '14 Phan Ton, District 1 HCM City' %}
<div class="card card-pane" data-id="{{ module.id }}" data-start="{{ module.beginningWithTime|date('Y-m-d H:i:s') }}"
     data-end="{{ module.endingWithTime|date('Y-m-d H:i:s') }}">

    <div class="card-header card-header--module c-bg-lightblue">
        <h4><i class="fal fa-users marg-r-20"></i>{{ 'admin.interventions.mods.animation'|trans }}: <span class="font-weight-light">{{ module.designation }}</span></h4>
        {#<ul class="nav nav-pills">
            <li class="nav-item">
                <a href="#agenda" class="nav-link {% if not isBooked %}active show{% endif %}" data-toggle="tab">
                    {{ 'learners.courses.agenda'|trans }}
                </a>
            </li>

            <li class="nav-item">
                <a href="#files" class="nav-link {% if isBooked %}active show{% endif %}" data-toggle="tab">
                    {{ 'learners.courses.my_session'|trans }}
                </a>
            </li>
        </ul>#}
    </div>

    <div class="card-body">
        <div class="tab-content tab-space">
            <div class="row">
                <div class="col-md-4">
                    <h3>{{ 'learners.courses.information'|trans|title }}</h3>
                    <div class="more">
                        <p class="c-black"> {{ module.description|raw }}</p>
                    </div>
                </div>

                <div class="col-md-4 border-right-custom border-left-custom">
                    <h3>{{ 'learners.courses.details'|trans|title }}</h3>
                    {% if not isBooked %}
                        {% include ':molecules/courses/classroomTraining:detail_available_molecule.html.twig' %}
                    {% else %}
                        {% include ':molecules/courses/classroomTraining:detail_booked_molecule.html.twig' %}
                    {% endif %}
                </div>

                <div class="col-md-4">
                    {% if module.educationalDocument|length != 0 %}
                        <h3>{{ 'learners.courses.documents'|trans|title }}</h3>
                        <div class="course-card">
                            {{ include('molecules/tables/files-list.html.twig', {documents: module.educationalDocument, type: "documents"}) }}
                        </div>
                    {% endif %}

                    {% if  (booked.status is defined and booked.status is not null) and booked.status.id ==  status_done %}
                        <div class="row">
                            <h3>{{ 'learners.courses.report'|trans|capitalize }}</h3>
                            <div class="courseFilesList">
                                {% if booked.report.fileDescriptor is defined and booked.report.fileDescriptor is not null %}
                                    {{ include('molecules/tables/files-list.html.twig', {documents: [booked.report], type: "documents"}) }}
                                {% endif %}
                            </div>
                        </div>

                        <div class="row">
                            <div class="marg-t-20">
                                <h3>{{ 'learners.courses.grade'|trans|capitalize }}</h3>
                                <fieldset>
                                    {% set grade = booked.learnerGrade is not null ? booked.learnerGrade : 'learners.courses.awaiting_grade'|trans|capitalize %}
                                    <h4>{{ grade }}</h4>
                                </fieldset>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="tab-pane {% if not isBooked %}active{% endif %}" id="agenda">
                {{ include('molecules/calendar/calendar-legend.twig', { user: 'learner' }) }}
                <div id="virtualClassCalendar" class="marg-t-20"></div>
            </div>

            <div class="tab-pane {% if isBooked %}active{% endif %}" id="files">

                <h2 class="courseHeader text-center">{{ module.designation }}</h2>
                <div class="row">
                    <div class="col-md-2">
                    </div>
                    <div class="col-md-8">
                        <div class="t-center">
                            {% if isBooked %}
                                {% if booked.moduleSession.sessionPlace %}
                                    {% set myAddress = booked.moduleSession.sessionPlace.address %}
                                {% endif %}
                                <div id="mapid" style="width: 100%; height: 600px; text-align: center;"></div>
                            {% else %}
                                <p>{{ 'learners.courses.book_to_join_webinar'|trans }}</p>
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-md-2">
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{ include('molecules/modal/book-classroom-trainning-modal.html.twig') }}

    <span id="cancel-booking-text" class="text-template">{{ 'learners.courses.cancel_booking'|trans }}</span>
    <span id="book-session-text" class="text-template">{{ 'learners.courses.book_session'|trans }}</span>

    {{ include('molecules/modal/cancel-confirmation-modal.html.twig') }}
</div>

{% block javascripts %}
    <script src="{{ asset('js/lib/leaflet/leaflet.js') }}"></script>
    <script src="{{ asset('js/learner/calendar-vclass.js') }}"></script>
    <script>
        if (document.getElementById('mapid')) {
            var address = '{{ myAddress }}';
            $.get(location.protocol + '//nominatim.openstreetmap.org/search?format=json&q=' + address, function(data){
                var latX = data[0].lat;
                var lonY = data[0].lon;
                var mymap = L.map('mapid').setView([latX, lonY], 13);

                L.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png').addTo(mymap);

                L.marker([latX, lonY]).addTo(mymap)
                    .bindPopup(address).openPopup();

                var popup = L.popup();

                function onMapClick(e) {
                    popup
                        .setLatLng(e.latlng)
                        .setContent("You clicked the map at " + e.latlng.toString())
                        .openOn(mymap);
                }

                mymap.on('click', onMapClick);
            });
        }
    </script>
{% endblock %}
