{% set buttonTitle = isBooked ? "learners.buttons.change_date" : "learners.buttons.book_session" %}
{% set status_done =  constant('ApiBundle\\Entity\\Status::WITH_BOOKING_DONE') %}
{% set status_booked =  constant('ApiBundle\\Entity\\Status::WITH_BOOKING_BOOKED') %}
<div class="card card-pane"
     id="onlineSessionModule"
     data-id="{{ module.id }}"
     data-start="{{ module.beginningWithTime|date('Y-m-d H:i:s') }}"
     data-end="{{ module.endingWithTime|date('Y-m-d H:i:s') }}">
    <div class="card-header card-header--module c-bg-navy">
        <h4><i class="fal fa-globe marg-r-20"></i>{{ 'admin.interventions.mods.onlineseance'|trans }}: <span class="font-weight-light">{{ module.designation }}</span></h4>
    </div>

    <div class="card-body">
        <div class="tab-content">
            <div class="row">
                <div class="col-md-4 ">
                    <h3>{{ 'learners.courses.information'|trans|title }}</h3>
                    <div class="more">
                        <p class="c-black"> {{ module.description|raw }}</p>
                    </div>
                </div>

                <div class="col-md-4 border-left-custom border-right-custom">
                    <h3>{{ 'learners.courses.details'|trans|title }}</h3>
                    {% if isBooked == false %}
                        {% include ':molecules/courses/onlineSession:detail_available_molecule.html.twig' %}
                    {% else %}
                        {% include ':molecules/courses/onlineSession:detail_booked_molecule.html.twig' %}
                    {% endif %}
                </div>

                <div class="col-md-4">
                    {% if module.educationalDocument|length != 0 %}
                    <h3>{{ 'learners.courses.documents'|trans|title }}</h3>
                    <div class="course-card">
                        {{ include('molecules/tables/files-list.html.twig', {documents: module.educationalDocument, type: "documents"}) }}
                    </div>
                    {% endif %}

                    {% if  (booked.status is defined and booked.status is not null) and booked.status.id ==  status_done %}
                        <div class="row">
                            <h3>{{ 'learners.courses.report'|trans|capitalize }}</h3>
                            <div class="courseFilesList">
                                {% if booked.report.fileDescriptor is defined and booked.report.fileDescriptor is not null %}
                                    {{ include('molecules/tables/files-list.html.twig', {documents: [booked.report], type: "documents"}) }}
                                {% endif %}
                            </div>
                        </div>

                        <div class="row">
                            <div class="marg-t-20">
                                <h3>{{ 'learners.courses.grade'|trans|capitalize }}</h3>
                                <fieldset>
                                    {% set grade = booked.learnerGrade is not null ? booked.learnerGrade : 'learners.courses.awaiting_grade'|trans|capitalize %}
                                    <h4>{{ grade }}</h4>
                                </fieldset>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="row">
                <div class="calendar-wrapper marg-t-10 hidden" data-target="calendar">
                    {{ include('molecules/calendar/calendar-legend.twig', {user:'learner'}) }}
                    <div id="onlineSessionCalendar"></div>
                </div>
            </div>
            <span id="cancel-booking-text" class="text-template">{{ 'learners.courses.cancel_booking'|trans }}</span>
            <span id="book-session-text" class="text-template">{{ 'learners.courses.book_session'|trans }}</span>
        </div>
    </div>
</div>
{{ include('molecules/modal/online-calendar-modal.html.twig') }}
{{ include('molecules/modal/cancel-confirmation-modal.html.twig') }}

{% block javascripts %}
    <script src="{{ asset('js/learner/calendar-online.js') }}"></script>

{% endblock %}
