{% extends "base.html.twig" %}

{% block title %}{{ 'admin.interventions.edit.title'|trans }}{% endblock %}
{% block pagename %}{{ 'admin.interventions.edit.title'|trans }}{% endblock %}


{% import "macros/form.html.twig" as forms %}

{% block body %}
    <form class="form" method="post" action="/admin/courses/edit/{{ id }}" enctype="multipart/form-data">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        {{ ('Edit course')|trans }}
                    </div>
                    <div class="card-body">
                        {% for fieldName, data in course %}
                            {% if data.value is not defined %}
                                {% set data = data|merge({'value': null}) %}
                            {% endif %}
                            {{ forms.input(data.label, 'course['~fieldName~']', data.value,data.type, 100,data.required ) }}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            {% for moduleId, module in modules %}
                <div class="col-6">
                    <div class="card">
                        <div class="card-header">
                            {{ module.form.fields.designation.value }}
                        </div>
                        <div class="card-body">
                            {% for fieldName,data in module.form.fields %}
                                {% if data.value is not defined %}
                                    {% set data = data|merge({'value': null}) %}
                                {% endif %}

                                {% if fieldName == 'description' %}
                                    {{ forms.textarea(
                                        data.label,
                                        'module['~moduleId~']['~fieldName~']',
                                        data.value,data.type,
                                        100,
                                        data.required
                                    ) }}
                                {% else %}
                                    {{ forms.input(
                                        data.label,
                                        'module['~moduleId~']['~fieldName~']',
                                        data.value,data.type,
                                        100,
                                        data.required
                                    ) }}
                                {% endif %}
                            {% endfor %}
                            {% if module.raw.storedModule.id == 4 %}
                                {{ forms.input(
                                    'File',
                                    'module['~moduleId~'][file]',
                                    '','file',
                                    100,
                                    false
                                ) }}
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

        <fieldset>
            <input type="hidden" value="{{ id }}" name="id"/>
        </fieldset>
        <div class="card-footer">
            <button type="submit" class="btn btn-primary">Save</button>
        </div>
    </form>
{% endblock %}