{% extends "base.html.twig" %}

{% block title %}{{ 'admin.interventions.draft_intervention'|trans }}{% endblock %}

{% block pagename %}{{ 'admin.interventions.draft_intervention'|trans }}{% endblock %}

{% block body %}
    <div class="col-md-12 no-padding">
        <ul class="nav nav-pills no-padding marg-t-15 marg-b-15 justify-content-center" role="tablist">
            <li class="nav-item">
                <a class="nav-link bold "  href="{{ url('admin_interventions_index') }}" role="tablist">
                    {{ 'admin.interventions.nav.publish'|trans }}
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link bold" href="{{ url('admin_interventions_ended') }}">
                    {{ 'admin.interventions.nav.ended'|trans }}
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link bold create-link active" href="#current-interv-pane">
                    <span>{{ 'admin.interventions.nav.draft'|trans }}</span>&nbsp;&nbsp; <i class="fal fa-battery-half"></i>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link bold create-link" href="{{ url('admin_interventions_new') }}">
                    <span>{{ 'admin.interventions.nav.create'|trans }}</span>&nbsp;&nbsp; <i class="fa fa-plus-circle"></i>
                </a>
            </li>

        </ul>

    </div>
    <div class="card no-margin card-pane">
        <div class="card-body no-padding">
            <div class="row col-md-12 marg-t-20" >
                <div class="col-md-4 no-padding-right btn-deepmark-light border-radis-30">
                    <div class="row ">
                        <div class="col-md-3 text-center no-padding color-header font-size-12 marg-t-10 marg-b-10 ">{{ 'search.content'|trans }}</div>
                        <div class="col-md-7 no-padding marg-t-10 marg-b-10">
                            <input type="text" id="bookSearch" class="border-0 no-padding no-margin color-header backgroud-deepmark-light">
                        </div>
                        <div class="col-md-2 flex--center">
                            <i class="fas color-header fa-search"></i>
                        </div>

                    </div>
                </div>
                <div class="col-md-4 no-padding">
                    <h3 class=" color-header text-center bold marg-b-15 font-size-25 marg-t-0 no-margin">{{ 'admin.interventions.draft_intervention'|trans }} </h3>
                </div>
                <div class="col-md-3"></div>
                <div class="col-md-1 no-padding-left text-right">
                    <div class="position-relative">
                        <label class="label-number" >{{ interventions|length }}</label>
                        <img width="35" height="30" src="{{ asset('images/course.jpg') }}">
                    </div>
                </div>
            </div>
            <div class="learnerTrainerList">
                <table id="draftTable" class="table table-striped w-100">
                    <thead class="table-header w-100">
                    <tr>
                        <th >{{ 'table.interventions.logo'|trans }}</th>
                        <th >{{ 'table.interventions.intervention'|trans }}</th>
                        <th>{{ 'table.interventions.organization'|trans }}</th>
                        <th>{{ 'table.interventions.entity'|trans }}</th>
                        <th>{{ 'table.interventions.start_date'|trans }}</th>
                        <th>{{ 'table.interventions.end_date'|trans }}</th>
                        <th>{{ 'table.interventions.total_duration'|trans }}</th>
                        <th>{{ 'table.interventions.created_date'|trans }}</th>
                        <th>{{ 'table.interventions.updated_date'|trans }}</th>
                        <th class="text-center">{{ 'table.interventions.actions'|trans }}</th>
                    </tr>
                    </thead>

                    <tbody>
                    {% for intervention in interventions %}
                        {% if  intervention.getSessionId() is not null %}
                            {% set name = intervention.getStep1()  != "" ? intervention.getStep1()['title'] : "" %}
                            {% set startDate = intervention.getStep1()  != "" ? intervention.getStep1()['intervention_start_date'] : "" %}
                            {% set endDate = intervention.getStep1()  != "" ? intervention.getStep1()['intervention_end_date'] : "" %}
                            {% set client = intervention.getStep1()  != "" ? intervention.getStep1()['idClientIntervention'] : "" %}
                            <tr class="tr--withmodal" data-id="{{ intervention.id }}">
                                <td>
                                    <div class="col-md-12 no-padding bg-responsive height-50" style="{% if intervention.getStep1() is not null and intervention.getStep1().storedLogo|trim is not empty %}  background-image: url('{{ path('admin_interventions_image_show', {'path': '../../'~relative_path(intervention.getStep1().storedLogo)}) }}'); {% else %}   background-image: url({{ asset('/img/course_banner.jpg')}}); {% endif %} ">
                                    </div>
                                </td>
                                <td>
                                    {{ name }}
                                </td>
                                <td>
                                    {% if intervention.getEntity() is not null %}
                                        {{ intervention.getEntity().getOrganisation().getDesignation() }}
                                    {% endif %}
                                </td>
                                <td>
                                    {% if intervention.getEntity() is not null %}
                                        {{ intervention.getEntity().getDesignation() }}
                                    {% endif %}
                                </td>
                                <td>
                                    <span class="d-none">{% if startDate != "" %} {{ startDates[intervention.id] | date('U') }} {% endif %}</span>
                                    {{ startDate }}
                                </td>
                                <td>
                                    <span class="d-none">{% if endDate != "" %} {{ endDates[intervention.id] | date('U') }} {% endif %}</span>
                                    {{ endDate }}
                                </td>
                                <td>
                                    {{durations[intervention.getId()]}}
                                </td>
                                <td>
                                    <span class="d-none">{{ intervention.getCreated() | date('U') }}</span>
                                    {{intervention.getCreated()|date("d/m/Y")}}
                                </td>
                                <td>
                                    <span class="d-none">{{ intervention.getUpdated() | date('U') }}</span>
                                    {{intervention.getUpdated()|date("d/m/Y")}}
                                </td>
                                <td class="text-center">
                                    <a href="{{ path('admin_interventions_step_storage', { 'stepNr': 0, 'sessionId': intervention.getSessionId() }) }}">
                                         <object data="/images/eye.svg" width="18" height="18"
                                                 type="image/svg+xml"></object>
                                    </a>
                                    <a href="{{ path('admin_interventions_duplicate_draft', { sessionId: intervention.getSessionId() }) }}">
                                         <object data="/images/copi.svg" width="18" height="18"
                                                 type="image/svg+xml"></object>
                                    </a>
                                    <a href="{{ url('admin_interventions_edit',{'id': intervention.id}) }}">
                                         <object data="/images/pencil.svg" width="18" height="18"
                                                 type="image/svg+xml"></object>
                                    </a>
                                    <a class="deleteCourse" data-id="{{ intervention.id }}" >
                                        <object data="/images/delete.svg" width="18" height="18"
                                                type="image/svg+xml"></object>
                                    </a>
                                    <a class="d-none" id="delete{{ intervention.id }}" href="{{ path('admin_intervention_delete_unpublished_session', {  'sessionId': intervention.getSessionId() }) }}"></a>
                                </td>
                            </tr>

                        {% endif %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {{ include('molecules/modal/delete-course.html.twig') }}
    <script type="text/javascript" src="{{ asset('js/lang_datatable.js') }}"></script>
    <script>
        $(document).ready(function () {
            let lang = languageDatatable();
            var table = $('#draftTable').DataTable({
                "language": lang,
                "scrollX": true,
                "scrollY": false,
                "order": [[ 4, "desc" ], [ 5, "desc" ], [ 7, "desc" ], [ 8, "desc" ]],

                "columnDefs": [
                        { 
                            "width": "7%",
                            "targets": 6
                        },
                        {
                            "width": "15%",
                            "targets": 9
                        }

                    ]
                }
            );

            $("#draftTable").on("click", ".deleteCourse", function(){
                $("#deleteModal").modal("show");
                let id = $(this).attr("data-id");
                $("#deleteId").val(id);
            });

            $(".dataTables_filter").hide();

            $('#bookSearch').keyup(function(){
                table.search($(this).val()).draw() ;
            })

            $('#submitAct').click(function(){
                let id = $("#deleteId").val();
                let url = $("#delete"+id).attr("href");
                window.location.href = url;
            })
        });
    </script>
{% endblock %}
