{% extends "base.html.twig" %}

{% block title %}{{ 'admin.interventions.published_intervention'|trans }}{% endblock %}

{% block pagename %}{{ 'admin.interventions.published_intervention'|trans }}{% endblock %}

{% block body %}

    <div class="col-md-12 no-padding">
        <ul class="nav nav-pills no-padding marg-t-15 marg-b-15 justify-content-center" role="tablist">
            <li class="nav-item">
                <a class="nav-link bold active" data-toggle="tab" href="#current-interv-pane" role="tablist">
                    {{ 'admin.interventions.nav.publish'|trans }}
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link bold" href="{{ url('admin_interventions_ended') }}">
                    {{ 'admin.interventions.nav.ended'|trans }}
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link bold create-link" href="{{ url('admin_interventions_draft') }}">
                    <span>{{ 'admin.interventions.nav.draft'|trans }}</span>&nbsp;&nbsp;<i class="fal fa-battery-half"></i>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link bold create-link" href="{{ url('admin_interventions_new') }}">
                    <span>{{ 'admin.interventions.nav.create'|trans }}</span>&nbsp;&nbsp; <i class="fa fa-plus-circle"></i>
                </a>
            </li>

        </ul>

    </div>
    <div class="card no-margin card-pane">
        <div class="card-body no-padding">
            <div class="row col-md-12  flex--center marg-t-20" >
                <div class="col-md-4 no-padding-right btn-deepmark-light border-radis-30">
                    <div class="row ">
                        <div class="col-md-3 text-center no-padding color-header font-size-12 marg-t-10 marg-b-10 ">{{ 'search.content'|trans }}</div>
                        <div class="col-md-7 no-padding marg-t-10 marg-b-10">
                            <input type="text" id="bookSearch" class="border-0 no-padding no-margin color-header backgroud-deepmark-light">
                        </div>
                        <div class="col-md-2 flex--center">
                            <i class="fas color-header fa-search"></i>
                        </div>

                    </div>
                </div>
                <div class="col-md-4 no-padding">
                    <h4 class=" color-header text-center bold marg-b-15 font-size-25 marg-t-0 no-margin">{{ 'admin.interventions.published_intervention'|trans }} </h4>
                </div>
                <div class="col-md-3"></div>
                <div class="col-md-1 no-padding-left text-right">
                    <div class="position-relative">
                        <label class="label-number" >{{ interventions|length }}</label>
                        <img width="35" height="30" src="{{ asset('images/course.jpg') }}">
                    </div>
                </div>
            </div>
            <div class="learnerTrainerList">
                <table id="publishedTable" class="table table-striped w-100">
                    <thead class="table-header w-100">
                    <tr>
                        <th >{{ 'table.interventions.logo'|trans }}</th>
                        <th >{{ 'table.interventions.intervention'|trans }}</th>
                        <th>{{ 'table.interventions.organization'|trans }}</th>
                        <th>{{ 'table.interventions.entity'|trans }}</th>
                        <th>{{ 'table.interventions.start_date'|trans }}</th>
                        <th>{{ 'table.interventions.end_date'|trans }}</th>
                        <th class="white-space">{{ 'table.interventions.total_duration'|trans }} <br/> {{ 'table.interventions.actual_duration'|trans }}</th>
                        <th>{{ 'table.interventions.number_of_learners'|trans }}</th>
                        <th>{{ 'table.interventions.progress'|trans }}
                        <th>{{ 'table.interventions.grade'|trans }}</th>
                        <th>{{ 'table.interventions.actions'|trans }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for intervention in interventions %}
                        <tr id="{{ intervention.id }}">
                            <td class="cell-pointer " data-href="{{ url('admin_interventions_show', { 'id': intervention.id }) }}">
                                <div class="col-md-12 no-padding bg-responsive height-50" style="{% if intervention.logo is not null %}  background-image: url('/files{{ asset(intervention.logo.path) }}'); {% else %}   background-image: url({{ asset('/img/course_banner.jpg')}}); {% endif %} ">
                                </div>
                            </td>
                            <td class="cell-pointer " data-href="{{ url('admin_interventions_show', { 'id': intervention.id }) }}">
                                {{ intervention.designation }}
                            </td>
                            <td class="cell-pointer" data-href="{{ url('admin_interventions_show', { 'id': intervention.id }) }}">
                                {% if intervention.entity %}
                                    {{ intervention.entity.organisation.designation }}
                                {% endif %}
                            </td>
                            <td class="cell-pointer" data-href="{{ url('admin_interventions_show', { 'id': intervention.id }) }}">
                                {% if intervention.entity %}
                                    {{ intervention.entity.designation }}
                                {% endif %}
                            </td>
                            <td>
                                <span class="d-none">{{ intervention.beginning | date('U') }}</span>
                                {{ intervention.beginning | date('d/m/Y') }}
                            </td>
                            <td>
                                <span class="d-none">{{ intervention.ending | date('U') }}</span>
                                {{ intervention.ending | date('d/m/Y') }}
                            </td>
                            <td>
                                {{ progressionLearners[intervention.id].numDurations }} <br />
                                <strong>{{ progressionLearners[intervention.id].totalSpentTime ? progressionLearners[intervention.id].totalSpentTime : '00:00:00'  }}</strong>
                            </td>
                            <td>
                                {{ intervention.nbLearner }}
                            </td>
                            <td>
                                {{ progressionLearners[intervention.id].numNotStarted }} {{ 'table.interventions.num_not_started'|trans }}
                                <br />{{ progressionLearners[intervention.id].numStarted }} {{ 'table.interventions.num_started'|trans }}
                                <br />{{ progressionLearners[intervention.id].numFinished }} {{ 'table.interventions.num_finished'|trans }}
                            </td>
                            <td>
                                <strong>{{ intervention.learnersNotation !=0 ? intervention.learnersNotation|number_format(2, '.', ',') ~ ' / 5' : '-' }}</strong>
                            </td>
                            <td class="label-small">
                                <form action="{{ path('admin_interventions_delete', { 'id': intervention.id }) }}" method="POST">
                                    <div class="row flex--center">
                                        <input type="hidden" name="_method" value="DELETE"/>
                                        {{ form_widget(deleteForms[intervention.id]) }}
                                        <div class="col-md-3 no-padding">
                                            <a href="{{ url('admin_interventions_show', { 'id': intervention.id }) }}" class="pointer ">
                                                <object  data="/images/eye.svg" width="18" height="18"
                                                       type="image/svg+xml"></object>
                                            </a>
                                        </div>
                                        <div class="col-md-3 no-padding">
                                            <a href="{{ url('admin_interventions_edit',{'id': intervention.id}) }}">
                                                <object data="/images/pencil.svg" width="18" height="18"
                                                       type="image/svg+xml"></object>
                                            </a>
                                        </div>
                                        <div class="col-md-3 no-padding">
                                            <a data-id="{{ intervention.id }}" class="border-0 deleteCourse no-padding no-margin bg-transparent pointer" >
                                                <object data="/images/delete.svg" width="18" height="18"
                                                        type="image/svg+xml"></object>
                                            </a>
                                            <button id="delete{{ intervention.id }}" class="border-0 d-none no-padding no-margin bg-transparent pointer" type="submit">

                                            </button>
                                        </div>
                                        <div class="col-md-3 no-padding position-relative">
                                            <object data="/images/alert.svg" width="18" height="18"
                                                   type="image/svg+xml"></object>
                                            <label class="label-number" >0</label>
                                        </div>
                                    </div>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {{ include('molecules/modal/delete-course.html.twig') }}
    <script type="text/javascript" src="{{ asset('js/lang_datatable.js') }}"></script>
    <script>
        $(document).ready(function () {
            let lang = languageDatatable();
            var table = $('#publishedTable').DataTable({
                "language": lang,
                "scrollX": true,
                "scrollY": false,
                "order": [[ 4, "desc" ], [ 5, "desc" ]],
                "columnDefs": [
                        { 
                            "width": "7%",
                            "targets": 5 
                        }
                    ]
            });
            $("#publishedTable").on("click", ".deleteCourse", function(){
                // your code goes here
                $("#deleteModal").modal("show");
                let id = $(this).attr("data-id");
                $("#deleteId").val(id);
            });
            $(".dataTables_filter").hide();
            $('[data-href]').on('click', function() {
                window.location = $(this).data('href');
            });
            $('#bookSearch').keyup(function(){
                table.search($(this).val()).draw() ;
            })
            $('#submitAct').click(function(){
                let id = $("#deleteId").val();
                $("#delete"+id).click();
            })
        });
    </script>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}