{% extends "base.html.twig" %}

{% block title %}{{ 'admin.interventions.title'|trans }}{% endblock %}

{% block pagename %}{{ 'admin.interventions.title'|trans }}{% endblock %}

{% block body %}
    <div class="card card-pane">
        <div class="card-header">
            <ul class="nav nav-pills" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#current-interv-pane" role="tablist">
                        {{ 'admin.interventions.nav.current'|trans }}
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#ended-interv-pane" role="tablist">
                        {{ 'admin.interventions.nav.ended'|trans }}
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link create-link" href="{{ url('admin_interventions_new') }}">
                        <span>{{ 'admin.interventions.nav.create'|trans }}</span> <i class="fal fa-plus"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link create-link" href="#unpublished-intervention-pane" data-toggle="tab"
                       role="tablist">
                        <span>{{ 'admin.interventions.nav.unpublished'|trans }}</span> <i
                                class="fal fa-battery-half"></i>
                    </a>
                </li>
            </ul>
        </div>

        <div class="card-body">
            <div class="tab-content tab-space">
                <div class="tab-pane active" id="current-interv-pane">
                    {{ include('molecules/tables/list-interventions-table.html.twig',
                        { interventions: interventions, status : [61, 62] }) }}
                </div>

                <div class="tab-pane" id="ended-interv-pane">
                    {{ include('molecules/tables/list-interventions-table.html.twig',
                        { interventions: interventions, status : [63] }) }}
                </div>

                <div class="tab-pane" id="unpublished-intervention-pane">

                    {{ include('molecules/tables/list-unpublished-interventions-table.html.twig',
                        { unpublished_interventions: unpublished_interventions, status : [63] }) }}
                </div>
            </div>
        </div>

        <div class="card-footer">
            <div class="navigation">
                {{ knp_pagination_render(interventions) }}
            </div>
        </div>
    </div>
{% endblock %}
