{% extends 'base.html.twig' %}

{% block pagename %}{{ 'admin.interventions.title'|trans }}{% endblock %}

{% block body %}
    <div class="row bg-white pad-t-10 marg-t-15">
        <div class="row col-md-12">
            <div class="col-md-4 col-3"></div>
            <div class="col-md-4 col-3 marg-t-10">
                <h3 class="bold text-center color-header">{{ 'global.learners'|trans}}</h3>
            </div>
            <div class="col-md-2 col-3"></div>
            <div class="col-md-2 col-3 marg-t-20 text-center no-padding">
                <a href="{{ url('admin_interventions_show', {id: intervention.getId()}) }}" class="btn btn-block btn-small btn-border-yelow font-size-9">{{ 'buttons.back_to_course'|trans }}</a>
            </div>
        </div>

        <div class="row col-md-12 admin">
            <div class="row col-md-12 marg-t-20 z-index no-padding-right">
                <div class="col-md-4"></div>
                <div class="col-md-4 no-padding">
                    <div class="row btn-deepmark-light border-radis-30">
                        <div class="col-md-2 text-center no-padding color-header font-size-12 marg-t-10 marg-b-10 ">{{ 'search.content'|trans }}</div>
                        <div class="col-md-8 no-padding marg-t-10 marg-b-10">
                            <input type="text" class="bookSearch border-0 no-padding no-margin color-header backgroud-deepmark-light">
                        </div>
                        <div class="col-md-2 flex--center">
                            <i class="fas color-header fa-search"></i>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 flex--center justify-content-end no-padding-left text-right">
                    <div style="margin-top: -3px;" class="form-group pad-b-0 display-inline">
                        <select id="actionSelected" class="classic typeAction">
                            <option value="remove">{{ 'table.modules.delete'|trans }}</option>
                            <option value="reSent">{{ 'table.modules.resent'|trans }}</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-1 no-padding">
                    <button id="remove-learners" class="applyAction btn btn-small btn-block btn-deepmark-orangestrong font-size-9">{{ 'global.apply'|trans }}</button>
                </div>
            </div>
            <div class="sessionsList col-md-12 no-padding">
                <table id="learnersTable"  class="table table-striped w-100">
                    <thead class="table-header w-100">
                    <tr>
                        <th>{{ 'table.learners.lastname'|trans }}</th>
                        <th>{{ 'table.learners.firstname'|trans }}</th>
                        <th>{{ 'table.learners.email'|trans }}</th>
                        <th>{{ 'table.learners.employeeId'|trans }}</th>
                        <th>{{ 'table.learners.function'|trans }}</th>
                        <th>{{ 'table.learners.org'|trans }}</th>
                        <th>{{ 'table.learners.entity'|trans }} </th>
                        <th>{{ 'table.learners.assignment'|trans }} </th>
                        <th>{{ 'table.learners.trainning_group'|trans }} </th>
                        <th>
                            <div class=" form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input check-all-input-learners" type="checkbox" value="">
                                    <span class="form-check-sign">
                                                                <span class="check"></span>
                                                            </span>
                                </label>
                            </div>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for learner in learners %}
                        <tr id="{{ learner.getPerson().getId() }}">
                            <td>{{ learner.getLastName() }}</td>
                            <td>{{ learner.getFirstName() }}</td>
                            <td>{{ learner.getPerson().getEmail() }}</td>
                            <td>{{ learner.getEmployeeId() }}</td>
                            <td>{{ learner.getPosition() }}</td>
                            <td>{% if learner.entity.organisation is defined and learner.entity.organisation is not null %}
                                    {{ learner.entity.organisation.designation }}
                                {% endif %}</td>
                            <td>{% if learner.entity is defined and learner.entity is not null %}
                                    {{ learner.entity.designation }}
                                {% endif %}</td>
                            <td></td>
                            <td>{{ learnersGroup[learner.getPerson().getId()] is defined ? learnersGroup[learner.getPerson().getId()] : "" }}</td>
                            <td>
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input class="form-check-input check-input-learner" type="checkbox" value="{{ learner.id }}">
                                        <span class="form-check-sign">
                                                                    <span class="check"></span>
                                                                </span>
                                    </label>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="col-md-12 marg-bottom-20 marg-t-20 text-center font-size-20 btn-deepmark-light pad-10">
                <a data-toggle="modal" data-target="#viewLearner" class="viewLearner btn-deepmark-light color-header" style="cursor: pointer">
                    <i class="fas mdl-color--grey fa-plus-circle"></i> {{ 'table.learners.add_learners'|trans }}
                </a>
            </div>
        </div>
        <div id="viewLearner" class="modal fade col-md-12" tabindex="-1" role="dialog">
            <div class="modal-dialog" style="max-width: 70%" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-4"></div>
                            <div class="col-md-4 marg-t-10">
                                <h3 class="bold text-center color-header">{{ 'admin.learners.title'|trans }}</h3>
                            </div>
                            <div class="col-md-2 marg-t-20 text-center no-padding-left">
                                <button id="resetBtn" class="btn btn-block btn-border-yelow btn-padding">{{ 'global.reset'|trans }}</button>
                            </div>
                            <div class="col-md-2 marg-t-20 no-padding-left ">
                                <button id="searchBtn" class="btn btn-block btn-deepmark-orangelight btn-padding">{{ 'buttons.select'|trans }}</button>
                            </div>
                        </div>
                        <div class="row custom marg-t-20 pl-3 pr-3 pb-1 stat-filter">
                            <div class="col-md-3 no-padding filter course-filter global-filter organizationId f-search f-1 marg-t-10">
                                <div class="form-group select-border datepicker-group">
                                    {% set organizations = searchParam.organization %}
                                    <div class="col-md-12 no-padding  btn-deepmark">
                                        <label class="text-white" for="organizationId">{{ 'trainers.statistics.organization'|trans }}</label>
                                    </div>
                                    <div class="input-group btn-deepmark-light">
                                        <select id="organizationId" class="form-control selectpicker organizationId"  data-container="body"  data-style="btn btn-link">
                                            {% for organization in organizations %}
                                                <option value="{{ organization.id }}">{{ organization.designation }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 no-padding filter course-filter global-filter entityId f-search f-2 marg-t-10">
                                <div class="form-group select-border datepicker-group">
                                    <div class="col-md-12 no-padding  btn-deepmark">
                                        <label class="text-white" for="entityId">{{ 'trainers.statistics.entity'|trans }}</label>
                                    </div>
                                    <div class="input-group btn-deepmark-light">
                                        <select id="entityId" class="form-control  selectpicker"  data-container="body"  data-style="btn btn-link">

                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2 no-padding filter regionalId f-search  f-2 marg-t-10">
                                <div class="form-group select-border datepicker-group">
                                    <div class="col-md-12 no-padding  btn-deepmark">
                                        <label class="text-white" for="regionalId">{{ 'trainers.statistics.regional_direction'|trans }}</label>
                                    </div>
                                    <div class="input-group btn-deepmark-light">
                                        <select id="regionalId" class="form-control  selectpicker"  data-container="body"  data-style="btn btn-link">
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2 no-padding filter f-search  f-1 marg-t-10">
                                <div class="form-group select-border datepicker-group">
                                    <div class="col-md-12 no-padding  btn-deepmark">
                                        <label class="text-white" for="sectorId">{{ 'trainers.statistics.group'|trans }}</label>
                                    </div>
                                    <div class="input-group btn-deepmark-light">
                                        <select id="sectorId" class="form-control  selectpicker"  data-container="body"  data-style="btn btn-link">

                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2 no-padding filter f-search f-1 marg-t-10">
                                <div class="form-group select-border datepicker-group">
                                    <div class="col-md-12 no-padding  btn-deepmark">
                                        <label class="text-white" for="workplaceId">{{ 'trainers.statistics.workplace'|trans }}</label>
                                    </div>
                                    <div class="input-group btn-deepmark-light">
                                        <select id="workplaceId" class="form-control  selectpicker"  data-container="body"  data-style="btn btn-link">

                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 no-padding filter f-search f-1 marg-t-10">
                                <div class="form-group select-border datepicker-group">
                                    <div class="col-md-12 no-padding  btn-deepmark">
                                        <label class="text-white" for="groupId">{{ 'global.trainning_group'|trans }}</label>
                                    </div>
                                    <div class="input-group btn-deepmark-light">
                                        <select id="groupId" class="form-control  selectpicker"  data-container="body"  data-style="btn btn-link">

                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 no-padding filter f-search f-1 marg-t-10">
                                <div class="form-group select-border datepicker-group">
                                    <div class="col-md-12 no-padding  btn-deepmark">
                                        <label class="text-white" for="statusId">{{ 'trainers.statistics.status'|trans }}</label>
                                    </div>
                                    <div class="input-group btn-deepmark-light">
                                        <select id="statusId" class="form-control  selectpicker"  data-container="body"  data-style="btn btn-link">
                                            <option value="-1">{{ 'trainers.statistics.export.all'|trans }}</option>
                                            <option value="1">{{ 'table.active'|trans|capitalize }}</option>
                                            <option value="0">{{ 'table.inactive'|trans|capitalize }}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 height-120 no-padding period-filter f-search marg-t-10">
                                <div class="form-group datepicker-group btn-deepmark-light">
                                    <div class="col-md-12 no-padding  btn-deepmark">
                                        <label  class="text-white" for="creationDate">{{ 'table.creation_date'|trans|capitalize }}</label>
                                    </div>
                                    <div class="input-group pad-t-10 btn-deepmark-light">
                                        <input id="creationDate" type="text" class="form-control marg-l-10  datepicker" name="creation_date" value="">
                                        <div class="input-group-append">
                                            <span class="input-group-text"><i class="fal fa-calendar-alt"></i></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 height-120 no-padding period-filter f-search marg-t-10">
                                <div class="form-group datepicker-group btn-deepmark-light">
                                    <div class="col-md-12 no-padding  btn-deepmark">
                                        <label class="text-white" for="endDate">{{ 'table.connection_date'|trans|capitalize }}</label>
                                    </div>
                                    <div class="input-group pad-t-10 btn-deepmark-light">
                                        <input id="connectionDate" type="text" class="form-control marg-l-10 datepicker" name="connection_date" value="">
                                        <div class="input-group-append">
                                            <span class="input-group-text"><i class="fal fa-calendar-alt"></i></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row stat-data d-none marg-b-20">
                            <div class="col-12 marg-b-20">
                                <div id="tableLearnersData">
                                </div>
                            </div>
                            <div class="col-md-4"></div>
                            <div class="col-md-8">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="{{ asset('js/lang_datatable.js') }}"></script>
    <script>
        var attached = false;
        $(document).ready(function () {
            let lang = languageDatatable();
            var table = $('#learnersTable').DataTable({
                "paging": true,
                "language": lang,
                "info": true,
                dom: 'Blfrtip',
                exportOptions: {
                    columns: ':visible'
                },
                buttons: [
                    'csv',
                    'excel',
                    {extend: 'pdfHtml5', orientation: 'landscape', pageSize: 'A3',},
                    'colvis'
                ]
                }
            );
            $('.buttons-colvis').on('click', function() {
                $('.dt-button-collection').addClass('show');
            });
            $('[data-href]').on('click', function() {
                window.location = $(this).data('href');
            });
            $(".dataTables_filter").hide();
            $('.bookSearch').keyup(function(){
                table.search($(this).val()).draw() ;
            })
            $('#resetBtn').click(function() {
                $(".selectpicker").val(0);
                $("#statusId").val(-1);
                $('.selectpicker').selectpicker('refresh');
                $(".datepicker").val('');
            });
        });

        //apply
        $('.applyAction').on('click', function(){
            let actionSelected = $('#actionSelected').val();
            let url = '';
            if (actionSelected == 'reSent') {
                url = '{{ path('admin_learners_resent_attachment') }}'
            } else {
                url = '{{ path('admin_intervention_remove_assignment') }}'
            }

            let nameBtn = $(this).text();
            const selectedLearners = [];
            const checkInput = $('.check-input-learner');
            checkInput.each(function () {
                if(this.checked && this.value !== ""){
                    selectedLearners.push(this.value);
                }
            });
            if (!selectedLearners.length) {
                // one or more checkboxes are
                swal('Warning', '{{"booking.session_messages.select_one_learner"|trans}}', 'warning');
                return;
            }

            const sessionId = $(this).attr('data-session-id');
            const $this = $(this);
            $.ajax({
                'url': url,
                'method': 'POST',
                'data': {
                    'assignments': selectedLearners,
                    'interventionId': {{ intervention.getId() }},
                },
                beforeSend: function() {
                    $this.empty().html('<i class="fa fa-spinner fa-spin"></i> ' + nameBtn);
                },
            }).done(function (response) {
                $this.empty().html(nameBtn);
                if (actionSelected == 'reSent') {
                    swal({title: '{{"global.send_email_successfully_title"|trans}}', text: '{{"global.send_email_successfully_text"|trans}}', type:"success"});
                } else {
                    let i = 0;
                    let title = jsTranslations.successfully_learner_removed_text;
                    let learners = '';
                    if (response) {
                        response.forEach((data, key) => {
                            if (key > 0) learners += ', ';
                            learners += data.displayName;
                            i++;
                        });
                        if (learners != '' && i > 0) title += jsTranslations.cannot_remove_learner_text + ' \n'  + learners;
                    }

                    swal({title: jsTranslations.successfully_title, text: title, type:
                            "success"}).then(function(){
                            location.reload();
                        }
                    );
                }

            }).fail(function (response) {
                swal(
                    "Error", "There is an error in your assignment", "error",
                    {
                        showCancelButton: true,
                        closeOnConfirm: true,
                        showLoaderOnConfirm: true
                    }
                );
                $this.empty().html(nameBtn);
                console.log(response)
            })
        })

        $("#viewLearner").on('click', '#apply', function () {
            let nameBtn = $(this).text();
            const intervention = '{{ intervention.getId() }}';
            const checkInput = $('.check-add-learner');
            const selectedProfiles = [];
            checkInput.each(function () {
                if(this.checked && this.value !== ""){
                    selectedProfiles.push(this.value);
                }
            });
            if (!selectedProfiles.length) {
                // one or more checkboxes are
                swal('Warning', '{{"booking.session_messages.select_one_learner"|trans}}', 'warning');
                return;
            }

            $.ajax({
                'url': '{{ path('admin_learners_link') }}',
                'method': 'POST',
                'data' : {
                    'intervention': intervention,
                    'selectedProfiles': selectedProfiles
                },
                beforeSend: function() {
                    $("#apply").empty().html('<i class="fa fa-spinner fa-spin"></i> ' + nameBtn);
                },
            }).done(function (response) {
                swal('Success', '{{"booking.session_messages.assign_learner_success"|trans}}', 'success');
                $("#apply").empty().html(nameBtn);
                attached = true;

            }).fail(function (response) {
                swal('Warning', response.responseJSON.titre)
                $("#apply").empty().html(nameBtn);
                console.log(response)
            })
        });

        // filters
        $("#organizationId").change(function() {
            $("#entityId").empty();
            let organizationId = $(this).val();
            if(organizationId != '') {
                $.ajax({
                    type: "POST",
                    url: '{{ path('admin_learners_organizationEntity') }}',
                    data: {"organizationId": organizationId},
                    success: function (data) {
                        $("#entityId").append($("<option />").val(0).text('{{ 'trainers.statistics.export.all'|trans }}'));
                        $.each(data, function (i, data) {
                            $("#entityId").append($("<option />").val(data.id).text(data.designation));
                        });
                        $('#entityId').selectpicker('refresh');
                    }
                });
            }
            $('#entityId').selectpicker('refresh');
            $("#entityId").trigger('change');
        });

        $("#entityId").change(function() {
            let entityId = $(this).val();
            let organizationId = $("#organizationId").val();
            if(entityId != '') {
                $("#courseId").empty();
                $.ajax({
                    type: "POST",
                    url: '{{ path('admin_learners_entityCourse') }}',
                    data: {"entityId": entityId, 'organizationId': organizationId},
                    success: function (data) {
                        $("#courseId").append($("<option />").val(0).text(' {{ 'trainers.statistics.export.all'|trans  }}'));
                        $.each(data, function (i, data) {
                            $("#courseId").append($("<option />").val(data.id).text(data.designation));
                        });
                        $('#courseId').selectpicker('refresh');
                        $("#courseId").trigger('change');
                    }
                });

                $("#groupId").empty();
                $.ajax({
                    type: "POST",
                    url: '{{ path('admin_learners_entityGroup') }}',
                    data: {"entityId": entityId , 'organizationId': organizationId},
                    success: function (data) {
                        $("#groupId").append($("<option />").val(0).text('{{ 'trainers.statistics.export.all'|trans }}'));
                        $.each(data, function (i, data) {
                            $("#groupId").append($("<option />").val(data.id).text(data.designation));
                        });
                        $('#groupId').selectpicker('refresh');
                    }
                });

                $("#regionalId").empty();
                $.ajax({
                    type: "POST",
                    url: '{{ path('admin_learners_entityRegion') }}',
                    data: {"entityId": entityId, 'organizationId': organizationId},
                    success: function (data) {
                        $("#regionalId").append($("<option />").val(0).text('{{ 'trainers.statistics.export.all'|trans }}'));
                        $.each(data, function (i, data) {
                            $("#regionalId").append($("<option />").val(data.id).text(data.designation));
                        });
                        $('#regionalId').selectpicker('refresh');
                        $("#regionalId").trigger('change');

                    }
                });

            }

        });

        $("#regionalId").change(function() {
            let regionalId = $(this).val();
            let organizationId = $("#organizationId").val();
            let entityId = $("#entityId").val();
            if(regionalId != '') {

                $("#sectorId").empty();

                $.ajax({
                    type: "POST",
                    url: '{{ path('admin_learners_regionSector') }}',
                    data: {"regionalId": regionalId, "entityId": entityId, 'organizationId': organizationId},
                    success: function (data) {
                        $("#sectorId").append($("<option />").val(0).text('{{ 'trainers.statistics.export.all'|trans }}'));
                        $.each(data, function (i, data) {
                            $("#sectorId").append($("<option />").val(data.id).text(data.designation));
                        });
                        $('#sectorId').selectpicker('refresh');

                        $("#sectorId").trigger('change');

                    }

                });

            }

        });

        $("#sectorId").change(function() {
            let sectorId = $(this).val();
            let regionalId = $("#regionalId").val();
            let organizationId = $("#organizationId").val();
            let entityId = $("#entityId").val();
            if(sectorId != '') {

                $("#workplaceId").empty();

                $.ajax({
                    type: "POST",
                    url: '{{ path('admin_learners_sectorWorkplace') }}',
                    data: {"sectorId": sectorId, "regionalId": regionalId, "entityId": entityId, 'organizationId': organizationId},
                    success: function (data) {
                        $("#workplaceId").append($("<option />").val(0).text('{{ 'trainers.statistics.export.all'|trans }}'));
                        $.each(data, function (i, data) {
                            $("#workplaceId").append($("<option />").val(data.id).text(data.designation));
                        });
                        $('#workplaceId').selectpicker('refresh');
                    }
                });

            }

        });

        $("#organizationId").trigger('change');

        //end filter learners

        $('#searchBtn').click(function() {
            searchHandler(true)
        });
        function dateNewFormat(date) {
            return date = date.split("/").reverse().join("-");
        }
        function searchHandler($isExport = false, $isPdf = false){
            // $('.loader').show();
            let dateTimeFrom;
            let dateTimeTo;
            let dateTimeCreationDate = dateNewFormat($('#creationDate').val());
            let dateTimeConnectionDate =  dateNewFormat($('#connectionDate').val());

            let entityId = $('#entityId').val();
            let organizationId = $('#organizationId').val();
            let regionalId = $('#regionalId').val();
            let sectorId = $('#sectorId').val();
            let workplaceId = $('#workplaceId').val();
            let groupId = $('#groupId').val();
            let statusId = $('#statusId').val();

            var header = '';
            let organizatioName =  $("#organizationId").val() == 0 ? 'Organization_all' : $( "#organizationId option:selected" ).text();
            var interventionId = '{{ intervention.getId() }}';
            var title = 'Learners of ' + organizatioName  + " ("+moment().format('DD-MM-YYYY')+") ";
            $.ajax({
                url: '{{ path('admin_learners_get_learners_by_search') }}',
                data: {
                    'creationDate': dateTimeCreationDate,
                    'connectionDate': dateTimeConnectionDate,
                    'organizationId': organizationId,
                    'entity_id': entityId,
                    'regionalId': regionalId,
                    'sectorId': sectorId,
                    'workplaceId': workplaceId,
                    'groupId': groupId,
                    'statusId': statusId,
                    'interventionId': interventionId,
                    'templateName': "learners_table_popup"
                },
                success:function(data) {
                    $('.loader').hide();
                    $(".stat-data").removeClass('d-none');
                    $('#tableLearnersData').html(data);
                    let lang = languageDatatable();
                    let table  = $('#learnerTable').DataTable({
                        "language": lang,
                        dom: 'Blfrtip',
                        "scrollX": false,
                        "order": [[ 1, "asc" ], [ 2, "asc" ]],
                        "pagingType": "numbers",
                        "pageLength": 25,
                        buttons: [

                        ]
                    });
                    // Hide columns
                    table.columns( [7] ).visible( false );
                    table.columns( [8] ).visible( false );
                    table.columns( [9] ).visible( false );
                    table.columns( [10] ).visible( false );

                    $(".dataTables_filter").hide();
                    $('#bookSearch').keyup(function(){
                        table.search($(this).val()).draw() ;
                    });

                    $(".check-all-input-datatable").click(function(){
                        if($(this).is(":checked")){
                            $('.check-input').attr("checked",true);
                        }else{
                            $('.check-input').attr("checked",false);
                        }
                    });

                    $(".check-all-input-learners").click(function(){
                        if($(this).is(":checked")){
                            $('.check-input-learner').attr("checked",true);
                        }else{
                            $('.check-input-learner').attr("checked",false);
                        }
                    });

                },
                error:function () {
                }
            });
        }

        $('#viewLearner').on('hidden.bs.modal', function () {
            if(attached) {
                attached = false;
                location.reload();
            }
        })
        $("#searchBtn").trigger('click');
    </script>
{% endblock %}