{% extends "base.html.twig" %}

{% block title %}{{ 'admin.interventions.create.title'|trans }}{% endblock %}
{% block pagename %}{{ 'admin.interventions.create.title'|trans }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/clockpicker.css') }}" media="all"/>
    <style>
        #quotationTable_filter{
            display: none;
        }
        .dt-buttons{
            display: none;
        }
        #quotationTable_info{
            display: none;
        }
        #quotationTable>thead>tr>th, #quotationTable>tbody>tr>th, #quotationTable>tfoot>tr>th, #quotationTable>thead>tr>td, #quotationTable>tbody>tr>td, #quotationTable>tfoot>tr>td{
            border-bottom: none!important;
            border-color: transparent!important;
        }
        #quotationTable>thead>tr>th{
            color: #0076fe;
        }
        #quotationTable>thead>tr>td, #quotationTable>tbody>tr>td, #quotationTable>tfoot>tr>td{
            border-top: 1px solid #e5f0fc!important;
            padding: 15px!important;
        }
        #quotationTable > thead > tr > th[class*="sort"]:before,
        #quotationTable > thead > tr > th[class*="sort"]:after {
            content: "" !important;
        }
        #quotationTable thead>tr>th.sorting_asc,  #quotationTable thead>tr>th.sorting_desc,  #quotationTable thead>tr>th.sorting,  #quotationTable thead>tr>td.sorting_asc,  #quotationTable thead>tr>td.sorting_desc,  #quotationTable thead>tr>td.sorting {
             padding-right: 15px!important;
            padding-left: 15px!important;
        }
        select.classic {
            background-position:
                    calc(100% - 18px) 1em,
                    calc(100% - 13px) 1em,
                    100% 0!important;
        }
        select.classic:focus {
            background-position:
                    calc(100% - 13px) 1em,
                    calc(100% - 18px) 1em,
                    100% 0!important;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="card-intervention-add">
        {{ include('AdminBundle:Intervention:intervention_header_step.html.twig', {'step' : 0}) }}
        <div class="card-body no-padding">
            <div class="tab-content tab-space no-margin">
                <form action="{{ path('admin_interventions_save_step') }}" name="form_initial" id="intervention_step_initial" method="POST" data-role="intervention-form">
                    <div class="row border-radius-10 bg-white pad-t-30 pad-b-30">
                        {#<div class="col-md-12 text-right">#}
                            {#<u class="c-red font-size-12"><object data="/images/delete.svg" width="18" height="18" type="image/svg+xml" title="{{ 'table.modules.delete'|trans|capitalize }}"></object></u>#}
                        {#</div>#}
                        <div class="col-3 pad-l-40 pad-r-40">
                            <div id="logoPreview" style="height: 230px ;background-repeat: no-repeat; background-position: center; background-size: contain; {% if session is defined and session.storedLogo %} background-image: url('{{ path('admin_interventions_image_show', {'path': relative_path(session.storedLogo)}) }}') {% endif %}" class="row w-100 border-header backgroud-deepmark-light flex--center">
                                <div class="add-file flex--center col-sm-12">
                                    <div class="row text-center">
                                        <span class="input-group-btn flex--center marg-t-60" style="padding-left: 0 !important;">
                                            <span class="btn-file-upload btn-round height-36 flex--center bg-white btn btn-file">
                                                <i class="color-header fa fa-plus"></i>
                                                {% set folderName = date('now')|date('YmdHis') + random(100) %}
                                                <input type="file" data-type="icons" data-id="icons" name="file[{{ folderName }}][file][logo]" id="logo-upload">

                                                {% set logoPath =  session.storedLogo is defined and  session.storedLogo is not null ?  session.storedLogo : "" %}
                                                <input type="hidden" data-type="icons" data-id="icons" id="logo-path" value="{{ logoPath }}" name="storedLogo">

                                                {% set logoName =session.logoName is defined and  session.logoName is not null ? session.logoName : "" %}
                                                <input type="hidden" data-type="icons" data-id="icons" id="file-name" value="{{ logoName }}" name="logoName">
                                            </span>
                                        </span>
                                    </div>
                                </div>
                                <p class="color-header"><i class="fa fa-camera" aria-hidden="true"></i>&nbsp;&nbsp;{{ 'admin.interventions.create.step1.upload_icons'|trans }}</p>
                            </div>
                            <div class="row w-100 border-header backgroud-deepmark-light flex--center marg-t-20">
                                <div class="add-file flex--center col-sm-12">
                                    <div class="row pad-15 flex--center">
                                        <span class="btn-file-upload btn-file">
                                            <input type="file">
                                            <p class="color-header no-margin"><i class="fa fa-camera" aria-hidden="true"></i>&nbsp;&nbsp;{{ 'global.add_video_teaser'|trans }}</p>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-9 place-holder-blue">
                            <div class="form-group no-margin row">
                                {% if session_id is defined and session_id is not null %}
                                    <input type="hidden" name="sessionId" value="{{ session_id }}">
                                {% endif %}

                                <input type="hidden" name="step" value="1">
                                <input type="hidden" value="1" name="idClientIntervention">

                                {% set title = session is defined and session is not null ? session.title : "" %}
                                <div class="col-sm-9 no-padding">
                                    <label class="color-header">{{ 'admin.interventions.create.step1.name'|trans }}</label><br>
                                    <input type="text" class="form-control btn-deepmark-light background-image-none color-header pad-l-15 marg-t-5" name="title" id="intervention-title" value="{{ title }}" required>
                                </div>
                                <div class="col-md-3 pad-r-0">
                                    <label class="color-header">Référence interne : </label><br>
                                    <input type="text" class="form-control btn-deepmark-light background-image-none color-header pad-l-15 marg-t-5">
                                </div>
                            </div>
                            <div>
                                <label class="color-header">{{ 'admin.interventions.create.step1.description'|trans }}</label><br>
                                <div class="col-sm-12 col-md-12 no-padding marg-t-10">
                                    {% set description = session is defined and session is not null ? session.description : "" %}
                                    <textarea name="description" id="intervention-description">{{ description }}</textarea>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 pad-l-40">
                            <div class="row marg-t-30">
                                <div class="col-md-4 row border-right-header">
                                    <div class="col-md-12 no-padding">
                                        <label class="color-header">{{ 'global.conformity'|trans }} :</label><br>
                                    </div>
                                    <div class="col-md-6 btn-deepmark-light row" style="height: 36px;">
                                        <div class="col-md-6 btn-deepmark-light no-padding flex--center">
                                            {% set startDate = session is defined and session is not null ? session.intervention_start_date : "" %}
                                            <input id="startDate" type="text" class="form-control datepicker border-0 bold" name="intervention_start_date" value="{{ startDate }}" required style="background-image: none; height: 36px;">
                                        </div>
                                        <div class="col-md-6 btn-deepmark-light no-padding flex--center">{{ 'global.start_day'|trans|capitalize }}</div>
                                    </div>
                                    <div class="col-md-6 row no-padding-right" style="height: 36px;">
                                        <div class="col-md-6 btn-deepmark-light no-padding-right flex--center">
                                            {% set endDate = session is defined and session is not null ? session.intervention_end_date : "" %}
                                            <input id="endDate" type="text" class="form-control datepicker border-0 bold" name="intervention_end_date" value="{{ endDate }}" required style="background-image: none; height: 36px;">
                                        </div>
                                        <div class="col-md-6 btn-deepmark-light flex--center no-padding">{{ 'global.end_day'|trans|capitalize }}</div>
                                    </div>
                                </div>
                                <div class="col-md-8 no-padding-left row">
                                    <div class="col-md-4 row border-right-header">
                                        <div class="col-md-12 no-padding">
                                            <label class="color-header">{{ 'global.conformity'|trans }} :</label><br>
                                        </div>
                                        <div class="col-md-6 no-padding btn-deepmark-light row" style="height: 36px;">
                                            <div class="col-md-6 btn-deepmark-light no-padding flex--center">
                                                <input type="number" class="form-control border-0 bold" style="background-image: none; height: 36px;">
                                            </div>
                                            <div class="col-md-6 btn-deepmark-light no-padding flex--center">{{ 'global.min'|trans }}</div>
                                        </div>
                                        <div class="col-md-6 no-padding-right row" style="height: 36px;">
                                            <div class="col-md-6 no-padding btn-deepmark-light flex--center">
                                                {% set participant = session is defined and session is not null ? session.participant : "" %}
                                                <input required id="nbParticipant" name="participant" class="form-control border-0 bold" style="background-image: none; height: 36px;" value="{{ participant }}" type="number">
                                            </div>
                                            <div class="col-md-6 btn-deepmark-light flex--center no-padding">{{ 'global.max'|trans }}</div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 border-right-header admin">
                                        <label class="color-header">{{ 'global.conformity'|trans }} :</label><br>
                                        <select style="min-width: 100%; height: 36px; padding-left: 5px; border: none; margin-top: 3px;" class="classic btn-deepmark-light durationType" name=""
                                                data-style="select-with-transition">
                                            <option value="0">None</option>
                                            <option value="1">Qualiopi</option>
                                        </select>
                                    </div>
                                    <div class="col-md-4 admin">
                                        <label class="color-header">{{ 'global.language'|trans }} :</label><br>
                                        <select style="min-width: 100%; height: 36px; padding-left: 5px; border: none; margin-top: 3px;" class="classic btn-deepmark-light durationType" name=""
                                                data-style="select-with-transition">
                                            <option value="0">Français</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            {#<div class="col-md-12 pad-l-0 marg-t-10">#}
                                {#<object data="/images/calendar_gray.svg" width="15" height="15"#}
                                        {#type="image/svg+xml"></object>&nbsp;&nbsp;&nbsp;#}
                                {#<span>{{ 'global.course_period'|trans|capitalize }}</span> : <span class="days-period"></span>#}
                            {#</div>#}
                            {#<div class="col-md-12 pad-l-0 marg-t-10">#}
                                {#<object data="/images/clock_gray.svg" width="15" height="15"#}
                                        {#type="image/svg+xml"></object>&nbsp;&nbsp;&nbsp;#}
                                {#<label class="c-black" for="">#}
                                    {#{{ 'email.duration_course'|trans }} :#}
                                {#</label>#}
                                {#<span class="totalDurationTextColor">0{{ 'learners.courses.quiz.start.minutes'|trans|lower }}</span>#}
                            {#</div>#}

                        </div>
                    </div>

                    <div class="row bg-white border-radius-10 marg-t-15">
                        {% set remake =  session_id is not defined ? 'no' : 'yes' %}
                        <input type="hidden" name="remake" value="{{ remake }}">
                        <div class="col-xl-3 col-md-3 pad-l-30 pad-r-30 store-step-1">
                            <div class="col-md-12 pad-b-15 pad-t-15 pad-l-0 border-bottom-header">
                                <h3 class="bold no-margin">{{ 'global.shop'|trans }}</h3>
                            </div>
                            {{ include('AdminBundle:Intervention:store.html.twig', { 'generalCat': true }) }}
                        </div>
                        <div class="col-xl-9 col-md-9 pad-r-30 pad-l-0 pad-b-15">
                            <div class="row pad-b-15 pad-t-15 pad-l-0 border-bottom-header">
                                <div class="col-md-4 no-padding">
                                    <h3 class="bold no-margin">{{ 'global.create_your_course'|trans }}</h3>
                                </div>
                                <div class="col-md-2 flex--center">
                                    <span class="color-header"><i class="fa fa-file-alt"></i>&nbsp;&nbsp;1 {{ 'admin.interventions.mods.chapter'|trans }}</span>
                                </div>
                                <div class="col-md-2 flex--center color-header">
                                    <object class="marg-l-12" data="/new-image/clock.svg" width="20" height="20"
                                            type="image/svg+xml">
                                    </object>&nbsp;&nbsp;1h40 mins
                                </div>
                                <div class="col-md-2 flex--center color-header">
                                    <i class="fa fa-list"></i>&nbsp;&nbsp;4 Modules
                                </div>
                                <div class="col-md-2 color-header flex--center">
                                    <object class="marg-l-12" data="/new-image/lp.svg" width="20" height="20"
                                            type="image/svg+xml">
                                    </object>&nbsp;&nbsp; 1200 LP
                                </div>
                                {#<div class="col-md-3 text-right">#}
                                    {#<span class="color-header"><i class="fa fa-file-alt"></i>&nbsp;&nbsp;{{ 'global.generate_sequential'|trans }}</span>#}
                                {#</div>#}
                                {#<div class="col-md-3 text-right no-padding">#}
                                    {#<span class="color-header"><i class="fa fa-file-alt"></i>&nbsp;&nbsp;#}
                                        {#<a data-toggle="modal" id="quotationBtn" href="#quotationModal" name="createQuotation" class="color-header">{{ 'global.generate_quote'|trans }}</a>#}
                                    {#</span>#}
                                {#</div>#}
                            </div>
                            <div class="table-responsive course-table marg-t-10">
                                <table class="table interv-new-table">
                                    <tbody class="sortable-rows">
                                    {% if modules is defined and modules is not null %}
                                        {% for key,module in modules %}
                                            {% set widthLogo = 20 %}
                                            {% set heightLogo = 35 %}
                                            {% if module.appId != constant('\\ApiBundle\\Entity\\StoredModule::CONCEPTION') and module.appId != constant('\\ApiBundle\\Entity\\StoredModule::PILOTAGE') and module.appId != constant('\\ApiBundle\\Entity\\StoredModule::TEAM_PREPARATION') %}
                                                {% set widthLogo = 36 %}
                                                {% set heightLogo = 36 %}
                                            {% endif %}
                                            {% if module.appId == constant('\\ApiBundle\\Entity\\StoredModule::ASSESSMENT') %}
                                                {% set widthLogo = 20 %}
                                                {% set heightLogo = 20 %}
                                            {% endif %}
                                            {{ include('AdminBundle:Intervention:step1-row.html.twig', {
                                                'id': module.appId,
                                                'color': module.color,
                                                'icon': module.icon,
                                                'title': module.title,
                                                'displayTitle': module.displayTitle,
                                                'delete': false,
                                                'quantity': module.quantity,
                                                'session_id': key,
                                                'duration': module.duration is defined ? module.duration :'',
                                                'durationType': module.time_param is defined ? module.time_param : '',
                                                'price': module.price,
                                                'position': module.position is defined ? module.position : 0,
                                                'moduleName': module.title,
                                                'rowClick' : 'data'~key,
                                                'width': widthLogo,
                                                'height': heightLogo,
                                                'index': loop.index,
                                            }) }}
                                        {% endfor %}
                                    {% endif %}
                                    </tbody>
                                </table>
                            </div>
                            <div class="row pad-15 cursorPointer border-dashed-deepmark flex--center bg-header-light marg-b-15 btn-add-chapter"
                                 data-width="36"
                                 data-height="36"
                                 data-color="lightblue"
                                 data-icon="chapter-white"
                                 data-title="{{ 'admin.interventions.mods.chapter'|trans }}"
                                 data-display-title="{{ 'admin.interventions.mods.chapter'|trans }}"
                                 data-id=12
                                 data-mod="chapter">
                                <i class="fa fa-plus-circle color-header font-size-25"></i>&nbsp;&nbsp;&nbsp;&nbsp;<span class="color-header">{{ 'global.add_chapter'|trans }}</span>
                            </div>
                            <div class="row bg-dark c-white pad-t-15 pad-b-15">
                                {#<div class="col-md-6 justify-content-start flex--center">#}
                                    {#{{ 'global.total_duration'|trans }}&nbsp;:&nbsp;<span class="bold totalDurationText">0min</span>#}
                                {#</div>#}
                                {#<div class="col-md-3"></div>#}
                                <div class="col-md-3 flex--center no-padding admin">
                                    <label class="c-white">{{ 'global.currency'|trans }}</label>&nbsp;&nbsp;&nbsp;
                                    <select style="min-width: 90px; height: 36px; padding-left: 5px;"  class="classic black-select border-white"
                                            data-style="select-with-transition">
                                        <option>€</option>
                                    </select>
                                </div>
                                <div class="col-md-2 flex--center no-padding admin">
                                    <label class="c-white">TVA</label>&nbsp;&nbsp;&nbsp;
                                    <select style="min-width: 90px; height: 36px; padding-left: 5px;"  class="classic black-select border-white"
                                            data-style="select-with-transition">
                                        <option>20%</option>
                                    </select>
                                </div>
                                <div class="col-md-7 row text-right">
                                    <div class="col-md-4">
                                        <label class="c-white">{{ 'global.total_cost'|trans }}</label><br>
                                        <span class="budgetPrice bold"></span> € HT
                                    </div>
                                    <div class="col-md-4">
                                        <label class="c-white">{{ 'global.participant_cost'|trans }}</label><br>
                                        <span class="budgetPrice bold"></span> € HT
                                    </div>
                                    <div class="col-md-4">
                                        <label class="c-white">{{ 'global.participant_selling_price'|trans }}</label><br>
                                        <span class="budgetPrice bold"></span> € HT
                                    </div>
                                </div>
                            </div>
                            <div class="row marg-t-10">
                                <div class="col-2 no-padding">
                                    <a class="btn btn-block btn-border-yelow" href="{{ path('admin_interventions_index') }}">{{ 'buttons.back'|trans }}</a>
                                </div>
                                <div class="col-6"></div>
                                <div class="col-2 text-right">
                                    <button type="button" class="btn btn-block btn-deepmark-green d-none" id="save_unpublished">
                                        {{ 'admin.interventions.create.step1.save'|trans }}
                                    </button>
                                </div>
                                <div class="col-2 no-padding text-right">
                                    <button type="submit" class="btn btn-block btn-orangelight" name="btnInitInt">{{ 'admin.interventions.create.step1.next'|trans }}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block modals %}
    <div id="" class="modal fade col-md-12 listDataFileAlreadyUploadModalNew" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <h3>{{ 'admin.interventions.create.step1.list_of_uploaded_files'|trans|capitalize }}s</h3>
                    <div class="row mt-5">
                        <div class="col-md-12 col-sm-12">
                            <h6>{{ 'admin.interventions.create.step1.elearning'|trans }}</h6>
                            <table id="modalListFileUnlinkLearner" data-for="learner" class=" col-md-12 table table-striped">
                                <thead>
                                <tr>
                                    <th class="col-md-3">{{ 'admin.interventions.create.step1.name_name'|trans }}</th>
                                    <th class="col-md-3"></th>
                                    <th class="col-md-3">{{ 'admin.interventions.create.step1.delete'|trans }}</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% set logoName =session.logoName is defined and  session.logoName is not null ? session.logoName : "logo" %}
                                <tr>
                                    <td id="logo-table-name">{{ logoName }}</td>
                                    <td>
                                        <i class="fal fa-file-alt fa-2x"> </i>
                                    </td>
                                    <td><i class="fal fa-minus-circle fa-2x" onclick="deleteLogo()"> </i></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <button id="closeModal" type="button" name="button" class="btn-confirm-linkFile btn btn-success" data-dismiss="modal">{{ 'admin.interventions.create.step1.confirm'|trans }}</button>
                </div>
            </div>
        </div>
    </div>

    <div id="quotationModal" class="modal fade col-md-12" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document" style="max-width: 70%!important;">
            <div class="modal-content">
                <div class="modal-header no-margin no-padding btn-deepmark row flex--center">
                    <div class="col-md-9 justify-content-start pad-t-15 pad-b-15">
                        <p class="no-margin text-white">{{ 'global.quote_made_on'|trans }} {{  "now"|date('d/m/Y') }} </p>
                    </div>
                    <div class="col-md-1 pad-r-0 pad-t-15 pad-b-15 text-right"><button id="pdfBtn" class="btn btn-sm btn-white border-radius-0 color-header">PDF</button></div>
                    <div class="col-md-1 pad-t-15 pad-b-15"><button id="excelBtn" class="btn btn-sm btn-white border-radius-0 color-header">EXCEL</button></div>
                    <div class="col-md-1 pad-t-15 pad-b-15">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span class="text-white" aria-hidden="true">×</span>
                        </button>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="row mt-3">
                        <div class="col-md-12">
                            <div class="row no-padding">
                                <div class="col-md-6 pad-l-0 pad-r-0 pad-t-10 pad-b-10">
                                    <p class="bold font-size-16 color-header marg-b-10">{{ 'global.intervention'|trans }}</p>
                                    <div class="col-md-12 pad-l-0 pad-r-0 border-top-header font-size-14 pad-t-10 justify-content-center">
                                        <b><span class="titleCourse"></span></b>
                                        <div class="justify-content-center">
                                            <span class="desCourse"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 pad-r-0 pad-t-10 pad-b-10">
                                    <p class="bold font-size-16 color-header marg-b-10">{{ 'global.characteristics'|trans }}</p>
                                    <div class="col-md-12 font-size-14 row pad-l-0 pad-r-0 border-top-header pad-t-10  justify-content-center">
                                        <div class="col-md-12 pad-l-0 pad-t-20">
                                            <object data="/images/calendar_gray.svg" width="15" height="15"
                                                    type="image/svg+xml"></object>&nbsp;&nbsp;&nbsp;
                                            <label class="c-black" for="">{{ 'table.modules.start_date'|trans|capitalize }}</label> :&nbsp;<span class="bold startCourse"></span>
                                        </div>
                                        <div class="col-md-12 pad-l-0 marg-t-10">
                                            <object data="/images/calendar_gray.svg" width="15" height="15"
                                                    type="image/svg+xml"></object>&nbsp;&nbsp;&nbsp;
                                            <label class="c-black" >{{ 'table.modules.end_date'|trans|capitalize }}</label> : &nbsp;&nbsp;<span class="bold endCourse" ></span>
                                        </div>
                                        <div class="col-md-12 pad-l-0 marg-t-10">
                                            <object data="/images/calendar_gray.svg" width="15" height="15"
                                                    type="image/svg+xml"></object>&nbsp;&nbsp;&nbsp;
                                            <span>{{ 'global.course_period'|trans|capitalize }}</span> : <span class="days-period"></span>
                                        </div>
                                        <div class="col-md-12 pad-l-0 marg-t-10">
                                            <object data="/images/clock_gray.svg" width="15" height="15"
                                                    type="image/svg+xml"></object>&nbsp;&nbsp;&nbsp;
                                            <label class="c-black">
                                                {{ 'email.duration_course'|trans }} :
                                            </label>
                                            <span class="totalDurationTextColor">0{{ 'learners.courses.quiz.start.minutes'|trans|lower }}</span>
                                        </div>
                                        <div class="col-md-12 no-padding marg-t-10">
                                            <i class="fa fa-users text-gray marg-r-10 font-size-13" aria-hidden="true"></i>
                                            <span class="c-black">{{ 'global.number_of_learners_course_maximum'|trans|capitalize }}</span> : <span class="bold participantCourse"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <p class="bold font-size-16 color-header marg-b-10">{{ 'global.sequences'|trans }}</p>
                        <div class="col-md-12 font-size-14 row pad-l-0 pad-r-0 border-top-header pad-t-10 justify-content-center">
                            <div class="table-responsive">
                                <table id="quotationTable" class="table">
                                    <caption style="caption-side:top; display: none">
                                        <p>Course name: <span class="titleCourse"></span></p>
                                        <p>Description: <span class="desCourse"></span></p>
                                        <p><label class="c-black">{{ 'table.modules.start_date'|trans|capitalize }}</label> :&nbsp;<span class="bold startCourse"></span></p>
                                        <p><label class="c-black">{{ 'table.modules.end_date'|trans|capitalize }}</label> : &nbsp;&nbsp;<span class="bold endCourse"></span></p>
                                        <p><span>{{ 'global.course_period'|trans|capitalize }}</span> : <span class="days-period"></span></p>
                                        <p><span class="c-black">{{ 'email.duration_course'|trans }} :</span><span class="totalDurationTextColor">0{{ 'learners.courses.quiz.start.minutes'|trans|lower }}</span></p>
                                        <p><span>{{ 'global.number_of_learners_course_maximum'|trans|capitalize }}</span> : <span class="bold participantCourse"></span></p>
                                    </caption>
                                    <thead class="btn-deepmark-light">
                                        <tr>
                                            <th class="col-num text-center">N°</th>
                                            <th class="col-type">{{ 'trainers.statistics.module_type'|trans }}</th>
                                            <th class="col-name">{{ 'global.module_title'|trans }}</th>
                                            <th class="col-duration text-right">{{ 'admin.interventions.create.step1.duration'|trans }}</th>
                                            <th class="col-type-duration text-right">{{ 'global.unit'|trans }}</th>
                                            <th class="col-qty text-right">{{ 'admin.interventions.create.step1.quantity'|trans }}</th>
                                            <th width="15%" class="col-unit text-right">{{ 'admin.interventions.create.step1.unit_price'|trans }}</th>
                                            <th width="15%" class="col-total text-right">{{ 'admin.interventions.create.step1.total_price'|trans }}</th>
                                        </tr>
                                    </thead>
                                    <tbody id="quotationTbody" >
                                    {% if modules is defined and modules is not null %}
                                        {% for key,module in modules %}
                                            {% set rowClick = 'data'~key %}
                                            <tr id="row{{ rowClick }}">
                                                <td id="col{{ rowClick }}" class='text-center bold font-size-16 color-header'>
                                                    {{ loop.index }}
                                                </td>
                                                <td>
                                                    <b>{{ module.displayTitle }}</b>
                                                </td>
                                                <td>
                                                    <span id="titleModuleCol{{ rowClick }}">{{ module.title }}</span>
                                                </td>
                                                <td class="text-right" id="durationModuleCol{{ rowClick }}">{{ module.duration is defined ? module.duration : '' }}</td>
                                                <td class="text-right">
                                                    {% if module.time_param is defined %}
                                                    {{ module.time_param == 0 ? 'learners.alerts.your_course_will_start_minutes'|trans : 'learners.alerts.your_course_will_start_hours'|trans  }}
                                                    {% endif %}
                                                </td>
                                                <td class="text-right" id="quantityModuleCol{{ rowClick }}">
                                                    {{ module.quantity }}
                                                </td>
                                                <td class="text-right" id="unitPriceModuleCol{{ rowClick }}">
                                                    {% set price  = module.price is defined and module.price is not null ? module.price : 0 %}
                                                    {{ price }}€
                                                </td>
                                                <td class="text-right" id="totalModuleCol{{ rowClick }}">
                                                    {% set total  = module.quantity is defined and module.quantity is not null ? (module.price * module.quantity) : 0 %}
                                                    {{ total }}
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    {% endif %}
                                    </tbody>
                                    <tfoot class="d-none">
                                        <tr class="color-header">
                                            <td><span class="color-header">{{ 'global.total_ht'|trans }}</span></td>
                                            <td> <span class="color-header bold"> <span class="totalPriceCourse"></span></span></td>
                                            <td><span class="color-header">{{ 'global.total_tva'|trans }}</span></td>
                                            <td>
                                                <span class="color-header bold"> <span id="">0€</span></span>
                                            </td>
                                            <td>
                                                <span class="color-header">{{ 'global.total_ttc'|trans }}</span>
                                            </td>
                                            <td>
                                                <span class="color-header bold"> <span id="">0€</span></span>
                                            </td>
                                            <td class="text-right">
                                                <span class="color-header d-none">{{ 'global.price_msg'|trans }}</span>
                                            </td>
                                            <td class="text-right">
                                                <span class="color-header bold d-none"> <span class="perPriceCourse"></span></span>
                                            </td>
                                        </tr>
                                    </tfoot>
                                    <tfoot class="btn-deepmark-light">
                                        <tr class="color-header">
                                            <td colspan="7" class="text-right" style="padding-bottom: 0!important; padding-top: 10px!important;">
                                                {{ 'global.total_ht'|trans }}
                                            </td>
                                            <td class="text-right pad-r-20 bold" style="padding-right: 20px!important; padding-bottom: 0!important;padding-top: 10px!important;">
                                                <span class="totalPriceCourse"></span>
                                            </td>
                                        </tr>
                                        <tr class="color-header">
                                            <td colspan="7" class="text-right" style="padding-bottom: 0!important; padding-top: 0!important;">
                                                {{ 'global.total_tva'|trans }}
                                            </td>
                                            <td class="text-right bold" style="padding-right: 20px!important; padding-bottom: 0!important; padding-top: 0!important;">
                                                <span id="">0€</span>
                                            </td>
                                        </tr>
                                        <tr class="color-header">
                                            <td colspan="7" class="text-right" style="padding-bottom: 10px!important; padding-top: 0!important;">
                                                {{ 'global.total_ttc'|trans }}
                                            </td>
                                            <td class="text-right bold" style="padding-right: 20px!important; padding-bottom: 10px!important; padding-top: 0!important;">
                                                <span id="">0€</span>
                                            </td>
                                        </tr>
                                    </tfoot>
                                    <caption class="text-right">
                                        <i>{{ 'global.price_msg'|trans }} <span class="perPriceCourse"></span> €</i>
                                    </caption>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/admin/intervention/step1.js') }}"></script>
    <script>
        new Jodit("#intervention-description", {
            toolbarAdaptive: false,
            buttons: "bold,strikethrough,underline,italic,eraser,|,ul,ol,|,outdent,indent,|,font,fontsize,brush,paragraph,copyformat,preview"
        });
        $(document).ready(function () {
            calculatePeriod();
            $('#pdfBtn').on('click', function() {
                $("#quotationModal .buttons-pdf").click();
            });
            $('#excelBtn').on('click', function() {
                $("#quotationModal .buttons-excel").click();
            });
            $('#quotationBtn').on('click', function() {
                $(".titleCourse").text($("#intervention-title").val());
                // $("#desCourse").html(CKEDITOR.instances['intervention-description'].getData());
                $(".desCourse").html($("#intervention-description").val());
                $(".startCourse").text($("#startDate").val());
                $(".endCourse").text($("#endDate").val());
                $(".participantCourse").text($("#nbParticipant").val());

            });
            $("#nbParticipant").blur(function(){
                var totalTxt = $('.budgetPrice').text();
                var persons = $("#nbParticipant").val();
                var perPrice = parseFloat(totalTxt)/parseInt(persons);
                $('.perPriceCourse').text(perPrice);
            });

            $("#intervention_step_initial").submit(function(e){
                let isSubmit = false;
                let isChapter = false;
                let chapterIDs = ["12"];
                $(".chapter-row").each(function() {
                    if(chapterIDs.indexOf($(this).attr("data-id")) != -1){
                        isChapter = true;
                    }
                });

                let appIDs = ["4", "5", "6", "7", "8", "9", "10", "11"];
                $(".price-row").each(function() {
                    if(appIDs.indexOf($(this).attr("data-id")) != -1){
                        isSubmit = true;
                    }
                });

                $(".durationField").each(function(){
                    if($(this).val() == '' || $(this).val() <= 0){
                        $(this).addClass('warning-box');
                        $(this).focus();
                        swal("Warning", "{{'admin.interventions.messages.duration_required'|trans}}", "warning", {
                            button: "Ok",
                        });
                        e.preventDefault();
                        return false;
                    }else{
                        $(this).removeClass('warning-box');
                    }
                });

                if (!isChapter) {
                    swal("Information", "Please choose at least a chapter and put it on top!", "info", {
                        button: "Ok",
                    });
                    e.preventDefault();
                    return false;
                }

                if (!isSubmit) {
                    swal("Information", "Please chosen at least a module with reservation or without reservation!", "info", {
                        button: "Ok",
                    });
                    e.preventDefault();
                    return false;
                }
            });

            $("#nbParticipant").trigger('blur');
            $('#startDate, #endDate').datetimepicker().on('dp.change', function (e) {
                calculatePeriod();
            });
            function calculatePeriod() {
                const startArr = ($("#startDate").val()).split('/');
                const endArr = ($("#endDate").val()).split('/');
                const date1 = new Date(startArr[1]+'/'+startArr[0]+'/'+startArr[2]);
                const date2 = new Date(endArr[1]+'/'+endArr[0]+'/'+endArr[2]);
                const diffTime = Math.abs(date2 - date1);
                const diffDays = Math.ceil(diffTime / (1000 * 60 * 60 * 24));
                const diffWeeks = Math.floor(diffDays/7);
                const diffDaysAfterWeek = diffDays - diffWeeks*7;
                let daysPeriod = '';
                let strWeeks = '';
                let strDays = '';
                if(diffWeeks > 0) {
                    strWeeks += String(diffWeeks) + " <span class='color-header'>{{ 'global.week(s)'|trans }}</span>";
                }
                if(diffDaysAfterWeek > 0){
                    strDays += String(diffDaysAfterWeek) + " <span class='color-header'>{{ 'global.day(s)'|trans }}</span>";
                }
                if (diffWeeks > 0 && diffDaysAfterWeek > 0){
                    daysPeriod = strWeeks + " <span class='color-header'>{{ 'global.and'|trans }}</span> " + strDays;
                }else if(diffWeeks > 0){
                    daysPeriod = strWeeks;
                }else if (diffDaysAfterWeek > 0){
                    daysPeriod = strDays;
                }

                $('.days-period').html(daysPeriod);
            }
        });

        {# Remove CKEditor #}
        let rmCk = false;
        const rmCkInt = setInterval(() => {
            if ($("#cke_editor1").length == 1) {
                $("#cke_editor1").remove();
                rmCk = true;
            }
            if ($("#cke_editor1").length == 0 && rmCk) {
                clearInterval(rmCkInt);
            }
        }, 100)
    </script>
{% endblock %}
