{% extends "base.html.twig" %}

{% block title %}{{ 'admin.interventions.create.title'|trans }}{% endblock %}
{% block pagename %}{{ 'admin.interventions.create.title'|trans }}{% endblock %}

{% block body %}
    <style>
        .open-time .col-form-label {
            min-width: 70px;
        }
    </style>
    <div class="card card-intervention-add">
        {{ include('AdminBundle:Intervention:intervention_header_step.html.twig', {'step' : 2}) }}
        <div class="card-body">
            <form class="form form-horizontal rows-align-center new-interv-step3" name="form_3"
                  action="{{ path('admin_interventions_save_step') }}" method="POST" data-role="intervention-form">

                <input type="hidden" name="step" value="3">
                <input type="hidden" name="sessionId" value="{{ session_id }}">
                <div class="tab-content tab-space">
                    <div class="tab-pane active show" id="step3">
                        <div class="row">
                            <label class="col-md-4 col-lg-2 col-form-label">
                                {{ 'admin.interventions.create.step3.week_days_open_for_session'|trans }}
                            </label>
                            <div class="col-md-8 col-lg-10 no-padding-mobile">
                                {% if session['step'] is defined and session['step'][3] is defined and session['step'][3]['days_open_for_session'] is defined %}
                                    {% set days_open = session['step'][3]['days_open_for_session'] %}
                                {% elseif session.days_open_for_session is defined %}
                                    {% set days_open = session['days_open_for_session'] %}
                                {% endif %}

                                <!-- Defining the working days: if the entity have the working hours then get it and else -->
                                {% set days = [] %}
                                {% if api.profile.entity.workingHours %}
                                    {% for key,day in api.profile.entity.workingHours %}
                                        {% set days = days|merge({(loop.index0): key}) %}
                                    {% endfor %}
                                {% else %}
                                    {% set days = constant('AdminBundle\\Utils\\Intervention\\InterventionConstants::DAYS') %}
                                {% endif %}

                                {% for day in days %}
                                    {% set activeState = days_open is defined and days_open is not empty ? (loop.index|string in days_open|split(',') ? 'active' : '') : '' %}
                                    {% set dayName = 'global.'~day|lower %}
                                    <span data-start-morning-time="{{ attribute(session['steps'][3], 'startMorningTime' ~ loop.index)|default(api.profile.entity.workingHours?api.profile.entity.workingHours[day]['startTime']:'09:00') }}"
                                          data-end-morning-time="{{ attribute(session['steps'][3], 'endMorningTime' ~ loop.index)|default(api.profile.entity.workingHours?api.profile.entity.workingHours[day]['endTime']:'12:00') }}"
                                          data-start-afternoon-time="{{ attribute(session['steps'][3], 'startAfternoonTime' ~ loop.index)|default(api.profile.entity.workingHours?api.profile.entity.workingHours[day]['startTimeAfternoon']:'13:00') }}"
                                          data-end-afternoon-time="{{ attribute(session['steps'][3], 'endAfternoonTime' ~ loop.index)|default(api.profile.entity.workingHours?api.profile.entity.workingHours[day]['endTimeAfternoon']:'18:00') }}"
                                          data-name="{{ dayName|trans }}" name="day" class="badge badge-day {{ activeState }}"
                                          data-day="{{ loop.index }}">
                                        {{ dayName|trans }}
                                    </span>
                                {% endfor %}
                                <input type="hidden" name="days_open_for_session" id="days_open_for_session">
                            </div>

                        </div>

                        <div class="row">
                            <label class="col-md-4 col-lg-2 col-form-label">
                                {{ 'admin.interventions.create.step3.days_slots_open_for_session'|trans }}
                            </label>
                            <div id="divDays" class="col-md-8 col-lg-10">

                            </div>
                        </div>

                        <div class="row">
                            <label class="col-md-4 col-lg-2 col-form-label">
                                {{ 'admin.interventions.create.step3.sequential'|trans }}
                            </label>
                            <div class="col-md-8 col-lg-10">
                                <div class="form-group">
                                    <span class="switch switch-sm">
                                        <input name="sequential" type="checkbox" class="switch" id="switch-se"
                                               {% if (session.sequential is defined and session.sequential == 'on') or (session['step'] is defined and session['step'][3] is defined and session['step'][3]['sequential'] is defined and session['step'][3]['sequential'] == 'on') %}checked{% endif %}>
                                        <label for="switch-se"></label>
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <label class="col-md-4 col-lg-2 col-form-label">
                                {{ 'admin.interventions.create.step3.week_exclude'|trans }}
                            </label>
                            <div class="col-md-1 col-lg-1">
                                <div class="form-group">
                                    <span class="switch switch-sm">
                                        <input name="exclude" type="checkbox" class="switch" id="switch-sm"
                                               {% if (session.exclude is defined and session.exclude == 'on') or (session['step'] is defined and session['step'][3] is defined and session['step'][3]['exclude'] is defined and session['step'][3]['exclude'] == 'on') %}checked{% endif %}>
                                        <label for="switch-sm"></label>
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-7 col-lg-9 hidden" id="guidelines">
                                <p class="no-margin no-padding">
                                    {{ 'admin.interventions.create.step3.exclude_day'|trans }}
                                </p>
                                <p class="no-margin no-padding">
                                    {{ 'admin.interventions.create.step3.exclude_days'|trans }}
                                </p>
                                <p class="no-margin no-padding">
                                    {{ 'admin.interventions.create.step3.delete_exclude'|trans }}
                                </p>
                            </div>
                        </div>

                        <div class="row">
                            {% if session['step'] is defined and session['step'][3] is defined and session['step'][3]['weeks_exclude'] is defined %}
                                {% set weeksExclude = session['step'][3]['weeks_exclude'] %}
                            {% elseif session.weeks_exclude is defined %}
                                {% set weeksExclude = session.weeks_exclude %}
                            {% else %}
                                {% set weeksExclude = null %}
                            {% endif %}
                            <div class="calendar-wrapper marg-t-10 hidden" id="divCalendar">

                                {{ include('molecules/calendar/calendar-legend.twig', {user:''}) }}
                                <div id="calendar"></div>
                                <input name="weeks_exclude" type="hidden" id="weeks_exclude" value="{{ weeksExclude }}">
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12 text-right">
                                <a class="btn btn-default"
                                   href="{{ path('admin_interventions_index') }}">{{ 'buttons.cancel'|trans }}</a>
                                <button type="submit"
                                        class="btn btn-info step3_constraints">{{ 'buttons.next'|trans }}
                                    <div class="ripple-container">
                                        <div class="ripple-decorator ripple-on"
                                             style="left: 38.5781px; top: 31px; background-color: rgb(255, 255, 255); transform: scale(8.25976);"></div>
                                    </div>
                                </button>
                            </div>
                        </div>

                    </div>
                </div>
            </form>
        </div>

        {% if errors is defined and errors is not empty %}
            <div class="pad-20">
                <div class="card">
                    <header class="card-header c-bg-orangestrong c-white">
                        <h4 class="marg-0"><i class="fas fa-exclamation-triangle marg-r-20">
                            </i>{{ 'admin.interventions.create.step3.warnings'|trans }}
                        </h4>
                    </header>
                    <div class="card-body">
                        {% include '@Admin/Intervention/ModuleCard/error/card-error.html.twig' %}
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Delete</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Delete?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" id="deleteBtn" class="btn btn-primary">Delete</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/admin/intervention/step3.js') }}"></script>
{% endblock %}
