{% extends "base.html.twig" %}

{% block title %}{{ 'admin.interventions.create.title'|trans }}{% endblock %}
{% block pagename %}{{ 'admin.interventions.create.title'|trans }}{% endblock %}
{% block body %}

    {% set currentStep = 3 %}
    <div class="card card-intervention-add" data-id="{{ modules.sessionId }}">
        {{ include('AdminBundle:Intervention:intervention_header_step.html.twig', {'step' : currentStep }) }}
        <input type="hidden" name="step" value="{{ currentStep }}">
        <input type="hidden" name="sessionId" value="{{ session_id }}">
        <div id="intervention-step4-spacer"></div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-12">
                    {% for module in modules.modules %}
                        <div class="module" data-id="{{ module.id }}" data-appId="{{ module.appId }}" data-minDate="{{ module.minDate|date('Y-m-d H:i:s') }}"
                             data-maxDate="{{ module.maxDate|date('Y-m-d H:i:s') }}">
                            {% if module.appId == constant('\\ApiBundle\\Entity\\StoredModule::ONLINE') %}
                                <div class="accordion-pane">
                                    {% block moduleHeader %}
                                        <div class="accordion-header collapsed" id="heading_{{ module.id }}" data-toggle="collapse"
                                             data-target="#collapse_{{ module.id }}">
                                            <div class="col-md-10 form-check--nopadding ">
                                                <div class="col-md-1 col-1 pad-r-0">
                                                    <i class="fal fa-globe moduleIconCircle"></i>
                                                </div>
                                                <div class="col-md-3 col-11">
                                                    <b class="intervention-module-title">

                                                        {% if module.appId == constant('\\ApiBundle\\Entity\\StoredModule::ONLINE') %}
                                                            {{ 'admin.interventions.mods.onlineseance'|trans }}
                                                        {% endif %}
                                                        {% if module.appId == constant('\\ApiBundle\\Entity\\StoredModule::VIRTUAL_CLASS') %}
                                                            {{ 'admin.interventions.mods.virtualclass'|trans }}
                                                        {% endif %}
                                                        {% if module.appId == constant('\\ApiBundle\\Entity\\StoredModule::ONLINE_WORKSHOP') %}
                                                            {{ 'admin.interventions.mods.workshop'|trans }}
                                                        {% endif %}
                                                        {% if module.appId == constant('\\ApiBundle\\Entity\\StoredModule::PRESENTATION_ANIMATION') %}
                                                            {{ 'admin.interventions.mods.animation'|trans }}
                                                        {% endif %}

                                                    </b>
                                                </div>
                                                <div class="col-md-8">
                                                    <span class="intervention-module-title">
                                                        {{ module.title }}
                                                    </span>
                                                </div>
                                            </div>

                                            <div class="col-md-2 form-check--nopadding">
                                                <span id="assign-trainers-{{ module.id }}" class="assign-trainers">{{ 'admin.interventions.create.step4.please_assign_trainers'|trans|capitalize }}</span>
                                                <i class="fas fa-caret-down down-arrow"></i>
                                            </div>
                                        </div>

                                    {% endblock %}

                                    <div id="collapse_{{ module.id }}" class="collapse" aria-labelledby="heading_{{ module.id }}" data-parent="#heading_{{ module.id }}">

                                        <div class="accordion-body">

                                            {% block moduleInfo %}
                                                <div id="intervention-module-info">

                                                    <div class="intervention-module-info-inner">

                                                        <div class="module-info-row">
                                                            <div class="module-info-icon">
                                                                <i class="far fa-calendar"></i>
                                                            </div>
                                                            {% set durationHourTime = module.duration|date('H') %}
                                                            {% set durationMinTime = module.duration|date('i') %}
                                                            {% if module.appId == constant('\\ApiBundle\\Entity\\StoredModule::VIRTUAL_CLASS') or
                                                                module.appId == constant('\\ApiBundle\\Entity\\StoredModule::ONLINE_WORKSHOP') or
                                                                module.appId == constant('\\ApiBundle\\Entity\\StoredModule::PRESENTATION_ANIMATION') %}
                                                            <span>From {{ module.sessions.session_date |date('d/m/y h:i') }} To {{ module.sessions.session_date|date_modify('+'~ durationHourTime ~' hours +'~durationMinTime~' min')|date('d/m/y h:i') }}</span>
                                                            {% else %}
                                                            <span>From {{ module.start|date('d/m/y') }} to {{ module.end|date('d/m/y') }}</span>
                                                            {% endif %}
                                                        </div>

                                                        <div class="module-info-row">
                                                            <div class="module-info-icon">
                                                                <i class="far fa-clock"></i>
                                                            </div>
                                                            <span>{{ module.duration|date('H:i') }}</span>
                                                        </div>

                                                    </div>

                                                    <div class="vertical-separator"></div>

                                                    <div class="intervention-module-info-inner">

                                                        <div class="module-info-row">
                                                            <div class="module-info-icon">
                                                                <i class="fas fa-cart-plus"></i>
                                                            </div>
                                                            <span><span id="quantity_session_{{ module.id }}">
                                                                    {% if module.appId == constant('\\ApiBundle\\Entity\\StoredModule::ONLINE') %}
                                                                        {{ module.quantity }}
                                                                    {% else %}
                                                                        {{ module.quantity*modules.intervention.participant }}
                                                                    {% endif %}
                                                                </span> {{ 'admin.interventions.create.step4.sessions'|trans }}</span>
                                                        </div>

                                                        <div class="module-info-row">
                                                            <div class="module-info-icon">
                                                                <i class="far fa-check-circle"></i>
                                                            </div>
                                                            <span> {{ module.skillNames }}&nbsp;</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endblock %}


                                            <div id="intervention-online-bottom-row">

                                                <div id="intervention-trainers-list-wrapper">

                                                    <h2 id="select-trainer-header"> {{ 'admin.interventions.create.step4.select_available_trainers'|trans }}</h2>

                                                    <div id="trainers-{{ module.id }}" class="intervention-trainers-list">

                                                        <div id="trainer-item-template" class="trainer-item-template"
                                                             style="display: none;">

                                                            <div class="trainer-checkbox">
                                                                <input id="" class="dm-checkbox" type="checkbox"/>
                                                                <label for="" class="dm-label"></label>
                                                            </div>

                                                            <div class="trainer-item-content">

                                                                <div class="trainer-item-top">
                                                                    <i class="fas fa-user"></i>
                                                                    <span class="trainer-name"></span>
                                                                </div>

                                                                <div class="trainer-item-bottom">

                                                                    <i class="fas fa-clock"></i>
                                                                    <span class="trainer-item-hours"></span><span>&nbsp;{{ 'admin.interventions.create.step4.hours'|trans }}</span>
                                                                    <span class="trainer-dates">
                                                                        <span>{{ 'global.from'|trans }}</span>
                                                                        <span class="trainer-date-from"></span>
                                                                        <span>{{ 'global.to'|trans }}</span>
                                                                        <span class="trainer-date-to"></span>
                                                                    </span>
                                                                    <span class="hidden hour-quota-needed"></span>
                                                                </div>
                                                            </div>

                                                        </div>

                                                    </div>
                                                </div>

                                                <div id="intervention-hours-left-wrapper">

                                                    <h2 id="hours-left-header">{{ 'admin.interventions.create.step4.numbers_of_hours_left'|trans }}</h2>
                                                    <div id="intervention-hours-left">
                                                        {% set hoursNeeded = 3 * module.totalDurationInSec %}
                                                        <div id="intervention-hours-total-{{ module.id }}" data-duration="{{ hoursNeeded }}">{{ 'global.total'|trans }} :
                                                            {% if hoursNeeded >= 3600 %}
                                                            {{ (hoursNeeded/3600)|round(0, 'floor') }}{{ 'admin.interventions.create.step4.hours'|trans }}
                                                            {% endif %}
                                                            {% if hoursNeeded % 3600 >= 60 %}
                                                            {{ (hoursNeeded % 3600 /60)|round(0, 'floor') }}{{ 'admin.interventions.create.step4.minutes'|trans }}
                                                            {% endif %}
                                                        </div>
                                                        <div>{{ 'global.remaining'|trans }} : <span id="intervention-hours-remaining-{{ module.id }}"></span></div>
                                                    </div>

                                                    <button class="btn btn-deepmark-orangelight intervention-online-trainers-submit" moduleId="{{ module.id }}" disabled>{{ 'global.validate'|trans }} </button>

                                                </div>
                                                <div class="intervention-days-no-trainers-wrapper hidden" data-days="{{ module.id }}">
                                                    <h2 id="hours-left-header">{{ 'popup.list_days_without_trainers'|trans }}</h2>
                                                    <div class="intervention-days-no-trainers">
                                                        <div id="daysSlot_{{ module.id }}" class="w-100">

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            {% elseif module.appId == constant('\\ApiBundle\\Entity\\StoredModule::VIRTUAL_CLASS') or
                                module.appId == constant('\\ApiBundle\\Entity\\StoredModule::ONLINE_WORKSHOP') or
                                module.appId == constant('\\ApiBundle\\Entity\\StoredModule::PRESENTATION_ANIMATION')
                            %}

                                <div class="accordion-pane">

                                    {{ block('moduleHeader') }}

                                    <div id="collapse_{{ module.id }}" class="collapse show"
                                         aria-labelledby="heading_{{ module.id }}" data-parent="#heading_{{ module.id }}">

                                        <div class="accordion-body">

                                            {{ block('moduleInfo') }}

                                            <div class="marg-t-20 calendar-intervention-session" id="{{ module.id }}"
                                                 data-calendar-id="{{ module.id }}">
                                                <!-- generate other booking template which is replaced for the calendar -->
                                                <div id="intervention-online-bottom-row">
                                                    <div id="intervention-trainers-list-wrapper">
                                                    <h2 id="select-trainer-header"> {{ 'admin.interventions.create.step4.select_available_trainers'|trans }}</h2>
                                                        <div id="other-booking-{{ module.id }}" class="intervention-trainers-list">
                                                            <div id="other-booking-item-template" class="other-booking-item-template"
                                                                 style="display: none;">
                                                                <div class="booking-item-content pl-2 pt-2">
                                                                    <div class="booking-item-top">
                                                                        <i class="fas fa-clock"></i> Day:
                                                                        <a class="booking-title" style="cursor: pointer"></a>
                                                                    </div>
                                                                    <input moduleId="{{ module.id }}" class="btn btn-deepmark-orangelight intervention-online-trainers-submit sessionBooking" style="width: 80% !important;"
                                                                           value="{{ 'admin.interventions.create.step4.choose_trainer'|trans }}">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- generate other booking template -->
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-right">
                    <a href="{{ url('admin_interventions_draft') }}" >
                        <button type="button" class="btn btn-deepmark-green">{{ 'admin.interventions.create.step4.save_draft'|trans }}
                            <div class="ripple-container">
                                <div class="ripple-decorator ripple-on"
                                     style="left: 38.5781px; top: 31px; background-color: rgb(255, 255, 255); transform: scale(8.25976);"></div>
                            </div>
                        </button>
                    </a>
                    <form action="{{ path('admin_intervention_save', { sessionId: modules.sessionId }) }}" method="POST">
                        <button type="submit" class="btn btn-deepmark-orangelight">{{ 'global.publish'|trans }}
                            <div class="ripple-container">
                                <div class="ripple-decorator ripple-on"
                                     style="left: 38.5781px; top: 31px; background-color: rgb(255, 255, 255); transform: scale(8.25976);"></div>
                            </div>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div id="step4-vclass-modal" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">{{ 'admin.interventions.create.step4.choose_trainer'|trans }} <span id="assigned-trainer-counter"></span></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="modal-session-select">{{ 'admin.interventions.create.step4.select_session'|trans }}</label>
                        <select data-style="select-with-transition" class="form-control selectpicker" id="modal-session-select"></select>
                    </div>
                    <div class="form-group">
                        <label for="modal-vclass-trainer-select">{{ 'admin.interventions.create.step4.select_trainer'|trans }}</label>
                        <div class="pad-t-20" id="modal-vclass-trainer-select"></div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="book-online-session" type="button" class="btn btn-primary" data-dismiss="modal">{{ 'global.ok'|trans|upper }}
                    </button>
                </div>
            </div>
        </div>
    </div>

<div id="no-trainers-session" class="form-check d-none">
    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios" >
    <label style="width: 100%" for="exampleRadios" class="form-check-label col-md-12">
        {{ 'admin.interventions.create.step4.no_trainers_session'|trans }}
    </label>
</div>
    <span id="choose-trainer-text" class="text-template">{{ 'admin.interventions.create.step4.choose_trainer'|trans }}</span>
    <span id="chosen-text" class="text-template">{{ 'admin.interventions.create.step4.chosen'|trans|capitalize }}</span>

{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/lib/moment-timezone-with-data.min.js') }}"></script>
    <script src="{{ asset('js/admin/intervention/step4.js') }}"></script>
    <script>
        var myElement = document.getElementById('modal-vclass-trainer-select');
        new SimpleBar(myElement, { autoHide: true });
    </script>
{% endblock %}



