{% extends "base.html.twig" %}
{% block title %}{{ 'admin.interventions.create.title'|trans }}{% endblock %}
{% block pagename %}{{ 'admin.interventions.create.title'|trans }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/clockpicker.css') }}" media="all"/>
{% endblock %}

{% block body %}
    <script src="{{ asset('js/lib/places.js@1.16.4.js') }}"></script>
    <div class="card card-intervention-add">
        {{ include('AdminBundle:Intervention:intervention_header_step.html.twig', {'step' : 1}) }}
        <div class="card-body">
            <form name="form_2" action="{{ path('admin_interventions_save_step') }}" method="POST" data-role="intervention-form">
                <div class="tab-content tab-space">
                    <div class="tab-pane active " id="step1">
                        <div class="row">
                            <div class="col-xl-11 order-xl-1">
                                <h4 class="step2-title">
                                    <div class="step2-title-icon">
                                        <i class="fal fa-user-graduate"></i>
                                    </div>
                                    {{ 'admin.interventions.create.step2.learner_formation'|trans }}
                                </h4>
                                <input type="hidden" name="step" value="2">
                                <input type="hidden" name="sessionId" value="{{ session_id }}">
                                <ol class="" id="inProgressList">
                                    {% for module in modules %}
                                        <li>
                                            {{ module|raw }}
                                        </li>
                                    {% endfor %}
                                </ol>
                                <div class="row">
                                    <div class="col-12 text-right">
                                        <a class="btn btn-default" href="{{ path('admin_interventions_index') }}">{{ 'buttons.cancel'|trans }}</a>
                                        <button type="button" class="btn btn-deepmark-green" id="save_unpublished">{{ 'buttons.save'|trans }}
                                            <div class="ripple-container">
                                                <div class="ripple-decorator ripple-on" style="left: 38.5781px; top: 31px; background-color: rgb(255, 255, 255); transform: scale(8.25976);"></div>
                                            </div>
                                        </button>
                                        <button type="button" id="step2-submit" class="btn btn-info">{{ 'buttons.next'|trans }}
                                            <div class="ripple-container">
                                                <div class="ripple-decorator ripple-on" style="left: 38.5781px; top: 31px; background-color: rgb(255, 255, 255); transform: scale(8.25976);"></div>
                                            </div>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    {% block textTemplate %}
        <span id="no-files-text" class="text-template">{{ 'upload_file.no_files'|trans }}</span>
        <span id="try-uploading-text" class="text-template">{{ 'upload_file.try_uploading'|trans }}</span>
        <span id="file-removed-text" class="text-template">{{ 'upload_file.file_removed'|trans }}</span>
        <span id="cant-remove-text" class="text-template">{{ 'upload_file.cant_remove'|trans }}</span>
        <span id="success-text" class="text-template">{{ 'upload_file.success_header'|trans }}</span>
        <span id="failure-text" class="text-template">{{ 'upload_file.failure_header'|trans }}</span>
        <span id="module-picked" class="text-template">{{ 'popup.module_has_been_selected'|trans }}</span>
        <span id="condition-all-no-warning" class="text-template">{{ 'popup.condition_all_no_warning'|trans }}</span>
        <span id="url-warning" class="text-template">{{ 'popup.url_warning'|trans }}</span>
        <span id="correction-deadline" class="text-template">{{ 'popup.correction_deadline'|trans }}</span>
    {% endblock %}

{% endblock %}

{% block modals %}
    <div id="" class="modal fade col-md-12 uploaded-files-list" tabindex="-1" role="dialog"></div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/admin/intervention/step2.js') }}"></script>
    <script>
        $('.signatureNumber').on('mouseleave', function () {
            var num = parseInt($(this).val(), 10);
            if (!isNaN(num)) {
                var $div = $(this).parent().next();
                var $attr = $div.attr('data-unique-id');
                console.log($attr)
                var inputs =$div.find($("input"));
                console.log(inputs.length)
                console.log(num)
                $div.empty();

                for(var i=0;i< num;i++) {
                    if (i < inputs.length && inputs.length > 0) {
                        console.log('Len' + i)
                        $div.append(inputs[i]);
                    } else {
                        console.log('Out Len' + i)
                        $div.append('<input placeholder="{{ 'global.ex_label_signature'|trans }} #'+(i+1)+'" class="mt-1 col-md-12 font-size-11" type="text" name="module['+$attr+'][signatures]['+i+'][signatureName]" required />');
                    }
                }
            }
        });
    </script>
    {% set startDate = session.steps.1.intervention_start_date  %}
    {% set endDate = session.steps.1.intervention_end_date  %}
    {% if startDate is not empty and endDate is not empty  %}
        <script>
            $(document).ready(function () {
                let startDate = '{{ startDate }}';
                let arrStartDate = startDate.split("/");
                let endDate   = '{{ endDate }}'
                let arrEndDate = endDate.split("/");

                startDate = arrStartDate[1]+'-'+arrStartDate[0]+'-'+arrStartDate[2]
                endDate = arrEndDate[1]+'-'+arrEndDate[0]+'-'+arrEndDate[2]

                $('.sessiondatepicker').datetimepicker({
                    format: 'DD/MM/YYYY',
                    minDate:  moment(startDate+' 00:00:00', 'MM-DD-YYYY hh:mm A'),
                    maxDate:  moment(endDate+' 23:59:59', 'MM-DD-YYYY hh:mm A'),
                    useCurrent: false,
                    icons: {
                        previous: 'fa fa-chevron-left',
                        next: 'fa fa-chevron-right'
                    }
                });
            });
        </script>
    {% endif %}
{% endblock %}
