{% extends 'base.html.twig' %}

{% block pagename %}{{ 'admin.interventions.title'|trans }}{% endblock %}

{% block body %}
    <div class="row header">
        <div class="col-md-12 no-padding pad-t-20 bg-white marg-t-15 pad-b-15 border-radius-10">
            <div class="row marg-bottom-20">
                <div class="col-md-10"></div>
                <div class="col-md-2 marg-t-10 text-center no-padding-left">
                    <a href="{{ url('admin_interventions_show', {id: intervention.getId()}) }}" class="btn btn-block btn-border-yelow btn-padding">{{ 'buttons.back_to_course'|trans }}</a>
                </div>
            </div>
            <div class="row col-md-12 table-header w-100 session-header pad-b-15 pad-t-15">{{ 'table.sessions.manage_condition'|trans }}</div>
            {% for module in modules %}
                {% if module.storedModuleAppId == constant('\\ApiBundle\\Entity\\StoredModule::ONLINE') %}
                    <div class="col-md-12 w-100 session-detail-block marg-t-10 marg-b-10">
                        <div class="row btn-deepmark-light pad-b-20 pad-t-20 flex--center">
                            <div class="no-padding col-md-1 flex--center session-detail-content">
                                <label class="label-assessment btn-deepmark">{{ loop.index }}</label>
                            </div>
                            <div class="col-md-3 no-padding session-detail-content border-right-header">
                                <div class="row">
                                    <div class="col-md-9 no-padding">
                                        <span class="bold">{{ module.name }}</span><br>
                                        {{ include('molecules/widgets/module-type.html.twig', { appId: module.storedModuleAppId }) }}
                                        <div class="col-md-12 no-padding marg-t-10 d-none" id="moduleDes{{ loop.index }}">
                                            {{ module.description|raw }}
                                        </div>
                                    </div>
                                    <div class="col-md-3 flex--center text-center">
                                        <a data-id="{{ loop.index }}" id="plusBtn{{ loop.index }}" class="pointer plusBtn"><i  class="fa fa-plus-circle font-size-20 text-gray" aria-hidden="true"></i></a>
                                        <a data-id="{{ loop.index }}" id="minusBtn{{ loop.index }}" class="pointer minusBtn d-none"><i  class="fa fa-minus-circle font-size-20 text-gray" aria-hidden="true"></i></a>
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-6 session-detail-content pad-t-10 pad-b-10">
                                {{ 'table.sessions.trainer_skills'|trans }}: <span class="bold">{{ module.skills|join('|') }}</span><br>
                                {{ 'table.sessions.duration'|trans }}: <span class="bold">{{ module.duration}} Min</span></span>
                            </div>
                            <div class="col-md-1 text-right flex--center">
                                {% if  module.alert == 2 %}
                                    <label class="status-validate"></label>
                                {% elseif  module.alert == 3 %}
                                    <label class="status-pending"></label>
                                {% else %}
                                    <label class="status-deny"></label>
                                {% endif %}
                            </div>
                            <div class="col-md-1 flex--center no-padding">
                                <a data-id="{{ loop.index }}" id="downBtn{{ loop.index }}" class="pointer downBtn"><i  class="fa fa-angle-down font-size-20 text-primary" aria-hidden="true"></i></a>
                                <a data-id="{{ loop.index }}" id="upBtn{{ loop.index }}" class="pointer upBtn d-none"><i  class="fa fa-angle-up font-size-20 text-primary" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                    <div id="divDes{{ loop.index }}" class="row col-md-12 d-none pad-b-10">
                        <div class="row col-md-12 marg-t-20 marg-b-20">
                            <div class="col-md-4"></div>
                            <div class="col-md-4 no-padding-right btn-deepmark-light border-radis-30 session-search-box">
                                <div class="row ">
                                    <div class="col-md-2 text-center no-padding color-header font-size-12 marg-t-10 marg-b-10 ">{{ 'search.content'|trans }}</div>
                                    <div class="col-md-8 no-padding marg-t-10 marg-b-10">
                                        <input type="text" data-table-id="{{ loop.index }}" class="bookSearch border-0 no-padding no-margin color-header backgroud-deepmark-light">
                                    </div>
                                    <div class="col-md-2 flex--center">
                                        <i class="fas color-header fa-search"></i>
                                    </div>

                                </div>
                            </div>
                            <div class="col-md-3 flex--center text-right admin">
                                <div style="margin-top: -3px;" class="form-group pad-b-0 display-inline">
                                    <select id="actionSelected" class="classic typeAction">
                                        <option value="remove">{{ 'table.modules.delete'|trans}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-1 no-padding text-right">
                                <button id="remove-trainers" class="applyAction btn btn-small btn-block btn-deepmark-orangestrong" module-id="{{ module.id }}">{{ 'global.apply'|trans }}</button>
                            </div>
                        </div>
                        <div class="col-md-12 no-padding">
                            <div class="sessionsList">
                                <table id="sessionsTable{{ loop.index }}" class="table table-striped w-100" data-sessions="{{ loop.index }}">
                                    <thead class="table-header w-100">
                                    <tr>
                                        <th>{{ 'global.employee_id'|trans }}</th>
                                        <th>{{ 'trainers.statistics.last_name'|trans }}</th>
                                        <th>{{ 'trainers.statistics.first_name'|trans }}</th>
                                        <th>{{ 'table.interventions.organization'|trans }}</th>
                                        <th>{{ 'table.entity'|trans }}</th>
                                        <th>{{ 'global.intervention_zone'|trans }}</th>
                                        <th>{{ 'global.trainer_status'|trans }}</th>
                                        <th>{{ 'global.account_status'|trans }}</th>
                                        <th>
                                            {{ 'table.trainers.trainer_grade'|trans }} <br>
                                        </th>
                                        <th>
                                            {{ 'admin.trainers.trainer_with_hours_available'|trans }}
                                        </th>
                                        <th data-orderable="false">
                                            <div class=" form-check">
                                                <label class="form-check-label">
                                                    <input class="form-check-input check-all-input-datatable" type="checkbox" value="">
                                                    <span class="form-check-sign">
                                                        <span class="check"></span>
                                                    </span>
                                                </label>
                                            </div>
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for row in module.trainers %}
                                        <tr>
                                            <td>
                                                {{ row.trainer.employeeId }}
                                            </td>
                                            <td>
                                                {{ row.trainer.lastname }}
                                            </td>
                                            <td>
                                                {{ row.trainer.firstname }}
                                            </td>
                                            <td> {{ row.trainer.entity ? row.trainer.entity.organisation.designation : '' }}</td>
                                            <td> {{ row.trainer.entity ? row.trainer.entity.designation : '' }}</td>
                                            <td> {{ row.trainer.interventionPerimeter != null ? row.trainer.interventionPerimeter.designation : '' }} </td>
                                            <td class="text-capitalize"> {{ row.trainer.liveResourceOrigin != null ? row.trainer.liveResourceOrigin.designation : '' }} </td>
                                            <td class="text-capitalize">
                                                {% if row.trainer.person.enabled %}
                                                    {{ 'table.active'|trans }}
                                                {% else %}
                                                    {{ 'table.inactive'|trans }}
                                                {% endif %}
                                            </td>
                                            <td>
                                                {{ include('molecules/widgets/ratings.html.twig', { max: 5, grade: row.ranking }) }}
                                            </td>
                                            <td>
                                               <span class="bold">{{ trainerHours[row.trainer.id]['hours'] }} {{ 'table.sessions.hours'|trans }}</span>
                                            </td>
                                            <td>
                                                <div class="form-check">
                                                    <label class="form-check-label">
                                                        <input class="form-check-input check-input trainer-assignment-input" type="checkbox" value="{{ row.trainer.id }}">
                                                        <span class="form-check-sign">
                                                            <span class="check"></span>
                                                        </span>
                                                    </label>
                                                </div>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-md-12">
                                <div class="col-md-12 text-center font-size-20 btn-deepmark-light pad-10">
                                    <a class="modal-assign-trainer cursorPointer color-header" module-id="{{ module.id }}">
                                        <i class="fas color-header fa-plus-circle color-header"></i> {{ 'booking.assign_trainer'|trans }}
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% else %}
                    <div class="col-md-12 w-100 session-detail-block marg-t-10 marg-b-10">
                        <div class="row btn-deepmark-light pad-b-20 pad-t-20 flex--center">
                            <div class="no-padding col-md-1 flex--center session-detail-content">
                                <label class="label-assessment btn-deepmark">{{ loop.index }}</label>
                            </div>
                            <div class="col-md-3 no-padding session-detail-content border-right-header">
                                <div class="row">
                                    <div class="col-md-9 no-padding">
                                        <span class="bold">{{ module.name }}</span><br>
                                        {{ include('molecules/widgets/module-type.html.twig', { appId: module.storedModuleAppId }) }}
                                        <div class="col-md-12 no-padding marg-t-10 d-none" id="moduleDes{{ loop.index }}">
                                            {{ module.description|raw }}
                                        </div>
                                    </div>
                                    <div class="col-md-3 flex--center text-center">
                                        <a data-id="{{ loop.index }}" id="plusBtn{{ loop.index }}" class="pointer plusBtn"><i  class="fa fa-plus-circle font-size-20 text-gray" aria-hidden="true"></i></a>
                                        <a data-id="{{ loop.index }}" id="minusBtn{{ loop.index }}" class="pointer minusBtn d-none"><i  class="fa fa-minus-circle font-size-20 text-gray" aria-hidden="true"></i></a>
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-6 session-detail-content pad-t-10 pad-b-10">
                                {{ 'table.sessions.trainer_skills'|trans }}: <span class="bold">{{ module.skills|join('|') }}</span><br>
                                {{ 'table.sessions.duration'|trans }}: <span class="bold">{{ module.duration}} Min</span> - {{ 'table.sessions.total_sessions'|trans }}: <span class="bold">{{ module.sessions|length }}</span>
                            </div>
                            <div class="col-md-1 text-right flex--center">
                                {% if  module.alert == 2 %}
                                    <label class="status-validate"></label>
                                {% elseif  module.alert == 3 %}
                                    <label class="status-pending"></label>
                                {% else %}
                                    <label class="status-deny"></label>
                                {% endif %}
                            </div>
                            <div class="col-md-1 flex--center no-padding">
                                <a data-id="{{ loop.index }}" id="downBtn{{ loop.index }}" class="pointer downBtn"><i  class="fa fa-angle-down font-size-20 text-primary" aria-hidden="true"></i></a>
                                <a data-id="{{ loop.index }}" id="upBtn{{ loop.index }}" class="pointer upBtn d-none"><i  class="fa fa-angle-up font-size-20 text-primary" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                    <div id="divDes{{ loop.index }}" class="row col-md-12 d-none pad-b-10">
                        <div class="row col-md-12 marg-t-20 marg-b-20">
                            <div class="col-md-4"></div>
                            <div class="col-md-4 no-padding-right btn-deepmark-light border-radis-30 session-search-box">
                                <div class="row ">
                                    <div class="col-md-2 text-center no-padding color-header font-size-12 marg-t-10 marg-b-10 ">{{ 'search.content'|trans }}</div>
                                    <div class="col-md-8 no-padding marg-t-10 marg-b-10">
                                        <input type="text" data-table-id="{{ loop.index }}" class="bookSearch border-0 no-padding no-margin color-header backgroud-deepmark-light">
                                    </div>
                                    <div class="col-md-2 flex--center">
                                        <i class="fas color-header fa-search"></i>
                                    </div>

                                </div>
                            </div>
                            <div class="col-md-4"></div>
                        </div>
                        <div class="col-md-12 no-padding">
                            <div class="sessionsList">
                                <table id="sessionsTable{{ loop.index }}" class="table table-striped w-100" data-sessions="{{ loop.index }}">
                                    <thead class="table-primary w-100 color-header">
                                        <tr>
                                            <th>{{ 'table.sessions.number_of_sessions'|trans }}</th>
                                            <th>{{ 'table.sessions.date'|trans }}</th>
                                            <th>{{ 'table.sessions.hours'|trans }}</th>
                                            <th>{{ 'table.sessions.address'|trans }}</th>
                                            <th>{{ 'table.sessions.learners_assigned'|trans }}&nbsp;&nbsp;&nbsp; <a href="{{ url('admin_interventions_module_sessions_learners', { 'id': intervention.id, 'moduleId': module.id }) }}" target="_blank" class="btn btn-deepmark border-radis-30">Assign</a></th>
                                            <th>{{ 'table.sessions.trainers_assigned'|trans }}&nbsp;&nbsp;&nbsp; <a href="{{ url('admin_interventions_module_sessions_trainers', { 'id': intervention.id, 'moduleId': module.id }) }}" target="_blank" class="btn btn-deepmark border-radis-30">Assign</a></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% for session in module.sessions %}
                                        <tr id="{{ session.sessionId }}">
                                            <td>{{ 'table.sessions.session'|trans }} {{ loop.index }}</td>
                                            <td><span class="d-none">{{ session.startDateTime | date('U') }}</span>{{ session.startDate }}</td>
                                            <td>{{ session.startTime }} - {{ session.endTime }}</td>
                                            <td>{{ session.address }}</td>
                                            <td>{{ session.totalLearners }} / <span class="bold">{{ session.session.getParticipantMax() }}</span></td>
                                            <td>{{ session.trainers|length > 0 ? session.trainers|join('<br>') : '<span style="color:blue;font-style:italic">en attente</span>' }}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    <div id="trainer-item-template" class="trainer-item-template"
         style="display: none;">
        <div class="trainer-checkbox">
            <input id="" class="dm-checkbox" type="checkbox"/>
            <label for="" class="dm-label"></label>
        </div>
        <div class="trainer-item-content">
            <div class="trainer-item-top">
                <i class="fas fa-user"></i>
                <span class="trainer-name"></span>
            </div>
            <div class="trainer-item-bottom">
                <i class="fas fa-clock"></i>
                <span class="trainer-item-hours"></span><span>&nbsp;{{ 'admin.interventions.create.step4.hours'|trans }}</span>
                <span class="trainer-dates">
                    <span>{{ 'global.from'|trans }}</span>
                    <span class="trainer-date-from"></span>
                    <span>{{ 'global.to'|trans }}</span>
                    <span class="trainer-date-to"></span>
                </span>
            </div>
        </div>
    </div>
    {{ include('molecules/modal/assign-trainer.html.twig') }}
    <script type="text/javascript" src="{{ asset('js/lang_datatable.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/lib/DataTables/natural.js') }}"></script>
    <script>
        $(document).ready(function () {
            let lang = languageDatatable();
            var tables = {};
            $("[data-sessions]").each(function() {
                var id = $(this).attr('data-sessions');
                tables['table'+id] = $('#'+this.id).DataTable({
                    "language": lang,
                    "scrollX": false,
                    "scrollY": false,
                    "paging": true,
                    "info": false,
                    columnDefs: [
                        { type: 'natural', targets: 0 }
                    ],
                    "order": [[ 0, "asc" ], [ 1, "asc" ]],
                    }
                );
            });
            $(".dataTables_filter").hide();
            $('.bookSearch').keyup(function(){
                let tableId = $(this).attr('data-table-id');
                tables["table"+tableId].search($(this).val()).draw() ;
            })

            $('.downBtn').on('click', function () {
                var id = $(this).attr("data-id");
                $("#downBtn"+id).addClass('d-none');
                $("#upBtn"+id).removeClass('d-none');
                $("#divDes"+id).removeClass('d-none');
                $('.dataTables_scrollHeadInner').addClass('w-100');
                tables['table'+id].columns.adjust();

            });
            $('.upBtn').on('click', function () {
                var id = $(this).attr("data-id");
                $("#downBtn"+id).removeClass('d-none');
                $("#upBtn"+id).addClass('d-none');
                $("#divDes"+id).addClass('d-none');

            });

            $('.plusBtn').on('click', function () {
                var id = $(this).attr("data-id");
                $("#plusBtn"+id).addClass('d-none');
                $("#minusBtn"+id).removeClass('d-none');
                $("#moduleDes"+id).removeClass('d-none');

            });
            $('.minusBtn').on('click', function () {
                var id = $(this).attr("data-id");
                $("#plusBtn"+id).removeClass('d-none');
                $("#minusBtn"+id).addClass('d-none');
                $("#moduleDes"+id).addClass('d-none');

            });

            $(".check-all-input-datatable").click(function(){
                if($(this).is(":checked")){
                    $('.check-input').attr("checked",true);
                }else{
                    $('.check-input').attr("checked",false);
                }
            });

            $('#remove-trainers').click(function(){
                let $this = $(this);
                let nameBtn = $this.text();
                $this.empty().html('<i class="fa fa-spinner fa-spin"></i> ' + nameBtn);
                const trainerIds = [];
                const moduleId = $(this).attr('module-id');
                $('.trainer-assignment-input').each(function () {
                    if ($(this).is(':checked')) {
                        trainerIds.push($(this).val());
                    }
                });

                if (!trainerIds.length) {
                    // one or more checkboxes are
                    swal('Warning', '{{"booking.session_messages.select_one_trainer"|trans}}', 'warning');
                    return;
                }

                $.ajax({
                    'url': '{{ path('admin_intervention_remove_trainer_module') }}',
                    'method': 'POST',
                    'data': {
                        'trainerIds': trainerIds,
                        'moduleId' : moduleId
                    }
                }).done(function (response) {
                    $this.html(nameBtn);
                    swal({title: jsTranslations.successfully_title, text: jsTranslations.successfully_trainer_removed_text, type:
                            "success"}).then(function(){
                            location.reload();
                        }
                    );
                }).fail(function (response) {
                    $this.html(nameBtn);
                    swal(
                        "Error", "There is an error in assignment removing", "error",
                        {
                            showCancelButton: true,
                            closeOnConfirm: true,
                            showLoaderOnConfirm: true
                        }
                    );
                });
            });

            let trainerList = {}, chosenTrainerIds = {};
            $('.modal-assign-trainer').on('click', function () {
                let moduleId = $(this).attr("module-id");
                let url = '/admin/trainers/available/module/custom/' + moduleId;
                let hasTrainer = false;
                $.ajax({
                    'url': url,
                    'method': 'GET',
                }).done(function (response) {
                    if (response.appId === 6) {
                        trainerList[moduleId] = response.results;
                        chosenTrainerIds[moduleId] = [];
                        const template = getOnlineTrainerTemplate();
                        $(`#session-list`).empty();
                        $(`#individual-remote-session-submit`).removeClass('hidden');
                        response.results.forEach((data) => {
                            const trainerData = {
                                name: data.trainer.first_name + ' ' + data.trainer.last_name,
                                id: data.trainer.id,
                                hours: data.hours,
                                start: moment(data.dateStart).format('l'),
                                end: moment(data.dateEnd).format('l'),
                                booked: data.booked
                            };

                            let trainerItem = bindTrainerItem(template.clone(), trainerData, moduleId);
                            $(`#session-list`).append(trainerItem);
                            $('#assign-trainer-modal').modal('show');
                        });
                    }
                });
            });
            $('#individual-remote-session-submit').off('click').on('click', function () {
                assignTrainersOnline($(this).attr('moduleId'));
            });

            function assignTrainersOnline(moduleId) {
                let nameBtn = $('#individual-remote-session-submit').text();
                $('#individual-remote-session-submit').empty().html('<i class="fa fa-spinner fa-spin"></i> ' + nameBtn);
                $.ajax({
                    url: '/admin/trainers/assign/trainer/online/custom',
                    method: 'POST',
                    data: {
                        trainersIds: chosenTrainerIds[moduleId],
                        moduleId:moduleId,
                    },
                    success:function(response) {
                        $('#individual-remote-session-submit').html(nameBtn);
                        swal({text: 'Trainers Validated', type:
                                "success"}).then(function(){
                                location.reload();
                            }
                        );
                    },
                    error:function(response) {
                        $('#individual-remote-session-submit').html(nameBtn);
                        swal('Error', response.responseJSON, 'error');
                    }
                })
            }
            function getOnlineTrainerTemplate() {
                const template = $('#trainer-item-template').clone();
                template.css({display: 'grid'});
                template.attr('id', '');
                return template;
            }

            function bindTrainerItem(item, data, moduleId) {

                item.find('.trainer-name').empty().html(data.name);
                item.find('.trainer-item-hours').empty().html(data.hours);
                item.find('.trainer-date-from').empty().html(data.start);
                item.find('.trainer-date-to').empty().html(data.end);
                item.find('.dm-checkbox').attr('id', data.id + moduleId);
                item.find('.dm-label').attr('for', data.id + moduleId);

                if (data.booked) {
                    item.find('.dm-checkbox').prop('checked', true);
                    chosenTrainerIds[moduleId].push(data);
                }

                item.find('.dm-checkbox').change(function () {
                    console.log(data)
                    if ($(this).is(':checked')) chosenTrainerIds[moduleId].push(data);
                    else chosenTrainerIds[moduleId].splice(chosenTrainerIds[moduleId].indexOf(data), 1);

                    const submitButton = $(`#individual-remote-session-submit`);
                    submitButton.prop('disabled', false);
                    submitButton.attr( "moduleId", moduleId)
                });

                return item;
            }
        });

    </script>
{% endblock %}