{% extends 'base.html.twig' %}

{% block pagename %}{{ 'admin.interventions.title'|trans }}{% endblock %}

{% block body %}
    <div class="row header">
        <div class="col-md-12 row no-padding pad-t-20 bg-white marg-t-15 pad-b-15 border-radius-10" >
            <div class="col-md-2"></div>
            <div class="col-md-8 marg-bottom-20 marg-t-20 text-center">
                <p class="font-size-25 bold color-header bold text-uppercase">{{ module.name }}</p>
                <span class="color-header text-uppercase">
                    {{ include('molecules/widgets/module-type.html.twig', { appId: module.storedModuleAppId }) }}
                </span>
            </div>
            <div class="col-md-2 marg-t-10 text-center no-padding-left">
                <a href="{{ url('admin_interventions_show', {id: intervention.getId()}) }}" class="btn btn-block btn-border-yelow btn-padding">{{ 'buttons.back_to_course'|trans }}</a>
            </div>
            <div class="row col-md-12 table-header w-100 session-header text-center text-uppercase pad-b-15 pad-t-15"><span class="col-md-12">{{ 'table.sessions.learners_affect_by_session'|trans }}</span></div>

            <div class="row col-md-12 w-100 pad-10">
                {% for key, session in sessions %}
                    <div class="col-md-12 mt-3">
                        <div class="col-md-12 border-light">
                            <div class="row col-md-12 pad-t-10 pad-l-0 pad-b-10">
                                <div class="col-md-4 no-padding flex--center justify-content-start"><span class="bold color-header text-uppercase">{{ 'table.sessions.session'|trans }} {{ loop.index }}</span></div>
                                <div class="col-md-4 text-center">
                                    <span class="bold">{{ session.startDate }}</span>
                                    <a class="cursorPointer changeSessionDateBtn"
                                       data-session-id          = "{{ session.sessionId }}"
                                       data-session-date        = "{{ session.startDate }}"
                                       data-session-time        = "{{ session.startTime }}"
                                       data-module-id           = "{{ module.id }}"
                                       data-is-disabled         = {{ session.totalLearners ? 1 : 0 }}
                                       >
                                        <object  data="/images/pencil.svg" width="18" height="18"
                                                 type="image/svg+xml"></object>
                                    </a>
                                    <br>
                                    <span class="color-header">{{ 'global.from'|trans|lower }}</span> {{ session.startTime }} <span class="color-header">{{ 'global.to'|trans|lower }}</span> {{ session.endTime }} {{ session.address }}
                                </div>
                                <div class="col-md-2 text-danger flex--center"><span>{{ session.totalLearners }} inscrits /</span> <span class="bold">{{ session.session.getParticipantMax() }}</span></div>
                                <div class="col-md-1 flex--center no-padding">
                                    <a data-id="{{ loop.index }}" id="downBtn{{ loop.index }}" class="pointer downBtn"><i  class="fa fa-angle-down font-size-20 text-primary" aria-hidden="true"></i></a>
                                    <a data-id="{{ loop.index }}" id="upBtn{{ loop.index }}" class="pointer upBtn d-none"><i  class="fa fa-angle-up font-size-20 text-primary" aria-hidden="true"></i></a>
                                </div>
                                <div class="col-md-1 text-right flex--center">
                                    {% if  session.canBooking %}
                                        <label class="status-validate"></label>
                                    {% else %}
                                        <label class="status-deny"></label>
                                        <label class="pad-5">{{ 'global.expired'|trans }}</label>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div id="divDes{{ loop.index }}" class="row col-md-12 d-none assessment-block-content no-padding ">
                            <div class="col-md-12 marg-t-20 marg-b-20">
                                <div class="row z-index">
                                    <div class="col-md-4 no-padding">
                                        <div class="row no-padding-right btn-deepmark-light border-radis-30">
                                            <div class="col-md-2 text-center no-padding color-header font-size-12 marg-t-10 marg-b-10 ">{{ 'search.content'|trans }}</div>
                                            <div class="col-md-8 no-padding marg-t-10 marg-b-10">
                                                <input type="text" data-table-id="{{ loop.index }}" class="bookSearch border-0 no-padding no-margin color-header backgroud-deepmark-light">
                                            </div>
                                            <div class="col-md-2 flex--center">
                                                <i class="fas color-header fa-search"></i>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-md-8 no-padding text-right">
                                        <div class="form-group pad-b-0 admin display-inline">
                                            <select id="actionSelected{{ session.sessionId }}" class="classic typeAction">
                                                <option value="remove">{{ 'table.modules.delete'|trans }}</option>
                                                <option value="reSent">{{ 'table.modules.resent'|trans }}</option>
                                            </select>
                                        </div>
                                        {% if session.canBooking %}
                                            <button id="remove-{{ loop.index }}" data-apply-id="{{ loop.index }}" data-session-id="{{ session.sessionId }}" class="applyAction btn-small btn btn-deepmark-orangelight">{{ 'global.apply'|trans }}</button>
                                        {% else %}
                                            <button class="applyAction btn disabled btn-small">{{ 'global.apply'|trans }}</button>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            <div class="row col-md-12 no-padding">
                                <div class="sessionsList col-md-12 no-padding">
                                    {% set tableId = loop.index %}
                                    <table id="sessionsTable{{ loop.index }}" data-sessions="{{ tableId }}" class="table table-striped w-100">
                                        <thead class="table-primary w-100">
                                        <tr class="color-header">
                                            <th>{{ 'table.learners.lastname'|trans }}</th>
                                            <th>{{ 'table.learners.firstname'|trans }}</th>
                                            <th>{{ 'table.learners.employeeId'|trans }}</th>
                                            <th>{{ 'table.learners.function'|trans }}</th>
                                            <th>{{ 'table.learners.org'|trans }}</th>
                                            <th>{{ 'table.learners.entity'|trans }} </th>
                                            <th>{{ 'table.learners.assignment'|trans }} </th>
                                            <th>{{ 'table.learners.trainning_group'|trans }} </th>
                                            <th>
                                                <div class=" form-check">
                                                    <label class="form-check-label">
                                                        <input class="form-check-input check-all-input-learners" data-table-number="{{ tableId }}" type="checkbox" value="">
                                                        <span class="form-check-sign">
                                                            <span class="check"></span>
                                                        </span>
                                                    </label>
                                                </div>
                                            </th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for learner in session.learners %}
                                            <tr id="{{ learner.getPerson().getId() }}">
                                                <td>{{ learner.getLastName() }}</td>
                                                <td>{{ learner.getFirstName() }}</td>
                                                <td>{{ learner.getEmployeeId() }}</td>
                                                <td>{{ learner.getPosition() }}</td>
                                                <td>{% if learner.entity.organisation is defined and learner.entity.organisation is not null %}
                                                        {{ learner.entity.organisation.designation }}
                                                    {% endif %}</td>
                                                <td>{% if learner.entity is defined and learner.entity is not null %}
                                                        {{ learner.entity.designation }}
                                                    {% endif %}</td>
                                                <td></td>
                                                <td>{{ learnersGroup[learner.getPerson().getId()] }}</td>
                                                <td>
                                                    <div class="form-check">
                                                        <label class="form-check-label">
                                                            <input class="form-check-input check-input-learner-{{ tableId }}" type="checkbox" value="{{ learner.id }}">
                                                            <span class="form-check-sign">
                                                                <span class="check"></span>
                                                            </span>
                                                        </label>
                                                    </div>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="row col-md-12 marg-t-20">
                                <div class="col-md-12 no-padding">
                                    {% if session.totalLearners < session.session.getParticipantMax() and session.canBooking %}
                                        <div class="col-md-12 text-center font-size-20 btn-deepmark-light pad-10">
                                            <a data-toggle="modal" data-target="#viewLearner" data-session-id="{{ session.sessionId }}" class="cursorPointer color-header viewLearner">
                                                <i class="fas color-header fa-plus-circle color-header"></i> {{ 'table.learners.add_learners'|trans }}
                                            </a>
                                        </div>
                                     {% else %}
                                         <div class="col-md-12 text-center font-size-20 pad-10 btn-deepmark-light">
                                             <a class="cursor-disabled viewLearner color-header">
                                                 <i class="fas mdl-color--grey fa-plus-circle color-header"></i> {{ 'table.learners.add_learners'|trans }}
                                             </a>
                                         </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div id="viewLearner" class="modal fade col-md-12" tabindex="-1" role="dialog">
        <div class="modal-dialog" style="max-width: 70%" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-4"></div>
                        <div class="col-md-4 marg-t-10">
                            <h3 class="bold text-center color-header">{{ 'admin.learners.title'|trans }}</h3>
                        </div>
                        <div class="col-md-2 marg-t-20 text-center no-padding-left">
                            <button id="resetBtn" class="btn btn-block btn-border-yelow btn-padding">{{ 'global.reset'|trans }}</button>
                        </div>
                        <div class="col-md-2 marg-t-20 no-padding-left ">
                            <button id="searchBtn" class="btn btn-block btn-deepmark-orangelight btn-padding">{{ 'buttons.select'|trans }}</button>
                        </div>
                    </div>
                    <div class="row custom marg-t-20 pl-3 pr-3 pb-1 stat-filter">
                        <div class="col-md-3 no-padding filter course-filter global-filter organizationId f-search f-1 marg-t-10">
                            <div class="form-group select-border datepicker-group">
                                {% set organizations = searchParam.organization %}
                                <div class="col-md-12 no-padding  btn-deepmark">
                                    <label class="text-white" for="organizationId">{{ 'trainers.statistics.organization'|trans }}</label>
                                </div>
                                <div class="input-group btn-deepmark-light">
                                    <select id="organizationId" class="form-control selectpicker organizationId"  data-container="body"  data-style="btn btn-link">
                                        {% for organization in organizations %}
                                            <option value="{{ organization.id }}">{{ organization.designation }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 no-padding filter course-filter global-filter entityId f-search f-2 marg-t-10">
                            <div class="form-group select-border datepicker-group">
                                <div class="col-md-12 no-padding  btn-deepmark">
                                    <label class="text-white" for="entityId">{{ 'trainers.statistics.entity'|trans }}</label>
                                </div>
                                <div class="input-group btn-deepmark-light">
                                    <select id="entityId" class="form-control  selectpicker"  data-container="body"  data-style="btn btn-link">

                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2 no-padding filter regionalId f-search  f-2 marg-t-10">
                            <div class="form-group select-border datepicker-group">
                                <div class="col-md-12 no-padding  btn-deepmark">
                                    <label class="text-white" for="regionalId">{{ 'trainers.statistics.regional_direction'|trans }}</label>
                                </div>
                                <div class="input-group btn-deepmark-light">
                                    <select id="regionalId" class="form-control  selectpicker"  data-container="body"  data-style="btn btn-link">
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2 no-padding filter f-search  f-1 marg-t-10">
                            <div class="form-group select-border datepicker-group">
                                <div class="col-md-12 no-padding  btn-deepmark">
                                    <label class="text-white" for="sectorId">{{ 'trainers.statistics.group'|trans }}</label>
                                </div>
                                <div class="input-group btn-deepmark-light">
                                    <select id="sectorId" class="form-control  selectpicker"  data-container="body"  data-style="btn btn-link">

                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2 no-padding filter f-search f-1 marg-t-10">
                            <div class="form-group select-border datepicker-group">
                                <div class="col-md-12 no-padding  btn-deepmark">
                                    <label class="text-white" for="workplaceId">{{ 'trainers.statistics.workplace'|trans }}</label>
                                </div>
                                <div class="input-group btn-deepmark-light">
                                    <select id="workplaceId" class="form-control  selectpicker"  data-container="body"  data-style="btn btn-link">

                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 no-padding filter f-search f-1 marg-t-10">
                            <div class="form-group select-border datepicker-group">
                                <div class="col-md-12 no-padding  btn-deepmark">
                                    <label class="text-white" for="groupId">{{ 'global.trainning_group'|trans }}</label>
                                </div>
                                <div class="input-group btn-deepmark-light">
                                    <select id="groupId" class="form-control  selectpicker"  data-container="body"  data-style="btn btn-link">

                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 no-padding filter f-search f-1 marg-t-10">
                            <div class="form-group select-border datepicker-group">
                                <div class="col-md-12 no-padding  btn-deepmark">
                                    <label class="text-white" for="statusId">{{ 'trainers.statistics.status'|trans }}</label>
                                </div>
                                <div class="input-group btn-deepmark-light">
                                    <select id="statusId" class="form-control  selectpicker"  data-container="body"  data-style="btn btn-link">
                                        <option value="-1">{{ 'trainers.statistics.export.all'|trans }}</option>
                                        <option value="1">{{ 'table.active'|trans|capitalize }}</option>
                                        <option value="0">{{ 'table.inactive'|trans|capitalize }}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 height-120 no-padding period-filter f-search marg-t-10">
                            <div class="form-group datepicker-group btn-deepmark-light">
                                <div class="col-md-12 no-padding  btn-deepmark">
                                    <label  class="text-white" for="creationDate">{{ 'table.creation_date'|trans|capitalize }}</label>
                                </div>
                                <div class="input-group pad-t-10 btn-deepmark-light">
                                    <input id="creationDate" type="text" class="form-control marg-l-10  datepicker" name="creation_date" value="">
                                    <div class="input-group-append">
                                        <span class="input-group-text"><i class="fal fa-calendar-alt"></i></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 height-120 no-padding period-filter f-search marg-t-10">
                            <div class="form-group datepicker-group btn-deepmark-light">
                                <div class="col-md-12 no-padding  btn-deepmark">
                                    <label class="text-white" for="endDate">{{ 'table.connection_date'|trans|capitalize }}</label>
                                </div>
                                <div class="input-group pad-t-10 btn-deepmark-light">
                                    <input id="connectionDate" type="text" class="form-control marg-l-10 datepicker" name="connection_date" value="">
                                    <div class="input-group-append">
                                        <span class="input-group-text"><i class="fal fa-calendar-alt"></i></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row stat-data d-none marg-b-20">
                        <div class="col-12 marg-b-20">
                            <div id="tableLearnersData">
                            </div>
                        </div>
                        <div class="col-md-4"></div>
                        <div class="col-md-8">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{ include('molecules/modal/session-date.html.twig') }}
    <script type="text/javascript" src="{{ asset('js/lang_datatable.js') }}"></script>
    <script>
        var attached = false;
        $(document).ready(function () {
            $(".changeSessionDateBtn").click(function() {
                let sessionId   = $(this).attr('data-session-id');
                let moduleId    = $(this).attr('data-module-id');
                let sessionDate = $(this).attr('data-session-date');
                let sessionTime = $(this).attr('data-session-time');
                let isDisabled  = $(this).attr('data-is-disabled');

                if (isDisabled == 1) {
                    swal('Warning', '{{"booking.session_messages.please_remove_booking"|trans}}', 'warning');
                } else {
                    $("#session-date-modal").modal('show');
                    $('#startDate').val(sessionDate);
                    $('#startTime').val(sessionTime);
                    $('#moduleId').val(moduleId);
                    $('#sessionId').val(sessionId);

                    $('#change-session-confirm').off('click').click(function () {
                        $.ajax({
                            'url': '{{ url('api_utility_change_session_date') }}',
                            'method': 'POST',
                            'data' : {
                                'sessionId' : sessionId,
                                'moduleId'  : moduleId,
                                'startDate' : $('#startDate').val(),
                                'startTime' : $('#startTime').val(),
                            }
                        }).done(function (response) {
                            $("#session-date-modal").modal('hide');
                            if (response.status) {
                                swal({
                                    title: "Success",
                                    text: '{{"booking.session_messages.change_session_success"|trans}}',
                                    type: "success",
                                    confirmButtonClass: "btn-primary",
                                    confirmButtonText: "OK",
                                    allowOutsideClick: false
                                }).then(function() {
                                    location.reload();
                                })
                            }
                        }).fail(function (response) {
                            console.log(response)
                        })
                    });
                }
            });

            let lang = languageDatatable();
            var tables = {};
            $('[data-sessions]').each(function() {
                var id = $(this).attr('data-sessions');
                tables['table'+id] = $('#'+this.id).DataTable({
                        "paging": false,
                        "info": false,
                        "language": lang,
                    }
                );
            });
            $('[data-href]').on('click', function() {
                window.location = $(this).data('href');
            });
            $(".dataTables_filter").hide();
            $('.bookSearch').keyup(function(){
                let tableId = $(this).attr('data-table-id');
                tables["table"+tableId].search($(this).val()).draw() ;
            })
            $('#resetBtn').click(function() {
                $(".selectpicker").val(0);
                $("#statusId").val(-1);
                $('.selectpicker').selectpicker('refresh');
                $(".datepicker").val('');
            });
            $('.downBtn').on('click', function () {
                var id = $(this).attr("data-id");
                $("#downBtn"+id).addClass('d-none');
                $("#upBtn"+id).removeClass('d-none');
                $("#divDes"+id).removeClass('d-none');
                $('.dataTables_scrollHeadInner').addClass('w-100');
                tables['table'+id].columns.adjust();

            });
            $('.upBtn').on('click', function () {
                var id = $(this).attr("data-id");
                $("#downBtn"+id).removeClass('d-none');
                $("#upBtn"+id).addClass('d-none');
                $("#divDes"+id).addClass('d-none');

            });
        });
        $('.viewLearner').on('click', function(){
            var sessionId = $(this).attr('data-session-id');
            $('#apply').attr('data-session-id', sessionId);
            $('#searchBtn').attr('data-session-id', sessionId);
        });

        //apply
        $('.applyAction').on('click', function(){
            let actionSelected = $('#actionSelected'+$(this).attr('data-session-id')).val();
            let url = '';
            if (actionSelected == 'reSent') {
                url = '{{ path('admin_learners_resent_session') }}'
            } else {
                url = '{{ path('admin_learners_unlink_session') }}'
            }
            let nameBtn = $(this).text();
            const selectedLearners = [];
            const tableId = $(this).attr('data-apply-id');
            const checkInput = $('.check-input-learner-'+tableId);
            checkInput.each(function () {
                if(this.checked && this.value !== ""){
                    selectedLearners.push(this.value);
                }
            });
            if (!selectedLearners.length) {
                // one or more checkboxes are
                swal('Warning', '{{"booking.session_messages.select_one_learner"|trans}}', 'warning');
                return;
            }

            const sessionId = $(this).attr('data-session-id');
            const $this = $(this);
            $.ajax({
                'url': url,
                'method': 'POST',
                'data' : {
                    'moduleId': '{{ module.id }}',
                    'sessionId': sessionId,
                    'selectedProfiles': selectedLearners
                },
                beforeSend: function() {
                    $this.empty().html('<i class="fa fa-spinner fa-spin"></i> ' + nameBtn);
                },
            }).done(function (response) {
                $this.empty().html(nameBtn);
                if (actionSelected == 'reSent') {
                    swal({title: '{{"global.send_email_successfully_title"|trans}}', text: '{{"global.send_email_successfully_text"|trans}}', type:"success"});
                } else {
                    swal({
                        title: "Success",
                        text: '{{"booking.session_messages.remove_learner_success"|trans}}',
                        type: "success",
                        confirmButtonClass: "btn-primary",
                        confirmButtonText: "OK",
                        allowOutsideClick: false
                    }).then(function() {
                        location.reload();
                    })
                }

            }).fail(function (response) {
                swal('Warning', response.responseJSON.titre);
                $this.empty().html(nameBtn);
                console.log(response)
            })
        })
        //link learner to session
        $("#viewLearner").on('click', '#apply', function () {
            let nameBtn = $(this).text();
            const checkInput = $('.check-add-learner');
            const selectedProfiles = [];
            checkInput.each(function () {
                if(this.checked && this.value !== ""){
                    selectedProfiles.push(this.value);
                }
            });
            if (!selectedProfiles.length) {
                // one or more checkboxes are
                swal('Warning', '{{"booking.session_messages.select_one_learner"|trans}}', 'warning');
                return;
            }
            var sessionId = $(this).attr('data-session-id');

            $.ajax({
                'url': '{{ path('admin_learners_link_session') }}',
                'method': 'POST',
                'data' : {
                    'moduleId': '{{ module.id }}',
                    'sessionId': sessionId,
                    'selectedProfiles': selectedProfiles
                },
                beforeSend: function() {
                    $("#apply").empty().html('<i class="fa fa-spinner fa-spin"></i> ' + nameBtn);
                },
            }).done(function (response) {
                swal('Success', '{{"booking.session_messages.assign_learner_success"|trans}}', 'success');
                $("#apply").empty().html(nameBtn);
                attached = true;

            }).fail(function (response) {
                swal('Warning', response.responseJSON.titre)
                $("#apply").empty().html(nameBtn);
                console.log(response)
            })
        });

        // filters
        $("#organizationId").change(function() {
            $("#entityId").empty();
            let organizationId = $(this).val();
            if(organizationId != '') {
                $.ajax({
                    type: "POST",
                    url: '/admin/stats/organizationEntity',
                    data: {"organizationId": organizationId},
                    success: function (data) {
                        $("#entityId").append($("<option />").val(0).text('{{ 'trainers.statistics.export.all'|trans }}'));
                        $.each(data, function (i, data) {
                            $("#entityId").append($("<option />").val(data.id).text(data.designation));
                        });
                        $('#entityId').selectpicker('refresh');
                    }
                });
            }
            $('#entityId').selectpicker('refresh');
            $("#entityId").trigger('change');
        });

        $("#entityId").change(function() {
            let entityId = $(this).val();
            let organizationId = $("#organizationId").val();
            if(entityId != '') {
                $("#courseId").empty();
                $.ajax({
                    type: "POST",
                    url: '/admin/stats/entityCourse',
                    data: {"entityId": entityId, 'organizationId': organizationId},
                    success: function (data) {
                        $("#courseId").append($("<option />").val(0).text(' {{ 'trainers.statistics.export.all'|trans  }}'));
                        $.each(data, function (i, data) {
                            $("#courseId").append($("<option />").val(data.id).text(data.designation));
                        });
                        $('#courseId').selectpicker('refresh');
                        $("#courseId").trigger('change');
                    }
                });

                $("#groupId").empty();
                $.ajax({
                    type: "POST",
                    url: '/admin/stats/entityGroup',
                    data: {"entityId": entityId , 'organizationId': organizationId},
                    success: function (data) {
                        $("#groupId").append($("<option />").val(0).text('{{ 'trainers.statistics.export.all'|trans }}'));
                        $.each(data, function (i, data) {
                            $("#groupId").append($("<option />").val(data.id).text(data.designation));
                        });
                        $('#groupId').selectpicker('refresh');
                    }
                });

                $("#regionalId").empty();
                $.ajax({
                    type: "POST",
                    url: '{{ path('admin_learners_entityRegion') }}',
                    data: {"entityId": entityId, 'organizationId': organizationId},
                    success: function (data) {
                        $("#regionalId").append($("<option />").val(0).text('{{ 'trainers.statistics.export.all'|trans }}'));
                        $.each(data, function (i, data) {
                            $("#regionalId").append($("<option />").val(data.id).text(data.designation));
                        });
                        $('#regionalId').selectpicker('refresh');
                        $("#regionalId").trigger('change');

                    }
                });

            }

        });

        $("#regionalId").change(function() {
            let regionalId = $(this).val();
            let organizationId = $("#organizationId").val();
            let entityId = $("#entityId").val();
            if(regionalId != '') {

                $("#sectorId").empty();

                $.ajax({
                    type: "POST",
                    url: '/admin/stats/regionSector',
                    data: {"regionalId": regionalId, "entityId": entityId, 'organizationId': organizationId},
                    success: function (data) {
                        $("#sectorId").append($("<option />").val(0).text('{{ 'trainers.statistics.export.all'|trans }}'));
                        $.each(data, function (i, data) {
                            $("#sectorId").append($("<option />").val(data.id).text(data.designation));
                        });
                        $('#sectorId').selectpicker('refresh');

                        $("#sectorId").trigger('change');

                    }

                });

            }

        });

        $("#sectorId").change(function() {
            let sectorId = $(this).val();
            let regionalId = $("#regionalId").val();
            let organizationId = $("#organizationId").val();
            let entityId = $("#entityId").val();
            if(sectorId != '') {

                $("#workplaceId").empty();

                $.ajax({
                    type: "POST",
                    url: '/admin/stats/sectorWorkplace',
                    data: {"sectorId": sectorId, "regionalId": regionalId, "entityId": entityId, 'organizationId': organizationId},
                    success: function (data) {
                        $("#workplaceId").append($("<option />").val(0).text('{{ 'trainers.statistics.export.all'|trans }}'));
                        $.each(data, function (i, data) {
                            $("#workplaceId").append($("<option />").val(data.id).text(data.designation));
                        });
                        $('#workplaceId').selectpicker('refresh');
                    }
                });

            }

        });

        $("#organizationId").trigger('change');

        //end filter learners

        $('#searchBtn').click(function() {
            searchHandler(true)
        });
        function dateNewFormat(date) {
            return date = date.split("/").reverse().join("-");
        }
        function searchHandler($isExport = false, $isPdf = false){
            // $('.loader').show();
            let dateTimeFrom;
            let dateTimeTo;
            let dateTimeCreationDate = dateNewFormat($('#creationDate').val());
            let dateTimeConnectionDate =  dateNewFormat($('#connectionDate').val());

            let entityId = $('#entityId').val();
            let organizationId = $('#organizationId').val();
            let regionalId = $('#regionalId').val();
            let sectorId = $('#sectorId').val();
            let workplaceId = $('#workplaceId').val();
            let groupId = $('#groupId').val();
            let statusId = $('#statusId').val();

            let locate = $('#locate').val();
            let default_lang = $('#default_locale').val();
            locate = (locate == default_lang) ? '' : '/' + locate;

            var header = '';
            let organizatioName =  $("#organizationId").val() == 0 ? 'Organization_all' : $( "#organizationId option:selected" ).text();
            var interventionId = '{{ intervention.getId() }}';
            var title = 'Learners of ' + organizatioName  + " ("+moment().format('DD-MM-YYYY')+") ";
            $.ajax({
                url: locate + '/admin/learners/getCourseLearnersBySearch',
                data: {
                    'creationDate': dateTimeCreationDate,
                    'connectionDate': dateTimeConnectionDate,
                    'organizationId': organizationId,
                    'entity_id': entityId,
                    'regionalId': regionalId,
                    'sectorId': sectorId,
                    'workplaceId': workplaceId,
                    'groupId': groupId,
                    'statusId': statusId,
                    'interventionId': interventionId
                },
                success:function(data) {
                    $('.loader').hide();
                    $(".stat-data").removeClass('d-none');
                    $('#tableLearnersData').html(data);
                    let lang = languageDatatable();
                    let table  = $('#learnerTable').DataTable({
                        "language": lang,
                        dom: 'Blfrtip',
                        "scrollX": false,
                        "order": [[ 1, "asc" ], [ 2, "asc" ]],
                        "pagingType": "numbers",
                        "pageLength": 5,
                        buttons: [

                        ]
                    });
                    // Hide columns
                    table.columns( [7] ).visible( false );
                    table.columns( [8] ).visible( false );
                    table.columns( [9] ).visible( false );
                    table.columns( [10] ).visible( false );

                    $(".dataTables_filter").hide();
                    $('#bookSearch').keyup(function(){
                        table.search($(this).val()).draw() ;
                    });

                    $(".check-all-input-datatable").click(function(){
                        if($(this).is(":checked")){
                            $('.check-input').attr("checked",true);
                        }else{
                            $('.check-input').attr("checked",false);
                        }
                    });

                    $(".check-all-input-learners").click(function(){
                        var tableId = $(this).attr('data-table-number');
                        if($(this).is(":checked")){
                            $('.check-input-learner-'+tableId).attr("checked",true);
                        }else{
                            $('.check-input-learner-'+tableId).attr("checked",false);
                        }
                    });
                    let sessionId = $('#searchBtn').attr('data-session-id');
                    $('#apply').attr('data-session-id', sessionId);

                },
                error:function () {
                }
            });
        }

        $('#viewLearner').on('hidden.bs.modal', function () {
            if(attached) {
                attached = false;
                location.reload();
            }
        })
        $("#searchBtn").trigger('click');
    </script>
{% endblock %}