{% extends 'base.html.twig' %}

{% block pagename %}{{ 'admin.interventions.title'|trans }}{% endblock %}

{% block body %}
    <style>
        .header .progress-circle .progress-value {
            font-size: 22px;
        }
    </style>
    <div class=" row col-md-12 pad-10 bg-white border-radius-10 marg-t-20 header" >
        <div class="text-right col-md-12">
            {{ form_start(delete_form) }}
            <a class="color-header under-line font-size-12">{{ 'trainers.statistics.title'|trans }}</a>&nbsp;
            <a data-toggle="modal" data-target="#changeCourseInformation" class="color-header under-line font-size-12">
                {{ 'global.edit'|trans }}
            </a>&nbsp;&nbsp;
            <a href="#deleteModal" data-toggle="modal" class="color-red pointer under-line border-0 bg-transparent font-size-12">{{ 'buttons.delete'|trans }}</a>
            <button type="submit" id="submitDeleteBtn" class="color-red pointer under-line border-0 bg-transparent font-size-12 d-none">{{ 'buttons.delete'|trans }}</button>
            {{ form_end(delete_form) }}
        </div>
        <div class=" col-md-3 row" >
            <div class="col-md-12 bg-header d-flex justify-content-center align-items-center" style="{% if intervention.logo is not null %} background:  linear-gradient(rgb(0, 0, 0,.3),rgb(0, 0, 0,.3)), url('/files{{ asset(intervention.logo.path) }}'); {% else %} background: linear-gradient(rgb(0, 0, 0,.3),rgb(0, 0, 0,.3));  {% endif %}  ">
                <div class="col-md-12 no-padding flex--center">
                    {{ include('molecules/widgets/circle-progress.html.twig', { percent: intervention.learnersProgress|round } ) }}
                </div>
            </div>
            <div class="row col-md-12 no-margin">
                <div class="col-md-4 text-left no-padding"><span class="bold">{{ intervention.learnersNotation|round(2, 'floor')|number_format(2) }} / 5</span></div>
                <div class="col-md-8 text-center font-size-13 ">
                    {{ include('molecules/widgets/ratings.html.twig', { max: 5, grade:intervention.learnersNotation  }) }}
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class=" row no-padding">
                <div class="col-md-6 pad-l-0 pad-r-0 pad-t-10 pad-b-10" >
                    <p class="bold font-size-14 color-header marg-b-10" >{{ intervention.designation }}</p>
                    <div class="col-md-12 pad-l-0 pad-r-0 border-top-header font-size-14 pad-t-10  justify-content-center" >
                        <div class="more  justify-content-center" >
                            {{ intervention.comment|raw }}
                        </div>
                    </div>
                </div>
                <div class="col-md-6 pad-r-0 pad-t-10 pad-b-10">
                    <p class="bold font-size-14 color-header marg-b-10" >{{ 'global.characteristics'|trans }}</p>
                    <div class="col-md-12 font-size-14 row pad-l-0 pad-r-0 border-top-header pad-t-10  justify-content-center" >
                        <div class="col-md-12 no-padding">
                            <i class="fa fa-pencil text-gray marg-r-10"></i>&nbsp;
                            <span>{{ 'table.modules.created_date'|trans|capitalize }}</span> : <span class="bold"> {{ intervention.created|date('d.m.Y') }}</span> - <span>{{ 'table.modules.updated_date'|trans|capitalize }}</span> : <span class="bold"> {{ intervention.updated|date('d.m.Y') }}</span>
                        </div>
                        <div class="col-md-12 no-padding">
                            <object data="/images/calendar_gray.svg" width="15" height="15"
                                    type="image/svg+xml"></object>&nbsp;&nbsp;&nbsp;
                            <span>{{ 'table.modules.start_date'|trans|capitalize }}</span> : <span class="bold">{{ intervention.beginning|date('d.m.Y') }}</span> - {{ 'table.modules.end_date'|trans|capitalize }} : <span class="bold">{{ intervention.ending|date('d.m.Y') }}</span>
                        </div>
                        <div class="col-md-12 no-padding">
                            <object data="/images/clock_gray.svg" width="15" height="15"
                                    type="image/svg+xml"></object>&nbsp;&nbsp;&nbsp;
                            <span>{{ 'table.modules.total_hours'|trans|capitalize }}</span> : <span class="bold">{{ totalHours }}</span>&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;&nbsp;
                            <i class="fa fa-list text-gray font-size-14"></i> &nbsp; {{ 'table.modules.total_modules'|trans|capitalize }} : <span class="bold">{{ modules|length }}</span>
                        </div>
                        <div class="col-md-12 no-padding">
                            <i class="fa fa-users text-gray marg-r-10" aria-hidden="true"></i>
                            {{ 'table.modules.num_of_registered'|trans|capitalize }} : <span class="bold">{{ numOfLearners }}</span> - {{ 'table.modules.num_of_not_started'|trans|capitalize }} : <span class="bold">{{ numOfNotStarted }}</span> -  {{ 'table.modules.num_of_started'|trans|capitalize }} : <span class="bold">{{ numOfStarted }}</span> - {{ 'table.modules.num_of_completed'|trans|capitalize }} : <span class="bold">{{ numOfFinished }}</span>
                        </div>
                        <div class="col-md-12 no-padding">
                            <i class="fas fa-crown text-gray marg-r-10"></i>
                            <span> {{ 'global.subject_to_assessment'|trans }}</span> : <span class="bold">{% if checkAssessment == 1 %} {{ 'learners.dashboard.modal.btn_yes'|trans  }} {% else %} {{ 'learners.dashboard.modal.btn_no'|trans  }} {% endif %}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row font-size-10">
        <div class="col-md-9 no-padding admin">
            <ul class="nav nav-pills no-padding  justify-content-start" role="tablist">
                <li class="nav-item no-margin-right ">
{#                    <a data-toggle="modal" data-target="#viewLearner" class="nav-link bold text-capitalize">#}
{#                        <object data="/images/users.svg" width="20" height="20"#}
{#                                type="image/svg+xml"></object>&nbsp;&nbsp;#}
{#                        <span class="bold ">{{ 'global.learners'|trans }}</span>#}
{#                    </a>#}
                    <a href="{{ url('admin_interventions_learners', {id: intervention.id}) }}" class="nav-link bold text-capitalize">
                        <object data="/images/users.svg" width="20" height="20"
                                type="image/svg+xml"></object>&nbsp;&nbsp;
                        <span class="bold ">{{ 'global.learners'|trans }}</span>
                    </a>
                </li>
                <li class="nav-item no-margin-right">
                    <a data-toggle="modal" data-target="#viewTrainer" class="nav-link  bold text-capitalize" href="">
                        <object data="/images/case.svg" width="20" height="20"
                                type="image/svg+xml"></object>&nbsp;&nbsp;
                        <span class="bold ">{{ 'sidebar.trainers'|trans }}</span>
                    </a>
                </li>
                {% if existSessions %}
                    <li class="nav-item no-margin-right">
                        <a href="{{ url('admin_interventions_course_modules_sessions', { 'id': intervention.id}) }}" class="nav-link bold text-capitalize" >
                            <object data="/images/hand_user.svg" width="20" height="20"
                                    type="image/svg+xml"></object>&nbsp;&nbsp;
                            <span class="bold ">{{ 'global.session_registrations'|trans }}</span>
                        </a>
                    </li>
                {% endif %}
                <li class="nav-item no-margin-right">
                    <a class="nav-link bold text-capitalize" href="">
                        <object data="/images/pen.svg" width="20" height="20"
                                type="image/svg+xml"></object>&nbsp;&nbsp;
                        <span class="bold ">{{ 'global.attendance_sheets'|trans }}</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="col-md-3 pad-b-0 marg-t-20 text-right font-size-12 no-padding">
            <span class="bg-white pad-5 border-radius-10">
                <label class="status-validate"></label>{{ 'global.complete'|trans }}&nbsp;&nbsp;
                <label class="status-pending"></label>{{ 'global.incomplete'|trans }}&nbsp;&nbsp;
                <label class="status-deny"></label>{{ 'global.alert'|trans }}&nbsp;&nbsp;
            </span>
        </div>
    </div>
    {% if intervention.modules %}
        <section class="marg-t-30">
            <div class="table-responsive">
                <table id="moduleTable" class="table marg-b-10" >
                    <thead class="table-header">
                    <tr>
                        {% if checkAssessment == 1 %}
                            <th class="col-left font-size-12"></th>
                        {% endif %}
                        <th width="10%" class=" font-size-12">{{ 'global.sequence'|trans }}</th>
                        <th class="col-left white-space font-size-12">
                            {{ 'table.modules.type'|trans|capitalize }}
                        </th>
                        <th class="col-left white-space font-size-12">
                            {{ 'table.modules.start_date'|trans|capitalize }}<br>
                            {{ 'table.modules.end_date'|trans|capitalize }}
                        </th>
                        <th class="col-left white-space font-size-12">
                            {{ 'table.modules.duration'|trans|capitalize }}<br>
                            <span class="bold">{{ 'table.modules.real_time'|trans|capitalize }}</span>
                        </th>
                        <th class="col-left white-space font-size-12">
                            {{ 'table.modules.min_score'|trans|capitalize }}<br>
                            <span class="bold">{{ 'table.modules.real_score'|trans|capitalize }}</span>
                        </th>
                        <th class="col-center font-size-12" width="10%">
                            {{ 'table.modules.progress'|trans|capitalize }}
                        </th>
                        <th width="17%" class="col-center white-space font-size-12">
                            {{ 'table.modules.rating'|trans|capitalize }}
                        </th>
                        <th width="10%" class="col-center font-size-12">{{ 'table.modules.action'|trans|capitalize }}</th>
                        <th width="5%" class="col-left font-size-12">{{ 'table.modules.status'|trans|capitalize }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% set totalAssessments = 0 %}
                    {% for module in data %}
                        <tr class="bg-white border-top-table">
                            {% if checkAssessment == 1 %}
                                <td class="row col-left no-padding bold border-0 ">
                                    {% if module.hasAssessment == 1 %}
                                        {% set totalAssessments = totalAssessments+1 %}
                                        <div id="iconModule"  class="no-padding">
                                            <object class="tiara-svg" data="/images/tiara-blue.svg" width="50" height="50"
                                                    type="image/svg+xml"></object>
                                        </div>
                                        <div class="col-md-12 justify-content-end flex--center no-padding">
                                        </div>
                                    {% endif %}
                                 </td>
                            {% endif %}
                            <td class="text-center no-margin-right border-0">
                                <div class="row">
                                    <div class="col-md-4 justify-content-start flex--center no-padding">
                                        <span class="font-size-22 bold">{{ loop.index }}.</span>
                                    </div>
                                    <div class="col-md-8 no-padding text-right">
                                        {% if module.typeId == constant('\\ApiBundle\\Entity\\StoredModule::PRESENTATION_ANIMATION') %}
                                            {% set icon = '/images/classroom-white.svg' %}
                                            {% set color = 'btn-lightblue' %}
                                        {% elseif module.typeId == constant('\\ApiBundle\\Entity\\StoredModule::ELEARNING') %}
                                            {% set icon = '/images/elearning-white.svg' %}
                                            {% set color = 'btn-orangelight' %}
                                        {% elseif module.typeId == constant('\\ApiBundle\\Entity\\StoredModule::ONLINE') %}
                                            {% set icon = '/images/online-white.svg' %}
                                            {% set color = 'btn-navy' %}
                                        {% elseif module.typeId == constant('\\ApiBundle\\Entity\\StoredModule::QUIZ') %}
                                            {% set icon = '/images/quiz-white.svg' %}
                                            {% set color = 'btn-gold' %}
                                        {% elseif module.typeId == constant('\\ApiBundle\\Entity\\StoredModule::VIRTUAL_CLASS') %}
                                            {% set icon = '/images/vitual-white.svg' %}
                                            {% set color = 'btn-blue' %}
                                        {% endif %}
                                        <div class="flex--center {{ color }} border-radius-50 no-padding" style="width: 50px; height: 50px;">
                                            {% if icon is defined %}
                                                <object data="{{ icon }}" width="40" height="40"
                                                        type="image/svg+xml"></object>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td class="col-left font-size-12 border-0">
                                <span class="bold">{{ module.name }}</span>
                                <br />
                                {{ module.type }}
                            </td>
                            <td class="font-size-12 border-0">
                                {{ 'global.from'|trans|capitalize }} : {{ module.beginning|date("d.m.Y") }}
                                <br />
                                {{ 'global.to'|trans|lower }} : {{ module.ending|date("d.m.Y") }}
                            </td>
                            <td class="font-size-12 border-0">
                                {{ 'table.modules.total_hours'|trans|capitalize }} : {{ module.duration| date('H:i:s') }}
                                <br/>
                                {{ 'table.modules.total_hours'|trans|capitalize }} : <span class="bold">{{ module.realTime }}</span>
                            </td>
                            <td class="col-left font-size-12 border-0">
                                {{ module.scoreToPass }}
                                <br/>
                                <span class="bold font-size-18 border-0">{{ module.averageScore }}</span>
                            </td>
                            <td class="col-center font-size-12 border-0">
                                {{ module.progressing }}%
                                <br>
                                <span class="bold font-size-20 border-0">{{ module.numCompleted }}</span>/{{ numOfLearners }}
                            </td>
                            <td class="col-center border-0">
                                <span class="bold font-size-20">{{ module.rating|round(2, 'floor')|number_format(2) }}</span> / 5<br>
                                {{ include('molecules/widgets/ratings.html.twig', { grade: module.rating, max: 5 }) }}
                            </td>
                            <td class="col-center font-size-12 border-0">
                                <a href="">
                                    <object data="/images/eye.svg" width="15" height="15"
                                            type="image/svg+xml"></object>
                                </a>
                                <a href="{{ url('admin_interventions_edit', { 'id': intervention.id }) }}">
                                    <object data="/images/pencil.svg" width="15" height="15"
                                            type="image/svg+xml"></object>
                                </a>
                                {% if module.typeId in  [constant('\\ApiBundle\\Entity\\StoredModule::ONLINE_WORKSHOP'),
                                    constant('\\ApiBundle\\Entity\\StoredModule::VIRTUAL_CLASS'),
                                    constant('\\ApiBundle\\Entity\\StoredModule::PRESENTATION_ANIMATION')]
                                %}
                                <a href="{{ url('admin_interventions_module_sessions', { 'id': intervention.id, 'moduleId': module.id }) }}">
                                    <object data="/images/hand_user.svg" width="15" height="15"
                                            type="image/svg+xml"></object>
                                </a>
                                {% endif %}
                                {% if module.typeId == constant('\\ApiBundle\\Entity\\StoredModule::QUIZ') %}
                                    <a  class=" color-header pointer assign_quiz "
                                       data-module-id="{{ module.id }}">
                                        {% if ( module.quiz is empty) %}
                                            <i class="fa fa-question font-size-14" aria-hidden="true"></i>
                                        {% else %}
                                            <i class="fa fa-question font-size-14" aria-hidden="true"></i>
                                        {% endif %}
                                    </a>
                                {% elseif module.typeId == constant('\\ApiBundle\\Entity\\StoredModule::ONLINE') or module.typeId == constant('\\ApiBundle\\Entity\\StoredModule::PRESENTATION_ANIMATION') %}
                                    {% if module.isNeedReport == 1 and module.templates is empty  %}
                                        <a  class="color-header pointer addTrainerReportTemplate "
                                           data-module-id="{{ module.id }}"><i class="fa fa-file font-size-14" aria-hidden="true"></i>
                                        </a>
                                    {% endif %}
                                {% endif %}
                            </td>
                            <td class="col-center font-size-12 border-0">
                                {% if  module.alert == 2 %}
                                    <label class="status-validate"></label>
                                {% elseif  module.alert == 3 %}
                                    <label class="status-pending"></label>
                                {% else %}
                                    <label class="status-deny"></label>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    {% if moduleAssessment %}
                        {% set class = 'module-li-active' %}
                        {% set classButton = 'btn-deepmark' %}
                        {% set classIcon = 'li-active' %}
                        {% set key = '00' %}
                        <tr class="backgroud-deepmark-light border-top-table">
                            <td class="backgroud-header" style="width: 90px!important;">
                                <div class="row flex--center">
                                    <i class="fa fa-trophy font-size-30 text-white"></i>
                                </div>
                            </td>
                            <td class="text-center no-margin-right border-0">
                                <div class="row">
                                    <div class="col-md-4 no-padding">
                                        <span class="font-size-22 hidden bold">{{ data|length+1 }}.</span>
                                    </div>
                                    <div class="col-md-8 no-padding text-left ">
                                        <div class="col-md-12 no-padding-left no-padding-right no-padding-top pad-b-20 pad-t-20 color-header font-size-14 border-radius-10 last-step">
                                            <span class="module-circle flex--center pointer box-module bg-transparent" style="border: 1px solid #ffad17" >
                                                <img width="25" height="15" src="/images/tiara.png">
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td colspan="8">
                                <div class="row no-padding ">
                                    <div class="col-md-3 no-padding-left no-padding-right no-padding-top pad-b-5 align-self-center center-mobile" >
                                        <b class="font-size-13 bold">{{ moduleAssessment.storedModule.designation }}</b>
                                        <p class="no-margin font-size-18 bold" >{{ moduleAssessment.designation }}</p>
                                        <div id="divDes{{ key }}" class="col-md-12 d-none no-padding font-size-12 " >
                                            {{ moduleAssessment.description|raw }}
                                        </div>
                                    </div>
                                    <div class="col-md-4 text-center row no-padding" >
                                        <div class="col-md-12 no-padding pad-l-5 align-self-center font-size-13 center-mobile" >
                                        <span class="no-margin font-size-12 color-header" >
                                            <embed src="/images/calendar.svg" width="13" height="13"
                                                   type="image/svg+xml"/>&nbsp;&nbsp;<span  class="font-size-12">{{ 'global.from'|trans }} <span class="bold">{{ intervention.beginning|date("d/m/Y") }}</span> {{ 'global.to'|trans }} <span class="bold">{{ intervention.ending|date("d/m/Y") }}</span></span>
                                        </span>
                                        </div>
                                    </div>
                                    <div class="col-md-3 no-padding flex--center color-header" >
                                        <span class="bold font-size-13">{{'learners.courses.conditions_to_validate'|trans }} &nbsp; &nbsp; &nbsp;
                                        <span class="bold font-size-30">{{ totalAssessments }}</span></span>
                                    </div>
                                    <div class="col-md-2 flex--center bold"  >
                                        <a class="btn btn-block btn-sm btn-block btn-deepmark" href="{{ moduleAssessment ? path('learner_courses_module', { 'id': moduleAssessment.id }) : 'javascript:void(0);' }}">
                                            {{ 'learners.courses.detail'|trans }}
                                        </a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    {% endif %}
                    </tbody>
                </table>
            </div>
        </section>
    {% endif %}
    <div>
        <div>
            <div class="ratings-modal">
                {{ include('molecules/interventions/ratings-modal.html.twig') }}
            </div>
            <input id="interventionId" type="hidden" value="{{ intervention.id }}"/>
{#            <a class="btn btn-deepmark-green {{ isAssignLearner == 0 ? 'disabled' : '' }}" data-action="assignLearner"#}
{#               href="{{ url('admin_learners_index') }}">{{ 'table.modules.assign_learners'|trans|title }}</a>#}

{#            <a data-toggle="modal" data-target="#assignTrainer" style="color: #fff;" class="btn btn-blue">Assign#}
{#                Trainers</a>#}
            <div id="addTrainerReportTemplate" class="modal fade col-md-12" tabindex="-1" role="dialog">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <form method="post" enctype="multipart/form-data" action="{{ path('admin_interventions_add_trainer_report') }}">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <h3>Trainer Report Template</h3>
                                <div class="row form-group">
                                    <label for="fileTrainerReportTemplate" class="btn btn-file-upload btn btn-deepmark-orangelight btn-file">
                                        Add Trainer Report
                                        <i class="fal fa-plus"></i>
                                    </label>
                                    <input id="fileTrainerReportTemplate"
                                           type="file"
                                           name="module[0][file][trainerReportTemplate]"
                                           data-type="body"
                                           class="inputUploadPublicFile fileTrainerReportTemplate"
                                           multiple/>
                                </div>
                                <input type="hidden" name="moduleId" id="moduleIdAddTemplate">
                                <input type="hidden" name="interventionId" value="{{ intervention.id }}">
                                <div class="col-md-12 text-right ">
                                    <button id="btn-dispo-confirm" type="submit" name="button"
                                            class="btn btn-sm btn-deepmark-orangelight">{{ 'buttons.confirm'|trans }}</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- Modal show the view learner -->
            <div id="viewLearner" class="modal fade col-md-12" tabindex="-1" role="dialog">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            {% if intervention.learners %}
                                <section>
                                    <h3>{{ 'table.modules.learners'|trans|title }} ({{ intervention.learners|length }})</h3>
                                    <div id="tableLearner" class="table-responsive">
                                        <table class="table">
                                            <thead>
                                            <tr>
                                                <th>{{ 'table.learners.firstname'|trans }}</th>
                                                <th>{{ 'table.learners.lastname'|trans }}</th>
                                                {#<th>{{ 'table.learners.employeeId'|trans }}</th>#}
                                                <th>{{ 'table.learners.site'|trans }}</th>
                                                <th>{{ 'table.learners.designation'|trans }}</th>
                                                <th>{{ 'table.learners.regional'|trans }}</th>
                                                <th>{{ 'table.learners.group'|trans }}</th>
                                                <th>{{ 'table.learners.email'|trans }}</th>
                                                <th>
                                                    <div class="form-check">
                                                        <label class="form-check-label">
                                                            <input class="form-check-input check-all-input" type="checkbox"
                                                                   value="">
                                                            <span class="form-check-sign">
                                                                <span class="check"></span>
                                                            </span>
                                                        </label>
                                                    </div>
                                                </th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for learnerIntervention in dataLearner %}
                                                <tr>
                                                    <td class="col-left">
                                                        {{ learnerIntervention.learner.firstName }}
                                                    </td>
                                                    <td class="col-left" >
                                                        {{ learnerIntervention.learner.lastName }}
                                                    </td>
                                                    {#<td class="col-left" >
                                                        {{ learnerIntervention.learner.employeeId }}
                                                    </td>#}
                                                    <td class="col-left" >
                                                    </td>
                                                    <td class="col-left" >
                                                        {{ learnerIntervention.learner.position }}
                                                    </td>
                                                    <td class="col-left" >
                                                        {% if learnerIntervention.learner.regional is not null %}
                                                            {{ learnerIntervention.learner.regional.designation }}
                                                        {% endif %}
                                                    </td>
                                                    <td class="col-left" >
                                                        {% if learnerIntervention.learner.groupOrganization is not null %}
                                                            {{ learnerIntervention.learner.groupOrganization.designation }}
                                                        {% endif %}
                                                    </td>
                                                    <td class="col-left" >
                                                        {{ learnerIntervention.learner.person.email }}
                                                    </td>
                                                    <td>
                                                        <div class="form-check">
                                                            <label class="form-check-label">
                                                                <input class="form-check-input assignment-input"
                                                                       name="assignment" type="checkbox"
                                                                       value="{{ learnerIntervention.learner.id }}">
                                                                <span class="form-check-sign">
                                                                <span class="check"></span>
                                                            </span>
                                                            </label>
                                                        </div>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </section>
                            {% endif %}
                        </div>
                        <div id="removelearnerBtn" class="modal-footer pull-right">
                            <button class="btn btn-deepmark-orangelight eval-btn">{{ 'buttons.remove_assign'|trans }}</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Modal delete learner  -->
            <div id="delete-confirmation-modal" class="modal" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">{{ 'popup.mes_delete'|trans }}</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ 'buttons.close'|trans }}</button>
                            <button type="button" class="btn btn-danger"  data-action="removeAssignment">{{ 'learners.courses.cancel_booking' | trans }}</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Modal delete learner -->

            <!-- Modal show the view trainer -->
            <div id="viewTrainer" class="modal fade col-md-12" tabindex="-1" role="dialog">
                <div class="modal-dialog" style="max-width: 70%" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body admin">
                            {% if intervention.modules %}
                                <section class="popup">
                                    <div class="row col-md-12 text-center"><h3 class="col-md-12 text-center color-header">{{ 'sidebar.trainers'|trans }}</h3></div>
                                    <div class="row col-md-12 marg-t-20 marg-b-20 no-padding">
                                        <div class="col-md-4"></div>
                                        <div class="col-md-4 no-padding">
                                            <div class="row btn-deepmark-light border-radis-30">
                                                <div class="col-md-3 text-center no-padding color-header font-size-12 marg-t-10 marg-b-10 ">{{ 'search.content'|trans }}</div>
                                                <div class="col-md-7 no-padding marg-t-10 marg-b-10">
                                                    <input type="text" class="bookSearch border-0 no-padding no-margin color-header backgroud-deepmark-light">
                                                </div>
                                                <div class="col-md-2 flex--center">
                                                    <i class="fas color-header fa-search"></i>
                                                </div>

                                            </div>
                                        </div>
{#                                        <div class="col-md-3 flex--center text-right">#}
{#                                            <div style="margin-top: -3px;" class="form-group pad-b-0 display-inline">#}
{#                                                <select id="actionSelected" class="classic typeAction">#}
{#                                                    <option value="remove">Supprimer</option>#}
{#                                                </select>#}
{#                                            </div>#}
{#                                        </div>#}
{#                                        <div class="col-md-1 no-padding text-right">#}
{#                                            <button id="remove-trainers" class="applyAction btn btn-small btn-block btn-deepmark-orangestrong">{{ 'global.apply'|trans }}</button>#}
{#                                        </div>#}
                                    </div>
                                    <div id="tableTrainer" class="w-100">
                                        <table id="trainersTable" class="table table-striped w-100 table-hover responsive">
                                            <thead class="table-header w-100">
                                            <tr>
                                                <th>{{ 'table.learners.employeeId'|trans }}</th>
                                                <th>{{ 'table.learners.lastname'|trans }}</th>
                                                <th>{{ 'table.learners.firstname'|trans }}</th>
                                                <th>{{ 'table.learners.org'|trans }}</th>
                                                <th>{{ 'table.learners.entity'|trans }} </th>
                                                <th>Module {{ 'table.modules.name'|trans|capitalize }}</th>
{#                                                <th>#}
{#                                                    <div class="form-check">#}
{#                                                        <label class="form-check-label">#}
{#                                                            <input class="form-check-input check-all-input" type="checkbox"#}
{#                                                                   value="">#}
{#                                                            <span class="form-check-sign">#}
{#                                                                <span class="check"></span>#}
{#                                                            </span>#}
{#                                                        </label>#}
{#                                                    </div>#}
{#                                                </th>#}
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for module in intervention.modules %}
                                                {% if module.assigments is not empty %}
                                                    {% set trainerIds = [] %}
                                                    {% for assigment in module.assigments %}
                                                        {% if assigment.liveResource is not null and assigment.liveResource not in trainerIds %}
                                                            {% set trainerIds = trainerIds|merge([assigment.liveResource]) %}
                                                        <tr>
                                                            <td> {{ assigment.liveResource.getId() }}</td>
                                                            <td> {{ assigment.liveResource.lastname }}</td>
                                                            <td> {{ assigment.liveResource.firstname }}</td>
                                                            <td> {{ assigment.liveResource.getEntity() ? assigment.liveResource.getEntity().organisation.designation : "" }}</td>
                                                            <td> {{ assigment.liveResource.getEntity() ? assigment.liveResource.getEntity().designation : "" }}</td>
                                                            <td class="col-left">
                                                                {{ module.designation }}
                                                            </td>
{#                                                            <td>#}
{#                                                                <div class="form-check">#}
{#                                                                    <label class="form-check-label">#}
{#                                                                        <input class="form-check-input trainer-assignment-input"#}
{#                                                                               name="assignment" type="checkbox"#}
{#                                                                               value="{{ assigment.liveResource.getId() }}" module-id="{{ module.id }}">#}
{#                                                                        <span class="form-check-sign">#}
{#                                                                            <span class="check"></span>#}
{#                                                                        </span>#}
{#                                                                    </label>#}
{#                                                                </div>#}
{#                                                            </td>#}
                                                        </tr>
                                                        {% endif %}
                                                    {% endfor %}
                                                {% endif %}
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </section>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal show the assign trainer -->
            <div id="assignTrainer" class="modal fade col-md-12" tabindex="-1" role="dialog">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            {% if intervention.modules %}
                                <section>
                                    <h3>Trainers</h3>
                                    <div id="tableTrainer" class="table-responsive">
                                        <table class="table">
                                            <thead>
                                            <tr>
                                                <th class="col-left">{{ 'table.modules.type'|trans|capitalize }}</th>
                                                <th class="text-left">{{ 'table.modules.name'|trans|capitalize }}</th>
                                                <th class="text-left">Trainers</th>
                                                <th class="text-left">Action</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for module in intervention.modules %}
                                                {% if module.assigments is not empty %}
                                                    {% set trainerId = null %}
                                                    <tr>
                                                        <td class="col-left">
                                                            {{ module.storedModule.designation }}
                                                        </td>
                                                        <td class="col-left">
                                                            {{ module.designation }}
                                                        </td>
                                                        <td>
                                                            <ul>
                                                                {% for assigment in module.assigments %}
                                                                    <li>
                                                                        {% if assigment.liveResource is not null %}
                                                                            {{ assigment.liveResource.displayName }}
                                                                            {% set trainerId = assigment.liveResource.id %}
                                                                        {% endif %}
                                                                    </li>
                                                                {% endfor %}
                                                            </ul>
                                                        </td>
                                                        <td class="col-left">
                                                            <button module-id="{{ module.id }}" trainer-id="{{ trainerId }}" type="button" class="btn btn-deepmark-green modal-assign-trainer">Re-assign trainer</button>
                                                        </td>
                                                    </tr>
                                                {% endif %}
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </section>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <div id="quiz-modal" class="modal fade col-md-12" tabindex="-1" role="dialog">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <form method="post" action="{{ path('admin_interventions_assign_quiz') }}">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <h3>{{ 'admin.interventions.create.module_card.form.assign_quiz'|trans|title }}</h3>
                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <label for="quiz">{{ 'admin.interventions.create.module_card.form.select_quiz'|trans|title }}</label>
                                        <select required style="width: 100%" class="select2" id="quiz" name="quizId"
                                                data-style="select-with-transition">
                                            <option disabled selected value>
                                                -- {{ 'admin.interventions.create.module_card.form.select_an_option'|trans|title }}
                                                --
                                            </option>
                                            {% for singleQuiz in quizzes %}
                                                <option value="{{ singleQuiz.id }}"> {{ singleQuiz.title }}</option>
                                            {% endfor %}
                                        </select>
                                        <script>
                                            $(document).ready(function () {
                                                $('#quiz').select2({
                                                    minimumResultsForSearch: -1
                                                });
                                            });
                                        </script>
                                    </div>
                                </div>
                                <input type="hidden" name="moduleId" id="moduleId">
                                <input type="hidden" name="interventionId" value="{{ intervention.id }}">
                                <div class="col-md-12 text-right ">
                                    <button id="btn-dispo-confirm" type="submit" name="button"
                                            class="btn btn-sm btn-deepmark-orangelight">{{ 'buttons.confirm'|trans }}</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal show the assign trainer inside the parent step -->
    {{ include('molecules/modal/assign-trainer.html.twig') }}
    <div id="other-booking-item-template" class="row" style="display: none;">
        <div class="booking-item-content col-md-12 pt-3">
            <div class="booking-item-top">
                <i class="fas fa-clock"></i> Session:
                <a class="booking-title" style="cursor: pointer"></a>
            </div>
            <input moduleId="" class="btn btn-deepmark-orangelight intervention-online-trainers-submit sessionBooking" value="{{ 'admin.interventions.create.step4.choose_trainer'|trans }}">
        </div>
    </div>
    <div id="step4-vclass-modal" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">{{ 'admin.interventions.create.step4.choose_trainer'|trans }} <span id="assigned-trainer-counter"></span></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="modal-session-select">{{ 'admin.interventions.create.step4.select_session'|trans }}</label>
                        <select data-style="select-with-transition" class="form-control selectpicker" id="modal-session-select"></select>
                    </div>
                    <div class="form-group">
                        <label for="modal-vclass-trainer-select">{{ 'admin.interventions.create.step4.select_trainer'|trans }}</label>
                        <div class="pad-t-20" id="modal-vclass-trainer-select"></div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="book-online-session" type="button" class="btn btn-primary" data-dismiss="modal">{{ 'global.ok'|trans|upper }}
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div id="no-trainers-session" class="form-check d-none">
        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios" >
        <label style="width: 100%" for="exampleRadios" class="form-check-label col-md-12">
            {{ 'admin.interventions.create.step4.no_trainers_session'|trans }}
        </label>
    </div>
    <div id="trainer-item-template" class="trainer-item-template"
         style="display: none;">
        <div class="trainer-checkbox">
            <input id="" class="dm-checkbox" type="checkbox"/>
            <label for="" class="dm-label"></label>
        </div>
        <div class="trainer-item-content">
            <div class="trainer-item-top">
                <i class="fas fa-user"></i>
                <span class="trainer-name"></span>
            </div>
            <div class="trainer-item-bottom">
                <i class="fas fa-clock"></i>
                <span class="trainer-item-hours"></span><span>&nbsp;{{ 'admin.interventions.create.step4.hours'|trans }}</span>
                <span class="trainer-dates">
                    <span>{{ 'global.from'|trans }}</span>
                    <span class="trainer-date-from"></span>
                    <span>{{ 'global.to'|trans }}</span>
                    <span class="trainer-date-to"></span>
                </span>
            </div>
        </div>
    </div>
    {{ include('molecules/modal/delete-course.html.twig') }}
    {{ include('molecules/modal/course-information.html.twig', { intervention: intervention } ) }}
    <script type="text/javascript" src="{{ asset('js/lang_datatable.js') }}"></script>
    <script>
        $(document).ready(function () {
            let lang = languageDatatable();
            var tableTrainer = $('#trainersTable').DataTable({
                "language": lang,
                "info": true,
                dom: 'Blfrtip',
                exportOptions: {
                    columns: ':visible'
                },
                buttons: [
                        'csv',
                        'excel',
                        {extend: 'pdfHtml5', orientation: 'landscape', pageSize: 'A3',},
                        'colvis'
                    ]
                }
            );
            $(".dataTables_filter").hide();
            $('.bookSearch').keyup(function(){
                tableTrainer.search($(this).val()).draw() ;
            })

            let readMore = '{{ "global.read_more"|trans }}';
            let readLess = '{{ "global.read_less"|trans }}';
            readmore(300, readMore, readLess);

            $("#removelearnerBtn").click(function () {
                $("#viewLearner").modal('hide');
                $("#delete-confirmation-modal").modal("show");

            });
            let vclassModalData = {};
            let trainerList = {}, chosenTrainerIds = {};

            $(".addTrainerReportTemplate").click(function () {
                var moduleId = $(this).attr("data-module-id");
                $('#moduleIdAddTemplate').val(moduleId);
                $('#addTrainerReportTemplate').modal('show');
                $('.fileTrainerReportTemplate').prop('required',true);

            });

            $(".assign_quiz").click(function () {
                var moduleId = $(this).attr("data-module-id");
                $('#moduleId').val(moduleId);
                $('#quiz-modal').modal('show');
                $('#quiz').select2({
                        minimumResultsForSearch: 1
                    }
                );
            });

            $('.buttons-colvis').on('click', function () {
                $('.dt-button-collection').addClass('show');
            });

            // remove learner assigment
            $('[data-action="removeAssignment"]').on('click', function (event) {
                event.preventDefault();
                const assignments = [];

                $('.assignment-input').each(function () {
                    if ($(this).is(':checked')) {
                        assignments.push($(this).val());
                    }
                });

                $.ajax({
                    'url': '{{ path('admin_intervention_remove_assignment') }}',
                    'method': 'POST',
                    'data': {
                        'assignments': assignments,
                        'interventionId': {{ intervention.id }},
                    }
                }).done(function (response) {
                    let i = 0;
                    let title = jsTranslations.successfully_learner_removed_text;
                    let learners = '';
                    if (response) {
                        response.forEach((data, key) => {
                            if (key > 0) learners += ', ';
                            learners += data.displayName;
                            i++;
                        });
                        if (learners != '' && i > 0) title += jsTranslations.cannot_remove_learner_text + ' \n'  + learners;
                    }

                    swal({title: jsTranslations.successfully_title, text: title, type:
                            "success"}).then(function(){
                            location.reload();
                        }
                    );
                }).fail(function (response) {
                    swal(
                        "Error", "There is an error in your assignment", "error",
                        {
                            showCancelButton: true,
                            closeOnConfirm: true,
                            showLoaderOnConfirm: true
                        }
                    );
                });
            });

            $('#remove-trainers').click(function(){
                const trainerIds = [];
                const moduleIds = [];
                $('.trainer-assignment-input').each(function () {
                    if ($(this).is(':checked')) {
                        trainerIds.push($(this).val());
                        moduleIds.push($(this).attr('module-id'));
                    }
                });

                if (!trainerIds.length) {
                    // one or more checkboxes are
                    swal('Warning', '{{"booking.session_messages.select_one_trainer"|trans}}', 'warning');
                    return;
                }

                $.ajax({
                    'url': '{{ path('admin_intervention_remove_trainer_module') }}',
                    'method': 'POST',
                    'data': {
                        'trainerIds': trainerIds,
                        'moduleIds': moduleIds,
                    }
                }).done(function (response) {
                    swal({title: jsTranslations.successfully_title, text: jsTranslations.successfully_trainer_removed_text, type:
                            "success"}).then(function(){
                            location.reload();
                        }
                    );
                }).fail(function (response) {
                    swal(
                        "Error", "There is an error in assignment removing", "error",
                        {
                            showCancelButton: true,
                            closeOnConfirm: true,
                            showLoaderOnConfirm: true
                        }
                    );
                });
            });

            $('.modal-assign-trainer').on('click', function () {
                let moduleId = $(this).attr("module-id");
                let url = '/admin/trainers/available/module/custom/' + moduleId;
                let hasTrainer = false;
                $.ajax({
                    'url': url,
                    'method': 'GET',
                }).done(function (response) {
                    if (response.appId === 6) {
                        trainerList[moduleId] = response.results;
                        chosenTrainerIds[moduleId] = [];
                        const template = getOnlineTrainerTemplate();
                        $(`#session-list`).empty();
                        $(`#individual-remote-session-submit`).removeClass('hidden');
                        response.results.forEach((data) => {
                            const trainerData = {
                                name: data.trainer.first_name + ' ' + data.trainer.last_name,
                                id: data.trainer.id,
                                hours: data.hours,
                                start: moment(data.dateStart).format('l'),
                                end: moment(data.dateEnd).format('l'),
                                booked: data.booked
                            };

                            let trainerItem = bindTrainerItem(template.clone(), trainerData, moduleId);
                            //$(`#trainers-${moduleId}`).append(trainerItem);
                            $(`#session-list`).append(trainerItem);
                            $('#assign-trainer-modal').modal('show');
                        });
                        //updateRemainingHours(moduleId);
                    } else {
                        $(`#session-list`).empty();
                        $(`#individual-remote-session-submit`).addClass('hidden');
                        const events = response.results.map(day => {
                            day.start = day.date;
                            day.end = day.date;

                            const chosenCount = chosenTrainersCount(day.sessions);
                            day.title = `${chosenCount} / ${day.sessions.length}`;
                            day.color = chosenCount === day.sessions.length ? COLORS.blue : COLORS.green;
                            const template = getOtherBookingTemplate();
                            let bookingItem = bindOtherBookingItem(template.clone(), day, moduleId);
                            $(`#session-list`).append(bookingItem);
                            $('#assign-trainer-modal').modal('show');
                        });

                        if (response.results.length) {
                            $(`#quantity_session_${moduleId}`).html(response.results.length);
                        }
                    }
                });
            });

            function bindOtherBookingItem(item, data, moduleId) {
                let sessionsData = moment(data.date).format('DD/MM/YYYY') + '<br />';
                let myVar = '';
                data.sessions.forEach((session, key) => {
                    if (key > 0 && key < data.sessions.length) {
                        myVar += '<br />';
                    }
                    myVar += '<strong>Session</strong>: ' + moment(session.start).format('HH:mm');
                    if (typeof session.address === 'string' || session.address instanceof String) {
                        myVar += '<br />' + session.address;
                    }
                    if (session.chosen_trainer) {
                        myVar += '<br /><b>Chosen new trainer: </b>' + session.chosen_trainer.first_name + ' ' + session.chosen_trainer.last_name;
                    } else {
                        myVar += '<br /><b>Chosen new trainer: None</b>';
                    }
                    myVar += '<br />';
                    if (key > 0 && key < (data.sessions.length - 1)) {
                        myVar += '<br />';
                    }
                    console.log(key, data.sessions.length - 1)
                });

                item.find('.booking-title').empty().html(sessionsData + myVar);
                item.find('.sessionBooking').attr("moduleId", moduleId);

                item.find('.sessionBooking').click(function () {
                    $('#step4-vclass-modal').modal();
                    updateVclassModal(data, moduleId);

                });
                return item;
            }

            function getOtherBookingTemplate() {
                const template = $('#other-booking-item-template').clone();
                template.css({display: 'grid'});
                template.attr('id', '');
                return template;
            }

            function bindTrainerItem(item, data, moduleId) {

                item.find('.trainer-name').empty().html(data.name);
                item.find('.trainer-item-hours').empty().html(data.hours);
                item.find('.trainer-date-from').empty().html(data.start);
                item.find('.trainer-date-to').empty().html(data.end);
                item.find('.dm-checkbox').attr('id', data.id + moduleId);
                item.find('.dm-label').attr('for', data.id + moduleId);

                if (data.booked) {
                    item.find('.dm-checkbox').prop('checked', true);
                    chosenTrainerIds[moduleId].push(data);
                }

                item.find('.dm-checkbox').change(function () {
                    console.log(data)
                    if ($(this).is(':checked')) chosenTrainerIds[moduleId].push(data);
                    else chosenTrainerIds[moduleId].splice(chosenTrainerIds[moduleId].indexOf(data), 1);

                    const submitButton = $(`#individual-remote-session-submit`);
                    submitButton.prop('disabled', false);
                    submitButton.attr( "moduleId", moduleId)
                });

                return item;
            }

            $('#individual-remote-session-submit').off('click').on('click', function () {
                assignTrainersOnline($(this).attr('moduleId'));
            });

            function assignTrainersOnline(moduleId) {
                $.ajax({
                    url: '/admin/trainers/assign/trainer/online/custom',
                    method: 'POST',
                    data: {
                        trainersIds: chosenTrainerIds[moduleId],
                        moduleId:moduleId,
                    },
                    success:function(response) {
                        swal('Trainers validated');
                        location.reload();
                    },
                    error:function(response) {
                        swal('Error', response.responseJSON, 'error');
                    }
                })
            }

            /*$('.intervention-online-trainers-submit').off('click').on('click', function () {
                assignTrainersOnline($(this).attr('moduleId'));
            });*/

            function getOnlineTrainerTemplate() {
                const template = $('#trainer-item-template').clone();
                template.css({display: 'grid'});
                template.attr('id', '');
                return template;
            }

            function chosenTrainersCount(sessions) {
                return sessions.filter(session => !!session.chosen_trainer).length;
            }

            function updateVclassModal(calEvent, moduleId) {
                console.log(calEvent);

                const countText = `(${$('#chosen-text').html()} ${chosenTrainersCount(calEvent.sessions)} / ${calEvent.sessions.length})`;
                $('#assigned-trainer-counter').empty().html(countText);

                const sessionOptions = calEvent.sessions.map(session =>
                    `<option value="${session.sessionId}">${moment(session.start).format('HH:mm')}</i></option>`
                );

                $('#modal-session-select').empty().append(sessionOptions);
                $("#modal-session-select").selectpicker("refresh");
                console.log(vclassModalData);
                console.log('id selected session: ' + $('#modal-session-select').val());

                if (vclassModalData.currentSession && (vclassModalData.currentModule == moduleId)) {
                    $('#modal-session-select').val(vclassModalData.currentSession);
                }
                console.log('id selected session: ' + $('#modal-session-select').val());

                function chooseSession(id) {
                    const session = calEvent.sessions.find(session => session.sessionId == id);
                    console.log(session);
                    loadVclassTrainers(session, moduleId, calEvent.date);
                }

                $('#modal-session-select').off('change').on('change', function () {
                    chooseSession($(this).val());
                });
                chooseSession($('#modal-session-select').val());
            }

            function loadVclassTrainers(session, moduleId, date) {

                let trainersList = session.trainers;
                let trainerOptions = [];
                if (session.chosen_trainer) {
                    //exclude current selected trainer
                    let trainer = session.chosen_trainer;
                    let avatar = getAvatarTrainer(trainer.avatar);
                    let ratingHtml = getRankingTrainer(trainer.ranking);

                    trainerOptions.push(`<div class="form-check">
              <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios${trainer.id}" value="${trainer.id}" checked>
              <label style="width: 100%" for="exampleRadios${trainer.id}" class="form-check-label col-md-12">
                  <div class="user row ">
                         <div class="photo col-md-2" >
                            ${avatar}
                        </div>
                        <div class="user-info col-md-10">
                            ${trainer.first_name} ${trainer.last_name} ${trainer.city}<br>
                            <div class="ratings-widget disabled"> ${ratingHtml} </div>
                        </div>
                    </div>
              </label>
            </div>`);
                }

                for (let index = 0; index < trainersList.length; index++) {
                    let trainer = trainersList[index];
                    let avatar = getAvatarTrainer(trainer.avatar);
                    let ratingHtml = getRankingTrainer(trainer.ranking);

                    trainerOptions.push(`<div class="form-check">
              <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios${trainer.id}" value="${trainer.id}">
              <label style="width: 100%" for="exampleRadios${trainer.id}" class="form-check-label col-md-12">
                  <div class="user row ">
                         <div class="photo col-md-2" >
                            ${avatar}
                        </div>
                        <div class="user-info col-md-10">
                            ${trainer.first_name} ${trainer.last_name} ${trainer.city}<br>
                            <div class="ratings-widget disabled"> ${ratingHtml} </div>
                        </div>
                    </div>
              </label>
            </div>`);
                }

                if (trainersList.length < 1)
                    trainerOptions.unshift($('#no-trainers-session'));


                $('#modal-vclass-trainer-select').empty().append(trainerOptions);

                //mark selected trainer if it exist
                if (session.chosen_trainer) {
                    $('#exampleRadios' + session.chosen_trainer.id).val(session.chosen_trainer.id);
                }

                //save trainer each time selected
                $('.form-check-input').off('change').on('click', function () {

                    vclassModalData.currentSession = session.sessionId;
                    vclassModalData.currentModule = moduleId;

                    if (trainersList.length > 0) {
                        console.log(moduleId, session.sessionId)
                        assignTrainerVclass(moduleId, session.sessionId, $(this).val())
                            // .then(events => {
                            //     const event = events.find(ev => ev.date === date);
                            //     updateVclassModal(event, moduleId);
                            // })
                            .then(() => {
                                location.reload();
                            })

                    }
                });
            }

            function assignTrainerVclass(moduleId, sessionHash, trainerId) {

                return new Promise((resolve, reject) => {
                    $.ajax({
                        url: '/admin/trainers/assign/trainer/session/custom',
                        method: 'POST',
                        data: {
                            trainerId,
                            moduleId,
                            sessionHash: sessionHash
                        }
                    }).done(function (response) {
                        resolve();
                    });
                });
            }

            function getAvatarTrainer(avatar) {
                let srcAvatar = '/img/default-avatar.png'
                if (avatar) {
                    srcAvatar = avatar;
                }
                return '<img style=" border-radius: 50%;"  width="40" height="40" src="' + srcAvatar + '">';
            }

            function getRankingTrainer(ranking) {
                let ratingHtml = '';
                for (let grade = 1; grade <= 5; grade++) {
                    if (grade <= ranking) {
                        ratingHtml += '<i class="fas fa-star"></i>';
                    } else {
                        ratingHtml += '<i class="fal fa-star"></i>';
                    }

                }
                return ratingHtml;
            }

            /*$('#modal-assign-trainer-assign').on('click', function () {
                let trainerId = $('#trainers').val();
                let bookingId = $('#modal-booking-id').val();

                $.ajax({
                    'url': '/admin/trainers/assign/trainer',
                    'method': 'POST',
                    'data': {
                        'bookingId': bookingId,
                        'profileId': trainerId
                    }
                }).done(function (response) {
                    updateCalendar(start_date, end_date)
                        .then(() => $('[href="#monthPlanning"]').tab('show'));
                }).fail(function (response) {
                    console.log(response);
                })
            });*/
        });

        $(document).ready(function () {
            bindFileUploaders();
            $('#submitAct').click(function(){
                $("#submitDeleteBtn").click();
            })
        });

        function bindFileUploaders() {

            const uploadOptions = {
                formData: function (data, element) {

                    let triggerField = element.fileInput[0];
                    let moduleId = $(triggerField).attr('data-module-id');
                    let fileFor = $(triggerField).attr('data-person-type');

                    return [{name: 'moduleId', value: moduleId}, {name: 'role', value: fileFor}];
                },
                isFileTrainerReportTemplate: 1
            };

            initFileUploader($('.inputUploadPublicFile'), '/admin/courses/file_upload/media', uploadOptions);
        }
    </script>
{% endblock %}