{% extends 'base.html.twig' %}

{% block title %}AdminBundle:Interventions:showStats{% endblock %}
{% block pagename %}{{ 'admin.interventions.synthesis_of_the_course'|trans }}{% endblock %}

{% block body %}
    <div class="card">
        <div class="card-body card-body--flex">
            <div class="card-icon card-icon--noheader">
                <div class="img-container">
                    {% if intervention.logo %}
                        <img src="/files{{ asset(intervention.logo.path) }}" alt="">
                    {% else %}
                        <img src="{{ asset('img/Logo_BNP.png') }}" alt="">
                    {%  endif %}
                </div>
            </div>
            <div class="title-item">
                <h6>{{ 'admin.interventions.in_progress'|trans }}</h6>

                <p>
                    {{ intervention.nbLearner }} {{ 'admin.interventions.collaborator'|trans }} <br>
                    {{ intervention.learnersProgress }}% {{ 'admin.interventions.of_progress'|trans }}
                </p>
            </div>

            <div class="title-item">
                <p>
                    {{ 'admin.interventions.typical_coaching_course'|trans }} :
                </p>

                <h6>{{ intervention.designation }} <span class="badge badge-deepmark-red">0</span></h6>

                <p class="text-deepmark-orangelight">
                    {{ intervention.beginning|date('d/m/Y') }} <span class="text-deepmark-lightgray">-></span> {{ intervention.ending|date('d/m/Y') }}
                </p>
            </div>

            <div class="title-item">
                <p>
                    {{ 'admin.profile.contact'|trans }} :
                </p>

                <p>
                    {{ intervention.admin.firstName }} {{ intervention.admin.lastName }} {{ intervention.admin.position }} <br>
                    {{ intervention.admin.mobilePhone }}
                </p>

                <p class="text-deepmark-red">
                    {{ 'global.warning'|trans }} : 0 {{ 'table.interventions.alerts'|trans }}
                </p>
            </div>
        </div>
    </div>

    <div class="card">
    <div class="card-header card-header-icon">
        <div class="card-icon active">
            <i class="fal fa-chart-bar"></i>
        </div>

        <h4 class="card-header-title stats-title">{{ intervention.designation }}</h4>
    </div>

    <div class="card-body">
        <div class="row">
            <div class="col-md-6">
                <h6 class="text-center">{{ 'admin.interventions.show_status.quizzes'|trans|title }}</h6>
                {% for quiz in quizzes %}
                    <div class="card nested-card">
                        <div class="card-header card-header--nomargin card-header-gold">
                            <h4 class="card-title card-title-duplicate">
                                <i class="fal fa-sort-down"></i>
                            </h4>

                            <h4 class="card-title">
                                <i class="fal fa-question-square"></i> {{ 'admin.interventions.show_status.quiz'|trans|title }}
                            </h4>
                        </div>

                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-8">
                                    <p>
                                        {{ quiz.module.quiz.title }} <br>
                                        {{ quiz.module.designation }}
                                    </p>
                                </div>

                                <div class="col-md-4">
                                    {% for learner in quiz.results %}
                                        <p>{{ learner.learner.firstName }} {{ learner.learner.lastName }}</p>
                                        {% for result in learner.results %}
                                            {%  set scorePercent = (result.score / quiz.module.quiz.totalPoints) * 100 %}
                                            <li class="list-group-item">
                                                <span>{{ result.quiz.title }} - #{{ loop.index }}</span>
                                                <div class="progress">
                                                    <div class="progress-bar {% if scorePercent >= quiz.module.scoreQuiz %} bg-success {% else %} bg-danger{% endif %}" role="progressbar" style="width: {{ scorePercent }}%" aria-valuenow="{{ scorePercent }}" aria-valuemin="0" aria-valuemax="100">
                                                        {{ 'learners.courses.my_score'|trans }} : {{ scorePercent|round }} %
                                                    </div>
                                                </div>
                                            </li>
                                        {% endfor %}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>

            <div class="col-md-6">
                <h6 class="text-center">{{ 'admin.interventions.show_status.evaluations'|trans|title }}</h6>
            </div>
        </div>
    </div>
{% endblock %}