{% set uniqueid = session_id is not defined ? uniqid() ~ id : session_id %}
{% set titleModule =  title is defined and title is not null ? title : data.designation|default('') %}
{% set quantity = quantity is defined and quantity is not null ? quantity : 0 %}
{% set durationType = durationType is defined and durationType is not null ? durationType : 0 %}
{% set tableId = id %}
{% set moduleName =  moduleName is defined and moduleName is not null ? moduleName : '' %}
{% set rowClick = rowClick is defined and rowClick is not null ? rowClick : '' %}
{% set width = width is defined and width is not null ? width : 20 %}
{% set height = height is defined and height is not null ? height : 35 %}
{% set index = index is defined and index is not null ? index : 0 %}
{% set position = position is defined and position is not null ? position : 0 %}
{% if id != 12  %}
    <tr data-order="" data-row="{{ rowClick }}" class="price-row price-row-{{ id }}" data-id="{{ id }}" title="{{ id }}" name="rowModInt">
        <td class="col-name no-padding">
            <div class="row">
                <div class="col-md-1 no-padding" style="height: 87px;">
                    <div class="flex--center bold font-size-20 no-padding btn-deepmark sequenceNumber height-100" style="width: 30px">
                        {{ index }}
                    </div>
                </div>
                <div class="col-md-2 flex--center no-padding text-right">
                    <button type="button" class="btn btn-round height-36" style="background: {{ '#'~color }}">
                        <object data="/images/{{ icon }}.svg" width="{{ width }}" height="{{ height }}"
                                type="image/svg+xml"></object>
                    </button>
                </div>
                <div class="col-md-9" title="{{ title }}" style="padding-top: 12px;">
                    <span class="bold color-header font-size-16">{{ displayTitle }}</span> :
                    <div class="customtitle-wrapper" style="width: 100%">
                        <input id="title{{ rowClick }}" required type="text" class="row-field-customtitle border-header form-control" name="module[{{ uniqueid }}][title]"
                               placeholder="{{ 'table.quiz.title'|trans }}" value="{{ moduleName }}" >
                    </div>
                </div>
            </div>
        </td>
        {% if titleModule == 'Assessment' or id == 11%}
            <td class="col-duration"></td>
        {% else %}
            <td class="col-duration">
                <div class="row">
                    <div class="col-md-4 pad-l-0 pad-r-10">
                        {% set durationTotal  = duration is defined and duration is not null ? duration : 0 %}
                        <label class="color-header">{{ 'booking.duration'|trans }}</label><br>
                        <input style="width: 100%" id="duration{{ rowClick }}" required pattern="\d+" type="text" class="form-control border-header bg-white durationField" name="module[{{ uniqueid }}][duration]"
                               value="{{ durationTotal }}" data-rowClick="{{ rowClick }}">
                    </div>
                    <div class="col-md-8 no-padding admin">
                        <label class="color-header">{{ 'global.unit'|trans }}</label><br>
                        <select style="min-width: 100%; height: 36px; padding-left: 5px;" id="durationType{{ rowClick }}" class="classic durationType border-header" name="module[{{ uniqueid }}][time_param]"
                                data-style="select-with-transition">
                            <option value="0" {% if durationType == 0 %} selected {% endif %}> {{ 'learners.alerts.your_course_will_start_minutes'|trans }}</option>
                            <option value="1" {% if durationType == 1 %} selected {% endif %}>{{ 'learners.alerts.your_course_will_start_hours'|trans }}</option>
                            {#<option value="2" {% if durationType == 2 %} selected {% endif %}>day</option>#}
                        </select>
                    </div>
                </div>
            </td>
        {% endif %}
        <input type="hidden" name="module[{{ uniqueid }}][color]" value="{{ color }}">
        <input type="hidden" name="module[{{ uniqueid }}][icon]" value="{{ icon }}">
        <input type="hidden" name="module[{{ uniqueid }}][displayTitle]" value="{{ displayTitle }}">
        <input type="hidden" name="module[{{ uniqueid }}][appId]" value="{{ tableId }}">

        <td class="col-qty text-right" width="8%">
            <label class="color-header">{{ 'admin.interventions.create.step1.quantity'|trans }}</label><br>
            <input required min="1" id="quantity{{ rowClick }}" type="number" class="form-control border-header bg-white border-radius-0 qtyField" name="module[{{ uniqueid }}][quantity]" value="{{ quantity?quantity:1 }}">
        </td>

        {% set priceTotal  = price is defined and price is not null ? price : 0 %}
        <td class="col-unit">
            <label class="color-header">{{ 'admin.interventions.create.step1.unit_price'|trans }}</label><br>
            <input id="price{{ rowClick }}" required pattern="\d+" type="text" class="form-control border-header bg-white priceField" name="module[{{ uniqueid }}][price]"
                   value="{{ priceTotal }}">
        </td>
        <td class="col-position">
            <label class="color-header">{{ 'table.trainers.position'|trans }}</label><br>
            <input id="position{{ rowClick }}" type="text" class="form-control border-0 border-header bg-white border-radius-0" name="module[{{ uniqueid }}][position]" value="{{ position }}">
        </td>
        <td class="col-point">
            <label class="color-header">{{ 'learners.courses.quiz.num_points'|trans }}</label><br>
            <input id="point{{ rowClick }}" type="text" class="form-control pointField border-0 bold" name="module[{{ uniqueid }}][point]" value="3000 LP" disabled>
        </td>
        <td class="col-total">
            <label class="color-header">{{ 'table.trainers.price'|trans }}</label><br>
            <input id="total{{ rowClick }}" type="text" class="form-control totalField border-0 bold" name="module[{{ uniqueid }}][total]" value="0" disabled>
        </td>
        <td class="col-del text-center">
            <a style="margin-top: -40px; display: block;" data-row="{{ rowClick }}"  class="row-delete-btn"><i class="fa fa-times"></i></a>
        </td>
        <script>
            $(document).ready(function(){
                // get total duration first load
                countTotalDuration();

                $("#durationType{{ rowClick }}").change(function(){
                    var text =  $( "#durationType{{ rowClick }} option:selected" ).text();
                    $("#durationTypeCol{{ rowClick }}").text(text);
                    $('#quotationTable').DataTable().destroy();
                    var table = $('#quotationTable').DataTable({
                        dom: 'Bfrtip',
                        "paging": false,
                        "ordering": true,
                        "order": [[ 0, "asc" ]],
                        buttons: [
                            {
                                extend: 'pdfHtml5',
                                title: 'Quotation',
                                footer: true
                            }, {
                                extend: 'excel',
                                title: 'Quotation',
                                footer: true
                            }]
                    });

                    table
                        .rows()
                        .invalidate()
                        .draw();
                });

                $("#title{{ rowClick }}").blur(function(){
                    var text =  $(this).val();
                    $("#titleModuleCol{{ rowClick }}").text(text);

                    $('#quotationTable').DataTable().destroy();
                    var table = $('#quotationTable').DataTable({
                        dom: 'Bfrtip',
                        "paging": false,
                        "ordering": true,
                        "order": [[ 0, "asc" ]],
                        buttons: [
                            {
                                extend: 'pdfHtml5',
                                title: 'Quotation',
                                footer: true
                            }, {
                                extend: 'excel',
                                title: 'Quotation',
                                footer: true
                            }]
                    });

                    table
                        .rows()
                        .invalidate()
                        .draw();
                });

                $("#quantity{{ rowClick }}").blur(function(){
                    var text =  $(this).val();
                    $("#quantityModuleCol{{ rowClick }}").text(text);
                    bindModuleRows();
                    var total = $("#total{{ rowClick }}").val();
                    $("#totalModuleCol{{ rowClick }}").text(total);
                    var totalTxt = $('.budgetPrice').text();
                    var persons = $("#nbParticipant").val();
                    var perPrice = parseFloat(totalTxt)/parseInt(persons);
                    $('.totalPriceCourse').text(totalTxt);
                    $('.perPriceCourse').text(perPrice);

                    $('#quotationTable').DataTable().destroy();
                    var table = $('#quotationTable').DataTable({
                        dom: 'Bfrtip',
                        "paging": false,
                        "ordering": true,
                        "order": [[ 0, "asc" ]],
                        buttons: [
                            {
                                extend: 'pdfHtml5',
                                title: 'Quotation',
                                footer: true
                            }, {
                                extend: 'excel',
                                title: 'Quotation',
                                footer: true
                            }]
                    });

                    table
                        .rows()
                        .invalidate()
                        .draw();
                });
                $("#quantity{{ rowClick }}").trigger('blur');

                $("#duration{{ rowClick }}").blur(function(){
                    var text =  $(this).val();
                    $("#durationModuleCol{{ rowClick }}").text(text);

                    $('#quotationTable').DataTable().destroy();
                    var table = $('#quotationTable').DataTable({
                        dom: 'Bfrtip',
                        "paging": false,
                        "ordering": true,
                        "order": [[ 0, "asc" ]],
                        buttons: [
                            {
                                extend: 'pdfHtml5',
                                title: 'Quotation',
                                footer: true
                            }, {
                                extend: 'excel',
                                title: 'Quotation',
                                footer: true
                            }]
                    });

                    table
                        .rows()
                        .invalidate()
                        .draw();
                });

                $("#price{{ rowClick }}").blur(function(){
                    var text =  $(this).val();
                    $("#unitPriceModuleCol{{ rowClick }}").text(text+'€');
                    bindModuleRows();
                    var total = $("#total{{ rowClick }}").val();
                    $("#totalModuleCol{{ rowClick }}").text(total+'€');
                    var totalTxt = $('.budgetPrice').text();
                    $('.totalPriceCourse').text(totalTxt);
                    var persons = $("#nbParticipant").val();
                    var perPrice = parseFloat(totalTxt)/parseInt(persons);
                    $('.totalPriceCourse').text(totalTxt);
                    $('.perPriceCourse').text(perPrice);

                    $('#quotationTable').DataTable().destroy();
                    var table = $('#quotationTable').DataTable({
                        dom: 'Bfrtip',
                        "paging": false,
                        "ordering": true,
                        "order": [[ 0, "asc" ]],
                        buttons: [
                            {
                                extend: 'pdfHtml5',
                                title: 'Quotation',
                                footer: true
                            }, {
                                extend: 'excel',
                                title: 'Quotation',
                                footer: true
                            }]
                    });

                    table
                        .rows()
                        .invalidate()
                        .draw();
                });
                $("#price{{ rowClick }}").trigger('blur');

                // count total duration on change
                $('.durationField').off('keyup').on('keyup', countTotalDuration);
                $('.durationType').change(function () {
                    countTotalDuration();
                });
                function countTotalDuration() {
                    var totalDurationMinutes = 0;
                    $('.durationField').each(function(){
                        let rowClick = $(this).attr('data-rowClick');
                        let text = this.value ? parseFloat(this.value) : 0;

                        if($('#durationType'+rowClick+' option:selected').val() == 0){
                            totalDurationMinutes = totalDurationMinutes + text;
                        }else{
                            totalDurationMinutes = totalDurationMinutes + text*60;
                        }
                    });

                    let totalHours = Math.floor(totalDurationMinutes/60);
                    let minutesAfter = totalDurationMinutes - totalHours*60;
                    let durationText = '';
                    let durationTextColor = '';
                    if(totalHours > 0){
                        durationText += String(totalHours).padStart(2, '0') +"{{ 'learners.courses.quiz.start.hours'|trans|lower }}";
                        durationTextColor += String(totalHours).padStart(2, '0') +"<span class='color-header'>{{ 'learners.courses.quiz.start.hours'|trans|lower }}</span>";
                    }

                    if(minutesAfter > 0){
                        durationText += " "+String(minutesAfter).padStart(2, '0')+"{{ 'learners.courses.quiz.start.minutes'|trans|lower }}";
                        durationTextColor += " "+String(minutesAfter).padStart(2, '0')+"<span class='color-header'>{{ 'learners.courses.quiz.start.minutes'|trans|lower }}</span>";
                    }
                    $('.totalDurationTextColor').html(durationTextColor);
                    $('.totalDurationText').html(durationText);
                }

            });
        </script>
    </tr>
{% else %}
    <tr data-order="" data-row="{{ rowClick }}" class="chapter-row btn-deepmark price-row-{{ id }} " data-id="{{ id }}" title="{{ id }}" name="rowModInt">
        <td class="col-name">
            <div class="row">
                <div class="col-md-3 flex--center">
                    {{ 'admin.interventions.mods.chapter'|trans }} {{ index }}
                </div>
                <div class="col-md-9" title="{{ title }}">
                    <div class="customtitle-wrapper" style="width: 100%">
                        <input id="title{{ rowClick }}" required type="text" class="row-field-customtitle border-header form-control" name="module[{{ uniqueid }}][title]"
                               placeholder="{{ 'table.quiz.title'|trans }}" value="{{ moduleName }}" >
                    </div>
                </div>
            </div>
        </td>
        <td class="col-position" width="15%">
            <input id="position{{ rowClick }}" type="text" placeholder="{{ 'table.trainers.position'|trans }}" class="row-field-customtitle border-header form-control" name="module[{{ uniqueid }}][position]" value="">
        </td>
        <td class="text-center">
            <div class="row flex--center">
                <object data="/new-image/clock-white.svg" width="20" height="20"
                        type="image/svg+xml">
                </object>&nbsp;&nbsp;1h40 mins
            </div>
        </td>
        <td class="text-center" colspan="2">
            <div class="row flex--center">
                <i class="fa fa-list text-white"></i>&nbsp;&nbsp;4 Modules
            </div>
        </td>
        <td class="text-center" colspan="2">
            <div class="row flex--center">
                <object data="/new-image/lp-white.svg" width="20" height="20"
                        type="image/svg+xml">
                </object>&nbsp;&nbsp;1200 LP
            </div>
        </td>
        <td class="text-center">
            <a data-row="{{ rowClick }}"><i class="fa fa-chevron-up"></i></a>
        </td>
        <input type="hidden" name="module[{{ uniqueid }}][color]" value="{{ color }}">
        <input type="hidden" name="module[{{ uniqueid }}][icon]" value="{{ icon }}">
        <input type="hidden" name="module[{{ uniqueid }}][displayTitle]" value="{{ displayTitle }}">
        <input type="hidden" name="module[{{ uniqueid }}][appId]" value="{{ tableId }}">
        <input type="hidden" name="module[{{ uniqueid }}][quantity]" value="1">
        <input id="price{{ rowClick }}" type="hidden" name="module[{{ uniqueid }}][price]" value="0">
        <input id="total{{ rowClick }}" type="hidden" name="module[{{ uniqueid }}][total]" value="0">
    </tr>
{% endif %}