{% if generalCat is not defined %}
    {% set generalCat = false %}
{% endif %}
<div class="marg-t-10 marg-b-15">
    {% if generalCat == true %}
        <div class="row">
            <div class="store-item no-padding col-xl-12 btn-addmod"
                 data-width="20"
                 data-height="35"
                 data-color="D4007D"
                 data-icon="pencil-white"
                 data-title="{{ 'admin.interventions.mods.conception'|trans }}"
                 data-id="1"
                 data-display-title="{{ 'admin.interventions.mods.conception'|trans }}"
                 data-mod="">
                <div class="col-md-3 text-center no-padding">
                    <button type="button" class="btn btn-round height-36" style="background: #D4007D">
                        <object data="/images/pencil-white.svg" width="20" height="35"
                                type="image/svg+xml"></object>
                    </button>
                </div>
                <div class="col-md-7 text-left no-padding">
                    <p class="color-header bold">
                        {{ 'admin.interventions.mods.conception'|trans }}<br>
                    </p>
                </div>
                <div class="col-md-2 no-padding flex--center">
                    <i class="fa fa-info-circle color-medium font-size-20" aria-hidden="true"></i>
                </div>
            </div>
            <div class="store-item no-padding col-xl-12 btn-addmod"
                 data-width="20"
                 data-height="35"
                 data-color="009CE4"
                 data-icon="dashboard"
                 data-title="{{ 'admin.interventions.mods.driving'|trans }}"
                 data-display-title="{{ 'admin.interventions.mods.driving'|trans }}"
                 data-mod=""
                 data-id="2">
                <div class="col-md-3 text-center no-padding">
                    <button type="button" class="btn btn-round height-36" style="background: #009CE4">
                        <object data="/images/dashboard.svg" width="20" height="35"
                                type="image/svg+xml"></object>
                    </button>
                </div>
                <div class="col-md-7 text-left no-padding">
                    <p class="color-header bold">
                        {{ 'admin.interventions.mods.driving'|trans }}<br>
                    </p>
                </div>
                <div class="col-md-2 no-padding flex--center">
                    <i class="fa fa-info-circle color-medium font-size-20" aria-hidden="true"></i>
                </div>
            </div>
            <div class="store-item no-padding col-xl-12 btn-addmod"
                 data-width="20"
                 data-height="35"
                 data-color="2E265E"
                 data-icon="settings"
                 data-title="{{ 'admin.interventions.mods.team-preparation'|trans }}"
                 data-id="3"
                 data-display-title="{{ 'admin.interventions.mods.team-preparation'|trans }}"
                 data-mod="">
                <div class="col-md-3 text-center no-padding">
                    <button type="button" class="btn btn-round height-36" style="background: #2E265E">
                        <object data="/images/settings.svg" width="20" height="35"
                                type="image/svg+xml"></object>
                    </button>
                </div>
                <div class="col-md-7 text-left no-padding">
                    <p class="color-header bold">
                        {{ 'admin.interventions.mods.team-preparation'|trans }}<br>
                    </p>
                </div>
                <div class="col-md-2 no-padding flex--center">
                    <i class="fa fa-info-circle color-medium font-size-20" aria-hidden="true"></i>
                </div>
            </div>
        </div>
    {% endif %}
    <div class="row border-top-header pad-t-10 marg-t-10">
        <div class="store-item no-padding col-xl-12 btn-addmod"
             data-width="36"
             data-height="36"
             data-color="FF4900"
             data-icon="elearning-white"
             data-title="{{ 'admin.interventions.mods.elearning'|trans }}"
             data-display-title="{{ 'admin.interventions.mods.elearning'|trans }}"
             data-id="4"
             data-mod="elearning">
            <div class="col-md-3 text-center no-padding">
                <button type="button" class="btn btn-round height-36" style="background: #FF4900">
                    <object data="/images/elearning-white.svg" width="36" height="36"
                            type="image/svg+xml"></object>
                </button>
            </div>
            <div class="col-md-7 text-left no-padding">
                <p class="color-header bold">
                    {{ 'admin.interventions.mods.elearning'|trans }}<br>
                </p>
            </div>
            <div class="col-md-2 no-padding flex--center">
                <i class="fa fa-info-circle color-medium font-size-20" aria-hidden="true"></i>
            </div>
        </div>
        <div class="store-item no-padding col-xl-12 btn-addmod"
             data-width="36"
             data-height="36"
             data-color="EDD318"
             data-icon="quiz-white"
             data-title="{{ 'admin.interventions.mods.quiz'|trans }}"
             data-display-title="{{ 'admin.interventions.mods.quiz'|trans }}"
             data-id="5"
             data-mod="quiz">
            <div class="col-md-3 text-center no-padding">
                <button type="button" class="btn btn-round height-36" style="background: #EDD318">
                    <object data="/images/quiz-white.svg" width="36" height="36"
                            type="image/svg+xml"></object>
                </button>
            </div>
            <div class="col-md-7 text-left no-padding">
                <p class="color-header bold">
                    {{ 'admin.interventions.mods.quiz'|trans }}<br>

                </p>
            </div>
            <div class="col-md-2 no-padding flex--center">
                <i class="fa fa-info-circle color-medium font-size-20" aria-hidden="true"></i>
            </div>
        </div>
        <div class="store-item no-padding col-xl-12"
             data-width="36"
             data-height="36"
             data-color="F7A808"
             data-icon="quiz-white"
             data-title="{{ 'admin.interventions.mods.survey'|trans }}"
             data-display-title="{{ 'admin.interventions.mods.survey'|trans }}"
             data-id="5"
             data-mod="survey">
            <div class="col-md-3 text-center no-padding">
                <button type="button" class="btn btn-round height-36" style="background: #F7A808">
                    <object data="/images/quiz-white.svg" width="36" height="36"
                            type="image/svg+xml"></object>
                </button>
            </div>
            <div class="col-md-7 text-left no-padding">
                <p class="color-header bold">
                    {{ 'admin.interventions.mods.survey'|trans }}<br>

                </p>
            </div>
            <div class="col-md-2 no-padding flex--center">
                <i class="fa fa-info-circle color-medium font-size-20" aria-hidden="true"></i>
            </div>
        </div>
        <div class="store-item no-padding col-xl-12"
             data-width="36"
             data-height="36"
             data-color="39A935"
             data-icon="quiz-white"
             data-title="{{ 'global.good_practice'|trans }}"
             data-display-title="{{ 'global.good_practice'|trans }}"
             data-id="5"
             data-mod="survey">
            <div class="col-md-3 text-center no-padding">
                <button type="button" class="btn btn-round height-36" style="background: #39A935">
                    <object data="/images/quiz-white.svg" width="36" height="36"
                            type="image/svg+xml"></object>
                </button>
            </div>
            <div class="col-md-7 text-left no-padding">
                <p class="color-header bold">
                    {{ 'global.good_practice'|trans }}<br>

                </p>
            </div>
            <div class="col-md-2 no-padding flex--center">
                <i class="fa fa-info-circle color-medium font-size-20" aria-hidden="true"></i>
            </div>
        </div>
    </div>
    <div class="row border-top-header pad-t-10 marg-t-10">
        <div class="store-item no-padding col-xl-12 btn-addmod"
             data-width="36"
             data-height="36"
             data-color="A87D45"
             data-icon="online-white"
             data-title="{{ 'admin.interventions.mods.onlineseance'|trans }}"
             data-display-title="{{ 'admin.interventions.mods.onlineseance'|trans }}"
             data-id=6
             data-mod="onlineseance">
            <div class="col-md-3 text-center no-padding">
                <button type="button" class="btn btn-round height-36" style="background: #A87D45">
                    <object data="/images/online-white.svg" width="36" height="36"
                            type="image/svg+xml"></object>
                </button>
            </div>
            <div class="col-md-7 text-left no-padding">
                <p class="onerow color-header bold">
                    {{ 'admin.interventions.mods.onlineseance'|trans }}
                </p>
            </div>
            <div class="col-md-2 no-padding flex--center">
                <i class="fa fa-info-circle color-medium font-size-20" aria-hidden="true"></i>
            </div>
        </div>
        <div class="store-item no-padding col-xl-12 btn-addmod"
             data-width="36"
             data-height="36"
             data-color="96C100"
             data-icon="vitual-white"
             data-title="{{ 'admin.interventions.mods.virtualclass'|trans }}"
             data-display-title="{{ 'admin.interventions.mods.virtualclass'|trans }}"
             data-id=7
             data-mod="virtualclass">
            <div class="col-md-3 text-center no-padding">
                <button type="button" class="btn btn-round height-36" style="background: #96C100">
                    <object data="/images/vitual-white.svg" width="36" height="36"
                            type="image/svg+xml"></object>
                </button>
            </div>
            <div class="col-md-7 text-left no-padding">
                <p class="onerow color-header bold">
                    {{ 'admin.interventions.mods.virtualclass'|trans }}
                </p>
            </div>
            <div class="col-md-2 no-padding flex--center">
                <i class="fa fa-info-circle color-medium font-size-20" aria-hidden="true"></i>
            </div>
        </div>
        <div class="store-item no-padding col-xl-12 btn-addmod"
             data-width="36"
             data-height="36"
             data-color="612083"
             data-icon="classroom-white"
             data-title="{{ 'admin.interventions.mods.animation'|trans }}"
             data-display-title="{{ 'admin.interventions.mods.animation'|trans }}"
             data-id=9
             data-mod="animation">
            <div class="col-md-3 text-center no-padding">
                <button type="button" class="btn btn-round height-36" style="background: #612083">
                    <object data="/images/classroom-white.svg" width="36" height="36"
                            type="image/svg+xml"></object>
                </button>
            </div>
            <div class="col-md-7 text-left no-padding">
                <p class="onerow color-header bold">
                    {{ 'admin.interventions.mods.animation'|trans }}
                </p>
            </div>
            <div class="col-md-2 no-padding flex--center">
                <i class="fa fa-info-circle color-medium font-size-20" aria-hidden="true"></i>
            </div>
        </div>
    </div>
    <div class="store-item no-padding col-xl-12"
         data-width="36"
         data-height="36"
         data-color="D60071"
         data-icon="quiz-white"
         data-title="{{ 'admin.interventions.mods.AFEST_session'|trans }}"
         data-display-title="{{ 'admin.interventions.mods.AFEST_session'|trans }}"
         data-id="5"
         data-mod="survey">
        <div class="col-md-3 text-center no-padding">
            <button type="button" class="btn btn-round height-36" style="background: #D60071">
                <object data="/images/quiz-white.svg" width="36" height="36"
                        type="image/svg+xml"></object>
            </button>
        </div>
        <div class="col-md-7 text-left no-padding">
            <p class="color-header bold">
                {{ 'admin.interventions.mods.AFEST_session'|trans }}<br>

            </p>
        </div>
        <div class="col-md-2 no-padding flex--center">
            <i class="fa fa-info-circle color-medium font-size-20" aria-hidden="true"></i>
        </div>
    </div>
    <div class="row border-top-header pad-t-10 marg-t-10">
        <div class="store-item no-padding col-xl-12 btn-addmod"
             data-width="20"
             data-height="20"
             data-color="white"
             data-icon="tiara"
             data-title="{{ 'admin.interventions.mods.assessment'|trans }}"
             data-id="11"
             data-display-title="{{ 'admin.interventions.mods.assessment'|trans }}"
             data-mod="">
            <div class="col-md-3 text-center no-padding">
                <button type="button" class="btn btn-round height-36 btn-white">
                    <object data="/images/tiara.svg" width="20" height="20"
                            type="image/svg+xml"></object>
                </button>
            </div>
            <div class="col-md-7 text-left no-padding">
                <p class="color-header bold">
                    {{ 'admin.interventions.mods.assessment'|trans }}<br>
                </p>
            </div>
            <div class="col-md-2 no-padding flex--center">
                <i class="fa fa-info-circle color-medium font-size-20" aria-hidden="true"></i>
            </div>
        </div>
    </div>
</div>
