<!-- Scoring Template -->
{% set myResult = [] %}
{% set myAnswer = false %}
{% set itemsIds = [] %}
{% set aw = '' %}
{# Check each reply #}
{% for answer in results.answers %}
	{# Get the corresponding answer for this question #}
	{% if answer.getQuestion.getId() == question_id %}
		{# Check if quiz changed after the learner played #}
		{% if answer.params.answer is defined and answer.params.answer.value is defined %}
			{% set myResult = answer.params.answer.value %}
			{% set myAnswer = answer %}
			{% set itemsIds = itemsIds|merge(answer.params.items_ids) %}
		{% endif %}
		{% if answer.question.items[0].value is defined %}
			{% set aw = answer.question.items[0].value %}
		{% endif %}

	{% endif %}
{% endfor %}

{% if myAnswer == false %}
	{% set myAnswer = {scores: 0, status: 0} %}
{% endif %}

	<div template-id="question-scoring">
		<div class="question question-body no-padding" id="result-question-{{question_id}}">
			<div class="row pad-l-40 pad-r-40 btn-deepmark-light">
				<div class="color-blue col-md-8 text-left pad-l-0 pad-b-15 pad-t-15">
					{% if module.quiz.isSurvey == 1 %}
						<b>{{ 'admin.quiz.create.question.container.title_question'|trans }} {{questionCount}} &nbsp;&nbsp;|&nbsp;&nbsp; {{ 'admin.quiz.create.types.scoring'|trans }}</b>
					{% else %}
						<b>{{ 'admin.quiz.create.question.container.title_question'|trans }} {{questionCount}} &nbsp;&nbsp;|&nbsp;&nbsp; {{ 'admin.quiz.create.types.scoring'|trans }} &nbsp;&nbsp;|&nbsp;&nbsp; {{ question.score_to_pass }} {{ 'learners.courses.quiz.question.container.msg_ok'|trans|lower }}</b>
					{% endif %}
				</div>
				<div class="col-md-4 no-padding flex--center justify-content-end">
					{% if module.quiz.isSurvey == 0 and module.typeQuiz == 2 and question.isLearnMore == 1 %}
						{% if question.params.image_good is defined or question.params.doc_good is defined or question.params.song_good is defined or question.params.video_good is defined or question.params.question_good is defined %}
							<a data-toggle="modal" class="badge-result-points cursorPointer learn-more-modal_{{ results.answers.owner.id }}_{{question_id}} border-radius-0 pad-10 font-size-14 text-uppercase badge badge-learn-more marg-r-10">
								{{ 'global.find_out_more_btn'|trans }} +
							</a>
                            <script>
                                $('.learn-more-modal_{{ results.answers.owner.id }}_{{question_id}}').unbind('click');
                                $('.learn-more-modal_{{ results.answers.owner.id }}_{{question_id}}').on('click', function() {
                                    $("#detailQuiz").hide();
                                    $(".modal-header-class").hide();
                                    let content = $(".content-learn-more_{{ results.answers.owner.id }}_{{question_id}}").html();
                                    $("#contentLearnMore").empty().html(content);
									$(".contentLearnMore").show();
									$('.modal-content').toggleClass('flipped');
                                });
                            </script>
						{% endif %}
					{% endif %}
					{% if myAnswer and module.quiz.isSurvey == 0 %}
						<span class="badge-result-points border-radius-0 pad-10 font-size-14 text-lowercase badge badge-{{ myAnswer.status == 1 ? 'success' : 'danger' }}">
							<b>{{ myAnswer.scores }}</b>
							{{ 'learners.courses.quiz.question.container.msg_ok'|trans|lower }}</span>
					{% endif %}
				</div>
				{% if module.quiz.isSurvey == 0 and module.typeQuiz == 2 and question.isLearnMore == 1 %}
					{% if question.params.image_good is defined or question.params.doc_good is defined or question.params.song_good is defined or question.params.video_good is defined or question.params.question_good is defined %}
						<div class="d-none">
							<div class="content-learn-more_{{ results.answers.owner.id }}_{{question_id}} no-padding col-md-12">
								{% if question.params.question_good %}
									<div class="col-md-12 detail-question pad-t-15">
										{{ question.params.question_good|raw }}
									</div>
								{% endif %}
								<div class="row col-md-12 pad-10 btn-deepmark-light">
									<div class="col-md-2 flex--center justify-content-start">
										<i class="color-header font-size-12">{{ 'global.other_document'|trans }}</i>
									</div>
									{% if question.params.image_good %}
										<div class="col-md-3 no-padding-left flex--center text-center">
                                            <span type="button" class="color-header row pad-10" style="width: 100%; background: transparent!important; border: 1px solid #0076fe !important;">
                                                <div class="col-md-2 no-padding">
                                                    <a href="/files/quiz/{{question_id}}/picture/{{ question.params.image_good }}" target="_blank">
                                                        <i class="fa fa-eye color-header"></i>
                                                    </a>
                                                </div>
                                                <div class="col-md-8 text-center">
                                                    {{ 'admin.quiz.create.question.container.add_image'|trans }}
                                                </div>
                                                <div class="col-md-2 no-padding text-right">
                                                    {% if question.params.image_good_download is defined and question.params.image_good_download == 1 %}
                                                          <a target="_blank" href="/files/quiz/{{question_id}}/picture/{{ question.params.image_good }}" download>
                                                            <i class="fa fa-download color-header"></i>
                                                          </a>
                                                      {% endif %}
                                                </div>
                                            </span>
										</div>
									{% endif %}
									{% if question.params.doc_good %}
										<div class="col-md-3 no-padding-left flex--center text-center">
                                            <span type="button" class="color-header row pad-10" style="width: 100%; background: transparent!important; border: 1px solid #0076fe !important;">
												{% set url_doc = url('app_default_viewer') ~ '?url=' ~ amazon_s3_url ~ '/' ~ question.params.doc_good %}
                                                 <div class="col-md-2 no-padding">
												    <a href="{{ url_doc }}" target="_blank">
                                                         <i class="fa fa-eye color-header"></i>
                                                     </a>
                                                </div>
                                                <div class="col-md-8 text-center">
                                                    {{ 'admin.quiz.create.question.container.add_doc'|trans }}
                                                </div>
                                                <div class="col-md-2 no-padding text-right">
                                                    {% if question.params.doc_good_download is defined and question.params.doc_good_download == 1 %}
                                                    <a target="_blank" href="{{ amazon_s3_url ~ '/' ~ question.params.doc_good }}" download>
                                                            <i class="fa fa-download color-header"></i>
                                                        </a>
                                                {% endif %}
                                                </div>
                                            </span>
										</div>
									{% endif %}
									{% if question.params.song_good %}
										<div class="col-md-3 no-padding-left flex--center text-center">
                                            <span type="button" class="color-header row pad-10" style="width: 100%; background: transparent!important; border: 1px solid #0076fe !important;">
                                                <div class="col-md-2 no-padding">
                                                    <a href="/files/quiz/{{question_id}}/song/{{question.params.song_good}}" target="_blank">
                                                        <i class="fa fa-eye color-header"></i>
                                                    </a>
                                                </div>
                                                <div class="col-md-8 text-center">
                                                {{ 'admin.quiz.create.question.container.add_song'|trans }}
                                                </div>
                                                <div class="col-md-2 no-padding text-right">
                                                    {% if question.params.song_good_download is defined and question.params.song_good_download == 1 %}
                                                         <a target="_blank" href="/files/quiz/{{question_id}}/song/{{question.params.song_good}}" download>
                                                            <i class="fa fa-download color-header"></i>
                                                        </a>
                                                     {% endif %}
                                                </div>
                                            </span>
										</div>
									{% endif %}
									{% if question.params.video_good %}
										{% if 'youtube' in question.params.video_good %}
											{% set urlVideo = question.params.video_good|replace({'/watch?v=': '/embed/'}) %}
										{% elseif 'vimeo' in question.params.video_good %}
											{% set urlVideo = 'https://player.vimeo.com/video/'~question.params.video_good|replace({'https://vimeo.com/': ''}) %}
										{% else %}
											{% set urlVideo = '/files/quiz/'~question_id~'/video/'~question.params.video_good %}
										{% endif %}
										<div class="col-md-3 no-padding-left flex--center text-center">
                                            <span type="button" class="color-header pad-10 row" style="width: 100%; background: transparent!important; border: 1px solid #0076fe !important;">
                                                <div class="col-md-2 no-padding">
                                                    <a href="{{ urlVideo }}" target="_blank">
                                                        <i class="fa fa-eye color-header"></i>
                                                    </a>
                                                </div>
                                                <div class="col-md-8 text-center">
                                                    {{ 'admin.quiz.create.question.container.add_video'|trans }}
                                                </div>
                                                <div class="col-md-2 no-padding text-right">
                                                    {% if question.params.video_good_download is defined and  question.params.video_good_download == 1 %}
                                                          {% if 'youtube' not in question.params.video_good and 'vimeo' not in question.params.video_good %}
                                                              <a target="_blank" href="{{ urlVideo }}" download>
                                                                <i class="fa fa-download color-header"></i>
                                                            </a>
                                                          {% endif %}
                                                      {% endif %}
                                                </div>
                                            </span>
										</div>
									{% endif %}
								</div>
							</div>
						</div>
					{% endif %}
				{% endif %}
				<div class="col-md-12 text-left pad-t-15 pad-l-0 pad-r-0 custom-text border-top-header bold">
					{% autoescape "html" %}
						{{ question.getQuestion()|raw }}
					{% endautoescape %}
				</div>
				{% if module.quiz.isSurvey == 0 and module.typeQuiz == 2 %}
					<div class="col-md-6 pad-l-0">
						<div class="col-md-12 pad-t-10 pad-b-10 text-center btn-deepmark-green">
							<span class="c-white bold">{{ 'learners.courses.quiz.results.good_answer'|trans }}</span>
						</div>
					</div>
					<div class="col-md-6 pad-r-0">
						<div class="col-md-12 pad-t-10 pad-b-10 text-center btn-deepmark">
							<span class="c-white bold">{{ 'learners.courses.quiz.results.your_answer'|trans }}</span>
						</div>
					</div>
				{% else %}
					<div class="col-md-3"></div>
					<div class="col-md-6">
						<div class="col-md-12 pad-t-10 pad-b-10 text-center btn-deepmark">
							<span class="c-white bold">{{ 'learners.courses.quiz.results.your_answer'|trans }}</span>
						</div>
					</div>
					<div class="col-md-3"></div>
				{% endif %}
			</div>
			{% if module.quiz.isSurvey == 0 and module.typeQuiz == 2 %}
				<div class="row pad-l-40 pad-r-40">
					<div class="col-md-6 pad-l-0">
						<div class="col-md-12 pad-15 font-size-13 col-md-6 pad-l-0" style="box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.1); height: 100%;">
							{#<div class="scoringOptions">#}
								{#<span class="aw-green">{{aw}}</span>#}

							{#</div>#}
							{% for item in question.items %}
								{% if item.status == 1 %}
									{% if item.name == 'free' %}
										<div class="row">
											<div class="col-md-2"></div>
											<div class="col-md-8">
												<div class="scoringOptions">
													<span class="res-blue">{{aw}}</span>
												</div>
											</div>
											<div class="col-md-2 text-right notation-my-res-check">
											</div>
										</div>
										{% elseif item.name == 'stars' %}
										<div class="row marg-b-10">
											<div class="col-2 no-padding-left text-right flex-end-center">
												<h3 class="no-margin bold c-red">{{item.specifics.min}}</h3>
											</div>
											<div class="col-8 no-padding-left no-padding-right text-center display-flex-center" style="justify-content: center;">
												{% for i in 1..item.specifics.val %}
													{% if i <= aw %}
														<i class="fas fa-star quiz-scoring-star"></i>
													{% else %}
														<i class="far fa-star quiz-scoring-star"></i>
													{% endif %}
												{%endfor%}
											</div>
											<div class="col-2 no-padding-right flex-start-center">
												<h3 class="no-margin bold c-green">{{item.specifics.max}}</h3>
											</div>
										</div>
										{% elseif item.name == 'bubbles' %}
										<div class="row marg-b-10">
											{% if item.specifics.val == 9%}
												{% set cols = [1, 10] %}
											{% elseif item.specifics.val == 7%}
												{% set cols = [2, 8] %}
											{% elseif item.specifics.val == 5%}
												{% set cols = [2, 8] %}
											{% elseif item.specifics.val == 3%}
												{% set cols = [2, 8] %}
											{% endif %}
											<div class="col-{{cols[0]}} no-padding justify-content-end c-red quiz-scoring-bubbles-text flex--center"><h3 class="bold no-margin">{{item.specifics.min}}</h3></div>
											<div class="col-{{cols[1]}} no-padding-left no-padding-right text-center">
												{% set pos = 0 %}
												{% for i in 1..(item.specifics.val/2) %}
													{% set pos = pos + 1 %}
													{% if pos == aw %}
														<i class="c-red fas fa-check-circle quiz-scoring-bubbles quiz-scoring-bubbles-pos-{{((item.specifics.val/2)-i) | round(0, 'ceil')}}"></i>
													{% else %}
														<i class="c-red far fa-circle quiz-scoring-bubbles quiz-scoring-bubbles-pos-{{((item.specifics.val/2)-i) | round(0, 'ceil')}}"></i>
													{% endif %}
												{%endfor%}
												{% set pos = pos + 1 %}
												{% if pos == aw %}
													<i class="c-lightgray fas fa-check-circle quiz-scoring-bubbles quiz-scoring-bubbles-pos-0"></i>
												{% else %}
													<i class="c-lightgray far fa-circle quiz-scoring-bubbles quiz-scoring-bubbles-pos-0"></i>
												{% endif %}
												{% for i in 1..(item.specifics.val/2) %}
													{% set pos = pos + 1 %}
													{% if pos == aw %}
														<i class="c-green fas fa-check-circle quiz-scoring-bubbles quiz-scoring-bubbles-pos-{{i}}"></i>
													{% else %}
														<i class="c-green far fa-circle quiz-scoring-bubbles quiz-scoring-bubbles-pos-{{i}}"></i>
													{% endif %}
												{%endfor%}
											</div>
											<div class="col-{{cols[0]}} no-padding c-green quiz-scoring-bubbles-text flex--center justify-content-start"><h3 class="bold no-margin">{{item.specifics.max}}</h3></div>
										</div>
										{% elseif item.name == 'slider' %}
										<div class="row marg-b-10 mt-1 scoringOptions quiz-scoring">
											<div class="col-12 text-center pad-t-20">
												<div class="quiz-scoring-slider-left font-size-30 color-header" style="padding-right: 20px!important;">
													<button class="btn-score">{{item.specifics.min}}</button>
												</div>
												<div class="quiz-scoring-slider-center good-slider-{{ results.answers.owner.id }}-{{question_id}}" id="">
													<div id="" class="ui-slider-handle quiz-scoring-slider-handle good-quiz-scoring-slider-handle-{{ results.answers.owner.id }}-{{question_id}}"></div>
												</div>
												<div class="quiz-scoring-slider-right font-size-30 color-header" style="padding-left: 20px!important;">
													<button class="btn-score">{{item.specifics.max}}</button>
												</div>
											</div>
										</div>
										<script>
											var good_handle{{ results.answers.owner.id ~ '_' ~ question_id }} = $(".good-quiz-scoring-slider-handle-{{ results.answers.owner.id }}-{{question_id}}");
											$('.good-slider-{{ results.answers.owner.id }}-{{question_id}}').slider({
												step: {{item.specifics.step}},
												min: {{item.specifics.min}},
												max: {{item.specifics.max}},
												value: {{aw}},
												create: function () {
													good_handle{{ results.answers.owner.id ~ '_' ~ question_id }}.text($(this).slider("value"));
												},
												slide: function( event, ui ) {
													return false;
												}
											});
										</script>
									{% endif %}
								{% endif %}
							{% endfor %}
						</div>
					</div>
					<div class="col-md-6 pad-r-0">
						<div class="col-md-12 pad-15 font-size-13 qcuContainer" style="box-shadow:  0px 1px 1px 1px rgba(0, 0, 0, 0.1); height: 100%;">
							{% for item in question.items %}
								{% if item.status == 1 %}
									{% if item.name == 'free' %}
										<div class="row">
											<div class="col-md-2"></div>
											<div class="col-md-8">
												<div class="scoringOptions">
													<span class="res-blue">{{myResult}}</span>
												</div>
											</div>
											<div class="col-md-2 text-right notation-my-res-check">
												{{ aw == myResult ? '<i class="fa fa-check c-green"></i>' : '' }}{{ aw != myResult ? '<i class="fa fa-times c-red"></i>' : '' }}
											</div>
										</div>
										{% elseif item.name == 'stars' %}
										<div class="row marg-b-10">
											<div class="col-2 no-padding-left text-right flex-end-center">
												<h3 class="no-margin bold c-red">{{item.specifics.min}}</h3>
											</div>
											<div class="col-8 no-padding-left no-padding-right text-center display-flex-center" style="justify-content: center;">
												{% for i in 1..item.specifics.val %}
													{% if i <= myResult %}
														<i class="fas fa-star quiz-scoring-star"></i>
													{% else %}
														<i class="far fa-star quiz-scoring-star"></i>
													{% endif %}
												{%endfor%}
											</div>
											<div class="col-2 no-padding-right flex-start-center">
												<h3 class="no-margin bold c-green">{{item.specifics.max}}</h3>
											</div>
											<div class="col-md-12 text-center">
												{{ aw == myResult ? '<i class="fa fa-check c-green"></i>' : '' }}{{ aw != myResult ? '<i class="fa fa-times c-red"></i>' : '' }}
											</div>
										</div>
										{% elseif item.name == 'bubbles' %}
										<div class="row marg-b-10">
											{% if item.specifics.val == 9%}
												{% set cols = [1, 10] %}
											{% elseif item.specifics.val == 7%}
												{% set cols = [2, 8] %}
											{% elseif item.specifics.val == 5%}
												{% set cols = [2, 8] %}
											{% elseif item.specifics.val == 3%}
												{% set cols = [2, 8] %}
											{% endif %}
											<div class="col-{{cols[0]}} no-padding justify-content-end c-red quiz-scoring-bubbles-text flex--center"><h3 class="bold no-margin">{{item.specifics.min}}</h3></div>
											<div class="col-{{cols[1]}} no-padding-left no-padding-right text-center">
												{% set pos = 0 %}
												{% for i in 1..(item.specifics.val/2) %}
													{% set pos = pos + 1 %}
													{% if pos == myResult %}
														<i class="c-red fas fa-check-circle quiz-scoring-bubbles quiz-scoring-bubbles-pos-{{((item.specifics.val/2)-i) | round(0, 'ceil')}}"></i>
													{% else %}
														<i class="c-red far fa-circle quiz-scoring-bubbles quiz-scoring-bubbles-pos-{{((item.specifics.val/2)-i) | round(0, 'ceil')}}"></i>
													{% endif %}
												{%endfor%}
												{% set pos = pos + 1 %}
												{% if pos == myResult %}
													<i class="c-lightgray fas fa-check-circle quiz-scoring-bubbles quiz-scoring-bubbles-pos-0"></i>
												{% else %}
													<i class="c-lightgray far fa-circle quiz-scoring-bubbles quiz-scoring-bubbles-pos-0"></i>
												{% endif %}
												{% for i in 1..(item.specifics.val/2) %}
													{% set pos = pos + 1 %}
													{% if pos == myResult %}
														<i class="c-green fas fa-check-circle quiz-scoring-bubbles quiz-scoring-bubbles-pos-{{i}}"></i>
													{% else %}
														<i class="c-green far fa-circle quiz-scoring-bubbles quiz-scoring-bubbles-pos-{{i}}"></i>
													{% endif %}
												{%endfor%}
											</div>
											<div class="col-{{cols[0]}} no-padding c-green quiz-scoring-bubbles-text flex--center justify-content-start"><h3 class="bold no-margin">{{item.specifics.max}}</h3></div>
											<div class="col-md-12 text-center">
												{{ aw == myResult ? '<i class="fa fa-check c-green"></i>' : '' }}{{ aw != myResult ? '<i class="fa fa-times c-red"></i>' : '' }}
											</div>
										</div>
										{% elseif item.name == 'slider' %}
										<div class="row marg-b-10 mt-1 scoringOptions quiz-scoring">
											<div class="col-12 text-center pad-t-20">
												<div class="quiz-scoring-slider-left font-size-30 color-header" style="padding-right: 20px!important;">
													<button class="btn-score">{{item.specifics.min}}</button>
												</div>
												<div class="quiz-scoring-slider-center slider-{{ results.answers.owner.id }}-{{question_id}}" id="">
													<div id="" class="ui-slider-handle quiz-scoring-slider-handle quiz-scoring-slider-handle-{{ results.answers.owner.id }}-{{question_id}}"></div>
												</div>
												<div class="quiz-scoring-slider-right font-size-30 color-header" style="padding-left: 20px!important;">
													<button class="btn-score">{{item.specifics.max}}</button>
												</div>
											</div>
											<div class="col-md-12 text-center">
												{{ aw == myResult ? '<i class="fa fa-check c-green"></i>' : '' }}{{ aw != myResult ? '<i class="fa fa-times c-red"></i>' : '' }}
											</div>
										</div>
										<script>
											var handle{{ results.answers.owner.id ~ '_' ~ question_id }} = $(".quiz-scoring-slider-handle-{{ results.answers.owner.id }}-{{question_id}}");
											$('.slider-{{ results.answers.owner.id }}-{{question_id}}').slider({
												step: {{item.specifics.step}},
												min: {{item.specifics.min}},
												max: {{item.specifics.max}},
												value: {{myResult}},
												create: function () {
													handle{{ results.answers.owner.id ~ '_' ~ question_id }}.text($(this).slider("value"));
												},
												slide: function( event, ui ) {
													return false;
												}
											});
										</script>
									{% endif %}
								{% endif %}
							{% endfor %}
						</div>
					</div>
				</div>
			{% else %}
				<div class="row pad-l-40 pad-r-40">
					<div class="col-md-3"></div>
					<div class="col-md-6 text-center">
						<div class="col--12 pad-15 font-size-13 qcuContainer" style="box-shadow:  0px 1px 1px 1px rgba(0, 0, 0, 0.1); height: 100%;">
							{% for item in question.items %}
								{% if item.status == 1 %}
									{% if item.name == 'free' %}
										<div class="row">
											<div class="col-md-2"></div>
											<div class="col-md-8">
												<div class="scoringOptions">
													<span class="res-blue">{{myResult}}</span>
												</div>
											</div>
											<div class="col-md-2 text-right notation-my-res-check">
											</div>
										</div>
									{% elseif item.name == 'stars' %}
										<div class="row marg-b-10">
											<div class="col-2 no-padding-left text-right flex-end-center">
												<h3 class="no-margin bold c-red">{{item.specifics.min}}</h3>
											</div>
											<div class="col-8 no-padding-left no-padding-right text-center display-flex-center" style="justify-content: center;">
												{% for i in 1..item.specifics.val %}
													{% if i <= myResult %}
														<i class="fas fa-star quiz-scoring-star"></i>
													{% else %}
														<i class="far fa-star quiz-scoring-star"></i>
													{% endif %}
												{%endfor%}
											</div>
											<div class="col-2 no-padding-right flex-start-center">
												<h3 class="no-margin bold c-green">{{item.specifics.max}}</h3>
											</div>
										</div>
									{% elseif item.name == 'bubbles' %}
										<div class="row marg-b-10">
											{% if item.specifics.val == 9%}
												{% set cols = [1, 10] %}
											{% elseif item.specifics.val == 7%}
												{% set cols = [2, 8] %}
											{% elseif item.specifics.val == 5%}
												{% set cols = [2, 8] %}
											{% elseif item.specifics.val == 3%}
												{% set cols = [2, 8] %}
											{% endif %}
											<div class="col-{{cols[0]}} no-padding justify-content-end c-red quiz-scoring-bubbles-text flex--center"><h3 class="bold no-margin">{{item.specifics.min}}</h3></div>
											<div class="col-{{cols[1]}} no-padding-left no-padding-right text-center">
												{% set pos = 0 %}
												{% for i in 1..(item.specifics.val/2) %}
													{% set pos = pos + 1 %}
													{% if pos == myResult %}
														<i class="c-red fas fa-check-circle quiz-scoring-bubbles quiz-scoring-bubbles-pos-{{((item.specifics.val/2)-i) | round(0, 'ceil')}}"></i>
													{% else %}
														<i class="c-red far fa-circle quiz-scoring-bubbles quiz-scoring-bubbles-pos-{{((item.specifics.val/2)-i) | round(0, 'ceil')}}"></i>
													{% endif %}
												{%endfor%}
												{% set pos = pos + 1 %}
												{% if pos == myResult %}
													<i class="c-lightgray fas fa-check-circle quiz-scoring-bubbles quiz-scoring-bubbles-pos-0"></i>
												{% else %}
													<i class="c-lightgray far fa-circle quiz-scoring-bubbles quiz-scoring-bubbles-pos-0"></i>
												{% endif %}
												{% for i in 1..(item.specifics.val/2) %}
													{% set pos = pos + 1 %}
													{% if pos == myResult %}
														<i class="c-green fas fa-check-circle quiz-scoring-bubbles quiz-scoring-bubbles-pos-{{i}}"></i>
													{% else %}
														<i class="c-green far fa-circle quiz-scoring-bubbles quiz-scoring-bubbles-pos-{{i}}"></i>
													{% endif %}
												{%endfor%}
											</div>
											<div class="col-{{cols[0]}} no-padding c-green quiz-scoring-bubbles-text flex--center justify-content-start"><h3 class="bold no-margin">{{item.specifics.max}}</h3></div>
										</div>
									{% elseif item.name == 'slider' %}
										<div class="row marg-b-10 mt-1 scoringOptions quiz-scoring">
											<div class="col-12 text-center pad-t-20">
												<div class="quiz-scoring-slider-left font-size-30 color-header" style="padding-right: 20px!important;">
													<button class="btn-score">{{item.specifics.min}}</button>
												</div>
												<div class="quiz-scoring-slider-center slider-{{ results.answers.owner.id }}-{{question_id}}" id="">
													<div id="" class="ui-slider-handle quiz-scoring-slider-handle quiz-scoring-slider-handle-{{ results.answers.owner.id }}-{{question_id}}"></div>
												</div>
												<div class="quiz-scoring-slider-right font-size-30 color-header" style="padding-left: 20px!important;">
													<button class="btn-score">{{item.specifics.max}}</button>
												</div>
											</div>
										</div>
										<script>
											var handle{{ results.answers.owner.id ~ '_' ~ question_id }} = $(".quiz-scoring-slider-handle-{{ results.answers.owner.id }}-{{question_id}}");
											$('.slider-{{ results.answers.owner.id }}-{{question_id}}').slider({
												step: {{item.specifics.step}},
												min: {{item.specifics.min}},
												max: {{item.specifics.max}},
												value: {{myResult}},
												create: function () {
													handle{{ results.answers.owner.id ~ '_' ~ question_id }}.text($(this).slider("value"));
												},
												slide: function( event, ui ) {
													handle{{ results.answers.owner.id ~ '_' ~ question_id }}.text( ui.value );
												}
											});
										</script>
									{% endif %}
								{% endif %}
							{% endfor %}
						</div>
					</div>
					<div class="col-md-3"></div>
				</div>
			{% endif %}
		</div>
	</div>
