<!-- Open Template -->
{% set myResult = [] %}
{% set myAnswer = '' %}
{% set itemsIds = [] %}

{% if module.quiz.isSurvey == 0 %}
    {% set answerId = 0 %}
    {% for answer in results.answers %}
        {% if answer.getQuestion.getId() == question_id %}
            {% if (answer.exercises.status is defined and answer.exercises.status == constant('\\ApiBundle\\Entity\\Exercises::STATUS_APPROVED')) %}
                {% set answerId = answer.id %}
            {% endif %}
        {% endif %}
    {% endfor %}
{% endif %}
{# Check each reply #}
<div template-id="question-open">
	<div class="question" id="result-question-{{question_id}}">
		<div class="row pad-l-40 pad-r-40 btn-deepmark-light">
			<div class="color-blue col-md-8 text-left pad-l-0 pad-b-15 pad-t-15">
				{% if module.quiz.isSurvey == 1 %}
					<b>{{ 'admin.quiz.create.question.container.title_question'|trans }}
						{{questionCount}}
						&nbsp;&nbsp;|&nbsp;&nbsp;
						{{ 'admin.quiz.create.types.open'|trans }}</b>
				{% else %}
					<b>{{ 'admin.quiz.create.question.container.title_question'|trans }}
						{{questionCount}}
						&nbsp;&nbsp;|&nbsp;&nbsp;
						{{ 'admin.quiz.create.types.open'|trans }}
						&nbsp;&nbsp;|&nbsp;&nbsp;
						{{ question.score_to_pass }}
						{{ 'learners.courses.quiz.question.container.msg_ok'|trans|lower }}</b>
				{% endif %}
			</div>
			{% if module.quiz.isSurvey == 0 and module.typeQuiz == 2 %}
				<div class="col-md-4 no-padding flex--center justify-content-end">
					{% if module.quiz.isSurvey == 0 and module.typeQuiz == 2 and question.isLearnMore == 1 %}
						{% if question.params.image_good is defined or question.params.doc_good is defined or question.params.song_good is defined or question.params.video_good is defined or question.params.question_good is defined %}
							<a data-toggle="modal" class="badge-result-points cursorPointer learn-more-modal_{{ results.answers.owner.id }}_{{question_id}} border-radius-0 pad-10 font-size-14 text-uppercase badge badge-learn-more marg-r-10">
								{{ 'global.find_out_more_btn'|trans }} +
							</a>
                            <script>
                                $('.learn-more-modal_{{ results.answers.owner.id }}_{{question_id}}').unbind('click');
                                $('.learn-more-modal_{{ results.answers.owner.id }}_{{question_id}}').on('click', function() {
                                    $("#detailQuiz").hide();
                                    $(".modal-header-class").hide();
                                    let content = $(".content-learn-more_{{ results.answers.owner.id }}_{{question_id}}").html();
                                    $("#contentLearnMore").empty().html(content);
									$(".contentLearnMore").show();
									$('.modal-content').toggleClass('flipped');
                                });
                            </script>
						{% endif %}
					{% endif %}
					{% if answerId != 0 %}
						<span class="badge mr-3 badge-deepmark-green pad-10 font-size-14 border-radius-0">
							<i class="fa fa-clock"></i>
							{{ 'global.corrected'|trans }}</span>
						<a target="_blank" href="{{ path('learner_exercices_view', {'id': answerId }) }}" class="pointer ">
							<span class="badge badge-deepmark-green pad-10 font-size-14 border-radius-0">{{ 'learners.courses.quiz.results.review_result'|trans|upper }}</span>
						</a>
					{% else %}
						<span class="badge-result-points border-radius-0 pad-10 font-size-14 badge badge-deepmark-orangelight">
							<i class="fa fa-clock"></i>
							{{ 'learners.courses.quiz.results.in_review'|trans|upper }}</span>
					{% endif %}
				</div>
			{% else %}
				{% if module.quiz.isSurvey == 1 %}
						<div class="col-md-4 no-padding flex--center justify-content-end">
							<span class="badge badge-deepmark-green pad-10 font-size-14 border-radius-0"><i class="fa fa-clock"></i> {{ 'learners.courses.quiz.results.survey'|trans }}</span>
						</div>
				{% else %}
					<div class="col-md-4 no-padding flex--center justify-content-end">
						{% if answerId != 0 %}
								<span class="badge mr-3 badge-deepmark-green pad-10 font-size-14 border-radius-0"><i class="fa fa-clock"></i> {{ 'global.corrected'|trans }}</span>
								<a target="_blank" href="{{ path('learner_exercices_view', {'id': answerId }) }}" class="pointer ">
										<span class="badge badge-deepmark-green pad-10 font-size-14 border-radius-0">{{ 'learners.courses.quiz.results.review_result'|trans|upper }}</span>
								</a>
						{% else %}
								<span class="badge-result-points border-radius-0 pad-10 font-size-14 badge badge-deepmark-orangelight"><i class="fa fa-clock"></i> {{ 'learners.courses.quiz.results.in_review'|trans|upper }}</span>
						{% endif %}
					</div>
				{% endif %}
			{% endif %}
			{% if module.quiz.isSurvey == 0 and module.typeQuiz == 2 and question.isLearnMore == 1 %}
				{% if question.params.image_good is defined or question.params.doc_good is defined or question.params.song_good is defined or question.params.video_good is defined or question.params.question_good is defined %}
					<div class="d-none">
						<div class="content-learn-more_{{ results.answers.owner.id }}_{{question_id}} no-padding col-md-12">
							{% if question.params.question_good %}
								<div class="col-md-12 detail-question pad-t-15">
									{{ question.params.question_good|raw }}
								</div>
							{% endif %}
							<div class="row col-md-12 pad-10 btn-deepmark-light">
								<div class="col-md-2 flex--center justify-content-start">
									<i class="color-header font-size-12">{{ 'global.other_document'|trans }}</i>
								</div>
								{% if question.params.image_good %}
									<div class="col-md-3 no-padding-left flex--center text-center">
                                            <span type="button" class="color-header row pad-10" style="width: 100%; background: transparent!important; border: 1px solid #0076fe !important;">
                                                <div class="col-md-2 no-padding">
                                                    <a href="/files/quiz/{{question_id}}/picture/{{ question.params.image_good }}" target="_blank">
                                                        <i class="fa fa-eye color-header"></i>
                                                    </a>
                                                </div>
                                                <div class="col-md-8 text-center">
                                                    {{ 'admin.quiz.create.question.container.add_image'|trans }}
                                                </div>
                                                <div class="col-md-2 no-padding text-right">
                                                    {% if question.params.image_good_download is defined and question.params.image_good_download == 1 %}
                                                         <a target="_blank" href="/files/quiz/{{question_id}}/picture/{{ question.params.image_good }}" download>
                                                            <i class="fa fa-download color-header"></i>
                                                        </a>
                                                     {% endif %}
                                                </div>
                                            </span>
									</div>
								{% endif %}
								{% if question.params.doc_good %}
									<div class="col-md-3 no-padding-left flex--center text-center">
                                            <span type="button" class="color-header row pad-10" style="width: 100%; background: transparent!important; border: 1px solid #0076fe !important;">
											{% set url_doc = url('app_default_viewer') ~ '?url=' ~ amazon_s3_url ~ '/' ~ question.params.doc_good %}
                                                 <div class="col-md-2 no-padding">
											        <a href="{{ url_doc }}" target="_blank">
                                                         <i class="fa fa-eye color-header"></i>
                                                     </a>
                                                </div>
                                                <div class="col-md-8 text-center">
                                                    {{ 'admin.quiz.create.question.container.add_doc'|trans }}
                                                </div>
                                                <div class="col-md-2 no-padding text-right">
                                                    {% if question.params.doc_good_download is defined and question.params.doc_good_download == 1 %}
                                                       <a target="_blank" href="{{ amazon_s3_url ~ '/' ~ question.params.doc_good }}" download>
                                                            <i class="fa fa-download color-header"></i>
                                                        </a>
                                                   {% endif %}
                                                </div>
                                            </span>
									</div>
								{% endif %}
								{% if question.params.song_good %}
									<div class="col-md-3 no-padding-left flex--center text-center">
                                            <span type="button" class="color-header row pad-10" style="width: 100%; background: transparent!important; border: 1px solid #0076fe !important;">
                                                <div class="col-md-2 no-padding">
                                                    <a href="/files/quiz/{{question_id}}/song/{{question.params.song_good}}" target="_blank">
                                                        <i class="fa fa-eye color-header"></i>
                                                    </a>
                                                </div>
                                                <div class="col-md-8 text-center">
                                                {{ 'admin.quiz.create.question.container.add_song'|trans }}
                                                </div>
                                                <div class="col-md-2 no-padding text-right">
                                                    {% if question.params.song_good_download is defined and question.params.song_good_download == 1 %}
                                                        <a target="_blank" href="/files/quiz/{{question_id}}/song/{{question.params.song_good}}" download>
                                                            <i class="fa fa-download color-header"></i>
                                                        </a>
                                                    {% endif %}
                                                </div>
                                            </span>
									</div>
								{% endif %}
								{% if question.params.video_good %}
									{% if 'youtube' in question.params.video_good %}
										{% set urlVideo = question.params.video_good|replace({'/watch?v=': '/embed/'}) %}
									{% elseif 'vimeo' in question.params.video_good %}
										{% set urlVideo = 'https://player.vimeo.com/video/'~question.params.video_good|replace({'https://vimeo.com/': ''}) %}
									{% else %}
										{% set urlVideo = '/files/quiz/'~question_id~'/video/'~question.params.video_good %}
									{% endif %}
									<div class="col-md-3 no-padding-left flex--center text-center">
                                            <span type="button" class="color-header pad-10 row" style="width: 100%; background: transparent!important; border: 1px solid #0076fe !important;">
                                                <div class="col-md-2 no-padding">
                                                    <a href="{{ urlVideo }}" target="_blank">
                                                        <i class="fa fa-eye color-header"></i>
                                                    </a>
                                                </div>
                                                <div class="col-md-8 text-center">
                                                    {{ 'admin.quiz.create.question.container.add_video'|trans }}
                                                </div>
                                                <div class="col-md-2 no-padding text-right">
                                                    {% if question.params.video_good_download is defined and  question.params.video_good_download == 1 %}
                                                          {% if 'youtube' not in question.params.video_good and 'vimeo' not in question.params.video_good %}
                                                              <a target="_blank" href="{{ urlVideo }}" download>
                                                                <i class="fa fa-download color-header"></i>
                                                            </a>
                                                          {% endif %}
                                                      {% endif %}
                                                </div>
                                            </span>
									</div>
								{% endif %}
							</div>
						</div>
					</div>
				{% endif %}
			{% endif %}
			<div class="col-md-12 text-left pad-t-15 pad-l-0 pad-r-0 custom-text border-top-header bold">
				{% autoescape "html" %}
					{{ question.getQuestion()|raw }}
				{% endautoescape %}
			</div>
			{% if module.quiz.isSurvey == 0 and module.typeQuiz == 2 %}
				<div class="col-md-6 pad-l-0">
					<div class="col-md-12 pad-t-10 pad-b-10 text-center btn-deepmark-green">
						<span class="c-white bold">{{ 'global.correction'|trans }}</span>
					</div>
				</div>
				<div class="col-md-6 pad-r-0">
					<div class="col-md-12 pad-t-10 pad-b-10 text-center btn-deepmark">
						<span class="c-white bold">{{ 'learners.courses.quiz.results.your_answer'|trans }}</span>
					</div>
				</div>
			{% else %}
				<div class="col-md-3"></div>
				<div class="col-md-6">
					<div class="col-md-12 pad-t-10 pad-b-10 text-center btn-deepmark">
						<span class="c-white bold">{{ 'learners.courses.quiz.results.your_answer'|trans }}</span>
					</div>
				</div>
				<div class="col-md-3"></div>
			{% endif %}
		</div>
		{% if module.quiz.isSurvey == 0 and module.typeQuiz == 2 %}
			<div class="row pad-l-40 pad-r-40">
				<div class="col-md-6 pad-l-0">
					<div class="col-md-12 pad-15 font-size-13 text-center" style="box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.1); height: 100%;">
						<p>
							{% if answerId != 0 %}
								{{ 'global.corrected'|trans }}
							{% else %}
								{{ 'global.waiting_correction'|trans }}
							{% endif %}
						</p>
					</div>
				</div>
				<div class="col-md-6 pad-r-0">
					<div class="col-md-12 pad-15 font-size-13 text-center custom-text" style="box-shadow:  0px 1px 1px 1px rgba(0, 0, 0, 0.1); height: 100%;">
						{% for answer in results.answers %}
							{% if answer.getQuestion.getId() == question_id %}
								{% if answer.params.answer.free is defined %}
									{% set myAnswer = answer.params.answer.free %}
									{{ myAnswer|raw }}
								{% elseif answer.params.answer.template is defined %}
									{% if answer.params.file_descriptor is defined and answer.params.file_descriptor is not empty %}
										{% set fileDescriptor = answer.params.file_descriptor %}
										{# View & download #}
										<span>{{ fileDescriptor.name }}
											<i class="fa fa-eye color-blue cursorPointer pad-l-10 pad-r-10" onclick="openDoc('{{ answer.play.quiz.id }}', '{{ fileDescriptor.path }}')"></i>
											<a target="_blank" href="/files/quiz_learner/{{ answer.play.quiz.id }}/doc/{{ fileDescriptor.path }}" class="cursorPointer pad-l-10 pad-r-10 text-white" download>
												<i class="fa fa-download color-blue"></i>
											</a>
										</span>
									{% else %}
										{% set myAnswer = answer.params.answer.template %}
										{{ myAnswer|raw }}
									{% endif %}
								{% elseif answer.params.answer.documents is defined %}
									{% if answer.params.file_descriptor is defined and answer.params.file_descriptor is not empty %}
										{% set fileDescriptor = answer.params.file_descriptor %}
										{# View & download #}
										<span>{{ fileDescriptor.name }}
											<a target="_blank" href="/files/quiz_learner/{{ answer.play.quiz.id }}/video/{{ fileDescriptor.path }}" class="cursorPointer pad-l-10 pad-r-10 text-white">
												<i class="fa fa-eye color-blue"></i>
											</a>
											<a target="_blank" href="/files/quiz_learner/{{ answer.play.quiz.id }}/video/{{ fileDescriptor.path }}" class="cursorPointer pad-l-10 pad-r-10 text-white" download>
												<i class="fa fa-download color-blue"></i>
											</a>
										</span>
									{% else %}
										{% set myAnswer = answer.params.answer.documents %}
										<span>{{ myAnswer[0][1]|raw }}
											<a target="_blank" href="/files/quiz_learner/{{ answer.play.quiz.id }}/video/{{ myAnswer[0][1] }}" class="cursorPointer pad-l-10 pad-r-10 text-white">
												<i class="fa fa-eye color-blue"></i>
											</a>
											<a target="_blank" href="/files/quiz_learner/{{ answer.play.quiz.id }}/video/{{ myAnswer[0][1] }}" class="cursorPointer pad-l-10 pad-r-10 text-white" download>
												<i class="fa fa-download color-blue"></i>
											</a>
										</span>
									{% endif %}
								{% elseif answer.params.answer.record is defined and answer.params.answer.record is not empty %}
									{% if answer.params.answer.record != 'false' %}
										{% set typeRecord = '' %}
										{% for item in answer.question.items %}
											{% if (item.type == 'open' and item.name == 'record' and item.status == 1) %}
												{% set typeRecord = item.specifics %}
											{% endif %}
										{% endfor %}
										{% if typeRecord.types[0] == 'audio' %}
											<audio style="width: 100%;" controls>
												<source src="/files/quiz_learner/{{ answer.play.quiz.id }}/recording/{{ answer.params.answer.record }}">
											</audio>
										{% else %}
											<video width="100%" height="100%" controls>
												<source src="/files/quiz_learner/{{ answer.play.quiz.id }}/recording/{{ answer.params.answer.record }}" type="video/mp4">
												Your browser does not support the video tag.
											</video>
										{% endif %}
									{% endif %}
								{% endif %}
							{% endif %}
						{% endfor %}
					</div>
				</div>
			</div>
		{% else %}
			<div class="row pad-l-40 pad-r-40">
				<div class="col-md-3"></div>
				<div class="col-md-6">
					<div class="col-md-12 pad-15 font-size-13 text-center custom-text" style="box-shadow:  0px 1px 1px 1px rgba(0, 0, 0, 0.1);">
						{% for answer in results.answers %}
							{% if answer.getQuestion.getId() == question_id %}
								{% if answer.params.answer.free is defined %}
									{% set myAnswer = answer.params.answer.free %}
									{{ myAnswer|raw }}
								{% elseif answer.params.answer.template is defined %}
									{% if answer.params.file_descriptor is defined and answer.params.file_descriptor is not empty %}
										{% set fileDescriptor = answer.params.file_descriptor %}
										{{ fileDescriptor.name }}
									{% else %}
										{% set myAnswer = answer.params.answer.template %}
										{{ myAnswer|raw }}
									{% endif %}
								{% elseif answer.params.answer.record is defined and answer.params.answer.record is not empty %}
									{% if answer.params.answer.record != 'false' %}
										{% set typeRecord = '' %}
										{% for item in answer.question.items %}
											{% if (item.type == 'open' and item.name == 'record' and item.status == 1) %}
												{% set typeRecord = item.specifics %}
											{% endif %}
										{% endfor %}
										{% if typeRecord.types[0] == 'audio' %}
											<audio style="width: 100%;" controls>
												<source src="/files/quiz_learner/{{ answer.play.quiz.id }}/recording/{{ answer.params.answer.record }}">
											</audio>
										{% else %}
											<video width="100%" height="100%" controls>
												<source src="/files/quiz_learner/{{ answer.play.quiz.id }}/recording/{{ answer.params.answer.record }}" type="video/mp4">
												Your browser does not support the video tag.
											</video>
										{% endif %}
									{% endif %}
								{% endif %}
							{% endif %}
						{% endfor %}
					</div>
				</div>
				<div class="col-md-3"></div>
			</div>
		{% endif %}
	</div>
</div>

{% block javascripts %}
    <script>
				function openDoc(quizId, path) {
					const location = window.location.origin;
					window.open('{{ url('app_default_viewer') }}?url=' + `${location}/files/quiz_learner/${quizId}/doc/${path}` + '&embedded=true', '_blank');
				}
    </script>
{% endblock %}
