{% set myResult = null %}
{% set myAnswer = false %}
{% set itemsIds = [] %}
{# Check each reply #}
{% for answer in results.answers %}
    {# Get the corresponding answer for this question #}
    {% if answer.getQuestion.getId() == question_id %}
        {% set itemsIds = itemsIds|merge(answer.params.items_ids) %}
        {% set isActive = false %}
        {# Check if quiz changed after the learner played #}
        {% for item in items %}
            {% if(answer.params.answer.value is defined and answer.params.answer.value == item.getId()) %}
                {% set isActive = true %}
            {% endif %}
        {% endfor %}
        {# Check if reply always active on this quiz #}
        {% if isActive == true %}
            {% set myAnswer = answer %}
            {% set myResult = answer %}
        {% else %}
            {% set myResult = null %}
        {% endif %}
    {% endif %}
{% endfor %} 
{% if myAnswer == false %}
    {% set myAnswer = {scores: 0, status: 0} %} 
{% endif %}
<!-- QCU Template -->
    <div template-id="question-qcu">
        <div class="question question-body no-padding" id="result-question-{{question_id}}">
            <div class="row pad-l-40 pad-r-40 btn-deepmark-light">
				<div class="color-blue col-md-8 text-left pad-l-0 pad-b-15 pad-t-15">
                    {% if module.quiz.isSurvey == 1 %}
                        <b>{{ 'admin.quiz.create.question.container.title_question'|trans }} {{questionCount}} &nbsp;&nbsp;|&nbsp;&nbsp; {{ 'admin.quiz.create.types.qcu'|trans }}</b>
                    {% else %}
                        <b>{{ 'admin.quiz.create.question.container.title_question'|trans }} {{questionCount}} &nbsp;&nbsp;|&nbsp;&nbsp; {{ 'admin.quiz.create.types.qcu'|trans }} &nbsp;&nbsp;|&nbsp;&nbsp; {{ question.score_to_pass }} {{ 'learners.courses.quiz.question.container.msg_ok'|trans|lower }}</b>
                    {% endif %}
				</div>
				<div class="col-md-4 no-padding flex--center justify-content-end">
                    {% if module.quiz.isSurvey == 0 and module.typeQuiz == 2 and question.isLearnMore == 1 %}
                        {% if question.params.image_good is defined or question.params.doc_good is defined or question.params.song_good is defined or question.params.video_good is defined or question.params.question_good is defined %}
                            <a data-toggle="modal" class="badge-result-points cursorPointer learn-more-modal_{{ results.answers.owner.id }}_{{question_id}} border-radius-0 pad-10 font-size-14 text-uppercase badge badge-learn-more marg-r-10">
                                {{ 'global.find_out_more_btn'|trans }} +
                            </a>
                            <script>
                                $('.learn-more-modal_{{ results.answers.owner.id }}_{{question_id}}').unbind('click');
                                $('.learn-more-modal_{{ results.answers.owner.id }}_{{question_id}}').on('click', function() {
                                    let content = $(".content-learn-more_{{ results.answers.owner.id }}_{{question_id}}").html();
                                    $("#contentLearnMore").empty().html(content);
                                    $('.modal-content').toggleClass('flipped');
                                    setTimeout( function() {
                                        $(".modal-header-class").hide();
                                        $(".contentLearnMore").show();
                                        $("#detailQuiz").hide();
                                    }, 500 );
                                });
                            </script>
                        {% endif %}
                    {% endif %}

                    {% if myAnswer and module.quiz.isSurvey == 0 %}
                        <span class="badge-result-points border-radius-0 pad-10 font-size-14 text-lowercase badge badge-{{ myAnswer.status == 1 ? 'success' : 'danger' }}">
                            <b>{{ myAnswer.scores }}</b>
                            {{ 'learners.courses.quiz.question.container.msg_ok'|trans }}</span>
                    {% endif %}
                </div>
                {% if module.quiz.isSurvey == 0 and module.typeQuiz == 2 and question.isLearnMore == 1  %}
                    {% if question.params.image_good is defined or question.params.doc_good is defined or question.params.song_good is defined or question.params.video_good is defined or question.params.question_good is defined %}
                        <div class="d-none">
                            <div class="content-learn-more_{{ results.answers.owner.id }}_{{question_id}} no-padding col-md-12">
                                {% if question.params.question_good %}
                                    <div class="col-md-12 detail-question pad-t-15">
                                        {{ question.params.question_good|raw }}
                                    </div>
                                {% endif %}
                                <div class="row col-md-12 pad-10 btn-deepmark-light">
                                    <div class="col-md-2 flex--center justify-content-start">
                                        <i class="color-header font-size-12">{{ 'global.other_document'|trans }}</i>
                                    </div>
                                    {% if question.params.image_good %}
                                        <div class="col-md-3 no-padding-left flex--center text-center">
                                            <span type="button" class="color-header row pad-10" style="width: 100%; background: transparent!important; border: 1px solid #0076fe !important;">
                                                <div class="col-md-2 no-padding">
                                                    <a href="/files/quiz/{{question_id}}/picture/{{ question.params.image_good }}" target="_blank">
                                                        <i class="fa fa-eye color-header"></i>
                                                    </a>
                                                </div>
                                                <div class="col-md-8 text-center">
                                                    {{ 'admin.quiz.create.question.container.add_image'|trans }}
                                                </div>
                                                <div class="col-md-2 no-padding text-right">
                                                    {% if question.params.image_good_download is defined and question.params.image_good_download == 1 %}
                                                         <a target="_blank" href="/files/quiz/{{question_id}}/picture/{{ question.params.image_good }}" download>
                                                            <i class="fa fa-download color-header"></i>
                                                        </a>
                                                     {% endif %}
                                                </div>
                                            </span>
                                        </div>
                                    {% endif %}
                                    {% if question.params.doc_good %}
                                        <div class="col-md-3 no-padding-left flex--center text-center">
                                            <span type="button" class="color-header row pad-10" style="width: 100%; background: transparent!important; border: 1px solid #0076fe !important;">
                                                {% set url_doc = url('app_default_viewer') ~ '?url=' ~ amazon_s3_url ~ '/' ~ question.params.doc_good %}
                                                 <div class="col-md-2 no-padding">
                                                <a href="{{ url_doc }}" target="_blank">
                                                         <i class="fa fa-eye color-header"></i>
                                                     </a>
                                                </div>
                                                <div class="col-md-8 text-center">
                                                    {{ 'admin.quiz.create.question.container.add_doc'|trans }}
                                                </div>
                                                <div class="col-md-2 no-padding text-right">
                                                    {% if question.params.doc_good_download is defined and question.params.doc_good_download == 1 %}
                                                        <a target="_blank" href="{{ amazon_s3_url ~ '/' ~ question.params.doc_good }}" download>
                                                            <i class="fa fa-download color-header"></i>
                                                        </a>
                                                    {% endif %}
                                                </div>
                                            </span>
                                        </div>
                                    {% endif %}
                                    {% if question.params.song_good %}
                                        <div class="col-md-3 no-padding-left flex--center text-center">
                                            <span type="button" class="color-header row pad-10" style="width: 100%; background: transparent!important; border: 1px solid #0076fe !important;">
                                                <div class="col-md-2 no-padding">
                                                    <a href="/files/quiz/{{question_id}}/song/{{question.params.song_good}}" target="_blank">
                                                        <i class="fa fa-eye color-header"></i>
                                                    </a>
                                                </div>
                                                <div class="col-md-8 text-center">
                                                {{ 'admin.quiz.create.question.container.add_song'|trans }}
                                                </div>
                                                <div class="col-md-2 no-padding text-right">
                                                    {% if question.params.song_good_download is defined and question.params.song_good_download == 1 %}
                                                         <a target="_blank" href="/files/quiz/{{question_id}}/song/{{question.params.song_good}}" download>
                                                            <i class="fa fa-download color-header"></i>
                                                        </a>
                                                     {% endif %}
                                                </div>
                                            </span>
                                        </div>
                                    {% endif %}
                                    {% if question.params.video_good %}
                                        {% if 'youtube' in question.params.video_good %}
                                            {% set urlVideo = question.params.video_good|replace({'/watch?v=': '/embed/'}) %}
                                            {% elseif 'vimeo' in question.params.video_good %}
                                            {% set urlVideo = 'https://player.vimeo.com/video/'~question.params.video_good|replace({'https://vimeo.com/': ''}) %}
                                        {% else %}
                                            {% set urlVideo = '/files/quiz/'~question_id~'/video/'~question.params.video_good %}
                                        {% endif %}
                                        <div class="col-md-3 no-padding-left flex--center text-center">
                                            <span type="button" class="color-header pad-10 row" style="width: 100%; background: transparent!important; border: 1px solid #0076fe !important;">
                                                <div class="col-md-2 no-padding">
                                                    <a href="{{ urlVideo }}" target="_blank">
                                                        <i class="fa fa-eye color-header"></i>
                                                    </a>
                                                </div>
                                                <div class="col-md-8 text-center">
                                                    {{ 'admin.quiz.create.question.container.add_video'|trans }}
                                                </div>
                                                <div class="col-md-2 no-padding text-right">
                                                    {% if question.params.video_good_download is defined and  question.params.video_good_download == 1 %}
                                                         {% if 'youtube' not in question.params.video_good and 'vimeo' not in question.params.video_good %}
                                                             <a target="_blank" href="{{ urlVideo }}" download>
                                                                <i class="fa fa-download color-header"></i>
                                                            </a>
                                                         {% endif %}
                                                     {% endif %}
                                                </div>
                                            </span>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endif %}
                <div class="col-md-12 text-left pad-t-15 pad-l-0 pad-r-0 custom-text border-top-header bold">
					{% autoescape "html" %}
						{{ question.getQuestion()|raw }}
					{% endautoescape %}
				</div>
                {% if module.quiz.isSurvey == 0 and module.typeQuiz == 2 %}
                    <div class="col-md-6 pad-l-0">
                        <div class="col-md-12 pad-t-10 pad-b-10 text-center btn-deepmark-green">
                            <span class="c-white bold">{{ 'learners.courses.quiz.results.good_answer'|trans }}</span>
                        </div>
                    </div>
                    <div class="col-md-6 pad-r-0">
                        <div class="col-md-12 pad-t-10 pad-b-10 text-center btn-deepmark">
                            <span class="c-white bold">{{ 'learners.courses.quiz.results.your_answer'|trans }}</span>
                        </div>
                    </div>
                {% else %}
                    <div class="col-md-3"></div>
                    <div class="col-md-6">
                        <div class="col-md-12 pad-t-10 pad-b-10 text-center btn-deepmark">
                            <span class="c-white bold">{{ 'learners.courses.quiz.results.your_answer'|trans }}</span>
                        </div>
                    </div>
                    <div class="col-md-3"></div>
                {% endif %}
			</div>
            {% if module.quiz.isSurvey == 0 and module.typeQuiz == 2 %}
                <div class="row pad-l-40 pad-r-40">
                    <div class="col-md-6 pad-l-0">
                        <div class="col-md-12 pad-15 font-size-13 col-md-6 pad-l-0 qcuContainer" style="box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.1); height: 100%;">
                            <div class="qcuOptions">
                                {% for item in items %}
                                    {% if(item.id in itemsIds) %}
                                        <div class="row">
                                            <div class="col-md-2">
                                                <div class="quiz-float-left {{  item.value == 1 ? 'radio-true' : 'radio-false'}}">
                                                    <input disabled id="opt-{{question_id}}-{{ loop.index }}" type="radio" class="marg-t-2 border-radius-1 radio-custom-green" value="{{item.getId()}}" {{  item.value == 1 ? 'checked' : ''}} style="width: 30px; height: 30px" />
                                                </div>
                                                {# <div class="quiz-float-right marg-r-10">
                                                </div> #}
                                            </div>
                                            <div class="col-md-9 no-padding">
                                                <p for="opt-{{question_id}}-{{ loop.index }}">{{item.getName()}}</p>
                                            </div>
                                            <div class="col-md-1"></div>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 pad-r-0">
                        <div class="col-md-12 pad-15 font-size-13 qcuContainer" style="box-shadow:  0px 1px 1px 1px rgba(0, 0, 0, 0.1); height: 100%;">
                            <div class="qcuOptions">
                                {% if(myResult) %}
                                    {% for item in items %}
                                        {% if(item.id in myResult.params.items_ids) %}
                                            <div class="row">
                                                <div class="col-md-2">
                                                    <div class="quiz-float-left {{  myResult.params.answer.value == item.id  and item.value == 1  ? 'radio-true' : 'radio-false'}}">
                                                        <input disabled id="opt-{{question_id}}-{{ loop.index }}" type="radio" class="marg-t-2 border-radius-1 radio-custom" value="{{item.getId()}}" {{  myResult.params.answer.value == item.id ? 'checked' : ''}} style="width: 30px; height: 30px"/>
                                                    </div>
                                                    {# <div class="quiz-float-right marg-r-10">
                                                    </div> #}
                                                </div>
                                                <div class="col-md-9 no-padding">
                                                    <p for="opt-{{question_id}}-{{ loop.index }}">{{item.getName()}}</p>
                                                </div>
                                                <div class="col-md-1 no-padding">
                                                {{ myResult.params.answer.value == item.id and item.value == 1 ? '<i class="fa fa-check c-green"></i>' : '' }}{{ myResult.params.answer.value == item.id and item.value == 0 ? '<i class="fa fa-times c-red"></i>' : '' }}
                                                </div>
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                {% else %}
                                    <p class="alert alert-danger text-center">{{ 'learners.courses.quiz.results.answer_not_found'|trans }}</p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="row pad-l-40 pad-r-40">
                    <div class="col-md-3"></div>
                    <div class="col-md-6">
                        <div class="col--12 pad-15 font-size-13 qcuContainer" style="box-shadow:  0px 1px 1px 1px rgba(0, 0, 0, 0.1); height: 100%;">
                            <div class="qcuOptions">
                                {% if(myResult) %}
                                    {% for item in items %}
                                        {% if(item.id in myResult.params.items_ids) %}
                                            <div class="row">
                                                <div class="col-md-2">
                                                    <div class="quiz-float-left {{  myResult.params.answer.value == item.id  and item.value == 1  ? 'radio-true' : 'radio-false'}}">
                                                        <input disabled id="opt-{{question_id}}-{{ loop.index }}" type="radio" class="marg-t-2 border-radius-1 radio-custom" value="{{item.getId()}}" {{  myResult.params.answer.value == item.id ? 'checked' : ''}} style="width: 30px; height: 30px"/>
                                                    </div>
                                                    {# <div class="quiz-float-right marg-r-10">
                                                    </div> #}
                                                </div>
                                                <div class="col-md-9 no-padding">
                                                    <p for="opt-{{question_id}}-{{ loop.index }}">{{item.getName()}}</p>
                                                </div>
                                                <div class="col-md-1">
                                                </div>
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                {% else %}
                                    <p class="alert alert-danger text-center">{{ 'learners.courses.quiz.results.answer_not_found'|trans }}</p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3"></div>
                </div>
            {% endif %}
        </div>
    </div>

    <!-- Init Lib for each question when DOM Ready -->
    <script type="text/javascript">
        $(document).ready(function () {
            quizService.qcm.init({{question_id}});
        });
    </script>


