<!-- QCU Template -->
<div template-id="question-qcu">
    <div class="question question-body">
        <h3 class="color-header">{{ 'admin.quiz.create.question.qcu.title'|trans }}</h3>
        <h5 class="color-header answer_needed">{{ 'admin.quiz.create.question.qcu.sub_title'|trans }}</h5>
        <div class="row">
            <div class="col-lg-12 qcuContainer">
                <div class="qcuOptions">
                    <div class="row marg-b-10">
                        <div class="col-md-6">
                            <div class="quiz-float-right">
                                <input type="radio" class="marg-t-2" name="question-z" checked /> 
                            </div>
                            <div class="quiz-float-right marg-r-10">
                            </div>
                        </div>
                        <div class="col-md-6 text-left">
                            <input maxlength="255" type="text" class="option-text" name="question-z-options[]" placeholder="{{ 'admin.quiz.create.question.qcu.option_placeholder'|trans }}"  />
                        </div>
                    </div>

                    <div class="row marg-b-10">
                        <div class="col-md-6">
                            <div class="quiz-float-right">
                                <input type="radio" class="marg-t-2" name="question-z" /> 
                            </div>
                            <div class="quiz-float-right marg-r-10">
                            </div>
                        </div>
                        <div class="col-md-6 text-left">
                            <input maxlength="255" type="text" class="option-text" name="question-z-options[]" placeholder="{{ 'admin.quiz.create.question.qcu.option_placeholder'|trans }}"  />
                        </div>
                    </div>
                </div>

                <div class="col-md-12 text-center">
                    <a class="btn btn-sm btn-deepmark-blue qcuAddOption" href="#"><i class="fa fa-plus"></i> {{ 'admin.quiz.create.question.qcu.add_option'|trans }}</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Option Template -->
<div template-id="question-qcu-option">
    <div class="row marg-b-10 isDeletable" id="question-x-uniqid">
        <div class="col-md-6">
            <div class="quiz-float-right">
                <input type="radio" class="marg-t-2" name="question-z" /> 
            </div>
            <div class="quiz-float-right marg-r-10">
                <i class="fa fa-trash c-red quizOptionDelete" data-to_delete="question-x-uniqid"></i>  
            </div>
        </div>
        <div class="col-md-6 text-left">
            <input maxlength="255" type="text" class="option-text" name="question-z-options[]" placeholder="{{ 'admin.quiz.create.question.qcu.option_placeholder'|trans }}"  />
        </div>
    </div>
</div>