<!-- Open Template -->
<div template-id="question-open">
    <!-- Hidden fields -->
    <input type="hidden" id="question-z-template" value="" />
    <input type="hidden" id="question-z-template-file-descriptor" value="" />
    <!-- CONFIGURATION QUESTION TYPE OPEN -->
    <div class="question question-body">
        <h3 class="color-header">{{ 'admin.quiz.create.question.open.title'|trans }}</h3>
        <h5 class="color-header">{{ 'admin.quiz.create.question.open.sub_title'|trans }}</h5>
        <div class="row">
            <div class="col-lg-12 categoryContainer">
                <div class="row marg-b-10">
                    <div class="col-12 mt-4">
                        <input type="checkbox" class="float-left" name="question-z-free" value="1" /> 
                        <label class="float-left ml-2">{{ 'admin.quiz.create.question.open.learners_answer.free'|trans }}</label>
                    </div>
                    <div class="col-12 mt-4">
                        <input type="checkbox" class="float-left" name="question-z-document" value="1" /> 
                        <label class="float-left ml-2">{{ 'admin.quiz.create.question.open.learners_answer.document'|trans }}</label>
                        <span class="badge badge-secondary badge-actionable float-left ml-2 learners_answer_document-question-z" data-actionable="learners_answer_document-question-z" data-actionable_type="input-multi" data-actionable_name="xls" data-actionable_value="1">{{ 'admin.quiz.create.question.open.learners_answer.xls'|trans }}</span>
                        <span class="badge badge-secondary badge-actionable float-left ml-2 learners_answer_document-question-z" data-actionable="learners_answer_document-question-z" data-actionable_type="input-multi" data-actionable_name="doc" data-actionable_value="1">{{ 'admin.quiz.create.question.open.learners_answer.doc'|trans }}</span>
                        <span class="badge badge-secondary badge-actionable float-left ml-2 learners_answer_document-question-z" data-actionable="learners_answer_document-question-z" data-actionable_type="input-multi" data-actionable_name="ppt" data-actionable_value="1">{{ 'admin.quiz.create.question.open.learners_answer.ppt'|trans }}</span>
                        <span class="badge badge-secondary badge-actionable float-left ml-2 learners_answer_document-question-z" data-actionable="learners_answer_document-question-z" data-actionable_type="input-multi" data-actionable_name="pdf" data-actionable_value="1">{{ 'admin.quiz.create.question.open.learners_answer.pdf'|trans }}</span>
                        <span class="badge badge-secondary badge-actionable float-left ml-2 learners_answer_document-question-z" data-actionable="learners_answer_document-question-z" data-actionable_type="input-multi" data-actionable_name="img" data-actionable_value="1">{{ 'admin.quiz.create.question.open.learners_answer.img'|trans }}</span>
                        <span class="badge badge-secondary badge-actionable float-left ml-2 learners_answer_document-question-z" data-actionable="learners_answer_document-question-z" data-actionable_type="input-multi" data-actionable_name="video" data-actionable_value="1">{{ 'admin.quiz.create.question.open.learners_answer.video'|trans }}</span>
                    </div>
                    <div class="col-12 mt-4">
                        <div class="float-left mt-2 mr-3">
                            <input type="checkbox" class="float-left" name="question-z-template" value="1" /> 
                            <label class="float-left ml-2">{{ 'admin.quiz.create.question.open.learners_answer.template'|trans }}</label>
                        </div>
                        <div class="float-left">
                            <button type="button" class="btn btn-sm btn-deepmark-lightblue addTemplate" data-step-id="step-x" data-question-id="question-y" data-toggle="modal" data-target="#add-doc"><i class="fa fa-file"></i> {{ 'admin.quiz.create.question.open.learners_answer.template_upload'|trans }}</button>
                        </div>
                        <div class="text-center float-left mt-2 ml-3" id="question-z-template-preview"></div>
                    </div>
                    <div class="col-12 mt-4">
                        <input type="checkbox" class="float-left" name="question-z-record" value="1" /> 
                        <label class="float-left ml-2">{{ 'admin.quiz.create.question.open.learners_answer.record'|trans }}</label>
                        <span class="badge badge-secondary badge-actionable float-left ml-2 learners_answer_record-question-z" data-actionable="learners_answer_record-question-z" data-actionable_type="input" data-actionable_name="audio" data-actionable_value="1">{{ 'admin.quiz.create.question.open.learners_answer.audio'|trans }}</span>
                        <span class="badge badge-secondary badge-actionable float-left ml-2 learners_answer_record-question-z" data-actionable="learners_answer_record-question-z" data-actionable_type="input" data-actionable_name="video" data-actionable_value="1">{{ 'admin.quiz.create.question.open.learners_answer.video'|trans }}</span>
                        <span class="badge badge-secondary badge-actionable float-left ml-2 learners_answer_record-question-z" data-actionable="learners_answer_record-question-z" data-actionable_type="input" data-actionable_name="screencast" data-actionable_value="1">{{ 'admin.quiz.create.question.open.learners_answer.screencast'|trans }}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>