<!-- Category Template -->
<div template-id="question-category">
    <!-- OPTIONS TO SELECT -->
    <div class="question question-body">
        <h3 class="color-header">{{ 'admin.quiz.create.question.category.title'|trans }}</h3>
        <h5 class="color-header">{{ 'admin.quiz.create.question.category.sub_title'|trans }}</h5>
        <div class="row">
            <div class="col-lg-12 categoryContainer">
                <div class="categoryOptions">
                    <div class="row marg-b-10">
                        <div class="col-md-6"></div>
                        <div class="col-md-6 text-left">
                            <input maxlength="255" type="text" class="option-text" name="question-z-config" placeholder="{{ 'admin.quiz.create.question.category.option_placeholder'|trans }}"  />
                        </div>
                    </div>
                    <div class="row marg-b-10">
                        <div class="col-md-6"></div>
                        <div class="col-md-6 text-left">
                            <input maxlength="255" type="text" class="option-text" name="question-z-config" placeholder="{{ 'admin.quiz.create.question.category.option_placeholder'|trans }}"  />
                        </div>
                    </div>
                </div>

                <div class="col-md-12 text-center">
                    <a class="btn btn-sm btn-deepmark-blue categoryAddOption" href="#"><i class="fa fa-plus"></i> {{ 'admin.quiz.create.question.category.add_option'|trans }}</a>
                </div>
            </div>
        </div>
    </div>

    <!-- OPTIONS CONFIGURATION -->
    <div class="question question-body">
        <h3 class="color-header">{{ 'admin.quiz.create.question.category.title_2'|trans }}</h3>
        <h5 class="color-header answer_needed">{{ 'admin.quiz.create.question.category.sub_title_2'|trans }}</h5>
        <div class="row">
            <div class="col-lg-12 categoryConfigurationContainer">

                <div class="categoryConfigurationOptions">
                    <div class="row marg-b-10">
                        <div class="col-md-6">
                            <div class="quiz-float-right">
                                <input maxlength="255" type="text" class="option-text" name="question-z-options" placeholder="{{ 'admin.quiz.create.question.category.option_placeholder'|trans }}"  />
                            </div>
                            <div class="quiz-float-right marg-r-10">
                            </div>
                        </div>
                        <div class="col-md-6 text-left">
                            <select  data-style="select-with-transition" class="selectpicker categoryConfigurationOptionsSelect question-z-value"><option>{{ 'admin.quiz.create.question.category.fill_options'|trans }}</option></select>
                        </div>
                    </div>
                    <div class="row marg-b-10">
                        <div class="col-md-6">
                            <div class="quiz-float-right">
                                <input maxlength="255" type="text" class="option-text" name="question-z-options" placeholder="{{ 'admin.quiz.create.question.category.option_placeholder'|trans }}"  />
                            </div>
                            <div class="quiz-float-right marg-r-10">
                            </div>
                        </div>
                        <div class="col-md-6 text-left">
                            <select  data-style="select-with-transition" class="selectpicker categoryConfigurationOptionsSelect question-z-value"><option>{{ 'admin.quiz.create.question.category.fill_options'|trans }}</option></select>
                        </div>
                    </div>
                </div>

                <div class="col-md-12 text-center">
                    <a class="btn btn-sm btn-deepmark-blue categoryConfigurationAddOption" href="#"><i class="fa fa-plus"></i> {{ 'admin.quiz.create.question.category.add_option'|trans }}</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Option Template -->
<div template-id="question-category-option">
    <div class="row marg-b-10 isDeletable" id="question-x-uniqid">
        <div class="col-md-6 text-right">
            <i class="fa fa-trash c-red quizOptionDelete" data-to_delete="question-x-uniqid"></i>  
        </div>
        <div class="col-md-6 text-left">
            <input maxlength="255" type="text" class="option-text" name="question-z-config" placeholder="{{ 'admin.quiz.create.question.category.option_placeholder'|trans }}"  />
        </div>
    </div>
</div>

<!-- Option Configuration Template --> 
<div template-id="question-category-configuration-option">
    <div class="row marg-b-10 isDeletable" id="question-x-uniqid">
        <div class="col-md-6">
            <div class="quiz-float-right">
                <input maxlength="255" type="text" class="option-text" name="question-z-options" placeholder="{{ 'admin.quiz.create.question.category.option_placeholder'|trans }}"  />
            </div>
            <div class="quiz-float-right marg-r-10">
                <i class="fa fa-trash c-red quizOptionDelete" data-to_delete="question-x-uniqid"></i>  
            </div>
        </div>
        <div class="col-md-6 text-left">
            <select  data-style="select-with-transition" class="selectpicker categoryConfigurationOptionsSelect question-z-value">{options_to_fill}</select>
        </div>
    </div>
</div>
