<!-- Ordering Template -->
<div template-id="question-ordering">
    <div class="question question-body">
        <h3 class="color-header">{{ 'admin.quiz.create.question.ordering.title'|trans }}</h3>
        <h5 class="color-header answer_needed">{{ 'admin.quiz.create.question.ordering.sub_title'|trans }}</h5>
        <h5 class="color-header hide-element answer_not_needed">{{ 'admin.quiz.create.question.ordering.sub_title_survey'|trans }}</h5>
        <div class="row">
            <div class="col-lg-12 orderingContainer">
                <ul class="orderingOptions">
                    <li class="ui-state-default">
                        <span>1</span>
                        <span class="ui-icon ui-icon-arrowthick-2-n-s"></span> 
                        <div class="row">
                            <div class="col-md-6">
                                <input maxlength="35" type="text" class="option-text" name="question-z-options" placeholder="{{ 'admin.quiz.create.question.category.option_placeholder'|trans }}"  />
                            </div>
                        </div>
                    </li>
                    <li class="ui-state-default">
                        <span>2</span>
                        <span class="ui-icon ui-icon-arrowthick-2-n-s"></span> 
                        
                        <div class="row">
                            <div class="col-md-6">
                                <input maxlength="35" type="text" class="option-text" name="question-z-options" placeholder="{{ 'admin.quiz.create.question.category.option_placeholder'|trans }}"  />
                            </div>
                        </div>
                    </li>
                </ul>

                <div class="col-md-12 text-center">
                    <a class="btn btn-sm btn-deepmark-blue orderingAddOption" href="#"><i class="fa fa-plus"></i> {{ 'admin.quiz.create.question.ordering.add_option'|trans }}</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Option Template -->
<div template-id="question-ordering-option">
    <li class="ui-state-default isDeletable" id="question-x-uniqid">
        <span>option-pos</span>
        <span class="ui-icon ui-icon-arrowthick-2-n-s"></span> 
        <div class="row">
            <div class="col-md-6">
                <input maxlength="35" type="text" class="option-text" name="question-z-options" placeholder="{{ 'admin.quiz.create.question.category.option_placeholder'|trans }}"  />
            </div>
            <div class="col-md-6 text-right">
                <i class="fa fa-trash c-red deleteQCUOption quizOptionDelete" data-to_delete="question-x-uniqid"></i>
            </div>
        </div>
    </li>
</div>

<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>