<!-- Drag And Drop Template -->
<div template-id="question-drag_and_drop">
    <div class="question question-body">
        <h3 class="color-header">{{ 'admin.quiz.create.question.drag_and_drop.title'|trans }}</h3>
        <h5 class="color-header answer_needed">{{ 'admin.quiz.create.question.drag_and_drop.sub_title'|trans }}</h5>
        <h5 class="color-header hide-element answer_not_needed">{{ 'admin.quiz.create.question.drag_and_drop.sub_title_survey'|trans }}</h5>
        <div class="dragAndDropContainer">
            <div class="alert alert-warning text-center hide-element saveFirst">
                <h1><i class="fa fa-exclamation-triangle"></i></h1>
                <p>{{ 'admin.quiz.create.question.drag_and_drop.save_first'|trans }}</p>
            </div>
            <div class="dragAndDropOptions">

            </div>

            <div class="row">
                <div class="col-md-12 text-center">
                    <button type="button" class="btn btn-sm btn-deepmark-blue addOptionOnModal" data-step_id="step-x" data-question_id="question-y" data-toggle="modal" data-target="#add-question-drag-and-drop"><i class="fa fa-plus"></i> {{ 'admin.quiz.create.question.drag_and_drop.add_option'|trans }}</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Matches Template -->

<!-- ImageToImage -->
<div template-id="question-dragAndDrop-option-imageToImage">
    <div class="row marg-b-15 match isDeletable" data-name="image_to_image" id="question-x-uniqid">
        <div class="col-md-6 drag_and_drop-option-left">
            <div class="upload-area quiz-float-right dropzone" id="upload-id"></div>
             <input type="hidden" class="upload-result" data-path="" id="upload-result-step-N-q-x" /> 
            <div class="quiz-float-right marg-r-10 marg-t-30">
                <i class="fa fa-trash c-red quizOptionDelete" data-to_delete="question-x-uniqid"></i>  
            </div>
        </div>
        <div class="col-md-6 drag_and_drop-option-right">
            <div class="upload-area dropzone" id="upload-id"></div>
             <input type="hidden" class="upload-result" data-path="" id="upload-result-step-N-q-x" />
        </div>
    </div>
</div>


<!-- ImageToText -->
<div template-id="question-dragAndDrop-option-imageToText">
    <div class="row marg-b-15 match isDeletable" data-name="image_to_text" id="question-x-uniqid">
        <div class="col-md-6 drag_and_drop-option-left">
            <div class="upload-area quiz-float-right dropzone" id="upload-id"></div>
             <input type="hidden" class="upload-result" data-path="" id="upload-result-step-N-q-x" /> 
            <div class="quiz-float-right marg-r-10 marg-t-30">
                <i class="fa fa-trash c-red quizOptionDelete" data-to_delete="question-x-uniqid"></i>  
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <input maxlength="255" type="text" class="option-text marg-t-60" placeholder="{{ 'admin.quiz.create.question.drag_and_drop.option_placeholder'|trans }}" />
            </div>
        </div>
    </div>
</div>