<!-- Scoring Template -->
<div template-id="question-scoring">
    <div class="question question-body">

        <div class="row">
            <div class="col-8 scoring-left scoring-line">
                <h3 class="color-header text-center">{{ 'admin.quiz.create.question.scoring.title'|trans }}</h3>
                <p class="color-header text-center"><i>{{ 'admin.quiz.create.question.scoring.sub_title'|trans }}</i></p>
            </div>
            <div class="col-4 scoring-right scoring-line answer_needed">
                <h3 class="color-header text-center">{{ 'admin.quiz.create.question.scoring.title_answer'|trans }}</h3>
                <p class="color-header text-center"><i>{{ 'admin.quiz.create.question.scoring.sub_title_answer'|trans }}</i></p>
            </div>
        </div>
        <div class="row">
            <div class="col-8 pb-2 pt-3 scoring-left scoring-line">
                <div class="row">
                    <input type="radio" class="marg-t-2 float-left" name="question-z-option" id="question-z-free"  checked /> 
                    <label class="float-left ml-2">{{ 'admin.quiz.create.question.scoring.free_number.title'|trans }}</label>
                </div>
                <div class="row">
                    <input id="question-z-free_min" type="number" class="float-left ml-2 option-medium mt-1" placeholder="{{ 'admin.quiz.create.question.scoring.free_number.min'|trans }}"/>
                    <input id="question-z-free_max" type="number" class="float-left ml-2 option-medium mt-1" placeholder="{{ 'admin.quiz.create.question.scoring.free_number.max'|trans }}"/>
                    <input id="question-z-free_dec" type="number" min="0" class="float-left ml-2 option-medium mt-1" placeholder="{{ 'admin.quiz.create.question.scoring.free_number.dec'|trans }}"/>
                </div>
            </div>
            <div class="col-4 scoring-right scoring-line answer_needed">
                <input id="question-z-free_answer" type="number" class="float-left ml-2 option-medium mt-1" placeholder="{{ 'admin.quiz.create.question.scoring.free_number.answer'|trans }}"/>
            </div>
        </div>
        <div class="row">
            <div class="col-8 scoring-left scoring-line">
                <div class="row">
                    <input type="radio" class="marg-t-2 float-left" name="question-z-option" id="question-z-stars" /> 
                    <label class="float-left ml-2">{{ 'admin.quiz.create.question.scoring.stars.title'|trans }}</label>
                </div>
                <div class="row">
                    <select id="question-z-stars_val" class="float-left ml-2 option-min">
                        {% for i in 2..10 %}
                            <option value="{{i}}" {% if i == 5 %}selected{% endif %}>{{i}}</option>
                        {% endfor %}
                    </select>
                    <input id="question-z-stars_min" type="text" class="float-left ml-2 option-medium mt-1" placeholder="{{ 'admin.quiz.create.question.scoring.stars.min'|trans }}"/>
                    <input id="question-z-stars_max" type="text" class="float-left ml-2 option-medium mt-1" placeholder="{{ 'admin.quiz.create.question.scoring.stars.max'|trans }}"/>
                </div>
            </div>
            <div class="col-4 scoring-right scoring-line answer_needed">
                <select id="question-z-stars_answer" class="float-left ml-2 option-medium mt-1">
                    {% for i in 2..10 %}
                        <option value="{{i}}" {% if i == 5 %}selected{% endif %}>{{i}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-8 scoring-left scoring-line">
                <div class="row">
                    <input type="radio" class="marg-t-2 float-left" name="question-z-option" id="question-z-bubbles" /> 
                    <label class="float-left ml-2">{{ 'admin.quiz.create.question.scoring.bubbles.title'|trans }}</label>
                </div>
                <div class="row">
                    <select id="question-z-bubbles_val" class="float-left ml-2 option-min">
                        {% set bubbles = [3,5,7,9] %} 
                        {% for i in bubbles %}
                            <option value="{{i}}" {% if i == 5 %}selected{% endif %}>{{i}}</option>
                        {% endfor %}
                    </select>
                    <input id="question-z-bubbles_min" type="text" class="float-left ml-2 option-medium mt-1" placeholder="{{ 'admin.quiz.create.question.scoring.bubbles.min'|trans }}"/>
                    <input id="question-z-bubbles_max" type="text" class="float-left ml-2 option-medium mt-1" placeholder="{{ 'admin.quiz.create.question.scoring.bubbles.max'|trans }}"/>
                </div>
            </div>
            <div class="col-4 scoring-right scoring-line answer_needed">
                <select id="question-z-bubbles_answer" class="float-left ml-2 option-medium mt-1">
                    {% set bubbles = [3,5,7,9] %} 
                    {% for i in bubbles %}
                        <option value="{{i}}" {% if i == 5 %}selected{% endif %}>{{i}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-8 scoring-left scoring-line">
                <div class="row">
                    <input type="radio" class="marg-t-2 float-left" name="question-z-option" id="question-z-slider" /> 
                    <label class="float-left ml-2">{{ 'admin.quiz.create.question.scoring.slider.title'|trans }}</label>
                </div>
                <div class="row">
                    <input id="question-z-slider_min" type="number" class="float-left ml-2 option-medium mt-1" placeholder="{{ 'admin.quiz.create.question.scoring.slider.min'|trans }}"/>
                    <input id="question-z-slider_max" type="number" class="float-left ml-2 option-medium mt-1" placeholder="{{ 'admin.quiz.create.question.scoring.slider.max'|trans }}"/>
                    <input id="question-z-slider_step" type="number" class="float-left ml-2 option-medium mt-1" placeholder="{{ 'admin.quiz.create.question.scoring.slider.step'|trans }}"/>
                </div>
            </div>
            <div class="col-4 scoring-right scoring-line answer_needed">
                <input id="question-z-slider_answer" type="number" class="float-left ml-2 option-medium mt-1" placeholder="{{ 'admin.quiz.create.question.scoring.slider.answer'|trans }}"/>
            </div>
        </div>
    </div>
</div>