<!-- QCU Template -->
<div template-id="question-text_to_fill">
    <div class="question question-body">
        <h3 class="color-header">{{ 'admin.quiz.create.question.text_to_fill.title'|trans }}</h3>
        <h5 class="color-header">{{ 'admin.quiz.create.question.text_to_fill.sub_title'|trans }}</h5>
        <div class="row">
            <div class="col-lg-12 text_to_fillContainer text-center">
                <div class="row">
                    <div class="col-6">
                        <input type="text" placeholder="{{ 'admin.quiz.create.question.text_to_fill.mask_more_placeholder'|trans }}" class="float-right mt-1 text_to_fillAddOption-free" />
                    </div>
                    <div class="col-6 text-left">
                        <a href="#" class="btn btn-sm btn-deepmark-lightblue text_to_fillAddOption-free-add"><i class="fa fa-plus"></i> {{ 'admin.quiz.create.question.text_to_fill.add_mask_more'|trans }}</a>
                    </div>
                     
                </div>
                <div class="text_to_fillOptions">
                </div>
                <div class="text_to_fillCTA">
                    <a href="#" class="btn btn-sm btn-deepmark-orangelight text_to_fillAddOption"><i class="fa fa-copy"></i> {{ 'admin.quiz.create.question.text_to_fill.add_mask'|trans }}</a>
                </div>
                <div class="text_to_fillContent">
                    <textarea id="question-z-text_to_fill"  class="editor" name="" style="resize:none"></textarea>
                </div>
            </div>
        </div>
    </div>
</div>
