{% extends "base.html.twig" %}

{% block title %}{{ 'sidebar.trainers_planning'|trans }}{% endblock %}
{% block pagename %}{{ 'sidebar.trainers_planning'|trans }}{% endblock %}

{% block body %}

    <div id="planning_trainer" class="card card-pane marg-t-10 pad-t-10 planning" >
        <div class="card-body no-padding" >
            <h3 class="text-center color-header no-margin">{{ 'sidebar.trainers_planning'|trans }}</h3>
            <div class="col-md-12 pad-t-0" id="monthPlanning">
                <div id="dashboard-learner">
                    <div class="col-md-12 text-center calendar-legend flex--center">
                        <ul class="nav nav-pills  justify-content-center">
                            <li class="nav-item">
                                <a id="addBtn" class="btn active text-capitalize report-done" >{{ 'trainers.planning.buttons.add'|trans }}</a>
                            </li>
                            <li class="nav-item">
                                <a id="removeBtn" class="btn text-capitalize report-to-do" >{{ 'trainers.planning.buttons.remove'|trans }}</a>
                            </li>
                            <li class="nav-item">
                                <a id="recurringBtn" data-toggle="modal" href="#recurringPopup" class="btn text-capitalize border-header bg-white color-header border-radius-20">{{ 'global.recurring_availability_button'|trans }}</a>
                            </li>

                        </ul>
                    </div>
                    {{ include('molecules/calendar/calendar-legend.twig', { user: 'trainer'}) }}
                    <div id="trainerPlanningCalendar"></div>
                </div>
            </div>
            <!-- Modal remove availability-->
            <div class="modal fade" id="removeAvailabilityModal" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle">{{ 'trainers.planning.modal.remove.title'|trans }}</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            {{ 'trainers.planning.modal.remove.message'|trans }}
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-confirm="modal">{{ 'trainers.planning.modal.remove.btn_confirm'|trans }}</button>
                            <button type="button" class="btn btn-secondary " data-dismiss="modal">{{ 'trainers.planning.modal.remove.btn_cancel'|trans }}</button>
                        </div>
                    </div>
                </div>
            </div>
            {{ include('molecules/modal/recurring-availability.html.twig', { modal: '1',  organisation: profile.entity, entityWorkingHours: profile.entity.workingHours}) }}
            <!-- Modal add availability-->
            {{ include('molecules/modal/add-availability.html.twig') }}
            <!-- Modal show the booked session -->
            {{ include('molecules/modal/calendar-module-detail.html.twig') }}

        </div>
    </div>


{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('js/learner/calendar-learner.js') }}"></script>
    <script>
        $(document).ready(function() {
            let height = $(window).height()-120;
            let calendarHeight = $("#planning_trainer").height();
            if (height >= calendarHeight) {
                $('body').css('overflow', 'hidden');
            } else {
                $('body').css('overflow', 'scroll');
            }
            $('#addBtn').on('click', function () {
                $(".fc-addAvailability-button").click();
            });
            $('#removeBtn').on('click', function () {
                $(".fc-removeAvailability-button").click();
            });
        });
    </script>
{% endblock %}
