{% set key = key is defined and key is not null ? key : 0 %}

{% if datapicker_type == 'startDate' %}

    <div class="form-group datepicker-group">
        <label for="startDate[{{ data.uniqueId }}]">{{ "global.start_date"|trans }}</label>
        <div class="input-group datapicker">
            <input id="startDate[{{ data.uniqueId }}]" class="form-control datepicker" type="text"
                   name="module[{{ data.uniqueId }}][session][{{ key }}][startDate]" value="{{ data.startDate }}" required/>
            <div class="input-group-append">
            <span class="input-group-text">
                <i class="fal fa-calendar-alt"></i>
            </span>
            </div>
        </div>
    </div>

{% elseif datapicker_type == 'endDate' %}

    <div class="form-group datepicker-group">
        <label for="endDate[{{ data.uniqueId }}]">{{ "global.end_date"|trans }}</label>
        <div class="input-group">
            <input id="endDate[{{ data.uniqueId }}]" class="form-control datepicker" type="text"
                   name="module[{{ data.uniqueId }}][session][{{ key }}][endDate]" value="{{ data.endDate }}" required/>
            <div class="input-group-append">
            <span class="input-group-text">
                <i class="fal fa-calendar-alt"></i>
            </span>
            </div>
        </div>
    </div>

{% elseif datapicker_type == 'startDateSession' %}

    {% set startDateSession = session.startDate is defined and session.startDate is not null ? session.startDate : ""  %}
    <div class="form-group datepicker-group">
        <label for="startDate[{{ data.uniqueId }}]">{{ "global.start_date"|trans }}</label>
        <div class="input-group">
            <input id="startDate[{{ data.uniqueId }}]" class="form-control sessiondatepicker" type="text"
                   name="module[{{ data.uniqueId }}][session][{{ key }}][startDate]" value="{{ startDateSession }}" required/>
            <div class="input-group-append">
            <span class="input-group-text">
                <i class="fal fa-calendar-alt"></i>
            </span>
            </div>
        </div>
    </div>

{% elseif datapicker_type == 'startTime' %}
    {% set startTimeValue = session.startTime is defined and session.startTime is not null ? session.startTime : '09:00' %}
    <div class="form-group datepicker-group">
        <label for="startTime[{{ data.uniqueId }}]">{{ "global.start_time"|trans }}</label>
        <div class="input-group date">
            <input id="startTime[{{ data.uniqueId }}]" class="form-control timepicker" type="text"
                   name="module[{{ data.uniqueId }}][session][{{ key }}][startTime]" value="{{ startTimeValue }}" required/>
            <div class="input-group-append">
            <span class="input-group-text">
                <i class="fal fa-clock"></i>
            </span>
            </div>
        </div>
    </div>

{% elseif datapicker_type == 'duration' %}
    <div class="form-group datepicker-group">
        <label for="hourDuration[{{ data.uniqueId }}]">
            {{ 'admin.interventions.create.step1.duration' | trans }} (HH:MM)
        </label>
        <div class="duration-group">
            {% set durationHours = data.hours is defined and data.hours is not null ? data.hours : 0 %}
            {% if data.minutes is defined and data.minutes is not null and data.minutes >= 60 %}
                {% set durationHours = durationHours + data.minutes//60 %}
                {% set durationMinutes = data.minutes - durationHours*60 %}
            {% elseif  data.minutes is defined and data.minutes is not null %}
                {% set durationMinutes =  data.minutes is defined and data.minutes is not null ? data.minutes : 0 %}
            {% endif %}
            <input id="hourDuration[{{ data.uniqueId }}]"
                   class="form-control"
                   type="number"
                   min="0"
                   max="7"
                   value="{{ durationHours }}"
                   data-style="select-with-transition" onchange="leadingZerosForHour(this)" onkeyup="leadingZerosForHour(this)" onclick="leadingZerosForHour(this)" name="module[{{ data.uniqueId }}][durationHours]" required/>
            <span>:</span>
            <input id="minDuration[{{ data.uniqueId }}]"
                   class="form-control"
                   type="number"
                   min="0"
                   max="60"
                   value="{{ durationMinutes is defined ? durationMinutes : 0 }}"
                   data-style="select-with-transition" onchange="leadingZerosForHour(this)" onkeyup="leadingZerosForHour(this)" onclick="leadingZerosForHour(this)" name="module[{{ data.uniqueId }}][durationMinutes]" required/>
        </div>
    </div>
    <script>
        leadingZerosForHour(document.getElementById('hourDuration[{{ data.uniqueId }}]'));
        leadingZerosForHour(document.getElementById('minDuration[{{ data.uniqueId }}]'));
        function leadingZerosForHour(input) {
            if(!isNaN(input.value)) {
                if (input.value.length === 1) {
                    input.value = '0' + input.value;
                    return;
                } else if (input.value.length === 3){
                    input.value = parseInt(input.value);
                } else {

                }
            }
        }
    </script>
{% elseif datapicker_type == 'correction_duration' %}
    <div class="form-group datepicker-group">
        <label for="hourDuration[{{ data.uniqueId }}]">
            {{ 'admin.interventions.create.step1.correction_duration' | trans }} (HH:MM)
        </label>
        <div class="duration-group">
            <input id="hourDurationCorrection[{{ data.uniqueId }}]"
                   class="form-control"
                   type="number"
                   min="0"
                   max="23"
                   value="{{ correctionDurationHours }}"
                   data-style="select-with-transition" onchange="leadingZeros(this)" onkeyup="leadingZeros(this)" onclick="leadingZeros(this)" name="module[{{ data.uniqueId }}][correctionDurationHours]" required/>
            <span>:</span>
            <input id="minDurationCorrection[{{ data.uniqueId }}]"
                   class="form-control"
                   type="number"
                   min="0"
                   max="59"
                   value="{{ correctionDurationMinutes }}"
                   data-style="select-with-transition" onchange="leadingZeros(this)" onkeyup="leadingZeros(this)" onclick="leadingZeros(this)" name="module[{{ data.uniqueId }}][correctionDurationMinutes]" />
        </div>
    </div>
    <script>
        leadingZeros(document.getElementById('hourDuration[{{ data.uniqueId }}]'));
        leadingZeros(document.getElementById('minDuration[{{ data.uniqueId }}]'));
        function leadingZeros(input) {
            if(!isNaN(input.value)) {
                if (input.value.length === 1) {
                    input.value = '0' + input.value;
                    return;
                } else if (input.value.length === 3){
                    input.value = parseInt(input.value);
                } else {

                }
            }
        }
    </script>
{% elseif datapicker_type == 'correction_duration_max' %}
    <div class="form-group datepicker-group">
        <label for="correctionDurationMax-{{ data.uniqueId }}">{{ 'admin.interventions.create.step1.correction_duration_max'| trans }}</label>
        <div class="duration-group">
            <input id="daysDurationCorrection-{{ data.uniqueId }}"
                   class="form-control"
                   type="number"
                   min="0"
                   max="100"
                   value="{{ daysValue|default(1) }}"
                   data-style="select-with-transition" name="module[{{ data.uniqueId }}][correctionDurationDays]" required/>
            &nbsp; {{ 'admin.interventions.create.step1.correction_duration_max_days'| trans }}
        </div>
        <label class="pad-t-20" for="correctionDurationMax-{{ data.uniqueId }}">{{ 'admin.interventions.create.step1.correction_duration_max_calendar'| trans }}</label>
        <div class="input-group">
            <input id="correctionDurationMax-{{ data.uniqueId }}" name="module[{{ data.uniqueId }}][correctionDurationMax]" type="text"
                   class="form-control sessiondatepicker" value="{{ maxValue }}" required>
            <div class="input-group-append">
            <span class="input-group-text">
                <i class="fal fa-calendar-alt"></i>
            </span>
            </div>
        </div>
    </div>
{% endif %}
