<div class="form-group">
    {% if select_type == 'skills' %}
        <label for="skillSelect_{{ data.uniqueId }}">
            {{ 'admin.interventions.create.step2.skills_required' | trans }}
        </label>
        <select
            id="skillSelect_{{ data.uniqueId }}"
            class="select2"
            multiple
            data-style="select-with-transition"
            required
            name="module[{{ data.uniqueId }}][skills][]">
            id="skillSelect_{{ data.uniqueId }}"
            class="select2"
            multiple
            data-style="select-with-transition"
            required
            name="module[{{ data.uniqueId }}][skills][]">

            {% if data.skills is iterable %}
                {% for id, skill in skills %}
                    {% set skillSelected = skill.id in data.skills ? "selected" : "" %}
                    <option value="{{ skill.id }}" id="{{ skill.id }}" {{ skillSelected }}> {{ skill.designation }}</option>
                {% endfor %}

            {% else %}

                {% for id, skill in skills %}
                    {% set skillSelected = (skill.id == data.skills) ? "selected" : "" %}
                    <option value="{{ skill.id }}" id="{{ skill.id }}" {{ skillSelected }}> {{ skill.designation }}</option>
                {% endfor %}

            {% endif %}
        </select>
        <script>
            $(document).ready(function () {
                $('#skillSelect_{{ data.uniqueId }}').select2();
            });
        </script>

    {% elseif select_type == 'all_skills' %}
        <label for="allSkills_{{ data.uniqueId }}_">
            {{ 'admin.interventions.create.step2.skills_or_and' | trans }}
        </label>
        {% set allSkillSelected = data.allSkills is defined and data.allSkills is not null ? data.allSkills : "" %}
        <select
            id="allSkills_{{ data.uniqueId }}"
            class="select2"
            data-style="select-with-transition"
            required
            name="module[{{ data.uniqueId }}][allSkills]">
            <option value="and" {% if (allSkillSelected == 'and') %} selected {% endif %}>AND</option>
            <option value="or" {% if (allSkillSelected == 'or') %} selected {% endif %}>OR</option>
        </select>
        <script>
            $(document).ready(function () {
                $('#allSkills_{{ data.uniqueId }}').select2({
                    minimumResultsForSearch: -1
                }
                );
            });
        </script>
    {% elseif select_type == 'assessmentModules' %}
        {% set sessionValue = key is defined and key is not null ? key : 0 %}

        <div class="form-group">
            <label for="assessmentModules_{{ data.uniqueId }}_{{ sessionValue }}">{{ 'admin.interventions.create.step2.apply_condition_for'|trans }}</label>
            <select  id="assessmentModules_{{ data.uniqueId }}_{{ sessionValue }}" name="module[{{ data.uniqueId }}][session][{{ key }}][assessmentModules]"
                    data-select-module="{{ data.uniqueId }}" required>
                <option disabled selected value> -- {{ 'admin.interventions.create.module_card.form.select_module'|trans|title }} -- </option>
                {% if tempModuleList is defined %}
                    {% for id, singleModule in tempModuleList %}
                        {% set selected = session is defined and session.assessmentModules is defined and session.assessmentModules is not null and session.assessmentModules == id ? "selected" : "" %}
                        <option value="{{ id }}" {{ selected }}> {{ singleModule.title }}</option>
                    {% endfor %}
                {% endif %}
            </select>
        </div>

    {% elseif select_type == 'media' %}
        <label for="fileMedia_{{ data.uniqueId }}" class="btn btn-file-upload btn btn-deepmark-orangelight btn-file">
            Add media
            <i class="fal fa-plus"></i>
        </label>
        <input id="fileMedia_{{ data.uniqueId }}"
               type="file"
               name="module[{{ data.uniqueId }}][file][eLearning]"
               data-type="body"
               class="inputUploadPublicFile"
               multiple/>
        {#        <span class="file-icons">#}
        {#            <i class="fal fa-file-alt fa-2x"#}
        {#               data-person-type="eLearning"#}
        {#               data-module-id="{{ data.uniqueId }}"#}
        {#               data-reference-element="module[{{ data.uniqueId }}][file][eLearning]"#}
        {#               data-reference-id="{{ data.uniqueId }}_eLearning"#}
        {#               onclick="showFiles(this)"#}
        {#            ></i>#}
        {#        </span>#}
    {% elseif select_type == 'trainerReportTemplate' %}
        <label for="fileTrainerReportTemplate_{{ data.uniqueId }}" class="btn btn-file-upload btn btn-deepmark-orangelight btn-file">
            Trainer Report
            <i class="fal fa-plus"></i>
        </label>
        <input id="fileTrainerReportTemplate_{{ data.uniqueId }}"
               type="file"
               name="module[{{ data.uniqueId }}][file][trainerReportTemplate]"
               data-type="body"
               class="inputUploadPublicFile fileTrainerReportTemplate"
               multiple/>

    {% elseif select_type == 'attendanceSheetTemplate' %}
        <label for="fileAttendanceSheetTemplate_{{ data.uniqueId }}" class="btn btn-file-upload btn btn-deepmark-orangelight btn-file">
            Attendance Sheet
            <i class="fal fa-plus"></i>
        </label>
        <input id="fileAttendanceSheetTemplate_{{ data.uniqueId }}"
               type="file"
               name="module[{{ data.uniqueId }}][file][attendanceSheetTemplate]"
               data-type="body"
               class="inputUploadPublicFile"
               multiple/>

    {% elseif select_type == 'certificateTemplate' %}
        <div class="col-sm-12 no-padding marg-b-10">
            <label for="certificateSample_{{ data.uniqueId }}">{{'admin.interventions.select_certificate_template'|trans}}</label>
            <div class=" no-padding col-sm-12 form-group select-border">
                <select id="sample_{{ data.uniqueId }}" data-select-id="{{ data.uniqueId }}"
                        class="select2 col-sm-8" data-style="select-with-transition"
                        onchange="selectCertificateSample(this)"
                name="module[{{ data.uniqueId }}][certificateTemplate]">
                    <option value="certification_sample_1" {{ data.certificationTemplate == 'certification_sample_1' ? 'selected': '' }}>Certification sample 1</option>
                    <option value="certification_sample_2" {{ data.certificationTemplate == 'certification_sample_2' ? 'selected': '' }}>Certification sample 2</option>
                    <option value="certification_sample_3" {{ data.certificationTemplate == 'certification_sample_3' ? 'selected': '' }}>Certification sample 3</option>
                    <option value="" {{ data.certificationTemplate == '' ? 'selected': '' }}>Custom template</option>
                </select>
                <a href="/files/assessment/certification_templates/certification_sample_1.docx" download class="col-sm-4" data-link-id="{{ data.uniqueId }}">
                    <i class="fa fa-download  color-header" aria-hidden="true"></i>
                </a>
                <script>
                    $(document).ready(function() {
                        $('#sample_{{ data.uniqueId }}').select2({
                                minimumResultsForSearch: -1
                            }
                        );
                        $("#sample_{{ data.uniqueId }}").trigger('change');
                    });
                    function selectCertificateSample(element)
                    {
                        let $select = $(element);
                        let downloadUrl = '/files/assessment/certification_templates/';
                        let selectId = $select.attr('data-select-id');
                        $('[data-link-id='+selectId+']').attr('href', downloadUrl+$select.val()+'.docx');
                        if($select.val() === ""){
                            $('#upload_certificate_block_'+selectId).removeClass('hidden');
                            $('[data-link-id='+selectId+']').hide();
                        }else {
                            $('#upload_certificate_block_' + selectId).addClass('hidden');
                            $('[data-link-id='+selectId+']').show();
                        }
                    }
                </script>
            </div>
        </div>
        <div class="col-sm-12 no-padding hidden" id="upload_certificate_block_{{ data.uniqueId }}">
            <label for="fileCertificateTemplate_{{ data.uniqueId }}" class="btn btn-file-upload btn btn-deepmark-orangelight btn-file">
                {{'admin.interventions.certificate_template'|trans}}
                <i class="fal fa-plus"></i>
            </label>
            <input id="fileCertificateTemplate_{{ data.uniqueId }}"
                   type="file"
                   accept=".doc,.docx"
                   name="module[{{ data.uniqueId }}][file][certificateTemplate]"
                   data-type="body"
                   class="inputUploadPublicFile"
                   multiple/>
        </div>

    {% elseif select_type == 'iterations' %}

        <label class="showHideQuiz{{ data.uniqueId }} iterations{{ data.uniqueId }}" for="maxIterations_{{ data.uniqueId }}">{{ 'admin.interventions.create.step2.attempts' | trans }}</label>
        <select
            id="maxIterations_{{ data.uniqueId }}"
            class="select2 showHideQuiz{{ data.uniqueId }} iterations{{ data.uniqueId }}"
            data-style="select-with-transition"
            required
            name="module[{{ data.uniqueId }}][maxIteration]">
            {% for i in 1..1000 %}
                {% set selected = i == data.maxIteration ? 'selected' : '' %}
                <option value="{{ i }}" {{ selected }}>{{ i }}</option>
            {% endfor %}
        </select>
        <script>
            $(document).ready(function () {
                $('#maxIterations_{{ data.uniqueId }}').select2();
            });
        </script>
    {% elseif select_type == 'quiz' %}
        <div class="form-group">
            <label for="quiz_{{ data.uniqueId }}">{{ 'admin.interventions.create.module_card.form.select_quiz'|trans|title }}</label>
            <select class="select2" id="quiz_{{ data.uniqueId }}" name="module[{{ data.uniqueId }}][quiz]"
                    data-style="select-with-transition" >
                <option disabled selected value> -- {{ 'admin.interventions.create.module_card.form.select_an_option'|trans|title }} -- </option>
                {% for id, singleQuiz in data.allQuizzes %}
                    {% set hasOpenQuestion = 0 %}
                    {% for question in singleQuiz.questions %}
                        {% if question.question.type == 'open' %}
                            {% set hasOpenQuestion = 1 %}
                        {% endif %}
                    {% endfor %}
                    {% set selected = id == data.quiz ? 'selected' : '' %}
                    <option value="{{ id }}" {{ selected }} 
                            data-duration="{{singleQuiz.duration}}" 
                            data-correction_duration="{{singleQuiz.correction_duration|default(0)}}"
                            data-timer_type="{{singleQuiz.isSurvey==0?1:0}}"
                            data-quiz_type="{{singleQuiz.isSurvey}}"
                            data-open_question="{{hasOpenQuestion}}"
                            data-skills="{{data.allQuizSkills[id]}}"> {{ singleQuiz.title }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group showHideQuiz{{ data.uniqueId }}">
            <label for="quiz_{{ data.uniqueId }}_type">{{ 'admin.interventions.create.module_card.form.quiz_type.title'|trans|title }}</label>
            <select class="select2" id="quiz_{{ data.uniqueId }}_type" name="module[{{ data.uniqueId }}][typeQuiz]" data-style="select-with-transition" >
                <option value="1" {{ data.quiz is defined and data.quiz is not empty and data['allQuizzes'][data.quiz].isSurvey == 0 ? 'selected' : '' }}>{{ 'admin.interventions.create.module_card.form.quiz_type.type_1'|trans|title }}</option>
                <option value="2" {{ data.quiz is defined and data.quiz is not empty and data['allQuizzes'][data.quiz].isSurvey == 1 ? 'selected' : '' }}>{{ 'admin.interventions.create.module_card.form.quiz_type.type_2'|trans|title }}</option>
            </select>
        </div>
        {% set currentQuizhasOpenQuestion = 0 %}
        {% if data.quiz is not empty  %}
            {% for question in data.allQuizzes[data.quiz].questions %}
                {% if question.question.type == 'open' %}
                    {% set currentQuizhasOpenQuestion = 1 %}
                {% endif %}
            {% endfor %}
        {% endif %}
        <div class="showHideQuiz{{ data.uniqueId }} {{ data.quiz is defined and data.quiz is not empty and (data['allQuizzes'][data.quiz].isSurvey == 1 or currentQuizhasOpenQuestion == 0) ? 'd-none' : '' }}">
            <div class="form-group">
                <label for="skillSelect_{{ data.uniqueId }}">{{ 'admin.interventions.create.step2.skills_required_quiz' | trans }}</label>
                <select
                        id="skillSelect_{{ data.uniqueId }}"
                        class="select2"
                        multiple
                        data-style="select-with-transition"
                        {{ currentQuizhasOpenQuestion?'required':'' }}
                        name="module[{{ data.uniqueId }}][skills][]">
                    {% if data.skills is iterable %}
                        {% for id, skill in skills %}
                            {% set skillSelected = skill.id in data.skills ? "selected" : "" %}
                            <option value="{{ skill.id }}" id="{{ skill.id }}" {{ skillSelected }}> {{ skill.designation }}</option>
                        {% endfor %}

                    {% else %}
                        {% for id, skill in skills %}
                            {% set skillSelected = (skill.id == data.skills) ? "selected" : "" %}
                            <option value="{{ skill.id }}" id="{{ skill.id }}" {{ skillSelected }}> {{ skill.designation }}</option>
                        {% endfor %}

                    {% endif %}
                </select>
            </div>
            <div class="form-group">
                <label for="allSkills_{{ data.uniqueId }}_">{{ 'admin.interventions.create.step2.skills_or_and' | trans }}</label>
                {% set allSkillSelected = data.allSkills is defined and data.allSkills is not null ? data.allSkills : "" %}
                <select
                        id="allSkills_{{ data.uniqueId }}"
                        class="select2"
                        data-style="select-with-transition"
                        required
                        name="module[{{ data.uniqueId }}][allSkills]">
                    <option value="and" {% if (allSkillSelected == 'and') %} selected {% endif %}>AND</option>
                    <option value="or" {% if (allSkillSelected == 'or') %} selected {% endif %}>OR</option>
                </select>
            </div>
        </div>
        <script>
            $(document).ready(function () {
                $('#quiz_{{ data.uniqueId }}').select2({
                    minimumResultsForSearch: -1
                });
                $('#quiz_{{ data.uniqueId }}_type').select2();

                // Skills
                $('#skillSelect_{{ data.uniqueId }}').select2();
                $('#allSkills_{{ data.uniqueId }}').select2({
                    minimumResultsForSearch: -1
                }
                );
        
                // Change Quiz
                quizIndexService.initCourses('{{ data.uniqueId }}');
            });
        </script>
    {% elseif select_type == 'echoQuiz' %}
        <div class="form-group">
            <label for="echo_quiz_{{ data.uniqueId }}">{{ 'admin.interventions.create.module_card.form.select_echo'|trans|title }}</label>
            <select class="select2" id="echo_quiz_{{ data.uniqueId }}" name="module[{{ data.uniqueId }}][quiz]"
                    data-style="select-with-transition" >
                <option disabled selected value> -- {{ 'admin.interventions.create.module_card.form.select_an_option'|trans|title }} -- </option>
            </select>
            <script>
                $(document).ready(function () {
                    $('#echo_quiz_{{ data.uniqueId }}').select2({
                        minimumResultsForSearch: -1
                    });

                    let url = '/admin/courses/api/echo-programs?organizationId=0&applicationId=0';
                    $.ajax({
                        'url': url,
                        'method': 'GET',
                    }).done(function (response) {
                        if (response) {
                            $('#echo_quiz_{{ data.uniqueId }}')
                                    .find('option')
                                    .remove();
                            $.each(response.programs, function (i, item) {
                                $('#echo_quiz_{{ data.uniqueId }}').append($('<option>', {
                                    value: item.id + '||' + item.title,
                                    text: item.title
                                }));
                            });
                        }
                    });
                });
            </script>
        </div>
    {% elseif select_type == 'eval' %}
        <div class="form-group">
            <label for="eval_{{ data.uniqueId }}">{{ 'admin.interventions.create.module_card.form.select_evaluation'|trans|title }}</label>
            <select class="select2" id="eval_{{ data.uniqueId }}" name="module[{{ data.uniqueId }}][evaluation]"
                    data-style="select-with-transition" required>
                <option disabled selected value> -- {{ 'admin.interventions.create.module_card.form.select_an_option'|trans|title }} -- </option>
                {% for id, singleQuiz in data.allQuizzes %}
                    {% set selected = singleQuiz == data.quiz ? 'selected' : '' %}
                    <option value="{{ id }}" {{ selected }}> {{ singleQuiz }}</option>
                {% endfor %}
            </select>
            <script>
                $(document).ready(function () {
                    $('#eval_{{ data.uniqueId }}').select2();
                });
            </script>
        </div>
    {% elseif select_type == 'reportSendTo' %}
        <div class="form-group">
            <label for="send_{{ data.uniqueId }}">{{ 'admin.interventions.create.module_card.form.send_to'|trans|title }}</label>
            <select multiple class="select2" id="send_{{ data.uniqueId }}" name="module[{{ data.uniqueId }}][profileSendTo][]"
                    data-style="select-with-transition" >
                <option disabled selected value> -- {{ 'admin.interventions.create.module_card.form.select_an_option'|trans|title }} -- </option>

                {% if data.profileSendTo is iterable %}
                    {% for profile in data.admins %}
                        {% set skillSelected = profile.id in data.profileSendTo ? "selected" : "" %}
                        <option value="{{ profile.id }}" {{ skillSelected }}> {{ profile.person.email }} - Admin</option>
                    {% endfor %}
                    {% for profile in data.supervisors %}
                        {% set skillSelected = profile.id in data.profileSendTo ? "selected" : "" %}
                        <option value="{{ profile.id }}" {{ skillSelected }}> {{ profile.person.email }} - Supervisor</option>
                    {% endfor %}

                {% else %}
                    {% for profile in data.admins %}
                        <option value="{{ profile.id }}"> {{ profile.person.email }} - Admin</option>
                    {% endfor %}
                    {% for profile in data.supervisors %}
                        <option value="{{ profile.id }}"> {{ profile.person.email }} - Supervisor</option>
                    {% endfor %}


                {% endif %}


            </select>
            <script>
                $(document).ready(function () {
                    $('#send_{{ data.uniqueId }}').select2();
                });
            </script>
        </div>

    {% endif %}
</div>
