{% set key = key is defined and key is not null ? key : 0 %}
<div class="form-group">
    {% if input_type == 'instruction' %}

        <label for="instructions-{{ data.uniqueId }}">{{ 'admin.interventions.create.step2.description'|trans }}</label>
        <textarea class="form-control" id="instructions-{{ data.uniqueId }}"
                  name="module[{{ data.uniqueId }}][instruction]"
                  required>{{ data.instruction }}</textarea>
        <script>
            new Jodit("#instructions-{{ data.uniqueId }}", {
                toolbarAdaptive: false,
                buttons: "bold,strikethrough,underline,italic,eraser,|,ul,ol,|,outdent,indent,|,font,fontsize,brush,paragraph,copyformat,preview"
            })

        </script>

    {% elseif input_type == 'place' %}
        {% set addressValue = session.place is defined and session.place is not null ? session.place : "" %}
        {% set sessionValue = key is defined and key is not null ? key : 0 %}

        <label for="address[{{ data.uniqueId }}]">{{ "admin.interventions.create.step2.place"|trans }}</label>
        <div class="input-group">
            <input id="address[{{ data.uniqueId }}]" class="form-control" type="text" value="{{ addressValue }}" name="module[{{ data.uniqueId }}][session][{{ sessionValue }}][place]" required/>
            <div class="input-group-append">
            <span class="input-group-text">
                <i class="fal fa-address-card"></i>
            </span>
            </div>
        </div>
    {% elseif input_type == 'address' %}
        {% set cityValue = session.address is defined and session.address is not null ? session.address : "" %}
        {% set sessionValue = key is defined and key is not null ? key : 0 %}
        <label for="city[{{ data.uniqueId }}]">{{ "admin.interventions.create.step2.address"|trans }}</label>
        <div class="input-group">
            <input value="{{ cityValue }}" type="search" data-id-string="city_{{ data.uniqueId }}" id="city_{{ data.uniqueId }}_{{ sessionValue }}" name="module[{{ data.uniqueId }}][session][{{ sessionValue }}][address]" class="form-control" required />
            <input type="hidden" id="uniqueIdNumber" name="uniqueIdNumberForAutoComplete" value="{{ data.uniqueId }}"/>
        </div>
        <script>
            var placesAutocomplete = places({
                appId: 'plCXL3O26KYC',
                apiKey: 'dfbcd0ff009d87b963b11e5abbdb2d9d',
                container: document.querySelector('#city_{{ data.uniqueId }}_{{ sessionValue }}')
            });

            var $address = document.querySelector('#city_{{ data.uniqueId }}_{{ sessionValue }}')
            placesAutocomplete.on('change', function(e) {
                $address.value = e.suggestion.value
            });

            placesAutocomplete.on('clear', function() {
                $address.value = 'none';
            });
        </script>
    {% elseif input_type == 'town' %}
        {% set townValue = session.town is defined and session.town is not null ? session.town : "" %}
        {% set sessionValue = key is defined and key is not null ? key : 0 %}

        <label for="town[{{ data.uniqueId }}]">{{ "admin.interventions.create.step2.city"|trans }}</label>
        <div class="input-group">
            <input id="town[{{ data.uniqueId }}]" class="form-control" type="text" value="{{ townValue }}" name="module[{{ data.uniqueId }}][session][{{ sessionValue }}][town]" required/>
            <div class="input-group-append">
            <span class="input-group-text">
                <i class="fal fa-address-card"></i>
            </span>
            </div>
        </div>
    {% elseif input_type == 'country' %}
        {% set countryValue = session.country is defined and session.country is not null ? session.country : "" %}
        {% set sessionValue = key is defined and key is not null ? key : 0 %}

        <label for="address[{{ data.uniqueId }}]">{{ "admin.interventions.create.step2.country"|trans }}</label>
        <div class="input-group">
            <input id="country[{{ data.uniqueId }}]" class="form-control" type="text" value="{{ countryValue }}" name="module[{{ data.uniqueId }}][session][{{ sessionValue }}][country]" required/>
            <div class="input-group-append">
            <span class="input-group-text">
                <i class="fal fa-address-card"></i>
            </span>
            </div>
        </div>
    {% elseif input_type == 'quiz_score' %}
        <label class="showHideQuiz{{ data.uniqueId }}" for="score[{{ data.uniqueId }}]">{{ 'admin.interventions.create.step2.min_score'|trans }}</label>
        <div class="input-group showHideQuiz{{ data.uniqueId }}">
            {% set minScore = data.minScore is defined and data.minScore is not null ? data.minScore : 0 %}
            <input id="score[{{ data.uniqueId }}]"
                   class="form-control"
                   type="number"
                   min="0"
                   max="100"
                   value="{% if minScore != 0 %}{{ minScore }}{% else %}50{% endif %}"
                   name="module[{{ data.uniqueId }}][min_score]" required/>
        </div>
    {% elseif input_type == 'best_practice_score' %}
        <label class="" for="best_practice_score[{{ data.uniqueId }}]">{{ 'Minimum score to be considered as Best Practice'|trans }}</label>
        <div class="input-group">
            {% set bestPracticeScore = data.bestPracticeScore is defined and data.bestPracticeScore is not null ? data.bestPracticeScore : 0 %}
            <input id="best_practice_score[{{ data.uniqueId }}]"
                   class="form-control"
                   type="number"
                   min="0"
                   max="100"
                   value="{% if bestPracticeScore != 0 %}{{ bestPracticeScore }}{% else %}50{% endif %}"
                   name="module[{{ data.uniqueId }}][best_practice_score]" required/>
        </div>
    {% elseif input_type == 'elearningScore' %}
        <label > Score to pass</label>
        <div class="input-group">
            {% set minScore = data.elearningScore is defined and data.elearningScore is not null ? data.elearningScore : 0 %}
            <input id="elearningScore{{ data.uniqueId }}"
                   class="form-control"
                   type="number"
                   min="0"
                   max="100"
                   value="{% if minScore != 0 %}{{ minScore }}{% else %}80{% endif %}"
                   name="module[{{ data.uniqueId }}][elearningScore]" />
        </div>
    {% elseif input_type == 'signature' %}
        {{ 'admin.interventions.create.step1.do_you_need_the_signature' | trans }}
        <div class="form-check">
            <label class="form-check-label">
                <input class="form-check-input signature" type="radio" name="module[{{ data.uniqueId }}][signature]" value="1" {% if data.signature is not empty and data.signature == 1 %}checked {% elseif data.signature is empty %} checked {% endif %}>{{ 'global.yes'|trans }}
                <span class="circle"><span class="check"></span></span>
            </label>
        </div>
        <div class="form-check">
            <label class="form-check-label">
                <input class="form-check-input signature" type="radio" name="module[{{ data.uniqueId }}][signature]" value="0" {% if data.signature is not empty and data.signature == 0 %}checked{% endif %}> {{ 'global.no'|trans }}
                <span class="circle"><span class="check"></span></span>
            </label>
        </div>
    {% elseif input_type == 'signatureNumber' %}
        <div class="row">
            <div class="col-md-4">
                <label for="signatureNumber[{{ data.uniqueId }}]">Signature</label><br>
                <input id="signatureNumber[{{ data.uniqueId }}]"
                       class="form-control signatureNumber"
                       type="number"
                       value="{{ data.signatureNumber }}"
                       name="module[{{ data.uniqueId }}][signatureNumber]" required/>
            </div>
            <div class="col-md-8 pad-t-20" data-unique-id="{{ data.uniqueId }}">
                {% if (data['signatures']) %}
                    {% for signature in data['signatures'] %}
                        <input placeholder="{{ 'global.ex_label_signature'|trans }} #{{ loop.index }}" class="mt-1 col-md-12 font-size-11" type="text" value="{{ signature['signatureName'] }}" name="module[{{ data.uniqueId }}][signatures][{{ loop.index - 1 }}][signatureName]" required />
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    {#{% elseif input_type == 'signatureAfternoon' %}
        <label for="signatureAfternoon[{{ data.uniqueId }}]">Signature afternoon</label>
        <div class="input-group">
            <input id="signatureAfternoon[{{ data.uniqueId }}]"
                   class="form-control"
                   type="number"
                   value="{{ data.signatureAfternoon }}"
                   name="module[{{ data.uniqueId }}][signatureAfternoon]" required/>
        </div>#}
    {% elseif input_type == 'minScore' %}
        <label for="minScore[{{ data.uniqueId }}]">{{ 'admin.interventions.create.step1.min_score' | trans }}</label>
        <div class="input-group">
            <input id="minScore[{{ data.uniqueId }}]"
                   class="form-control"
                   type="number"
                   value="{{ data.minScore }}"
                   name="module[{{ data.uniqueId }}][minScore]" required/>
        </div>
    {% elseif input_type == 'duration' %}
        <label for="hourDuration[{{ data.uniqueId }}]">
            {{ 'admin.interventions.create.step1.duration' | trans }}
        </label>
        <div class="duration-group">
            {% set durationHoursVale =  data.hours is defined and data.hours is not null ? data.hours : 0 %}
            <input id="hourDuration[{{ data.uniqueId }}]"
                   class="form-control"
                   type="number"
                   min="0"
                   max="24"
                   value="{{ durationHoursVale }}"
                   data-style="select-with-transition" name="module[{{ data.uniqueId }}][durationHours]" required/>
            <span>:</span>
            {% set durationMinutesVale =  data.minutes is defined and data.minutes is not null ? data.minutes : 0 %}
            <input id="minDuration[{{ data.uniqueId }}]"
                   class="form-control"
                   type="number"
                   min="0"
                   max="60"
                   value="00"
                   data-style="select-with-transition" name="module[{{ data.uniqueId }}][durationMinutes]" required/>
        </div>

    {% elseif input_type == 'participants' %}
        {% set participant = session.participants is defined and session.participants is not null ? session.participants : 1 %}
        <label for="participants[{{ data.uniqueId }}]">{{ 'table.interventions.participant_number_min'|trans }}</label>
        <input id="participants[{{ data.uniqueId }}]" class="form-control" type="number" min="1" max="100"
               name="module[{{ data.uniqueId }}][session][{{ key }}][participants]" value="{{ participant }}" required/>




    {% elseif input_type == 'participants_max' %}
        {% set valueParticipantMaxSession = participantMaxSession is defined ? participantMaxSession : 1 %}
        {% set participants_max = session.participants_max is defined and session.participants_max is not null ? session.participants_max : valueParticipantMaxSession %}
        <label for="participants[{{ data.uniqueId }}]">{{ 'table.interventions.participant_number_max'|trans }}</label>
        <input id="participants[{{ data.uniqueId }}]" class="form-control" type="number" min="1" max="100"
               name="module[{{ data.uniqueId }}][session][{{ key }}][participants_max]" value="{{ participants_max }}"
               required/>



        {% elseif input_type == 'session_time' %}
            {% set sessionTime = session.session_time_finish is defined and session.session_time_finish is not null ? session.session_time_finish : "" %}
            <p class="session_time">{{ sessionTime }}</p>
            <input type="hidden" class="session_time_hidden"
                   name="module[{{ data.uniqueId }}][session][{{ key }}][session_time_finish]"
                   value="{{ sessionTime }}">

        {% elseif input_type == 'isNeedReportAnimation' %}
        Trainer report needed?
        <div class="form-check">
            <label class="form-check-label">
                <input class="form-check-input isNeedReportAnimation{{ data.uniqueId }}" type="radio" name="module[{{ data.uniqueId }}][isNeedReport]" value="1" {% if data.isNeedReport is not empty and data.isNeedReport == 1 %}checked {% elseif data.isNeedReport is empty %} checked {% endif %}>{{ 'global.yes'|trans }}
                <span class="circle">
                                  <span class="check"></span>
                                </span>
            </label>
        </div>
        <div class="form-check">
            <label class="form-check-label">
                <input class="form-check-input isNeedReportAnimation{{ data.uniqueId }}" type="radio" name="module[{{ data.uniqueId }}][isNeedReport]"  {% if data.isNeedReport is not empty and data.isNeedReport == 0 %}checked{% endif %} value="0"> {{ 'global.no'|trans }}
                <span class="circle">
                                  <span class="check"></span>
                                </span>
            </label>
        </div>

        <script>
            $( document ).ready(function() {
                $('.isNeedReportAnimation{{ data.uniqueId }}').change(function() {
                    if (this.value == 1) {
                        $(".divUploadReportAnimation{{ data.uniqueId }}").removeClass('d-none');
                    }
                    else if (this.value == 0) {
                        $(".divUploadReportAnimation{{ data.uniqueId }}").addClass('d-none');
                    }
                });
            });
        </script>

        {% elseif input_type == 'isNeedReport' %}
        {{ 'admin.interventions.create.step1.do_you_need_the_report_by_trainer' | trans }}
            <div class="form-check">
                <label class="form-check-label">
                    <input class="form-check-input isNeedReport{{ data.uniqueId }}" type="radio" name="module[{{ data.uniqueId }}][isNeedReport]" value="1" {% if data.isNeedReport is not empty and data.isNeedReport == 1 %}checked {% elseif data.isNeedReport is empty %} checked {% endif %}>{{ 'global.yes'|trans }}
                    <span class="circle">
                                  <span class="check"></span>
                                </span>
                </label>
            </div>
            <div class="form-check">
                <label class="form-check-label">
                    <input class="form-check-input isNeedReport{{ data.uniqueId }}" type="radio" name="module[{{ data.uniqueId }}][isNeedReport]"  {% if data.isNeedReport is not empty and data.isNeedReport == 0 %}checked{% endif %} value="0"> {{ 'global.no'|trans }}
                    <span class="circle">
                                  <span class="check"></span>
                                </span>
                </label>
            </div>

        <script>
            $( document ).ready(function() {
                $('.isNeedReport{{ data.uniqueId }}').change(function() {
                    if (this.value == 1) {
                        $(".divUploadReport{{ data.uniqueId }}").removeClass('d-none');
                    }
                    else if (this.value == 0) {
                        $(".divUploadReport{{ data.uniqueId }}").addClass('d-none');
                    }
                });
            });
        </script>
        {% elseif input_type == 'isNeedScoreToPass' %}
            Score To Pass needed?
            <div class="form-check">
                <label class="form-check-label">
                    <input class="form-check-input isNeedScoreToPass{{ data.uniqueId }}" type="radio" name="module[{{ data.uniqueId }}][isNeedScoreToPass]" value="1" {% if data.isNeedScoreToPass is not empty and data.isNeedScoreToPass == 1 %}checked {% elseif data.isNeedScoreToPass is empty %} checked {% endif %}>{{ 'global.yes'|trans }}
                    <span class="circle">
                      <span class="check"></span>
                    </span>
                </label>
            </div>
            <div class="form-check">
                <label class="form-check-label">
                    <input class="form-check-input isNeedScoreToPass{{ data.uniqueId }}" type="radio" name="module[{{ data.uniqueId }}][isNeedScoreToPass]"  {% if data.isNeedScoreToPass is not empty and data.isNeedScoreToPass == 0 %}checked{% endif %} value="0"> {{ 'global.no'|trans }}
                    <span class="circle">
                      <span class="check"></span>
                    </span>
                </label>
            </div>

            <script>

                $( document ).ready(function() {
                    $('.isNeedScoreToPass{{ data.uniqueId }}').change(function() {
                        if (this.value == 1) {
                            $(".divScoreToPass{{ data.uniqueId }}").removeClass('d-none');
                        }
                        else if (this.value == 0) {
                            $(".divScoreToPass{{ data.uniqueId }}").addClass('d-none');
                        }
                    });
                    {% if data.isNeedScoreToPass is not empty and data.isNeedScoreToPass == 0 %}
                        $(".divScoreToPass{{ data.uniqueId }}").addClass('d-none');
                    {% endif %}
                });
            </script>
    {% elseif input_type == 'isPersonalBooking' %}
        {{ 'admin.interventions.create.step1.allow_personal_booking' | trans }}
        <div class="form-check">
            <label class="form-check-label">
                <input class="form-check-input isPersonalBooking" type="radio" name="module[{{ data.uniqueId }}][isPersonalBooking]" value="1" {% if data.isPersonalBooking is not empty and data.isPersonalBooking == 1 %}checked {% elseif data.isPersonalBooking is empty %} checked {% endif %}>{{ 'global.yes'|trans }}
                <span class="circle"><span class="check"></span></span>
            </label>
        </div>
        <div class="form-check">
            <label class="form-check-label">
                <input class="form-check-input isPersonalBooking" type="radio" name="module[{{ data.uniqueId }}][isPersonalBooking]" value="0" {% if data.isPersonalBooking is not empty and data.isPersonalBooking == 0 %}checked{% endif %}> {{ 'global.no'|trans }}
                <span class="circle"><span class="check"></span></span>
            </label>
        </div>

    {% elseif input_type == 'isCompleted' %}
        {% set sessionValue = key is defined and key is not null ? key : 0 %}
        <div class="form-check">
            <label for="isCompleted[{{ data.uniqueId }}]_{{ sessionValue }}" class="form-check-label">
                <input id="isCompleted[{{ data.uniqueId }}]_{{ sessionValue }}" class="form-check-input isCompleted" type="radio" name="module[{{ data.uniqueId }}][session][{{ key }}][isCompleted]" value="1"
                       {% if session is defined and session.isCompleted is defined and session.isCompleted is not empty and session.isCompleted == 1 %}checked {% elseif session is defined and session.isCompleted is defined and session.isCompleted is empty %} checked {% endif %}>{{ 'global.yes'|trans }}
                <span class="circle"><span class="check"></span></span>
            </label>
        </div>
        <div class="form-check">
            <label for="isNotCompleted[{{ data.uniqueId }}]_{{ sessionValue }}" class="form-check-label">
                <input id="isNotCompleted[{{ data.uniqueId }}]_{{ sessionValue }}" class="form-check-input isCompleted" type="radio" name="module[{{ data.uniqueId }}][session][{{ key }}][isCompleted]" value="0"
                       {% if session is defined and session.isCompleted is defined and session.isCompleted is not empty and session.isCompleted == 0 %}checked{% endif %}> {{ 'global.no'|trans }}
                <span class="circle"><span class="check"></span></span>
            </label>
        </div>
    {% elseif input_type == 'scoreToPass' %}
        {% set sessionValue = key is defined and key is not null ? key : 0 %}
        <div class="form-check">
            <label for="isScoreToPass[{{ data.uniqueId }}]_{{ sessionValue }}" class="form-check-label">
                <input id="isScoreToPass[{{ data.uniqueId }}]_{{ sessionValue }}" class="form-check-input scoreToPass score-to-pass-check-yes" session-value="{{ key }}" type="radio" name="module[{{ data.uniqueId }}][session][{{ key }}][scoreToPass]"
                       value="1" {% if session is defined and session.scoreToPass is defined and session.scoreToPass is not empty and session.scoreToPass == 1 %}checked
                        {% elseif session is defined and session.scoreToPass is defined and session.scoreToPass is empty %} checked {% endif %}>{{ 'global.yes'|trans }}
                <span class="circle"><span class="check"></span></span>
            </label>
        </div>
        <div class="form-check">
            <label for="isNotScoreToPass[{{ data.uniqueId }}]_{{ sessionValue }}" class="form-check-label">
                <input id="isNotScoreToPass[{{ data.uniqueId }}]_{{ sessionValue }}" class="form-check-input scoreToPass score-to-pass-check-no" session-value="{{ key }}" type="radio" name="module[{{ data.uniqueId }}][session][{{ key }}][scoreToPass]"
                       value="0" {% if session.scoreToPass is defined and session.scoreToPass is not empty and session.scoreToPass == 0 %}checked{% endif %}> {{ 'global.no'|trans }}
                <span class="circle"><span class="check"></span></span>
            </label>
        </div>

    {% elseif input_type == 'timeSpent' %}
        {% set sessionValue = key is defined and key is not null ? key : 0 %}
        <div class="form-check">
            <label for="isTimeSpent[{{ data.uniqueId }}]_{{ sessionValue }}" class="form-check-label">
                <input id="isTimeSpent[{{ data.uniqueId }}]_{{ sessionValue }}" class="form-check-input timeSpent time-spent-check-yes" session-value="{{ key }}" type="radio" name="module[{{ data.uniqueId }}][session][{{ key }}][timeSpentCheck]"
                       value="1" {% if session is defined and session.scoreToPass is defined and session.scoreToPass is not empty and session.scoreToPass == 1 %}checked
                        {% elseif session is defined and session.scoreToPass is defined and session.scoreToPass is empty %} checked {% endif %}>{{ 'global.yes'|trans }}
                <span class="circle"><span class="check"></span></span>
            </label>
        </div>
        <div class="form-check">
            <label for="isNotTimeSpent[{{ data.uniqueId }}]_{{ sessionValue }}" class="form-check-label">
                <input id="isNotTimeSpent[{{ data.uniqueId }}]_{{ sessionValue }}" class="form-check-input timeSpent time-spent-check-no" session-value="{{ key }}" type="radio" name="module[{{ data.uniqueId }}][session][{{ key }}][timeSpentCheck]"
                       value="0" {% if session.scoreToPass is defined and session.scoreToPass is not empty and session.scoreToPass == 0 %}checked{% endif %}> {{ 'global.no'|trans }}
                <span class="circle"><span class="check"></span></span>
            </label>
        </div>
        {% set timeSpent = session.timeSpent is defined and session.timeSpent is not null ? session.timeSpent : 1 %}
        <input id="timeSpent[{{ data.uniqueId }}]_{{ sessionValue }}" class="form-control time-spent-number-{{ key }}" type="number" min="1" max="100"
               name="module[{{ data.uniqueId }}][session][{{ key }}][timeSpent]" value="{{ timeSpent }}" required/>

    {% elseif input_type == 'operationOne' %}
        {% set sessionValue = key is defined and key is not null ? key : 0 %}
        <div class="form-check operation-one-block-{{ key }}">
            <label for="operationOne[{{ data.uniqueId }}]_{{ sessionValue }}" class="form-check-label">
                <input id="operationOne[{{ data.uniqueId }}]_{{ sessionValue }}" class="form-check-input operationOne" type="radio" name="module[{{ data.uniqueId }}][session][{{ key }}][operationOne]"
                       value="and" {% if session.operationOne is defined and session.operationOne is not empty and session.operationOne == 'and' %}checked{% endif %}> {{ 'global.and'|trans|upper }}
                <span class="circle"><span class="check"></span></span>
            </label>
        </div>
        <div class="form-check operation-one-block-{{ key }}">
            <label for="notOperationOne[{{ data.uniqueId }}]_{{ sessionValue }}" class="form-check-label">
                <input id="notOperationOne[{{ data.uniqueId }}]_{{ sessionValue }}" class="form-check-input operationOne" type="radio" name="module[{{ data.uniqueId }}][session][{{ key }}][operationOne]"
                       value="or" {% if session is defined and session.operationOne is defined and session.operationOne is not empty and session.operationOne == 'or' %}checked
                        {% elseif session is defined and session.operationOne is defined and session.operationOne is empty %} checked {% endif %}>{{ 'global.or'|trans|upper }}
                <span class="circle"><span class="check"></span></span>
            </label>
        </div>

    {% elseif input_type == 'operationTwo' %}
        {% set sessionValue = key is defined and key is not null ? key : 0 %}
        <div class="form-check operation-two-block-{{ key }}">
            <label for="operationTwo[{{ data.uniqueId }}]_{{ sessionValue }}" class="form-check-label">
                <input id="operationTwo[{{ data.uniqueId }}]_{{ sessionValue }}" class="form-check-input operationTwo" type="radio" name="module[{{ data.uniqueId }}][session][{{ key }}][operationTwo]"
                       value="and" {% if session.operationTwo is defined and session.operationTwo is not empty and session.operationTwo == 'and' %}checked{% endif %}> {{ 'global.and'|trans|upper }}
                <span class="circle"><span class="check"></span></span>
            </label>
        </div>
        <div class="form-check operation-two-block-{{ key }}">
            <label for="notOperationTwo[{{ data.uniqueId }}]_{{ sessionValue }}" class="form-check-label">
                <input id="notOperationTwo[{{ data.uniqueId }}]_{{ sessionValue }}" class="form-check-input operationTwo" type="radio" name="module[{{ data.uniqueId }}][session][{{ key }}][operationTwo]"
                       value="or" {% if session is defined and session.operationTwo is defined and session.operationTwo is not empty and session.operationTwo == 'or' %}checked
                        {% elseif session is defined and session.operationTwo is defined and session.operationTwo is empty %} checked {% endif %}>{{ 'global.or'|trans|upper }}
                <span class="circle"><span class="check"></span></span>
            </label>
        </div>
    {% elseif input_type == 'weightNumber'%}
        {% set sessionValue = key is defined and key is not null ? key : 0 %}
        <label for="weightNumber_{{ data.uniqueId }}">
            {{ 'admin.interventions.create.step2.weight' | trans }}
        </label>
        {% set weightNumber = session.weightNumber is defined and session.weightNumber is not null ? session.weightNumber : 1 %}
        <input id="weightNumber[{{ data.uniqueId }}]_{{ sessionValue }}" type="number" min="1" max="100"
           name="module[{{ data.uniqueId }}][session][{{ key }}][weightNumber]" value="{{ weightNumber }}" required/>
    {% endif %}
</div>
