{% extends "base.html.twig" %}

{% block pagename %}{{ 'admin.profile.administrator_profile_update'|trans }}{% endblock %}


{% block body %}
<style>
    .icon-box__icon-wrapper{
        width: 150px;
        height: 150px;
        border-radius: 50%;
        margin: auto!important;
        background-color: #0076fe;
    }
    .trainer-avatar {
        width: unset !important;
        height: unset !important;
    }
    .select2 {
        border-bottom: 1px solid #ddd;
        padding: 0px;
        margin-top: -2px;
    }

</style>

<div class="col-md-12 no-padding">
    <ul class="nav nav-pills no-padding marg-t-15 marg-b-15 justify-content-center" role="tablist">
        <li class="nav-item">
            <a class="nav-link active bold" data-toggle="tab" href="#profile" id="btnProfile" role="tablist">
                {{ 'admin.profile.title'|trans }}
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link bold" data-toggle="tab" href="#organization"  id="btnOrganization" role="tablist">
                {{ 'admin.profile.org'|trans }}
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link bold" data-toggle="tab" href="#account"  id="btnAccount" role="tablist">
                {{ 'account.title'|trans }}
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link bold" data-toggle="tab" href="#workingHour"  id="btnWorkingHour" role="tablist">
                {{ 'trainers.planning.nav.working_hours'|trans }}
            </a>
        </li>
    </ul>
</div>
<form enctype="multipart/form-data" action="{{ path('admin_profile_save') }}" method="post">
    <div class="row">
        <div class="col-md-12 no-padding">
            <div class="tab-content tab-space no-padding">
                <div class="tab-pane active " id="profile">
                    <div class="row">
                        <div class="col-md-3 no-padding-left pad-t-40 text-center" >
                            {% if profile.avatar is defined and profile.avatar is not null %}
                                <div class="trainer-avatar image-holder" id="trainer-avatar"  >
                                    <img class="border-radius-50" width="150" height="150" src="{{ profile.avatar }}" alt="">
                                </div>
                            {% else %}
                                <div id="trainer-avatar" class="trainer-avatar">
                                    {{ include('molecules/tools/new-icon-box.html.twig', { icon: 'user', txt: '' }) }}
                                </div>
                            {% endif %}

                            <div class="form-group no-padding no-margin">
                                <label for="avatarFileTrainer" class="pointer btn pad-5 btn-avatar" >
                                    <i  class="font-size-12 text-white fa fa-camera no-margin"></i>
                                    <p class="no-margin font-size-12 text-white no-padding" >Change</p>
                                </label>

                                <input id="avatarFileTrainer"
                                       type="file"
                                       name="avatarFile"
                                       data-type="avatar"
                                       data-profile-id="{{ profile.id }}"
                                       class="inputUploadPublicFile"
                                       multiple/>

                            </div>
                            <div class=" pad-t-5 text-center">
                                {% if profile.avatar is defined and profile.avatar is not null %}
                                    <a data-toggle="modal" href="#deleteFile" class="deleteProfileFile text-gray" data-file-type="avatar">Delete photo</a>
                                {% endif %}
                            </div>
                        </div>

                        <div class="col-md-9 pad-t-20 marg-t-0 card">
                            <div class="row">
                                <div class="col-md-6">
                                    <label class="col-form-label required bmd-label-static">{{ 'global.firstname'|trans }}</label>
                                    <div class="form-group  has-success bmd-form-group">
                                        <input required type="text" class="form-control" name="firstName" value="{{ profile.firstName | default('') }}">
                                        <span class="form-control-feedback">
                                        <i class="fa fa-pencil color-header"></i>
                                    </span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <label class="col-form-label required bmd-label-static">{{ 'global.lastname'|trans }}</label>
                                    <div class="form-group  has-success bmd-form-group">
                                        <input required type="text" class="form-control" name="lastName" value="{{ profile.lastName | default('') }}">
                                        <span class="form-control-feedback">
                                        <i class="fa fa-pencil color-header"></i>
                                    </span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <label class="col-form-label  bmd-label-static">{{ 'global.phone'|trans }}</label>
                                    <div class="form-group  has-success bmd-form-group">
                                        <input  type="text" class="form-control" name="fixedPhone" value="{{ profile.fixedPhone | default('') }}">
                                        <span class="form-control-feedback">
                                        <i class="fa fa-pencil color-header"></i>
                                    </span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <label class="col-form-label required bmd-label-static">{{ 'global.mobile'|trans }}</label>
                                    <div class="form-group  has-success bmd-form-group">
                                        <input type="text" required class="form-control" name="mobilePhone" value="{{ profile.mobilePhone | default('') }}">
                                        <span class="form-control-feedback">
                                        <i class="fa fa-pencil color-header"></i>
                                    </span>
                                    </div>
                                </div>
                                <div class="col-md-12 marg-t-30 marg-b-10">
                                    <input type="hidden" class="form-check-input" name="id" value="{{ person.id }}">
                                    <button type="submit" class="btn btn-block btn-deepmark float-right">{{ 'buttons.update'|trans }}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                 </div>
                <div class="tab-pane " id="organization">
                    <div class="row">
                        <div class="col-md-6 profile no-padding-left pad-r-10">
                            <div class="pad-t-10 card no-margin min-height-350">
                                <h3 class="no-margin text-center color-header">{{ 'global.organisation'|trans }}</h3>
                                <div class="row pad-t-20 pad-b-20">
                                    <div class="form-group col-md-6">
                                        <label class="col-form-label required bmd-label-static">{{ 'global.organisation'|trans }}</label>
                                        <input disabled type="text" class="form-control" value="{{ profile.entity.organisation.designation | default('') }}">
                                    </div>
                                    <div class="form-group col-md-6 bmd-form-group is-filled">
                                        <label class="col-form-label required bmd-label-static">{{ 'global.entity'|trans }}</label>
                                        {# <input type="text" class="form-control" value="{{ profile.entity.designation | default('') }}"> #}
                                        <select disabled name="entity" id="entity" class="form-control select2">
                                            {% if entities %}
                                                {% for entity in entities %}
                                                    <option {% if profile.entity is not null  %} {{ profile.entity.id == entity.id ? 'selected' : '' }}  {% endif %} value="{{ entity.id }}">{{ entity.designation }}</option>
                                                {% endfor %}
                                            {% endif %}
                                        </select>
                                    </div>
                                    <div class="form-group col-md-6 bmd-form-group is-filled">
                                        <label class="col-form-label bmd-label-static">{{ 'global.region'|trans }}</label>

                                        <select disabled name="regional" id="regional" class="form-control select2">
                                        </select>
                                    </div>
                                    <div class="form-group col-md-6 bmd-form-group is-filled">
                                        <label class="col-form-label bmd-label-static">{{ 'global.group'|trans }}</label>
                                        <select disabled name="group" id="group" class="select2 form-control">
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 profile no-padding-right pad-l-10">
                            <div class="card pad-t-10 no-margin  min-height-350">
                                <h3 class="no-margin text-center color-header">{{ 'global.workplace'|trans }}</h3>
                                <div class="row pad-t-20 pad-b-20">
                                    <div class="form-group col-md-6 bmd-form-group is-filled">
                                        <label class="col-form-label required bmd-label-static">{{ 'select.denomination'|trans }}</label>
                                        <select disabled name="workplace" id="workplace" class="select2 form-control">
                                        </select>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label class="col-form-label required bmd-label-static">{{ 'select.address'|trans }}</label>
                                        <input disabled type="text" class="form-control" id="street" value="{{ profile.entity.street | default('') }}">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label class="col-form-label required bmd-label-static">{{ 'select.additional_address'|trans }}</label>
                                        <input disabled type="text" class="form-control" id="expansionStreet" value="{{ profile.entity.expansionStreet | default('') }}">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label class="col-form-label required bmd-label-static">{{ 'select.postal_code'|trans }}</label>
                                        <input disabled type="text" class="form-control" id="postalCode" value="{{ profile.entity.postalCode | default('') }}">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label class="col-form-label required bmd-label-static">{{ 'select.city'|trans }}</label>
                                        <input disabled type="text" class="form-control" id="city" value="{{ profile.entity.city | default('') }}">
                                    </div>
                                    <div class="form-group col-md-6 bmd-form-group is-filled">
                                        <label class="col-form-label required bmd-label-static">{{ 'select.country'|trans }}</label>
                                        <input disabled type="text" class="form-control" id="country" value="{{ profile.entity.country | default('') }}">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="tab-pane card no-margin" id="account">
                    <div class="row pad-t-20 pad-b-20">
                        <div class="form-group col-md-6">
                            <label class="col-form-label required bmd-label-static">{{ 'global.email'|trans }}</label>
                            <input type="text" class="form-control" disabled name="email_temp" value="{{ person.email | default('') }}">
                        </div>
                        <div class="form-group col-md-6">
                            <label class="col-form-label required bmd-label-static">{{ 'admin.profile.password'|trans }}</label>
                            <div class="row">
                                <div class="col-10 no-padding">
                                    <input type="password" disabled name ="password" class="form-control">
                                </div>
                                <div class="col-2">
                                    <a href="#editPass" data-toggle="modal" class="fa fa-pencil color-header"></a>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label class="col-form-label bmd-label-static">{{ 'global.status_account'|trans }}</label>
                            <select disabled id="statusActive" name="statusActive" class="form-control select2" >
                                <option {{ person is defined and person.enabled == 1 ? 'selected' : '' }} value="1">Active</option>
                                <option {{ person is defined and (person.enabled == 0 or person.enabled == null)  ? 'selected' : '' }} value="0">Inactive</option>
                            </select>
                        </div>

                        <div class="form-group col-md-6">
                            <label class="col-form-label bmd-label-static">{{ 'global.create_at'|trans }}</label>
                            <input disabled type="text" class="form-control" value="{{ profile.creationDate | date('d/m/Y')  | default('') }}">
                        </div>
                        <div class="form-group col-md-6">
                            <label class="col-form-label bmd-label-static">{{ 'global.last_login'|trans }}</label>
                            <input disabled type="text" class="form-control" value="{{ 'now'|date('d/m/Y h:m') }}">
                        </div>
                        <div class="form-group col-md-6 bmd-form-group is-filled">
                            <label class="col-form-label bmd-label-static">{{ 'global.time_zone'|trans }}</label>
                            <select id="time_zone_id" name="time_zone_id" class="form-control max-width-100 height-36">
                                {% if timeZones %}
                                    {% for timeZone in timeZones %}
                                        {% if person.timeZone is not null %}
                                            <option {{ person.timeZone.id == timeZone.id ? 'selected' : '' }}
                                                    value="{{ timeZone.id }}">{{ timeZone.timeZone }}</option>
                                        {% else %}
                                            <option value="{{ timeZone.id }}">{{ timeZone.timeZone }}</option>
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                            </select>
                        </div>
                    </div>

                </div>
                <div class="tab-pane card no-margin " id="workingHour">
                    {% set isNewWorkingHours = profile.workingHours ? 1 : 0 %}
                    {{ include('molecules/modal/recurring-availability.html.twig', { modal: '0', organisation: profile.workingHours is not null ? profile : profile.entity, isNew: isNewWorkingHours, entityWorkingHours: profile.entity.workingHours }) }}
                </div>
            </div>
        </div>
    </div>
</form>
<div id="editPass" class="modal fade col-md-12" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-xs" role="document">
        <div class="modal-content">
            <form action="{{ path('admin_profile_save_pass') }}" method="post">
                <div class="modal-header">
                    <h4 class="modal-title no-margin">{{ 'global.change_password'|trans|upper }}</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body marg-t-15">
                    <div class="form-group col-md-12 no-padding bg-password" >
                        <div class="row marg-t-20">
                            <div class="col-2 flex--center">
                                <span  class="fa fa-lock"></span>
                            </div>
                            <div class="col-8 no-padding">
                                <input id="password"  required placeholder="{{ 'admin.profile.password'|trans }}" type="password" class="form-control border-0" name="password" value="">
                            </div>
                            <div class="col-2 flex--center">
                                <span toggle="#password" class="fa fa-fw fa-eye pointer field-icon toggle-password"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-md-12  no-padding bg-password">
                        <div class="row marg-t-20">
                            <div class="col-2 flex--center">
                                <span  class="fa fa-lock"></span>
                            </div>
                            <div class="col-8 no-padding">
                                <input required id="repeatPassword" type="password" placeholder="{{ 'admin.profile.rp_password'|trans }}" class="form-control" name="rpPassword" value="">

                            </div>
                            <div class="col-2 flex--center">
                                <span toggle="#repeat-password" class="fa fa-fw fa-eye pointer field-icon toggle-repeat-password"></span>
                            </div>
                        </div>
                    </div>
                    <span id='messageRepeatPassword'></span>

                    <input type="hidden" name="profileId" value="{{ profile.id }}">
                    <input type="hidden" class="form-check-input" name="id" value="{{ person.id }}">
                    <div class="col-md-12 marg-t-15">
                        <button id="btn-dispo-confirm" type="submit" name="button"
                                class="btn btn-block btn-deepmark">{{ 'buttons.confirm'|trans }}</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>

        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#logoPreview').attr('src', e.target.result);
                };

                reader.readAsDataURL(input.files[0]);
            }
        }
        function repeatTime() {
            let startTime = $('#startTime-Monday').val();
            let endTime = $('#endTime-Monday').val();

            let startTimeAfternoon = $('#startTimeAfternoon-Monday').val();
            let endTimeAfternoon = $('#endTimeAfternoon-Monday').val();
            $('[id^="startTime-"]').each(function () {
                $(this).val(startTime);
            });

            $('[id^="endTime-"]').each(function () {
                $(this).val(endTime);
            });

            $('[id^="startTimeAfternoon-"]').each(function () {
                $(this).val(startTimeAfternoon);
            });

            $('[id^="endTimeAfternoon-"]').each(function () {
                $(this).val(endTimeAfternoon);
            })
        }

        $(document).ready(function () {
            $('#avatarFileTrainer').on('change', function () {
                $("#trainer-avatar").empty().append('<img id="logoPreview" style="border-radius: 50%;" width="150" height="150" src="" alt="">')
                readURL(this);
            });
            $('#repeatTime').on('click', function (event) {
                event.preventDefault();
                repeatTime();
            });
            $(".toggle-password").click(function() {

                $(this).toggleClass("fa-eye fa-eye-slash");
                var input = $($(this).attr("toggle"));
                if (input.attr("type") == "password") {
                    input.attr("type", "text");
                } else {
                    input.attr("type", "password");
                }
            });
            $(".toggle-repeat-password").click(function() {

                $(this).toggleClass("fa-eye fa-eye-slash");
                var input = $($(this).attr("toggle"));
                if ($('#repeatPassword').attr("type") === "password") {
                    $('#repeatPassword').attr("type", "text");
                } else {
                    $('#repeatPassword').attr("type", "password");
                }
            });
            $('#repeatPassword, #password').on('keyup', function () {
                if (($('#password').val() == '' && $('#repeatPassword').val() == '')){
                    $('#messageRepeatPassword').html();
                    return false;
                }
                if (($('#password').val() == $('#repeatPassword').val())) {
                    $('#messageRepeatPassword').html('Matching').css('color', 'green');
                } else {
                    $('#messageRepeatPassword').html('Not Matching').css('color', 'red');
                }
            });

            // $('#entity').select2({
            //         minimumResultsForSearch: 1
            //     }
            // );
            // $('#regional').select2({
            //         minimumResultsForSearch: 1
            //     }
            // );
            // $('#group').select2({
            //         minimumResultsForSearch: -1
            //     }
            // );
            // $('#workplace').select2({
            //         minimumResultsForSearch: -1
            //     }
            // );

            // Make two field the same value
            let $email      = $('[name="email"]');
            let $email_temp = $('[name="email_temp"]');
            $email_temp.keyup(function(){
                $email.val($email_temp.val());
            });
            $email.keyup(function(){
                $email_temp.val($email.val());
            });

            $("#entity").change(function() {
                let entity_id = $(this).val();
                let regional_id = {{ profile is defined and profile.regional != null ? profile.regional.id  : 0  }};
                if(entity_id != '') {
                    $.ajax({
                        type: "POST",
                        url: '{{ path('admin_learners_entity') }}',
                        data: {"entity_id": entity_id},
                        success: function (data) {
                            $("#street").val(data.street);
                            $("#expansionStreet").val(data.expansionStreet);
                            $("#postalCode").val(data.postalCode);
                            $("#city").val(data.city);
                            $("#country").val(data.country);

                        }
                    });


                    $("#regional").empty();
                    $("#group").empty();
                    $("#workplace").empty();

                    $.ajax({
                        type: "POST",
                        url: '/admin/learners/regional',
                        data: {"entity_id": entity_id},
                        success: function (data) {
                            $.each(data, function (i, data) {
                                let selected = data.id == regional_id ? 'selected' : '';
                                $("#regional").append("<option "+ selected +" value="+data.id +" > "+ data.designation +" </option>");
                            });
                            if (data.length == 0){
                                $("#regional").append("<option></option>");
                            }
                            $("#regional").trigger('change');
                        }
                    });
                } else {
                    $("#regional").append("<option></option>");
                    $("#regional").trigger('change');
                }
            });
            $("#entity").trigger('change');

            $("#regional").change(function() {
                let regional_id = $(this).val();
                let group_id = {{ profile is defined and profile.groupOrganization != null ? profile.groupOrganization.id  : 0  }};
                if(regional_id != '') {

                    $("#group").empty();
                    $("#workplace").empty();
                    $.ajax({
                        type: "POST",
                        url: '/admin/learners/group',
                        data: {"regional_id": regional_id},
                        success: function (data) {
                            $.each(data, function (i, data) {
                                let selected = data.id == group_id ? 'selected' : '';
                                $("#group").append("<option " + selected +" value= "+data.id +" > "+ data.designation +" </option>");
                            });
                            if (data.length == 0){
                                $("#group").append("<option></option>");
                            }
                            $("#group").trigger('change');
                        }
                    });
                } else {
                    $("#group").append("<option></option>");
                    $("#group").trigger('change');
                }
            });

            $("#group").change(function() {
                let group_id = $(this).val();
                let workplace_id = {{ profile is defined and profile.workplace != null ? profile.workplace.id  : 0  }};
                if(group_id != '') {
                    $("#workplace").empty().trigger("change");
                    $.ajax({
                        type: "POST",
                        url: '/admin/learners/workplace',
                        data: {"group_id": group_id},
                        success: function (data) {
                            $.each(data, function (i, data) {
                                let selected = data.id == workplace_id ? 'selected' : '';
                                $("#workplace").append("<option " + selected +" value= "+data.id +" > "+ data.designation +" </option>");
                            });
                            if (data.length == 0){
                                $("#workplace").append("<option></option>");
                            }
                            $("#workplace").trigger('change');
                        }
                    });
                } else {
                    $("#workplace").append("<option></option>");
                    $("#workplace").trigger('change');
                }
            });

        });

    </script>

{% endblock %}
