{% extends "base.html.twig" %}

{% block pagename %}{{ 'admin.profile.title'|trans }}{% endblock %}

{% block body %}
	<div class="card card--user">
		<div class="card-header card-header-icon">
			<div class="card-icon">
				<img src="{{ asset('img/default-avatar.png') }}" alt="">
			</div>

			<a href="{{ url('admin_profile_edit') }}" class="btn btn-deepmark-orangelight btn-edit"><i class="far fa-pen"></i></a>
		</div>

		<div class="card-body">
			<div class="row">
				<div class="col-md-6">
					<h6>{{ 'admin.profile.infos'|trans }}</h6>

					<dl class="row">
						<dt class="col-sm-4 text-right">{{ 'global.lastname'|trans }}</dt>
						<dd class="col-sm-8">{{ profile.lastName | default('') }}</dd>

						<dt class="col-sm-4 text-right">{{ 'global.firstname'|trans }}</dt>
						<dd class="col-sm-8">{{ profile.firstName | default('') }}</dd>

						<dt class="col-sm-4 text-right">{{ 'global.entity'|trans }}</dt>
						<dd class="col-sm-8">{{ profile.entity | default('') }}</dd>

						<dt class="col-sm-4 text-right">{{ 'global.phone'|trans }}</dt>
						<dd class="col-sm-8">{{ profile.fixedPhone | default('') }}</dd>

						<dt class="col-sm-4 text-right">{{ 'global.mobile'|trans }}</dt>
						<dd class="col-sm-8">{{ profile.mobilePhone | default('') }}</dd>

						<dt class="col-sm-4 text-right">{{ 'global.email'|trans }}</dt>
						<dd class="col-sm-8">{{ user.email | default('') }}</dd>
						{% if profile.entity %}
							<dt class="col-sm-4 text-right">{{ 'global.entity'|trans }}</dt>
							<dd class="col-sm-8">{{ profile.entity | default('') }}</dd>
						{% endif %}

					</dl>
				</div>

				<div class="col-md-6">
					<h6>{{ 'admin.profile.rights'|trans }}</h6>

					<ul class="user-rights-list">
						<li>- {{ 'admin.profile.right_1'|trans }}</li>
						<li>- {{ 'admin.profile.right_2'|trans }}</li>
						<li>- {{ 'admin.profile.right_3'|trans }}</li>
						<li>- {{ 'admin.profile.right_4'|trans }}</li>
					</ul>

					<p>
						{{ 'admin.profile.note'|trans }}
					</p>
				</div>
			</div>

            {% if is_granted('ROLE_SUPER_ADMIN') %}
			<div class="row">
				<div class="col-12">
					<h6>{{ 'admin.profile.superadmin_rights'|trans }}</h6>

					<div class="table-responsive">
						<table class="table table-striped">
							<thead>
							<tr>
								<th>{{ 'admin.profile.org'|trans }}</th>
								<th>{{ 'admin.profile.entity'|trans }}</th>
								<th>{{ 'admin.profile.contact'|trans }}</th>
								<th>{{ 'admin.profile.level'|trans }} 1</th>
								<th>{{ 'admin.profile.level'|trans }} 2</th>
								<th>{{ 'admin.profile.level'|trans }} 3</th>
							</tr>
							</thead>

							<tbody>
							<tr>
								<td>
									<div class="img-container">
										<img src="{{ asset('img/Logo_BP-NORD.png') }}" alt="">
									</div>
								</td>

								<td>BPF</td>

								<td>
									Téléphone<br>
									Email
								</td>

								<td>
									<div class="togglebutton">
										<label>
									<input type="checkbox" checked {% if is_granted('ROLE_SUPER_ADMIN') %}{% else %}disabled{% endif %}>
											<span class="toggle"></span>
										</label>
									</div>
								</td>

								<td>
									<div class="togglebutton">
										<label>
											<input type="checkbox" {% if is_granted('ROLE_SUPER_ADMIN') %}{% else %}disabled{% endif %}>
											<span class="toggle"></span>
										</label>
									</div>
								</td>

								<td>
									<div class="togglebutton">
										<label>
											<input type="checkbox" checked {% if is_granted('ROLE_SUPER_ADMIN') %}{% else %}disabled{% endif %}>
											<span class="toggle"></span>
										</label>
									</div>
								</td>
							</tr>

							<tr>
								<td>
									<div class="img-container">
										<img src="{{ asset('img/Logo_BNP.png') }}" alt="">
									</div>
								</td>

								<td>BPF</td>

								<td>
									Téléphone<br>
									Email
								</td>

								<td>
									<div class="togglebutton">
										<label>
											<input type="checkbox"  {% if is_granted('ROLE_SUPER_ADMIN') %}{% else %}disabled{% endif %}>
											<span class="toggle"></span>
										</label>
									</div>
								</td>

								<td>
									<div class="togglebutton">
										<label>
											<input type="checkbox" checked {% if is_granted('ROLE_SUPER_ADMIN') %}{% else %}disabled{% endif %}>
											<span class="toggle"></span>
										</label>
									</div>
								</td>

								<td>
									<div class="togglebutton">
										<label>
											<input type="checkbox" checked {% if is_granted('ROLE_SUPER_ADMIN') %}{% else %}disabled{% endif %}>
											<span class="toggle"></span>
										</label>
									</div>
								</td>
							</tr>

							<tr>
								<td>
									<div class="img-container">
										<img src="{{ asset('img/Logo_BP-NORD.png') }}" alt="">
									</div>
								</td>

								<td>BPF</td>

								<td>
									Téléphone<br>
									Email
								</td>

								<td>
									<div class="togglebutton">
										<label>
											<input type="checkbox" checked {% if is_granted('ROLE_SUPER_ADMIN') %}{% else %}disabled{% endif %}>
											<span class="toggle"></span>
										</label>
									</div>
								</td>

								<td>
									<div class="togglebutton">
										<label>
											<input type="checkbox" {% if is_granted('ROLE_SUPER_ADMIN') %}{% else %}disabled{% endif %}>
											<span class="toggle"></span>
										</label>
									</div>
								</td>

								<td>
									<div class="togglebutton">
										<label>
											<input type="checkbox" {% if is_granted('ROLE_SUPER_ADMIN') %}{% else %}disabled{% endif %}>
											<span class="toggle"></span>
										</label>
									</div>
								</td>
							</tr>

							<tr>
								<td>
									<div class="img-container">
										<img src="{{ asset('img/Logo_BNP.png') }}" alt="">
									</div>
								</td>

								<td>BPF</td>

								<td>
									Téléphone<br>
									Email
								</td>

								<td>
									<div class="togglebutton">
										<label>
											<input type="checkbox" checked {% if is_granted('ROLE_SUPER_ADMIN') %}{% else %}disabled{% endif %}>
											<span class="toggle"></span>
										</label>
									</div>
								</td>

								<td>
									<div class="togglebutton">
										<label>
											<input type="checkbox" {% if is_granted('ROLE_SUPER_ADMIN') %}{% else %}disabled{% endif %}>
											<span class="toggle"></span>
										</label>
									</div>
								</td>

								<td>
									<div class="togglebutton">
										<label>
											<input type="checkbox" checked {% if is_granted('ROLE_SUPER_ADMIN') %}{% else %}disabled{% endif %}>
											<span class="toggle"></span>
										</label>
									</div>
								</td>
							</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
            {% endif %}
		</div>
	</div>
{% endblock %}
