.text-long{
  overflow: hidden;
  text-overflow:ellipsis;
  white-space: nowrap;
  display: block;
}
.font-size-10{
  font-size: 10px;
}
.score-to-pass{
  font-weight: 600;
  font-size: 13px
}
.done-box-module{
  background-color: #eee;
  margin-top:10px;
  font-size: 13px
}
.module-icon{
  background-size: cover!important;
  width: 50px!important;
  height: 50px!important;
}
.box-module{
  display: inline-flex!important;
  width:50px!important;
  height: 50px!important;
  position:relative;
}
.step-course{
  margin-left: -15px;
  margin-right: -15px;
}
.boldClass{
  font-weight: 900;
}
.curentClass{
  //box-shadow: 0 0 0 2px $deepmark;
}
.long-text{
  overflow: hidden;
  text-overflow:ellipsis;
  white-space: nowrap;
  width: 100%;
  display: block;
}
.module-li-active{
  border: 1px solid $deepmark-orangelight!important;
  border-left: 8px solid $deepmark-orangelight!important;
}
.module-li-done{
  border: 1px solid grey!important;
  border-left: 8px solid grey!important;
}
.module-li-normal{
  border: 1px solid $deepmark;
  border-left: 8px solid $deepmark!important;
}
.to-book{
  border: 2px solid #ed6565!important;
  border-left: 8px solid $deepmark!important;
}
.to-book-btn{
  border: 2px solid #ed6565!important;
}
.li-active{
  background-color: $deepmark-orangelight!important;
}
.li-done{
  background-color: grey!important;
}
.li-normal{
  background-color: $deepmark;
}
.module {
  &__logo {
    width: 140px;
    height: auto;
    padding-right: 20px;
  }
  &__header {
    display: flex;
    flex-direction: column;
    border-right: 2px solid $deepmark-lightgray;
    width: 100%;
    h2 {
      order: 2;
    }
    h3 {
      font-size: 20px;
      font-weight: 400;
      order: 1;
    }
    b {
      font-size: 20px;
    }
  }
  &__comment {
    b {
      font-size: 20px;
    }
  }
}

#continueModule {
  position: relative;
  margin: auto;
}

#startButtonWrapper {
  margin-top: 30px;
}

#detailsLabel {
  margin-top: 20px;
  color: $deepmark-mediumgray;
}

.section-title {
  color: $deepmark-mediumgray;
}

.course-date {
  border-radius: 6px;
  font-size: 14px;
}

$circle-size: 35px;
#courseStepsMiddleLine {
  transform: translateY(27.5px);
  border-radius: 20px;
  margin: auto;
  width: 100%;
  height: 25px;
  background-color: $deepmark-light;
  grid-column: 2;
  grid-row: 1;
}

#staticCircles {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 1;
  margin-top: 3px;
}

#circlesOuterWrapper {
  display: flex;

  .far {
    color: $deepmark-lightgray;
    cursor: pointer;
    font-size: 15px;
    z-index: 5;
  }

}

#slidingCircles {
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  margin-top: -20px;
}

#circlesInnerWrapper {
  display: flex;
  transition: 400ms;
  transform: translateX(0);

  a {
    flex-shrink: 0;
    flex-grow: 0;
  }
}

.module-circle {
  color: $deepmark;
  cursor: default;
  width: 80px;
  height: 20px;
  background: $deepmark-medium;
  z-index: 6;

  &--active {
    color: $deepmark;
    cursor: pointer;
    font-weight: 700;
    &:hover {
      color: $pane-grey;
    }
  }

  &--done {
    background-color: $deepmark;
    color: transparent;
    cursor: pointer;
    &:hover {
      color: transparent;
    }
  }

  &--block {
    background-color: grey;
    color: #fff;
  }
}

.black-dot {
  display: block;
  background: black;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.module {
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 25px;
  display: flex;

  &__date,
  &__time {
    font-size: 14px;
  }

  &__icon {
    i {
      border-radius: 100%;
      box-shadow: 0px 0px 2px #888;
      width: 50px;
      height: 50px;
      color: white;
      font-size: 20px;
    }
  }
}

hr {
  width: calc(100% - 110px);
  margin: 0 auto 0 70px;
}

#noModules {
  margin-top: 40px;
  width: 100%;
  min-height: 50px;
  text-align: center;
  background: $pane-grey;
  border-radius: 4px;
  display: grid;
  place-items: center;
}

.quizResult {
  background: $pane-grey;
  height: 50px;
  border-radius: 4px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  align-items: center;
  color: $deepmark-mediumgray;
}

.modulesFinished {
  @extend .quizResult;
  height: 80px;
  display: grid;
  place-items: center;
  font-size: 18px;
}

.cursorPointer {
  cursor: pointer;
}

#logo {
  max-height: 120px;
  margin: auto 0;
}
