.card-alert {
    .card-icon {
        background-color: $deepmark-red !important;
        color: #FFFFFF;
    }

    .card-header {
        h2 {
            display: inline-block;
            color: $deepmark-lightgray;
            font-weight: 600;
            padding-top: 10px;
        }
    }
}

.card-bookings {
    .card-icon {
        background-color: $deepmark-navy !important;
        color: #FFFFFF;
    }
}

.card-header {
    &-icon--navy {
        .card-icon { background-color: $deepmark-navy !important; }
    }
}

#interv-table {
    padding: 0 40px;
}

.table-pagination {
    font-size: 20px;

    .change-date {
        width: 200px;
        margin: 0 10px;
    }

    .today-date {
        margin: 0 10px;
        font-size: 24px;
    }

    #datepicker-link {
        margin-top: 0;
    }
}

@import "learner-homepage";
