.new-dashboard{
  .nav-pills .nav-item .nav-link {
    border-radius: unset!important;
    color: black;
    background-color: transparent;
    padding-top: 0!important;
    padding-bottom: 15px!important;
    border: unset!important;
    text-transform: unset!important;
    font-size: 16px;
  }
  .nav-pills .nav-item .nav-link.active {
    background-color: transparent!important;
    color: #0076fe;
    font-weight: bold;
    border-bottom: 2px solid #0076fe!important;
  }
  .nav-pills .nav-item .nav-link:hover {
    background-color: transparent!important;
    color: #0076fe;
  }
  .header-dashboard li{
    margin-top: 0!important;
    margin-bottom: 0!important;
  }
  .owl-pagination{
    display: none;
  }
  .container-fluid{
    padding: 0!important;
  }
  .progress-bar {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    overflow: hidden;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    background-color: #0076fe;
    transition: width .6s ease;
  }
  .progress {
    margin: 0;
    display: -ms-flexbox;
    display: flex;
    height: 8px;
    overflow: hidden;
    line-height: 0;
    font-size: .75rem;
    background-color: #e9ecef;
    border-radius: .25rem;
  }
  .owl-buttons {
    display: none;
  }
  .owl-carousel:hover .owl-buttons {
    display: block;
  }
  .owl-theme .owl-controls .owl-buttons div {
    background: transparent;
    color: #869791;
    font-size: 40px;
    line-height: 50px;
    margin: 0;
    padding: 0 60px;
    position: absolute;
    top: 0;
  }
  .owl-theme .owl-controls .owl-buttons .owl-prev {
    left: 0;
    padding-left: 40px;
    top: 80px;
  }
  .owl-theme .owl-controls .owl-buttons .owl-next {
    right: 0;
    padding-right: 17px;
    top: 80px;
  }
}
.planning{
  #dashboard-learner{
    .fc-basicWeek-view {
      height: unset !important;
    }
    .fc-view-container {
      overflow: hidden!important;
      max-height:none!important;
      padding-top:5px!important;
    }
  }

  .fc-basicWeek-view{
    height: unset!important;
  }

  .fc-basicWeek-view{
    .fc-content-skeleton
    {
      height: unset!important;
    }
  }

  body{
    overflow: hidden!important;
  }

  .fc-title{
    font-size: 10px;
  }
  .fc-toolbar{
    margin-bottom: 0!important;
  }
  .fc-day-grid-event {
    padding: 0!important;
  }

}
.to-do-list {display:flex}
#divBooking{
  max-height: 370px;
}
.btn-launch{
  letter-spacing:0!important;
  border-radius: 30px;
  font-size: 11px;
  padding: 8px 10px!important;
  font-weight: 900!important;
}
.btn-book{
  text-transform: none!important;
  padding: 8px 10px!important;
}
.main-panel>.content {
  padding: 20px!important;
  margin-top: 70px!important;
}

.card-chart{
  min-height: 310px!important;
}
.card {
  box-shadow: 0 1px 4px 0 #DADADA;
}
.to-do-list {
  display: flex;
}
#dashboard-learner{
  .fc-addAvailability-button{
    border:1px solid $deepmark!important;
    color:$deepmark!important;
  }
  .fc-removeAvailability-button{
    border:1px solid red!important;
    color:red!important;
  }
  .fc td.fc-today {
    background-color: #e5f0fc;
  }
  .fc-day-header span{
    color:#0076fe!important;
    font-weight: 600;
  }
  .fc-day-header span{
    font-size: 12px;
  }
  .fc {
    th {
      color: #333333!important;
      background-color: white!important;
    }
  }
  .fc-state-default{
    background-color: white;
    border: 1px solid #0076fe ;
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#fff),to(#fff));
    color:#0076fe;
  }
  .fc-button,
  .fc-button:focus {
    outline: none;
    background-color: #0076fe!important;

    &.fc-state-active, &.fc-state-hover, &.fc-state-down {
      &:not(.fc-addAvailability-button):not(.fc-removeAvailability-button){
        background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0076fe), to(#0076fe));
        color:#fff!important;
      }
    }
  }
  .fc-state-active{
    background-color: #0076fe!important;
    color: #fff;
  }
  .fc button, .fc button.btn-primary {
    box-shadow: none;
  }
  hr.fc-divider {
    width: 100%!important;
  }
  .fc-center{
    h2{
      font-size: 16px!important;
    }
  }
  .fc-view-container  {
    overflow-y: scroll;
    max-height:290px;
  }
  .fc-basicWeek-view{
    height: 290px!important;
  }

  .fc-basicWeek-view .fc-content-skeleton
  {
    height: 250px!important;
    padding-top: 0!important;
    padding-bottom: 0!important;
  }
  .fc-view-container::-webkit-scrollbar {
    width: 10px;
  }

  .fc-view-container::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  }

  .fc-view-container::-webkit-scrollbar-thumb {
    background-color: #ddd;
    outline: 1px solid slategrey;
  }
  .fc-left, .fc-right {
    width: 20%;
  }
  .fc-event-today{
    border-top: 2px solid #24B301!important;
    border-right: 2px solid #24B301!important;
    border-bottom: 2px solid #24B301!important;
    background-color: #fff!important;
    color: #24B301!important;
    border-radius: 5px;
    box-shadow: none;
    position: relative;
    display: block;
    font-size: .85em;
    line-height: 1.3;
    strong{
      color: #24B301!important;
      font-weight:600!important;
    }
    p{
      margin: 0!important;
      margin-top:10px!important;
    }
  }

  .fc-event {
    border: 2px solid #28c612;
    background-color: #fff!important;
    border-radius: 5px;
    box-shadow: none;
  }

  .event-expired{
    .fc-content {
      color: grey!important;
    }
    border-top: 2px solid grey!important;
    border-right: 2px solid grey!important;
    border-bottom: 2px solid grey!important;

    .fc-title{
      p{
        color: grey!important;
        margin: 0!important;
      }
    }
  }

  .event-availability{
    .fc-content {
      color: white!important;
    }
    border: 1px solid $deepmark!important;
    background-color: $deepmark!important;
    .fc-title{
      p{
        color: $deepmark!important;
        margin: 0!important;
      }
    }
  }

  .fc-day-grid-event .fc-content {
    white-space: initial;
    word-wrap: break-word;
    color: #28c612;
    .fc-title{
      p{
        color: #28c612;
        margin: 0!important;
      }
    }
  }
  .fc-day-top {
    background-color: transparent!important;
  }

  .fc-sat,
  .fc-sun {
    pointer-events: none;
    background:white;
    .fc-day-number {
      color: #333333;
    }
  }
}
.new-dashboard{
  .owl-carousel li{
      padding: 10px!important;
      width: 100%!important;
      float: left;
  }
  ul{
    padding: 0;
    list-style: none;
  }
  li{
    margin: 10px;
    float: left;
  }
  .card{
    min-height: 220px;
    // width: 318px;
    margin-left: 0.25em;
    margin-right: 0.25em;
    img{
      display: block;
      max-width: 100%;
      height: 130px;
      object-fit: contain;
    }
  }
  .owl-wrapper{
    transform-style: preserve-3d;
  }
  .scroll-course li {
    margin: 0!important;
  }
}
.catalog{
  .nav-pills .nav-item .nav-link {
    border-radius: 20px;
    background-color: transparent;
    padding: 5px 10px;
    text-transform: capitalize!important;
  }
  .nav-item{
    margin-top: 10px;
  }
  .custom label {
    height: 30px;
  }
  .stat-filter .select-border .filter-option {
    border-bottom: none !important;
  }
  .custom .bootstrap-select .dropdown-toggle .filter-option {
    background: #ffffff !important;
  }
  .stat-filter .select-border .input-group {
    padding-bottom: 10px;
  }
  .stat-filter .filter {
    height: auto;
  }
  .card-img-top {
    height: 150px;
  }
}