<li class="day-row {{ day == 'Monday' ? 'monday' : ''}}" data-role="day-{{ dayName }}">
    <div class="day-row__checkbox">
        <div class="form-check">
            <label class="form-check-label">
                {% set checked = start and end ? "checked='checked'" : ''   %}
                <input class="form-check-input" type="checkbox" {{ checked }} value="">
                <span class="form-check-sign">
                    <span class="check"></span>
                </span>
            </label>
        </div>
    </div>
    <div class="day-row__name color-header" data-role="{{ dayName }}">
        {{ ('global.'~day|lower)|trans }}
    </div>
    <div class="from-to-time">
        <div class="form-group timepicker-group-inline">
            <label for="startTime-{{ day }}">{{ 'global.from'|trans }}</label>
            {% set startTime = start ? start : '9:00'   %}
            <input id="startTime-{{ day }}" data-role="startTime" type="text" class="form-control timepicker" value="{{ startTime }}" autocomplete="off">
        </div>
        <div class="form-group timepicker-group-inline">
            <label for="endTime-{{ day }}">{{ 'global.to'|trans }}</label>
            {% set endTime = end ? end : '18:00' %}
            <input id="endTime-{{ day }}" data-role="endTime" type="text" class="form-control timepicker" value="{{ endTime }}" autocomplete="off">
        </div>
    </div>
    <div class="pad-l-20 apply-all">
        {% if day == 'Monday' %}
            <button style="background-color: #fff; border: 1px solid #0076fe; color: #0076fe" id="repeatTime" class="btn btn-sm" title="{{ 'trainers.planning.buttons.repeat'|trans }}">
                {{ 'trainers.planning.buttons.repeat'|trans }}
            </button>
        {% endif %}
    </div>
</li>
