<li class="day-row {{ day == 'Monday' ? 'monday' : ''}}" data-role="day-{{ dayName }}">
    <div  class="row flex--center  col-md-12">
        {% if dayName == 'Monday' %}
        <div class="col-md-3">
        </div>
        <div class="col-md-4 row no-padding">
            <div class="no-padding col-md-5 text-center">
                <label for="startTime-{{ dayName }}">{{ 'global.from_new'|trans }}</label>
            </div>
            <div class="col-md-2 color-header flex--center no-padding">
            </div>
            <div class=" col-md-5 no-padding text-center">
                <label for="endTime-{{ dayName }}">{{ 'global.to_new'|trans }}</label>
            </div>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-4 row no-padding">
            <div class="no-padding col-md-5 text-center">
                <label for="startTimeAfternoon-{{ dayName }}">{{ 'global.from_new'|trans }}</label>
            </div>
            <div class="col-md-2 color-header flex--center no-padding">
            </div>
            <div class=" col-md-5 no-padding text-center">
                <label for="endTimeAfternoon-{{ dayName }}">{{ 'global.to_new'|trans }}</label>
            </div>
        </div>
        {% endif %}
        <div class="col-md-12 row flex--center no-padding" style="min-height: 54px">
            <div class="no-padding col-md-3" >
                {% set checked = start and end ? "checked='checked'" : ''   %}
                {% set hide = start and end ? '' : "d-none"    %}
                <div class="form-check form-check-radio">
                    <label class="form-check-label nameDay{{ dayName }} {% if checked != '' %}  color-header {% else %} text-gray {% endif %}r">
                        <input class="form-check-input" id="radio{{ dayName }}" type="radio" {{ checked }} name="{{ dayName }}">
                            {{ day }}
                        <span class="circle ">
                        <span class="check"></span>
                        </span>
                    </label>
                </div>

            </div>
            <div class="col-md-4 row no-padding">
                <div class="form-group no-padding col-md-5">
                    {% set startTime = start ? start : ''   %}
                    <input  placeholder="X" id="startTime-{{ dayName }}" name="startTime-{{ dayName }}" data-role="startTime" type="text" class="text-center {{ hide }} input{{ dayName }} form-control  timepicker {{ dayName }}" value="{{ startTime }}" autocomplete="off">
                </div>
                <div class="col-md-2 color-header flex--center no-padding">
                    <span class="{{ hide }} input{{ dayName }}">-</span>
                </div>
                <div class="form-group col-md-5 no-padding">
                    {% set endTime = end ? end : '' %}
                    <input  placeholder="X" id="endTime-{{ dayName }}" name="endTime-{{ dayName }}" data-role="endTime" type="text" class="text-center {{ hide }} input{{ dayName }} form-control timepicker {{ dayName }}" value="{{ endTime }}" autocomplete="off">
                </div>
            </div>
            <div class="col-md-1 no-padding text-center">
                <i class="fas fa-utensils-alt {{ hide }} {% if checked != '' %}  color-header {% else %} text-gray {% endif %}  input{{ dayName }}  icon{{ dayName }}"></i>
            </div>
            <div class="col-md-4 row no-padding">
                <div class="form-group no-padding col-md-5">
                    {% set startTimeAfternoon = startTimeAfternoon ? startTimeAfternoon : ''   %}
                    <input  placeholder="X" id="startTimeAfternoon-{{ dayName }}" name="startTimeAfternoon-{{ dayName }}" data-role="startTimeAfternoon"   type="text" class="text-center {{ hide }} input{{ dayName }} form-control timepicker {{ dayName }}" value="{{ startTimeAfternoon }}" autocomplete="off">
                </div>
                <div class="col-md-2 no-padding color-header flex--center">
                    <span class="{{ hide }} input{{ dayName }}">-</span>
                </div>
                <div class="form-group no-padding col-md-5">
                    {% set endTimeAfternoon = endTimeAfternoon ? endTimeAfternoon : '' %}
                    <input   placeholder="X" id="endTimeAfternoon-{{ dayName }}" name="endTimeAfternoon-{{ dayName }}" data-role="endTimeAfternoon" type="text"   class="text-center {{ hide }} input{{ dayName }} form-control timepicker {{ dayName }}" value="{{ endTimeAfternoon }}" autocomplete="off">
                </div>
            </div>

        </div>
    </div>
</li>

<script>
    $(document).ready(function () {
        $('#radio{{ dayName }}').click(function(){
            var $self = $(this);
            if ($self.attr('checkstate') == 'true')
            {
                $self.prop('checked', false);
                $(".nameDay{{ dayName }}").addClass('text-gray');
                $(".nameDay{{ dayName }}").removeClass('color-header');
                $(".input{{ dayName }}").addClass('d-none');
                $(".{{ dayName }}").prop('disabled', true);
                $(".icon{{ dayName }}").removeClass("color-header");
                $(".icon{{ dayName }}").addClass("text-gray");
                $self.each( function() {
                    $self.attr('checkstate', 'false');
                })
            }
            else
            {
                $self.prop('checked', true);
                $(".nameDay{{ dayName }}").removeClass('text-gray');
                $(".nameDay{{ dayName }}").addClass('color-header');
                $(".input{{ dayName }}").removeClass('d-none');
                $(".{{ dayName }}").prop('disabled', false);
                $(".icon{{ dayName }}").addClass("color-header");
                $(".icon{{ dayName }}").removeClass("text-gray");
                $self.attr('checkstate', 'true');
                $("input[type='radio'].myClass:not(:checked)").attr('checkstate', 'false');
            }
        })
    });


</script>
