{% if booked is defined and booked is not empty %}
    <dl class="course-details">
        <div class="flex--v-center">
            <dt title="{{ 'learners.courses.session_status'|trans }}"><i class="fas fa-info-circle"></i></dt>
            <dd>{{ booked.status.designation }}</dd>
        </div>
        <div class="flex--v-center">
            <dt title="{{ 'learners.courses.booked'|trans }}"><i class="fas fa-calendar-alt"></i></dt>
            <dd>{{ booked.bookingDate|date('d/m') }} at {{ booked.bookingDate|date('G:i', false) }} </dd>
        </div>
        <div class="flex--v-center">
            <dt title="{{ 'learners.courses.duration' | trans }}"><i class="fas fa-clock"></i></dt>
            <dd>
                {% set hour = module.duration|date('G', false) %}
                {% set minutes = module.duration|date('i', false) %}
                {% if hour == '0' %}
                    {{ minutes }}min
                {% elseif minutes == '00' %}
                    {{ hour }}h
                {% else %}
                    {{ hour }}h {{ minutes }}min
                {% endif %}
            </dd>
        </div>
        <div class="flex--v-center">
            <dt title=""><i class="fas fa-chalkboard-teacher"></i></dt>
            <dd>{{ booked.trainer.firstName ~' '~booked.trainer.lastname }}</dd>
        </div>
        <div class="flex--v-center">
            <dt title="{{ 'global.phone' | trans }}"><i class="fas fa-phone"></i></dt>
            <dd>{{ booked.trainer.mobilePhone }}</dd>
        </div>
        <div class="flex--v-center">
            <dt title="{{ 'global.email' | trans }}"><i class="fas fa-envelope"></i></dt>
            <dd>{{ booked.trainer.person.email }}</dd>
        </div>
        {% set status_absent =  constant('ApiBundle\\Entity\\Status::WITH_BOOKING_LEARNER_ABSENT') %}
        {% if route != 'trainer_exercices_video_booking_agenda' and booked.status.appId != status_done and booked.status.appId != status_absent %}
            <div class="flex--v-center">
                <button id="cancel-booking-info" class="btn btn-deepmark-red">{{ 'learners.courses.cancel_booking' |trans }}</button>
            </div>
        {% endif %}
    </dl>
{% endif %}
