{% extends "base.html.twig" %}

{% block title %}AdminBundle:Profile:edit{% endblock %}

{% block pagename %}{{ isEdit ? 'admin.skills.edit'|trans : 'admin.skills.create'|trans }}{% endblock %}

{% form_theme form 'bootstrap_4_horizontal_layout.html.twig' %}

{% block body %}
	<div class="row justify-content-center  marg-t-20 marg-b-20"><span class="icon-user_gray"></span>
		{{ include('molecules/cards/nav/admin-skills-nav.html.twig') }}
	</div>
	<div class="card card--user">
		<div class="card-body">
			<div class="row">
				<div class="col-md-8">
					<h6>{{ isEdit ? 'admin.skills.edit'|trans : 'admin.skills.create'|trans }}</h6>
                    {%  if error is defined %}
						<div class="alert alert-danger">
                            {{ error }}
						</div>
                    {% endif %}

                    {{ form_start(form) }}
                    {{ form_row(form.designation, { 'label': 'admin.skills.form.designation_label'|trans }) }}
                    {{ form_row(form.skill_description, { 'label': 'admin.skills.form.description_label'|trans }) }}
					{{ form_row(form.domains, { 'label': 'admin.skills.form.domain_label'|trans }) }}

					<button type="submit" class="btn btn-deepmark-orangelight">
						{% if isEdit | default(false) %}
                            {{ 'buttons.update'|trans }}
						{% else %}
                            {{ 'buttons.create'|trans }}
						{% endif %}
					</button>
                    {{ form_end(form) }}
				</div>
			</div>
		</div>
	</div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
	<script>
        $(function () {
            CKEDITOR.replace('appbundle_skill_skill_description')
        })
	</script>
{% endblock %}
