{% extends "base.html.twig" %}

{% block title %}{{ 'admin.skills.page_title'|trans }}{% endblock %}

{% block pagename %}{{ 'admin.skills.page_title'|trans }}{% endblock %}

{% block body %}
    <div class="row justify-content-center  marg-t-20 marg-b-20"><span class="icon-user_gray"></span>
        {{ include('molecules/cards/nav/admin-skills-nav.html.twig') }}
    </div>
<div class="card marg-t-15">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6 marg-t-10">
            <h3 class="bold text-center color-header">{{ 'admin.skills.list'|trans }}</h3>
        </div>
        <div class="col-md-3 marg-t-20 no-padding-left text-right ">
            {#<a class="btn btn-sm font-size-10 btn-border-yelow btn-padding-small" href="{{ url('admin_skills_edit') }}">{{ 'admin.skills.nav.create'|trans }}</a>#}
        </div>
    </div>
    <div class="card-body admin">
        <div class="row col-md-12 no-padding z-index" >
            <div class="col-md-4 no-padding">
            </div>
            <div class="col-md-4 no-padding-right pad-t-10" >
                <div  class="row btn-deepmark-light border-radis-30 height-40">
                    <div class="col-md-3 text-center no-padding color-header font-size-10 flex--center ">{{ 'search.content'|trans }}</div>
                    <div class="col-md-7 no-padding ">
                        <input type="text" id="bookSearch" class="border-0 height-100 no-padding no-margin color-header backgroud-deepmark-light">
                    </div>
                    <div class="col-md-2 flex--center">
                        <i class="fas color-header fa-search"></i>
                    </div>

                </div>
            </div>
            {#<div class="col-md-3 text-right no-padding-right">
                <div style="margin-top: 17px;" class="form-group pad-b-0">
                    <select id="typeAction" class="classic">
                        <option value="1">{{ 'buttons.delete'|trans }}</option>
                    </select>
                </div>
            </div>
            <div class="col-md-1 no-padding-right">
                <button id="apply" class="btn btn-deepmark-orangelight btn-block">{{ 'global.apply'|trans }}</button>
            </div>#}
        </div>
        {{ include('molecules/tables/list-skills-table.html.twig', { skills: skills}) }}
    </div>
</div>
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-center">
                <p id="txt"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ 'buttons.close'|trans }}</button>
                <button  id="btnAction" type="submit" class="btn btn-primary">{{ 'buttons.confirm'|trans }}</button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="{{ asset('js/lang_datatable.js') }}"></script>
<script>
    $(document).ready(function () {
        let lang = languageDatatable();
        let table = $('#skillTable').DataTable({
                "language": lang,
                "scrollX": true,
                "scrollY": false,
                dom: 'Blfrtip',
                exportOptions: {
                    columns: ':visible'
                },
                buttons: [
                    'csv',
                    'excel',
                    {extend: 'pdfHtml5', orientation: 'landscape', pageSize: 'A3',},
                    'colvis'
                ]

            }
        );

        $('.buttons-colvis').on('click', function () {
            $('.dt-button-collection').addClass('show');
        });
        $(".dataTables_filter").hide();
        $('#bookSearch').keyup(function(){
            table.search($(this).val()).draw() ;
        })
        $('.check-all-input-datatable').change(function() {
            var rows = table.rows({ 'search': 'applied' }).nodes();
            $('input[type="checkbox"]', rows).prop('checked', this.checked);
        });
        $( window ).resize(function() {
            $('#skillTable').DataTable().columns.adjust();
        });

        {#$('#apply').on('click', function () {#}
        {#    let type = $('#typeAction').val();#}
        {#    if (type == 1) {#}
        {#        $("#txt").text("{{ 'popup.entity_delete'|trans|raw }}");#}
        {#    }#}
        {#    $("#deleteModal").modal('show');#}
        {#});#}

        let btn = $('[data-action="minimize-sidebar"]');
        if (btn.length) {
            btn.on('click', function () {
                setTimeout(function() {
                    $('#skillTable').DataTable().columns.adjust();
                }, 300);
            })
        }

        function deleteSkill() {
            $('#btnAction').on('click', function () {
                let type = $('#typeAction').val();
                let checkInput = $('input[type="checkbox"]');
                let selectedSkills = [];

                checkInput.each(function () {
                    if(this.checked && this.value !== ""){
                        selectedSkills.push(this.value);
                    }
                });

                if (!selectedSkills.length) {
                    // one or more checkboxes are
                    swal('Warning', 'Please select at least one .', 'warning');
                    return;
                }
                $.ajax({
                    'url': '{{ path('admin_skills_delete_skill') }}',
                    'method': 'POST',
                    'data' : {
                        'selectedSkills': selectedSkills,
                        'type': type
                    }
                }).done(function (response) {
                    location.reload();
                }).fail(function (response) {
                    console.log(response)
                })
            });
        }
    });
</script>
{% endblock %}
