#editPass{
	.form-control, .is-focused .form-control {
		background-image: none;
	}
	.bg-password{
		background-color: #e5f0fc;
	}
	.form-control {
		height: 48px;
	}
}
.card--user {
	.card-header {
		.card-icon {
			width: 80px;
			height: 80px;

			overflow: hidden;

			padding: 0;
			border-radius: 10px;

			img {
				width: 100%;
				height: auto;
			}
		}

		.btn-edit {
			padding: 5px 15px;
			margin-top: 70px;
			border-radius: 5px;

			i {
				width: auto;
				height: auto;
			}
		}
	}

	dt { font-weight: 400; }

	.card-header--user {
		.profile-ratings {
			display: inline-block;

			.ratings-widget {
				display: inline-block;

				.fal { color: $deepmark-lightgray; }
			}

			p.ilblock {
				display: inline-block;
				margin: 0;
				margin-left: 10px;
			}

			p.nomargin {
				margin: 0;
				margin-left: 15px;
			}

			p.p-minwidth { min-width: 100px; }
		}

		.btn {
			margin-left: 15px;
			vertical-align: top;
		}
	}


}
