.interv-stats-special-timeline {
    position: relative;

    .vis-timeline {
        border: none;
        margin: 0 auto;
        overflow: visible !important;
    }

    .vis-panel {
        overflow: visible !important;
        border: none;

        &.vis-top {
            display: none;
        }

        &.vis-background {
            display: none;
        }

        .vis-foreground {
            .vis-group {
                border: none;

                .vis-item {
                    background-color: $deepmark-lightgray;
                    border: none;

                    color: #FFFFFF;

                    &-overflow { overflow: visible; }

                    &:last-child {
                        background-color: $deepmark-green;
                    }

                    .item-start-date {
                        position: absolute;
                        color: $deepmark-lightgray;
                        left: -30px;
                        top: -20px;
                        z-index: 500;
                    }

                    .item-end-date {
                        position: absolute;
                        color: $deepmark-lightgray;
                        right: -30px;
                        top: -20px;
                        z-index: 500;
                    }
                }
            }
        }
    }

    /*.vis-itemset {
        .vis-background {
            display: none;
        }
    }*/
}

.ct-chart-line {
    .ct-series-a {
        .ct-line {
            stroke: $deepmark-orangelight;
        }
    }

    .ct-label {
        justify-content: center;
    }
}

.ct-chart-bar-start, .ct-chart-bar-end {
    .ct-label.ct-vertical {
        justify-content: center !important;
        align-items: center !important;
    }

    .ct-series-a {
        .ct-bar {
            stroke: $deepmark-navy;
            stroke-width: 20px;
        }
    }

    .ct-series-b {
        .ct-bar {
            stroke: $deepmark-green;
            stroke-width: 20px;
        }
    }
}
