<div class="col-md-12    marg-t-20 marg-b-20">
    {% if is_granted('ROLE_ADMIN') %}
        {% if type == 'Learners' %}
            {{ include('molecules/cards/nav/admin-learners-nav.html.twig') }}
        {% elseif type == 'Trainers' %}
            {{ include('molecules/cards/nav/admin-trainers-nav.html.twig') }}
        {% elseif type == 'Clients' %}
            {{ include('molecules/cards/nav/admin-clients-nav.html.twig') }}
        {% endif %}
    {% else %}
        {% if route is defined %}
            <div class="card-icon">
                <a href="{{ path(route) }}"><i class="fal fa-book"></i></a>
            </div>
        {% endif %}
        {#            <div class="card-icon">#}
        {#                <a><i class="fal fa-upload active"></i></a>#}
        {#            </div>#}
    {% endif %}
</div>
<div class="card no-margin">
    <div class="card-body">
        <h3 class=" no-margin color-header text-center bold">{{ 'global.users.import'|trans }}</h3>
        <div class="row">
            <div class="col-4">
                <div class="card" style="margin-top: 15px;!important;">
                    <div class="card-body">
                        <h5 class="card-title">Information</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Import users from external file</h6>
                        <ul class="">
                            <li>CSV & Excel 95/95 & 2007 only</li>
                            <li>Extensions: .csv, .xls, .xlsx</li>
                            <li>Maximum allowed
                                <ul>
                                    {% for key, value in requirements %}
                                        <li>{{ key }}: {{ value }}</li>
                                    {% endfor %}
                                </ul>
                            </li>
                        </ul>
                        <select class="selectpicker hidden d-none" data-container="body" data-style="select-with-transition" id="user-role">
                            {% if type == "Learners" %}
                                <option value="2">{{ 'global.learner'|trans }}</option>
                            {% endif %}
                            {% if type == "Trainers" %}
                                <option value="1">{{ 'global.trainer'|trans }}</option>
                            {% endif %}
                            {% if type == "Clients" %}
                                <option value="3">{{ 'global.client'|trans }}</option>
                            {% endif %}
                        </select>
                        <select id="delimiter" data-container="body" class="selectpicker" name="delimiter"
                                data-style="select-with-transition">
                            <option value=";">Semicolon</option>
                            <option value=",">Comma</option>
                        </select>
                    </div>
                </div>

            </div>
            <div class="col-8">
                <div class="card" style="margin-top: 15px;!important; margin-bottom: 15px;!important;">
                    <div class="card-body" id="console" style="padding-bottom: 0px;!important;">
                        <h5 class="card-title">Output</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Import process information</h6>
                        <span class="card-text">
                            <ul class="list-unstyled"></ul>
                        </span>
                    </div>
                    <div class="card-body" style="padding-top: 0px;!important; padding-bottom: 0px;!important;">
                        <div class="row">
                            <div class="col-4" style="padding: 0px;!important;">
                                <h5 class="card-title">Process</h5>
                                <h6 class="card-subtitle mb-2 text-muted">Please follow next steps</h6>
                            </div>
                            <div class="col-8">
                                <ul class="list-unstyled">
                                    <li>
                                        <input type="file" id="import-upload-file" class="btn btn-primary"/>
                                    </li>
                                    <li id="import-step-mapping" class="hidden d-none">
                                        Mapping fields
                                        <button type="button" class="btn btn-primary">Validate</button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script>
            var mappingFields = {{ fields|json_encode|raw }};
        </script>
        <div id="mapping" class="d-none hidden">
            {% if type == "Trainers" %}
            <div class="row">
                <div class="col-md-12">
                    <strong>{{ ('import.field.liveResource')|trans() }}</strong>: internal/external
                <br />
                    <strong>{{ ('import.field.perimeter')|trans() }}</strong>: World/Country/Region/Sector/City
                </div>
            </div>
            {% endif %}
            {% if fields is defined %}
                <div class="row">
                    <div class="col-md-12">
                        <div class="row custom pb-1 stat-filter">
                        {% for fieldName, value in fields %}
                            {% if loop.index in [1, 2, 6, 7, 11, 12, 16, 17] %}
                                {% set col = 3 %}
                            {% else %}
                                {% set col = 2 %}
                            {% endif %}
                            <div class="col-md-{{col}} no-padding filter course-filter global-filter organizationId f-search f-1 marg-t-10">
                                <div class="form-group select-border datepicker-group">
                                    <div class="col-md-12 no-padding  btn-deepmark">
                                        <label class="text-white" for="organizationId">{{ ('import.field.'~fieldName)|trans() }} {% if value == true %}*{% endif %}</label>
                                    </div>
                                    <div class="input-group btn-deepmark-light">
                                        <select data-container="body" class="selectpicker mapping-fields"
                                                name="mapped-fields[{{ fieldName }}]"
                                                id="map-field-{{ fieldName }}"
                                                data-field="{{ fieldName }}"
                                                data-style="select-with-transition">
                                        </select>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
    <button onclick="topFunction()" id="myBtn" class="btn btn-round" title="Go to top"><i class="fas fa-arrow-up"></i></button>
</div>
<script>
    var mybutton = document.getElementById("myBtn");
    window.onscroll = function() {scrollFunction()};

    function scrollFunction() {
        if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
            mybutton.style.display = "block";
        } else {
            mybutton.style.display = "none";
        }
    }
    function topFunction() {
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
    }
</script>