<div class="card ">
    <div class="card-header--nav">
        {% if is_granted('ROLE_ADMIN') %}
            {% if type == 'Learners' %}
                {{ include('molecules/cards/nav/admin-learners-nav.html.twig') }}
            {% elseif type == 'Trainers' %}
                {{ include('molecules/cards/nav/admin-trainers-nav.html.twig') }}
            {% elseif type == 'Clients' %}
                {{ include('molecules/cards/nav/admin-clients-nav.html.twig') }}
            {% endif %}
        {% else %}
            {% if route is defined %}
                <div class="card-icon">
                    <a href="{{ path(route) }}"><i class="fal fa-book"></i></a>
                </div>
            {% endif %}
            {#            <div class="card-icon">#}
            {#                <a><i class="fal fa-upload active"></i></a>#}
            {#            </div>#}
        {% endif %}
    </div>

    <div class="card-body">
        <h2 class="marg-b-30">Import</h2>
        {{ form_start(form) }}
        <div class="upload-select">
            {{ form_errors(form.path) }}
            <input type="submit" class="btn btn-orangelight" value="Upload"/>
            <select class="selectpicker" data-style="select-with-transition">
                {% if type == "Learners" %}
                    <option value="2">{{ 'global.learner'|trans }}</option>
                {% endif %}
                {% if type == "Trainers" %}
                    <option value="1">{{ 'global.trainer'|trans }}</option>
                {% endif %}
                {% if type == "Clients" %}
                    <option value="3">{{ 'global.client'|trans }}</option>
                {% endif %}
            </select>
            <select id="delimiter" class="selectpicker" name="delimiter" data-style="select-with-transition">
                <option value=";">Semicolon</option>
                <option value=",">Comma</option>
            </select>
        </div>

        <div class="upload-area">
            <div class="add-file col-lg-6 text-center">
                <span class="input-group-btn">
                  <span class="btn btn-deepmark-orangelight btn-file">
                    {{ 'buttons.add_file'|trans }} <i class="fal fa-plus"></i>
                      {{ form_widget(form.path) }}
                  </span>
                </span>
                <input type="text" class="form-control showName d-none" readonly>
            </div>
        </div>
        {% if type == "Learners" %}
            <div id="mapping" style="display: none;">
                {% if fields is defined %}
                    <div class="row upload-select-row">
                        <table class="table">
                            <thead>
                            {% for fieldName, value in fields %}
                                <th data-field="{{ fieldName }}"
                                    data-is-required={{ value }}>{{ fieldName }}{% if value == true %}*{% endif %}</th>
                            {% endfor %}
                            </thead>
                            <tbody>
                            <tr>
                                {% for fieldName, value in fields %}
                                    <td>
                                        <select class="selectpicker entity-fields" name="mapped_fields[{{ fieldName }}]"
                                                id="select-field-{{ fieldName }}"
                                                data-field="{{ fieldName }}"
                                                data-style="select-with-transition">
                                        </select>
                                    </td>
                                {% endfor %}
                            </tr>
                            </tbody>
                        </table>
                    </div>
                {% endif %}
            </div>
        {% endif %}
        {{ form_end(form) }}
    </div>
</div>