{% extends "base.html.twig" %}

{% block title %}AdminBundle:Document:index{% endblock %}
{% block pagename %}{{ 'admin.library.title'|trans }}{% endblock %}
{% block body %}

    <div class="card">
        <div class="card-header card-header-icon card-header-icon--navy">
            <div class="card-icon">
                <i class="fal fa-book"></i>
            </div>
            <div class="card-icon">
                <a href="{{ path('admin_document_upload')}}"> <i class="fal fa-upload"></i></a>
            </div>
        </div>

        <div class="card-body">
            {{ include('molecules/tables/library-table.html.twig', {documents: documents}) }}
            <div class="navigation">
                {{ knp_pagination_render(documents) }}
            </div>
        </div>
    </div>
{% endblock %}
