{% extends 'base.html.twig' %}

{% block pagename %}{{ 'admin.document.document_upload'|trans }}{% endblock %}

{% block body %}
    {{ include('molecules/uploadFiles.html.twig', {type: 'Documents', route:'admin_documents_index', form: form})}}
{% endblock %}
