.card-pane {
	.card-header {
		margin-top: -35px;
		@media screen and (max-width: 768px) {
			margin-top: 0;
		}
	}
}

.tab {
	&-pane {
		p {
			padding: 1em;
		}
		&#weekActivities p {
			border-radius: 4px;
		}

		#logo img {
			height: 80px;
		}
	}
}
