.card-stats {
	min-height:200px;
	transition: transform .25s ease-in;
	&:hover {
		transform: scale(1.03);
	}
	.card-header {
		margin: 0;
		padding: 10px;

		&-orangelight { background-color: $deepmark-orangelight; }
		&-red { background-color: $deepmark-red; }
		&-mediumgray { background-color: $deepmark-mediumgray; }
		&-navy { background-color: $deepmark-navy; }

		.card-icon {
			background:transparent;
			float: none;
			margin: 0;
			padding: 0;
		}

		.card-icon + .card-category {
			font-size: 20px;
			font-weight: 400;
			padding-top: 0;
			color: white;
			&--small { font-size: 18px; }
		}
	}

	.card-body {
		text-align: center;
		font-size: 60px;
		line-height: 1;
		padding: 15px 0;
	}

	.svg-inline--fa {
		width: 50px;
		height: 50px;
		text-align: center;
	}

	.stats-link {
		font-size: .875rem;
		color: $deepmark-orangelight;
	}
}
