.card-interv-modal {
	margin-top: 0;

	.card-header {
		margin: 0 !important;
	}

	.card-header-navy {
		background-color: $deepmark-navy;
		color: #FFFFFF;
	}

	.card-body {
		padding: 20px 10px;
	}
}


.modal-form-col-title {
	font-size: 16px;
	font-weight: 400;
	color: $deepmark-lightgray;
}

.for-center {
	display: inline-block;

	.file-icons {
		margin: 10px 0;
		color: $deepmark-lightgray;

		i {
			margin-right: 10px;

			&:last-child { margin-right: 0; }
		}
	}

	.btn-modal-plus {
		width: 30px !important;
		min-width: 30px !important;
		height: 30px !important;
		line-height: 30px !important;
		font-size: 18px !important;

		display: block;
		margin: auto;
	}
}

.apprenant {
	&-title {
		font-size: 18px;
		text-decoration: underline;
	}

	&-desc {
		color: $deepmark-mediumgray;
	}

	&-resume {
		span { color: $deepmark-mediumgray; }
		a { margin-left: 10px; }
	}
}
