@import "../../abstracts/variables";

.card [class*="card-header-"]:not(.card-header-icon):not(.card-header-text):not(.card-header-image) {
	margin: 0;
	border-radius: 6px 6px 0 0;
	padding: 10px 20px;
}

.card {
	font-size: 1rem;
	.card-header {
		&--flex {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
		&--nomargin { margin: 0 !important; }

		.stats-title {
			color: $deepmark-lightgray;
			text-align: left;
			padding-top: 30px !important;
		}
	}
	.card-icon {
		color: #FFFFFF;
		a { color: #FFFFFF; }

		background-color: $deepmark-mediumgray;

		&.active, &:hover {
			background-color: $deepmark-navy;
		}

		margin-top: 0 !important;

		.fal {
			font-size: 30px !important;
		}

		&--noheader {
			background: #FFFFFF;
			border: 1px solid rgba(0, 0, 0, 0.125);
			border-radius: 0.25rem;
			box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);

			max-width: 200px;
			padding: 15px;

			align-self: baseline;
			margin-top: -25px;

			.img-container {
				max-width: 100%;

				img {
					width: 100%;
				}
			}

			&:hover {
				background: none;
			}
		}
	}

	.card-body--flex {
		display: flex;
		align-items: center;
		justify-content: space-between;

		.title-item {
			flex: 1 1 auto;
			display: inline-block;

			text-align: center;

			& + .title-item {
				border-left: 1px solid $deepmark-lightgray;
			}
		}
	}

	.card-title-duplicate {
		cursor: pointer;
		float: right;
		overflow: hidden;
	}
}


.card-intervention-add {
	@media screen and (max-width: 1200px) {
		.card {
			border-bottom: none;
			margin-bottom: 0;
		}

		.col-in-card-md {
			border: 1px solid rgba(0, 0, 0, 0.125);
			border-radius: 0.25rem;
			border-top: none;

			box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
			margin-top: -5px;

			padding: 0 15px;
		}
	}
}

.resource-title {
	font-size: 16px;
	font-weight: 600;
	color: $deepmark-mediumgray;
}

.file-icons { color: $deepmark-lightgray; }

.nested-card {
	border-bottom-left-radius: 30px;
	border-bottom-right-radius: 30px;
}
.card {
	.card-header--module {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin: 0;

		.card-icon {
			background: transparent!important;
		}
	}
}

@import "card-evaluation";
@import "card-intervention";
@import "card-pane";
@import "card-stats";
@import "cards-interv-modal";

