{% for stepNr, error in errors.step %}
    <section>
        <h4>{{ 'admin.interventions.step'|trans|capitalize }} {{ stepNr }}</h4>

        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">{{ 'admin.interventions.create.error.module_title'|trans|title }}</th>
                <th scope="col">{{ 'admin.interventions.create.error.field_name'|trans|title }}</th>
                <th scope="col">{{ 'admin.interventions.create.error.error'|trans|title }}</th>
            </tr>
            </thead>

            <tbody>
            {% for  innerError in error %}
                {% for fieldName, errorValues in innerError %}
                    <tr>
                        <th scope="row"></th>
                        <td>{{ errorValues.moduleName|capitalize }}</td>
                        <td>{{ fieldName|trans }}</td>
                        <td>{{ errorValues.error|capitalize }}</td>
                    </tr>
                {% endfor %}
            {% endfor %}
            </tbody>
        </table>
    </section>
{% endfor %}