{% extends "base.html.twig" %}

{% block title %}TrainerBundle:myInvoices:index{% endblock %}
{% block pagename %}{{ 'trainers.invoices.title'|trans }}{% endblock %}

{% block body %}
    <div class="card card-pane">
        <div class="card-header">
            <ul class="nav nav-pills">
                <li class="nav-item">
                    <a class="nav-link active" href="#todo" data-toggle="tab">{{ 'trainers.invoices.tobill'|trans }}</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#done" data-toggle="tab">{{ 'trainers.invoices.billed'|trans }}</a>
                </li>
            </ul>
        </div>

        <div class="card-body">
            <div class="tab-content tab-space">
                <div class="tab-pane active" id="todo">
                    <h3>{{ 'trainers.invoices.tobill'|trans }}</h3>

                    {{ include('molecules/tables/trainer-billings-table.html.twig',{ invoices: invoices}) }}

                    <div class="text-right">
                        <p>
                            {{ 'trainers.invoices.total'|trans }} : 0
                        </p>

                        <a href="#" class="btn btn-sm btn-deepmark-navy">{{ 'trainers.invoices.send_bill'|trans }}</a>
                    </div>
                </div>

                <div class="tab-pane" id="done">
                    {{ include('molecules/tables/trainer-billings-table.html.twig', { invoices: invoices, idPre: 'done' }) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
