{% extends "base.html.twig" %}

{% block pagename %}{{ module.designation }}{% endblock %}

{% block body %}
{% set statusDoneId = constant('\\ApiBundle\\Entity\\Status::WITH_BOOKING_DONE') %}
{% set statusExpiredId = constant('\\ApiBundle\\Entity\\Status::LEARNER_INTERVENTION_EXPIRED') %}
{% set status_done =  constant('ApiBundle\\Entity\\Status::WITH_BOOKING_DONE') %}
{% set status_learner_absent =  constant('ApiBundle\\Entity\\Status::WITH_BOOKING_LEARNER_ABSENT') %}

{% set hour = module.duration|date('G', false) %}
{% set minutes =  module.duration|date('i', false) %}
{% set duration = '' %}
{% set durationJs = '' %}
{% if hour == '0' %}
    {% set duration = '+'~minutes~' min' %}
    {% set durationJs = minutes %}
{% elseif minutes == '00' %}
    {% set duration = '+'~ hour ~ 'hours' %}
    {% set durationJs = hour * 60 %}
{% else %}
    {% set duration = '+' ~hour ~ ' hours' ~ ' +' ~ minutes~ ' min' %}
    {% set durationJs = minutes + hour * 60  %}
{% endif %}

{% if module.storedModule.appId == constant('\\ApiBundle\\Entity\\StoredModule::PRESENTATION_ANIMATION') %}
    {% set icon = '/images/classroom-white.svg' %}
    {% set color = 'btn-lightblue' %}
{% elseif module.storedModule.appId == constant('\\ApiBundle\\Entity\\StoredModule::ONLINE') %}
    {% set icon = '/images/online-white.svg' %}
    {% set color = 'btn-navy' %}
{% elseif module.storedModule.appId == constant('\\ApiBundle\\Entity\\StoredModule::VIRTUAL_CLASS') %}
    {% set icon = '/images/vitual-white.svg' %}
    {% set color = 'btn-blue' %}
{% endif %}

    <div class="row course-steps pad-t-30" >
        <div id="courseStepsMiddleLine"></div>
        <div class="col-md-1 no-padding text-center border-radius-10 font-size-14 color-header first-step first-step-margin">
            <span class="module-circle flex--center pointer box-module">
                <i class="fa fa-home" aria-hidden="true"></i>
            </span>
            <p class="no-margin color-header">Start</p>
            <p  class="bold no-padding no-margin color-header">{{ intervention.beginning|date("d/m/Y") }}</p>
        </div>
        <div class="col-md-10 no-padding">
            <nav id="courseSteps no-padding">
                <div id="courseStepsCircles">
                    {% set loopCurrent = 0 %}
                    {% set current = 0 %}
                    {% set curentClass = '' %}
                    {% set current_id = 0 %}
                    {% if modules|length < 6 %}
                        <div id="staticCircles">
                            {% block circleList %}
                                <div>
                                </div>
                                {% for moduleCourse in modules %}
                                    {% if idModule == moduleCourse.id %}
                                        {% set loopCurrent = loop.index %}
                                    {% endif %}
                                    {% if moduleCourse.id in moduleAssigns  %}
                                        <div class="div-module padding-content {% if idModule == moduleCourse.id %} triangleClass {% endif %} text-center {% if modules|length >= 6 %} marg-t-20 {% endif %} " >
                                            <a data-placement="bottom" data-toggle="tooltip" title="{{ moduleCourse.designation }}" style="display: inline-flex!important;" href="{{ path('trainer_missions_detail', {'id': moduleCourse.id }) }}" class="module-circle flex--center module-circle--active font-size-12 {% if idModule == moduleCourse.id %} curentClass {% endif %}">
                                                {{ api.profile.firstName|first }}{{ api.profile.lastName|first }}
                                            </a>
                                            <p class="text-long display-text font-size-12">
                                                {% if moduleCourse.storedModule.appId == constant('\\ApiBundle\\Entity\\StoredModule::QUIZ') %}
                                                    {% if moduleCourse.quiz.isSurvey == 1 %}
                                                        {{ 'table.quiz.is_survey.yes'|trans }}
                                                    {% else %}
                                                        {{ 'table.quiz.is_survey.no'|trans }}
                                                    {% endif %}
                                                {% else %}
                                                    {{ include('molecules/widgets/module-type.html.twig', { appId: moduleCourse.storedModule.appId }) }}
                                                {% endif %}
                                            </p>
                                        </div>
                                    {% else %}
                                        <div class="div-module padding-content {% if idModule == moduleCourse.id %} triangleClass {% endif %} text-center {% if modules|length >= 6 %} marg-t-20 {% endif %} ">
                                            <span data-placement="bottom" data-toggle="tooltip" title="{{ moduleCourse.designation }}" style="display: inline-flex!important;" class="module-circle flex--center module-circle--block {% if idModule == moduleCourse.id %} curentClass {% endif %}">
                                                {{ loop.index }}
                                            </span>
                                            <p class="text-long display-text font-size-12">
                                                {% if moduleCourse.storedModule.appId == constant('\\ApiBundle\\Entity\\StoredModule::QUIZ') %}
                                                    {% if moduleCourse.quiz.isSurvey == 1 %}
                                                        {{ 'table.quiz.is_survey.yes'|trans }}
                                                    {% else %}
                                                        {{ 'table.quiz.is_survey.no'|trans }}
                                                    {% endif %}
                                                {% else %}
                                                    {{ include('molecules/widgets/module-type.html.twig', { appId: moduleCourse.storedModule.appId }) }}
                                                {% endif %}
                                            </p>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                                <div>
                                    <input type="hidden" id="currentModuleId" value="{{ loopCurrent }}">
                                </div>
                            {% endblock %}
                        </div>
                    {% else %}
                        <div id="circlesOuterWrapper">
                            <a id="previousModule" class="btn btn-deepmark flex--center no-padding border-radius-50 control"><i class="text-white far fa-angle-left"></i></a>
                            <div id="slidingCircles">
                                <div id="circlesInnerWrapper">
                                    {{ block('circleList') }}
                                </div>
                            </div>
                            <a id="nextModule" class="btn btn-deepmark flex--center no-padding border-radius-50 control"><i class="text-white far fa-angle-right "></i></a>
                        </div>
                    {% endif %}
                </div>
            </nav>
        </div>
        <div class="col-md-1 no-padding text-center color-header font-size-14 border-radius-10 last-step {% if moduleAssessment %}step-margin {% else %} first-step-margin{% endif %}">
            {% if moduleAssessment %}
                <img width="30" height="20"  src="{{ asset('/images/tiara.png') }}"><br>
            {% endif %}
            <span  class="module-circle flex--center pointer  box-module" >
                            <i class="fa fa-trophy" aria-hidden="true"></i>
                        </span>
            <p class="no-margin color-header">End</p>
            <p class="no-padding bold no-margin color-header">{{ intervention.ending|date("d/m/Y") }}</p>
        </div>
    </div>
    <div class="row marg-t-10 card-pane">
        <div class="col-md-4 no-padding-left marg-b-15" >
            <div class="col-md-12 row div-module-detail" >
                <div class="col-md-3 text-center flex--center no-padding">
                    <div class="flex--center {{ color }} border-radius-50 no-padding" style="width: 50px; height: 50px;">
                        {% if icon is defined %}
                            <object data="{{ icon }}" width="40" height="40"
                                    type="image/svg+xml"></object>
                        {% endif %}
                    </div>
                </div>
                <div class="col-md-9 no-padding" >
                    <span class="bold">
                        {% if module.storedModule.appId == constant('\\ApiBundle\\Entity\\StoredModule::ONLINE') %}
                            {{ 'admin.interventions.mods.onlineseance'|trans }}
                        {% elseif module.storedModule.appId == constant('\\ApiBundle\\Entity\\StoredModule::VIRTUAL_CLASS') %}
                            {{ 'admin.interventions.mods.virtualclass'|trans }}
                        {% elseif module.storedModule.appId == constant('\\ApiBundle\\Entity\\StoredModule::PRESENTATION_ANIMATION') %}
                            {{ 'admin.interventions.mods.animation'|trans }}
                        {% endif %}
                    </span>
                    <h3 class="no-margin font-size-20 bold color-header">{{ module.designation }}</h3>
                </div>
                <div class="col-md-12 no-padding div-module-description">
                    <p class="no-margin bold" >{{ 'admin.skills.form.description_label'|trans }}</p>
                    <div class="col-md-12 no-padding text-justify font-size-13" >
                        {{ module.description|raw }}
                    </div>
                </div>
                <div class="col-md-12 no-padding row padding-bottom-15" >
                    <div class="col-md-8 no-padding">
                        <p class="color-header no-margin bold" >
                            <embed src="/images/clock.svg" width="22" height="22"
                                   type="image/svg+xml"/>&nbsp;&nbsp;&nbsp;<span class="font-size-20">{{ module.duration|date('H:i:s') }}</span>
                        </p>
                        <p class="no-margin">
                            <embed src="/images/calendar.svg" width="18" height="20"
                                   type="image/svg+xml"/>&nbsp;&nbsp;&nbsp;<span class="font-size-13 text-gray">{{ module.beginning|date('d/m/Y') }} {{ 'global.to'|trans }} {{ module.ending|date("d/m/Y") }}</span>
                        </p>
                    </div>
                    <div class="col-md-4 no-padding text-center text-gray" >
                        {% if (module.minScore is not empty) %}
                            <span class="font-size-13 bold" >{{ 'trainers.statistics.score_to_pass' |trans|capitalize }}</span><br>
                            <span class="font-size-30 bold">{{ module.minScore  }}%</span>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-md-12 marg-b-15 bg-white border-radius-10" >
                <div class="col-md-12 text-center pad-15" >
                    <span class="color-header bold font-size-20">{{ 'global.trainer_document'|trans }}</span>
                    <a style="position: absolute; right: 10px; top: 16px;" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseLearnerDocuments" aria-expanded="true" aria-controls="collapseLearnerDocuments">
                        <i class="fa fa-plus color-header" style="display: none"></i>
                        <i class="fa fa-minus color-header"></i>
                    </a>
                </div>
                <div id="collapseLearnerDocuments" class="col-md-12 panel-collapse collapse show" role="tabpanel" aria-labelledby="headingOne">
                    {% if module.trainerDocument|length != 0 %}
                        {{ include('molecules/tables/files-list.html.twig', {documents: module.trainerDocument, type: "documents"}) }}
                    {% endif %}
                </div>
            </div>
            <div class="col-md-12 marg-b-15 bg-white border-radius-10"  >
                <div class="col-md-12 text-center pad-15" >
                    <span class="font-size-20 bold color-header">{{ 'global.learner_document'|trans }}</span>
                    <a style="position: absolute; right: 10px; top: 16px;" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTrainerDocuments" aria-expanded="true" aria-controls="collapseTrainerDocuments">
                        <i class="fa fa-plus color-header" style="display: none"></i>
                        <i class="fa fa-minus color-header"></i>
                    </a>
                </div>
                <div id="collapseTrainerDocuments" class="col-md-12 panel-collapse collapse show" role="tabpanel" aria-labelledby="headingOne">
                    {% if module.educationalDocument|length != 0 %}
                        {{ include('molecules/tables/files-list.html.twig', {documents: module.educationalDocument, type: "documents"}) }}
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-md-8 no-padding marg-b-15">
             <div class="col-md-12 border-radius-10 pad-b-10 row bg-white">
                 <div class="col-md-12 text-center">
                     <h3 class="bold text-center align-center color-header">{{ 'global.my_sessions'|trans }}</h3>
                 </div>
                 <div class="row col-md-12 pad-t-10 text-white pad-b-10 backgroud-header flex--center">
                     <div class="col-2">
                     </div>
                     <div class="col-8 text-center  flex--center">
                         <label class="height-40 width-40 bg-white border-radius-50 font-size-18 color-header d-flex  justify-content-center align-items-center ">{% if module.storedModule.appId == constant('\\ApiBundle\\Entity\\StoredModule::PRESENTATION_ANIMATION') or module.storedModule.appId == constant('\\ApiBundle\\Entity\\StoredModule::VIRTUAL_CLASS') %} {{  sessionDones|length }} {% else %} {{ bookingDones|length }} {% endif %}</label> <span class="no-margin text-white pad-l-5 bold font-size-18"> {{ 'learners.courses.status.done' | trans }}</span>
                     </div>
                     <div class="col-md-2 text-right">
                         <i class="fa fa-angle-down c-white" data-toggle="collapse" href="#done"  aria-expanded="true" aria-controls="done"></i>
                     </div>
                 </div>
                 <div class="col-md-12 font-size-14 no-padding collapse"  id="done">
                     <div class="row col-md-12 pad-t-15 text-white pad-b-15 backgroud-deepmark-light">
                         <div class="row col-md-3 no-padding">
                             <div class="col-md-6 pad-l-5 pad-r-5 text-left">
                                 <span class="color-header">{{ 'table.sessions.date'|trans }}</span>
                             </div>
                             <div class="col-md-6 pad-l-5 pad-r-5 text-left">
                                 <span class="color-header">{{ 'table.sessions.hours'|trans }}</span>
                             </div>
                         </div>
                         <div class="{% if module.storedModule.appId == constant('\\ApiBundle\\Entity\\StoredModule::PRESENTATION_ANIMATION') or module.storedModule.appId == constant('\\ApiBundle\\Entity\\StoredModule::VIRTUAL_CLASS') %} col-md-1 {% else %} col-md-4 {% endif %} pad-l-5 pad-r-5">
                             <span class="color-header">{{ 'table.interventions.learner'|trans }}</span>
                         </div>
                         {% if module.storedModule.appId == constant('\\ApiBundle\\Entity\\StoredModule::PRESENTATION_ANIMATION') or  module.storedModule.appId == constant('\\ApiBundle\\Entity\\StoredModule::VIRTUAL_CLASS') %}
                             <div class="col-md-5 pad-l-20 pad-r-10">
                                 <span class="color-header">{{ 'global.place'|trans }}</span>
                             </div>
                         {% endif %}
                         <div class="pad-l-5 pad-r-5 {% if module.storedModule.appId == constant('\\ApiBundle\\Entity\\StoredModule::PRESENTATION_ANIMATION') or module.storedModule.appId == constant('\\ApiBundle\\Entity\\StoredModule::VIRTUAL_CLASS') %} col-md-2 {% else %} col-md-4 {% endif %}">
                             <span class="color-header">{{ 'global.org_entity'|trans }}</span>
                         </div>
                         <div class="col-md-1 pad-l-5 pad-r-5"></div>
                     </div>
                     <div  class=" col-md-12 word-break font-size-13">
                         {% if module.storedModule.appId == constant('\\ApiBundle\\Entity\\StoredModule::PRESENTATION_ANIMATION') or module.storedModule.appId == constant('\\ApiBundle\\Entity\\StoredModule::VIRTUAL_CLASS')   %}
                              {% for sessionDone in  sessionDones %}
                                  {% set session = sessionDone['data'] %}
                                  <div class="row col-md-12 pad-l-0 pad-r-0 pad-t-10 pad-b-10 border-bottom">
                                      <div class="row col-md-3 no-padding">
                                          <div class="col-md-6 pad-l-5 pad-r-5">{{ session.sessionDate|date('d/m/Y') }}</div>
                                          <div class="col-md-6 pad-l-5 pad-r-5">
                                              {{ session.sessionDate|date('G:i', false) }} - {{ session.sessionDate|date_modify(duration)|date('G:i', false) }}
                                          </div>
                                      </div>
                                      <div class="col-md-1 pad-l-5 pad-r-5">{{ sessionDone['num'] }}</div>
                                      <div class="col-md-5 pad-l-20 pad-r-10">
                                          {% if module.storedModule.appId == constant('\\ApiBundle\\Entity\\StoredModule::PRESENTATION_ANIMATION') %}
                                              {{ sessionDone['place'] }}
                                          {% else %}
                                              {{ 'global.remote'|trans }}
                                          {% endif %}
                                      </div>
                                      <div class="pad-l-5 pad-r-5 col-md-2">
                                          {{ sessionDone['org'] }}</b> - {{ sessionDone['entity'] }}
                                      </div>
                                      <div class="col-md-1 text-right pad-l-5 pad-r-5 flex--center text-gray">
                                          <a href="{{ path('trainer_exercices_video_booking_agenda', {'id': module.id, 'bid': sessionDone['bookingId'] }) }}"><i class="fa fa-eye color-header font-size-20" aria-hidden="true"></i></a>
                                      </div>
                                  </div>
                             {% endfor %}
                         {% else %}
                             {% for booking in bookingDones %}
                                 <div class="row col-md-12 pad-l-0 pad-r-0 pad-t-10 pad-b-10 border-bottom ">
                                     <div class="row col-md-3 no-padding">
                                         <div class="col-md-6 pad-l-5 pad-r-5">{{ booking.bookingDate|date('d/m/Y') }}</div>
                                         <div class="col-md-6 pad-l-5 pad-r-5">
                                             {{ booking.bookingDate|date('G:i', false) }} - {{ booking.bookingDate|date_modify(duration)|date('G:i', false) }}
                                         </div>
                                     </div>
                                     <div class="col-md-4 pad-l-5 pad-r-5">{{ booking.learner.displayName }}</div>
                                     <div class="pad-l-5 pad-r-5 col-md-4">
                                         {{ booking.learner.entity.organisation.designation }}</b> - {{ booking.learner.entity.designation }}
                                     </div>
                                     <div class="col-md-1 text-right pad-l-5 pad-r-5 flex--center text-gray">
                                         <a href="{{ path('trainer_exercices_video_booking_agenda', {'id': module.id, 'bid': booking.id }) }}"><i class="fa fa-eye color-header font-size-20" aria-hidden="true"></i></a>
                                     </div>
                                 </div>
                            {% endfor %}
                         {% endif %}
                     </div>
                 </div>
                <div class="row col-md-12 pad-t-10 text-white pad-b-10 marg-t-10 backgroud-header flex--center">
                    <div class="col-2">
                    </div>
                    <div class="col-8 text-center flex--center">
                        <label class="height-40 width-40 bg-white border-radius-50 font-size-18 color-header d-flex  justify-content-center align-items-center ">{% if module.storedModule.appId == constant('\\ApiBundle\\Entity\\StoredModule::PRESENTATION_ANIMATION') or module.storedModule.appId == constant('\\ApiBundle\\Entity\\StoredModule::VIRTUAL_CLASS') %} {{  sessionBookeds|length }} {% else %} {{ bookeds|length }} {% endif %}</label> <span class="no-margin text-white pad-l-5 bold font-size-18"> {{ 'learners.courses.status.booked' | trans }}</span>
                    </div>
                    <div class="col-md-2 text-right">
                        <i class="fa fa-angle-down c-white" data-toggle="collapse" href="#booked"  aria-expanded="true" aria-controls="booked"></i>
                    </div>
                </div>
                <div class="col-md-12 font-size-14 no-padding collapse" id="booked">

                    <div class="row col-md-12 pad-t-15 text-white pad-b-15 backgroud-deepmark-light">
                        <div class="row col-md-3 no-padding">
                            <div class="col-md-6 pad-l-5 pad-r-5 text-left">
                                <span class="color-header">{{ 'table.sessions.date'|trans }}</span>
                            </div>
                            <div class="col-md-6 pad-l-5 pad-r-5 text-left">
                                <span class="color-header">{{ 'table.sessions.hours'|trans }}</span>
                            </div>
                        </div>
                        <div class="pad-l-5 pad-r-5 {% if module.storedModule.appId == constant('\\ApiBundle\\Entity\\StoredModule::PRESENTATION_ANIMATION') or module.storedModule.appId == constant('\\ApiBundle\\Entity\\StoredModule::VIRTUAL_CLASS') %} col-md-1 {% else %} col-md-4 {% endif %}">
                            <span class="color-header">{{ 'table.interventions.learner'|trans }}</span>
                        </div>
                        {% if module.storedModule.appId == constant('\\ApiBundle\\Entity\\StoredModule::PRESENTATION_ANIMATION') or module.storedModule.appId == constant('\\ApiBundle\\Entity\\StoredModule::VIRTUAL_CLASS') %}
                            <div class="col-md-5 pad-l-20 pad-r-10">
                                <span class="color-header">{{ 'global.place'|trans }}</span>
                            </div>
                        {% endif %}
                        <div class="pad-l-5 pad-r-5 {% if module.storedModule.appId == constant('\\ApiBundle\\Entity\\StoredModule::PRESENTATION_ANIMATION') or module.storedModule.appId == constant('\\ApiBundle\\Entity\\StoredModule::VIRTUAL_CLASS') %} col-md-2 {% else %} col-md-4 {% endif %}">
                            <span class="color-header">{{ 'global.org_entity'|trans }}</span>
                        </div>
                        <div class="col-md-1 pad-l-5 pad-r-5"></div>
                    </div>

                    <div class="col-md-12 word-break font-size-13">
                        {% if module.storedModule.appId == constant('\\ApiBundle\\Entity\\StoredModule::PRESENTATION_ANIMATION') or module.storedModule.appId == constant('\\ApiBundle\\Entity\\StoredModule::VIRTUAL_CLASS')   %}
                            {% for sessionBooked in sessionBookeds %}
                                {% set session = sessionBooked['data'] %}
                                <div class="row col-md-12 pad-l-0 pad-r-0 pad-t-10 pad-b-10 border-bottom ">
                                    <div class="row no-padding col-md-3">
                                        <div class="col-md-6 pad-l-5 pad-r-5">{{ session.sessionDate|date('d/m/Y') }}</div>
                                        <div class="col-md-6 pad-l-5 pad-r-5">
                                            {{ session.sessionDate|date('G:i', false) }} - {{ session.sessionDate|date_modify(duration)|date('G:i', false) }}
                                        </div>
                                    </div>
                                    <div class="col-md-1 pad-l-5 pad-r-5">{{ sessionBooked['num'] }}</div>
                                    <div class="col-md-5 pad-l-20 pad-r-10">
                                        {% if module.storedModule.appId == constant('\\ApiBundle\\Entity\\StoredModule::PRESENTATION_ANIMATION') %}
                                            {{ sessionBooked['place'] }}
                                        {% else %}
                                            {{ 'global.remote'|trans }}
                                        {% endif %}
                                    </div>
                                    <div class="pad-l-5 pad-r-5 col-md-2 ">
                                        {{ sessionBooked['org'] }}</b> - {{ sessionBooked['entity'] }}
                                    </div>
                                    <div class="col-md-1 text-right pad-l-5 pad-r-5 flex--center text-gray">
                                        <a href="{{ path('trainer_exercices_video_booking_agenda', {'id': module.id, 'bid': sessionBooked['bookingId'] }) }}"><i class="fa fa-eye color-header font-size-20" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                            {% endfor %}
                        {% else %}
                            {% for booking in bookeds %}
                                <div class="row col-md-12 pad-l-0 pad-r-0 pad-t-10 pad-b-10 border-bottom ">
                                    <div class="row col-md-3 no-padding">
                                        <div class="col-md-6 pad-l-5 pad-r-5">{{ booking.bookingDate|date('d/m/Y') }}</div>
                                        <div class="col-md-6 pad-l-5 pad-r-5">
                                            {{ booking.bookingDate|date('G:i', false) }} - {{ booking.bookingDate|date_modify(duration)|date('G:i', false) }}
                                        </div>
                                    </div>
                                    <div class="col-md-4 pad-l-5 pad-r-5">{{ booking.learner.displayName }}</div>

                                    <div class="pad-l-5 pad-r-5 col-md-4">
                                        {{ booking.learner.entity.organisation.designation }}</b> - {{ booking.learner.entity.designation }}
                                    </div>
                                    <div class="col-md-1 text-right pad-l-5 pad-r-5 text-gray flex--center">
                                        <a href="{{ path('trainer_exercices_video_booking_agenda', {'id': module.id, 'bid': booking.id }) }}"><i class="fa fa-eye color-header font-size-20" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
             </div>
            <div class="col-md-12 text-center row div-synthesis" >
                <div class="col-md-12 pad-b-20 text-center">
                    <h3 class="color-header no-margin bold" >{{ 'popup.synthesis'|trans}}</h3>
                </div>
                <div class="col-md-6 text-center">
                    <p> {{ 'admin.interventions.create.module_card.session'|trans|capitalize }} ({{ moduleRating.totalResponse }})</p>
                    <div class="marg-b-30 font-size-25">{{ include('molecules/widgets/ratings.html.twig', { max: 5, grade: moduleRating.rating }) }}</div>
                </div>
                <div class="col-md-6 text-center ">
                    <p >{{ 'table.trainer'|trans }} ({{ moduleTrainerRating.totalResponse }})</p >
                    <div class="marg-b-30 font-size-25">{{ include('molecules/widgets/ratings.html.twig', { max: 5, grade: moduleTrainerRating.rating }) }}</div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/learner/courses.js') }}"></script>
    <script>
        $('[data-toggle="tooltip"]').tooltip();
        $(document).ready(function () {
            $('body').on('click', '.fa-angle-down', function(){
                $(this).addClass('fa-angle-up');
                $(this).removeClass('fa-angle-down');
            });
            $('body').on('click', '.fa-angle-up', function(){
                $(this).addClass('fa-angle-down');
                $(this).removeClass('fa-angle-up');
            });

        });
    </script>
    <script>
        $('.preview-file-page').click(function() {
            let domain = document.location.origin;
            let url = '{{ amazon_s3_url }}' + '/' + $(this).attr('data-pdf-loader-queue');
            window.open(domain + '/viewer?url='+ url, '_blank');
        });
    </script>
{% endblock %}