{% extends "base.html.twig" %}

{% block title %}My missions{% endblock %}
{% block pagename %}Missions{% endblock %}

{% block body %}

    <div class="card card-pane marg-t-10">
        <main class="card-body header">
            <div class="row marg-t-10">
                <div class=" col-md-4  row no-padding bg-header d-flex justify-content-center align-items-center" style="{% if intervention.logo is not null %} background:  linear-gradient(rgb(0, 0, 0,.3),rgb(0, 0, 0,.3)), url('/files{{ asset(intervention.logo.path) }}'); {% else %} background: linear-gradient(rgb(0, 0, 0,.3),rgb(0, 0, 0,.3));  {% endif %} height: 220px!important;  ">
                </div>
                <div class="col-md-8 pad-l-0 pad-t-0 pad-r-0 pad-b-0" >
                    <div class=" row no-padding">
                        <div class="col-md-6 pad-t-10 pad-b-10 center-mobile">
                         <span class="font-size-22 font-weight-600">{{ intervention.designation }}</span>
                        </div>
                    <div class="col-md-4 center-mobile">
                        <embed src="/images/calendar.svg" width="20" height="20"
                               type="image/svg+xml"/>
                        <span class="font-size-13 text-gray">{{ 'global.from'|trans }} {{ intervention.beginning|date("d/m/Y") }} {{ 'global.to'|trans }} {{ intervention.ending|date("d/m/Y") }}</span>
                    </div>
                    <div class="col-md-2 no-padding text-left center-mobile">
                        <embed src="/images/clock.svg" width="20" height="20"
                               type="image/svg+xml"/>

                        <span class="font-size-13 text-gray">{{ totalDuration }}</span>
                    </div>


                    </div>
                    <div class="col-md-12 border-top font-size-14 pad-t-10 justify-content-center" >

                        <div class="more justify-content-center">
                            {{ intervention.comment|raw }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row marg-t-40 course-steps">
                <div id="courseStepsMiddleLine"></div>
                <div class="col-md-1 no-padding text-center border-radius-10 font-size-14 color-header first-step first-step-margin">
                    <span class="module-circle flex--center pointer box-module">
                        <i class="fa fa-home" aria-hidden="true"></i>
                    </span>
                    <p class="no-margin color-header">{{ 'global.start'|trans }}</p>
                    <p  class="bold no-padding no-margin color-header">{{ intervention.beginning|date("d/m/Y") }}</p>
                </div>

                <div class="col-md-10 no-padding">
                    {% set loopCurrent = 0 %}
                    <nav id="courseSteps no-padding">
                        <div id="courseStepsCircles">
                            {% if modules|length < 6 %}
                                <div id="staticCircles">
                                    {% block circleList %}
                                        <div>
                                        </div>
                                        {% for module in modules %}
                                            {% if (moduleAssessment and moduleAssessment.id != module.id) or moduleAssessment is null %}
                                                {% if module.id in moduleAssigns  %}
                                                    {% if loopCurrent == 0 %}
                                                        {% set loopCurrent = loop.index %}
                                                    {% endif %}
                                                    <div class="div-module padding-content text-center {% if modules|length >= 6 %} marg-t-20 {% endif %} " >
                                                        <a data-placement="bottom" data-toggle="tooltip" title="{{ module.designation }}" style="display: inline-flex!important;" href="{{ path('trainer_missions_detail', {'id': module.id }) }}" class="module-circle flex--center module-circle--active curentClass font-size-12">
                                                            {{ api.profile.firstName|first }}{{ api.profile.lastName|first }}
                                                        </a>
                                                        <p  class="text-long display-text font-size-12">
                                                            {% if module.storedModule.appId == constant('\\ApiBundle\\Entity\\StoredModule::QUIZ') %}
                                                                {% if module.quiz.isSurvey == 1 %}
                                                                    {{ 'table.quiz.is_survey.yes'|trans }}
                                                                {% else %}
                                                                    {{ 'table.quiz.is_survey.no'|trans }}
                                                                {% endif %}
                                                            {% else %}
                                                                {{ include('molecules/widgets/module-type.html.twig', { appId: module.storedModule.appId }) }}
                                                            {% endif %}
                                                        </p>
                                                    </div>
                                                {% else %}
                                                     <div class="div-module padding-content text-center {% if modules|length >= 6 %} marg-t-20 {% endif %} " >
                                                        <span data-placement="bottom" data-toggle="tooltip" title="{{ module.designation }}" style="display: inline-flex!important;" class="module-circle flex--center module-circle--block ">
                                                            {{ loop.index }}
                                                        </span>
                                                        <p  class="text-long font-size-12 display-text">
                                                            {% if module.storedModule.appId == constant('\\ApiBundle\\Entity\\StoredModule::QUIZ') %}
                                                                {% if module.quiz.isSurvey == 1 %}
                                                                    {{ 'table.quiz.is_survey.yes'|trans }}
                                                                {% else %}
                                                                    {{ 'table.quiz.is_survey.no'|trans }}
                                                                {% endif %}
                                                            {% else %}
                                                                {{ include('molecules/widgets/module-type.html.twig', { appId: module.storedModule.appId }) }}
                                                            {% endif %}
                                                        </p>
                                                     </div>
                                                {% endif %}
                                            {% endif %}
                                        {% endfor %}
                                        <div>
                                            <input type="hidden" id="currentModuleId" value="{{ loopCurrent  }}">
                                        </div>
                                    {% endblock %}
                                </div>
                            {% else %}
                                <div id="circlesOuterWrapper">
                                    <a id="previousModule" class="btn btn-deepmark flex--center no-padding border-radius-50 control"><i class="text-white far fa-angle-left"></i></a>
                                    <div id="slidingCircles">
                                        <div id="circlesInnerWrapper">
                                            {{ block('circleList') }}
                                        </div>
                                    </div>
                                    <a id="nextModule" class="btn btn-deepmark flex--center no-padding border-radius-50 control"><i class="text-white far fa-angle-right "></i></a>
                                </div>

                            {% endif %}
                        </div>
                    </nav>

                </div>
                <div class="col-md-1 no-padding text-center color-header font-size-14 border-radius-10 last-step  {% if moduleAssessment %}step-margin {% else %} first-step-margin{% endif %}">
                    {% if moduleAssessment %}
                        <img width="30" height="20"  src="{{ asset('/images/tiara.png') }}"><br>
                    {% endif %}
                    <span  class="module-circle flex--center pointer  box-module" >
                        <i class="fa fa-trophy" aria-hidden="true"></i>
                    </span>
                    <p class="no-margin color-header">{{ 'global.end'|trans }}</p>
                    <p class="no-padding bold no-margin color-header">{{ intervention.ending|date("d/m/Y") }}</p>
                </div>
            </div>

            <div class="row marg-t-20">
                <div class="col-md-12 col-sm-12 no-padding">
                    <ul class="pad-10 round">
                        {% if modules|length != 0 %}
                            {% for key, module in modules %}
                                {% if (moduleAssessment and moduleAssessment.id != module.id) or moduleAssessment is null %}

                                    {% if module.id not in moduleAssigns  %}
                                        {% set class = 'module-li-done' %}
                                        {% set classButton = 'btn-deepmark-mediumgray' %}
                                        {% set classIcon = 'li-done' %}
                                    {% else %}
                                        {% set class = 'module-li-active' %}
                                        {% set classButton = 'btn-deepmark-orangelight' %}
                                        {% set classIcon = 'li-active' %}

                                    {% endif %}

                                    {% set moduleLink = '' %}
                                    <li class="module {{ class }} marg-b-15 no-padding">
                                        <div class="row col-md-12 pad-l-0 pad-r-0 {% if module.id not in moduleAssigns  %} pad-b-10 {% endif %}" >
                                            <div class="col-md-1 no-padding ">
                                                <div class="row height-100 " >
                                                    <div class="col-md-6 col-2 no-padding">
                                                        {% if module.id in moduleHasAssessment %}
                                                            <img height="40" width="100%" src="{{ asset('/images/bg-tiara.png') }}">
                                                        {% endif %}
                                                    </div>
                                                    <div class="col-md-6 col-12 flex--center  no-padding" >
                                                        <span class="font-size-30 font-weight-800">{{ key+1 }}.</span>
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="col-md-1  pad-l-0 pad-r-0 pad-t-10 pad-b-0 flex--center"  >
                                                {% if module.storedModule.appId == constant('\\ApiBundle\\Entity\\StoredModule::PRESENTATION_ANIMATION') %}
                                                    {% set icon = '/images/classroom-white.svg' %}
                                                    {% set color = 'btn-lightblue' %}
                                                {% elseif module.storedModule.appId == constant('\\ApiBundle\\Entity\\StoredModule::ELEARNING') %}
                                                    {% set icon = '/images/elearning-white.svg' %}
                                                    {% set color = 'btn-orangelight' %}
                                                {% elseif module.storedModule.appId == constant('\\ApiBundle\\Entity\\StoredModule::ONLINE') %}
                                                    {% set icon = '/images/online-white.svg' %}
                                                    {% set color = 'btn-navy' %}
                                                {% elseif module.storedModule.appId == constant('\\ApiBundle\\Entity\\StoredModule::QUIZ') %}
                                                    {% set icon = '/images/quiz-white.svg' %}
                                                    {% set color = 'btn-gold' %}
                                                {% elseif module.storedModule.appId == constant('\\ApiBundle\\Entity\\StoredModule::VIRTUAL_CLASS') %}
                                                    {% set icon = '/images/vitual-white.svg' %}
                                                    {% set color = 'btn-blue' %}
                                                {% elseif module.storedModule.appId == constant('\\ApiBundle\\Entity\\StoredModule::ASSESSMENT') %}
                                                    {% set color = '' %}
                                                {% endif %}
                                                <div class="flex--center {{ color }} border-radius-50 no-padding" style="width: 50px; height: 50px;">
                                                    {% if icon is defined %}
                                                        <object data="{{ icon }}" width="40" height="40"
                                                                type="image/svg+xml"></object>
                                                    {% endif %}
                                                </div>
                                            </div>
                                            <div class="col-md-4 row no-padding align-self-center center-mobile">
                                                <div class="col-md-12 no-padding">
                                                    <b class="font-weight-600 font-size-13">
                                                        {% if module.storedModule.appId == constant('\\ApiBundle\\Entity\\StoredModule::QUIZ') %}
                                                            {% if module.quiz.isSurvey == 1 %}
                                                                {{ 'table.quiz.is_survey.yes'|trans }}
                                                            {% else %}
                                                                {{ 'table.quiz.is_survey.no'|trans }}
                                                            {% endif %}
                                                        {% else %}
                                                            {{ include('molecules/widgets/module-type.html.twig', { appId: module.storedModule.appId }) }}
                                                        {% endif %}
                                                    </b>
                                                </div>
                                                <div class="col-md-10 no-padding">
                                                    <p class="no-margin bold font-size-18">{{ module.designation }}</p>
                                                </div>
                                                <div class="col-md-2 no-padding text-left">
                                                    <div class="col-md-12  no-padding">
                                                        <a data-id="{{ key }}" id="plusBtn{{ key }}" class="pointer plusBtn"><i class="fa fa-plus-circle font-size-22 text-gray" aria-hidden="true"></i></a>
                                                        <a data-id="{{ key }}" id="minusBtn{{ key }}" class="pointer minusBtn d-none"><i class="fa fa-minus-circle font-size-22 text-gray" aria-hidden="true"></i></a>
                                                    </div>
                                                </div>
                                                <div id="divDes{{ key }}" class="col-md-12 d-none no-padding font-size-12 ">
                                                    {{ module.description|raw }}
                                                </div>
                                            </div>

                                            <div class="col-md-4 row no-padding"  >
                                                <div class="col-md-12 pad-l-5 pad-r-0 pad-t-0 pad-b-0 center-mobile align-self-center font-size-13" >
                                                    <p class="no-margin" >
                                                        <embed src="/images/clock.svg" width="15" height="15"
                                                               type="image/svg+xml"/>&nbsp;&nbsp;&nbsp;<span  class="font-size-13 text-gray">{{ module.duration|date('H:i:s') }}</span>
                                                    </p>
                                                    <p class="no-margin font-size-13" >
                                                        <embed src="/images/calendar.svg" width="13" height="13"
                                                               type="image/svg+xml"/>&nbsp;&nbsp;<span  class="font-size-13 text-gray">{{ 'global.from'|trans }} <span class="bold">{{ intervention.beginning|date("d/m/Y") }}</span> {{ 'global.to'|trans }} <span class="bold">{{ intervention.ending|date("d/m/Y") }}</span></span>
                                                    </p>
                                                </div>

                                            </div>
                                            <div class="col-md-2 flex--center bold">
                                                {% if module.id in moduleAssigns  %}
                                                        <a class="btn btn-sm text-capitalize {{ classButton }}" href="{{ path('trainer_missions_detail', {'id': module.id}) }}">
                                                            {{ 'learners.courses.details'|trans }}
                                                        </a>

                                                {% endif %}
                                            </div>
                                            {% if module.id in moduleAssigns  %}
                                                <div class="col-md-12 row  done-box-module no-padding">
                                                    <div class="col-md-7 row no-padding text-gray">

                                                        <ul class="nav nav-pills no-padding col-md-6" role="tablist">
                                                            <li class="pad-l-5 pad-r-5">
                                                                <span>{{ 'global.my_session_grade'|trans }} ({{ moduleRating[module.id]['totalResponse'] }}) </span>

                                                            </li>
                                                            <li class=" no-padding">
                                                                {{ include('molecules/widgets/ratings.html.twig', { max: 5, grade: moduleRating[module.id]['rating']  }) }}

                                                            </li>
                                                        </ul>

                                                        <ul class="nav nav-pills no-padding col-md-6" role="tablist">
                                                            <li class="pad-l-5 pad-r-5">
                                                                <span>{{ 'global.my_trainer_grade'|trans }} ({{ moduleTrainerRating[module.id]['totalResponse'] }}) </span>
                                                            </li>
                                                            <li class=" no-padding">
                                                                {{ include('molecules/widgets/ratings.html.twig', { max: 5, grade:moduleTrainerRating[module.id]['rating'] }) }}

                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <div class="col-md-5 row no-padding text-gray text-center">
                                                        <div class="col-md-5 no-padding">
                                                            <span>{{ 'global.interventions_carried_out'|trans }}: </span> <span class="bold">{{ moduleBookingAgendaDoneNum[module.id] }}</span>
                                                        </div>
                                                        <div class="col-md-7 no-padding text-gray  text-center">
                                                            <span>{{ 'global.scheduled_interventions'|trans }} </span> <span class="bold"> {{ moduleBookingAgendaBookedNum[module.id] }}</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endif %}
                                        </div>
                                    </li>
                                {% endif %}
                            {% endfor %}

                        {% endif %}
                    </ul>
                </div>
            </div>

        </main>
    </div>


{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/step-circle.js') }}"></script>

    <script>
        $('[data-toggle="tooltip"]').tooltip();
        $(document).ready(function () {
            let readMore = '{{ "global.read_more"|trans }}';
            let readLess = '{{ "global.read_less"|trans }}';
            readmore(300, readMore, readLess);

            $('.plusBtn').on('click', function () {
                var id = $(this).attr("data-id");
                $("#plusBtn"+id).addClass('d-none');
                $("#minusBtn"+id).removeClass('d-none');
                $("#divDes"+id).removeClass('d-none');

            });
            $('.minusBtn').on('click', function () {
                var id = $(this).attr("data-id");
                $("#plusBtn"+id).removeClass('d-none');
                $("#minusBtn"+id).addClass('d-none');
                $("#divDes"+id).addClass('d-none');

            });

            // show note or hidden
            $('.plusNoteBtn').on('click', function () {
                var id = $(this).attr("data-id");
                $("#plusNoteBtn"+id).addClass('d-none');
                $("#minusNoteBtn"+id).removeClass('d-none');
                $("#divNote"+id).removeClass('d-none');

            });
            $('.minusNoteBtn').on('click', function () {
                var id = $(this).attr("data-id");
                $("#plusNoteBtn"+id).removeClass('d-none');
                $("#minusNoteBtn"+id).addClass('d-none');
                $("#divNote"+id).addClass('d-none');

            });
        });
    </script>
{% endblock %}
