<style>
    .global-status .progress-circle{
        background-image: url("{{ asset('images/assessment.png') }}");
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }
</style>
<div class="row">
    <div class="col-md-4 pad-l-0">
        <div class="col-md-12 pad-l-0 pad-r-15 bg-white border-radius-10 marg-b-15 min-height-280">
            <div class="row pad-l-0 pad-t-10">
                <div class="col-md-3 text-center no-padding" style="padding-left:10px!important;">
                   <span class="module-circle flex--center pointer box-module">
                       <i class="fa fa-trophy" aria-hidden="true"></i>
                   </span>
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-8 text-left no-padding">
                    <span class="font-weight-600">{{ 'admin.interventions.mods.assessment'|trans }}</span>
                    <h3 class=" bold no-margin color-header">{{ assessmentModule.designation }}</h3>
                </div>
            </div>
            <div class="col-md-12 border-top pad-t-10 font-size-13 pad-b-15">
                <p class="no-margin font-weight-600">{{ 'admin.skills.form.description_label'|trans }}</p>
                <div class="col-md-12 no-padding text-justify font-size-13">
                    {{ assessmentModule.description|raw }}
                </div>
            </div>
        </div>
        <div class="col-md-12 pad-l-0 bg-white border-radius-10">
            <div class="row pad-l-0 pad-t-10 pad-b-10">
                <div class="col-md-3 text-center no-padding-right pad-l-10">
                    <img  width="40" height="45" src="{{ asset('/images/certificate.png') }}">
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-4 no-padding flex--center">
                    <span class="color-header font-weight-600 font-size-20">{{ 'learners.courses.documents'|trans }}</span>
                </div>
                <div class="col-md-4"></div>
            </div>
            <div class="col-md-12">
                {% if reportAssessments  %}
                    <ul style="width: 100%" class="no-padding no-margin">
                        <li class="row" style="border-top: 1px solid #eee; padding-top:15px; padding-bottom:15px;">
                            <div class="col-md-9 no-padding" style="align-self: center">
                                <span>{{ 'learners.courses.report'|trans|capitalize }}</span>
                            </div>
                            <div class="col-md-2 text-center no-padding color-header" style="align-self: center">
                                <a href="#" onclick="printReport()" >
                                    <i class="fa fa-download  color-header" aria-hidden="true"></i>
                                </a>
                            </div>
{#                            <div class="col-md-1 no-padding color-header" style="align-self: center">#}
{#                                <a data-pdf-loader-queue="{{ outputFileName }}"#}
{#                                   class=" pointer preview-file preview-file-page ">#}
{#                                    <i class="fa fa-eye color-header" aria-hidden="true"></i>#}
{#                                </a>#}
{#                            </div>#}
                        </li>
                    </ul>
                {% endif %}
            </div>
            <div class="col-md-12">
                {% if outputFileName is not null %}
                    <ul style="width: 100%" class="no-padding no-margin">
                        <li class="row" style="border-top: 1px solid #eee; padding-top:15px; padding-bottom:15px;">
                            <div class="col-md-5 no-padding" style="align-self: center">
                                <span>{{ 'trainers.visio.certificate'|trans|capitalize }}</span>
                            </div>
                            <div class="col-md-2 text-center no-padding color-header" style="align-self: center">
                                <a href="/files/{{ outputFileName }}" download>
                                    <i class="fa fa-download  color-header" aria-hidden="true"></i>
                                </a>
                            </div>
                            <div class="col-md-1 no-padding color-header" style="align-self: center">
                                <a data-pdf-loader-queue="{{ outputFileName }}"
                                   class=" pointer preview-file preview-file-page ">
                                    <i class="fa fa-eye color-header" aria-hidden="true"></i>
                                </a>
                            </div>
                            <div class="row col-md-4 no-padding" style="align-self: center">
                                {% set locale = app.request.getLocale()~'_'~app.request.getLocale()|upper %}
                                {% set viewCertificateUrl = url('app_default_viewer') ~ '?url=' ~ amazon_s3_url ~ '/' ~ outputFileName %}
                                {{ socialButtons( {'linkedin': {'locale': locale, 'url': viewCertificateUrl}, 'facebook': {'locale': locale, 'send':true, 'url': viewCertificateUrl}} ) }}
                            </div>
                        </li>
                    </ul>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="col-md-8 bg-white border-radius-10 marg-b-15" id="assessmentsReport">
        <h3 class="bold text-center color-header">{{ 'assessment.assessment_status'|trans }}</h3>
        <div class="col-md-12 text-center">
            {% set result = 0 %}
            {% set totalAssessmentsWeight = 0 %}
            {% if modulesAssessment|length != 0 %}
                {% for key, module in modulesAssessment %}
                    {% set totalAssessmentsWeight = totalAssessmentsWeight + (module.condition.weight ? module.condition.weight : 1) %}
                    {% if module.status.appId == statusDoneId %}
                        {% if module.result == 1 %}
                            {% set classStatus = 'bg-green' %}
                            {% set result = result + 1 * (module.condition.weight ? module.condition.weight : 1) %}
                        {% else %}
                            {% set classStatus = 'btn-deepmark-red' %}
                        {% endif %}
                    {% else %}
                        {% set classStatus = 'btn-deepmark-light' %}
                    {% endif %}
                    <label class="assessment-status {{ classStatus }} d-none"></label>
                {% endfor %}
            {% endif %}
        </div>
        <div class="col-md-12 marg-t-20 global-status header">
            {{ include('molecules/widgets/circle-progress.html.twig', { percent:  (result*100/totalAssessmentsWeight)|round } ) }}
        </div>
        {% if modulesAssessment|length != 0 %}
            {% for key, module in modulesAssessment %}
                {% set moduleActive = 0 %}
                {% if loop.index == 1 %}
                    {% set moduleActive = (module.status.appId != statusDoneId and module.status.appId != statusExpiredId) %}
                {% elseif loop.index > 1 %}
                    {% set moduleActive = (modules_iterations[loop.index - 2].module.done and module.status.appId != statusDoneId and module.status.appId != statusExpiredId) %}
                {% endif %}

                {% if module.status.designation == 'Done' %}
                    {% set class = 'module-li-done' %}
                    {% set classButton = 'btn-deepmark-mediumgray' %}
                    {% set classIcon = 'li-done' %}
                {% elseif module.status.designation == 'In Progress' %}
                    {% set class = 'module-li-active' %}
                    {% set classButton = 'btn-deepmark-orangelight' %}
                    {% set classIcon = 'li-active' %}
                {% elseif module.status.designation == 'Expired' %}
                    {% set class = 'module-li-done' %}
                    {% set classButton = 'btn-deepmark-mediumgray' %}
                    {% set classIcon = 'li-done' %}
                {% elseif module.status.designation == 'Booked' %}
                    {% set class = 'module-li-normal' %}
                    {% set classButton = 'btn-deepmark' %}
                    {% set classIcon = 'li-normal' %}
                {% else %}
                    {% set class = 'module-li-normal' %}
                    {% set classButton = 'btn-deepmark ' %}
                    {% set classIcon = 'li-normal' %}
                {% endif %}

                {% set classTobook = '' %}
                {% set classTobookBtn = '' %}

                {% if
                    module.module.storedModule.appId == constant('\\ApiBundle\\Entity\\StoredModule::PRESENTATION_ANIMATION') or
                    module.module.storedModule.appId == constant('\\ApiBundle\\Entity\\StoredModule::ONLINE_WORKSHOP') or
                    module.module.storedModule.appId == constant('\\ApiBundle\\Entity\\StoredModule::VIRTUAL_CLASS') or
                    module.module.storedModule.appId == constant('\\ApiBundle\\Entity\\StoredModule::ONLINE') %}
                    {% if not module.booking %}
                        {% set classTobook = 'to-book' %}
                        {% set classTobookBtn = 'to-book-btn' %}

                    {% endif %}

                {% endif %}

                {% set moduleAvailable = (date(module.module.beginning) <= date() and date(module.module.ending) >= date()) and (date(module.module.intervention.beginning) <= date() and date(module.module.intervention.ending) >= date()) ? 1 : 0 %}
                {% set moduleLink = ((not intervention.sequential) or module.module.done or moduleActive) and moduleAvailable %}
                <div class="border-radius-10 mt-3 mb-3 backgroud-deepmark-light" style="border:2px solid #e5f0fc; {{ (key+1)%4 == 0 and (key+1) < (modulesAssessment|length) ? 'page-break-after:always' : ''  }}">
                    <div class="col-md-12 no-padding">
                        <div class="row pad-t-10 pad-b-10">
                            <div class="col-md-1 no-padding flex--center">
                                <label class="label-assessment btn-deepmark">{{ key+1 }}</label>
                            </div>
                            <div class="col-md-3 no-padding">
                                <span class="font-size-13 font-weight-600">
                                    {{ include('molecules/widgets/module-type.html.twig', { appId: module.module.storedModule.appId }) }}
                                </span>
                                <p class="no-margin font-size-18 color-header bold" >{{ module.module.designation }}</p>
                            </div>
                            <div class="col-md-4 flex--center">
                                <p class="no-margin color-header">
                                    <span class="font-weight-600">{{ 'learners.courses.weight'|trans }}</span> : &nbsp;<b>{{ module.condition.weight }}</b>
                                </p>
                            </div>
                            <div class="col-md-1"></div>
                            <div class="col-md-3 no-padding row">
                                <div class="col-md-2"></div>
                                <div class="col-md-8 no-padding text-right c-green-status flex--center justify-content-start bold">
                                    {% if module.status.appId == statusDoneId %}
                                        {% if module.result == 1 %}
                                            {% set moduleStatus = 'assessment.validate'|trans %}
                                            {% set classProgessStatus = 'validate' %}
                                            {% set colorStatus = 'c-green-status' %}
                                            {% set classStatus = 'bg-green' %}
                                        {% else %}
                                            {% set moduleStatus = 'assessment.unValidate'|trans %}
                                            {% set classProgessStatus = 'unvalidate' %}
                                            {% set colorStatus = 'c-red' %}
                                            {% set classStatus = 'btn-deepmark-red' %}
                                        {% endif %}
                                    {% else %}
                                        {% set colorStatus = 'c-lightgray' %}
                                        {% set classProgessStatus = '' %}
                                        {% if module.status.appId == statusInProgressId %}
                                            {% set colorStatus = 'c-orangelight' %}
                                            {% set moduleStatus = 'admin.interventions.in_progress'|trans %}
                                            {% set classStatus = 'btn-deepmark-orangelight' %}
                                        {% else %}
                                            {% set notStart = 1 %}
                                            {% set moduleStatus = 'assessment.unStarted'|trans %}
                                            {% set classStatus = 'btn-deepmark-mediumgray' %}
                                        {% endif %}
                                        {#in case module is quiz has time spent and pass score#}
                                        {% if  module.exceptionPass == 1 %}
                                            {% set moduleStatus = 'assessment.validate'|trans %}
                                            {% set classProgessStatus = 'validate' %}
                                            {% set colorStatus = 'c-green-status' %}
                                            {% set classStatus = 'bg-green' %}
                                        {% endif %}
                                    {% endif %}
                                    <label class="status-validate {{ classStatus }}"></label> <span
                                            class="{{ colorStatus }} font-size-14"> {{ moduleStatus }}</span>
                                </div>
                                <div class="col-md-2 flex--center no-padding" data-html2canvas-ignore="true">
                                    <a data-id="{{ key }}" id="downBtn{{ key }}" class="pointer downBtn"><i  class="fa fa-angle-down font-size-20 text-primary color-header" aria-hidden="true"></i></a>
                                    <a data-id="{{ key }}" id="upBtn{{ key }}" class="pointer upBtn d-none"><i  class="fa fa-angle-up font-size-20 text-primary color-header" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="divDes{{ key }}" class="row d-none border-top-header font-size-12 pad-t-10 pad-b-10 assessment-block-content bg-white">
                        <div class="col-md-3 no-padding-right ">
                            <p class="no-margin text-center bold font-size-16 color-header">{{ 'assessment.conditions'|trans }}</p>
                            {% if module.condition is not null %}
                                {% if module.condition.scoreToPass is not null %}
                                    <span class="font-size-13 text-dark font-weight-600" style="display: block">{{ 'assessment.score_to_pass'|trans|capitalize }} : <strong
                                                class="bold">{{ module.condition.scoreToPass? 'learners.dashboard.modal.btn_yes'|trans : 'learners.dashboard.modal.btn_no'|trans }}</strong></span>
                                {% else %}
                                    <span class="font-size-13 text-dark font-weight-600" style="display: block">{{ 'assessment.score_to_pass'|trans|capitalize }} : <strong
                                                class="bold">{{ 'learners.dashboard.modal.btn_no'|trans }}</strong></span>
                                {% endif %}
                                {% if module.condition.completed is not null %}
                                    <span class="font-size-13 text-dark font-weight-600" style="display: block">{{ 'assessment.to_complete'|trans }} : <strong
                                                class="bold">{{ module.condition.completed? 'learners.dashboard.modal.btn_yes'|trans : 'learners.dashboard.modal.btn_no'|trans }}</strong></span>
                                {% else %}
                                    <span class="font-size-13 text-dark font-weight-600" style="display: block">{{ 'assessment.to_complete'|trans|capitalize }} : <strong
                                                class="bold">{{ 'learners.dashboard.modal.btn_no'|trans }}</strong></span>
                                {% endif %}
                                {% if module.condition.timeSpentCheck and module.condition.timeSpent is not null %}
                                    <span class="font-size-13 text-dark font-weight-600" style="display: block">{{ 'learners.courses.time_spent'|trans }} : <strong
                                                class="bold">{{ module.condition.timeSpent }}%</strong></span>
                                {% else %}
                                    <span class="font-size-13 text-dark font-weight-600" style="display: block">{{ 'learners.courses.time_spent'|trans }} : <strong
                                                class="bold">{{ 'learners.dashboard.modal.btn_no'|trans }}</strong></span>
                                {% endif %}


                            {% endif %}
                        </div>
                        <div class="col-md-2 text-center assessment header no-margin border-left-header no-padding left-border-col">
                            <p class="no-margin bold font-size-16 color-header">{{ 'learners.courses.my_score'|trans }}</p>
                            {% if module.condition.scoreToPass == 0 %}
                                <div class="col-md-12 no-padding marg-t-20">
                                    <span class="text-gray font-size-20 bold">N/A</span>
                                </div>
                            {% else %}
                                {% if notStart is defined %}
                                    <i class="fa fa-lock bold font-size-30 text-gray marg-t-20"></i><br>
                                {% else %}
                                    <div class="col-md-12 no-padding {{ classProgessStatus }}">
                                        {% if module.score is not null %}
                                            {{ include('molecules/widgets/circle-progress.html.twig', { percent: module.score } ) }}
                                        {% endif %}
                                    </div>
                                {% endif %}
                            {% endif %}
                        </div>
                        <div class="col-md-2 text-center no-padding left-border-col border-left-header" >
                            <p class="no-margin bold font-size-16 color-header">{{ 'assessment.completion'|trans }}</p>
                            {% if module.condition.completed is not null %}
                                {% if module.condition.completed == 0 %}
                                    <div class="col-md-12 no-padding marg-t-20">
                                        <span class="text-gray font-size-20 bold">N/A</span>
                                    </div>
                                {% else %}
                                    {% if notStart is defined%}
                                        <i class="fa fa-lock bold font-size-30 text-gray marg-t-20"></i><br>
                                    {% else %}
                                        {% if module.status.appId == statusDoneId %}
                                            {% if module.result == 1 %}
                                                <i class="far fa-check-circle font-size-30 c-green-status marg-t-20" style="margin-bottom: 9px;"></i><br>
                                                <span class="font-size-13 bold">{{ module.iteration?module.iteration.executionDate|date('d.m.Y'):null }}</span>
                                            {% else %}
                                                <i class="fa fa-times-circle bold font-size-30 c-red marg-t-20"></i><br>
                                            {% endif %}
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                            {% else %}
                                <div class="col-md-12 no-padding marg-t-20">
                                    <span class="text-gray font-size-20 bold">N/A</span>
                                </div>
                            {% endif %}
                        </div>
                        <div class="col-md-2 text-center left-border-col border-left-header">
                            <p class="bold no-margin font-size-16 color-header ">{{ 'learners.courses.time_spent'|trans }}</p>
                            {% if module.condition.timeSpentCheck %}
                                {% if notStart is defined %}
                                    <i class="fa fa-lock bold font-size-30 text-gray marg-t-20"></i><br>
                                {% else %}
                                    {% set dateTime = '00:00:00' %}
                                    {% if module.quizTimeSpent is defined and module.quizTimeSpent is not null %}
                                        {% set totalTimeLearnedSeconds = module.quizTimeSpent %}
                                        {% set timeLearned = module.quizTimeSpent ~ ' seconds'%}
                                    {% else %}
                                        {% set totalTimeLearnedSeconds = module.iteration.learnedTime ? module.iteration.learnedTime : 0 %}
                                        {% set timeLearned = module.iteration.learnedTime ? module.iteration.learnedTime ~ ' seconds' : 0~' seconds' %}
                                    {% endif %}
                                    {% if totalTimeLearnedSeconds >= module.timeSpentRequire %}
                                        {#// green clock#}
                                        <embed class="marg-t-20" src="/images/clock_green.svg" width="30" height="30" type="image/svg+xml"/>
                                    {% else %}
                                        {#// red clock#}
                                        <embed class="marg-t-20" src="/images/clock_red.svg" width="30" height="30" type="image/svg+xml"/>
                                    {% endif %}
                                    <br>
                                    <span class="font-size-13 bold">{{ module.iteration? dateTime|date_modify(timeLearned)|date('H:i:s', false)  :null }}</span>
                                {% endif %}
                            {% else %}
                                <div class="col-md-12 no-padding marg-t-20">
                                    <span class="text-gray font-size-20 bold">N/A</span>
                                </div>
                            {% endif %}
                        </div>
                        <div class="col-md-3 no-padding left-border-col border-left-header flex--center">
                            <div class="row w-100">
                                <div class="col-md-2"></div>
                                <div class="col-md-8 no-padding flex--center" data-html2canvas-ignore="true" >
                                    <a href="{% if moduleLink %}{{ path('learner_courses_module', { 'id': module.module.id }) }}{% else %}javascript:void(0){% endif %}"
                                       class=" text-white btn btn-block btn-small backgroud-header no-margin">
                                        {{ 'assessment.go_to_module'|trans }}
                                        <i class="fa fa-angle-right font-size-25 marg-t-10"></i>
                                    </a>
                                </div>
                                <div class="col-md-2"></div>
                            </div>
                        </div>

                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>
</div>
<script src="{{ asset('js/html2pdf.js')}}"></script>
<script>
    $(document).ready(function () {
        $('.downBtn').on('click', function () {
            var id = $(this).attr("data-id");
            $("#downBtn"+id).addClass('d-none');
            $("#upBtn"+id).removeClass('d-none');
            $("#divDes"+id).removeClass('d-none');

        });
        $('.upBtn').on('click', function () {
            var id = $(this).attr("data-id");
            $("#downBtn"+id).removeClass('d-none');
            $("#upBtn"+id).addClass('d-none');
            $("#divDes"+id).addClass('d-none');

        });
    });
    function printReport(){
        var element = document.getElementById('assessmentsReport');
        var reportElement = element.cloneNode(true);
        $(reportElement).removeClass(function (index, css) {
            return (css.match (/\bcol-md-\S+/g) || []).join(' '); // removes anything that starts with "operation-one-block-"
        });
        // export full width
        $(reportElement).addClass('col-md-12');

        $(reportElement).find('.assessment-block-content').each(function(){
            $(this).removeClass('d-none');
        });

        var opt = {
            filename:     'reportAssessment.pdf',
            image:        { type: 'jpeg', quality: 1 },
            html2canvas:  { scale: 1},
            jsPDF:        { unit: 'in', format: 'letter' }
        };
        var worker = html2pdf();
        worker.set(opt).from(reportElement).save();
    }


</script>



