<style>
    #signature-image .wrapper {
        position: relative;
        width: 752px;
        height: 200px;
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    #signature-image img {
        position: absolute;
        left: 0;
        top: 0;
    }

    #signature-image .signature-pad {
        position: absolute;
        left: 0;
        top: 0;
        width:752px;
        height:200px;
    }
</style>
{% if is_granted('ROLE_LEARNER') %}
    {% set downloadPath = 'learner_document_download' %}
{% elseif is_granted('ROLE_TRAINER') %}
    {% set downloadPath = 'trainer_document_download' %}
{% endif %}
<div class="modal fade" id="attendance-sheet" tabindex="-1" role="dialog" aria-labelledby="attendanceSheetLabel"
     aria-hidden="true">
    <div class="modal-dialog" style="max-width: 70%" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="attendance-form">
                    <h4 class="marg-b-10 color-header bold text-center">{{ 'global.option_one'|trans|upper }}</h4>
                    <div id="content-attendance-sheet" class="marg-t-20 marg-b-20">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="signature-image" tabindex="-1" role="dialog" aria-labelledby="signatureImageLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header marg-b-10 pad-t-15">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row btn-deepmark no-padding">
                    <div class="col-md-6 flex--center justify-content-start pad-t-10 pad-b-10">
                        <p class="c-white no-margin">
                            <i class="fa fa-pencil"></i>
                            {{ 'global.signature_live'|trans }}
                        </p>
                    </div>
                    <div class="col-md-6 flex--center justify-content-end pad-t-10 pad-b-10"><span id="signatureNumber"></span></div>
                </div>
                <div class="row btn-deepmark-light">
                    <div class="col-md-12 pad-t-10 pad-b-10">
                        <p class="color-header no-margin" id="learnerName"></p>
                    </div>
                </div>
                <div class="wrapper">
                    <img src="{{ asset('files/signature/canvas.png') }}" width=752 height=200 class="border-light" />
                    <canvas id="signature-pad" class="signature-pad" width=752 height=200></canvas>
                </div>
                <div>
                    <p style="color: #c153a2" class="text-right marg-t-5 bold font-size-20 marg-r-10 marg-b-0">{{ 'global.signature_with_mouse'|trans }}</p>
                    <input type="hidden" name="bookId" value=""/>
                    <input type="hidden" name="signatureType" value=""/>
                    <input type="hidden" name="signatureName" value=""/>
                    <input type="hidden" name="sessionSignature" value=""/>
                </div>
            </div>
            <div class="modal-footer pad-b-15">
                <button id="clear" class="btn btn-deepmark-orangelight eval-btn float-left">{{ 'table.modules.delete'|trans }}</button>
                <button id="save" class="btn btn-deepmark eval-btn">{{ 'global.validate'|trans }}</button>
            </div>
        </div>
    </div>
</div>