<style>
    #signature-image .wrapper {
        position: relative;
        width: 752px;
        height: 200px;
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    #signature-image img {
        position: absolute;
        left: 0;
        top: 0;
    }

    #signature-image .signature-pad {
        position: absolute;
        left: 0;
        top: 0;
        width:752px;
        height:200px;
    }
</style>
<div class="modal fade" id="attend-absent" tabindex="-1" role="dialog" aria-labelledby="attendAbsentLabel"
     aria-hidden="true">
    <div class="modal-dialog" style="max-width: 70%" role="document">
        <div class="modal-content">
            <div class="modal-header row btn-deepmark-light no-margin no-padding">
                <div class="col-md-2">
                </div>
                <div class="col-md-8 flex--center pad-t-20 pad-b-20">
                    <p class="color-header bold no-margin">
                        {{ 'global.management_of_participants'|trans|upper }}
                    </p>
                </div>
                <div class="col-md-2 flex--center justify-content-end pad-t-10 pad-b-10">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" class="color-header">&times;</span>
                    </button>
                </div>
            </div>
            <div class="modal-body">
                <div class="attendance-form">
                    <div id="content-attend-absent" class="marg-t-20 marg-b-20">
                        
                    </div>
                </div>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>