<div class="modal fade" id="attendance-sheet-download" role="dialog"
     aria-labelledby="attendanceSheetLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title marg-b-10 color-header text-center">{{ 'trainers.profile.attendence'|trans }}</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="attendance-form">
                    <div class="marg-t-20 marg-b-20">
                        <div class="row">
                            <div class="flex--v-center no-padding col-md-12">
                                {% set grade = booked.learnerGrade is not null ? booked.learnerGrade : null %}
                                {{ include('molecules/trainer/attendance-report.html.twig', { templateFile: attendanceTemplateFile, reportFile: attendanceReportFile }) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>