<div class="row  card-pane" data-id="{{ module.id }}" data-start="{{ module.beginningWithTime|date('Y-m-d H:i:s') }}"
         data-end="{{ module.endingWithTime|date('Y-m-d H:i:s') }}">
    <div class="col-md-4 pad-l-0" >
        <div class="col-md-12 row bg-white border-radius-10 marg-b-15 pad-t-15 min-height-280" >
            <div class="col-md-3 text-center no-padding flex--center">
                <div class="module-circle module-icon-detail" style="background-image: url('{{ asset('images/vitual.svg') }}')">
                </div>
            </div>
            <div class="col-md-9 no-padding">
                <span class="font-weight-600">
                    {{ include('molecules/widgets/module-type.html.twig', { appId: module.storedModule.appId }) }}
                </span>
                <h3 class="bold font-size-20 no-margin color-header">{{ module.designation }}</h3>
            </div>
            <div class="col-md-12 no-padding border-top pad-t-15 font-size-13" >
                <p class="no-margin font-weight-600" >{{ 'admin.skills.form.description_label'|trans }}</p>
                <div class="col-md-12 no-padding text-justify font-size-13 pad-b-15" >
                    {{ module.description|raw }}
                </div>
            </div>
            <div class="col-md-12 no-padding row padding-bottom-15" >
                <div class="col-md-8 no-padding" style="">
                    <p class="color-header no-margin bold" >
                        <embed src="/images/clock.svg" width="22" height="22"
                               type="image/svg+xml"/>&nbsp;&nbsp;&nbsp;<span  class="font-size-20">{{ module.duration|date('H:i:s') }}</span>
                    </p>
                    <p class="no-margin">
                        <embed src="/images/calendar.svg" width="18" height="20"
                               type="image/svg+xml"/>&nbsp;&nbsp;&nbsp;<span class="font-size-13 text-gray">{{ module.beginning|date('d/m/Y') }} {{'global.to'|trans}} {{ module.ending|date("d/m/Y") }}</span>
                    </p>
                </div>
                <div class="col-md-4 no-padding text-center text-gray" >
                    {% if (module.minScore is not empty) %}
                        <span class="font-size-13 font-weight-600 ">{{ 'learners.courses.score_to_pass'|trans|capitalize }}</span><br>
                        <span class="font-weight-800 font-size-30">{{ module.minScore  }}%</span>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-md-12 bg-white border-radius-10" >
            <div class="col-md-12 text-center pad-15">
                <span class="color-header font-weight-600 font-size-20">{{ 'learners.courses.documents'|trans }}</span>
            </div>
            <div class="col-md-12" >
                {% if module.educationalDocument|length != 0 %}
                    {{ include('molecules/tables/files-list.html.twig', {documents: module.educationalDocument, type: "documents"}) }}
                {% endif %}
            </div>
        </div>
    </div>
    <div id="dashboard-learner" class="col-md-8 no-padding">
        <div class="col-md-12  row bg-white border-radius-10 pad-t-15 pad-b-20 " >
            <div class="col-md-4 flex--center no-padding module color-header text-left justify-content-none" >
                <span class="module-circle module-orangelight" ></span> &nbsp; &nbsp; <span class="font-weight-800 module-orangelight-color font-size-14">
                     {{ 'calendar.legend.learner.orange'|trans }}
                </span>
            </div>
            <div class="col-md-4 flex--center text-center">
                <span class="color-header font-weight-600 font-size-20">{{ 'learners.courses.my_session'|trans }}</span>
            </div>
            <div class="col-md-4 text-right no-padding">
            </div>
            <div class="col-md-12 text-center marg-t-40">
                <p class="no-margin">
                    {{ 'global.admin_booking_msg_one'|trans }} <br> {{ 'global.admin_booking_msg_two'|trans }}
                </p>
                <label style="min-width: 200px" class="badge-deepmark-orangelight pad-t-20 pad-b-20 pad-l-20 border-radius-10 pad-r-20 font-size-18 marg-t-40 marg-b-40">
                    <div class="row">
                        <div class="col-md-2 flex--center no-padding">
                            <img src="{{ asset('images/tv.png') }}">
                        </div>
                        <div class="col-md-10 flex--center white-space">
                            <span class="text-white font-size-25">{{ 'global.waiting_assignment'|trans|capitalize }}</span>
                        </div>
                    </div>
                </label>
            </div>
            <div class="row col-md-12 pad-t-15 marg-t-30 text-white pad-b-15 backgroud-header">
                <div class="col-2">
                    <i class="fa fa-user font-size-18"></i>
                </div>
                <div class="col-8 text-center ">
                    <p class="no-margin text-white text-uppercase font-size-18">{{ 'admin.interventions.create.step1.trainer' | trans }}</p>
                </div>
                <div class="col-md-2"></div>
            </div>
            <div class=" col-md-12 marg-b-15 text-center pad-t-15 text-white pad-b-15 backgroud-deepmark-light">
                <p class="no-margin color-header font-size-18">{{ 'global.waiting_assignment'|trans }}</p>
            </div>
            <div class="col-md-3 text-center user-info-text">
                -
            </div>
            <div class="col-md-6 border-left-header text-center user-info-text">
                -
            </div>
            <div class="col-md-3 text-center border-left-header">
                -
            </div>
            <div class="col-md-12 pad-t-30"></div>
        </div>
    </div>
</div>

