{% set audioType = ["wav", "mp3"] %}
{% set docType = ["txt", "pdf", "doc", "docx", "ppt", "pptx", "xls", "xlsx", "css", "ppms", "ppsx", "xml"] %}
{% set videoType = ["mp4", "mov", "ogg"] %}
{% set status_done =  constant('ApiBundle\\Entity\\Status::DONE') %}
<style>
    video {
        object-fit: fill;
    }
</style>
<div class="row">
    <div class="col-md-8 ">
        <div class=" col-md-12 row bg-white border-radius-10 pad-t-15 pad-b-15">
            <div class="col-md-2 flex--center text-center no-padding">
                <div class="flex--center btn-orangelight border-radius-50 no-padding" style="width: 50px; height: 50px;">
                    <object data="/images/elearning-white.svg" width="40" height="40"
                            type="image/svg+xml"></object>
                </div>
            </div>
            <div class="col-md-7 no-padding-left align-self-center">
                <span class="font-weight-600">{{ 'admin.interventions.mods.elearning'|trans }}</span>
                <h3 class="no-margin bold color-header">{{ module.designation }}</h3>
            </div>
            <div class="col-md-3 no-padding-left justify-content-right ">
                {{ include('molecules/courses/navigation.html.twig') }}
                {% if canBeNotated %}
                    {{ include('molecules/courses/notation.html.twig') }}
                {% endif %}
            </div>

            <div class="col-md-12 marg-t-5">
                {% set synthesisElearning = 1 %}
                {% if module.mediaDocument %}
                    {% if module.mediaDocument.url %}
                        {% set synthesisElearning = 1 %}
                        {% if module.mediaDocument.name == 'Site' %}
                            {% if allowEmbed == false %}
                                <div style="border-style:dotted; border-width:2px; text-align: center; padding-top: 300px; min-height: 600px; display: block; margin: 0 auto;"
                                        width="100%">
                                    {{ 'learners.courses.open_url_error_message'|trans }}
                                    <br>
                                    {{ 'learners.courses.open_url_error_click_message'|trans }}
                                    <br>
                                    <br>
                                    <a style="color: #0076fe" class="bold" href="{{ module.mediaDocument.url | raw }}"
                                            target="_blank">{{ module.mediaDocument.url|raw }}</a>
                                </div>
                            {% else %}
                                <iframe style="border-style:dotted; min-height: 600px; display: block; margin: 0 auto;"
                                        id="inlineFrame" target="_parent"
                                        title="Inline Frame"
                                        frameborder="1"
                                        width="100%"
                                        src="{{ module.mediaDocument.url|raw }}">
                                </iframe>
                                <span class="pt-2">{{ 'learners.courses.open_url_in_new_tab'|trans|capitalize }} <a
                                            href="{{ module.mediaDocument.url | raw }}"
                                            target="_blank">{{ module.mediaDocument.url|raw }}</a></span>
                            {% endif %}
                        {% else %}
                            <div id="player"></div>
                        {% endif %}
                    {% else %}
                        {% if module.mediaDocument.fileDescriptor is defined and module.mediaDocument.fileDescriptor.getMimeType is defined %}
                            {% if module.mediaDocument.fileDescriptor.getMimeType in audioType %}
                                <audio controls="controls" autoplay class="w-100 media-tag">
                                    <source src="{{ asset('files/'~ module.mediaDocument.fileDescriptor.path) }}"
                                            type="audio/aac"/>
                                </audio>
                            {% elseif module.mediaDocument.fileDescriptor.getMimeType in videoType %}
                                <video width="100%" height="600" controls="controls" controlsList="nodownload" class="media-tag">
                                    <source src="{{ asset('files/'~ module.mediaDocument.fileDescriptor.path) }}">
                                </video>
                            {% else %}
                                <div>
                                    <div class="row justify-content-md-center">
                                        <div class="col-md-12 form-check--nopadding text-right">
                                            {% if module.mediaDocument.fileDescriptor.getMimeType in docType %}
                                                <div id='viewer' style='width: 100%; height: 600px;'></div>
                                                <script>
                                                    WebViewer({
                                                        path: "{{ asset('js/lib/webviewer/lib') }}", // path to the PDFTron 'lib' folder on your server
                                                        licenseKey: 'Insert commercial license key here after purchase',
                                                        initialDoc: "{{ asset('files/'~ module.mediaDocument.fileDescriptor.path) }}",
                                                        // initialDoc: '/path/to/my/file.pdf',  // You can also use documents on your server
                                                    }, document.getElementById('viewer'))
                                                        .then(instance => {
                                                            instance.disableElements(['printButton']);
                                                            instance.disableElements(['downloadButton']);
                                                            const docViewer = instance.docViewer;
                                                            const annotManager = instance.annotManager;
                                                            // call methods from instance, docViewer and annotManager as needed

                                                            // you can also access major namespaces from the instance as follows:
                                                            // const Tools = instance.Tools;
                                                            // const Annotations = instance.Annotations;

                                                            docViewer.on('documentLoaded', () => {
                                                                // call methods relating to the loaded document
                                                            });
                                                        });
                                                </script>
                                            {% else %}
                                                {% set synthesisElearning = 0 %}
                                            {% if SCOdata is not null %}
                                                {% set scoreRaw = '' %}
                                                {% set scorePass = '' %}
                                                {% set status = '' %}
                                                {% set suspendData = '' %}
                                                {% if (currentScormData is not empty) %}
                                                    {% for key, row in currentScormData %}
                                                        {% if (row['VarName'] == 'cmi.core.score.raw' or row['VarName'] == 'cmi.score.raw') %}
                                                            {% set scoreRaw = row['VarValue'] %}
                                                        {% endif %}
                                                        {% if (row['VarName'] == 'adlcp:masteryscore') %}
                                                            {% set scorePass = row['VarValue'] %}
                                                        {% endif %}
                                                        {% if (row['VarName'] == 'cmi.core.lesson_status' or row['VarName'] == 'cmi.success_status') %}
                                                            {% set status = row['VarValue'] %}
                                                        {% endif %}
                                                        {% if (row['VarName'] == 'cmi.suspend_data') %}
                                                            {% set suspendData = row['VarValue'] %}
                                                        {% endif %}
                                                    {% endfor %}
                                                {% endif %}
                                            {% if 'SCORM1.2' in SCOdata.version %}
                                                <div onbeforeunload="API.LMSFinish('');" onunload="API.LMSFinish('');"
                                                     class="module-file-content"
                                                     id="module-content-{{ module.mediaDocument.fileDescriptor.id }}">
                                                    <iframe style="height:0; visibility: hidden;"
                                                            src="{{ path('learner_courses_scrom_lms', { 'id': module.id }) }}"
                                                            name="API" noresize></iframe>
                                                    <iframe frameborder="0" src="{{ src }}" height="600" width="100%"
                                                            id="scorm" name="course"></iframe>
                                                </div>
                                            {% else %}
                                                {{ include('molecules/courses/elearning/scorm2004.html.twig', {src: src, SCOInstanceID: module.id, suspendData: suspendData}) }}
                                            {% endif %}
                                                <div class="row justify-content-md-center">
                                                    <div class="col-sm">
                                                        <span class="font-size-13 font-weight-600">{{ 'popup.score'|trans }}</span><br>
                                                        <span id="scrom_your_score"
                                                              class="font-weight-800 font-size-20">{{ scoreRaw }}</span>
                                                    </div>
                                                    <div class="col-sm">
                                                        <span class="font-size-13 font-weight-600">{{ 'learners.courses.score_to_pass'|trans|capitalize }}</span><br>
                                                        <span class="font-weight-800 font-size-20">{{ module.isNeedScoreToPass and module.minScore ? module.minScore : 'N/A' }}</span>
                                                    </div>
                                                    <div class="col-sm">
                                                        <span class="font-size-13 font-weight-600">{{ 'global.time_spent'|trans }}</span><br>
                                                        {% set dateTime = '00:00:00' %}
                                                        {% set timeLearned = moduleIteration.learnedTime ? moduleIteration.learnedTime ~ ' seconds' : 0~' seconds' %}
                                                        <span id="scrom_your_time_spent"
                                                              class="font-size-20 font-weight-800">{{ moduleIteration.learnedTime ? dateTime|date_modify(timeLearned)|date('H:i:s', false)  :null }}</span>
                                                    </div>
                                                    <div class="col-sm">
                                                        <span class="font-size-13 font-weight-600">{{ 'global.status'|trans }}</span><br>
                                                        <span id="scrom_your_status"
                                                              class="font-size-20 font-weight-800">
                                                        {% if isFirstAccess is defined and isFirstAccess == false and scormSynthesis is defined
                                                            and scormSynthesis is not null and moduleIteration.learnedTime is not null %}
                                                            {% if scormSynthesis['lessonStatus'] == 'passed' %}
                                                                {{ 'popup.passed'|trans }}
                                                            {% elseif scormSynthesis['lessonStatus'] == 'failed' %}

                                                                {{ 'popup.failed'|trans|capitalize }}

                                                            {% else %}
                                                                N/A
                                                            {% endif %}
                                                        {% endif %}
                                                        </span>
                                                    </div>
                                                </div>

                                                <button class="btn btn-deepmark " onclick="makeFullScreen()">PLEIN
                                                    ECRAN
                                                </button>
                                                <script>
                                                    function requestFullScreen(element) {
                                                        // Supports most browsers and their versions.
                                                        var requestMethod = element.requestFullScreen || element.webkitRequestFullScreen || element.mozRequestFullScreen || element.msRequestFullscreen;

                                                        if (requestMethod) { // Native full screen.
                                                            requestMethod.call(element);
                                                        } else if (typeof window.ActiveXObject !== "undefined") { // Older IE.
                                                            var wscript = new ActiveXObject("WScript.Shell");
                                                            if (wscript !== null) {
                                                                wscript.SendKeys("{F11}");
                                                            }
                                                        }
                                                    }

                                                    function makeFullScreen() {
                                                        {% if 'SCORM1.2' in SCOdata.version %}
                                                        var scormIframe = document.getElementById("scorm");
                                                        {% else %}
                                                        var scormIframe = document.getElementById("wndSCORM2004Stage");
                                                        {% endif %}



                                                        scormIframe.className = "fullScreen";
                                                        var elem = document.body;
                                                        requestFullScreen(elem);
                                                    }

                                                    document.addEventListener('fullscreenchange', exitHandler);
                                                    document.addEventListener('webkitfullscreenchange', exitHandler);
                                                    document.addEventListener('mozfullscreenchange', exitHandler);
                                                    document.addEventListener('MSFullscreenChange', exitHandler);

                                                    function exitHandler() {
                                                        if (!document.fullscreenElement && !document.webkitIsFullScreen && !document.mozFullScreen && !document.msFullscreenElement) {
                                                            {% if 'SCORM1.2' in SCOdata.version %}
                                                            document.getElementById("scorm").classList.remove("fullScreen");
                                                            {% else %}
                                                            document.getElementById("wndSCORM2004Stage").classList.remove("fullScreen");
                                                            {% endif %}
                                                        }
                                                    }
                                                </script>
                                            {% else %}
                                                <div class="col-md-12 form-check--nopadding text-center"><span
                                                            class="text-center">{{ 'popup.mes_scorm'|trans }}</span>
                                                </div>
                                            {% endif %}
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        {% else %}
                            <p>{{ 'popup.can_not_display'|trans }} </p>
                        {% endif %}
                    {% endif %}
                {% else %}
                    <div id="noMediaInformation">{{ 'popup.no_media'|trans }}</div>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="col-md-4 pad-r-0">
        <div class="col-md-12 bg-white border-radius-10 marg-b-15 pad-b-15">
            <div class="col-md-12 text-center pad-15">
                <span class="color-header font-weight-600 font-size-20">{{ 'learners.courses.description'|trans }}</span>
                <a style="position: absolute; right: 10px; top: 16px;" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    <i class="fa fa-plus color-header" style="display: none"></i>
                    <i class="fa fa-minus color-header"></i>
                </a>
            </div>
            <div id="collapseOne" class="panel-collapse collapse show" role="tabpanel" aria-labelledby="headingOne">
                <div class="col-md-12 text-justify marg-b-15 no-padding">
                    {{ module.description|raw }}
                </div>
                <div class="col-md-12 no-padding row border-top">
                    <div class="col-md-8 no-padding marg-t-15">
                        <p class="color-header no-margin bold">
                            <embed src="/images/clock.svg" width="22" height="22"
                                   type="image/svg+xml"/>&nbsp;&nbsp;&nbsp;<span
                                    class="font-size-22">{{ module.duration|date('H:i:s') }}</span>
                        </p>
                        <p class="no-margin">
                            <embed src="/images/calendar.svg" width="18" height="20"
                                   type="image/svg+xml"/>&nbsp;&nbsp;&nbsp;<span
                                    class="font-size-13 text-gray">{{ module.beginning|date('d/m/Y') }} {{ 'global.to'|trans }} {{ module.ending|date("d/m/Y") }}</span>
                        </p>
                    </div>
                    <div class="col-md-4 no-padding text-center align-self-center text-gray">
                        {% if (module.minScore is not empty) %}
                            <span class="font-weight-600 font-size-13">Score de validation</span><br>
                            <span class="font-size-30 font-weight-800">{{ module.minScore }}%</span>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 no-padding bg-white border-radius-10 marg-b-15 pad-b-15">
            <section id="notes" class="col-lg-12 pad-t-20 pad-b-20">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <p>
                            <span class="color-header bold font-size-20"> {{ 'global.my_notes'|trans|raw }}</span>
                            <a style="position: absolute; right: 10px; top: 0px;" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseNote" aria-expanded="true" aria-controls="collapseNote">
                                <i class="fa fa-plus color-header" style="display: none"></i>
                                <i class="fa fa-minus color-header"></i>
                            </a>
                        </p>
                    </div>
                </div>
                <div id="collapseNote" class="panel-collapse collapse show" role="tabpanel" aria-labelledby="headingOne">
                    <textarea id="editor" data-type="notes" aria-label="With textarea" name="notes-learner-text">{{ notes|default('') }}</textarea>
                    <div class="row">
                        <div class="col-md-6 text-center pad-t-10">
                            <button data-send="notes" class="btn btn-deepmark btn-sm ">{{ 'buttons.save'|trans|raw }}</button>
                        </div>
                        <div class="col-md-6 text-center pad-t-10">
                            <button class="btn btn-deepmark btn-sm " id="btn-export" onclick="exportHTML();">{{ 'buttons.export_to_word'|trans }}</button>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div class="col-md-12 no-padding bg-white border-radius-10 marg-b-15 pad-b-15">
            <div class="col-md-12 text-center pad-15">
                <span class="color-header font-weight-600 font-size-20">{{ 'learners.courses.documents'|trans }}</span>
                <a style="position: absolute; right: 25px; top: 16px;" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseDocuments" aria-expanded="true" aria-controls="collapseDocuments">
                    <i class="fa fa-plus color-header" style="display: none"></i>
                    <i class="fa fa-minus color-header"></i>
                </a>
            </div>
            <div id="collapseDocuments" class="col-md-12 panel-collapse collapse show" role="tabpanel" aria-labelledby="headingOne">
                {{ include('molecules/tables/files-list.html.twig', {documents: module.educationalDocument, type: "documents"}) }}
            </div>
        </div>
        {% if scormSynthesis is defined and scormSynthesis is not null and moduleIteration.learnedTime is not null %}
            {% set dateTime = '00:00:00' %}
            {% set timeLearned = scormSynthesis.moduleIteration is not null and scormSynthesis.moduleIteration.learnedTime is not null ? scormSynthesis.moduleIteration.learnedTime ~ ' seconds' : 0~' seconds' %}
            <div class="col-md-12 no-padding btn-deepmark border-radius-10">
                <div class="col-md-12 text-center pad-15">
                    <span class="font-weight-600 text-white font-size-20">{{ 'popup.synthesis'|trans }}</span>
                </div>
                <div class="col-md-12 no-padding row ">
                    <div class="col-md-4 synthesis no-margin header no-padding text-center text-white">
                        <span class="font-size-13">{{ 'learners.courses.my_score'|trans }}</span><br>
                        {{ include('molecules/widgets/circle-progress.html.twig', { percent: scormSynthesis['score']|round } ) }}
                    </div>
                    <div class="col-md-4 marg-b-10  text-center text-white border-left border-right">
                        <span class="font-size-13">{{ 'learners.courses.completion'|trans }}</span><br>
                        {% if scormSynthesis['lessonStatus'] == 'passed' %}
                            <i class="fa fa-check-circle font-size-25 c-green-status marg-t-10"></i><br>
                        {% elseif scormSynthesis['lessonStatus'] == 'failed' %}
                            <i class="fa fa-times-circle font-size-25 c-red marg-t-10"></i><br>
                        {% else %}
                            N/A<br>
                        {% endif %}
                        <span class="font-size-12 font-weight-800">{{ scormSynthesis.moduleIteration?scormSynthesis.moduleIteration.executionDate|date('D d M Y'):null }}</span>
                    </div>
                    <div class="col-md-4 no-padding text-center text-white">
                        <span class=" font-size-13">{{ 'learners.courses.time_spent'|trans }}</span><br>
                        <i class="fa fa-clock font-size-22 marg-t-10"></i> <br>
                        <span class=" font-size-12 font-weight-800">{{ scormSynthesis.moduleIteration? dateTime|date_modify(timeLearned)|date(' H:i:s', false)  :null }}</span>
                    </div>
                </div>
            </div>
        {% elseif synthesisElearning == 1 and (moduleIteration.status.id == status_done or expired) %}
            {% set dateTime = '00:00:00' %}
            {% set timeLearned = moduleIteration.learnedTime ? moduleIteration.learnedTime ~ ' seconds' : '0 seconds' %}
            <div class="col-md-12 no-padding btn-deepmark border-radius-10">
                <div class="col-md-12 text-center pad-15">
                    <span class="font-weight-600 text-white font-size-20">{{ 'popup.synthesis'|trans }}</span>
                </div>
                <div class="col-md-12 no-padding row ">
                    <div class="col-md-4 synthesis no-margin header no-padding text-center text-white">
                        <span class="font-size-13">{{ 'learners.courses.my_score'|trans }}</span><br><br>
                        <span>N/A</span>
                    </div>
                    <div class="col-md-4 marg-b-10  text-center text-white border-left border-right">
                        <span class="font-size-13">{{ 'learners.courses.completion'|trans }}</span><br>
                        <i class="fa fa-check-circle font-size-25 c-green-status marg-t-10"></i><br>
                        <span class="font-size-12 font-weight-800">{{ moduleIteration.executionDate|date('D d M Y') }}</span>
                    </div>
                    <div class="col-md-4 no-padding text-center text-white">
                        <span class=" font-size-13">{{ 'learners.courses.time_spent'|trans }}</span><br>
                        <i class="fa fa-clock font-size-22 marg-t-10"></i> <br>
                        <span class=" font-size-12 font-weight-800">{{ moduleIteration and timeLearned ? dateTime|date_modify(timeLearned)|date(' H:i:s', false)  :null }}</span>
                    </div>
                </div>
            </div>
        {% endif %}
        </div>
    </div>
</div>
<script>
    let idleTime = 0;
    let idleInterval = 0;
    let hasFrame = 0;
    //in case exist youtube video or media uploaded
    if(!document.body.contains(document.getElementById('player')) && !document.getElementsByClassName('media-tag')[0]) {
        //Increment the idle time counter every 10 seconds.
        idleInterval = setInterval(timerIncrement, 10000); // 10 seconds
    }
    $('iframe').hover( function() {
        console.log('iFrameStatus: 1')
        hasFrame = 1;
        //Zero the idle timer on mouse movement.
        /*$(this).contents().keypress(function(){
            idleTime = 0;
        });*/
        $(this).contents().mousemove(function(){
            idleTime = 0;
            //console.log('hasFrame 1 hover: mousemove')
        });
    }, function() {
        hasFrame = 1;
        //Zero the idle timer on mouse movement.
        document.body.addEventListener('mousemove', function(e) {
            idleTime = 0;
            //console.log('hasFrame 1 not hover: mousemove')
        });
        console.log('iFrameStatus: 0')
    });

    if (hasFrame == 0) {
        //Zero the idle timer on mouse movement.
        document.body.addEventListener('mousemove', function(e) {
            idleTime = 0;
            //console.log('mousemove')
        });
        console.log('hasFrame: 0')
    }

    function timerIncrement() {
        idleTime = idleTime + 1;
        console.log(idleTime + ' seconds')
        if (idleTime >= 30) { //30 times x 10,000 = 300,000: 5 minutes
            idleTime = 0;
            clearInterval(idleInterval);
            idleInterval = 0; // I just do this so I know I've cleared the interval
            console.log('clearInterval')
            swal({
                type: 'warning',
                allowOutsideClick: false,
                title: '{{ 'global.idled_warning'|trans|raw }}',
                html: '{{ 'global.idled_message'|trans({'%mins%': 5})|raw }} {{ 'global.idled_module_stop'|trans|raw }} {{ 'global.back_return'|trans|raw }}',
            }).then(
                function () {
                    idleInterval = setInterval(timerIncrement, 10000); // 10 seconds
                    console.log('setInterval again')
                },
            )
        } else {
            ajaxCall();
        }
    }

    function ajaxCall() {
        let startTime = $('#startTime').text();
        $.ajax({
            'url': '/learner/courses/timing',
            'method': 'POST',
            'data' : {
                'module_id': {{ module.id }},
                'startTime': startTime,
                'learnedTime': 10
            }
        }).done(function (response) {
            // show message here
        }).fail(function (response) {
            $('.loader').hide();
            if (response.hasOwnProperty('responseJSON') && response.responseJSON.hasOwnProperty('message')) {
                swal('Error',response.responseJSON.message, 'error');
            }
        });
    }

    function updateTimeSpent(seconds) {
        let startTime = $('#startTime').text();
        $.ajax({
            'url': '/learner/courses/timing',
            'method': 'POST',
            'data' : {
                'module_id': {{ module.id }},
                'startTime': startTime,
                'learnedTime': seconds
            }
        }).done(function (response) {
            // show message here
        }).fail(function (response) {
            $('.loader').hide();
            if (response.hasOwnProperty('responseJSON') && response.responseJSON.hasOwnProperty('message')) {
                swal('Error',response.responseJSON.message, 'error');
            }
        });
    }
    // in case media upload player (audio/video)
    var mediaTag = document.getElementsByClassName('media-tag')[0];
    if(mediaTag){
        mediaTag.onpause  = function(){
            //console.log('paused: '+mediaTag.currentTime);
            updateTimeSpent(mediaTag.currentTime);
        }
    }
    // youtube api
    if(document.body.contains(document.getElementById('player'))){
        var raw = '{{ module.mediaDocument ? module.mediaDocument.url|raw : "" }}';
        var currentIframe = new DOMParser().parseFromString(raw, "text/html");
        var iframeElement = currentIframe.getElementsByTagName('iframe')[0];
        var iframeSrc = iframeElement.getAttribute('src');
        iframeElement.setAttribute('src', iframeSrc+'&enablejsapi=1');
        iframeElement.setAttribute('id', 'existing-iframe');
        $('#player').append(iframeElement);

        var tag = document.createElement('script');
        tag.id = 'iframe-demo';
        tag.src = 'https://www.youtube.com/iframe_api';
        var firstScriptTag = document.getElementsByTagName('script')[0];
        firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

        var player;
        function onYouTubeIframeAPIReady() {
            player = new YT.Player('existing-iframe', {
                events: {
                    'onReady': onPlayerReady,
                    'onStateChange': onPlayerStateChange
                }
            });
        }
        function onPlayerReady(event) { }
        function onPlayerStateChange(event) {
            if(event.data == YT.PlayerState.PAUSED || event.data == YT.PlayerState.ENDED){
                //console.log('paused: '+ player.getCurrentTime());
                updateTimeSpent(player.getCurrentTime());
            }
        }

    }
    window.addEventListener("beforeunload", function (e) {
        // catch time in case reload or close tab while video playing
        if(mediaTag && !mediaTag.paused) {
            updateTimeSpent(mediaTag.currentTime);
        }
        /* player.getPlayerState():
            -1 – not iniciated
            0 – Ended
            1 – Playing
            2 – Paused
            3 – Buffering
            5 – Cued
         */
        if(document.body.contains(document.getElementById('player')) && player.getPlayerState() === 1){
            updateTimeSpent(player.getCurrentTime());
        }
    });

    $( document ).ready(function() {
        new Jodit("#editor", {
            toolbarAdaptive: false,
            buttons: "bold,strikethrough,underline,italic,eraser,|,ul,ol,|,outdent,indent,|,font,fontsize,brush,paragraph,copyformat,preview"
        })
        $("#editor").on('change', function () {
            $('#btn-export').attr('disabled','disabled');
        });

        $('[data-send="notes"]').on('click', function () {
            let postAddress = "{{ path('learner_courses_save_notes', { 'id': module.id } ) }}";
            let learnerNotes = $("#editor").val();
            let payload = {
                personType: 'learner',
                notes: learnerNotes,
                moduleId: {{ module.id }},
                trainerId: null,
                learnerId: {{ api.profile.id }},
                bookingAgendaId: null
            };
            saveNotes(postAddress, payload);
        });

        function saveNotes(url, data) {
            $.ajax({
                'url': url,
                'method': 'POST',
                'data': data
            }).done(function (response) {
                $('#btn-export').removeAttr('disabled');
                swal("{{ 'global.success_title'|trans }}", "{{ 'global.save_note_success_message'|trans }}", "success", {
                    button: "Ok",
                });
            }).fail(function (response) {
                swal("Error", "Error occurred while saving your notes. Please report the issue to IT department.", "error", {
                    button: "Ok",
                });
            })
        }
    });
</script>