
<div class="row" >
    <div class="col-md-8 " >
        <div class="col-md-12 row bg-white border-radius-10 pad-t-15 pad-b-15">
            <div class="col-md-2 flex--center text-center no-padding">
                <div class="module-circle module-icon-detail " style=" background-image: url('{{ asset('images/elearning.svg') }}')">
                </div>
            </div>
            <div class="col-md-7 no-padding align-self-center" >
                <span class="font-weight-600">{{ 'admin.interventions.mods.evaluation'|trans }}</span>
                <h3  class="bold no-margin color-header">{{ module.designation }}</h3>
            </div>
            <div class="col-md-3 no-padding flex--center">
                {{ include('molecules/courses/navigation.html.twig') }}
                {% if canBeNotated %}
                    {{ include('molecules/courses/notation.html.twig') }}
                {% endif %}

            </div>
            <div class="col-md-12 row marg-t-15" >
                <div class="col-md-2"></div>
                <div class="col-md-8 row bg-computer" >
                    {%  if module.echoModule %}
                        {{ include('molecules/courses/quiz/echo.html.twig', { module: module, echoUrl: echoUrl }) }}
                    {%  endif %}
                </div>

                <div class="col-md-2"></div>


            </div>
        </div>
    </div>
    <div class="col-md-4 pad-r-0" >
        <div class="col-md-12 bg-white border-radius-10 marg-b-15 padding-bottom-15">
            <div class="col-md-12 text-center pad-15" >
                <span  class="font-weight-600 font-size-20 color-header">{{ 'learners.courses.description'|trans }}</span>
            </div>
            <div class="col-md-12 no-padding text-justify marg-b-15" >
                {{ module.description|raw }}
            </div>
            <div class="col-md-12 no-padding marg-t-15 row border-top">
                <div class="col-md-8 no-padding" >
                    <p class="color-header no-margin bold"  >
                        <embed src="/images/clock.svg" width="22" height="22"
                               type="image/svg+xml"/>&nbsp;&nbsp;&nbsp;<span  class="font-size-22">{{ module.duration|date('H:i:s') }}</span>
                    </p>
                    <p class="no-margin">
                        <embed src="/images/calendar.svg" width="18" height="18"
                               type="image/svg+xml"/>&nbsp;&nbsp;&nbsp;<span  class="font-size-13 text-gray">{{ module.beginning|date('d/m/Y') }} {{ 'global.to'|trans }} {{ module.ending|date("d/m/Y") }}</span>
                    </p>
                </div>
                <div class="col-md-4 no-padding text-center align-self-center text-gray" >
                    {% if (module.minScore is not empty) %}
                        <span  class="font-weight-600 font-size-13">{{ 'learners.courses.score_to_pass'|trans|capitalize }}</span><br>
                        <span class="font-size-30 font-weight-800">{{ module.minScore  }}%</span>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-md-12 bg-white border-radius-10" >
            <div class="col-md-12 text-center pad-15" >
                <span class="color-header font-weight-600 font-size-20">{{ 'learners.courses.documents'|trans }}</span>
            </div>
            <div class="col-md-12" >
                {{ include('molecules/tables/files-list.html.twig', {documents: module.educationalDocument, type: "documents"}) }}
            </div>
        </div>
    </div>

</div>

<script src="{{ asset('js/learner/quiz-client.js') }}"></script>
