<div class="card-header card-header-icon">
    <div class="card-icon c-bg-orangelight">
        <i class="fal fa-video"></i>
    </div>
</div>

<div class="card-body">
    {% if module.subject and module.subject.designation %}
        <h4 class="text-center">{{ module.subject.designation }}</h4>
    {% endif %}
    <h5 class="text-center" style="margin-top: 25px;">
        {{ module.designation }}
    </h5>
    <p class="text-center">

    </p>

    <p class="text-right">
        <b>{{ 'global.from'|trans|capitalize }}</b> {{ module.beginning|date('Y-m-d') }}
        <b>{{ 'global.to'|trans }}</b> {{ module.ending|date('Y-m-d') }}
        <br>
        {{ 'booking.duration'|trans }} : {{ module.duration|date('i:s') }}
    </p>

    {% if module.mediaDocument %}
        <audio controls="controls">
            <source src="{{ asset('files/'~ module.mediaDocument.fileDescriptor.path) }}" type="audio/aac" />
        </audio>
    {% endif %}

    {{ include('molecules/courses/notation.html.twig') }}
    {{ include('molecules/courses/navigation.html.twig') }}

</div>
