

    <p class="text-center ">
        <ul class="instruction">
          <li class="blue">seances already booked.</li>
          <li class="green">available slots for selected seance in the left panel</li>
          <li class="gray">complete sessions.</li>
        </ul>
        Choose your slot on the calendar, and clic to book.
    </p>
