{% if module is not null %}
    {% set type = module.storedModule.appId %}
{% else %}
    {% set type = null %}
{% endif %}

{% if next_module %}
    {% if  module.scoreQuiz is defined and  module.scoreQuiz is not null %}
        {% if canBeNavigation %}
            <div class="text-right scorm-next-module">
               <a class="btn btn-deepmark btn-small" module-id="{{ module.id }}" next-module-id="{{ next_module.id }}" data-action="nextModule" href="{{ path('learner_courses_module', { 'id': next_module.id }) }}?doneModule={{ module.id }}">{{ 'buttons.next_step'|trans }} <i class="fas fa-chevron-right" aria-hidden="true"></i>
                </a>
            </div>
        {% endif %}
    {% else %}
        {% if canBeNavigation %}
            <div class="text-right scorm-next-module">
                <a class="btn btn-deepmark btn-small" module-id="{{ module.id }}" next-module-id="{{ next_module.id }}" data-action="nextModule" href="{{ path('learner_courses_module', { 'id': next_module.id }) }}?doneModule={{ module.id }}">{{ 'buttons.next_step'|trans }} <i class="fas fa-chevron-right" aria-hidden="true"></i>
                </a>
            </div>
        {% endif %}
    {% endif %}
{% else %}
    {% if  module.scoreQuiz is defined and  module.scoreQuiz is not null %}
            {% if canNext %}
                <div class="text-right scorm-next-module">
                    <a id="finishQuiz" module-id="{{ module.id }}" class="btn btn-small btn-deepmark " data-action="nextModule" href="{{ path('learner_courses_finish', { 'id': module.id }) }}">{{ 'buttons.finish'|trans }} <i class="fas fa-chevron-right" aria-hidden="true"></i>
                    </a>
                </div>
            {% endif %}
    {% else %}
        {% if canBeNavigation %}
            <div class="text-right scorm-next-module">
                <a class="btn btn-deepmark btn-small finish-btn" module-id="{{ module.id }}" data-action="nextModule" href="{{ path('learner_courses_finish', { 'id': module.id }) }}">{{ 'buttons.finish'|trans }} <i class="fas fa-chevron-right" aria-hidden="true"></i>
                </a>
            </div>
        {% endif %}
    {% endif %}
    <script>
        setTimeout(
                function ()
                {
                    $('.finish-btn').show();

                }, 120000);
    </script>
{% endif %}
