{% if not notation %}
    {% if module is not null %}
        {% set type = module.storedModule.appId %}
    {% else %}
        {% set type = null %}
    {% endif %}

    <div class="modal fade" id="module-evaluation" tabindex="-1" role="dialog" aria-labelledby="module-evaluation" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="evaluation-form ">
                        <div class="text-center" style="font-size: 20px;">
                            <h3 class="marg-b-10 color-header" style="font-weight: 700">{{ 'learners.plans.evaluation_module'|trans}}</h3>
                            {% if notation and notation.notation %}
                                {{ include('molecules/widgets/ratings.html.twig', { max: 5, grade: notation.notation }) }}
                            {% else %}
                                {{ include('molecules/widgets/ratings-dynamic.html.twig', { max: 5 }) }}
                            {% endif %}
                        </div>
                        <div class="marg-t-20 marg-b-20 text-left">
                            <label for="observationsArea">{{"learners.plans.evaluation_commentaire"|trans}}</label>
                            <textarea class="form-control" id="observationsArea" rows="3"
                                      placeholder="">{% if notation and notation.designation %}{{ notation.designation }}{% endif %}</textarea>
                            <script>
                                new Jodit("#observationsArea", {
                                    toolbarAdaptive: false,
                                    buttons: "bold,strikethrough,underline,italic,eraser,|,ul,ol,|,outdent,indent,|,font,fontsize,brush,paragraph,copyformat,preview"
                                })
                            </script>
                        </div>
                    </div>
                    {% if type == constant('\\ApiBundle\\Entity\\StoredModule::ONLINE') or type == constant('\\ApiBundle\\Entity\\StoredModule::VIRTUAL_CLASS') or type == constant('\\ApiBundle\\Entity\\StoredModule::PRESENTATION_ANIMATION')  %}
                        <div class="evaluation-trainer-form">
                            <div class="text-center"  style="font-size: 20px;">
                                <h3 class="marg-b-10 color-header" style="font-weight: 700">{{ 'learners.plans.evaluation_trainer'|trans}}</h3>
                                {% if notation and notation.notation %}
                                    {{ include('molecules/widgets/ratings.html.twig', { max: 5, grade: notation.notation }) }}
                                {% else %}
                                    {{ include('molecules/widgets/ratings-dynamic.html.twig', { max: 5 }) }}
                                {% endif %}
                            </div>
                            <div class="marg-t-20 marg-b-20  text-left">
                                <label for="observationsTrainerArea">{{"global.trainer"|trans}}</label>
                                <textarea class="form-control" id="observationsTrainerArea" rows="3"
                                          placeholder="">{% if notation and notation.designation %}{{ notation.designation }}{% endif %}</textarea>
                                <script>
                                    new Jodit("#observationsTrainerArea", {
                                        toolbarAdaptive: false,
                                        buttons: "bold,strikethrough,underline,italic,eraser,|,ul,ol,|,outdent,indent,|,font,fontsize,brush,paragraph,copyformat,preview"
                                    })
                                </script>
                            </div>
                        </div>
                        <input type="hidden" value="1" id="isGradeTrainer">
                    {% else %}
                        <input type="hidden" value="0" id="isGradeTrainer">
                    {% endif %}
                </div>
                <div class="modal-footer">
                    <div class="col-md-12 text-right">
                        {% if notation and notation.notation %}
                        {% else %}
                            <button class="btn btn-deepmark eval-btn" data-action="evaluate" {% if module %}data-mod="{{ module.id }}"{% endif %}>
                                {{ 'buttons.validate'|trans }}
                            </button>
                        {% endif %}
                    </div>

                </div>
            </div>
        </div>
    </div>
{% endif %}