
<div class="row">
    <div class="col-md-4 pad-l-0">
        <div class="col-md-12 row bg-white border-radius-10 marg-b-15 min-height-280 pad-t-15" >
            <div class="col-md-3 text-center no-padding flex--center">
                <div class="module-circle module-icon-detail" style="background-image: url('{{ asset('images/quiz.svg') }}')">
                </div>
            </div>
            <div class="col-md-9 no-padding" >
                <span class="font-weight-600">{{ 'admin.interventions.mods.quiz'|trans }}</span>
                <h3 class="bold no-margin color-header">{{ module.designation }}</h3>
            </div>

            <div class="col-md-12 no-padding border-top pad-t-15 font-size-13 pad-b-15" >
                <p class="no-margin font-weight-600" >Description</p>
                <div class="col-md-12 no-padding text-justify font-size-13" >
                    {{ module.description|raw }}
                </div>
            </div>

            <div class="col-md-12 no-padding row padding-bottom-15" >
                <div class="col-md-6 no-padding text-center text-gray">
                    {% if (module.scoreQuiz is not empty) %}
                        <p  class="text-gray font-size-13 font-weight-600">Score to pass</p>
                        <span class="font-size-13 font-weight-800">{{ module.scoreQuiz|round  }}%</span>
                    {% endif %}
                </div>
                <div class="col-md-6 no-padding text-center text-gray" >
                    {% if (module.iteration is not empty) %}
                        <p  class="font-weight-600 font-size-13 text-gray">Number of attempt</p>
                        <span  class="font-size-30 font-weight-800">{{ module.iteration  }}</span>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-md-12 bg-white border-radius-10" >
            <div class="col-md-12 text-center pad-15" >
                <span class="color-header font-weight-600 font-size-20">Documents</span>
            </div>
            <div class="col-md-12" >
                {% if module.educationalDocument|length != 0 %}
                    {{ include('molecules/tables/files-list.html.twig', {documents: module.educationalDocument, type: "documents"}) }}
                {% endif %}
            </div>
        </div>
    </div>
    <div class="col-md-8 no-padding">
        <div id="quizQuestion" class="col-md-12 bg-white border-radius-10 pad-t-15 pad-b-15 height-auto {% if results is not empty %} d-none {% endif %}" >
            <div class="col-md-12 " >
                <h3  class="font-weight-800 no-margin text-center">
                    <span class="color-header">Trial Number: </span># {{ results|length +1 }} / {{ module.iteration }}
                </h3>
                {%  if module.quiz %}
                    {%  if module.quiz.type == 'SURVEY_MONKEY' %}
                        {{ include('molecules/courses/quiz/iframe.html.twig', { module: module, resolver: resolver }) }}
                    {% else %}
                        <div id="quiz-done-resolver" style="visibility: hidden"
                             retry="{{ module.iteration }}"
                             moduleId="{{ module.id }}"
                             isCompleted="{{ isCompleted | default(0) }}"
                             resultsCount="{{ results|length }}">
                        </div>
                        <div class="col-md-12 p-0 m-0 collapse show marg-b-15" id="quizQuestion" >
                            <ul class="list-group">

                                <div id="quiz-wrapper" >
                                    <li class="list-group-item p-0 m-0 pad-t-40" >
                                        {% for question in module.quiz.questions %}
                                            {% set questId = loop.index %}
                                            <h4 class="no-margin  bold"  >Question {{ questId }}</h4>
                                            <div class="quiz-question-wrapper border-top marg-t-10 pad-t-10 font-size-13">
                                                <div class="quiz-question-text">
                                                    <p class="no-margin bold" >{{ question.text|raw }}
                                                        {% if module.quiz.settings.quizable %}
                                                            <span class="question-points">&nbsp;&nbsp;({{ question.points }} {{ 'learners.courses.quiz.num_points'|trans|lower }})</span>
                                                        {% endif %}
                                                    </p>
                                                </div>
                                                <p>
                                                    {% if question.type == 'single_answer' %}
                                                        <span class="question-points">Please select one answer</span>
                                                    {% else %}
                                                        <span class="question-points">Please select all correct answers</span>
                                                    {% endif %}
                                                </p>
                                                <div class="quiz-question-answers">
                                                    {% for answer in question.answers %}
                                                        <div class="row quiz-answer-wrapper pretty p-default p-smooth {{ question.type == 'single_answer' ? 'p-round' : 'p-curve' }}">
                                                            {% if question.type == 'single_answer' %}
                                                                <div class="form-check form-check-radio">
                                                                    <label class="form-check-label answer-text">
                                                                        <input name="answer_{{ questId }}" class="form-check-input question-checkbox" type="radio" question-id="{{ question.id }}" answer-id="{{ answer.id }}" question-type="{{ question.type }}">
                                                                        {{ answer.answer }}
                                                                        <span class="circle">
                                                                            <span class="check"></span>
                                                                        </span>
                                                                    </label>
                                                                </div>
                                                            {% else %}
                                                                <div class="form-check">
                                                                    <label class="form-check-label answer-text">
                                                                        <input class="form-check-input question-checkbox" type="checkbox" question-id="{{ question.id }}" answer-id="{{ answer.id }}" question-type="{{ question.type }}">
                                                                        {{ answer.answer }}
                                                                        <span class="form-check-sign">
                                                                            <span class="check"></span>
                                                                         </span>
                                                                    </label>
                                                                </div>
                                                            {% endif %}
                                                        </div>
                                                    {% endfor %}
                                                </div>

                                            </div>
                                        {% endfor %}
                                        {% if status is defined and status.appId != constant('\\ApiBundle\\Entity\\Status::LEARNER_INTERVENTION_EXPIRED') and
                                            status.appId != constant('\\ApiBundle\\Entity\\Status::WITH_BOOKING_DONE') %}
                                            <div class="text-center">
                                                <button id="quiz-submit-button" class="btn btn-deepmark" quiz-id="{{ module.quiz.id }}">
                                                    submit
                                                </button>
                                            </div>
                                        {% endif %}
                                    </li>
                                </div>
                            </ul>
                        </div>


                    {% endif %}
                {%  endif %}
            </div>
        </div>

        {% if results is not empty %}
            <div id="result" class="col-md-12 row" style="background-color: #fff; border-radius: 10px; padding-top:15px; padding-bottom:15px; height: auto!important">
                <div class="col-md-8 text-right" style="">
                    <h3  style="font-weight: 800" class=" no-margin">
                        <span class="color-header">Quiz result: </span> {{ results|length }}/{{ module.iteration }}
                    </h3>
                </div>
                <div class="col-md-4">
                    {{ include('molecules/courses/navigation.html.twig') }}
                    {% if canBeNotated %}
                        {{ include('molecules/courses/notation.html.twig') }}
                    {% endif %}
                </div>
                <div class="col-md-12 no-padding">
                    <div class="col-md-12 " style="padding-top: 20px;">
                        <ul class="list-group">
                            {% for key, row in quizResultsAndAnswers %}
                                {%  set scorePercent = (row.quizResult.score / module.quiz.totalPoints) * 100 %}
                                <li class="list-group-item no-padding" style="background-color: #3881E3; padding-top:25px!important; margin-bottom: 20px; border-radius: 15px;color: #fff!important;box-shadow: 0 16px 38px -12px #DADADA, 0 4px 25px 0px #DADADA, 0 8px 10px -5px #DADADA;">
                                    <div class="col-md-12  text-center" >
                                        <h3 class="no-margin "  style=" font-weight:900; margin-bottom: 15px!important;">Attempt #{{ key+1 }} </h3>
                                    </div>
                                    <div class="col-md-12 row" >
                                        <div class="col-md-4  text-center" >
                                            <p style="color:#fff!important;">Result</p>
                                            {% if scorePercent >= module.scoreQuiz %}
                                                <p>
                                                    <i style="color: springgreen!important; font-size: 60px;" class="fas fa-check" aria-hidden="true"></i>
                                                </p>

                                            {% else %}
                                                <p>
                                                    <i style="color: red!important; font-size: 60px;" class="fa fa-times" aria-hidden="true"></i>
                                                </p>

                                            {% endif %}
                                        </div>

                                        <div class="col-md-4  text-center" style="border-left:1px solid #fff; border-right:1px solid #fff;">
                                            <p style="color:#fff!important; margin-bottom: 30px;">Your score</p>
                                            <p style="color:#fff!important; font-weight:900; font-size: 50px;">{{ scorePercent|round }}%</p>

                                        </div>
                                        <div class="col-md-4  text-center" >
                                            <p class="no-margin" style="color:#fff!important;margin-bottom: 20px!important;">Number of correct answer</p>
                                            <p style="font-size: 35px; font-weight: 900;color:#fff">{{ row.correctAnswer }} <span style="font-size: 20px!important;">of</span> {{ module.quiz.questions|length }}</p>
                                        </div>
                                    </div>
                                    <div class="col-md-12 text-center" style="background-color: #fff; border-bottom-right-radius: 10px; border-bottom-left-radius: 10px; padding: 20px;" >
                                        <h4 class="text-uppercase color-header no-margin" style="font-weight: 900">
                                            <a data-id="{{ key }}" id="plusBtn{{ key }}" class="pointer plusBtn">Show my Quiz <i class="far fa-angle-down"></i></a>
                                            <a data-id="{{ key }}" id="minusBtn{{ key }}" class="pointer minusBtn d-none">Show my Quiz <i class="far fa-angle-up"></i></a>
                                        </h4>
                                        <div id="divDes{{ key }}" class="d-none">
                                            {{ include('molecules/courses/quiz//my_quiz_result.html.twig', {correctAnswers: row['answers'], key: key}) }}
                                        </div>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                        <div class="text-center">
                            <button id="tryAgain" class="btn btn-deepmark-orangelight {% if quizResultsAndAnswers|length >= module.iteration %} disabled {% endif %} "  {% if quizResultsAndAnswers|length >= module.iteration %} style="background-color: grey!important;" {% endif %} >
                                {% if quizResultsAndAnswers|length >= module.iteration %} No more attempt {% else %} TRY AGAIN {% endif %} <i class="fas fa-redo"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
</div>


<div id="quiz-wrapper" style="display: none">

    <h4 id="quiz-title">{{ module.quiz.title }}</h4>

</div>

<div id="quiz-done-message" style="display: none">
    <div class="quizResult">
        <span><b>{{ module.quiz.title }}</b></span>

        <div class="quizScore">
            <span>{{ resolver.getLastResult(module.quiz, module) }} / {{ module.quiz.totalPoints }}</span>
        </div>
    </div>
    <div class="progress">
        <div class="progress-bar bg-success" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
            {{ 'learners.courses.my_score'|trans }} : 0 %
        </div>
    </div>
</div>

<script>
    $('#tryAgain').on('click', function () {
        $("#quizQuestion").removeClass("d-none");
        $("#result").hide();
    });

</script>


<script src="{{ asset('js/learner/quiz-client.js') }}"></script>
