<div class="card card-pane">

    <div class="card-header card-header--module c-bg-lightmaroon">
        <h4><i class="fal fa-question-square marg-r-20"></i>{{ 'admin.interventions.mods.quiz'|trans }}: <span class="font-weight-light">{{ module.designation }}</span></h4>
    </div>

    <div class="card-body">

        <div class="card w-100">
            <div class="card-body">
                <h5 class="card-title pb-3">Description:</h5>
                <div class="more">
                    <span class="card-text text-lg font-weight-normal">{{ module.description|raw }}</span>
                </div>
            </div>
        </div>
        <div class="courseFilesList row">
            {{ include('molecules/tables/files-list.html.twig', { documents: module.educationalDocument, type: "documents" }) }}
        </div>

        {%  if module.quiz %}
            {%  if module.quiz.type == 'SURVEY_MONKEY' %}
                {{ include('molecules/courses/quiz/iframe.html.twig', { module: module, resolver: resolver }) }}
            {% else %}
                {{ include('molecules/courses/quiz/native.html.twig', { module: module, results: results }) }}
            {% endif %}
        {%  endif %}

        {{ include('molecules/courses/navigation.html.twig') }}


        {% if canBeNotated %}
            {{ include('molecules/courses/notation.html.twig') }}
        {% endif %}

    </div>
</div>

<script src="{{ asset('js/learner/quiz-client.js') }}"></script>
