<div id="courseStepsMiddleLine"></div>
<div class="col-sm-1 no-padding-right border-radius-10 font-size-14 color-header first-step first-step-margin">
    {%  set urlCourse = module is defined and module is not null ? path('learner_courses_show', {id: module.intervention.id}) : 'javascript:void(0)' %}
    <a class="pointer" href="{{ urlCourse }}">
        <span class="module-circle btn-deepmark flex--center pointer box-module border-radius-50">
            <i class="fa fa-home" aria-hidden="true"></i>
        </span>
    </a>
    <div class="postion-first">
    </div>
</div>
<div class="col-sm-10 no-padding" style="margin-top: -40px;">
    <nav id="courseSteps" class="no-padding">
        <div id="courseStepsCircles">
            {% set current = 0 %}
            {% set loopCurrent = 0 %}
            {% set current_id = 0 %}
            {% set curentClass = '' %}
            {% if modules|length < 6 %}
                <div id="staticCircles" class="divice">
                    {% block circleList %}
                        <div>
                        </div>
                        {% set i = 0 %}
                        {% for item in modules %}
                            <div class="div-module padding-content {% if modules|length >= 6 %} marg-t-23 {% endif %} text-center">
                                <p data-placement="top" data-toggle="tooltip" title="{{ item.chapter.chapterName }}" class="text-long color-header display-text">
                                    {{ 'global.chapter'|trans }} {{ loop.index }}
                                </p>
                                {% for course in item.courses %}
                                    {% set i = i + 1 %}
                                    {% set circleClass = 'module-circle flex--center' %}
                                    {%  if course.status.designation == 'Done'  %}
                                        {% set circleClass = circleClass ~ ' module-circle--done' %}

                                    {% elseif course.status.designation == 'In Progress' %}
                                        {% set circleClass = circleClass ~ ' module-circle--active' %}
                                    {% elseif course.status.designation == 'Expired' %}
                                        {% set circleClass = circleClass ~ ' module-circle--active' %}
                                    {% endif %}

                                    {% set moduleActive = 0 %}
                                    {% if i == 1 %}
                                        {% set moduleActive = (course.status.appId != statusDoneId and course.status.appId != statusExpiredId) %}
                                        {% if current == 0 and moduleActive  == 1 %}
                                            {% set current = 1 %}
                                            {% set current_id = module is defined and module is not null ? module.id : course.module.id %}
                                            {% set loopCurrent = loop.index %}
                                        {% endif %}
                                    {% elseif i > 1 %}
                                        {% set moduleActive = (tempModules[i - 2].module.done and course.status.appId != statusDoneId and course.status.appId != statusExpiredId) %}
                                        {% if current == 0 and course.status.appId != statusDoneId and course.status.appId != statusExpiredId %}
                                            {% set current = 1 %}
                                            {% set current_id = module is defined and module is not null ? module.id : course.module.id %}
                                            {% set loopCurrent = loop.index %}
                                        {% endif %}
                                    {% endif %}

                                    {% set moduleAvailable = (date(course.module.ending) >= date()) and (date(course.module.intervention.ending) >= date()) ? 1 : 0 %}
                                    {% set moduleLink = ((not intervention.sequential) or course.module.done or moduleActive) and moduleAvailable %}

                                    {% set circleClass = 'module-circle flex--center' ~ ' ' ~ (course.module.done ? 'module-circle--done' : '') ~ ' ' ~ (moduleActive ? 'module-circle--active' : '') %}
                                    {% if moduleLink %}
                                        <a data-placement="bottom" data-toggle="tooltip" title="{{ course.module.designation }}" style="display: inline-flex!important;" href="{{ moduleLink ? path('learner_courses_module', { 'id': course.module.id }) }}" class="{% if current_id == course.module.id %} triangleClass {% endif %} display-content border-radius-20 {{ circleClass }} {% if current_id == course.module.id %} curentClass {% endif %}">
                                            {%  if course.status.designation == 'Done'  %}
                                                <i class="text-white fas fa-check" ></i>
                                            {% else %}
                                                {{ i }}
                                            {% endif %}
                                        </a>
                                    {% else %}
                                        <span data-placement="bottom" data-toggle="tooltip" title="{{ course.module.designation }}" style="display: inline-flex!important;" class="{% if current_id == course.module.id %} triangleClass {% endif %} border-radius-20 {{ circleClass }} {% if current_id == course.module.id %} curentClass {% endif %}">
                                            {%  if course.status.designation == 'Done'  %}
                                                <i class="text-white fas fa-check" ></i>
                                            {% else %}
                                                {{ i }}
                                            {% endif %}
                                        </span>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        {% endfor %}
                        <div>
                            <input type="hidden" id="currentModuleId" value="{{ loopCurrent  }}">
                        </div>
                    {% endblock %}
                </div>
            {% else %}
                <div id="circlesOuterWrapper" style="height: 100px;">
                    <a id="previousModule" class="control cursorPointer"><i class="color-header far fa-angle-left font-size-20" style="margin-top: 37px;"></i></a>
                    <div id="slidingCircles">
                        <div id="circlesInnerWrapper">
                            {{ block('circleList') }}
                        </div>
                    </div>
                    <a id="nextModule" class="control cursorPointer"><i class="color-header far fa-angle-right font-size-20" style="margin-top: 37px;"></i></a>
                </div>
            {% endif %}
        </div>
    </nav>
</div>
<div class="col-sm-1 no-padding-left text-right color-header font-size-14 border-radius-10 last-step {% if moduleAssessment %}step-margin {% else %} first-step-margin{% endif %}">
    {% if moduleAssessment %}
        <img width="30" height="20" style="margin-right: 10px;" src="{{ asset('/images/tiara.png') }}"><br>
    {% endif %}
    <a class="pointer" href="{{ moduleAssessment ? path('learner_courses_module', { 'id': moduleAssessment.id }) : 'javascript:void(0);' }}">
        <span  class="module-circle btn-deepmark flex--center pointer box-module border-radius-50">
            <i class="fa fa-trophy" aria-hidden="true"></i>
        </span>
    </a>
    <div class="postion-last">
    </div>
</div>


