<style>
    #signature-image .wrapper {
        position: relative;
        width: 752px;
        height: 200px;
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    #signature-image img {
        position: absolute;
        left: 0;
        top: 0;
    }

    #signature-image .signature-pad {
        position: absolute;
        left: 0;
        top: 0;
        width:752px;
        height:200px;
    }
</style>
<div id="virtualClassAlert" class="modal fade col-md-12" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="alert-form">
                    <h4 class="marg-b-10">{{ 'global.alert'|trans }}</h4>
                    <div class="marg-t-20 marg-b-20">
                        <div class="table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th>
                                            <div class="form-check">
                                                <label class="form-check-label">
                                                    <input class="form-check-input check-all-input" type="checkbox"
                                                           value="">
                                                    <span class="form-check-sign">
                                                        <span class="check"></span>
                                                    </span>
                                                </label>
                                            </div>
                                        </th>
                                        <th>{{ 'table.interventions.learner'|trans }}</th>
                                        <th>Email</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for booked in bookingAgendas %}
                                        <tr>
                                            <td>
                                                <div class="form-check">
                                                    <label class="form-check-label">
                                                        <input class="form-check-input alert-input" name="alert" alert-data="{{ booked.id }}" type="checkbox" value="{{ booked.id }}">
                                                        <span class="form-check-sign">
                		                                <span class="check"></span>
              	                                    </span>
                                                    </label>
                                                </div>
                                            </td>
                                            <td>{{ booked.learner.displayName }}</td>
                                            <td>{{ booked.learner.person.email }}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <input id="laterTime" type="hidden" value="5" name="laterTime">
                <button class="btn btn-deepmark-orangelight eval-btn" data-action="virtualClassAlert">{{ 'global.alert'|trans }}</button>
            </div>
        </div>
    </div>
</div>