{% set status_done =  constant('ApiBundle\\Entity\\Status::WITH_BOOKING_DONE') %}
{% set status_learner_absent =  constant('ApiBundle\\Entity\\Status::WITH_BOOKING_LEARNER_ABSENT') %}
{% set status_booked =  constant('ApiBundle\\Entity\\Status::WITH_BOOKING_BOOKED') %}
{% set status_absent =  constant('ApiBundle\\Entity\\Status::WITH_BOOKING_LEARNER_ABSENT') %}
{% set status_progress =  constant('ApiBundle\\Entity\\Status::WITH_BOOKING_IN_PROGRESS') %}

{% set hour = module.duration|date('G', false) %}
{% set minutes = module.duration|date('i', false) %}
{% set duration = '' %}
{% set durationJs = '' %}
{% if hour == '0' %}
    {% set duration = '+'~minutes~' min' %}
    {% set durationJs = minutes %}
{% elseif minutes == '00' %}
    {% set duration = '+'~ hour ~ 'hours' %}
    {% set durationJs = hour * 60 %}
{% else %}
    {% set duration = '+' ~hour ~ ' hours' ~ ' +' ~ minutes~ ' min' %}
    {% set durationJs = minutes + hour * 60  %}
{% endif %}

<style>
    #dashboard-learner .fc-view-container {
        overflow: hidden!important;
        max-height: unset!important;
    }
    .fc-cancelBooking-button{
        display: none;
    }
</style>

<div class="row  card-pane" data-id="{{ module.id }}" data-start="{{ module.beginningWithTime|date('Y-m-d H:i:s') }}"
         data-end="{{ module.endingWithTime|date('Y-m-d H:i:s') }}">
    <div class="col-md-4 pad-l-0" >
        <div class="col-md-12 row bg-white border-radius-10 marg-b-15 pad-t-15 min-height-280" >
            <div class="col-md-3 marg-b-10 text-center no-padding flex--center">
                <div class="flex--center btn-blue border-radius-50 no-padding" style="width: 50px; height: 50px;">
                    <object data="/images/vitual-white.svg" width="40" height="40"
                            type="image/svg+xml"></object>
                </div>
            </div>
            <div class="col-md-9 no-padding" >
                {% if (module.storedModule.appId == constant('\\ApiBundle\\Entity\\StoredModule::ONLINE_WORKSHOP') ) %}
                    <span class="font-weight-600">{{ 'admin.interventions.mods.workshop'|trans }}</span>
                {% else %}
                    <span class="font-weight-600">{{ 'admin.interventions.mods.virtualclass'|trans }}</span>
                {% endif %}
                <h3 class="bold font-size-20 no-margin color-header">{{ module.designation }}</h3>
            </div>

            <div class="col-md-12 no-padding border-top pad-t-15 font-size-13" >
                <p class="no-margin font-weight-600" >{{ 'admin.skills.form.description_label'|trans }}</p>
                <div class="col-md-12 no-padding text-justify font-size-13 pad-b-15" >
                    {{ module.description|raw }}
                </div>
            </div>
            <div class="col-md-12 no-padding row padding-bottom-15" >
                <div class="col-md-8 no-padding" style="">
                    <p class="color-header no-margin bold" >
                        <embed src="/images/clock.svg" width="22" height="22"
                               type="image/svg+xml"/>&nbsp;&nbsp;&nbsp;<span  class="font-size-20">{{ module.duration|date('H:i:s') }}</span>
                    </p>
                    <p class="no-margin">
                        <embed src="/images/calendar.svg" width="18" height="20"
                               type="image/svg+xml"/>&nbsp;&nbsp;&nbsp;<span class="font-size-13 text-gray">{{ module.beginning|date('d/m/Y') }} {{'global.to'|trans}} {{ module.ending|date("d/m/Y") }}</span>
                    </p>
                </div>
                <div class="col-md-4 no-padding text-center text-gray" >
                    {% if (module.minScore is not empty) %}
                        <span class="font-size-13 font-weight-600 ">{{ 'learners.courses.score_to_pass'|trans|capitalize }}</span><br>
                        <span class="font-weight-800 font-size-30">{{ module.minScore  }}%</span>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-md-12 bg-white border-radius-10" >
            <div class="col-md-12 text-center pad-15">
                <span class="color-header font-weight-600 font-size-20">{{ 'learners.courses.documents'|trans }}</span>
            </div>
            <div class="col-md-12" >
                {% if module.educationalDocument|length != 0 %}
                    {{ include('molecules/tables/files-list.html.twig', {documents: module.educationalDocument, type: "documents"}) }}
                {% endif %}
            </div>
        </div>
    </div>
    <div id="dashboard-learner" class="col-md-8 no-padding">
        <div class="calendar-wrapper col-md-12 bg-white border-radius-10 pad-t-15 pad-b-15 height-auto {% if isBooked  %}d-none{% endif %} " data-target="calendar" >
            <div class="col-md-12 text-center" >
                <h3  class="color-header font-weight-800 no-margin">
                    {{ 'popup.book_your_session'|trans|capitalize }}
                </h3>
            </div>
            {{ include('molecules/calendar/calendar-legend.twig', {user:'learner_booking'}) }}
            <div id="virtualClassCalendar"></div>
        </div>
        {% if booked is defined and booked is not empty %}
            <div class="col-md-12  row bg-white border-radius-10 pad-t-15 pad-b-20 " >
                <div class="col-md-4 flex--center no-padding module color-header text-left justify-content-none" >
                    <span class="module-circle module-booked-status" ></span> &nbsp; &nbsp; <span  class="font-weight-800 module-booked-status-color font-size-14">
                        {{ include('molecules/widgets/booking-status.html.twig', { appId: booked.status.appId }) }}&nbsp;!
                    </span>
                </div>
                <div class="col-md-4 flex--center text-center">
                    <span class="color-header font-weight-600 font-size-20">{{ 'learners.courses.my_session'|trans }}</span>
                </div>
                <div class="col-md-4 text-right no-padding">
                    {% if route != 'trainer_exercices_video_booking_agenda' and booked.status.appId != status_done and booked.status.appId != status_absent and booked.status.appId != status_progress %}
                        {% if expired %}
                            <button style="font-size: 11px;" data-toggle="modal" href="#expire-info" class="btn width-auto btn-small btn-deepmark-red">{{ 'learners.courses.expire_booking' |trans }}</button>
                            {{ include('molecules/modal/expire-modal.html.twig') }}
                        {% else %}
                            <button id="cancel-booking-info" class="btn width-auto btn-sm btn-deepmark-red">{{ 'learners.courses.cancel_booking' |trans }}</button>
                        {% endif %}
                    {% elseif booked.status.appId == status_done %}
                        {% if isBooked %}
                            {{ include('molecules/courses/navigation.html.twig') }}
                            {% if canBeNotated %}
                                {{ include('molecules/courses/notation.html.twig') }}
                            {% endif %}
                        {% endif %}
                    {% endif %}
                </div>
                <div class="col-md-12 text-center marg-t-15" >
                    <h2 class="no-margin bold">{{ booked.bookingDate|localizeddate('full', 'none', app.request.locale)|capitalize }}</h2>
                    <h3 class="no-margin font-weight-600 marg-bottom-20" > {{ booked.bookingDate|date('G:i', false) }} - {{ booked.bookingDate|date_modify(duration)|date('G:i', false) }} </h3>
                </div>
                {{ include('molecules/widgets/count-down-booking.html.twig') }}
                <div class="row col-md-12 pad-t-15 marg-t-30 text-white pad-b-15 backgroud-header">
                    <div class="col-2">
                        <i class="fa fa-user font-size-18"></i>
                    </div>
                    <div class="col-8 text-center ">
                        <p class="no-margin text-white text-uppercase font-size-18">{{ 'admin.interventions.create.step1.trainer' | trans }}</p>
                    </div>
                    <div class="col-md-2"></div>
                </div>
                <div class=" col-md-12 marg-b-15 text-center pad-t-15 text-white pad-b-15 backgroud-deepmark-light">
                    <p class="no-margin color-header font-size-18"> <b class="bold">{{ booked.trainer.entity.organisation.designation }}</b> - {{ booked.trainer.entity.designation }}</p>
                </div>
                <div class="col-md-3 text-center user-info-text">
                    {{ booked.trainer.firstName ~' '~booked.trainer.lastname }}
                </div>
                <div class="col-md-6 border-left-header text-center user-info-text">
                    {{ booked.trainer.person.email }}
                </div>
                <div class="col-md-3 text-center border-left-header">
                    {{ booked.trainer.mobilePhone }}
                </div>
                <div class="col-md-12 pad-t-30"></div>
            </div>
        {% endif %}
        {% if booked and (booked.status.appId == status_done or booked.status.appId == status_absent or expired) %}
            {{ include('molecules/widgets/synthesis.html.twig') }}
        {% endif %}
    </div>
    <span id="cancel-booking-text" class="text-template">{{ 'learners.courses.cancel_booking'|trans }}</span>
    <span id="book-session-text" class="text-template">{{ 'learners.courses.book_session'|trans }}</span>
</div>
{{ include('molecules/modal/virtual-calendar-modal.html.twig') }}
{{ include('molecules/modal/cancel-confirmation-modal.html.twig') }}
{% block javascripts %}
    <script src="{{ asset('js/learner/calendar-vclass.js') }}"></script>
{% endblock %}
