<div class="learnerTrainerList col-md-12 marg-b-10">
    <div class="row col-md-12 z-index">
        <div class="col-md-4 no-padding">
        </div>
        <div class="col-md-4 admin no-padding-right pad-t-10" >
            <div  class="row btn-deepmark-light border-radis-30 height-40">
                <div class="col-md-3 text-center no-padding color-header font-size-10 flex--center ">{{ 'search.content'|trans }}</div>
                <div class="col-md-7 no-padding ">
                    <input type="text" id="{{ type }}Search" class="border-0 height-100 no-padding no-margin color-header backgroud-deepmark-light">
                </div>
                <div class="col-md-2 flex--center">
                    <i class="fas color-header fa-search"></i>
                </div>
            </div>
        </div>
        {% if type == 'toValidationTable' %}
            <div class="col-md-3 admin text-right no-padding-right">
                <div style="margin-top: 17px;" class="form-group pad-b-0">
                    <select id="typeAction" name="select_{{ type }}" class="classic">
                        <option value="1">  {{ 'trainers.exercises.status.validated'|trans }}  </option>
                        <option value="2">  {{ 'trainers.exercises.status.deny'|trans }}  </option>
                    </select>
                </div>
            </div>
            <div class="col-md-1 admin no-padding-right">
                <button id="apply_{{ type }}" class="btn btn-deepmark-orangelight btn-block apply">{{ 'global.apply'|trans }}</button>
            </div>
        {% else %}
            <div class="col-md-3 admin text-right no-padding-right">
                <div style="margin-top: 17px;" class="form-group pad-b-0">
                    <select id="typeAction" class="classic">
                        <option class="font-size-12" value="3">{{ 'buttons.sendmsg'|trans }}</option>
                    </select>
                </div>
            </div>
            <div class="col-md-1 admin no-padding-right">
                <button id="apply_{{ type }}" class="btn btn-deepmark-orangelight btn-block apply">{{ 'global.apply'|trans }}</button>
            </div>
        {% endif %}
    </div>
    <table id="{{ type }}" class="table table-striped w-100 font-size-13">
        <thead class="table-header">
        <tr>
            <th width="10%">{{ 'table.organization'|trans }}</th>
            <th width="10%">{{ 'table.entity'|trans }}</th>
            <th width="20%">{{ 'table.intervention_name'|trans }}</th>
            <th width="10%">{{ 'trainers.my_excercise.table.module'|trans|capitalize }}</th>
            <th width="10%">{{ 'table.learner'|trans }}</th>
            <th width="10%">{{ 'table.trainer'|trans }}</th>
            <th width="20%">{{ 'global.session_date'|trans|capitalize }}</th>
            <th width="10%">{{ 'trainers.my_excercise.table.duration'|trans|capitalize }}</th>
            {% if type == 'validatedTable' or type == 'rejectedTable' %}
                <th width="20%">{{ 'popup.comment'|trans|capitalize }}</th>
            {% endif %}
            <th width="10%">{{ 'global.actions'|trans|capitalize }}</th>
            <th data-orderable="false" class="justify-content-center">
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input check-all-{{ type }}" type="checkbox" value="">
                        <span class="form-check-sign">
                                            <span class="check"></span>
                            </span>
                    </label>
                </div>
            </th>
        </tr>
        </thead>
        <tbody>
        {% set audioType = ["wav", "mp3", "MP3", "WAV"] %}
        {% set videoType = ["mp4", "mov", "ogg", "MP4", "MOV", "OGG"] %}
        {% set imgType = ["png", "PNG", "JPG", "jpg", "JPEG", "jpeg"] %}
        {% if reports is defined %}
            {% for report in reports %}
                <tr>
                    <td>
                        {{ report.session.learner.entity.organisation.designation }}
                    </td>
                    <td>{{ report.session.learner.entity.designation }}</td>
                    <td>{{ report.module.intervention.designation }}</td>
                    <td>{{ report.module.designation }}</td>
                    <td>{{ report.session.learner.displayName }}</td>
                    <td>{{ report.session.trainer.displayName }}</td>
                    <td>{{ report.session.bookingDate|date('d/m/Y H:i:s') }}</td>
                    <td>{{ report.module.duration|date('H:i:s') }}</td>
                    {% if type == 'validatedTable' or type == 'rejectedTable' %}
                        <td>
                            <a href="javascript:void(0)" title="{{ report.comment|striptags }}">
                                {{ report.comment|striptags|length > 20 ? report.comment|striptags|slice(0, 20) ~ '...' : report.comment|striptags }}
                            </a>
                        </td>
                    {% endif %}
                    <td width="10%">
                        {% if type == 'toDoTable' %}
                            {#<a href="{{ path('trainer_exercices_video_booking_agenda', {'id': report.module.id, 'bid': report.session.id }) }}" class="btn btn-danger btn-sm">{{ 'global.go'|trans }} </a>#}
                        {% elseif report.fileDescriptor is defined %}
                            {% set path = report.fileDescriptor.path %}
                            <a href="{{ asset('files/reports/' ~ path) }}" download>
                                <i class="fa fa-download  color-header" aria-hidden="true"></i>
                            </a>&nbsp;&nbsp;&nbsp;
                            {% set fileFormat = report.fileDescriptor.mimeType %}
                            {% if fileFormat in imgType or fileFormat in videoType or fileFormat in audioType %}
                            <a target="_blank"  href="{{ asset('files/reports/' ~ path) }}" >
                                <i class="fa fa-eye color-header" aria-hidden="true"></i>
                            </a>
                        {% else %}
                            <a data-pdf-loader-queue="{{ path }}" class=" pointer preview-file preview-file-page ">
                                <i class="fa fa-eye color-header" aria-hidden="true"></i>
                            </a>
                            <script>
                                $('.preview-file-page').click(function() {
                                    let domain = document.location.origin;
                                    let url = domain + '/files/reports/' + $(this).attr('data-pdf-loader-queue');
                                    window.open(domain + '/viewer?url='+ url, '_blank');
                                });
                            </script>
                        {% endif %}
                        {% endif %}
                    </td>
                    <td>
                        <div class="form-check">
                            <label class="form-check-label">
                                <input class="form-check-input" name="{{ type }}" type="checkbox" value="{{ report.id }}">
                                <span class="form-check-sign">
                                    <span class="check"></span>
                                </span>
                            </label>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        {% endif %}
        </tbody>
    </table>
</div>