<div class="learnerTrainerList col-md-12 marg-b-10">
    <div class="row col-md-12 z-index">
        <div class="col-md-4 no-padding">
        </div>
        <div class="col-md-4 no-padding-right pad-t-10" >
            <div  class="row btn-deepmark-light border-radis-30 height-40">
                <div class="col-md-3 text-center no-padding color-header font-size-10 flex--center ">{{ 'search.content'|trans }}</div>
                <div class="col-md-7 no-padding ">
                    <input type="text" id="{{ type }}Search" class="border-0 height-100 no-padding no-margin color-header backgroud-deepmark-light">
                </div>
                <div class="col-md-2 flex--center">
                    <i class="fas color-header fa-search"></i>
                </div>
            </div>
        </div>
        {% if type == 'toValidationTable' %}
            <div class="col-md-3 text-right no-padding-right">
                <div style="margin-top: 17px;" class="form-group pad-b-0">
                    <select id="typeAction" name="select_{{ type }}" class="classic">
                        <option value="1">  {{ 'trainers.best_practices.status.validated'|trans }}  </option>
                        <option value="2">  {{ 'trainers.best_practices.status.deny'|trans }}  </option>
                    </select>
                </div>
            </div>
            <div class="col-md-1 no-padding-right">
                <button id="apply_{{ type }}" class="btn btn-deepmark-orangelight btn-block apply">{{ 'global.apply'|trans }}</button>
            </div>
        {% else %}
            <div class="col-md-3 text-right no-padding-right">
                <div style="margin-top: 17px;" class="form-group pad-b-0">
                    <select id="typeAction" class="classic">
                        <option class="font-size-12" value="3">{{ 'buttons.sendmsg'|trans }}</option>
                    </select>
                </div>
            </div>
            <div class="col-md-1 no-padding-right">
                <button id="apply_{{ type }}" class="btn btn-deepmark-orangelight btn-block apply">{{ 'global.apply'|trans }}</button>
            </div>
        {% endif %}
    </div>
    <table id="{{ type }}" class="table table-striped w-100 font-size-13">
        <thead class="table-header">
        <tr>
            <th>{{ 'table.best_practices.designation'|trans }}</th>
            <th>{{ 'table.best_practices.description'|trans }}</th>
            <th>{{ 'table.best_practices.document_type'|trans }}</th>
            <th>{{ 'table.best_practices.tags'|trans }}</th>
            <th>{{ 'table.best_practices.creation_date'|trans }}</th>
            {% if type == 'validatedTable' or type == 'rejectedTable' %}
                <th>{{ 'table.best_practices.validate_date'|trans }}</th>
            {% endif %}
            {% if type == 'toValidationTable' or type == 'rejectedTable' %}
            {% else %}
                <th>{{ 'table.best_practices.publication_date'|trans }}</th>
            {% endif %}
            {% if type == 'validatedTable' or type == 'rejectedTable' %}
                <th>{{ 'popup.comment'|trans|capitalize }}</th>
            {% endif %}
            <th data-orderable="false">{{ 'admin.entity.actions'|trans }}</th>
            <th data-orderable="false" class="justify-content-center">
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input check-all-{{ type }}" type="checkbox" value="">
                        <span class="form-check-sign">
                                            <span class="check"></span>
                            </span>
                    </label>
                </div>
            </th>
        </tr>
        </thead>
        <tbody>
        {% if bestPractices is defined %}
            {% for bestPractice in bestPractices %}
                <tr>
                    <td>{{ bestPractice.designation }}</td>
                    <td data-toggle="tooltip{{ type }}" data-placement="bottom" data-html="true" data-original-title="{{ bestPractice.description|striptags|raw }}">
                        {{ bestPractice.description|striptags|truncate(150, true, '...')|raw }}
                    </td>
                    <td>{{ bestPractice.documentType }}</td>
                    <td>
                        {% if bestPractice.tags %}
                            {% for tag in bestPractice.tags %}
                                <span class=" badge badge-label-deepmark-light">{{ tag.tagName }}</span>
                            {% endfor %}
                        {% endif %}
                    </td>
                    <td>
                        <span class="d-none">{{ bestPractice.created|date('U') }}</span>
                        {{ bestPractice.created|date('d/m/Y H:i:s') }}
                    </td>

                    {% if type == 'validatedTable' or type == 'rejectedTable' %}
                        <td>
                            <span class="d-none">{{ bestPractice.validateDate|date('U') }}</span>
                            {{ bestPractice.validateDate|date('d/m/Y H:i:s') }}
                        </td>
                    {% endif %}

                    {% if type == 'toValidationTable' or type == 'rejectedTable' %}
                    {% else %}
                        <td>
                            {% if bestPractice.publishDate is null  %}
                                Waiting for publication
                            {% else %}
                                <span class="d-none">{{ bestPractice.publishDate|date('U') }}</span>
                                {{ bestPractice.publishDate|date('d/m/Y H:i:s') }}
                            {% endif %}
                        </td>
                    {% endif %}

                    {% if type == 'validatedTable' or type == 'rejectedTable' %}
                        <td data-toggle="tooltip{{ type }}" data-placement="bottom" data-html="true"  data-original-title="{{ bestPractice.comment|striptags|raw }}">
                            {{ bestPractice.comment|striptags|truncate(150, true, '...')|raw }}
                        </td>
                    {% endif %}
                    <td>
                        <a href="{{ path('admin_best_practices_view', {'id': bestPractice.id }) }}" class="pointer ">
                            <object  data="/images/eye.svg" width="18" height="18"
                                     type="image/svg+xml"></object>
                        </a>
                    </td>
                    <td>
                        <div class="form-check">
                            <label class="form-check-label">
                                <input class="form-check-input" name="{{ type }}" type="checkbox" value="{{ bestPractice.id }}">
                                <span class="form-check-sign">
                                    <span class="check"></span>
                                </span>
                            </label>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        {% endif %}
        </tbody>
    </table>
</div>
