{% if modal is not defined %}
    {% set modal = true %}
{% endif %}

{% if idPre is not defined %}
    {% set idPre = '' %}
{% endif %}

<div class="table-responsive" {% if id is defined %}id="{{ id }}"{% endif %}>
	<table class="table table-striped">
		<thead>
		<tr>
            {% if org is defined and org == true %}
				<th>{{ 'table.interventions.logo'|trans }}</th>
            {% endif %}
			<th>{{ 'table.interventions.intervention'|trans }}</th>
			<th>{{ 'table.interventions.theme'|trans }}</th>
			<th>{{ 'table.interventions.trainer'|trans }}</th>
			<th>{{ 'table.interventions.learner'|trans }}</th>
			<th>{{ 'table.interventions.type'|trans }}</th>
			<th>{{ 'table.interventions.doc'|trans }}</th>
			<th>{{ 'table.interventions.start_duration'|trans }}</th>
			<th>{{ 'table.interventions.status'|trans }}</th>

			<th>
                {% if is_granted('ROLE_LEARNER') %}

                {% else %}
					<div class="form-check">
						<label class="form-check-label">
							<input class="form-check-input check-all-input" type="checkbox" value="">
							<span class="form-check-sign">
	                          		<span class="check"></span>
	                        	</span>
						</label>
					</div>
                {% endif %}
			</th>
		</tr>
		</thead>

		<tbody>

        {% if assignments is defined %}
            {% for assignment in assignments %}
				<tr class="interv-tr {% if modal == true %}tr--withmodal{% endif %}" data-id="{{loop.index}}">

                    {% if assignment.module.intervention.organisation is defined and org == true %}
						<td>
							<div class="img-container">
								<img src="{{ assignment.module.intervention.organisation }}" alt="">
							</div>
                            {{ assignment.module.intervention.designation }}
						</td>
                    {% else %}
						<td>
                            {{ assignment.module.intervention.designation }}
						</td>
                    {% endif %}
					<td>
                        {% if assignment.module.intervention.designation is defined %}
                            {{ assignment.module.intervention.designation	 }}
                        {% endif %}
					</td>

					<td>
                        {% if assignment.module.intervention.theme is defined %}
                            {{ assignment.module.intervention.theme }}
                        {% endif %}
					</td>

					<td>
                        {{ assignment.liveResource.displayName }}
					</td>
					<td>
                        {% if assignment.module.storedModule is defined %}
                            {{ assignment.module.storedModule.designation }}
                        {% endif %}
					</td>

					<td>
						<a href="#"><i class="fal fa-doc fa-2x"></i></a>
					</td>

					<td>
                        {% if booking.bookingDate is defined and booking.module.duration is defined %}
                            {{ booking.bookingDate|date("Y-m-d") }} <br>{{ booking.module.duration|date('H:i') }}
                        {% endif %}
					</td>

					<td>
                        {% if booking.status is defined %}
                            {{ include('atoms/buttons/toggle-3states-btn.html.twig', { id: idPre ~ loop.index, status: booking.status, disabled: is_granted('ROLE_ADMIN') ? false : true }) }}
                        {% endif %}
					</td>

					<td>
                        {% if is_granted('ROLE_LEARNER') and interv.moduleId is defined %}
							<a href="{{ path('learner_courses_show', { 'id': interv.id }) }}?launch={{ interv.moduleId }}&tab=visio" class="btn btn-sm btn-deepmark-green">{{ "global.nav.start_activity"|trans }}</a>
                        {% else %}
							<div class="form-check">
								<label class="form-check-label">
									<input class="form-check-input" type="checkbox" value="">
									<span class="form-check-sign">
	                              		<span class="check"></span>
	                            	</span>
								</label>
							</div>
                        {% endif %}
					</td>
				</tr>

                {% if modal == true %}
                    {{ include('molecules/tables/table-interv-modal.html.twig') }}
                {% endif %}
            {% endfor %}
        {% endif %}
		</tbody>
	</table>
</div>
