{% if modal is not defined %}
    {% set modal = true %}
{% endif %}

{% if idPre is not defined %}
    {% set idPre = '' %}
{% endif %}

<div class="table-responsive" {% if id is defined %}id="{{ id }}"{% endif %}>
	<table class="table table-striped" id="activitiesTableData">
        <thead align="center">
		<tr>
            {% if org is defined and org == true %}
				<th>{{ 'table.interventions.logo'|trans }}</th>
            {% endif %}
			<th>{{ 'table.interventions.intervention'|trans }}</th>
			<th>{{ 'table.interventions.entity'|trans }}</th>
			{% if learner is defined and learner == true %}
				<th>{{ 'table.interventions.trainer'|trans }}</th>
			{% else %}
				<th>{{ 'table.interventions.learner'|trans }}</th>
			{% endif %}
			<th>{{ 'table.interventions.type'|trans }}</th>
			<th>{{ 'table.interventions.start_duration'|trans }}</th>
			<th></th>
		</tr>
		</thead>

		<tbody>

        {% if bookings is defined%}
            {% for booking in bookings %}
				<tr class="interv-tr {% if modal == true %}tr--withmodal{% endif %}" data-id="{{loop.index}}">

                    {% if interv.organisation is defined and org == true %}
						<td>
							<div class="img-container">
								<img src="{{ interv.org }}" alt="">
							</div>
                            {{ booking.module.intervention.designation }}
						</td>
                    {% else %}
						<td>
                            {{ booking.module.intervention.designation }}
						</td>
                    {% endif %}

					<td>
						{{ booking.learner.entity.organisation.designation }} {{ booking.learner.entity.designation }}
					</td>

					<td>
						{% if learner is defined and learner == true %}
							{{ booking.trainer.displayName }}
						{% else %}
							{{ booking.learner.displayName }}
						{% endif %}
					</td>

					<td>
                        {% if  booking.module.storedModule is defined%}
                            {{ booking.module.storedModule.designation }}
                        {% endif %}
					</td>

					<td>
                        {% if booking.bookingDate is defined and booking.module.duration is defined %}
                            {{ booking.bookingDate|date("d/m/Y") }} at {{ booking.bookingDate|date("G:i", false) }} <br>{{ booking.module.duration|date('G:i', false) }}
                        {% endif %}
					</td>

					<td>
						{% if (date(booking.module.beginning) <= date() and date(booking.module.ending) >= date()) and (date(booking.module.intervention.beginning) <= date() and date(booking.module.intervention.ending) >= date()) %}
							{% if is_granted('ROLE_LEARNER') and interv.moduleId is defined %}
								<a href="{{ path('learner_courses_show', { 'id': interv.id }) }}?launch={{ interv.moduleId }}&tab=visio" class="btn btn-sm btn-deepmark-green">{{ "global.nav.start_activity"|trans }}</a>
							{% else %}
								{% if booking.status.appId  == constant('ApiBundle\\Entity\\Status::WITH_BOOKING_BOOKED') %}
									{% if learner is defined and learner == true %}
										<a href="{{ path('learner_courses_module', { 'id': booking.module.id }) }}" {% if is_granted('ROLE_ADMIN') %}class="disabled"{% endif %}>
											<button class="btn btn-deepmark-navy btn-sm {% if is_granted('ROLE_ADMIN') %}disabled{% endif %}"> {{ 'learners.plans.begin'|trans|capitalize }}</button>
										</a>
									{% else %}
										<a href="{{ path('trainer_exercices_video_booking_agenda', {'id': booking.module.id, 'bid': booking.id }) }}" {% if is_granted('ROLE_ADMIN') %}class="disabled"{% endif %}>
											<button class="btn btn-deepmark-navy btn-sm {% if is_granted('ROLE_ADMIN') %}disabled{% endif %}"> {{ 'learners.plans.begin'|trans|capitalize }}</button>
										</a>
									{% endif %}
								{% else %}
									<p>{{ 'trainers.my_excercise.table.no_action'|trans|capitalize }}</p>
								{% endif %}
							{% endif %}
						{% else %}
							{{ 'learners.courses.expired'|trans }}
						{% endif %}
					</td>
				</tr>

                {% if modal == true %}
                    {{ include('molecules/tables/table-interv-modal.html.twig') }}
                {% endif %}
            {% endfor %}
        {% endif %}
		</tbody>
	</table>
</div>
