<div class="table-responsive">
    {% set audioType = ["wav", "mp3", "MP3", "WAV"] %}
    {% set videoType = ["mp4", "mov", "ogg", "MP4", "MOV", "OGG"] %}
    {% set imgType = ["png", "PNG", "JPG", "jpg", "JPEG", "jpeg"] %}
    <table class="table table-striped data-table w-100" id="library-data-table">
        <thead class="table-header">
        <tr>
            <th>{{ 'table.library.doc_name'|trans }}</th>
            <th>{{ 'table.library.type'|trans }}</th>
            <th>{{ 'table.interventions.intervention'|trans }} / {{ 'table.interventions.name'|trans }} & {{ 'table.library.type'|trans }}</th>
            <th>{{ 'admin.profile.org'|trans }}</th>
            <th>{{ 'table.interventions.entity'|trans }}</th>
            <th class="text-center" ></th>
        </tr>
        </thead>
        <tbody>
        {% for moduleIteration in moduleIterations %}
            {% for document in moduleIteration.module.educationalDocument %}
                {% set fileFormat = document.fileDescriptor.mimeType %}
                <tr>
                    <td>{{ document.name ? document.name : document.fileDescriptor.name }}</td>
                    <td>
                        {{ ('document_type.'~document.educationalDocVariety.designation|lower)|trans }}
                    </td>
                    <td>
                        <p class="no-margin bold">{{ moduleIteration.module.intervention.designation }}</p>
                        <p class="no-margin">{{ moduleIteration.module.designation }}</p>
                        {% if  moduleIteration.module.storedModule is defined%}
                            <p class="no-margin">
                                {{ include('molecules/widgets/module-type.html.twig', { appId: moduleIteration.module.storedModule.appId }) }}
                            </p>
                        {% endif %}
                    </td>
                    <td class="bold">{{ moduleIteration.learner.entity.organisation.designation }}</td>
                    <td>{{ moduleIteration.learner.entity.designation }}</td>
                    <td class="text-center">
                        {% if document.fileDescriptor and document.fileDescriptor.isFileExist() %}
                            {% if is_granted('ROLE_ADMIN') %}
                                {% if type == "library" %}
                                    <a href="{{ path('admin_library_download', {'id': document.fileDescriptor.id}) }}"><i
                                                class="fal fa-download"></i></a>
                                {% elseif type == "documents" %}
                                    <a href="{{ path('admin_document_download', {'id': document.fileDescriptor.id}) }}"><i
                                                class="fal fa-download"></i></a>
                                {% endif %}
                            {% elseif is_granted('ROLE_TRAINER') %}
                                {% if type == "library" %}
                                    <a href="{{ path('trainer_library_download', {'id': document.fileDescriptor.id}) }}"><i
                                                class="fal fa-download"></i></a>
                                {% elseif type == "documents" %}
                                    <a href="{{ path('trainer_document_download', {'id': document.fileDescriptor.id}) }}"><i
                                                class="fal fa-download"></i></a>
                                {% endif %}
                            {% elseif is_granted('ROLE_LEARNER') %}
                                {% if document.isDownload == 1 %}
                                    <a href="{{ path('learner_library_download', {'id': document.fileDescriptor.id}) }}" download>
                                        <i class="fa fa-download  color-header" aria-hidden="true"></i>
                                    </a>&nbsp;
                                {% else %}
                                    <a>
                                        <i class="fa fa-download text-gray" aria-hidden="true"></i>
                                    </a>&nbsp;
                                {% endif %}
                                {% if fileFormat in imgType or fileFormat in videoType or fileFormat in audioType %}
                                    <a target="_blank"  href="{{ asset('files/'~  document.fileDescriptor.path) }}" >
                                        <i class="fa fa-eye color-header pl-1" aria-hidden="true"></i>
                                    </a>
                                {% else %}
                                    <a data-pdf-loader-queue="{{ document.fileDescriptor.path }}" class=" pointer preview-file preview-file-page ">
                                        <i class="fa fa-eye color-header pl-1" aria-hidden="true"></i>
                                    </a>
                                {% endif %}
                            {% endif %}
                        {% else %}
                            <a class=" text-gray" >
                                <i class="fa fa-download " aria-hidden="true"></i>
                            </a>&nbsp;
                            <a  class=" text-gray">
                                <i class="fa fa-eye  pl-1" aria-hidden="true"></i>
                            </a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        {% endfor %}
        </tbody>
    </table>
</div>
