<ul style="width: 100%" class="no-padding no-margin">
    {% set docTypes = ["txt", "pdf", "doc", "docx", "ppt", "pptx", "xls", "xlsx", "css"] %}
    {% if is_granted('ROLE_ADMIN') %}
        {% set role = 'admin' %}
    {% elseif is_granted('ROLE_TRAINER') %}
        {% set role = 'trainer' %}
    {% elseif is_granted('ROLE_LEARNER') %}
        {% set role = 'learner' %}
    {% endif %}

    {% set role = forceRole is defined ? forceRole : role %}

    {% set downloadPath = role ~ '_' ~ (type == 'documents' ? 'document_' : 'library_') ~ 'download' %}
    {% set audioType = ["wav", "mp3", "MP3", "WAV"] %}
    {% set videoType = ["mp4", "mov", "ogg", "MP4", "MOV", "OGG"] %}
    {% set imgType = ["png", "PNG", "JPG", "jpg", "JPEG", "jpeg"] %}

    {% for document in documents %}
        {% set fileFormat = document.fileDescriptor.mimeType %}
        {% if fileFormat == 'pdf' %}
            {% set icon ='-pdf' %}
        {% elseif fileFormat == 'pptx' %}
            {% set icon ='-powerpoint' %}
        {% elseif fileFormat == 'docx' %}
            {% set icon ='-word' %}
        {% elseif fileFormat == 'xlsx' or fileFormat == 'xls' %}
            {% set icon ='-excel' %}
        {% elseif fileFormat == 'png' or fileFormat == 'jpg' or fileFormat == 'jpeg' or fileFormat == 'webp'%}
            {% set icon ='-image' %}
        {% else %}
            {% set icon ='' %}
        {% endif %}
        <li class="row" style="border-top: 1px solid #eee; padding-top:15px; padding-bottom:15px;">
            {% set linkHref = document.fileDescriptor ? path(downloadPath, {'id': document.fileDescriptor.id}) : document.url %}
            <input type="hidden" data-source="{{ linkHref }}">
            <div class="col-md-9 no-padding"  style="align-self: center">
                {% set fileName =  document.fileDescriptor.name %}
                {% set nameLen = (fileName | length) %}
                {% if nameLen > 20 %}
                    <span>{{ fileName|slice(0,16) ~'.'~ document.fileDescriptor.mimeType }}
                    </span>
                {% else %}
                    <span>{{ fileName }}</span>
                {% endif %}
            </div>
            <div class="col-md-2 text-center no-padding color-header" style="align-self: center">
                {% if document.isDownload is defined and document.isDownload == 1 %}
                    <a href="{{ linkHref }}" download>
                        <i class="fa fa-download  color-header" aria-hidden="true"></i>
                    </a>
                {% else %}
                    <a>
                        <i style="color: grey!important;" class="fa fa-download " aria-hidden="true"></i>
                    </a>
                {% endif %}
            </div>
            <div class="col-md-1 no-padding color-header" style="align-self: center">
                {% if fileFormat in imgType or fileFormat in videoType or fileFormat in audioType %}
                    <a class="preview-media" data-media-loader-queue="{{ asset('files/'~  document.fileDescriptor.path) }}" >
                        <i class="fa fa-eye color-header" aria-hidden="true"></i>
                    </a>
                {% else %}
                    <a data-pdf-loader-queue="{{ document.fileDescriptor.path }}" class=" pointer preview-file preview-file-page ">
                        <i class="fa fa-eye color-header" aria-hidden="true"></i>
                    </a>
                {% endif %}
            </div>

        </li>
    {% endfor %}
</ul>
