{% set audioType = ["wav", "mp3", "MP3", "WAV"] %}
{% set videoType = ["mp4", "mov", "ogg", "MP4", "MOV", "OGG"] %}
{% set imgType = ["png", "PNG", "JPG", "jpg", "JPEG", "jpeg"] %}
{% set typeUrl =  constant('ApiBundle\\Entity\\EducationalDocVariety::URL_ID') %}
<div class="table-responsive">
    <table class="table table-striped w-100 data-table " id="deepmark-upload-table">
        <thead class="table-header">
        <tr>
            <th>{{ 'table.library.doc_name'|trans }}</th>
            <th>{{ 'table.library.type'|trans }}</th>
            <th>{{ 'table.interventions.intervention'|trans }} / {{ 'table.interventions.name'|trans }} & {{ 'table.library.type'|trans }}</th>
            <th>{{ 'admin.profile.org'|trans }}</th>
            <th>{{ 'table.interventions.entity'|trans }}</th>
            <th width="20%" class="text-center"></th>
        </tr>
        </thead>

        <tbody>
        {% for document in documents %}
            {% set currentModule = null %}
            {% for module in document.modules %}
                {% set currentModule = module %}
            {% endfor %}
            {% if currentModule is null %}
                {% for moduleTrainer in document.trainerModules %}
                    {% set currentModule = moduleTrainer %}

                {% endfor %}
            {% endif %}
            <tr>
                <td class="library"> {% if document.fileDescriptor is defined and document.fileDescriptor is not null %}  {{ document.name ? document.name : document.fileDescriptor.name }} {% elseif document.educationalDocVariety is not null and  document.educationalDocVariety.id == typeUrl and  document.url is not null %} {{  document.url|replace({ 'iframe': 'a', 'src': 'href', 'courses-video-url':'' })| raw  }}  {% endif %}</td>
                <td>{% if document.educationalDocVariety is defined and document.educationalDocVariety is not null %}{{ document.educationalDocVariety.designation }}{% endif %}</td>
                <td>
                    <p class="no-margin bold">{{ currentModule ? currentModule.intervention.designation : '-' }}</p>
                    <p class="no-margin">{{ currentModule ? currentModule.designation: '-' }} </p>
                    <p class="no-margin">{{  currentModule ? currentModule.storedModule.designation: '-' }}</p>
                </td>
                <td class="bold"> {{ currentModule ? currentModule.intervention.entity.organisation.designation : '' }}</td>
                <td>  {{ currentModule ? currentModule.intervention.entity.designation: '' }}</td>
                <td>
                    {% if document.fileDescriptor and document.fileDescriptor.isFileExist() %}
                        {% set fileFormat = document.fileDescriptor.mimeType %}

                        {% if document.isDownload == 1 %}
                            <a href="{{ path('trainer_document_download', {'id': document.fileDescriptor.id}) }}" download>
                                <i class="fa fa-download  color-header" aria-hidden="true"></i>
                            </a>&nbsp;
                        {% else %}
                            <a>
                                <i style="color: grey!important;" class="fa fa-download " aria-hidden="true"></i>
                            </a>&nbsp;
                        {% endif %}
                        {% if fileFormat in imgType or fileFormat in videoType or fileFormat in audioType %}
                            <a target="_blank"  href="{{ asset('files/'~  document.fileDescriptor.path) }}" >
                                <i class="fa fa-eye color-header pl-1" aria-hidden="true"></i>
                            </a>
                        {% else %}
                            <a data-pdf-loader-queue="{{ document.fileDescriptor.path }}" class=" pointer preview-file preview-file-page ">
                                <i class="fa fa-eye color-header pl-1" aria-hidden="true"></i>
                            </a>
                        {% endif %}
                    {% else %}
                        <a style="color: grey" >
                            <i class="fa fa-download " aria-hidden="true"></i>
                        </a>&nbsp;
                        <a  style="color: grey">
                            <i class="fa fa-eye  pl-1" aria-hidden="true"></i>
                        </a>
                    {% endif %}

                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<script>
    $(document).ready(function () {
        $(".library a").each(function() {
            var txt = $(this).attr('href');
            $(this).attr('target','_blank');
            $(this).text( txt.substr(2));
        });

    });
</script>