{% set audioType = ["wav", "mp3", "MP3", "WAV"] %}
{% set videoType = ["mp4", "mov", "ogg", "MP4", "MOV", "OGG"] %}
{% set imgType = ["png", "PNG", "JPG", "jpg", "JPEG", "jpeg"] %}
<div class="table-responsive">
    <table class="table table-striped w-100 data-table" id="library-data-table">
        <thead class="table-header">
        <tr>
            <th width="20%">{{ 'table.library.doc_name'|trans }}</th>
            <th width="10%">{{ 'table.library.type'|trans }}</th>
            <th width="30%">{{ 'table.interventions.intervention'|trans }} / {{ 'table.interventions.name'|trans }} & {{ 'table.library.type'|trans }}</th>
            <th>{{ 'admin.profile.org'|trans }}</th>
            <th width="15%">{{ 'table.interventions.entity'|trans }}</th>
            <th class="text-center" width="10%"></th>
        </tr>
        </thead>
        <tbody>
        {% for booked in bookedAgendas %}
            {% for document in booked.module.trainerDocument %}
                {% set currentModule = null %}
                {% for module in document.trainerModules %}
                    {% set currentModule = module %}
                {% endfor %}
                {% set fileFormat = document.fileDescriptor.mimeType %}

                <tr>
                    <td>{{ document.name ? document.name : document.fileDescriptor.name }}</td>
                    <td>{{ document.educationalDocVariety.designation }}</td>
                    <td>
                        <p class="no-margin bold">{{ booked.module.intervention.designation }}</p>
                        <p class="no-margin">{{ booked.module.designation }}</p>
                        {% if  booked.module.storedModule is defined%}
                            <p>{{ booked.module.storedModule.designation }}</p>
                        {% endif %}
                    </td>
                    <td class="bold">
                        {{ currentModule ? currentModule.intervention.entity.organisation.designation : '' }}
                    </td>
                    <td>{{ currentModule ? currentModule.intervention.entity.designation: '' }}</td>
                    <td class="text-center">
                        {% if document.fileDescriptor and document.fileDescriptor.isFileExist() %}
                            {% if is_granted('ROLE_ADMIN') %}
                                {% if type == "library" %}
                                    <a href="{{ path('admin_library_download', {'id': document.fileDescriptor.id}) }}"><i
                                                class="fal fa-download"></i></a>
                                {% elseif type == "documents" %}
                                    <a href="{{ path('admin_document_download', {'id': document.fileDescriptor.id}) }}"><i
                                                class="fal fa-download"></i></a>
                                {% endif %}
                            {% elseif is_granted('ROLE_TRAINER') %}
                                {% if type == "library" %}
                                    {% if document.isDownload == 1 %}
                                        <a href="{{ path('trainer_library_download', {'id': document.fileDescriptor.id}) }}" download>
                                            <i class="fa fa-download  color-header" aria-hidden="true"></i>
                                        </a>&nbsp;
                                    {% else %}
                                        <a>
                                            <i style="color: grey!important;" class="fa fa-download " aria-hidden="true"></i>
                                        </a>&nbsp;
                                    {% endif %}
                                    {% if fileFormat in imgType or fileFormat in videoType or fileFormat in audioType %}
                                        <a target="_blank"  href="{{ asset('files/'~  document.fileDescriptor.path) }}" >
                                            <i class="fa fa-eye color-header pl-1" aria-hidden="true"></i>
                                        </a>
                                    {% else %}
                                        <a data-pdf-loader-queue="{{ document.fileDescriptor.path }}" class=" pointer preview-file preview-file-page ">
                                            <i class="fa fa-eye color-header pl-1" aria-hidden="true"></i>
                                        </a>
                                    {% endif %}


                                {% elseif type == "documents" %}

                                    {% if document.isDownload == 1 %}
                                        <a href="{{ path('trainer_document_download', {'id': document.fileDescriptor.id}) }}" download>
                                            <i class="fa fa-download  color-header" aria-hidden="true"></i>
                                        </a>&nbsp;
                                    {% else %}
                                        <a>
                                            <i style="color: grey!important;" class="fa fa-download " aria-hidden="true"></i>
                                        </a>&nbsp;
                                    {% endif %}
                                    {% if fileFormat in imgType or fileFormat in videoType or fileFormat in audioType %}
                                        <a target="_blank"  href="{{ asset('files/'~  document.fileDescriptor.path) }}" >
                                            <i class="fa fa-eye color-header pl-1" aria-hidden="true"></i>
                                        </a>
                                    {% else %}
                                        <a data-pdf-loader-queue="{{ document.fileDescriptor.path }}" class=" pointer preview-file preview-file-page ">
                                            <i class="fa fa-eye color-header pl-1" aria-hidden="true"></i>
                                        </a>
                                    {% endif %}

                                {% endif %}


                            {% elseif is_granted('ROLE_LEARNER') %}
                                {% if type == "library" %}
                                    <a href="{{ path('learner_library_download', {'id': document.fileDescriptor.id}) }}"><i
                                                class="fal fa-download"></i></a>
                                {% elseif type == "documents" %}
                                    <a href="{{ path('learner_document_download', {'id': document.fileDescriptor.id}) }}"><i
                                                class="fal fa-download"></i></a>
                                {% endif %}
                            {% endif %}
                        {% else %}
                            <a style="color: grey" >
                                <i class="fa fa-download " aria-hidden="true"></i>
                            </a>&nbsp;
                            <a  style="color: grey">
                                <i class="fa fa-eye  pl-1" aria-hidden="true"></i>
                            </a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        {% endfor %}
        </tbody>
    </table>
</div>
