<div class="learnerTrainerList admin">
    <div class="row col-md-12 no-padding marg-t-20">
        <div class="col-md-4 no-padding">
        </div>
        <div class="col-md-4 no-padding-right pad-t-10" >
            <div  class="row btn-deepmark-light border-radis-30 height-40">
                <div class="col-md-3 text-center no-padding color-header font-size-10 flex--center ">{{ 'search.content'|trans }}</div>
                <div class="col-md-7 no-padding ">
                    <input type="text" id="bookSearch" class="border-0 height-100 no-padding no-margin color-header backgroud-deepmark-light">
                </div>
                <div class="col-md-2 flex--center">
                    <i class="fas color-header fa-search"></i>
                </div>
            </div>
        </div>
        <div class="col-md-3 text-right no-padding-right admin">
            <div style="margin-top: 17px;" class="form-group pad-b-0">
                <select id="typeAction" class="classic">
                    <option class="font-size-12" value="1">{{ 'buttons.delete'|trans }}</option>
                    <option class="font-size-12" value="2">{{ 'global.deactivate'|trans }}</option>
                    <option class="font-size-12" value="3">{{ 'buttons.sendmsg'|trans }}</option>
                </select>
            </div>
        </div>
        <div class="col-md-1 no-padding-right">
            <button id="apply" class="btn btn-deepmark-orangelight btn-block">{{ 'global.apply'|trans }}</button>
        </div>
    </div>
    <table id="learnerTable" class="table w-100 table-striped data-table ">
        <thead class="table-header">
        <th>{{ 'global.employee_id'|trans }}</th>
        <th>{{ 'table.learners.lastname'|trans }}</th>
        <th>{{ 'table.learners.firstname'|trans }}</th>
        <th>{{ 'table.learners.email'|trans }}</th>
        <th>{{ 'table.learners.function'|trans }}</th>
        <th>{{ 'table.learners.org'|trans }}</th>
        <th>{{ 'table.learners.entity'|trans }}</th>
        <th>{{ 'table.learners.regional'|trans }}</th>
        <th>{{ 'table.learners.sector'|trans }}</th>
        <th>{{ 'table.learners.workplace'|trans }}</th>
        <th>{{ 'table.learners.trainning_group'|trans }}</th>
        <th>{{ 'global.account_status'|trans }}</th>
        {% if is_granted('ROLE_SUPERVISOR') %}
            <th>{{ 'table.learners.action'|trans }}</th>
        {% endif %}
        <th data-orderable="false">
            <div class=" form-check">
                <label class="form-check-label">
                    <input class="form-check-input check-all-input-datatable" type="checkbox" value="">
                    <span class="form-check-sign">
                            <span class="check"></span>
                        </span>
                </label>
            </div>
        </th>
        {% if timeline is defined and timeline == true %}
            <th></th>
        {% endif %}
        </thead>

        <tbody>
        {% for row in learners %}
            <tr>
                <td>
                    {{ row.learner.employeeId }}
                </td>
                <td>
                    {{ row.learner.lastname }}
                </td>
                <td>
                    {{ row.learner.firstname }}
                </td>
                <td>{{ row.learner.person.email }}</td>
                <td>{{ row.learner.position }}</td>
                <td>
                    {% if row.learner.entity.organisation is defined and row.learner.entity.organisation is not null %}
                        {{ row.learner.entity.organisation.designation }}
                    {% endif %}
                </td>
                <td>
                    {% if row.learner.entity is defined and row.learner.entity is not null %}
                        {{ row.learner.entity.designation }}
                    {% endif %}
                </td>
                <td>{% if row.learner.regional is defined and row.learner.regional is not null %} {{ row.learner.regional.designation }} {% endif %}</td>
                <td>{% if row.learner.groupOrganization is defined and row.learner.groupOrganization is not null %}  {{ row.learner.groupOrganization.designation }} {% endif %}</td>
                <td>{% if row.learner.workplace is defined and row.learner.workplace is not null %}  {{ row.learner.workplace.designation }} {% endif %}</td>
                <td>{{ row.groupName }}</td>
                <td class="text-capitalize">
                    {% if row.learner.person.enabled %}
                        {{ 'table.active'|trans }}
                    {% else %}
                        {{ 'table.inactive'|trans }}
                    {% endif %}
                </td>
                {% if is_granted('ROLE_SUPERVISOR') %}
                    <td>
                        <a href="{{ path('learner_dashboard', {'_switch_user': row.learner.person.username}) }}"><i class="fa fa-eye color-header"></i></a>
                        <a href="{{ path('admin_learners_edit', { 'id': row.learner.id }) }}"><i class="fal fa-pen color-header"></i></a>
                        <a data-id="{{ row.learner.id }}" class="btnDelete"><i class="fas fa-ban color-header"></i></a>
                    </td>
                {% endif %}

                <td>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input class="form-check-input check-input check-add-learner" type="checkbox" value="{{ row.learner.id }}">
                            <span class="form-check-sign">
                                    <span class="check"></span>
                                </span>
                        </label>
                    </div>
                </td>

                {% if timeline is defined and timeline == true %}
                    <td>
                        <button class="btn btn-sm btn-deepmark-orangelight"><i class="fal fa-video"></i></button>
                        <button class="btn btn-sm btn-deepmark-gold"><i class="fal fa-video"></i></button>
                        <button class="btn btn-sm btn-deepmark-navy"><i class="fal fa-globe"></i></button>
                        <button class="btn btn-sm btn-deepmark-navy"><i class="fal fa-globe"></i></button>
                        <button class="btn btn-sm btn-deepmark-lightmaroon"><i class="fal fa-pen-alt"></i></button>
                        <button class="btn btn-sm btn-deepmark-blue"><i class="fal fa-desktop"></i></button>
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<div class="modal fade" id="deleteOrInactiveModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-center">
                <p id="txt"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ 'buttons.close'|trans }}</button>
                <button  id="btnAction" type="submit" class="btn btn-primary">{{ 'buttons.confirm'|trans }}</button>
            </div>
        </div>
    </div>
</div>
{% block javascripts %}
    <script type="text/javascript">
        $(document).ready(function () {
            deleteOrInactiveTrainers();
            $('#apply').on('click', function () {
                let type = $('#typeAction').val();
                if (type == 1) {
                    $("#txt").text("{{ 'popup.user_delete'|trans|raw }}");
                } else {
                    $("#txt").text("{{ 'popup.user_deactivate'|trans|raw }}");
                }
                $("#deleteOrInactiveModal").modal('show');
            });
        });
        function deleteOrInactiveTrainers() {

            $('#btnAction').on('click', function () {
                let type = $('#typeAction').val();
                let checkInput = $('input[type="checkbox"]');
                let selectedProfiles = [];

                checkInput.each(function () {
                    if(this.checked && this.value !== ""){
                        selectedProfiles.push(this.value);
                    }
                });

                if (!selectedProfiles.length) {
                    // one or more checkboxes are
                    swal('Warning', 'Please select at least one learner.', 'warning');
                    return;
                }
                $.ajax({
                    'url': '{{ path('admin_learners_delete_learners') }}',
                    'method': 'POST',
                    'data' : {
                        'selectedProfiles': selectedProfiles,
                        'type': type
                    }
                }).done(function (response) {
                    location.reload();
                }).fail(function (response) {
                    console.log(response)
                })
            });
        }
    </script>
{% endblock %}
