{% if modal is not defined %}
    {% set modal = true %}
{% endif %}

{% if idPre is not defined %}
    {% set idPre = '' %}
{% endif %}

<!-- MESSAGE FROM ADMIN -->
<p>
  <strong>{{ 'trainers.alerts.messages.messages_from_admin'|trans }}</strong>
</p>

<div class="msg-list">
  <div class="msg-list__item">

    {% for message in messages %}
    <div class="row">
      <div class="col-md-4">
        <div class="img-container img-container--round img-container--small">
          <img src="{{ asset('img/default-avatar.png') }}" alt="">
        </div>

        <p>
          {{ message.Firstname }} {{ message.lastname }} - <small>{{ message.organisation }}</small>
        </p>
      </div>

      <div class="col-md-8">
        <a href="#" class="btn btn-sm btn-deepmark-navy float-right">{{ 'trainers.alerts.messages.detail'|trans }}</a>

        <p>
          "{{ message.content }}"
        </p>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

<!-- MESSAGE FROM LEARNERS -->
<p>
  <strong>{{ 'trainers.alerts.messages.messages_from_learners'|trans }}</strong>
</p>

<div class="msg-list">
  <div class="msg-list__item">

    {% for message in messages %}
    <div class="row">
      <div class="col-md-4">
        <div class="img-container img-container--round img-container--small">
          <img src="{{ asset('img/Logo_BNP.png') }}" alt="">
        </div>

        <p>
          {{ message.Firstname }} {{ message.lastname }} - <small>{{ message.organisation }}</small>
        </p>
      </div>

      <div class="col-md-8">
        <a href="#" class="btn btn-sm btn-deepmark-navy float-right">{{ 'trainers.alerts.messages.detail'|trans }}</a>

        <p>
          {{ message.content }}
        </p>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
