<div class="row col-md-12 no-padding z-index" >
    <div class="col-md-4 no-padding">
    </div>
    <div class="col-md-4 no-padding-right pad-t-10" >
        <div  class="row btn-deepmark-light border-radis-30 height-40">
            <div class="col-md-3 text-center no-padding color-header font-size-10 flex--center ">{{ 'search.content'|trans }}</div>
            <div class="col-md-7 no-padding ">
                <input type="text" id="bookSearch" class="border-0 height-100 no-padding no-margin color-header backgroud-deepmark-light">
            </div>
            <div class="col-md-2 flex--center">
                <i class="fas color-header fa-search"></i>
            </div>

        </div>
    </div>
    <div class="col-md-3 text-right no-padding-right">
        <div style="margin-top: 17px;" class="form-group pad-b-0">
            <select id="typeAction" class="classic">
                <option value="1">{{ 'buttons.delete'|trans }}</option>
                <option value="2">{{ 'global.deactivate'|trans }}</option>
            </select>
        </div>
    </div>
    <div class="col-md-1 no-padding-right">
        <button id="apply" class="btn btn-deepmark-orangelight btn-block">{{ 'global.apply'|trans }}</button>
    </div>
</div>
     
<div class="col-md-12 no-padding learnerTrainerList " >
    <table id="quizTable" class="table table-striped w-100 ">
        <thead class="table-header" >
            <tr>
                <th>{{ 'table.quiz.title'|trans|capitalize }}</th>
                <th>{{ 'table.quiz.create_at'|trans }}</th>
                <th>{{ 'table.quiz.is_survey.title'|trans }}</th>
                <th>{{ 'table.quiz.steps'|trans }}</th>
                <th>{{ 'table.quiz.questions'|trans }}</th>
                <th>{{ 'table.quiz.status'|trans }}</th>
                <th data-orderable="false" >{{ 'table.quiz.actions'|trans }}</th>
                <th data-orderable="false" class="justify-content-center">
                    <div class="form-check">
                        <label class="form-check-label">
                            <input class="form-check-input check-all-input-datatable" type="checkbox" value="">
                            <span class="form-check-sign">
                                <span class="check"></span>
                            </span>
                        </label>
                    </div>
                </th>
            </tr>
        </thead>

        <tbody>
            {% for quiz in quizes %}
                <tr class="tr--withmodal" data-id="{{ quiz.id }}">
                    <td>{{ quiz.title }}</td>
                    <td>
                        <span class="d-none">{{ quiz.created | date('U') }}</span>
                        {{ quiz.created|date('d/m/Y')  }}
                    </td>
                    <td>
                        {% if quiz.getIsSurvey() == 0 %}
                            {{'table.quiz.is_survey.no'|trans}}
                        {% endif %}
                        {% if quiz.getIsSurvey() == 1 %}
                            {{'table.quiz.is_survey.yes'|trans}}
                        {% endif %}
                    </td>
                    <td>{{ quiz.steps|length }}</td>
                    <td>{{ quiz.questions_count }}</td>
                    <td>
                        {% if quiz.status == 0 %}
                            {{'table.quiz.statuses.draft'|trans}}
                        {%endif%}
                        {% if quiz.status == 1 %}
                            {{'table.quiz.statuses.published'|trans}}
                        {%endif%}
                        {% if quiz.status == 2 %}
                            {{'table.quiz.statuses.in_use'|trans}}
                        {%endif%}
                    </td>
                    <td>
                        {% if status == 'draft' %}
                            <a class="no-collapsable" href="#" data-toggle="swal" data-type="question" data-url="{{ url('admin_quiz_update_status', {'type': 'quiz', 'id': quiz.id, 'status': (quiz.status == 1 ? 0 : 1), json: 'false'}) }}" data-msg="{{quiz.status == 1 ? 'table.quiz.actions_msg.status_draft'|trans : 'table.quiz.actions_msg.status_publish'|trans}}"><i class="fal color-header fa-{{quiz.status == 1 ? 'eye-slash' : 'eye'}}"></i></a>
                        {% endif %}
                        <a class="no-collapsable" href="#" data-toggle="swal" data-type="question" data-url="{{ url('admin_quiz_duplicate', {'id': quiz.id}) }}" data-msg="{{'table.quiz.actions_msg.duplicate'|trans}}"><i class="fal color-header fa-clone"></i></a>
                        <a class="no-collapsable" href="{{ url('admin_quiz_edit', {'id': quiz.id}) }}"><i class="fal color-header fa-pen"></i></a>
                        <a class="no-collapsable" href="#" data-toggle="swal" data-type="question" data-url="{{ url('admin_quiz_update_status', {'type': 'quiz', 'id': quiz.id, 'status': -1, json: 'false'}) }}" data-msg="{{(quiz.played|length) != 0 ? 'table.quiz.actions_msg.delete_safe'|trans : 'table.quiz.actions_msg.delete'|trans}}"><i class="fal color-header fa-trash"></i></a>
                    </td>
                    <td>
                        <div class="form-check">
                            <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" value="{{ quiz.id  }}">
                                <span class="form-check-sign">
                                    <span class="check"></span>
                                </span>
                            </label>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<!-- Modals TEMP -->
{{ include('molecules/quiz/modals.html.twig')}}