
<table id="skillTable" class="table table-striped w-100">
    <thead class="table-header">
    <tr>
        <th>{{ 'table.skills.name'|trans|capitalize }}</th>
        <th class="text-center">{{ 'table.skills.used_by_module'|trans|capitalize }}</th>
        <th class="text-center">{{ 'table.skills.used_by_resource'|trans|capitalize }}</th>
        <th>{{ 'table.skills.actions'|trans|capitalize }}</th>
    </tr>
    </thead>

    <tbody>
    {% for skill in skills %}
        {{ include('molecules/tables/item/skill.html.twig',
            { skill: skill}) }}
    {% endfor %}
    </tbody>
</table>