<div class="table-responsive">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>{{ 'table.interventions.logo'|trans }}</th>

            <th>{{ 'table.interventions.name'|trans }}</th>
            <th> Start Date</th>
            <th> End Date</th>

            <th>{{ 'table.interventions.sup'|trans }}</th>
            <th>{{ 'table.interventions.planif'|trans }}</th>
            <th>{{ 'table.interventions.actions'|trans }}</th>
        </tr>
        </thead>

        <tbody>
        {% for intervention in unpublished_interventions %}
            {% if  intervention.getSessionId() is not null %}

                {% set name = intervention.getStep1()  != "" ? intervention.getStep1()['title'] : "" %}
                {% set startDate = intervention.getStep1()  != "" ? intervention.getStep1()['intervention_start_date'] : "" %}
                {% set endDate = intervention.getStep1()  != "" ? intervention.getStep1()['intervention_end_date'] : "" %}
                {% set client = intervention.getStep1()  != "" ? intervention.getStep1()['clientIntervention'] : "" %}

                <tr class="tr--withmodal" data-id="{{ intervention.id }}">
                    <td>

                    </td>

                    <td>
                        {{ name }}
                    </td>

                    <td>
                        {{ startDate }}

                    </td>
                    <td>
                        {{ endDate }}
                    </td>


                    <td>
                        <!--TODO: Set first superviseur-->
                        'unknown'
                    </td>

                    <td>
                        {{ include('molecules/widgets/planif-progress.html.twig', { current: 0, max: 1 }) }}
                    </td>

                    <td class="text-center">
                        <a href="{{ path('admin_interventions_step_storage', { 'stepNr': 0, 'sessionId': intervention.getSessionId() }) }}"><i
                                    class="fal fa-pen"></i></a>
                        <a href="{{ path('admin_intervention_delete_unpublished_session', {  'sessionId': intervention.getSessionId() }) }}"><i
                                    class="fal fa-trash"></i></a>
                    </td>
                </tr>

                <tr></tr>



            {% endif %}
        {% endfor %}
        </tbody>
    </table>
</div>


