<div class="learnerTrainerList admin">
    <table id="trainerTable" class="table table-striped w-100 font-size-13">
        <thead class="table-header w-100">
            <tr>
                <th>{{ 'global.employee_id'|trans }}</th>
                <th>{{ 'trainers.statistics.last_name'|trans }}</th>
                <th>{{ 'trainers.statistics.first_name'|trans }}</th>
                <th>{{ 'table.interventions.organization'|trans }}</th>
                <th>{{ 'table.entity'|trans }}</th>
                <th>{{ 'global.intervention_zone'|trans }}</th>
                <th>{{ 'global.trainer_status'|trans }}</th>
                <th>{{ 'global.account_status'|trans }}</th>
                <th>
                    {{ 'table.trainers.trainer_grade'|trans }} <br>
                </th>
            </tr>
        </thead>

        <tbody>
            {% for row in trainers %}
                <tr>
                    <td>
                        {{ row.trainer.employeeId }}
                    </td>
                    <td>
                        {{ row.trainer.lastname }}
                    </td>
                    <td>
                       {{ row.trainer.firstname }}
                    </td>
                    <td> {{ row.trainer.entity ? row.trainer.entity.organisation.designation : '' }}</td>
                    <td> {{ row.trainer.entity ? row.trainer.entity.designation : '' }}</td>
                    <td> {{ row.trainer.interventionPerimeter != null ? row.trainer.interventionPerimeter.designation : '' }} </td>
                    <td class="text-capitalize"> {{ row.trainer.liveResourceOrigin != null ? row.trainer.liveResourceOrigin.designation : '' }} </td>
                    <td class="text-capitalize">
                        {% if row.trainer.person.enabled %}
                            {{ 'table.active'|trans }}
                        {% else %}
                            {{ 'table.inactive'|trans }}
                        {% endif %}
                    </td>
                    <td>
                        {{ include('molecules/widgets/ratings.html.twig', { max: 5, grade: row.ranking }) }}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<div class="modal fade" id="deleteOrInactiveModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-center">
                <p id="txt"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ 'buttons.close'|trans }}</button>
                <button  id="btnAction" type="submit" class="btn btn-primary">{{ 'buttons.confirm'|trans }}</button>
            </div>
        </div>
    </div>
</div>