{% extends 'molecules/tables/list-interventions-table.html.twig' %}

{% block modalContent %}
    {{ include('molecules/tables/list-learners-table.html.twig', { learners: intervention.learners, timeline: true } ) }}    
{% endblock %}
