
<table id="skillTable" class="table table-striped w-100">
    <thead class="table-header">
    <tr>
        <th>{{ 'table.skills.domain_name'|trans|capitalize }}</th>
        <th>{{ 'table.skills.actions'|trans|capitalize }}</th>
    </tr>
    </thead>

    <tbody>
    {% for domain in domains %}
        {{ include('molecules/tables/item/domain.html.twig',
            { domain: domain}) }}
    {% endfor %}
    </tbody>
</table>