<div class="table-responsive">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>{{ 'table.interventions.logo'|trans }}</th>
            <th>{{ 'table.interventions.entity'|trans }}</th>
            <th>{{ 'table.interventions.name'|trans }}</th>
            <th>{{ 'table.interventions.dates'|trans }}</th>
            <th>{{ 'table.interventions.asked_by'|trans }}</th>
            <th>{{ 'table.interventions.sup'|trans }}</th>
            <th>{{ 'table.interventions.grade'|trans }}</th>
            <th>{{ 'table.interventions.planif'|trans }}</th>
            <th>{{ 'table.interventions.analyze'|trans }}</th>
            <th>{{ 'table.interventions.progress'|trans }}
            <th>{{ 'table.interventions.alert'|trans }}</th>
        </tr>
        </thead>

        <tbody>
        {% for intervention in interventions %}
            <tr class="tr--withmodal" data-id="{{ intervention.id }}">
                <td>
                    {% if intervention.logo %}
                        <div class="img-container">
                            <img name="logoOrga" src="/files{{ asset(intervention.logo.path) }}" alt="">
                        </div>
                    {%  endif %}
                </td>

                <td>
                    {%  if intervention.entity %}
                        {{ intervention.entity.organisation.designation }}
                        {{ intervention.entity.designation }}
                    {% endif %}
                </td>

                <td>
                    {{ intervention.designation }}
                </td>

                <td>
                    {{ intervention.beginning | date('Y-m-d') }}<br>
                    {{ intervention.ending | date('Y-m-d') }}
                </td>

                <td>
                    {{ intervention.customer.displayName }}<br>
                    {{ intervention.customer.mobilePhone }}<br>
                    {{ intervention.customer.otherEmail }}
                </td>

                <td>
                    <!--TODO: Set first superviseur-->
                    {{ intervention.admin.displayName }}<br>
                    {{ intervention.admin.mobilePhone }}<br>
                    {{ intervention.admin.otherEmail }}
                </td>

                <td>
                    <!--TODO: Set rating intervention-->
                    {{ include('molecules/widgets/ratings.html.twig', { max: 5, grade: intervention.learnersNotation }) }}
                </td>

                <td>
                    <a href="{{ path('old_admin_interventions_show', { id: intervention.id }) }}">
                        <!--TODO: Set planning-->
                        {{ include('molecules/widgets/planif-progress.html.twig', { current: 0, max: 1 }) }}
                    </a>
                </td>

                <td>
                    {% if is_granted('ROLE_ADMIN') %}
                        <a href="{{ path('old_admin_interventions_show_stats', { id: intervention.id }) }}"><i class="fal fa-chart-area fa-2x"></i></a>
                    {% elseif is_granted('ROLE_CLIENT') %}
                        <a href="{{ path('client_stats', { id: intervention.id }) }}"><i class="fal fa-chart-area fa-2x"></i></a>
                    {% endif %}
                </td>

                <td>
                    <!--TODO: Set in progress-->
                    {{ include('molecules/widgets/student-progress.html.twig', { percent: intervention.learnersProgress }) }}
                </td>

                <td>
                    <!-- set alert -->
                    <span class="text-deepmark-red">0</span>
                </td>
            </tr>

            <tr></tr>

            {% if modal is not defined or modal != false %}
                <tr class="tr-modal tr-modal--interv tr-modal-{{ intervention.id }}">
                    <td colspan="12">
                        <div class="td-modal">
                            {% block modalContent %}
                                {{ include('molecules/modal/interv-list-modal.html.twig', { intervention: intervention }) }}
                            {% endblock %}
                        </div>
                    </td>
                </tr>
            {% endif %}
        {% endfor %}
        </tbody>
    </table>
</div>
