<div class="table-responsive">
    <table class="table table-striped t-center">
        <thead align="center">
        <tr>

            <th>
                {{ 'learners.plans.logo'|trans }}
            </th>

            <th>
                {{ 'learners.plans.intervention_name'|trans }}
            </th>

            <th>
                {{ 'learners.plans.start_date'|trans }}
            </th>

            <th>
                {{ 'learners.plans.end_date'|trans }}
            </th>

            <th>
                {{ 'learners.plans.progression'|trans }}
            </th>

            <th>
                {{ 'learners.plans.grade'|trans }}
            </th>

            <th>
                {{ 'learners.plans.see'|trans }}
            </th>
        </tr>
        </thead>

        <tbody align="center">
        {% for row in interventions %}
            {% if row.status and row.status.appId == 72 %}
                <tr{# onclick="showCourse({{ row.intervention.id }})"#}>
                    <td>
                        {% if row.intervention.logo %}
                            <div class="img-container">
                                <img name="logoOrga" src="/files{{ asset(row.intervention.logo.path) }}" alt="">
                            </div>
                        {%  endif %}
                    </td>

                    <td>
                        {{ row.intervention.designation }}
                    </td>

                    <td>
                        {{ row.intervention.beginning| date('d/m/Y') }}
                    </td>

                    <td>
                        {{ row.intervention.ending| date('d/m/Y') }}
                    </td>

                    <td>
                        {{ include('molecules/widgets/student-progress.html.twig', { percent: row.progression, displayText: true } ) }}
                    </td>

                    <td>
                        {{ include('molecules/widgets/ratings.html.twig', { max: 5, grade: row.interventionNotation }) }}
                    </td>

                    <td>
                        {% if date(row.intervention.beginning) <= date() and date(row.intervention.ending) >= date() %}
                            <a href="{{ path('learner_courses_show', {id: row.intervention.id}) }}" class="btn btn-sm btn-deepmark-blue">{{ 'learners.plans.resume'|trans }}</a>
                        {% else %}
                            <label class="text-warning">{{ 'learners.courses.course_expired'|trans }}</label>
                        {% endif %}
                    </td>
                </tr>
            {% endif %}
        {% endfor %}
        </tbody>
    </table>
</div>
