<div class="learnerTrainerList admin">
    <div class="row col-md-12 no-padding marg-t-20">
        <div class="col-md-4 no-padding">
        </div>
        <div class="col-md-4 no-padding-right pad-t-10" >
            <div  class="row btn-deepmark-light border-radis-30 height-40">
                <div class="col-md-3 text-center no-padding color-header font-size-10 flex--center ">{{ 'search.content'|trans }}</div>
                <div class="col-md-7 no-padding ">
                    <input type="text" id="bookSearch" class="border-0 height-100 no-padding no-margin color-header backgroud-deepmark-light">
                </div>
                <div class="col-md-2 flex--center">
                    <i class="fas color-header fa-search"></i>
                </div>

            </div>
        </div>
        <div class="col-md-3 text-right no-padding-right admin">
            <div style="margin-top: 17px;" class="form-group pad-b-0">
                <select id="typeAction" class="classic">
                    <option value="1">{{ 'buttons.delete'|trans }}</option>
                    <option value="2">{{ 'global.deactivate'|trans }}</option>
                </select>
            </div>
        </div>
        <div class="col-md-1 no-padding-right">
            <button id="apply" class="btn btn-deepmark-orangelight btn-block">{{ 'global.apply'|trans }}</button>
        </div>
    </div>
    <table id="trainerTable" class="table table-striped w-100 font-size-13">
        <thead class="table-header w-100">
            <tr>
                <th>{{ 'global.photo'|trans }}</th>
                <th>{{ 'global.employee_id'|trans }}</th>
                <th>{{ 'trainers.statistics.last_name'|trans }}</th>
                <th>{{ 'trainers.statistics.first_name'|trans }}</th>
                <th>{{ 'table.interventions.organization'|trans }}</th>
                <th>{{ 'table.entity'|trans }}</th>
                <th>{{ 'global.intervention_zone'|trans }}</th>
                <th>{{ 'global.trainer_status'|trans }}</th>
                <th>
                    {{ 'table.trainers.trainer_grade'|trans }} <br>
                </th>
                <th>{{ 'table.trainers.activities'|trans }}</th>
                <th>{{ 'global.account_status'|trans }}</th>
                <th>{{ 'table.trainers.action'|trans }}</th>
                <th data-orderable="false" class="justify-content-center">
                    <div class="form-check">
                        <label class="form-check-label">
                            <input class="form-check-input check-all-input-datatable" type="checkbox" value="">
                            <span class="form-check-sign">
                                <span class="check"></span>
                            </span>
                        </label>
                    </div>
                </th>
            </tr>
        </thead>

        <tbody>
            {% for row in trainers %}
                <tr>
                    <td>
                        <div class="img-container img-container--round">
                            <img style="height: 50px;  object-fit: cover;" src="{{ asset(row.trainer.avatar|default('img/default-avatar.png')) }}" alt="">
                        </div>
                    </td>
                    <td>
                        {{ row.trainer.employeeId }}
                    </td>
                    <td>
                        {{ row.trainer.lastname }}
                    </td>
                    <td>
                       {{ row.trainer.firstname }}
                    </td>
                    <td> {{ row.trainer.entity ? row.trainer.entity.organisation.designation : '' }}</td>
                    <td> {{ row.trainer.entity ? row.trainer.entity.designation : '' }}</td>
                    <td> {{ row.trainer.interventionPerimeter != null ? row.trainer.interventionPerimeter.designation : '' }} </td>
                    <td class="text-capitalize"> {{ row.trainer.liveResourceOrigin != null ? row.trainer.liveResourceOrigin.designation : '' }} </td>

                    <td>
                        {{ include('molecules/widgets/ratings.html.twig', { max: 5, grade: row.ranking }) }}
                    </td>

                    <td>
                        {{ row.trainer.NbActivitiesExecuted }}
                    </td>

                    <td class="text-capitalize">
                        {% if row.trainer.person.enabled %}
                            {{ 'table.active'|trans }}
                        {% else %}
                            {{ 'table.inactive'|trans }}
                        {% endif %}
                    </td>

                    <td>
                        <a href="{{ path('trainer_dashboard', {'_switch_user': row.trainer.person.username}) }}"><i class="fa fa-eye color-header"></i></a>&nbsp;&nbsp;
                        <a data-id="{{ row.trainer.id  }}" class="btnDelete pointer"><i class="fas fa-ban color-header"></i></a>&nbsp;&nbsp;
                        <a href="{{ path('admin_trainers_edit', { 'id': row.trainer.id }) }}"><i class="fal fa-pen color-header"></i></a>

                    </td>
                    <td>
                        <div class="form-check">
                            <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" value="{{ row.trainer.id  }}">
                                <span class="form-check-sign">
                                    <span class="check"></span>
                                </span>
                            </label>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<div class="modal fade" id="deleteOrInactiveModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-center">
                <p id="txt"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ 'buttons.close'|trans }}</button>
                <button  id="btnAction" type="submit" class="btn btn-primary">{{ 'buttons.confirm'|trans }}</button>
            </div>
        </div>
    </div>
</div>