<div class="row pad-t-10">
    <div class="col-md-4">
        <div class="row no-padding-right btn-deepmark-light border-radis-30">
            <div class="col-md-3 text-center no-padding color-header font-size-12 marg-t-10 marg-b-10 ">{{ 'search.content'|trans }}</div>
            <div class="col-md-7 no-padding marg-t-10 marg-b-10">
                <input type="text" id="searchBestPractices{{ key|capitalize }}" class="border-0 no-padding no-margin color-header backgroud-deepmark-light" width="100%">
            </div>
            <div class="col-md-2 flex--center">
                <i class="fas color-header fa-search"></i>
            </div>

        </div>
    </div>
    <div class="col-md-4 text-center"><span class="color-header bold font-size-22">{{ title }}</span></div>
    <div class="col-md-4 text-right">
        <div class="form-group pad-b-0 admin display-inline">
            <select id="action{{ key|capitalize }}" class="classic shareAction">
                <option value="entity">{{ 'global.best_practices.share_to_entity'|trans }}</option>
                <option value="organization">{{ 'global.best_practices.share_to_organization'|trans }}</option>
                <option value="not">{{ 'global.best_practices.not_share'|trans }}</option>
            </select>
        </div>
        <button id="" class="applyAction btn-small btn btn-deepmark-orangelight">{{ 'global.apply'|trans }}</button>
    </div>
</div>
<div class="row">
    <div class="card-body no-padding row" id="card-practice-list">
        <div class="col-md-12 no-padding marg-t-15">
            <table id="selectionTable{{ key|capitalize }}" class="table table-striped w-100 font-size-13">
                <thead class="table-header">
                <tr>
                    <th>{{ 'table.best_practices.designation'|trans }}</th>
                    <th>{{ 'table.best_practices.description'|trans }}</th>
                    <th>{{ 'table.best_practices.document_type'|trans }}</th>
                    <th>{{ 'table.best_practices.tags'|trans }}</th>
                    <th>{{ 'table.best_practices.creation_date'|trans }}</th>
                    <th>{{ 'table.best_practices.publication_date'|trans }}</th>
                    <th>{{ 'table.action'|trans|capitalize }}</th>
                    <th>{{ 'global.best_practices.share_to'|trans }}...</th>
                </tr>
                </thead>
                <tbody>
                {% for practice in bestPractices %}
                    <tr>
                        <td>{{ practice.designation|raw }}</td>
                        <td>{{ practice.description|raw }}</td>
                        <td>{{ practice.documentType }}</td>
                        <td>
                            {% for tag in practice.tags %}
                                {{ tag.tagName ~ (not loop.last ? ', ') }}
                            {% endfor %}
                        </td>
                        <td>{{ practice.created|date("d/m/Y") }}</td>
                        <td>{{ practice.publishDate|date("d/m/Y") }}</td>
                        <td>
                            {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_SUPER_ADMIN') %}
                                {% set detailLink = url('admin_best_practices_view', {'id' : practice.id}) %}
                            {% elseif is_granted('ROLE_LEARNER') %}
                                {% set detailLink = url('learner_best_practices_view', {'id' : practice.id} ) %}
                            {% elseif is_granted('ROLE_TRAINER') %}
                                {% set detailLink = url('trainer_best_practices_view', {'id' : practice.id}) %}
                            {% endif %}
                            <a href="{{ detailLink }}" class="color-header"><i class="fa fa-eye"></i></a>
                        </td>
                        <td></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>