{% if modal is not defined %}
    {% set modal = true %}
{% endif %}

{% if idPre is not defined %}
    {% set idPre = '' %}
{% endif %}

<div class="table-responsive" {% if id is defined %}id="{{ id }}"{% endif %}>
	<table class="table table-striped">
		<thead align="center">
		<tr>
            {% if org is defined and org == true %}
				<th>{{ 'table.interventions.logo'|trans }}</th>
            {% endif %}
			<th>{{ 'table.interventions.entity'|trans }}</th>
			<th>{{ 'table.interventions.name'|trans }}</th>
			<th>{{ 'trainers.my_excercise.table.module'|trans|capitalize }}</th>
			<th>{{ 'table.interventions.trainer'|trans }}</th>
			<th>{{ 'table.interventions.learner'|trans }}</th>
			<th>{{ 'table.interventions.type'|trans }} / {{ 'table.interventions.dates'|trans }}</th>
			<th>{{ 'table.interventions.status'|trans }}</th>
			<th>{{ 'trainers.my_excercise.table.start_time'|trans|capitalize }}</th>
			<th>{{ 'trainers.my_excercise.table.duration'|trans|capitalize }}</th>
			<th>{{ 'trainers.my_excercise.table.report'|trans|capitalize }}</th>
			<th class="text-center">
				<div class="form-check">
					<label class="form-check-label">
						<input class="form-check-input check-all-input" type="checkbox" value="">
						<span class="form-check-sign">
                          		<span class="check"></span>
                        	</span>
					</label>
				</div>
			</th>
		</tr>
		</thead>

		<tbody>
        {% for report in reports %}
			<tr class="interv-tr {% if modal == true %}tr--withmodal{% endif %}" data-id="{{loop.index}}">
				<td>
					<div class="img-container">
                        {% if report.trainer.entity.organisation.logo is defined and report.trainer.entity.organisation.logo is not null %}
							<img src="{{ asset(report.trainer.entity.organisation.logo) }}" alt="">
                        {% endif %}
					</div>
				</td>
				<td>
					{{ report.trainer.entity.organisation.designation }} | {{ report.trainer.entity.designation }}
				</td>
				<td>
					{{ report.module.intervention.designation }}
				</td>
				<td>
					{{ report.module.designation }}
				</td>
				<td>
                    {{ report.trainer.displayName }}
				</td>
				<td>
                    {{ report.session.learner.displayName }}
				</td>
				<td>
                    {% if  report.module.storedModule is defined%}
                        {{ report.module.storedModule.designation }}
                    {% endif %}
				</td>
				<td>
						<i class="fal fa-doc fa-1x">{{ status }}</i>
				</td>
				<td>{{ report.session.bookingDate|date('H:i') }}</td>
				<td>{{ report.module.duration|date('H:i:s') }}</td>
				<td>
					{% if report.fileDescriptor is not null %}
						{{ include('molecules/widgets/download-file.html.twig', { document: report, type: "documents" }) }}
					{% endif %}
				</td>
				{#<td>
                    {% if interv.status is defined %}
                        {{ include('atoms/buttons/toggle-3states-btn.html.twig', { id: idPre ~ loop.index, status: interv.status, disabled: is_granted('ROLE_ADMIN') ? false : true }) }}
                    {% endif %}
				</td>#}
				<td class="text-right">
					<div class="form-check">
						<label class="form-check-label">
							<input class="form-check-input" type="checkbox" data-action="{{ id }}" value="{{ report.id }}">
							<span class="form-check-sign">
								<span class="check"></span>
							</span>
						</label>
					</div>
				</td>
			</tr>
        {% endfor %}
		</tbody>
	</table>
</div>
