{#search to assign learner#}
<div id="viewLearner" class="modal fade col-md-12" tabindex="-1" role="dialog">
    <div class="modal-dialog" style="max-width: 70%" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-4"></div>
                    <div class="col-md-4 marg-t-10">
                        <h3 class="bold text-center color-header">{{ 'admin.learners.title'|trans }}</h3>
                    </div>
                    <div class="col-md-2 marg-t-20 text-center no-padding-left">
                        <button id="resetBtn" class="btn btn-block btn-border-yelow btn-padding">{{ 'global.reset'|trans }}</button>
                    </div>
                    <div class="col-md-2 marg-t-20 no-padding-left ">
                        <button id="searchBtn" class="btn btn-block btn-deepmark-orangelight btn-padding">{{ 'buttons.select'|trans }}</button>
                    </div>
                </div>
                <div class="row custom marg-t-20 pl-3 pr-3 pb-1 stat-filter">
                    <div class="col-md-3 no-padding filter course-filter global-filter organizationId f-search f-1 marg-t-10">
                        <div class="form-group select-border datepicker-group">
                            {% set organizations = searchParam.organization %}
                            <div class="col-md-12 no-padding  btn-deepmark">
                                <label class="text-white" for="organizationId">{{ 'trainers.statistics.organization'|trans }}</label>
                            </div>
                            <div class="input-group btn-deepmark-light">
                                <select id="organizationId" class="form-control selectpicker organizationId"  data-container="body"  data-style="btn btn-link">
                                    {% for organization in organizations %}
                                        <option value="{{ organization.id }}">{{ organization.designation }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 no-padding filter course-filter global-filter entityId f-search f-2 marg-t-10">
                        <div class="form-group select-border datepicker-group">
                            <div class="col-md-12 no-padding  btn-deepmark">
                                <label class="text-white" for="entityId">{{ 'trainers.statistics.entity'|trans }}</label>
                            </div>
                            <div class="input-group btn-deepmark-light">
                                <select id="entityId" class="form-control  selectpicker"  data-container="body"  data-style="btn btn-link">

                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 no-padding filter regionalId f-search  f-2 marg-t-10">
                        <div class="form-group select-border datepicker-group">
                            <div class="col-md-12 no-padding  btn-deepmark">
                                <label class="text-white" for="regionalId">{{ 'trainers.statistics.regional_direction'|trans }}</label>
                            </div>
                            <div class="input-group btn-deepmark-light">
                                <select id="regionalId" class="form-control  selectpicker"  data-container="body"  data-style="btn btn-link">
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 no-padding filter f-search  f-1 marg-t-10">
                        <div class="form-group select-border datepicker-group">
                            <div class="col-md-12 no-padding  btn-deepmark">
                                <label class="text-white" for="sectorId">{{ 'trainers.statistics.group'|trans }}</label>
                            </div>
                            <div class="input-group btn-deepmark-light">
                                <select id="sectorId" class="form-control  selectpicker"  data-container="body"  data-style="btn btn-link">

                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 no-padding filter f-search f-1 marg-t-10">
                        <div class="form-group select-border datepicker-group">
                            <div class="col-md-12 no-padding  btn-deepmark">
                                <label class="text-white" for="workplaceId">{{ 'trainers.statistics.workplace'|trans }}</label>
                            </div>
                            <div class="input-group btn-deepmark-light">
                                <select id="workplaceId" class="form-control  selectpicker"  data-container="body"  data-style="btn btn-link">

                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 no-padding filter f-search f-1 marg-t-10">
                        <div class="form-group select-border datepicker-group">
                            <div class="col-md-12 no-padding  btn-deepmark">
                                <label class="text-white" for="groupId">{{ 'global.trainning_group'|trans }}</label>
                            </div>
                            <div class="input-group btn-deepmark-light">
                                <select id="groupId" class="form-control  selectpicker"  data-container="body"  data-style="btn btn-link">

                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 no-padding filter f-search f-1 marg-t-10">
                        <div class="form-group select-border datepicker-group">
                            <div class="col-md-12 no-padding  btn-deepmark">
                                <label class="text-white" for="statusId">{{ 'trainers.statistics.status'|trans }}</label>
                            </div>
                            <div class="input-group btn-deepmark-light">
                                <select id="statusId" class="form-control  selectpicker"  data-container="body"  data-style="btn btn-link">
                                    <option value="-1">{{ 'trainers.statistics.export.all'|trans }}</option>
                                    <option value="1">{{ 'table.active'|trans|capitalize }}</option>
                                    <option value="0">{{ 'table.inactive'|trans|capitalize }}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 height-120 no-padding period-filter f-search marg-t-10">
                        <div class="form-group datepicker-group btn-deepmark-light">
                            <div class="col-md-12 no-padding  btn-deepmark">
                                <label  class="text-white" for="creationDate">{{ 'table.creation_date'|trans|capitalize }}</label>
                            </div>
                            <div class="input-group pad-t-10 btn-deepmark-light">
                                <input id="creationDate" type="text" class="form-control marg-l-10  datepicker" name="creation_date" value="">
                                <div class="input-group-append">
                                    <span class="input-group-text"><i class="fal fa-calendar-alt"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 height-120 no-padding period-filter f-search marg-t-10">
                        <div class="form-group datepicker-group btn-deepmark-light">
                            <div class="col-md-12 no-padding  btn-deepmark">
                                <label class="text-white" for="endDate">{{ 'table.connection_date'|trans|capitalize }}</label>
                            </div>
                            <div class="input-group pad-t-10 btn-deepmark-light">
                                <input id="connectionDate" type="text" class="form-control marg-l-10 datepicker" name="connection_date" value="">
                                <div class="input-group-append">
                                    <span class="input-group-text"><i class="fal fa-calendar-alt"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row stat-data d-none marg-b-20">
                    <div class="col-12 marg-b-20">
                        <div id="tableLearnersData">
                        </div>
                    </div>
                    <div class="col-md-4"></div>
                    <div class="col-md-8">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="{{ asset('js/lang_datatable.js') }}"></script>
<script>
    $(document).on('hidden.bs.modal', function (event) {
        if ($('.modal:visible').length) {
            $('body').addClass('modal-open');
        }
    });
    $(document).ready(function(){
        //link learner to session
        $("#viewLearner").on('click', '#apply', function () {
            let nameBtn = $(this).text();
            const checkInput = $('.check-add-learner');
            const selectedProfiles = [];
            checkInput.each(function () {
                if(this.checked && this.value !== ""){
                    selectedProfiles.push(this.value);
                }
            });
            if (!selectedProfiles.length) {
                // one or more checkboxes are
                swal('Warning', '{{"booking.session_messages.select_one_learner"|trans}}', 'warning');
                return;
            }
            var sessionId = $(this).attr('data-session-id');

            $.ajax({
                'url': '{{ path('trainer_profile_link_learners_session') }}',
                'method': 'POST',
                'data' : {
                    'moduleId': '{{ module.id }}',
                    'sessionId': sessionId,
                    'selectedProfiles': selectedProfiles
                },
                beforeSend: function() {
                    $("#apply").empty().html('<i class="fa fa-spinner fa-spin"></i> ' + nameBtn);
                },
            }).done(function (response) {
                if (response.error === false) {
                    swal('Success', '{{ "booking.session_messages.assign_learner_success"|trans }}', 'success');
                    $("#apply").empty().html(nameBtn);
                    attached = true;
                }else{
                    swal('Warning', response.message)
                    $("#apply").empty().html(nameBtn);
                }

            }).fail(function (response) {
                swal('Warning', response.message)
                $("#apply").empty().html(nameBtn);
                console.log(response)
            })
        });

        // filters
        $("#organizationId").change(function() {
            $("#entityId").empty();
            let organizationId = $(this).val();
            if(organizationId != '') {
                $.ajax({
                    type: "POST",
                    url: '/trainer/stats/organizationEntity',
                    data: {"organizationId": organizationId},
                    success: function (data) {
                        $("#entityId").append($("<option />").val(0).text('{{ 'trainers.statistics.export.all'|trans }}'));
                        $.each(data, function (i, data) {
                            $("#entityId").append($("<option />").val(data.id).text(data.designation));
                        });
                        $('#entityId').selectpicker('refresh');
                    }
                });
            }
            $('#entityId').selectpicker('refresh');
            $("#entityId").trigger('change');
        });

        $("#entityId").change(function() {
            let entityId = $(this).val();
            let organizationId = $("#organizationId").val();
            if(entityId != '') {
                $("#courseId").empty();
                $.ajax({
                    type: "POST",
                    url: '/trainer/stats/entityCourse',
                    data: {"entityId": entityId, 'organizationId': organizationId},
                    success: function (data) {
                        $("#courseId").append($("<option />").val(0).text(' {{ 'trainers.statistics.export.all'|trans  }}'));
                        $.each(data, function (i, data) {
                            $("#courseId").append($("<option />").val(data.id).text(data.designation));
                        });
                        $('#courseId').selectpicker('refresh');
                        $("#courseId").trigger('change');
                    }
                });

                $("#groupId").empty();
                $.ajax({
                    type: "POST",
                    url: '/trainer/stats/entityGroup',
                    data: {"entityId": entityId , 'organizationId': organizationId},
                    success: function (data) {
                        $("#groupId").append($("<option />").val(0).text('{{ 'trainers.statistics.export.all'|trans }}'));
                        $.each(data, function (i, data) {
                            $("#groupId").append($("<option />").val(data.id).text(data.designation));
                        });
                        $('#groupId').selectpicker('refresh');
                    }
                });

                $("#regionalId").empty();
                $.ajax({
                    type: "POST",
                    url: '/trainer/stats/entityRegion',
                    data: {"entityId": entityId, 'organizationId': organizationId},
                    success: function (data) {
                        $("#regionalId").append($("<option />").val(0).text('{{ 'trainers.statistics.export.all'|trans }}'));
                        $.each(data, function (i, data) {
                            $("#regionalId").append($("<option />").val(data.id).text(data.designation));
                        });
                        $('#regionalId').selectpicker('refresh');
                        $("#regionalId").trigger('change');

                    }
                });

            }

        });

        $("#regionalId").change(function() {
            let regionalId = $(this).val();
            let organizationId = $("#organizationId").val();
            let entityId = $("#entityId").val();
            if(regionalId != '') {

                $("#sectorId").empty();

                $.ajax({
                    type: "POST",
                    url: '/trainer/stats/regionSector',
                    data: {"regionalId": regionalId, "entityId": entityId, 'organizationId': organizationId},
                    success: function (data) {
                        $("#sectorId").append($("<option />").val(0).text('{{ 'trainers.statistics.export.all'|trans }}'));
                        $.each(data, function (i, data) {
                            $("#sectorId").append($("<option />").val(data.id).text(data.designation));
                        });
                        $('#sectorId').selectpicker('refresh');

                        $("#sectorId").trigger('change');

                    }

                });

            }

        });

        $("#sectorId").change(function() {
            let sectorId = $(this).val();
            let regionalId = $("#regionalId").val();
            let organizationId = $("#organizationId").val();
            let entityId = $("#entityId").val();
            if(sectorId != '') {

                $("#workplaceId").empty();

                $.ajax({
                    type: "POST",
                    url: '/trainer/stats/sectorWorkplace',
                    data: {"sectorId": sectorId, "regionalId": regionalId, "entityId": entityId, 'organizationId': organizationId},
                    success: function (data) {
                        $("#workplaceId").append($("<option />").val(0).text('{{ 'trainers.statistics.export.all'|trans }}'));
                        $.each(data, function (i, data) {
                            $("#workplaceId").append($("<option />").val(data.id).text(data.designation));
                        });
                        $('#workplaceId').selectpicker('refresh');
                    }
                });

            }

        });

        $("#organizationId").trigger('change');

        //end filter learners

        $('#searchBtn').click(function() {
            searchHandler(true)
        });
        function dateNewFormat(date) {
            return date = date.split("/").reverse().join("-");
        }
        function searchHandler($isExport = false, $isPdf = false){
            // $('.loader').show();
            let dateTimeFrom;
            let dateTimeTo;
            let dateTimeCreationDate = dateNewFormat($('#creationDate').val());
            let dateTimeConnectionDate =  dateNewFormat($('#connectionDate').val());

            let entityId = $('#entityId').val();
            let organizationId = $('#organizationId').val();
            let regionalId = $('#regionalId').val();
            let sectorId = $('#sectorId').val();
            let workplaceId = $('#workplaceId').val();
            let groupId = $('#groupId').val();
            let statusId = $('#statusId').val();

            let locate = $('#locate').val();
            let default_lang = $('#default_locale').val();
            locate = (locate == default_lang) ? '' : '/' + locate;

            var header = '';
            let organizatioName =  $("#organizationId").val() == 0 ? 'Organization_all' : $( "#organizationId option:selected" ).text();
            var interventionId = '{{ intervention.getId() }}';
            var title = 'Learners of ' + organizatioName  + " ("+moment().format('DD-MM-YYYY')+") ";
            $.ajax({
                url: locate + '/trainer/profile/getCourseLearnersBySearch',
                data: {
                    'creationDate': dateTimeCreationDate,
                    'connectionDate': dateTimeConnectionDate,
                    'organizationId': organizationId,
                    'entity_id': entityId,
                    'regionalId': regionalId,
                    'sectorId': sectorId,
                    'workplaceId': workplaceId,
                    'groupId': groupId,
                    'statusId': statusId,
                    'interventionId': interventionId
                },
                success:function(data) {
                    $('.loader').hide();
                    $(".stat-data").removeClass('d-none');
                    $('#tableLearnersData').html(data);
                    let lang = languageDatatable();
                    let table  = $('#learnerTable').DataTable({
                        "language": lang,
                        dom: 'Blfrtip',
                        "scrollX": false,
                        "order": [[ 1, "asc" ], [ 2, "asc" ]],
                        "pagingType": "numbers",
                        "pageLength": 5,
                        buttons: [

                        ]
                    });
                    // Hide columns
                    table.columns( [7] ).visible( false );
                    table.columns( [8] ).visible( false );
                    table.columns( [9] ).visible( false );
                    if('{{ is_granted('ROLE_SUPERVISOR') }}') {
                        table.columns( [10] ).visible( false );
                    }

                    $(".dataTables_filter").hide();
                    $('#bookSearch').keyup(function(){
                        table.search($(this).val()).draw() ;
                    });

                    $(".check-all-input-datatable").click(function(){
                        if($(this).is(":checked")){
                            $('.check-input').attr("checked",true);
                        }else{
                            $('.check-input').attr("checked",false);
                        }
                    });

                    $(".check-all-input-learners").click(function(){
                        var tableId = $(this).attr('data-table-number');
                        if($(this).is(":checked")){
                            $('.check-input-learner-'+tableId).attr("checked",true);
                        }else{
                            $('.check-input-learner-'+tableId).attr("checked",false);
                        }
                    });

                },
                error:function () {
                }
            });
        }
        $("#searchBtn").trigger('click');
        $(document).on('click', '.viewLearner', function(){
            var sessionId = $(this).attr('data-session-id');
            $('#viewLearner').find('#apply').attr('data-session-id', sessionId);
        });
    })
</script>