<tr><!-- Empty tr for striped rows --></tr>
				
<tr class="tr-modal tr-modal-{{loop.index}}">
	<td colspan="10">
		<div class="td-modal">
			{{ include('molecules/cards/card-onlineseance.html.twig', { editable: false }) }}
		</div>
	</td>
</tr>