{% if idPre is not defined %}
    {% set idPre = 'pre' %}
{% endif %}

<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    {{ 'table.trainers.org'|trans }}
                </th>

                <th>
                    {{ 'table.trainers.entity'|trans }}
                </th>

                <th>
                    {{ 'table.trainers.intervention_name'|trans }}
                </th>

                <th>
                    {{ 'table.trainers.theme'|trans }}
                </th>

                <th>
                    {{ 'table.trainers.type_date'|trans }}
                </th>

                <th>
                    {{ 'table.trainers.learner'|trans }}
                </th>

                <th>
                    {{ 'table.trainers.status'|trans }}
                </th>

                <th>
                    {{ 'table.trainers.report_status'|trans }}
                </th>

                <th>
                    {{ 'table.trainers.price'|trans }}
                </th>

                <th>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input class="form-check-input check-all-input" type="checkbox" value="">
                            <span class="form-check-sign">
                                <span class="check"></span>
                            </span>
                        </label>
                    </div>
                </th>
            </tr>
        </thead>

        <tbody>
            {% for invoice in invoices %}
                <tr>
                    <td>
                        <div class="img-container">
                            <img src="{{ asset('img/Logo_BNP.png') }}" alt="">
                        </div>
                    </td>

                    <td>
                        IDF Nord
                    </td>

                    <td>
                        NPS Promoteur
                    </td>

                    <td>
                        Résoudre un problème managérial
                    </td>

                    <td>
                        Séance <br>
                        15/06/2018 11:30
                    </td>

                    <td>
                        Burno SOULARD
                    </td>

                    <td>
                        {{ include('atoms/buttons/toggle-3states-btn.html.twig', { id: idPre ~ loop.index, status: '' }) }}
                    </td>

                    <td>
                        {{ include('atoms/buttons/toggle-3states-btn.html.twig', { id: idPre ~ loop.index ~ idPre, status: 1 }) }}
                    </td>

                    <td>
                        300 €
                    </td>

                    <td>
                        <div class="form-check">
                            <label class="form-check-label">
                                <input class="form-check-input check-all-input" type="checkbox" value="">
                                <span class="form-check-sign">
                                    <span class="check"></span>
                                </span>
                            </label>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
