<div class="marg-t-10">
    <table id="{{ type }}" class="table table-striped w-100 font-size-13">
        <thead class="table-header">
        <tr>
            <th>{{ 'table.organization'|trans }}</th>
            <th>{{ 'table.entity'|trans }}</th>
            <th>{{ 'table.intervention_name'|trans }}</th>
            <th>{{ 'trainers.my_excercise.table.module'|trans|capitalize }}</th>
            <th>{{ 'trainers.my_excercise.table.quiz_question'|trans|capitalize }}</th>
            <th>{{ 'table.learner'|trans }}</th>
            <th>{{ 'global.date_session'|trans|capitalize }}</th>
            <th>{{ 'trainers.my_excercise.table.correction_time'|trans|capitalize }}</th>
            {% if type != 'toAssignTable' and type != 'toDoTable' %}
                <th>{{ 'trainers.my_excercise.table.point'|trans|capitalize }}</th>
            {% endif %}
            <th>{{ 'trainers.my_excercise.table.maximum_correction_time'|trans|capitalize }}</th>
            {% if type == 'validationedTable' or type == 'rejectedTable' %}
                <th width="12%">{{ 'popup.comment'|trans|capitalize }}</th>
            {% endif %}
            <th data-orderable="false">{{ 'admin.entity.actions'|trans }}</th>
        </tr>
        </thead>
        <tbody>
        {% if exercises is defined %}
            {% for exercise in exercises %}
                <tr>
                    <td>
                        {{ exercisesUsers[exercise.id].entity.organisation.designation|default('') }}
                    </td>
                    <td>{{ exercisesUsers[exercise.id].entity.designation|default('') }}</td>
                    <td>{{ exercise.play.module.intervention.designation }}</td>
                    <td>
                        {{ exercise.play.module.designation }}
                    </td>
                    <td data-toggle="tooltip" data-placement="bottom" data-html="true" title="{{  exercise.question.question|striptags|raw }}">
                        {{ exercise.question.question|striptags|truncate(150, true, '...')|raw }}
                    </td>
                    <td>{{ exercisesUsers[exercise.id].displayName|default('') }}</td>
                    <td><span class="d-none">{{ exercise.play.updated | date('U') }}</span>{{ exercise.play.updated|date('d/m/Y H:i:s') }}</td>
                    <td>{{ exercise.play.module.correctionDuration|date('H:i:s') }}</td>
                    {% if type != 'toAssignTable' and type != 'toDoTable' %}
                        <td>
                            {% if exercise.exercises.grade is defined and exercise.exercises.grade is not null %}
                                {{ (exercise.exercises.grade / 100 *  exercise.question.score_to_pass)|round(2, 'floor')|number_format(2) }}
                            {% endif %}
                        </td>
                    {% endif %}
                    {% set date = '' %}
                    {% if exercise.play.module.correctionDurationDays is not null %}
                        {% set durationMax = exercise.play.module.correctionDurationMax %}
                        {% if exercise.play.updated|date_modify("+" ~ exercise.play.module.correctionDurationDays ~ " day") < durationMax %}
                            {% set date = exercise.play.updated|date_modify("+" ~ exercise.play.module.correctionDurationDays ~ " day") %}
                        {% else %}
                            {% set date = exercise.play.module.correctionDurationMax %}
                        {% endif %}
                    {% else %}
                        {% set date = exercise.play.module.correctionDurationMax %}
                    {% endif %}
                    <td>
                        <span class="d-none">{{ date | date('U') }}</span>
                        {{ date|date('d/m/Y') }}
                    </td>
                    {% if type == 'validationedTable' or type == 'rejectedTable' %}
                        <td data-toggle="tooltip" data-placement="bottom" data-html="true" title="{{ exercise.exercises.comment|striptags|raw }}">
                            {{ exercise.exercises.comment|striptags|truncate(150, true, '...')|raw }}
                        </td>
                    {% endif %}
                    <td>
                        {% if type == 'toAssignTable' %}
                            {% if exercise.play.module.poolTrainers %}
                                <a href="{{ path('trainer_exercices_assign', {'id': exercise.id }) }}" class="btn btn-danger btn-sm">{{ status }} </a>
                            {% endif %}
                        {% elseif type == 'toDoTable' %}
                            <a href="{{ path('trainer_exercices_mark', {'id': exercise.id }) }}" class="btn btn-danger btn-sm">{{ status }} </a>
                        {% elseif type == 'toValidationTable' %}
                            <a href="{{ path('trainer_exercices_view', {'id': exercise.id }) }}" class="pointer ">
                                <object  data="/images/eye.svg" width="18" height="18"
                                         type="image/svg+xml"></object>
                            </a>
                        {% elseif type == 'validationedTable' %}
                            {% if is_granted('ROLE_LEARNER') %}
                                {% set viewURL = path('learner_exercices_view', {'id': exercise.id }) %}
                            {% else %}
                                {% set viewURL = path('trainer_exercices_view', {'id': exercise.id }) %}
                            {% endif %}
                            <a href="{{ viewURL }}" class="pointer ">
                                <object  data="/images/eye.svg" width="18" height="18"
                                         type="image/svg+xml"></object>
                            </a>
                        {% elseif type == 'rejectedTable' %}
                            <a href="{{ path('trainer_exercices_mark', {'id': exercise.id }) }}" class="pointer">
                                <object  data="/images/pencil.svg" width="18" height="18"
                                         type="image/svg+xml"></object>
                            </a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        {% endif %}
        </tbody>
    </table>
</div>
