{% if idPre is not defined %}
    {% set idPre = 'pre' %}
{% endif %}

    <div class="table-responsive pad-10">
        <table class="table table-striped data-table">
            <thead class="table-header">
                <tr>
                    <th width="10%">{{ 'table.organization'|trans }}</th>
                    <th width="10%">{{ 'table.entity'|trans }}</th>
                    <th width="20%">{{ 'table.intervention_name'|trans }}</th>
                    <th width="10%">{{ 'trainers.my_excercise.table.module'|trans|capitalize }}</th>
                    <th width="10%">{{ 'table.learner'|trans }}</th>
                    <th width="20%">{{ 'global.session_date'|trans|capitalize }}</th>
                    <th width="10%">{{ 'trainers.my_excercise.table.duration'|trans|capitalize }}</th>
                    {% if type == 3 or type == 4 %}
                        <th width="20%">{{ 'popup.comment'|trans|capitalize }}</th>
                    {% endif %}
                    <th width="10%">{{ 'global.actions'|trans|capitalize }}</th>
                </tr>
            </thead>

            <tbody>
            {% set audioType = ["wav", "mp3", "MP3", "WAV"] %}
            {% set videoType = ["mp4", "mov", "ogg", "MP4", "MOV", "OGG"] %}
            {% set imgType = ["png", "PNG", "JPG", "jpg", "JPEG", "jpeg"] %}
            {% if reports is defined %}
                {% for report in reports %}
                      <tr>
                          <td>
                              {{ report.session.learner.entity.organisation.designation }}
                          </td>
                          <td>{{ report.session.learner.entity.designation }}</td>
                          <td>{{ report.module.intervention.designation }}</td>
                          <td>{{ report.module.designation }}</td>
                          <td>{{ report.session.learner.displayName }}</td>
                          <td>{{ report.session.bookingDate|date('d/m/Y H:i:s') }}</td>
                          <td>{{ report.module.duration|date('H:i:s') }}</td>
                          {% if type == 3 or type == 4 %}
                              <td>
                                  <a href="javascript:void(0)" title="{{ report.comment }}">
                                      {{ report.comment|striptags|length > 20 ? report.comment|striptags|slice(0, 20) ~ '...' : report.comment|striptags }}
                                  </a>
                              </td>
                          {% endif %}
                          <td width="10%">
                              {% if type == 1 %}
                                  <a href="{{ path('trainer_exercices_video_booking_agenda', {'id': report.module.id, 'bid': report.session.id }) }}" class="btn btn-danger btn-sm">{{ 'global.go'|trans }} </a>
                              {% elseif report.fileDescriptor is defined %}
                                  {% set path = report.fileDescriptor.path %}
                                      <a href="{{ asset('files/reports/' ~ path) }}" download>
                                          <i class="fa fa-download  color-header" aria-hidden="true"></i>
                                      </a>&nbsp;&nbsp;&nbsp;
                                      {% set fileFormat = report.fileDescriptor.mimeType %}
                                      {% if fileFormat in imgType or fileFormat in videoType or fileFormat in audioType %}
                                          <a target="_blank"  href="{{ asset('files/reports/' ~ path) }}" >
                                              <i class="fa fa-eye color-header" aria-hidden="true"></i>
                                          </a>
                                      {% else %}
                                          <a data-pdf-loader-queue="{{ path }}" class=" pointer preview-file preview-file-page ">
                                              <i class="fa fa-eye color-header" aria-hidden="true"></i>
                                          </a>
                                          <script>
                                              $('.preview-file-page').click(function() {
                                                  let domain = document.location.origin;
                                                  let url = domain + '/files/reports/' + $(this).attr('data-pdf-loader-queue');
                                                  window.open(domain + '/viewer?url='+ url, '_blank');
                                              });
                                          </script>
                                      {% endif %}
                              {% endif %}
                          </td>
                      </tr>
                {% endfor %}
            {% endif %}
            </tbody>
        </table>
    </div>
