<ul style="width: 100%" class="no-padding no-margin">
    {% set docTypes = ["txt", "pdf", "doc", "docx", "ppt", "pptx", "xls", "xlsx", "css"] %}
    {% if is_granted('ROLE_ADMIN') %}
        {% set role = 'admin' %}
    {% elseif is_granted('ROLE_TRAINER') %}
        {% set role = 'trainer' %}
    {% elseif is_granted('ROLE_LEARNER') %}
        {% set role = 'learner' %}
    {% endif %}

    {% set role = forceRole is defined ? forceRole : role %}

    {% set downloadPath = role ~ '_' ~ (type == 'documents' ? 'document_' : 'library_') ~ 'download' %}
    {% set audioType = ["wav", "mp3", "MP3", "WAV"] %}
    {% set videoType = ["mp4", "mov", "ogg", "MP4", "MOV", "OGG"] %}
    {% set imgType = ["png", "PNG", "JPG", "jpg", "JPEG", "jpeg"] %}

    {% for document in documents %}
        {# {{dump(document)}} #}
        {% set fileFormat = document.fileDescriptor.mimeType %}
        {% if fileFormat == 'pdf' %}
            {% set icon ='-pdf' %}
        {% elseif fileFormat == 'pptx' %}
            {% set icon ='-powerpoint' %}
        {% elseif fileFormat == 'docx' %}
            {% set icon ='-word' %}
        {% elseif fileFormat == 'xlsx' or fileFormat == 'xls' %}
            {% set icon ='-excel' %}
        {% elseif fileFormat == 'png' or fileFormat == 'jpg' or fileFormat == 'jpeg' or fileFormat == 'webp'%}
            {% set icon ='-image' %}
        {% else %}
            {% set icon ='' %}
        {% endif %}
        <li class="row border-top pad-t-10 pad-b-10" >
            {% set linkHref = document.fileDescriptor ? path(downloadPath, {'id': document.fileDescriptor.id}) : document.url %}
            <input type="hidden" data-source="{{ linkHref }}">
            <div class="col-md-9 no-padding"  style="align-self: center">
                {% set fileName =  document.fileDescriptor.name %}
                {% set nameLen = (fileName | length) %}
                {% if nameLen > 20 %}
                    <span>{{ fileName|slice(0,16) ~'.'~ document.fileDescriptor.mimeType }}
                    </span>
                {% else %}
                    <span>{{ fileName }}</span>
                {% endif %}
            </div>

            <div class="d-flex flex-row justify-content-end col-md-3 no-padding">
                {% if fileFormat in imgType or fileFormat in videoType or fileFormat in audioType %}
                    <a class="btn btn-sm btn-deepmark border-radius-0 text-white preview-media" data-media-loader-queue="{{ asset('files/'~  document.fileDescriptor.path) }}" target="_blank" >
                        {{ 'global.launch'|trans }}
                    </a>
                    <a href="{{ asset('files/'~  document.fileDescriptor.path) }}" class="btn btn-sm btn-deepmark border-radius-0 text-white" download target="_blank">
                        {{ 'global.download'|trans }}
                    </a>
                {% else %}
                    <a data-pdf-loader-queue="{{ document.fileDescriptor.path }}" class="text-white border-radius-0 btn btn-sm btn-deepmark preview-file preview-file-page">
                        {{ 'global.launch'|trans }}
                    </a>
                    <a href="{{ amazon_s3_url }}/{{ document.fileDescriptor.path }}" class="btn btn-sm btn-deepmark border-radius-0 text-white" download target="_blank">
                        {{ 'global.download'|trans }}
                    </a>
                {% endif %}
            </div>

        </li>
    {% endfor %}
</ul>
