{% if replace_resources_waiting_validation %}
    <table class="table table-striped">
        <thead>
        <tr>
            <th>{{ 'table.interventions.trainer'|trans }} </th>
            <th>{{ 'table.interventions.intervention'|trans }}</th>
            <th>{{ 'table.interventions.name'|trans }}</th>
            <th>{{ 'table.interventions.type'|trans }}</th>
            <th>{{ 'table.interventions.begin_duration'|trans }}</th>
            <th>{{ 'table.interventions.actions'|trans }}</th>
            <th class="text-right">
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input check-all-input" type="checkbox" value="">
                        <span class="form-check-sign"><span class="check"></span></span>
                    </label>
                </div>
            </th>
        </tr>
        </thead>

        <tbody>
        {% for resource in replace_resources_waiting_validation %}
            <tr>
                <td class="trainer-img-td">
                    <div class="img-container img-container--round">
                        {% if resource.bookingAgenda.trainer.avatar is not null %}
                            <img style="height: 50px;" src="{{ resource.bookingAgenda.trainer.avatar }}">
                        {% else %}
                            <img src="{{ asset('img/default-avatar.png') }}" alt="">
                        {% endif %}
                    </div>
                    <p>
                        {{ resource.bookingAgenda.trainer.displayName }}
                    </p>
                </td>
                <td>
                    {{ resource.bookingAgenda.module.intervention.designation }}
                </td>
                <td>
                    {{ resource.bookingAgenda.module.designation }}
                </td>
                <td>
                    {{ resource.bookingAgenda.module.storedModule.designation }}
                </td>
                <td>
                    {{ resource.bookingAgenda.bookingDate|date('d/m/Y') }} at {{ resource.bookingAgenda.bookingDate|date('G:i', false) }}
                    <br>
                    {% set hour = resource.bookingAgenda.module.duration|date('G', false) %}
                    {% set minutes = resource.bookingAgenda.module.duration|date('i', false) %}
                    {% set duration = '' %}
                    {% if hour == '0' %}
                        {{ minutes }}min
                        {% set duration = '+'~minutes~' min' %}
                    {% elseif minutes == '00' %}
                        {{ hour }}h
                        {% set duration = '+'~ hour ~ 'hours' %}
                    {% else %}
                        {{ hour }}h {{ minutes }}min
                        {% set duration = '+' ~hour ~ ' hours' ~ ' +' ~ minutes~ ' min' %}
                    {% endif %}
                </td>
                <td>
                    <a style="color: #fff;" class="btn btn-orangelight re-assign-trainer"
                       data-module-id="{{ resource.bookingAgenda.module.id }}"
                       data-module-type="{{ resource.bookingAgenda.module.storedModule.designation }}"
                       data-booking-duration-title="Booked for the {{ resource.bookingAgenda.bookingDate|date('d/m/Y') }} from {{ resource.bookingAgenda.bookingDate|date('H:i') }} to {{ resource.bookingAgenda.bookingDate|date_modify(duration)|date('G:i', false) }}"
                       data-booking-duration="{{ resource.bookingAgenda.bookingDate|date_modify(duration)|date('G:i', false) }}"
                       data-module-trainer="{{ resource.bookingAgenda.trainer.displayName }}"
                       data-module-trainer-id="{{ resource.bookingAgenda.trainer.id }}"
                       data-module-mobile="{{ resource.bookingAgenda.trainer.mobilePhone }}"
                       data-module-email="{{ resource.bookingAgenda.trainer.person.email }}"
                       data-booking-id="{{ resource.bookingAgenda.id }}"
                       data-booking-date="{{ resource.bookingAgenda.bookingDate|date('Y-m-d') }}"
                       data-booking-status="{{ resource.bookingAgenda.status.designation }}">
                        {{ 'buttons.change_trainer'|trans }}
                    </a>
                </td>
                <td class="text-right">
                    <div class="form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" data-action="replacement-checkbox" value="{{ resource.id }}">
                            <span class="form-check-sign">
		                                                <span class="check"></span>
		                                            </span>
                        </label>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <!-- Modal show the booked session -->
    {{ include('molecules/modal/show-module.html.twig') }}
{% endif %}