{% if live_resources_waiting_validation %}
    <table class="table table-striped">
        <thead align="center">
        <tr>
            <th>{{ 'global.fullname'|trans }} </th>
            <th>{{ 'admin.profile.contact'|trans }}</th>
            <th>{{ 'table.trainers.roles'|trans }}</th>
            <th>{{ 'admin.alerts.skills'|trans }}</th>
            <th>
                {{ 'table.trainers.trainer_grade'|trans }}
            </th>
            <th>{{ 'table.trainers.state'|trans }}</th>
            <th class="text-right">
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input check-all-input" type="checkbox" value="">
                        <span class="form-check-sign"><span class="check"></span></span>
                    </label>
                </div>
            </th>
        </tr>
        </thead>

        <tbody>

        {% for resources in live_resources_waiting_validation %}
            <tr>
                <td class="trainer-img-td">
                    <div class="img-container img-container--round">
                        {% if resources.profile.avatar is not null %}
                            <img style="height: 50px;" src="{{ resources.profile.avatar }}">
                        {% else %}
                            <img src="{{ asset('img/default-avatar.png') }}" alt="">
                        {% endif %}
                    </div>

                    <p>
                        {{ resources.profile.firstName }} {{ resources.profile.lastName }}
                    </p>
                </td>
                <td>
                    {{ resources.profile.mobilePhone }}
                    <br>
                    {{ resources.profile.otherEmail }}
                </td>
                <td>
                    {{ resources.LiveResourceVariety.designation|default('') }}
                </td>

                <td>
                    {{ resources.Skill.designation }}
                </td>

                <td>
                    {{ include('molecules/widgets/ratings.html.twig', { max: 5, grade: resources.score }) }}
                </td>

                <td>
                    {{ 'table.trainers.not_active_status'|trans }}
                </td>

                <td class="text-right">
                    <div class="form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" data-action="checkbox" value="{{ resources.id }}">
                            <span class="form-check-sign">
		                                                <span class="check"></span>
		                                            </span>
                        </label>
                    </div>
                </td>
            </tr>
        {% endfor %}


        </tbody>
    </table>
{% endif %}