<!-- Record Template -->
<div id="freeModal" class="modal fade col-md-12" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h3 class="color-header bold text-center">{{ 'learners.courses.quiz.question.open.mark_correction_editor'|trans }}</h3>
                <div class="row">
                    <div class="col-md-12 text-left">
                        <textarea class="editor question-{{ question_id }}-data" data-type="free" id="editor-{{ question_id }}" name="" style="resize: none; visibility: hidden; display: none;">
                            {{ content }}
                        </textarea>
                    </div>
                </div>
                <div class="col-md-12 text-right">
                    <button id="btn-free-confirm" type="submit" name="button"
                            class="btn btn-sm btn-deepmark-orangelight">{{ 'buttons.save_draft'|trans }}</button>
                </div>
            </div>
        </div>
    </div>
</div>
