<style>
    .resize-modal{
        max-width: 1500px!important;
        margin: auto;
    }
    video{
        object-fit: cover;
    }
</style>
<!-- Record Template -->
<div id="recordScreenCastModal" class="modal fade col-md-12" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document" id="modal" style="min-width: 70%;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p class="color-header bold"> {{ 'learners.courses.quiz.question.open.mark_save_video_audio'|trans|upper }}</p>
                <input type="hidden" id="recording-type-{{question_id}}" data-type="screencast" />
                <input type="hidden" id="record-{{question_id}}" class="question-{{question_id}}-data" data-type="record" />
                <input type="hidden" id="recording-validate-{{question_id}}" value="0" />
                <!-- ANSWER W/ RECORD (SCREENCAST) -->
                <h5 class="color-header bold text-center">{{ 'learners.courses.quiz.question.open.record.title_screen'|trans }}</h5>
                <div class="row">
                    <div class="col-md-3"></div>
                    <div class="col-md-6 text-center marg-b-20">
                        <video id="screencast" class="border-header bg-white" width="500" controls></video>
                    </div>
                    <div class="col-md-3"></div>
                    <div class="col-12 text-center">
                        <div class="col-md-12 text-center marg-b-10" id="counting">
                        </div>
                        <button data-question-id="{{question_id}}" id="start" type="button" class="btn btn-sm btn-deepmark-green"><i class="fa fa-video"></i> {{ 'learners.courses.quiz.question.open.record.start_video'|trans }}</button>
                        <button data-question-id="{{question_id}}" disabled id="stop" type="button" class="btn btn-sm btn-deepmark-red"><i class="fa fa-stop"></i> {{ 'learners.courses.quiz.question.open.record.stop_video'|trans }}</button>
                        <div class="col-12">
                            <span class="badge badge-deepmark-navy" id="timer"></span>
                        </div>
                        <span id="error-recording-{{question_id}}" class="c-deepmark-red"></span>
                    </div>
                </div>

                <div class="col-md-12 text-center pad-t-15">
                    <button id="btn-video-record-confirm" type="submit" name="button"
                            class="btn btn-sm btn-deepmark-orangelight">{{ 'buttons.save_draft'|trans }}</button>
                </div>
            </div>
        </div>
    </div>
</div>