<style>
    .resize-modal{
        max-width: 1500px!important;
        margin: auto;
    }
    video{
        object-fit: cover;
    }
</style>
<!-- Record Template -->
<div id="recordVideoModal" class="modal fade col-md-12" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document" id="modal" style="min-width: 70%;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p class="color-header bold"> {{ 'learners.courses.quiz.question.open.mark_save_video_audio'|trans|upper }}</p>
                <input type="hidden" id="recording-type-{{ question_id }}" data-type="video"/>
                <input type="hidden" id="record-{{ question_id }}" class="question-{{ question_id }}-data"
                       data-type="record"/>
                <!-- ANSWER W/ RECORD (VIDEO) -->
                <div class="row">
                    <div class="col-6 text-center" id="divVideo">
                        <video width="100%" id="video-recording-{{ question_id }}" height="480" class="hide-element" playsinline autoplay
                               muted></video>
                        <div class="col-12 text-center">
                            <span class="badge badge-deepmark-navy hide-element" id="video-timer-{{ question_id }}">10:00</span>
                            <button type="button" id="start-recording-{{ question_id }}" data-type="start"
                                    class="btn btn-sm btn-deepmark-green startRecording hide-element"><i
                                        class="fa fa-video"></i> {{ 'learners.courses.quiz.question.open.record.start_video'|trans }}
                            </button>
                            <button type="button" id="stop-recording-{{ question_id }}"
                                    class="btn btn-sm btn-deepmark-red stopRecording hide-element"><i
                                        class="fa fa-stop"></i> {{ 'learners.courses.quiz.question.open.record.stop_video'|trans }}
                            </button>
                        </div>
                    </div>
                    <div class="col-6 text-center">
                        <div class="col-12">
                            <video height="480" width="100%" id="video-recorded-{{ question_id }}" class="hide-element border-header" playsinline></video>
                        </div>
                        <button disabled type="button" id="play-recording-{{ question_id }}"
                                class="btn btn-sm btn-deepmark-lightblue hide-element playRecord"><i
                                    class="fa fa-play-circle"></i> {{ 'learners.courses.quiz.question.open.record.play_video'|trans }}
                        </button>
                    </div>
                    <div class="col-6 text-center">
                        <span id="error-recording-{{ question_id }}" class="c-deepmark-red"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 text-center">
                        <button type="button" id="accept-recording-{{ question_id }}"
                                class="btn btn-lg btn-deepmark-orangelight activeWebcam"><i
                                    class="fa fa-chevron-up"></i> {{ 'learners.courses.quiz.question.open.record.accept_video'|trans }}
                            <i class="fa fa-chevron-up"></i></button>
                    </div>
                </div>
                <div class="col-md-12 text-center pad-t-15">
                    <button id="btn-video-record-confirm" type="submit" name="button"
                            class="btn btn-sm btn-deepmark-orangelight">{{ 'buttons.save_draft'|trans }}</button>
                </div>
            </div>
        </div>
    </div>
</div>