<!-- Record Template -->
<div id="recordAudioModal" class="modal fade col-md-12" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <input type="hidden" id="recording-type-{{ question_id }}" data-type="audio"/>
                <input type="hidden" id="record-{{ question_id }}" class="question-{{ question_id }}-data"
                       data-type="record"/>
                <!-- ANSWER W/ RECORD (AUDIO) -->
                <h5 class="color-header bold text-center">{{ 'learners.courses.quiz.question.open.record.title_audio'|trans }}</h5>
                <div class="row">
                    <div class="col-12 text-center">
                        <div class="col-12">
                            <audio id="video-recording-{{ question_id }}" class="hide-element" playsinline></audio>
                            <h1 class="hide-element" id="audio-recording-{{ question_id }}">&nbsp;<i
                                        class="fas fa-microphone-alt c-orangelight"></i>&nbsp;</h1>
                        </div>
                        <div class="col-12">
                            <span class="badge badge-deepmark-navy hide-element" id="video-timer-{{ question_id }}">10:00</span>
                        </div>
                        <div class="col-12">
                            <audio id="video-recorded-{{ question_id }}" class="hide-element quiz-audio"
                                   playsinline></audio>
                        </div>
                    </div>

                    <div class="col-12 text-center">
                        <span id="error-recording-{{ question_id }}" class="c-deepmark-red"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 text-center">
                        <button type="button" id="accept-recording-{{ question_id }}"
                                class="btn btn-lg btn-deepmark-orangelight activeWebcam"><i
                                    class="fa fa-chevron-up"></i> {{ 'learners.courses.quiz.question.open.record.accept_audio'|trans }}
                            <i class="fa fa-chevron-up"></i></button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 text-center pad-t-10">
                        <button type="button" id="start-recording-{{ question_id }}" data-type="start"
                                class="btn btn-sm btn-deepmark-green startRecording hide-element"><i
                                    class="fa fa-video"></i> {{ 'learners.courses.quiz.question.open.record.start_audio'|trans }}
                        </button>
                        <button type="button" id="stop-recording-{{ question_id }}"
                                class="btn btn-sm btn-deepmark-red stopRecording hide-element"><i
                                    class="fa fa-stop"></i> {{ 'learners.courses.quiz.question.open.record.stop_audio'|trans }}
                        </button>
                        <button type="button" id="play-recording-{{ question_id }}"
                                class="btn btn-sm btn-deepmark-lightblue hide-element playRecord"><i
                                    class="fa fa-play-circle"></i> {{ 'learners.courses.quiz.question.open.record.play_audio'|trans }}
                        </button>
                    </div>
                </div>
                <div class="col-md-12 text-center pad-t-20">
                    <button id="btn-video-record-confirm" type="submit" name="button"
                            class="btn btn-sm btn-deepmark-orangelight">{{ 'buttons.save_draft'|trans }}</button>
                </div>
            </div>
        </div>
    </div>
</div>