<div class="modal fade" id="{{ modalName }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h3 class="color-header bold text-center">{{ 'learners.courses.quiz.question.open.mark_correct_video_audio'|trans|upper }}</h3>
                <div class="row">
                    <div class="col-md-12">
                        {% if typeRecord == 'audio' %}
                            <p>
                                <i class="fas fa-microphone-alt c-orangelight font-size-50"></i>
                            </p>
                            <audio style="width: 100%" controls>
                                <source src="{{ asset(file) }}" >
                            </audio>
                        {% else %}
                            <video width="100%" height="100%" controls>
                                <source src="{{ asset(file) }}" type="video/mp4">
                                Your browser does not support the video tag.
                            </video>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>