<div class="modal fade" id="viewFreeText" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h3 class="color-header bold text-center">{{ 'learners.courses.quiz.question.open.correction_editor'|trans|upper }}</h3>
                <div class="row">
                    <div class="col-md-12">
                        {{ content|raw }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>