{% extends "base.html.twig" %}

{% block pagename %}{{ 'admin.library.title'|trans }}{% endblock %}
{% block body %}
    <div class="card">
        <div class="card-body">
            <h3 style="font-weight: 900!important;margin-top: 0!important; text-align: center;" class="color-header font-weight-bold pt-3"> {{ 'sidebar.learners_library'|trans }} </h3>
            {{ include('molecules/tables/library-table.html.twig', {documents: documents, type: "library"}) }}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/lang_datatable.js') }}"></script>
    <script>
        $(document).ready(function () {
            let locate = $('#locate').val();
            if (locate == 'fr')
                locate = 'French'
            else {
                locate = 'English'
            }
            let lang = languageDatatable();

            $('#deepmark-upload-table').DataTable({
                "language": lang,
                "order": [[ 1, 'asc' ]],
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/1.10.20/i18n/" + locate + ".json"
                },
                "scrollX": false,
                "columnDefs": [
                    {
                        "width": "30%",
                        "targets": 2
                    },
                    {
                        "width": "8%",
                        "targets": 5
                    }
                ]
                }
            );
        })

    </script>
{% endblock %}
