{% extends "base.html.twig" %}

{% block pagename %}{{ 'learners.dashboard.nav.profile'|trans }}{% endblock %}

{% block body %}
	<div class="card card--user card--trainer">
		<div class="card-header card-header-icon">
			{% if profile.avatar is defined and profile.avatar is not null %}
			<div class="trainer-avatar">
				<img  style="border-radius: 10px;" width="100" height="100" src="{{ profile.avatar }}" alt="">
			</div>
			{% else %}
				{{ include('molecules/tools/icon-box.html.twig', { icon: 'user', txt: 'trainers.profile.my_avatar'|trans }) }}
			{% endif %}
			<a href="{% if profile.avatar is defined and profile.avatar is not null %} {{ profile.avatar }} {% endif %}" class="btn btn-deepmark-orangelight btn-edit"><i class="far fa fa-download no-margin"></i></a>

			{{ include('molecules/tools/icon-box.html.twig', { icon: 'video', txt: 'trainers.profile.my_video'|trans }) }}
			<a href="{% if profile.video is defined and profile.video is not null %} {{ profile.video }} {% endif %}" class="btn btn-deepmark-orangelight btn-edit"><i class="far fa fa-download no-margin"></i></a>

			{{ include('molecules/tools/icon-box.html.twig', { icon: 'file-alt', txt: 'trainers.profile.my_cv'|trans }) }}
			<a href="{% if profile.cv is defined and profile.cv is not null %} {{ profile.cv }} {% endif %}" class="btn btn-deepmark-orangelight btn-edit"><i class="far fa fa-download no-margin"></i></a>
		</div>

		<div class="card-body">
			<div class="row">
				<div class="col-md-6">
					<h4 class="text-uppercase c-blue">{{ 'trainers.profile.infos'|trans }}</h4>

					<dl class="row">
						<dt class="col-sm-3 text-right">{{ 'global.lastname'|trans }}</dt>
						<dd class="col-sm-9">{{ profile.lastName | default('') }}</dd>

						<dt class="col-sm-3 text-right">{{ 'global.firstname'|trans }}</dt>
						<dd class="col-sm-9">{{ profile.firstName | default('') }}</dd>

						<dt class="col-sm-3 text-right">{{ 'global.phone'|trans }}</dt>
						<dd class="col-sm-9">{{ profile.fixedPhone | default('') }}</dd>

						<dt class="col-sm-3 text-right">{{ 'global.mobile'|trans }}</dt>
						<dd class="col-sm-9">{{ profile.mobilePhone | default('') }}</dd>

						<dt class="col-sm-3 text-right">{{ 'global.email'|trans }}</dt>
						<dd class="col-sm-9">{{ user.email | default('') }}</dd>

						<dt class="col-sm-3 text-right">{{ 'global.other_email'|trans }}</dt>
						<dd class="col-sm-9">{{ profile.otherEmail | default('') }}</dd>

						<dt class="col-sm-3 text-right">{{ 'global.addr'|trans }}</dt>
						<dd class="col-sm-9">{{ profile.street|default('') }}</dd>

						<dt class="col-sm-3 text-right">{{ 'admin.profile.lunch_start_time'|trans }}</dt>
						<dd class="col-sm-9">{{ profile.lunchStartTime| date('G.i', false) | default('') }}</dd>

						<dt class="col-sm-3 text-right">{{ 'admin.profile.lunch_end_time'|trans }}</dt>
						<dd class="col-sm-9">{{ profile.lunchEndTime| date('G.i', false) | default('') }}</dd>

{#                        {% if profile.entity %}#}
{#							<dt class="col-sm-3 text-right">{{ 'global.entity'|trans }}</dt>#}
{#							<dd class="col-sm-9">{{ profile.entity | default('') }}</dd>#}
{#                        {% endif %}#}
					</dl>

					<div class="section-separator"></div>

					<h4 class="text-uppercase c-blue">{{ 'trainers.profile.billings_infos'|trans }} &nbsp;&nbsp;&nbsp; {% if profile.iban is defined and profile.iban is not null %} <a style="display: none;" id="visibleIcon" class="pointer"><i class="far fa-eye-slash"></i></a> <a style="display: none;" id="showIcon" class="pointer"><i class="far fa-eye"></i></a>{% endif %}</h4>

					<div class="row">
						{% if profile.iban is defined and profile.iban is not null %}
							<div id="imgBilling" class="col-md-10 no-padding">
								<div id="trainer-billing">
									{% if extIban == 'png' or extIban == 'jpg' or extIban == 'jpeg' %}
										<img width="100%" height="250" src="{{ profile.iban }}" alt="">
									{% else %}
										<div class="col-md-3 no-padding">
											<a class="btn btn-deepmark-orangelight" href="{{ profile.iban }}" download=""><i class="far fa fa-download no-margin"></i> file {{ extIban }} </a>
										</div>
									{% endif %}
								</div>
							</div>
						{% endif %}
					</div>
				</div>

				<div class="col-md-6">
					<h4 class="text-uppercase c-blue">{{ 'trainers.profile.profile_state'|trans }} ({{ 'trainers.profile.administrators'|trans }})</h4>

					<p>
						<span class="span-min-width">{{ 'trainers.profile.trainer_candidature'|trans }}</span>
						<a href="#" class="btn btn-sm btn-deepmark-green">{{ 'buttons.accept'|trans }} <i class="fal fa-check"></i></a>
					</p>

					<div class="section-separator"></div>

					<div class="row">
						<div class="col-md-6 no-padding-left">
							<h4 class="text-uppercase c-blue">{{ 'trainers.profile.my_skills'|trans }} </h4>
							{{ include('molecules/trainer/skills-list.html.twig', { skills: live_skills, addSkill: false }) }}
						</div>
						<div class="col-md-6">
							<h4 class="text-uppercase c-blue">{{ 'trainers.profile.resources'|trans }}</h4>
							<div class="ratings-list">
								<div>
									<p class="ilblock p-minwidth">{{ 'trainers.profile.grade'|trans }}</p>
									{{ include('molecules/widgets/ratings.html.twig', { max: 5, grade: ranking['grade'] is defined ? ranking['grade'] : 0  }) }}
									<p class="ilblock">{{ ranking['grade'] is defined ? ranking['grade'] }}/5</p>
								</div>
							</div>
						</div>

					</div>

					<div class="section-separator"></div>

					<h4 class="text-uppercase c-blue">{{ 'trainers.profile.my_documents'|trans }}</h4>
					<div class="row" id="administrative-documents-list">
						<div class="col-md-12 no-padding-left">
							<h5>Identite de l’entreprise</h5>
							{{ include('molecules/trainer/administrative-documents-list.html.twig', {documents: identityDoc}) }}
						</div>
						<div class="col-md-12 no-padding-left">
							<h5>Regime social</h5>
							{{ include('molecules/trainer/administrative-documents-list.html.twig', {documents: socialDoc}) }}
						</div>
						<div class="col-md-12 no-padding-left">
							<h5>Assurance RCP</h5>
							{{ include('molecules/trainer/administrative-documents-list.html.twig', {documents: assuranceDoc}) }}
						</div>
						<div class="col-md-12 no-padding-left">
							<h5>Contrat cadre</h5>
							{{ include('molecules/trainer/administrative-documents-list.html.twig', {documents: contractDoc}) }}
						</div>
						<div class="col-md-12 no-padding-left">
							<h5>Contrat mission</h5>
							{{ include('molecules/trainer/administrative-documents-list.html.twig', {documents: missionDocs}) }}
						</div>
					</div>
					<div class="section-separator"></div>

				</div>
			</div>


		</div>
	</div>
	<script>
		var myElement = document.getElementById('administrative-documents-list');
		new SimpleBar(myElement, { autoHide: true });
		{% if profile.iban is defined and profile.iban is not null %}
			$(document).ready(function () {
				$('#visibleIcon').click(function () {
					$("#imgBilling").hide();
					$("#visibleIcon").hide();
					$("#showIcon").show();
				});
				$('#visibleIcon').trigger("click");
				$('#showIcon').click(function () {
					$("#imgBilling").show();
					$("#visibleIcon").show();
					$("#showIcon").hide();
				});
			});
		{% endif %}
	</script>
{% endblock %}
