<div class="row">
    <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="info-box trainers">
            <span class="info-box-icon bg-aqua"><i class="fas fa-user-friends"></i></span>

            <div class="info-box-content">
                <span class="info-box-text">{{ 'trainers.statistics.number_of_trainer' | trans }}</span>
                <span class="info-box-number">{{ trainers|length }}</span>
            </div>
        </div>
    </div>

    <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="info-box supervisors">
            <span class="info-box-icon bg-aqua"><i class="fas fa-user-friends"></i></span>

            <div class="info-box-content">
                <span class="info-box-text">{{ 'trainers.statistics.number_of_supervisor' | trans }}</span>
                <span class="info-box-number">{{ supervisors|length }}</span>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="info-box learners">
            <span class="info-box-icon bg-aqua"><i class="fas fa-user-graduate"></i></span>

            <div class="info-box-content">
                <span class="info-box-text">{{ 'trainers.statistics.number_of_learner' | trans }}</span>
                <span class="info-box-number">{{ learners|length }}</span>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="info-box courses">
            <span class="info-box-icon bg-aqua"><i class="fas fa-chalkboard-teacher"></i></span>

            <div class="info-box-content">
                <span class="info-box-text">{{ 'trainers.statistics.number_of_course_in_progress' | trans }}</span>
                <span class="info-box-number">0</span>
            </div>
        </div>
    </div>

    <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="info-box individual">
            <span class="info-box-icon bg-aqua"><i class="fas fa-users-class"></i></span>

            <div class="info-box-content">
                <span class="info-box-text">{{ 'trainers.statistics.number_of_individual' | trans }}</span>
                <span class="info-box-number">0</span>
            </div>
        </div>
    </div>

    <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="info-box virtual">
            <span class="info-box-icon bg-aqua"><i class="fas fa-users-class"></i></span>

            <div class="info-box-content">
                <span class="info-box-text">{{ 'trainers.statistics.number_of_virtual_classroom' | trans }}</span>
                <span class="info-box-number">0</span>
            </div>
        </div>
    </div>

    <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="info-box workshop">
            <span class="info-box-icon bg-aqua"><i class="fas fa-users-class"></i></span>

            <div class="info-box-content">
                <span class="info-box-text">{{ 'trainers.statistics.number_of_workshop' | trans }}</span>
                <span class="info-box-number">0</span>
            </div>
        </div>
    </div>

    <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="info-box classroom">
            <span class="info-box-icon bg-aqua"><i class="fas fa-users-class"></i></span>

            <div class="info-box-content">
                <span class="info-box-text">{{ 'trainers.statistics.number_of_classroom' | trans }}</span>
                <span class="info-box-number">0</span>
            </div>
        </div>
    </div>
</div>