<div class="row custom marg-t-20 pb-1 stat-filter">
    <div class="col-md-4 height-120 no-padding period-filter d-none f-search marg-t-10">
        <div class="form-group datepicker-group btn-deepmark-light">
            <div class="col-md-12 no-padding  btn-deepmark">
                <label  class="text-white" for="startDate">{{ 'global.from'|trans }}</label>
            </div>
            <div class="input-group pad-t-10 btn-deepmark-light">
                <input id="startDate" type="text" class="form-control marg-l-10  datepicker" name="start_date" value="">
                <div class="input-group-append">
                    <span class="input-group-text"><i class="fal fa-calendar-alt"></i></span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 height-120 no-padding period-filter d-none f-search marg-t-10">
        <div class="form-group datepicker-group btn-deepmark-light">
            <div class="col-md-12 no-padding  btn-deepmark">
                <label class="text-white" for="endDate">{{ 'global.to'|trans|capitalize }}</label>
            </div>
            <div class="input-group pad-t-10 btn-deepmark-light">
                <input id="endDate" type="text" class="form-control marg-l-10 datepicker" name="end_date" value="">
                <div class="input-group-append">
                    <span class="input-group-text"><i class="fal fa-calendar-alt"></i></span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 no-padding filter course-filter global-filter quiz-filter organizationId f-search f-1 marg-t-10">
        <div class="form-group select-border datepicker-group">
            {% set organization = statisticsSearchParam.organization %}
            <div class="col-md-12 no-padding  btn-deepmark">
                <label class="text-white" for="organizationId">{{ 'trainers.statistics.organization'|trans }}</label>
            </div>
            <div class="input-group btn-deepmark-light">
                <select id="organizationId" class="form-control selectpicker"  data-container="body"  data-style="btn btn-link">
                    <option value="{{ organization.id }}">{{ organization.designation }}</option>
                </select>
            </div>
        </div>
    </div>
    <div class="col-md-4 no-padding filter course-filter global-filter quiz-filter entityId f-search f-2 marg-t-10">
        <div class="form-group select-border datepicker-group">
            <div class="col-md-12 no-padding  btn-deepmark">
                <label class="text-white" for="entityId">{{ 'trainers.statistics.entity'|trans }}</label>
            </div>
            <div class="input-group btn-deepmark-light">
                <select id="entityId" class="form-control  selectpicker"  data-container="body"  data-style="btn btn-link">

                </select>
            </div>
        </div>
    </div>
    <div class="col-md-4 no-padding filter quiz-filter regionalId f-search  f-2 marg-t-10">
        <div class="form-group select-border datepicker-group">
            <div class="col-md-12 no-padding  btn-deepmark">
                <label class="text-white" for="regionalId">{{ 'trainers.statistics.regional_direction'|trans }}</label>
            </div>
            <div class="input-group btn-deepmark-light">
                <select id="regionalId" class="form-control  selectpicker"  data-container="body"  data-style="btn btn-link">
                </select>
            </div>
        </div>
    </div>
    <div class="col-md-4 no-padding filter quiz-filter f-search  f-1 marg-t-10">
        <div class="form-group select-border datepicker-group">
            <div class="col-md-12 no-padding  btn-deepmark">
                <label class="text-white" for="sectorId">{{ 'trainers.statistics.group'|trans }}</label>
            </div>
            <div class="input-group btn-deepmark-light">
                <select id="sectorId" class="form-control  selectpicker"  data-container="body"  data-style="btn btn-link">

                </select>
            </div>
        </div>
    </div>
    <div class="col-md-4 no-padding filter quiz-filter f-search f-1 marg-t-10">
        <div class="form-group select-border datepicker-group">
            <div class="col-md-12 no-padding  btn-deepmark">
                <label class="text-white" for="workplaceId">{{ 'trainers.statistics.workplace'|trans }}</label>
            </div>
            <div class="input-group btn-deepmark-light">
                <select id="workplaceId" class="form-control  selectpicker"  data-container="body"  data-style="btn btn-link">

                </select>
            </div>
        </div>
    </div>
    <div class="col-md-4 no-padding filter quiz-filter f-search f-1 marg-t-10">
        <div class="form-group select-border datepicker-group">
            <div class="col-md-12 no-padding  btn-deepmark">
                <label class="text-white" for="groupId">{{ 'global.trainning_group'|trans }}</label>
            </div>
            <div class="input-group btn-deepmark-light">
                <select id="groupId" class="form-control  selectpicker"  data-container="body"  data-style="btn btn-link">

                </select>
            </div>
        </div>
    </div>
    <div class="col-md-4 no-padding filter global-filter course-filter quiz-filter courseId f-search  f-2 marg-t-10">
        <div class="form-group select-border datepicker-group">
            <div class="col-md-12 no-padding  btn-deepmark">
                <label class="text-white" for="courseId" class="text-white">{{ 'table.intervention_name'|trans }}</label>
            </div>
            <div class="input-group btn-deepmark-light">
                <select id="courseId" class="form-control  selectpicker"  data-container="body"  data-style="btn btn-link">

                </select>
            </div>
        </div>
    </div>
    <div class="col-md-4 filter no-padding f-search f-2 marg-t-10">
        <div class="form-group select-border datepicker-group">
            <div class="col-md-12 no-padding  btn-deepmark">
                <label class="text-white" for="moduleId">{{ 'table.module_name'|trans }}</label>
            </div>
            <div class="input-group btn-deepmark-light">
                <select id="moduleId" class="form-control selectpicker" data-container="body" data-style="btn btn-link">

                </select>
            </div>
        </div>
    </div>
    <div class="col-md-4 no-padding filter f-search f-1 marg-t-10">
        <div class="form-group select-border datepicker-group">
            {% set moduleType = statisticsSearchParam.moduleType %}
            <div class="col-md-12 no-padding  btn-deepmark">
                <label class="text-white" for="moduleTypeId">{{ 'trainers.statistics.module_type'|trans }}</label>
            </div>
            <div class="input-group btn-deepmark-light">
                <select id="moduleTypeId" class="form-control  selectpicker"  data-container="body"  data-style="btn btn-link">
                    <option value="0">{{ 'trainers.statistics.export.all'|trans }}</option>
                    {% for type in moduleType %}
                        <option value="{{ type.id }}">{{ type.designation }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
    </div>
    <div class="col-md-4 no-padding filter f-search f-1 marg-t-10">
        <div class="form-group select-border datepicker-group">
            {% set statuses = statisticsSearchParam.status %}
            <div class="col-md-12 no-padding  btn-deepmark">
                <label class="text-white" for="statusId">{{ 'trainers.statistics.status'|trans }}</label>
            </div>
            <div class="input-group btn-deepmark-light">
                <select id="statusId" class="form-control  selectpicker"  data-container="body"  data-style="btn btn-link">
                    <option value="0">{{ 'trainers.statistics.export.all'|trans }}</option>
                    {% for status in statuses %}
                        <option value="{{ status.id }}">{{ status.designation }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
    </div>

    <!-- Quiz -->
    <div class="no-padding filter quiz-filter-only col-md-2 marg-t-10">
        <div class="form-group select-border datepicker-group">
            <div class="col-md-12 no-padding  btn-deepmark">
                <label class="text-white" for="quizIsSurvey">{{ 'admin.statistic.quiz.is_survey.title'|trans }}</label>
            </div>
            <div class="input-group btn-deepmark-light">
                <select id="quizIsSurvey" class="form-control  selectpicker"  data-container="body"  data-style="btn btn-link">
                    <option value="all">{{ 'trainers.statistics.export.all'|trans }}</option>
                    <option value="0">{{ 'admin.statistic.quiz.is_survey.no'|trans }}</option>
                    <option value="1">{{ 'admin.statistic.quiz.is_survey.yes'|trans }}</option>
                </select>
            </div>
        </div>
    </div>
    <div class="no-padding filter quiz-filter-only col-md-2 marg-t-10">
        <div class="form-group select-border datepicker-group">
            {% set quizes = statisticsSearchParam.quiz %}
            <div class="col-md-12 no-padding  btn-deepmark">
                <label class="text-white" for="quizId">{{ 'admin.statistic.quiz.assignment'|trans }}</label>
            </div>
            <div class="input-group btn-deepmark-light">
                <select id="quizId" class="form-control  selectpicker"  data-container="body"  data-style="btn btn-link">
                    <option value="all">{{ 'trainers.statistics.export.all'|trans }}</option>
                    {% for quiz in quizes %}
                        <option value="{{ quiz.id }}">{{ quiz.title }}</option>
                    {% endfor %}
                </select> 
            </div>
        </div>
    </div>
    <!-- Quiz END -->


    <div class="col-md-4 no-padding filter course-filter quiz-filter typeStatDiv f-search marg-t-10">
        <div class="form-group select-border datepicker-group">
            <div class="col-md-12 no-padding  btn-deepmark">
                <label class="text-white" for="typeReport">{{ 'trainers.statistics.type_report' | trans }}</label>
            </div>
            <div class="input-group btn-deepmark-light">
                <select id="typeReport" class="form-control selectpicker"  data-container="body"  data-style="btn btn-link">
                    <option value="1">{{ 'trainers.statistics.type_report_by_course' | trans }}</option>
                    {#<option value="2">{{ 'trainers.statistics.type_report_by_registered_users' | trans }}</option>#}
                    <option value="3">{{ 'trainers.statistics.type_report_by_course_module' | trans }}</option>
                    <option value="8">{{ 'trainers.statistics.type_report_by_learner_progression' | trans }}</option>
                    <option value="4">{{ 'trainers.statistics.type_report_by_module' | trans }}</option>
                    {#<option value="5">{{ 'trainers.statistics.type_report_by_logged_user' | trans }}</option>#}
                    {#<option value="6">{{ 'trainers.statistics.type_report_by_quiz_results' | trans }}</option>#}
                    <option class="d-none" value="7">{{ 'admin.statistic.activity' | trans }}</option>
                    <option class="d-none"  value="9">{{ 'trainers.statistics.type_report_by_global' | trans }}</option>

                    {# Quiz #}
                    <option class="hide-element quiz-filter-val" value="11" data-tab="1">{{ 'admin.statistic.quiz.report_by_assignment' | trans }}</option>
                    <option class="hide-element quiz-filter-val" value="11" data-tab="2">{{ 'admin.statistic.quiz.report_by_question' | trans }}</option>
                    <option class="hide-element quiz-filter-val" value="11" data-tab="3">{{ 'admin.statistic.quiz.report_by_user' | trans }}</option>
                    <option class="hide-element quiz-filter-val" value="11" data-tab="4">{{ 'admin.statistic.quiz.report_by_reply' | trans }}</option>
                    {# Quiz END #}
                </select>
            </div>
        </div>
    </div>
</div>
<div class="row pad-b-20 pad-t-10">
    <div class="col-md-12 text-center no-padding ">
        <div id="searchDiv" class="form-group no-margin no-padding">
            <input type="hidden" id="typeTxt">
            <button id="searchBtn" class="btn btn-deepmark-orangelight">{{ 'search.content'|trans }}</button>
        </div>
    </div>
</div>
<script type="text/javascript" src="{{ asset('js/lang_datatable.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/admin/statistics/filters.js') }}"></script>
<script>
    $(document).ready(function () {
        let language = $('#locate').val();

        //week action for dashboard
        $('#prevWeekActivities').on('click', function () {
            var start = $('#activitiesWeekStart').val();
            var activitiesWeekStart = GetLastWeekStart(start);
            var activitiesWeekEnd = GetLastWeekEnd(start);

            $('#activitiesWeekStart').val(activitiesWeekStart.format('YYYY-MM-DD'));
            $('#activitiesWeekEnd').val(activitiesWeekEnd.format('YYYY-MM-DD'));
            $('#startDate').val(activitiesWeekStart.format('DD/MM/YYYY'));
            $('#endDate').val(activitiesWeekEnd.format('DD/MM/YYYY'));
            $('#weekRangeDateActivities').html('<span>' + activitiesWeekStart.format('DD/MM/YYYY') + '</span> – <span>' + activitiesWeekEnd.format('DD/MM/YYYY') + '</span>');
            if ($("#typeReport").val() == 9) {
                let currentDay = moment().format('YYYY-MM-DD');
                let nextWeek = activitiesWeekEnd.add(1, 'days');
                if (nextWeek.format('YYYY-MM-DD') <= currentDay) {
                    $("#nextWeekActivities").attr("disabled", false);
                } else {
                    $("#nextWeekActivities").attr("disabled", true);
                }
            }


        });

        $('#nextWeekActivities').on('click', function () {
            var start = $('#activitiesWeekEnd').val();
            var activitiesWeekStart = GetNextWeekStart(start);
            var activitiesWeekEnd = GetNextWeekEnd(start);

            $('#activitiesWeekStart').val(activitiesWeekStart.format('YYYY-MM-DD'));
            $('#activitiesWeekEnd').val(activitiesWeekEnd.format('YYYY-MM-DD'));
            $('#startDate').val(activitiesWeekStart.format('DD/MM/YYYY'));
            $('#endDate').val(activitiesWeekEnd.format('DD/MM/YYYY'));
            $('#weekRangeDateActivities').html('<span>' + activitiesWeekStart.format('DD/MM/YYYY') + '</span> – <span>' + activitiesWeekEnd.format('DD/MM/YYYY') + '</span>');
            if ($("#typeReport").val() == 9) {

                let currentDay = moment().format('YYYY-MM-DD');
                let nextWeek = activitiesWeekEnd.add(1, 'days');
                if (nextWeek.format('YYYY-MM-DD') <= currentDay) {
                    $("#nextWeekActivities").attr("disabled", false);
                } else {
                    $("#nextWeekActivities").attr("disabled", true);
                }
            }
        });

        // begin month
        $('#prevMonthActivities').on('click', function () {
            var start = $('#activitiesMonthStart').val();
            var activitiesMonthStart = GetLastMonthStart(start);
            var activitiesMonthEnd = GetLastMonthEnd(start);

            $('#activitiesMonthStart').val(activitiesMonthStart.format('YYYY-MM-DD'));
            $('#activitiesMonthEnd').val(activitiesMonthEnd.format('YYYY-MM-DD'));
            $('#startDate').val(activitiesMonthStart.format('DD/MM/YYYY'));
            $('#endDate').val(activitiesMonthEnd.format('DD/MM/YYYY'));
            $('#monthRangeDateActivities').html('<span>' + activitiesMonthStart.locale(language).format('MMMM YYYY') + '</span>');
            if ($("#typeReport").val() == 9) {

                let currentMonth = moment().format('YYYY-MM');
                let nextMonth = activitiesMonthEnd.add(1, 'months');
                if (nextMonth.format('YYYY-MM') <= currentMonth) {
                    $("#nextMonthActivities").attr("disabled", false);
                } else {
                    $("#nextMonthActivities").attr("disabled", true);
                }
            }
        });

        $('#nextMonthActivities').on('click', function () {
            var start = $('#activitiesMonthStart').val();
            var activitiesMonthStart = GetNextMonthStart(start);
            var activitiesMonthEnd = GetNextMonthEnd(start);
            $('#activitiesMonthStart').val(activitiesMonthStart.format('YYYY-MM-DD'));
            $('#activitiesMonthEnd').val(activitiesMonthEnd.format('YYYY-MM-DD'));
            $('#startDate').val(activitiesMonthStart.format('DD/MM/YYYY'));
            $('#endDate').val(activitiesMonthEnd.format('DD/MM/YYYY'));
            $('#monthRangeDateActivities').html('<span>' + activitiesMonthStart.locale(language).format('MMMM YYYY') + '</span>');

            if ($("#typeReport").val() == 9) {
                let currentMonth = moment().format('YYYY-MM');
                let nextMonth = activitiesMonthEnd.add(1, 'months');
                if (nextMonth.format('YYYY-MM') <= currentMonth) {
                    $("#nextMonthActivities").attr("disabled", false);
                } else {
                    $("#nextMonthActivities").attr("disabled", true);
                }
            }
        });
        // end month

        // begin year
        $('#prevYearActivities').on('click', function () {
            var start = $('#activitiesYearStart').val();
            var activitiesYearStart = GetLastYearStart(start);
            var activitiesYearEnd = GetLastYearEnd(start);

            $('#activitiesYearStart').val(activitiesYearStart.format('YYYY-MM-DD'));
            $('#activitiesYearEnd').val(activitiesYearEnd.format('YYYY-MM-DD'));
            $('#startDate').val(activitiesYearStart.format('DD/MM/YYYY'));
            $('#endDate').val(activitiesYearEnd.format('DD/MM/YYYY'));
            $('#yearRangeDateActivities').html('<span>' + activitiesYearStart.format('YYYY') + '</span>');
            if ($("#typeReport").val() == 9) {

                let currentYear = moment().format('YYYY');
                let nextYear = activitiesYearEnd.add(1, 'years');
                if (nextYear.format('YYYY') <= currentYear) {
                    $("#nextYearActivities").attr("disabled", false);
                } else {
                    $("#nextYearActivities").attr("disabled", true);
                }
            }
        });

        $('#nextYearActivities').on('click', function () {
            var start = $('#activitiesYearStart').val();
            var activitiesYearStart = GetNextYearStart(start);
            var activitiesYearEnd = GetNextYearEnd(start);

            $('#activitiesYearStart').val(activitiesYearStart.format('YYYY-MM-DD'));
            $('#activitiesYearEnd').val(activitiesYearEnd.format('YYYY-MM-DD'));
            $('#startDate').val(activitiesYearStart.format('DD/MM/YYYY'));
            $('#endDate').val(activitiesYearEnd.format('DD/MM/YYYY'));
            $('#yearRangeDateActivities').html('<span>' + activitiesYearStart.format('YYYY') + '</span>');
            if ($("#typeReport").val() == 9) {

                let currentYear = moment().format('YYYY');
                let nextYear = activitiesYearEnd.add(1, 'years');
                if (nextYear.format('YYYY') <= currentYear) {
                    $("#nextYearActivities").attr("disabled", false);
                } else {
                    $("#nextYearActivities").attr("disabled", true);
                }
            }
        });
        // end year

        function GetNextWeekStart(today) {
            today = moment(today);

            return today.add(1, 'days');
        }

        function GetNextWeekEnd(today) {
            var nextMonday = GetNextWeekStart(today);

            return nextMonday.add(6, 'days');
        }

        function GetLastWeekStart(today) {
            today = moment(today);

            return today.subtract(7, 'days');
        }

        function GetLastWeekEnd(today) {
            var lastMonday = GetLastWeekStart(today);
            return lastMonday.add(6, 'days');
        }
        //end week action for dashboard

        // begin month
        function GetNextMonthStart(today) {
            today = moment(today);
            var startMonth = today.add(1, 'months');
            return startMonth;
        }

        function GetNextMonthEnd(today) {
            var nextMonth = GetNextMonthStart(today);
            return nextMonth.endOf('month');
        }

        function GetLastMonthStart(today) {
            today = moment(today);
            var startMonth = today.subtract(1, 'months');
            return startMonth;
        }

        function GetLastMonthEnd(today) {
            var lastMonth = GetLastMonthStart(today);
            return lastMonth.endOf('month');
        }
        // end month

        // begin year
        function GetNextYearStart(today) {
            today = moment(today);
            var startYear = today.add(1, 'years');
            return startYear;
        }

        function GetNextYearEnd(today) {
            var nextMonth = GetNextYearStart(today);
            return nextMonth.endOf('year');
        }

        function GetLastYearStart(today) {
            today = moment(today);
            var startYear = today.subtract(1, 'years');
            return startYear;
        }

        function GetLastYearEnd(today) {
            var lastYear = GetLastYearStart(today);
            return lastYear.endOf('year');
        }
        // end month



        $("#typeReport").change(function () {
            let typeTxt = $("#typeReport option:selected").text();
            $("#typeTxt").val(typeTxt);
        });
        $("#typeReport").trigger('change');

        $("#organizationId").change(function () {
            $("#entityId").empty();
            {% if isSupervisor == 1 %}
                $("#entityId").append($("<option />").val({{ profileEntity.id }}).text('{{ profileEntity.designation }}'));
            {% else %}
                let organizationId = $(this).val();
                if (organizationId != '') {
                    $.ajax({
                        type: "POST",
                        url: '/admin/stats/organizationEntity',
                        data: {"organizationId": organizationId},
                        success: function (data) {
                            $("#entityId").append($("<option />").val(0).text('{{ 'trainers.statistics.export.all'|trans }}'));
                            $.each(data, function (i, data) {
                                $("#entityId").append($("<option />").val(data.id).text(data.designation));
                            });
                            $('#entityId').selectpicker('refresh');
                        }
                    });
                }
            {% endif %}
                $('#entityId').selectpicker('refresh');
            });

            $("#entityId").change(function () {
                let entityId = $(this).val();
                let organizationId = $("#organizationId").val();
                if (entityId != '') {
                    $("#courseId").empty();
                    $.ajax({
                        type: "POST",
                        url: '/admin/stats/entityCourse',
                        data: {"entityId": entityId, 'organizationId': organizationId},
                        success: function (data) {
                            $("#courseId").append($("<option />").val(0).text(' {{ 'trainers.statistics.export.all'|trans  }}'));
                            $.each(data, function (i, data) {
                                $("#courseId").append($("<option />").val(data.id).text(data.designation));
                            });
                            $('#courseId').selectpicker('refresh');
                            $("#courseId").trigger('change');
                        }
                    });

                    $("#groupId").empty();
                    $.ajax({
                        type: "POST",
                        url: '/admin/stats/entityGroup',
                        data: {"entityId": entityId, 'organizationId': organizationId},
                        success: function (data) {
                            $("#groupId").append($("<option />").val(0).text('{{ 'trainers.statistics.export.all'|trans }}'));
                            $.each(data, function (i, data) {
                                $("#groupId").append($("<option />").val(data.id).text(data.designation));
                            });
                            $('#groupId').selectpicker('refresh');
                        }
                    });

                    $("#regionalId").empty();
                    $.ajax({
                        type: "POST",
                        url: '/admin/stats/entityRegion',
                        data: {"entityId": entityId, 'organizationId': organizationId},
                        success: function (data) {
                            $("#regionalId").append($("<option />").val(0).text('{{ 'trainers.statistics.export.all'|trans }}'));
                            $.each(data, function (i, data) {
                                $("#regionalId").append($("<option />").val(data.id).text(data.designation));
                            });
                            $('#regionalId').selectpicker('refresh');
                            $("#regionalId").trigger('change');

                        }
                    });

                }

            });

            $("#regionalId").change(function () {
                let regionalId = $(this).val();
                let organizationId = $("#organizationId").val();
                let entityId = $("#entityId").val();
                if (regionalId != '') {

                    $("#sectorId").empty();

                    $.ajax({
                        type: "POST",
                        url: '/admin/stats/regionSector',
                        data: {"regionalId": regionalId, "entityId": entityId, 'organizationId': organizationId},
                        success: function (data) {
                            $("#sectorId").append($("<option />").val(0).text('{{ 'trainers.statistics.export.all'|trans }}'));
                            $.each(data, function (i, data) {
                                $("#sectorId").append($("<option />").val(data.id).text(data.designation));
                            });
                            $('#sectorId').selectpicker('refresh');

                            $("#sectorId").trigger('change');

                        }

                    });

                }

            }); 

            $("#sectorId").change(function () {
                let sectorId = $(this).val();
                let regionalId = $("#regionalId").val();
                let organizationId = $("#organizationId").val();
                let entityId = $("#entityId").val();
                if (sectorId != '') {

                    $("#workplaceId").empty();

                    $.ajax({
                        type: "POST",
                        url: '/admin/stats/sectorWorkplace',
                        data: {"sectorId": sectorId, "regionalId": regionalId, "entityId": entityId, 'organizationId': organizationId},
                        success: function (data) {
                            $("#workplaceId").append($("<option />").val(0).text('{{ 'trainers.statistics.export.all'|trans }}'));
                            $.each(data, function (i, data) {
                                $("#workplaceId").append($("<option />").val(data.id).text(data.designation));
                            });
                            $('#workplaceId').selectpicker('refresh');
                        }
                    });

                }

            });

            $("#courseId").change(function () {
                let courseId = $(this).val();
                let organizationId = $("#organizationId").val();
                let entityId = $("#entityId").val();
                if (courseId != '') {

                    $("#moduleId").empty();

                    $.ajax({
                        type: "POST",
                        url: '/admin/stats/courseModule',
                        data: {"courseId": courseId, "entityId": entityId, 'organizationId': organizationId},
                        success: function (data) {
                            $("#moduleId").append($("<option />").val(0).text('{{ 'trainers.statistics.export.all'|trans }}'));
                            $.each(data, function (i, data) {
                                $("#moduleId").append($("<option />").val(data.id).text(data.designation));
                            });
                            $('#moduleId').selectpicker('refresh');
                        }
                    });

                }

            });
            $("#courseId").trigger('change');

            let locate = $('#locate').val();
            $('#startDate').datetimepicker({
                format: 'DD/MM/YYYY',
                locale: locate,
                maxDate: new Date(),
            });
            $('#endDate').datetimepicker({
                format: 'DD/MM/YYYY',
                locale: locate,
                maxDate: new Date(),
            });

            $('#startDate').on('dp.change', function (e) {
                let startDate = $('#startDate').val();
                $("#startDateTxt").text(startDate);

            })

            $('#endDate').on('dp.change', function (e) {
                let endDate = $('#endDate').val();
                $("#endDateTxt").text(endDate);

            })


            $('#searchBtn').click(function () {
                searchHandler();
            });
            $('#exportBtn').click(function () {
                searchHandler(true)
            });
            $('#exportPdfBtn').click(function () {
                searchHandler(true, true)
            });
            $('#exportCourseBtn').click(function () {
                searchHandler(true)
            });

            $('#exportCourseBtnPerso').click(function () {
                searchHandler(true, false, true)
            });
            
            $('#exportQuizBtnAll').click(function () {
                searchHandler(true, false, false)
            });
            $('#exportQuizBtnPerso').click(function () {
                searchHandler(true, false, true)
            });
        });
        function dateNewFormat(date) {
            return date = date.split("/").reverse().join("-");
        }
        function searchHandler($isExport = false, $isPdf = false, $isPersonnal = false) {
            $('.loader').show();
            let dateTimeFrom;
            let dateTimeTo;
            let dateTimeStart = dateNewFormat($('#startDate').val());
            let dateTimeEnd = dateNewFormat($('#endDate').val());
            let type = $('#typeReport').val();
            let tab = $('#typeReport option:selected').data('tab');
            let moduleTypeId = $('#moduleTypeId').val();
            let moduleId = $('#moduleId').val();
            let courseId = $('#courseId').val();
            let entityId = $('#entityId').val();
            let organizationId = $('#organizationId').val();
            let regionalId = $('#regionalId').val();
            let sectorId = $('#sectorId').val();
            let workplaceId = $('#workplaceId').val();
            let groupId = $('#groupId').val();
            let statusId = $('#statusId').val();
            let isExport = $isExport;
            let quizIsSurvey = $('#quizIsSurvey').val();
            let quizId = $('#quizId').val();
            let locate = $('#locate').val();
            let default_locate = $('#default_locale').val();
            locate = (locate == default_locate) ? '' : '/' + locate;

            if (type != 9 && type != 7) {
                dateTimeStart = '2019-01-01';
                dateTimeEnd = moment().add(12, 'months').format('YYYY-MM-DD');
            }

            if ($isExport) {
                let url = locate + '/admin/stats/getStatisticByType?from=' + dateTimeStart + '&to=' + dateTimeEnd + '&type='+(type == 11 ? type : 'all')+'&moduleTypeId=' + moduleTypeId + '&moduleId=' + moduleId + '&organizationId=' + organizationId + '&courseId=' + courseId + '&entity_id=' + entityId + '&regionalId=' + regionalId + '&sectorId=' + sectorId + '&workplaceId=' + workplaceId + '&quizIsSurvey='+quizIsSurvey+'&quizId='+quizId+'&isExport=true&isPersonnalExport='+$isPersonnal;
                if (type == 9) {
                    url = locate + '/admin/stats/getStatisticByType?from=' + dateTimeStart + '&to=' + dateTimeEnd + '&type=' + type + '&moduleTypeId=' + moduleTypeId + '&moduleId=' + moduleId + '&organizationId=' + organizationId + '&courseId=' + courseId + '&entity_id=' + entityId + '&regionalId=' + regionalId + '&sectorId=' + sectorId + '&workplaceId=' + workplaceId + '&isExport=true';
                    if ($isPdf) {
                        url = url + '&isPdf=true';
                    }
                }
                $('.loader').hide();
                window.open(url);
            } else {
                var header = '';
                if (type == 7) {
                    header = '{{ 'global.period'|trans }} {{ 'global.from'|trans }} ' + $('#startDate').val() + ' {{ 'global.to'|trans }} ' + $('#endDate').val();
                }
                let entityName = $("#entityId").val() == 0 ? 'Entity_all' : $("#entityId option:selected").text();
                var title = entityName + '_' + $("#typeTxt").val() + " (" + moment().format('DD-MM-YYYY') + ") ";
                $.ajax({
                    url: locate + '/admin/stats/getStatisticByType',
                    data: {
                        'from': dateTimeStart,
                        'to': dateTimeEnd,
                        'type': type,
                        'tabs': [tab],
                        'moduleTypeId': moduleTypeId,
                        'moduleId': moduleId,
                        'organizationId': organizationId,
                        'courseId': courseId,
                        'entity_id': entityId,
                        'regionalId': regionalId,
                        'sectorId': sectorId,
                        'workplaceId': workplaceId,
                        'groupId': groupId,
                        'statusId': statusId,
                        'isExport': isExport,
                        'quizIsSurvey': quizIsSurvey,
                        'quizId' : quizId
                    },
                    success: function (data) {
                        let order = [];
                        if (type == 1) {
                            order = [[ 13, "desc" ], [ 14, "desc" ], [ 15, "desc" ]];
                        } else if (type == 8) {
                            order = [[ 12, "desc" ], [ 19, "desc" ], [ 20, "desc" ], [ 21, "desc" ]];
                        } else if (type == 4) {
                            order = [[ 19, "desc" ]];
                        } else if (type == 7) {
                            order = [[ 16, "desc" ]];
                        } else if (type == 11) {
                            if (tab == 3){
                                order = [[ 22, "desc" ], [ 23, "desc" ]];
                            }
                        }



                        $('.loader').hide();
                        $(".stat-data").removeClass('d-none');
                        $('#tableStatisticsData').html(data);
                        let lang = languageDatatable();

                        /**
                         * export Mes Statistiques parcours
                         * type 1: tab 1
                         * type 3: tab 2
                         * type 8: tab 3
                         * type 4: tab 4
                         *
                         * */
                        if(typeof columnsExport !== 'undefined'){
                            columnsExport = JSON.parse(columnsExport.replace(/&quot;/g,'"'));
                            var columnsIndexExport = [];
                            if(typeof columnsExport[1] !== 'undefined' && type == 1){
                                $('#dataTableStatistic > thead > tr > th').each(function(key, value){
                                    if (columnsExport[1][key] !== undefined){
                                        columnsIndexExport.push(key);
                                    }
                                });
                            }
                            if(typeof columnsExport[2] !== 'undefined' && type == 3){
                                $('#dataTableStatistic > thead > tr > th').each(function(key, value){
                                    if (columnsExport[2][key] !== undefined){
                                        columnsIndexExport.push(key);
                                    }
                                });
                            }
                            if(typeof columnsExport[3] !== 'undefined' && type == 8){
                                $('#dataTableStatistic > thead > tr > th').each(function(key, value){
                                    if (columnsExport[3][key] !== undefined){
                                        columnsIndexExport.push(key);
                                    }
                                });
                            }
                            if(typeof columnsExport[4] !== 'undefined' && type == 4){
                                $('#dataTableStatistic > thead > tr > th').each(function(key, value){
                                    if (columnsExport[4][key] !== undefined){
                                        columnsIndexExport.push(key);
                                    }
                                });
                            }

                        }

                        $('#dataTableStatistic').DataTable({
                            "language": lang,
                            dom: 'Bfrtip',
                            "scrollX": true,
                            "order": order,
                            buttons: [
                                {extend: 'pdfHtml5',
                                    orientation: 'landscape',
                                    pageSize: 'A3',
                                    filename: title,
                                    title: header,
                                    exportOptions: {
                                        columns: columnsIndexExport ? columnsIndexExport : ':visible'
                                    },
                                    customize: function (doc) {
                                        doc.styles.title = {
                                            alignment: 'left'
                                        }
                                    }
                                },
                                {
                                    extend: 'excelHtml5',
                                    sheetName: $("#typeTxt").val(),
                                    filename: title,
                                    title: header,
                                    exportOptions: {
                                        columns: columnsIndexExport ? columnsIndexExport : ':visible',
                                    },
                                    customize: function (xlsx) {
                                        let type = $('#typeReport').val();
                                        if (type == 7) {
                                            var sheet = xlsx.xl.worksheets['sheet1.xml'];
                                            $('row c[r^="A"]', sheet).attr('s', '50');
                                            let i = 0;
                                            $('row c[r^="A"]', sheet).each(function () {
                                                if (i == 1) {
                                                    $(this).attr('s', '2');
                                                }

                                                i++;

                                            });
                                        }
                                    }

                                },
                                {
                                    extend: 'csvHtml5',
                                    sheetName: title,
                                    filename: title,
                                    title: header,
                                    bom: true,
                                    exportOptions: {
                                        columns: columnsIndexExport ? columnsIndexExport : ':visible'
                                    },
                                    customize: function (csv) {
                                        return header + " \n" + csv;
                                    }
                                },
                                'colvis'
                            ]
                        });
                        $("#dataTableStatistic").trigger("update");
                        /*
                         // https://datatables.net/extensions/scroller/
                         // https://datatables.net/extensions/scroller/examples/initialisation/server-side_processing.html
                         $('#dataTableStatistic').DataTable({
                         dom: 'Bfrtip',
                         scrollX: true,
                         deferRender:    true,
                         scroller:       true,
                         scrollY: 500,
                         scroller: {
                         loadingIndicator: true
                         },
                         buttons: [
                         'csv',
                         'excel',
                         { extend: 'pdfHtml5',  orientation : 'landscape', pageSize : 'A3', },
                         'colvis'
                         ]
                         });*/
                        $('.buttons-colvis').on('click', function () {
                            $('.dt-button-collection').addClass('show');
                        });
                    },
                    error: function () {
                        $('.loader').hide();
                        swal({
                            title: translations.error,
                            text: "",
                            type: "error",
                            showCancelButton: false,
                            showConfirmButton: false,
                            closeOnConfirm: false,
                            closeOnCancel: false,
                            timer: 1500
                        });
                    }
                });
        }
        }
</script>
