{% extends 'base.html.twig' %}

{% block pagename %}{{ title }}{% endblock %}

{% block body %}
    <link rel="stylesheet" href="{{ asset('css/clockpicker.css') }}" media="all"/>
    <style>
        .form-inline label {
            justify-content: left !important;
        }

        .card .card-header {
            padding: .75rem 1.25rem;
            margin-bottom: 0;
            background-color: rgba(0, 0, 0, .03);
            border-bottom: 1px solid rgba(0, 0, 0, .125);
        }

        .card .card-footer {
            border-top: 1px solid rgba(0, 0, 0, .125);
            background-color: rgba(0, 0, 0, .03);
            padding: .75rem 1.25rem !important;
        }

        .info-box {
            display: block;
            min-height: 90px;
            background: #fff;
            width: 100%;
            box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
            border-radius: 2px;
            margin-bottom: 15px;
        }

        .info-box-content {
            padding: 5px 10px;
            margin-left: 90px;
        }

        .bg-aqua, .callout.callout-info, .alert-info, .label-info, .modal-info .modal-body {
            background-color: #00c0ef !important;
        }

        .info-box-icon {
            border-top-left-radius: 2px;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 2px;
            display: block;
            float: left;
            height: 90px;
            width: 90px;
            text-align: center;
            font-size: 45px;
            line-height: 90px;
            background: rgba(0, 0, 0, 0.2);
        }

        .info-box-text {
            text-transform: uppercase;
        }

        .progress-description, .info-box-text {
            display: block;
            font-size: 14px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .info-box-number {
            display: block;
            font-weight: bold;
            font-size: 18px;
        }
        .bootstrap-select .dropdown-item.active {
             background: #ffad17;
        }
    </style>
    <div class="card bg-white admin-statistics">
        <div class="col-md-12 pad-t-20 marg-bottom-20 text-center">
            <ul class="nav nav-pills  justify-content-center">
                <li class="nav-item">
                    <a id="globalBtn" class="btn active text-capitalize report-to-do global_statistic change_tab" data-action="global">{{ 'admin.statistic.global_statistic'|trans }}</a>
                </li>
                <li class="nav-item">
                    <a id="courseBtn" class="btn text-capitalize report-pending course_statistic change_tab" data-action="course">{{ 'admin.statistic.course_statistic'|trans }}</a>
                </li>
                <li class="nav-item">
                    <a id="activityBtn" class="btn text-capitalize report-done activity_statistic change_tab" data-action="activity">{{ 'admin.statistic.activity_statistic'|trans }}</a>
                </li>
                <li class="nav-item">
                    <a id="quizBtn" class="btn text-capitalize btn-border border-radius-20 quiz_statistic change_tab" data-action="quiz">{{ 'admin.statistic.quiz_statistic'|trans }}</a>
                </li>
            </ul>
        </div>

        <div>
            <div class="col-md-12 stat d-none" id="global">
                <h3 class="text-center marg-b-10 marg-t-10 color-header bold"> {{ 'admin.statistic.global_statistic'|trans }} </h3>
            </div>
            <div class="row stat d-none" id="course">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <h3 class="text-center marg-b-10 marg-t-10 color-header bold"> {{ 'admin.statistic.course_statistic'|trans }} </h3>
                </div>
                <div class="col-md-4 pad-l-0 text-right exportAll filter course-filter">
                    <button id="exportCourseBtn" class="btn btn-orangelight btn-sm"><i class="fal fa-file-export"></i>  {{ 'search.export_all'|trans }}</button>
                    <button class="btn btn-orangelight btn-sm exportPerso" id="exportCourseBtnPerso"><i class="fal fa-file-export"></i>  {{ 'search.export_perso'|trans }}</button>
                    <button class="btn btn-gray btn-sm configurePerso" data-toggle="modal" data-target="#configure-perso"><i class="fal fa-cog"></i>  {{ 'search.configure_perso'|trans }}</button>
                </div>

            </div>
            <div class="col-md-12 stat d-none" id="activity">
                <h3 class="text-center marg-b-10 marg-t-10 color-header bold"> {{ 'admin.statistic.activity_statistic'|trans }} </h3>
            </div>

            <div class="row stat d-none" id="quiz">
                <div class="col-md-12">
                    <h3 class="text-center marg-b-10 marg-t-10 color-header bold"> {{ 'admin.statistic.quiz_statistic'|trans }} </h3>
                </div>
                <div class="col-md-12 text-right exportAll quiz-filter">
                    <button class="btn btn-orangelight btn-sm exportFull" id="exportQuizBtnAll"><i class="fal fa-file-export"></i>  {{ 'search.export_all'|trans }}</button>
                    <button class="btn btn-orangelight btn-sm exportPerso" id="exportQuizBtnPerso"><i class="fal fa-file-export"></i>  {{ 'search.export_perso'|trans }}</button>
                    <button class="btn btn-gray btn-sm configurePerso" data-toggle="modal" data-target="#configure-perso"><i class="fal fa-cog"></i>  {{ 'search.configure_perso'|trans }}</button>
                </div>
            </div>
            <div class="row filter-calendar flex--center filter  global-filter d-none marg-t-30">

                <div class="col-md-2 text-center color-header"><a typeTime="week" class="pointer firstTimeBtn"> {{ 'global.week'|trans }}</a></div>
                <div class="col-md-2 color-header"><a typeTime="month" class=" pointer">{{ 'global.month'|trans }}</a></div>

                <div class="col-md-4 no-padding">
                    <div id="week-tab" class=" d-none calendar-custom">
                        <div class="row">
                            <div class="col-12 no-padding flex--center">
                                <div class="col-md-2 no-padding">
                                    <button class="btn change-date btn-border c-white t-bold mr-1 pad-t-5 pad-b-5 pad-l-15 pad-r-15 border-radius-20"
                                            id="prevWeekActivities">
                                        <i class="fal fa-long-arrow-left"></i>
                                    </button>
                                </div>
                                <div class="col-md-8 no-padding text-center">
                                    {% set day = 'now'|date('w') %}
                                    {% set weekStart = 'now'|date_modify('monday this week')|date('d/m/Y') %}
                                    {% set weekEnd = 'now'|date_modify('sunday this week')|date('d/m/Y') %}
                                    <span id="weekRangeDateActivities" class="today-date t-bold c-black t-ls-1">
                                        <span>{{ weekStart }}</span> – <span>{{ weekEnd }}</span>
                                    </span>
                                    <input type="hidden"
                                           value="{{ 'now'|date_modify('monday this week')|date('Y-m-d') }}"
                                           id="activitiesWeekStart">
                                    <input type="hidden"
                                           value="{{ 'now'|date_modify('sunday this week')|date('Y-m-d') }}"
                                           id="activitiesWeekEnd">
                                </div>
                                <div class="col-md-2 no-padding">
                                    <button class="btn change-date next btn-border pad-t-5 pad-b-5 pad-l-15 pad-r-15 border-radius-20 c-white t-bold ml-1" disabled
                                            id="nextWeekActivities">
                                        <i class="fal fa-long-arrow-right"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="month-tab" class=" d-none calendar-custom">
                        <div class="row">
                            <div class="col-12  no-padding flex--center">
                                <div class="col-md-2 no-padding">
                                    <button class="btn change-date  btn-border pad-t-5 pad-b-5 pad-l-15 pad-r-15 border-radius-20 c-white t-bold mr-1"
                                            id="prevMonthActivities">
                                        <i class="fal fa-long-arrow-left "></i>
                                    </button>
                                </div>
                                <div class="col-md-8 no-padding text-center">

                                    {% set monthYear = 'now'|date('F Y') %}
                                    <span id="monthRangeDateActivities" class="today-date t-bold c-black t-ls-1">
                                        <span id="monthTxt">{{ monthYear }}</span>
                                    </span>
                                    <input type="hidden"
                                           value="{{ 'now' | date_modify('first day of this month') | date('Y-m-d') }}"
                                           id="activitiesMonthStart">
                                    <input type="hidden"
                                           value="{{ 'now' | date_modify('last day of this month') | date('Y-m-d') }}"
                                           id="activitiesMonthEnd">
                                </div>
                                <div class="col-md-2 no-padding">
                                    <button class="btn change-date next btn-border pad-t-5 pad-b-5 pad-l-15 pad-r-15 border-radius-20 c-white t-bold ml-1" disabled
                                            id="nextMonthActivities">
                                        <i class="fal fa-long-arrow-right "></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div  id="year-tab" class=" d-none calendar-custom">
                        <div class="row">
                            <div class="col-12  no-padding flex--center">
                                <div class="col-md-2 no-padding">
                                    <button class="btn change-date btn-border pad-t-5 pad-b-5 pad-l-15 pad-r-15 border-radius-20 c-white t-bold mr-1"
                                            id="prevYearActivities">
                                        <i class="fal fa-long-arrow-left"></i>
                                    </button>
                                </div>
                                <div class="col-md-8 no-padding text-center">
                                    {% set year = 'now'|date('Y') %}
                                    <span id="yearRangeDateActivities" class="today-date t-bold c-black t-ls-1">
                                        <span>{{ year }}</span>
                                    </span>
                                    <input type="hidden"
                                           value="{{ 'now' | date('Y-01-01') }}"
                                           id="activitiesYearStart">
                                    <input type="hidden"
                                           value="{{ 'now' | date('Y-12-31') }}"
                                           id="activitiesYearEnd">
                                </div>
                                <div class="col-md-2 no-padding">
                                    <button class="btn change-date next btn-border pad-t-5 pad-b-5 pad-l-15 pad-r-15 border-radius-20 c-white t-bold ml-1" disabled
                                            id="nextYearActivities">
                                        <i class="fal fa-long-arrow-right"></i>
                                    </button>
                                </div>


                            </div>
                        </div>

                    </div>
                    <div id="period-tab" class="d-none calendar-custom text-center c-black">
                        <span id="startDateTxt" class="bold"></span> - <span id="endDateTxt" class="bold"></span>

                    </div>

                </div>
                <div class="col-md-2 text-right color-header"><a typeTime="year" class=" pointer">{{ 'global.year'|trans }}</a></div>
                <div class="col-md-2 text-center color-header"><a typeTime="period" class=" pointer">{{ 'global.period'|trans }}</a></div>

            </div>
            <div class="row roundCount d-none marg-t-40 filter global-filter marg-l-30 marg-r-20 c-black  ">
                <div class="flex--center no-padding col-md-1">
                    <div id="individualTxt" class="border-radius-50 font-size-20 btn-deepmark text-white round-stats d-flex justify-content-center align-items-center">
                        0
                    </div>
                </div>
                <div class="col-md-2 align-self-center text-uppercase font-size-13 no-padding">
                    {{ 'trainers.statistics.export.individual'|trans }}
                </div>

                <div class="flex--center no-padding col-md-1">
                    <div id="virtualTxt" class="border-radius-50  font-size-20 btn-deepmark text-white round-stats d-flex justify-content-center align-items-center">
                        0
                    </div>
                </div>
                <div class="col-md-2 align-self-center text-uppercase font-size-13 no-padding">
                    {{ 'trainers.statistics.export.virtual'|trans }}
                </div>
                <div class="flex--center no-padding col-md-1">
                    <div id="presentationTxt" class="border-radius-50 font-size-20 btn-deepmark text-white round-stats d-flex justify-content-center align-items-center">
                        0
                    </div>
                </div>
                <div class="col-md-2 align-self-center text-uppercase font-size-13 no-padding">
                    {{ 'trainers.statistics.export.presentation'|trans }}
                </div>
                <div class="flex--center no-padding col-md-1">
                    <div id="workshopTxt" class="border-radius-50 font-size-20 btn-deepmark text-white round-stats d-flex justify-content-center align-items-center">
                        0
                    </div>
                </div>
                <div class="col-md-2 align-self-center text-uppercase font-size-13 no-padding">
                    {{ 'trainers.statistics.export.workshop'|trans }}
                </div>
            </div>
            <div class="row roundCount d-none marg-t-20 filter global-filter marg-l-30 marg-r-20  c-black ">
                <div class="flex--center no-padding col-md-1">
                    <div id="interventionsTxt" class="border-radius-50 font-size-20 btn-deepmark text-white round-stats d-flex justify-content-center align-items-center">
                        0
                    </div>
                </div>
                <div class="col-md-2 align-self-center text-uppercase font-size-13 no-padding">
                    {{ 'trainers.statistics.export.active_courses'|trans }}
                </div>
                <div class="flex--center no-padding col-md-1">
                    <div id="learnersTxt" class="border-radius-50 font-size-20 btn-deepmark text-white round-stats d-flex justify-content-center align-items-center">
                        0
                    </div>
                </div>
                <div class="col-md-2 align-self-center text-uppercase font-size-13 no-padding">
                    {{ 'trainers.statistics.export.active_learners'|trans }}
                </div>

                <div class="flex--center no-padding col-md-1">
                    <div id="trainersTxt" class="border-radius-50 font-size-20 btn-deepmark text-white round-stats d-flex justify-content-center align-items-center">
                        0
                    </div>
                </div>
                <div class="col-md-2 align-self-center text-uppercase font-size-13 no-padding">
                    {{ 'trainers.statistics.export.active_trainers'|trans }}

                </div>
                <div class="flex--center no-padding col-md-1">
                    <div  id="supervisorTxt" class="border-radius-50 font-size-20 btn-deepmark text-white round-stats d-flex justify-content-center align-items-center">
                        0
                    </div>
                </div>
                <div class="col-md-2 align-self-center text-uppercase font-size-13 no-padding">
                    {{ 'trainers.statistics.export.active_supervisor'|trans }}
                </div>

            </div>

            <div class="row">
                <div class="col-md-12">
                    {{ include('statistics/filters.html.twig') }}
                </div>
                <input id="typeStat" type="hidden">
            </div>
            <div class="row stat-data d-none">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="row globalExportDiv filter global-filter">
                                <div class="col-md-4 no-padding globalExport ">
                                    <div class="form-group pt-1 dataTables_wrapper dt-bootstrap4 no-footer">
                                        <div class="dt-buttons btn-group">
                                            <button  id="exportPdfBtn" class="btn btn-secondary buttons-pdf buttons-html5" tabindex="0"  type="button"><span>PDF</span></button>
                                            <button  id="exportBtn" class="btn btn-secondary buttons-excel buttons-html5" tabindex="0"  type="button"><span>Excel</span></button>
                                        </div>

                                    </div>
                                </div>

                            </div>
                            <div id="tableStatisticsData">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Translation JS -->
    <input id="translations" type="hidden" 
           data-all="{{ 'trainers.statistics.export.all'|trans }}"
           data-saved="{{ 'admin.statistic.quiz.saved'|trans }}"
           data-error="{{ 'admin.statistic.quiz.error'|trans }}"
           />
    <!-- Modals -->
    {{ include('statistics/modals.html.twig') }}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        {% set weekStart = 'now'|date_modify('monday this week')|date('Y-m-d') %}
            let weekStart = "{{weekStart}}";
        {% set weekEnd = 'now'|date_modify('sunday this week')|date('Y-m-d') %}
            let weekEnd = "{{weekEnd}}";
        {% set monthStart = 'now' | date_modify('first day of this month') | date('Y-m-d') %}
            let monthStart = "{{monthStart}}";
        {% set monthEnd = 'now' | date_modify('last day of this month') | date('Y-m-d') %}
            let monthEnd = "{{monthEnd}}";
        {% set yearStart = 'now' | date('Y-01-01') %}
            let yearStart = "{{yearStart}}";
        {% set yearEnd = 'now' | date('Y-01-31') %}
            let yearEnd = "{{yearEnd}}";
    </script>

    <!-- Add Scripts -->
    <script src="{{ asset('js/admin/statistics/statistics.js') }}"></script>
    <script src="{{ asset('js/admin/statistics/exports.js') }}"></script>
    <script src="{{ asset('js/admin/statistics/translations.js') }}"></script>
{% endblock %}