<!--Add From History-->
<div class="modal" tabindex="-1" role="dialog" id='configure-perso'>
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"><strong>{{ 'admin.statistic.configure_perso.title'|trans }}</strong></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table id="configureExports" class="table">
                    <thead>
                        <tr>
                            <th></th>
                            <th>{{ 'admin.statistic.configure_perso.tab'|trans }}</th>
                        </tr>
                    </thead>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ 'admin.quiz.create.modals.close'|trans }}</button>
                <button type="button" class="btn btn-primary saveExportConfiguration">{{ 'admin.quiz.create.modals.confirm'|trans }}</button>
            </div>
        </div>
    </div>
</div>

