<div class="table-responsive">

</div>
{% if statisticType is defined and statisticData is defined %}
    {% if statisticType == constant('\\AdminBundle\\Controller\\StatsController::STATISTIC_QUIZ') %}
        {{ include('statistics/type/by_quiz.html.twig', {headers: statisticHeaders, statisticData: statisticData}) }}
    {% endif %}
    {% if statisticType == constant('\\AdminBundle\\Controller\\StatsController::STATISTIC_BY_COURSE') %}
        {{ include('statistics/type/by_course.html.twig', {statisticData: statisticData}) }}
    {% endif %}
    {% if statisticType == constant('\\AdminBundle\\Controller\\StatsController::STATISTIC_BY_REGISTERED_USERS') %}
        {{ include('statistics/type/by_registered.html.twig', {statisticData: statisticData}) }}
    {% endif %}
    {% if statisticType == constant('\\AdminBundle\\Controller\\StatsController::STATISTIC_BY_COURSE_MODULE') %}
        {{ include('statistics/type/by_course_module.html.twig', {statisticData: statisticData}) }}
    {% endif %}
    {% if statisticType == constant('\\AdminBundle\\Controller\\StatsController::STATISTIC_BY_MODULE') %}
        {{ include('statistics/type/by_module.html.twig', {statisticData: statisticData}) }}
    {% endif %}
    {% if statisticType == constant('\\AdminBundle\\Controller\\StatsController::STATISTIC_BY_LOGGED_USERS') %}
        {{ include('statistics/type/by_logged_users.html.twig', {statisticData: statisticData}) }}
    {% endif %}
    {% if statisticType == constant('\\AdminBundle\\Controller\\StatsController::STATISTIC_BY_QUIZ_RESULTS') %}
        {{ include('statistics/type/by_quiz_results.html.twig', {statisticData: statisticData}) }}
    {% endif %}
    {% if statisticType == constant('\\AdminBundle\\Controller\\StatsController::STATISTIC_BY_MODULE_RESULTS') %}
        {{ include('statistics/type/by_module_results.html.twig', {statisticData: statisticData}) }}
    {% endif %}
    {% if statisticType == constant('\\AdminBundle\\Controller\\StatsController::STATISTIC_BY_LEARNER_PROGRESSION') %}
        {{ include('statistics/type/by_learner_progression.html.twig', {statisticData: statisticData}) }}
    {% endif %}
    {% if statisticType == constant('\\AdminBundle\\Controller\\StatsController::STATISTIC_BY_GLOBAL') %}
        {{ include('statistics/type/by_global.html.twig', {statisticData: statisticData}) }}
    {% endif %}
    {% if statisticType == constant('\\AdminBundle\\Controller\\StatsController::STATISTIC_BY_SKILLS') %}
        {{ include('statistics/type/trainers_by_skills.html.twig', {statisticData: statisticData}) }}
    {% endif %}
{% endif %}