<div class="row custom marg-t-20 marg-b-20 pb-1 stat-filter">
    <div class="col-md-6 no-padding filter f-search f-1 marg-t-10">
        <div class="form-group select-border datepicker-group">
            <div class="col-md-12 no-padding  btn-deepmark">
                <label class="text-white" for="skillSelect">{{ 'admin.skills.form.skills'|trans }}</label>
            </div>
            {% set queryParams = app.request.query.all %}
            {% set has_skill = queryParams['id'] is defined ? 1 : 0 %}
            <div class="input-group btn-deepmark-light">
                <select
                        id="skillSelect"
                        class="form-control selectpicker" data-container="body" data-style="btn btn-link"
                        multiple
                        data-style="select-with-transition"
                        required
                        name="skillSelect">
                        {% for id, skill in skills %}
                            <option value="{{ skill.id }}" id="{{ skill.id }}" {{ queryParams['id'] is defined and queryParams['id'] == skill.id ? 'selected' : '' }}> {{ skill.designation }}</option>
                        {% endfor %}
                </select>
            </div>
        </div>
    </div>
    <div class="col-md-6 no-padding filter course-filter typeStatDiv f-search marg-t-10">
        <div class="form-group select-border datepicker-group">
            <div class="col-md-12 no-padding  btn-deepmark">
                <label class="text-white" for="skillOperator">{{ 'admin.skills.form.skill_and_or'|trans }}</label>
            </div>
            <div class="input-group btn-deepmark-light">
                <select id="skillOperator" class="form-control selectpicker" data-container="body" data-style="btn btn-link">
                    <option value="1">{{ 'global.and'|trans|upper }}</option>
                    <option value="2">{{ 'global.or'|trans|upper }}</option>
                </select>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="{{ asset('js/lang_datatable.js') }}"></script>
<script>
    $(document).ready(function () {
        $('#searchBtn').click(function() {
            searchHandler();
        });

        if ({{ has_skill }} == 1) {
            searchHandler();
            console.log('aaaa')
        }
        $('#resetBtn').click(function() {
            $(".selectpicker").val(0);
            $('.selectpicker').selectpicker('refresh');
        });
    });

    function searchHandler($isExport = false, $isPdf = false){
        $('.loader').show();

        let skillOperator = $('#skillOperator').val();
        let skillsSelected = $('#skillSelect').val();

        let locate = $('#locate').val();
        let default_locate = $('#default_locale').val();
        locate = (locate == default_locate) ? '' : '/' + locate;

        var header = '';
        var title = '';
        $.ajax({
            url: locate + '/admin/stats/getStatisticByType',
            data: {
                'type': 10,
                'skillsSelected': skillsSelected,
                'skillOperator': skillOperator
            },
            success:function(data) {
                $('.loader').hide();
                $(".stat-data").removeClass('d-none');
                $('#tableStatisticsData').html(data);
                let lang = languageDatatable();
                let table = $('#dataTableStatistic').DataTable({
                    "language": lang,
                    "order": [[ 2, "asc" ], [ 3, "asc" ]],
                    dom: 'Blfrtip',
                    "scrollX": false,
                    "scrollY": false,

                    buttons: [
                        'csv',
                        'excel',
                        {extend: 'pdfHtml5', orientation: 'landscape', pageSize: 'A3',},
                        'colvis'
                    ]
                });
                $('.buttons-colvis').on('click', function() {
                    $('.dt-button-collection').addClass('show');
                });
                $(".dataTables_filter").hide();
                $('#bookSearch').keyup(function () {
                    table.search($(this).val()).draw();
                })
            },
            error:function () {
            }
        });
    }
</script>
