{% extends 'base.html.twig' %}

{% block pagename %}{{ 'admin.skills.nav.skills_of_trainer'|trans }}{% endblock %}

{% block body %}
    <div class="row justify-content-center  marg-t-20 marg-b-20"><span class="icon-user_gray"></span>
        {{ include('molecules/cards/nav/admin-skills-nav.html.twig') }}
    </div>
    <div class="card marg-t-15">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4 no-padding marg-t-10">
                <h3 class="bold text-center color-header">{{ 'admin.skills.nav.skills_of_trainer'|trans }}</h3>
            </div>
            <div class="col-md-2 marg-t-20 text-center no-padding-left">
                <button id="resetBtn" class="btn btn-block btn-border-yelow btn-padding">{{ 'global.reset'|trans }}</button>
            </div>
            <div  id="searchDiv" class="col-md-2 marg-t-20 no-padding-left ">
                <input type="hidden" id="typeTxt">
                <button id="searchBtn" class="btn btn-block btn-deepmark-orangelight btn-padding">{{ 'search.content'|trans }}</button>
            </div>
        </div>
        <div>
            <div class="row">
                <div class="col-md-12">
                    {{ include('statistics/skills_filters.html.twig') }}
                </div>
                <input id="typeStat" type="hidden">
            </div>
            <div class="row stat-data d-none">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <div id="tableStatisticsData">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}