<div class="table-responsive">
    <table class="table no-margin">
        <thead>
        <tr>
            <th> {{ 'trainers.statistics.course_name' | trans }}</th>
            <th> {{ 'trainers.statistics.module_name' | trans }}</th>
            <th> {{ 'trainers.statistics.module_type' | trans }}</th>
            <th> {{ 'trainers.statistics.real_time_spent' | trans }}</th>
            <th> {{ 'trainers.statistics.module_duration' | trans }}</th>
            <th> {{ 'trainers.statistics.progression' | trans }}</th>
            <th> {{ 'trainers.statistics.rating_module' | trans }}</th>
            <th> {{ 'trainers.statistics.booked' | trans }}</th>
            <th> {{ 'trainers.statistics.not_started' | trans }}</th>
            <th> {{ 'trainers.statistics.started' | trans }}</th>
            <th> {{ 'trainers.statistics.completed' | trans }}</th>
            <th> {{ 'trainers.statistics.evaluation' | trans }}</th>
            <th> {{ 'trainers.statistics.target_evaluation' | trans }}</th>
        </tr>
        </thead>
        <tbody id="statisticData">

        </tbody>
    </table>
</div>