<div class="card pad-10">
    {{ include('molecules/cards/nav/best-practice-nav.html.twig') }}
    <div class="card-body no-padding">
        <div class="row custom marg-t-20 pl-3 pr-3 pb-1 stat-filter">
            <div class="col-md-3 no-padding filter course-filter global-filter organizationId f-search f-1 marg-t-10">
                <div class="form-group select-border datepicker-group">
                    {% set organizations = searchParam.organization %}
                    <div class="col-md-12 no-padding  btn-deepmark">
                        <label class="text-white" for="organizationId">{{ 'trainers.statistics.organization'|trans }}</label>
                    </div>
                    <div class="input-group btn-deepmark-light">
                        <select id="organizationId" class="form-control selectpicker organizationId" data-container="body" data-style="btn btn-link">
                            {% for organization in organizations %}
                                <option value="{{ organization.id }}">{{ organization.designation }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-md-3 no-padding filter course-filter global-filter entityId f-search f-2 marg-t-10">
                <div class="form-group select-border datepicker-group">
                    <div class="col-md-12 no-padding btn-deepmark">
                        <label class="text-white" for="entityId">{{ 'trainers.statistics.entity'|trans }}</label>
                    </div>
                    <div class="input-group btn-deepmark-light">
                        <select id="entityId" class="form-control selectpicker" data-container="body" data-style="btn btn-link">
                            {% if is_granted('ROLE_TRAINER') or is_granted('ROLE_LEARNER') %}
                                <option value="{{ api.profile.entity.id }}">{{ api.profile.entity.designation }}</option>
                            {% endif %}
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-md-2 no-padding filter course-filter global-filter entityId f-search f-2 marg-t-10">
                <div class="form-group select-border datepicker-group">
                    <div class="col-md-12 no-padding  btn-deepmark">
                        <label class="text-white" for="entityId">{{ 'global.best_practices.category'|trans }}</label>
                    </div>
                    <div class="input-group btn-deepmark-light">
                        {% set tags = searchParam.tags %}
                        <select id="tagId" class="form-control selectpicker" data-container="body" data-style="btn btn-link">
                            <option value="0">{{ 'trainers.statistics.export.all'|trans }}</option>
                            {% for key,tag in tags %}
                                <option value="{{ key }}">{{ tag }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-md-2 no-padding filter course-filter global-filter entityId f-search f-2 marg-t-10">
                <div class="form-group select-border datepicker-group">
                    <div class="col-md-12 no-padding  btn-deepmark">
                        <label class="text-white" for="entityId">{{ 'global.best_practices.type'|trans }}</label>
                    </div>
                    <div class="input-group btn-deepmark-light">
                        <select id="type" class="form-control selectpicker" data-container="body" data-style="btn btn-link">
                            <option value="0">{{ 'trainers.statistics.export.all'|trans }}</option>
                            <option value="audio">Audio</option>
                            <option value="video">Video</option>
                            <option value="document">Document</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-md-2 no-padding filter course-filter global-filter entityId f-search f-2 marg-t-10">
                <div class="form-group select-border datepicker-group">
                    <div class="col-md-12 no-padding  btn-deepmark">
                        <label class="text-white" for="entityId">{{ 'global.best_practices.number_of_stars'|trans }}</label>
                    </div>
                    <div class="input-group btn-deepmark-light">
                        <select id="rateNumber" class="form-control selectpicker" data-container="body" data-style="btn btn-link">
                            <option value="0">{{ 'trainers.statistics.export.all'|trans }}</option>
                            <option value="1">&#8805; 1</option>
                            <option value="2">&#8805; 2</option>
                            <option value="3">&#8805; 3</option>
                            <option value="4">&#8805; 4</option>
                            <option value="5">5</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-center">
            <button id="show_last_search" class="btn btn-white" style="color: #ffad17!important;">{{ 'global.best_practices.last_search_result'|trans }}</button>
            <button id="show_all_search" class="btn btn-white" style="color: #ffad17!important;">{{ 'global.best_practices.show_all'|trans }}</button>
            <button id="search_best_practices" class="btn btn-deepmark-orangelight">{{ 'global.best_practices.show_selection'|trans }}</button>
        </div>
    </div>
</div>
<div id="bestPracticesList"></div>
<script>
    $("#organizationId").change(function(e, entityId) {
        $("#entityId").empty();
        let organizationId = $(this).val();
        if(organizationId != '') {
            let url = '/trainer/stats/organizationEntity';
            let isLearner = "{{ is_granted('ROLE_LEARNER') }}";
            if(isLearner === "1"){
                url = '/learner/stats/organizationEntity';
            }

            $.ajax({
                type: "POST",
                url: url, // use all role
                data: {"organizationId": organizationId},
                success: function (data) {
                    $("#entityId").append($("<option />").val(0).text('{{ 'trainers.statistics.export.all'|trans }}'));
                    $.each(data, function (i, data) {
                        $("#entityId").append($("<option />").val(data.id).text(data.designation));
                    });
                    if(entityId != undefined) {
                        $('#entityId').val(entityId);
                        $("#search_best_practices").trigger('click');
                    }
                    $('#entityId').selectpicker('refresh');
                }
            });
        }
        $('#entityId').selectpicker('refresh');
    });

    {% if is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_ADMIN') %}
        $("#organizationId").trigger('change');
    {% endif %}

    $('#show_last_search').click(function () {
        $.ajax({
            type: "GET",
            url: "{{ url('api_best_practices_get_last_search') }}", // use all role
            success: function (data) {
                if(data.organizationId){
                    $('#rateNumber').val(data.rateNumber);
                    $('#rateNumber').selectpicker('refresh');
                    $('#type').val(data.type);
                    $('#type').selectpicker('refresh');
                    $('#tagId').val(data.tagId);
                    $('#tagId').selectpicker('refresh');
                    // async data
                    $('#organizationId').val(data.organizationId);
                    $('#organizationId').selectpicker('refresh');
                    $("#organizationId").trigger('change', [data.entityId]);
                }
            }
        });
    });

    $('#search_best_practices').click(function (e) {
        let organizationId = $('#organizationId').val();
        let entityId = $('#entityId').val();
        let tagId = $('#tagId').val();
        let type = $('#type').val();
        let rateNumber = $('#rateNumber').val();
        let tab = '{{ app.request.get("tab") }}';
        $.ajax({
            type: "POST",
            url: "{{ url('api_best_practices_search') }}", // use all role
            data: {
                "organizationId": organizationId,
                'entityId': entityId,
                'tagId': tagId,
                'type': type,
                'rateNumber': rateNumber,
                'tab': tab,
                'realClick': e.originalEvent != undefined
            },
            success: function (data) {
                $('#bestPracticesList').html(data);
                if("{{  app.request.get('tab') }}" === "3") {
                    let selectionTableValidated = $('#selectionTableValidated').DataTable({
                            "paging": false,
                            "info": false
                        }
                    );
                    $('#searchBestPracticesValidated').keyup(function () {
                        selectionTableValidated.search($(this).val()).draw();
                    });

                    let selectionTableSubmitted = $('#selectionTableSubmitted').DataTable({
                            "paging": false,
                            "info": false
                        }
                    );
                    $('#searchBestPracticesSubmitted').keyup(function () {
                        selectionTableSubmitted.search($(this).val()).draw();
                    });

                    let selectionTableRejected = $('#selectionTableRejected').DataTable({
                            "paging": false,
                            "info": false
                        }
                    );
                    $('#searchBestPracticesRejected').keyup(function () {
                        selectionTableRejected.search($(this).val()).draw();
                    });

                    $(".dataTables_filter").hide();
                }
            }
        });
    });
    $("#search_best_practices").trigger('click');

    //reset form
    $(document).on('click', '#show_all_search', function () {
        $("#organizationId").val({{ searchParam.organization[0].id }});
        {% if is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_ADMIN') %}
            console.log('ROLE_SUPER_ADMIN: organization change')
            $("#organizationId").trigger('change');
        {% elseif is_granted('ROLE_TRAINER') or is_granted('ROLE_LEARNER') %}
            console.log('ROLE_LEARNER')
            $("#entityId").val({{ api.profile.entity.id }});
        {% endif %}
        $("#tagId").val(0);
        $("#type").val(0);
        $("#rateNumber").val(0);

        $('#organizationId, #entityId, #tagId, #type, #rateNumber').selectpicker('refresh');
        $("#search_best_practices").trigger('click');
    });

    $(document).on('click', '.sortByChar', function () {
        var options = $("#card-practice-list .card-practice");
        var arr = options.map(function(_, o) {
            return {
                t: $(o).find('.text-sort').text(),
                v: $(o).html()
            };
        }).get();

        let sortType = $(this).attr('sort-type');
        let iconSort = '<i class="fas fa-sort-alpha-up" style="font-size: 20px"></i>';
        if(sortType === 'asc'){
            iconSort = '<i class="fas fa-sort-alpha-down" style="font-size: 20px"></i>';
            $(this).attr('sort-type', 'desc');
            arr.sort(function(o1, o2) {
                return o1.t > o2.t ? 1 : o1.t < o2.t ? -1 : 0;
            });
        }else{
            $(this).attr('sort-type', 'asc');
            arr.sort(function(o1, o2) {
                return o1.t > o2.t ? -1 : o1.t < o2.t ? 1 : 0;
            });
        }
        $(this).html(iconSort);

        options.each(function(i, o) {
            $(o).html(arr[i].v);
            $(o).find('.text-sort').text(arr[i].t);
        });
    });

    $(document).on('click', '.sortByDate', function () {
        var options = $("#card-practice-list .card-practice");
        var arr = options.map(function(_, o) {
            return {
                t: $(o).find('.date-sort').text(),
                v: $(o).html()
            };
        }).get();

        let sortType = $(this).attr('sort-type');
        let iconSort = '<i class="fas fa-sort-amount-up" style="font-size: 20px"></i>';
        if(sortType === 'asc'){
            iconSort = '<i class="fas fa-sort-amount-down" style="font-size: 20px"></i>';
            $(this).attr('sort-type', 'desc');
            arr.sort(function(o1, o2) {
                return o1.t > o2.t ? 1 : o1.t < o2.t ? -1 : 0;
            });
        }else{
            $(this).attr('sort-type', 'asc');
            arr.sort(function(o1, o2) {
                return o1.t > o2.t ? -1 : o1.t < o2.t ? 1 : 0;
            });
        }
        $(this).html(iconSort);

        options.each(function(i, o) {
            $(o).html(arr[i].v);
            $(o).find('.date-sort').text(arr[i].t);
        });
    });

    $(document).on('keyup', '#searchBestPractices', function() {
        var value = $(this).val().toLowerCase();
        $("#card-practice-list .card-practice").filter(function() {
            $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
    });
</script>