<style>
    .bootstrap-tagsinput{
        width: 100%;
        height: 44px;
        background-color: #e5f0fc!important;
        border: none;
    }
    .bootstrap-tagsinput input{
        margin-top: 5px;
        color: #0076fe!important;
    }
    .bootstrap-tagsinput .tag{
        background-color: #fff;
        color: grey;
    }

    .typeahead {
        display: block;
        opacity: 1;
        transform: scale(1);
    }
    .placeholder-color::placeholder {
        color: #0076fe!important;
    }
    .bootstrap-select .btn{
        text-transform: unset!important;
    }
    .bootstrap-select .filter-option{
        border: 1px solid lightgray;
        border-radius: 7px;
        padding-left: 10px;
    }
    .filter-option-inner-inner{
        color: #adadad!important;
        padding-left: 10px;
    }

</style>
<div class="card pad-30">
    <div class="card-body no-padding">
        <div class="col-md-12 border-bottom-header no-padding">
            <h3 class="marg-t-0 bold">{{ 'global.best_practices.creation.create_your_best_practice'|trans }}</h3>
        </div>
        <div class="col-md-12 pad-l-0 pad-t-20">
            <span class="bold c-black marg-b-10">{{ 'global.best_practices.creation.create_your_best_practice'|trans }} <span class="color-red">*</span></span><br>
            <input type="text" name="title" class="form-control btn-deepmark-light background-image-none color-header pad-l-15 placeholder-color custom-input"
                   placeholder="{{ 'global.best_practices.creation.input_title'|trans }}" >
        </div>
        <div class="col-md-12 pad-l-0 pad-t-20">
            <span class="bold c-black marg-b-10">{{ 'global.best_practices.creation.description'|trans }} <span class="color-red">*</span></span><br>
            <textarea rows="5" name="description" class="intervObs backgroud-deepmark-light pad-l-15 pad-t-15 color-header border-0 h-100 placeholder-color w-100" id=""
                      placeholder="{{ 'global.best_practices.creation.input_description'|trans }}"></textarea>
        </div>
        {% if params|length > 0 %}
            {{ include('molecules/widgets/best-practice-files.html.twig', params ) }}
        {% else %}
            <div class="col-md-12 pad-l-0 pad-t-15">
                <span class="bold c-black marg-b-10">{{ 'global.best_practices.creation.add_content'|trans }} <span class="color-red">*</span></span>
                <div class="marg-l-60 sortable" id="divContent">
                </div>
                <div class="row input-group">
                    <select id="typeContent" class="selectpicker col-md-2 pad-l-0" data-style="btn btn-link">
                        <option value="1">{{ 'global.best_practices.creation.file'|trans }}</option>
                        <option value="2">{{ 'global.best_practices.creation.url'|trans }}</option>
                        <option value="3">{{ 'global.best_practices.creation.text_editor'|trans }}</option>
                        <option value="4">{{ 'global.best_practices.creation.live_record_video'|trans }}</option>
                        <option value="5">{{ 'global.best_practices.creation.live_record_audio'|trans }}</option>
                    </select>
                    <button id="btnAddContent" style="border-width: 1px!important;" class="btn btn-block col-md-2 btn-border-header border-radius-10 custom-btn">{{ 'global.best_practices.creation.add_content'|trans }}</button>
                </div>
            </div>
            <div class="col-md-12 pad-l-0 pad-t-15">
                <span class="bold c-black marg-b-10">{{ 'global.best_practices.creation.category'|trans }} <span class="color-red">*</span></span><br>
                <input style="" id="_tags"
                       type="text"
                       name="tags"
                       required/>
            </div>
        {% endif %}
{#        <u class="color-header font-size-11 marg-t-20">#}
{#            Ajouter une nouvelle catégorie#}
{#        </u>#}
        <div class="button-group text-right marg-t-15 col-md-12">
            <button id="saveDraftBestPractice" class="btn create-best-practice btn-border-yelow border-radius-5"><i class="fa fa-eye"></i> {{ 'global.best_practices.creation.preview'|trans }}</button>
            <button id="saveBestPractice" class="btn create-best-practice btn-green">{{ 'global.best_practices.creation.submit_for_selection'|trans }}</button>
        </div>
    </div>
</div>
<input type="hidden" id="stop_text" value="{{ 'global.best_practices.creation.stop'|trans }}">
<input type="hidden" id="input_required_text" value="{{ 'global.best_practices.creation.fill_all_required_fields'|trans }}">
<input type="hidden" id="required_content_text" value="{{ 'global.best_practices.creation.add_atleast_one_content'|trans }}">
<input type="hidden" id="invalid_url" value="{{ 'global.best_practices.creation.invalid_url'|trans }}">
<input type="hidden" id="url_add_extra" value="{{ url('api_best_practices_add_external') }}">
<input type="hidden" id="url_best_practices" value="{{ is_granted('ROLE_ADMIN') or is_granted('ROLE_SUPER_ADMIN') ? url('admin_best_practices_index') : url('learner_best_practices_index') }}">
{{ include('molecules/best-practices/media-record.html.twig', {type: 'video', code: 4}) }}
{{ include('molecules/best-practices/media-record.html.twig', {type: 'audio', code: 5}) }}
<script src="{{ asset('js/record.js') }}"></script>
<script>
    // const typeInput = [];
   $(".sortable").sortable();
    $(document).ready(function () {
        // var typeInput = [];
        const typeInput = [];
        var tags =  '{{ tags|json_encode|raw }}';
        tags = JSON.parse(tags);
        $('#_tags').tagsinput({
            typeahead: {
                source: tags,
            },
            freeInput: true
        });

        $('#_tags').on('itemAdded', function(event) {
            setTimeout(function(){
                $(">input[type=text]",".bootstrap-tagsinput").val("");
            }, 1);
        });
        $(document).on('click', '.button-video', function () {
            let blockVideo = $('.block-hidden-video');
            blockVideo.removeClass('hidden');
            $('.block-video').empty();
            $('.block-video').append('<i class="fa fa-arrows-alt-v text-info marg-r-20"></i>')
            $('.block-video').append(blockVideo);
            
        })
        $(document).on('click', '.button-audio', function () {
            let blockAudio = $('.block-hidden-audio');
            blockAudio.removeClass('hidden');
            $('.block-hidden-audio').remove();
            $('.block-audio').empty();
            $('.block-audio').append('<i class="fa fa-arrows-alt-v text-info marg-r-20"></i>');
            $('.block-audio').append(blockAudio);
        })

        var rowClick = 0;

        function spliceType(type) {
            typeInput.splice(typeInput.indexOf(type), 1);
        }

        $("#btnAddContent").click(function() {
            rowClick++;
            let type = $("#typeContent").val();
            console.log("🚀 ~ file: create.html.twig ~ line 137 ~ $ ~ type", type)
            console.log("🚀 ~ file: create.html.twig ~ line 236 ~ $ ~ typeInput", typeInput)
            let row  = '';
            const select_file = "{{ 'global.best_practices.creation.select_file'|trans }}";
            const input_url = "{{ 'global.best_practices.creation.input_url'|trans }}";
            const grant_access_video = "{{ 'global.best_practices.creation.grant_access_webcam'|trans }}";
            const grant_access_audio = "{{ 'global.best_practices.creation.grant_access_micro'|trans }}";
            if (typeInput.includes(type)){
                return false;
            }
            typeInput.push(type);
            console.log("🚀 ~ file: create.html.twig ~ line 236 ~ $ ~ typeInput", typeInput)

            if (type == 1) {
                row = `<div class="row marg-t-10 marg-b-20" id='fileUploadBestPractice' style="cursor: move;">
                            <div class="col-md-4 d-flex align-items-baseline">
                                <i class="fa fa-arrows-alt-v text-info marg-r-20"></i>
                                <i style="cursor: pointer;" id="deleteContent_file" data-type='${type}' class="fa fa-trash font-size-20 c-red marg-r-10"></i>
                                <div class="d-flex flex-column">
                                    <label for="uploadFile" class="color-header btn-deepmark-light pad-l-10 pad-r-10 w-100 custom-input">${select_file}...</label>
                                    <input id="uploadFile"
                                        type="file"
                                        name="fileUpload"
                                        data-type=""
                                        class="inputUploadPublicFile d-none"
                                        accept=".doc,.docx,.ppt,.pptx,.xls,.xlsx"
                                    />
                                    <i class="font-size-10">{{ 'global.best_practices.helptext.file'|trans }}</i>
                                </div>
                            </div>
                            <div class="col-md-8 flex--center justify-content-start" id=fileName_${rowClick}></div>
                            <script>
                                $('#uploadFile').change(function(e){
                                    var fileName = e.target.files[0].name;
                                    $("#fileName_${rowClick}").text(fileName)
                                    $("#fileName_${rowClick}").prepend('<i id="deleteFile_${rowClick}" style="cursor: pointer;" class="fa fa-times font-size-25 c-red marg-r-10"></i>');
                                });
                            <\/script>
                            <script>
                                $(document).on('click', '#deleteFile_${rowClick}', function(){
                                    $('#uploadFile').val('');
                                    $("#fileName_${rowClick}").empty();
                                });
                            <\/script> 
                        </div>`;
            } else if (type == 2) {
                row = ` <div class="row marg-t-10 marg-b-20 d-flex align-items-baseline" id='urlBestPractice' style="cursor: move;">
                            <div class="col-md-5 d-flex align-items-baseline">
                                <i class="fa fa-arrows-alt-v text-info marg-r-20"></i>
                                <i style="cursor: pointer;" id="deleteContent_url" data-type='${type}' class="fa fa-trash font-size-20 c-red marg-r-10"></i>
                                <div style="flex: 1" class="form-group bmd-form-group">
                                    <input type="text" name="url" class="form-control btn-deepmark-light background-image-none color-header pad-l-15 placeholder-color custom-input" placeholder="${input_url}">
                                    <i class="font-size-10 color-red" id="invalidUrl">{{ 'admin.interventions.create.step2.url_help_text' | trans }}</i>
                                    <br><i class="font-size-10 pt-1 color-red d-none" id="messageEmbed">{{ 'admin.interventions.create.step2.url_not_allow_embed' | trans }}</i>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <input id="url" class="btn btn-small validateUrl" type="button" value="{{ 'buttons.check' | trans }}" />
                                <span class="d-none" id="loadingUrl">
                                    <img style="float:right; position: absolute; left: 88%; top: -30px;" id='loading' width="100px" src="{{ asset("/img/url-spinner.gif") }}"/>
                                </span>
                            </div>
                        </div>`;
            } else if (type == 3) {
                row = `<div class="row marg-t-10 marg-b-20" id='textBestPractice' style="cursor: move;">
                            <div class="col-md-11">
                                <div class="d-flex align-items-center">
                                    <i class="fa fa-arrows-alt-v text-info marg-r-20"></i>
                                    <i style="cursor: pointer;" id="deleteContent_editor" data-type='${type}' class="fa fa-trash font-size-20 c-red marg-r-10"></i>
                                    <textarea id="editor_${rowClick}" name="textBestPractice" style="resize:none;"></textarea>
                                </div>
                            </div>
                        </div>
                    <script>
                        new Jodit("#editor_${rowClick}", {
                            toolbarAdaptive: false,
                            uploader: {
                                insertImageAsBase64URI: true,
                                url: '/api/upload-editor-file',
                                pathVariableName: "path",
                                filesVariableName: function(e){return "file"},
                                isSuccess: function (resp) {
                                    return resp;
                                },
                                process: function (resp) {
                                    let directory = resp.directory.split("../web");
                                    return {
                                        files: resp,
                                        path: 'directory[1]/resp.path',
                                        baseurl: 'directory[1]/resp.path',
                                        error: resp.uploaded ? "success" : "failed",
                                        message: resp.uploaded ? "success" : "failed"
                                    }
                                },
                                defaultHandlerSuccess: function (data) {
                                    this.selection.insertImage(data.baseurl);
                                },
                            },
                            filebrowser: {
                                ajax: {
                                    url: '/api/editor-files'
                                }
                            }
                        })
                    <\/script>`;
            } else if (type == 4) {
                row = `<div class="row marg-t-10 marg-b-20 block-video col-md-12 d-flex align-items-center" id='videoBestPractice' style="cursor: move;">
                            <i class="fa fa-arrows-alt-v text-info marg-r-20"></i>
                            <i style="cursor: pointer;" id="deleteContent_video" data-type='${type}' class="fa fa-trash font-size-20 c-red marg-r-10"></i>
                            <div class="col-md-4 no-padding">
                                <button class="btn btn-block no-margin btn-deepmark-orangelight border-radius-5 button-video text-uppercase">${grant_access_video}</button>
                            </div>
                        </div>`;
            } else if (type == 5) {
                row = ` <div class="row marg-t-10 marg-b-20 block-audio col-md-12 d-flex align-items-center" id='audioBestPractice' style="cursor: move;">
                            <i class="fa fa-arrows-alt-v text-info marg-r-20"></i>
                            <i style="cursor: pointer;" id="deleteContent_audio" data-type='${type}' class="fa fa-trash font-size-20 c-red marg-r-10"></i>
                            <div class="col-md-4 no-padding">
                                <button class="btn btn-block no-margin btn-deepmark-orangelight border-radius-5 button-audio text-uppercase">${grant_access_audio}</button>
                            </div>
                        </div>`;
            }
            $("#divContent").append(row);
        });

        
        $(document).on('click', '#deleteContent_file', function(){
            swal({
                text: "Do you want to delete it?",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonText: `Yes`,
            }).then(value => {
                if(value) {
                    $('#uploadFile').val('');
                    const type = $(this).data('type');
                    typeInput.splice(typeInput.indexOf(JSON.stringify(type)), 1);
                    $(this).parents('#fileUploadBestPractice').remove();
                }
            })
           
        });

        $(document).on('click', '#deleteContent_url', function(){
            swal({
                text: "Do you want to delete it?",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonText: `Yes`,
            }).then(value => {
                if(value) {
                    const type = $(this).data('type');
                    typeInput.splice(typeInput.indexOf(JSON.stringify(type)), 1);
                    $(this).parents('#urlBestPractice').remove();
                }
            })
        });

        $(document).on('click', '#deleteContent_editor', function(){
            swal({
                text: "Do you want to delete it?",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonText: `Yes`,
            }).then(value => {
                if(value) {
                    const type = $(this).data('type');
                    typeInput.splice(typeInput.indexOf(JSON.stringify(type)), 1);
                    $(this).parents('#textBestPractice').remove();
                }
            })
        });
        
        $(document).on('click', '#deleteContent_video', function(){
            swal({
                text: "Do you want to delete it?",
                type: 'warning',
                showCancelButton: true,
                confirmButtonText: `Yes`,
            }).then(value => {
                if(value) {
                    removeBlobs('video');
                    const type = $(this).data('type');
                    const gumVideo = document.querySelector('video#gum-video');
                    if(!!gumVideo.srcObject == true) {
                        gumVideo.srcObject.getVideoTracks().forEach(track => {
                            track.stop()
                            gumVideo.srcObject.removeTrack(track);
                        });
                        const recordedVideo = $('#recorded-video');
                        recordedVideo.after('<video id="recorded-video" class="recorded border-header" style="height: 142px;" playsinline loop></video>')
                        recordedVideo.remove();
                    }
                    $('#url_add_extra').after($('.block-hidden-video').addClass('hidden'));
                    $('.block-video').remove();
                    typeInput.splice(typeInput.indexOf(JSON.stringify(type)), 1);
                }
            })
        })

        $(document).on('click', '#deleteContent_audio', function(){
            swal({
                text: "Do you want to delete it?",
                type: 'warning',
                showCancelButton: true,
                confirmButtonText: `Yes`,
            }).then(value => {
                if(value) {
                    removeBlobs('audio');
                    const type = $(this).data('type');
                    const recordedAudio = $('#recorded-audio');
                    recordedAudio.after('<video id="recorded-audio" class="recorded" style="height: 142px;" playsinline loop></video>')
                    recordedAudio.remove();
                    $('#url_add_extra').after($('.block-hidden-audio').addClass('hidden'));
                    $('.block-audio').remove();
                    typeInput.splice(typeInput.indexOf(JSON.stringify(type)), 1);
                }
            })
        })

        $(document).on('click', '.validateUrl', function () {
            // Fetch data
            $.ajax({
                url: '{{ url('api_utility_embed_checking') }}', //"/admin/courses/api/embed-checking"
                type: 'get',
                dataType: "json",
                data: {
                    url: $('[name="url"]').val()
                },
                beforeSend: function() {
                    $("#loadingUrl").removeClass('d-none');
                },
                success: function( data ) {
                    console.log(data.status)
                    if (data.status === 1) {
                        $('[name="url"]').attr('data-validation' , 1);
                        $('#invalidUrl').removeClass('color-red');
                        $('#messageEmbed').addClass('d-none');
                    } else if(data.status === 0) {
                        $('[name="url"]').attr('data-validation' , 0);
                        $('#invalidUrl').removeClass('color-red');
                        $('#messageEmbed').removeClass('d-none');
                    } else {
                        $('[name="url"]').attr('data-validation' , 0);
                        $('#invalidUrl').addClass('color-red');
                        $('#messageEmbed').addClass('d-none');
                    }
                    $("#loadingUrl").addClass('d-none');

                }
            });
        } );
    })
</script>