<div class="hidden block-hidden-{{ type }} marg-bottom-20 ml-4">
    <div class="row">
        <div class="col-md-6 no-padding-left">
            <video id="gum-{{ type }}" class="gum {% if type == 'video' %} border-header {% endif %}" style="height: 142px;" playsinline autoplay muted></video>
        </div>

        <div class="{% if type == 'audio' %} col-md-12 {% else %} col-md-6 {% endif %}">
            {% if type == 'audio' %}
                <div class="flex--center" style="margin-top: -150px;">
                    <h1 class="hide-element" id="recording-{{ type }}">&nbsp;<i
                                class="fas fa-microphone-alt c-orangelight"></i>&nbsp;</h1>
                </div>
            {% endif %}
            <div class="row flex--center">
                <video id="recorded-{{ type }}" class="recorded {% if type == 'video' %} border-header {% endif %}" style="height: 142px;" playsinline loop></video>
            </div>
        </div>
    </div>
    <div class="col-md-12 no-padding text-center marg-t-20">
        <button id="record-{{ type }}" class="record btn btn-border-green font-size-11" data-type="{{ type }}"  data-record="1"><i class="fa fa-circle font-size-11 disabled"></i> {{ 'global.best_practices.creation.record'|trans }}</button>
        <button id="play-{{ type }}" class="play btn btn-border-blue-light font-size-11" data-type="{{ type }}" disabled><i class="fa fa-play font-size-11 disabled"></i> {{ 'global.best_practices.creation.replay'|trans }}</button>
        <button id="download-{{ type }}" class="download btn btn-border-yelow font-size-11" data-type="{{ type }}" disabled>{{ 'global.best_practices.creation.download'|trans }}</button>
        <button id="deleteContent_{{ type }}" data-type="{{ code }}" class="delete btn btn-border-red font-size-11" data-type="{{ type }}">{{ 'global.best_practices.creation.delete'|trans }}</button>
    </div>
    <div>
        <span id="errorMsg-{{ type }}" class="errorMsg" data-type="{{ type }}"></span>
    </div>
</div>
