<div class="card pad-15">
{#    tab 3: best practices submitted by admin waiting approved #}
    {% if app.request.get("tab") == 3 %}
        {% for key, practiceArray in bestPractices %}
            {% set title = '' %}
            {% set type = '' %}
            {% if key == 'aSubmitted' %}
                {% set title = 'global.best_practices.my_submitted_practices'|trans %}
                {% set type = 'submitted' %}
            {% elseif key == 'bValidated' %}
                {% set title = 'global.best_practices.my_validated_practices'|trans %}
                {% set type = 'validated' %}
            {% elseif key == 'cRejected' %}
                {% set title = 'global.best_practices.my_rejected_practices'|trans %}
                {% set type = 'rejected' %}
            {% endif %}
            {{ include('molecules/tables/my-best-practice-table.html.twig', { bestPractices: practiceArray, title: title, key: type }) }}
        {% endfor %}
    {% else %}
        <div class="row">
            <div class="col-md-3">
                <div class="row no-padding-right btn-deepmark-light border-radis-30">
                    <div class="col-md-3 text-center no-padding color-header font-size-12 marg-t-10 marg-b-10 ">{{ 'search.content'|trans }}</div>
                    <div class="col-md-7 no-padding marg-t-10 marg-b-10">
                        <input type="text" id="searchBestPractices" class="border-0 no-padding no-margin color-header backgroud-deepmark-light" width="100%">
                    </div>
                    <div class="col-md-2 flex--center">
                        <i class="fas color-header fa-search"></i>
                    </div>
                </div>
            </div>
            <div class="col-md-1 no-padding flex--center justify-content-start">
                <a class="cursorPointer sortByChar" sort-type="asc">
                    <i class="fas fa-sort-alpha-up" style="font-size: 20px"></i>
                </a>&nbsp;&nbsp;
                <a class="cursorPointer sortByDate" sort-type="asc">
                    <i class="fas fa-sort-amount-up" style="font-size: 20px"></i>
                </a>
            </div>
            <div class="col-md-4 flex--center"><span class="color-header bold font-size-22">{{ app.request.get('tab') == 2 ? 'trainers.best_practices.nav.my_favourites'|trans : 'global.best_practices.best_practices'|trans }}</span></div>
            <div class="col-md-4 flex--center justify-content-end">

                <span class="color-header">{{ 'global.best_practices.result'|trans }}: {{ bestPractices|length }}</span></div>
        </div>
        <div class="row">
            <div class="card-body no-padding row" id="card-practice-list">
                {% for practice in bestPractices %}
                    <div class="col-md-3 card-practice">
                        {{ include('molecules/cards/card-best-practices.html.twig', { bestPractice: practice  }) }}
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}
</div>
<script type="text/javascript" src="{{ asset('js/best-practice.js') }}"></script>
<script>
    $( document ).ready(function() {
        myFavorite();
    });
</script>