{% extends "base.html.twig" %}

{% block body %}
    {% set toDoStatus = constant('\\ApiBundle\\Entity\\BestPractice::STATUS_TODO') %}
    {% set submittedStatus = constant('\\ApiBundle\\Entity\\BestPractice::STATUS_SUBMITTED') %}
    {% set approvedStatus = constant('\\ApiBundle\\Entity\\BestPractice::STATUS_APPROVED') %}
    {% set rejectedStatus = constant('\\ApiBundle\\Entity\\BestPractice::STATUS_REJECTED') %}

    {% if bestPractice.resourceType == 'EXTERNAL' %}
        {% if bestPractice.getNumberOfFileDescriptors > 1 %}
            {% set icon = 'fas fa-file-invoice mdl-color--purple' %}
        {% else %}
            {% if bestPractice.fileDescriptors[0] is defined and bestPractice.fileDescriptors[0].mimeType == 'AUDIO' %}
                {% set icon = 'fa fa-microphone c-green' %}
            {% elseif bestPractice.fileDescriptors[0] is defined and bestPractice.fileDescriptors[0].mimeType == 'VIDEO' %}
                {% set icon = 'fa fa-camera color-header' %}
            {% else %}
                {% set icon = 'fa fa-file-alt' %}
            {% endif %}
        {% endif %}
    {% else %}
        {% if bestPractice.documentType == 'DOCUMENT' %}
            {% set icon = 'fa fa-file-alt' %}
        {% elseif bestPractice.documentType == 'AUDIO' %}
            {% set icon = 'fa fa-microphone c-green' %}
        {% elseif bestPractice.documentType == 'VIDEO' %}
            {% set icon = 'fa fa-camera color-header' %}
        {% endif %}
    {% endif %}
    {{ include('molecules/cards/nav/best-practice-nav.html.twig') }}
    <div class="row border-radius-10 marg-t-10">
        <div class="col-md-8 bg-white" style="border-bottom-left-radius: 30px; border-top-left-radius: 30px;">
            <div class="col-md-12 row pad-t-15 pad-b-15 pad-l-0 pad-r-0">
                <div class="col-md-1 no-padding">
                    <a class="btn btn-white btn-round btn-just-icon width-50 height-50 cursor-none shadow-normal">
                        <i class="{{ icon }} line-height-50"></i>
                        <div class="ripple-container"></div>
                    </a>
                </div>
                <div class="col-md-2 no-padding-left bold flex--center justify-content-start">
                    {{ bestPractice.designation }}
                </div>
                <div class="col-md-7 no-padding marg-t-5 marg-b-5">
                    <div class="row">
                        <div class="col-md-12 no-padding justify-content-start flex--center">
                            {% if route == 'admin_best_practices_view' %}
                                {% if bestPractice.status == toDoStatus %}
                                    <span class="color-white bg-deepmark bold font-size-20 pad-5">{{ 'learners.courses.quiz.question.open.status.todo'|trans }}</span>
                                {% elseif bestPractice.status == submittedStatus %}
                                    <span class="mdl-color-text--black c-bg-orangelight bold font-size-20 pad-5">{{ 'learners.courses.quiz.question.open.status.submitted'|trans }}</span>
                                {% elseif bestPractice.status == approvedStatus %}
                                    <span class="mdl-color-text--black bg-green bold font-size-20 pad-5">{{ 'learners.courses.quiz.question.open.status.approved'|trans }}</span>
                                {% else %}
                                    <span class="mdl-color-text--black bg-danger bold font-size-20 pad-5">{{ 'learners.courses.quiz.question.open.status.rejected'|trans }}</span>
                                {% endif %}
                                <button style="width: 280px;" id="toValidationTable" type="submit" name="button" class="btn btn-small btn-deepmark-orangelight marg-l-10">{{ 'buttons.best_practice_validation_by_admin'|trans }}<div class="ripple-container"></div></button>
                            {% endif %}
                            {% if (is_granted('ROLE_SUPER_ADMIN') or (is_granted('ROLE_LEARNER') and bestPractice.profile.id == api.profile.id) ) and (route == 'admin_best_practices_view' or route == 'learner_best_practices_view') and bestPractice.publishDate is null and bestPractice.status == approvedStatus %}
                                <button style="width: 280px;" id="toPublishTable" type="submit" name="button" class="btn btn-small btn-deepmark-blue marg-l-10">{{ 'buttons.publish_best_practice'|trans }}<div class="ripple-container"></div></button>
                                {{ include('molecules/modal/publish_best_practice.html.twig') }}
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="col-md-2 flex--center no-padding text-right">
                    <span class="font-size-11">{{ 'trainers.best_practices.add_to_favorites'|trans }}</span>&nbsp;&nbsp;&nbsp;&nbsp;
                    {% set isFavorite = 0 %}
                    {% set favoriteId = 0 %}
                    {% for favorite in bestPractice.getBestPracticeFavorites() %}
                        {% if favorite.profile.id ==  api.profile.id and favorite.bestPractice.id == bestPractice.id %}
                            {% set isFavorite = 1 %}
                            {% set bestPracticeId = bestPractice.id %}
                            {% set favoriteId = favorite.id %}
                        {% endif %}
                    {% endfor %}
                    <a class="btn btn-white btn-round btn-just-icon cursor-none">
                        <i data-favorite-id="{{ favoriteId }}" data-best-practice-id="{{ bestPractice.id }}" class="fas fa-heart {{ isFavorite == 1 ? 'c-red' : 'text-gray'}} font-size-18 my-favorite"></i>
                    </a>
                </div>
                <div class="col-md-12 marg-t-20 marg-b-20 pad-t-20 border-top-header-light">
                    {{ bestPractice.description|raw }}
                </div>
                <div class="col-md-12 pad-l-0 bold pad-b-5">
                    {{ 'global.category'|trans }}
                </div>
                <div class="col-md-12 pad-l-0 pad-t-20 border-top-header-light">
                    {% if bestPractice.tags %}
                        {% for tag in bestPractice.tags %}
                            <span class=" badge badge-label-deepmark-light">{{ tag.tagName }}</span>
                        {% endfor %}
                    {% endif %}
                </div>

                <div class="col-md-8 no-padding-left align-self-center marg-t-20">
                    <div class="row info-avatar">
                        <div class="col-md-2 user no-padding justify-content-left">
                            {% if bestPractice.profile.avatar is defined and bestPractice.profile.avatar is not null %}
                                <img class="photo" style="width: 50px!important; height: 50px!important;" src="{{ bestPractice.profile.avatar }}" alt="">
                            {% else %}
                                <img class="photo" style="width: 50px!important; height: 50px!important;" src="{{ asset('img/default-avatar.png') }}" alt="">
                            {% endif %}
                        </div>
                        <div class="col-md-1 flex--center no-padding justify-content-end">
                            {{ bestPractice.bestPracticeResponses.rating }}
                        </div>
                        <div class="col-md-3 flex--center no-padding">
                            {{ include('molecules/widgets/ratings.html.twig', { max: 5, grade: bestPractice.bestPracticeResponses.rating }) }}
                        </div>
                        <div class="col-md-2 flex--center no-padding justify-content-start">
                            {{ bestPractice.bestPracticeResponses.voted }} avis
                        </div>
                        <div class="col-md-4 no-padding justify-content-start flex--center">
                            {% if isReview %}
                                <button class="btn btn-deepmark btn-sm disabled">{{ 'global.best_practices.button_review'|trans }}</button>
                            {% else %}
                                <button class="btn btn-deepmark btn-sm" data-action="review">{{ 'global.best_practices.button_review'|trans }}</button>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="col-md-4 flex--center no-padding justify-content-end">
                    {% if bestPractice.module %}
                        <embed src="/images/calendar_gray.svg" width="18" height="20"
                           type="image/svg+xml"/>&nbsp;&nbsp;&nbsp;<span class="font-size-13 text-gray">le {{ bestPractice.module.beginning|date('d/m/Y') }}</span>
                        <embed src="/images/clock_grey.svg" width="22" height="22"
                           type="image/svg+xml"/>&nbsp;&nbsp;&nbsp;<span class="font-size-13 text-gray">{{ bestPractice.module.duration|date('H:i:s') }}</span>
                    {% endif %}
                </div>

                <div class="col-md-12 no-padding marg-t-5 marg-b-5">
                    {% if bestPractice.resourceType == constant('\\ApiBundle\\Entity\\BestPractice::RESOURCE_TYPE_EXTERNAL') %}
                        {% if bestPractice.fileDescriptors %}
                            {% for fileDescriptor in bestPractice.fileDescriptors %}
                                {% if fileDescriptor.mimeType == constant('\\ApiBundle\\Entity\\BestPractice::DOCUMENT_TYPE_URL') %}
                                    <div class="row col-md-12 marg-t-15 marg-b-30">
                                        {% if 'youtube' in fileDescriptor.path or 'youtu.be' in fileDescriptor.path %}
                                        <iframe width="100%" height="600" class="yvideo" src="{{fileDescriptor.path|replace({'/watch?v=': '/embed/', '/youtu.be': '/youtube.com/embed'})}}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                        {% else %}
                                        <iframe src="{{ fileDescriptor.path }}" width="100%" height="600"></iframe>
                                        {% endif %}
                                    </div>
                                {% elseif fileDescriptor.mimeType == constant('\\ApiBundle\\Entity\\BestPractice::DOCUMENT_TYPE_TEXT') %}
                                    <div class="row col-md-12 marg-t-15 marg-b-30">
                                        {{ fileDescriptor.name|raw }}
                                    </div>
                                {% elseif fileDescriptor.mimeType == constant('\\ApiBundle\\Entity\\BestPractice::DOCUMENT_TYPE_VIDEO') %}
                                    <div class="row col-md-12 marg-t-15 marg-b-30">
                                        <video width="100%" height="600" style="object-fit:contain!important;" controls>
                                            <source src="{{ asset('/files/bestPracticeFiles/'~  fileDescriptor.path) }}" type="video/mp4">
                                            Your browser does not support the video tag.
                                        </video>
                                    </div>
                                {% elseif fileDescriptor.mimeType == constant('\\ApiBundle\\Entity\\BestPractice::DOCUMENT_TYPE_AUDIO') %}
                                    <div class="row col-md-12 marg-t-15 marg-b-30">
                                        <audio style="width: 100%;" controls>
                                            <source src="{{ asset('/files/bestPracticeFiles/'~  fileDescriptor.path) }}" >
                                        </audio>
                                    </div>
                                {% else %}
                                    <div id='viewer' style='width: 100%!important; height: 600px!important; margin: 0 auto;'></div>
                                    <script>
                                        WebViewer({
                                            path: "{{ asset('js/lib/webviewer/lib') }}", // path to the PDFTron 'lib' folder on your server
                                            licenseKey: 'Insert commercial license key here after purchase',
                                            initialDoc: "{{ asset('/files/bestPracticeFiles/'~  fileDescriptor.path) }}",
                                        }, document.getElementById('viewer'))
                                            .then(instance => {
                                                instance.disableElements(['printButton']);
                                                instance.disableElements(['downloadButton']);
                                                const docViewer = instance.docViewer;
                                                const annotManager = instance.annotManager;
                                                // call methods from instance, docViewer and annotManager as needed

                                                // you can also access major namespaces from the instance as follows:
                                                // const Tools = instance.Tools;
                                                // const Annotations = instance.Annotations;

                                                docViewer.on('documentLoaded', () => {
                                                    // call methods relating to the loaded document
                                                });
                                            });
                                    </script>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    {% else %}
                        {% if bestPractice.documentType == constant('\\ApiBundle\\Entity\\BestPractice::DOCUMENT_TYPE_VIDEO') %}
                            <video width="100%" height="600" style="object-fit:contain!important;" controls>
                                <source src="{{ resourcePath }}" type="video/mp4">
                                Your browser does not support the video tag.
                            </video>
                        {% elseif bestPractice.documentType == constant('\\ApiBundle\\Entity\\BestPractice::DOCUMENT_TYPE_AUDIO') %}
                            <audio style="width: 100%;" controls>
                                <source src="{{ resourcePath }}" >
                            </audio>
                        {% elseif bestPractice.documentType == constant('\\ApiBundle\\Entity\\BestPractice::DOCUMENT_TYPE_DOCUMENT') %}
                            <div id='viewer' style='width: 100%!important; height: 600px!important; margin: 0 auto;'></div>
                            <script>
                                WebViewer({
                                    path: "{{ asset('js/lib/webviewer/lib') }}", // path to the PDFTron 'lib' folder on your server
                                    licenseKey: 'Insert commercial license key here after purchase',
                                    initialDoc: "{{ app.request.getSchemeAndHttpHost() ~  resourcePath }}",
                                }, document.getElementById('viewer'))
                                    .then(instance => {
                                        instance.disableElements(['printButton']);
                                        instance.disableElements(['downloadButton']);
                                        const docViewer = instance.docViewer;
                                        const annotManager = instance.annotManager;
                                        // call methods from instance, docViewer and annotManager as needed

                                        // you can also access major namespaces from the instance as follows:
                                        // const Tools = instance.Tools;
                                        // const Annotations = instance.Annotations;

                                        docViewer.on('documentLoaded', () => {
                                            // call methods relating to the loaded document
                                        });
                                    });
                            </script>
                        {% endif %}
                    {% endif %}
                </div>

            </div>
        </div>
        <div class="col-md-4 btn-deepmark-light scroll-custom no-padding" style="border-bottom-right-radius: 30px!important; border-top-right-radius: 30px;!important;">
            <div class="row">
                <div class="col-md-11" style="max-height: 900px; overflow-y: auto;">
                    {{ include('molecules/widgets/best-practice-carousel.html.twig', { others: others }) }}
                </div>
                <div class="col-md-1 no-padding"></div>
            </div>
        </div>
    </div>
    {{ include('molecules/modal/review_best_practice.html.twig') }}
    {{ include('molecules/modal/validation_best_practice.html.twig') }}
    <script type="text/javascript" src="{{ asset('js/best-practice.js') }}"></script>
    <script>
        function reloadIFrame() {
            let ifarmeElearning = document.getElementById("ifarmeElearning");
            if (ifarmeElearning) {
                document.getElementById("ifarmeElearning").src=document.getElementById("ifarmeElearning").src;
                console.log("Re-Loaded");
            }
        }

        timerIframeLearner = setInterval("reloadIFrame();", 2000);

        $( document ).ready(function() {
            bindRating();
            $('#ifarmeElearning').on('load', function() {
                clearInterval(timerIframeLearner);
                console.log("Finally Loaded");
            });
            myFavorite();

            $('[data-action="review"]').one('click', function (e) {
                e.preventDefault();
                $('#review_best_practice').modal("show");
            });
            $('[data-action="submitReview"]').one('click', function (e) {
                let notation = $('.evaluation-form').find('.fas').length;
                let designation = joditReview.value;
                $.ajax({
                    'url': "{{ url('api_best_practices_review') }}",
                    'method': 'POST',
                    'data' : {
                        'bestPracticeId': "{{ bestPractice.id }}",
                        'designation': designation,
                        'notation': notation,
                    }
                }).done(function (response) {
                    $('#review_best_practice').modal("hide");
                    location.reload();
                });
            });

            // validation by admin
            if ($("#your_comment").length > 0) {
                new Jodit("#your_comment", {
                    toolbarAdaptive: false,
                    uploader: {
                        insertImageAsBase64URI: true,
                        url: '/api/upload-editor-file',
                        pathVariableName: "path",
                        filesVariableName: function(e){return "file"},
                        isSuccess: function (resp) {
                            return resp;
                        },
                        process: function (resp) {
                            let directory = resp.directory.split("../web");
                            return {
                                files: resp,
                                path: `${directory[1]}/${resp.path}`,
                                baseurl: `${directory[1]}/${resp.path}`,
                                error: resp.uploaded ? "success" : "failed",
                                message: resp.uploaded ? "success" : "failed"
                            }
                        },
                        defaultHandlerSuccess: function (data) {
                            // var i, field = 'files';
                            // if (data[field] && data[field].length) {
                            //     for (i = 0; i < data[field].length; i += 1) {
                            //         this.selection.insertImage(data.baseurl + data[field][i]);
                            //     }
                            // }
                            this.selection.insertImage(`${data.baseurl}`);
                        },
                    },
                    filebrowser: {
                        ajax: {
                            url: '/api/editor-files'
                        }
                    }
                })
            }
            validationBestPractice();
            $('#toValidationTable').on('click', function () {
                $("#txtValidation").text("{{ 'popup.validation_exercises'|trans|raw }}");
                $("#validationBestPractice").modal('show');
            });
            function validationBestPractice() {
                $('#btnValidationAction').on('click', function () {
                    let type = $('select[name="selectValidationType"]').val();
                    let selectedEntities = [];

                    selectedEntities.push({{ bestPractice.id }});
                    console.log(selectedEntities);
                    console.log(type);
                    if (!selectedEntities.length) {
                        // one or more checkboxes are
                        swal('Warning', 'Please select at least one exercises.', 'warning');
                        return;
                    }
                    $.ajax({
                        'url': '{{ path('admin_best_practices_validation') }}',
                        'method': 'POST',
                        'data' : {
                            'selectedEntities': selectedEntities,
                            'type': type,
                            'comment': $("#your_comment").val()
                        }
                    }).done(function (response) {
                        location.reload();
                    }).fail(function (response) {
                        console.log(response)
                    })
                });
            }
            // validation by admin

            // publish by admin
            publishBestPractice();
            $("#organizationId").change(function(e, entityId) {
                $("#entityId").empty();
                let organizationId = $(this).val();
                if(organizationId != '') {
                    let url = '/trainer/stats/organizationEntity';
                    let isLearner = "{{ is_granted('ROLE_LEARNER') }}";
                    if(isLearner === "1"){
                        url = '/learner/stats/organizationEntity';
                    }

                    $.ajax({
                        type: "POST",
                        url: url, // use all role
                        data: {"organizationId": organizationId},
                        success: function (data) {
                            $("#entityId").append($("<option />").val(0).text('{{ 'trainers.statistics.export.all'|trans }}'));
                            $.each(data, function (i, data) {
                                $("#entityId").append($("<option />").val(data.id).text(data.designation));
                            });
                            if(entityId != undefined) {
                                $('#entityId').val(entityId);
                                $("#search_best_practices").trigger('click');
                            }
                            $('#entityId').selectpicker('refresh');
                        }
                    });
                }
                $('#entityId').selectpicker('refresh');
            });

            {% if is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_ADMIN') %}
            $("#organizationId").trigger('change');
            {% endif %}
            let locate = $('#locate').val();

            $('#publishDate').datetimepicker({
                format: 'ddd DD/MM/YYYY',
                locale: locate,
                icons: {
                    previous: 'fa fa-chevron-left',
                    next: 'fa fa-chevron-right'
                }
            });

            $('#publishDate').datetimepicker().on('dp.change', function (e) {
                let incrementDay = moment(new Date("{{ bestPractice.validateDate|date('Y-m-d H:i:s') }}"));
                //incrementDay.add(1, 'days'); // the publish day must > validated day
                $('#publishDate').data('DateTimePicker').minDate(incrementDay);
                $('#publishDate').data("DateTimePicker").hide();
            });

            $('#toPublishTable').on('click', function () {
                $("#txtValidation").text("{{ 'popup.validation_exercises'|trans|raw }}");
                $("#publishBestPractice").modal('show');
            });
            function publishBestPractice() {
                $('#btnPublishAction').on('click', function () {
                    let publishDate = moment($('#publishDate').val(), 'DD/MM/YYYY');
                    let organizationId = $('#organizationId').val();
                    let entityId = $('#entityId').val();
                    console.log($('#publishDate').val())
                    console.log(organizationId)
                    console.log(entityId)
                    if (!$('#publishDate').val() || organizationId == 0 || entityId == 0) {
                        swal('Warning', "{{ 'global.best_practices.creation.add_atleast_one_content'|trans }}", 'warning');
                        return;
                    }
                    $.ajax({
                        'url': '{{ path('api_best_practices_publish') }}',
                        'method': 'POST',
                        'data' : {
                            'id': {{ bestPractice.id }},
                            'entityId': entityId,
                            'publishDate': publishDate.format('YYYY-MM-DD')
                        }
                    }).done(function (response) {
                        location.reload();
                    }).fail(function (response) {
                        console.log(response)
                    })
                });
            }
        });
    </script>
{% endblock %}