<div class="add-session {% if showButton is not defined %}d-none{% endif %}">
    <div class="input-group-btn">

        <button class="btn btn-round btn-deepmark-navy btn-session {% if assessment is not defined %} btn-add-session {% else %} btn-add-session-assessment {% endif %}" type="button">
            <i class="fal fa-plus"></i>
        </button>

        {% if true %}
            <button class="btn btn-round btn-deepmark-grey btn-session btn-remove-session" type="button">
                <i class="fal fa-minus"></i>
            </button>
        {% endif %}
    </div>
</div>
