<header class="card-header {{ moduleColor }}">
    <div class="card-title col-md-12  form-check--nopadding">
        <div class="col-md-12 row no-padding">
            <div class="col-md-8 justify-content-start flex--center">
                <object data="{{ moduleIcon }}" width="{{ assessment  is defined ? 30 : 40 }}" height="{{ assessment  is defined ? 30 : 40 }}"
                        type="image/svg+xml"></object>
                <b class="marg-l-10">{{ moduleName }}</b>
            </div>
            <div class="col-md-4 text-right font-size-13">
                {% if session is defined %}
                {% if assessment is defined %}Conditions{% else %}Sessions{% endif %}: <span id="numberCondition">{{ session }}</span>
                {% endif %}
            </div>
        </div>
        <div class="col-md-12 module-title form-check--nopadding">
            <input type="text" class="row-field-customtitle form-control"
                   placeholder="Custom title..."
                   name="module[{{ data.uniqueId }}][title]"
                   value="{{ data.title }}">
            <div class="customDuration"></div>
        </div>
    </div>
</header>