{% set intervention = app.session.get('intervention') %}
{% set startDateSession = steps['1']['intervention_start_date'] is defined and steps['1']['intervention_start_date'] is not null ? steps['1']['intervention_start_date'] : null %}
{% set endDateSession = steps['1']['intervention_end_date'] is defined and steps['1']['intervention_end_date'] is not null ? steps['1']['intervention_end_date'] : null  %}
<div class="form-group datepicker-group">
    <label for="startDate-{{ data.uniqueId }}">{{ 'admin.interventions.create.module_card.start_date'|trans|capitalize }}</label>
    <div class="input-group">
        <input id="startDate-{{ data.uniqueId }}" name="module[{{ data.uniqueId }}][startDate]" type="text"
               class="form-control sessiondatepicker" value="{{ data.startDate is defined and data.startDate is not empty and data.startDate > startDateSession ?  data.startDate : startDateSession }}" required>
        <div class="input-group-append">
            <span class="input-group-text">
                <i class="fal fa-calendar-alt"></i>
            </span>
        </div>
    </div>
</div>
<div class="form-group datepicker-group">
    <label for="endDate-{{ data.uniqueId }}">{{ 'admin.interventions.create.module_card.end_date'|trans|capitalize }}</label>
    <div class="input-group">
        <input id="endDate-{{ data.uniqueId }}" type="text" name="module[{{ data.uniqueId }}][endDate]"
               class="form-control sessiondatepicker" value="{{ data.endDate is defined and data.endDate is not empty and data.endDate < endDateSession ? data.endDate ~ 'aa' : endDateSession }}" required>
        <div class="input-group-append">
            <span class="input-group-text">
                <i class="fal fa-calendar-alt"></i>
            </span>
        </div>
    </div>
</div>

 {% if data.allQuizzes is defined %}
     {% set durationActiveChecked = steps['2']['module'][data.uniqueId]['durationActive'] is not defined ? -1 : steps['2']['module'][data.uniqueId]['durationActive'] == 1 ? 1 : 0 %}
     <div class="input-group marg-t-20">
        <div class="col-md-6 text-right">
            <label>{{ 'admin.interventions.create.module_card.with_timer'|trans|capitalize }}</label>
            <input type="radio" name="module[{{ data.uniqueId }}][durationActive]" class="quiz_timer_check" value="1"
                    {% if durationActiveChecked == 1 %}checked{% endif %}>
        </div>
        <div class="col-md-6">
            <input type="radio" class="quiz_timer_check" name="module[{{ data.uniqueId }}][durationActive]" value="0"
                   {% if durationActiveChecked == 0 %}checked{% endif %}>
            <label>{{ 'admin.interventions.create.module_card.without_timer'|trans|capitalize }}</label>
        </div>
    </div>
    <div>
        {{ include ('AdminBundle:Intervention/ModuleCard:form/datapicker.html.twig', {
            'datapicker_type': 'duration'
        }) }}
    </div>
     {% set currentQuizhasOpenQuestion = 0 %}
     {% if data.quiz is not empty  %}
         {% for question in data.allQuizzes[data.quiz].questions %}
             {% if question.question.type == 'open' %}
                 {% set currentQuizhasOpenQuestion = 1 %}
             {% endif %}
         {% endfor %}
     {% endif %}
     <div class="showHideQuiz{{ data.uniqueId }} {{ data.quiz is defined and data.quiz is not empty and (data['allQuizzes'][data.quiz].isSurvey == 1 or currentQuizhasOpenQuestion == 0) ? 'd-none' : '' }}">
         <div>
             {{ include ('AdminBundle:Intervention/ModuleCard:form/datapicker.html.twig', {
                 'datapicker_type': 'correction_duration',
                 'correctionDurationHours': steps['2']['module'][data.uniqueId]['correctionDurationHours'] is defined ? steps['2']['module'][data.uniqueId]['correctionDurationHours'] : '',
                 'correctionDurationMinutes': steps['2']['module'][data.uniqueId]['correctionDurationMinutes'] is defined ? steps['2']['module'][data.uniqueId]['correctionDurationMinutes'] : ''
             }) }}
         </div>
         <div>
             {{ include ('AdminBundle:Intervention/ModuleCard:form/datapicker.html.twig', {
                 'datapicker_type': 'correction_duration_max',
                 'maxValue': steps['2']['module'][data.uniqueId]['correctionDurationMax'] is defined ? steps['2']['module'][data.uniqueId]['correctionDurationMax'] : '',
                 'daysValue': steps['2']['module'][data.uniqueId]['correctionDurationDays'] is defined ? steps['2']['module'][data.uniqueId]['correctionDurationDays'] : ''
             }) }}
         </div>
         <div class="row mt-1">
             <div class="col-md-12 no-margin no-padding d-none">
                 <input type="checkbox" name="module[{{ data.uniqueId }}][poolTrainers]" class="pool_trainers" value="1" checked> <label>{{ 'admin.interventions.create.module_card.pool_trainers'|trans|capitalize }}</label>
             </div>
             <div class="col-md-12 no-margin no-padding">
                 <input type="checkbox" name="module[{{ data.uniqueId }}][showCorrection]" class="show_correction" value="1" checked> <label>{{ 'admin.interventions.create.module_card.default_correction'|trans|capitalize }}</label>
             </div>
         </div>
     </div>
    <!-- Add Scripts -->
    <script src="{{ asset('js/admin/quiz/index.js') }}"></script>
{% else %}
    {{ include ('AdminBundle:Intervention/ModuleCard:form/datapicker.html.twig', {
        'datapicker_type': 'duration'
    }) }}
{% endif %}

<script>
    $(document).ready(function () {
        {% set startDateSession = steps.1.intervention_start_date  %}
        {% set endDateSession   = steps.1.intervention_end_date  %}
        {% if startDateSession is not null and endDateSession is not null  %}
            let startDate = '{{ startDateSession }}';
            let arrStartDate = startDate.split("/");
            let endDate   = '{{ endDateSession }}'
            let arrEndDate = endDate.split("/");
            startDate = arrStartDate[1]+'-'+arrStartDate[0]+'-'+arrStartDate[2]+' 00:00:00'
            endDate = arrEndDate[1]+'-'+arrEndDate[0]+'-'+arrEndDate[2]+' 23:59:59'
            let incrementDay = moment(startDate , 'MM-DD-YYYY hh:mm A');
            incrementDay.add(1, 'days');
            let minusDay = moment(endDate, 'MM-DD-YYYY hh:mm A' );
            minusDay.add(-1, 'days');
        {% endif %}

        $('#startDate-{{ data.uniqueId }}').datetimepicker({
            useCurrent: false,
            {#{% if data.startDate is null   %}
                defaultDate :  moment(startDate, 'MM-DD-YYYY hh:mm A'),
            {% endif %}#}
            format: 'DD/MM/YYYY',
            {% if startDateSession is not null and endDateSession is not null  %}
                minDate:  moment(startDate, 'MM-DD-YYYY hh:mm A'),
                maxDate:  minusDay,
            {% endif %}

            icons: {
                previous: 'fa fa-chevron-left',
                next: 'fa fa-chevron-right'
            }
        });

        $('#endDate-{{ data.uniqueId }}').datetimepicker({
            useCurrent: false,
            {#{% if data.endDate is null  %}
                defaultDate :  moment(endDate, 'MM-DD-YYYY hh:mm A'),
            {% endif %}#}
            format: 'DD/MM/YYYY',
            {% if startDateSession is not null and endDateSession is not null  %}
                minDate:  incrementDay,
                maxDate:  moment(endDate, 'MM-DD-YYYY hh:mm A'),
            {% endif %}

            icons: {
                previous: 'fa fa-chevron-left',
                next: 'fa fa-chevron-right'
            }
        });

        $('#startDate-{{ data.uniqueId }}').datetimepicker().on('dp.change', function (e) {
            let incrementDay = moment(new Date(e.date));
            incrementDay.add(1, 'days');
            $('#endDate-{{ data.uniqueId }}').data('DateTimePicker').minDate(incrementDay);
            $(this).data("DateTimePicker").hide();

        });

        $('#endDate-{{ data.uniqueId }}').datetimepicker().on('dp.change', function (e) {
            let minusDay = moment(new Date(e.date));
            minusDay.add(-1, 'days');
            $('#startDate-{{ data.uniqueId }}').data('DateTimePicker').maxDate(minusDay);
            $(this).data("DateTimePicker").hide();

        });

        $('#correctionDurationMax-{{ data.uniqueId }}').datetimepicker({
            useCurrent: false,
            format: 'DD/MM/YYYY',
            minDate:  moment(endDate, 'MM-DD-YYYY').add(1, 'days'),
            icons: {
                previous: 'fa fa-chevron-left',
                next: 'fa fa-chevron-right'
            }
        });

        // set default value of correctionDurationMax = endDate of the module + correctionDurationDays of the module
        let correctionDuration = document.getElementById('correctionDurationMax-{{ data.uniqueId }}');
        if (correctionDuration) {
            if ($('#correctionDurationMax-{{ data.uniqueId }}').val().length == 0) {
                let endDateQuizModule = moment(endDate, 'MM-DD-YYYY');
                let numOfDay = $('#daysDurationCorrection-{{ data.uniqueId }}').val();
                endDateQuizModule.add(+numOfDay, 'days');
                $('#correctionDurationMax-{{ data.uniqueId }}').data('DateTimePicker').defaultDate(endDateQuizModule);
            }
        }
    });
</script>