{% extends "base.html.twig" %}

{% block title %}LearnerBundle:Dashboard:alerts{% endblock %}
{% block pagename %}{{ 'learners.alerts.title'|trans }}{% endblock %}

{% block body %}
    <div class="card card-header-mediumgray">
        <div class="card-header card-header-icon">
            <div class="card-icon">
                <i class="fal fa-file-edit fa-2x"></i>
            </div>

            <h2>
                {{ 'learners.dashboard.nav.exercices'|trans }}
            </h2>
        </div>

        <div class="card-body">

        </div>
    </div>
{% endblock %}
