{% extends "base.html.twig" %}

{% block title %}LearnerBundle:Dashboard:alerts{% endblock %}
{% block pagename %}{{ 'learners.alerts.title'|trans }}{% endblock %}

{% block body %}
    {{ include('molecules/cards/nav/learner-dashboard-nav.html.twig', { count: count } ) }}

    <div class="card card-alert">
        <div class="card-header card-header-icon">
            <div class="card-icon">
                <i class="fal fa-exclamation-triangle"></i>
            </div>

            <h2>
                {{ 'learners.alerts.title'|trans }}
            </h2>
        </div>

        <div class="card-body">


            <div class="row">

                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-1"></div>
                        <div class="col-md-11">
                            <h3>{{ 'learners.alerts.courses_tostart'|trans }}</h3>
                        </div>
                    </div>
                    {% if coursesToStart|length > 0 %}
                        {% for course in coursesToStart %}
                            <div class="row align-items-center">
                                <div class="col-md-2"></div>
                                <div class="col-md-6 form-check--nopadding">
                                    <p class="c-black">
                                        {{ course.intervention.designation }}
                                    </p>
                                </div>
                                <div class="col-md-2 t-right form-check--nopadding">
                                    {% if date(course.intervention.beginning) <= date() and date(course.intervention.ending) >= date() %}
                                        <a href="{{ path('learner_courses_show', {id: course.intervention.id}) }}" class="btn btn-sm btn-deepmark-green">
                                            {{ 'learners.alerts.start'|trans }}
                                        </a>
                                    {% else %}
                                        {{ 'learners.courses.course_expired'|trans }}
                                    {% endif %}
                                </div>
                                <div class="col-md-2"></div>
                            </div>

                        {% endfor %}
                    {% else %}
                        <div class="row">
                            <div class="col-md-2"></div>
                            <div class="col-md-10 form-check--nopadding">
                                <p class="c-black">
                                    {{ 'learners.alerts.no_course_to_start'|trans }}
                                </p>
                            </div>
                        </div>
                    {% endif %}

                    <div class="row">
                        <div class="col-md-1"></div>
                        <div class="col-md-11">
                            <h3>{{ 'learners.alerts.courses_started'|trans }}</h3>
                        </div>
                    </div>
                    {% if coursesStarted|length > 0 %}
                        {% for course in coursesStarted %}
                            <div class="row align-items-center">
                                <div class="col-md-2"></div>
                                <div class="col-md-6 form-check--nopadding">
                                    <p class="c-black">
                                        {{ course.intervention.designation }}
                                    </p>
                                </div>
                                <div class="col-md-2 t-right form-check--nopadding">
                                    {% if date(course.intervention.beginning) <= date() and date(course.intervention.ending) >= date() %}
                                        <a href="{{ path('learner_courses_show', {id: course.intervention.id}) }}" class="btn btn-sm btn-deepmark-blue">
                                            {{ 'learners.alerts.resume'|trans }}
                                        </a>
                                    {% else %}
                                        {{ 'learners.courses.course_expired'|trans }}
                                    {% endif %}
                                </div>
                                <div class="col-md-2"></div>
                            </div>
                        {% endfor %}
                    {% else %}
                        <div class="row">
                            <div class="col-md-2"></div>
                            <div class="col-md-10 form-check--nopadding">
                                <p class="c-black">
                                    {{ 'learners.alerts.no_course_started'|trans }}
                                </p>
                            </div>
                        </div>
                    {% endif %}

                    <br>
                    <br>
                    <br>
                    <div class="row">
                        <div class="col-md-1"></div>
                        <div class="col-md-11">
                            <h6>
                                {{ 'learners.alerts.plan_mods'|trans }}
                            </h6>
                        </div>
                    </div>
                    <br>
                    <br>

                    <div class="row">
                        <div class="col-md-1"></div>
                        <div class="col-md-11">
                            <h3>{{ 'learners.alerts.quiz_todo'|trans }}</h3>
                        </div>
                    </div>
                    {% for quiz in quizz %}
                        <div class="row align-items-center">
                            <div class="col-md-2"></div>
                            <div class="col-md-6 form-check--nopadding">
                                <p class="c-black">
                                    {{ quiz.designation }}
                                </p>
                            </div>
                            <div class="col-md-2 t-right form-check--nopadding">
                                <a href="{{ path('learner_courses_show', { id: quiz.intervention.id } ) }}?launch={{ quiz.id }}" class="btn btn-sm btn-gold">
                                    {{ 'learners.alerts.take_quiz'|trans }}
                                </a>
                            </div>
                            <div class="col-md-2"></div>
                        </div>
                    {% endfor %}

                    <div class="row">
                        <div class="col-md-1"></div>
                        <div class="col-md-11">
                            <h3>{{ 'learners.alerts.exercices_todo'|trans }}</h3>
                        </div>
                    </div>
                    {% for exercice in exercices %}
                        <div class="row align-items-center">
                            <div class="col-md-2"></div>
                            <div class="col-md-6 form-check--nopadding">
                                <p class="c-black">
                                    {{ exercice.designation }}
                                </p>
                            </div>
                            <div class="col-md-2 t-right form-check--nopadding">
                                <a href="{{ path('learner_courses_show', { id: exercice.intervention.id } ) }}?launch={{ exercice.id }}" class="btn btn-sm btn-deepmark-lightgray">{{ 'buttons.do_exercice'|trans }}</a>
                            </div>
                            <div class="col-md-2"></div>
                        </div>
                    {% endfor %}
                    <div class="row">
                        <div class="col-md-2"></div>
                        <div class="col-md-10 form-check--nopadding">
                            <p class="c-black">
                                {{ 'learners.alerts.warning_download'|trans }}
                            </p>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-md-1"></div>
                        <div class="col-md-11">
                            <h3>{{ 'learners.alerts.activities_to_book'|trans }}</h3>
                        </div>
                    </div>
                    {% for activity in toBook %}
                        <div class="row align-items-center">
                            <div class="col-md-2"></div>
                            <div class="col-md-6 form-check--nopadding">
                                <p class="c-black">
                                    {{ activity.designation }}
                                </p>
                            </div>
                            <div class="col-md-2 t-right form-check--nopadding">
                                {% if (date(activity.beginning) <= date() and date(activity.ending) >= date()) and (date(activity.intervention.beginning) <= date() and date(activity.intervention.ending) >= date()) %}
                                    <a href="{{ path('learner_courses_show', { id: activity.intervention.id }) }}?launch={{ activity.id }}" class="btn btn-sm btn-deepmark-blue">
                                        {{ 'learners.alerts.to_book'|trans }}
                                    </a>
                                {% else %}
                                    {{ 'learners.courses.expired'|trans }}
                                {% endif %}
                            </div>
                            <div class="col-md-2"></div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
