{% extends "base.html.twig" %}

{% block title %}LearnerBundle:Dashboard:bookings{% endblock %}
{% block pagename %}{{ 'learners.my_bookings'|trans }}{% endblock %}

{% block body %}
    {{ include('molecules/cards/nav/learner-dashboard-nav.html.twig', { courses: courses } ) }}

    <div class="card card-bookings">
        <div class="card-header card-header-icon">
            <div class="card-icon">
                <i class="fal fa-calendar-check fa-2x"></i>
            </div>
        </div>

        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-striped t-center">
                    <thead align="center">
                    <tr>
                        <th>
                            {{ 'learners.plans.intervention_name'|trans }}
                        </th>

                        <th>
                            {{ 'learners.plans.designation'|trans }}
                        </th>

                        <th>
                            {{ 'learners.plans.start_date'|trans }}
                        </th>

                        <th>
                            {{ 'learners.plans.end_date'|trans }}
                        </th>

                        <th>
                            {{ 'learners.plans.grade'|trans }}
                        </th>

                        <th>
                            {{ 'learners.plans.see'|trans }}
                        </th>
                    </tr>
                    </thead>

                    <tbody align="center">
                    {% for row in interventions %}
                        <tr>
                            <td>
                                {{ row.intervention.designation }}
                            </td>

                            <td>
                                {{ row.designation }}
                            </td>

                            <td>
                                {{ row.beginning| date('d/m/Y') }}
                            </td>

                            <td>
                                {{ row.ending| date('d/m/Y') }}
                            </td>

                            <td>
                                {{ include('molecules/widgets/ratings.html.twig', { max: 5, grade: 0 }) }}
                            </td>

                            <td>
                                {% if (date(row.beginning) <= date() and date(row.ending) >= date()) and date(row.intervention.beginning) <= date() and date(row.intervention.ending) >= date() %}
                                    <a href="{{ path('learner_courses_module', { 'id': row.id }) }}"
                                       class="btn btn-deepmark-blue btn-sm">{{ 'learners.plans.book'|trans }}</a>
                                {% else %}
                                    {{ 'learners.courses.expired'|trans }}
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
