{% extends "base.html.twig" %}

{% block pagename %}{{ 'learners.dashboard.title'|trans }}{% endblock %}

{% block body %}
    <script>
        $('.loader').show();
    </script>
    <style>
        .main-panel{
            background-color: #F4F3F9!important;
        }
        .main-panel > .content {
            padding: 0 !important;
        }
    </style>
    {% set lastActivityVal = lastActivity?lastActivity.activityValue:0 %}
    <div class="new-dashboard scroll-custom" style="display: none">
        <div class="row">
            <div class="col-sm-9 pad-t-20" style="padding-left: 30px; padding-right: 45px;">
                <div class="carousel-container">
                    {#tab one#}
                    <div class="row" style="border-bottom: 1px solid #DDDDDD">
                        <div class="col-md-3 no-padding color-header flex--center justify-content-start bold">{{ 'learners.dashboard.required_courses'|trans }}</div>
                        <div class="col-md-6 no-padding c-black flex--center">
                            <ul class="nav nav-pills nav-pills-primary header-dashboard" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active font-size-18" data-toggle="tab" href="#link1" role="tablist" aria-expanded="true">
                                        {{ 'learners.dashboard.all'|trans }}
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link font-size-18" data-toggle="tab" href="#link2" role="tablist" aria-expanded="false">
                                        {{ 'learners.dashboard.in_progress'|trans }} ({{ myInProgressCourses|length }})
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link font-size-18" data-toggle="tab" href="#link3" role="tablist" aria-expanded="false">
                                        {{ 'learners.dashboard.to_start'|trans }} ({{ myCreatedCourses|length }})
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-3 dashboard-btn no-padding flex--center justify-content-end">
                            {% set tab = app.request.query.get('tab') %}
                            {% set soft = app.request.query.get('sort') %}
                            {% set url = url('learner_dashboard') ~ '?tab=required&' %}

                            {% set sortByTitleUrl = (soft is null or soft == 'designation|asc') ? url ~ 'sort=designation|desc' : url ~ 'sort=designation|asc' %}
                            {% set sortByCreatedUrl = (soft == 'created|desc') ? url ~ 'sort=created|asc' : url ~ 'sort=created|desc' %}
                            {% if activityPopup == 1 and lastActivityVal != 0 %}
                                <a class="cursorPointer activity-btn">
                                    <object data="/new-image/derniere-activite.svg" width="35" height="35" type="image/svg+xml"></object>
                                </a>
                            {% else %}
                                <a data-placement="bottom" data-toggle="tooltip" title="{{ 'global.no_last_activity'|trans }}">
                                    <object data="/new-image/disabled-activite.svg" width="35" height="35" type="image/svg+xml"></object>
                                </a>
                            {% endif %}
                            <a href="{{ sortByTitleUrl }}" style="height: 30px; width: 30px; margin-top: -3px" class="btn btn-deepmark-medium flex--center color-header btn-round">
                                <i class="fas fa-sort-alpha-up color-header font-size-16" aria-hidden="true"></i>
                            </a>
                            <a href="{{ sortByCreatedUrl }}" class="cursorPointer">
                                <object data="/new-image/tri.svg" width="35" height="35" type="image/svg+xml"></object>
                            </a>
                            <a id="showListBtn" class="cursorPointer">
                                <object data="/new-image/vignette.svg" width="35" height="35" type="image/svg+xml"></object>
                            </a>
                            <a id="showMenuBtn" style="display: none" class="cursorPointer">
                                <object data="/new-image/liste.svg" width="35" height="35" type="image/svg+xml"></object>
                            </a>
                        </div>
                    </div>
                    <div class="tab-content tab-space marg-t-15 no-padding" style="border-left: 8px solid #0076fe; padding-right: 8px;">
                        <div class="tab-pane active owl-carousel" id="link1" aria-expanded="true">
                            {% if myAllCourses|length > 0 %}
                                <ul class="carouselContent" id="carousel_4">
                                    {% for key,row in myAllCourses %}
                                        <li>
                                            {{ include('molecules/cards/card-course-carousel.html.twig', { row: row, type: 'myAllCourses' }) }}
                                        </li>
                                    {% endfor %}
                                </ul>
                                <div class="listContent marg-bottom-20 margin-top-20" style="display: none;">
                                    <ul id="myList" class="scroll-course">
                                        {% for key,row in myAllCourses %}
                                            <li>
                                                {{ include('molecules/cards/card-list-course.html.twig', { row: row, type: 'myAllCourses' }) }}
                                            </li>
                                        {% endfor %}
                                    </ul>
                                    <div class="col-md-12 pad-t-15 text-center">
                                        <a id="loadMore" class="cursorPointer color-header">
                                            Voir plus<br>
                                            <i class="fas fa-chevron-down"></i>
                                        </a>
                                    </div>
                                </div>
                            {% else %}
                                <div class="col-md-12 pad-t-20 pad-b-20">
                                    <span class="text-alert">{{ 'global.no_course'|trans }}</span>
                                </div>
                            {% endif %}
                        </div>
                        <div class="tab-pane owl-carousel" id="link2" aria-expanded="false">
                            {% if myInProgressCourses|length > 0 %}
                                <ul class="carouselContent" id="carousel_5">
                                    {% for key,row in myInProgressCourses %}
                                        <li>
                                            {{ include('molecules/cards/card-course-carousel.html.twig', { row: row, type: 'myInProgress' }) }}
                                        </li>
                                    {% endfor %}
                                </ul>
                                <div class="listContent marg-bottom-20 margin-top-20" style="display: none;">
                                    <ul id="myList_2" class="scroll-course">
                                        {% for key,row in myInProgressCourses %}
                                            <li>{{ include('molecules/cards/card-list-course.html.twig', { row: row, type: 'myInProgress' }) }}</li>
                                        {% endfor %}
                                    </ul>
                                    <div class="col-md-12 pad-t-15 text-center">
                                        <a id="loadMore_2" class="cursorPointer color-header">
                                            Voir plus<br>
                                            <i class="fas fa-chevron-down"></i>
                                        </a>
                                    </div>
                                </div>
                            {% else %}
                                <div class="col-md-12 pad-t-20 pad-b-20">
                                    <span class="text-alert">{{ 'global.no_course'|trans }}</span>
                                </div>
                            {% endif %}
                        </div>
                        <div class="tab-pane owl-carousel" id="link3" aria-expanded="false">
                            {% if myCreatedCourses|length > 0 %}
                                <ul class="carouselContent" id="carousel_6">
                                    {% for key,row in myCreatedCourses %}
                                        <li>
                                            {{ include('molecules/cards/card-course-carousel.html.twig', { row: row, type: 'myCreated' }) }}
                                        </li>
                                    {% endfor %}
                                </ul>
                                <div class="listContent marg-bottom-20 margin-top-20" style="display: none;">
                                    <ul id="myList_3" class="scroll-course">
                                        {% for key,row in myCreatedCourses %}
                                            <li>
                                                {{ include('molecules/cards/card-list-course.html.twig', { row: row, type: 'myCreated' }) }}
                                            </li>
                                        {% endfor %}
                                    </ul>
                                    <div class="col-md-12 pad-t-15 text-center">
                                        <a id="loadMore_3"  class="cursorPointer color-header">
                                            Voir plus<br>
                                            <i class="fas fa-chevron-down"></i>
                                        </a>
                                    </div>
                                </div>
                            {% else %}
                                <div class="col-md-12 pad-t-20 pad-b-20">
                                    <span class="text-alert">{{ 'global.no_course'|trans }}</span>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    {#close#}

                    {#tab 2#}
                    <div class="row" style="border-bottom: 1px solid #DDDDDD">
                        <div class="col-md-3 no-padding color-header flex--center justify-content-start bold">
                            {{ 'learners.dashboard.a_la_carte_courses'|trans }}
                        </div>
                        <div class="col-md-6 no-padding c-black flex--center">
                            <ul class="nav nav-pills nav-pills-primary header-dashboard" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active font-size-18" data-toggle="tab" href="#link4" role="tablist" aria-expanded="true">
                                        {{ 'learners.dashboard.all'|trans }}
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link font-size-18" data-toggle="tab" href="#link5" role="tablist" aria-expanded="false">
                                        {{ 'learners.dashboard.in_progress'|trans }} ({{ menuInProgressCourses|length }})
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link font-size-18" data-toggle="tab" href="#link6" role="tablist" aria-expanded="false">
                                        {{ 'learners.dashboard.to_start'|trans }} ({{ menuCreatedCourses|length }})
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-3 dashboard-btn no-padding flex--center justify-content-end">
                            {% set url = url('learner_dashboard') ~ '?tab=menu&' %}
                            {% set sortByTitleUrl = (soft is null or soft == 'designation|asc') ? url ~ 'sort=designation|desc' : url ~ 'sort=designation|asc' %}
                            {% set sortByCreatedUrl = (soft == 'created|desc') ? url ~ 'sort=created|asc' : url ~ 'sort=created|desc' %}
                            {% if activityPopup == 1 and lastActivityVal != 0 %}
                                <a class="cursorPointer activity-btn">
                                    <object data="/new-image/derniere-activite.svg" width="35" height="35" type="image/svg+xml"></object>
                                </a>
                            {% else %}
                                <a data-placement="bottom" data-toggle="tooltip" title="{{ 'global.no_last_activity'|trans }}">
                                    <object data="/new-image/disabled-activite.svg" width="35" height="35" type="image/svg+xml"></object>
                                </a>
                            {% endif %}
                            <a href="{{ url('learner_catalog_index') }}" class="cursorPointer">
                                <object data="/new-image/catalogue2.svg" width="35" height="35" type="image/svg+xml"></object>
                            </a>
                            <a href="{{ sortByTitleUrl }}" style="height: 30px; width: 30px; margin-top: -3px;" class="btn btn-deepmark-medium flex--center color-header btn-round">
                                <i class="fas fa-sort-alpha-up color-header font-size-16" aria-hidden="true"></i>
                            </a>
                            <a href="{{ sortByCreatedUrl }}" class="cursorPointer">
                                <object data="/new-image/tri.svg" width="35" height="35" type="image/svg+xml"></object>
                            </a>
                            <a id="showListBtn_2" class="cursorPointer">
                                <object data="/new-image/vignette.svg" width="35" height="35" type="image/svg+xml"></object>
                            </a>
                            <a id="showMenuBtn_2" style="display: none" class="cursorPointer">
                                <object data="/new-image/liste.svg" width="35" height="35" type="image/svg+xml"></object>
                            </a>
                        </div>
                    </div>
                    <div class="tab-content tab-space marg-t-15 no-padding" style="border-left: 8px solid #C0DFFB; padding-right: 8px;">
                        <div class="tab-pane owl-carousel active" id="link4" aria-expanded="true">
                            {% if menuAllCourses|length > 0 %}
                                <ul class="carouselContent_2" id="carousel">
                                    {% for key,row in menuAllCourses %}
                                        <li>
                                            {{ include('molecules/cards/card-course-carousel.html.twig', { row: row, type: 'menuAll' }) }}
                                        </li>
                                    {% endfor %}
                                </ul>
                                <div class="listContent_2 marg-bottom-20 margin-top-20" style="display: none;">
                                    <ul id="myList_4" class="scroll-course">
                                        {% for key,row in menuAllCourses %}
                                            <li>
                                                {{ include('molecules/cards/card-list-course.html.twig', { row: row, type: 'menuAll' }) }}
                                            </li>
                                        {% endfor %}
                                    </ul>
                                    <div class="col-md-12 pad-t-15 text-center">
                                        <a id="loadMore_4" class="cursorPointer color-header">
                                            Voir plus<br>
                                            <i class="fas fa-chevron-down"></i>
                                        </a>
                                    </div>
                                </div>
                            {% else %}
                                <div class="col-md-12 pad-t-20 pad-b-20">
                                    <span class="text-alert">{{ 'global.no_booking'|trans }}</span> <u class="color-header">{{ 'global.our_catalog'|trans }}</u>
                                </div>
                            {% endif %}
                        </div>
                        <div class="tab-pane owl-carousel" id="link5" aria-expanded="false">
                            {% if menuInProgressCourses|length > 0 %}
                                <ul class="carouselContent_2" id="carousel_2">
                                    {% for key,row in menuInProgressCourses %}
                                        <li>
                                            {{ include('molecules/cards/card-course-carousel.html.twig', { row: row, type: 'menuInProgress' }) }}
                                        </li>
                                    {% endfor %}
                                </ul>
                                <div class="listContent_2 marg-bottom-20 margin-top-20" style="display: none;">
                                    <ul id="myList_5" class="scroll-course">
                                        {% for key,row in menuInProgressCourses %}
                                            <li>
                                                {{ include('molecules/cards/card-list-course.html.twig', { row: row, type: 'menuInProgress' }) }}
                                            </li>
                                        {% endfor %}
                                    </ul>
                                    <div class="col-md-12 dashboard-btn pad-t-15 text-center">
                                        <a id="loadMore_5" class="cursorPointer color-header">
                                            Voir plus<br>
                                            <i class="fas fa-chevron-down"></i>
                                        </a>
                                    </div>
                                </div>
                            {% else %}
                                <div class="col-md-12 pad-t-20 pad-b-20">
                                    <span class="text-alert">{{ 'global.no_booking'|trans }}</span> <u class="color-header">{{ 'global.our_catalog'|trans }}</u>
                                </div>
                            {% endif %}
                        </div>
                        <div class="tab-pane owl-carousel" id="link6" aria-expanded="false">
                            {% if menuCreatedCourses|length > 0 %}
                                <ul class="carouselContent_2" id="carousel_3">
                                    {% for key,row in menuCreatedCourses %}
                                        <li>
                                            {{ include('molecules/cards/card-course-carousel.html.twig', { row: row, type: 'menuCreated' }) }}
                                        </li>
                                    {% endfor %}
                                </ul>
                                <div class="listContent_2 marg-bottom-20 margin-top-20" style="display: none;">
                                    <ul id="myList_6" class="scroll-course">
                                        {% for key,row in menuCreatedCourses %}
                                            <li>
                                                {{ include('molecules/cards/card-list-course.html.twig', { row: row, type: 'menuCreated' }) }}
                                            </li>
                                        {% endfor %}
                                    </ul>
                                    <div class="col-md-12 pad-t-15 text-center">
                                        <a id="loadMore_6" class="cursorPointer color-header">
                                            Voir plus<br>
                                            <i class="fas fa-chevron-down"></i>
                                        </a>
                                    </div>
                                </div>
                            {% else %}
                                <div class="col-md-12 pad-t-20 pad-b-20">
                                    <span class="text-alert">{{ 'global.no_booking'|trans }}</span> <u class="color-header">{{ 'global.our_catalog'|trans }}</u>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    {#close#}

                    {#tab 3#}
                    <div class="row" style="border-bottom: 1px solid #DDDDDD">
                        <div class="col-md-3 no-padding color-header flex--center justify-content-start bold">
                            {{ 'learners.dashboard.partner_courses'|trans }}
                        </div>
                        <div class="col-md-6 no-padding c-black flex--center">
                            <ul class="nav nav-pills nav-pills-primary header-dashboard" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active font-size-18" data-toggle="tab" href="#link7" role="tablist" aria-expanded="true">
                                        {{ 'learners.dashboard.all'|trans }}
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link font-size-18" data-toggle="tab" href="#link8" role="tablist" aria-expanded="false">
                                        {{ 'learners.dashboard.in_progress'|trans }} (2)
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-3 dashboard-btn no-padding flex--center justify-content-end">
                            {% if activityPopup == 1 and lastActivityVal != 0 %}
                                <a class="cursorPointer activity-btn">
                                    <object data="/new-image/derniere-activite.svg" width="35" height="35" type="image/svg+xml"></object>
                                </a>
                            {% else %}
                                <a data-placement="bottom" data-toggle="tooltip" title="{{ 'global.no_last_activity'|trans }}">
                                    <object data="/new-image/disabled-activite.svg" width="35" height="35" type="image/svg+xml"></object>
                                </a>
                            {% endif %}
                            <a href="{{ url('learner_catalog_index') }}" class="cursorPointer">
                                <object data="/new-image/catalogue2.svg" width="35" height="35" type="image/svg+xml"></object>
                            </a>
                        </div>
                    </div>
                    <div class="tab-content tab-space marg-t-15 no-padding" style="border-left: 8px solid #E0F0FF; padding-right: 8px;">
                        <div class="tab-pane active" id="link7" aria-expanded="true">
                            <ul id="carousel_3">
                                <li>
                                    <div class="card marg-t-0 marg-b-0">
                                        <img class="card-img-top img-fluid" src="{{ asset('images/edflex.png') }}" alt="Card image cap">
                                        <div class="col-md-12 pad-t-10 pad-b-10 pad-l-5 pad-r-5">
                                            <a href="https://remote.edflex.com/fr/" target="_blank" class="btn btn-block btn-border-header" style="border-radius: 20px;">
                                                Aller !
                                            </a>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="card marg-t-0 marg-b-0">
                                        <img class="card-img-top img-fluid" src="{{ asset('img/deepmark_new.png') }}" alt="Card image cap">
                                        <div class="col-md-12 pad-t-10 pad-b-10 pad-l-5 pad-r-5">
                                            <a href="https://deepmark.edflex.com/" target="_blank" class="btn btn-block btn-border-header" style="border-radius: 20px;">
                                                Aller !
                                            </a>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="tab-pane" id="link8" aria-expanded="false">
                            <ul id="carousel_4">
                                <li>
                                    <div class="card marg-t-0 marg-b-0">
                                        <img class="card-img-top img-fluid" src="{{ asset('images/edflex.png') }}" alt="Card image cap">
                                        <div class="col-md-12 pad-t-10 pad-b-10 pad-l-5 pad-r-5">
                                            <a href="https://remote.edflex.com/fr/" target="_blank" class="btn btn-block btn-border-header" style="border-radius: 20px;">
                                                Aller !
                                            </a>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="card marg-t-0 marg-b-0">
                                        <img class="card-img-top img-fluid" src="{{ asset('img/deepmark_new.png') }}" alt="Card image cap">
                                        <div class="col-md-12 pad-t-10 pad-b-10 pad-l-5 pad-r-5">
                                            <a href="https://deepmark.edflex.com/" target="_blank" class="btn btn-block btn-border-header" style="border-radius: 20px;">
                                                Aller !
                                            </a>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>

                    </div>
                    {#close#}
                </div>
            </div>
            <div class="col-md-3 dashboard-btn pad-t-20 btn-deepmark-light" id="v-learner-dashboard">
                <div class="row flex--center">
                    <div class="col-md-2"></div>
                    <div class="col-md-8 text-center bold text-uppercase color-header">{{ 'trainers.dashboard.nav.planning'|trans }}</div>
                    <div class="col-md-2">
                        <a class="cursorPointer" href="/learner/exercices">
                            <object data="/new-image/planning2.svg" width="35" height="35" type="image/svg+xml"></object>
                        </a>
                    </div>
                    <div class="col-md-12 text-center row flex--center" style="margin: 0.5rem;">
                        <v-date-picker v-model='selectedDate' @input="handleDateChange" @update:from-page="handlePageChange" :attributes="attributes" is-expanded style="border-width: 0.18rem; border-color: #0476FE; border-radius: 2rem;">
                            <div
                            slot="day-popover"
                            slot-scope="{ day, dayTitle, attributes }">
                                <div class="event-list-container" v-if="getMappedEvents">
                                    <div class="v-calendar-event-item-container" v-for="item in getMappedEvents" :key="item.id">
                                        <div class="left-side">
                                            <div class="left-side-icon-blue">
                                                <i class="fa fa-calendar fa-calendar-custom" aria-hidden="true"></i>
                                            </div>
                                        </div>
                                        <div class="right-side">
                                            <p class="event-range">${formatDate(item.start)} - ${item.startEndDate}</p>
                                            <p class="event-sub-range" v-if="countToToday(item.start) > 0">dans ${countToToday(item.start)} jours</p>
                                            <p class="event-sub-range" v-if="countToToday(item.start) < 0">expired</p>
                                            <p class="event-type-container">
                                                <span class="event-type">${item.displayType} : </span>
                                                <span class="event-title">${item.title}</span>
                                            </p>
                                            <p class="event-location-container">
                                                <i class="fa fa-map-marker fa-map-marker-custom" aria-hidden="true"></i>
                                                <span class="event-location">${item.moduleAddress}</span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </v-date-picker>
                    </div>
                </div>
                <div class="row flex--center">
                    <p class="color-header bold">{{ 'global.events'|trans|upper }} ({{ nextSessions|length }})</p>
                    <div class="col-md-12 no-padding"  style="max-height: 300px; overflow-y: auto; overflow-x: hidden;">
                        {% if nextSessions|length > 0 %}
                            {% for row in nextSessions %}
                                {% set hour = row.module.duration|date('G', false) %}
                                {% set minutes =  row.module.duration|date('i', false) %}
                                {% set duration = '' %}

                                {% if hour == '0' %}
                                    {% set duration = '+'~minutes~' min' %}
                                {% elseif minutes == '00' %}
                                    {% set duration = '+'~ hour ~ 'hours' %}
                                {% else %}
                                    {% set duration = '+' ~hour ~ ' hours' ~ ' +' ~ minutes~ ' min' %}
                                {% endif %}
                                {% set address = '' %}
                                {% if row.getModuleSession() is defined %}
                                    {% set moduleSession = row.getModuleSession() %}
                                    {% if moduleSession.getSessionPlace() is defined and moduleSession.getSessionPlace().address is defined and moduleSession.getSessionPlace().place %}
                                        {% set address =  moduleSession.getSessionPlace().address ~ ' - ' ~ moduleSession.getSessionPlace().place %}
                                    {% endif %}
                                {% endif %}

                                {% set leftDays = row.bookingDate.diff( date("now") ).days %}
                                <div class="col-md-12 row no-padding marg-b-15" style="box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);">
                                    <div class="col-md-10 justify-content-start btn-deepmark c-white font-size-12">
                                        <span><b>{{ row.bookingDate|localizeddate('full', 'none', app.request.locale)|capitalize }}</b>  {{ 'global.from_new'|trans|lower }} {{ row.bookingDate|date('G:i', false) }} {{ 'global.to_new'|trans|lower }} {{ row.bookingDate|date_modify(duration)|date('G:i', false) }}</span>
                                    </div>
                                    <div class="col-md-2 btn-deepmark flex--center">
                                        <a class="cursorPointer viewEventBtn"
                                           data-id                  = "{{ row.module.id }}"
                                           data-address             = "{{ address }}"
                                           data-status              = "{{ checkAvaiable[row.id] }}"
                                           data-trainer-name        = "{{ row.trainer.firstName ~ ' ' ~ row.trainer.lastName }}"
                                           data-trainer-phone       = "{{ row.trainer.mobilePhone }}"
                                           data-trainer-email       = "{{ row.trainer.getPerson().email }}"
                                           data-duration            = "{{ row.module.duration|date('G:i') }}"
                                           data-booking-date        = "{{ row.bookingDate|date('Y-m-d') }}"
                                           data-booking-time        = "{{ row.bookingDate|date('G:i', false) }} {{ 'global.to_new'|trans|lower }} {{ row.bookingDate|date_modify(duration)|date('G:i', false) }}"
                                           data-module-intervention = "{{ row.module.intervention.designation }}"
                                           data-module-type         = "{{ include('molecules/widgets/module-type.html.twig', { appId: row.module.storedModule.appId }) }}"
                                           data-module-type-appId   = "{{ row.module.storedModule.appId }}"
                                           data-title-module        = "{{ row.module.designation }}">
                                            <i class="fa fa-eye text-white"></i>
                                        </a>
                                    </div>
                                    <div class="row col-md-12 no-padding">
                                        <div class="col-md-8 pad-10 font-size-12 bg-white">
                                            <b class="color-header text-uppercase">
                                                {{ include('molecules/widgets/module-type.html.twig', { appId: row.module.storedModule.appId }) }}
                                            </b>
                                            <div class="col-md-12 border-left-header text-ellipsis" style="line-height: 1.6;">
                                                <span style="">{{ row.module.designation }}</span><br>
                                                <i>{{ row.module.intervention.designation }}</i>
                                            </div>
                                        </div>
                                        <div class="col-md-4 flex--center color-header bold btn-deepmark-medium pad-10">
                                            <a class="color-header" href="{{ path('learner_courses_module', { 'id': row.module.id }) }}">J-{{ leftDays }}</a>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        {% else %}
                            <p class="c-black text-center">
                                {{ 'learners.dashboard.no_event'|trans }}
                            </p>
                        {% endif %}
                    </div>
                </div>
                <div class="row flex--center marg-t-20">
                    <p class="color-header bold">{{ 'global.my_to_do_list'|trans|upper }} ({{ coursesToBook|length + newCourses|length }})</p>
                    {% if coursesToBook|length > 0 %}
                        <div class="col-md-12 no-padding" style="max-height: 400px; overflow-y: auto; overflow-x: hidden; ">
                            {% for row in coursesToBook %}
                                <div class="row col-md-12 no-padding bg-white  marg-b-15" style="box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);">
                                    <div class="col-md-8 pad-10 font-size-12">
                                        <b class="color-header text-uppercase">
                                            {{ include('molecules/widgets/module-type.html.twig', { appId: row.storedModule.appId }) }}
                                        </b>
                                        <div class="col-md-12 border-left-header text-ellipsis" style="line-height: 1.6">
                                            <span>{{ row.designation }}</span><br>
                                            <i>{{ row.intervention.designation }}</i>
                                        </div>
                                    </div>
                                    <div class="col-md-4 flex--center">
                                        {% if (row.beginning|date("Y/m/d") <=  "now"|date("Y/m/d") and row.ending|date("Y/m/d")  >=  "now"|date("Y/m/d")) and row.intervention.beginning|date("Y/m/d")  <= "now"|date("Y/m/d") and row.intervention.ending|date("Y/m/d")  >= "now"|date("Y/m/d") %}
                                            <a href="{{ path('learner_courses_module', { 'id': row.id }) }}"
                                               class="btn-book btn btn-block backgroud-header font-size-9">{{ 'global.book'|trans }} <br> {{ 'global.session'|trans }}</a>
                                        {% else %}
                                            <label class="text-warning">{{ 'learners.courses.expired'|trans }}</label>
                                        {% endif %}
                                    </div>
                                </div>
                            {% endfor %}
                            {% for row in newCourses %}
                                <div class="row col-md-12 no-padding bg-white  marg-b-15" style="box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);">
                                    <div class="col-md-8 pad-10 font-size-12 text-ellipsis">
                                        <b class="color-header text-uppercase">
                                            {{ row.learnerIntervention.intervention.designation }}
                                        </b>
                                        <div class="col-md-12 row border-left-header" style="line-height: 1.6">
                                            <div class="col-md-12 no-padding text-ellipsis">
                                                <i>{{ row.learnerIntervention.intervention.comment|striptags|raw }}</i>
                                            </div>
                                            <div class="col-md-12 no-padding color-header">
                                                <i class="fa fa-clock"></i> <span>{{ row.totalDuration }}</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 flex--center">
                                        <a href="{{ path('learner_courses_show', {id: row.learnerIntervention.intervention.id}) }}" class="btn-launch btn btn-border-header btn-block no-margin">{{ 'learners.plans.begin'|trans }} <i class="fas fa-arrow-right"></i></a>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    {% else %}
                        <p class="c-black text-center">
                            {{ 'learners.dashboard.no_task'|trans }}
                        </p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <!-- Modal show the booked session -->
    {{ include('molecules/modal/calendar-module-detail.html.twig') }}
    <!-- Show activity modal-->
    <input type="hidden" id="activityPopup" value="{{ activityPopup }}">
    <input type="hidden" id="lastActivity" value="{{ lastActivity?lastActivity.activityValue:0 }}">
    {{ include('molecules/modal/dashboard-activity-modal.html.twig') }}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/owl.carousel.min.js') }}"></script>
    <script>

        $('[data-toggle="tooltip"]').tooltip();
        let activityPopup = $('#activityPopup').val();
        let lastActivity = $('#lastActivity').val();
        if (activityPopup == 1 && lastActivity != 0) {
            $('#dashboard-activity-modal').modal();
            $('#dashboard-activity-modal [data-confirm="modal"]').off('click').on('click', function () {
                window.location.href = "/learner/courses/" + lastActivity + "/module";
            })
            $(".activity-btn").click(function() {
                $('#dashboard-activity-modal').modal('show');
            })
        }

        $(".viewEventBtn").click(function() {
            $("#dashboard-calendar-modal").modal('show');
            $('#modal-type').text($(this).attr('data-module-type'));
            $('#modal-intervention').text($(this).attr('data-module-intervention'));
            $('#modal-duration').text($(this).attr('data-duration'));
            $("#modal-title-module").text($(this).attr('data-title-module'));
            $('#timeDuration').text($(this).attr('data-booking-time'));
            $('#modal-session-date-new').text(moment($(this).attr('data-booking-date')).format('dddd D MMMM'));
            $('#modal-trainer-display-name').text($(this).attr('data-trainer-name'));
            $('#modal-mobile-phone').text($(this).attr('data-trainer-phone'));
            $('#modal-other-email').text($(this).attr('data-trainer-email'));
            $('#modal-address').text($(this).attr('data-address'));
            let appId = $(this).attr('data-module-type-appId');
            let id = $(this).attr('data-id');
            if (appId == {{ constant('\\ApiBundle\\Entity\\StoredModule::PRESENTATION_ANIMATION') }}){
                $(".divForClassroom").show();
            } else{
                $(".divForClassroom").hide();
            }
            if (!$(this).attr('data-status')) {
                $('#modal-book-online-session').text("{{ 'learners.courses.expired'|trans }}");
                $('#modal-book-online-session').removeClass('btn-deepmark');
                $(".booked").hide();
                $(".expired").show();
                $(".divStatus").css('border','1px solid grey')
            } else {
                $('#modal-book-online-session').text("{{ 'global.rejoin'|trans }}");
                $('#modal-book-online-session').addClass('btn-deepmark');
                $(".booked").show();
                $(".expired").hide();
                $(".divStatus").css('border','1px solid #28c612')
            }
            $('#modal-book-online-session').off('click').click(function () {
                window.location.href = '/learner/courses/' + id  + '/module';
            });
        });
        $('#carousel, #carousel_2, #carousel_3, #carousel_4, #carousel_5, #carousel_6').owlCarousel({
            items: 4,
            addClassActive: true,
            responsiveClass: true,
            navigation : true,
            navigationText : ['<span><i class="fa fa-chevron-left color-header fa-inverse"></i></span>','<span><i class="fa fa-chevron-right color-header fa-inverse"></i></span>'],
        });
        $("#showListBtn").click(function() {
            $(this).hide();
            $("#showMenuBtn").show();
            $(".carouselContent").hide();
            $(".listContent").show();
        });
        $("#showMenuBtn").click(function() {
            $(this).hide();
            $("#showListBtn").show();
            $(".carouselContent").show();
            $(".listContent").hide();
        });
        $("#showListBtn_2").click(function() {
            $(this).hide();
            $("#showMenuBtn_2").show();
            $(".carouselContent_2").hide();
            $(".listContent_2").show();
        });
        $("#showMenuBtn_2").click(function() {
            $(this).hide();
            $("#showListBtn_2").show();
            $(".carouselContent_2").show();
            $(".listContent_2").hide();
        });
        listCourse("");
        listCourse("_2");
        listCourse("_3");
        listCourse("_4");
        listCourse("_5");
        listCourse("_6");

        function scrollToBottom(id) {
            const scrollContainer = document.getElementById(id);
            scrollContainer.scrollTo({
                top: scrollContainer.scrollHeight,
                left: 0,
                behavior: 'smooth'
            });
        }
        function listCourse(n) {
            $('#myList'+n+' li:lt(3)').show();
            var items =  $("#myList"+n+" li").length;
            var shown =  3;
            $('#loadMore'+n).click(function () {
                shown = $('#myList'+n+' li:visible').length+3;
                if(shown< items) {$('#myList'+n+' li:lt('+shown+')').show();}
                else {$('#myList'+n+' li:lt('+items+')').show();
                    $('#loadMore'+n).hide();
                }
                scrollToBottom('myList'+n);
            });
        }
        new Vue({
            el: '#v-learner-dashboard',
            delimiters: ['${', '}'],
            data() {
                return {
                    selectedDate: moment().format('YYYY-MM-DD'),
                    selectedMonth: moment().month() + 1,
                    selectedYear: moment().year(),
                    today: moment().format('YYYY-MM-DD'),
                    mappedDates: [],
                    events: [],
                    mappedEvents: []
                }
            },
            computed: {
                attributes() {
                    return this.mappedDates.map(el => ({
                        key: `event.${el.date}`,
                        dot: {
                            backgroundColor: 'blue',
                        },
                        dates: el.date,
                        popover: true,
                        customData: el.events ? el.events : [],
                    }));
                },
                getMappedEvents() {
                    return [ ...this.mappedEvents ]
                }
            },
            methods: {
                init() {
                    return this.fetchEvents(this.selectedMonth, this.selectedYear, this.today);
                },
                handlePageChange(page) {
                    const { month: monthChange, year: yearChange } = page;
                    if (monthChange !== this.selectedMonth) {
                        const fullStart = `${yearChange}-${monthChange}-1`;
                        return this.fetchEvents(monthChange, yearChange, moment(fullStart).format('YYYY-MM-DD'));
                    }
                },
                handleDateChange(newDate) {
                    this.selectedDate = newDate;
                    const start = moment(this.selectedDate).format('YYYY-MM-DD');
                    const end = moment(this.selectedDate).add(1, 'days').format('YYYY-MM-DD');
                    const found = this.attributes.findIndex(el => el.dates === start);
                    if (found > -1) {
                        this.mappedEvents = [...this.attributes[found].customData]
                    }
                },
                fetchEvents(month, year, fulldate) {
                    const daysInMonth = moment(fulldate).daysInMonth();
                    const fullEndDate = moment(`${year}-${month}-${daysInMonth}`).add(1, 'days').format('YYYY-MM-DD');
                    return axios.get(`/learner/calendars?dateStart=${year}-${month}-1&dateEnd=${fullEndDate}`)
                        .then((res) => {
                            const { data: resData } = res;
                            if (resData.length > 0) {
                                this.events = [ ...resData ];
                                return this.filterEvents(resData);
                            }
                        })
                        .catch((err) => {
                            console.log("🚀 ~ file: index.html.twig ~ line 662 ~ err", err)
                        });
                },
                filterEvents(events) {
                    events.map(evt => {
                        let { start, end } = evt;
                        start = moment(start).format('YYYY-MM-DD');
                        end = moment(end).format('YYYY-MM-DD');
                        if (start === end) {
                            const found = this.mappedDates.findIndex(el => el.date === start);
                            if (found === -1) {
                                this.mappedDates.push({ date: start, events: [ evt ]});
                            } else {
                                this.mappedDates[found].events.push(evt);
                            }
                        } else {
                            let current = start;
                            while (current < end) {
                                const found = this.mappedDates.findIndex(el => el === current);
                                if (found === -1) {
                                    this.mappedDates.push({ date: current, events: [ evt ]});
                                } else {
                                   this.mappedDates[found].events.push(evt);
                                }
                                current.add(1, 'days');
                            }
                        }
                    });
                },
                formatDate(date) {
                    return moment(date).format('ddd, DD MMM')
                },
                countToToday(date) {
                    const today = moment();
                    const parsedDate = moment(date);
                    const test = parsedDate.diff(today, 'days');
                    return parsedDate.diff(today, 'days');
                }
            },
            mounted() {
                this.init();
            }
        })
        $(window).on('load', function() {
            $('.loader').hide();
            $(".new-dashboard").show();
        });
    </script>
{% endblock %}