{% if modules is defined%}
    {% for module in modules %}
        {% if module.bookingAgenda|length %}
            {% for booking in module.bookingAgenda %}
                {% set currentBooking = booking %}
            {% endfor %}
        {% endif %}
        <tr class="interv-tr" data-id="{{loop.index}}">
            <td>
                {{ module.intervention.designation }}
            </td>
            <td>
                {% if currentBooking is defined and currentBooking is not null %}
                    {{ currentBooking.learner.entity.organisation.designation }} {{ currentBooking.learner.entity.designation }}
                {% else %}
                    {% for moduleIteration in module.moduleIterations|slice(0, 1) %}
                        {{ moduleIteration.learner.entity.organisation.designation }} {{ moduleIteration.learner.entity.designation }}
                    {% endfor %}
                {% endif %}
            </td>
            <td>
                {% if currentBooking is defined and currentBooking is not null %}
                    {{ currentBooking.trainer.displayName }}
                {% endif %}
            </td>
            <td>
                {% if  module.storedModule is defined%}
                    {{ module.storedModule.designation }}
                {% endif %}
            </td>
            <td>
                {% if currentBooking is defined and currentBooking is not null %}
                    {{ currentBooking.bookingDate|date('d/m/Y') ~ ' at ' ~ currentBooking.bookingDate|date('H:i') }}
                {% else %}
                    {{ module.beginning|date("d/m/Y") }}
                {% endif %}
                <br />
                {% if module.duration is defined %}
                    {{ module.duration|date('H:i') }}
                {% endif %}
            </td>
            <td>{% if (date(module.beginning) <= date() and date(module.ending) >= date()) and (date(module.intervention.beginning) <= date() and date(module.intervention.ending) >= date()) %}
                    {% if currentBooking is defined and currentBooking is not null and currentBooking.status.appId == constant('ApiBundle\\Entity\\Status::LEARNER_INTERVENTION_IN_PROGRESS')%}
                        <a href="{{ path('learner_courses_module', {id: module.id}) }}" class="btn btn-sm btn-deepmark-blue {% if is_granted('ROLE_ADMIN') %}disabled{% endif %}">{{ 'learners.plans.resume'|trans }}</a>
                    {% else %}
                        <a href="{{ path('learner_courses_module', {id: module.id}) }}" class="btn btn-sm btn-deepmark-blue {% if is_granted('ROLE_ADMIN') %}disabled{% endif %}">{{ 'learners.plans.begin'|trans }}</a>
                    {% endif %}
                {% else %}
                    <label class="text-warning">{{ 'learners.courses.expired'|trans }}</label>
                {% endif %}
            </td>
        </tr>
    {% endfor %}
{% endif %}