{# Temporary intervention datas #}

{%
	set interv1 = {
		'org': '/img/Logo_BNP.png',
		'entity': 'IDF Nord',
		'intervention': 'NPS Promoteur',
		'theme': 'Résoudre un problème managérial',
		'liveTrainer': 'Christian COURRIER',
		'apprenant': 'Antoine Brabant',
		'type': 'Séance',
		'doc': 'file',
		'debut': '15/06/2018',
		'duree': '11h30 - 30mn',
		'status': '0'
	}

%}

{%

	set interv2 = {
		'org': '/img/Logo_BP-NORD.png',
		'entity': 'BPF',
		'intervention': 'NPS Promoteur',
		'theme': 'Résoudre un problème managérial',
		'liveTrainer': 'Christian COURRIER',
		'apprenant': 'Antoine Brabant',
		'type': 'Séance',
		'doc': 'file',
		'debut': '15/06/2018',
		'duree': '11h30 - 30mn',
		'status': '1'
	}

%}

{%

  set interv3 = {
    'org': '/img/Logo_BP-NORD.png',
	'entity': 'IDF Nord',
    'intervention': 'NPS Promoteur',
    'theme': 'Résoudre un problème managérial',
    'liveTrainer': 'Christian COURRIER',
    'apprenant': 'Antoine Brabant',
    'type': 'Séance',
    'doc': 'file',
    'debut': '15/06/2018',
    'duree': '11h30 - 30mn',
    'status': ''
  }

%}

{%
	set interventions = [interv1, interv2, interv3, interv1, interv2, interv3, interv2, interv1]
%}


{% block content %} {% endblock %}
