{% extends 'base.html.twig' %}
{% block pagename %}{{ 'Best Practices'|trans }}{% endblock %}
{% block body %}
    {% include 'molecules/best-practices/create.html.twig' %}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}