{% extends 'base.html.twig' %}

{% block pagename %}{{ isEdit is defined ? 'admin.supervisor.edit_supervisor'|trans : 'admin.supervisor.create_supervisor'|trans }}{% endblock %}

{% block body %}
    {% set defaultPassword = constant('\\ApiBundle\\Entity\\Profile::DEFAULT_PASSWORD') %}
    <div class="card {{ isEdit is defined ? 'card--user' : '' }}">
        {% if isEdit is defined %}
            {% set requiredClass = '' %}
            {% set requiredInput = false %}
            <div class="card-header card-header-icon">
                <div class="card-icon">
                    <img src="{{ asset('img/default-avatar.png') }}" alt="">
                </div>

                <a  data-placement="top" data-toggle="tooltip" title="List" class="btn btn-deepmark-navy" href="{{ path('admin_supervisors_index') }}"><i class="fal fa-list"></i></a>

                <div style="display: inline-block;">
                    <a id="btnDelete" data-placement="top" data-toggle="tooltip" title="Delete"
                       class="btn btn-deepmark-red"><i class="fal fa-trash"></i></a>
                </div>
            </div>
        {% else %}
            {% set requiredClass = 'required' %}
            {% set requiredInput = true %}
            <div class="card-header--nav">
                {{ include('molecules/cards/nav/admin-supervisor-nav.html.twig') }}
            </div>
        {% endif %}

        {{ form_start(form) }}
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group row">
                        <div class="col-4 t-right">
                            <label class="required">{{ 'global.firstname'|trans }}</label>
                        </div>
                        <div class="col-8">
                            {{ form_widget(form.firstName) }}
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-4 t-right">
                            <label class="required">{{ 'global.lastname'|trans }}</label>
                        </div>
                        <div class="col-8">
                            {{ form_widget(form.lastName) }}
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-4 t-right">
                            <label class="required">{{ 'global.entity'|trans }}</label>
                        </div>
                        <div class="col-8">
                            {{ form_widget(form.entity) }}
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-4 t-right">
                            <label class="required">{{ 'global.time_zone'|trans }}</label>
                        </div>
                        <div class="col-8">
                            {{ form_widget(form.person.timezone) }}
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-4 t-right">
                            <label>{{ 'global.mobile'|trans }}</label>
                        </div>
                        <div class="col-8">
                            {{ form_widget(form.mobilePhone) }}
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-4 t-right">
                            <label>{{ 'table.function'|trans }}</label>
                        </div>
                        <div class="col-8">
                            {{ form_widget(form.position) }}
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-4 t-right">
                            <label>{{ 'global.phone'|trans }}</label>
                        </div>
                        <div class="col-8">
                            {{ form_widget(form.fixedPhone) }}
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-4 t-right">
                            <label class="required">{{ 'global.email'|trans }}</label>
                        </div>
                        <div class="col-8">
                            {{ form_widget(form.person.email) }}
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-4 t-right">
                            <label class="{{ requiredClass }}">{{ 'admin.profile.password'|trans }}</label>
                        </div>
                        <div class="col-8">
                            {% if isEdit is defined %}
                                {{ form_widget(form.person.plainPassword.first, {'required': requiredInput}) }}
                            {% else %}
                                {{ form_widget(form.person.plainPassword.first, {'required': requiredInput, 'value': defaultPassword}) }}
                            {% endif %}
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-4 t-right">
                            <label class="{{ requiredClass }}">{{ 'admin.profile.rp_password'|trans }}</label>
                        </div>
                        <div class="col-8">
                            {% if isEdit is defined %}
                                {{ form_widget(form.person.plainPassword.second, {'required': requiredInput}) }}
                            {% else %}
                                {{ form_widget(form.person.plainPassword.second, {'required': requiredInput, 'value': defaultPassword}) }}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            {#{{ form_widget(form) }}#}
            <div class="text-right">
                <a href="{{ isEdit is defined ? path('admin_supervisors_index') : path('admin_supervisors_new') }}" class="btn btn-deepmark-lightgray">{{ 'buttons.cancel'|trans }}</a>
                <button type="submit" class="btn btn-orangelight">{{ isEdit is defined ? 'buttons.edit'|trans : 'buttons.create'|trans }}</button>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
    {% if isEdit is defined %}
        {{ include('molecules/modal/delete-user.html.twig', { url: path('admin_supervisors_delete',{id: profile.id }), isDelete: 1  }) }}
    {% endif %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
<script type="text/javascript">
  $(document).ready(function(){
      $('#profile_supervisor_person_timezone').select2({
              minimumResultsForSearch: 1
          }
      );
      $('#profile_supervisor_edit_person_timezone').select2({
              minimumResultsForSearch: 1
          }
      );
      $('[data-toggle="tooltip"]').tooltip();
      $('#btnDelete').on('click', function () {
          $('#deleteModal').modal('show');
      });
  })
</script>
{% endblock %}
