{% extends 'base.html.twig' %}

{% block pagename %}{{ 'admin.profile.upload_client'|trans }}{% endblock %}

{% block body %}
{{ include('molecules/uploadFiles.html.twig', {type: 'Clients', page: "uploadList",form:form })}}
{% endblock %}
