<ul class="nav nav-pills" role="tablist">
    {% for navigatorItem in navigatorItems %}
        <li class="nav-item">
            <a class="nav-link nav-link--flex {{ route == navigatorItem.href ? 'active' }} {{ navigatorItem.class }}"
               href="{{ path(navigatorItem.href) }}">
                <i class="{{ navigatorItem.icon }}"></i><span>{{ navigatorItem.label }}</span>
            </a>
        </li>
    {% endfor %}
</ul>