{% extends "base_offline.html.twig" %}
{% block body %}
    {% trans_default_domain 'FOSUserBundle' %}
    <style>
        .card .card-body {
            padding:0.9375rem 30px;
        }
    </style>
    <div class="container">
        <div class="col-lg-5 col-md-8 col-sm-10 ml-auto mr-auto">
            <div class="card card-login marg-t-100">
                <div class="card-header text-center pad-t-30">
                    {% include 'atoms/images/logo.html.twig' %}
                </div>
                <div class="card-body">
                    <p>{{ 'registration.check_email'|trans({'%email%': user.email}) }}</p>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}
