{% extends "base_offline.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}
{% block body %}
    <style>
        .card .card-body {
            padding:0.9375rem 30px;
        }
    </style>
    <div class="container">
        <div class="col-lg-5 col-md-8 col-sm-10 ml-auto mr-auto">
            <div class="card card-login marg-t-100">
                <div class="card-header text-center pad-t-30">
                    {% include 'atoms/images/logo.html.twig' %}
                </div>
                <div class="card-body">
                    <p>{{ 'registration.confirmed'|trans({'%username%': user.username}) }}</p>
                    {% if targetUrl %}
                        <p><a href="{{ targetUrl }}">{{ 'registration.back'|trans }}</a></p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock body %}