{% trans_default_domain 'FOSUserBundle' %}

{% form_theme form _self %}

<!--
{% block form_label_class %}col-sm-4{% endblock %}
{% block form_group_class %}col-sm-8{% endblock %}
-->

{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
<div class="card card-login">
    <div class="card-header text-center pad-t-30 pad-b-30">
        {% include 'atoms/images/logo.html.twig' %}
    </div>

    <div class="card-body">

        {% for label, messages in app.flashes(['user-role-exception']) %}
            {% for message in messages %}
                <div class="flash-{{ label }} text-center">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}

        <div class="form-group user-type flex" role="group">
            <label class="card--user-type flex--center active">
                <input id="user-learner" value="learner" type="radio" name="user-type" class="visual-hide"/>
                <i class="fas fa-user-graduate"></i>
                <span class="marg-t-10">Student</span>
            </label>

            <label class="card--user-type flex--center">
                <input id="user-teacher" type="radio" value="trainer" name="user-type" class="visual-hide"/>
                <i class="fas fa-chalkboard-teacher"></i>
                <span class="marg-t-10">Teacher</span>
            </label>
        </div>
        {{ form_widget(form) }}
    </div>

    <div class="card-footer">
        <button type="submit" id="_submit" class="btn btn-deepmark-orangelight">{{ 'registration.submit'|trans }}</button>
    </div>
</div>
{{ form_end(form) }}
