{% extends "base_offline.html.twig" %}

{% block body %}
	<div class="container">
		<div class="col-lg-5 col-md-8 col-sm-10 ml-auto mr-auto marg-t-100">
			{% include "@FOSUser/Registration/register_content.html.twig" %}
		</div>
	</div>
{% endblock body %}
