{% if paginationtype is not defined %}
    {% set paginationtype = 'week' %}
{% endif %}

{% if period is not defined %}
    {% set period = 'day' %}
{% endif %}

{% if modifier is not defined %}
    {% set modifier = '' %}
{% endif %}

<div class="table-pagination table-pagination--{{ modifier }} marg-b-40"
     data-type="{{ paginationtype }}"
     data-link="{{ link|default('#') }}"
     {% if target is defined %}data-target="{{ target }}"{% endif %}>
    <div class="row">
        <div class="col-2">

        </div>

        <div class="col-8 flex--center">
            <button class="btn change-date c-bg-green c-white t-bold" data-action="prev-date">
                <i class="fal fa-long-arrow-left marg-r-10"></i> {{ ('pagination.previous_' ~ period)|trans }}
            </button>
            {% if period == 'day' %}
                <span class="today-date t-bold c-black t-ls-1">{{ 'now'|date('d/m/Y') }}</span>
            {% elseif period == 'week' %}
                {% set day = 'now'|date('w') %}
                {% set weekStart = 'now'|date_modify("-#{day-1} days")|date('d/m/Y') %}
                {% set weekEnd = 'now'|date_modify("+#{6-day} days")|date('d/m/Y') %}
                <span class="today-date t-bold c-black t-ls-1"><span>{{ weekStart }}</span>–<span>{{ weekEnd }}</span></span>
            {% elseif period == 'month' %}
                <span class="today-date t-bold c-black t-ls-1">{{ 'now'|date('F') }}</span>
            {% endif %}
            <button class="btn change-date c-bg-green c-white t-bold" data-action="next-date">
                {{ ('pagination.next_' ~ period)|trans }}<i class="fal fa-long-arrow-right marg-l-10"></i>
            </button>
        </div>

        <div class="col-2 flex--center">
            {% if period == 'day' %}
                <button id="datepicker-link" class="btn btn-deepmark-orangelight pickdate-text text-right">
                    {{ 'pagination.goto'|trans }} <i  class="fal fa-calendar-alt"></i>
                </button>
                <input id="goto-datepicker" type="text" class="form-control datepicker" value="" style="display: none;">
            {% endif %}
        </div>

    </div>
</div>
