{% macro input(label, name, value, type = "text", size = 20, required) %}
    {% if value.timestamp is defined %}
        {%  set value = value|date('m/d/Y') %}
    {% endif %}
    <div class="form-group">
        <label for="input{{ name }}"><strong>{{ ('form.label.'~label|lower)|trans }}</strong>{% if required %} *{% endif %}</label>
    </div>
    <input type="{{ type }}" name="{{ name }}" value="{{ value|e }}" size="{{ size }}" class="form-control"
           {% if required %}required{% endif %}/>
{% endmacro %}

{% macro textarea(label, name, value, type = "text", size = 20, required) %}
    {% if value.timestamp is defined %}
        {%  set value = value|date('m/d/Y') %}
    {% endif %}
    <div class="form-group">
        <label for="input{{ name }}"><strong>{{ ('form.label.'~label|lower)|trans }}</strong>{% if required %} *{% endif %}</label>
    </div>
    <textarea name="{{ name }}" rows="4" cols="50" class="form-control" {% if required %}required{% endif %}>{{ value|e }}</textarea>
{% endmacro %}