{% extends "base.html.twig" %}
{% block pagename %}{{ 'admin.quiz.quiz_title'|trans }}{% endblock %}
{% block body %}
    <div class="row justify-content-center  marg-t-20 marg-b-20">
        <ul class="nav nav-pills" role="tablist">
            <li class="nav-item">
                <a class="nav-link {{status == 'all' ? 'active' : ''}}" href="{{ url('admin_quiz_index') }}">
                    {{ 'admin.quiz.nav.published'|trans }}&nbsp;&nbsp;&nbsp;<i class="fal fa-check-circle"></i>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link {{status == 'draft' ? 'active' : ''}}" href="{{ url('admin_quiz_index', {status: 0}) }}">
                    {{ 'admin.quiz.nav.draft'|trans }}&nbsp;&nbsp;&nbsp;<i class="fal fa-battery-half"></i>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link create-link" href="{{ url('admin_quiz_new') }}">
                    <span>{{ 'admin.quiz.nav.create'|trans }}</span>&nbsp;&nbsp;&nbsp; <i class="fa fa-plus-circle font-size-22"></i>
                </a>
            </li>
        </ul>
    </div>


    <div class="card no-margin">
        <div class="card-body admin">
            <div class="row pad-b-10">
                <div class="col-md-3"></div>
                <div class="col-md-6 ">
                    {% set queryParams = app.request.query.all %}
                    <h3 class="bold no-margin text-center color-header">{{ queryParams['status'] is defined and queryParams['status'] == 0 ? 'admin.quiz.quiz_draft'|trans : 'admin.quiz.quiz_published'|trans }}</h3>
                </div>
                <div class="col-md-3  no-padding-left text-right ">
                </div>
            </div>
            {{ include('molecules/tables/list-quizes-table.html.twig',
                { quizes: quizes}) }}
        </div>
    </div>
{% endblock %}
 

{% block javascripts %}
    {{ parent() }}

    <!-- Add Scripts -->
    <script src="{{ asset('js/admin/quiz/index.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/lang_datatable.js') }}"></script>
    <script>
        $(document).ready(function () {
            let lang = languageDatatable();
            let table = $('#quizTable').DataTable({
                "language": lang,
                "scrollX": true,
                "scrollY": false,
                dom: 'Blfrtip',
                "order": [[ 1, "desc" ]],
                    exportOptions: {
                        columns: ':visible'
                    },
                    buttons: [
                        'csv',
                        'excel',
                        {extend: 'pdfHtml5', orientation: 'landscape', pageSize: 'A3',},
                        'colvis'
                    ]

                }
            );

            $('.buttons-colvis').on('click', function () {
                $('.dt-button-collection').addClass('show');
            });
            $(".dataTables_filter").hide();
            $('#bookSearch').keyup(function(){
                table.search($(this).val()).draw() ;
            })
            $('.check-all-input-datatable').change(function() {
                var rows = table.rows({ 'search': 'applied' }).nodes();
                $('input[type="checkbox"]', rows).prop('checked', this.checked);
            });
            $( window ).resize(function() {
                $('#quizTable').DataTable().columns.adjust();
            });

            let btn = $('[data-action="minimize-sidebar"]');
            if (btn.length) {
                btn.on('click', function () {
                    setTimeout(function() {
                        $('#quizTable').DataTable().columns.adjust();
                    }, 300);
                })
            }
        });
    </script>
{% endblock %}