{% extends "base.html.twig" %}
{% block pagename %}{{ quizId is defined ? 'admin.quiz.edit_quiz'|trans : 'admin.quiz.create_quiz'|trans }}{% endblock %}
{% block body %}
    <!--    form to add new quiz -->
    <div class="card card-quiz-add">
        <div class="card-header card-header-navy">
            <ul class="nav nav-pills float-right" role="tablist">
                <li class="nav-item ">
                    <a class="nav-link active" name="navLinkQuiz" data-toggle="tab" href="#step1" role="tablist">
                        <span class="nav-link__icon"><i class="fal fa-check"></i></span>
                            {{ 'admin.quiz.create.nav.step1'|trans }}
                    </a>
                </li>
            </ul>

            <h4 class="card-title">
                <i class="fal fa-plus"></i> {{ 'admin.quiz.create.title'|trans }}
            </h4>
        </div>

        <form method="post">
            <input type="hidden" id="quiz_tmp_id" name="quiz_id" value="{{quizId}}" />
            <input type="hidden" id="quiz_id" name="quiz_id" value="{{quizId}}" />
            <div class="card-body">
                <div class="tab-content tab-space">
                    <div class="tab-pane active " id="step1">
                        {{ include('molecules/quiz/create.html.twig', {'steps': steps})}}
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <!-- Add Scripts -->
    <script src="{{ asset('js/admin/quiz/translations.js') }}"></script>
    <script src="{{ asset('js/admin/quiz/uploads.js') }}"></script>
    <script src="{{ asset('js/admin/quiz/create.js') }}"></script>
    {% for type in question_types %}
        <script src="{{ asset('js/admin/quiz/questions/'~type.id~'.js') }}"></script>
    {% endfor %}

{% endblock %}
