{% extends "base.html.twig" %}

{% block pagename %}Documents{% endblock %}

{% block body %}
    <div class="card">
        <div class="card-header card-header-icon card-header-icon--navy">
            <div class="card-icon">
                <i class="fal fa-book"></i>
            </div>
            <div class="card-icon">
                <a href="{{ path('trainer_documents_new')}}"> <i class="fal fa-upload"></i></a>
            </div>
        </div>

        <div class="card-body">
            {{ include('molecules/tables/library-table.html.twig', {type: 'documents'}) }}
        </div>
    </div>
{% endblock %}
