{% extends 'base.html.twig' %}

{% block pagename %}Upload File{% endblock %}

{% block body %}
{{ include('molecules/uploadFiles.html.twig', {type: false, route: 'trainer_documents_index'})}}
{% endblock %}

