body, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4 {
	font-family: Montserrat;
}
#header {
	position: fixed;
	top: 0;
	background-color: white;
	background-image: url("../images/logo-fond.svg");
	height:70px!important;
	color:white!important;
	box-shadow: none!important;
	background-repeat: no-repeat;
	background-position: left;
	.user {
		display: flex;
		align-items: center;

		&.active { background-color: $deepmark-orangelight; }
		.photo {
			width: 55px;
			height: 55px;
			line-height: 50px;
			font-weight: bold;
			color: white;
			text-align: center;
			background-color: #bbb;
			border-radius: 50%;
			display: inline-block;
			text-transform: uppercase;
			margin: 0;
		}

		.user-info {
			a {
				color: #FFFFFF;
			}
			span{
				font-size: 25px;
				font-weight: bold;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis!important;
			}
		}

		.btn-user-edit {
			color: #FFFFFF;
		}
	}
}
#divCourse{
	max-height: 1000px;
}
.color-header{
	color:#0076fe!important;
}
.backgroud-header{
	background-color:#0076fe!important;
}
.btn-border-header{
	background-color:#fff!important;
	border: 2px solid #0076fe!important;
	color: #0076fe!important;
}
.bg-responsive{
	background-size: contain!important;
	background-repeat:no-repeat!important;
	background-position: center!important;
}
.bg-header{
	height: 160px;
	background-size: contain!important;
	background-repeat:no-repeat!important;
	background-position: center!important;

	@media only screen and (min-width: 1600px) {
		height: 200px;
	}
	.progress-circle{
		@media only screen and (min-width: 1600px) {
			margin-top: 40px!important;
		}
	}
}
//styling
$borderWidth: 13px;
$animationTime: 1.5s;
$border-color-default: #fff;
$border-color-fill: #0076fe;
$size: 100px;

//Create how many steps
$howManySteps: 100; //this needs to be even.
//for fun try using 20 and changine in the HTML the data-percentage to 15 or 85
.global-status{
	.progress-circle {
		width: 100px!important;
		height: 100px!important;
		line-height: 100px!important;
		margin-top: 10px!important;
		&:after {

			border: 8px solid #ddd!important;

		}
		.progress-bar-circle {
			border-width: 8px!important;
			border-color: $deepmark !important;
		}
		.progress-value {
			font-size: 25px!important;
			color:$deepmark!important;

		}
	}
}
.assessment{
	.progress-circle {
		width: 60px!important;
		height: 60px!important;
		line-height: 60px!important;
		margin-top: 10px!important;
		&:after {

			border: 8px solid #ddd!important;

		}
		.progress-bar-circle {
			border-width: 8px!important;
		}
		.progress-value {
			font-size: 11px!important;
			color:grey!important;

		}
	}
	.validate{
		.progress-circle {
			.progress-bar-circle {
				border-color: #22aa73!important;
			}
		}
		.progress-value {
			color: #22aa73 !important;

		}
	}
	.unvalidate{
		.progress-circle {
			.progress-bar-circle {
				border-color: red !important;
			}
		}
		.progress-value {
			color:red!important;

		}
	}
}

.synthesis{
	.progress-circle {
		margin-top: 10px!important;
		width: 50px!important;
		height: 50px!important;
		line-height: 50px!important;

		&:after {

			border: 8px solid #ddd!important;

		}
		.progress-bar-circle {
			border-color: grey!important;
			border-width: 8px!important;
		}
		.progress-value {
			font-size: 11px!important;
		}
	}

}
.header{
	.progress-circle {
		width: $size;
		height: $size;
		line-height: $size;
		background: none;
		margin: 0 auto;
		box-shadow: none;
		position: relative;
		&:after {
			content: "";
			width: 100%;
			height: 100%;
			border-radius: 50%;
			border: $borderWidth solid $border-color-default;
			position: absolute;
			top: 0;
			left: 0;
		}
		> span {
			width: 50%;
			height: 100%;
			overflow: hidden;
			position: absolute;
			top: 0;
			z-index: 1;
		}
		.progress-left {
			left: 0;
		}
		.progress-bar-circle {
			width: 100%;
			height: 100%;
			background: none;
			border-width: $borderWidth;
			border-style: solid;
			position: absolute;
			top: 0;
			border-color: $border-color-fill;
		}
		.progress-left .progress-bar-circle {
			left: 100%;
			border-top-right-radius: ($size/2);;
			border-bottom-right-radius: ($size/2);;
			border-left: 0;
			-webkit-transform-origin: center left;
			transform-origin: center left;
			//animation: loading-2 1.5s linear forwards 1.8s;
		}
		.progress-right {
			right: 0;
			.progress-bar-circle {
				left: -100%;
				border-top-left-radius: ($size/2);;
				border-bottom-left-radius: ($size/2);;
				border-right: 0;
				-webkit-transform-origin: center right;
				transform-origin: center right;
				//animation: loading-1 1.8s linear forwards;
			}
		}
		.progress-value {
			color: #fff;
			display: flex;
			border-radius: 50%;
			font-size: 25px;
			font-weight: 900!important;
			text-align: center;
			line-height: 20px;
			align-items: center;
			justify-content: center;
			height: 100%;
			//font-family: $work-sans;
			font-weight: 800;

			span {
				font-size: 12px;
				text-transform: uppercase;
			}
		}
	}

	/* This for loop creates the 	necessary css animation names
    Due to the split circle of progress-left and progress right, we must use the animations on each side.
    */
	@for $i from 1 through $howManySteps {
		$stepName: ($i*(100 / $howManySteps));

		//animation only the left side if below 50%
		@if $i <= ($howManySteps/2) {
			.progress-circle[data-percentage="#{$stepName}"] {
				.progress-right .progress-bar-circle {
					animation: loading-#{$i} $animationTime linear forwards;
				}
				.progress-left .progress-bar-circle {animation: 0;}
			}
		}
		//animation only the right side if above 50%
		@if $i > ($howManySteps/2)  {
			.progress-circle[data-percentage="#{$stepName}"] {
				.progress-right .progress-bar-circle {
					animation: loading-#{($howManySteps/2)} $animationTime linear forwards; //set the animation to longest animation
				}
				.progress-left .progress-bar-circle {
					animation: loading-#{$i - ($howManySteps/2)} $animationTime linear forwards $animationTime;
				}
			}
		}
	}

	//animation
	@for $i from 1 through ($howManySteps/2) {
		$degrees: (180/($howManySteps/2));
		$degrees: ($degrees*$i);
		@keyframes loading-#{$i}{
			0%{
				-webkit-transform: rotate(0deg);
				transform: rotate(0deg);
			}
			100%{
				-webkit-transform: rotate($degrees);
				transform: rotate(#{$degrees}deg);
			}
		}
	}
	//additional styling
	.progress-circle {
		margin-bottom: 1em;
		margin-top: 20px;
	}
}