.form--login {
  position: relative;
  z-index: 10;

  .forgot-link {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
  }
}

.card-login {
  background-color: #0076fe ;
  box-shadow: none!important;
  .card-header {
    margin: -100px auto 0px auto;

    .dm-logo {
      width: 100%;
      max-width: 230px;
    }
  }

  .card-body {

    @media screen and (max-width: 400px) {
      width: 100%;
    }
  }

  .card-body + .card-footer {
    padding: 0;
    justify-content: center;

    @media screen and (max-width: 400px) {
      margin-bottom: 0;
    }

    .btn {
      box-shadow: $box-shadow;
      font-size: 18px;
      padding: 5px 15px;

      @media screen and (max-width: 400px) {
        display: block;
        width: 100%;
        margin: 0;
      }
    }
  }
}

.card--user-type {
  flex-direction: column;
  box-shadow: $box-shadow;
  width: 50%;
  height: 100px;
  border-radius: 10px;
  margin: 0 10px;
  i { font-size: 2rem; }

  &.selected {
    background-color: $deepmark-orangelight;
    border-color: $deepmark-orangelight;
    color: white;
    font-weight: 700;
  }
}
