.navbar {
  .navbar-wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
}

.card-header--nav {
  margin-top: -35px !important;
}



.nav-pills  {
  .nav-item {
    i {
      display: inline-block;
      padding:0;
      margin-right: 10px;
      font-size: 1.4em;
      vertical-align: -2px;
    }
    .nav-link--flex {
      display: flex;
      align-items: center;
    }
  }
}

.create-link {
  background-color: #fff !important;
  color: $deepmark ;
}

.create-link:hover {
  color: #fff ;
}
.card-header--module {
  .nav-pills .nav-item .nav-link.active {
    background: $deepmark-orangelight;
  }
}

.nav-pills {
  .nav-item {
    margin-right: 15px;

    @media screen and (max-width: 768px) {
      margin-right: 0;
      margin-left: 0 !important;

      width: 100%;
      display: block;
    }

    .nav-link {
      border-radius: 10px;
      color: $deepmark;
      background-color: #fff;
      padding: 10px 20px;
      border: 1px solid $deepmark!important;

      &:hover {
        background-color: $deepmark!important;
        color:#fff;
      }

      &.active {
        background-color: $deepmark!important;
        color:#fff;

      }
    }
  }
}
