.sidebar-mini {
	.sidebar { background: rgba(0, 0, 0, 0.8); }
}

.sidebar {
	//overflow: hidden;
	.logo {
		padding-top: 40px;
	}
	.sidebar-background {
		background-image: url('../img/background.jpg');
		background-position: left;

		&:after {
			background: $deepmark-navy;
			opacity: 0.4;
		}
	}

	&.hidden {
		width: 0!important;
	}

	.logo {
		.logo-link {
			display: block;
			width: 40%;
			margin: 0 auto;
		}
	}

	.nav li a, .nav li .dropdown-menu a p {
		&:hover {
			background-color: $deepmark-light;
			color: $deepmark!important;
		}
	}

	.nav-item.active p{
		color: $deepmark!important;
	}
	&-mini {
		.btn-user-edit { display: none; }
	}

	&:hover {
		.btn-user-edit { display: block !important; }
	}

	.logout {}
}

#minimizeSidebar {
	i {
		vertical-align: 0px !important;
	}
}
