#menu-footer{
  .sidebar{
    background-color:#fff!important;
  }

  .sidebar .logo {
    padding-top: 20px!important;
    padding-bottom: 20px!important;
    padding-left: 10px!important;
    padding-right: 10px!important;
  }
  .sidebar .nav-item.active a {
    border-left: 5px solid $deepmark;
    background-color: $deepmark-light!important;
    font-weight: 900;
    embed{
      margin-left: 10px;
    }
  }
  .sidebar .nav-item.active .menu-learner i object{
    margin-left: -5px;
  }
  .sidebar .nav-item .menu-learner i{
    margin-left: 10px;
    margin-top: -5px;
  }
  .sidebar .nav-item.active .menu-admin i{
    margin-left: 11px;
  }
  .sidebar .nav-item .menu-admin i{
    margin-left: 15px;
  }
  .sidebar .nav-item.active .menu-trainer i{
    margin-left: 11px;
  }
  .sidebar .nav-item .menu-trainer i{
    margin-left: 16px;
  }
  .sidebar .nav-item a i{
    color: $deepmark;
  }
  .sidebar .nav-item a {
    embed{
      margin-left: 17px;
    }
  }
  .nav li a, .nav li .dropdown-menu a {
    font-weight: 500;
    font-size: 16px;
    &:hover {
    }
  }
  .logo{
    background-color: white!important;
  }
  ::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
  }

}
.sidebar-mini #minimizeSidebar, .sidebar-mini .username {
  opacity: 0;
}
.sidebar-mini .sidebar:hover #minimizeSidebar, .sidebar-mini .sidebar:hover .username {
  opacity: 1;
}
.footer-sidebar{
  //bottom: 80px;
  //position: absolute;
}
.sidebar-mini .footer-hide {
  opacity: 0;
}
.sidebar-mini .sidebar:hover .footer-hide {
  opacity: 1;
}
.sidebar-mini .footer-icon {
  margin-left: 60px;
}
.sidebar-mini .sidebar:hover .footer-icon {
  margin-left: 20px;
}
