<div class="card card-login">
	<div class="card-header text-center">
		{% include 'atoms/images/logo.html.twig' %}
	</div>

	<div class="card-body">
		{% block cardbody %}
			<div class="form-group">
				<div class="input-group">
					<input type="text" class="form-control" placeholder="E-mail" aria-label="Email">

					<div class="input-group-append">
						<span class="input-group-text"><i class="fal fa-user-circle"></i></span>
					</div>
				</div>
			</div>

			<div class="form-group">
				<div class="input-group">
					<input type="password" class="form-control" placeholder="Mot de passe" aria-label="Mot de passe">

					<div class="input-group-append">
						<span class="input-group-text"><i class="fal fa-key"></i></span>
					</div>
				</div>
			</div>

			<p class="text-right">
				<a href="#" class="forgot-link">Mot de passe oublié</a>
			</p>

			<div class="form-group form-check text-center">
				<input type="checkbox" class="form-check-input" id="rememberMe">
				<label class="form-check-label rememberme" for="rememberMe">Se souvenir de moi</label>
			</div>
		{% endblock %}
	</div>

	<div class="card-footer text-center">
		{% block cardfooter %}
			<a href="#" class="btn btn-deepmark-lightgray">Inscription</a>
			<button type="submit" class="btn btn-deepmark-orangelight">Connexion</a>
		{% endblock %}
	</div>
</div>
