{% extends 'molecules/offline/login-card.html.twig' %}

{% block cardbody %}
	{{ 'learners.alerts.inscription' |trans}}
{% endblock %}

{% block cardfooter %}
	<button type="submit" class="btn btn-deepmark-orangelight">{{ 'buttons.next'|trans }}</button>
{% endblock %}