#courseEvaluationWrapper {
  hr {
    margin-bottom: 20px;
  }
}

#evaluationTopRow {
  display: flex;
}

#evaluationStars {
  margin-left: 15px;
}

#evaluationHeader {
  font-size: 28px;
  color: $deepmark-mediumgray;
}

#evaluationBottomRow {
  margin-top: 10px;
  display: grid;
  height: 0px;
  overflow: hidden;
  transition: 500ms;
  place-items: center;
  grid-template-columns: 1fr 120px;

  button {
    justify-self: right;
  }
}

#evaluationComment {
  padding: 0;
  place-self: stretch;
  border: none;
  border-bottom: solid 1px $deepmark-lightgray;
  resize: none;

  &:focus {
    border-bottom: solid 2px $deepmark-orangelight;
  }
}
