.filesListWrapper {
  width: 100%;
}

.downloadFile {
  background: $pane-grey;
  border-radius: 4px;
  width: 100%;
  margin-bottom: 10px;
  height: 40px;
  color: $deepmark-black;
  text-decoration: none;
  padding: 10px;
  line-height: 40px;

  &:hover {
    text-decoration: none;
    color: $deepmark-black;
  }

  display: flex;
  align-items: center;

  i {
    margin-right: 15px;
  }
}
