.courseHeader {
  font-size: 28px;
  color: $deepmark-black;
  margin-bottom: 40px;
}

.moduleInfo {
  width: 70%;
  min-width: 400px;
  margin: auto;
  display: grid;
  grid-template-columns: 60% 40%;
  grid-column-gap: 40px;
}

.moduleInfoLeft {

}

.moduleTitle {
  display: flex;
  align-items: center;
  font-size: 18px;
  color: $deepmark-mediumgray;

  i {
    flex-grow: 0;
    flex-shrink: 0;
    margin-right: 10px;
  }
}

.moduleDescription {
  margin-top: 10px;
  font-size: 14px;
}

.moduleIconCircle {
  border-radius: 100%;
  box-shadow: 0px 0px 2px #888;
  width: 40px;
  height: 40px;
  background-color: white;
  display: grid;
  place-items: center;
  font-size: 18px;
}

.moduleInfoDate, .moduleInfoTrainer {
  display: flex;
  font-size: 18px;
  color: $deepmark-mediumgray;
  margin-top: 10px;
  margin-bottom: 20px;
  line-height: 28px;

  i {
    line-height: 28px;
    font-size: 28px;
    margin-right: 20px;
  }
}

.courseFilesList {
  //width: 70%;
  //min-width: 400px;
  //margin: 30px auto 0;
  li {
    float: left;
    min-width: 280px;
  }
}

#bookToJoin {
  font-size: 20px;
  margin: 50px 0;
}

.modal-footer {
  button {
    margin-left: 10px;
  }
}
