#video {
  width: 100%;
  height: 460px;
  background: $deepmark-black;
  position: relative;
}

#toolbar {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  padding: 15px 0;
  display: flex;
  justify-content: center;
  list-style: none;
  width: 80%;

  li {
    width: 25%;
    background: hsla(0,0,0,.2);
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 10px;
  }
  i {
    font-size: 20px;
  }
  span {
    font-weight: 500;
    margin-top: 10px;
  }
}

#notes {
  textarea {
    border-radius: 5px;
    min-height: 10em;
    width: 100%;
    padding: .5em;
  }
}

#conference {
  label {
    display: block;
    margin-bottom: 4px;
  }
}

.infobox {
  $width: 280px;
  position: relative;
  &:hover {
    .infobox--hover {
      opacity: 1;
    }
  }
  &--icon {
    margin: 0 10px;
    cursor: pointer;
  }
  &--hover {
    position: absolute;
    left: calc((-#{$width} - 10px));
    top: 0;
    opacity: 0;
    width: $width;

    background: $pane-grey;
    color: $deepmark-black;
    font-size: 14px;
    line-height: 1.4;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 3px 5px $shadow;
    transition: all 200ms ease-in;
  }
}
