@import "online-session";
@import "files-list";
@import "evaluation";
@import 'video-conference';

$sidebar-width: 320px;

.sidebar-courses { display: none; }

.courses-html {

  .sidebar {

    @media screen and (max-width: 1199px) {
      transform: translate3d($sidebar-width, 0, 0);
    }
  }

  &.nav-open {
    .sidebar {
      @media screen and (max-width: 1199px) {
        transform: translate3d(0, 0, 0);
      }
    }
  }

  &.nav-open {
    .main-panel {
      @media screen and (max-width: 1199px) {
        transform: translate3d(-$sidebar-width, 0, 0);
      }
    }
  }

  .sidebar-courses {
    margin-top: 20px;

    display: block;
    width: $sidebar-width;

    height: calc(100vh - 200px);
  }
}

.course-nav {
  list-style: none;
  padding: 0;
  position: relative;

  &__item {
    display: block;
    position: relative;
    counter-increment: item;
    opacity: 1;
    clear: both;
    cursor: pointer;

    &.active {
      .course-nav__item-title {
        font-weight: 700;
      }
    }

    &::before {
      display: flex;
      align-items: center;
      justify-content: center;

      font-size: 22px;
      content: counter(item);
      background: #FFFFFF;
      position: absolute;
      border-radius: 50%;
      left: 10px;
      width: 30px;
      height: 30px;
      z-index: 400;
      color: $deepmark-navy;
      opacity: 0.9;
    }

    &--done {
      &:before { opacity: 0.7; }
      opacity: 0.7;

      &:after {
        content: ' ';
        background: #FFFFFF;
        display: inline-block;
        position: absolute;
        left: 25px;
        top: 30px;
        width: 2px;
        height: calc(100% - 10px);
        z-index: 400;
        opacity: 0.9;
      }
    }

    &--end::before {
      content: '';
    }

    &--current {
      .course-nav__item-inner {
        box-shadow: 5px 5px 5px rgba(255, 255, 255, 0.7);
      }

      .course-nav__item-meta { display: none; }

      &:after {
        content:"";
        border-bottom:50px solid transparent;
        border-right:85px solid #ffffff;
        border-top: 50px solid transparent;
        position: absolute;
        right: 0;
        top: calc(100% - 100px);
      }
    }

    &-inner {
      padding: 0;
      border-radius: 10px;
      background-color: #FFFFFF;

      width: 240px;
      margin-bottom: 20px;
      margin-left: 50px;

    }

    &-title {
      color: #FFFFFF;
      padding: 10px;
      border-radius: 10px 10px 0 0;
      font-weight: 400;
    }

    &-desc {
      color: $deepmark-black!important;
      padding: 10px;
    }

    &-meta {
      font-size: 12px;
      color: #FFFFFF;
      float: right;
      overflow: hidden;
      width: 85px;
    }

    &-link {
      display: block;
      text-align: center;
      margin-bottom: 15px;
    }
  }

  &__status {
    color: $deepmark-black!important;

    .status {
      &::before {
        $size: 14px;
        content: '';
        border-radius: 50%;
        margin: 0 5px;
        display: inline-block;
        width: $size;
        height: $size;
      }
      &--done::before {
        background: $deepmark-green;
      }
      &--inprogress::before {
        background: $deepmark-orangelight;
      }
      &--todo::before {
        background: $deepmark-red;
      }
      &--blocked::before {
        background: $deepmark-lightgray;
      }
      &--booked::before {
        background: $deepmark-lightblue;
      }
      &--learner-absent::before {
        background: $deepmark-purple;
      }
    }
  }
}

.courses-video, .courses-quiz {
  width: 90%;
  min-height: 500px;
  display: block;
  margin: 0 auto;
}

.courses-video-url{
  width: 100%;
  height: 600px;
  display: block;
  margin: 0 auto;
}

.courses-video-placeholder {
  background: $deepmark-black;
  width: 90%;
  min-height: 500px;
  margin: 0 auto;

  > p {
    background-color: hsla(0,0,0,.2);
    border-radius: 6px;
  }
}

.booking-popover {
  max-width: 700px;

  position: absolute;
  z-index: 1000;

  top: 50%;
  left: 50%;

  padding: 20px;
  background: #FFFFFF;
  border: 1px solid $deepmark-lightgray;
  border-radius: 5px;

  display: none;

  &__close {
    position: absolute;
    top: -20px;
    right: 5px;
  }
}

.evaluation-form-done { display: none; }

#cancel-booking-info {
  width:100%;
}

#noMediaInformation {
  background: $pane-grey;
  border-radius: 4px;
  width: 100%;
  margin: 15px 0;
  height: 40px;
  color: $deepmark-black;
  text-decoration: none;
  display: grid;
}

.course-card {
  border-radius: 5px;
  padding: 10px 20px;
  background: $pane-grey;
  box-shadow: 0 3px 5px $shadow;
}

.documents {
  &__list {
    padding:0;
    margin: 0;
    color: $deepmark-black!important;
  }
  &__list-item {
    padding: 10px 0;
    display: flex;
    align-items: center;

    > i {
      font-size: 40px;
      color: $deepmark-black;
    }

    > div {
      display: flex;
      flex-direction: column;
    }

    .btn {
      font-size: 10px;
      padding: 3px 10px;
      width: 120px;
    }
  }
}

.course-path {
  counter-reset: item;
  list-style-type: none;
  background: $pane-grey;
  padding:  10px 20px;
  border-radius: 5px;

  &__item {
    display: flex;
    border-bottom: 1px solid $deepmark-lightgray;
    padding: 10px 0 15px;
  }

  &__icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;

    i { color: white; }
  }

  &__title {
    font-size: 18px;
    font-weight: 500;
    &::before {
      counter-increment: item;
      content: counters(item, "") " – ";
    }
  }

  &__details {
    display: flex;
    flex-direction: column;
  }

  &__status,
  &__date {
    font-size: 14px;
  }

  &__status {
    margin-left: 10px;
  }
  &__date {}
}

.course-details {
  div {
    color: $deepmark-black;
    padding: .5em 0;
  }

  dt {
    width: 26px;
    margin-right: 1em;
    color: inherit;
    i {
      font-size: 20px;
    }
  }
  dd {
    margin: 0;
    color: inherit;
    //font-weight: 500;
  }
}

.module-badge {
  $size: 30px;
  width: $size;
  height: $size;
  border-radius: 50%;
  i { color: white; }
}

.border-left-custom {
  border-left: 1px solid #c0c0c0 !important;
}

.border-right-custom {
  border-right: 1px solid #c0c0c0 !important;
}

.status-badge {
  border-radius: 50%;
}
