{% extends 'base.html.twig' %}

{% block pagename %}{{ isEdit is defined ? 'admin.group.edit_group'|trans : 'admin.group.create_group'|trans  }}{% endblock %}

{% block body %}
    <div class="card">
        <div class="card-header--nav">
            {{ include('molecules/cards/nav/admin-learners-nav.html.twig') }}
        </div>
        <div class="card-body">
            {{ form_start(form) }}
                {{ form_widget(form) }}
                <button  class="btn btn-sm btn-deepmark-orangelight" type="submit">{{ isEdit is defined ? 'Edit' : 'Create' }}</button>
            {{ form_end(form) }}
            <a class="btn btn-sm btn-deepmark-navy" href="{{ path('admin_group_index') }}">Back to the list</a>
            {% if isEdit is defined %}
                {{ form_start(delete_form) }}
                    <button  class="btn btn-sm btn-deepmark-red" type="submit">Delete</button>
                {{ form_end(delete_form) }}
            {% endif %}
        </div>
    </div>
{% endblock %}
