{% extends 'base.html.twig' %}

{% block pagename %}{{ 'admin.group.group_title'|trans }}{% endblock %}

{% block body %}
    <div class="card">
        <div class="card-header--nav">
            {{ include('molecules/cards/nav/admin-learners-nav.html.twig') }}
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Group name</th>
                            <th>Num</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for list in data %}
                        <tr>
                            <td><a href="{{ path('admin_group_show', { 'id': list.group.id }) }}">{{ list.group.id }}</a></td>
                            <td>{{ list.group.designation }}</td>
                            <td>{{ list.numLearner }}</td>
                            <td>
                                <a class="no-collapsable" href="{{ path('admin_group_show', { 'id': list.group.id }) }}"><i class="fal fa-eye"></i></a>
                                <a class="no-collapsable" href="{{ path('admin_group_edit', { 'id': list.group.id }) }}"><i class="fal fa-pen"></i></a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

            <div class="text-right">
                <a class="btn btn-sm btn-deepmark-orangelight" href="{{ path('admin_group_new') }}">Create a new group</a>
            </div>
        </div>
    </div>

{% endblock %}
