{% extends 'base.html.twig' %}

{% block pagename %}{{ 'admin.group.create_group'|trans }}{% endblock %}

{% block body %}
    <div class="card">
        <div class="card-header--nav">
            {{ include('molecules/cards/nav/admin-learners-nav.html.twig') }}
        </div>
        <div class="card-body">
            {{ form_start(form) }}
                {{ form_widget(form) }}
                <button type="submit" class="btn btn-sm btn-deepmark-orangelight">Create</button>
            {{ form_end(form) }}

            <a class="btn btn-sm btn-deepmark-navy" href="{{ path('admin_group_index') }}">Back to the list</a>
        </div>
    </div>
{% endblock %}
