{% extends 'base.html.twig' %}

{% block pagename %}{{ 'admin.group.show_group'|trans }}{% endblock %}

{% block body %}
    <div class="card">
        <div class="card-header--nav">
            {{ include('molecules/cards/nav/admin-learners-nav.html.twig') }}
        </div>
        <div class="card-body">
            <table>
                <tbody>
                    <tr>
                        <th>Id</th>
                        <td>{{ group.id }}</td>
                    </tr>
                    <tr>
                        <th>Designation</th>
                        <td>{{ group.designation }}</td>
                    </tr>
                </tbody>
            </table>


            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <th>{{ 'table.learners.firstname'|trans }}</th>
                        <th>{{ 'table.learners.lastname'|trans }}</th>
                        <th>{{ 'table.learners.email'|trans }}</th>
                        <th>{{ 'table.learners.status'|trans }}</th>
                        <th>{{ 'global.organisation_structure'|trans }}</th>
                        <th>{{ 'global.entity'|trans }}</th>
                        <th>{{ 'global.direction_region'|trans }}</th>
                        <th>{{ 'global.group'|trans }}</th>
                        <th>{{ 'global.workplace'|trans }}</th>
                    </thead>
                    <tbody>
                    {% for row in learnerGroups %}
                        <tr>
                            <td>{{ row.learner.firstName }}</td>
                            <td>{{ row.learner.lastname }}</td>
                            <td>{{ row.learner.person.email }}</td>
                            <td>{% if row.learner.person.enabled  == 1 %} Activated {% else %} Desactivated  {% endif %}</td>
                            <td>{{ row.learner.entity.organisation.designation| default('') }}</td>
                            <td>{{ row.learner.entity.designation| default('') }}</td>
                            <td>{{ row.learner.regional.designation| default('') }}</td>
                            <td>{{ row.learner.groupOrganization.designation | default('') }}</td>
                            <td>{{ row.learner.workplace.designation | default('') }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

                    <a class="btn btn-sm btn-deepmark-navy" href="{{ path('admin_group_index') }}">Back to the list</a>
            <a class="btn btn-sm btn-deepmark-orangelight" href="{{ path('admin_group_edit', { 'id': group.id }) }}">Edit</a>

            {{ form_start(delete_form) }}
                <button  class="btn btn-sm btn-deepmark-red" type="submit">Delete</button>
            {{ form_end(delete_form) }}
        </div>
    </div>
{% endblock %}
