{% extends 'base.html.twig' %}

{% block pagename %}{% trans %}Statistics{% endtrans %}{% endblock %}
{% block title %}Statistics{% endblock %}

{% block body %}
	<link rel="stylesheet" href="{{ asset('css/clockpicker.css') }}" media="all"/>
	<style>
		.form-inline label {
			justify-content: left !important;
		}

		.card .card-header {
			padding: .75rem 1.25rem;
			margin-bottom: 0;
			background-color: rgba(0, 0, 0, .03);
			border-bottom: 1px solid rgba(0, 0, 0, .125);
		}

		.card .card-footer {
			border-top: 1px solid rgba(0, 0, 0, .125);
			background-color: rgba(0, 0, 0, .03);
			padding: .75rem 1.25rem !important;
		}

		.info-box {
			display: block;
			min-height: 90px;
			background: #fff;
			width: 100%;
			box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
			border-radius: 2px;
			margin-bottom: 15px;
		}

		.info-box-content {
			padding: 5px 10px;
			margin-left: 90px;
		}

		.bg-aqua, .callout.callout-info, .alert-info, .label-info, .modal-info .modal-body {
			background-color: #00c0ef !important;
		}

		.info-box-icon {
			border-top-left-radius: 2px;
			border-top-right-radius: 0;
			border-bottom-right-radius: 0;
			border-bottom-left-radius: 2px;
			display: block;
			float: left;
			height: 90px;
			width: 90px;
			text-align: center;
			font-size: 45px;
			line-height: 90px;
			background: rgba(0, 0, 0, 0.2);
		}

		.info-box-text {
			text-transform: uppercase;
		}

		.progress-description, .info-box-text {
			display: block;
			font-size: 14px;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}

		.info-box-number {
			display: block;
			font-weight: bold;
			font-size: 18px;
		}
	</style>
	<div class="card bg-white admin-statistics">
		<div class="col-md-12 pad-t-20 marg-bottom-20 text-center">
			<ul class="nav nav-pills  justify-content-center">
				<li class="nav-item">
					<a id="globalBtn" class="btn active text-capitalize report-to-do global_statistic" >{{ 'admin.statistic.global_statistic'|trans }}</a>
				</li>

				<li class="nav-item">
					<a id="activityBtn" class="btn text-capitalize report-done activity_statistic" >{{ 'admin.statistic.activity_statistic'|trans }}</a>
				</li>
			</ul>
		</div>

		<div>
			<div class="col-md-12 stat d-none" id="global">
				<h3 class="text-center marg-b-10 marg-t-10 color-header bold"> {{ 'admin.statistic.global_statistic'|trans }} </h3>
			</div>

			<div class="col-md-12 stat d-none" id="activity">
				<h3 class="text-center marg-b-10 marg-t-10 color-header bold"> {{ 'admin.statistic.activity_statistic'|trans }} </h3>
			</div>
			<div class="row filter-calendar flex--center filter  global-filter d-none marg-t-30">

				<div class="col-md-2 text-center color-header"><a typeTime="week" class="pointer firstTimeBtn"> {{ 'global.week'|trans }}</a></div>
				<div class="col-md-2 color-header"><a typeTime="month" class=" pointer">{{ 'global.month'|trans }}</a></div>

				<div class="col-md-4 no-padding">
					<div id="week-tab" class=" d-none calendar-custom">
						<div class="row">
							<div class="col-12 no-padding flex--center">
								<div class="col-md-2 no-padding">
									<button class="btn change-date btn-border c-white t-bold mr-1 pad-t-5 pad-b-5 pad-l-15 pad-r-15 border-radius-20"
											id="prevWeekActivities">
										<i class="fal fa-long-arrow-left"></i>
									</button>
								</div>
								<div class="col-md-8 no-padding text-center">
									{% set day = 'now'|date('w') %}
									{% set weekStart = 'now'|date_modify("-#{day-1} days")|date('d/m/Y') %}
									{% set weekEnd = 'now'|date_modify("+#{6-day} days")|date('d/m/Y') %}
									<span id="weekRangeDateActivities" class="today-date t-bold c-black t-ls-1">
                                            <span>{{ weekStart }}</span>–<span>{{ weekEnd }}</span>
                                        </span>
									<input type="hidden"
										   value="{{ 'now'|date_modify("-#{day-1} days")|date('Y-m-d') }}"
										   id="activitiesWeekStart">
									<input type="hidden"
										   value="{{ 'now'|date_modify("+#{6-day} days")|date('Y-m-d') }}"
										   id="activitiesWeekEnd">
								</div>
								<div class="col-md-2 no-padding">
									<button class="btn change-date  btn-border pad-t-5 pad-b-5 pad-l-15 pad-r-15 border-radius-20 c-white t-bold ml-1"
											id="nextWeekActivities">
										<i class="fal fa-long-arrow-right"></i>
									</button>
								</div>
							</div>
						</div>
					</div>
					<div id="month-tab" class=" d-none calendar-custom">
						<div class="row">
							<div class="col-12  no-padding flex--center">
								<div class="col-md-2 no-padding">
									<button class="btn change-date  btn-border pad-t-5 pad-b-5 pad-l-15 pad-r-15 border-radius-20 c-white t-bold mr-1"
											id="prevMonthActivities">
										<i class="fal fa-long-arrow-left "></i>
									</button>
								</div>
								<div class="col-md-8 no-padding text-center">

									{% set monthYear = 'now'|date('F Y') %}
									<span id="monthRangeDateActivities" class="today-date t-bold c-black t-ls-1">
                                                <span id="monthTxt">{{ monthYear }}</span>
                                            </span>
									<input type="hidden"
										   value="{{ 'now' | date_modify('first day of this month') | date('Y-m-d') }}"
										   id="activitiesMonthStart">
									<input type="hidden"
										   value="{{ 'now' | date_modify('last day of this month') | date('Y-m-d') }}"
										   id="activitiesMonthEnd">
								</div>
								<div class="col-md-2 no-padding">
									<button class="btn change-date btn-border pad-t-5 pad-b-5 pad-l-15 pad-r-15 border-radius-20 c-white t-bold ml-1"
											id="nextMonthActivities">
										<i class="fal fa-long-arrow-right "></i>
									</button>
								</div>
							</div>
						</div>
					</div>
					<div  id="year-tab" class=" d-none calendar-custom">
						<div class="row">
							<div class="col-12  no-padding flex--center">
								<div class="col-md-2 no-padding">
									<button class="btn change-date btn-border pad-t-5 pad-b-5 pad-l-15 pad-r-15 border-radius-20 c-white t-bold mr-1"
											id="prevYearActivities">
										<i class="fal fa-long-arrow-left"></i>
									</button>
								</div>
								<div class="col-md-8 no-padding text-center">
									{% set year = 'now'|date('Y') %}
									<span id="yearRangeDateActivities" class="today-date t-bold c-black t-ls-1">
                                            <span>{{ year }}</span>
                                        </span>
									<input type="hidden"
										   value="{{ 'now' | date('Y-01-01') }}"
										   id="activitiesYearStart">
									<input type="hidden"
										   value="{{ 'now' | date('Y-12-31') }}"
										   id="activitiesYearEnd">
								</div>
								<div class="col-md-2 no-padding">
									<button class="btn change-date  btn-border pad-t-5 pad-b-5 pad-l-15 pad-r-15 border-radius-20 c-white t-bold ml-1"
											id="nextYearActivities">
										<i class="fal fa-long-arrow-right"></i>
									</button>
								</div>


							</div>
						</div>

					</div>
					<div id="period-tab" class="d-none calendar-custom text-center c-black">
						<span id="startDateTxt" class="bold"></span> - <span id="endDateTxt" class="bold"></span>

					</div>

				</div>
				<div class="col-md-2 text-right color-header"><a typeTime="year" class=" pointer">{{ 'global.year'|trans }}</a></div>
				<div class="col-md-2 text-center color-header"><a typeTime="period" class=" pointer">{{ 'global.period'|trans }}</a></div>

			</div>
			<div class="row roundCount d-none marg-t-40 filter global-filter marg-l-40 marg-r-20 c-black  ">
				<div class="no-padding col-md-1">
					<div id="individualTxt" class="border-radius-50 font-size-20 btn-deepmark text-white round-stats d-flex justify-content-center align-items-center">
						0
					</div>
				</div>
				<div class="col-md-2 align-self-center text-uppercase font-size-13">
					{{ 'trainers.statistics.export.individual'|trans }}
				</div>

				<div class="no-padding col-md-1">
					<div id="virtualTxt" class="border-radius-50  font-size-20 btn-deepmark text-white round-stats d-flex justify-content-center align-items-center">
						0
					</div>
				</div>
				<div class="col-md-2 align-self-center text-uppercase font-size-13">
					{{ 'trainers.statistics.export.virtual'|trans }}
				</div>
				<div class="no-padding col-md-1">
					<div id="presentationTxt" class="border-radius-50 font-size-20 btn-deepmark text-white round-stats d-flex justify-content-center align-items-center">
						0
					</div>
				</div>
				<div class="col-md-2 align-self-center text-uppercase font-size-13">
					{{ 'trainers.statistics.export.presentation'|trans }}
				</div>
				<div class="no-padding col-md-1">
					<div id="workshopTxt" class="border-radius-50 font-size-20 btn-deepmark text-white round-stats d-flex justify-content-center align-items-center">
						0
					</div>
				</div>
				<div class="col-md-2 align-self-center text-uppercase font-size-13">
					{{ 'trainers.statistics.export.workshop'|trans }}
				</div>
			</div>
			<div class="row roundCount d-none marg-t-20 filter global-filter marg-l-40 marg-r-20  c-black ">
				<div class="no-padding col-md-1">
					<div id="interventionsTxt" class="border-radius-50 font-size-20 btn-deepmark text-white round-stats d-flex justify-content-center align-items-center">
						0
					</div>
				</div>
				<div class="col-md-2 align-self-center text-uppercase font-size-13">
					{{ 'trainers.dashboard.nav.reports'|trans }}
				</div>
				<div class="no-padding col-md-1">
					<div id="learnersTxt" class="border-radius-50 font-size-20 btn-deepmark text-white round-stats d-flex justify-content-center align-items-center">
						0
					</div>
				</div>
				<div class="col-md-2 align-self-center text-uppercase font-size-13">
					{{ 'trainers.dashboard.nav.exercice'|trans }}
				</div>

				<div class="no-padding col-md-1">
					<div id="trainersTxt" class="border-radius-50 font-size-20 btn-deepmark text-white round-stats d-flex justify-content-center align-items-center">
						0
					</div>
				</div>
				<div class="col-md-2 align-self-center text-uppercase font-size-13">
					{{ 'global.trainer_note'|trans }}

				</div>
				<div class="no-padding col-md-1">
					<div  id="supervisorTxt" class="border-radius-50 font-size-20 btn-deepmark text-white round-stats d-flex justify-content-center align-items-center">
						0
					</div>
				</div>
				<div class="col-md-2 align-self-center text-uppercase font-size-13">
					{{ 'table.trainers.assiduity'|trans }}
				</div>

			</div>

			<div class="row">
				<div class="col-md-12">
					{{ include('statistics/trainer-filters.html.twig') }}
				</div>
				<input id="typeStat" type="hidden">
			</div>
			<div class="row stat-data d-none">
				<div class="col-12">
					<div class="card">
						<div class="card-body">
							<div class="row globalExportDiv filter global-filter">
								<div class="col-md-4 no-padding globalExport ">
									<div class="form-group pt-1 dataTables_wrapper dt-bootstrap4 no-footer">
										<div class="dt-buttons btn-group">
											<button  id="exportPdfBtn" class="btn btn-secondary buttons-pdf buttons-html5" tabindex="0"  type="button"><span>PDF</span></button>
											<button  id="exportBtn" class="btn btn-secondary buttons-excel buttons-html5" tabindex="0"  type="button"><span>Excel</span></button>
										</div>

									</div>
								</div>

							</div>
							<div id="tableStatisticsData">

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
{% block javascripts %}
	{{ parent() }}
	<script>
		$(document).ready(function () {
			$("#globalBtn").click(function() {
				$(".stat").addClass('d-none');
				$(".stat-data").addClass('d-none');
				$("#global").removeClass('d-none');
				$(".filter").addClass('d-none');
				$(".global-filter").removeClass('d-none');
				$("#typeReport").val(9).change();
				$("#typeStat").val('global');
				$(".f-search").removeClass("col-md-6");
				$(".f-search").removeClass("col-md-2");
				$(".f-search").removeClass("col-md-3");
				$(".f-search").addClass("col-md-4");
				$(".timeActive").click();

			});
			$("#globalBtn").trigger('click');

			$("#activityBtn").click(function() {
				$(".stat").addClass('d-none');
				$("#typeStat").val('activity');
				$("#activity").removeClass('d-none');
				$(".filter").removeClass('d-none');
				$(".stat-data").addClass('d-none');
				$(".exportAll").addClass('d-none');
				$(".globalExportDiv").addClass('d-none');
				$(".timeActive").click();
				$(".roundCount").addClass('d-none');
				$(".typeStatDiv").addClass('d-none');
				$(".f-search").removeClass('col-md-2');
				$(".f-search").removeClass('col-md-3');
				$(".f-search").removeClass('col-md-4');
				$(".f-1").addClass('col-md-2');
				$(".f-2").addClass('col-md-3');
				$("#typeReport").val(7).change();


			});
			let languageCalendar = $('#locate').val();
			$(".pointer").click(function() {
				let typeTime = $(this).attr('typeTime');
				let type = $("#typeStat").val();
				$(".calendar-custom").addClass('d-none');
				$(".pointer").removeClass('timeActive');
				$(".period-filter").addClass('d-none');
				$(this).addClass('timeActive');
				if ( type == 'global' ) {
					$(".f-search").removeClass("col-md-4");
					$(".f-search").removeClass("col-md-6");
					$(".f-search").removeClass("col-md-2");
					$(".f-search").removeClass("col-md-3");

					$(".f-search").addClass("col-md-4");

				} else if (type == 'activity') {
					$(".f-search").removeClass('col-md-2');
					$(".f-search").removeClass('col-md-3');
					$(".f-search").removeClass('col-md-4');
					$(".f-1").addClass('col-md-2');
					$(".f-2").addClass('col-md-3');
				}

				if (typeTime == 'week') {
					$("#week-tab").removeClass('d-none');
					$('#startDate').val(moment($("#activitiesWeekStart").val()).format('DD/MM/YYYY'));
					$('#endDate').val(moment($("#activitiesWeekEnd").val()).format('DD/MM/YYYY'));

				} else if (typeTime == 'month') {
					$("#month-tab").removeClass('d-none');
					$('#startDate').val(moment($("#activitiesMonthStart").val()).format('DD/MM/YYYY'));
					$('#endDate').val(moment($("#activitiesMonthEnd").val()).format('DD/MM/YYYY'));
					if ( languageCalendar == 'fr' ) {
						let day = moment($('#activitiesMonthStart').val());
						$("#monthTxt").text(day.locale(languageCalendar).format('MMMM YYYY'));
					}

				} else if (typeTime == 'year') {
					$("#year-tab").removeClass('d-none');
					$('#startDate').val(moment($("#activitiesYearStart").val()).format('DD/MM/YYYY'));
					$('#endDate').val(moment($("#activitiesYearEnd").val()).format('DD/MM/YYYY'));

				} else if (typeTime == 'period'){
					$("#period-tab").removeClass('d-none');
					$(".period-filter").removeClass('d-none');
					let startDate = $('#startDate').val();
					$("#startDateTxt").text(startDate);
					let endDate = $('#endDate').val();
					$("#endDateTxt").text(endDate);
					if ( type == 'global' ) {
						$(".f-search").removeClass("col-md-4");
						$(".period-filter").removeClass("col-md-6");
						$(".period-filter").removeClass("col-md-4");
						$(".period-filter").addClass("col-md-2");
						$(".organizationId").addClass("col-md-2");
						$(".entityId").addClass("col-md-3");
						$(".courseId").addClass("col-md-3");

					} else if (type == 'activity') {
						$(".period-filter").addClass("col-md-6");
					}

				}
			});
			$(".firstTimeBtn").click();

		});
	</script>
{% endblock %}