<div class="card marg-t-0 marg-b-0">
    {% set urlCourse = '#' %}
    {% if row.intervention.beginning|date("Y/m/d") <= "now"|date("Y/m/d") and row.intervention.ending|date("Y/m/d") >= "now"|date("Y/m/d") %}
        {%  set urlCourse = path('learner_courses_show', {id: row.intervention.id}) %}
    {% endif %}
    <a href="{{ urlCourse }}">
    {% if row.intervention.logo %}
        <img width="318" class="card-img-top img-fluid" src="/files{{ asset(row.intervention.logo.path) }}"
             alt="{{ row.intervention.designation }}">
    {% else %}
        <img width="318" class="card-img-top img-fluid" src="/img/course_banner.jpg"
             alt="{{ row.intervention.designation }}">
    {% endif %}
    </a>
    <div class="row">
        <div class="col-md-10 pad-t-10">
            <div class="progress">
                <div class="progress-bar" role="progressbar"
                     style="width: {{ row.learnerIntervention.progression|default(0)|round }}%" aria-valuenow="25"
                     aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        </div>
        <div class="text-center font-size-10 color-header col-md-2 no-padding">
            {{ row.learnerIntervention.progression|default(0|round) }}%
        </div>
    </div>
    <div class="card-block font-size-13 pad-b-5">
        <div class="row">
            <div class="col-md-10 no-padding-right bold text-left">
                <span id="short_title_{{ type }}_{{ row.intervention.id }}">{{ row.intervention.designation|truncate(40, true, '...') }}</span>
                <span id="full_title_{{ type }}_{{ row.intervention.id }}" style="display: none;">
                    {{ row.intervention.designation }}
                </span>
            </div>
            <div class="text-center col-md-2 no-padding">
                <a class="cursorPointer" data-toggle="collapse" href="#description_{{ type }}_{{ row.intervention.id }}"
                   aria-expanded="false" aria-controls="description">
                    <i class="far fa-info-circle c-orangelight"></i>
                </a>
            </div>
            <div class="collapse font-size-13 col-md-12" id="description_{{ type }}_{{ row.intervention.id }}">
                <div class="row">
                    <div class="col-md-3 font-size-12 no-padding flex--center justify-content-start color-header">
                        <object data="/new-image/duree.svg" width="20" height="20"
                                type="image/svg+xml"></object>&nbsp;{{ row.totalDuration }}
                    </div>
                    <div class="col-md-9 font-size-12 no-padding text-right">
                        {{ 'global.from'|trans }} {{ row.intervention.beginning|date("d/m/Y") }} {{ 'global.to'|trans }} {{ row.intervention.ending|date("d/m/Y") }}
                    </div>
                    <span class="marg-t-20 text-justify marg-b-15" style="line-height: 1.6">{{ row.intervention.comment|raw }}</span>
                    <p class="c-red no-margin">
                        {% if row.intervention.ending|date("Y/m/d") >= "now"|date("Y/m/d") %}
                            {% set leftDays = row.intervention.ending.diff( date("now") ).days %}
                            {{ 'global.expires_in_days'|trans({'%days%': leftDays}) }}
                        {% else %}
                            {{ 'learners.courses.expired'|trans }}
                        {% endif %}
                        ({{ row.intervention.ending|localizeddate('full', 'none', app.request.locale)|capitalize }})
                    </p>
                    <div class="col-md-12 no-padding color-header text-right">
                        <span>{{ 'learners.dashboard.time_left'|trans }} : </span> <span class="badge badge-label-deepmark-light">{{ row.remainMinutes }}mins</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $('#description_{{ type }}_{{ row.intervention.id }}').on('shown.bs.collapse', function () {
        $("#short_title_{{ type }}_{{ row.intervention.id }}").hide();
        $("#full_title_{{ type }}_{{ row.intervention.id }}").show();
    });

    $('#description_{{ type }}_{{ row.intervention.id }}').on('hidden.bs.collapse', function () {
        $("#short_title_{{ type }}_{{ row.intervention.id }}").show();
        $("#full_title_{{ type }}_{{ row.intervention.id }}").hide();
    });
</script>