<form class="form form-horizontal">
  <div class="row align-items-end">
    <div class="col-md-9">
      <div class="card">
        <div class="card-header card-header--nomargin card-header-gold">
          <h4 class="card-title card-title-duplicate">
            Duplicate
            <i class="fal fa-copy"></i>
          </h4>

          <h4 class="card-title">
            <i class="fal fa-question-square"></i>
            Quiz
            <div class="customtitle-wrapper">
              <input type="text" class="row-field-customtitle form-control" placeholder="Custom title..." disabled="disabled" value="{{ data.designation|default('') }}">
            </div>
            <div class="customDuration"></div>
          </h4>
        </div>

        <div class="card-body">
          <!-- <select class="selectpicker selectSubject" name="selectSubject" data-style="select-with-transition"> </select> -->

          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label for="observationsArea">{{'admin.interventions.create.step1.instructions'|trans}}</label>
                <textarea class="form-control observationsArea" rows="3">{{ data.description|default('') }}</textarea>
              </div>


            </div>

            <div class="col-md-12">
              <div class="form-group">
                <label for="audio"> Quiz </label>
                <select class="selectpicker quiz" data-style="select-with-transition">
                  <option>file 1</option>
                  <option> file 2</option>
                </select>
              </div>
              <button type="button" class="btn-create-quiz btn btn-sm btn-deepmark-orangelight">{{ 'buttons.create_quiz'|trans }}</button>
            </div>

            <div class="col-md-12">

              <div class="row">
                <label class="col-sm-7 col-form-label">Maximum iterations</label>

                <div class="col-sm-5">
                  <select class="selectpicker selectMaxIteration" data-style="select-with-transition">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                  </select>
                </div>
              </div>

              <div class="row">
                <label class="col-sm-7 col-form-label">{{ 'admin.interventions.create.step2.min_rating'|trans }}</label>

                <div class="col-sm-5">
                  <select class="selectpicker selectMinRating" data-style="select-with-transition"></select>
                </div>
              </div>

            </div>

          </div>
        </div>

        <button type="button" class="btn btn-deepmark-orangelight btn-sm btnListingUpload">See uploaded files
          <i id="iconsFileUpload" style="display:none;" class="fas fa-file ml-3"></i>
        </button>
        <!-- <button type="button" class="btn btn-deepmark-orangelight btn-sm" data-toggle="modal" data-target="#quiz-modal">Settings</button> -->
      </div>
    </div>

    <div class="col-md-3">
      <div class="row">
        <div class="col-xl-6 text-center">
          <h5 class="modal-form-col-title">Learner</h5>

          <div class="file-icons">
            <i class="fal fa-file-alt fa-2x"></i>
            <i class="fal fa-file-alt fa-2x"></i>
          </div>

          <div class="add-file offset-1">
            <div class="input-group">
              <span class="input-group-btn" style="padding-left: 0 !important;">
                <span name="btn-file-upload" class="btn btn-round btn-fab btn-deepmark-navy btn-sm btn-file round-btn-file">
                  <i class="fal fa-plus"></i>
                  <input type="file" name="file" data-type="learner" class="inputUploadFile" multiple="multiple">
                </span>
              </span>
            </div>
          </div>
        </div>

        <div class="col-xl-6 text-center">
          <h5 class="modal-form-col-title">Live Trainers</h5>

          <div class="file-icons">
            <i class="fal fa-file-alt fa-2x"></i>
          </div>

          <div class="add-file offset-1">
            <div class="input-group">
              <span class="input-group-btn" style="padding-left: 0 !important;">
                <span name="btn-file-upload" class=" btn btn-round btn-fab btn-deepmark-navy btn-sm btn-file round-btn-file">
                  <i class="fal fa-plus"></i>
                  <input type="file" name="file" data-type="trainer" class="inputUploadFile" multiple="multiple">
                </span>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group datepicker-group">
        <label for="startDate">Start date</label>

        <div class="input-group">
          <input id="startDate" type="text" class="form-control datepicker" value="{% if data.beginning is defined %}{{ data.beginning|date('d/m/Y') }}{% endif %}">

          <div class="input-group-append">
            <span class="input-group-text">
              <i class="fal fa-calendar-alt"></i>
            </span>
          </div>
        </div>
      </div>

      <div class="form-group datepicker-group">
        <label for="endDate">End date</label>

        <div class="input-group">
          <input id="endDate" type="text" class="form-control datepicker" value="{% if data.ending is defined %}{{ data.ending|date('d/m/Y') }}{% endif %}">

          <div class="input-group-append">
            <span class="input-group-text">
              <i class="fal fa-calendar-alt"></i>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
