<div class="card marg-t-20 marg-b-0" style="min-height: 240px;">
    {% set urlCourse = '#' %}
    {% if row.intervention.beginning|date("Y/m/d") <= "now"|date("Y/m/d") and row.intervention.ending|date("Y/m/d") >= "now"|date("Y/m/d") %}
        {%  set urlCourse = path('learner_courses_show', {id: row.intervention.id}) %}
    {% endif %}
    <a href="{{ urlCourse }}">
        <div class="col-md-12 no-padding" style="min-height: 150px;">
            {% if row.intervention.logo %}
                <img width="318" style="object-fit: contain!important;" class="card-img-top img-fluid" src="/files{{ asset(row.intervention.logo.path) }}"
                 alt="{{ row.intervention.designation }}">
            {% else %}
                <img width="318" style="object-fit: contain!important;" class="card-img-top img-fluid" src="/img/course_banner.jpg"
                     alt="{{ row.intervention.designation }}">
            {% endif %}
        </div>
    </a>
    <div class="card-block font-size-13 pad-b-5">
        <div class="row">
            <div class="col-md-9 bold text-left" style="min-height: 48px;">
                {{ row.intervention.designation|truncate(28, true, '...') }}
            </div>
            <div class="text-center flex--center justify-content-start col-md-3 no-padding">
                {% if isFavorite is defined and isFavorite %}
                    {% set isFavorite = 0 %}
                    {% set favoriteId = 0 %}
                    {% for favorite in row.intervention.getFavorites() %}
                        {% if favorite.profile.id ==  api.profile.id and favorite.intervention.id == row.intervention.id %}
                            {% set isFavorite = 1 %}
                            {% set favoriteId = favorite.id %}
                        {% endif %}
                    {% endfor %}
                    <a class="btn btn-white btn-round btn-just-icon cursorPointer" style="position: absolute; right: 10px; top: -25px">
                        <i data-favorite-id="{{ favoriteId }}" data-intervention-id="{{ row.intervention.id }}" class="color-header {{ isFavorite == 1 ? 'fas fa-heart' : 'far fa-heart'}} font-size-18 my-favorite"></i>
                    </a>
                {% endif %}
                <a class="cursorPointer" data-toggle="collapse" href="#description_{{ type }}_{{ row.intervention.id }}"
                   aria-expanded="false" aria-controls="description">
                    <i class="far fa-info-circle c-orangelight"></i>
                </a>
            </div>
            <div class="collapse font-size-13 col-md-12" id="description_{{ type }}_{{ row.intervention.id }}">
                <div class="row">
                    <div class="col-md-12 font-size-12 no-padding">
                        {{ 'global.available_from'|trans|lower }} {{ row.intervention.beginning|date("d/m/Y") }} {{ 'global.available_to'|trans }} {{ row.intervention.ending|date("d/m/Y") }}
                    </div>
                    <span class="marg-t-20 text-justify marg-b-15" style="line-height: 1.6">{{ row.intervention.comment|raw }}</span>
                    <p class="c-red no-margin">
                        {% if row.intervention.ending|date("Y/m/d") >= "now"|date("Y/m/d") %}
                            {% set leftDays = row.intervention.ending.diff( date("now") ).days %}
                            {{ 'global.expires_in_days'|trans({'%days%': leftDays}) }}
                        {% else %}
                            {{ 'learners.courses.expired'|trans }}
                        {% endif %}
                        ({{ row.intervention.ending|localizeddate('full', 'none', app.request.locale)|capitalize }})
                    </p>
                    <div class="col-md-12 no-padding color-header text-right">
                        <span>{{ 'learners.dashboard.time_left'|trans }} : </span> <span class="badge badge-label-deepmark-light">{{ row.remainMinutes }}mins</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row pad-t-10">
            <div class="col-md-8">
                {% if row.intervention.tags %}
                    {% for tag in row.intervention.tags %}
                        <span class=" badge badge-label-deepmark-light">{{ tag.tagName }}</span>
                    {% endfor %}
                {% endif %}
            </div>
            <div class="col-md-4 color-header justify-content-end flex--center">
                <object data="/new-image/duree.svg" width="20" height="20"
                        type="image/svg+xml"></object>&nbsp;{{ row.totalDuration }}
            </div>
        </div>
    </div>
</div>