<div class="col-md-12">
    <div class="col-md-12 row bg-white no-padding-left">
        <div class="col-md-3 flex--center pad-10">
            {% set urlCourse = '#' %}
            {% if row.intervention.beginning|date("Y/m/d") <= "now"|date("Y/m/d") and row.intervention.ending|date("Y/m/d") >= "now"|date("Y/m/d") %}
                {%  set urlCourse = path('learner_courses_show', {id: row.intervention.id}) %}
            {% endif %}
            <a href="{{ urlCourse }}">
                {% if row.intervention.logo %}
                    <img style="object-fit: contain;" width="100%" height="190" src="/files{{ asset(row.intervention.logo.path) }}"
                         alt="{{ row.intervention.designation }}">
                {% else %}
                    <img style="object-fit: contain;" width="100%" height="190" src="/img/course_banner.jpg"
                         alt="{{ row.intervention.designation }}">
                {% endif %}
            </a>
        </div>
        <div class="col-md-9">
            <div class="row pad-t-15 pad-b-15">
                <div class="col-md-7">
                    <p class="no-margin bold">
                        {{ row.intervention.designation }}
                    </p>
                    <div class="row">
                        <div class="col-md-10 no-padding" style="padding-top: 9px!important;">
                            <div class="progress">
                                <div class="progress-bar" role="progressbar"
                                     style="width: {{ row.learnerIntervention.progression|default(0)|round }}%" aria-valuenow="25"
                                     aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                        <div class="color-header col-md-2">
                            {{ row.learnerIntervention.progression|default(0|round) }}%
                        </div>
                    </div>
                </div>
                <div class="col-md-5 text-right font-size-14">
                    <span class="color-header">{{ 'learners.dashboard.time_left'|trans }} : </span> <span class="badge badge-label-deepmark-light font-size-14">{{ row.remainMinutes }}mins</span>
                </div>
                <div class="col-md-12 pad-b-10 font-size-14">
                    {{ row.intervention.comment|raw }}
                </div>
                <div class="col-md-6">
                    <p class="no-margin flex--center justify-content-start color-header">
                        <object data="/new-image/duree.svg" width="20" height="20"
                                type="image/svg+xml"></object>&nbsp;{{ 'global.estimated_duration'|trans }} : {{ row.totalDuration }}
                    </p>
                </div>
                <div class="col-md-6">
                    <p class="no-margin flex--center justify-content-start color-header">
                        <object data="/new-image/nbre-module.svg" width="20" height="20"
                                type="image/svg+xml"></object>&nbsp;{{ 'trainers.statistics.export.total'|trans }} : {{ row.totalModules }}
                    </p>
                </div>
                <div class="col-md-6">
                    <p class="no-margin flex--center justify-content-start color-header">
                        <object data="/new-image/date.svg" width="20" height="20"
                                type="image/svg+xml"></object>&nbsp; {{ 'global.from'|trans }} {{ row.intervention.beginning|date("d/m/Y") }} {{ 'global.to'|trans }} {{ row.intervention.ending|date("d/m/Y") }}

                    </p>
                </div>
                <div class="col-md-6">
                    <p class="no-margin flex--center justify-content-start color-header">
                        <object data="/new-image/nbre-module.svg" width="20" height="20"
                                type="image/svg+xml"></object>&nbsp;{{ 'global.total_learners_points'|trans({'%total_point%': 5000}) }}
                    </p>
                </div>
                <div class="col-md-6 font-size-14">
                    {% if row.intervention.tags %}
                        {% for tag in row.intervention.tags %}
                            <span class=" badge badge-label-deepmark-light">{{ tag.tagName }}</span>
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="col-md-6 text-right pad-t-20 align-self-end">
                    <p class="c-red no-margin font-size-14">
                        {% if row.intervention.ending|date("Y/m/d") >= "now"|date("Y/m/d") %}
                            {% set leftDays = row.intervention.ending.diff( date("now") ).days %}
                            {{ 'global.expires_in_days'|trans({'%days%': leftDays}) }}
                        {% else %}
                            {{ 'learners.courses.expired'|trans }}
                        {% endif %}
                        ({{ row.intervention.ending|localizeddate('full', 'none', app.request.locale)|capitalize }})
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>