<form class="form form-horizontal">
    <div class="row align-items-end">
        <div class="col-md-9">
            <div class="card card-interv-modal">
                <div class="card-header card-header-lightblue">
                    <h4 class="card-title card-title-duplicate">
                        {{ 'admin.interventions.create.step2.duplicate'|trans }}
                        <i class="fal fa-copy"></i>
                    </h4>

                    <h4 class="card-title">
                        <i class="fal fa-desktop"></i>
                        {{ 'admin.interventions.mods.animation'|trans }}
                        <div class="customtitle-wrapper">
                            <input type="text" class="row-field-customtitle form-control" placeholder="Custom title..."
                                   disabled="disabled" name="title" value="{{ data.designation|default('') }}">
                        </div>
                        <div class="customDuration"></div>
                    </h4>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="observationsArea">{{ 'admin.interventions.create.step1.instructions'|trans }}</label>
                                <textarea name="description" class="form-control observationsArea"
                                          rows="3">{{ data.description|default('') }}</textarea>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <label for="selectSkills">{{ 'admin.interventions.create.step2.skills_required'|trans }}</label>
                            <select name="selectSkills" class="selectpicker selectSkills" multiple="multiple"
                                    data-style="select-with-transition" title=""></select>
                        </div>

                        <div class="col-md-4">
                            <label for="selectMaxIteration">Maximum iterations</label>
                            <select class="selectpicker selectMaxIteration" name="max_iterations"
                                    data-style="select-with-transition">
                                {% for i in 1..10 %}
                                    <option value="{{ i }}">{{ i }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-md-4">

                            <div class="row">
                                <div class="col-md-6">
                                    <label for="selectSkills">Duration Hours</label>
                                    <select name="hours" class="selectpicker selectSkills" name="duration[hours]"
                                            multiple="multiple"
                                            data-style="select-with-transition" title="">

                                        {% for i in 0..24 %}
                                            <option value="{{ i }}"> {{ i }}</option>
                                        {% endfor %}

                                    </select>
                                </div>
                                <div class="col-md-6">
                                    <label for="selectSkills">Duration minutes</label>
                                    <select name="minutes" class="selectpicker selectSkills" name="duration[minutes]"
                                            multiple="multiple"
                                            data-style="select-with-transition" title="">

                                        {% for i in 0..60 %}
                                            <option value="{{ i }}"> {{ i }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="col-md-4 mt-3">
                    </div>

                    <div class="row">
                        <div class="col-md-12 form-group bmd-form-group">
                            <label for="maxParticipant">{{ 'table.interventions.participant_number_max'|trans }}</label>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label class="form-label   minParticipant"
                                       for="minParticipant">Min.</label>
                                <input type="text" class="form-control" name="min_participant id=" minParticipant"
                                value="{{ data.participantMinNumber|default(1) }}">

                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label class="form-label   maxParticipant"
                                       for="maxParticipant">Max.</label>

                                <input type="text" class="form-control" name="max_participant" id="maxParticipant"
                                       value="{{ data.participantMaxNumber|default(100) }}">

                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header">
                            <label for="maxParticipant">Session</label>
                        </div>
                        <div class="card-body">
                            <div class="row">

                                <div class="col-md-4">
                                    <div class="form-group datepicker-group">
                                        <label for="startDate">{{ "global.start_date"|trans }}</label>

                                        <div class="input-group">
                                            <input id="startDate" type="text" name="session[0][end_time]"
                                                   class="form-control datepicker"
                                                   value="{% if data.beginning is defined %}{{ data.beginning|date('d/m/Y') }}{% endif %}">

                                            <div class="input-group-append">
                                                <span class="input-group-text">
                                                  <i class="fal fa-calendar-alt"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group datepicker-group">
                                        <label for="endDate">{{ "global.end_date"|trans }}</label>
                                        <div class="input-group">
                                            <input id="endDate" type="text" name="session[0][end_time]"
                                                   class="form-control datepicker"
                                                   value="{% if data.ending is defined %}{{ data.ending|date('d/m/Y') }}{% endif %}">

                                            <div class="input-group-append">
                                            <span class="input-group-text">
                                              <i class="fal fa-calendar-alt"></i>
                                            </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group datepicker-group">
                                        <label for="startDate">Start time</label>

                                        <div class="input-group clockpicker">
                                            <input id="startDate" type="text" name="session[0][time_start]"
                                                   class="form-control "
                                                   value="">

                                            <div class="input-group-append">
                                                <span class="input-group-text">
                                                  <i class="fal fa-clock"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="form-group datepicker-group">
                                        <label for="session">Address</label>
                                        <div class="input-group">
                                            <input id="" name="session[0][address]" type="text" class="form-control">
                                            <div class="input-group-append">
                                            <span class="input-group-text">
                                              <i class="fal fa-address-card"></i>
                                            </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group datepicker-group">
                                        <label for="session">City</label>
                                        <div class="input-group">
                                            <input id="" name="session[0][city]" type="text" class="form-control">
                                            <div class="input-group-append">
                                            <span class="input-group-text">
                                               <i class="fal fa-home"></i>
                                            </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" style="position: absolute; top: -40px; right: 17px; z-index: 3000">
                                    <div class="col-md-12 clearfix">
                                        <div class="input-group-btn float-right ">
                                            <span name=""
                                                  class="btn-file-upload btn btn-round btn-fab btn-deepmark-navy btn-sm btn-file round-btn-file float-right "
                                                  onclick="makeCopy(this)">
                                              <i class="fal fa-plus"></i>
                                           </span>
                                            <span name=""
                                                  class="btn-file-upload btn btn-round btn-fab btn-deepmark-red btn-sm btn-file round-btn-file float-right "
                                                  onclick="deleteSection(this)">
                                              <i class="fal fa-minus"></i>
                                           </span>

                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>


                </div>
                <button type="button"
                        class="btn btn-deepmark-lightblue btn-sm btnListingUpload">{{ 'admin.interventions.create.step2.see_upload_file'|trans }}
                    <i id="iconsFileUpload" style="display:none;" class="fas fa-file fa-1x ml-3"></i>
                </button>
            </div>
        </div>

        <div class="col-md-3">

            <hr class="form-separator">
            <div class="row">
                <div class="col-12">
                    <div class="row">
                        <div class="col-xl-6 text-center">
                            <h5 class="modal-form-col-title">{{ "sidebar.learners"|trans }}</h5>

                            <div class="file-icons">
                                <i class="fal fa-file-alt fa-2x"></i>
                                <i class="fal fa-file-alt fa-2x"></i>
                            </div>

                            <div class="add-file">
                                <div class="input-group">
                  <span class="input-group-btn" style="padding-left: 0 !important;">
                    <span name=""
                          class="btn-file-upload btn btn-round btn-fab btn-deepmark-navy btn-sm btn-file round-btn-file">
                      <i class="fal fa-plus"></i><input type="file" data-type="learner" name="file"
                                                        class="inputUploadFile" multiple="multiple">
                    </span>
                  </span>
                                    <input hidden="hidden" type="text" class="form-control" readonly="readonly">
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-6 text-center">
                            <h5 class="modal-form-col-title">{{ "sidebar.trainers"|trans }}</h5>

                            <div class="file-icons">
                                <i class="fal fa-file-alt fa-2x"></i>
                            </div>

                            <div class="add-file">
                                <div class="input-group">
                  <span class="input-group-btn" style="padding-left: 0 !important;">
                    <span name=""
                          class="btn-file-upload btn btn-round btn-fab btn-deepmark-navy btn-sm btn-file round-btn-file">
                      <i class="fal fa-plus"></i><input type="file" data-type="trainer" name="file"
                                                        class="inputUploadFile" multiple="multiple">
                    </span>
                  </span>
                                    <input hidden="hidden" type="text" class="form-control" readonly="readonly">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <h6 class="resouresource-title">{{ "admin.interventions.create.nav.step4"|trans }}</h6>


            <hr class="form-separator">

            <div class="form-group datepicker-group">
                <label for="startDate">{{ "global.start_date"|trans }}</label>

                <div class="input-group">
                    <input id="startDate" type="text" class="form-control datepicker"
                           value="{% if data.beginning is defined %}{{ data.beginning|date('d/m/Y') }}{% endif %}">

                    <div class="input-group-append">
            <span class="input-group-text">
              <i class="fal fa-calendar-alt"></i>
            </span>
                    </div>
                </div>
            </div>

            <div class="form-group datepicker-group">
                <label for="endDate">{{ "global.end_date"|trans }}</label>
                <div class="input-group">
                    <input id="endDate" type="text" class="form-control datepicker"
                           value="{% if data.ending is defined %}{{ data.ending|date('d/m/Y') }}{% endif %}">

                    <div class="input-group-append">
                        <span class="input-group-text">
                          <i class="fal fa-calendar-alt"></i>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>


<script>



</script>
