{% if bestPractice.resourceType == 'EXTERNAL' %}
    {% if bestPractice.getNumberOfFileDescriptors > 1 %}
        {% set class = 'card-best-practice-yellow' %}
        {% set icon = 'fas fa-file-invoice mdl-color--purple' %}
    {% else %}
        {% if bestPractice.fileDescriptors[0] is defined and bestPractice.fileDescriptors[0].mimeType == 'AUDIO' %}
            {% set class = 'card-best-practice-green' %}
            {% set icon = 'fa fa-microphone c-green' %}
        {% elseif bestPractice.fileDescriptors[0] is defined and bestPractice.fileDescriptors[0].mimeType == 'VIDEO' %}
            {% set class = 'card-best-practice-blue' %}
            {% set icon = 'fa fa-camera color-header' %}
        {% else %}
            {% set class = 'card-best-practice-grey' %}
            {% set icon = 'fa fa-file-alt' %}
        {% endif %}
    {% endif %}
{% else %}
    {% if bestPractice.documentType == 'DOCUMENT' %}
        {% set class = 'card-best-practice-grey' %}
        {% set icon = 'fa fa-file-alt' %}
    {% elseif bestPractice.documentType == 'AUDIO' %}
        {% set class = 'card-best-practice-green' %}
        {% set icon = 'fa fa-microphone c-green' %}
    {% elseif bestPractice.documentType == 'VIDEO' %}
        {% set class = 'card-best-practice-blue' %}
        {% set icon = 'fa fa-camera color-header' %}
    {% endif %}
{% endif %}
<div class="card card-product marg-b-0" style="min-height: 250px;">
    <div class="card-body {{ class }}" style="max-height: 182px!important;">
        <div class="row marg-b-15">
            <div class="col-md-8 c-white font-size-11 no-padding d-inline-flex">
                <span>{{ bestPractice.bestPracticeResponses.rating }}</span>&nbsp&nbsp
                {{ include('molecules/widgets/ratings.html.twig', { max: 5, grade: bestPractice.bestPracticeResponses.rating }) }}
                &nbsp&nbsp<span>{{ bestPractice.bestPracticeResponses.voted }} avis</span>
            </div>
            <div class="col-md-4 text-right no-padding">
                <a class="btn btn-white btn-round btn-just-icon width-50 height-50 cursor-none">
                    <i class="{{ icon }} line-height-50"></i>
                    <div class="ripple-container"></div>
                </a>
            </div>
        </div>
        <h4 class="card-title bold c-white text-ellipsis">
            {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_SUPER_ADMIN') %}
                {% set detailLink = url('admin_best_practices_view', {'id' : bestPractice.id}) %}
            {% elseif is_granted('ROLE_LEARNER') %}
                {% set detailLink = url('learner_best_practices_view', {'id' : bestPractice.id} ) %}
            {% elseif is_granted('ROLE_TRAINER') %}
                {% set detailLink = url('trainer_best_practices_view', {'id' : bestPractice.id}) %}
            {% endif %}
            <a href="{{ detailLink }}">
                <span class="card-title bold c-white text-sort">{{ bestPractice.designation }}</span>
                <span class="d-none date-sort">{{ bestPractice.publishDate|date('d/m/Y') }}</span>
            </a>
        </h4>
        <div class="row c-white marg-t-20">
            <div class="col-md-5 no-padding flex--center justify-content-start">
                {% if bestPractice.module  %}
                <embed src="/images/calendar_gray.svg" width="18" height="18" type="image/svg+xml">&nbsp;&nbsp;
                <span class="font-size-11">{{ 'global.best_practices.the'|trans }} {{ bestPractice.module.beginning|date('d/m/Y') }}</span>
                {% else %}
                    <span class="font-size-11">&nbsp;&nbsp;</span>
                {% endif %}
            </div>
            <div class="col-md-5 no-padding flex--center justify-content-start">
                {% if bestPractice.module  %}
                <embed src="/images/clock_grey.svg" width="18" height="18" type="image/svg+xml">&nbsp;&nbsp;
                <span class="font-size-11 bold">{{ bestPractice.module.duration|date('H:i:s') }}</span>
                {% else %}
                    <span class="font-size-11 bold">&nbsp;&nbsp;</span>
                {% endif %}
            </div>
            <div class="col-md-2 no-padding text-right">
                {% set isFavorite = 0 %}
                {% set favoriteId = 0 %}
                {% for favorite in bestPractice.getBestPracticeFavorites() %}
                    {% if favorite.profile.id ==  api.profile.id and favorite.bestPractice.id == bestPractice.id %}
                        {% set isFavorite = 1 %}
                        {% set bestPracticeId = bestPractice.id %}
                        {% set favoriteId = favorite.id %}
                    {% endif %}
                {% endfor %}
                <a class="btn btn-white btn-round btn-just-icon cursor-none" style="position: absolute; right: 0; bottom: -38px">
                    <i data-favorite-id="{{ favoriteId }}" data-best-practice-id="{{ bestPractice.id }}" class="fas fa-heart {{ isFavorite == 1 ? 'c-red' : 'text-gray'}} font-size-18 my-favorite"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="card-footer row">
        <div class="col-md-12 font-size-13 no-padding">
            <span>{{ 'trainers.best_practices.author'|trans }} : <b>{{ bestPractice.profile.displayName }}</b></span> &nbsp;&nbsp;
            <style>
                .wrapper {
                    height: unset!important;
                }
            </style>
            <div class="dropdown info-user tooltip-info" data-profile="{{ bestPractice.profile.id }}" style="display: inline" onclick="getUserInfo(this)">
                <i class="fa fa-info-circle c-light dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="min-width: 370px; left: 0;">
                </div>
            </div>
        </div>
        <div class="col-md-12 no-padding">
            {% if bestPractice.tags %}
                {% for tag in bestPractice.tags %}
                    <span class=" badge badge-label-deepmark-light">{{ tag.tagName }}</span>
                {% endfor %}
            {% endif %}
        </div>
    </div>
</div>