{% extends 'base.html.twig' %}

{% block pagename %}{{ 'admin.organisation.edit_organisation'|trans }}{% endblock %}

{% block body %}
    <div class="card">
        <div class="card-header--nav">
            {{ include('molecules/cards/nav/admin-structure-organisation-nav.html.twig') }}
        </div>
        <div class="card-body">
            <h2>{{ 'admin.organisation.edit_organisation'|trans }}</h2>
            {{ form_start(form) }}
            <div class="row">
                <div class="col-md-2">
                    <div class=" card--user card--trainer">
                        <div class=" card-header card-header-icon">
                            <span class="organisation-logo">
                                {% if organisation.logo is defined and organisation.logo is not null %}
                                    <img style="border-radius: 10px;" width="100" height="100"
                                         src="{{ organisation.logo }}"
                                         alt="">
                                {% else %}
                                    {{ include('molecules/tools/icon-box.html.twig', { icon: 'user', txt: 'Logo' }) }}
                                {% endif %}
                            </span>
                            <div style="margin-left: 15px!important;" class="form-group">
                                <label for="logoFileOrganisation" class="btn btn-deepmark-orangelight btn-edit">
                                    <i class="far fa fa-upload no-margin"></i>
                                </label>
                                <input id="logoFileOrganisation"
                                       type="file"
                                       name="logoFile"
                                       data-type="logo"
                                       class="inputUploadPublicFile"
                                       multiple/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-10">
                    <div class="col-md-12">
                        <div class="form-group row">
                            <div class="col-2 t-left">
                                {{ form_label(form.designation) }}
                            </div>
                            <div class="col-10 t-left">
                                {{ form_widget(form.designation) }}
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-2 t-left">
                                {{ form_label(form.street) }}
                            </div>
                            <div class="col-10 t-left">
                                {{ form_widget(form.street) }}
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-2 t-left">
                                {{ form_label(form.zipcode) }}
                            </div>
                            <div class="col-10 t-left">
                                {{ form_widget(form.zipcode) }}
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-2 t-left">
                                {{ form_label(form.country) }}
                            </div>
                            <div class="col-10 t-left">
                                {{ form_widget(form.country) }}
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-2 t-left">
                                {{ form_label(form.expansionStreet) }}
                            </div>
                            <div class="col-10 t-left">
                                {{ form_widget(form.expansionStreet) }}
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-2 t-left">
                                {{ form_label(form.city) }}
                            </div>
                            <div class="col-10 t-left">
                                {{ form_widget(form.city) }}
                            </div>
                        </div>
                    </div>
                    <!-- Working hours -->
                    <div class="col-md-12">
                        <div class="form-group row">
                            <div class="col-2 t-left" style="color: #AAAAAA;">
                                {{ 'trainers.planning.nav.working_hours'|trans }}
                            </div>
                            <div class="col-10 no-padding">
                                <div class="row">
                                    <div class="col-md-12 order-top-header no-padding">
                                        <div class="row pad-t-10">
                                            <div class="col-md-9 no-padding">
                                                <ul class="no-padding-left">
                                                    {{ include ('molecules/workingHours/newDayItem.html.twig', {'day': 'global.monday'|trans|capitalize, 'dayName': 'Monday', 'start': organisation.workingHours['Monday']['startTime']|default(''), 'end': organisation.workingHours['Monday']['endTime']|default(''), 'startTimeAfternoon': organisation.workingHours['Monday']['startTimeAfternoon']|default(''), 'endTimeAfternoon': organisation.workingHours['Monday']['endTimeAfternoon']|default('') }) }}
                                                    {{ include ('molecules/workingHours/newDayItem.html.twig', {'day': 'global.tuesday'|trans|capitalize, 'dayName': 'Tuesday', 'start': organisation.workingHours['Tuesday']['startTime']|default(''), 'end': organisation.workingHours['Tuesday']['endTime']|default(''), 'startTimeAfternoon': organisation.workingHours['Tuesday']['startTimeAfternoon']|default(''), 'endTimeAfternoon': organisation.workingHours['Tuesday']['endTimeAfternoon']|default('')  }) }}
                                                    {{ include ('molecules/workingHours/newDayItem.html.twig', {'day': 'global.wednesday'|trans|capitalize, 'dayName': 'Wednesday', 'start': organisation.workingHours['Wednesday']['startTime']|default(''), 'end': organisation.workingHours['Wednesday']['endTime']|default(''), 'startTimeAfternoon': organisation.workingHours['Tuesday']['startTimeAfternoon']|default(''), 'endTimeAfternoon': organisation.workingHours['Tuesday']['endTimeAfternoon']|default('') }) }}
                                                    {{ include ('molecules/workingHours/newDayItem.html.twig', {'day': 'global.thursday'|trans|capitalize, 'dayName': 'Thursday', 'start': organisation.workingHours['Thursday']['startTime']|default(''), 'end': organisation.workingHours['Thursday']['endTime']|default(''), 'startTimeAfternoon': organisation.workingHours['Thursday']['startTimeAfternoon']|default(''), 'endTimeAfternoon': organisation.workingHours['Thursday']['endTimeAfternoon']|default('') }) }}
                                                    {{ include ('molecules/workingHours/newDayItem.html.twig', {'day': 'global.friday'|trans|capitalize, 'dayName': 'Friday', 'start': organisation.workingHours['Friday']['startTime']|default(''), 'end': organisation.workingHours['Friday']['endTime']|default(''), 'startTimeAfternoon': organisation.workingHours['Thursday']['startTimeAfternoon']|default(''), 'endTimeAfternoon': organisation.workingHours['Thursday']['endTimeAfternoon']|default('') }) }}
                                                    {{ include ('molecules/workingHours/newDayItem.html.twig', {'day': 'global.saturday'|trans|capitalize, 'dayName': 'Saturday', 'start': organisation.workingHours['Saturday']['startTime']|default(''), 'end': organisation.workingHours['Saturday']['endTime']|default(''), 'startTimeAfternoon': organisation.workingHours['Saturday']['startTimeAfternoon']|default(''), 'endTimeAfternoon': organisation.workingHours['Saturday']['endTimeAfternoon']|default('') }) }}
                                                    {{ include ('molecules/workingHours/newDayItem.html.twig', {'day': 'global.sunday'|trans|capitalize, 'dayName': 'Sunday', 'start': organisation.workingHours['Sunday']['startTime']|default(''), 'end': organisation.workingHours['Sunday']['endTime']|default(''), 'startTimeAfternoon': organisation.workingHours['Sunday']['startTimeAfternoon']|default(''), 'endTimeAfternoon': organisation.workingHours['Sunday']['endTimeAfternoon']|default('') }) }}
                                                </ul>
                                            </div>
                                            <div class="col-md-3">
                                                <a id="repeatTime" class="btn pointer btn-border-header btn-sm" title="{{ 'trainers.planning.buttons.repeat'|trans }}">
                                                    {{ 'trainers.planning.buttons.repeat'|trans }}
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Working hours -->
                    <div class="col-md-12 text-left">
                        <a href="{{ path('admin_organisation_index') }}"
                           class="btn btn-deepmark-lightgray">{{ 'buttons.cancel'|trans }}</a>
                        <button type="submit" class="btn btn-orangelight">{{ 'buttons.update'|trans }}</button>
                    </div>
                </div>
            </div>
        </div>
        {{ form_end(form) }}
    </div>
    <script>
        $(document).ready(function () {
            $('#logoFileOrganisation').on('change', function () {
                $(".organisation-logo").empty().append('<img id="logoPreview" style="border-radius: 10px;" width="100" height="100" src="" alt="">')
                readURL(this);
            });
        });

        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#logoPreview').attr('src', e.target.result);
                }

                reader.readAsDataURL(input.files[0]);
            }
        }
    </script>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/trainer/calendar-trainer.js') }}"></script>
{% endblock %}