{% extends 'base.html.twig' %}

{% block pagename %}{{ 'admin.organisation.show_organisation'|trans }}{% endblock %}

{% block body %}
    <style>
        .form-check .form-check-label {
            padding-left: 0px!important;
        }
    </style>
    <div class="card card--user">
        <div class="card-header--nav">
            {{ include('molecules/cards/nav/admin-structure-organisation-nav.html.twig') }}
        </div>
        <h2 class="marg-l-15">{{ 'admin.organisation.show_organisation'|trans }}</h2>
        <div class="card-header card-header-icon">
            <div class="card-icon">
                {% if organisation.logo is defined and organisation.logo is not null %}
                    <img style="border-radius: 10px;" width="100" height="100"
                         src="{{ organisation.logo }}"
                         alt="">
                {% else %}
                    <img src="{{ asset('img/default-logo.png') }}" alt="">
                {% endif %}
            </div>

            <a data-placement="top" data-toggle="tooltip" title="Edit"
               href="{{ path('admin_organisation_edit', { 'id': organisation.id }) }}"
               class="btn btn-deepmark-orangelight btn-edit"><i class="far fa-pen"></i></a>

            <div style="display: inline-block;">
                {{ form_start(delete_form) }}
                <button data-placement="top" data-toggle="tooltip" title="Delete" type="submit"
                        class="btn btn-deepmark-red btn-edit"><i class="fal fa-trash"></i></button>
                {{ form_end(delete_form) }}
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-10">
                    <dl class="row">
                        <dt class="col-sm-3 text-right">ID</dt>
                        <dd class="col-sm-9">{{ organisation.id }}</dd>

                        <dt class="col-sm-3 text-right">{{ 'admin.organisation.designation'|trans }}</dt>
                        <dd class="col-sm-9">{{ organisation.designation | default('') }}</dd>

                        <dt class="col-sm-3 text-right">{{ 'admin.organisation.street'|trans }}</dt>
                        <dd class="col-sm-9">{{ organisation.street | default('') }}</dd>

                        <dt class="col-sm-3 text-right">{{ 'admin.organisation.expansion_street'|trans }}</dt>
                        <dd class="col-sm-9">{{ organisation.expansionStreet | default('') }}</dd>

                        <dt class="col-sm-3 text-right">{{ 'admin.organisation.city'|trans }}</dt>
                        <dd class="col-sm-9">{{ organisation.city | default('') }}</dd>

                        <dt class="col-sm-3 text-right">{{ 'trainers.planning.nav.working_hours'|trans }}</dt>
                        <dd class="col-sm-9 no-padding">
                            <ul class="no-padding-left">
                                {{ include ('molecules/workingHours/showDayItem.html.twig', {'day': 'global.monday'|trans|capitalize, 'dayName': 'Monday', 'start': organisation.workingHours['Monday']['startTime']|default(''), 'end': organisation.workingHours['Monday']['endTime']|default(''), 'startTimeAfternoon': organisation.workingHours['Monday']['startTimeAfternoon']|default(''), 'endTimeAfternoon': organisation.workingHours['Monday']['endTimeAfternoon']|default('') }) }}
                                {{ include ('molecules/workingHours/showDayItem.html.twig', {'day': 'global.tuesday'|trans|capitalize, 'dayName': 'Tuesday', 'start': organisation.workingHours['Tuesday']['startTime']|default(''), 'end': organisation.workingHours['Tuesday']['endTime']|default(''), 'startTimeAfternoon': organisation.workingHours['Tuesday']['startTimeAfternoon']|default(''), 'endTimeAfternoon': organisation.workingHours['Tuesday']['endTimeAfternoon']|default('')  }) }}
                                {{ include ('molecules/workingHours/showDayItem.html.twig', {'day': 'global.wednesday'|trans|capitalize, 'dayName': 'Wednesday', 'start': organisation.workingHours['Wednesday']['startTime']|default(''), 'end': organisation.workingHours['Wednesday']['endTime']|default(''), 'startTimeAfternoon': organisation.workingHours['Tuesday']['startTimeAfternoon']|default(''), 'endTimeAfternoon': organisation.workingHours['Tuesday']['endTimeAfternoon']|default('') }) }}
                                {{ include ('molecules/workingHours/showDayItem.html.twig', {'day': 'global.thursday'|trans|capitalize, 'dayName': 'Thursday', 'start': organisation.workingHours['Thursday']['startTime']|default(''), 'end': organisation.workingHours['Thursday']['endTime']|default(''), 'startTimeAfternoon': organisation.workingHours['Thursday']['startTimeAfternoon']|default(''), 'endTimeAfternoon': organisation.workingHours['Thursday']['endTimeAfternoon']|default('') }) }}
                                {{ include ('molecules/workingHours/showDayItem.html.twig', {'day': 'global.friday'|trans|capitalize, 'dayName': 'Friday', 'start': organisation.workingHours['Friday']['startTime']|default(''), 'end': organisation.workingHours['Friday']['endTime']|default(''), 'startTimeAfternoon': organisation.workingHours['Thursday']['startTimeAfternoon']|default(''), 'endTimeAfternoon': organisation.workingHours['Thursday']['endTimeAfternoon']|default('') }) }}
                                {{ include ('molecules/workingHours/showDayItem.html.twig', {'day': 'global.saturday'|trans|capitalize, 'dayName': 'Saturday', 'start': organisation.workingHours['Saturday']['startTime']|default(''), 'end': organisation.workingHours['Saturday']['endTime']|default(''), 'startTimeAfternoon': organisation.workingHours['Saturday']['startTimeAfternoon']|default(''), 'endTimeAfternoon': organisation.workingHours['Saturday']['endTimeAfternoon']|default('') }) }}
                                {{ include ('molecules/workingHours/showDayItem.html.twig', {'day': 'global.sunday'|trans|capitalize, 'dayName': 'Sunday', 'start': organisation.workingHours['Sunday']['startTime']|default(''), 'end': organisation.workingHours['Sunday']['endTime']|default(''), 'startTimeAfternoon': organisation.workingHours['Sunday']['startTimeAfternoon']|default(''), 'endTimeAfternoon': organisation.workingHours['Sunday']['endTimeAfternoon']|default('') }) }}
                            </ul>
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
{% endblock %}