<table id="" class="table w-100 marg-t-30 font-size-13">
    <thead class="w-100">
    {% for item in skills %}
        {% set skillList = '' %}
        {% for resourceVariety in item.skills %}
            {% set skillList = skillList ~ (loop.index > 1 ? ',' ~ resourceVariety.skill.designation : resourceVariety.skill.designation) %}
        {% endfor %}
        <tr class="table-header">
            <th colspan="2">{{ 'learners.profile.table.domain'|trans }} : <b> {{ item.domain.domainName }}</b></th>
            <th width="50%">
                <div class="row skill-bar"><br />
                    <div class="col-md-9 no-padding">
                        <div class="progress">
                            {#{% set percent = (item.totalLevel * 100)/maxLevel %}#}
                            {{ include('molecules/profile/table-skill-level.html.twig', {'skillLevels' : skillLevels}) }}
                            <div class="progress-bar" style="width: {{ item.percent }}%; margin: 2px; border-radius: 20px;"></div>{#{{ item.percent }}#}
                        </div>
                    </div>
                    <div class="col-md-3">
                        {% set currentSkill = null %}
                        {% for level in skillLevels %}
                            {% if item.totalLevel < level.point and level.point > 0 and currentSkill is null %}
                                {% set currentSkill = skillLevels[loop.index-2].designation %}
                            {% endif %}
                        {% endfor %}
                        <b>{{ currentSkill }}</b>
                    </div>
                </div>
            </th>
            <th colspan="2" class="text-right">
                <button class="btn btn-small text-transform-none btn-deepmark-orangelight">{{ 'learners.profile.table.request_vae'|trans }}</button>
                <button class="btn btn-small text-transform-none btn-white color-header">
                    <a href="{{ url('learner_catalog_index') }}?tags={{ skillList }}" class="cursorPointer">{{ 'learners.profile.table.improve_my_status'|trans }}</a>
                </button>
            </th>
            <th class="text-center">
                <a data-id="{{ type }}-{{ item.domain.id }}" class="closeBtn cursorPointer"><i class="fas fa-chevron-up"></i></a>
                <a data-id="{{ type }}-{{ item.domain.id }}" class="showBtn cursorPointer"><i class="fas fa-chevron-down"></i></a>
            </th>
        </tr>
        <tr class="btn-deepmark-light content-skill-{{ type }}-{{ item.domain.id }}">
            <th class="color-header text-center">{{ 'learners.profile.table.status'|trans }}</th>
            <th class="color-header">{{ 'learners.profile.table.skills'|trans }}</th>
            <th>
                {{ include('molecules/profile/skill-level.html.twig', {'skillLevels' : skillLevels}) }}
            </th>
            <th class="color-header text-center">{{ 'learners.profile.table.business_competence'|trans }} </th>
            <th class="color-header text-center">{{ 'learners.profile.table.earn_lp'|trans }}</th>
            <th></th>
        </tr>
    </thead>
    <tbody class="table-body content-skill-{{ type }}-{{ item.domain.id }}">
    {% for percent, skillResourceVariety in item.skills %}
        {% set color = null %}
        {% for level in skillLevels %}
            {% if skillResourceVariety.score < level.point and level.point > 0 and color is null %}
                {% set color = skillLevels[loop.index-2].color %}
            {% endif %}
        {% endfor %}
        <tr>
            <td class="text-center">
                <label class="{{ color }}"></label>
            </td>
            <td>{{ skillResourceVariety.skill.designation }}</td>
            <td>
                <div class="row"><br />
                    <div class="col-md-9 no-padding">
                        <div class="progress">
                            {#{% set percent = (skillResourceVariety.score * 100)/maxLevel %}#}
                            {{ include('molecules/profile/table-skill-level.html.twig', {'skillLevels' : skillLevels}) }}
                            <div class="progress-bar" style="width: {{ percent }}%;border-radius: 20px;"></div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <span class="color-header">{{ skillResourceVariety.score }} LP</span>
                    </div>
                </div>
            </td>
            <td class="text-center">
                {% if  skillResourceVariety.isWorking %}
                    <img height="30" width="30" src="/new-image/Check.png">
                {% else %}
                    <object class="cursorPointer" data="/new-image/Un-Check.svg" width="30" height="30"
                            type="image/svg+xml">
                    </object>
                {% endif %}
            </td>
            <td class="text-center">
                <a href="{{ url('learner_catalog_index') }}?tags={{ skillResourceVariety.skill.designation }}" class="cursorPointer"><img height="30" width="30" src="/new-image/LP.png"></a>
            </td>
            <td></td>
        </tr>
    {% endfor %}
    </tbody>
    {% endfor %}
</table>
<script>
    $(document).ready(function () {
        $('.showBtn').hide();
        $('.showBtn').on('click', function() {
            let id = $(this).attr("data-id");
            $(".content-skill-" + id).show();
            $(this).hide();
            let prev = $(this).prev('.closeBtn')
            prev.show();
        });
        $('.closeBtn').on('click', function() {
            let id = $(this).attr("data-id");
            $(".content-skill-" + id).hide();
            $(this).hide();
            let next = $(this).next('.showBtn')
            next.show();
        });
    });
</script>