<div class="bg-white border-radius-10 col-md-9 row no-padding font-size-10 bold" style="min-height: 21px; line-height: 21px; display: inline-flex">
    {% for skillLevel in skillLevels %}
        <div class="flex--center col-md-3 justify-content-start text-ellipsis">
            <label class="circle-skill" style="background: {{ skillLevel.color }}"></label>&nbsp;
            {{ skillLevel.designation }} ({{ skillLevel.point }} LP)
        </div>
    {% endfor %}

</div>