{% set width = (100/(skillLevels|length - 1))|round %}
{% for skillLevel in skillLevels %}
    {% set left = 0 %}
    {% if loop.index == 1 %}
        {% set left = 1 %}
    {% elseif loop.index == skillLevels|length %}
        {% set left = 97 %}
    {% else %}
        {% set left = (loop.index - 1) * width %}
    {% endif %}
        <div class="skill-item" style="background: {{ skillLevel.color }}; left: {{ left }}%;"></div>
{% endfor %}
