.info-avatar{
  .user {
	  display: flex;
	  align-items: center;

	  .photo {
		  width: 80px;
		  height: 80px;
		  line-height: 80px;
		  font-weight: bold;
		  color: white;
		  text-align: center;
		  background-color: #bbb;
		  border-radius: 50%!important;
		  display: inline-block;
		  text-transform: uppercase;
		  margin: 0;
	  }
  }
}
.dashboard-btn{
  a {
    &:hover {
      -webkit-filter:drop-shadow(0px 4px 4px #333);
    }
  }
}
.progress-course-bar{
	background-image: linear-gradient(0,transparent 50%,$deepmark 50%);
}
.done-bar{
	background: $deepmark!important;
}
.course-bar{
	width: 30px;
	height: 100%;
	border-top-left-radius: 25px;
	border-top-right-radius: 25px;
	border-bottom-right-radius: 25px;
	border-bottom-left-radius: 25px;
}
.skill-item{
	position:absolute;
	z-index:1;
	height:10px;
	width:10px;
	border-radius:50%;
	margin-top: 5px;
}
.circle-skill{
	width: 10px;
	height: 10px;
	border-radius: 50%;
}
.skill-table{
	.table th, .table td {
		border-top: none!important;
	}
	.table td{
		border-bottom: 1px solid $deepmark;
	}
}
.skill-bar{
	.progress {
		height: 21px!important;
		border-radius: 20px!important;
		background-color: #ffffff!important;
	}
	.progress-bar {
		background-color: #7BB7FF!important;
	}
}
.table-body{
	.progress {
		height: 21px!important;
		border-radius: 20px!important;
		background-color: #F0F6FF!important;
	}
	.progress-bar {
		background-color: #7BB7FF!important;
	}
}
.new-profile{
	.nav-pills .nav-item .nav-link {
		border: none!important;
		box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
	}
}
#menu-footer .sidebar .nav-item.active a object{
	//margin-left: 7px!important;
}
a object {
	pointer-events: none;
}
.catalog{
	.nav-pills:not(.flex-column) .nav-item+.nav-item:not(:first-child) {
		margin-left: 0px!important;
	}
}
.text-ellipsis{
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
#myList li, #myList_2 li, #myList_3 li, #myList_4 li, #myList_5 li, #myList_6 li{
	display:none;
}
.scroll-course{
	overflow-y: scroll; overflow-x: hidden; max-height: 850px;
}
.text-alert{
	font-size: 16px!important;
	color: grey!important;
}
.font-size-15{
	font-size: 15px;
}
.marg-l-12{
	margin-left: 12px;
}
.card-best-practice-green{
	background-color: #00B44F;
}
.card-best-practice-blue{
	background-color: #0074FF;
}
.card-best-practice-grey{
	background-color: #636363;
}
.card-best-practice-yellow{
	background-color: #f5f242;
}
.btn-border-green{
	border: 1px solid $deepmark-green!important;
	color: $deepmark-green!important;
	background-color: white;
}
.btn-border-blue-light{
	border: 1px solid #00e5ff!important;
	color: #00e5ff!important;
	background-color: white;
}
.custom-btn{
	border:1px solid #0076fe !important;
	text-transform: unset!important;
}
.custom-input{
	height: 43px;
	line-height: 43px;
}
.btn-border-green:focus, .btn-border-green:hover {
	background-color: white!important;
}
.btn-border-blue-light:focus, .btn-border-blue-light:hover {
	background-color: white!important;
}
.pad-l-25{
	padding-left: 25px;
}
.scroll-custom{
	/* width */
	::-webkit-scrollbar {
		width: 10px;
	}

	/* Track */
	::-webkit-scrollbar-track {
		background: #f1f1f1;
	}

	/* Handle */
	::-webkit-scrollbar-thumb {
		background: $deepmark;
		border-radius: 10px;
	}

	/* Handle on hover */
	::-webkit-scrollbar-thumb:hover {
		background: $deepmark;
	}
}
.line-height-40{
  line-height: 40px;
}
.info-user{
	max-width: 450px;
	.dropdown-toggle::after {
		display:none;
	}
}
.pink{
	background-color: #d65c5c;
}
.modal-open {
	#readComment {
		overflow-x: hidden;
		overflow-y: hidden;
	}
}
#readComment {
	.modal-dialog {
		margin-top: 0;
	}
}
.bookSearch{
	width: 100%;
}
.modal-backdrop.show {
	opacity: 0.9;
}
.swal2-container.swal2-in {
	background-color: rgba(0, 0, 0, 0.7);
}
#bookSearch{
	width: 100%;
}
.color-green{
	color: #28c612;
}
.btn-black{
	background-color: black;
}
.border-radius-5{
	border-radius: 5px;
}
.width-110{
	width: 110px!important;
}
.width-60{
	width: 60px!important;
}
.width-50{
	width: 50px!important;
}
.pad-t-25{
	padding-top: 25px;
}
.pad-b-25{
	padding-bottom: 25px;
}
.border-bottom-green{
	border-bottom: 1px solid #28c612;
}
.c-bg-pm {
	background-color: #6565bf !important;
}
.c-bg-am {
	background-color: #6efdfd !important;
}
.border-am{
	border-left: 8px solid #6efdfd !important;
}
.border-pm{
	border-left: 8px solid #6565bf !important;
}
.badge-label-green{
	background-color: #28c612 !important;
}
.badge-label-gray{
	background-color: #9d9d9d !important;
}
.badge-label-deepmark-light{
	background-color: $deepmark-medium !important;
	color: $deepmark;
	border-radius: 20px;
	text-transform: unset!important;
}
.word-break{
	word-break: break-all;
}
.text-transform-none{
	text-transform: none!important;
}
#billingDiv{
	.form-control[disabled], fieldset[disabled] .form-control, .form-group .form-control[disabled], fieldset[disabled] .form-group .form-control {
		background: #dedede!important;
		border-bottom: 0!important;
	}
}
#myBtn {
	display: none;
	position: fixed;
	bottom: 20px;
	right: 30px;
	z-index: 99;
	font-size: 18px;
	border: none;
	outline: none;
	background-color: #6CB4F8;
	color: white;
	cursor: pointer;
	padding: 15px;
	width: 58px;
}

#myBtn:hover {
	background-color: #0076fe ;
}
/**readmore css **/
.morecontent {
	display: none;
}
/**readmore css **/
.quiz-new{
	.bootstrap-select {
		.dropdown-menu{
			top:0!important;
		}
	}
}

.to-assessment {
	border-left: 8px solid $deepmark !important;
}
.swal2-modal {
	font-family: 'Montserrat', sans-serif!important;
}
.table>thead>tr>th{
	font-size: 15px!important;
}
.table>tbody>tr>td{
	font-size: 14px!important;
}
.marg-t-5{
	margin-top: 5px;
}
.bg-deepmark{
	background-color: $deepmark!important;
}
.white-space{
	white-space: nowrap;
}
.disabled-btn{
	background-color: grey!important;
	color: #fff!important;
	cursor: not-allowed!important;
}
.dashboard{
	.fc-basicWeek-view table{
		height: 290px!important;
	}
}
.btn-padding-small {
	padding: 13px 14px !important;
}
.btn-small {
	padding: 8px 8px !important;
}
.btn-deepmark{
	color: #fff!important;
}
.btn-deepmark-green-light{
	background-color: #cee5d0;
}
#divIntervention{
	max-height: 195px;
}
#divGroup{
	max-height: 195px;
}
.active-attach{
	background-color: $deepmark-light;
}
.assign:focus, .assign:hover {
	background-color: $deepmark-light;
}
.active-btn{
	background-color: $deepmark!important;
	color: #fff!important;
}
.btn-padding{
	padding: 12px 19px!important;
}
.marg-b-5{
	margin-bottom: 5px;
}
.btn-border-yelow{
	background-color: #fff;
	border: 1px solid $deepmark-orangelight!important;
	color: $deepmark-orangelight;
}
.btn.btn-border-yelow, .btn.btn-border-yelow:focus, .btn.btn-border-yelow:hover {
	background-color: #FFF!important;
	color: $deepmark-orangelight;
}
.btn-border-red {
  border: 1px solid red !important;
  color: red !important;
  background-color: white;
}
.btn-border-red:focus, .btn-border-red:hover {
  background-color: white !important;
}
#iconModule{
	@media only screen and (min-width: 1200px) {
		width: 90%!important;
	}
	@media only screen and (min-width: 1400px) {
		width: 50%!important;
	}
}
.border-left-header{
	border-left: 1px solid $deepmark!important;
}
.border-right-header{
	border-right: 1px solid $deepmark!important;
}
.tiara-svg{
	margin-top: -6px;
}
a > object {
	pointer-events: none;
}
button > object {
	pointer-events: none;
}
.no-marg-r{
	margin-right: 0!important;
}
.under-line{
	text-decoration: underline!important;
}
.color-red{
	color: red!important;
}
.table-fixed{
table-layout: fixed;
}
.height-50{
	height: 50px!important;
}
.line-height-50{
	line-height: 50px!important;
}
.min-height-350{
	min-height: 350px!important;
}
.profile .bootstrap-select .dropdown-toggle .filter-option {
	border-bottom: 1px solid #ddd;
}
.control{
	margin-top: 7px!important;
	width: 20px;
	height: 20px;
	line-height: 20px;
}
.text-black{
	color: #333333!important;
}
.background-image-none{
	background-image: none!important;
}

.place-holder-blue{
	::placeholder {
		color: $deepmark;
		opacity: 1; /* Firefox */
	}

	:-ms-input-placeholder { /* Internet Explorer 10-11 */
		color: $deepmark;
	}

	::-ms-input-placeholder { /* Microsoft Edge */
		color: $deepmark;
	}
}

.min-height-40{
	min-height:40px!important;
}
.border-bottom-header-light{
	border-bottom: 1px solid $deepmark-light!important;
}
.border-bottom-header{
	border-bottom: 1px solid $deepmark!important;
}
.border-top-header{
	border-top: 1px solid $deepmark!important;
}
.border-top-header-light{
	border-top: 1px solid $deepmark-light!important;
}
.height-320{
	height: 320px!important;
}
.min-height-350{
	min-height: 350px!important;
}
.pad-15{
	padding: 15px!important;
}
.pad-t-15{
	padding-top: 15px!important;
}
.pad-b-15{
	padding-bottom: 15px!important;
}
.border-radius-0{
	border-radius: 0px!important;
}
#divAddSkill{
	min-height: 50px!important;
}
.border-top-header{
	border-top: 1px solid $deepmark;
}
.search-skill-input{
	width: 100%;
	background-color: transparent;
	font-size: 14px;
	color: $deepmark;
	box-shadow: none;
	border: none;
}
.pad-top-10{
	padding-top: 10px!important;
}
.width-40{
	width: 40px;
}
.stat-filter{
	.filter{
		height: 120px;
		background-color: $deepmark-light;
	}
	.select-border{
		.input-group{
			padding-left: 10px;
			padding-right: 10px;
		}
		.filter-option {
			border-bottom: 1px solid $deepmark!important;
			padding-left: 0!important;
			padding-right: 0!important;
		}
		.dropdown-toggle::after {
			margin-right: -20px!important;
			color:$deepmark!important;
		}
	}

	.period-filter{
		.form-control, .is-focused .form-control {
			background-image: linear-gradient(to top, $deepmark 1px, rgba(156, 39, 176, 0) 1px);
			background-size: unset!important;
		}
	}

	.form-group {
		margin: 0!important;
	}

}
.height-120{
	height: 120px!important;
	background-color: $deepmark-light;
}
.pad-t-5{
	padding-top: 5px!important;
}
.pad-b-5{
	padding-bottom: 5px!important;
}
.border-radius-20{
	border-radius: 20px;
}
.btn-border{
	background-color: #fff !important;
	color: $deepmark !important;
	border: 1px solid $deepmark!important;
}
.custom {
	label{
		margin-left: 10px;
		height: 50px;
		align-items: center;
		display: flex;
	}
	.bootstrap-select .dropdown-toggle .filter-option{
		background: $deepmark-light!important;
	}
	.bootstrap-select .dropdown-toggle .filter-option-inner{
		color: $deepmark!important;
	}
}
.recurring-calendar{
	height: 60px;
	border-top: 1px solid $deepmark;
	border-bottom: 1px solid $deepmark;
}
.filter-calendar{
	height: 60px;
	border-top: 1px solid $deepmark;
	border-bottom: 1px solid $deepmark;
}
.timeActive{
	color: #fff!important;
	font-weight: 700;
	letter-spacing: 1px;
	border: none;
	background-color: $deepmark;
	position: relative;
	padding: 12px 20px;
	margin: 0.3125rem 1px;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.428571;
	text-decoration: none;
	text-transform: capitalize;
	letter-spacing: 0;
	cursor: pointer;
	border: 0;
	border-radius: 20px;
	outline: 0;
}
.round-stats{
	width: 60px;
	height: 60px
}
.height-36{
	height: 36px!important;
}
.max-width-100{
	max-width: 100%!important;
}
.bg-green{
	background: #22aa73!important;
}
.font-size-9{
	font-size: 9px;
}
.font-size-40{
	font-size: 40px;
}
.c-green-status{
	color: #22aa73!important;
}
.c-red{
	color:red;
}
.menu-logo{
	height: 100%!important;
	width: 100%!important;
}
.menu-div-logo{
	width: 100%!important; height: 100%!important;
}
.border-header{
	border: 1px solid $deepmark!important;
}
.triangleClassModule {
	position:relative;
}
.triangleClassModule:after {
	content:'';
	position: absolute;
	bottom: 110%;
	left: 50%;
	margin-left: -8px;
	width: 0;
	height: 0;
	border-top: solid 10px #000;
	border-left: solid 10px transparent;
	border-right: solid 10px transparent;
	display:inline-block;
}

.label-assessment{
	background: $deepmark;
	width: 30px;
	height: 30px;
	color: white;
	text-align: center;
	border-radius: 50%;
	line-height: 30px;
}
.border-light{
	border: 2px solid $deepmark-light!important;
}
.border-bottom-light-blue{
	border-bottom: 1px solid $deepmark-light;
}
.assessment-status{
	width: 50px;
	height: 5px;
	margin-right: 3px;
}
.trainer{
	.upload-area {
		height: 200px;
		border: 5px dotted #ddd!important;
		background-color: $deepmark-light;
	}
}
.dt-buttons{
	z-index:  1050;
}
.font-size-16{
	font-size: 16px!important;
}
.font-size-10{
	font-size: 10px!important;
}
.font-size-11{
	font-size: 11px!important;
}
.border-radis-30{
	border-radius: 30px;
}
.custom{
	.progress-circle {
		margin-top: 0!important;
	}
}
.height-40{
	height: 40px;
}
.cursor-none{
	cursor: unset!important;
}
.nav-language{
	background: transparent;
	color: white!important;
	box-shadow:none!important;
	line-height: 38px;
}
.btn-next-session{
	min-width: 100px!important;
	padding: 8px 10px!important;
	border-radius: 30px;
}
.learnerTrainerList{
	.dataTables_scrollBody{
		overflow-y: hidden!important;
	}
}
.height-100{
	height: 100%;
}
.first-step-margin{
	margin-top: -10px;
}
.step-margin{
	margin-top: -35px;
}
.border-radius-50{
	border-radius: 50%;
}
.btn-avatar{
	margin-top: -66px;
}
.marg-t-23{
	margin-top: 23px;
}
.report-to-assign {
	background: transparent !important;
	border: 1px solid black !important;
	color: black !important;
	border-radius: 20px; }

.report-to-do{
	background: transparent!important;
	border: 1px solid red!important;
	color: red!important;
	border-radius: 20px;
}
.report-pending{
	background: transparent!important;
	color: $deepmark-orangelight!important;
	border: 1px solid $deepmark-orangelight!important;
	border-radius: 20px;
}
.report-done{
	color: #22aa73!important;
	background: transparent!important;
	border: 1px solid #22aa73!important;
	border-radius: 20px;
}
.report-reject{
	color: #da010a!important;
	background: transparent!important;
	border: 1px solid #da010a!important;
	border-radius: 20px;
}
.booked-status-des{
	font-size: 14px;
	font-weight: 800;
	color:#28c612;
}
.expired-status-des{
	font-size: 14px;
	font-weight: 800;
	color:grey;
}
.justify-content-right{
	justify-content:right!important;
}
.icon-to-do-list{
	position: relative;
	background-color: #e5f0fc!important;
	border-radius: 50%;
	width: 80px;
	height: 80px;
}
.online-book-modal{
	padding:70px!important;
	padding-top: 20px!important;
	padding-bottom: 20px!important;
}
.online-book-modal-detail{
	padding:40px!important;
	padding-bottom:30px!important;
	background-color: #ecf3fb
}
.book-modal-detail{
	padding:40px!important;
	padding-top:0px!important;
}
.book-bg{
	padding-bottom:30px!important;
	background-color: #ecf3fb
}
.map-detail{
	width: 100%;
	height: 500px;
	text-align: center;
}
.book-modal{
	padding:50px;
	padding-top:30px!important;
}
.wrong-quiz{
	color: red;
	font-size: 15px;
	font-weight: 900
}
.correct-quiz{
	color: springgreen;
	font-size: 13px;
	font-weight: 900
}
.bg-computer{
	min-height:450px;
	height:450px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover ;
	background-image: url('../images/computer.jpg');
	h2{
		margin-left: 100px;
		margin-right: 100px;
	}
}
.module-booked-status{
	background-color:#28c612!important;
	width: 20px!important;
	height: 20px!important;
}
.module-booked-status-color{
	color:#28c612!important;
}
.module-orangelight{
	background-color:#ffad17!important;
	width: 20px!important;
	height: 20px!important;
}
.module-orangelight-color{
	color:#ffad17!important;
}
.height-auto{
	height: auto!important
}
.min-height-280{
	min-height: 280px;
}
.font-weight-600{
	font-weight: 600;
}
.font-weight-800{
	font-weight: 800;
}
.border-bottom-menu{
	border-bottom: 1px solid #D2E3FC;
}
.quit-session-btn{
	min-width: 100px!important;
	padding: 8px 10px!important;
	border-radius: 30px;
}
.module-icon-detail{
	background-size: cover!important;
	background-repeat: no-repeat!important;
	background-color: #fff!important ;
	width: 50px!important;
	height: 50px!important;
}
.min-height-490{
	min-height: 490px;
}
.card-course{
	margin-top: 15px;
	margin-bottom: 10px;
}
.card-des{
	padding-bottom: 10px!important;
	font-size: 14px;
	border-top:1px solid #ddd;
	padding-top: 10px!important;
}
.border-top-table{
	border-top:10px solid #EEEEEE;
}
.font-size-12{
	font-size: 12px!important;
}
.font-size-22{
	font-size: 22px!important;
}
.pad-l-5{
	padding-left: 5px;
}
.pad-r-5{
	padding-right: 5px;
}
.pad-5{
	padding: 5px;
}
.c-light{
	color: #a3caf7;
}
.div-synthesis{
	background-color: #fff;
	border-radius: 10px;
	padding-top:15px;
	padding-bottom:15px;
	margin-top: 15px
}
.div-session-detail{
	background-color: #fff;
	border-radius: 10px;
	padding-top:15px;
	padding-bottom:25px;
}
.div-session-status{
	color:#28c612;
	text-align: left!important;
	justify-content:unset!important;
}
.dot-session-status{
	background-color:#28c612!important;
	width: 20px!important;
	height: 20px!important;
}
.div-module-detail{
	background-color: #fff;
	border-radius: 10px;
	margin-bottom:15px!important;
	min-height: 280px;
	padding-top: 15px;
}
.div-module-circle{
	background-size: cover!important;
	background-color: #fff!important;
	width: 50px!important;
	height: 50px!important;
	background-repeat: no-repeat!important;
}
.font-size-14{
	font-size: 14px!important;
}
.marg-bottom-20{
	margin-bottom: 20px!important;
}
.padding-bottom-15{
	padding-bottom:15px!important;
}
.div-module-description{
	border-top: 1px solid #eee;
	padding-top: 15px!important;
	font-size:13px;
	padding-bottom:15px!important;
}
.font-size-30{
	font-size: 30px;
}
.width-auto{
	width: auto!important;
}
.border-radius-10{
	border-radius: 10px;
}
.text-white{
	color: #fff;
}
.text-gray{
	color:grey;
}
.no-padding-right{
	padding-right: 0!important;
}
.font-size-13{
	font-size: 13px;
}
.font-size-25{
	font-size: 25px;
}
.justify-content-none{
	justify-content: unset!important;
}
.form-control[disabled],
fieldset[disabled] .form-control,
.form-group .form-control[disabled],
fieldset[disabled] .form-group .form-control {
	border-bottom: 1px solid #ddd;
}
.backgroud-deepmark-light{
	background-color: $deepmark-light!important;
}
.font-size-50{
	font-size: 50px!important;
}
.min-width{
	min-width: 250px!important;
}
.no-border-cmt{
	border: none;
	background-color: #eee;
}
.module-file-content{
	iframe {
		height: 600px;
		width: 100%;
	}
	iframe.fullScreen {
		width: 100%!important;
		height: 100%!important;
		position: fixed;
		top: 0;
		left: 0;
		bottom:0;
		right:0;
		margin:0;
		padding:0;
		overflow:hidden;
		z-index:999999;


	}
}
.table-header{
	background-color: $deepmark!important;
	color:#fff;
}
.data-table{
	font-size: 13px;
}
.table-striped>tbody>tr:nth-of-type(odd) {
	background-color: #e5f0fc!important;
}
.border-radis-none{
	border-radius: unset!important;
}
.my-skill{
	padding-bottom: 8px;
	padding-top: 8px;
}
.status-validate
{
	background: #22aa73;
	height: 10px;
	width: 10px;
	margin-right: 3px;
	border-radius: 50%;
}
.status-pending
{
	background: $deepmark-orangelight;
	height: 10px;
	width: 10px;
	margin-right: 3px;
	border-radius: 50%;
}
.status-deny
{
	background: red;
	height: 10px;
	width: 10px;
	margin-right: 3px;
	border-radius: 50%;
}
.label-small {
	.label-number{
		right: -5px!important;
		font-size: 10px!important;
		height: 15px!important;
		width: 15px!important;
		line-height: 15px!important;

	}
}
.label-number
{
	position: absolute;
	background: red;
	color: white;
	height: 20px;
	width: 20px;
	text-align: center;
	line-height: 20px;
	font-size: 12px;
	border-radius: 50%;
	top: -10px;
	right: -15px;
	font-weight: 900;
}
.px200 {
	width: 200px;
	max-width: 200px;
	word-wrap: break-word;
}

.triangleClass {
	position:relative;
}
.triangleClass:after {
	content:'';
	position: absolute;
	bottom: -85%;
	left: 50%;
	margin-left: -10px;
	width: 0;
	height: 0;
	border-bottom: solid 10px #000;
	border-left: solid 10px transparent;
	border-right: solid 10px transparent;
	display:inline-block;
}

ul.select2-choices {
	padding-right: 30px !important;
}

ul.select2-choices:after {
	content: "";
	position: absolute;
	right: 10px;
	top: 50%;
	transform: translateY(-50%);
	border-top: 5px solid #333;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
}

html {
	font-size: 16px;
}

body {
	&.offline {
		background: url('../../img/background_new.jpg') no-repeat center center fixed;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	}
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 500;
}

p, ul, dt, dd {
	color: $deepmark-black;
}

a {
	color: $deepmark-navy;
}

img {
	max-width: 100%;
}

small {
	color: $deepmark-lightgray;
	font-size: 14px;
}

.blue-filter {
	position: fixed;
	top: 0;
	left: 0;

	width: 100%;
	height: 100%;

	z-index: 0;
	background-color: $deepmark-navy;
	opacity: 0.4;
}

.page {
	position: relative;
}

.navigation {
	padding: 20px 10px;
}

.alert-success { background-color: $deepmark-green; }
.alert-warning { background-color: $deepmark-orangelight; }
.alert-danger { background-color: $deepmark-red; }

.col-align-end { align-self: flex-end; }

.card-round-bottom {
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
}

.rows-align-center {
	> .row {
		align-items: center !important;
		margin-bottom: 15px;

		.col-form-label { padding-top: 0 !important; }
	}
}

.btn-fab > i {
	vertical-align: 5px;
}

.send-msg-area,
.link-to-interv-area { display: none; }

.auto-list {
	dt {
		display: inline-block;
	}

	dd {
		display: inline-block;
	}
}

.pointer {
	cursor: pointer !important;
}

/* Upload pages */
.upload-select {
	.bootstrap-select {
		margin-left: 10px;
		width: 250px !important;
	}
}

.upload-area {
	width: 100%;
	height: 400px;

	border: 5px dotted $deepmark-orangelight;
	border-radius: 10px;

	margin-top: 25px;

	display: flex;
	align-items: center;
	justify-content: center;

	button { display: block; }
}

.upload-select-row { margin-top: 25px; }

.evaluation-popover { display: none; }

.btn-deepmark-green:focus { background-color: $deepmark-green !important; }
.deepmark-green{
	background-color:  $deepmark-darkgreen!important;
}
.dropdown-menu .dropdown-item {
	margin: 0;
	border-radius: 0;

	&:hover, &:focus, &:active, &.active,
	a:hover, a:focus, a:active, a.active {
		background-color: $deepmark-orangelight;
	}

}
.bootstrap-select{
	.dropdown-menu .dropdown-item {
		margin: 0;
		border-radius: 0;

		&:hover, &:focus, &:active, &.active,
		a:hover, a:focus, a:active, a.active {
			background-color: $deepmark-orangelight!important;
		}

	}
}
.bootstrap-tagsinput{
	.dropdown-menu .dropdown-item {
		&:hover, &:focus, &:active, &.active,
		a:hover, a:focus, a:active, a.active {
			background-color: $deepmark-orangelight!important;
		}

	}
}
.pages {
	display: grid;
	grid-template-columns: auto 1fr auto;

	&__prev,
	&__next {
		min-width: 60px;
		display: flex;
		align-items: center;
		> div {
			margin: 0 .8em;
		}
	}

	&__list {
		display: flex;
		justify-content: center;
		list-style: none;
		padding: 0;
		margin: 0;
		a { text-decoration: none; color: inherit; }

		.page-item {
			margin: 0 .2em;
			padding: .5em .75em;
			border-radius: 5px;
			&.active {
				background-color: $deepmark-orangelight;
				color: white;
				font-weight: 700;
			}
			&:hover {
				background-color: lighten($deepmark-lightgray, 20%);
			}
		}
	}
}

.logo-link {
	margin: 0 auto;
}

.text-template {
	visibility: hidden;
	height: 0;
}

.template {
	visibility: hidden;
	position: absolute;
}

.visual-hide {
	position: absolute;
	opacity: 0;
	left: -9999px;
	top: -9999px;
}

.hidden {
	visibility: hidden;
}
.z-index{
	z-index:  1000;
}
.admin{
	//.table thead tr th {
	//	font-size: 12px;
	//}
	//.table thead tr td {
	//	font-size: 12px;
	//}
	#typeAction {

		/* styling */
		background-color: white;
		border: thin solid $deepmark;
		display: inline-block;
		font: inherit;
		line-height: 1.5em;
		padding: 3px;
		min-width: 200px;

		/* reset */

		margin: 0;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		-webkit-appearance: none;
		-moz-appearance: none;
		@media only screen and (min-width: 1600px) {
			min-width: 260px;
		}
	}
	.typeAction {

		/* styling */
		background-color: white;
		border: thin solid $deepmark;
		display: inline-block;
		font: inherit;
		line-height: 1.5em;
		padding: 3px;
		min-width: 200px;

		/* reset */

		margin: 0;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		-webkit-appearance: none;
		-moz-appearance: none;
		@media only screen and (min-width: 1600px) {
			min-width: 260px;
		}
	}
	.black-select {
		background-image:
						linear-gradient(45deg, transparent 50%, white 50%),
						linear-gradient(135deg, white 50%, transparent 50%),
						linear-gradient(to right, black, black)!important;
	}
	select.classic {
		background-image:
						linear-gradient(45deg, transparent 50%, white 50%),
						linear-gradient(135deg, white 50%, transparent 50%),
						linear-gradient(to right, $deepmark, $deepmark);
		background-position:
						calc(100% - 20px) calc(1em - 4px),
						calc(100% - 15px) calc(1em - 4px),
						100% 0;
		background-size:
						5px 5px,
						5px 5px,
						2.5em 2.5em;
		background-repeat: no-repeat;
	}

	select.classic:focus {
		background-image:
						linear-gradient(45deg, white 50%, transparent 50%),
						linear-gradient(135deg, transparent 50%, white 50%),
						linear-gradient(to right, $deepmark, $deepmark);
		background-position:
						calc(100% - 15px) 1em,
						calc(100% - 20px) 1em,
						100% 0;
		background-size:
						5px 5px,
						5px 5px,
						2.5em 2.5em;
		background-repeat: no-repeat;
		border-color: $deepmark;
		outline: 0;
	}

	.apply{
		padding: 5px!important;
		margin-top: 20px;
		font-size: 8px;
		@media only screen and (min-width: 1600px) {
			font-size: 12px;
		}
	}

	#apply{
		padding: 5px!important;
		margin-top: 20px;
		font-size: 8px;
		@media only screen and (min-width: 1600px) {
			font-size: 12px;
		}
	}
	.filter-option{
		border: 1px solid $deepmark;
		padding: 5px!important;
		height: 30px!important;
	}
	.bootstrap-select .btn.dropdown-toggle.btn-link[aria-expanded="true"], .bootstrap-select .btn.dropdown-toggle.btn-link[aria-expanded="true"]:hover {
		height: 30px!important;
	}
	.dataTables_wrapper {
		margin-top: -52px;
		@media only screen and (min-width: 1600px) {
			margin-top: -60px;

		}
	}
	.popup{
		.dataTables_wrapper {
			margin-top: -78px;
		}
		.typeAction {
			min-width: 150px;
		}
		.applyAction{
			font-size: 7px;
		}
		.dt-buttons{
			.btn {
				font-size: 10px;
				padding: 5px 4px !important;
			}
		}
	}
	.btn.btn-secondary, .btn.btn-secondary:focus, .btn.btn-secondary:hover {
	    background-color: #FFF!important;
		box-shadow: none!important;
		@media only screen and (max-width: 1400px) {
			font-size: 8px!important;
			font-weight: 900;
		}

	}

	.dt-buttons{
		margin-top: 20px;
		margin-bottom: 20px;
		border: 1px solid #ddd;
		.btn{
			font-size: 10px;
			padding: 6px 10px !important;
			@media only screen and (min-width: 1600px) {
				padding: 10px 20px !important;
			}
		}
	}
	.buttons-excel{
		border-left: 1px solid #ddd;
		border-right: 1px solid #ddd;
	}
	.buttons-colvis{
		border-left: 1px solid #ddd;
	}
	.nav-pills {
		.nav-item {
			.nav-link {
				border-radius: 10px;
				color: #000;
				background-color: #fff;
				padding: 10px 20px;
				border: 0 !important;

				&:hover {
					background-color: #fff!important;
					color: $deepmark;
				}

				&.active {
					background-color: #fff!important;
					color: $deepmark;
				}
				object{
					padding-top: 5px;
				}
			}
		}
	}

}


.no-padding{
	padding: 0!important;
}
.no-padding-left{
	padding-left: 0!important;
}
.no-margin{
	margin: 0!important;
}
.no-margin-right{
	margin-right: 0!important;
}
.font-size-20{
	font-size: 20px!important;
}
.dataTables_wrapper{
	.btn{
		box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
	}
}
.more {
	overflow: hidden;
}
input:disabled {
	background-color: transparent;
	cursor: not-allowed;
	background-repeat: no-repeat;
}
.underline{
	text-decoration: underline;
}
.bold{
	font-weight: 900!important;
}
.font-size-18{
	font-size: 18px!important;
}
.synthesis{
	.progress-circle{
		margin-top: 10px!important;
	}
}
.wrap-content {
	flex-wrap: nowrap;
}
.padding-icon {
	padding:0px 10px
}

.intervention-days-no-trainers-wrapper {
	margin-left: 40px;
}

.intervention-days-no-trainers {
	padding: 10px 25px 10px 10px;
	font-size: 16px;
	font-weight: 600;
	border-radius: 4px;
	background-color: #e5e5e5;
	overflow-y: auto;
	max-height: 140px;
}

// Edit [5/1/2020]
@media (max-width: 576px) {
	 .course-steps .divice .padding-content {
		padding-bottom: 75px;
		position:relative;
	}
	 .course-steps .divice .display-content {
		position: absolute !important;
		transform: translate(-50%, -50%);
		top: 50%;
	}
	 .course-steps .divice .display-text {
		position: absolute;
		transform: translate(-50%, -50%);
		top: 50%;
		left: 20%;
	}
	.triangleClass:after {
		top:5%;
	}
	 .course-steps .divice .text-align-wrap {
		text-align:left !important;
		padding-left: 10px !important;
	}
	 .course-steps .postion-first {
		position: absolute;
		height: 100%;
		top: 45%;
		transform: translate(-50%,-50%);
		left: 30%;
	}
	.course-steps  .postion-last {
		position: absolute;
		height: 100%;
		top: 65%;
		transform: translate(-50%,-50%);
		left: 30%;
	}
}
.badge-learn-more{
	background-color: $deepmark-orangelight!important;
	color: #ffffff!important;
}
.learn-more{
	border-left-color: $deepmark-orangelight!important;
	border-right-color:$deepmark-orangelight!important;
	text-transform: uppercase;
}


.learner_right_col {
	height: 100%;
	box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
	position: fixed;
	right: 0;
}

.container-fluid {
	padding-right: 0;
}
.border-dashed-deepmark{
	border: 1px dashed $deepmark;
}
.bg-header-light{
	background: $deepmark-light;
}
.course-table{
	.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
	}
}
.color-medium{
	color: $deepmark-medium;
}