<div class="row col-md-12 assessment-block-content no-padding ">
    <div class="col-md-12 mt-3 no-padding">
        <div class="row col-md-12 marg-b-15">
            <div class="col-md-3 no-padding flex--center justify-content-start"><span class="bold color-header text-uppercase">{{ 'table.sessions.session'|trans }} {{ 1 }}</span></div>
            <div class="col-md-6 text-center">
                <span class="bold">{{ session.startDate|localizeddate('full', 'none', app.request.locale)|capitalize }}</span><br>
                <span>{{ 'global.from_txt'|trans|lower }}</span> {{ session.startTime }} <span>{{ 'global.to_txt'|trans|lower }}</span> {{ session.endTime }}
                {{ 'admin.trainers.distance_with_trainer'|trans }} {{ profile.getDisplayName() }}
            </div>
            <div class="col-md-3 color-header flex--center"><span class="bold">{{ session.totalLearners }}</span>&nbsp;{{ 'global.presents'|trans }} /&nbsp;<span class="bold">{{ session.session.getParticipantMax() }}</span></div>
        </div>
        <div class="col-md-12">
            <div class="row pad-t-15 pad-b-15 btn-deepmark">
                <div class="col-md-1"></div>
                <div class="col-md-10 text-center">{{ "trainers.visio.list_of_room"|trans }}</div>
                <div class="col-md-1 flex--center no-padding">
                    <a data-id="{{ 1 }}" id="downRoomsBtn{{ 1 }}" class="pointer d-none downBtn"><i  class="fa fa-angle-down font-size-20 c-white" aria-hidden="true"></i></a>
                    <a data-id="{{ 1 }}" id="upRoomsBtn{{ 1 }}" class="pointer upBtn"><i  class="fa fa-angle-up font-size-20 c-white" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
        <div id="divRoomsDes{{ 1 }}" class="row col-md-12 assessment-block-content no-padding ">
            <div class="col-md-12 marg-t-20 marg-b-20">
                <div class="row z-index">
                    <div class="col-md-4 no-padding">
                        <div class="row no-padding-right btn-deepmark-light border-radis-30">
                            <div class="col-md-5 text-center no-padding color-header font-size-12 marg-t-10 marg-b-10 ">{{ 'admin.group.create_group'|trans }}</div>
                            <div class="col-md-6 no-padding marg-t-10 marg-b-10">
                                <input type="text" name="roomName" maxlength="40" id="roomName" style="width: 100%" data-table-id="{{ 1 }}" class="border-0 no-padding no-margin color-header backgroud-deepmark-light">
                            </div>
                            <div class="col-md-1 flex--center">
                                <i id="createGroupBtn" data-session-id="{{ session.sessionId }}" class="fas color-header fa-plus"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row col-md-12 no-padding">
                <div class="sessionsList col-md-12 no-padding">
                    <table id="roomTable" class="table table-striped w-100">
                        <thead class="table-primary w-100">
                        <tr class="color-header">
                            <th>{{ 'table.group'|trans }}</th>
                            <th>{{ 'table.url'|trans }}</th>
                            <th>{{ 'table.status'|trans }}</th>
                            <th>{{ 'table.action'|trans }} </th>
                        </tr>
                        </thead>
                        <tbody>
                        {% if session.session.rooms is not null %}
                            {% for room in session.session.rooms %}
                            
                                <tr id="{{ room.id }}">
                                    <td>{{ room.roomName }}</td>
                                    <td>{{ jitsi_url }}/{{ room.id }}</td>
                                    <td id="roomStatus_{{ room.id }}">{{ room.status == 'OPEN' ? 'buttons.opened'|trans|upper : 'buttons.closed'|trans|upper }}</td>
                                    <td>
                                        <div class="btn btn-deepmark-green btn-small pad-5 border-radius-10 open-btn" data-id="{{ room.id }}">
                                            {{ 'buttons.open'|trans|upper }}
                                        </div>
                                        <div class="btn btn-deepmark btn-small pad-5 border-radius-10 join-btn" data-id="{{ room.id }}" data-name="{{ room.roomName }}">
                                            {{ 'buttons.join'|trans|upper }}
                                        </div>
                                        <div class="btn btn-deepmark-red btn-small pad-5 border-radius-10 close-btn" data-id="{{ room.id }}">
                                            {{ 'buttons.close'|trans|upper }}
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                        {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="row pad-t-15 pad-b-15 btn-deepmark">
                <div class="col-md-1"></div>
                <div class="col-md-10 text-center">{{ 'global.list_of_learners'|trans }}</div>
                <div class="col-md-1 flex--center no-padding">
                    <a data-id="{{ 2 }}" id="downRoomsBtn{{ 2 }}" class="pointer d-none downBtn"><i  class="fa fa-angle-down font-size-20 c-white" aria-hidden="true"></i></a>
                    <a data-id="{{ 2 }}" id="upRoomsBtn{{ 2 }}" class="pointer upBtn"><i  class="fa fa-angle-up font-size-20 c-white" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
        <div id="divRoomsDes{{ 2 }}" class="row col-md-12 assessment-block-content no-padding ">
            <div class="col-md-12 marg-t-20 marg-b-20">
                <div class="row z-index">
                    <div class="col-md-4 no-padding">
                        <div class="row no-padding-right btn-deepmark-light border-radis-30">
                            <div class="col-md-2 text-center no-padding color-header font-size-12 marg-t-10 marg-b-10 ">{{ 'search.content'|trans }}</div>
                            <div class="col-md-8 no-padding marg-t-10 marg-b-10">
                                <input type="text" data-table-id="{{ 2 }}" class="bookSearch border-0 no-padding no-margin color-header backgroud-deepmark-light">
                            </div>
                            <div class="col-md-2 flex--center">
                                <i class="fas color-header fa-search"></i>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-8 no-padding text-right">
                        <div class="form-group pad-b-0 admin display-inline">
                            <select id="groupSelected" class="classic typeAction">
                                {% if session.session.rooms is not null %}
                                    {% for key, room in session.session.rooms %}
                                        {% if key == 0 %}
                                            <script>
                                                $('#applyAssignGroupAction').data('id', "{{ room.id }}");
                                            </script>
                                        {% endif %}
                                        <option value="{{ room.id }}">{{ room.roomName }}</option>
                                    {% endfor %}
                                {% endif %}
                            </select>
                        </div>
                        <input type="hidden" id="sessionId" value="{{ session.sessionId }}" name="sessionId">
                        <button id="applyAssignGroupAction" class="btn btn-deepmark-orangelight btn-small">{{ 'global.assign'|trans }}</button>
                    </div>
                </div>
            </div>
            <div class="row col-md-12 no-padding">
                <div class="sessionsList col-md-12 no-padding">
                    <table id="learnersTable" class="table table-striped w-100">
                        <thead class="table-primary w-100">
                        <tr class="color-header">
                            <th>{{ 'table.learners.lastname'|trans }}</th>
                            <th>{{ 'table.learners.firstname'|trans }}</th>
                            <th>{{ 'table.learners.employeeId'|trans }}</th>
                            <th>{{ 'table.learners.function'|trans }}</th>
                            <th>{{ 'table.learners.org'|trans }}</th>
                            <th>{{ 'table.learners.entity'|trans }} </th>
                            <th>{{ 'table.group'|trans }} </th>
                            <th>
                                <div class=" form-check">
                                    <label class="form-check-label">
                                        <input class="form-check-input check-all-input" type="checkbox"
                                               value="">
                                        <span class="form-check-sign">
                                                        <span class="check"></span>
                                                    </span>
                                    </label>
                                </div>
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for learner in session.learners %}
                            {% set booked = session.learnersGroup[learner.getPerson().getId()]['booked'] %}
                            <tr id="{{ learner.getPerson().getId() }}">
                                <td>{{ learner.getLastName() }}</td>
                                <td>{{ learner.getFirstName() }}</td>
                                <td>{{ learner.getEmployeeId() }}</td>
                                <td>{{ learner.getPosition() }}</td>
                                <td>{% if learner.entity.organisation is defined and learner.entity.organisation is not null %}
                                        {{ learner.entity.organisation.designation }}
                                    {% endif %}</td>
                                <td>{% if learner.entity is defined and learner.entity is not null %}
                                        {{ learner.entity.designation }}
                                    {% endif %}</td>
                                <td>{{ booked.room.roomName|default('') }}</td>
                                <td>
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            {% set checked = booked.attendanceDate ? "checked='checked'" : '' %}
                                            <input class="form-check-input room-input" name="attendance" signature-data="{{ booked.id }}" type="checkbox" value="{{ booked.id }}" {{ checked }}>
                                            <span class="form-check-sign"><span class="check"></span></span>
                                        </label>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="{{ asset('js/lang_datatable.js') }}"></script>
<script>
    $(document).ready(function () {
        let lang = languageDatatable();
        let table = $('#learnersTable, #roomTable').DataTable({
            "paging": false,
            "info": false,
            "language": lang,
            }
        );

        $('[data-href]').on('click', function() {
            window.location = $(this).data('href');
        });
        $(".dataTables_filter").hide();
        $('.bookSearch').keyup(function(){
            table.search($(this).val()).draw() ;
        })
        $('#resetBtn').click(function() {
            $(".selectpicker").val(0);
            $("#statusId").val(-1);
            $('.selectpicker').selectpicker('refresh');
            $(".datepicker").val('');
        });
        bindAlert();
        $('.downBtn').on('click', function () {
            var id = $(this).attr("data-id");
            $("#downRoomsBtn"+id).addClass('d-none');
            $("#upRoomsBtn"+id).removeClass('d-none');
            $("#divRoomsDes"+id).removeClass('d-none');
            $('.dataTables_scrollHeadInner').addClass('w-100');
            // tables['table'+id].columns.adjust();

        });
        $('.upBtn').on('click', function () {
            var id = $(this).attr("data-id");
            $("#downRoomsBtn"+id).removeClass('d-none');
            $("#upRoomsBtn"+id).addClass('d-none');
            $("#divRoomsDes"+id).addClass('d-none');

        });

        let locate = $('#locate').val();
        let default_lang = $('#default_locale').val();
        locate = (locate == default_lang) ? '' : '/' + locate;
        $('#createGroupBtn').on('click', function(event) {
            event.preventDefault();
            let roomName = $('#roomName').val();
            let sessionId = $('#sessionId').val();
            if (!roomName) {
                swal({
                    type: 'info',
                    title: '{{ 'global.warning_title'|trans }}',
                    text: '{{ 'global.room_name_error_text'|trans }}',
                });
            } else {
                $.ajax({
                    'url': '{{ path('trainer_exercices_save_room') }}',
                    'method': 'POST',
                    'data': {
                        'roomName': roomName,
                        'sessionId': sessionId
                    }
                }).done(function (response) {
                    swal({
                        type: 'info',
                        allowOutsideClick: false,
                        title: '{{ 'global.room_title'|trans }}',
                        text: '{{ 'global.created_room_text'|trans }}',
                    }).then(
                        function () {
                            //$('#attendance-sheet').modal('hide');
                            loadRoomManagement(locate);
                        },
                    )
                }).fail(function (response) {
                    swal(
                        "{{ 'global.warning_title'|trans }}", "{{ 'global.group_already_exists'|trans }}", "info",
                        {
                            showCancelButton: true,
                            closeOnConfirm: true,
                            showLoaderOnConfirm: true
                        }
                    );
                });
            }
        });

        $('#applyAssignGroupAction').on('click', function(event) {
            event.preventDefault();
            let roomId = $('#groupSelected').val();
            let sessionId = $('#sessionId').val();
            const bookings = [];
            $('.room-input').each(function(){
                if($(this).is(':checked')){
                    bookings.push({
                        bookingId: $(this).val()
                    });
                }
            });
            console.log("bookings", bookings)
            $(this).data('booking', JSON.stringify(bookings.map(item => parseInt(item.bookingId))))

            $.ajax({
                'url': '{{ path('trainer_exercices_assign_room') }}',
                'method': 'POST',
                'data': {
                    'bookings': bookings,
                    'roomId': roomId,
                    'sessionId': sessionId
                }
            }).done(function (response) {
                swal({
                    type: 'info',
                    allowOutsideClick: false,
                    title: '{{ 'global.room_title'|trans }}',
                    text: '{{ 'global.assigned_room_text'|trans }}',
                }).then(
                    function () {
                        loadRoomManagement(locate)
                    },
                )
            }).fail(function (response) {
                swal(
                    "Error", '{{ 'global.assigned_room_error'|trans }}', "error",
                    {
                        showCancelButton: true,
                        closeOnConfirm: true,
                        showLoaderOnConfirm: true
                    }
                );
            });
        });

        $('#groupSelected').change(function() {
            const val = $(this).val();
            $('#applyAssignGroupAction').data('id', val);
        })
    });
</script>
