<div class="row col-md-12 assessment-block-content no-padding ">
    <div class="col-md-12 mt-3 no-padding">
        <div class="row col-md-12 marg-b-15">
            <div class="col-md-3 no-padding flex--center justify-content-start"><span class="bold color-header text-uppercase">{{ 'table.sessions.session'|trans }} {{ 1 }}</span></div>
            <div class="col-md-6 text-center">
                <span class="bold">{{ session.startDate|localizeddate('full', 'none', app.request.locale)|capitalize }}</span><br>
                <span>{{ 'global.from_txt'|trans|lower }}</span> {{ session.startTime }} <span>{{ 'global.to_txt'|trans|lower }}</span> {{ session.endTime }}
                {{ 'admin.trainers.distance_with_trainer'|trans }} {{ profile.getDisplayName() }}
            </div>
            <div class="col-md-3 color-header flex--center"><span class="bold">{{ session.totalLearners }}</span>&nbsp;{{ 'global.presents'|trans }} /&nbsp;<span class="bold">{{ session.session.getParticipantMax()|default(1) }}</span></div>
        </div>
        <div class="col-md-12">
            <div class="row pad-t-15 pad-b-15 btn-deepmark">
                <div class="col-md-1"></div>
                <div class="col-md-10 text-center">{{ 'global.list_of_learners'|trans }}</div>
                <div class="col-md-1 flex--center no-padding">
                    <a data-id="{{ 1 }}" id="downBtn{{ 1 }}" class="pointer d-none downBtn"><i  class="fa fa-angle-down font-size-20 c-white" aria-hidden="true"></i></a>
                    <a data-id="{{ 1 }}" id="upBtn{{ 1 }}" class="pointer upBtn"><i  class="fa fa-angle-up font-size-20 c-white" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
        <div id="divDes{{ 1 }}" class="row col-md-12 assessment-block-content no-padding ">
            <div class="col-md-12 marg-t-20 marg-b-20">
                <div class="row z-index">
                    <div class="col-md-4 no-padding">
                        <div class="row no-padding-right btn-deepmark-light border-radis-30">
                            <div class="col-md-2 text-center no-padding color-header font-size-12 marg-t-10 marg-b-10 ">{{ 'search.content'|trans }}</div>
                            <div class="col-md-8 no-padding marg-t-10 marg-b-10">
                                <input type="text" data-table-id="{{ 1 }}" class="bookSearch border-0 no-padding no-margin color-header backgroud-deepmark-light">
                            </div>
                            <div class="col-md-2 flex--center">
                                <i class="fas color-header fa-search"></i>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-8 no-padding text-right">
                        <div class="form-group pad-b-0 admin display-inline">
                            <select id="actionAttendanceSelected" class="classic typeAction">
                                <option value="5">{{ 'global.send_alert_1'|trans|raw }}</option>
                                <option value="15">{{ 'global.send_alert_2'|trans|raw }}</option>
                                <option value="absence">{{ 'global.confirm_absence'|trans }}</option>
                                <option value="presence">{{ 'global.confirm_presence'|trans }}</option>
                            </select>
                        </div>
                        <button id="applyAttendanceAction" class="btn btn-deepmark-orangelight btn-small">{{ 'global.apply'|trans }}</button>
                    </div>
                </div>
            </div>
            <div class="row col-md-12 no-padding">
                <div class="sessionsList col-md-12 no-padding">
                    <table id="absentTable" class="table table-striped w-100">
                        <thead class="table-primary w-100">
                        <tr class="color-header">
                            <th>{{ 'table.learners.lastname'|trans }}</th>
                            <th>{{ 'table.learners.firstname'|trans }}</th>
                            <th>{{ 'table.learners.employeeId'|trans }}</th>
                            <th>{{ 'table.learners.function'|trans }}</th>
                            <th>{{ 'table.learners.org'|trans }}</th>
                            <th>{{ 'table.learners.entity'|trans }} </th>
                            <th>{{ 'table.learners.trainning_group'|trans }} </th>
                            <th>{{ 'global.status'|trans }} </th>
                            <th>{{ 'table.presence'|trans }} </th>
                            <th>
                                <div class=" form-check">
                                    <label class="form-check-label">
                                        <input class="form-check-input check-all-input" type="checkbox"
                                               value="">
                                        <span class="form-check-sign">
                                                        <span class="check"></span>
                                                    </span>
                                    </label>
                                </div>
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for learner in session.learners %}
                            {% set booked = session.learnersGroup[learner.getPerson().getId()]['booked'] %}
                            <tr id="{{ learner.getPerson().getId() }}">
                                <td>{{ learner.getLastName() }}</td>
                                <td>{{ learner.getFirstName() }}</td>
                                <td>{{ learner.getEmployeeId() }}</td>
                                <td>{{ learner.getPosition() }}</td>
                                <td>{% if learner.entity.organisation is defined and learner.entity.organisation is not null %}
                                        {{ learner.entity.organisation.designation }}
                                    {% endif %}</td>
                                <td>{% if learner.entity is defined and learner.entity is not null %}
                                        {{ learner.entity.designation }}
                                    {% endif %}</td>
                                <td>{{ session.learnersGroup[learner.getPerson().getId()]['groupName'] }}</td>
                                <td>
                                    <label class="{{ booked.joinStatus is not null and booked.joinStatus == 1 ? 'badge-deepmark-green' : 'badge-danger' }} pad-5 c-white border-radius-10">
                                        {{ booked.joinStatus is not null and booked.joinStatus == 1 ? "trainers.visio.online"|trans|capitalize : "trainers.visio.offline"|trans|capitalize }}
                                    </label>
                                </td>
                                <td>
                                    {{ booked.attendanceDate is not null ? "global.yes"|trans|capitalize : "global.no"|trans|capitalize }}
                                </td>
                                <td>
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            {% set checked = booked.attendanceDate ? "checked='checked'" : '' %}
                                            <input class="form-check-input attendance-input" name="attendance" signature-data="{{ booked.id }}" type="checkbox" value="{{ booked.id }}" {{ checked }}>
                                            <span class="form-check-sign"><span class="check"></span></span>
                                        </label>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row col-md-12 marg-t-20">
                <div class="col-md-12 no-padding">
                    <div class="col-md-12 text-center font-size-20 pad-10 btn-deepmark-light">
                        <a data-toggle="modal" data-target="#viewLearner" data-dismiss="modal" data-session-id="{{ session.sessionId }}" class="cursor-disabled viewLearner color-header">
                            <i class="fas mdl-color--grey fa-plus-circle color-header"></i> {{ 'table.learners.add_learners'|trans }}
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="{{ asset('js/lang_datatable.js') }}"></script>
<script>
    $(document).ready(function () {
        let lang = languageDatatable();
        let table = $('#absentTable').DataTable({
            "paging": false,
            "info": false,
            "language": lang,
            }
        );

        $('[data-href]').on('click', function() {
            window.location = $(this).data('href');
        });
        $(".dataTables_filter").hide();
        $('.bookSearch').keyup(function(){
            table.search($(this).val()).draw() ;
        })
        $('#resetBtn').click(function() {
            $(".selectpicker").val(0);
            $("#statusId").val(-1);
            $('.selectpicker').selectpicker('refresh');
            $(".datepicker").val('');
        });
        bindAlert();
        $('.downBtn').on('click', function () {
            var id = $(this).attr("data-id");
            $("#downBtn"+id).addClass('d-none');
            $("#upBtn"+id).removeClass('d-none');
            $("#divDes"+id).removeClass('d-none');
            $('.dataTables_scrollHeadInner').addClass('w-100');
            // tables['table'+id].columns.adjust();

        });
        $('.upBtn').on('click', function () {
            var id = $(this).attr("data-id");
            $("#downBtn"+id).removeClass('d-none');
            $("#upBtn"+id).addClass('d-none');
            $("#divDes"+id).addClass('d-none');

        });
    });
</script>
