<div>
    {% if is_granted('ROLE_LEARNER') %}
        {% set downloadPath = 'learner_document_download' %}
    {% elseif is_granted('ROLE_TRAINER') %}
        {% set downloadPath = 'trainer_document_download' %}
    {% endif %}
    <div class="row col-md-12 no-padding">
        <div class="col-md-4 text-center no-padding-left">
            <div class="form-group admin">
                <label>{{ 'global.choose_type_signature'|trans }}</label><br>
                <select id="typeSignature" class="classic typeAction" name="select_signature">
                    {% set k = module.signatureNumber %}
                    {% for i in range(1, k) %}
                        <option value="{{ i }}">{{ module.signatureParameters[i-1]['signatureName'] is defined ? module.signatureParameters[i-1]['signatureName'] : 'global.signature'|trans ~ ' ' ~ i }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="col-md-1 no-padding justify-content-end marg-t-20 flex--center">
            <a class="cursorPointer" id="refreshBtn"><i class="fas fa-sync color-header"></i></a>
        </div>
        <div class="col-md-2 marg-t-20 no-padding-right">
            <button id="applyOpen" class="btn btn-deepmark-orangelight btn-block closeOpenSignature" data-id="1">{{ 'global.open'|trans }}</button>
        </div>
        <div class="col-md-2 marg-t-20 no-padding-right">
            <button id="applyClose" class="btn btn-deepmark-orangelight btn-block closeOpenSignature" data-id="0">{{ 'global.close'|trans }}</button>
        </div>
        <div class="col-md-3 marg-t-20 no-padding-right">
            {% set signature_type_trainer = '' %}
            {% set signature_name_trainer = '' %}
            {% set allowSignature = 0 %}
            {% for sessionSignature in sessionSignatures %}
                {% if sessionSignature.isOpen == 1 and sessionSignature.signature is null %}
                    {% set allowSignature = 1 %}
                    {% set signature_type_trainer = sessionSignature.signatureType %}
                    {% set signature_name_trainer = module.signatureParameters[sessionSignature.signatureType-1]['signatureName'] is defined ? module.signatureParameters[sessionSignature.signatureType-1]['signatureName'] : 'global.signature'|trans ~ ' ' ~ loop.index %}
                {% endif %}
            {% endfor %}

            {% set disabled = (allowSignature == 0) ? 'disabled="disabled"' : '' %}
            <button id="signature-image-trainer-btn" {{ disabled }} type="button" class="btn btn-block {% if allowSignature == 0 %} btn-default {% else %} btn-deepmark-orangelight {% endif %}" data-toggle="modal" data-target="#signature-image"
                    signature-data="{{ booked.id }}" signature-name="{{ signature_name_trainer }}" signature-type={{ signature_type_trainer }} session-signature="1" profile-name="{{ profile.displayName }}">
                <span>{{ 'global.trainer_signature'|trans }}</span>
            </button>
        </div>
    </div>
    <table class="table table-striped marg-t-15">
        <thead class="table-header">
        <tr>
            <th>
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input check-all-input" type="checkbox"
                               value="">
                        <span class="form-check-sign">
                            <span class="check"></span>
                        </span>
                    </label>
                </div>
            </th>
            <th>{{ 'table.interventions.learner'|trans }}</th>
            <th>{{ 'global.id_txt'|trans }}</th>
            <th width="15%">{{ 'global.signature'|trans }}</th>
            <th width="15%">{{ 'global.signature_status'|trans }}</th>
            <th width="25%">{{ 'global.learner_signature'|trans }}</th>
            <th width="15%">{{ 'global.date_signature'|trans }}</th>
            <th>{{ 'global.po_signature'|trans }}</th>
        </tr>
        </thead>
        <tbody>
        {% for booked in bookingAgendas %}
            {% set allow = 0 %}
            {% set signature_type = 0 %}
            {% set signature_name = '' %}
            {% for param in booked.signatureParams %}
                {% if param == 1 %}
                    {% set allow = 1 %}
                    {% set signature_type = loop.index %}
                    {% set signature_name = module.signatureParameters[loop.index-1]['signatureName'] is defined ? module.signatureParameters[loop.index-1]['signatureName'] : 'global.signature'|trans ~ ' ' ~ loop.index %}
                {% endif %}
            {% endfor %}
            <tr>
                <td>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input class="form-check-input signature-input" name="attendance" signature-data="{{ booked.id }}" type="checkbox" value="{{ booked.id }}">
                            <span class="form-check-sign"><span class="check"></span></span>
                        </label>
                    </div>
                </td>
                <td>{{ booked.learner.displayName }}</td>
                <td>{{ booked.learner.employeeId }}</td>
                <td width="70%" colspan="4" class="signature-{{ booked.id }} no-padding">
                    <table width="100%" >
                        {% for param in booked.signatureParams %}
                            {% set paramIndex = loop.index %}
                            <tr class="bg-transparent pad-b-10 pad-t-10" style="height: 70px!important;">
                                <td style=" vertical-align: middle;" class="border-0" width="15%">{{ module.signatureParameters[loop.index-1]['signatureName'] is defined ? module.signatureParameters[loop.index-1]['signatureName'] : 'global.signature'|trans ~ ' ' ~ loop.index }}</td>
                                <td style=" vertical-align: middle;" class="border-0" width="15%">{{ param == 1 ? 'global.signature_allow'|trans : 'global.signature_not_allow'|trans }}</td>
                                {% if booked.bookingSignatures|length %}
                                    {% set signatures = 0 %}
                                    {% for sig in booked.bookingSignatures %}
                                        {% if (paramIndex == sig.signatureType) %}
                                            {% if (allow and signature_type) %}
                                                {% set allow = sig.signatureType == signature_type ? 0 : 1 %}
                                            {% endif %}
                                            {% set linkHref = sig.signature ? path(downloadPath, {'id': sig.signature.id}) : '' %}
                                            <td style=" vertical-align: middle;" class="border-0" width="25%">
                                                <img id="signature-{{ sig.signature.id }}" src="{{ linkHref }}" height="50">
                                            </td>
                                            <td style=" vertical-align: middle;" class="border-0" width="15%">
                                                {{ sig.created|date("d/m/Y H:i:s") }}
                                            </td>
                                        {% endif %}
                                    {% endfor %}
                                {% else %}
                                    <td style=" vertical-align: middle;" class="border-0" width="25%"></td>
                                    <td style=" vertical-align: middle;" class="border-0" width="15%"></td>
                                {% endif %}
                            </tr>
                        {% endfor %}

                    </table>
                </td>
                <td class="a">
                    {% set disabled = (allow == 0) ? 'disabled="disabled"' : '' %}
                    <button {{ disabled }} type="button" class="signature-button-{{ booked.id }} btn btn-sm {% if allow == 0 %} btn-default {% else %} btn-deepmark-orangelight {% endif %}" data-toggle="modal" data-target="#signature-image" signature-data="{{ booked.id }}" learner-name="{{ booked.learner.displayName }}" signature-name="{{ signature_name }}" signature-type={{ signature_type }}>
                        <span>{{ 'global.signature_button'|trans }}</span>
                    </button>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<script>
    $(document).ready(function() {
        bindAllowAttendanceSheet();
        let digitalSignatureFirst = $("#digitalSignatureFirst").val();
        if (digitalSignatureFirst == 1) {
            $(".check-all-input").trigger("click");
        }
        $('#typeSignature').on('change', function () {
            let typeSignature = $(this).val();
            $('#typeSignatureId').val(typeSignature);
        });
        let typeSignatureId = $("#typeSignatureId").val();
        if (typeSignatureId != 0) {
            $('#typeSignature').val(typeSignatureId);
        }
        let allowSignature = {{ allowSignature }};
        if (allowSignature != 0) {
            $('#signature-image-trainer-btn').click();
        }
        
        $('#refreshBtn').on('click', function (e) {
            $.ajax({
                'url': '{{ path('trainer_exercices_get_attendance_content') }}',
                'method': 'POST',
                'data': {
                    'id': $('#bookingId').val(),
                    'absent': $(e.relatedTarget).data('absent_data') == 1 ? 1 : 0,
                    'method': 1,
                },
                beforeSend: function() {
                    $("#content-attendance-sheet").empty().html('<i class="fa fa-spinner fa-spin"></i>');
                },
            }).done(function (response) {
                $("#content-attendance-sheet").html(response);
                $('.check-all-input').change(function() {
                    if ($(this).is(':checked')) {
                        $(this).closest('.table').find('.form-check-input').prop('checked', true);
                    } else {
                        $(this).closest('.table').find('.form-check-input').prop('checked', false);
                    }
                });
            }).fail(function (response) {
                swal(
                    "Error", jsTranslations.attendance_error, "error",
                    {
                        showCancelButton: true,
                        closeOnConfirm: true,
                        showLoaderOnConfirm: true
                    }
                );
            });
        });
    });
</script>
