{% extends "base.html.twig" %}

{% block pagename %}{{ module.designation }}{% endblock %}

{% block body %}
{% set statusDoneId = constant('\\ApiBundle\\Entity\\Status::WITH_BOOKING_DONE') %}
{% set statusExpiredId = constant('\\ApiBundle\\Entity\\Status::LEARNER_INTERVENTION_EXPIRED') %}
{% set status_done =  constant('ApiBundle\\Entity\\Status::WITH_BOOKING_DONE') %}
{% set status_learner_absent =  constant('ApiBundle\\Entity\\Status::WITH_BOOKING_LEARNER_ABSENT') %}

{% set hour = module.duration|date('G', false) %}
{% set minutes =  module.duration|date('i', false) %}
{% set duration = '' %}
{% set durationJs = '' %}
{% if hour == '0' %}
    {% set duration = '+'~minutes~' min' %}
    {% set durationJs = minutes %}
{% elseif minutes == '00' %}
    {% set duration = '+'~ hour ~ 'hours' %}
    {% set durationJs = hour * 60 %}
{% else %}
    {% set duration = '+' ~hour ~ ' hours' ~ ' +' ~ minutes~ ' min' %}
    {% set durationJs = minutes + hour * 60  %}
{% endif %}

{% if module.storedModule.appId == constant('\\ApiBundle\\Entity\\StoredModule::PRESENTATION_ANIMATION') %}
    {% set icon = '/images/classroom-white.svg' %}
    {% set color = 'btn-lightblue' %}
{% elseif module.storedModule.appId == constant('\\ApiBundle\\Entity\\StoredModule::ONLINE') %}
    {% set icon = '/images/online-white.svg' %}
    {% set color = 'btn-navy' %}
{% elseif module.storedModule.appId == constant('\\ApiBundle\\Entity\\StoredModule::VIRTUAL_CLASS') %}
    {% set icon = '/images/vitual-white.svg' %}
    {% set color = 'btn-blue' %}
{% endif %}

    <div class="row marg-t-10 card-pane">
        <div class="col-md-4 no-padding-left marg-b-15" >
            <div class="col-md-12 row div-module-detail" >
                <div class="col-md-3 text-center flex--center no-padding">
                    <div class="flex--center {{ color }} border-radius-50 no-padding" style="width: 50px; height: 50px;">
                        {% if icon is defined %}
                            <object data="{{ icon }}" width="40" height="40"
                                    type="image/svg+xml"></object>
                        {% endif %}
                    </div>
                </div>
                <div class="col-md-9 no-padding" >
                    <span class="bold">
                     {% if module.storedModule.appId == constant('\\ApiBundle\\Entity\\StoredModule::ONLINE') %}
                         {{ 'admin.interventions.mods.onlineseance'|trans }}
                     {% elseif module.storedModule.appId == constant('\\ApiBundle\\Entity\\StoredModule::VIRTUAL_CLASS') %}
                         {{ 'admin.interventions.mods.virtualclass'|trans }}
                     {% elseif module.storedModule.appId == constant('\\ApiBundle\\Entity\\StoredModule::PRESENTATION_ANIMATION') %}
                         {{ 'admin.interventions.mods.animation'|trans }}
                     {% endif %}
                    </span>
                    <h3 class="no-margin font-size-20 bold color-header">{{ module.designation }}</h3>
                </div>

                <div class="col-md-12 no-padding div-module-description">
                    <p class="no-margin bold" >{{ 'admin.skills.form.description_label'|trans }}</p>
                    <div class="col-md-12 no-padding text-justify font-size-13" >
                        {{ module.description|raw }}
                    </div>
                </div>

                <div class="col-md-12 no-padding row padding-bottom-15" >
                    <div class="col-md-8 no-padding">
                        <p class="color-header no-margin bold" >
                            <embed src="/images/clock.svg" width="22" height="22"
                                   type="image/svg+xml"/>&nbsp;&nbsp;&nbsp;<span class="font-size-20">{{ module.duration|date('H:i:s') }}</span>
                        </p>
                        <p class="no-margin">
                            <embed src="/images/calendar.svg" width="18" height="20"
                                   type="image/svg+xml"/>&nbsp;&nbsp;&nbsp;<span class="font-size-13 text-gray">{{ module.beginning|date('d/m/Y') }} {{ 'global.to'|trans }} {{ module.ending|date("d/m/Y") }}</span>
                        </p>
                    </div>
                    <div class="col-md-4 no-padding text-center text-gray" >
                        {% if (module.minScore is not empty) %}
                            <span class="font-size-13 bold" >{{ 'trainers.statistics.score_to_pass' |trans|capitalize }}</span><br>
                            <span class="font-size-30 bold">{{ module.minScore  }}%</span>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-md-12 marg-b-15 bg-white border-radius-10" >
                <div class="col-md-12 text-center pad-15" >
                    <span  class="color-header bold font-size-20">{{ 'global.trainer_document'|trans }}</span>
                </div>
                <div class="col-md-12" >
                    {% if module.trainerDocument|length != 0 %}
                        {{ include('molecules/tables/files-list.html.twig', {documents: module.trainerDocument, type: "documents"}) }}
                    {% endif %}
                </div>
            </div>
            <div class="col-md-12 marg-b-15 bg-white border-radius-10"  >
                <div class="col-md-12 text-center pad-15" >
                    <span class="font-size-20 bold color-header">{{ 'global.learner_document'|trans }}</span>
                </div>
                <div class="col-md-12" >
                    {% if module.educationalDocument|length != 0 %}
                        {{ include('molecules/tables/files-list.html.twig', {documents: module.educationalDocument, type: "documents"}) }}
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-md-8 no-padding marg-b-15">
            {% if booked is defined and booked is not empty %}
                <div class="col-md-12 row div-session-detail">
                    <div class="col-md-4 flex--center no-padding module div-session-status">
                        <span class="module-circle dot-session-status" ></span> &nbsp; &nbsp; <span class="font-size-14 bold" >
                            {{ include('molecules/widgets/booking-status.html.twig', { appId: booked.status.appId }) }} &nbsp;!
                            {% if expired and booked.status.appId != status_done and booked.status.appId != status_learner_absent %}
                                 {{ 'booking.expired' |trans }}
                            {% endif %}
                        </span>
                    </div>
                    <div class="col-md-4 flex--center no-padding text-center">
                        <span class="color-header bold font-size-20">{{'learners.courses.my_session'|trans }}</span>
                    </div>

                    <div class="col-md-4 text-right no-padding">
                        {% if isTrained == constant('\\ApiBundle\\Entity\\Status::SESSION_NOT_START') and booked %}
                            {% if replacement %}
                                <a href="javascript:void(0)" class="btn btn-deepmark-red btn-sm width-auto text-white">{{ 'global.asked_replacement' |trans }}</a>
                            {% else %}
                                <a data-toggle="modal" data-target="#ask-replacement" class="btn btn-deepmark-red btn-sm width-auto text-white">{{ 'global.ask_replacement' |trans }}</a>
                            {% endif %}
                        {% elseif booked and booked.status.appId != status_done and booked.status.appId != status_learner_absent  %}
                            <button id="quitSession" type="button" class="btn btn-deepmark">{{ "trainers.visio.buttons.finish_session"|trans}}<div class="ripple-container"></div></button>
                        {% endif %}
                    </div>
                    <div class="col-md-12 text-center marg-t-15">
                        <h2 class="no-margin bold">{{ booked.bookingDate|localizeddate('full', 'none', app.request.locale)|capitalize }}</h2>
                        <h3 class="no-margin marg-bottom-20 bold" > {{ booked.bookingDate|date('G:i', false) }} - {{ booked.bookingDate|date_modify(duration)|date('G:i', false) }} </h3>
                    </div>

                    <div class="col-md-12 text-center marg-t-10 marg-b-20">
                        {% if
                            (module.storedModule.appId == constant('\\ApiBundle\\Entity\\StoredModule::VIRTUAL_CLASS') or
                            module.storedModule.appId == constant('\\ApiBundle\\Entity\\StoredModule::ONLINE'))
                            and isTrained == constant('\\ApiBundle\\Entity\\Status::SESSION_NOT_START') and booked
                        %}
                            <label id="countDownDiv" style="min-width: 250px" class="badge-deepmark-orangelight pad-t-20 pad-b-20 pad-l-20 border-radius-10 pad-r-20 font-size-18" >
                                <div class="row">
                                    <div class="col-md-2 flex--center no-padding">
                                        <img src="{{ asset('images/tv.png') }}">
                                    </div>
                                    <div id="contentCountdown" class="col-md-10 flex--center white-space">
                                        <span class="text-uppercase text-white font-size-25" id="clockTrainer"></span>
                                        <script src="{{ asset('js/lib/jquery.countdown.min.js') }}"></script>
                                        <script src="{{ asset('js/lib/moment-timezone-with-data.min.js') }}"></script>

                                        <script>
                                            let clockTrainer = document.getElementById('clockTrainer');
                                            let dayCountTrainer = '{{ booked.bookingDate|date("Y-m-d H:i:s") }}';
                                            dayCountTrainer = moment.tz(dayCountTrainer, "{{ app.user.timezone.timeZone }}");
                                            if (clockTrainer) {
                                                $('#clockTrainer').countdown(dayCountTrainer.toDate())
                                                    .on('update.countdown', function (event) {
                                                        var format = '%H:%M:%S';
                                                        if (event.offset.totalDays > 0) {
                                                            format = '%-d {{ 'global.day'|trans }}%!d ' + format;
                                                        }
                                                        if (event.offset.weeks > 0) {
                                                            format = '%-w {{ 'global.week'|trans }}%!w ' + format;
                                                        }
                                                        if(event.offset.totalSeconds <= 900){//15 minutes
                                                            $(this).countdown('stop');
                                                            $("#contentCountdown").html("<a class='text-white' href=\"{{ path('trainer_exercices_video', {'id': booked.id }) }}\">{{ 'global.rejoin'|trans }}</a>");
                                                            $("#countDownDiv").removeClass('badge-deepmark-orangelight');
                                                            $("#countDownDiv").addClass('badge-label-green');
                                                        }
                                                        $(this).html(event.strftime(format));
                                                    })
                                                    .on('finish.countdown', function (event) {
                                                        $("#contentCountdown").html("<a class='text-white' href=\"{{ path('trainer_exercices_video', {'id': booked.id }) }}\">{{ 'global.rejoin'|trans }}</a>");
                                                        $("#countDownDiv").removeClass('badge-deepmark-orangelight');
                                                        $("#countDownDiv").addClass('badge-label-green');
                                                });
                                            }
                                        </script>
                                    </div>
                                </div>
                            </label>
                        {% elseif expired and module.storedModule.appId != constant('\\ApiBundle\\Entity\\StoredModule::PRESENTATION_ANIMATION') %}
                            <label style="min-width: 200px" class="badge-label-gray pad-t-20 pad-b-20 pad-l-20 border-radius-10 pad-r-20 font-size-18" >
                                <div class="row">
                                    <div class="col-md-2 flex--center no-padding">
                                        <img src="{{ asset('images/tv.png') }}">
                                    </div>
                                    <div class="col-md-10 flex--center white-space">
                                        <span class="text-uppercase text-white font-size-25">{{ 'global.expired'|trans }}</span>
                                    </div>
                                </div>
                            </label>
                        {% elseif module.storedModule.appId == constant('\\ApiBundle\\Entity\\StoredModule::PRESENTATION_ANIMATION') and booked %}
                            {% if booked.moduleSession is not empty and  booked.moduleSession.sessionPlace is not empty %}
                                <i class="color-header fa fa-map-marker "></i> &nbsp;&nbsp;&nbsp;{{ booked.moduleSession.sessionPlace.address }}
                            {% endif %}
                        {% elseif
                            module.storedModule.appId == constant('\\ApiBundle\\Entity\\StoredModule::VIRTUAL_CLASS') or
                            module.storedModule.appId == constant('\\ApiBundle\\Entity\\StoredModule::ONLINE') %}
                                {% if isTrained == constant('\\ApiBundle\\Entity\\Status::SESSION_IN_PROGRESS') %}
                                    <label style="min-width: 200px" class="badge-label-green pad-t-20 pad-b-20 pad-l-20 border-radius-10 pad-r-20 font-size-18" >
                                        <div class="row">
                                            <div class="col-md-2 flex--center no-padding">
                                                <img src="{{ asset('images/tv.png') }}">
                                            </div>
                                            <div class="col-md-10 flex--center white-space">
                                                <a class='text-white' href="{{ path('trainer_exercices_video', {'id': booked.id }) }}">
                                                   {{ 'global.rejoin'|trans }}
                                                </a>
                                            </div>
                                        </div>
                                    </label>
                                {% elseif isTrained == constant('\\ApiBundle\\Entity\\Status::SESSION_DONE') %}
                                    {{ 'learners.courses.session_completed'|trans }}
                                {% elseif isTrained == constant('\\ApiBundle\\Entity\\Status::SESSION_NOT_START') %}
                                    {{ 'learners.courses.session_not_started'|trans }}
                                {% endif %}
                        {% else %}

                        {% endif %}
                    </div>
                    {% if module.storedModule.appId == constant('\\ApiBundle\\Entity\\StoredModule::ONLINE') %}
                        <div class="row col-md-12 pad-t-15 text-white pad-b-15 backgroud-header">
                            <div class="col-2">
                                <i class="fa fa-user font-size-18"></i>
                            </div>
                            <div class="col-8 text-center ">
                                <p class="no-margin text-white font-size-18">{{ 'global.with' |trans }}, {{ learner.displayName }}</p>
                            </div>
                            <div class="col-md-2"></div>
                        </div>
                        <div class=" col-md-12 marg-b-15 text-center pad-t-15 text-white pad-b-15 backgroud-deepmark-light">
                            <p class="no-margin color-header font-size-18"> <b class="bold">{{ learner.entity.organisation.designation }}</b> - {{ learner.entity.designation }}</p>
                        </div>
                        <div class="col-md-6 text-left user-info-text">
                            <p class="no-margin">&nbsp;&nbsp;&nbsp;<i class="fas fa-suitcase color-header" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;{{ learner.position == null ? '-' : learner.position }}</p>
                            <p class="no-margin">&nbsp;&nbsp;&nbsp;<i class="fa fa-phone color-header" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;{{ learner.mobilePhone == null ? '-' : learner.mobilePhone }}</p>
                            <p class="no-margin">&nbsp;&nbsp;&nbsp;<i class="fa fa-envelope color-header" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;{{ learner.person.email }}</p>
                        </div>
                        <div class="col-md-6 text-left user-info-text">
                            <p class="no-margin">&nbsp;&nbsp;&nbsp;<i class="fa fa-map-marker color-header" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;{{ learner.city == null ? '-' : learner.city  }}</p>
                            {% if learner.fixedPhone %}
                            <p class="no-margin">&nbsp;&nbsp;&nbsp;<i class="fa fa-phone color-header" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;{{ learner.fixedPhone }}</p>
                            {% endif %}
                        </div>
                        {#<div class="col-md-6 marg-t-10 no-padding-left">
                            <button class="btn btn-block border-radius-0 btn-deepmark">
                                <div class="row">
                                    <div class="col-md-2">
                                        <i class="fa fa-comment font-size-20" aria-hidden="true"></i>
                                    </div>
                                    <div class="col-md-8">
                                        {{ 'global.send_sms' |trans }}
                                    </div>
                                    <div class="col-md-2"></div>
                                </div>
                            </button>
                        </div>
                        <div class="col-md-6 marg-t-10 no-padding-right">
                            <button class="btn btn-block border-radius-0 btn-deepmark">
                                <div class="row">
                                    <div class="col-md-2">
                                        <i class="fa fa-envelope font-size-20" aria-hidden="true"></i>
                                    </div>
                                    <div class="col-md-8">
                                        {{ 'global.send_email' |trans }}
                                    </div>
                                    <div class="col-md-2"></div>
                                </div>
                            </button>
                        </div>#}
                    {% else %}
                        {{ include('molecules/trainer/my-learner.html.twig', { groupEntities: groupEntities, bookingAgendas: bookingAgendas }) }}
                    {% endif %}
                </div>
            {% endif %}

            {% if booked and (booked.status.appId == status_done or booked.status.appId == status_learner_absent or expired)  %}
                {{ include('molecules/widgets/synthesis.html.twig') }}
            {% endif %}
        </div>
        <div class="col-md-12 card no-margin pad-t-10" >
            <h3 class="text-center bold"><span class="color-header text-uppercase">{{ 'global.intervention' |trans }} : </span>{{ intervention.designation }}</h3>
            <div class="row course-steps pad-t-30" >
                <div id="courseStepsMiddleLine"></div>
                <div class="col-md-1 no-padding text-center border-radius-10 font-size-14 color-header first-step first-step-margin">
                        <span class="module-circle flex--center pointer box-module">
                            <i class="fa fa-home" aria-hidden="true"></i>
                        </span>
                    <p class="no-margin color-header">{{ 'global.start'|trans }}</p>
                    <p  class="bold no-padding no-margin color-header">{{ intervention.beginning|date("d/m/Y") }}</p>
                </div>
                <div class="col-md-10 no-padding">
                    <nav id="courseSteps no-padding">
                        <div id="courseStepsCircles">
                            {% set loopCurrent = 0 %}
                            {% set current = 0 %}
                            {% set curentClass = '' %}
                            {% set current_id = 0 %}
                            {% if modules|length < 6 %}
                                <div id="staticCircles">
                                    {% block circleList %}
                                        <div>
                                        </div>
                                        {% for module in modulesIntervention %}
                                            {% if idModule == module.id %}
                                                {% set loopCurrent = loop.index %}
                                            {% endif %}
                                            {% if (moduleAssessment and moduleAssessment.id != module.id) or moduleAssessment is null %}
                                                {% if module.id in moduleAssigns  %}
                                                    <div class="div-module padding-content {% if idModule == module.id %} triangleClass {% endif %} text-center {% if modules|length >= 7 %} marg-t-20 {% endif %} ">
                                                        <a data-placement="bottom" data-toggle="tooltip" title="{{ module.designation }}" style="display: inline-flex!important;" href="{{ path('trainer_missions_detail', {'id': module.id }) }}" class="module-circle flex--center module-circle--active font-size-12 {% if idModule == module.id %} curentClass {% endif %}">
                                                            {{ api.profile.firstName|first }}{{ api.profile.lastName|first }}
                                                        </a>
                                                        <p class="text-long display-text font-size-12">
                                                            {% if module.storedModule.appId == constant('\\ApiBundle\\Entity\\StoredModule::QUIZ') %}
                                                                {% if module.quiz.isSurvey == 1 %}
                                                                    {{ 'table.quiz.is_survey.yes'|trans }}
                                                                {% else %}
                                                                    {{ 'table.quiz.is_survey.no'|trans }}
                                                                {% endif %}
                                                            {% else %}
                                                                {{ include('molecules/widgets/module-type.html.twig', { appId: module.storedModule.appId }) }}
                                                            {% endif %}
                                                        </p>
                                                    </div>
                                                {% else %}
                                                    <div class="div-module padding-content {% if idModule == module.id %} triangleClass {% endif %} text-center {% if modules|length >= 7 %} marg-t-20 {% endif %} ">
                                                        <span data-placement="bottom" data-toggle="tooltip" title="{{ module.designation }}" style="display: inline-flex!important;" class="module-circle flex--center module-circle--block {% if idModule == module.id %} curentClass {% endif %}">
                                                            {{ loop.index }}
                                                        </span>
                                                        <p class="text-long display-text font-size-12">
                                                            {% if module.storedModule.appId == constant('\\ApiBundle\\Entity\\StoredModule::QUIZ') %}
                                                                {% if module.quiz.isSurvey == 1 %}
                                                                    {{ 'table.quiz.is_survey.yes'|trans }}
                                                                {% else %}
                                                                    {{ 'table.quiz.is_survey.no'|trans }}
                                                                {% endif %}
                                                            {% else %}
                                                                {{ include('molecules/widgets/module-type.html.twig', { appId: module.storedModule.appId }) }}
                                                            {% endif %}
                                                        </p>
                                                    </div>
                                                {% endif %}
                                            {% endif %}
                                        {% endfor %}
                                        <div>
                                            <input type="hidden" id="currentModuleId" value="{{ loopCurrent  }}">
                                        </div>
                                    {% endblock %}
                                </div>
                            {% else %}
                                <div id="circlesOuterWrapper">
                                    <a id="previousModule" class="btn btn-deepmark flex--center no-padding border-radius-50 control"><i class="text-white far fa-angle-left"></i></a>
                                    <div id="slidingCircles">
                                        <div id="circlesInnerWrapper">
                                            {{ block('circleList') }}
                                        </div>
                                    </div>
                                    <a id="nextModule" class="btn btn-deepmark flex--center no-padding border-radius-50 control"><i class="text-white far fa-angle-right "></i></a>
                                </div>
                            {% endif %}
                        </div>
                    </nav>
                </div>
                <div class="col-md-1 no-padding text-center color-header font-size-14 border-radius-10 last-step {% if moduleAssessment %}step-margin {% else %} first-step-margin{% endif %}">
                    {% if moduleAssessment %}
                        <img width="30" height="20"  src="{{ asset('/images/tiara.png') }}"><br>
                    {% endif %}
                    <span  class="module-circle flex--center pointer  box-module" >
                            <i class="fa fa-trophy" aria-hidden="true"></i>
                        </span>
                    <p class="no-margin color-header">{{ 'global.end'|trans }}</p>
                    <p class="no-padding bold no-margin color-header">{{ intervention.ending|date("d/m/Y") }}</p>
                </div>
            </div>
            <div class="row marg-t-20 marg-b-15">
                <div class="row col-md-12 pad-t-15 text-white pad-b-15 backgroud-header">
                    <div class="col-10 text-left ">
                        <p class="no-margin text-white font-size-18">{{ 'global.view_module_detail'|trans }}</p>
                    </div>
                    <div class="col-md-2 text-right">
                        <i class="fa fa-angle-down" id="detailClick" data-toggle="collapse" href="#detail"  aria-expanded="true" aria-controls="detail"></i>
                    </div>
                </div>
                <div id="detail" class="col-md-12 col-sm-12 collapse no-padding border-header">
                    <ul class="pad-10 round">
                        {% if modulesIntervention|length != 0 %}
                            {% for key, module in modulesIntervention %}
                                {% if (moduleAssessment and moduleAssessment.id != module.id) or moduleAssessment is null %}

                                    {% if module.id not in moduleAssigns  %}
                                        {% set class = 'module-li-done' %}
                                        {% set classButton = 'btn-deepmark-mediumgray' %}
                                        {% set classIcon = 'li-done' %}
                                    {% else %}
                                        {% set class = 'module-li-active' %}
                                        {% set classButton = 'btn-deepmark-orangelight' %}
                                        {% set classIcon = 'li-active' %}

                                    {% endif %}

                                    {% set moduleLink = '' %}
                                    <li class="module {{ class }} marg-b-15 no-padding">
                                        <div class="row col-md-12 pad-l-0 pad-r-0 {% if module.id not in moduleAssigns  %} pad-b-10 {% endif %}" >
                                            <div class="col-md-1 no-padding ">
                                                <div class="row height-100 " >
                                                    <div class="col-md-6 col-2 no-padding">
                                                        {% if module.id in moduleHasAssessment %}
                                                            <img height="40" width="100%" src="{{ asset('/images/bg-tiara.png') }}">
                                                        {% endif %}
                                                    </div>
                                                    <div class="col-md-6 col-12 flex--center  no-padding" >
                                                        <span class="font-size-30 font-weight-800">{{ key+1 }}.</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-1  pad-l-0 pad-r-0 pad-t-10 pad-b-0 flex--center"  >
                                                {% if module.storedModule.appId == constant('\\ApiBundle\\Entity\\StoredModule::PRESENTATION_ANIMATION') %}
                                                    {% set icon = '/images/classroom-white.svg' %}
                                                    {% set color = 'btn-lightblue' %}
                                                {% elseif module.storedModule.appId == constant('\\ApiBundle\\Entity\\StoredModule::ELEARNING') %}
                                                    {% set icon = '/images/elearning-white.svg' %}
                                                    {% set color = 'btn-orangelight' %}
                                                {% elseif module.storedModule.appId == constant('\\ApiBundle\\Entity\\StoredModule::ONLINE') %}
                                                    {% set icon = '/images/online-white.svg' %}
                                                    {% set color = 'btn-navy' %}
                                                {% elseif module.storedModule.appId == constant('\\ApiBundle\\Entity\\StoredModule::QUIZ') %}
                                                    {% set icon = '/images/quiz-white.svg' %}
                                                    {% set color = 'btn-gold' %}
                                                {% elseif module.storedModule.appId == constant('\\ApiBundle\\Entity\\StoredModule::VIRTUAL_CLASS') %}
                                                    {% set icon = '/images/vitual-white.svg' %}
                                                    {% set color = 'btn-blue' %}
                                                {% elseif module.storedModule.appId == constant('\\ApiBundle\\Entity\\StoredModule::ASSESSMENT') %}
                                                    {% set color = '' %}
                                                {% endif %}
                                                <div class="flex--center {{ color }} border-radius-50 no-padding" style="width: 50px; height: 50px;">
                                                    {% if icon is defined %}
                                                        <object data="{{ icon }}" width="40" height="40"
                                                                type="image/svg+xml"></object>
                                                    {% endif %}
                                                </div>
                                            </div>
                                            <div class="col-md-4 row no-padding align-self-center center-mobile">
                                                <div class="col-md-12 no-padding">
                                                    <b class="font-weight-600 font-size-13">
                                                        {% if module.storedModule.appId == constant('\\ApiBundle\\Entity\\StoredModule::QUIZ') %}
                                                            {% if module.quiz.isSurvey == 1 %}
                                                                {{ 'table.quiz.is_survey.yes'|trans }}
                                                            {% else %}
                                                                {{ 'table.quiz.is_survey.no'|trans }}
                                                            {% endif %}
                                                        {% else %}
                                                            {{ include('molecules/widgets/module-type.html.twig', { appId: module.storedModule.appId }) }}
                                                        {% endif %}
                                                    </b>
                                                </div>
                                                <div class="col-md-10 no-padding">
                                                    <p class="no-margin bold font-size-18">{{ module.designation }}</p>
                                                </div>
                                                <div class="col-md-2 no-padding text-left">
                                                    <div class="col-md-12  no-padding">
                                                        <a data-id="{{ key }}" id="plusBtn{{ key }}" class="pointer plusBtn"><i class="fa fa-plus-circle font-size-22 text-gray" aria-hidden="true"></i></a>
                                                        <a data-id="{{ key }}" id="minusBtn{{ key }}" class="pointer minusBtn d-none"><i class="fa fa-minus-circle font-size-22 text-gray" aria-hidden="true"></i></a>

                                                    </div>
                                                </div>
                                                <div id="divDes{{ key }}" class="col-md-12 d-none no-padding font-size-12 ">
                                                    {{ module.description|raw }}
                                                </div>
                                            </div>
                                            <div class="col-md-4 row no-padding"  >
                                                <div class="col-md-12 pad-l-5 pad-r-0 pad-t-0 pad-b-0 center-mobile align-self-center font-size-13" >
                                                    <p class="no-margin" >
                                                        <embed src="/images/clock.svg" width="15" height="15"
                                                               type="image/svg+xml"/>&nbsp;&nbsp;&nbsp;<span  class="font-size-13 text-gray">{{ module.duration|date('H:i:s') }}</span>
                                                    </p>
                                                    <p class="no-margin font-size-13" >
                                                        <embed src="/images/calendar.svg" width="13" height="13"
                                                               type="image/svg+xml"/>&nbsp;&nbsp;<span  class="font-size-13 text-gray">{{ 'global.from'|trans }} <span class="bold">{{ intervention.beginning|date("d/m/Y") }}</span> {{ 'global.to'|trans }} <span class="bold">{{ intervention.ending|date("d/m/Y") }}</span></span>
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="col-md-2 flex--center pad-b-10 bold">
                                                {% if module.id in moduleAssigns  %}
                                                    <a class="btn btn-block btn-sm {{ classButton }}" href="{{ path('trainer_missions_detail', {'id': module.id}) }}">
                                                        {{ 'learners.courses.details'|trans }}
                                                    </a>
                                                {% endif %}
                                            </div>
                                            {% if module.id in moduleAssigns  %}
                                                <div class="col-md-12 row  done-box-module no-padding">
                                                    <div class="col-md-7 row no-padding text-gray">

                                                        <ul class="nav nav-pills no-padding col-md-6" role="tablist">
                                                            <li class="pad-l-5 pad-r-5">
                                                                <span>{{ 'global.my_session_grade'|trans }} ({{ moduleRatings[module.id]['totalResponse'] }}) </span>

                                                            </li>
                                                            <li class=" no-padding">
                                                                {{ include('molecules/widgets/ratings.html.twig', { max: 5, grade: moduleRatings[module.id]['rating']  }) }}

                                                            </li>
                                                        </ul>

                                                        <ul class="nav nav-pills no-padding col-md-6" role="tablist">
                                                            <li class="pad-l-5 pad-r-5">
                                                                <span>{{ 'global.my_trainer_grade'|trans }} ({{ moduleTrainerRatings[module.id]['totalResponse'] }}) </span>

                                                            </li>
                                                            <li class=" no-padding">
                                                                {{ include('molecules/widgets/ratings.html.twig', { max: 5, grade:moduleTrainerRatings[module.id]['rating'] }) }}

                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <div class="col-md-5 row no-padding text-gray text-center">
                                                        <div class="col-md-5 no-padding">
                                                            <span>{{ 'global.interventions_carried_out'|trans }}: </span> <span class="bold">{{ moduleBookingAgendaDoneNum[module.id] }}</span>
                                                        </div>
                                                        <div class="col-md-7 no-padding text-gray  text-center">
                                                            <span>{{ 'global.scheduled_interventions'|trans }}: </span> <span class="bold"> {{ moduleBookingAgendaBookedNum[module.id] }}</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endif %}
                                        </div>
                                    </li>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div id="deleteFile" class="modal fade col-md-12" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <form method="post" action="{{ path('trainer_exercices_delete_file') }}">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <h3>Delete</h3>
                        <div class="row">
                            <p>Delete?</p>
                        </div>
                        <input type="hidden" name="deleteId" id="deleteId">
                        <input type="hidden" name="deleteType" id="deleteType" value="">
                        <input type="hidden" name="url" id="url">
                        <div class="col-md-12 text-right ">
                            <button id="btn-dispo-confirm" type="submit" name="button"
                                    class="btn btn-sm btn-deepmark-orangelight">{{ 'buttons.confirm'|trans }}</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {{ include('molecules/modal/ask-replacement.html.twig') }}
    <input type="hidden" name="bookingId" id="bookingId" value="{{ booked.id }}">
    {% if bookingAgendas and booked.module.signatureNumber > 0 %}
        {{ include('molecules/modal/option-signature.html.twig', { module: booked.module }) }}
        {{ include('molecules/courses/attendance-sheet.html.twig', { bookingAgendas: bookingAgendas }) }}
        {{ include('molecules/courses/attendance-sheet-download.html.twig', { bookingAgendas: bookingAgendas }) }}

        {{ include('molecules/modal/option-signature.html.twig', { module: booked.module }) }}
        {{ include('molecules/modal/digital-signature.html.twig', { module: booked.module }) }}
        {{ include('molecules/modal/importation-signature.html.twig', { module: booked.module }) }}
        {{ include('molecules/modal/warning-signature.html.twig', { module: booked.module }) }}
        <input type="hidden" name="signatureMethod" id="signatureMethod" value="{{ module.signatureMethod }}">
    {% endif %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% if bookingAgendas and booked.module.signatureNumber > 0 %}
        <script src="{{ asset('js/lib/signature_pad.min.js') }}"></script>
        <script src="{{ asset('js/trainer/attendance-sheet.js') }}"></script>
    {% endif %}
    <script src="{{ asset('js/learner/courses.js') }}"></script>
    <script>
        $('[data-toggle="tooltip"]').tooltip();
        $(document).ready(function () {
            $('body').on('click', '.fa-angle-down', function(){
                $(this).addClass('fa-angle-up');
                $(this).removeClass('fa-angle-down');
            });
            $('body').on('click', '.fa-angle-up', function(){
                $(this).addClass('fa-angle-down');
                $(this).removeClass('fa-angle-up');
            });

            $('.plusBtn').on('click', function () {
                var id = $(this).attr("data-id");
                $("#plusBtn"+id).addClass('d-none');
                $("#minusBtn"+id).removeClass('d-none');
                $("#divDes"+id).removeClass('d-none');

            });
            $('.minusBtn').on('click', function () {
                var id = $(this).attr("data-id");
                $("#plusBtn"+id).removeClass('d-none');
                $("#minusBtn"+id).addClass('d-none');
                $("#divDes"+id).addClass('d-none');

            });

            // show note or hidden
            $('.plusNoteBtn').on('click', function () {
                var id = $(this).attr("data-id");
                $("#plusNoteBtn"+id).addClass('d-none');
                $("#minusNoteBtn"+id).removeClass('d-none');
                $("#divNote"+id).removeClass('d-none');

            });
            $('.minusNoteBtn').on('click', function () {
                var id = $(this).attr("data-id");
                $("#plusNoteBtn"+id).removeClass('d-none');
                $("#minusNoteBtn"+id).addClass('d-none');
                $("#divNote"+id).addClass('d-none');

            });
        });

        $(".deleteFile").click(function () {
            var type = $(this).attr('data-type');
            var id = $(this).attr('data-id');
            $('#deleteId').val(id);
            $('#deleteType').val(type);
            $('#url').val(window.location.href);
            if(type == 'attendance'){
                $('.modal').modal('hide');
            }
            $('#deleteFile').modal('show');
        });

        $(document).ready(function () {
            let readMore = '{{ "global.read_more"|trans }}';
            let readLess = '{{ "global.read_less"|trans }}';
            readmore(300, readMore, readLess);
        });
    </script>
    <script>
        let booking_agenda_id = {{ booked.id }};
        let module_id = {{ module.id }};
        let trainer_id = {{ booked.trainer.id }};
        let learner_id = {{ booked.learner.id }};

        $(document).ready(function () {
            initGrading();
            let reportStatus = document.getElementById('reportStatus');
            if (reportStatus) {
                swal(
                    jsTranslations.global_warning, jsTranslations.trainer_alerts_reports_not_upload, "warning",
                    {
                        showCancelButton: true,
                        closeOnConfirm: false,
                        showLoaderOnConfirm: true
                    }
                );
                return;
            }

            // Confirm to quit session
            $('#quitSession').on('click', function () {
                let signatureMethod = $('#signatureMethod').val();
                console.log(signatureMethod)
                if (signatureMethod == null || signatureMethod=='') {
                    $("#sign").modal("show");
                } else if (signatureMethod == 1) {
                    $('#digitalSignatureOption').modal('show');
                    $('#quitSessionTitle').text('{{ "trainers.visio.buttons.finish_session"|trans}}');
                } else if (signatureMethod == 0) {
                    $('#quitSessionTitle').text('{{ "trainers.visio.buttons.finish_session"|trans}}');
                    $('#importationSignatureOption').modal('show');
                }
            });

            // Confirm to quit session
            $('#quitSessionDigitalConfirm').on('click', function () {
                $('#warningQuitSession').text(jsTranslations.warning_quit_session_digital_confirm);
                $('#warningSignature').modal('show');
            });

            $('#quitSessionImportationConfirm').on('click', function () {
                $('#warningQuitSession').text(jsTranslations.warning_quit_session_importation_confirm);
                $('#warningSignature').modal('show');
            });

            $('#quitSessionConfirm').on('click', function () {
                window.location.href = "{{ path('trainer_exercices_video_status_complete_booking_agenda',{id: booked.id}) }}";
            });
        });

        function initGrading() {
            $('#report-upload').on('change', function () {
                $('#filename').text(this.files[0].name);
            });
            $('#attendance-report-upload').on('change', function () {
                $('#attendance-filename').text(this.files[0].name);
            });

            $('[data-send="grade"]').on('click', function () {
                let user = $('[data-grade="user"]'),
                    max = $('[data-grade="max"]'),
                    valueToSend = user.val();
                let scale = max.val();

                if (isNaN(valueToSend) || isNaN(scale)) {
                    swal(
                        "Warning", "Both grade and scale has to be filled", "warning",
                        {
                            showCancelButton: true,
                            closeOnConfirm: false,
                            showLoaderOnConfirm: true
                        }
                    );
                    return;
                } else if(valueToSend > 100) {
                    swal(
                        "Warning", "Grade must <= 100", "warning",
                        {
                            showCancelButton: true,
                            closeOnConfirm: false,
                            showLoaderOnConfirm: true
                        }
                    );
                    return;
                }

                let sendUrl = "{{ path('trainer_exercices_save_grade') }}";
                let payload = {
                    'grade': valueToSend,
                    'grade_scale': scale,
                    'booking_agenda_id': booking_agenda_id
                };
                makeRequest(sendUrl, payload);
            });

            $('#report-upload').fileupload({
                'url': "{{ path('trainer_exercices_save_report') }}",
                'dropzone': '.upload-area',
                'dataType': 'json',
                formData: {bookingAgendaId: booking_agenda_id, moduleId: module_id, trainerId: trainer_id},
                'autoUpload': false,
                add: function (e, data) {
                    swal(
                        "Uploading progress", "Your file is being uploaded", "info",
                        {
                            showCancelButton: true,
                            closeOnConfirm: true,
                            showLoaderOnConfirm: true
                        }
                    );

                    if (typeof data.files[0] == "undefined") {
                        return;
                    }
                    if (data.files[0].size > 2000000) {
                        swal(
                            "Failed", "The file is too big. Max file size is 2 mb", "warning",
                            {
                                showCancelButton: true,
                                closeOnConfirm: false,
                                showLoaderOnConfirm: true
                            }
                        );

                        return;
                    }
                    data.submit();

                }
            }).on('fileuploaddone', function (e, data) {
                swal("Sucess", data.result.file_name, "success", {
                    button: "Ok",
                }).then(function(isConfirm) {
                    if (isConfirm) {
                        location.reload();
                    } else {
                        //if no clicked => do something else
                    }
                });
            }).on('fileuploadprogressall', function (e, data) {
            }).on('fileuploadfail', function (e, data) {
                swal("Error", data.result.file_name, "error", {
                    button: "Ok",
                });
            });

            $('#attendance-report-upload').fileupload({
                'url': "{{ path('trainer_exercices_save_attendance_report') }}",
                'dropzone': '.upload-area',
                'dataType': 'json',
                formData: {moduleId: module_id, trainerId: trainer_id, isAttendance: 1},
                'autoUpload': false,
                add: function (e, data) {
                    swal(
                        "Uploading progress", "Your file is being uploaded", "info",
                        {
                            showCancelButton: true,
                            closeOnConfirm: true,
                            showLoaderOnConfirm: true
                        }
                    );

                    if (typeof data.files[0] == "undefined") {
                        return;
                    }

                    if (data.files[0].size > 2000000) {

                        swal(
                            "Failed", "The file is too big. Max file size is 2 mb", "warning",
                            {
                                showCancelButton: true,
                                closeOnConfirm: false,
                                showLoaderOnConfirm: true
                            }
                        );

                        return;
                    }
                    data.submit();
                }
            }).on('fileuploaddone', function (e, data) {
                swal("Sucess", data.result.file_name, "success", {
                    button: "Ok",
                });
                location.reload();
            }).on('fileuploadprogressall', function (e, data) {
            }).on('fileuploadfail', function (e, data) {
                swal("Error", data.result.file_name, "error", {
                    button: "Ok",
                });
            });
        }

        $('.preview-file').click(function() {
            let domain = document.location.origin;
            let url = '{{ amazon_s3_url }}' + '/' + $(this).attr('data-pdf-loader-queue');
            window.open(domain + '/viewer?url='+ url, '_blank');
        });
    </script>
{% endblock %}