{% extends "base.html.twig" %}

{% block title %}{{ 'sidebar.trainers_exercices'|trans }}{% endblock %}
{% block pagename %}{{ 'sidebar.trainers_exercices'|trans }}{% endblock %}

{% block body %}
<style>
    .modal-open{
        padding-right: 18px!important;
    }
    .wrapper {
        height: unset!important;
    }
    .tooltip-inner {
        min-width: 700px;
        border: 2px solid grey;

    }
    .tooltip {
        font-family: 'Montserrat', sans-serif!important;
        font-size: 16px;
    }
    .bs-tooltip-auto[x-placement^=bottom] .arrow::before,
    .bs-tooltip-bottom .arrow::before {
        border-bottom-color: grey!important;
        /* Red */
    }
    .bs-tooltip-bottom .arrow::after {
        content: "";
        position: absolute;
        bottom: 0;
        border-width: 0 .4rem .4rem;
        transform: translateY(3px);
        border-color: transparent;
        border-style: solid;
        border-bottom-color: #fff;
    }
</style>
    <div class="row marg-t-10 text-center">
        <div class="col-md-12 text-center">
            {% if app.request.query.get('tab') == 'validated' %}
                <a href="{{ url('trainer_best_practices_index') }}" style="position: absolute; left: 5px; top: 16px;"><i class="fa fa-angle-left color-header" aria-hidden="true"></i></a>
            {% endif %}
            <ul class="nav nav-pills  justify-content-center">
                <li class="nav-item">
                    <a id="toAssignBtn" class="btn active text-transform-none report-to-assign" >{{ 'trainers.exercises.exercises_to_assign'|trans }}</a>
                </li>
                <li class="nav-item">
                    <a id="todoBtn" class="btn active text-transform-none report-to-do" >{{ 'trainers.exercises.exercises_to_do'|trans }}</a>
                </li>
                <li class="nav-item">
                    <a id="validateBtn" class="btn text-transform-none report-pending">{{ 'trainers.exercises.exercises_pending'|trans }}</a>
                </li>
                <li class="nav-item">
                    <a id="doneBtn" class="btn text-transform-none report-done" >{{ 'trainers.exercises.exercises_validated'|trans }}</a>
                </li>
                <li class="nav-item">
                    <a id="rejectedBtn" class="btn text-transform-none report-reject" >{{ 'trainers.exercises.exercises_non_validated'|trans }}</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="row admin">
        <div class="card marg-t-10" id="toassign">
            <h3 class="text-center marg-b-10 marg-t-10 color-header bold"> {{ 'trainers.exercises.my_exercises_to_assign'|trans }} </h3>
            {{ include('molecules/tables/trainer-exercices-table.html.twig', { exercises: exercisesToAssigns, exercisesUsers: exercisesToAssignUsers, status: 'trainers.exercises.status.to_assign'|trans, type: 'toAssignTable' }) }}
        </div>
        <div class="card marg-t-10" id="todo">
            <h3 class="text-center marg-b-10 marg-t-10 color-header bold"> {{ 'trainers.exercises.my_exercises_to_do'|trans }} </h3>
            {{ include('molecules/tables/trainer-exercices-table.html.twig', { exercises: exercisesToDos, exercisesUsers: exercisesToDoUsers, status: 'trainers.exercises.status.to_do'|trans, type: 'toDoTable' }) }}
        </div>
        <div class="card marg-t-10" id="validate">
            <h3 class="text-center marg-b-10 marg-t-10 color-header bold"> {{ 'trainers.exercises.my_exercises_pending_validation'|trans }} </h3>
            {{ include('molecules/tables/trainer-exercices-table.html.twig', { exercises: exercisesToValidations, exercisesUsers: exercisesToValidationUsers, status: 'trainers.reports.status.validated'|trans, type: 'toValidationTable' }) }}
        </div>
        <div class="card marg-t-10" id="done">
            <h3 class="text-center marg-b-10 marg-t-10 color-header bold"> {{ 'trainers.exercises.my_exercises_validated'|trans }} </h3>
            {{ include('molecules/tables/trainer-exercices-table.html.twig', { exercises: exercisesValidateds, exercisesUsers: exercisesToValidatedUsers, status: 'trainers.exercises.status.submitted'|trans, type: 'validationedTable' }) }}
        </div>
        <div class="card marg-t-10" id="rejected">
            <h3 class="text-center marg-b-10 marg-t-10 color-header bold"> {{ 'trainers.exercises.admin_exercises_non_validated'|trans }} </h3>
            {{ include('molecules/tables/trainer-exercices-table.html.twig', { exercises: exercisesRejects, exercisesUsers: exercisesRejectedUsers, status: 'trainers.exercises.status.deny'|trans, type: 'rejectedTable' }) }}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/lang_datatable.js') }}"></script>
    <script>
        $(document).ready(function () {
            let lang = languageDatatable();
            $('#toAssignTable, #toDoTable, #toValidationTable, #validationedTable, #rejectedTable').DataTable({
                    "language": lang,
                    "scrollX": true,
                    "scrollY": false,
                    "order": [[ 6, "desc" ]],
                    fnInitComplete: function () {
                        $("[data-toggle='tooltip']").tooltip({
                            container: 'body'
                        });
                    }
                }
            );
            $('#toAssignTable, #toDoTable, #toValidationTable, #validationedTable, #rejectedTable').on('draw.dt', function() {
                $('[data-toggle="tooltip"]').tooltip({}); // Or your function for tooltips
            });
            $("#toAssignBtn").click(function() {
                $('html,body').animate({
                        scrollTop: $("#toassign").offset().top},
                    'slow');
            });
            $("#todoBtn").click(function() {
                $('html,body').animate({
                        scrollTop: $("#todo").offset().top},
                    'slow');
            });
            $("#validateBtn").click(function() {
                $('html,body').animate({
                        scrollTop: $("#validate").offset().top},
                    'slow');
            });
            $("#doneBtn").click(function() {
                $('html,body').animate({
                        scrollTop: $("#done").offset().top},
                    'slow');
            });
            $("#rejectedBtn").click(function() {
                $('html,body').animate({
                        scrollTop: $("#rejected").offset().top},
                    'slow');
            });
            if ('{{ app.request.query.get('tab') }}' == 'validated') {
                $('#doneBtn').trigger('click');
            }
        });
    </script>
{% endblock %}