{% extends "base.html.twig" %}
{% block pagename %}Mark{% endblock %}
{% block body %}
    {% set toDoStatus = constant('\\ApiBundle\\Entity\\Exercises::STATUS_TODO') %}
    {% set submittedStatus = constant('\\ApiBundle\\Entity\\Exercises::STATUS_SUBMITTED') %}
    {% set approvedStatus = constant('\\ApiBundle\\Entity\\Exercises::STATUS_APPROVED') %}
    {% set rejectedStatus = constant('\\ApiBundle\\Entity\\Exercises::STATUS_REJECTED') %}

    {% set icon = 'images/vitual.svg' %}
    <div class="row marg-t-20 backgroud-deepmark-light marg-b-20 col-md-12 pad-l-0 pad-r-0 pad-t-10 pad-b-10 border-header">
        <div class="col-md-1 row no-padding flex--center align-self-center center-mobile">
            <div class="module-icon" style="background-image: url('/images/quiz.svg')">
            </div>
        </div>
        <div class="col-md-1 bold row no-padding align-self-center center-mobile">
            {{ 'admin.interventions.mods.quiz_type'|trans  }}
        </div>
        <div class="col-md-2 row bold color-header row no-padding justify-content-start align-self-center center-mobile">
            {{ answer.play.module.designation }}
        </div>
        <div class="col-md-3 row no-padding flex--center align-self-center center-mobile">
            <span class="bold" id="divTitle">{{ 'learners.courses.quiz.question.open.mark_quiz_description'|trans|upper }}</span>
            <span id="divDes" class="d-none">
                {% if answer.play.quiz.description %}
                    {{ answer.play.quiz.description }}
                {% else %}
                    {{ answer.play.module.description|raw }}
                {% endif %}
            </span>
        </div>
        <div class="col-md-1 flex--center justify-content-start">
            <a id="plusBtn" class="pointer plusBtn"><i  class="fa fa-info-circle font-size-20 color-header" aria-hidden="true"></i></a>
            <a id="minusBtn" class="pointer minusBtn d-none"><i  class="fa fa-info-circle  font-size-20 color-header" aria-hidden="true"></i></a>
        </div>
        <div class="col-md-1 bold row no-padding flex--center justify-content-start center-mobile">
            {{ 'learners.courses.quiz.step_title'|trans|upper }} {{ step }}/{{ totalStep }}
        </div>
        <div class="col-md-3 bold color-header row no-padding flex--center justify-content-start center-mobile">
            {{ answer.question.questionXref[0].step.title|default('') }}
        </div>
    </div>
    <div class="row card-pane">
        <div class="col-md-4 no-padding-left marg-b-15">
            <div class="col-md-12 no-padding row div-module-detail" style="min-height: 252px">
                <div class="col-md-12 no-padding padding-bottom-15">
                    <div class="col-md-12 text-center pad-b-25 pad-t-20 border-bottom-green">
                        <span class="color-green bold font-size-20">{{ 'learners.courses.quiz.question.open.mark_correction_title'|trans }}</span>
                        {% if defaultCorrection[0].specifics is defined %}
                            &nbsp;&nbsp;<a data-toggle="modal" data-target="#addBestPracticeDefaultCorrection">
                                <i class="fas fa-plus color-green"></i>
                            </a>
                            <!-- Best Practice Modal -->
                            {{ include('molecules/modal/add-best-practice.html.twig', {
                                'modalId': 'addBestPracticeDefaultCorrection',
                                'resourceType': constant('\\ApiBundle\\Entity\\BestPractice::RESOURCE_TYPE_QUIZ_DEFAULT_CORRECTION'),
                                'resourceId': defaultCorrection[0].id,
                                'resourceParams': defaultCorrection[0].specifics,
                                'moduleId': answer.play.module.id,
                                'entityId': answer.play.module.intervention.entity.id|default(0),
                                'file_descriptor': null,
                                'tags': tags
                            } ) }}
                        {% endif %}
                    </div>
                    <div class="col-md-12 no-padding marg-t-15">
                        {% if defaultCorrection[0].specifics is defined %}
                            {% set specifics = defaultCorrection[0].specifics|json_decode %}
                            {% if specifics.text is not empty %}
                                <div class="row">
                                    <div class="col-md-12">
                                        {{ specifics.text|default('')|raw }}
                                    </div>
                                </div>
                            {% endif %}
                            <div class="row word-break">
                            {% if specifics.image is not empty %}
                                <div class="col-md-4 flex--center">
                                    <button title="{{ 'admin.quiz.create.question.container.default_correction.title'|trans }}: {{ 'admin.quiz.create.question.container.add_image'|trans }}" data-toggle="modal" data-target="#modalViewImage" type="button" class="btn btn-block btn-deepmark-lightblue"><i class="fa fa-image"></i> {{ 'admin.quiz.create.question.container.add_image'|trans }}</button><br>
                                </div>
                                <div class="col-md-8 justify-content-start no-padding flex--center">
                                    {% if specifics.file_descriptor.image is defined %}
                                        {% set imageObj = specifics.file_descriptor.image|json_decode %}
                                        {{ imageObj.name|default('') }}
                                    {% endif %}
                                </div>
                                {{ include('molecules/courses/quiz/mark/modal/view_default_correction.html.twig', {file: '/files/quiz/' ~ answer.question.id ~ '/picture/' ~ specifics.image, modalName: 'modalViewImage'} ) }}
                            {% endif %}
                            {% if specifics.doc is not empty %}
                                <div class="col-md-4 flex--center">
                                    <a title="{{ 'admin.quiz.create.question.container.default_correction.title'|trans }}: {{ 'admin.quiz.create.question.container.add_doc'|trans }}" target="_blank" href="{{ asset('/files/quiz/' ~ answer.question.id ~ '/doc/' ~ specifics.doc) }}" class="btn btn-block btn-deepmark-lightblue"><i class="fa fa-file"></i> {{ 'admin.quiz.create.question.container.add_doc'|trans }}</a><br>
                                </div>
                                <div class="col-md-8 justify-content-start no-padding flex--center">
                                    {% if specifics.file_descriptor.doc is defined %}
                                        {% set docObj = specifics.file_descriptor.doc|json_decode %}
                                        {{ docObj.name|default('') }}
                                    {% endif %}
                                </div>
                            {% endif %}
                            {% if specifics.song is not empty %}
                                <div class="col-md-4 flex--center">
                                    <button title="{{ 'admin.quiz.create.question.container.default_correction.title'|trans }}: {{ 'admin.quiz.create.question.container.add_song'|trans }}" data-toggle="modal" data-target="#modalViewSong" type="button" class="btn btn-block btn-deepmark-lightblue"><i class="fa fa-music"></i> {{ 'admin.quiz.create.question.container.add_song'|trans }}</button><br>
                                </div>
                                <div class="col-md-8 justify-content-start no-padding flex--center">
                                    {% if specifics.file_descriptor.song is defined %}
                                        {% set songObj = specifics.file_descriptor.song|json_decode %}
                                        {{ songObj.name|default('') }}
                                    {% endif %}
                                </div>
                                {{ include('molecules/courses/quiz/mark/modal/view_default_correction.html.twig', {file: '/files/quiz/' ~ answer.question.id ~ '/song/' ~ specifics.song, modalName: 'modalViewSong'} ) }}
                            {% endif %}
                            {% if specifics.video is not empty %}
                                <div class="col-md-4 flex--center">
                                    <button title="{{ 'admin.quiz.create.question.container.default_correction.title'|trans }}: {{ 'admin.quiz.create.question.container.add_video'|trans }}" data-toggle="modal" data-target="#modalViewVideo" type="button" class="btn btn-block btn-deepmark-lightblue"><i class="fa fa-video"></i> {{ 'admin.quiz.create.question.container.add_video'|trans }}</button><br>
                                </div>
                                <div class="col-md-8 justify-content-start no-padding flex--center">
                                    {% if specifics.file_descriptor.video is defined %}
                                        {% set videoObj = specifics.file_descriptor.video|json_decode %}
                                        {{ videoObj.name|default('') }}
                                    {% endif %}
                                </div>
                                {{ include('molecules/courses/quiz/mark/modal/view_default_correction.html.twig', {file: '/files/quiz/' ~ answer.question.id ~ '/video/' ~ specifics.video, modalName: 'modalViewVideo'} ) }}
                            {% endif %}
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-md-12 marg-b-15 pad-b-15 bg-white border-radius-10">
                <div class="col-md-12 text-center pad-15">
                    <span class="color-header bold font-size-20">{{ 'learners.courses.quiz.question.open.mark_correction_trainer_title'|trans }}&nbsp;|&nbsp;</span>
                    {% if answer.exercises.status == toDoStatus %}
                        <span class="color-white bg-deepmark bold font-size-20 pad-5">{{ 'learners.courses.quiz.question.open.status.todo'|trans }}</span>
                    {% elseif answer.exercises.status == submittedStatus %}
                        <span class="mdl-color-text--black c-bg-orangelight bold font-size-20 pad-5">{{ 'learners.courses.quiz.question.open.status.submitted'|trans }}</span>
                    {% elseif answer.exercises.status == approvedStatus %}
                        <span class="mdl-color-text--black bg-green bold font-size-20 pad-5">{{ 'learners.courses.quiz.question.open.status.approved'|trans }}</span>&nbsp;&nbsp;&nbsp;<a class="pointer" data-toggle="modal" href="#viewAdminComment"><i class="fa fa-info-circle color-header"></i></a>
                    {% else %}
                        <span class="mdl-color-text--black bg-danger bold font-size-20 pad-5">{{ 'learners.courses.quiz.question.open.status.rejected'|trans }}</span>&nbsp;&nbsp;&nbsp;<a class="pointer" data-toggle="modal" href="#viewAdminComment"><i class="fa fa-info-circle color-header"></i></a>
                    {% endif %}
                    {% if answer.exercises.status == approvedStatus or answer.exercises.status == rejectedStatus %}
                        <div class="modal fade" id="viewAdminComment" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title no-margin color-header">{{ 'popup.admin_comment'|trans|upper }}</h4>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body text-center">
                                        <p>{{ answer.exercises.comment|raw }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>
                <div class="col-md-12 no-padding">
                    <div class="col-md-12 text-center no-padding row div-synthesis">
                        <div class="col-md-12 no-padding text-center">
                        {% set free = 0 %}
                        {% set template = 0 %}
                        {% set document = 0 %}
                        {% set record = 0 %}
                        {% for questionItem in questionMarkItems %}
                            {% set type = questionItem['item'].specifics|json_decode %}
                                {% if (questionItem['item'].name == 'free' and free == 0) %}
                                    {% set free = 1 %}
                                    {% set viewFree = questionItem['mark'] is empty ? 0 : 1 %}
                                    <div class="row marg-b-15">
                                        <div class="col-md-10 no-padding-left no-padding-right">
                                            <label class="cursorPointer border-radius-0 btn-deepmark btn-block pad-l-10 pad-r-10" >
                                                <div class="row flex--center" style="height: 44px;">
                                                    <div class="col-md-2 no-padding">
                                                        <i class="fa fa-pencil" aria-hidden="true"></i>
                                                    </div>
                                                    <div id="free" class="col-md-10 font-size-12 text-white no-padding">
                                                        {{ 'learners.courses.quiz.question.open.mark_correct_correction'|trans|upper }}
                                                    </div>
                                                </div>
                                                <div class="ripple-container"></div>
                                            </label>
                                        </div>
                                        {% if viewFree %}
                                            <div class="col-md-2 btn-deepmark-light flex--center">
                                                <a data-toggle="modal" data-target="#viewFreeText">
                                                    <i class="fa fa-eye color-header" aria-hidden="true"></i>
                                                </a>
                                                {{ include('molecules/courses/quiz/mark/modal/view_free_text.html.twig', {content: questionItem['mark'][0].specifics is defined ? questionItem['mark'][0].specifics:null} ) }}
                                            </div>
                                        {% endif %}
                                    </div>
                                    <input value="{{ questionItem['item'].id }}" name="question_item_free" id="question_item_free" hidden>
                                    {{ include('molecules/courses/quiz/mark/modal/free.html.twig', {content: questionItem['mark'][0].specifics is defined ? questionItem['mark'][0].specifics:null, question_id: answer.question.getId(), question: answer.question, items: answer.params|json_decode} ) }}
                                {% elseif (questionItem['item'].name == 'template' and template == 0) %}
                                    {% set template = 1 %}
                                    {% set updatedDocument = questionItem['mark'] ? '/files/quiz_learner/'~answer.play.quiz.id~'/doc/'~questionItem['mark'][0].specifics : null %}
                                    {{ include('molecules/courses/quiz/mark/template_upload.html.twig', { templateFile: updatedDocument }) }}
                                    <input value="{{ questionItem['item'].id }}" name="question_item_template" id="question_item_template" hidden>
                                {% elseif (questionItem['item'].name == 'document' and document == 0) %}
                                    {% set document = 1 %}
                                    {% set updatedDocument = questionItem['mark'] ? '/files/quiz_learner/'~answer.play.quiz.id~'/doc/'~questionItem['mark'][0].specifics : null %}
                                    {{ include('molecules/courses/quiz/mark/document_upload.html.twig', { documentFile: updatedDocument }) }}
                                    <input value="{{ questionItem['item'].id }}" name="question_item_document" id="question_item_document" hidden>
                                {% elseif (questionItem['item'].name == 'record' and record == 0) %}
                                    {% set typeRecord = questionItem['item'].specifics|json_decode %}
                                    {% set record = 1 %}

                                    {% if (type.types[0] == 'video') %}
                                        {% set typeModal = 'recordVideo' %}
                                        {% set modalRecord = 'record_video' %}
                                        {% set modalViewRecord = 'view_record_video' %}
                                    {% elseif type.types[0] == 'audio' %}
                                        {% set typeModal = 'recordAudio' %}
                                        {% set modalRecord = 'record_audio' %}
                                        {% set modalViewRecord = 'view_record_audio' %}
                                    {% else %}
                                        {% set typeModal = 'recordScreenCast' %}
                                        {% set modalRecord = 'record_screencast' %}
                                        {% set modalViewRecord = 'view_record_screencast' %}
                                    {% endif %}
                                    <div class="row marg-b-15">
                                        <div class="col-md-10 no-padding-left no-padding-right">
                                            <label class="cursorPointer btn-deepmark border-radius-0 btn-block pad-l-10 pad-r-10">
                                                <div class="row flex--center" style="height: 44px;">
                                                    <div class="col-md-2">
                                                        <i class="fa fa-camera" aria-hidden="true"></i>
                                                    </div>
                                                    <div id="{{ typeModal }}" class="col-md-10 font-size-12 no-padding">
                                                        {{ 'learners.courses.quiz.question.open.mark_save_video_audio'|trans|upper }}
                                                    </div>
                                                </div>
                                                <div class="ripple-container"></div>
                                            </label>
                                        </div>
                                        <div class="col-md-2 no-padding {% if questionItem['mark'][0].specifics is defined and questionItem['mark'][0].specifics is not null %} btn-deepmark-light {% endif %} flex--center">
                                            {{ include('molecules/courses/quiz/mark/modal/'~modalRecord~'.html.twig', {file: '/files/quiz_learner/'~answer.play.quiz.id~'/recording/'~questionItem['mark'][0].specifics|default(null), question_id: answer.question.getId(), question: answer.question, items: answer.params|json_decode} ) }}
                                            {% if questionItem['mark'][0].specifics is defined and questionItem['mark'][0].specifics is not null %}
                                                <a data-toggle="modal" data-target="#{{ modalViewRecord }}">
                                                    <i class="fa fa-eye color-header" aria-hidden="true"></i>
                                                </a>
                                                {{ include('molecules/courses/quiz/mark/modal/view_record_video_audio.html.twig', {file: '/files/quiz_learner/'~answer.play.quiz.id~'/recording/'~questionItem['mark'][0].specifics|default(null), modalName: modalViewRecord, typeRecord: typeRecord.types[0]} ) }}
                                            {% endif %}
                                        </div>
                                    </div>
                                    <input value="{{ questionItem['item'].id }}" name="question_item_record" id="question_item_record" hidden>
                                {% endif %}
                            {% endfor %}
                        </div>
                        <div class="col-md-12 text-center marg-b-15 no-padding">
                            {% set grade = answer.exercises.grade is not null ? answer.exercises.grade : null %}
                            {{ include('molecules/courses/quiz/mark/grades.html.twig', { grade: grade, isSubmitted: isSubmitted }) }}
                        </div>
                        {% if route == 'trainer_exercices_mark' %}
                            <div class="col-md-12 text-center no-padding marg-b-10">
                                <button id="btn-send-to-admin" type="submit" name="button" class="btn btn-block {{ (isSubmitted or allowSubmitToAdmin == false) ? 'btn-default' : 'btn-deepmark-orangelight' }}">{{ 'buttons.send_to_admin'|trans }}<div class="ripple-container"></div></button>
                            </div>
                        {% elseif route == 'admin_exercices_view' and answer.exercises.status == submittedStatus %}
                            <div class="col-md-12 text-center no-padding marg-b-10">
                                <button id="toValidationTable" type="submit" name="button" class="btn btn-block btn-deepmark-orangelight">{{ 'buttons.validation_by_admin'|trans }}<div class="ripple-container"></div></button>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8 no-padding-left no-padding-right border-radius-10 ">
            <div class="row">
                <div class="col-md-12 border-radius-10 bg-white pad-t-15 pad-b-0 pad-r-0 pad-l-0">
                    <!-- Question header -->

                    <div class="question question-body no-padding">
                        <div class="row">
                            <div class="color-header col-md-7 no-padding">
                                <div class="font-size-20 col-md-12 pad-t-5">
                                    <b>{{ 'table.quiz.question'|trans }} {{ step }} </b>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
                                    <b>{{ answer.play.quiz.isSurvey?'table.quiz.is_survey.yes'|trans:'table.quiz.is_survey.no'|trans }}</b>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
                                    <b>{{ answer.question.score_to_pass }} {{ 'learners.courses.quiz.num_points'|trans }}</b>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
                                    <a data-toggle="modal" data-target="#addBestPracticeLearnerAnswer">
                                        <i class="fas fa-plus color-header"></i>
                                    </a>
                                </div>
                                <hr class="background-color-blue" style="width: 100%;margin:26px 0px 0px 0px">
                                <div class="col-md-12 flex--center pad-t-10 pad-b-10 question-quiz-title"
                                     style="overflow-y:auto">
                                    <b>{{ answer.question.question|default('')|raw }}</b>
                                </div>
                            </div>
                            {% set questionParams = answer.question.params|json_decode %}
                            <div class="color-header col-md-5 no-padding">
                                {% set checkParam = 0 %}
                                {% if(questionParams.image) %}
                                    {% if checkParam == 0 %}
                                        {% set checkParam = 1 %}
                                    {% endif %}
                                    <div class="row">
                                        <div class='col-md-12 pad-b-15 no-padding-right text-center'>
                                            <a href="/files/quiz/{{answer.question.getId()}}/picture/{{questionParams.image}}" target="_blank"><img width="100%" height="222" src='/files/quiz/{{answer.question.getId()}}/picture/{{questionParams.image}}' alt="" class="question-img" /></a>
                                        </div>
                                    </div>
                                {%endif%}
                                {% if(questionParams.doc) %}
                                    {% if checkParam == 0 %}
                                        {% set checkParam = 1 %}
                                    {% endif %}
                                    <div class="row">
                                        <div style="height: 222px!important;" class='col-md-12 pad-b-15 text-center no-padding-right'>
                                            {#{% set url_doc = app.request.getSchemeAndHttpHost()~'/files/quiz/'~answer.question.getId()~'/doc/'~questionParams.doc %}#}
                                            {% set url_doc = amazon_s3_url ~ '/' ~ questionParams.doc %}
                                            <div id='viewer' style='width: 100%!important; height: 320px!important; margin: 0 auto;'></div>
                                            <script>
                                                WebViewer({
                                                    path: "{{ asset('js/lib/webviewer/lib') }}", // path to the PDFTron 'lib' folder on your server
                                                    licenseKey: 'Insert commercial license key here after purchase',
                                                    initialDoc: "{{ asset('/files/quiz/'~answer.question.getId()~'/doc/'~questionParams.doc) }}",
                                                    // initialDoc: '/path/to/my/file.pdf',  // You can also use documents on your server
                                                }, document.getElementById('viewer'))
                                                    .then(instance => {
                                                        instance.disableElements(['printButton']);
                                                        instance.disableElements(['downloadButton']);
                                                        const docViewer = instance.docViewer;
                                                        const annotManager = instance.annotManager;
                                                        // call methods from instance, docViewer and annotManager as needed

                                                        // you can also access major namespaces from the instance as follows:
                                                        // const Tools = instance.Tools;
                                                        // const Annotations = instance.Annotations;

                                                        docViewer.on('documentLoaded', () => {
                                                            // call methods relating to the loaded document
                                                        });
                                                    });
                                            </script>
                                        </div>
                                    </div>
                                {%endif%}
                                {% if(questionParams.song) %}
                                    {% if checkParam == 0 %}
                                        {% set checkParam = 1 %}
                                    {% endif %}
                                    <div class="row">
                                        <div class='col-md-12 pad-b-15 text-center no-padding-right'>
                                            <audio controls style="height: 50px; width: 100%; margin-top: 113px;">
                                                <source src="/files/quiz/{{answer.question.getId()}}/song/{{questionParams.song}}">
                                            </audio>
                                        </div>
                                    </div>
                                {%endif%}
                                {% if(questionParams.video) %}
                                    {% if checkParam == 0 %}
                                        {% set checkParam = 1 %}
                                    {% endif %}
                                    <div class="row  pad-b-15 pad-l-15">
                                        <div  style="height: 222px!important;position: relative;"  class='col-md-12 text-center no-padding'>
                                            {% if 'youtube' in questionParams.video %}
                                                <iframe style="width: 100%; height: 222px!important; position: absolute; top:0; left: 0" class="yvideo" data-question_id="{{answer.question.id}}" src="{{questionParams.video|replace({'/watch?v=': '/embed/'})}}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                            {% elseif 'vimeo' in questionParams.video %}
                                                <iframe width="100%" style="width: 100%; height: 222px!important; position: absolute; top:0; left: 0" class="yvideo" data-question_id="{{answer.question.id}}" src="https://player.vimeo.com/video/{{questionParams.video|replace({'https://vimeo.com/': ''})}}"  frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
                                            {% else %}
                                                <video style="height: 222px; width: 100%" controls >
                                                    <source src="/files/quiz/{{answer.question.getId()}}/video/{{questionParams.video}}" type="video/mp4">
                                                </video>
                                            {% endif %}
                                        </div>
                                    </div>
                                {%endif%}
                                {% if checkParam == 0 %}
                                    <div class="row">
                                        <div class='col-md-12 pad-b-15 no-padding-right text-center'>
                                            <img width="100%" height="222" src='{{ asset("images/iconQ&A.svg") }}' alt="" class="question-img" />
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <!-- Question content -->
                    <div class="row">
                        <div class="col-md-12 no-padding">
                            <div class="question question-body questionContent no-padding">
                                {{ include('molecules/courses/quiz/mark/template_answer_open.html.twig', {question_id: answer.question.getId(), question: answer.question, items: answer.params|json_decode})}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="validationExercises" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog  modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body text-center">
                    <p class="color-header bold" id="txtValidation"></p>
                    <div class="row">
                        <div class="col-md-12 text-center no-padding">
                            <div style="margin-top: 17px;" class="form-group pad-b-0 admin">
                                <select id="typeAction" name="selectValidationType" class="classic">
                                    <option value="1">  {{ 'trainers.exercises.status.validated'|trans }}  </option>
                                    <option value="2">  {{ 'trainers.exercises.status.deny'|trans }}  </option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group text-left marg-t-20">
                        <label for="exampleFormControlTextarea1">{{ 'popup.your_comment'|trans }}</label>
                        <textarea class="form-control" id="your_comment" rows="3" spellcheck="false"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ 'buttons.close'|trans }}</button>
                    <button  id="btnValidationAction" type="submit" class="btn btn-primary">{{ 'buttons.confirm'|trans }}</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Translation JS -->
    <input type="hidden" id="translations"
           data-point="{{ 'learners.courses.quiz.num_points'|trans }}"
           data-complete="{{ 'learners.courses.quiz.quiz_complete'|trans }}"
           data-complete="{{ 'learners.courses.quiz.quiz_complete'|trans }}"
           data-test="{{ 'learners.courses.quiz.test'|trans }}"
           data-open="{{ 'learners.courses.quiz.results.open'|trans }}"
           data-waiting="{{ 'learners.courses.quiz.results.waiting'|trans }}"
           data-servey="{{ 'learners.courses.quiz.results.servey'|trans }}"
           data-too_late_description="{{ 'learners.courses.quiz.js.too_late_description'|trans }}"
           data-good_answer="{{ 'learners.courses.quiz.js.good_answer'|trans }}"
           data-good_answer_p="{{ 'learners.courses.quiz.js.good_answer_p'|trans }}"
           data-in_review_title="{{ 'learners.courses.quiz.js.in_review_title'|trans }}"
           data-in_review_description="{{ 'learners.courses.quiz.js.in_review_description'|trans }}"
           data-in_review_step_title="{{ 'learners.courses.quiz.js.in_review_step_title'|trans }}"
           data-in_review_step_question="{{ 'learners.courses.quiz.js.in_review_step_question'|trans }}"
           data-in_review_quiz_title="{{ 'learners.courses.quiz.js.in_review_quiz_title'|trans }}"
           data-in_review_quiz_sub_title="{{ 'learners.courses.quiz.js.in_review_quiz_sub_title'|trans }}"
           data-survey_title="{{ 'learners.courses.quiz.js.survey_title'|trans }}"
           data-survey_description="{{ 'learners.courses.quiz.js.survey_description'|trans }}"
           data-survey_step_title="{{ 'learners.courses.quiz.js.survey_step_title'|trans }}"
           data-survey_step_question="{{ 'learners.courses.quiz.js.survey_step_question'|trans }}"
           data-survey_quiz_title="{{ 'learners.courses.quiz.js.survey_quiz_title'|trans }}"
           data-survey_quiz_sub_title="{{ 'learners.courses.quiz.js.survey_quiz_sub_title'|trans }}"
           data-add_template="{{ 'learners.courses.quiz.js.add_template'|trans }}"
           data-add_document="{{ 'learners.courses.quiz.js.add_document'|trans }}"
           data-loading="{{ 'admin.quiz.create.js.loading'|trans }}"
           data-file_sended="{{ 'admin.quiz.create.js.file_sended'|trans }}"
           data-error_unknown="{{ 'admin.quiz.create.js.error_unknown'|trans }}"
           data-upload_complete="{{ 'admin.quiz.create.js.upload_complete'|trans }}"
           data-restart_recording="{{ 'learners.courses.quiz.question.open.record.restart_recording'|trans }}"
           data-no_answer_found="{{ 'learners.courses.quiz.js.no_answer_found'|trans }}"
           data-attention="{{ 'learners.courses.quiz.js.attention'|trans }}"
           data-pending_score="{{ 'learners.courses.quiz.pending_score'|trans }}"
           data-question_pending="{{ 'learners.courses.quiz.question_pending'|trans }}"
           data-title_servey="{{ 'learners.courses.quiz.title_servey'|trans }}"
    />
    <script src="https://webrtc.github.io/adapter/adapter-latest.js"></script>
    <script src="{{ asset('js/learner/quiz/uploads.js') }}"></script>
    <script src="{{ asset('js/learner/quiz/security.js') }}"></script>
    <script src="{{ asset('js/learner/quiz/quiz.js') }}"></script>
    <script src="{{ asset('js/learner/quiz/questions/open.js') }}"></script>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/learner/courses.js') }}"></script>
    <script>
        $(function () {
            if ($("#your_comment").length > 0) {
                new Jodit("#your_comment", {
                    toolbarAdaptive: false,
                    uploader: {
                        insertImageAsBase64URI: true,
                        url: '/api/upload-editor-file',
                        pathVariableName: "path",
                        filesVariableName: function(e){return "file"},
                        isSuccess: function (resp) {
                            return resp;
                        },
                        process: function (resp) {
                            let directory = resp.directory.split("../web");
                            return {
                                files: resp,
                                path: `${directory[1]}/${resp.path}`,
                                baseurl: `${directory[1]}/${resp.path}`,
                                error: resp.uploaded ? "success" : "failed",
                                message: resp.uploaded ? "success" : "failed"
                            }
                        },
                        defaultHandlerSuccess: function (data) {
                            console.log("data", data)
                            // var i, field = 'files';                      
                            // if (data[field] && data[field].length) {
                            //     for (i = 0; i < data[field].length; i += 1) {
                            //         this.selection.insertImage(data.baseurl + data[field][i]);
                            //     }
                            // }
                            this.selection.insertImage(`${data.baseurl}`);
                        },
                    },
                    filebrowser: {
                        ajax: {
                            url: '/api/editor-files'
                        }
                    }
                })
            }
            if ($("#{{ constant('\\ApiBundle\\Entity\\BestPractice::RESOURCE_TYPE_QUIZ_DEFAULT_CORRECTION') }}_best_practice_desc").length > 0) {
                new Jodit("#{{ constant('\\ApiBundle\\Entity\\BestPractice::RESOURCE_TYPE_QUIZ_DEFAULT_CORRECTION') }}_best_practice_desc", {
                    toolbarAdaptive: false,
                    uploader: {
                        insertImageAsBase64URI: true,
                        url: '/api/upload-editor-file',
                        pathVariableName: "path",
                        filesVariableName: function(e){return "file"},
                        isSuccess: function (resp) {
                            return resp;
                        },
                        process: function (resp) {
                            let directory = resp.directory.split("../web");
                            return {
                                files: resp,
                                path: `${directory[1]}/${resp.path}`,
                                baseurl: `${directory[1]}/${resp.path}`,
                                error: resp.uploaded ? "success" : "failed",
                                message: resp.uploaded ? "success" : "failed"
                            }
                        },
                        defaultHandlerSuccess: function (data) {
                            console.log("data", data)
                            // var i, field = 'files';                      
                            // if (data[field] && data[field].length) {
                            //     for (i = 0; i < data[field].length; i += 1) {
                            //         this.selection.insertImage(data.baseurl + data[field][i]);
                            //     }
                            // }
                            this.selection.insertImage(`${data.baseurl}`);
                        },
                    },
                    filebrowser: {
                        ajax: {
                            url: '/api/editor-files'
                        }
                    }
                })
            }
            if ($("#{{ constant('\\ApiBundle\\Entity\\BestPractice::RESOURCE_TYPE_QUIZ_LEARNER_ANSWER') }}_best_practice_desc").length > 0) {
                new Jodit("#{{ constant('\\ApiBundle\\Entity\\BestPractice::RESOURCE_TYPE_QUIZ_LEARNER_ANSWER') }}_best_practice_desc", {
                    toolbarAdaptive: false,
                    uploader: {
                        insertImageAsBase64URI: true,
                        url: '/api/upload-editor-file',
                        pathVariableName: "path",
                        filesVariableName: function(e){return "file"},
                        isSuccess: function (resp) {
                            return resp;
                        },
                        process: function (resp) {
                            let directory = resp.directory.split("../web");
                            return {
                                files: resp,
                                path: `${directory[1]}/${resp.path}`,
                                baseurl: `${directory[1]}/${resp.path}`,
                                error: resp.uploaded ? "success" : "failed",
                                message: resp.uploaded ? "success" : "failed"
                            }
                        },
                        defaultHandlerSuccess: function (data) {
                            console.log("data", data)
                            // var i, field = 'files';                      
                            // if (data[field] && data[field].length) {
                            //     for (i = 0; i < data[field].length; i += 1) {
                            //         this.selection.insertImage(data.baseurl + data[field][i]);
                            //     }
                            // }
                            this.selection.insertImage(`${data.baseurl}`);
                        },
                    },
                    filebrowser: {
                        ajax: {
                            url: '/api/editor-files'
                        }
                    }
                })
            }
        })
        $(document).ready(function () {
            // add best practice
            addBestPractice();
            function addBestPractice() {
                $('.btnAddPractice').on('click', function () {
                    let dataId = $(this).attr("data-id");
                    let bestPracticeType = $('#' + dataId + '_select_best_practice_type').val();
                    let bestPracticeTitle = $('#' + dataId + '_best_practice_title').val();
                    let bestPracticeDesc =  $("#"+ dataId + '_best_practice_desc').val();
                    let resourceType = $('#' + dataId + '_resource_type').val();
                    let resourceId = $('#' + dataId + '_resource_id').val();
                    let moduleId = $('#' + dataId + '_module_id').val();
                    console.log(moduleId);
                    let entityId = $('#' + dataId + '_entity_id').val();
                    let tags = $('#' + dataId + '_tags').val();
                    $.ajax({
                        'url': '{{ url('api_best_practices_add') }}',
                        'method': 'POST',
                        'data' : {
                            'bestPracticeType': bestPracticeType,
                            'bestPracticeTitle': bestPracticeTitle,
                            'bestPracticeDesc': bestPracticeDesc,
                            'resourceType': resourceType,
                            'resourceId': resourceId,
                            'moduleId': moduleId,
                            'entityId': entityId,
                            'tags': tags,
                        }
                    }).done(function (response) {
                        console.log(response)
                        if (response.status) {
                            swal({
                                type: 'info',
                                title: '{{ 'global.warning_title'|trans|raw }}',
                                text: response.message,
                            })
                        } else {
                            swal({
                                type: 'success',
                                title: '{{ 'global.success_title'|trans|raw }}',
                                text: response.message,
                            })
                        }
                    }).fail(function (response) {
                        console.log(response)
                    })
                });
            }

            // validation by admin
            validationExercises();
            $('#toValidationTable').on('click', function () {
                $("#txtValidation").text("{{ 'popup.validation_exercises'|trans|raw }}");
                $("#validationExercises").modal('show');
            });
            function validationExercises() {
                $('#btnValidationAction').on('click', function () {
                    let type = $('select[name="selectValidationType"]').val();
                    let selectedEntities = [];

                    selectedEntities.push({{ answer.exercises.id }});
                    console.log(selectedEntities);
                    console.log(type);
                    if (!selectedEntities.length) {
                        // one or more checkboxes are
                        swal('Warning', 'Please select at least one exercises.', 'warning');
                        return;
                    }
                    $.ajax({
                        'url': '{{ path('admin_exercices_validation') }}',
                        'method': 'POST',
                        'data' : {
                            'selectedEntities': selectedEntities,
                            'type': type,
                            'comment': $("#your_comment").val()
                        }
                    }).done(function (response) {
                        location.reload();
                    }).fail(function (response) {
                        console.log(response)
                    })
                });
            }
            // validation by admin

            $('.plusBtn').on('click', function () {
                $("#plusBtn").addClass('d-none');
                $("#minusBtn").removeClass('d-none');
                $("#divDes").removeClass('d-none');
                $("#divTitle").addClass('d-none');
            });
            $('.minusBtn').on('click', function () {
                $("#plusBtn").removeClass('d-none');
                $("#minusBtn").addClass('d-none');
                $("#divDes").addClass('d-none');
                $("#divTitle").removeClass('d-none');
            });

            $('body').on('click', '.fa-angle-down', function () {
                $(this).addClass('fa-angle-up');
                $(this).removeClass('fa-angle-down');
            });

            $('body').on('click', '.fa-angle-up', function () {
                $(this).addClass('fa-angle-down');
                $(this).removeClass('fa-angle-up');
            });

            // show note or hidden
            $('.plusNoteBtn').on('click', function () {
                var id = $(this).attr("data-id");
                $("#plusNoteBtn" + id).addClass('d-none');
                $("#minusNoteBtn" + id).removeClass('d-none');
                $("#divNote" + id).removeClass('d-none');

            });
            $('.minusNoteBtn').on('click', function () {
                var id = $(this).attr("data-id");
                $("#plusNoteBtn" + id).removeClass('d-none');
                $("#minusNoteBtn" + id).addClass('d-none');
                $("#divNote" + id).addClass('d-none');

            });
        });

        $('#btn-send-to-admin').on('click', function () {
            if ($(this).hasClass("btn-deepmark-orangelight")) {
                var question_item_id = $('#question_item_free').val();
                var fd = new FormData();
                fd.append('quiz_id', {{ answer.play.quiz.id }});
                fd.append('play_id', {{ answer.play.id }});
                fd.append('question_id', {{ answer.question.getId() }});
                fd.append('question_item_id', question_item_id);
                fd.append('exercices_id', {{ answer.exercises.id }});
                if( $('#editor-{{ answer.question.getId() }}').length )
                {
                    fd.append('editor_content', $('#editor-{{ answer.question.getId() }}').val());
                }
                fd.append('type', 'free');
                $.ajax({
                    type: 'POST',
                    url: '/trainer/exercices/api/save-exercises-status',
                    data: fd,
                    processData: false,
                    contentType: false
                }).done(function (data) {
                    $('#freeModal').modal('hide');
                    swal({
                        type: 'success',
                        allowOutsideClick: false,
                        title: '{{ 'global.success_title'|trans|raw }}',
                        text: '{{ 'global.send_email_success_message'|trans()|raw }}',
                    }).then(
                        function () {
                            location.reload();
                        },
                    )
                });
            } else {
                if (!{{ isSubmitted }}) {
                    swal({
                        type: 'warning',
                        title: '{{ 'global.warning_title'|trans|raw }}',
                        text: '{{ 'global.warning_correction_message'|trans()|raw }}'})
                }
            }

        });

        $("#free").click(function () {
            if (!{{ isSubmitted }}) {
                $('#freeModal').modal('show');
            }
        });

        $('#btn-free-confirm').on('click', function () {
            var question_item_id = $('#question_item_free').val();
            var fd = new FormData();
            fd.append('quiz_id', {{ answer.play.quiz.id }});
            fd.append('play_id', {{ answer.play.id }});
            fd.append('question_id', {{ answer.question.getId() }});
            fd.append('question_item_id', question_item_id);
            fd.append('exercices_id', {{ answer.exercises.id }});
            if( $('#editor-{{ answer.question.getId() }}').length )
            {
                fd.append('editor_content', $('#editor-{{ answer.question.getId() }}').val());
            }
            fd.append('type', 'free');
            $.ajax({
                type: 'POST',
                url: '/trainer/exercices/api/save-free',
                data: fd,
                processData: false,
                contentType: false
            }).done(function (data) {
                $('#freeModal').modal('hide');
                swal({
                    type: 'success',
                    allowOutsideClick: false,
                    title: '{{ 'global.success_title'|trans|raw }}',
                    text: '{{ 'global.success_message'|trans()|raw }}',
                }).then(
                    function () {
                        location.reload();
                    },
                )
            });
        });

        $("#recordVideo").click(function () {
            if (!{{ isSubmitted }}) {
                $('#recordVideoModal').modal('show');
            }
        });

        $("#recordAudio").click(function () {
            if (!{{ isSubmitted }}) {
                $('#recordAudioModal').modal('show');
            }
        });

        $("#recordScreenCast").click(function () {
            if (!{{ isSubmitted }}) {
                $('#recordScreenCastModal').modal('show');
            }
        });

        $('#btn-video-record-confirm').on('click', function () {
            // Open - Recording option -> Save file in background & update answer in DB
            if ($('#recording-type-' + {{ answer.question.getId() }}).data('type') != undefined) {
                let blob = null;
                if ($('#recording-type-' + {{ answer.question.getId() }}).data('type') == 'screencast') {
                    blob = completeBlob;
                } else {
                    blob = new Blob(recordedBlobs, {type: 'video/webm'});
                }
                var fd = new FormData();
                var question_item_id = $('#question_item_record').val();
                fd.append('fname', 'test.mp4');
                fd.append('file', blob);
                fd.append('quiz_id', {{ answer.play.quiz.id }});
                fd.append('play_id', {{ answer.play.id }});
                fd.append('question_id', {{ answer.question.getId() }});
                fd.append('question_item_id', question_item_id);
                fd.append('exercices_id', {{ answer.exercises.id }});
                fd.append('type', 'quiz_recording');
                $.ajax({
                    type: 'POST',
                    url: '/trainer/exercices/api/save-record',
                    data: fd,
                    processData: false,
                    contentType: false,
                    beforeSend: function() {
                        $("#btn-video-record-confirm").empty().html('<i class="fa fa-spinner fa-spin"></i> {{ 'buttons.confirm'|trans }}');
                    },
                }).done(function (data) {
                    $('#recordVideoModal').modal('hide');
                    $('#recordAudioModal').modal('hide');
                    swal({
                        type: 'success',
                        allowOutsideClick: false,
                        title: '{{ 'global.success_title'|trans|raw }}',
                        text: '{{ 'global.success_message'|trans()|raw }}',
                    }).then(
                        function () {
                            location.reload();
                        },
                    )
                });
            }
        });

    </script>
    <script>
        $(document).ready(function () {
            initMark();
        });

        function initMark() {
            $('[data-send="grade"]').on('click', function () {
                let user = $('[data-grade="user"]'),
                    max = $('[data-grade="max"]'),
                    valueToSend = user.val();
                let scale = max.val();

                if (isNaN(valueToSend) || isNaN(scale)) {
                    swal(
                        "Warning", "Both grade and scale has to be filled", "warning",
                        {
                            showCancelButton: true,
                            closeOnConfirm: false,
                            showLoaderOnConfirm: true
                        }
                    );
                    return;
                } else if (valueToSend > 100) {
                    swal(
                        "Warning", "Grade must <= 100", "warning",
                        {
                            showCancelButton: true,
                            closeOnConfirm: false,
                            showLoaderOnConfirm: true
                        }
                    );
                    return;
                }

                let sendUrl = "/trainer/exercices/api/save-grade";
                let payload = {
                    'grade': valueToSend,
                    'grade_scale': scale,
                    'exercices_id': {{ answer.exercises.id }}
                };
                makeRequest(sendUrl, payload);
            });

            $('#template-upload').fileupload({
                'url': "/trainer/exercices/api/save-record",
                'dropzone': '.upload-area',
                'dataType': 'json',
                'autoUpload': false,
                formData: {quiz_id: {{ answer.play.quiz.id }}, play_id: {{ answer.play.id }},
                    question_id: {{ answer.question.getId() }}, question_item_id: $('#question_item_template').val(),
                    exercices_id: {{ answer.exercises.id }}, type: 'quiz_template'},
                add: function (e, data) {
                    if (typeof data.files[0] == "undefined") {
                        return;
                    }
                    data.submit();
                }
            }).on('fileuploaddone', function (e, data) {
                if (data.result.status == 'error') {
                    swal('Error', data.result.errors, 'error');
                } else {
                    swal({
                        type: 'success',
                        allowOutsideClick: false,
                        title: '{{ 'global.success_title'|trans|raw }}',
                        text: '{{ 'global.success_message'|trans()|raw }}',
                    }).then(
                        function () {
                            location.reload();
                        },
                    )
                }
            }).on('fileuploadprogressall', function (e, data) {
            }).on('fileuploadfail', function (e, data) {
                swal("Error", data.result.file_name, "error", {
                    button: "Ok",
                });
            });

            $('#document-upload').fileupload({
                'url': "/trainer/exercices/api/save-record",
                'dropzone': '.upload-area',
                'dataType': 'json',
                'autoUpload': false,
                formData: {quiz_id: {{ answer.play.quiz.id }}, play_id: {{ answer.play.id }},
                    question_id: {{ answer.question.getId() }}, question_item_id: $('#question_item_document').val(),
                    exercices_id: {{ answer.exercises.id }}, type: 'quiz_template'},
                add: function (e, data) {
                    if (typeof data.files[0] == "undefined") {
                        return;
                    }
                    data.submit();
                }
            }).on('fileuploaddone', function (e, data) {
                if (data.result.status == 'error') {
                    swal('Error', data.result.errors, 'error');
                } else {
                    swal({
                        type: 'success',
                        allowOutsideClick: false,
                        title: '{{ 'global.success_title'|trans|raw }}',
                        text: '{{ 'global.success_message'|trans()|raw }}',
                    }).then(
                        function () {
                            location.reload();
                        },
                    )
                }
            }).on('fileuploadprogressall', function (e, data) {
            }).on('fileuploadfail', function (e, data) {
                swal("Error", data.result.file_name, "error", {
                    button: "Ok",
                });
            });
        }

        function checkMedia(path) {
            if(path.split('/')[4] === 'video' || path.split('/')[4] === 'files' || path.split('/')[4] === 'img') {
                return true;
            }
            return false;
        }

        $('.preview-file-page').click(function() {
            let domain = document.location.origin;
            let path = $(this).attr('data-pdf-loader-queue');
            if(checkMedia(path)) {
                window.open(path, '_blank');
            } else {
                let url = domain + path;
                window.open(domain + '/viewer?url='+ url, '_blank');
            }
            
        });

        function reloadIFrame() {
            let iframeQuestion = document.getElementById("iframeQuestion");
            if (iframeQuestion) {
                document.getElementById("iframeQuestion").src=document.getElementById("iframeQuestion").src;
                console.log("Re-Loaded");
            }
        }

        timeriframeQuestion = setInterval("reloadIFrame();", 2000);

        $( document ).ready(function() {
            $('#iframeQuestion').on('load', function() {
                clearInterval(timeriframeQuestion);
                console.log("Finally Loaded");
            });
        });
    </script>
{% endblock %}