{% extends "base_print.html.twig" %}
{% block body %}
    <style>
        .print {
            -webkit-print-color-adjust: exact !important;
        }
        .table thead tr td,.table tbody tr td{
            border-width: 1px !important;
            border-style: solid !important;
            border-color: black !important;
            padding: 5px!important;
        }
        table.print-friendly tr td, table.print-friendly tr th {
            page-break-inside: avoid;
        }
        /*@page { size: landscape; }*/
        @media print {
            table {
                -webkit-column-break-inside: avoid; /* Chrome, Safari, Opera */
                page-break-inside: avoid; /* Firefox */
                break-inside: avoid; /* IE 10+ */
            }
            #buttonsPrint
            {
                display:none;
            }
        }
    </style>
    <div class="pad-20" id="buttonsPrint">
        <button id="horizontalBtn" class="btn btn-primary">{{ 'admin.trainers.horizontal_print'|trans }}</button>
        <button id="verticalBtn" class="btn btn-info">{{ 'admin.trainers.vertical_print'|trans }}</button>
    </div>
    {% set status_done =  constant('ApiBundle\\Entity\\Status::WITH_BOOKING_DONE') %}
    <div class="print" style="padding: 20px;">

        {% if booked is defined and booked is not empty %}
            {% set hour = booked.module.duration|date('G', false) %}
            {% set minutes = booked.module.duration|date('i', false) %}
            {% set duration = '' %}
            {% if hour == '0' %}
                {% set duration = '+'~minutes~' min' %}
            {% elseif minutes == '00' %}
                {% set duration = '+'~ hour ~ 'hours' %}
            {% else %}
                {% set duration = '+' ~hour ~ ' hours' ~ ' +' ~ minutes~ ' min' %}
            {% endif %}
        <table class="table table-bordered">
            <tbody>
                <tr>
                    <td colspan="4" style="padding: 0px!important;">
                        <div style="font-size: 20px!important; text-align: center; padding: 30px; color: #000; border-radius: 0!important; background-color: #D9D9D9!important; font-weight: 900!important;">
                            {{ 'global.timesheet'|trans }}
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="4" style="border-left: none!important; border-right: none!important;"></td>
                </tr>
                <tr>
                    <td colspan="4" class="text-center bold" style="font-size: 20px!important; background-color: #D9D9D9!important; padding-top: 10px!important; padding-bottom: 10px!important;">
                        {{ 'global.trainer_description'|trans }}
                    </td>
                </tr>
                <tr>
                    <td width="30%" style="background-color: #D9D9D9!important;">
                        {{ 'global.training_client'|trans }}
                    </td>
                    <td width="40%" class="bold">
                        {{ booked.learner.entity.organisation.designation }} {{ booked.learner.entity.designation }}
                    </td>
                    <td style="text-align: center" rowspan="7" colspan="2">
                        {% if booked.learner.entity.logo is not null %}
                            <image style="object-fit: contain" width="100%" height="200px" src="{{ asset(booked.learner.entity.logo) }}"></image>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td width="30%" style="background-color: #D9D9D9!important;">
                        {{ 'global.title_training'|trans }}
                    </td>
                    <td width="40%" class="bold">
                        {{ module.designation }}
                    </td>
                </tr>
                <tr>
                    <td width="30%" style="background-color: #D9D9D9!important;">
                        {{ 'global.title_course'|trans }}
                    </td>
                    <td width="40%" class="bold" >
                        {{ module.intervention.designation }}
                    </td>
                </tr>
                <tr>
                    <td width="30%" style="background-color: #D9D9D9!important;">
                        {{ 'global.date_avaiable'|trans }}
                    </td>
                    <td width="40%" class="bold">
                        {{ booked.bookingDate|localizeddate('full', 'none', app.request.locale)|capitalize }}
                    </td>
                </tr>
                <tr>
                    <td width="30%" style="background-color: #D9D9D9!important;">
                        {{ 'global.hours'|trans }}
                    </td>
                    <td width="40%" class="bold">
                        {{ booked.bookingDate|date('G:i') }} - {{ booked.bookingDate|date_modify(duration)|date('G:i') }}
                    </td>
                </tr>
                <tr>
                    <td width="30%" style="background-color: #D9D9D9!important;">
                        {{ 'global.duration_format'|trans|upper }} (hh:mm)
                    </td>
                    <td width="40%" class="bold">
                        {{ "%02d"|format(hour)~':'~"%02d"|format(minutes) }}
                    </td>
                </tr>
                <tr>
                    <td width="30%" style="background-color: #D9D9D9!important;">
                        {{ 'global.training_place'|trans|upper }}
                    </td>
                    <td width="40%" class="bold">
                        {% if booked.module.getStoredModule().getAppId() == constant('\\ApiBundle\\Entity\\StoredModule::PRESENTATION_ANIMATION') %}
                            {{ booked.getModuleSession().getSessionPlace() ? booked.getModuleSession().getSessionPlace().getAddress()~' - '~booked.getModuleSession().getSessionPlace().getPlace() : '' }}
                        {% else %}
                            {{'global.remote'|trans}}
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td width="30%" style="background-color: #D9D9D9!important;">
                        {{ 'global.animator'|trans|upper }}
                    </td>
                    <td width="40%" class="bold">
                        {{ booked.trainer.displayName }}
                    </td>
                    <td colspan="2" class="bold text-center">
                        {{ 'global.animator_emargement'|trans }}
                    </td>
                </tr>
                <tr>
                    <td width="30%" style="background-color: #D9D9D9!important;">
                        {{ 'global.traning_org'|trans|upper }}
                    </td>
                    <td width="40%" class="bold">
                        {{ 'global.social_reason'|trans }}: {{ booked.learner.entity.socialReason }} <br>
                        {{ 'global.siret'|trans }} : {{ booked.learner.entity.siret }} <br>
                        {{ 'global.declaration'|trans }} : {{ booked.learner.entity.declaration }} <br>
                    </td>
                    <td colspan="2" style="padding: 0!important;">
                        <table width="100%">
                            {% for moduleSignature in module.signatureParameters %}
                                {% set paramIndex = loop.index %}
                                <tr>
                                    <td width="35%" style="vertical-align: middle; border-top: none!important; border-bottom: none!important; border-left: none!important;">
                                        <span class="no-margin">{{ moduleSignature['signatureName'] is defined ? moduleSignature['signatureName'] : 'global.signature'|trans ~ ' ' ~ paramIndex }}</span> <br>
                                    </td>
                                    <td width="30%" class="text-center" style="height: 60px; vertical-align: middle; border-top: none!important; border-bottom: none!important; border-left: none!important;">
                                        {% for trainerSign in trainerSignatures %}
                                            {% if trainerSign.signatureType == paramIndex %}
                                                {% set linkHref = trainerSign.signature ? path('trainer_document_download', {'id': trainerSign.signature.id}) : '' %}
                                                <img id="signature-{{ trainerSign.signature.id }}" src="{{ linkHref }}" height="50"> <br>
                                            {% endif %}
                                        {% endfor %}
                                    </td>
                                    <td width="35%" style="vertical-align: middle; border-top: none!important; border-bottom: none!important; border-right: none!important; border-left: none!important;">
                                        {% for trainerSign in trainerSignatures %}
                                            {% if trainerSign.signatureType == paramIndex %}
                                                <span>{{  trainerSign.updated|date("d/m/Y H:i:s") }}</span> <br>
                                            {% endif %}
                                        {% endfor %}
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
        {% endif %}
        <table class="table table-bordered">
            <tbody>
                <tr>
                    <td colspan="7" class="text-center bold" style="font-size: 20px!important; background-color: #D9D9D9!important; padding-top: 10px!important; padding-bottom: 10px!important;">
                        {{ 'global.learner_emargement'|trans }}
                    </td>
                </tr>
                <tr>
                    <td style="background-color: #D9D9D9!important;" class="bold">
                        {{ 'global.last_first_name'|trans }}
                    </td>
                    <td style="background-color: #D9D9D9!important;" class="bold">
                        {{ 'global.email'|trans }}
                    </td>
                    <td style="background-color: #D9D9D9!important;" class="bold">
                        {{ 'global.entity'|trans }}
                    </td>
                    <td style="background-color: #D9D9D9!important;" class="bold text-center">
                        {{ 'global.employee_id'|trans }}
                    </td>
                    <td style="background-color: #D9D9D9!important;" class="bold text-center">
                        {{ 'global.label_signature'|trans }}
                    </td>
                    <td style="background-color: #D9D9D9!important;" class="bold text-center">
                        {{ 'global.signature_txt'|trans }}
                    </td>
                    <td style="background-color: #D9D9D9!important;" class="bold text-center">
                        {{ 'global.date_signature'|trans }}
                    </td>
                </tr>
                {% if bookingAgendas %}
                    {% for booked in bookingAgendas %}
                        {% set learner = booked.learner %}
                        <tr style=" page-break-inside: avoid!important;">
                            <td>
                                {{learner.getDisplayName()}}
                            </td>
                            <td>
                                {{ learner.getPerson().getEmail() }}
                            </td>
                            <td>
                                {% if learner.entity is defined and learner.entity is not null %}
                                    {{ learner.entity.designation }}
                                {% endif %}
                            </td>
                            <td>
                                {{ learner.getEmployeeId() }}
                            </td>
                            <td>
                                {% for mSignature in module.signatureParameters %}
                                    {% set paramIndex = loop.index %}
                                    <span style="line-height: 50px;">{{ mSignature['signatureName'] is defined ? mSignature['signatureName'] : 'global.signature'|trans ~ ' ' ~ paramIndex }}</span> <br>
                                {% endfor %}
                            </td>
                            <td>
                                {% set downloadPath = 'trainer_document_download' %}
                                {% for param in booked.signatureParams %}
                                    {% set paramIndex = loop.index %}
                                    {% set foundSignature = 0 %}
                                    {% for sig in booked.bookingSignatures %}
                                        {% if (paramIndex == sig.signatureType) %}
                                            {% set foundSignature = 1 %}
                                            {% set linkHref = sig.signature ? path(downloadPath, {'id': sig.signature.id}) : '' %}
                                            <img id="signature-{{ sig.signature.id }}" src="{{ linkHref }}" height="50"> <br>
                                        {% endif %}
                                    {% endfor %}
                                    {%  if foundSignature == 0 %}
                                        <span style="line-height: 50px;">{{ 'trainers.visio.missing_signature'|trans|capitalize }}</span> <br>
                                    {% endif %}
                                {% endfor %}
                            </td>
                            <td>
                                {% for param in booked.signatureParams %}
                                    {% set paramIndex = loop.index %}
                                    {% set foundDate = 0 %}
                                    {% for sig in booked.bookingSignatures %}
                                        {% if (paramIndex == sig.signatureType) %}
                                            {% set foundDate = 1 %}
                                            <span style="line-height: 50px;">{{ sig.created|date("d/m/Y H:i:s") }}</span> <br>
                                        {% endif %}
                                    {% endfor %}
                                    {% if foundDate == 0 %}
                                        <span style="line-height: 50px;">{{ '-' }}</span> <br>
                                    {% endif %}
                                {% endfor %}
                            </td>
                        </tr>
                    {% endfor %}
                {% endif %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function () {
            $('#horizontalBtn').click(function(){
                var cssPagedMedia = (function () {
                    var style = document.createElement('style');
                    document.head.appendChild(style);
                    return function (rule) {
                        style.innerHTML = rule;
                    };
                }());

                cssPagedMedia.size = function (size) {
                    cssPagedMedia('@page {size: ' + size + '}');
                };

                cssPagedMedia.size('landscape');
                window.print();
            });
            $('#verticalBtn').click(function(){
                var cssPagedMedia = (function () {
                    var style = document.createElement('style');
                    document.head.appendChild(style);
                    return function (rule) {
                        style.innerHTML = rule;
                    };
                }());

                cssPagedMedia.size = function (size) {
                    cssPagedMedia('@page {size: ' + size + '}');
                };

                cssPagedMedia.size('A4');
                window.print();
            });
        });
    </script>
{% endblock %}
