.video-caller {
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 1;
	height: 100%;
	width: 100%;
}
.video-self {
	position: absolute;
	top: -20px;
	right: 2px;
	z-index: 3;
	width: 150px;
	height: 150px;
}

.full-w-h{
	width: 100%;
	height: 100%;
}
#configure-perso .modal-dialog .modal-body {
	max-height: calc(100vh - 240px);
	overflow-y: auto;
}
