
.hide-element {
    display: none;
}

.rating-item {
    display: flex;
}

.rating-item .ratings-widget {
    margin-right: 5px;
}

.card--trainer .card-header .upload-item {
    width: 33%;
    display: flex;
    justify-content: center;
}

.card--trainer .card-header .upload-item .icon-box {
    width: 100%;
    text-align: left;
}

.card--trainer .card-header .upload-item .icon-box  .icon-box__txt {
    width: 80%;
    text-align: left;
}

.card--trainer .card-header .icon-box__icon-wrapper {
    margin: 0;
}
.select2-container {
    height: auto;
}

.select2-container .select2-choice {
    border-bottom: 0 !important;
}

.navbar #notification .navbar-nav .nav-item {
    width: 100%;
}

.navbar #notification .navbar-nav .nav-item .nav-link span{
    min-width: 76px;
}

.card-pane .card-header .nav-pills {
    padding: 0;
}

.course-time {
    display: flex;
    align-items: center;
}

.course-time span{
    margin-left: 5px;
}

#sidebar .logo #btn-minimize {
    display: none !important;
}
/*
RESPONSIVE
 */

@media (max-width: 1450px) {
    .card-stats .card-header .card-icon + .card-category{
        font-size: 14px;
    }
}

.open-time  .col-form-label {
    min-width: 100px;
}
.from-to-time {
    display: flex;
}


@media (max-width: 1199px) {

    #planningPane .trainer-img-td {
        display: flex;
        align-items: center;
    }
    .card-header .nav.nav-pills {
        padding: 0;
    }
    .card-header .nav.nav-pills .nav-item .nav-link{
        margin-bottom: 10px;
    }
    #header .navbar-wrapper .navbar-actions
    {
        display: none !important;
    }
    #header .navbar-wrapper .header-right {
        justify-content: flex-end;
        margin-right: 20px;
    }
    form .form-group select.form-control {
        max-width: 100%;
    }
    #navbarDropdownMenuLink .d-md-block {
        display: none !important;
    }

    .navbar .dropdown.show .dropdown-menu,
    .navbar .dropdown .dropdown-menu {
        position: absolute;
        left: 0;
    }
    .navbar .dropdown.show .dropdown-menu a,
    .navbar .dropdown .dropdown-menu a {
        position: absolute;
        left: 0;
        top: 100%;
        background-color: #fff;
        height: auto;
        width: 100%;
    }
    #header .navbar-wrapper .header-right #notification .navbar-nav {
        flex-direction: row;
        align-items: center;
    }
    #header .navbar-wrapper .header-right #notification .nav-link {
        display: flex;
        align-items: center;
    }

    .sidebar, .off-canvas-sidebar nav .navbar-collapse {
        display: none;
    }
    .sidebar.hidden {
        display: block;
        width: 260px !important;
        visibility: visible;
        transform: none;
        left: 0;
        right: 0;
    }
    .sidebar .sidebar-wrapper {
        background-color: #fff;
    }

    #sidebar .logo #btn-minimize {
        display: block !important;
        right: 10px;
        text-align: right;
        top: 5px;
        position: absolute;
    }
    .main-panel {
        width: 100%;
    }

    .main-panel.full {

    }

    .card-body dt {
        text-align: left !important;
    }
    .card .card-body .form-group {
        margin-bottom: 10px;
    }
    .card-intervention-add .card-title {
        display: none;
    }
    .table.interv-new-table {
        overflow-x: scroll;
    }
    .card-intervention-add .card-header {
        justify-content: center;
    }

    .card.card-quiz-add #step1 > .row{
        margin-left: -15px;
        margin-right: -15px;
    }
    #add-question-wrapper .card-header,
    #add-question-wrapper .card-body {
        padding: 0;
    }
    .header-btn {
        display: none;
    }
    .new-interv-step3 .badge {
        padding: 10px 10px;
        margin-bottom: 5px;
    }
    .trainer-item-bottom {
        margin-bottom: 15px;
    }
    .box-module {
        /*width: 35px !important;*/
        /*height: 35px !important;*/
    }
    .course-steps {
        margin-bottom: 10px;
    }

    .course-steps .first-step,
    .course-steps .last-step {
        z-index: 9;
    }

    .course-steps .first-step p,
    .course-steps .last-step p{
        font-size: 12px;
        font-weight: normal !important;
    }
}

@media (max-width: 900px) and (min-width: 768px){
    .nav-pills .nav-item .nav-link {
        margin-bottom: 10px;
    }
    .my-course-action {
        flex-wrap: wrap;
        justify-content: space-between !important;
    }
    .my-course-action .col-md-6 {
        width: 100%;
        max-width: 100%;
        flex: 0 0 100%;
        margin-top: 5px;
    }
    .my-course-action .col-md-6 .btn-launch {
        width: 100%;
    }

}

@media (max-width: 1024px) and (min-width: 768px){
    #header .navbar-nav .nav-item {
        margin-right: 10px;
        width: auto;
        margin-bottom: 10px;
    }

}

@media (max-width: 922px) {
    .card-header.c-bg-navy {
        display: block;
    }
    .card-header.c-bg-navy .nav {
        display: flex;
        padding-left: 20px;
        justify-content: center;
    }

    .card-header.c-bg-navy .nav .nav-item {
        width: auto;
    }

    .store-item {
        display: flex;
        width: 100%;
        max-width: 100%;
        flex: 0 0 100%;
        margin-top: 0;
        margin-bottom: 5px;
    }

    .optionDate .col-sm-6.no-padding {
        padding-left: 20px !important;
    }
    .add-file .input-group .input-group-btn{
        padding: 0;
    }

    .card--intervention-show .card-header-icon {
        position: absolute;
        right: 0;
        top: 8px;
    }

}

@media (max-width: 767px) {
    h2, .h2 {
        font-size: 2rem;
    }
    .left-mobile {
        text-align: left !important;
    }
    .right-mobile {
        text-align: right !important;
    }
    .center-mobile {
        text-align: center !important;
    }
    .icon-action {
        text-align: center;
    }
    .no-padding-mobile {
        padding: 0 !important;
    }
    .no-icon-mobile {

    }
    #header .navbar-wrapper .header-right {
        display: flex;
        justify-content: flex-end;
        width: 100%;
        right: 20px;
    }

    #header .navbar-wrapper .header-right #notification {
        width: auto;
    }


    #header .navbar-wrapper .header-right .col-md-5 {
        width: auto;
    }

    #header .navbar-wrapper .col-md-1 {
        float: left;
    }

    #btn-minimize {
        float: left;
        position: absolute;
        top: 22px;
        left: 20px;
        z-index: 999;
        padding: 5px;
    }

    .card-intervention-add .nav-item .nav-link,
    .card-quiz-add .nav-item .nav-link {
        padding: 5px;
        text-align: left;
        min-width: 0;
    }

    .card-intervention-add .nav-item .nav-link:before,
    .card-quiz-add .nav-item .nav-link:before {
        font-size: 14px;
        left: -30px;
        width: 30px;
        height: 30px;
        padding-top: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .card-intervention-add .nav-item:before,
    .card-quiz-add .nav-item:before {
        content: none;
    }

    #intervention_step_initial > .row {
        display: block;
    }

    #intervention_step_initial > .row > div {
        width: 100%;
        max-width: 100%;
    }

    #inProgressList .padding-bottom-custom {
        padding-bottom: 40px;
    }

    .fc-toolbar h2 {
        padding: 0 5px;
        width: auto;
    }

    .card .card-body .col-form-label, .card .card-body .label-on-right {
        padding-left: 0;
    }

    .fc-toolbar .fc-right {
        margin-bottom: 10px;
    }

    .card .tab-content.tab-space {
        padding-top: 0;
    }

    .card.admin-statistics .card-body .row > .row {
        display: block;
        width: 100%;
    }
    .bg-white {
        margin-bottom: 15px;
    }
    #onlineSessionModule .pad-l-0, .col-md-4.pad-l-0 {
        padding-right: 0;
    }

    .module {
        padding: 10px !important;
    }

    .icon-action p i{
        margin-right: 10px;
    }
    #cancel-booking-info {
        width: 100% !important;
    }
    .sidebar-wrapper .nav-item .nav-link > .row {
        flex-wrap: nowrap;

    }
    .sidebar-wrapper .nav-item .nav-link > .row .col-md-3 {
        width: 100px;
    }
    #intervention-module-info {
        display: block;
        width: 100%;
        margin: 20px 0;
    }
    .vertical-separator {
        display: none;
    }
    .intervention-module-info-inner {
        width: 100%;
        padding-left: 20px;
    }
    #intervention-online-bottom-row {
        display: block;
    }
    .intervention-trainers-list {
        width: 100%;
        margin-bottom: 20px;
    }
    #intervention-hours-left-wrapper {
        margin-left: 0;
    }
    .module.border-bottom img {
        width: auto;
    }

    .nav-pills .nav-item .nav-link {
        margin-bottom: 10px;
    }

    .course-time {
        justify-content: flex-start;
        flex-direction: row;
        align-items: center;
        margin-bottom: 5px;
    }

    .course-time span {
        color: #333 !important;
        font-size: 16px;
        padding-top: 5px;
    }

    .justify-content-center-mobile {
        justify-content: center;
    }

    #days-listing {
        padding-top: 60px;
    }
    .apply-all {
        position: absolute;
        left: 0;
        top: 0;
        padding-left: 0;
    }
    #header .session {
        margin-left: 45px;
    }
    .module-circle {
        z-index: 9;
        position: relative;
    }
    .content ul.nav-pills {
        margin-top: 10px;
    }
    .quiz-question-wrapper {
        margin-bottom: 20px;
    }
    .trainer-avatar.image-holder {
        margin-top: 10px;
    }

    #workingHours {
        padding: 0;
    }
}
@media (max-width: 576px) {

    .fc-view-container table {
        min-width: 500px;
    }

    .fc-view-container .fc-view {
        overflow: scroll;
    }
    .card-header.c-bg-navy .nav {
        justify-content: flex-start;
    }
    .user-info-text {
        padding: 0;
    }
    .user-info-text p {
        display: flex;
        align-items: center;
    }
    .bg-computer .clock {
        font-size: 22px;
    }
    #courseStepsMiddleLine {
        transform: rotate(90deg);
        z-index: -1;
    }
    .course-steps {
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }
    .course-steps .first-step {
        /*padding-bottom: 40px !important;*/
        padding-bottom:20px !important;
        position: relative;
    }
    .course-steps .first-step,
    .course-steps .last-step {
        text-align: center !important;
    }

    .course-steps .last-step {
        position: relative;
        /*padding-top: 40px !important;*/
        padding-top:50px !important;
    }
    .course-steps .last-step:before {
        content: '';
        width: 2px;
        position: absolute;
        top: 0;
        background-color: #a7a7a7;
        display: block;
        height: 100%;
        left: 0;
        right: 0;
        margin: 0 auto;
    }
    .course-steps .last-step .module-circle {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        margin: 0 auto;
    }
    #header .session {
        max-width: 200px;
        margin-left: 45px;
        margin-top: 10px;
        overflow: hidden;
    }

    #header .session .btn-next-session {
        font-size: 10px;
        text-transform: none;
        color: #ffffff;
        box-shadow: none;
        padding: 5px 0 !important;
    }
    #header .session .btn-next-session span {
        color: #ffffff;
    }
    #header .navbar-wrapper .header-right {
        right: 0;
        top: -62px;
    }
    #header .no-session .header-right {
        top: 0;
    }
    #intervention_step_initial > .row .order-xl-1.no-padding {
        padding-right: 10px !important;
    }
    #intervention_step_initial .col-12.text-right {
        padding: 0;
    }
    #btn-minimize {
        display: block!important;
    }
    .action-toolbar .btn {
        width: auto;
    }
    .btn {
        display: block;
        width: 100%;
    }
    .card-header.card-header-icon .btn {
        width: auto;
        display: inline-block;
        padding: 5px;
        min-width: 43px;
    }
    .card-intervention-add .order-xl-1 {
        padding: 0;
    }
    #inProgressList .col-md-9 {
        padding: 0;
    }
    #inProgressList .col-md-9 .card-body {
        padding: 10px 0 0;
    }
    #inProgressList .col-md-9 .card-header.c-bg-orangelight {
        padding: 5px 0;
    }
    .step2-title {
        padding-left: 65px;
    }
    .fc-toolbar h2 {
        width: auto;
        max-width: 100%;
        font-size: 1.2rem;
    }
    .fc button {
        padding: 4px 6px;
    }

    #dashboard-learner .fc-left, #dashboard-learner .fc-right {
        width: 22%;
    }
    .card .card-body {
        padding-left: 10px;
        padding-right: 10px;
    }
    .card--trainer .card-header.card-header-icon {
        flex-wrap: wrap;
    }
    .card-header.card-header-icon label.btn {
        padding: 5px 15px;
    }
    .card--trainer .card-header .upload-item {
        width: 100%;
        justify-content: space-between;
        align-items: center;
    }
    .card--trainer .card-header .upload-item .icon-box .icon-box__txt {
        width: 100%;
    }
    .card .card-body .form-group.row {
        display: block;
    }
    .card .card-body .form-group .col-3.t-right {
        text-align: left;
    }
    .card .card-body .form-group .col-3,
    .card .card-body .form-group .col-8,
    .card .card-body .form-group .col-7{
        width: 100%;
        max-width: 100%;
        padding: 0;
    }
    #staticCircles {
        display: block;
    }
    #staticCircles > div {
        width: 100% !important;
    }
    #staticCircles > div .text-long  {
        text-align: right;
        width: 40%;
    }
    .course-steps .step-course:before {
        content: '';
        height: 100%;
        width: 2px;
        position: absolute;
        top: 0;
        background-color: #a7a7a7;
        left: 0;
        right: 0;
        bottom: 0;
        margin: 0 auto;
    }
    .course-steps .first-step p, .course-steps .last-step p{
        text-align: right;
        /*width: 40%;*/
    }
    form .form-group .col-4.t-right {
        text-align: left;
        padding-left: 0;
        width: 100%;
        max-width: 100%;
    }
    #intervention-hours-left-wrapper {
        flex-direction: column;
    }
    .accordion-header div {
        flex-wrap: wrap;
    }
    .accordion-header {
        display: block;
    }
    .accordion-header .form-check--nopadding.col-md-10 {
        margin: 0 -15px;
    }
    .font-size-22 {
        font-size: 18px;
    }
    #dashboard-learner .fc-left, #dashboard-learner .fc-right {
        width: auto;
    }

    #days-listing > li > div {
        display: inline-block;
    }

    #days-listing > li .timepicker-group-inline {
        width: 50%;
    }

    .timepicker-group-inline .form-control{
        max-width: 90px;
    }

    .open-time  .col-form-label {
        min-width: 50px;
    }
    .open-time  .day-label {
        min-width: 100px;
    }
}

@media (max-width: 480px) {
    .online-book-modal {
        padding: 20px !important;
    }
    #header .session {
        margin-left: 50px;
    }

    #header .navbar-wrapper .header-right #notification .navbar-nav {
        flex-direction: column;
    }
    #header .navbar-wrapper .header-right #notification .nav-link {
        padding: 0;
        margin-bottom: 5px;
        justify-content: flex-end;
    }
    .card-header.c-bg-navy .nav .nav-item {
        width: 50%;
        margin: 0;
    }
    .card-intervention-add .nav-item .nav-link,
    .card-quiz-add .nav-item .nav-link {
        padding: 5px;
        text-align: left;
        min-width: 0;
    }
    h2, .h2 {
        font-size: 1.6rem;
    }
    h3, .h3 {
        font-size: 1.2rem;
    }
    .calendar-legend li {
        width: 50%;
        margin-left: 0 !important;
        margin-bottom: 5px;
    }
    .fc-toolbar .fc-right {
        display: block;
        max-width: 100%;
    }
    .fc-toolbar .fc-right button {
        display: block;
        width: 100%;
        margin: 0 0 5px;
    }
    .trainer-name {
        font-size: 13px;
    }
    .fc-toolbar .fc-center {
        width: 100%;
        display: flex;
        justify-content: center;
    }

}

@media (max-width: 380px) {
    .card-header.c-bg-navy .nav .nav-item {
        width: 100%;
    }
    #header .session {
        max-width: 140px;
        overflow: hidden;
        margin-left: 40px;
    }
    #header .session .btn-next-session span {
        font-size: 9px;
    }
}