{% extends 'base.html.twig' %}
{% block pagename %}{{ 'sidebar.trainers_exercices'|trans }}{% endblock %}
{% block body %}
    <style>
        .admin .dataTables_wrapper{
            margin-top: -30px!important;
        }
        .modal-open{
            padding-right: 18px!important;
        }
        .wrapper {
            height: unset!important;
        }
        .tooltip-inner {
            min-width: 700px;
            border: 2px solid grey;

        }
        .tooltip {
            font-family: 'Montserrat', sans-serif!important;
            font-size: 16px;
        }
        .bs-tooltip-auto[x-placement^=bottom] .arrow::before,
        .bs-tooltip-bottom .arrow::before {
            border-bottom-color: grey!important;
            /* Red */
        }
        .bs-tooltip-bottom .arrow::after {
            content: "";
            position: absolute;
            bottom: 0;
            border-width: 0 .4rem .4rem;
            transform: translateY(3px);
            border-color: transparent;
            border-style: solid;
            border-bottom-color: #fff;
        }
    </style>
    <div class="row marg-t-10 text-center">
        <div class="col-md-12 text-center">
            <ul class="nav nav-pills  justify-content-center">
                <li class="nav-item">
                    <a id="validateBtn" class="btn text-transform-none report-pending">{{ 'trainers.best_practices.admin_button_best_practices_pending'|trans }}</a>
                </li>
                <li class="nav-item">
                    <a id="validatedBtn" class="btn text-transform-none report-done" >{{ 'trainers.best_practices.admin_button_best_practices_validated'|trans }}</a>
                </li>
                <li class="nav-item">
                    <a id="rejectedBtn" class="btn text-transform-none report-reject" >{{ 'trainers.best_practices.admin_button_best_practices_non_validated'|trans }}</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="row admin">
        <div class="card marg-t-10" id="validate">
            <h3 class="text-center marg-b-10 marg-t-10 color-header bold"> {{ 'trainers.best_practices.admin_best_practices_pending_validation'|trans }} </h3>
            {{ include('molecules/tables/admin-best-practices-table.html.twig', { bestPractices: submittedBestPractices, status: 'trainers.exercises.status.validated'|trans, type: 'toValidationTable' }) }}
        </div>
        <div class="card marg-t-10" id="validated">
            <h3 class="text-center marg-b-10 marg-t-10 color-header bold"> {{ 'trainers.best_practices.admin_best_practices_validated'|trans }} </h3>
            {{ include('molecules/tables/admin-best-practices-table.html.twig', { bestPractices: validatedBestPractices, status: 'trainers.exercises.status.submitted'|trans, type: 'validatedTable' }) }}
        </div>
        <div class="card marg-t-10" id="rejected">
            <h3 class="text-center marg-b-10 marg-t-10 color-header bold"> {{ 'trainers.best_practices.admin_best_practices_non_validated'|trans }} </h3>
            {{ include('molecules/tables/admin-best-practices-table.html.twig', { bestPractices: rejectedBestPractices, status: 'trainers.exercises.status.deny'|trans, type: 'rejectedTable' }) }}
        </div>
    </div>
    <div class="modal fade" id="validationExercises" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog  modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body text-center">
                    <p class="color-header bold" id="txtValidation"></p>
                    <p>
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1">{{ 'popup.your_comment'|trans }}</label>
                        <textarea class="form-control" id="your_comment" rows="3" spellcheck="false"></textarea>
                    </div>
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ 'buttons.close'|trans }}</button>
                    <button  id="btnValidationAction" type="submit" class="btn btn-primary">{{ 'buttons.confirm'|trans }}</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="sendMessages" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body text-center">
                    <p id="txtSendMessages"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ 'buttons.close'|trans }}</button>
                    <button  id="btnSendMessagesAction" type="submit" class="btn btn-primary">{{ 'buttons.confirm'|trans }}</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/lang_datatable.js') }}"></script>
    <script>
        $(function () {
            CKEDITOR.replace('your_comment');
        })
        $(document).ready(function () {
            validationBestPractices();
            $("#validateBtn").click(function() {
                $('html,body').animate({
                        scrollTop: $("#validate").offset().top},
                    'slow');
            });
            $("#validatedBtn").click(function() {
                $('html,body').animate({
                        scrollTop: $("#validated").offset().top},
                    'slow');
            });
            $("#rejectedBtn").click(function() {
                $('html,body').animate({
                        scrollTop: $("#rejected").offset().top},
                    'slow');
            });

            let lang = languageDatatable();

            let toValidationTable = $('#toValidationTable').DataTable({
                    "language": lang,
                    "scrollX": true,
                    "scrollY": false,
                    "order": [[ 3, "desc" ], [ 4, "desc" ]],
                    fnInitComplete: function () {
                        $("[data-toggle='tooltiptoValidationTable']").tooltip({
                            container: 'body'
                        });
                    }
                }
            );
            $('#toValidationTable').on('draw.dt', function() {
                $('[data-toggle="tooltiptoValidationTable"]').tooltip(); // Or your function for tooltips
            });

            let validatedTable =$('#validatedTable').DataTable({
                    "language": lang,
                    "scrollX": true,
                    "scrollY": false,
                    "order": [[ 3, "desc" ], [ 4, "desc" ]],
                    fnInitComplete: function () {
                        $("[data-toggle='tooltipvalidatedTable']").tooltip({
                            container: 'body'
                        });
                    }
                }
            );
            $('#validatedTable').on('draw.dt', function() {
                $('[data-toggle="tooltipvalidatedTable"]').tooltip(); // Or your function for tooltips
            });

            let rejectedTable =$('#rejectedTable').DataTable({
                    "language": lang,
                    "scrollX": true,
                    "scrollY": false,
                    "order": [[ 3, "desc" ], [ 4, "desc" ]],
                    fnInitComplete: function () {
                        $("[data-toggle='tooltiprejectedTable']").tooltip({
                            container: 'body'
                        });
                    }
                }
            );
            $('#rejectedTable').on('draw.dt', function() {
                $('[data-toggle="tooltiprejectedTable"]').tooltip(); // Or your function for tooltips
            });

            $('.buttons-colvis').on('click', function () {
                $('.dt-button-collection').addClass('show');
            });

            $(".dataTables_filter").hide();

            $('#toValidationTableSearch').keyup(function(){
                toValidationTable.search($(this).val()).draw() ;
            })

            $('#validatedTableSearch').keyup(function(){
                validatedTable.search($(this).val()).draw() ;
            })

            $('#rejectedTableSearch').keyup(function(){
                rejectedTable.search($(this).val()).draw() ;
            })

            $('.check-all-toValidationTable').change(function() {
                var rows = toValidationTable.rows({ 'search': 'applied' }).nodes();
                $('input[name="toValidationTable"]', rows).prop('checked', this.checked);
            });
            $('.check-all-validatedTable').change(function() {
                var rows = validatedTable.rows({ 'search': 'applied' }).nodes();
                $('input[name="validatedTable"]', rows).prop('checked', this.checked);
            });
            $('.check-all-rejectedTable').change(function() {
                var rows = rejectedTable.rows({ 'search': 'applied' }).nodes();
                $('input[name="rejectedTable"]', rows).prop('checked', this.checked);
            });

            $( window ).resize(function() {
                $('#toValidationTable, #validatedTable, #rejectedTable').DataTable().columns.adjust();
            });

            let btn = $('[data-action="minimize-sidebar"]');
            if (btn.length) {
                btn.on('click', function () {
                    setTimeout(function() {
                        $('#toValidationTable, #validatedTable, #rejectedTable').DataTable().columns.adjust();
                    }, 300);
                })
            }

            $('#apply_toValidationTable').on('click', function () {
                $("#txtValidation").text("{{ 'popup.validation_exercises'|trans|raw }}");
                $("#validationExercises").modal('show');
            });
            function validationBestPractices() {
                $('#btnValidationAction').on('click', function () {
                    let type = $('select[name="select_toValidationTable"]').val();
                    let checkInput = $('input[name="toValidationTable"]');
                    let selectedEntities = [];

                    checkInput.each(function () {
                        if(this.checked && this.value !== ""){
                            selectedEntities.push(this.value);
                        }
                    });
                    console.log(selectedEntities);
                    console.log(type);
                    if (!selectedEntities.length) {
                        // one or more checkboxes are
                        swal('Warning', 'Please select at least one best practice.', 'warning');
                        return;
                    }
                    $.ajax({
                        'url': '{{ path('admin_best_practices_validation') }}',
                        'method': 'POST',
                        'data' : {
                            'selectedEntities': selectedEntities,
                            'type': type,
                            'comment': CKEDITOR.instances['your_comment'].getData()
                        }
                    }).done(function (response) {
                        location.reload();
                    }).fail(function (response) {
                        console.log(response)
                    })
                });
            }

            $('#apply_validatedTable, #apply_rejectedTable').on('click', function () {
                $("#txtSendMessages").text("{{ 'popup.send_massage_exercises'|trans|raw }}");
                $("#sendMessages").modal('show');
            });
        });
    </script>
{% endblock %}