{% extends "base_offline.html.twig" %}

{% block body %}
    <div id='viewer' style='width: 100%; height: 100vh; margin: 0 auto;'></div>
{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function(){
            WebViewer({
                path: "{{ asset('js/lib/webviewer/lib') }}", // path to the PDFTron 'lib' folder on your server
                licenseKey: 'Insert commercial license key here after purchase',
                initialDoc: "{{ url }}",
                // initialDoc: '/path/to/my/file.pdf',  // You can also use documents on your server
            }, document.getElementById('viewer'))
                .then(instance => {
                    instance.disableElements(['printButton']);
                    instance.disableElements(['downloadButton']);
                    const docViewer = instance.docViewer;
                    const annotManager = instance.annotManager;
                    // call methods from instance, docViewer and annotManager as needed

                    // you can also access major namespaces from the instance as follows:
                    // const Tools = instance.Tools;
                    // const Annotations = instance.Annotations;

                    docViewer.on('documentLoaded', () => {
                        // call methods relating to the loaded document
                    });
                });
        });
    </script>
{% endblock %}