$deepmark-red: #e11c24;
$deepmark-blue: #045f7f;
$deepmark-green: #22aa73;
$deepmark-navy: #003B5C;
$deepmark-gold: #ffa322;
$deepmark-purple:#9c27b0;
$deepmark-cadetblue: #659eb1;
$deepmark-lightblue: #68d2f1;
$deepmark-darkgreen: #1b7f54;
$deepmark-lightgray: #c0c0c0;
$deepmark-mediumgray: #a7a7a7;
$deepmark-mustard: #cd8d16;
$deepmark-lightmaroon: #957013;
$deepmark-beige: #a18f6c;
$deepmark-orangelight: #ffad17;
$deepmark-orangestrong: #ff6917;
$deepmark-black: #333333;
$deepmark: #0076fe;
$deepmark-light: #E0F0FF;
$deepmark-medium: #7BB7FF;


$pane-grey: #efefef;
$shadow: hsla(0,0%,0%,0.15);
$box-shadow: 1px 2px 10px hsla(0,0%,0%,0.3);

$pretty--color-default: $deepmark-black;
$pretty--color-primary: transparentize($deepmark-green, 0.3);
$pretty--color-info: transparentize($deepmark-blue, 0.3);

$theme-colors: (
  "deepmark": $deepmark,
  "deepmark-light": $deepmark-light,
  "deepmark-red": $deepmark-red,
  "deepmark-blue": $deepmark-blue,
  "deepmark-green": $deepmark-green,
  "deepmark-navy": $deepmark-navy,
  "deepmark-gold": $deepmark-gold,
  "deepmark-purple": $deepmark-purple,
  "deepmark-cadetblue": $deepmark-cadetblue,
  "deepmark-lightblue": $deepmark-lightblue,
  "deepmark-darkgreen": $deepmark-darkgreen,
  "deepmark-lightgray": $deepmark-lightgray,
  "deepmark-mediumgray": $deepmark-mediumgray,
  "deepmark-mustard": $deepmark-mustard,
  "deepmark-lightmaroon": $deepmark-lightmaroon,
  "deepmark-beige": $deepmark-beige,
  "deepmark-orangelight": $deepmark-orangelight,
  "deepmark-orangestrong": $deepmark-orangestrong,
  "deepmark-medium": $deepmark-medium
);

@each $color in map-keys($theme-colors) {
  .btn-#{$color} {
    background-color: map-get($theme-colors, $color);
    &:focus, &:hover {
      border-color: map-get($theme-colors, $color);
      background-color: map-get($theme-colors, $color);
    }
  }
}

/*********************
  Spacings
*********************/
$spacing-0: 0;
$spacing-10: 10px;
$spacing-15: 15px;
$spacing-20: 20px;
$spacing-30: 30px;
$spacing-40: 40px;
$spacing-60: 60px;
$spacing-80: 80px;
$spacing-100: 100px;

/*********************
  Breakpoints
*********************/
$bp-mobile: 600px;
$bp-tablet: 767px;
$bp-sm-desktop: 1024px;
$bp-md-desktop: 1080px;
$bp-lg-desktop: 1280px;
$bp-xl-desktop: 1921px;
