{# 3 states btn : off, n/a, on #}
{# Use candlestick jquery plugin #}

{% if disabled is not defined %}
    {% set disabled = false %}
{% endif %}

{% if status is iterable %}
<input class="js-candlestick" type="checkbox" name="candlestick" value="{{ status.designation }}" id="candlestick-{{ id }}" {% if disabled == true %}disabled{% endif %}>
{% else %}
    <input class="js-candlestick" type="checkbox" name="candlestick" id="candlestick-{{ id }}" {% if disabled == true %}disabled{% endif %}>
{% endif %}
