
{% if pageCount > 1 %}
    <nav class="pages">
        <div class="pages__prev">
            {% if first is defined and current != first %}
                <div class="first">
                    <a href="{{ path(route, query|merge({(pageParameterName): first})) }}"><i class="fas fa-arrow-to-left"></i></a>
                </div>
            {% endif %}

            {% if previous is defined %}
                <div class="previous">
                    <a href="{{ path(route, query|merge({(pageParameterName): previous})) }}"><i class="fas fa-arrow-left"></i></a>
                </div>
            {% endif %}
        </div>

        <ul class="pages__list">
            {% for page in pagesInRange %}
                {% if page != current %}
                    <li class="page-item">
                        <a href="{{ path(route, query|merge({(pageParameterName): page})) }}">{{ page }}</a>
                    </li>
                {% else %}
                    <li class="page-item active">
                        <span>{{ page }}</span>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>

        <div class="pages__next">
            {% if next is defined %}
                <div class="next">
                    <a href="{{ path(route, query|merge({(pageParameterName): next})) }}"><i class="fas fa-arrow-right"></i></a>
                </div>
            {% endif %}

            {% if last is defined and current != last %}
                <div class="last">
                    <a href="{{ path(route, query|merge({(pageParameterName): last})) }}"><i class="fas fa-arrow-to-right"></i></a>
                </div>
            {% endif %}
        </div>
    </nav>
{% endif %}
