{% extends "base.html.twig" %}

{% block title %}TrainerBundle:myReports:index{% endblock %}
{% block pagename %}{{ 'sidebar.trainers_reports'|trans }}{% endblock %}

{% block body %}
    <div class="row marg-t-10 text-center">
        <div class="col-md-12 text-center">
            <ul class="nav nav-pills  justify-content-center">
                <li class="nav-item">
                    <a id="todoBtn" class="btn active text-transform-none report-to-do" >{{ 'trainers.reports.reports_to_do'|trans }}</a>
                </li>
                <li class="nav-item">
                    <a id="submittedBtn" class="btn text-transform-none report-pending">{{ 'trainers.reports.reports_pending'|trans }}</a>
                </li>
                <li class="nav-item">
                    <a id="validatedBtn" class="btn text-transform-none report-done" >{{ 'trainers.reports.reports_validated'|trans }}</a>
                </li>
                <li class="nav-item">
                    <a id="deniedBtn" class="btn text-transform-none report-reject" >{{ 'trainers.reports.reports_denied'|trans }}</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="card" id="todo">
            <h3 class="text-center marg-b-10 marg-t-10 color-header bold"> {{ 'trainers.reports.my_reports_to_do'|trans }} </h3>
            {{ include('molecules/tables/trainer-reports-table.html.twig', { reports: reportsToDo, status: 'trainers.reports.status.to_do'|trans, type: 1 }) }}
        </div>
        <div class="card marg-t-10" id="submitted">
            <h3 class="text-center marg-b-10 marg-t-10 color-header bold"> {{ 'trainers.reports.my_reports_pending_validation'|trans }} </h3>
            {{ include('molecules/tables/trainer-reports-table.html.twig', { reports: reportsSubmitted, status: 'trainers.reports.status.submitted'|trans, type: 2 }) }}
        </div>
        <div class="card marg-t-10" id="validated">
            <h3 class="text-center marg-b-10 marg-t-10 color-header bold"> {{ 'trainers.reports.my_reports_validated'|trans }} </h3>
            {{ include('molecules/tables/trainer-reports-table.html.twig', { reports: reportsApproved, status: 'trainers.reports.status.validated'|trans, type: 3 }) }}
        </div>
        <div class="card marg-t-10" id="denied">
            <h3 class="text-center marg-b-10 marg-t-10 color-header bold"> {{ 'trainers.reports.my_reports_denied'|trans }} </h3>
            {{ include('molecules/tables/trainer-reports-table.html.twig', { reports: reportsRejected, status: 'trainers.reports.status.denied'|trans, type: 4 }) }}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
<script>
    $(document).ready(function () {
        $("#todoBtn").click(function() {
            $('html,body').animate({
                    scrollTop: $("#todo").offset().top},
                'slow');
        });
        $("#submittedBtn").click(function() {
            $('html,body').animate({
                    scrollTop: $("#submitted").offset().top},
                'slow');
        });
        $("#validatedBtn").click(function() {
            $('html,body').animate({
                    scrollTop: $("#validated").offset().top},
                'slow');
        });
        $("#deniedBtn").click(function() {
            $('html,body').animate({
                    scrollTop: $("#denied").offset().top},
                'slow');
        });
    });
</script>
{% endblock %}