{% extends 'base.html.twig' %}

{% block title %}TrainerBundle:myReports:new{% endblock %}
{% block pagename %}{{ 'sidebar.trainers_reports'|trans }}{% endblock %}

{% block body %}
    <div class="card">
        <div class="card-body card-body--flex">
            <div class="row">
                {% if module is defined %}
                {{ module.designation }}
                    <input type="hidden" id="moduleId" value="{{ module.id }}">
                {% endif %}

                <input type="hidden" id="moduleId" value="1274">
            </div>
        </div>
        <div class="card-body">
            <button class="btn" id="btnAddLine">Add a line</button>
            <table>
                <thead>
                <tr>
                    <th>Title</th>
                    <th>Designation</th>
                    <th>Notation</th>
                    <th></th>
                </tr>
                </thead>
                <tbody id="bodyParamLine">
                    {{ include('molecules/ReportLine/line.html.twig', {edit : false}) }}
                </tbody>
            </table>
        </div>

    </div>

    <table class="mod-skeleton">
        {{ include('molecules/ReportLine/line.html.twig', {edit : false}) }}
    </table>

    <button class="btn" id="addReport">Create</button>
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/report-evaluation.js') }}"></script>
{% endblock %}
