{% extends 'base.html.twig' %}

{% block title %}TrainerBundle:myReports:show{% endblock %}
{% block pagename %}{{ 'sidebar.trainers_reports'|trans }}{% endblock %}

{% block body %}
    <div class="card">
        <div class="card-body card-body--flex">
            <div class="card-icon card-icon--noheader">
                <div class="img-container">
                    <img src="{{ asset('img/Logo_BNP.png') }}" alt="">
                </div>
            </div>
            <div class="title-item">
                <h6>Céline DALBY</h6>

                <p>
                    Responsable d'agence
                </p>
            </div>

            <div class="title-item">
                <p>
                    Parcours coaching type :
                </p>

                <h6>NPS Promoteur <span class="badge badge-deepmark-red">2</span></h6>

                <p class="text-deepmark-orangelight">
                    15/03/2018 <span class="text-deepmark-lightgray">-></span> 17/05/2018
                </p>
            </div>

            <div class="title-item">
                <p>
                    Contact :
                </p>

                <p>
                    Matthieu DOMANT DRH <br>
                    +33 6 15 46 78 46
                </p>

                <p class="text-deepmark-red">
                    Attention : 2 alertes
                </p>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header card-header-icon">
            <div class="card-icon active">
                <i class="fal fa-chart-bar"></i>
            </div>

            <h4 class="card-header-title stats-title">Parcours NPS PROMOTEUR - Synthèse</h4>
        </div>

        <div class="card-body">
            <div class="ct-chart ct-chart-line"></div>

            <div class="row" style="margin-top: 25px;">
                <div class="col-md-6">
                    <h6 class="text-center">15/03/2018</h6>
                    <h6 class="text-center">Evaluation NPS - Promoteur</h6>

                    <div class="ct-chart ct-chart-bar-start"></div>

                    <div class="card nested-card">
                        <div class="card-header card-header--nomargin card-header-gold">
                            <h4 class="card-title card-title-duplicate">
                                <i class="fal fa-sort-down"></i>
                            </h4>

                            <h4 class="card-title">
                                <i class="fal fa-question-square"></i> Quiz
                            </h4>
                        </div>

                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-9">
                                    <p>
                                        CONTENU DU QUIZZ <br>
                                        Etes-vous un bon manager ?
                                    </p>
                                </div>

                                <div class="col-md-3">
                                    <p class="text-deepmark-navy">
                                        9/20
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card nested-card">
                        <div class="card-header card-header--nomargin card-header-navy">
                            <h4 class="card-title card-title-duplicate">
        						<i class="fal fa-sort-down"></i>
        					</h4>

                            <h4 class="card-title">
                                <i class="fal fa-globe"></i> Séance en ligne
                            </h4>
                        </div>

                        <div class="card-body">
                            <p>
                                Lorem ipsum dolor sic amet...
                            </p>
                        </div>
                    </div>

                    <div class="card nested-card">
                        <div class="card-header card-header--nomargin card-header-lightmaroon">
                            <h4 class="card-title card-title-duplicate">
                                <i class="fal fa-sort-down"></i>
                            </h4>

                            <h4 class="card-title">
                                <i class="fal fa-pen-alt"></i> Exercice / TP
                            </h4>
                        </div>

                        <div class="card-body">
                            <p>
                                Lorem ipsum dolor sic amet...
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <h6 class="text-center">17/05/2018</h6>
                    <h6 class="text-center">Evaluation NPS - Promoteur</h6>

                    <div class="ct-chart ct-chart-bar-end"></div>

                    <div class="card nested-card">
                        <div class="card-header card-header--nomargin card-header-gold">
                            <h4 class="card-title card-title-duplicate">
                                <i class="fal fa-sort-down"></i>
                            </h4>

                            <h4 class="card-title">
                                <i class="fal fa-question-square"></i> Quizz
                            </h4>
                        </div>

                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-9">
                                    <p>
                                        CONTENU DU QUIZZ <br>
                                        Etes-vous un bon manager ?
                                    </p>
                                </div>

                                <div class="col-md-3">
                                    <p class="text-deepmark-green">
                                        15/20
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card nested-card">
                        <div class="card-header card-header--nomargin card-header-navy">
                            <h4 class="card-title card-title-duplicate">
        						<i class="fal fa-sort-down"></i>
        					</h4>

                            <h4 class="card-title">
                                <i class="fal fa-globe"></i> Séance en ligne
                            </h4>
                        </div>

                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-9">
                                    <p>
                                        CONTENU DE LA SEANCE <br>
                                        Etes-vous un bon manager ?
                                    </p>
                                </div>

                                <div class="col-md-3">
                                    <p class="text-deepmark-green">
                                        13/20
                                    </p>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('js/charts.js') }}"></script>
{% endblock %}
