<tr class="tr--withmodal">
    <td>{{ domain.domainName }}</td>
    <td>
        <a href="{{ url('admin_skills_domain_edit', {id: domain.id}) }}">
            <i class="fal fa-pen color-header"></i>
        </a>
        <a href="{{ url('admin_skills_domain_delete', {id: domain.id}) }}">
            <i class="fas fa-trash-alt text-deepmark-red color-header"></i>
        </a>
    </td>
</tr>