{% set used_in_modules = skill.modules.count|default(false) %}
<tr class="tr--withmodal">
    <td>{{ skill.designation }}</td>
    <td class="text-center">
        {% if used_in_modules %}
            {{ 'learners.dashboard.modal.btn_yes'|trans }}
        {% else %}
            {{ 'learners.dashboard.modal.btn_no'|trans }}
        {% endif %}
    </td>
    <td class="text-center">
        {{ numTrainer[skill.id] }}
    </td>
    <td>
        <a href="{{ path('admin_skills_skill_statistics') }}?id={{ skill.id }}">
            <i class="fa fa-eye color-header"></i>
        </a>
        <a href="{{ url('admin_skills_edit', {id: skill.id}) }}">
            <i class="fal fa-pen color-header"></i>
        </a>
        {% if not used_in_modules %}
            <a href="{{ url('admin_skills_delete', {id: skill.id}) }}">
                <i class="fas fa-trash-alt text-deepmark-red color-header"></i>
            </a>
        {% endif %}
    </td>
</tr>