<!-- Ordering Template -->
<div template-id="question-drag_and_drop">
    <div class="question question-body back-ground-b" id="question-{{question_id}}">
        {# <hr style="width: 100%;margin:10px 0px" /> #}
        <h5 class="text-center color-header bold">{{ 'learners.courses.quiz.question.ordering.sub_title'|trans }}</h5>
        <div class="orderingContainer">
            <div class="row">
                <div class="text-center col-2">
                    <ul class="ordering-list-left no-padding">
                        {% set itemLoop = 0 %}
                        {% for item in items_disordered %}
                            {% if(item.status == 1) %}
                                {% set itemLoop = itemLoop+1 %}
                                <li>
                                    <span class="color-white background-color-blue">{{ itemLoop }}</span>
                                </li>
                            {% endif %}
                        {%endfor%}
                    </ul>
                </div>
                <div class="orderingOptions text-left col-10">
                    <ul class="orderingOptions">
                        {% for item in items_disordered %}
                            {% if(item.status == 1) %}
                                <li class="ui-state-default color-blue">
                                    <div class="row">
                                        <div class="quiz-ordering-left">
                                            <span><i class="fas fa-arrows-alt"></i></span>
                                            
                                        </div>
                                        <div class="quiz-ordering-right quiz-ordering-value marg-l-10 color-blue" data-value="{{item.getName()}}"><b>{{item.getName()}}</b></div>
                                    </div>
                                </li>
                            {% endif %}
                        {%endfor%}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Init Lib for each question when DOM Ready -->
<script type="text/javascript">
    $(document).ready(function () {
        quizService.ordering.init({{question_id}});
    });
</script>