<!-- QCM Template -->
<div template-id="question-qcm">
    <div class="question question-body back-ground-b" id="question-{{question_id}}">
        {# <hr style="width: 100%;margin:10px 0px" /> #}
        <h5 class="text-center bold color-header">{{ 'learners.courses.quiz.question.qcm.sub_title'|trans }}</h5>
        
        <div class="row">
            <div class="col-lg-12 qcmContainer">
                <div class="qcmOptions">
                    {% for item in items %}
                        {% if(item.status == 1) %}
                            <div class="row marg-b-10">
                                <div class="col-md-1 no-padding">
                                    <div class="quiz-float-right">
                                        <input type="checkbox" name="qcm" class="marg-t-2 border-radius-0 radio-custom" id="opt-{{question_id}}-{{ loop.index }}" value="{{item.getId()}}" />
                                    </div>
                                    <div class="quiz-float-right marg-r-10">
                                    </div>
                                </div>
                                <div class="col-md-11 text-left">
                                    <label class="lable-background" for="opt-{{question_id}}-{{ loop.index }}">{{item.getName()}}</label>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Init Lib for each question when DOM Ready -->
<script type="text/javascript">
    $(document).ready(function () {
        quizService.qcm.init({{question_id}});
    });
</script>