<!-- Text to fill Template -->
<div template-id="question-drag_and_drop">
    <div class="question question-body back-ground-b" id="question-{{question_id}}">
        {# <hr style="width: 100%;margin: 10px 0px;" /> #}
        <div class="color-header bold text-center">{{ 'learners.courses.quiz.question.text_to_fill.sub_title'|trans }}</div>
        <div class="textToFillContainer">
            {% for item in items %}
                {% if(item.status == 1) %}
                    <div class="textToFillOptions text-center">
                        {% set badges = (item.specifics_disordered is defined) ? item.specifics_disordered : ''  %}
                        {% if badges %}
                            {%for badge in badges %}
                                <span class="badge badge-info" data-match="{{ badge }}">
                                    {% autoescape "html" %}
                                        <i class="fa fa-arrows-alt"></i> {{ badge|raw }}    
                                    {% endautoescape %}
                                </span>
                            {%endfor %}
                        {% endif %}
                    </div>
                    <div class="textToFillContent marg-t-15 text-center">
                        {% autoescape "html" %}
                            {{ item.getValue()|raw }}    
                        {% endautoescape %}
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>

<!-- Init Lib for each question when DOM Ready -->
<script type="text/javascript">
    $(document).ready(function () {
        quizService.text_to_fill.init({{question_id}});
    });
</script> 