<!-- Drag And Drop Template -->
<div template-id="question-drag_and_drop">
    <div class="question question-body no-padding-left no-padding-right back-ground-b" id="question-{{question_id}}">
        {# <hr style="width: 100%;margin:10px 0px" /> #}
        <h5 class="text-center bold color-header">{{ 'learners.courses.quiz.question.drag_and_drop.sub_title'|trans }}</h5>
        
        <div class="dragAndDropContainer">
            <div class="dragAndDropOptions text-center">
                <ul class="d-flex justify-content-center">
                    {% for item in items_disordered %}
                        {% if(item.status == 1) %}
                            <li>
                                {% if item.getName() == 'image_to_image' %}
                                    <img src='/files/quiz/{{question_id}}/drag-and-drop/{{item.getSpecifics().match}}' data-type="{{item.getName()}}" alt="" class="upload-area draggable" data-match="{{item.getSpecifics().match}}" />
                                {% endif %}
                                {% if item.getName() == 'image_to_text' %}
                                    <span class="badge bold badge-info color-header font-size-14 draggable" data-type="{{item.getName()}}" data-match="{{item.getSpecifics().match}}"><br><i class="fa fa-arrows-alt font-size-22 c-black"></i><br><br>{{item.getSpecifics().match}}</span>
                                {% endif %}
                            </li>
                        {% endif %}
                    {%endfor%}
                </ul>
            </div>
            <div class="dragAndDropOptions text-center">
                <ul class="d-flex justify-content-center">
                    {% for item in items %}
                        {% if(item.status == 1) %}
                            <li class="match no-margin-right" data-type="{{item.getName()}}" data-to_match="{{item.getValue()}}">
                                <div class="upload-area droppable quiz-float-right marg-l-10 marg-r-10" id="upload-id"></div>

                                <div class="upload-area quiz-float-right">
                                    <div class="uploadShow">
                                        <img src='/files/quiz/{{question_id}}/drag-and-drop/{{item.getValue()}}' alt="" />
                                    </div>
                                </div>
                            </li>
                        {% endif %}
                    {%endfor%}
                </ul>
            </div>
        </div>
    </div>
</div>

<!-- Init Lib for each question when DOM Ready -->
<script type="text/javascript">
    $(document).ready(function () {
        quizService.drag_and_drop.init({{question_id}});
    });
</script>
