<!-- Open Template -->
<div template-id="question-drag_and_drop">
    <div class="question question-body back-ground-b" id="question-{{question_id}}">
        {# <hr class="marg-b-10" /> #}
        <div class="categoryContainer">
            <div class="categoryOptions ckeditorCustom">
                {% for item in items %}
                    {% if(item.status == 1) %}
                        {% if item.type == 'open' %}
                            {% if item.name == 'free' %}
                                <!-- ANSWER FREE -->
                                <h5 class="color-header bold text-center">{{ 'learners.courses.quiz.question.open.free.title'|trans }}</h5>
                                <textarea class="editor question-{{question_id}}-data" data-type="free" id="editor-{{question_id}}" name="" style="resize:none"></textarea>
                            {% endif %}

                            {% if item.name == 'document' %}
                                <!-- ANSWER ON DOCUMENT -->
                                <h5 class="color-header bold text-center">{{ 'learners.courses.quiz.question.open.document.title'|trans }}</h5>
                                <div class="row flex--center">
                                    {% for type in item.specifics.types %}
                                        {% if type == 'xls' %}
                                            {% set icon = 'excel' %}
                                            {% set text = 'learners.courses.quiz.question.open.document.xls' %}
                                        {% endif %}
                                        {% if type == 'doc' %}
                                            {% set icon = 'word' %}
                                            {% set text = 'learners.courses.quiz.question.open.document.doc' %}
                                        {% endif %}
                                        {% if type == 'ppt' %}
                                            {% set icon = 'powerpoint' %}
                                            {% set text = 'learners.courses.quiz.question.open.document.ppt' %}
                                        {% endif %}
                                        {% if type == 'pdf' %}
                                            {% set icon = 'pdf' %}
                                            {% set text = 'learners.courses.quiz.question.open.document.pdf' %}
                                        {% endif %}
                                        {% if type == 'img' %}
                                            {% set icon = 'image' %}
                                            {% set text = 'learners.courses.quiz.question.open.document.img' %}
                                        {% endif %}
                                        {% if type == 'video' %}
                                            {% set icon = 'video' %}
                                            {% set text = 'learners.courses.quiz.question.open.document.video' %}
                                        {% endif %}
                                        {% if type == 'audio' %}
                                            {% set icon = 'audio' %}
                                            {% set text = 'learners.courses.quiz.question.open.document.audio' %}
                                        {% endif %}
                                        <div class="pad-r-5">
                                            <button type="button" class="btn btn-sm btn-deepmark-lightblue add-{{type}}" data-question-id="{{question_id}}" data-toggle="modal" data-target="#add-{{type}}" document_type=""><i class="fa fa-file-{{icon}}"></i> {{ text |trans }}</button>
                                            <div class="text-center" id="{{type}}-{{question_id}}-preview"></div>
                                            <input type="hidden" id="{{type}}-{{question_id}}" class="question-{{question_id}}-data" data-type="document" data-file_descriptor="" />
                                        </div>
                                    {% endfor %}
                                </div> 
                            {% endif %}    

                            {% if item.name == 'template' %}
                                <!-- ANSWER ON TEMPLATE -->
                                <h5 class="color-header bold text-center">{{ 'learners.courses.quiz.question.open.template.title'|trans }}</h5>
                                <div class="row">
                                    <div class="col-md-6 text-right">
                                        <a target="_blank" href="/files/quiz/{{question.getId()}}/doc/{{item.specifics.file}}" class="btn btn-sm btn-deepmark-lightblue"><i class="fa fa-download"></i> {{ 'learners.courses.quiz.question.open.template.download'|trans }}</a>
                                        <div class="text-center" id="step-N-q-y-image-preview"></div>
                                    </div>
                                    <div class="col-md-6">
                                        <button type="button" class="btn btn-sm btn-deepmark-lightblue addTemplate" data-question-id="{{question_id}}" data-toggle="modal" data-target="#add-template" document_type=""><i class="fa fa-upload"></i> {{ 'learners.courses.quiz.question.open.template.upload'|trans }}</button>
                                        <div id="template-{{question_id}}-preview"></div>
                                        <input type="hidden" id="template-{{question_id}}" class="question-{{question_id}}-data" data-file_descriptor="" data-type="template" />
                                    </div>
                                </div>
                            {% endif %}  

                            {% if item.name == 'record' %}
                                {% for type in item.specifics.types %}
                                    {% if type == 'screencast' %}
                                        <input type="hidden" id="recording-type-{{question_id}}" data-type="screencast" />
                                        <input type="hidden" id="record-{{question_id}}" class="question-{{question_id}}-data" data-type="record" />
                                        <input type="hidden" id="recording-validate-{{question_id}}" value="0" />
                                        <!-- ANSWER W/ RECORD (VIDEO) -->
                                        <h5 class="color-header bold text-center">{{ 'learners.courses.quiz.question.open.record.title_screen'|trans }}</h5>
                                        <div class="row">
                                            <div class="col-md-3"></div>
                                            <div class="col-md-6 text-center marg-b-20">
                                                <video id="screencast" class="border-header bg-white" height="100%" controls></video>
                                            </div>
                                            <div class="col-md-3"></div>
                                            <div class="col-12 text-center">
                                                <audio id="counting-sound">
                                                    <source src="/sounds/pre-rec-screencast.mp3" type="audio/mpeg">
                                                </audio>
                                                <div class="col-md-12 text-center" id="counting" style="margin-bottom: 1rem;"></div>
                                                <button data-question-id="{{question_id}}" id="start" type="button" class="btn btn-sm btn-deepmark-green"><i class="fa fa-video"></i> {{ 'learners.courses.quiz.question.open.record.start_video'|trans }}</button>
                                                <button data-question-id="{{question_id}}" disabled id="stop" type="button" class="btn btn-sm btn-deepmark-red"><i class="fa fa-stop"></i> {{ 'learners.courses.quiz.question.open.record.stop_video'|trans }}</button>
                                                <button disabled type="button" id="replay" class="btn btn-sm btn-deepmark-lightblue playRecord"><i class="fa fa-play-circle"></i> {{ 'learners.courses.quiz.question.open.record.play_video'|trans }}</button>
                                                <div class="col-12">
                                                    <span class="badge badge-deepmark-navy" id="timer"></span>
                                                </div>
                                                <span id="error-recording-{{question_id}}" class="c-deepmark-red"></span>
                                            </div>
                                        </div>
                                    {% endif %}
                                    {% if type == 'video' %}
                                        <input type="hidden" id="recording-type-{{question_id}}" data-type="video" />
                                        <input type="hidden" id="record-{{question_id}}" class="question-{{question_id}}-data" data-type="record" />
                                        <input type="hidden" id="recording-validate-{{question_id}}" value="0" />
                                        <!-- ANSWER W/ RECORD (VIDEO) -->
                                        <h5 class="color-header bold text-center">{{ 'learners.courses.quiz.question.open.record.title_video'|trans }}</h5>
                                        <div class="row">
                                            <div class="col-6 text-center">
                                                <div class="col-12 no-padding">
                                                    <video id="video-recording-{{question_id}}" class="hide-element" playsinline autoplay muted></video>
                                                </div>
                                                <div class="col-12 text-center">
                                                    <span class="badge badge-deepmark-navy hide-element" id="video-timer-{{question_id}}">10:00</span>
                                                    <button type="button" id="start-recording-{{question_id}}" data-type="start" class="btn btn-sm btn-deepmark-green startRecording hide-element"><i class="fa fa-video"></i> {{ 'learners.courses.quiz.question.open.record.start_video'|trans }}</button>
                                                    <button type="button" id="stop-recording-{{question_id}}" class="btn btn-sm btn-deepmark-red stopRecording hide-element"><i class="fa fa-stop"></i> {{ 'learners.courses.quiz.question.open.record.stop_video'|trans }}</button>

                                                </div>
                                            </div>
                                            <div class="col-6 text-center">
                                                <div class="col-12 no-padding">
                                                    <video id="video-recorded-{{question_id}}" class="hide-element border-header bg-white" playsinline></video>
                                                </div>
                                                <div class="col-12 text-center">
                                                    <button disabled type="button" id="play-recording-{{question_id}}" class="btn btn-sm btn-deepmark-lightblue hide-element playRecord"><i class="fa fa-play-circle"></i> {{ 'learners.courses.quiz.question.open.record.play_video'|trans }}</button>
                                                </div>
                                            </div>

                                            <div class="col-12 text-center">
                                                <span id="error-recording-{{question_id}}" class="c-deepmark-red"></span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12 text-center">
                                                <button type="button" id="accept-recording-{{question_id}}" class="btn btn-lg btn-deepmark-orangelight activeWebcam"><i class="fa fa-chevron-up"></i> {{ 'learners.courses.quiz.question.open.record.accept_video'|trans }} <i class="fa fa-chevron-up"></i></button>
                                            </div>
                                        </div>

                                    {% endif %}  
                                    {% if type == 'audio' %}
                                        <input type="hidden" id="recording-type-{{question_id}}" data-type="audio" />
                                        <input type="hidden" id="record-{{question_id}}" class="question-{{question_id}}-data" data-type="record" />
                                        <input type="hidden" id="recording-validate-{{question_id}}" value="0" />
                                        <!-- ANSWER W/ RECORD (AUDIO) -->
                                        <h5 class="color-header bold text-center">{{ 'learners.courses.quiz.question.open.record.title_audio'|trans }}</h5>
                                        <div class="row">
                                            <div class="col-12 text-center">
                                                <div class="col-12">
                                                    <audio id="video-recording-{{question_id}}" class="hide-element" playsinline></audio>
                                                    <h1 class="hide-element" id="audio-recording-{{question_id}}">&nbsp;<i class="fas fa-microphone-alt c-orangelight"></i>&nbsp;</h1>
                                                </div>
                                                <div class="col-12">
                                                    <span class="badge badge-deepmark-navy hide-element" id="video-timer-{{question_id}}">10:00</span>
                                                </div>
                                                <div class="col-12">
                                                    <audio id="video-recorded-{{question_id}}" class="hide-element quiz-audio" playsinline></audio>
                                                </div>
                                            </div>

                                            <div class="col-12 text-center">
                                                <span id="error-recording-{{question_id}}" class="c-deepmark-red"></span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12 text-center">
                                                <button type="button" id="accept-recording-{{question_id}}" class="btn btn-lg btn-deepmark-orangelight activeWebcam"><i class="fa fa-chevron-up"></i> {{ 'learners.courses.quiz.question.open.record.accept_audio'|trans }} <i class="fa fa-chevron-up"></i></button>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12 text-center">
                                                <button type="button" id="start-recording-{{question_id}}" data-type="start" class="btn btn-sm btn-deepmark-green startRecording hide-element"><i class="fa fa-video"></i> {{ 'learners.courses.quiz.question.open.record.start_audio'|trans }}</button>
                                                <button type="button" id="stop-recording-{{question_id}}" class="btn btn-sm btn-deepmark-red stopRecording hide-element"><i class="fa fa-stop"></i> {{ 'learners.courses.quiz.question.open.record.stop_audio'|trans }}</button>
                                                <button type="button" id="play-recording-{{question_id}}" class="btn btn-sm btn-deepmark-lightblue hide-element playRecord"><i class="fa fa-play-circle"></i> {{ 'learners.courses.quiz.question.open.record.play_audio'|trans }}</button>
                                           </div>
                                        </div>
                                    {% endif %}  
                                {% endfor %}
                            {% endif %}  
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<!-- Init Lib for each question when DOM Ready -->
<script type="text/javascript">
    $(document).ready(function () {
        quizService.open.init({{question_id}});
    });
</script>
