<!-- Category Template -->
<style>
    .bootstrap-select{
        min-width: 100%!important;
    }
</style>
<div template-id="question-drag_and_drop">
    <div class="question question-body back-ground-b" id="question-{{question_id}}">
        <h5 class="text-center bold color-header">{{ 'learners.courses.quiz.question.category.sub_title'|trans }}</h5>
        <div class="categoryContainer">
            <div class="categoryOptions quiz-cate">
                {% for item in items %}
                    {% if(item.status == 1) %}
                        <div class="row marg-b-10">
                            <div class="col-md-8 text-right">
                                <label style="line-height: 24px; padding-right: 10px!important" class="color-header border-radius-10 pad-r-10 bold lable-background">{{item.getName()}}</label>
                            </div>
                            <div class="col-md-4">
                                <select data-style="select-with-transition" class="selectpicker">
                                    <option value="not-selected">{{ 'learners.courses.quiz.question.category.choose'|trans }}</option>
                                    {% if item.specifics.options is defined %}
                                        {% for option in item.specifics.options %}
                                                <option value="{{option}}">{{option}}</option>
                                        {% endfor %}
                                    {% endif %}
                                </select>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<!-- Init Lib for each question when DOM Ready -->
<script type="text/javascript">
    $(document).ready(function () {
        quizService.category.init({{question_id}});
    });
</script>