<!-- QCU Template -->
<div template-id="question-qcu">
    <div class="question question-body back-ground-b" id="question-{{question_id}}">
        <h5 class="color-header bold text-center">{{ 'learners.courses.quiz.question.qcu.sub_title'|trans }}</h5>
        {# <hr class="marg-b-10" /> #}
        <div class="row">
            <div class="col-lg-12 qcuContainer">
                <div class="qcuOptions">
                    {% for item in items %}
                        {% if(item.status == 1) %}
                            <div class="row marg-b-10">
                                <div class="col-md-1 no-padding">
                                    <div class="quiz-float-right">
                                        <input id="opt-{{question_id}}-{{ loop.index }}" type="radio" class="marg-t-2 radio-custom" name="question-z" value="{{item.getId()}}" />
                                    </div>
                                    <div class="quiz-float-right marg-r-10">
                                    </div>
                                </div>
                                <div class="col-md-11 text-left">
                                    <label class="lable-background" for="opt-{{question_id}}-{{ loop.index }}">{{item.getName()}}</label>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>