<!-- Scoring Template -->
{% set slider_step = 1 %}
<div template-id="question-scoring">
    <div class="question no-padding-left no-padding-right question-body quiz-scoring back-ground-b" id="question-{{question_id}}">
        <div class="row">
            <div class="col-lg-12 no-padding qcuContainer">
                <div class="scoringOptions">
                
                    {% for item in items %}
                        {% if(item.status == 1) %}
                            {% if(item.name == 'free') %}
                                {% set dec = '0.' %}
                                {% if item.specifics.dec != '' %}
                                    {% set placeholder = (item.specifics.min+item.specifics.max)/2 %}
                                    {% set placeholder = placeholder|number_format(item.specifics.dec) %}
                                    {% for i in 1..(item.specifics.dec|number_format - 1) %}
                                        {% set dec = dec ~ '0' %}
                                    {% endfor %}
                                {% elseif item.specifics.min != '' and item.specifics.max != '' %}
                                    {% set placeholder = (item.specifics.min+item.specifics.max)/2 %}
                                {% else %}
                                    {% set placeholder = '10' %}
                                {% endif %}
                                <div class="row marg-b-10 mt-1">
                                    <div class="col-12 bold color-header text-center flex-center pad-b-15">
                                        {{ 'learners.courses.quiz.question.open.scoring.free.input'|trans }}
                                    </div>
                                    <div class="col-12 no-padding text-center flex-center">
                                        <input onchange="this.style.backgroundColor=validateAns(this) ? 'white' : 'red'" step="{{ dec~'1' }}" min="{{ item.specifics.min }}" max="{{ item.specifics.max }}" data-dec="{{ item.specifics.dec }}" type="number" placeholder='{{ 'learners.courses.quiz.question.open.scoring.free.example'|trans}}{{placeholder}}' class="question-{{question_id}}-data float-left" data-type="free" pattern="^\d*(\.\d{0,{{ item.specifics.dec }})?$"  />
                                    </div>
                                    <div class="col-12 no-padding text-center flex-center">
                                        {% if item.specifics.dec == 0 %}
                                        <h5 class="float-left bold pt-2 pl-2">{{ 'learners.courses.quiz.question.open.scoring.free.sub_title'|trans|replace({'%min%': item.specifics.min, '%max%': item.specifics.max}) }}</h5>
                                        {% else %}
                                        <h5 class="float-left bold pt-2 pl-2">{{ 'learners.courses.quiz.question.open.scoring.free.sub_title_3'|trans|replace({'%min%': item.specifics.min, '%max%': item.specifics.max}) }} <i>{{ 'learners.courses.quiz.question.open.scoring.free.sub_title_2'|trans|replace({'%dec%': item.specifics.dec}) }}</i></h5>
                                        {% endif %}
                                    </div>
                                </div>
                            {% endif %}

                            {% if(item.name == 'stars') %}
                                <div class="row marg-b-10">
                                    <h5 class="text-center bold color-header col-12">{{ 'learners.courses.quiz.question.open.scoring.stars.sub_title'|trans }}</h5>
                                    <div class="col-3 text-right flex-end-center">
                                        <h3 class="no-margin bold c-red">{{item.specifics.min}}</h3>
                                    </div>
                                    <div class="col-6 no-padding-left no-padding-right text-center display-flex-center" style="justify-content: center;">
                                        {% for i in 1..item.specifics.val %}
                                            <i class="far fa-star quiz-scoring-star"></i>
                                        {%endfor%}
                                    </div>
                                    <div class="col-3 flex-start-center">
                                        <h3 class="no-margin bold c-green">{{item.specifics.max}}</h3>
                                    </div>
                                </div>
                                <input type="hidden" class="question-{{question_id}}-data" data-type="stars" />
                            {% endif %}

                            {% if(item.name == 'bubbles') %}
                                <div class="row marg-b-10">
                                    <h5 class="text-center bold color-header col-12">{{ 'learners.courses.quiz.question.open.scoring.bubbles.sub_title'|trans }}</h5>
                                    {% if item.specifics.val == 9%}
                                        {% set cols = [2, 8] %}
                                    {% elseif item.specifics.val == 7%}
                                        {% set cols = [3, 6] %}
                                    {% elseif item.specifics.val == 5%}
                                        {% set cols = [4, 4] %}
                                    {% elseif item.specifics.val == 3%}
                                        {% set cols = [4, 4] %}
                                    {% endif %}
                                    <div class="col-{{cols[0]}} justify-content-end c-red quiz-scoring-bubbles-text flex--center"><h3 class="bold no-margin">{{item.specifics.min}}</h3></div>
                                    <div class="col-{{cols[1]}} no-padding-left no-padding-right text-center">
                                        {% for i in 1..(item.specifics.val/2) %}
                                            <i class="c-red far fa-circle quiz-scoring-bubbles quiz-scoring-bubbles-pos-{{((item.specifics.val/2)-i) | round(0, 'ceil')}}"></i>
                                        {%endfor%}

                                        <i class="c-lightgray far fa-circle quiz-scoring-bubbles quiz-scoring-bubbles-pos-0"></i>

                                        {% for i in 1..(item.specifics.val/2) %}
                                            <i class="c-green far fa-circle quiz-scoring-bubbles quiz-scoring-bubbles-pos-{{i}}"></i>
                                        {%endfor%}
                                    </div>
                                    <div class="col-{{cols[0]}} c-green quiz-scoring-bubbles-text flex--center justify-content-start"><h3 class="bold no-margin">{{item.specifics.max}}</h3></div>
                                </div>
                                <input type="hidden" class="question-{{question_id}}-data" data-type="bubbles" />
                            {% endif %}

                            {% if(item.name == 'slider') %}
                                <div class="row marg-b-10 mt-1">
                                    <h5 class="text-center bold color-header col-12">{{ 'learners.courses.quiz.question.open.scoring.slider.sub_title'|trans }}</h5>
                                    <div class="col-12 text-center pad-t-20">
                                        <div class="quiz-scoring-slider-left font-size-30 color-header">
                                            <button class="btn-score">{{item.specifics.min}}</button>
                                        </div>
                                        <div class="quiz-scoring-slider-center" id="slider-{{question_id}}">
                                            <div id="quiz-scoring-slider-handle-{{question_id}}" class="ui-slider-handle quiz-scoring-slider-handle"></div>
                                        </div>
                                        <div class="quiz-scoring-slider-right font-size-30 color-header">
                                            <button class="btn-score">{{item.specifics.max}}</button>
                                        </div>
                                    </div>
                                </div>
                                <input type="hidden" class="question-{{question_id}}-data" data-type="slider" data-min="{{item.specifics.min}}" data-max="{{item.specifics.max}}" />
                                {% set slider_step = item.specifics.step %}
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Init Lib for each question when DOM Ready -->
<script type="text/javascript">
    $(document).ready(function () {
        quizService.scoring.init({{question_id}}, {{slider_step}});
    });
    function validateAns(elm){
        
        if(Number(elm.value) < Number(elm.min) || Number(elm.value) > Number(elm.max)) {
            return false
        }
        const decimal = elm.value.split('.')[1];
        if(!decimal && Number($(elm).data('dec')) != 0) {
            return false;
        }
        if(decimal && decimal.length != Number($(elm).data('dec'))) {
            return false;
        }
        return true;
        
        
    }
</script>