    <div class="col-md-12">
        <div class="row" style="border-bottom: 1px solid #DDDDDD">
            <div class="col-md-6 no-padding color-header flex--center justify-content-start bold">CATALOGUE DE FORMATION</div>
            <div class="col-md-5 pad-t-5 pad-b-5">
                <div class="row no-padding-right btn-deepmark-light border-radis-30">
                    <div class="col-md-11 marg-t-10 marg-b-10">
                        <input type="text" id="searchBestPractices"
                               class="border-0 no-padding no-margin color-header backgroud-deepmark-light w-100" width="100%">
                    </div>
                    <div class="col-md-1 flex--center">
                        <i class="fas color-header fa-search"></i>
                    </div>
                </div>
            </div>
            <div class="col-md-1 dashboard-btn no-padding flex--center justify-content-end">
                {% set soft = app.request.query.get('sort') %}
                {% set tabUrl = options["tab"] > 1 ? url('learner_catalog_index') ~ '/' ~ options["tab"] : url('learner_catalog_index') %}
                {% set sortByTitleUrl = (soft is null or soft == 'designation|asc') ? tabUrl ~ '?sort=designation|desc' : tabUrl ~ '?sort=designation|asc' %}
                {% set sortByCreatedUrl = (soft == 'created|desc') ? tabUrl ~ '?sort=created|asc' : tabUrl ~ '?sort=created|desc' %}
                <a href="{{ sortByTitleUrl }}" class="cursorPointer">
                    <object data="/new-image/derniere-activite.svg" width="35" height="35" type="image/svg+xml"></object>
                </a>
                <a href="{{ sortByCreatedUrl }}" class="cursorPointer">
                    <object data="/new-image/tri.svg" width="35" height="35" type="image/svg+xml"></object>
                </a>
                <a id="showListBtn" class="cursorPointer">
                    <object data="/new-image/vignette.svg" width="35" height="35" type="image/svg+xml"></object>
                </a>
                <a id="showMenuBtn" style="display: none" class="cursorPointer">
                    <object data="/new-image/liste.svg" width="35" height="35" type="image/svg+xml"></object>
                </a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="card-body no-padding marg-b-20">
            <div class="row" id="card-practice-list">
                {% for course in courses %}
                    <div class="col-md-3 card-practice">
                        {{ include('molecules/cards/card-course-catalog.html.twig', { row: course, type: 'card', 'isFavorite': true }) }}
                    </div>
                {% endfor %}
            </div>
            <div class="row" id="list-catalog" style="display: none;">
                <ul class="no-padding">
                    {% for course in courses %}
                        <li style="list-style-type: none;">
                            {{ include('molecules/cards/card-list-catalog.html.twig', { row: course, type: 'card', 'isFavorite': true }) }}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
<script type="text/javascript" src="{{ asset('js/catalog.js') }}"></script>
<script>
    $(document).ready(function () {
        myFavorite();
        $("#showListBtn").click(function() {
            $(this).hide();
            $("#showMenuBtn").show();
            $("#card-practice-list").hide();
            $("#list-catalog").show();
        });
        $("#showMenuBtn").click(function() {
            $(this).hide();
            $("#showListBtn").show();
            $("#card-practice-list").show();
            $("#list-catalog").hide();
        });
    });
</script>