<form class="form form-horizontal rows-align-center new-interv-step3" name="formContraint">
	<div class="row">
		<label class="col-md-4 col-lg-2 col-form-label">
			{{ 'admin.interventions.create.step3.priority'|trans }} <br>
			({{ 'admin.interventions.create.step3.resources_management'|trans }})
		</label>

		<div class="col-md-8 col-lg-10">
			<span name="priority" class="badge badge-priority badge-low inactive" data-priority="low">{{ 'admin.interventions.create.step3.low'|trans }}</span>
			<span name="priority" class="badge badge-priority badge-medium inactive" data-priority="medium">{{ 'admin.interventions.create.step3.medium'|trans }}</span>
			<span name="priority" class="badge badge-priority badge-high active" data-priority="high">{{ 'admin.interventions.create.step3.high'|trans }}</span>
		</div>
	</div>

	<div class="row">
		<label class="col-md-4 col-lg-2 col-form-label">
			{{ 'admin.interventions.create.step3.reservation_week_days'|trans }}
		</label>

		<div class="col-md-8 col-lg-10">
			<span name="day" class="badge badge-day active" data-day="1">{{ 'global.monday'|trans }}</span>
			<span name="day" class="badge badge-day active" data-day="2">{{ 'global.tuesday'|trans }}</span>
			<span name="day" class="badge badge-day " data-day="3">{{ 'global.wednesday'|trans }}</span>
			<span name="day" class="badge badge-day active" data-day="4">{{ 'global.thursday'|trans }}</span>
			<span name="day" class="badge badge-day " data-day="5">{{ 'global.friday'|trans }}</span>
			<span name="day" class="badge badge-day " data-day="6">{{ 'global.saturday'|trans }}</span>
			<span name="day" class="badge badge-day " data-day="7">{{ 'global.sunday'|trans }}</span>
		</div>
	</div>

	<div class="row">
		<label class="col-md-4 col-lg-2 col-form-label">
			{{ 'admin.interventions.create.step3.reservation_day_slots'|trans }}
		</label>

		<div class="col-md-8 col-lg-10">
			<div class="form-group">
				{{ 'global.from'|trans }}
				<select data-style="select-with-transition" name="startTimeMorning" class="selectpicker">
					<option value="1">9h</option>
					<option value="2">10h</option>
					<option value="3">11h</option>
				</select>
				{{ 'global.to'|trans }}
				<select data-style="select-with-transition" name="endTimeMorning" class="selectpicker">
					<option value="1">12h</option>
					<option value="2">13h</option>
				</select>

				{{ 'global.and'|trans }} {{ 'global.from'|trans }}
				<select data-style="select-with-transition"  name="startTimeAfternoon" class="selectpicker">
					<option value="1">12h</option>
					<option value="2">13h</option>
					<option value="3">14h</option>
					<option value="4">15h</option>
					<option value="3">16h</option>
				</select>
				{{ 'global.to'|trans }}
				<select data-style="select-with-transition" name="endTimeAfternoon" class="selectpicker">
					<option value="1">17h</option>
					<option value="2">18h</option>
					<option value="3">19h</option>
					<option value="4">20h</option>
				</select>
			</div>
		</div>
	</div>

	<div class="row">
		<label class="col-md-4 col-lg-2 col-form-label">
			{{ 'admin.interventions.create.step3.vacation_exclude'|trans }}
		</label>

		<div class="col-md-8 col-lg-10">
			<div class="form-group">
				<div class="togglebutton" name="btnTakeHolidays">
					<label>
						<input type="checkbox">
						<span class="toggle"></span>
					</label>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<label class="col-md-4 col-lg-2 col-form-label">
			{{ 'admin.interventions.create.step3.week_exclude'|trans }}
		</label>

		<div class="col-md-8 col-lg-10">
			<div class="form-group">
				<div class="togglebutton" name="btnUnTakeOtherWeek">
					<label>
						<input type="checkbox">
						<span class="toggle"></span>
					</label>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<label class="col-md-4 col-lg-2 col-form-label">
			{{ 'admin.interventions.create.step3.sequential'|trans }}
		</label>

		<div class="col-md-8 col-lg-10">
			<div class="form-group">
				<div class="togglebutton" name="btnCourseSeq">
					<label>
						<input type="checkbox">
						<span class="toggle"></span>
					</label>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-12 text-right">
			<a href="#" class="btn-lg">{{ 'buttons.back'|trans }}</a>
			<a id="btnAddConstraint" href="#" class="btn btn-md btn-deepmark-orangelight">{{ 'buttons.next'|trans }}</a>
		</div>
	</div>
</form>

<div class="new-interv-step-manual">
	{{ include('molecules/interventions/manual-selection.html.twig')}}
</div>
