	<div class="form-group row">
		<label class="col-sm-4 col-form-label" for="designationIntervention">
			{{ 'admin.interventions.create.step1.name'|trans }}
		</label>

		<div class="col-sm-8">
			<input type="text" class="form-control" name="designationIntervention" id="designationIntervention" value="{{ form.vars.data.designation }}"/>
		</div>
	</div>

	<div class="form-group row">
		<label class="col-sm-4 col-form-label">
			{{ 'admin.interventions.create.step1.client'|trans }}
		</label>
		<div class="col-sm-8 col-md-8">
			<div>
				<input type="hidden" value="{{ form.vars.data.customer.id }}" name="idClientIntervention">
				<select data-style="select-with-transition" name="clientIntervention" class="selectpicker col-5" id="clientIntervention">
                    <option value="">{{ 'admin.interventions.create.step1.choose_client'|trans }}</option>
					{% for client in clients %}
                        <option value="{{ client.id }}" {% if client.id == form.vars.data.customer.id %}selected="selected"{% endif %}>{{ client.displayName }}</option>
					{% endfor %}
				</select>
				<a href="{{ path("admin_clients_new") }}" class="btn btn-sm ml-2 btn-deepmark-navy">{{ 'admin.interventions.create.step1.add_client'|trans }}</a>
			</div>

			<div class="card card-round-bottom card-client-included col-md-8" style="display:none">
				<div class="card-body">
					<dl class="row">
						<dt class="col-md-4 col-lg-4 text-right">{{ 'admin.interventions.create.step1.organization'|trans }}</dt>
						<dd class="col-md-8 col-lg-8">
							<div class="img-container">
								<img name="logoOrga" src="{{ asset('img/Logo_BNP.png') }}" alt="">
							</div>
						</dd>

						<dt class="col-md-4 col-lg-4 text-right">{{ 'admin.interventions.create.step1.entity'|trans }}</dt>
						<dd class="col-md-8 col-lg-8" id="entityName"></dd>
					</dl>

					<div class="row">
						<div class="col-md-4 col-lg-4 text-right">
							<p>{{ 'admin.interventions.create.step1.asked_by'|trans }}</p>
						</div>

						<div class="col-md-8 col-lg-8" id="superviseur" data-id="10">
							<p class="text-deepmark-navy" id="displayNameCommanditaire"></p>

							<dl class="row">
								<dt class="col-md-4 col-lg-4">{{ 'admin.interventions.create.step1.email'|trans }}</dt>
								<dd class="col-md-8 col-lg-8" id="entityEmail"></dd>

								<dt class="col-md-4 col-lg-4">{{ 'admin.interventions.create.step1.phone'|trans }}</dt>
								<dd class="col-md-8 col-lg-8" id="entityFixedPhone"></dd>

								<dt class="col-md-4 col-lg-4">{{ 'admin.interventions.create.step1.mobile'|trans }}</dt>
								<dd class="col-md-8 col-lg-8" id="entityMobilePhone"></dd>
							</dl>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
			<div class="col-sm-4"><div class="add-file">
				<div class="input-group">
					<span class="input-group-btn" style="padding-left: 0 !important;">
						<span name="btn-file-upload" class=" btn-file-upload btn btn-deepmark-orangelight btn-file">
							{{ 'admin.interventions.create.step1.upload_icons'|trans}}
							<i class="fal fa-plus"></i><input id="iconsInputFile" type="file" name="file" data-type="icons" data-id="icons" class="inputUploadFile" single>
						</span>
					</span>
				</div>
			</div>
			</div>
			<div class="col-sm-8">
				<label for="Instruction">{{ 'admin.interventions.create.step1.instructions'|trans}}</label>
				<div class="col-sm-12 col-md-4">
						<textarea name="name" rows="5" cols="40" class="intervObs" style="resize:none">
							{{ form.vars.data.comment }}
						</textarea>
				</div>
			</div>
	</div>
	<div class="row optionDate">
		<div class="col-sm-6 offset-lg-2 col-xl-2 col-lg-3 col-md-6">
			<div class="form-group datepicker-group">
				<label for="startDate">{{ 'admin.interventions.create.step1.start'|trans }}</label>

				<div class="input-group">
					<input id="startDate" type="text" class="form-control datepicker" value="{{ form.vars.data.beginning|date("d/m/Y") }}" autocomplete="off">

					<div class="input-group-append">
						<span class="input-group-text"><i class="fal fa-calendar-alt"></i></span>
					</div>
				</div>
          	</div>
		</div>

		<div class="col-sm-6 col-xl-2 col-lg-3 col-md-6">
			<div class="form-group datepicker-group">
				<label for="endDate">{{ 'admin.interventions.create.step1.end'|trans }}</label>

				<div class="input-group">
					<input id="endDate" type="text" class="form-control datepicker" value="{{ form.vars.data.ending|date("d/m/Y") }}" autocomplete="off">

					<div class="input-group-append">
						<span class="input-group-text"><i class="fal fa-calendar-alt"></i></span>
					</div>
				</div>
          	</div>
		</div>
	</div>

	<div class="row">
		<div class="col-xl-3 order-xl-2 store-step-1">
			{{ include('molecules/interventions/store.html.twig', { 'generalCat': true }) }}
		</div>

		<div class="col-xl-9 order-xl-1">
			<div class="table-responsive">
				<table class="table interv-new-table">
					<thead>
						<tr>
							<th>{{ 'admin.interventions.create.step1.content'|trans }}</th>
							<th>{{ 'admin.interventions.create.step1.quantity'|trans }}</th>
							<th>{{ 'admin.interventions.create.step1.duration'|trans }}</th>
							<th>{{ 'admin.interventions.create.step1.unit_price'|trans }}</th>
							<th>{{ 'admin.interventions.create.step1.total_price'|trans }}</th>
							<th>

							</th>
						</tr>
					</thead>

					<tbody class="sortable-rows">
					{% for module in form.vars.data.modules %}
						{{ include('molecules/interventions/step1-row.html.twig', {
							'id': module.id,
							'color': module.storedModule.color,
							'icon': module.storedModule.icon,
							'title': module.storedModule.designation,
							'displayTitle': module.storedModule.designation,
							'delete': true,
							'data': module
						}) }}
					{% endfor %}
					</tbody>
				</table>
			</div>

			<div class="price-result">
				<h3 class="text-center">
					{{ 'admin.interventions.create.step1.total_budget'|trans }} : <span class="badge badge-deepmark-lightgray budgetPrice"></span>
					<button type="button" name="createQuotation" class="btn btn-navy">{{ 'admin.interventions.create.step1.generate_quotation'|trans }}</button>
				</h3>
			</div>

			<div class="row">
				<div class="col-12 text-right">
					<a href="{{ path('admin_interventions_index') }}">{{ 'admin.interventions.create.step1.cancel'|trans }}</a>
					<button type="button" class="btn btn-deepmark-orangelight" id="initIntervention" name="btnInitInt">{{ 'admin.interventions.create.step1.next'|trans }}</button>
				</div>
			</div>
		</div>
	</div>

<table class="mod-skeleton">
	{{ include('molecules/interventions/step1-row.html.twig', {
		'id': 0,
		'color': '',
		'icon': '',
		'title': '',
		'displayTitle': ''
	}) }}
</table>

<div class="mod-skeleton">
	{{ include('molecules/interventions/step1-group-conditions.html.twig') }}
</div>
