<div class="new-interv-step4">
	<p>
		{{ 'admin.interventions.create.step4.timeline_text'|trans }}
	</p>

	<div class="card card-timeline">
		<div class="card-body">
			<div class="load-timeline"></div>

			<div class="timeline-gradient"></div>

			<div class="row timeline-btn-row">
				<div class="col-md-3">
					<a href="#" class="btn btn-deepmark-navy sidebtn">{{ 'admin.interventions.create.step4.increase_start_week'|trans }} <small>({{ 'admin.interventions.create.step4.duration_increase'|trans }})</small></a>
					<a href="#" class="btn btn-deepmark-navy sidebtn">{{ 'admin.interventions.create.step4.decrease_start_week'|trans }} <small>({{ 'admin.interventions.create.step4.duration_decrease'|trans }})</small></a>
				</div>

				<div class="col-md-3">
					<a href="#" class="btn btn-deepmark-navy sidebtn">{{ 'admin.interventions.create.step4.increase_all_week'|trans }}</a>
				</div>

				<div class="col-md-3">
					<a href="#" class="btn btn-deepmark-navy sidebtn">{{ 'admin.interventions.create.step4.decrease_all_week'|trans }} </a>
				</div>

				<div class="col-md-3">
					<a href="#" class="btn btn-deepmark-navy sidebtn">{{ 'admin.interventions.create.step4.increase_end_week'|trans }} <small>({{ 'admin.interventions.create.step4.duration_decrease'|trans }})</small></a>
					<a href="#" class="btn btn-deepmark-navy sidebtn">{{ 'admin.interventions.create.step4.decrease_end_week'|trans }} <small>({{ 'admin.interventions.create.step4.duration_increase'|trans }})</small></a>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-lg-9">
			<div class="card">
				<div class="card-body">
					<h4 class="text-deepmark-green">{{ 'admin.interventions.create.step4.calcul_details'|trans }}</h4>

					<div class="row calcul-row">
						<div class="col-md-4">
							<ul id="skillNeeds">
								<li></li>
							</ul>
						</div>

						<div class="col-md-4">
							<ul id="trainerRequired">
								<li></li>
							</ul>

							<a href="#" class="btn btn-deepmark-navy btn-sm">{{ 'admin.interventions.create.step4.habilitate'|trans }} <span id="nbMoreTrainer"></span>{{ 'global.trainer'}}</a>
						</div>

						<div class="col-md-4">
							<ul id="trainerAsked">
								<li></li>
							</ul>

							<a href="#" class="btn btn-deepmark-navy btn-sm btnReduceConstraint">{{ 'admin.interventions.create.step4.constraints_reduce'|trans }}</a>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="col-lg-3">
			<div class="card">
				<div class="card-body">
					<h4 class="text-deepmark-green text-center">{{ 'admin.interventions.create.step4.resources_management'|trans }}</h4>
					<button type="button" name="button" class="btn sidebtn btn-deepmark-green btn-trigger-validation">
						{{ 'admin.interventions.create.step4.application_managed'|trans}}
					</button>
					<a href="#" class="btn btn-deepmark-orangelight sidebtn manual-select-btn">{{ 'admin.interventions.create.step4.manual_managed'|trans }}</a>
				</div>
			</div>
		</div>
	</div>
</div>
