<div class="row">
	<div class="col-xl-11 order-xl-1">
		<h4 class="step2-title">
			<div class="step2-title-icon">
				<i class="fal fa-user-graduate"></i>
			</div>
			{{ 'admin.interventions.create.step2.definition'|trans }}
		</h4>

		<input type="hidden" value="" id="idIntervention">
		<ol class="sortable-cards" name="inProgressList">
			{% for module in form.vars.data.modules %}
				{% if module.storedModule.appId == constant('\\ApiBundle\\Entity\\StoredModule::PRESENTATION_ANIMATION') %}
					<li class="animation">
						{{ include('molecules/cards/card-animation.html.twig', {'data': module}) }}
					</li>
				{%  elseif module.storedModule.appId == constant('\\ApiBundle\\Entity\\StoredModule::ONLINE_WORKSHOP') %}
					<li class="atelier">
						{{ include('molecules/cards/card-atelier.html.twig', {'data': module}) }}
					</li>
				{%  elseif module.storedModule.appId == constant('\\ApiBundle\\Entity\\StoredModule::ELEARNING') %}
					<li class="elearning">
						{{ include('molecules/cards/card-elearning.html.twig', {'data': module }) }}
					</li>
				{%  elseif module.storedModule.appId == constant('\\ApiBundle\\Entity\\StoredModule::ONLINE') %}
					<li class="onlineseance">
						{{ include('molecules/cards/card-onlineseance.html.twig', { editable: true, 'data': module }) }}
					</li>
				{%  elseif module.storedModule.appId == constant('\\ApiBundle\\Entity\\StoredModule::QUIZ') %}
					<li class="quiz">
						{{ include('molecules/cards/card-quizz.html.twig', { 'data': module }) }}
					</li>
				{%  elseif module.storedModule.appId == constant('\\ApiBundle\\Entity\\StoredModule::VIRTUAL_CLASS') %}
					<li class="virtualclass">
						{{ include('molecules/cards/card-virtualclass.html.twig', { 'data': module }) }}
					</li>
				{% endif %}
			{% endfor %}
		</ol>
	</div>
</div>

<div class="row">
	<div class="col-12 text-right">
		<a href="#" id="btnBackFirstStep">{{ 'buttons.back'|trans }}</a>
		<a href="#" class="btn btn-deepmark-orangelight" id="btnValidationCourse">{{ 'buttons.validate_plan'|trans }}</a>
	</div>
</div>

<div class="mod-skeletons-full" style="display: none;">
	<div class="animation">
		{{ include('molecules/cards/card-animation.html.twig') }}
	</div>

	<div class="atelier">
		{{ include('molecules/cards/card-atelier.html.twig') }}
	</div>

	<div class="elearning">
		{{ include('molecules/cards/card-elearning.html.twig') }}
	</div>

	<div class="exercice">
		{{ include('molecules/cards/card-exercice.html.twig') }}
	</div>

	<div class="onlineseance">
		{{ include('molecules/cards/card-onlineseance.html.twig', { editable: true }) }}
	</div>

	<div class="quiz">
		{{ include('molecules/cards/card-quizz.html.twig') }}
	</div>

	<div class="virtualclass">
		{{ include('molecules/cards/card-virtualclass.html.twig') }}
	</div>


  	<div class="form-group datepicker-group input-session-date">
  		<div class="row">
  			<label class="col-md-3 col-form-label">Second date
	  			<div class="col-md-9">
	  				<div class="input-group">
							<input id="secondDate" type="text" class="form-control datepicker dateSession" value="10/06/2018">

							<div class="input-group-append">
								<span class="input-group-text"><i class="fal fa-calendar-alt"></i></span>
							</div>
						</div>
	  			</div>
				</label>
  		</div>
  	</div>
</div>
