<div class="row">
  <div class="col-md-10">
    <p>
      {{ 'admin.interventions.create.step3.manual_selection'|trans }}
    </p>

    <div class="form-check">
      <div class="row">
        <div class="col-6 text-right">
          {{ 'admin.interventions.create.step3.sequential'|trans }}
        </div>

        <div class="col-6">
          <label class="form-check-label">
            <input class="form-check-input" type="checkbox" value="" checked="checked">
            <span class="form-check-sign">
              <span class="check"></span>
            </span>
          </label>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-7">
        <h6>{{ 'admin.interventions.create.step3.needed_skills'|trans }} :</h6>

        <div class="card">
          <div class="card-header card-header--nomargin card-header-orangelight">
            <h4 class="card-title card-title-duplicate">
              0/12
            </h4>

            <h4 class="card-title">
              MG Management
            </h4>
          </div>

          <div class="card-body">
            <p>
              <strong>12</strong> {{ 'admin.interventions.create.step3.needed_resources'|trans }}
            </p>
          </div>
        </div>

        <div class="card">
          <div class="card-header card-header--nomargin card-header-orangelight">
            <h4 class="card-title card-title-duplicate">
              0/6
            </h4>

            <h4 class="card-title">
              DP Développement personnel
            </h4>
          </div>

          <div class="card-body">
            <p>
              <strong>6</strong> {{ 'admin.interventions.create.step3.needed_resources'|trans }}
            </p>
          </div>
        </div>
      </div>

      <div class="col-md-5">
        <p class="livetrainers-select">
          <i class="livetrainers-btn fal fa-user-plus text-deepmark-navy"></i>
          {{ 'admin.interventions.create.step3.trainers_selection'|trans }}
        </p>

        <div class="livetrainers-card card">
          <div class="card-header">
            <h6 class="text-center">{{ 'admin.interventions.create.step3.trainers_habilitated'|trans }}</h6>
            <p class="text-deepmark-orangelight text-center">
              Management
            </p>
          </div>

          <div class="card-body">
            <div class="livetrainers-list">
              <div class="livetrainers-list__item">
                <div class="form-check">
                  <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" value="">
                    <span class="form-check-sign">
                      <span class="check"></span>
                    </span>
                  </label>
                </div>

                <div class="img-container">
                  <img src="{{ asset('img/default-avatar.png') }}" alt="">
                </div>

                <div class="livetrainers-list__item-desc">
                  <p>
                    <strong>Myriam MARNET</strong> <br>
                    56 séances depuis 18 mois <br>
                    {{ include('molecules/widgets/ratings.html.twig', { max: 5, grade: 5 }) }}
                  </p>
                </div>
              </div>

              <div class="livetrainers-list__item">
                <div class="form-check">
                  <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" value="">
                    <span class="form-check-sign">
                      <span class="check"></span>
                    </span>
                  </label>
                </div>

                <div class="img-container">
                  <img src="{{ asset('img/default-avatar.png') }}" alt="">
                </div>

                <div class="livetrainers-list__item-desc">
                  <p>
                    <strong>Myriam MARNET</strong> <br>
                    56 séances depuis 18 mois <br>
                    {{ include('molecules/widgets/ratings.html.twig', { max: 5, grade: 5 }) }}
                  </p>
                </div>
              </div>

              <div class="livetrainers-list__item">
                <div class="form-check">
                  <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" value="">
                    <span class="form-check-sign">
                      <span class="check"></span>
                    </span>
                  </label>
                </div>

                <div class="img-container">
                  <img src="{{ asset('img/default-avatar.png') }}" alt="">
                </div>

                <div class="livetrainers-list__item-desc">
                  <p>
                    <strong>Myriam MARNET</strong> <br>
                    56 séances depuis 18 mois <br>
                    {{ include('molecules/widgets/ratings.html.twig', { max: 5, grade: 5 }) }}
                  </p>
                </div>
              </div>

              <div class="livetrainers-list__item">
                <div class="form-check">
                  <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" value="" >
                    <span class="form-check-sign">
                      <span class="check"></span>
                    </span>
                  </label>
                </div>

                <div class="img-container">
                  <img src="{{ asset('img/default-avatar.png') }}" alt="">
                </div>

                <div class="livetrainers-list__item-desc">
                  <p>
                    <strong>Myriam MARNET</strong> <br>
                    56 séances depuis 18 mois <br>
                    {{ include('molecules/widgets/ratings.html.twig', { max: 5, grade: 5 }) }}
                  </p>
                </div>
              </div>

              <div class="livetrainers-list__item">
                <div class="form-check">
                  <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" value="">
                    <span class="form-check-sign">
                      <span class="check"></span>
                    </span>
                  </label>
                </div>

                <div class="img-container">
                  <img src="{{ asset('img/default-avatar.png') }}" alt="">
                </div>

                <div class="livetrainers-list__item-desc">
                  <p>
                    <strong>Myriam MARNET</strong> <br>
                    56 séances depuis 18 mois <br>
                    {{ include('molecules/widgets/ratings.html.twig', { max: 5, grade: 5 }) }}
                  </p>
                </div>
              </div>

              <div class="livetrainers-list__item">
                <div class="form-check">
                  <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" value="" >
                    <span class="form-check-sign">
                      <span class="check"></span>
                    </span>
                  </label>
                </div>

                <div class="img-container">
                  <img src="{{ asset('img/default-avatar.png') }}" alt="">
                </div>

                <div class="livetrainers-list__item-desc">
                  <p>
                    <strong>Myriam MARNET</strong> <br>
                    56 séances depuis 18 mois <br>
                    {{ include('molecules/widgets/ratings.html.twig', { max: 5, grade: 5 }) }}
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div class="card-footer">
            <button class="btn btn-deepmark-orangelight btn-sm">{{ 'buttons.select'|trans }}</button>
            <p>
              <a href="#">{{ 'admin.interventions.create.step3.other_resources_habilitate'|trans }}</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-2">
    <p class="text-deepmark-red">
      <strong>{{ 'global.warning'|trans }}</strong>
    </p>

    <p class="text-deepmark-red">
      {{ 'admin.interventions.create.step3.warning_1'|trans }} <br>
      {{ 'admin.interventions.create.step3.warning_2'|trans }}
    </p>
  </div>
</div>

<p class="text-right">
  <a href="#" id="btnBackSecondStep" class="btn btn-deepmark-navy">{{ 'buttons.back'|trans }}</a>
  <a id="btnAddConstraint" href="# type="submit" class="btn btn-deepmark-orangelight">{{ 'admin.interventions.create.step3.validate_config'|trans }}</a>
</p>
