<div class="ratings-modal-content">
	<a href="#" class="ratings-modal-close"><i class="fa fa-times"></i></a>

	<table class="table">
		<tr class="background-white">
			<td>
				<strong>1</strong> <i class="fal fa-box-open"></i> Module e-learning
			</td>

			<td>
				Se préparer à une prise de poste manager
			</td>

			<td>
				1h
			</td>

			<td>
				<a href="#"><i class="fal fa-file"></i></a>
			</td>

			<td>
				{{ include('molecules/widgets/student-progress.html.twig', { percent: 50, displayText: false }) }}
				50%
			</td>

			<td>
				{{ include('molecules/widgets/ratings.html.twig', { grade: 5, max: 5 }) }}
				4,5
			</td>

			<td>
				Pas d'alerte
			</td>
		</tr>
	</table>


	<div class="row">
		<div class="col-lg-5">
			<h4 class="text-center">{{ 'ÉVALUATION DU MODULE'|trans }}</h4>
			<h5 class="text-center text-deepmark-orangelight">{{ 'Par les apprenants'|trans }}</h5>

			<div class="ratings-list">
				<div class="ratings-list__item">
					{{ include('molecules/widgets/ratings.html.twig', { max: 5, grade: 5 }) }}
					<span>100</span>
					{{ include('molecules/widgets/student-progress.html.twig', { percent: 100, displayText: false }) }}
				</div>

				<div class="ratings-list__item">
					{{ include('molecules/widgets/ratings.html.twig', { max: 5, grade: 3 }) }}
					<span>80</span>
					{{ include('molecules/widgets/student-progress.html.twig', { percent: 80, displayText: false }) }}
				</div>

				<div class="ratings-list__item">
					{{ include('molecules/widgets/ratings.html.twig', { max: 5, grade: 4 }) }}
					<span>60</span>
					{{ include('molecules/widgets/student-progress.html.twig', { percent: 60, displayText: false }) }}
				</div>

				<div class="ratings-list__item">
					{{ include('molecules/widgets/ratings.html.twig', { max: 5, grade: 1 }) }}
					<span>40</span>
					{{ include('molecules/widgets/student-progress.html.twig', { percent: 40, displayText: false }) }}
				</div>
			</div>
		</div>

		<div class="col-lg-7">
			<div class="ratings-card card">
				<div class="card-body">
					<h4 class="text-center">{{ 'COMMENTAIRES'|trans }}</h4>
					<h5 class="text-center text-deepmark-orangelight">9 {{ 'apprenants ont laissé un commentaire'|trans }}</h5>

					<div class="ratings-card__item">
						<div class="row">
							<div class="col-lg-6">
								<p>
									<strong>Myriam MARNET</strong><br>
									56 séances depuis 18 mois<br>
									"Lorem ipsum dolor sic amet, consectuetur adispisinc elit, sed diam nonmummy nibh euismod tincidunt ut laoret."
								</p>
							</div>

							<div class="col-lg-6">
								<a href="#" class="btn btn-deepmark-navy">Son évaluation détaillée du module</a>
							</div>
						</div>
					</div>

					<div class="ratings-card__item">
						<div class="row">
							<div class="col-lg-6">
								<p>
									<strong>Myriam MARNET</strong><br>
									56 séances depuis 18 mois<br>
									"Lorem ipsum dolor sic amet, consectuetur adispisinc elit, sed diam nonmummy nibh euismod tincidunt ut laoret."
								</p>
							</div>

							<div class="col-lg-6">
								<a href="#" class="btn btn-deepmark-navy">Son évaluation détaillée du module</a>
							</div>
						</div>
					</div>

					<div class="ratings-card__item">
						<div class="row">
							<div class="col-lg-6">
								<p>
									<strong>Myriam MARNET</strong><br>
									56 séances depuis 18 mois<br>
									"Lorem ipsum dolor sic amet, consectuetur adispisinc elit, sed diam nonmummy nibh euismod tincidunt ut laoret."
								</p>
							</div>

							<div class="col-lg-6">
								<a href="#" class="btn btn-deepmark-navy">Son évaluation détaillée du module</a>
							</div>
						</div>
					</div>

					<div class="ratings-card__item">
						<div class="row">
							<div class="col-lg-6">
								<p>
									<strong>Myriam MARNET</strong><br>
									56 séances depuis 18 mois<br>
									"Lorem ipsum dolor sic amet, consectuetur adispisinc elit, sed diam nonmummy nibh euismod tincidunt ut laoret."
								</p>
							</div>

							<div class="col-lg-6">
								<a href="#" class="btn btn-deepmark-navy"></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
