<div class="form-group form-group-condition">
	<p>
		if

		<select class="selectpicker" data-style="select-with-transition">
			<option value="1">{{ 'admin.interventions.create.step1.offset'|trans }} / {{ 'admin.interventions.create.step1.postponed'|trans }}</option>
			<option value="2">{{ 'admin.interventions.create.step1.canceled'|trans }}</option>
		</select>

		{{ 'admin.interventions.create.step1.unless'|trans }} <input type="text" class="form-control form-control-txt" value="1" >

		<select class="selectpicker" data-style="select-with-transition" >
			<option value="1">{{ 'admin.interventions.create.step1.weeks'|trans }}</option>
			<option value="2">{{ 'admin.interventions.create.step1.days'|trans }}</option>
			<option value="3">{{ 'admin.interventions.create.step1.month'|trans }}</option>
		</select>

		{{ 'admin.interventions.create.step1.then_charged'|trans }} <input type="text" class="form-control form-control-txt" value="100">
		{{ 'admin.interventions.create.step1.percent_fare'|trans }}
	</p>
</div>
