{% trans_default_domain 'FOSUserBundle' %}
<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
<form method="POST" action="{{ path("fos_user_security_check") }}" autocomplete="off" role="presentation" class="form form--login marg-t-100">
    <div class="card card-login">
        <div class="card-header text-center pad-t-30 ">
            <div class="bg-white col-md-12">
                {% include 'atoms/images/logo.html.twig' %}
            </div>
        </div>
        <div class="card-body">
            {% block cardbody %}
                <div class="col-md-12 text-center no-padding" style="margin-bottom: 20px;">
                    <h2 style="color:#fff; font-size: 27px; font-weight: 900; line-height: normal!important;" > {{ 'security.login.welcome_to'|trans }} </h2>
                </div>
                <div class="col-md-12 no-padding row ">
                    {% if error %}
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                            {{ error.messageKey|trans(error.messageData, 'security') }}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    {% endif %}

                    {% if csrf_token %}
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>
                    {% endif %}

                    <div class="input-group  row" style="background-color: #fff;">
                        <div class="col-md-12 no-padding">
                            <span  style="position:absolute; left:10px;top:10px;color: #72A5E5;font-size: 20px;" class="input-group-addon"><i class="fas fa-user"></i></span>
                            <input style="padding-left: 50px; height: 48px;color: #72A5E5;background: none!important;padding-top: 0.5rem !important;" type="text" class="form-control" id="username" name="_username" value="{{ last_username }}"
                                   required="required" autocomplete="off" placeholder="{{ 'security.login.username'|trans }}">
                        </div>
                    </div>

                    <div class="input-group col-md-12 no-padding wrap-content" style="background-color: #fff">
                        <div class="col-md-10 no-padding" style="width: unset!important;" >
                            <span style="position:absolute; left:10px;top:10px; color: #72A5E5; font-size: 20px;" class="input-group-addon"><i class="fas fa-lock"></i></span>
                            <input style="padding-left: 50px; height: 48px;color: #72A5E5;background: none!important;padding-top: 0.5rem!important;" type="password" class="form-control" id="password" name="_password" required="required"
                                   autocomplete="off" placeholder="{{ 'security.login.password'|trans }}"
                                   aria-label="Mot de passe">
                        </div>
                        <div class="col-md-2 no-padding flex--center"   style="width: unset!important;">
                            <a style=" color: #72A5E5; font-size: 20px;" class="input-group-addon pointer padding-icon">
                                <i toggle="#password" class="fa fa-fw fa-eye field-icon toggle-password"></i>
                            </a>
                        </div>
                    </div>

                </div>
                <div class=' col-md-12 flex--center no-padding'>
                    <div class="col-md-6 no-padding">
                        <div class="form-check text-center my-4" style="text-align: left!important;" >
                            <label class="form-check-label" for="remember_me" style="color: #fff!important; font-weight: 900">
                                <input class="form-check-input" type="checkbox" value="on" checked id="remember_me"
                                       name="_remember_me"> {{ 'security.login.remember_me'|trans }}
                                <span class="form-check-sign">
                                <span class="check"></span>
                            </span>
                            </label>
                        </div>
                    </div>
                    <div class="col-md-6 no-padding">
                        <p style="font-weight: 900" class="text-right  my-4">
                            <a href="{{ url('fos_user_resetting_request') }}"
                               class="forgot-link">{{ 'security.login.forgot_password'|trans }}</a>
                        </p>
                    </div>
                </div>
            {% endblock %}
        </div>

        <div class="card-footer">
            {% block cardfooter %}
                <div class="col-md-12 no-padding" style="margin-bottom: 15px;">
                    <button style="text-transform: capitalize; height: 48px;" type="submit" id="_submit"
                            class="btn btn-deepmark-orangelight btn-block">{{ 'security.login.submit'|trans }} !</button>
                </div>

            {% endblock %}
        </div>
    </div>
</form>
<script src="{{ asset('js/lib/material/core/jquery.min.js') }}" type="text/javascript"></script>
<script>
    $(document).ready(function () {
        $(".toggle-password").click(function() {
            $(this).toggleClass("fa-eye fa-eye-slash");
            var input = $($(this).attr("toggle"));
            if (input.attr("type") == "password") {
                input.attr("type", "text");
            } else {
                input.attr("type", "password");
            }
        });
    });
</script>