{#
    Wraps a icon with a box - display a text under
    Needs icon [font-awesome reference] and txt
#}

<div class="icon-box">
    <div class="icon-box__icon-wrapper">
        <i class="fal fa-{{ icon }} icon-box__icon"></i>
    </div>

    <p class="icon-box__txt no-margin">
        {{ txt }}
    </p>
</div>
