{#
    Display a list of icon-box
#}

<div class="icon-box-list">
    {% for box in boxes %}
        {{ include('molecules/tools/icon-box.html.twig', { icon: box.icon, txt: box.txt }) }}
    {% endfor %}
</div>
