{#
    Wraps a icon with a box - display a text under
    Needs icon [font-awesome reference] and txt
#}

<div class="icon-box" style="">
    <div class="icon-box__icon-wrapper" style=" background-image: linear-gradient(to top, #000 0%, rgba(0,0,0,0) 100%);">
        <i class="fal fa-{{ icon }} icon-box__icon"></i>
    </div>

</div>
