@import "quiz-client";
.tab-pane p {
  padding: 0 !important;
}
#quiz-step-resume {
  .questionList {
    .row {
      margin-bottom: 8px;
    }
  }
}
.dragAndDropOptions .upload-area-info {
  border: 4px solid;
  border-color: #268afe;
}
.swal2-modal.swal2-show.popup-quiz {
  width: 800px !important;
}
.margin-at {
  margin: auto;
}
.quiz-scoring-star {
  font-size: 2em !important;
}
.filter-option-inner-inner {
  color: black !important;
}
.quiz-cate .bootstrap-select .dropdown-item.active {
  background: #ffffff;
}
.custome-checkbox {
  opacity: 1;
  height: 20px;
  width: 20px;
  position: absolute;
  left: -1px;
  top: -1px;
}
.custom-text > * {
  font-size: 1em;
}
#detail-quiz-modal {
  .modal-dialog {
    max-width: 1000px;
    .fas.fa-eye {
      display: none;
    }
  }
}
.text-initial {
  text-transform: initial;
}
.ordering-span {
  float: left;
  width: 15px;
}
.padding-right {
  padding-right: 4px;
}
.swal2-modal {
  .swal2-content {
    position: static;
  }
  .point {
    position: absolute;
    right: 25%;
    top: 50px;
  }
  span.marker {
    font-weight: bold;
    text-decoration: underline;
  }
  .swal2-success {
    .placeholder {
      border: 4px solid rgb(165, 220, 134);
    }
  }
}
.message {
  background-color: #e5f0fc !important;
  padding: 20px 0px;
  h4 {
    font-size: 1.3em;
    font-weight: bold;
  }
}
.ckeditorCustom {
  .cke_contents {
    height: 150px !important;
  }
}
.question-quiz-title {
  height: 180px;
  b {
    margin: 0 !important;
  }
  p {
    padding: 0 !important;
    margin: 0 !important;
  }
}
.back-ground-b {
  background: #eef3fc !important;
}
.margin-30 {
  margin-left: -30px;
  margin-right: -30px;
}
.margin-15 {
  margin-left: -15px;
  margin-right: -15px;
}

.lable-background {
  background: white;
  padding: 5px;
  color: $deepmark !important;
}
.flex-end-center {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.flex-center {
  display: flex;
  justify-content: center;
}
.flex-start-center {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.translate {
  position: absolute;
  transform: translate(-50%, 50%);
  left: 50%;
  width: 100%;
}
.radio-custom {
  -webkit-appearance: none;
  -moz-appearance: none;
  display: inline-block;
  width: 30px;
  height: 30px;
  padding: 0px !important;
  background-clip: content-box;
  border: 2px solid #0076fe;
  background-color: #ffffff;
  border-radius: 50%;
}
.radio-custom:checked {
  background-color: #0076fe !important;
  padding: 4px !important;
}
.radio-custom-green {
    -webkit-appearance: none;
    -moz-appearance: none;
    display: inline-block;
    width: 30px;
    height: 30px;
    padding: 0px !important;
    background-clip: content-box;
    border: 2px solid #22aa73;
    background-color: #ffffff;
    border-radius: 50%;

}
.radio-custom-green:checked {
    background-color: #22aa73 !important;
    padding: 4px !important;
}
$border-radius: 5px;
$deepmark-black: #333333;

.scoringOptions {
    display: flex;
    flex-direction: row;
    justify-content: center;
    .aw-green {
        background-color: #22aa73;
        color: white;
        font-size: 2rem;
        padding: 1rem;
    }
    .res-blue {
        background-color: #0076fe;
        color: white;
        font-size: 2rem;
        padding: 1rem;
    }
}

.error-class {
  background-color: #c10e1a;
}
.margin-top-20 {
  margin-top: 20px;
}
.question-boxe {
  background: #eef3fc;
}
.p-top-10 {
  padding-top: 10px;
}
.p-top-botom-10 {
  padding: 10px 0px;
}
.display-inline {
  display: inline;
}
#quiz-start-timer {
  span {
    border-radius: 100%;
    width: 2em;
    height: 2em;
    display: inline-block;
    position: relative;
    color: #68d2f1;
    border: 3px solid;
  }
  b {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
#detail-quiz-modal {
    .modal-title {
        background-color: rgb(1, 118, 255);
        padding-top: 15px;
        color: white;
        padding-bottom: 15px;
    }
    .line-thougth {
        text-decoration: line-through;
        text-decoration-color: red;
    }
    input[type="radio"] {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        display: inline-block;
        width: 15px;
        height: 15px;
        padding: 1px;
        background-clip: content-box;
        // border: 2px solid #000000;
        // background-color: #e7e6e7;
        border-radius: 50%;
    }

  /* appearance for checked radiobutton */
  // input[type="radio"]:checked {
  //     background-color: #0e63ff;
  // }

    // .radio-true{
    //     input[type="radio"]:checked {
    //         background-color: #0e63ff!important;
    //     }
    // }

    // .radio-false{
    //     input[type="radio"]:checked {
    //         background-color: red!important;
    //     }
    // }

    // .checkbox-true {
    //     .form-check .form-check-input[disabled][checked] + .form-check-sign .check {
    //         background-color: #0e63ff !important;
    //         opacity: 0.5;
    //     }
    // }
    .checkbox-false {
        .form-check .form-check-input[disabled][checked] + .form-check-sign .check {
            background-color: #0e63ff !important;
            opacity: 0.5;
        }
    }
    .notation-my-res-check { 
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}
#questions-list {
  clear: both;
  list-style: none;
  padding: 0;

  .question {
    counter-increment: inst;
    .question-header h5::before {
      content: counter(inst) ".";
      display: inline-block;
      margin-right: 5px;
    }
  }
  .question.question-body {
    background: #eef3fc;
    img {
      min-height: 165px;
      max-height: 165px;
    }
  }
}
#quiz-step-resume {
  .header-result {
    background: #c10e1a;
  }
}
.question-multiple_choice > .question-header,
.btn-multiple_choice {
  background: $deepmark-green;
}

.question-single_choice > .question-header,
.btn-single_choice {
  background: $deepmark-darkgreen;
}

.question-drag_and_drop > .question-header,
.btn-drag_and_drop {
  background: $deepmark-orangelight;
}

.question-ordering > .question-header,
.btn-ordering {
  background: $deepmark-gold;
}

.question-category > .question-header,
.btn-category {
  background: $deepmark-navy;
}

.question-text_to_fill > .question-header,
.btn-text_to_fill {
  background: $deepmark-blue;
}

.tab-pane p.first-child {
  padding: 0px;
}
.question {
  &.single span.checkbox {
    border-radius: 50%;
  }

  .option-min {
    width: 60px;
  }
  .option-medium {
    width: 134px;
  }
  input[type="text"].option-medium {
    border-radius: 5px;
    padding: 7.5px 5px;
    max-width: 134px;
    text-align: center;
    border: 1px solid $deepmark-gold;
  }

  label {
    color: lighten($deepmark-black, 10);
  }

  .badge-actionable {
    cursor: pointer;
  }
  .badge-actionable.active {
    background-color: $deepmark-gold;
  }

  background: white;
  border-radius: 0 0 $border-radius $border-radius;
  // margin-bottom: 20px;

  & + .question {
    margin-top: 20px;
  }

  &-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;
    color: white;
    h5 {
      padding: 0.5em 10px;
    }
    i {
      cursor: pointer;
      padding: 0 1em;
      font-size: 1.25em;
    }
  }

  &-body {
    padding: 15px 15px 20px;
    label,
    textarea,
    input {
      display: block;
    }
    textarea {
      margin: 0 5px;
      width: 95%;
    }
  }

  &-options {
    margin-top: 30px;
  }
}

.question-single_choice .option span {
  border-radius: 50%;
}

.option {
  display: flex;
  align-items: center;
  margin-bottom: 20px;

  span {
    display: block;
    border: 2px solid $deepmark-lightgray;
    width: 16px;
    height: 16px;
    margin-right: 10px;
  }

  &-text {
    background: transparent;
    border: none;
    border-bottom: 2px solid $deepmark-lightgray;
    &:focus {
      border-bottom-color: $deepmark-orangelight;
    }
  }
  &-delete {
    cursor: pointer;
    padding: 0 10px;
  }

  input[type="radio"] {
    margin-left: 20px;
  }
}

.purged {
  display: none;
}

.question-content {
  margin-bottom: 25px;
  color: $deepmark-black !important;
}

.question-option {
  margin-left: 20px;
  margin-bottom: 10px;
}

.quiz-buttons {
  button {
    margin-left: 15px;
  }
}

.delete-option {
  cursor: pointer;
  color: $deepmark-mediumgray;
  margin-right: 10px;
  transform: translateY(5px);

  &:hover {
    color: $deepmark-black;
  }
}

.answer-text {
  margin-right: 20px;
  color: #818181;
  font-size: 16px;
}

.quiz-index {
  position: relative;
  overflow: hidden;
  padding: 50px 81px;
  height: auto !important;
}

.question-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.question-number {
  background-color: #c2dfff;
  color: #fff;
  line-height: 26px;
  font-size: 16px;
  border-radius: 20px;
  padding: 5px 10px;
  -webkit-box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.16);
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.16);
  font-weight: 700;
  font-family: Roboto, sans-serif;
}

.question-text {
  font-size: 16px;
  font-family: Roboto, sans-serif;
  /*line-height: 32px;*/
}

.quiz-title-right {
  font-style: italic;
  color: #dadada;
}

.quiz-nav-link {
  margin-bottom: 25px !important;
}

.add-question-wrapper-inline {
  display: inline;
}

// ************** COMMON ************
.quiz_skills {
  width: 100%;
  margin-top: 5px !important;
  height: 40px !important;
  .select2-choices {
    min-height: 40px !important;
    height: 40px !important;
  }
  .select2-container-multi .select2-choices {
    height: 40px !important;
  }
}

.bootstrap-select .btn.dropdown-toggle.select-with-transition {
  border: 0 !important;
  background-image: linear-gradient(#9c27b0, #9c27b0),
    linear-gradient(#d2d2d2, #d2d2d2);
  background-size: 0 2px, 100% 1px;
  background-repeat: no-repeat;
  background-position: bottom, 50% calc(100% - 1px);
  background-color: transparent !important;
  transition: background 0s ease-out !important;
  float: none !important;
  box-shadow: none !important;
  border-radius: 0 !important;
  color: #3c4858 !important;
  height: 34px;
  padding-left: 0 !important;
  padding-bottom: 5px !important;
}

.quiz-float-right {
  float: right;
}

#add-image .upload-area,
#add-doc .upload-area,
#add-song .upload-area,
#add-video .upload-area {
  width: 300px;
  height: 300px;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
}
#add-image .upload-area div,
#add-doc .upload-area div,
#add-song .upload-area div,
#add-video .upload-area div {
  margin-top: 35%;
}
.resumePoints .badge {
  font-size: 20px;
  small {
    color: $pane-grey;
    font-style: italic;
  }
}
.resumeStep {
  h3 {
    margin-top: 5px;
    .badge {
      font-size: 35px;
      small {
        color: $pane-grey;
        font-style: italic;
        font-size: 20px;
      }
    }
  }
}
.questionList {
  background-color: #eef3fc;
  .dropdown-item span {
    color: black !important;
    // color: $deepmark-lightgray !important;
  }
  .dropdown-item.active span,
  .dropdown-item:hover span {
    // color: $pane-grey !important;
    color: black !important;
  }

  .ui-state-default a,
  .ui-state-default a:link,
  .ui-state-default a:visited,
  a.ui-button,
  a:link.ui-button,
  a:visited.ui-button,
  .ui-button {
    color: $pane-grey;
  }
  .ui-state-default,
  .ui-widget-content .ui-state-default,
  .ui-widget-header .ui-state-default,
  .ui-button,
  html .ui-button.ui-state-disabled:hover,
  html .ui-button.ui-state-disabled:active {
    border: inherit;
    background: inherit;
    color: inherit;
    font-weight: inherit;
  }
  .cursor-move {
    cursor: move;
  }
  .saveQuestion {
    color: #ffffff !important;
  }
}
// ************** END COMMON ************

// ************** QCU ************
.deleteQCUOption {
  margin-top: 2px;
}
// ************** END QCU ************

// ************** DRAG AND DROP ************
#add-question-drag-and-drop .icon-box__icon-wrapper {
  width: 100px;
  height: 100px;
}
#add-question-drag-and-drop .icon-box__icon {
  margin: 3px;
}
.dragAndDropOptions .upload-area {
  width: 150px;
  height: 110px;
  img {
    width: 100%;
    height: 85px;
    margin-top: 0;
    border-radius: 10px;
    object-fit: fill;
  }
}
.dragAndDropOptions .upload-area div {
  margin-top: 12%;
}
.dragAndDropOptions .upload-area .uploadShow,
.dragAndDropOptions .upload-area .uploadShow img {
  width: 100%;
  height: 100%;
  margin-top: 0;
  border-radius: 10px;
  object-fit: fill;
}
.deleteDragAndDropOption {
  margin-top: 37px;
}
.dragAndDropContainer {
  .hide-element {
    display: none !important;
  }
  .dragAndDropOptions {
    .ui-droppable {
      border: 2px dashed #0076fe !important;
    }
    .draggable {
      width: 140px;
      height: 100px;
    }
    .badge {
      background-color: white;
      color: blue;
      box-shadow: 5px 7px 10px 0px #888888;
      padding: 5px;
      overflow: hidden;
      border-bottom: solid 5px rgba(0, 0, 0, 0) !important;
      text-overflow: ellipsis;
    }
  }
}
// ************** END DRAG AND DROP ************

// ************** ORDERING ************
.orderingOptions {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.orderingOptions li {
  // margin: 0 3px 13px 3px;
  padding: 0.4em;
  //   padding-left: 1.5em;
  font-size: 1em;
  // height: 50px;
}
.good-answer-list-style {
  margin-right: 0.5rem;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  text-align: center;
  padding-top: 4px;
  color: white;
  font-weight: 700;
  background-color: $deepmark-green;
}
.your-answer-list-style {
    margin-right: 0.5rem;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    text-align: center;
    padding-top: 4px;
    color: white;
    font-weight: 700;
    background-color: #0076fe;
  }
.orderingOptions li span {
  position: absolute;
  margin-left: -0.1em;
  margin-top: 10px;
}
.orderingOptions.popup-ordering li span {
  position: unset;
  margin: 0px;
}
.orderingOptions li span.ui-icon {
  position: absolute;
  margin-left: -0.4em;
  margin-top: 0.2em;
}
// ************** END ORDERING ************

// ************** TEXT_TO_FILL ************
.text_to_fillOptions .badge i {
  cursor: pointer;
}
// ************** END TEXT_TO_FILL ************

// ************** SCORING ************
.scoring-right {
  border-left: 2px solid $deepmark-lightblue;
}
.scoring-line {
  min-height: 55px;
  border-bottom: 1px solid $deepmark-lightblue;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  input[type="number"] {
    margin-top: -10px;
  }
  select {
    border: 1px solid $deepmark;
    border-radius: 5px;
    padding: 7.5px 5px;
    margin-top: 4px;
  }
}
// ************** SCORING ************

// ************** UPLOADS ************
.upload-area {
  display: block;
  background-color: white;
  border: 2px solid $deepmark;
}

.upload-area .uploadContent {
  margin-top: 35%;
}
// ************** END UPLOADS ************

// ************** ADD FROM HISTORY ************
#add-from-history {
  .table {
    width: 100% !important;
    .step {
      background-color: $deepmark-blue;
      color: $pane-grey;
      &:first-child {
        max-width: 30px;
      }
    }
    .question {
      margin-bottom: 0;
      td {
        padding: 5px;
        p {
          margin: 0;
          padding: 0;
        }
      }
    }
  }
  .dataTables_filter {
    margin-top: -38px;
  }
}
// ************** END ADD FROM HISTORY ************
