b {
    font-weight: bold;
}
.p-tb-5-lr-0 {
    padding:5px 0px;
}
.no-margin {
    margin:0px !important
}
.icon-50 {
    font-size: 50px;
}
.icon-size{
    font-size: 2.5em;
    color: #0076fe;
}
.color-red {
    color: #d80027;
}
.color-blue {
    color:#0076fe;
}
.color-white {
    color:white
}
.display-flex-center {
    display: flex;
    align-items: center;
}
.background-color-1 {
    background-color:#eef3fc;
}
.background-color-blue {
    background-color: #0076fe;
}
#quiz-wrapper {
    color: $deepmark-black;
}
.step-quiz{
    
    tr
    &:last-child {
        border-bottom:0px
    }
    .boder-border {
        position: relative;
    }
    .boder-border:after {
        content: "";
        position: absolute;
        width: 100%;
        height:50%;
        border-left:3px solid;
        border-right:3px solid;
        left: 0px;
    }


}
#quiz-title {
    font-size: 16px;
    margin-top: 30px;
}

#quiz-module-description {
    font-size: 16px;
    margin-top: 20px;
}

.quiz-question-wrapper {
    margin-top: 20px;
}

.quiz-question-text {
    font-size: 14px;
    display: flex;
}

.quiz-question-order {
    margin-right: 5px;
}

.question-points {
    color: $deepmark-mediumgray;
}

.quiz-question-answers {
    display: flex;
    flex-direction: column;
}

.quiz-answer-wrapper {
    margin-top: 15px;
    margin-left: 20px;
}

.state {
    label {
        line-height: 1;
        color: $deepmark-black;
    }

    i {
        font-size: 12px;
    }
}

#quiz-submit-button {
    margin: 40px 0 0;
}

#quiz-done-message {
}

#quiz-done-resolver {
    height: 0;
    margin: 0;
    
    
}
#quizQuestion {
    .margin-top-20 {
        margin-top: 20px;
    }
    .padding-span {
        padding:0px 15px;
        b {
            font-weight: bold;
        }
    }
    .startQuiz {
        height: 100%;
        margin-top: 0px;
        border-radius: unset;
        width: 100%;
        justify-content: center;
        i {
            font-size: 2em;
            margin-left: 10px;
        }
    }
    
    .text-button {
        display: flex;
        padding: 0px;
    }
    .title-step-one { 
        padding:5px 0px;
    }
    #quiz-start {
        .step-quiz {
            tr:first-child td span {
                margin-right: 4px;
            }
            tr.odd {
                background-color: #ffffff !important;
            }
            tr.even {
                background-color: #e5f0fc !important;
            }
        }
    }

}
    
#quiz-next-step-button {
    margin-top: -40px;
}

// ************** GLOBAL ************

#add-image .upload-area, #add-doc .upload-area, #add-song .upload-area, #add-video .upload-area, #add-template .upload-area {
    width: 300px;
    height: 300px;
    margin: auto; 
    margin-top: 30px;
    margin-bottom: 30px;
}
#add-image .upload-area div, #add-doc .upload-area div, #add-song .upload-area div, #add-video .upload-area div, #add-template .upload-area div {
    margin-top: 35%;
}

#quizQuestion video {
    width: 100%;
    height: 220px!important;
    object-fit: initial;
}

.question-boxe .question-img {
    max-height: 300px;
    object-fit: contain;
}
.card-quiz-add {
    .nav-item {
        counter-increment: nav-item;
        margin-right: 50px;

        &:last-child { margin-right: 0; }

        position: relative;

        &:before {
            content: ' ';
            background: $deepmark-lightgray;
            display: inline-block;
            position: absolute;
            left: -70px;
            top: 20px;
            width: 40px;
            height: 2px;
            z-index: 400;
        }

        &:first-child:before { display: none; }

        .nav-link {
            position: relative;

            &:before {
                font-size: 26px;
                text-align: center;

                content: counter(nav-item);
                background: $deepmark-lightgray;
                display: inline-block;

                position: absolute;
                border-radius: 50%;

                top: 0;
                left: -30px;

                width: 40px;
                height: 40px;

                padding-top: 7px;

                z-index: 400;
                color: #FFFFFF;
            }

            background: none;
            box-shadow: none;
            color: $deepmark-lightgray;

            &.active {
                background: none;
                box-shadow: none;
                color: $deepmark-orangelight;

                &:before { background: $deepmark-orangelight; }
            }
        }

    }
}
.questionHeader {
    h1.text-danger small, h2.text-danger small {
        color: inherit;
        font-weight: bold;
    }
    h1.text-success small, h2.text-success small {
        color: inherit;
        font-weight: bold;
    }
}
#quiz-start-timer h1 {
    font-size: 100px;
    color: $deepmark-lightblue;
    .circle-time {
        border-radius: 50%;
        border: 4px solid;

        @media only screen and (max-width: 1400px) {
            padding: 3% 10%;
        }
        @media only screen and (min-width: 1400px) {
            padding: 4% 6%;
        }
    }
}

#counting h1 {
    font-size: 50px;
    color: $deepmark-lightblue;
    .circle-time {
        border-radius: 50%;
        border: 4px solid;
        b {
            min-width: 30px;
        }
        @media only screen and (max-width: 1400px) {
            padding: 1% 8%;
        }
        @media only screen and (min-width: 1400px) {
            padding: 1% 3%;
        }
    }
}

.question-boxe .color-header small {
    color: inherit;
}
#quiz_timer {
    // font-size: 30px;
    font-weight:800
}
.quiz-result-list {
    .list-group-item {
        // background-color: #3881E3; 
        // padding-top:25px!important; 
        margin-bottom: 20px; 
        border-radius: 15px;
        color: #fff!important;
        box-shadow: 0 16px 38px -12px #DADADA, 0 4px 25px 0px #DADADA, 0 8px 10px -5px #DADADA;
        .quiz-header {
            background-color: #0076fe;
            border-top-right-radius: 15px;
            border-top-left-radius: 15px;
        }
        .color-bold {
            font-weight: bold;
            color:black
        }
        .color-blue {
            color: #3881E3;
        }
    }
    .list-group-item:first-child {
        border-radius: 15px !important;
    }
    .score, .status {
        color: #0076fe;
        font-weight:900; 
        font-size: 50px;
    }
    .status {
        font-size: 35px;
        span {
            font-size: 20px;
        }
    }
    .nav-link { 
        cursor: pointer;
    }
    .badge-result-points {
        font-size: 25px;
    }
}
// ************** END GLOBAL ************

// ************** CATEGORY Question ************
.categoryOptions .bootstrap-select {
    max-width: 250px;
    top: -5px;
    .select-with-transition{
        padding: 5px!important;
    }
    .filter-option{
        height: 36px;
        line-height: 24px;
    }
    .filter-option-inner-inner{
        padding-left: 5px;
    }
}
// ************** END CATEGORY Question ************

// ************** ORDERING Question ************
.orderingOptions { list-style-type: none; margin: 0; padding: 0;}
.orderingOptions li { 
    // margin: 0 3px 13px 3px;
    // padding: 0.4em;
    font-size: 1em;
    // height: 50px; 
}
.orderingOptions .quiz-ordering-left {
    float: left;
    width: 15px;
}
.orderingOptions .quiz-ordering-right {
    float: left;
    // border: 1px solid $deepmark-black;
    padding: 10px;
    background-color: white;
    width: 100%;
    margin-left:20px;
}
.ordering-list-left {
    list-style: none;
    list-style-type: none;
    li {
        text-align: center;
        margin: 0 3px 7px 3px;
        padding: 0.4em;
        font-size: 1.4em;
        height: 50px;
        span {
            border-radius: 50%;
            border:1px solid #0076fe;
            padding: 5px 5px 5px 5px;
            width: 35px;
            display: inline-block;
            text-align: center;
        }
    }
}
.orderingOptions li span.ui-icon {
    margin-top: 0.6em;
}
// ************** END ORDERING Question ************


// ************** TEXT_TO_FILL Question ************
.textToFillOptions {
    .badge {
        cursor: move;
        background-color: $deepmark;
    }
    .badge-success {
        background-color: $deepmark-green;
    }
    .badge-danger {
        background-color: $deepmark-red;
    }
    .badge-result {
        background-color: $deepmark-black;
    }
}

.textToFillContent .marker {    
    min-width: 200px;
    min-height: 25px;
    margin-bottom: -5px;
    display: inline-block;
    padding: 2px;
    padding-left: 15px;
    background-color: $deepmark-lightgray;
    border: 1px dotted; 
    border-color: $pane-grey; 
    .badge {
        color: $pane-grey;
        background-color: $deepmark;
        .marker {
            color: $pane-grey;
            background-color: $deepmark-orangelight;
            z-index: 1000;
        }
    }
}
.textToFillContent .marker-light {
    border-color: $deepmark-orangelight;
    background-color: $deepmark-orangelight;
}
// ************** END TEXT_TO_FILL Question ************


// ************** DRAG_AND_DROP Question ************
.dragAndDropOptions {
    ul {
        list-style: none;
        text-align: center;
        margin: auto;
        padding: 0;
        display: inline-flex;
        flex-wrap: wrap;
        li {
            margin-right: 10px;
            margin-left: 10px;
            .badge {
                cursor: move;
                margin-top: 25px;
                z-index:1000;
            }
            img {
                cursor: move;
                z-index:1000;
            }
        }
        li.match {
            min-width: 250px;   
        }
    }
    .marker-light {
        background-color: $deepmark-orangelight;
    }
    .upload-area .uploadShow, .upload-area .uploadShow img {
        width: 100%;
        height: 100%;
        margin-top: 0;
        border-radius: 10px;
    }
    .upload-area-success {
        border: 4px solid;
        border-color: $deepmark-green;
    }
    .upload-area-danger {
        border: 4px solid;
        border-color: $deepmark-red;
    }
    .upload-area-result {
         border: 4px solid;
        border-color: $deepmark-lightgray;
    }
} 

.answer-drag_and_drop {
    padding: 0px;
    list-style: none;
    li {
        display: inline-flex;
        width: 270px;

        .upload-area {
            width: 140px;
            height: 100px;
            margin-right: 5px;

            .uploadShow {
                width: 100%; 
                height: 100%; 
                img {
                    width: 100%; 
                    height: 100%; 
                    border-radius: 5px
                }
            }
            .badge {
                margin-top: 35px; 
                max-width: 100%
            }
        }
    }
}
// ************** END DRAG_AND_DROP Question ************



// ************** OPEN Question ************
.quiz-audio {
    margin: auto;
}
// ************** END OPEN Question ************


// ************** SCORING Question ************
.btn-score{
    pointer-events: none;
    font-size: 20px;
    border-radius: 50%;
    width: 50px!important;
    height: 50px!important;
    border: 2px solid $deepmark;
    background-color: #fff;
    color: $deepmark;
}
.quiz-scoring-slider-handle {
    width: 2em !important;
    height: 2em !important;
    top: 25% !important;
    margin-top: -.8em;
    text-align: center;
    line-height: 2em;
}
.quiz-scoring-slider-left {
    float: left;
    width: 15%;
    padding-right: 2em;
    margin-top: -0.6em;
    text-align: right;
}
.quiz-scoring-slider-center {
    float: left;
    width: 70%;
}
.quiz-scoring-slider-right {
    float: left;
    text-align: left;
    width: 15%;
    padding-left: 1.8em;
    margin-top: -0.6em;
}
.quiz-scoring-star {
    font-size: 45px;
    color: $deepmark;
}
.quiz-scoring-bubbles-text {
    font-size: 30px;
    font-weight: bold;
}
.quiz-scoring-bubbles {
    vertical-align: middle;
}
.quiz-scoring-bubbles-pos-0 {
    font-size: 25px;
}
.quiz-scoring-bubbles-pos-1 {
    font-size: 35px;
}
.quiz-scoring-bubbles-pos-2 {
    font-size: 45px;
}
.quiz-scoring-bubbles-pos-3 {
    font-size: 55px;
}
.quiz-scoring-bubbles-pos-4 {
    font-size: 65px;
}
.quiz-scoring .ui-state-default, .quiz-scoring .ui-widget-content .ui-state-default, .quiz-scoring .ui-widget-header .ui-state-default, .quiz-scoring .ui-button, .quiz-scoring html .ui-button.ui-state-disabled:hover, .quiz-scoring html .ui-button.ui-state-disabled:active {
    border: inherit;
    background: inherit;
    color: inherit;
    font-weight: inherit;
    background-color: $deepmark;
    color: #fff;
    border-color: $deepmark;

} 
// ************** END SCORING Question ************