<div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <div class="modal-body">
            <h3>{{ 'admin.interventions.create.module_card.list_of_uploaded_files'|trans|capitalize }}</h3>
            <div class="row mt-5">
                <div class="col-md-12 col-sm-12 marg-bottom-20">
                    <h5 class="bold">{{ 'admin.interventions.create.step1.learner' | trans }}</h5>
                    <table id="modalListFileUnlinkLearner" data-for="learner"
                           class="col-md-12 table table-striped">
                        <thead>
                        <tr>
                            <th>{{ 'table.modules.name'|trans|capitalize }}</th>
                            <th width="20%" class="text-center">{{ 'admin.interventions.create.step1.authorize_download' | trans }}</th>
                            <th width="10%" class="text-center">{{ 'table.modules.delete'|trans|capitalize }}</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for file in files['learner'] %}
                            {% set checked = '' %}
                            {% for key,value in session %}
                                {% if key == file.path %}
                                    {% if value == 1 %}
                                        {% set checked = 'checked' %}
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                            <tr>
                                <td>{{ file.name }}</td>
                                <td class="text-center">
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <input class="form-check-input isDownloadFile" {{ checked }} data-name="{{ file.path }}" type="checkbox" value="1"  name="{{ file.path }}">
                                            <span class="form-check-sign">
                                                <span class="check"></span>
                                            </span>
                                        </label>
                                    </div>
                                </td>

                                <td class="text-center"><i class="fal fa-minus-circle fa-2x"
                                       onclick="deleteFile(this)"
                                       data-reference-path="{{ file.path }}"> </i></td>
                            </tr>
                        {% endfor %}

                        </tbody>
                    </table>
                </div>


                <div class="col-md-12 col-sm-12">
                    <h5 class="bold">{{ 'admin.interventions.create.step1.trainer' | trans }}</h5>
                    <table id="modalListFileUnlinkLearner" data-for="learner"
                           class=" col-md-12 table table-striped">
                        <thead>
                        <tr>
                            <th>{{ 'table.modules.name'|trans|capitalize }}</th>
                            <th width="20%" class="text-center">{{ 'admin.interventions.create.step1.authorize_download' | trans }}</th>
                            <th width="10%" class="text-center">{{ 'table.modules.delete'|trans|capitalize }}</th>
                        </tr>
                        </thead>
                        <tbody>

                        {% for file in files['trainer'] %}
                            {% set checked = '' %}
                            {% for key,value in session %}
                                {% if key == file.path %}
                                    {% if value == 1 %}
                                        {% set checked = 'checked' %}
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                            <tr>
                                <td>{{ file.name }}</td>
                                <td class="text-center">
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <input class="form-check-input isDownloadFile" {{ checked }} data-name="{{ file.path }}" type="checkbox" value="1"  name="{{ file.path }}">
                                            <span class="form-check-sign">
                                                <span class="check"></span>
                                            </span>
                                        </label>
                                    </div>
                                </td>

                                <td class="text-center"><i class="fal fa-minus-circle fa-2x"
                                       onclick="deleteFile(this)"
                                       data-reference-path="{{ file.path }}"> </i></td>
                            </tr>
                        {% endfor %}

                        </tbody>
                    </table>
                </div>

                {% if  files['eLearning'] is defined and  files['eLearning'] is not empty %}
                    <div class="col-md-6 col-sm-12">
                        <h6>{{ 'media'|capitalize }}</h6>
                        <table id="modalListFileUnlinkLearner" data-for="learner"
                               class=" col-md-12 table table-striped">
                            <thead>
                            <tr>
                                <th >Name</th>
                                <th class="text-center">Authorize Dowload</th>
                                <th class="text-center">Delete</th>
                            </tr>
                            </thead>
                            <tbody>

                            {% for file in files['eLearning'] %}
                                {% set checked = '' %}
                                {% for key,value in session %}
                                    {% if key == file.path %}
                                        {% if value == 1 %}
                                            {% set checked = 'checked' %}
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                                <tr>
                                    <td>{{ file.name }}</td>
                                    <td class="text-center">
                                        <div class="form-check">
                                            <label class="form-check-label">
                                                <input class="form-check-input isDownloadFile" {{ checked }} data-name="{{ file.path }}" type="checkbox" value="1"  name="{{ file.path }}">
                                                <span class="form-check-sign">
                                                <span class="check"></span>
                                            </span>
                                            </label>
                                        </div>
                                    </td>

                                    <td class="text-center"><i class="fal fa-minus-circle fa-2x"
                                           onclick="deleteFile(this)"
                                           data-reference-path="{{ file.path }}"> </i></td>
                                </tr>
                            {% endfor %}

                            </tbody>
                        </table>
                    </div>
                {% endif %}

                {% if  files['trainerReportTemplate'] is defined and  files['trainerReportTemplate'] is not empty %}
                    <div class="col-md-6 col-sm-12">
                        <h6>{{ 'trainer report template'|capitalize }}</h6>
                        <table
                               class=" col-md-12 table table-striped">
                            <thead>
                            <tr>
                                <th class="">Name</th>
                                <th class="">Delete</th>
                            </tr>
                            </thead>
                            <tbody>

                            {% for file in files['trainerReportTemplate'] %}
                                <tr>
                                    <td>{{ file.name }}</td>
                                    <td><i class="fal fa-minus-circle fa-2x"
                                           onclick="deleteFile(this)"
                                           data-reference-path="{{ file.path }}"> </i></td>
                                </tr>
                            {% endfor %}

                            </tbody>
                        </table>
                    </div>
                {% endif %}

                {% if  files['attendanceSheetTemplate'] is defined and  files['attendanceSheetTemplate'] is not empty %}
                    <div class="col-md-6 col-sm-12">
                        <h6>{{ 'attendance sheet template'|capitalize }}</h6>
                        <table
                                class=" col-md-12 table table-striped">
                            <thead>
                            <tr>
                                <th class="">Name</th>
                                <th class="">Delete</th>
                            </tr>
                            </thead>
                            <tbody>

                            {% for file in files['attendanceSheetTemplate'] %}
                                <tr>
                                    <td>{{ file.name }}</td>
                                    <td><i class="fal fa-minus-circle fa-2x"
                                           onclick="deleteFile(this)"
                                           data-reference-path="{{ file.path }}"> </i></td>
                                </tr>
                            {% endfor %}

                            </tbody>
                        </table>
                    </div>
                {% endif %}

                {% if  files['certificateTemplate'] is defined and  files['certificateTemplate'] is not empty %}
                    <div class="col-md-6 col-sm-12">
                        <h6>{{ 'certificate template'|capitalize }}</h6>
                        <table
                                class=" col-md-12 table table-striped">
                            <thead>
                            <tr>
                                <th class="">Name</th>
                                <th class="">Delete</th>
                            </tr>
                            </thead>
                            <tbody>

                            {% for file in files['certificateTemplate'] %}
                                <tr>
                                    <td>{{ file.name }}</td>
                                    <td><i class="fal fa-minus-circle fa-2x"
                                           onclick="deleteFile(this)"
                                           data-reference-path="{{ file.path }}"> </i></td>
                                </tr>
                            {% endfor %}

                            </tbody>
                        </table>
                    </div>
                {% endif %}

            </div>
            <button id="closeModal" type="button" name="button" class="btn-confirm-linkFile btn btn-success"
                    data-dismiss="modal">{{ 'buttons.confirm'|trans }}</button>
        </div>
    </div>
</div>
<script>
    $(document).ready(function() {
        $('.isDownloadFile').change(function() {
            var path =  $(this).attr("data-name");
            var isChecked = 0;
            if (this.checked) {
                var isChecked = 1;
            }
            $.ajax({
                'url': '/admin/courses/session/isdowload',
                'method': 'POST',
                'data': {
                    'path': path,
                    'isChecked': isChecked,
                }
            }).done(function (response) {
            })
        });
    });
</script>