<div class="marg-b-15">
    <h5 class="modal-form-col-title marg-b-0">{{ 'admin.interventions.create.module_card.learner'|trans|capitalize }}</h5>

    <div class="flex--baseline">
        <div class="show-files marg-r-20">
            <label class="pointer"
                   data-person-type="learner"
                   data-module-id="{{ data.uniqueId }}"
                   data-reference-element="module[{{ data.uniqueId }}][file][uploaded][learner]"
                   data-reference-id="{{ data.uniqueId }}_learner">
                <i class="fal fa-folder-open c-navy cursor marg-r-10 fa-2x"></i>{{ 'admin.interventions.create.module_card.see_files'|trans|capitalize }}
            </label>
        </div>

        <div class="add-file">
            <span class="input-group-btn">
                <span class="btn-file-upload btn btn-round btn-fab btn-deepmark-navy btn-sm btn-file round-btn-file">
                    <i class="fal fa-plus"></i>
                        <input type="file" id="{{ data.uniqueId }}_learner"
                               data-type="learner"
                               data-module-id="{{ data.uniqueId }}"
                               data-person-type="learner"
                               name="module[{{ data.uniqueId }}][file][learner]"
                               class="inputUploadFile"
                               multiple="multiple">
                        <input type="hidden"
                               data-type="learner"
                               data-module-id="{{ data.uniqueId }}"
                               data-person-type="learner"
                               data-storage="uploader"
                               name="module[{{ data.uniqueId }}][file][uploaded][learner][]"
                               class="inputUploadFile"
                               multiple="multiple">
                </span>
            </span>
            <label for="{{ data.uniqueId }}_learner"
                   class="pointer">{{ 'admin.interventions.create.module_card.add_file'|trans|capitalize }}</label>
            <input hidden="hidden" type="text" class="form-control" readonly="readonly"/>
        </div>

    </div>
</div>
{% if data.appId != 4 and data.appId != 5  %}
<div class="marg-b-15">
    <h5 class="modal-form-col-title marg-b-0">{{ 'admin.interventions.create.module_card.live_trainers'|trans|title }}</h5>

    <div class="flex--baseline">
        <div class="show-files marg-r-20">
            <label class="pointer"
                   data-person-type="trainer"
                   data-module-id="{{ data.uniqueId }}"
                   data-reference-element="module[{{ data.uniqueId }}][file][uploaded][trainer]"
                   data-reference-id="{{ data.uniqueId }}_trainer">
                <i class="fal fa-folder-open c-navy cursor marg-r-10 fa-2x"></i>{{ 'admin.interventions.create.module_card.see_files'|trans|capitalize }}
            </label>
        </div>

        <div class="add-file">
            <span class="input-group-btn">
                <span class="btn-file-upload btn btn-round btn-fab btn-deepmark-navy btn-sm btn-file round-btn-file">
                    <i class="fal fa-plus"></i>
                    <input type="file"
                           id="{{ data.uniqueId }}_trainer"
                           data-type="trainer"
                           name="module[{{ data.uniqueId }}][file][trainer]"
                           data-module-id="{{ data.uniqueId }}"
                           data-person-type="trainer"
                           class="inputUploadFile" multiple="multiple">
                    <input type="hidden" data-type="trainer"
                           data-module-id="{{ data.uniqueId }}"
                           data-person-type="trainer"
                           data-storage="uploader"
                           name="module[{{ data.uniqueId }}][file][uploaded][trainer][]"
                           class="inputUploadFile" multiple="multiple">
                </span>
                <label for="{{ data.uniqueId }}_trainer"
                       class="pointer">{{ 'admin.interventions.create.module_card.add_file'|trans|capitalize }}</label>
            </span>
        </div>
    </div>
</div>
{% endif %}