{% set tab_id = date('now')|date('YmdHis') + random(100) %}
{% set key = key is defined and key is not null ? key : 0 %}
<input type="hidden"
       name="module[{{ data.uniqueId }}][session][{{ key }}][unique-session-id]"
       data-reference="unique-session-identifier"
       value="{{ tab_id }}">
