{% set route = app.request.get('_route') %}
<nav>
    <ul class="nav nav-pills no-padding marg-t-20 marg-b-20 justify-content-center" role="tablist">
        {% if is_granted('ROLE_SUPER_ADMIN') %}
        <li class="nav-item">
            <a class="nav-link nav-link--flex {{ route == 'admin_organisation_index' or route == 'admin_organisation_new' or route == 'admin_organisation_edit' or route == 'admin_organisation_show' ? 'active' }}" href="{{ path('admin_organisation_index') }}">
                <i class="fal fa-building"></i><span>{{ 'sidebar.organizations'|trans }}</span>
            </a>
        </li>
        {% endif %}
        <li class="nav-item">
            <a class="nav-link nav-link--flex {{ route == 'admin_entity_index' or route == 'admin_entity_new' or route == 'admin_entity_edit' or route == 'admin_entity_show' ? 'active' }}" href="{{ path('admin_entity_index') }}">
                <i class="fal fa-sitemap"></i><span>{{ 'sidebar.entities'|trans }}</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link nav-link--flex {{ route == 'admin_regional_index' or route == 'admin_regional_new' or route == 'admin_regional_edit' or route == 'admin_regional_show' ? 'active' }}" href="{{ path('admin_regional_index') }}">
                <i class="fas fa-globe"></i><span>{{ 'sidebar.regional'|trans }}</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link nav-link--flex {{ route == 'admin_group_organization_index' or route == 'admin_group_organization_new' or route == 'admin_group_organization_edit' or route == 'admin_group_organization_show' ? 'active' }}" href="{{ path('admin_group_organization_index') }}">
                <i class="fas fa-users"></i><span>{{ 'sidebar.group_organization'|trans }}</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link nav-link--flex {{ route == 'admin_workplace_index' or route == 'admin_workplace_new' or route == 'admin_workplace_edit' or route == 'admin_workplace_show' ? 'active' }}" href="{{ path('admin_workplace_index') }}">
                <i class="fal fa-file-upload"></i><span>{{ 'sidebar.workplace'|trans }}</span>
            </a>
        </li>
    </ul>
</nav>
