{% set route = app.request.get('_route') %}
<nav>
    <ul class="nav nav-pills justify-content-center" role="tablist">
        <li class="nav-item">
            <a class="nav-link nav-link--flex {{ route == 'admin_trainers_index' ? 'active' }}" href="{{ path('admin_trainers_index') }}">
                <i class="fal fa-users"></i><span>{{ 'admin.trainers.trainer_list'|trans }}</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link create-link nav-link--flex {{ route == 'admin_trainers_new' ? 'active' }}" href="{{ path('admin_trainers_new') }}">
               <span>{{ 'admin.trainers.nav.new'|trans }}</span>&nbsp;&nbsp;&nbsp; <i class="fa fa-plus-circle font-size-22"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link nav-link--flex {{ route == 'admin_trainers_upload' ? 'active' }}" href="{{ path('admin_trainers_upload') }}">
                <span>{{ 'admin.trainers.nav.import'|trans }}</span> &nbsp;&nbsp;&nbsp; <i class="fal fa-arrow-to-bottom"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link nav-link--flex {{ route == 'admin_trainers_cv_template' ? 'active' }}" href="{{ path('admin_trainers_cv_template') }}">
                <i class="fa fa-id-card"></i><span>{{ 'admin.trainers.nav.cv_template'|trans }}</span>
            </a>
        </li>
    </ul>
</nav>
