{% set route = app.request.get('_route') %}
<nav>
    <ul class="nav nav-pills no-padding justify-content-center" role="tablist">
        <li class="nav-item">
            <a class="nav-link font-size-11 nav-link--flex {{ route == 'admin_learners_index' ? 'active' }}" href="{{ path('admin_learners_index') }}">
                <i class="fal fa-users"></i><span>{{ 'admin.learners.title'|trans }}</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link font-size-11 create-link nav-link--flex {{ route == 'admin_learners_new' ? 'active' }}" href="{{ path('admin_learners_new') }}">
               <span>{{ 'admin.learners.nav.new'|trans }}</span> &nbsp;&nbsp;<i class="fa fa-plus-circle font-size-22"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link font-size-11 nav-link--flex {{ route == 'admin_learners_upload' ? 'active' }}" href="{{ path('admin_learners_upload') }}">
              <span>{{ 'admin.learners.nav.import'|trans }}</span>&nbsp;&nbsp;<i class="fal fa-arrow-to-bottom"> </i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link font-size-11 nav-link--flex {{ route == 'admin_group_index' or route ==  'admin_group_new'  or route ==  'admin_group_edit'  or route ==  'admin_group_show' ? 'active' }}" href="{{ path('admin_group_index') }}">
                <i class="fal fa-sitemap"></i> <span>{{ 'admin.learners.nav.group_management'|trans }}</span>
            </a>
        </li>
    </ul>
</nav>
