{% set route = app.request.get('_route') %}
<nav>
    <ul class="nav nav-pills" role="tablist">
        <li class="nav-item">
            <a class="nav-link nav-link--flex {{ route == 'admin_dashboard_learner_activities' ? 'active' }}" href="{{ path('admin_dashboard_learner_activities') }}">
                <i class="fal fa-users"></i><span>For Learner</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link nav-link--flex nav-link--flex {{ route == 'admin_dashboard_trainer_activities' ? 'active' }}" href="{{ path('admin_dashboard_trainer_activities') }}">
                <i class="fal fa-users"></i><span>For Trainer</span>
            </a>
        </li>
    </ul>
</nav>
