{% set route = app.request.get('_route') %}
<nav>
    <ul class="nav nav-pills no-padding justify-content-center" role="tablist">
        <li class="nav-item">
            <a class="nav-link font-size-11 nav-link--flex {{ route == 'admin_skills_index' ? 'active' }}" href="{{ path('admin_skills_index') }}">
                <i class="fal fa-users"></i><span>{{ 'admin.skills.list'|trans }}</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link font-size-11 create-link nav-link--flex {{ route == 'admin_skills_validation' ? 'active' }}"  href="{{ path('admin_skills_validation') }}">
               <span>{{ 'admin.skills.nav.validate'|trans }}</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link font-size-11 nav-link--flex {{ route == 'admin_skills_edit' ? 'active' }}" href="{{ path('admin_skills_edit') }}">
              <span>{{ 'admin.skills.nav.create'|trans }}</span> &nbsp;&nbsp;<i class="fa fa-plus-circle font-size-22"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link font-size-11 nav-link--flex {{ route ==  'admin_skills_skill_statistics' ? 'active' }}" href="{{ path('admin_skills_skill_statistics') }}">
                <i class="fal fa-sitemap"></i> <span>{{ 'admin.skills.nav.skills_of_trainer'|trans }}</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link font-size-11 nav-link--flex {{ route == 'admin_skills_skill_domains' ? 'active' }}" href="{{ path('admin_skills_skill_domains') }}">
                <i class="fal fa-users"></i><span>{{ 'admin.skills.nav.list_of_domain'|trans }}</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link font-size-11 nav-link--flex {{ route == 'admin_skills_domain_edit' ? 'active' }}" href="{{ path('admin_skills_domain_edit') }}">
                <span>{{ 'admin.skills.nav.create_domain'|trans }}</span> &nbsp;&nbsp;<i class="fa fa-plus-circle font-size-22"></i>
            </a>
        </li>
    </ul>
</nav>
