{% set route = app.request.get('_route') %}
<nav>
    <ul class="nav nav-pills" role="tablist">
        <li class="nav-item">
            <a class="nav-link nav-link--flex {{ route == 'admin_clients_index' ? 'active' }}" href="{{ path('admin_clients_index') }}">
                <i class="fal fa-users"></i><span>{{ 'admin.admin.nav.list'|trans }}</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link create-link nav-link--flex {{ route == 'admin_clients_new' ? 'active' }}" href="{{ path('admin_clients_new') }}">
                <i class="fal fa-plus"></i><span>{{ 'admin.admin.nav.new'|trans }}</span>
            </a>
        </li>
    </ul>
</nav>

