{% set route = app.request.get('_route') %}
<nav>
    <ul class="nav nav-pills" role="tablist">
        <li class="nav-item">
            <a class="nav-link nav-link--flex {{ route == 'admin_managers_index' ? 'active' }}" href="{{ path('admin_managers_index') }}">
                <i class="fal fa-users"></i><span>List</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link create-link nav-link--flex {{ route == 'admin_managers_new' ? 'active' }}" href="{{ path('admin_managers_new') }}">
                <i class="fal fa-plus"></i><span>New</span>
            </a>
        </li>
    </ul>
</nav>

