<div class="row">
    <div class="col-sm-6 col-xl-3">
        {{ include('molecules/widgets/card-stats.html.twig',{
            'type': 'alert',
            'color': 'red',
            'icon': 'exclamation-triangle',
            'title': 'admin.dashboard.nav.alerts'|trans,
            'titleSmall': '',
            'statNumber': count.alerts|default(0),
            'link': path('admin_dashboard'),
            'linkDesc': 'admin.dashboard.nav.alerts'|trans
        }) }}
    </div>


    <div class="col-sm-6 col-xl-3">
        {{ include('molecules/widgets/card-stats.html.twig',{
            'type': 'activities',
            'color': 'orangelight',
            'icon': 'book',
            'title': 'admin.dashboard.nav.activities'|trans,
            'titleSmall': 'admin.dashboard.nav.tday'|trans,
            'statNumber': count.activities|default(0),
            'link': path('admin_dashboard_learner_activities'),
            'linkDesc': 'admin.dashboard.nav.see_all_activites'|trans
        }) }}
    </div>

    <div class="col-sm-6 col-xl-3">
        {{ include('molecules/widgets/card-stats.html.twig',{
            'type': 'resources',
            'color': 'mediumgray',
            'icon': 'address-book',
            'title': 'admin.dashboard.nav.necessary_resources_month'|trans,
            'titleSmall': '',
            'statNumber': count.resources|default(0),
            'link': '#',
            'linkDesc': '',
            'slider': true
        }) }}
    </div>

    <div class="col-sm-6 col-xl-3">
        {{ include('molecules/widgets/card-stats.html.twig',{
            'type': 'validations',
            'color': 'navy',
            'icon': 'check',
            'title': 'admin.dashboard.nav.validations'|trans,
            'titleSmall': '',
            'statNumber': count.validations|default(0),
            'link': path('admin_dashboard_validations'),
            'linkDesc': 'admin.dashboard.nav.see_all_validations'|trans
        }) }}
    </div>
</div>
