{% if is_granted('ROLE_ADMIN') or is_granted('ROLE_SUPER_ADMIN') %}
	{% set routeBestPractices = url('admin_best_practices_index') %}
{% elseif is_granted('ROLE_LEARNER') %}
	{% set routeBestPractices = url('learner_best_practices_index') %}
{% elseif is_granted('ROLE_TRAINER') %}
	{% set routeBestPractices = url('trainer_best_practices_index') %}
{% endif %}
{% set tab = app.request.get('tab') %}
<div class="row marg-b-15 marg-t-5 text-center" >
	<div class="col-md-4 text-center">
		<ul class="nav nav-pills justify-content-start pad-l-0 pad-t-10" role="tablist">
			<li class="nav-item">
				<a href="{{ routeBestPractices }}" class="nav-link bold {{ tab == 1 ? 'active':'' }}" role="tablist">
					{{ 'trainers.best_practices.nav.best_practices'|trans }}
				</a>
			</li>

			<li class="nav-item">
				<a href="{{ routeBestPractices }}/2" class="nav-link bold {{ tab == 2 ? 'active':'' }}" role="tablist">
					{{ 'trainers.best_practices.nav.my_favourites'|trans }}
				</a>
			</li>
		</ul>
	</div>
	<div class="col-md-8 text-center">
		<ul class="nav nav-pills justify-content-end pad-r-0 pad-t-10" role="tablist">
			{% if is_granted('ROLE_ADMIN') or is_granted('ROLE_SUPER_ADMIN') %}
			{% else %}
			<li class="nav-item">
				<a class="nav-link bold {{ tab == 3 ? 'active':'' }}" href="{{ routeBestPractices }}/3" role="tablist">
					{{ 'trainers.best_practices.nav.my_selected_best_practices'|trans }}
				</a>
			</li>
			{% endif %}
			{% if is_granted('ROLE_ADMIN') or is_granted('ROLE_SUPER_ADMIN') %}
				<li class="nav-item">
					<a class="nav-link bold {{ app.request.get('_route') == 'admin_best_practices_management' ? 'active':'' }}" href="{{ path('admin_best_practices_management') }}"  role="tablist">
						{{ 'trainers.best_practices.nav.validation_practices'|trans }}
					</a>
				</li>
			{% elseif is_granted('ROLE_TRAINER') %}
				<li class="nav-item">
					<a class="nav-link bold" href="{{ path('trainer_exercices_index') }}?tab=validated" role="tablist">
						{{ 'trainers.best_practices.nav.publish_best_practice'|trans }}
					</a>
				</li>
			{% elseif is_granted('ROLE_LEARNER') %}
				<li class="nav-item">
					<a class="nav-link bold" href="{{ path('learner_exercices_my_exercices') }}"  role="tablist">
						{{ 'trainers.best_practices.nav.publish_best_practice'|trans }}
					</a>
				</li>
			{% endif %}
			{% if is_granted('ROLE_ADMIN') or is_granted('ROLE_SUPER_ADMIN')%}
				<li class="nav-item">
					<a class="nav-link bold" href="{{ url('admin_best_practices_create') }}" role="tablist">
						{{ 'trainers.best_practices.nav.create_best_practice'|trans }}
					</a>
				</li>
			{% elseif  is_granted('ROLE_LEARNER') %}
				<li class="nav-item">
					<a class="nav-link bold" href="{{ url('learner_best_practices_create') }}" role="tablist">
						{{ 'trainers.best_practices.nav.create_best_practice'|trans }}
					</a>
				</li>
			{% endif %}
		</ul>
	</div>
</div>

{# fake popup create best practice#}
<style>
	.question-body label, .question-body textarea, .question-body input {
		display: inline;
	}
	.bootstrap-tagsinput{
		width: 100%;
		height: 44px;
	}
	.bootstrap-tagsinput input{
		margin-top: 5px;
	}
	.bootstrap-tagsinput .tag{
		background-color: #0c83e2;
	}

	.typeahead {
		display: block;
		opacity: 1;
		transform: scale(1);
	}

</style>
<div class="modal fade best-practice-modal" id="create-best-practice" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog  modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body text-center">
				<p class="color-header bold">{{ 'trainers.best_practices.nav.create_best_practice'|trans }}</p>
				<div class="row">
					<div class="col-md-12 text-center no-padding">
						<div style="margin-top: 17px;" class="form-group pad-b-0 admin">
							<label for="fileMedia" class="btn btn-file-upload btn btn-deepmark-orangelight btn-file">
								Ajouter un fichier
								<i class="fal fa-plus"></i>
							</label>
							<input id="fileMedia"
								   type="file"
								   name="bestPracticeDocument"
								   data-type="body"
								   class="inputUploadPublicFile uploadFile"
								   multiple/>
						</div>
					</div>
				</div>
				<div class="form-group text-left marg-t-20">
					<label for="exampleFormControlTextarea1">{{ 'popup.your_comment'|trans }}</label>
					<input name="bestPracticeTitle" type="text" class="form-control marg-b-30" id="_best_practice_title">
					<textarea name="bestPracticeDesc" class="form-control" id="_best_practice_desc" rows="3" spellcheck="false"></textarea>
					<div class="input-group marg-t-30">
						<input style="" id="_tags"
							   type="text"
							   name="tags"
							   placeholder="Add tags" required/>
					</div>
					{% set tagsName = ['Management', 'Technical', 'Sale'] %}
					<script>
						$(document).ready(function () {
							function cloneTemplate(templateNode, id) {
								const clone = templateNode.clone();
								clone.css({ visibility: 'visible', position: 'relative' });
								clone.attr('id', id);
								return clone;
							}
							var value = 0;
							function progressBar(){
								value += 10;
								$('#progressbar-upload').width(Math.round((value*100) / 100) + '%');
								if ( value == 25 || value == 55 || value == 85 ) {
									return setTimeout(progressBar, 1500);
								}
								return value >= 100 || setTimeout(progressBar, 50);

							}
							$('.uploadFile').on('change', function () {
								const swalOptions = {
									showCancelButton: true,
									closeOnConfirm: false,
									showLoaderOnConfirm: true
								};
								swal(
										$('#upload-file-modal-text').data('progress-header'),
										cloneTemplate($('#progressbar-upload-template'), 'progressbar-upload').prop('outerHTML'),
										"info",
										swalOptions
								);
								setTimeout(progressBar, 50);
								let $this = $(this);
								setTimeout(function(){
									let file_name = $this[0].files[0].name;
									swal("Sucess", file_name, "success", {
										button: "Ok",
									});
								}, 2000);
							});
							const bestPracticeDesc = new Jodit('#_best_practice_desc', {
								toolbarAdaptive: false,
								buttons: "bold,strikethrough,underline,italic,eraser,|,ul,ol,|,outdent,indent,|,font,fontsize,brush,paragraph,copyformat,preview"
							});
							var tags =  '{{ tagsName|json_encode|raw }}';
							tags = JSON.parse(tags);
							$('#_tags').tagsinput({
								typeahead: {
									source: tags,
								},
								freeInput: true
							});
							$('#_tags').on('itemAdded', function(event) {
								setTimeout(function(){
									$(">input[type=text]",".bootstrap-tagsinput").val("");
								}, 1);
							});
							$('#btnAddPracticeAction').click(function(){
								swal({
									title: "Success",
									text: '',
									type: "success",
									confirmButtonClass: "btn-primary",
									confirmButtonText: "OK",
									allowOutsideClick: false
								}).then(function() {
									$('#create-best-practice').modal('hide');
								})
							});
						})
					</script>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">{{ 'buttons.close'|trans }}</button>
				<button id="btnAddPracticeAction" data-id="" type="submit" class="btn btn-primary btnAddPractice">{{ 'global.submit'|trans }}</button>
			</div>
		</div>
	</div>
</div>
<div
		id="upload-file-modal-text"
		class="template"
		data-progress-header="{{ 'upload_file.progress_header'|trans }}"
		data-success-header="{{ 'upload_file.success_header'|trans }}"
		data-success-comment="{{ 'upload_file.success_comment'|trans }}"
		data-failure-header="{{ 'upload_file.failure_header'|trans }}"
		data-failure-comment="{{ 'upload_file.failure_comment'|trans }}"
		data-failure-uploaded-bytes="{{ 'upload_file.uploaded_bytes'|trans }} {{max_file_size}}">
</div>
<div id="progressbar-upload-template" class="progress c-bg-lightblue template" style="width: 0%"></div>