{% set tab = app.request.get('tab') %}
<nav class="row c marg-b-15 marg-t-5 text-center" >
	<ul class="nav nav-pills no-padding justify-content-start" role="tablist">
		<li class="nav-item">
			<a href="{{ url('learner_catalog_index', {'tab': 1}) }}" class="nav-link bold {{ tab == 1 ? 'active':'' }}" role="tablist">
				{{ 'trainers.catalog.all_courses'|trans }}
			</a>
		</li>
		<li class="nav-item">
			<a href="{{ url('learner_catalog_index', {'tab': 2}) }}" class="nav-link bold {{ tab == 2 ? 'active':'' }}" role="tablist">
				{{ 'trainers.catalog.new_courses'|trans }}
			</a>
		</li>
		<li class="nav-item">
			<a href="{{ url('learner_catalog_index', {'tab': 3}) }}" class="nav-link bold {{ tab == 3 ? 'active':'' }}" role="tablist">
				{{ 'trainers.catalog.my_recommendation'|trans }}
			</a>
		</li>
		<li class="nav-item">
			<a href="{{ url('learner_catalog_index', {'tab': 4}) }}" class="nav-link bold {{ tab == 4 ? 'active':'' }}" role="tablist">
				{{ 'trainers.catalog.popular_courses'|trans }}
			</a>
		</li>
		<li class="nav-item">
			<a href="{{ url('learner_catalog_index', {'tab': 5}) }}" class="nav-link bold {{ tab == 5 ? 'active':'' }}" role="tablist">
				{{ 'trainers.catalog.fauvorite_courses'|trans }}
			</a>
		</li>
	</ul>
</nav>