<div class="row">
	<div class="col-sm-6 col-xl-3">
		{{ include('molecules/widgets/card-stats.html.twig',{
			'color': 'orangelight',
			'icon': 'book',
			'title': 'learners.dashboard.nav.opened_plans'|trans,
			'titleSmall': '',
			'statNumber': count.courses,
			'link': path('learner_courses_index')~'?tab=toBegin',
			'linkDesc': 'learners.dashboard.nav.see_all_plans'|trans ~ ' >>'
		}) }}
	</div>

	<div class="col-sm-6 col-xl-3">
		{{ include('molecules/widgets/card-stats.html.twig',{
			'color': 'red',
			'icon': 'exclamation-triangle',
			'title': 'learners.dashboard.nav.alerts'|trans,
			'titleSmall': '',
			'statNumber': count.alerts,
			'link': path('learner_dashboard_alerts'),
			'linkDesc': 'learners.dashboard.nav.see_all_alerts'|trans ~ ' >>'
		}) }}
	</div>

	<div class="col-sm-6 col-xl-3">
		{{ include('molecules/widgets/card-stats.html.twig',{
			'color': 'mediumgray',
			'icon': 'user-tie',
			'title': 'learners.dashboard.nav.exercices'|trans,
			'titleSmall': '',
			'statNumber': count.exercices,
			'link': path('learner_dashboard_exercices'),
			'linkDesc': 'learners.dashboard.nav.see_all_exercices'|trans ~ ' >>'
		}) }}
	</div>

	<div class="col-sm-6 col-xl-3">
		{{ include('molecules/widgets/card-stats.html.twig',{
			'color': 'navy',
			'icon': 'calendar-check',
			'title': 'learners.dashboard.nav.activities'|trans,
			'titleSmall': '',
			'statNumber': count.activities,
			'link': path('learner_dashboard_bookings'),
			'linkDesc': 'learners.dashboard.nav.see_all_activities'|trans ~ ' >>'
		}) }}
	</div>
</div>
