<nav>
    <ul class="nav nav-pills justify-content-center" role="tablist">
        <li class="nav-item text-center">
            <a data-type="0" class="nav-link pointer btnAction active text-center ">
              <span>{{ 'trainers.statistics.export.all'|trans }}</span>
            </a>
        </li>
        <li class="nav-item">
            <a data-type="{{ constant('\\ApiBundle\\Entity\\StoredModule::ONLINE') }}" class="nav-link btnAction pointer create-link nav-link--flex">
               <span>{{ 'trainers.statistics.export.individual'|trans }}</span>
            </a>
        </li>
        <li class="nav-item">
            <a data-type="{{ constant('\\ApiBundle\\Entity\\StoredModule::VIRTUAL_CLASS') }}" class="nav-link btnAction pointer nav-link--flex">
                <span>{{ 'trainers.statistics.export.virtual'|trans }}</span>
            </a>
        </li>
        <li class="nav-item">
            <a data-type="{{ constant('\\ApiBundle\\Entity\\StoredModule::PRESENTATION_ANIMATION') }}" class="nav-link btnAction pointer nav-link--flex " >
               <span>{{ 'trainers.statistics.export.presentation'|trans }}</span>
            </a>
        </li>
    </ul>
</nav>
