<div class="row">
	<div class="col-sm-6 col-xl-3">
		{{ include('molecules/widgets/card-stats.html.twig',{
			'color': 'orangelight',
			'icon': 'book',
			'title': 'trainers.dashboard.nav.activities'|trans,
			'titleSmall': 'trainers.dashboard.nav.today'|trans,
			'statNumber': count.activities,
			'link': path('trainer_dashboard'),
			'linkDesc': 'trainers.dashboard.nav.see_all_activities'|trans ~ '>>'
		}) }}
	</div>

	<div class="col-sm-6 col-xl-3">
		{{ include('molecules/widgets/card-stats.html.twig',{
			'color': 'red',
			'icon': 'exclamation-triangle',
			'title': 'trainers.dashboard.nav.alerts'|trans,
			'titleSmall': '',
			'statNumber': count.alerts,
			'link': path('trainer_dashboard_alerts'),
			'linkDesc': 'trainers.dashboard.nav.see_all_alerts'|trans ~ '>>'
		}) }}
	</div>

	<div class="col-sm-6 col-xl-3">
		{{ include('molecules/widgets/card-stats.html.twig',{
			'color': 'mediumgray',
			'icon': 'address-book',
			'title': 'trainers.dashboard.nav.reports'|trans,
			'titleSmall': '',
			'statNumber': count.reports,
			'link': path('trainer_reports_index'),
			'linkDesc': 'global.edit'|trans ~ '>>'
		}) }}
	</div>

	<div class="col-sm-6 col-xl-3">
		{{ include('molecules/widgets/card-stats.html.twig',{
			'color': 'navy',
			'icon': 'file-edit',
			'title': 'trainers.dashboard.nav.exercices'|trans,
			'titleSmall': '',
			'statNumber': count.exercices,
			'link': path('trainer_dashboard_exercices'),
			'linkDesc': 'trainers.dashboard.nav.see_all_exercices'|trans ~ ' >>'
		}) }}
	</div>
</div>
