{% if edit == true %}
<tr class="paramline" name="lines">
    <td>
        <input type="checkbox" name="isTitle" checked="{{ line.title }}">
    </td>
    <td>
        <input name="notation" required="required" class="form-control" type="text" value="{{ line.notation }}">
    </td>
    <td>
        <input name="wording" required="required" class="form-control" type="text" value="{{ line.wording }}">
    </td>
</tr>
{% else %}
<tr class="paramline" name="lines">
    <td>
        <input type="checkbox" name="isTitle">
    </td>
    <td>
        <input name="wording" required="required" class="form-control" type="text">
    </td>
    <td>
        <input name="notation" required="required" class="form-control" type="number">
    </td>
</tr>
{% endif %}
