<!-- Container Question -->
<div template-id="containerQuestion">
    <div class="ui-state-default">
        <div class="card">
            <input type="hidden" id="step-N-q-y-id" class="question-id" value="tmp" />
            <input type="hidden" id="step-N-q-y-history_id" class="question-history-id" value="" />
            <input type="hidden" id="step-N-q-y-pos" class="posQuestion" value="0" />
            <input type="hidden" id="step-N-q-y-type" class="question-type step-N-q-y-type" value="" />
            <input type="hidden" id="step-N-q-y-image" value="" />
            <input type="hidden" id="step-N-q-y-image-file-descriptor" value="" />
            <input type="hidden" id="step-N-q-y-doc" value="" />
            <input type="hidden" id="step-N-q-y-doc-file-descriptor" value="" />
            <input type="hidden" id="step-N-q-y-song" value="" />
            <input type="hidden" id="step-N-q-y-song-file-descriptor" value="" />
            <input type="hidden" id="step-N-q-y-video" value="" />
            <input type="hidden" id="step-N-q-y-video-file-descriptor" value="" />
            <input type="hidden" id="step-N-q-y-image-good" value="" />
            <input type="hidden" id="step-N-q-y-image-good-file-descriptor" value="" />
            <input type="hidden" id="step-N-q-y-doc-good" value="" />
            <input type="hidden" id="step-N-q-y-doc-good-file-descriptor" value="" />
            <input type="hidden" id="step-N-q-y-song-good" value="" />
            <input type="hidden" id="step-N-q-y-song-good-file-descriptor" value="" />
            <input type="hidden" id="step-N-q-y-video-good" value="" />
            <input type="hidden" id="step-N-q-y-video-good-file-descriptor" value="" />
            <input type="hidden" id="step-N-q-y-template-correction" value="" />
            <input type="hidden" id="step-N-q-y-template-correction-file-descriptor" value="" />
            <input type="hidden" id="step-N-q-y-image-correction" value="" />
            <input type="hidden" id="step-N-q-y-image-correction-file-descriptor" value="" />
            <input type="hidden" id="step-N-q-y-doc-correction" value="" />
            <input type="hidden" id="step-N-q-y-doc-correction-file-descriptor" value="" />
            <input type="hidden" id="step-N-q-y-song-correction" value="" />
            <input type="hidden" id="step-N-q-y-song-correction-file-descriptor" value="" />
            <input type="hidden" id="step-N-q-y-video-correction" value="" />
            <input type="hidden" id="step-N-q-y-video-correction-file-descriptor" value="" />
            <input type="hidden" id="step-N-q-y-titleJS" value="{{ 'admin.quiz.create.question.container.title_question'|trans }}" />
            <div class="card-header" id="headingOne">
                <div class="row">
                    <div class="col-md-6 cursor-move">
                        <h2 class="mb-0">
                            <small><i class="fa fa-arrows-alt-v text-info marg-r-10"></i></small>
                            <button class="btn btn-outline-info btn-sm quiz-title-right" type="button" data-toggle="collapse" data-target="#step-N-q-y" aria-expanded="true" aria-controls="collapseOne">
                                <i class="fa fa-pen"></i>  {{ 'admin.quiz.create.question.container.title_question'|trans }} <span class="questionPos">question-y</span>
                            </button>
                        </h2>
                    </div>
                    <div class="col-md-6 text-right">
                        <button type="button"  class="btn btn-sm btn-outline-danger deleteQuestion" data-question_id="step-N-q-y" ><i class="fa fa-times"></i> {{ 'admin.quiz.create.question.container.delete'|trans }}</button>
                    </div>
                </div>
            </div>
            <div class="collapse" aria-labelledby="headingOne" data-parent="#step-N-accordion" id="step-N-q-y">
                <!-- Question header -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="question question-body">
                            <div class="row">
                                <div class="col-6">
                                    <h3 class="color-header questionName">{{ 'admin.quiz.create.question.container.title_question'|trans }} <span class="questionPos">question-y</span></h3>
                                </div>
                            </div>
                            <textarea id="step-N-q-y-question"  class="editor" name="" style="resize:none"></textarea>
                            <div class="row">
                                <div class="col-md-3 text-center">
                                    <button type="button" class="btn btn-sm btn-deepmark-lightblue addImage" data-step-id="step-x" data-question-id="question-y" data-toggle="modal" data-target="#add-image"><i class="fa fa-image"></i> {{ 'admin.quiz.create.question.container.add_image'|trans }}</button>
                                    <div class="text-center" id="step-N-q-y-image-preview"></div>
                                </div>
                                <div class="col-md-3 text-center">
                                    <button type="button" class="btn btn-sm btn-deepmark-lightblue addDoc" data-step-id="step-x" data-question-id="question-y" data-toggle="modal" data-target="#add-doc"><i class="fa fa-file"></i> {{ 'admin.quiz.create.question.container.add_doc'|trans }}</button>
                                    <div class="text-center" id="step-N-q-y-doc-preview"></div>
                                </div>
                                <div class="col-md-3 text-center">
                                    <button type="button" class="btn btn-sm btn-deepmark-lightblue addSong" data-step-id="step-x" data-question-id="question-y" data-toggle="modal" data-target="#add-song"><i class="fa fa-music"></i> {{ 'admin.quiz.create.question.container.add_song'|trans }}</button>
                                    <div class="text-center" id="step-N-q-y-song-preview"></div>
                                </div>
                                <div class="col-md-3 text-center">
                                    <button type="button" class="btn btn-sm btn-deepmark-lightblue addVideo" data-step-id="step-x" data-question-id="question-y" data-toggle="modal" data-target="#add-video"><i class="fa fa-video"></i> {{ 'admin.quiz.create.question.container.add_video'|trans }}</button>
                                    <div class="text-center" id="step-N-q-y-video-preview"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Question content -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="question question-body questionContent">
                        </div>
                    </div>
                </div>

                <!-- Question footer -->
                <div class="row answer_needed answer_needed-step-N-q-y">
                    <div class="col-md-12">
                        <div class="question question-body">
                            <h3 class="color-header">{{ 'admin.quiz.create.question.container.footer_question'|trans }}</h3>
                            <div class="row marg-b-15">
                                <!-- Points -->
                                <div class="col-md-6 no-padding-left">
                                    <div class="form-group">
                                        <label>{{ 'admin.quiz.create.question.container.points_label'|trans }}</label>
                                        <input maxlength="255" class="cdform-control question-points" data-step-id="step-x" data-question-id="question-y" id="step-N-q-y-points" type="number" value="1"/>
                                    </div>
                                </div>

                                <!-- Question type -->
                                <div class="col-md-6 no-padding-left">
                                    <label>{{ 'admin.quiz.create.question.container.type_label'|trans }}</label>
                                    <select data-style="select-with-transition" name="" class="selectpicker" id="step-N-q-y-answer_type">
                                        <option value="1">{{ 'admin.quiz.create.question.container.type_strict'|trans }}</option>
                                        <option value="2">{{ 'admin.quiz.create.question.container.type_partial'|trans }}</option>
                                    </select>
                                </div>
                            </div>

                           <!-- Messages -->
                            <div class="row marg-b-15 hide-element" data-active_section="question_msg">
                                <div class="col-md-6 no-padding-left">
                                    <div class="form-group">
                                        <label>{{ 'admin.quiz.create.question.container.msg_ok'|trans }}</label>
                                        <textarea class="option-textarea" id="step-N-q-y-msg_ok" type="text">{{'admin.quiz.create.question.container.msg_ok_default'|trans}}</textarea>
                                    </div>
                                </div>
                                <div class="col-md-6 no-padding-left">
                                    <div class="form-group">
                                        <label>{{ 'admin.quiz.create.question.container.msg_nok'|trans }}</label>
                                        <textarea class="option-textarea" id="step-N-q-y-msg_nok" type="text">{{'admin.quiz.create.question.container.msg_nok_default'|trans}}</textarea>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Find Out More -->
                        <div class="row learn-more-div">
                            <div class="col-md-12 no-padding">
                                <div class="row">
                                    <div class="col-12">
                                        <h3 class="color-header questionName">{{ 'global.find_out_more'|trans }}</h3>
                                    </div>
                                    <div class="col-md-6 marg-b-20">
                                        <label for="step-N-q-y-is_learn_more">{{ 'global.find_out_more'|trans }}</label>
                                        <select data-style="select-with-transition" name="" class="selectpicker islearnMore" data-step-id="step-x" data-question-id="question-y"  id="step-N-q-y-is_learn_more">
                                            <option value="0">{{ 'global.no'|trans }}</option>
                                            <option value="1">{{ 'global.yes'|trans }}</option>
                                        </select>
                                    </div>
                                </div>
                                <div id="step-N-q-y-learn_more_body" class="question question-body" style="display: none;">
                                    <textarea id="step-N-q-y-question-good" class="editor" name="" style="resize:none"></textarea>
                                    <div class="row">
                                        <div class="col-md-3 text-center">
                                            <div style="display: inline-flex">
                                                <button type="button" class="btn btn-sm btn-deepmark-lightblue addImageGood" data-step-id="step-x" data-question-id="question-y" data-toggle="modal" data-target="#add-image"><i class="fa fa-image"></i> {{ 'admin.quiz.create.question.container.add_image'|trans }}</button>
                                                <div class="form-check pad-l-25 pad-t-5">
                                                    <label class="form-check-label">
                                                        <input data-step-id="step-x" data-question-id="question-y" data-type="image" id="step-N-q-y-image-good-download" class="form-check-input is-download" type="checkbox"
                                                               value="">
                                                        <span class="form-check-sign">
                                                        <span class="check"></span>
                                                    </span>
                                                    </label>
                                                </div>
                                                <i id="step-N-q-y-image-good-download-icon" class="fa fa-download text-gray pad-t-10"></i>
                                            </div>
                                            <div class="text-center" id="step-N-q-y-image-preview-good"></div>
                                        </div>
                                        <div class="col-md-3 text-center">
                                            <div style="display: inline-flex">
                                                <button type="button" class="btn btn-sm btn-deepmark-lightblue addDocGood" data-step-id="step-x" data-question-id="question-y" data-toggle="modal" data-target="#add-doc"><i class="fa fa-file"></i> {{ 'admin.quiz.create.question.container.add_doc'|trans }}</button>
                                                <div class="form-check pad-l-25 pad-t-5">
                                                    <label class="form-check-label">
                                                        <input data-step-id="step-x" data-question-id="question-y" data-type="doc" id="step-N-q-y-doc-good-download" class="form-check-input is-download" type="checkbox"
                                                               value="">
                                                        <span class="form-check-sign">
                                                        <span class="check"></span>
                                                    </span>
                                                    </label>
                                                </div>
                                                <i id="step-N-q-y-doc-good-download-icon" class="fa fa-download text-gray pad-t-10"></i>
                                            </div>
                                            <div class="text-center" id="step-N-q-y-doc-preview-good"></div>
                                        </div>
                                        <div class="col-md-3 text-center">
                                            <div style="display: inline-flex">
                                                <button type="button" class="btn btn-sm btn-deepmark-lightblue addSongGood" data-step-id="step-x" data-question-id="question-y" data-toggle="modal" data-target="#add-song"><i class="fa fa-music"></i> {{ 'admin.quiz.create.question.container.add_song'|trans }}</button>
                                                <div class="form-check pad-l-25 pad-t-5">
                                                    <label class="form-check-label">
                                                        <input data-step-id="step-x" data-question-id="question-y" data-type="song" id="step-N-q-y-song-good-download" class="form-check-input is-download" type="checkbox"
                                                               value="">
                                                        <span class="form-check-sign">
                                                        <span class="check"></span>
                                                    </span>
                                                    </label>
                                                </div>
                                                <i id="step-N-q-y-song-good-download-icon" class="fa fa-download text-gray pad-t-10"></i>
                                            </div>
                                            <div class="text-center" id="step-N-q-y-song-preview-good"></div>
                                        </div>
                                        <div class="col-md-3 text-center">
                                            <div style="display: inline-flex">
                                                <button type="button" class="btn btn-sm btn-deepmark-lightblue addVideoGood" data-step-id="step-x" data-question-id="question-y" data-toggle="modal" data-target="#add-video"><i class="fa fa-video"></i> {{ 'admin.quiz.create.question.container.add_video'|trans }}</button>
                                                <div class="form-check pad-l-25 pad-t-5">
                                                    <label class="form-check-label">
                                                        <input data-step-id="step-x" data-question-id="question-y" data-type="video" id="step-N-q-y-video-good-download" class="form-check-input is-download" type="checkbox"
                                                               value="">
                                                        <span class="form-check-sign">
                                                        <span class="check"></span>
                                                    </span>
                                                    </label>
                                                </div>
                                                <i id="step-N-q-y-video-good-download-icon" class="fa fa-download text-gray pad-t-10"></i>
                                            </div>
                                            <div class="text-center" id="step-N-q-y-video-preview-good"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Find Out More -->
                    </div>
                </div>

                <!-- Default correction -->
                <div class="row hide-element" data-active_section="default_correction">
                    <div class="col-md-12">
                        <div class="question question-body">
                            <h3 class="color-header">{{ 'admin.quiz.create.question.container.default_correction.title'|trans }}</h3>
                            <!-- Activate -->
                            <div class="row marg-b-15">
                                <div class="col-12 no-padding-left text-center">
                                    <span class="badge badge-secondary badge-actionable default_correction-step-N-q-y" data-actionable="default_correction-step-N-q-y" data-actionable_type="div" data-actionable_target="default_correction-step-N-q-y-div" data-actionable_value="1">{{ 'admin.quiz.create.question.container.default_correction.yes'|trans }}</span>
                                    <span class="badge badge-secondary badge-actionable ml-2 active default_correction-step-N-q-y" data-actionable="default_correction-step-N-q-y" data-actionable_type="div" data-actionable_target="default_correction-step-N-q-y-div" data-actionable_value="0">{{ 'admin.quiz.create.question.container.default_correction.no'|trans }}</span>
                                </div>
                            </div>

                            <!-- Configuration -->
                            <div class="row marg-b-15 hide-element default_correction-step-N-q-y-div">
                                <div class="col-12 no-padding-left">
                                    <textarea id="step-N-q-y-default_correction"  class="editor" name="" style="resize:none"></textarea>
                                    <div class="row">
                                        <div class="col-md-3 text-center">
                                            <button type="button" class="btn btn-sm btn-deepmark-lightblue addImageCorrection" data-step-id="step-x" data-question-id="question-y" data-toggle="modal" data-target="#add-image"><i class="fa fa-image"></i> {{ 'admin.quiz.create.question.container.add_image'|trans }}</button>
                                            <div class="text-center" id="step-N-q-y-image-correction-preview"></div>
                                        </div>
                                        <div class="col-md-3 text-center">
                                            <button type="button" class="btn btn-sm btn-deepmark-lightblue addDocCorrection" data-step-id="step-x" data-question-id="question-y" data-toggle="modal" data-target="#add-doc"><i class="fa fa-file"></i> {{ 'admin.quiz.create.question.container.add_doc'|trans }}</button>
                                            <div class="text-center" id="step-N-q-y-doc-correction-preview"></div>
                                        </div>
                                        <div class="col-md-3 text-center">
                                            <button type="button" class="btn btn-sm btn-deepmark-lightblue addSongCorrection" data-step-id="step-x" data-question-id="question-y" data-toggle="modal" data-target="#add-song"><i class="fa fa-music"></i> {{ 'admin.quiz.create.question.container.add_song'|trans }}</button>
                                            <div class="text-center" id="step-N-q-y-song-correction-preview"></div>
                                        </div>
                                        <div class="col-md-3 text-center">
                                            <button type="button" class="btn btn-sm btn-deepmark-lightblue addVideoCorrection" data-step-id="step-x" data-question-id="question-y" data-toggle="modal" data-target="#add-video"><i class="fa fa-video"></i> {{ 'admin.quiz.create.question.container.add_video'|trans }}</button>
                                            <div class="text-center" id="step-N-q-y-video-correction-preview"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Personalized correction -->
                <div class="row hide-element" data-active_section="personalized_correction">
                    <div class="col-md-12">
                        <div class="question question-body">
                            <h3 class="color-header">{{ 'admin.quiz.create.question.container.personalized_correction.title'|trans }}</h3>
                            <!-- Activate -->
                            <div class="row marg-b-15">
                                <div class="col-12 no-padding-left text-center">
                                    <span class="badge badge-secondary badge-actionable personalized_correction-step-N-q-y" data-actionable="personalized_correction-step-N-q-y" data-actionable_type="div" data-actionable_target="personalized_correction-step-N-q-y-div" data-actionable_value="1">{{ 'admin.quiz.create.question.container.personalized_correction.yes'|trans }}</span>
                                    <span class="badge badge-secondary badge-actionable ml-2 active personalized_correction-step-N-q-y" data-actionable="personalized_correction-step-N-q-y" data-actionable_type="div" data-actionable_target="personalized_correction-step-N-q-y-div" data-actionable_value="0">{{ 'admin.quiz.create.question.container.personalized_correction.no'|trans }}</span>
                                </div>
                            </div>

                            <!-- Configuration -->
                            <div class="row marg-b-15 hide-element personalized_correction-step-N-q-y-div">
                                <div class="col-12">
                                    <div class="row">
                                        <div class="col-12 mt-4">
                                            <input type="checkbox" class="float-left" name="personalized_correction-step-N-q-y-free" value="1" />
                                            <label class="float-left ml-2">{{ 'admin.quiz.create.question.container.personalized_correction.free'|trans }}</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 mt-4">
                                            <input type="checkbox" class="float-left" name="personalized_correction-step-N-q-y-document" value="1" />
                                            <label class="float-left ml-2">{{ 'admin.quiz.create.question.container.personalized_correction.document'|trans }}</label>
                                            <span class="badge badge-secondary badge-actionable float-left ml-2 personalized_correction_document-step-N-q-y" data-actionable="personalized_correction_document-step-N-q-y" data-actionable_type="input-multi" data-actionable_name="xls" data-actionable_value="1">{{ 'admin.quiz.create.question.container.personalized_correction.xls'|trans }}</span>
                                            <span class="badge badge-secondary badge-actionable float-left ml-2 personalized_correction_document-step-N-q-y" data-actionable="personalized_correction_document-step-N-q-y" data-actionable_type="input-multi" data-actionable_name="doc" data-actionable_value="1">{{ 'admin.quiz.create.question.container.personalized_correction.doc'|trans }}</span>
                                            <span class="badge badge-secondary badge-actionable float-left ml-2 personalized_correction_document-step-N-q-y" data-actionable="personalized_correction_document-step-N-q-y" data-actionable_type="input-multi" data-actionable_name="ppt" data-actionable_value="1">{{ 'admin.quiz.create.question.container.personalized_correction.ppt'|trans }}</span>
                                            <span class="badge badge-secondary badge-actionable float-left ml-2 personalized_correction_document-step-N-q-y" data-actionable="personalized_correction_document-step-N-q-y" data-actionable_type="input-multi" data-actionable_name="pdf" data-actionable_value="1">{{ 'admin.quiz.create.question.container.personalized_correction.pdf'|trans }}</span>
                                            <span class="badge badge-secondary badge-actionable float-left ml-2 personalized_correction_document-step-N-q-y" data-actionable="personalized_correction_document-step-N-q-y" data-actionable_type="input-multi" data-actionable_name="img" data-actionable_value="1">{{ 'admin.quiz.create.question.container.personalized_correction.img'|trans }}</span>
                                            <span class="badge badge-secondary badge-actionable float-left ml-2 personalized_correction_document-step-N-q-y" data-actionable="personalized_correction_document-step-N-q-y" data-actionable_type="input-multi" data-actionable_name="video" data-actionable_value="1">{{ 'admin.quiz.create.question.container.personalized_correction.video'|trans }}</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 mt-4">
                                            <div class="float-left mt-2 mr-3">
                                                <input type="checkbox" class="float-left" name="personalized_correction-step-N-q-y-template" value="1" />
                                                <label class="float-left ml-2">{{ 'admin.quiz.create.question.container.personalized_correction.template'|trans }}</label>
                                            </div>
                                            <div class="float-left">
                                                <button type="button" class="btn btn-sm btn-deepmark-lightblue addTemplateCorrection" data-step-id="step-x" data-question-id="question-y" data-toggle="modal" data-target="#add-doc"><i class="fa fa-file"></i> {{ 'admin.quiz.create.question.open.learners_answer.template_upload'|trans }}</button>
                                            </div>
                                            <div class="text-center float-left mt-2 ml-3" id="step-N-q-y-template-correction-preview"></div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 mt-4">
                                            <input type="checkbox" class="float-left" name="personalized_correction-step-N-q-y-record" value="1" />
                                            <label class="float-left ml-2">{{ 'admin.quiz.create.question.container.personalized_correction.record'|trans }}</label>
                                            <span class="badge badge-secondary badge-actionable float-left ml-2 personalized_correction_record-step-N-q-y" data-actionable="personalized_correction_record-step-N-q-y" data-actionable_type="input" data-actionable_name="audio" data-actionable_value="1">{{ 'admin.quiz.create.question.container.personalized_correction.audio'|trans }}</span>
                                            <span class="badge badge-secondary badge-actionable float-left ml-2 personalized_correction_record-step-N-q-y" data-actionable="personalized_correction_record-step-N-q-y" data-actionable_type="input" data-actionable_name="video" data-actionable_value="1">{{ 'admin.quiz.create.question.container.personalized_correction.video'|trans }}</span>
                                            <span class="badge badge-secondary badge-actionable float-left ml-2 personalized_correction_record-step-N-q-y" data-actionable="personalized_correction_record-step-N-q-y" data-actionable_type="input" data-actionable_name="screencast" data-actionable_value="1">{{ 'admin.quiz.create.question.container.personalized_correction.screencast'|trans }}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 mb-2">
                        <!-- Save Ajax -->
                        <div class="row">
                            <div class="col-md-12 text-right">
                                <a class="btn btn-sm btn-deepmark-orangelight saveQuestion" href="#" data-step-id="step-x" data-question-id="question-y" data-base_text="<i class='fa fa-save'></i> {{'admin.quiz.create.question.container.save'|trans }}"><i class="fa fa-save"></i> {{ 'admin.quiz.create.question.container.save'|trans }}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
