<!-- Menu Step -->
<div template-id="menuStep">
    <li class="nav-item nav-step">
        <a class="nav-link quiz-nav-link" id="step-x-tab" data-toggle="tab" href="#step-x" role="tab" aria-controls="step-x" aria-selected="false"></a>
    </li>
</div>
<!-- Container Step -->
<div template-id="containerStep">
    <div class="tab-pane fade" id="step-x" role="tabpanel" aria-labelledby="step-x-tab">
        <input type="hidden" id="step-x-id" value="tmp" />
        <input type="hidden" id="step-x-pos" class="posStep" value="0" />
        <div class="row">
            <div class="col-md-12">
                <div class="text-right">
                    <button type="button"  class="btn btn-sm btn-outline-danger deleteStep hide-element" data-stepId="step-x" ><i class="fa fa-times"></i> {{ 'admin.quiz.create.step.delete'|trans }}</button>
                </div>
            </div>
        </div>
        <!-- Step settings-->
        <div class="card">
            <div class="card-body">
                <div class="col-md-12 text-right">
                    <h3 class="quiz-title-right">{{ 'admin.quiz.create.step.title_settings'|trans }}</h3>
                </div>
                <div class="question question-body">
                    <label>{{ 'admin.quiz.create.step.step_title_label'|trans }}</label>
                    <input maxlength="255" class="option-text" id="step-x-title" type="text" value="Step-x" />
                </div>
            </div>
        </div>


        <!-- Step questions-->
        <div class="accordion questionList sortable" id="step-x-accordion">
            <div class="card firstQuestion">
                <div class="card-body">
                    <h3 class="text-center">{{ 'admin.quiz.create.step.add_first_question'|trans }}</h3>
                    <div id="add-question-wrapper-inline" class="col-sm-12">
                        <div class="card-body">
                            <div class="row">
                                {% for type in question_types %}
                                    <div class="store-item {{ type.canSurvey == false ? 'answer_needed' }}">
                                        <button type="button" class="btn btn-round btn-{{ type.id }}{{ type.isOnline != 'online' ? ' inProgress' }}" id="{{ type.id }}" data-type="{{type.id}}" data-action="{{ type.isOnline == 'online' ? 'addQuestion' }}" data-title="{{ type.id }}">
                                            <i class="fal fa-plus"></i>
                                        </button>
                                        <p>{{ type.name|trans }}</p>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Step validation-->
        <div class="card">
            <div class="card-body">
                <div class="col-md-12 text-right">
                    <h3 class="quiz-title-right">{{ 'admin.quiz.create.step.title_validation'|trans }}</h3>
                </div>
                <!-- Confirmation messages-->
                <div class="question question-body">
                    <h3 class="color-header">{{ 'admin.quiz.create.step.validation.title_messages'|trans }}</h3>
                    <div class="row">
                        <div class="col-md-6">
                            <label>{{ 'admin.quiz.create.step.validation.title_OK'|trans }}</label>
                            <textarea id="step-x-msg_ok" class="option-textarea" name="step-validation-ok[]">{{'admin.quiz.create.step.validation.msg_ok_default'|trans}}</textarea>
                        </div>
                        <div class="col-md-6">
                            <label>{{ 'admin.quiz.create.step.validation.title_NOK'|trans }}</label>
                            <textarea id="step-x-msg_nok" class="option-textarea" name="step-validation-ok[]">{{'admin.quiz.create.step.validation.msg_nok_default'|trans}}</textarea>
                        </div>
                    </div>
                </div>

                <!-- Question management-->
                <div class="question question-body">
                    <h3 class="color-header">{{ 'admin.quiz.create.step.validation.title_questions'|trans }}</h3>
                    <div class="row">
                        <div class="col-md-6">
                            <label>{{ 'admin.quiz.create.step.validation.number_questions_label'|trans }}</label>
                            <select id="step-x-questions_to_show" data-style="select-with-transition" name="" class="selectpicker" data-first_opt="{{ 'admin.quiz.create.step.validation.number_questions_all'|trans }}">
                                <option value="0">{{ 'admin.quiz.create.step.validation.number_questions_all'|trans }}</option>
                            </select>
                        </div>
                        <div class="col-md-6">
                            <label>{{ 'admin.quiz.create.step.validation.order_label'|trans }}</label>
                            <select id="step-x-ordering" data-style="select-with-transition" name="" class="selectpicker">
                                <option value="0">{{ 'admin.quiz.create.step.validation.order_orderly'|trans }}</option>
                                <option value="1">{{ 'admin.quiz.create.step.validation.order_disorderly'|trans }}</option>
                            </select>
                        </div>
                    </div>
                </div>


                <!-- Resume question points-->
                <div class="question question-body hide-element resumeStepPoints">
                    <h3 class="color-header">{{ 'admin.quiz.create.step.validation.question_weight'|trans }}</h3>
                    <div class="row pad-t-20 resumePoints">
                        
                    </div>
                    <h3 class="color-header">{{ 'admin.quiz.create.step.validation.step_weight'|trans }}</h3>
                    <div class="row resumeStep" data-step-id="step-x">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>