{%if quiz %}
    <script type="text/javascript">
        let showAccepted = false;
        let isFinised = false;
        {% if quiz.played|length > 0 %}
            swal({
            title:"{{ 'admin.quiz.create.js.edit_played_title'|trans }}",
                    text:"{{ 'admin.quiz.create.js.edit_played_description'|trans }}",
                    type: 'warning',
                    showConfirmButton: true,
                    showCancelButton: true,
                    timer: undefined
            }).then((e) => {
            showAccepted = true;
            if (isFinised == false) {
            swal({
            title: '{{ 'admin.quiz.create.js.loading_title'|trans }}',
                    text: '{{ 'admin.quiz.create.js.loading_description'|trans }}',
                    type: 'warning',
                    timer: undefined,
                    allowEscapeKey  : false,
                    allowOutsideClick: false,
                    showConfirmButton: false
            });
            }
            }).catch(error => {
            window.history.back();
            });
        {% else %}
            showAccepted = true;
            swal({
            title: '{{ 'admin.quiz.create.js.loading_title'|trans }}',
                    text: '{{ 'admin.quiz.create.js.loading_description'|trans }}',
                    type: 'warning',
                    timer: undefined,
                    allowEscapeKey  : false,
                    allowOutsideClick: false,
                    showConfirmButton: false
            });
        {% endif %}

            let questionCounter = 0;
            const edit = true;
            // Create steps
            let allSteps = [];
            let decoded;
            
            
        {%for step in steps %}
            allSteps.push({
            step: {
            id: "{{step.step.id}}",
                    title: "{{step.step.title}}",
                    ordering: "{{step.step.ordering}}",
                    params:{{step.step.getParams()|raw}}
            }
            });
            allSteps[allSteps.length - 1]["questions"] = [];
            questionCounter +={{step.questions|length}} ;
            {%for question in step.questions %}
                decoded = "{{ question.getQuestion()|e('js')}}";
                allSteps[allSteps.length - 1]["questions"].push({
                id: "{{question.getId()}}",
                        question: decoded,
                        type: "{{question.getType()}}",
                        score_to_pass: "{{question.getScore_to_pass()}}",
                        is_learn_more : "{{question.isLearnMore}}",
                        is_survey: "{{question.getIsSurvey()}}",
                        params:{{question.getParams()|raw}},
                        items: [],
                });
                {%for item in question.items %}
                    currQuestion = allSteps[allSteps.length - 1]["questions"];
                    currQuestion[currQuestion.length - 1].items.push({
                    "quiz_id": "{{quiz.getId()}}",
                            "question_id": "{{question.getId()}}",
                            "type": "{{item.getType()}}",
                            "name": "{{item.getName()|e('js')|replace({'"': '\"'})}}",
                            "value": "{{item.getValue()|e('js')|replace({'"': '\"'})}}",
                    {%if item.getSpecifics()%}
                        {% autoescape "html" %}
                                    "specifics":{{item.getSpecifics()|raw}}
                        {% endautoescape %}
                    {%else%}
                                "specifics": ""
                    {%endif%}
                        });
                {%endfor%}
            {%endfor%}
        {%endfor%}


            // Add steps to the view
            $(document).ready(function(){
                
            {% if quiz.getIsSurvey() == 1 %}
                quizService.setIsSurvey(true);
            {% endif %} 
            
            // 0 Question / 1 Step
            if (questionCounter == 0) {
            quizService.addStepProcess();
            swal.close();
            }

            let questionCountMatch = 0;
            allSteps.map((step) => {
            quizService.addStepProcess(step.step);
            step.questions.map((question) => {
            quizService.addQuestionProcess(question.type, {'id' : question.id, 'question': question.question, 'score_to_pass':question.score_to_pass, 'is_survey':question.is_survey, 'is_learn_more':question.is_learn_more, 'params': question.params, 'items':question.items, 'step' : step.step});
            questionCountMatch += 1;
            if (questionCounter == questionCountMatch) {
            isFinised = true;
            if (showAccepted) {
            swal.close();
            }
            }
            });
            });
            $('.collapsing').css('height', 'auto');
        {% if quiz.getIsSurvey() == 1 %}
                $('.typeQuestion').removeClass('btn-info').addClass('btn-outline-info');
                $('.typeQuestion[data-type="survey"]').removeClass('btn-outline-info').addClass('btn-info');
                quizService.setIsSurvey(true);
        {% endif %}
            });
    </script>
{%else%}
    <script type="text/javascript">
        const edit = false;
    </script>
{%endif%}