<!-- Quiz settings -->
<div class="row quiz-new">
    <div class="col-xl-12">
        <div class="question question-multiple_choice quiz_controls" id="controlls-container">
            <div class="question-header">
                <h5>{{ 'admin.quiz.create.settings.title'|trans }}</h5>
            </div>

            <div class="question-body quiz-settings-container ">
                <div class="question-content">
                    <div class="row">
                        <div class="col-6">
                            <!-- Quiz name -->
                            <div class="form-group">
                                <label for="quiz_title">{{ 'admin.quiz.create.name.title'|trans }}</label>
                                <input maxlength="255" class="option-text" name="quiz_title" id="quiz_title" type="text" placeholder="{{ 'admin.quiz.create.name.placeholder'|trans }}" value="{{ quiz ? quiz.title : 'admin.quiz.create.name.placeholder'|trans }}" />
                            </div>

                            <!-- Quiz duration -->
                            <div class="form-group">
                                <label for="quiz_duration">{{ 'admin.quiz.create.duration.title'|trans }}</label>
                                <input maxlength="255" class="option-text" name="quiz_duration" id="quiz_duration" type="text" placeholder="" value="{{ quiz ? quiz.duration : '' }}" />
                            </div>
                        </div>

                        <div class="col-6">
                            <!-- Skills required -->
                            <div class="form-group">
                                <div class="row">
                                    <div class="float-left col-8 no-margin no-padding">
                                        <label for="quiz_skills">{{ 'admin.quiz.create.skills.title'|trans }}</label>

                                        <select name="quiz_skills" id="quiz_skills" class="select2 quiz_skills" multiple="multiple" data-style="select-with-transition" title="">
                                            {% if skills %}
                                                {% for skill in skills %}
                                                    {% set skillSelected = false %}
                                                    {%if quiz.skills is defined %}
                                                        {%for skillSel in quiz.skills %}
                                                            {%if skill.id == skillSel.id %}
                                                                {% set skillSelected = true %}
                                                            {% endif %}
                                                        {%endfor%}
                                                    {% endif %}
                                                    <option value="{{skill.id}}" {{skillSelected ? 'selected' : ''}}>{{skill.designation}}</option>
                                                {% endfor %}
                                            {% endif %}
                                        </select>
                                    </div>

                                    <div class="float-left col-4">
                                        <label for="quiz_skills_or_and">{{ 'admin.quiz.create.skills_or_and.title'|trans }}</label>
                                        <select class="selectpicker" name="quiz_skills_or_and" id="quiz_skills_or_and">
                                            <option value="1" {{ quiz and quiz.skills_or_and == 1 ? 'selected' : ''}}>{{ 'admin.quiz.create.skills_or_and.opt1'|trans }}</option>
                                            <option value="2" {{ quiz and quiz.skills_or_and == 2 ? 'selected' : ''}}>{{ 'admin.quiz.create.skills_or_and.opt2'|trans }}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="clear clearfix"></div>
                            </div>

                            <!-- Correction duration -->
                            <div class="form-group">
                                <div class="float-left col-4 no-margin no-padding">
                                    <label for="correction_duration">{{ 'admin.quiz.create.correction_duration.title'|trans }}</label>
                                    <input maxlength="255" class="option-text" name="quiz_correction_duration" id="quiz_correction_duration" type="text" placeholder="" value="{{ quiz ? quiz.correction_duration : '' }}" />
                                </div>

                                {% if quiz == null  %}
                                    <div class="float-left text-right col-8" data-active_section="choose_type">
                                        <button type="button"  class="btn btn-sm btn-info typeQuestion" data-type="question"><i class="fa fa-question-circle"></i> {{ 'admin.quiz.create.question.container.type.question'|trans }}</button>
                                        <button type="button"  class="btn btn-sm btn-outline-info typeQuestion" data-type="survey"><i class="fa fa-info-circle"></i> {{ 'admin.quiz.create.question.container.type.survey'|trans }}</button>
                                    </div>
                                {% elseif quiz.played|length == 0 %}
                                    <div class="float-left text-right col-8" data-active_section="choose_type">
                                        <button type="button"  class="btn btn-sm btn-info typeQuestion" data-type="question"><i class="fa fa-question-circle"></i> {{ 'admin.quiz.create.question.container.type.question'|trans }}</button>
                                        <button type="button"  class="btn btn-sm btn-outline-info typeQuestion" data-type="survey"><i class="fa fa-info-circle"></i> {{ 'admin.quiz.create.question.container.type.survey'|trans }}</button>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


<!-- CTA Global -->
<div class="row quiz-new">
    <div class="col-xl-12">
        <div class="row">
            <div class="col-xl-4 text-left">
                <button type="button" class="btn btn-sm btn-deepmark-blue addStep" href="#"><i class="fa fa-plus"></i> {{ 'admin.quiz.create.nav.buttons.add_step'|trans }}</button>
            </div>
            <div class="col-xl-4 text-center">
                <button type="button" class="btn btn-sm btn-deepmark-gold importHistory" data-toggle="modal" data-target="#add-from-history"><i class="fa fa-list"></i> {{ 'admin.quiz.create.nav.buttons.add_history'|trans }}</button>
            </div>
            <div class="col-xl-4 text-right">
                <button type="button" class="btn btn-sm btn-deepmark-darkgreen importCSV" data-toggle="modal" data-target="#add-csv"><i class="fa fa-download"></i> {{ 'admin.quiz.create.nav.buttons.add_csv'|trans }}</button>
            </div>
        </div>
    </div>
</div>


<div class="row quiz-new">
    <!-- Step boxe -->
    <div class="col-xl-10 hide-element stepBoxe">
        <div class="row">
            <div class="col-md-12 no-padding">
                <div class="card">
                    <div class="card-body stepList">
                        <!-- Step nav -->
                        <ul class="nav nav-tabs" role="tablist">
                        </ul>
                        <!-- Step contents -->
                        <div class="tab-content">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- CTA End -->
        <div class="row quiz-buttons">
            <div class="col-md-6">
                <a href="{{ path('admin_quiz_index') }}" class="btn btn-deepmark-lightgray"><i class="fa fa-arrow-left"></i> {{ 'admin.quiz.create.actions.cancel'|trans }}</a>
            </div>

            <div class="col-md-6 text-right">
                <a href="#" data-url="{{ path('admin_quiz_index') }}" class="btn btn-deepmark-orangelight saveQuiz"><i class="fa fa-save"></i> {{ 'admin.quiz.create.actions.submit'|trans }}</a>
            </div>
        </div>
    </div>

    <!-- CTA Add questions -->
    <div id="add-question-wrapper" class="col-sm-12 col-xl-2 hide-element stepBoxe">
        <div class="store-step-1">

            <div class="card btn-deepmark-light">

                <div class="card-body">

                    {% for type in question_types %}
                        <div class="store-item col-md-6 no-padding col-xl-12 {{ type.canSurvey == false ? 'answer_needed' }}">
                            <div class="col-md-3 text-center no-padding">
                                <button type="button" class="btn btn-round height-36 btn-green btn-addmod btn-{{ type.id }}{{ type.isOnline != 'online' ? ' inProgress' }}" data-color="green" data-icon="cogs" data-title="Conception" data-id="1" data-display-title="Conception" data-mod=""  id="{{ type.id }}" data-type="{{type.id}}" data-action="{{ type.isOnline == 'online' ? 'addQuestion' }}" data-title="{{ type.id }}"><i class="fal fa-plus"></i></button>
                            </div>
                            <div class="col-md-9 text-left no-padding">
                                <p>
                                    {{ type.name|trans }}<br>
                                </p>
                            </div>

                        </div>
                    {% endfor %}

                </div>
            </div>

        </div>
    </div>
</div>




<!-- Templates used by JS to be added -->
<template class="quiz-new">
    {{ include('molecules/quiz/container_step.html.twig')}}
    {{ include('molecules/quiz/container_question.html.twig')}}

    {% for type in question_types %}
        {{ include('molecules/quiz/questions/template_'~type.id~'.html.twig')}}
    {% endfor %}
</template>

<!-- Modals -->
{{ include('molecules/quiz/modals.html.twig')}}
<!-- Process - Edit / Add from history / Add from CSV -->
{{ include('molecules/quiz/create_process.html.twig', {quiz: quiz, steps: steps})}}

<!-- Translation JS -->
<input type="hidden" id="translations"
       data-confirmation_delete_step="{{ 'admin.quiz.create.js.confirmation_delete_step'|trans }}"
       data-confirmation_delete_question="{{ 'admin.quiz.create.js.confirmation_delete_question'|trans }}"
       data-loading="{{ 'admin.quiz.create.js.loading'|trans }}"
       data-file_sended="{{ 'admin.quiz.create.js.file_sended'|trans }}"
       data-confirm_partial_step_title="{{ 'admin.quiz.create.js.confirm_partial_step_title'|trans }}"
       data-confirm_partial_step_description="{{ 'admin.quiz.create.js.confirm_partial_step_description'|trans }}"
       data-add_history_title="{{ 'admin.quiz.create.js.add_history_title'|trans }}"
       data-add_history_description="{{ 'admin.quiz.create.js.add_history_description'|trans }}"
       data-loading_title="{{ 'admin.quiz.create.js.loading_title'|trans }}"
       data-loading_description="{{ 'admin.quiz.create.js.loading_description'|trans }}"
       data-error_unknown="{{ 'admin.quiz.create.js.error_unknown'|trans }}"
       data-error_min_options="{{ 'admin.quiz.create.js.error_min_options'|trans }}"
       data-error_max_options="{{ 'admin.quiz.create.js.error_max_options'|trans }}"
       data-error_open_1="{{ 'admin.quiz.create.js.error_open_1'|trans }}"
       data-error_open_2="{{ 'admin.quiz.create.js.error_open_2'|trans }}"
       data-error_open_3="{{ 'admin.quiz.create.js.error_open_3'|trans }}"
       data-error_open_4="{{ 'admin.quiz.create.js.error_open_4'|trans }}"
       data-error_scoring_1="{{ 'admin.quiz.create.js.error_scoring_1'|trans }}"
       data-error_scoring_2="{{ 'admin.quiz.create.js.error_scoring_2'|trans }}"
       data-error_scoring_3="{{ 'admin.quiz.create.js.error_scoring_3'|trans }}"
       data-error_scoring_4="{{ 'admin.quiz.create.js.error_scoring_4'|trans }}"
       {# data-error_scoring_5="{{ 'admin.quiz.create.js.error_scoring_5'|trans }}" #}
       data-error_scoring_min="{{ 'admin.quiz.create.js.error_scoring_min'|trans }}"
       data-error_scoring_max="{{ 'admin.quiz.create.js.error_scoring_max'|trans }}"
       data-error_scoring_dec="{{ 'admin.quiz.create.js.error_scoring_dec'|trans }}"
       data-error_scoring_step="{{ 'admin.quiz.create.js.error_scoring_step'|trans }}"
       data-error_scoring_answer="{{ 'admin.quiz.create.js.error_scoring_answer'|trans }}"
       data-saved="{{ 'admin.quiz.create.js.saved'|trans }}"
       data-error="{{ 'admin.quiz.create.js.error'|trans }}"
       data-save_question_first_title="{{ 'admin.quiz.create.js.save_question_first_title'|trans }}"
       data-save_question_first_description="{{ 'admin.quiz.create.js.save_question_first_description'|trans }}"
       data-upload_complete="{{ 'admin.quiz.create.js.upload_complete'|trans }}"
       data-add_image="{{ 'admin.quiz.create.js.add_image'|trans }}"
       data-add_doc="{{ 'admin.quiz.create.js.add_doc'|trans }}"
       data-add_song="{{ 'admin.quiz.create.js.add_song'|trans }}"
       data-add_video="{{ 'admin.quiz.create.js.add_video'|trans }}"
       data-no_preview_title="{{ 'admin.quiz.create.js.no_preview_title'|trans }}"
       data-no_preview_description="{{ 'admin.quiz.create.js.no_preview_description'|trans }}"
       data-video_link_sended="{{ 'admin.quiz.create.js.video_link_sended'|trans }}"
       data-change_type_error_title="{{ 'admin.quiz.create.js.change_type_error_title'|trans }}"
       data-change_type_error_description="{{ 'admin.quiz.create.js.change_type_error_description'|trans }}"
       />

