<!--Add Image-->
<div class="modal modal-md" data-size="modal-md" tabindex="-1" role="dialog" id='add-image'>
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"><strong>{{ 'admin.quiz.create.modals.add_an_image'|trans }}</strong></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="upload-area dropzone" id="quizUploadImage"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ 'admin.quiz.create.modals.close'|trans }}</button>
            </div>
        </div>
    </div>
</div>

<!--Add Doc-->
<div class="modal modal-md" data-size="modal-md" tabindex="-1" role="dialog" id='add-doc'>
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"><strong>{{ 'admin.quiz.create.modals.add_a_doc'|trans }}</strong></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="upload-area dropzone" id="quizUploadDoc"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ 'admin.quiz.create.modals.close'|trans }}</button>
            </div>
        </div>
    </div>
</div>

<!--Add Audio-->
<div class="modal modal-md" data-size="modal-md" tabindex="-1" role="dialog" id='add-song'>
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"><strong>{{ 'admin.quiz.create.modals.add_a_song'|trans }}</strong></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="upload-area dropzone" id="quizUploadSong"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ 'admin.quiz.create.modals.close'|trans }}</button>
            </div>
        </div>
    </div>
</div>

<!--Add Video-->
<div class="modal" tabindex="-1" role="dialog" id='add-video'>
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"><strong>{{ 'admin.quiz.create.modals.add_a_video.title'|trans }}</strong></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6 text-right">
                        <label>{{ 'admin.quiz.create.modals.add_a_video.type_1'|trans }}</label> <input type="radio" name="quiz_video_type" value="image" data-toggle="collapse" data-target="#quiz_video_type_1" aria-expanded="true" aria-controls="quiz_video_type_1" checked />
                    </div>
                    <div class="col-md-6">
                        <input type="radio" name="quiz_video_type" value="image_url" data-toggle="collapse" data-target=".quiz_video_type_2" aria-expanded="false" aria-controls="quiz_video_type_2" /> <label>{{ 'admin.quiz.create.modals.add_a_video.type_2'|trans }}</label>
                    </div>
                </div>
                <div id="accordion">
                    <div class="collapse show" id="quiz_video_type_1" data-parent="#accordion">
                        <div class="upload-area dropzone" id="quizUploadVideo"></div>
                    </div>
                    <div class="collapse marg-t-40 marg-b-40 text-center quiz_video_type_2" data-parent="#accordion">
                        <input type="text" class="form-control mb-2" placeholder="Ex : https://www.youtube.com/watch?v=XXXYYYZZZ" />
                        <iframe id="video-link-viewer"  class="hide-element" width="100%" height="315" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        <div class="alert alert-danger text-center hide-element" id="video-link-error">{{ 'admin.quiz.create.modals.add_a_video.error'|trans }}</div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ 'admin.quiz.create.modals.close'|trans }}</button>
                <button type="button" class="btn btn-deepmark-orangelight quiz_video_type_2_confirm" data-dismiss="modal">{{ 'admin.quiz.create.modals.confirm'|trans }}</button>
            </div>
        </div>
    </div>
</div>



<!--Add DragAndDrop Question-->
<div class="modal" tabindex="-1" role="dialog" id='add-question-drag-and-drop'>
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"><strong>{{ 'admin.quiz.create.modals.drag_and_drop.title'|trans }}</strong></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row marg-t-30">
                    <div class="col-md-6">
                        <div class="icon-box dradAndDropAddOption" data-type="imageToImage" data-dismiss="modal">
                            <div class="icon-box__icon-wrapper">
                                <i class="fal fa-image icon-box__icon"></i>
                                <i class="fal fa-angle-right icon-box__icon"></i>
                                <i class="fal fa-image icon-box__icon"></i>
                            </div>
                            <p class="icon-box__txt">
                                {{ 'admin.quiz.create.modals.drag_and_drop.option_1'|trans }}
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="icon-box dradAndDropAddOption" data-type="imageToText" data-dismiss="modal">
                            <div class="icon-box__icon-wrapper">
                                <i class="fal fa-image icon-box__icon"></i>
                                <i class="fal fa-angle-right icon-box__icon"></i>
                                <i class="fal fa-edit icon-box__icon"></i>
                            </div>
                            <p class="icon-box__txt">
                                {{ 'admin.quiz.create.modals.drag_and_drop.option_2'|trans }}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ 'admin.quiz.create.modals.close'|trans }}</button>
            </div>
        </div>
    </div>
</div>

<!--Add From History-->
<div class="modal" tabindex="-1" role="dialog" id='add-from-history'>
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"><strong>{{ 'admin.quiz.create.modals.add_from_history.title'|trans }}</strong></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="col-md-12">
                    <select class="form-control chooseHistoryType">
                        <option value="all">{{ 'admin.quiz.create.modals.add_from_history.select.choose'|trans }}</option>
                        <option value="qcu">{{ 'admin.quiz.create.modals.add_from_history.select.qcu'|trans }}</option>
                        <option value="qcm">{{ 'admin.quiz.create.modals.add_from_history.select.qcm'|trans }}</option>
                        <option value="drag_and_drop">{{ 'admin.quiz.create.modals.add_from_history.select.drag_and_drop'|trans }}</option>
                        <option value="ordering">{{ 'admin.quiz.create.modals.add_from_history.select.ordering'|trans }}</option>
                        <option value="category">{{ 'admin.quiz.create.modals.add_from_history.select.category'|trans }}</option>
                        <option value="text_to_fil">{{ 'admin.quiz.create.modals.add_from_history.select.text_to_fil'|trans }}</option>
                    </select>
                </div>
                <table id="addFromHistory" class="table">
                    <thead>
                        <tr>
                            <th></th>
                            <th>{{ 'admin.quiz.create.modals.add_from_history.quiz_name'|trans }}</th>
                            <th>{{ 'admin.quiz.create.modals.add_from_history.steps'|trans }}</th>
                            <th>{{ 'admin.quiz.create.modals.add_from_history.questions'|trans }}</th>
                            <th>{{ 'admin.quiz.create.modals.add_from_history.created_at'|trans }}</th>
                        </tr>
                    </thead>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ 'admin.quiz.create.modals.close'|trans }}</button>
                <button type="button" class="btn btn-primary addHistory">{{ 'admin.quiz.create.modals.confirm'|trans }}</button>
            </div>
        </div>
    </div>
</div>


<!--Add CSV-->
<div class="modal" tabindex="-1" role="dialog" id='add-csv'>
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"><strong>{{ 'admin.quiz.create.modals.add_csv.title'|trans }}</strong></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div>{{ 'admin.quiz.create.modals.add_csv.description'|trans }}</div>
                <div class="text-center"><a href="/files/quiz/CSV_Template.csv" target="_blank" class="btn btn-deepmark-orangelight"><i class="fa fa-download"></i> {{ 'admin.quiz.create.modals.add_csv.button'|trans }}</a></div>
                <div class="upload-area dropzone" id="quizUploadCSV"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ 'admin.quiz.create.modals.close'|trans }}</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">{{ 'admin.quiz.create.modals.confirm'|trans }}</button>
            </div>
        </div>
    </div>
</div>