.flex {
  display: flex;
}

.flex--h-center {
  display: flex;
  justify-content: center;
}

.flex--v-center {
  display: flex;
  align-items: center
}

.flex--center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex--baseline {
  display: flex;
  align-items: baseline;
}

.flex--space-between {
  display: flex;
  justify-content: space-between;
}

.flex--column {
  flex-direction: column
}

.f-center {
  justify-content: center;
}
