$spacings: (
  0: $spacing-0,
  10: $spacing-10,
  15: $spacing-15,
  20: $spacing-20,
  30: $spacing-30,
  40: $spacing-40,
  60: $spacing-60,
  80: $spacing-80,
  100: $spacing-100
);

// Generate class for instance: .marg-t-10 { margin-top: 10px; }
@each $i, $spacing in $spacings {
  .marg-#{$i}   { margin: #{$spacing}; }
  .marg-t-#{$i} { margin-top: #{$spacing}; }
  .marg-r-#{$i} { margin-right: #{$spacing}; }
  .marg-b-#{$i} { margin-bottom: #{$spacing}; }
  .marg-l-#{$i} { margin-left: #{$spacing}; }
}

// Generate class for instance: .marg-t-10--xs { @media (max-width: 600px) { margin-top: 10px; }}
@each $key, $breakpoint in $breakpoints {
  @media ( max-width: #{$breakpoint} ) {
    @each $i, $spacing in $spacings {
      .marg-#{$i}--#{$key}   { margin: #{$spacing}; }
      .marg-t-#{$i}--#{$key} { margin-top: #{$spacing}; }
      .marg-r-#{$i}--#{$key} { margin-right: #{$spacing}; }
      .marg-b-#{$i}--#{$key} { margin-bottom: #{$spacing}; }
      .marg-l-#{$i}--#{$key} { margin-left: #{$spacing}; }
    }
  }
}

// Generate class for instance: .pad-t-10 { padding-top: 10px; }
@each $i, $spacing in $spacings {
  .pad-#{$i}   { padding: #{$spacing}; }
  .pad-t-#{$i} { padding-top: #{$spacing}; }
  .pad-r-#{$i} { padding-right: #{$spacing}; }
  .pad-b-#{$i} { padding-bottom: #{$spacing}; }
  .pad-l-#{$i} { padding-left: #{$spacing}; }
}

// Generate class for instance: .pad-t-10--xs { @media (max-width: 600px) { padding-top: 10px; }}
@each $key, $breakpoint in $breakpoints {
  @media ( max-width: #{$breakpoint} ) {
    @each $i, $spacing in $spacings {
      .pad-#{$i}--#{$key}   { padding: #{$spacing}; }
      .pad-t-#{$i}--#{$key} { padding-top: #{$spacing}; }
      .pad-r-#{$i}--#{$key} { padding-right: #{$spacing}; }
      .pad-b-#{$i}--#{$key} { padding-bottom: #{$spacing}; }
      .pad-l-#{$i}--#{$key} { padding-left: #{$spacing}; }
    }
  }
}
