body {
  font-kerning: auto;
  text-rendering: optimizeSpeed;
}

// Font weights
$weights: (
  'thin': 100,
  'extra-light': 200,
  'light': 300,
  'regular': 400,
  'medium': 500,
  'semi-bold': 600,
  'bold': 700,
  'extra-bold': 800,
  'black': 900
);
// Generate class for instance: .t-bold { font-weight: 700; }
@each $key, $value in $weights {
  .t-#{$key} { font-weight: #{$value}; }
}

// Text alignment
$aligns: (
  'left': left,
  'center': center,
  'right': right,
  'justify': justify
);
// Generate class for instance: .t-left { text-align: left; }
@each $key, $value in $aligns {
  .t-#{$key} { text-align: #{$value}; }
}

// Text transform
$transforms: (
  'capitalize': capitalize,
  'uppercase': uppercase,
  'lowercase': lowercase,
  'none': none
);
// Generate class for instance: .t-left { text-transform: uppercase; }
@each $key, $value in $transforms {
  .t-#{$key} { text-transform: #{$value}; }
}

// Line height
$line-heights: (
  10: 1.0,
  12: 1.2,
  14: 1.4,
  16: 1.6,
  18: 1.8,
  20: 2.0
);
// Generate class for instance: .t-lh-12 { line-height: 1.2; }
@each $key, $value in $line-heights {
  .t-lh-#{$key} { line-height: #{$value}; }
}

// Letter spacing
$letter-spacings: (
  1: 1px,
  2: 2px
);
@each $key, $value in $letter-spacings {
  .t-ls-#{$key} { letter-spacing: #{$value}; }
}

.t-nodecoration {
  text-decoration: none;
}

.t-underline {
  text-decoration: underline;
}

.t-normal {
  font-style: normal;
}

.t-italic {
  font-style: italic;
}

.t-shadow {
  text-shadow: 2px 6px $shadow;
}

.icon {
  &--s {
    font-size: 20px
  }
  &--m {
    font-size: 30px;
  }
  &--l {
    font-size: 40px;
  }
  &--xl {
    font-size: 60px;
  }
}
