<style>
    .borderless {
        border:none;
    }
</style>
<div class="table-responsive">
    {% if is_granted('ROLE_LEARNER') %}
        {% set downloadPath = 'learner_document_download' %}
    {% elseif is_granted('ROLE_TRAINER') %}
        {% set downloadPath = 'trainer_document_download' %}
    {% endif %}
    <table class="table table-striped">
        <thead class="table-header">
        <tr>
            <th>{{ 'table.interventions.learner'|trans }}</th>
            <th>{{ 'global.employee_id'|trans }}</th>
            <th width="15%">{{ 'global.signature'|trans }}</th>
            <th width="20%">{{ 'global.signature_status'|trans }}</th>
            <th width="20%">{{ 'global.learner_signature'|trans }}</th>
            <th width="15%">{{ 'global.date_signature'|trans }}</th>
            <th>{{ 'global.po_signature'|trans }}</th>
        </tr>
        </thead>
        <tbody>
        {% for booked in bookingAgendas %}
            {% set allow = 0 %}
            {% set signature_type = 0 %}
            {% set signature_name = '' %}
            {% for param in booked.signatureParams %}
                {% if param == 1 %}
                    {% set allow = 1 %}
                    {% set signature_type = loop.index %}
                    {% set signature_name = module.signatureParameters[loop.index-1]['signatureName'] is defined ? module.signatureParameters[loop.index-1]['signatureName'] : 'global.signature'|trans ~ ' ' ~ loop.index %}
                {% endif %}
            {% endfor %}
            <tr>
                <td>{{ booked.learner.displayName }}</td>
                <td>{{ booked.learner.employeeId }}</td>
                <td width="70%" colspan="4" class="signature-{{ booked.id }}">
                    <table width="100%" class="borderless">
                        {% for param in booked.signatureParams %}
                            {% set paramIndex = loop.index %}
                            <tr>
                                <td width="15%">{{ module.signatureParameters[loop.index-1]['signatureName'] is defined ? module.signatureParameters[loop.index-1]['signatureName'] : 'global.signature'|trans ~ ' ' ~ loop.index }}</td>
                                <td width="20%">{{ param == 1 ? 'global.signature_allow'|trans : 'global.signature_not_allow'|trans }}</td>
                                {% if booked.bookingSignatures|length %}
                                    {% set signatures = 0 %}
                                    {% for sig in booked.bookingSignatures %}
                                        {% if (paramIndex == sig.signatureType) %}
                                            {% if (allow and signature_type) %}
                                                {% set allow = sig.signatureType == signature_type ? 0 : 1 %}
                                            {% endif %}
                                            {% set linkHref = sig.signature ? path(downloadPath, {'id': sig.signature.id}) : '' %}
                                            <td width="20%">
                                                <img id="signature-{{ sig.signature.id }}" src="{{ linkHref }}" height="50">
                                            </td>
                                            <td width="15%">
                                                {{ sig.created|date("d/m/Y") }}
                                            </td>
                                        {% endif %}
                                    {% endfor %}
                                {% else %}
                                    <td width="20%"></td>
                                    <td width="15%"></td>
                                {% endif %}
                            </tr>
                        {% endfor %}

                    </table>
                    {#<table>
                        {% for param in booked.signatureParams %}
                            <tr>
                                <td>{{ module.signatureParameters[loop.index-1]['signatureName'] is defined ? module.signatureParameters[loop.index-1]['signatureName'] : 'global.signature'|trans ~ ' ' ~ loop.index }}</td>
                            </tr>
                        {% endfor %}
                    </table>#}
                </td>
                {#<td>
                    <table>
                        {% for param in booked.signatureParams %}
                            <tr>
                                <td>{{ param == 1 ? 'global.signature_allow'|trans : 'global.signature_not_allow'|trans }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </td>#}
                {#<td>
                    <table>
                        {% if booked.bookingSignatures is defined %}
                            {% set signatures = 0 %}
                            {% for sig in booked.bookingSignatures %}
                                {% if (allow and signature_type) %}
                                    {% set allow = sig.signatureType == signature_type ? 0 : 1 %}
                                {% endif %}
                                {% set linkHref = sig.signature ? path(downloadPath, {'id': sig.signature.id}) : '' %}
                                #}{#<tr>
                                    <td>{{ module.signatureParameters[sig.signatureType-1]['signatureName'] is defined ? module.signatureParameters[sig.signatureType-1]['signatureName'] : 'global.signature'|trans ~ ' ' ~ sig.signatureType }}</td>
                                </tr>
                                <tr>
                                    <td>
                                        {{ sig.created|date("d/m/Y") }}
                                    </td>
                                </tr>#}{#
                                <tr>
                                    <td>
                                        <img id="signature-{{ sig.signature.id }}" src="{{ linkHref }}" height="50">
                                    </td>
                                </tr>
                            {% endfor %}
                        {% endif %}
                    </table>
                </td>#}
                {#<td>
                    <table>
                        {% if booked.bookingSignatures is defined %}
                            {% set signatures = 0 %}
                            {% for sig in booked.bookingSignatures %}
                                {% if (allow and signature_type) %}
                                    {% set allow = sig.signatureType == signature_type ? 0 : 1 %}
                                {% endif %}
                                {% set linkHref = sig.signature ? path(downloadPath, {'id': sig.signature.id}) : '' %}
                                <tr>
                                    <td>
                                        {{ sig.created|date("d/m/Y") }}
                                    </td>
                                </tr>
                            {% endfor %}
                        {% endif %}
                    </table>
                </td>#}
                <td class="a">
                    {% set disabled = (allow == 0) ? 'disabled="disabled"' : '' %}
                    <button {{ disabled }} type="button" class="signature-button-{{ booked.id }} btn btn-sm btn-deepmark-orangelight" data-toggle="modal" data-target="#signature-image" signature-data="{{ booked.id }}" signature-name="{{ signature_name }}" signature-type={{ signature_type }}>
                        <span>{{ 'global.signature_button'|trans }}</span>
                    </button>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<script>
    $(document).ready(function() {
        bindAllowAttendanceSheet();
    });
</script>