{% extends "base.html.twig" %}

{% block title %}{{ 'learners.plans.title'|trans }}{% endblock %}
{% block pagename %}{{ 'learners.plans.title'|trans }}{% endblock %}

{% block body %}
    <div class="row text-center" >
        <div class="col-md-12 text-center">
            <ul class="nav nav-pills justify-content-center pad-t-10" role="tablist">
                <li class="nav-item">
                    <a class="nav-link bold active" data-toggle="tab" href="#toBegin" id="btnBegin" role="tablist">
                        {{ 'learners.plans.tobegin'|trans }}
                    </a>
                </li>

                <li class="nav-item">
                    <a  class="nav-link bold" data-toggle="tab" href="#current"  id="btnCurrent" role="tablist">
                        {{ 'learners.plans.beginned'|trans }}
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link bold" data-toggle="tab" href="#ended"  id="btnEnd" role="tablist">
                        {{ 'learners.plans.ended'|trans }}
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="card header marg-t-10">
        <div class="card-body">
            <div class="tab-content tab-space no-padding">
                <div id="toBegin">
                    <div class="row col-md-12 no-padding">
                        <div class="col-md-12 no-padding">
                            <div class="col-md-12 no-padding border-bottom" >
                                <h3  class="color-header bold marg-t-0"> {{ 'learners.plans.tobegin'|trans }} </h3>
                            </div>
                        </div>
                        {% for key,row in interventions_created %}
                            {% set urlCourse = '' %}
                            <div class="col-md-3 pad-l-5 pad-r-5">
                                <div class="card card-chart card-course ">
                                {% if row.learnerIntervention.intervention.beginning|date("Y/m/d") <= "now"|date("Y/m/d") and row.learnerIntervention.intervention.ending|date("Y/m/d") >= "now"|date("Y/m/d") %}
                                    {%  set urlCourse = path('learner_courses_show', {id: row.learnerIntervention.intervention.id}) %}
                                {% endif %}
                                    <a href="{{ urlCourse }}">
                                        <div class="card-header bg-header d-flex justify-content-center align-items-center" style="{% if row.learnerIntervention.intervention.logo is not null %} background:  linear-gradient(rgb(0, 0, 0,.3),rgb(0, 0, 0,.3)), url('/files/{{ row.learnerIntervention.intervention.logo.path }}'); {% else %} background: linear-gradient(rgb(0, 0, 0,.3),rgb(0, 0, 0,.3))  {% endif %}   ">
                                            {{ include('molecules/widgets/circle-progress.html.twig', { percent: row.learnerIntervention.progression|round } ) }}
                                        </div>
                                    </a>
                                    <div class="pad-5 center-mobile">
                                        <b class="card-title font-size-14 bold long-text">{{ row.learnerIntervention.intervention.designation }}</b>
                                        <p class="no-padding font-size-12 text-gray" >{{ 'global.available_from'|trans }} {{ row.learnerIntervention.intervention.beginning|date("d/m/Y") }} {{ 'global.available_to'|trans }} {{ row.learnerIntervention.intervention.ending|date("d/m/Y") }}</p>

                                        <div class="row d-flex align-items-center justify-content-center my-course-action">
                                            <div id="divDes{{ key }}" class="col-md-12 pad-l-0 pad-t-10 d-none card-des">
                                                <b class="bold">{{ 'global.course_description'|trans }}</b><br>
                                                <span>{{ row.learnerIntervention.intervention.comment|raw }}</span>
                                            </div>
                                            <div class="col-md-4 col-8 text-center left-mobile no-padding course-time">
                                                <embed src="/images/clock.svg" width="22" height="28"
                                                       type="image/svg+xml"/>
                                                <span class="font-size-12 text-gray">{{ row.totalDuration }}</span>
                                            </div>

                                            <div class="col-md-2 col-4 text-center right-mobile no-padding">
                                                <a data-id="{{ key }}" id="plusBtn{{ key }}" class="pointer plusBtn"><i  class="fa fa-plus-circle font-size-22 c-light" aria-hidden="true"></i></a>
                                                <a data-id="{{ key }}" id="minusBtn{{ key }}" class="pointer minusBtn d-none"><i  class="fa fa-minus-circle font-size-22 c-light" aria-hidden="true"></i></a>
                                            </div>
                                            <div class="col-md-6 text-right no-padding">
                                                <a href="{{ path('learner_courses_show', {id: row.learnerIntervention.intervention.id}) }}" class="btn btn-launch backgroud-header btn-block no-margin">{{ 'learners.plans.begin'|trans }} <i class="fas fa-arrow-right"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>

                <div class="marg-t-10" id="current" >
                    <div class="row col-md-12 no-padding ">
                        <div class="col-md-12 no-padding">
                            <div class="col-md-12 no-padding border-bottom">
                                <h3 class="color-header bold marg-t-0 "> {{ 'learners.plans.beginned'|trans }} </h3>
                            </div>
                        </div>
                    {% for key,row in interventions_in_progress %}
                        {% set urlCourse = '' %}
                        <div class="col-md-3 pad-l-5 pad-r-5">
                            <div class="card card-chart card-course ">
                                {% if row.learnerIntervention.intervention.beginning|date("Y/m/d") <= "now"|date("Y/m/d") and row.learnerIntervention.intervention.ending|date("Y/m/d") >= "now"|date("Y/m/d") %}
                                    {%  set urlCourse = path('learner_courses_show', {id: row.learnerIntervention.intervention.id}) %}
                                {% endif %}
                                <a href="{{ urlCourse }}">
                                    <div class="card-header bg-header d-flex justify-content-center align-items-center" style="{% if row.learnerIntervention.intervention.logo is not null %} background:  linear-gradient(rgb(0, 0, 0,.3),rgb(0, 0, 0,.3)), url('/files/{{ row.learnerIntervention.intervention.logo.path }}'); {% else %} background: linear-gradient(rgb(0, 0, 0,.3),rgb(0, 0, 0,.3))  {% endif %}   ">
                                        {{ include('molecules/widgets/circle-progress.html.twig', { percent: row.learnerIntervention.progression|round } ) }}
                                    </div>
                                </a>
                                <div class="pad-5 center-mobile">
                                    <b class="card-title font-size-14 bold long-text">{{ row.learnerIntervention.intervention.designation }}</b>
                                    <p class="no-padding font-size-12 text-gray" >{{ 'global.available_from'|trans }} {{ row.learnerIntervention.intervention.beginning|date("d/m/Y") }} {{ 'global.available_to'|trans }} {{ row.learnerIntervention.intervention.ending|date("d/m/Y") }}</p>

                                    <div class="row d-flex align-items-center justify-content-center my-course-action">
                                        <div id="divDesProgess{{ key }}" class="col-md-12  pad-l-0 pad-t-10 d-none card-des">
                                            <b class="bold">{{ 'global.course_description'|trans }}</b><br>
                                            <span>{{ row.learnerIntervention.intervention.comment|raw }}</span>
                                        </div>
                                        <div class="col-md-4 col-8 text-center left-mobile no-padding course-time">
                                            <embed src="/images/clock.svg" width="22" height="28"
                                                   type="image/svg+xml"/>
                                            <span class="font-size-12 text-gray">{{ row.totalDuration }}</span>
                                        </div>

                                        <div class="col-md-2 col-4 text-center right-mobile no-padding">
                                            <a data-id="{{ key }}" id="plusBtnProgess{{ key }}" class="pointer plusBtnProgess"><i  class="fa fa-plus-circle font-size-22 c-light" aria-hidden="true"></i></a>
                                            <a data-id="{{ key }}" id="minusBtnProgess{{ key }}" class="pointer minusBtnProgess d-none"><i  class="fa fa-minus-circle font-size-22 c-light" aria-hidden="true"></i></a>
                                        </div>
                                        <div class="col-md-6 text-right no-padding">
                                            <a href="{{ path('learner_courses_show', {id: row.learnerIntervention.intervention.id}) }}" class="btn btn-launch backgroud-header btn-block no-margin">{{ 'learners.plans.begin'|trans }} <i class="fas fa-arrow-right"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    {% endfor %}
                    </div>
                </div>

                <div id="ended">
                    <div class="row col-md-12 no-padding">
                        <div class="col-md-12 no-padding">
                            <div class="col-md-12 no-padding border-bottom" >
                                <h3  class="bold marg-t-0 color-header font-weight-bold"> {{ 'learners.plans.ended'|trans }} </h3>
                            </div>
                        </div>
                        {% for key,row in interventions_finished %}
                            {% set urlCourse = '' %}
                            <div class="col-md-3 pad-l-5 pad-r-5">
                                <div class="card card-chart card-course ">
                                    {% if row.learnerIntervention.intervention.beginning|date("Y/m/d") <= "now"|date("Y/m/d") and row.learnerIntervention.intervention.ending|date("Y/m/d") >= "now"|date("Y/m/d") %}
                                        {%  set urlCourse = path('learner_courses_show', {id: row.learnerIntervention.intervention.id}) %}
                                    {% endif %}
                                    <a href="{{ urlCourse }}">
                                        <div class="card-header bg-header d-flex justify-content-center align-items-center" style="{% if row.learnerIntervention.intervention.logo is not null %} background:  linear-gradient(rgb(0, 0, 0,.3),rgb(0, 0, 0,.3)), url('/files/{{ row.learnerIntervention.intervention.logo.path }}'); {% else %} background: linear-gradient(rgb(0, 0, 0,.3),rgb(0, 0, 0,.3))  {% endif %}   ">
                                            {{ include('molecules/widgets/circle-progress.html.twig', { percent: row.learnerIntervention.progression|round } ) }}
                                        </div>
                                    </a>
                                    <div class="pad-5 center-mobile">
                                        <b class="card-title font-size-14 bold long-text">{{ row.learnerIntervention.intervention.designation }}</b>
                                        <p class="no-padding font-size-12 text-gray" >{{ 'global.available_from'|trans }} {{ row.learnerIntervention.intervention.beginning|date("d/m/Y") }} {{ 'global.available_to'|trans }} {{ row.learnerIntervention.intervention.ending|date("d/m/Y") }}</p>

                                        <div class="row d-flex align-items-center justify-content-center my-course-action">
                                            <div id="divDesFinish{{ key }}" class="col-md-12  pad-l-0 pad-t-10 d-none card-des">
                                                <b class="bold">{{ 'global.course_description'|trans }}</b><br>
                                                <span>{{ row.learnerIntervention.intervention.comment|raw }}</span>
                                            </div>
                                            <div class="col-md-4 col-8 text-center left-mobile no-padding course-time">
                                                <embed src="/images/clock.svg" width="22" height="28"
                                                       type="image/svg+xml"/>
                                                <span class="font-size-12 text-gray">{{ row.totalDuration }}</span>
                                            </div>
                                            <div class="col-md-2 col-4 text-center right-mobile no-padding">
                                                <a data-id="{{ key }}" id="plusBtnFinish{{ key }}" class="pointer plusBtnFinish"><i  class="fa fa-plus-circle font-size-22 c-light" aria-hidden="true"></i></a>
                                                <a data-id="{{ key }}" id="minusBtnFinish{{ key }}" class="pointer minusBtnFinish d-none"><i  class="fa fa-minus-circle font-size-22 c-light" aria-hidden="true"></i></a>
                                            </div>
                                            <div class="col-md-6 text-right no-padding">
                                                <label  class="text-warning font-size-12">{{ 'learners.courses.expired'|trans }}</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/learner/courses.js') }}"></script>
    <script>
        $(document).ready(function () {
            $("#btnBegin").click(function() {
                $('html,body').animate({
                        scrollTop: $("#toBegin").offset().top},
                    'slow');
            });
            $("#btnCurrent").click(function() {
                $('html,body').animate({
                        scrollTop: $("#current").offset().top},
                    'slow');
            });
            $("#btnEnd").click(function() {
                $('html,body').animate({
                        scrollTop: $("#ended").offset().top},
                    'slow');
            });

            $('.plusBtn').on('click', function () {
                var id = $(this).attr("data-id");
                $("#plusBtn"+id).addClass('d-none');
                $("#minusBtn"+id).removeClass('d-none');
                $("#divDes"+id).removeClass('d-none');

            });
            $('.minusBtn').on('click', function () {
                var id = $(this).attr("data-id");
                $("#plusBtn"+id).removeClass('d-none');
                $("#minusBtn"+id).addClass('d-none');
                $("#divDes"+id).addClass('d-none');

            });

            $('.plusBtnProgess').on('click', function () {
                var id = $(this).attr("data-id");
                $("#plusBtnProgess"+id).addClass('d-none');
                $("#minusBtnProgess"+id).removeClass('d-none');
                $("#divDesProgess"+id).removeClass('d-none');

            });
            $('.minusBtnProgess').on('click', function () {
                var id = $(this).attr("data-id");
                $("#plusBtnProgess"+id).removeClass('d-none');
                $("#minusBtnProgess"+id).addClass('d-none');
                $("#divDesProgess"+id).addClass('d-none');

            });

            $('.plusBtnFinish').on('click', function () {
                var id = $(this).attr("data-id");
                $("#plusBtnFinish"+id).addClass('d-none');
                $("#minusBtnFinish"+id).removeClass('d-none');
                $("#divDesFinish"+id).removeClass('d-none');

            });
            $('.minusBtnFinish').on('click', function () {
                var id = $(this).attr("data-id");
                $("#plusBtnFinish"+id).removeClass('d-none');
                $("#minusBtnFinish"+id).addClass('d-none');
                $("#divDesFinish"+id).addClass('d-none');

            });


        });
    </script>
{% endblock %}
