{% extends "base.html.twig" %}

{% block body %}
    {% if module is not null %}
        {% set type = module.storedModule.appId %}
    {% else %}
        {% set type = null %}
    {% endif %}

    {% set statusDoneId = constant('\\ApiBundle\\Entity\\Status::WITH_BOOKING_DONE') %}
    {% set statusCreateId = constant('\\ApiBundle\\Entity\\Status::LEARNER_INTERVENTION_CREATED') %}
    {% set statusInProgressId = constant('\\ApiBundle\\Entity\\Status::LEARNER_INTERVENTION_IN_PROGRESS') %}
    {% set statusExpiredId = constant('\\ApiBundle\\Entity\\Status::LEARNER_INTERVENTION_EXPIRED') %}

        <div class="marg-t-30 marg-b-30 row course-steps">
            {% if chapters %}
                {{ include('molecules/courses/step-bar.html.twig', { modules: chapters }) }}
            {% else %}
                <!-- begin old step-bar -->
                <div id="courseStepsMiddleLine"></div>
                <div class="col-sm-1 no-padding text-center border-radius-10 font-size-14 color-header first-step  first-step-margin">
                    {%  set urlCourse = path('learner_courses_show', {id: module.intervention.id}) %}
                    <a  class="pointer" href="{{ urlCourse }}">
                    <span class="module-circle flex--center pointer box-module"  >
                        <i class="fa fa-home" aria-hidden="true"></i>
                    </span>
                    </a>
                </div>
                <div class="col-sm-10 no-padding">
                    {% set loopCurrent = 0 %}
                    <nav id="courseSteps" class="no-padding">
                        <div id="courseStepsCircles">
                            {% if modules|length < 6 %}
                                <div id="staticCircles" class="divice ">
                                    {% block circleList %}
                                        <div></div>
                                        {% for course in modules %}
                                            {% set circleClass = 'module-circle flex--center' %}
                                            {%  if course.status.designation == 'Done'  %}
                                                {% set circleClass = circleClass ~ ' module-circle--done' %}
                                            {% elseif course.status.designation == 'In Progress' %}
                                                {% set circleClass = circleClass ~ ' module-circle--active' %}
                                            {% elseif course.status.designation == 'Expired' %}
                                                {% set circleClass = circleClass ~ ' module-circle--active' %}
                                            {% endif %}

                                            {% set moduleActive = 0 %}
                                            {% if loop.index == 1 %}
                                                {% set moduleActive = (course.status.appId != statusDoneId and course.status.appId != statusExpiredId) %}
                                            {% elseif loop.index > 1 %}
                                                {% set moduleActive = (modules[loop.index - 2].module.done and course.status.appId != statusDoneId and course.status.appId != statusExpiredId) %}
                                            {% endif %}

                                            {% set curentClass = '' %}
                                            {% set boldClass = '' %}
                                            {% set triangleClass = '' %}

                                            {% if course.module.id == module.id %}
                                                {% set loopCurrent = loop.index %}
                                                {% set curentClass = 'curentClass' %}
                                                {% set boldClass = 'boldClass' %}
                                                {% set triangleClass = 'triangleClass' %}
                                                {% if modules|length >= 7 %}
                                                    {% set triangleClass = 'triangleClassModule' %}

                                                {% endif %}
                                            {% endif %}

                                            {% set moduleAvailable = (date(course.module.ending) >= date()) and (date(course.module.intervention.ending) >= date()) ? 1 : 0 %}
                                            {% set moduleLink = ((not intervention.sequential) or course.module.done or moduleActive) and moduleAvailable %}

                                            {#{% set circleClass = 'module-circle flex--center' ~ ' ' ~ (course.module.done ? 'module-circle--done' : '') ~ ' ' ~ (moduleActive ? 'module-circle--active' : '') %}#}
                                            {% if moduleLink %}
                                                <div class="div-module text-center padding-content {{ triangleClass }}   {% if modules|length >= 6 %}marg-t-20 {% endif %}"  >
                                                    <a data-placement="bottom" data-toggle="tooltip" title="{{ course.module.designation }}" style="display: inline-flex!important;" href="{{ moduleLink ? path('learner_courses_module', { 'id': course.module.id }) }}" class="display-content {{ circleClass }} {{ curentClass }}">
                                                        {%  if course.status.designation == 'Done'  %}
                                                            <i class="text-white fas fa-check" ></i>
                                                        {% else %}
                                                            {{ loop.index }}
                                                        {% endif %}
                                                    </a>
                                                    <p class="text-long display-text font-size-12 {{ boldClass }}">
                                                        {% if course.module.storedModule.appId == constant('\\ApiBundle\\Entity\\StoredModule::QUIZ') %}
                                                            {% if course.module.quiz.isSurvey == 1 %}
                                                                {{ 'table.quiz.is_survey.yes'|trans }}
                                                            {% else %}
                                                                {{ 'table.quiz.is_survey.no'|trans }}
                                                            {% endif %}
                                                        {% else %}
                                                            {{ include('molecules/widgets/module-type.html.twig', { appId: course.module.storedModule.appId }) }}
                                                        {% endif %}
                                                    </p>
                                                </div>
                                            {% else %}
                                                <div class="div-module text-center padding-content {{ triangleClass }} {% if modules|length >= 6 %}marg-t-20 {% endif %}" >
                                                <span data-placement="bottom" data-toggle="tooltip" title="{{ course.module.designation }}" style="display: inline-flex!important;" class="{{ circleClass }} {{ curentClass }}">
                                                     {%  if course.status.designation == 'Done'  %}
                                                         <i style="color:#FFF!important;" class="fas fa-check" ></i>
                                                     {% else %}
                                                         {{ loop.index }}
                                                     {% endif %}
                                                </span>
                                                    <p  class="text-long display-text {{ boldClass }} font-size-12">
                                                        {% if course.module.storedModule.appId == constant('\\ApiBundle\\Entity\\StoredModule::QUIZ') %}
                                                            {% if course.module.quiz.isSurvey == 1 %}
                                                                {{ 'table.quiz.is_survey.yes'|trans }}
                                                            {% else %}
                                                                {{ 'table.quiz.is_survey.no'|trans }}
                                                            {% endif %}
                                                        {% else %}
                                                            {{ include('molecules/widgets/module-type.html.twig', { appId: course.module.storedModule.appId }) }}
                                                        {% endif %}
                                                    </p>
                                                </div>
                                            {% endif %}
                                        {% endfor %}
                                        <div>
                                            <input type="hidden" id="currentModuleId" value="{{ loopCurrent  }}">
                                        </div>
                                    {% endblock %}
                                </div>
                            {% else %}
                                <div id="circlesOuterWrapper">
                                    <a id="previousModule" class="btn btn-deepmark flex--center no-padding border-radius-50 control"><i class="text-white far fa-angle-left"></i></a>
                                    <div id="slidingCircles" style="height:auto!important;">
                                        <div id="circlesInnerWrapper">
                                            {{ block('circleList') }}
                                        </div>
                                    </div>
                                    <a id="nextModule" class="btn btn-deepmark flex--center no-padding border-radius-50 control"><i class="text-white far fa-angle-right "></i></a>
                                </div>
                            {% endif %}
                        </div>
                    </nav>
                </div>
                <div class="col-sm-1 no-padding text-center color-header font-size-14 border-radius-10 last-step {% if courseHasAssessment %}step-margin {% else %} first-step-margin{% endif %}">
                    {% if courseHasAssessment %}
                        <img width="30" height="20" src="/images/tiara.png"><br>
                    {% endif %}
                    <a class="pointer" href="{{ courseHasAssessment ? path('learner_courses_module', { 'id': courseHasAssessment.id }) : urlCourse }}">
                    <span class="module-circle flex--center pointer  box-module">
                        <i class="fa fa-trophy" aria-hidden="true"></i>
                    </span>
                    </a>
                </div>
                <!-- end old step-bar -->
            {% endif %}
        </div>

    {% if type == constant('\\ApiBundle\\Entity\\StoredModule::ELEARNING') %}
        {{ include('molecules/courses/elearning.html.twig', { module: module, notation: notation, canBeNotated: canBeNotated, canBeNavigation: canBeNavigation }) }}
    {% elseif type == constant('\\ApiBundle\\Entity\\StoredModule::ASSESSMENT') %}
        {{ include('molecules/courses/assessment.html.twig', { assessmentModule: module, notation: notation, canBeNotated: canBeNotated, canBeNavigation: canBeNavigation }) }}
    {% elseif type == constant('\\ApiBundle\\Entity\\StoredModule::QUIZ') %}
        {{ include('molecules/courses/quiz/quiz.html.twig', { module: module, isCompleted: isCompleted, notation: notation, resolver: quizResolver, results: quizResults, canBeNotated: canBeNotated, echoUrl: echoUrl, canBeNavigation: canBeNavigation,quizResultsAndAnswers : quizResultsAndAnswers }) }}
    {% elseif type == constant('\\ApiBundle\\Entity\\StoredModule::ONLINE') %}
        {{ include('molecules/courses/onlineseance.html.twig', { module: module, notation: notation, visio: visio, canBeNotated: canBeNotated, canBeNavigation: canBeNavigation, assignments: assignments }) }}
{#        {{ include('molecules/courses/assessment.html.twig', { module: module, notation: notation, visio: visio, canBeNotated: canBeNotated, canBeNavigation: canBeNavigation, assignments: assignments }) }}#}
    {% elseif type == constant('\\ApiBundle\\Entity\\StoredModule::VIRTUAL_CLASS') %}
        {% if module.isPersonalBooking == 1 or isBooked %}
            {{ include('molecules/courses/virtualclass.html.twig', { module: module, notation: notation, visio: visio, canBeNotated: canBeNotated, canBeNavigation: canBeNavigation }) }}
        {% else %}
            {{ include('molecules/courses/bookingByAdmin.html.twig', { module: module, notation: notation, visio: visio, canBeNotated: canBeNotated, canBeNavigation: canBeNavigation }) }}
        {% endif %}
    {% elseif type == constant('\\ApiBundle\\Entity\\StoredModule::ONLINE_WORKSHOP') %}
        {{ include('molecules/courses/virtualclass.html.twig', { module: module, notation: notation, visio: visio, canBeNotated: canBeNotated, canBeNavigation: canBeNavigation }) }}
    {% elseif type == constant('\\ApiBundle\\Entity\\StoredModule::PRESENTATION_ANIMATION') %}
        {{ include('molecules/courses/animation.html.twig', { module: module, notation: notation, canBeNotated: canBeNotated, canBeNavigation: canBeNavigation }) }}
    {% elseif type == constant('\\ApiBundle\\Entity\\StoredModule::EVALUATION') %}
        {{ include('molecules/courses/evaluation.html.twig', { module: module, notation: notation, resolver: quizResolver, canBeNotated: canBeNotated, canBeNavigation: canBeNavigation }) }}
    {% endif %}
    {% if next_module is defined and next_module is not null %}
        <input type="hidden" name="nextModule" value="{{ next_module.id }}">
    {% endif %}
    <input type="hidden" id="activeStatus" name="activeStatus" value="1">
    <span id="next-session-date" class="text-template">{{ nextSessionDate }}</span>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/learner/courses.js') }}"></script>
    <script>
        $('[data-toggle="tooltip"]').tooltip();

        $(document).ready(function () {
            let readMore = '{{ "global.read_more"|trans }}';
            let readLess = '{{ "global.read_less"|trans }}';
            readmore(300, readMore, readLess);
        });
    </script>
    <script>
        $('.preview-file-page').click(function() {
            let domain = document.location.origin;
            let url = '{{ amazon_s3_url }}' + '/' + $(this).attr('data-pdf-loader-queue');
            window.open(domain + '/viewer?url='+ url, '_blank');
        });
    </script>
{% endblock %}
