{% extends "base.html.twig" %}

{% block title %}My Courses{% endblock %}
{% block pagename %}Parcours{% endblock %}

{% block body %}
    <style>
        .header .progress-circle {
            margin-bottom: 40px;
            margin-top: 0!important;
        }
    </style>
{% set statusDoneId = constant('\\ApiBundle\\Entity\\Status::WITH_BOOKING_DONE') %}
{% set statusExpiredId = constant('\\ApiBundle\\Entity\\Status::LEARNER_INTERVENTION_EXPIRED') %}
    <div class="card card-pane">
        <main class="card-body header">
            <div class="row marg-t-10">
                <div class=" col-md-4 row no-padding bg-header d-flex justify-content-center align-items-center" style="{% if intervention.logo is not null %} background:  linear-gradient(rgb(0, 0, 0,.3),rgb(0, 0, 0,.3)), url('/files{{ asset(intervention.logo.path) }}'); {% else %} background: linear-gradient(rgb(0, 0, 0,.3),rgb(0, 0, 0,.3));  {% endif %} height: 220px!important;  ">
                    <div class="col-md-12 font-size-12">
                        {{ include('molecules/widgets/ratings.html.twig', { max: 5, grade: learnerIntervention.interventionNotation|default(0)  }) }}
                    </div>
                    <div class="col-md-12 no-padding">
                        {{ include('molecules/widgets/circle-progress.html.twig', { percent: learnerIntervention.progression|default(0)|round } ) }}
                    </div>
                </div>
                <div class="col-md-8 pad-l-10">
                    <div class="row no-padding">
                        <div class="col-md-7 pad-t-10 pad-b-10">
                            <span class="bold font-size-22" >{{ intervention.designation }}</span>
                        </div>
                        <div class="col-md-2 col-sm-6 text-center no-padding">
                            <embed src="/images/calendar.svg" width="20" height="20"
                                   type="image/svg+xml"/>
                            <span class="font-size-13 text-gray">{{ 'global.from'|trans }} {{ intervention.beginning|date("d/m/Y") }} {{ 'global.to'|trans }} {{ intervention.ending|date("d/m/Y") }}</span>
                        </div>
                        <div class="col-md-1 col-sm-6 text-center no-padding">
                            <embed src="/images/clock.svg" width="20" height="20"
                                   type="image/svg+xml"/>
                            <span class="font-size-13 text-gray">{{ totalDuration }}</span>
                        </div>
                        <div class="col-md-2 col-sm-6 text-center no-padding-right">
                            {% if learnerIntervention is null %}
                                <a class="btn btn-sm btn-block btn-deepmark marg-b-20" href="javascript:void(0)">
                                    {{ 'global.enroll'|trans }}
                                </a>
                            {% else %}
                                <a class="btn btn-sm btn-block btn-deepmark marg-b-20" href="javascript:void(0)">
                                    {{ 'global.enrolled'|trans }}
                                </a>
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-md-12 border-top font-size-14 pad-t-10 justify-content-center">
                        <div class="more justify-content-center">
                            {{ intervention.comment|raw }}
                        </div>
                    </div>
                    <div class="row no-padding">
                        <div class="col-md-9">
                            <span class="font-size-14 bold">{{ 'global.category'|trans }}</span> :
                            {% if intervention.tags %}
                                {% for tag in intervention.tags %}
                                    <span class=" badge badge-label-deepmark-light">{{ tag.tagName }}</span>
                                {% endfor %}
                            {% endif %}
                        </div>
                        <div class="col-md-3 no-padding color-header justify-content-end flex--center">
                            <button class="btn btn-sm btn-block btn-deepmark marg-b-20">
                                {{ 'global.total_learners_points'|trans({'%total_point%': 1100}) }}
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row marg-t-30 course-steps">
                {{ include('molecules/courses/step-bar.html.twig', { modules: modules }) }}
            </div>
            <div class="row marg-t-20">
                <div class="col-md-12 col-sm-12 no-padding">
                    <ul class="pad-10 round">
                        {% if modules|length != 0 %}
                            {% set checkStatusDone = 1 %}
                            {% set totalAssessments = 0 %}
                            {% set i = 0 %}
                            {% for item in modules %}
                                <li class="row marg-b-15" style="box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);">
                                    <div class="col-md-5 pad-t-15 pad-b-15 flex--center justify-content-start color-header btn-deepmark-light">
                                        <b>{{ loop.index }}</b>&nbsp;-&nbsp;{{ item.chapter.chapterName }}
                                    </div>
                                    <div class="col-md-2 flex--center justify-content-start no-padding color-header btn-deepmark-light">
                                        <object class="marg-l-12" data="/new-image/clock.svg" width="20" height="20"
                                                type="image/svg+xml">
                                        </object>&nbsp;&nbsp; {{ 'global.estimated_duration'|trans }} : {{ item.duration }}
                                    </div>
                                    <div class="col-md-2 flex--center justify-content-start color-header btn-deepmark-light">
                                        <object class="marg-l-12" data="/new-image/hat.svg" width="20" height="20"
                                                type="image/svg+xml">
                                        </object>&nbsp;&nbsp; {{ 'sidebar.modules'|trans }} : {{ item.numOfModule }}
                                    </div>
                                    <div class="col-md-2 flex--center justify-content-start no-padding color-header btn-deepmark-light">
                                        <object class="marg-l-12" data="/new-image/lp.svg" width="20" height="20"
                                                type="image/svg+xml">
                                        </object>&nbsp;&nbsp; {{ 'global.learning_points'|trans }} : 100
                                    </div>
                                    <div class="col-md-1 flex--center color-header btn-deepmark-light">
                                        <a id="closeBtn{{ loop.index }}" class="cursorPointer"><i class="fas fa-chevron-up"></i></a>
                                        <a id="showBtn{{ loop.index }}" class="cursorPointer" style="display: none"><i class="fas fa-chevron-down"></i></a>
                                    </div>
                                    <script>
                                        $(document).ready(function () {
                                            $('#showBtn{{ loop.index }}').on('click', function() {
                                                $(".content-module{{ loop.index }}").show();
                                                $(this).hide();
                                                $("#closeBtn{{ loop.index }}").show();
                                            });
                                            $('#closeBtn{{ loop.index }}').on('click', function() {
                                                $(".content-module{{ loop.index }}").hide();
                                                $(this).hide();
                                                $("#showBtn{{ loop.index }}").show();
                                            });
                                        });
                                    </script>
                                    {% set index = loop.index  %}
                                    {% for key, module in item.courses %}
                                    {% set i = i + 1 %}
                                    {% set moduleActive = 0 %}
                                    {% if i == 1 %}
                                        {% set moduleActive = (module.status.appId != statusDoneId and module.status.appId != statusExpiredId) %}
                                    {% elseif i > 1 %}
                                        {% set moduleActive = (tempModules[i - 2].module.done and module.status.appId != statusDoneId and module.status.appId != statusExpiredId) %}
                                    {% endif %}
                                    {%  if module.status.designation == 'Done'  %}
                                        {% set class = 'module-li-done' %}
                                        {% set classButton = 'btn-deepmark-mediumgray' %}
                                        {% set classIcon = 'li-done' %}
                                        {% set progressClass = 'done-bar' %}
                                    {% elseif module.status.designation == 'In Progress' %}
                                        {% set class = 'module-li-active' %}
                                        {% set classButton = 'btn-deepmark-orangelight' %}
                                        {% set classIcon = 'li-active' %}
                                        {% set checkStatusDone = 0 %}
                                        {% set progressClass = 'progress-course-bar' %}
                                    {% elseif module.status.designation == 'Expired' %}
                                        {% set class = 'module-li-done' %}
                                        {% set classButton = 'btn-deepmark-mediumgray' %}
                                        {% set classIcon = 'li-done' %}
                                        {% set checkStatusDone = 0 %}
                                        {% set progressClass = '' %}
                                    {% elseif module.status.designation == 'Booked' %}
                                        {% set class = 'module-li-normal' %}
                                        {% set classButton = 'btn-deepmark' %}
                                        {% set classIcon = 'li-normal' %}
                                        {% set checkStatusDone = 0 %}
                                        {% set progressClass = '' %}
                                    {% else %}
                                        {% set class = 'module-li-normal' %}
                                        {% set classButton = 'btn-deepmark ' %}
                                        {% set classIcon = 'li-normal' %}
                                        {% set checkStatusDone = 0 %}
                                        {% set progressClass = '' %}
                                    {% endif %}
                                    {% set classTobook = '' %}
                                    {% set classTobookBtn = '' %}
                                    {% if
                                        module.module.storedModule.appId == constant('\\ApiBundle\\Entity\\StoredModule::PRESENTATION_ANIMATION') or
                                        module.module.storedModule.appId == constant('\\ApiBundle\\Entity\\StoredModule::ONLINE_WORKSHOP') or
                                        module.module.storedModule.appId == constant('\\ApiBundle\\Entity\\StoredModule::VIRTUAL_CLASS') or
                                        module.module.storedModule.appId == constant('\\ApiBundle\\Entity\\StoredModule::ONLINE') %}
                                        {% if not module.booking %}
                                            {% set classTobook = 'to-book' %}
                                            {% set classTobookBtn = 'to-book-btn' %}
                                        {% endif %}
                                    {% endif %}
                                    {% set moduleAvailable = (date(module.module.ending) >= date()) and (date(module.module.intervention.ending) >= date()) ? 1 : 0 %}
                                    {% set moduleLink = ((not intervention.sequential) or module.module.done or moduleActive) and moduleAvailable %}
                                        <div class="row content-module{{ index }} border-bottom-header-light col-md-12 no-padding">
                                            <div class="col-md-3 row">
                                                <div class="col-md-2 pad-10">
                                                    <div class="btn-deepmark-light flex--center course-bar {{ progressClass }}">
                                                        {% if module.hasAssessment == 1 %}
                                                            {% set totalAssessments = totalAssessments+1 %}
                                                            <img style="position: absolute; margin-top: -70px;" height="15" width="20" src="{{ asset('/images/tiara.png') }}">
                                                        {% endif %}
                                                        <p class="no-margin bold text-white">{{ i }}</p>
                                                    </div>
                                                </div>
                                                <div class="col-md-10 text-center justify-content-start flex--center">
                                                    {% if module.module.storedModule.appId == constant('\\ApiBundle\\Entity\\StoredModule::PRESENTATION_ANIMATION') %}
                                                        {% set icon = '/new-image/classroom.svg' %}
                                                    {% elseif module.module.storedModule.appId == constant('\\ApiBundle\\Entity\\StoredModule::ELEARNING') %}
                                                        {% set icon = '/new-image/elearning.svg' %}
                                                    {% elseif module.module.storedModule.appId == constant('\\ApiBundle\\Entity\\StoredModule::ONLINE') %}
                                                        {% set icon = '/new-image/remote.svg' %}
                                                    {% elseif module.module.storedModule.appId == constant('\\ApiBundle\\Entity\\StoredModule::QUIZ') %}
                                                        {% set icon = '/new-image/quiz.svg' %}
                                                    {% elseif module.module.storedModule.appId == constant('\\ApiBundle\\Entity\\StoredModule::VIRTUAL_CLASS') %}
                                                        {% set icon = '/new-image/vitual.svg' %}
                                                    {% endif %}
                                                    {% if icon is defined %}
                                                        <object data="{{ icon }}" width="40" height="40"
                                                                type="image/svg+xml"></object>&nbsp;&nbsp;&nbsp;
                                                    {% endif %}
                                                    <div class="text-left">
                                                        {% if module.module.storedModule.appId == constant('\\ApiBundle\\Entity\\StoredModule::QUIZ') %}
                                                            {% if module.module.quiz.isSurvey == 1 %}
                                                                {{ 'table.quiz.is_survey.yes'|trans }}
                                                            {% else %}
                                                                {{ 'table.quiz.is_survey.no'|trans }}
                                                            {% endif %}
                                                        {% else %}
                                                            {{ include('molecules/widgets/module-type.html.twig', { appId: module.module.storedModule.appId }) }}
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4 pad-l-0 pad-r-0 pad-t-15 align-self-center center-mobile">
                                                <p class="no-margin font-size-18 bold" >{{ module.module.designation }}</p>
                                                <div class="col-md-12 no-padding font-size-14">
                                                    {{ module.module.description|raw }}
                                                </div>
                                            </div>
                                            <div class="col-md-3 pad-t-15 pad-b-15 font-size-13">
                                                <div class="col-md-12 flex--center justify-content-start no-padding">
                                                    <object data="/new-image/clock.svg" width="15" height="15"
                                                            type="image/svg+xml">
                                                    </object>&nbsp;&nbsp;&nbsp;{{ 'global.estimated_duration'|trans }}&nbsp;:&nbsp;{{ module.module.duration|date('H:i:s') }}
                                                </div>
                                                <div class="col-md-12 flex--center justify-content-start no-padding">
                                                    <object data="/new-image/clock.svg" width="15" height="15"
                                                            type="image/svg+xml">
                                                    </object>&nbsp;&nbsp;&nbsp;{{ 'popup.session'|trans }}&nbsp;:&nbsp;
                                                    {% if
                                                        module.module.storedModule.appId == constant('\\ApiBundle\\Entity\\StoredModule::PRESENTATION_ANIMATION') or
                                                        module.module.storedModule.appId == constant('\\ApiBundle\\Entity\\StoredModule::ONLINE_WORKSHOP') or
                                                        module.module.storedModule.appId == constant('\\ApiBundle\\Entity\\StoredModule::VIRTUAL_CLASS') or
                                                        module.module.storedModule.appId == constant('\\ApiBundle\\Entity\\StoredModule::ONLINE') %}
                                                        {% if module.booking %}
                                                            {%  if module.status.designation == 'Done'  %} !
                                                                {{ 'learners.courses.status.done' | trans }}
                                                            {% elseif module.status.designation == 'In Progress' %}
                                                                {{ 'learners.courses.status.in_progress' | trans }}
                                                            {% elseif module.status.designation == 'Expired' %}
                                                                {{ 'learners.courses.status.expired' | trans }}
                                                            {% elseif module.status.designation == 'Booked' %}
                                                                {{ 'learners.courses.status.booked' | trans }}
                                                            {% else %}
                                                                {{ 'learners.courses.to_follow'|trans }}
                                                            {% endif %}
                                                        {% else %}
                                                            <span class="c-red"> {{ 'learners.courses.to_book' | trans|lower }}</span>
                                                        {% endif %}
                                                    {% elseif
                                                        module.module.storedModule.appId == constant('\\ApiBundle\\Entity\\StoredModule::ELEARNING') or
                                                        module.module.storedModule.appId == constant('\\ApiBundle\\Entity\\StoredModule::QUIZ') or
                                                        module.module.storedModule.appId == constant('\\ApiBundle\\Entity\\StoredModule::EVALUATION') %}
                                                        N/A
                                                    {% endif %}
                                                </div>
                                                <div class="col-md-12 flex--center justify-content-start no-padding">
                                                    {% if module.module.storedModule.appId == constant('\\ApiBundle\\Entity\\StoredModule::QUIZ') %}
                                                       {% set score_to_pass = module.module.scoreQuiz is defined and module.module.scoreQuiz is not null ? module.module.scoreQuiz~'%' : 'N/A' %}
                                                    {% elseif (module.module.minScore is not empty) %}
                                                        {% set score_to_pass = module.module.minScore~'%' %}
                                                    {% else %}
                                                        {% set score_to_pass = 'N/A' %}
                                                    {% endif %}
                                                    <object data="/new-image/score-pass.svg" width="15" height="15"
                                                            type="image/svg+xml">
                                                    </object>&nbsp;&nbsp;&nbsp;{{ 'admin.interventions.create.step1.min_score' | trans }}&nbsp;:&nbsp;{{ score_to_pass }}

                                                </div>
                                                <div class="col-md-12 flex--center justify-content-start no-padding">
                                                    <object data="/new-image/lp.svg" width="15" height="15"
                                                            type="image/svg+xml">
                                                    </object>&nbsp;&nbsp;&nbsp;{{ 'global.learning_points'|trans }}&nbsp;:&nbsp;100
                                                </div>
                                            </div>
                                            <div class="col-md-2 bold flex--center row">
                                                <div class="col-md-12 no-padding text-center">
                                                    {% if
                                                        module.module.storedModule.appId == constant('\\ApiBundle\\Entity\\StoredModule::PRESENTATION_ANIMATION') or
                                                        module.module.storedModule.appId == constant('\\ApiBundle\\Entity\\StoredModule::ONLINE_WORKSHOP') or
                                                        module.module.storedModule.appId == constant('\\ApiBundle\\Entity\\StoredModule::VIRTUAL_CLASS') or
                                                        module.module.storedModule.appId == constant('\\ApiBundle\\Entity\\StoredModule::ONLINE') %}
                                                        {% if module.booking %}
                                                            <a class="btn btn-white color-header" href="{% if moduleLink %}{{ path('learner_courses_module', { 'id': module.module.id }) }}{% else %}javascript:void(0){% endif %}">
                                                                {%  if module.status.designation == 'Done'  %} !
                                                                    {{ 'learners.courses.status.done' | trans }}
                                                                {% elseif module.status.designation == 'In Progress' %}
                                                                    {{ 'learners.courses.status.in_progress' | trans }}
                                                                {% elseif module.status.designation == 'Expired' %}
                                                                    {{ 'learners.courses.status.expired' | trans }}
                                                                {% elseif module.status.designation == 'Booked' %}
                                                                    {{ 'learners.courses.status.booked' | trans }}
                                                                {% else %}
                                                                    {{ 'learners.courses.to_follow'|trans }}
                                                                {% endif %}
                                                            </a>
                                                        {% else %}
                                                            <a class="btn btn-white color-header" href="{% if moduleLink %}{{ path('learner_courses_module', { 'id': module.module.id }) }}{% else %}javascript:void(0){% endif %}">
                                                                {{ 'learners.courses.to_book'|trans }}
                                                            </a>
                                                            <p class="text-gray no-margin font-size-13">{{ 'global.from'|trans }} {{ intervention.beginning|date("d/m/Y") }} {{ 'global.to'|trans|capitalize }} {{ intervention.ending|date("d/m/Y") }}</p>
                                                        {% endif %}
                                                    {% elseif
                                                        module.module.storedModule.appId == constant('\\ApiBundle\\Entity\\StoredModule::ELEARNING') or
                                                        module.module.storedModule.appId == constant('\\ApiBundle\\Entity\\StoredModule::QUIZ') or
                                                        module.module.storedModule.appId == constant('\\ApiBundle\\Entity\\StoredModule::EVALUATION') %}
                                                        {% if loop.index == 1 and module.status.appId != statusDoneId and intervention.sequential == 1 %}
                                                            <a class="btn btn-white color-header" href="{% if moduleLink %}{{ path('learner_courses_module', { 'id': module.module.id }) }}{% else %}javascript:void(0){% endif %}">
                                                                {{ 'learners.courses.start'|trans }}
                                                            </a>
                                                        {% else %}
                                                            <a class="btn btn-deepmark" href="{% if moduleLink %}{{ path('learner_courses_module', { 'id': module.module.id }) }}{% else %}javascript:void(0){% endif %}">
                                                                {%  if  module.status.designation == 'Done'  %}
                                                                    {{ 'learners.courses.status.done' | trans }} !
                                                                {% elseif module.status.designation == 'In Progress' %}
                                                                    {{ 'learners.courses.status.in_progress' | trans }}
                                                                {% elseif module.status.designation == 'Expired' %}
                                                                    {{ 'learners.courses.status.expired' | trans }}
                                                                {% else %}
                                                                    {{ 'learners.courses.to_follow'|trans }}
                                                                {% endif %}
                                                            </a>
                                                        {% endif %}
                                                    {% endif %}
                                                </div>
                                            </div>
                                            {#{% if module.status.appId == statusDoneId %}#}
                                                {#<div class="col-md-12 row done-box-module">#}
                                                    {#<div class="col-md-2 no-padding font-size-13" >#}
                                                        {#{{ include('molecules/widgets/ratings.html.twig', { max: 5, grade:module.rating?module.rating.notation:0  }) }}#}
                                                    {#</div>#}
                                                    {#<div class="col-md-3 no-padding text-gray">#}
                                                        {#<span>{{ 'global.date_of_completion'|trans }}: </span> <span class="bold">{{ module.iteration?module.iteration.executionDate|date('d.m.Y'):null }}</span>#}
                                                    {#</div>#}
                                                    {#<div class="col-md-2 no-padding  text-gray">#}
                                                        {#{% set dateTime = '00:00:00'  %}#}
                                                        {#{% if module.quizTimeSpent is defined and module.quizTimeSpent is not null %}#}
                                                            {#{% set timeLearned = module.quizTimeSpent ~ ' seconds' %}#}
                                                        {#{% else %}#}
                                                            {#{% set timeLearned = module.iteration.learnedTime ? module.iteration.learnedTime ~ ' seconds' : 0~' seconds' %}#}
                                                        {#{% endif %}#}
                                                        {#<span>{{ 'global.time_spent'|trans }}: </span> <span class="bold" > {{ module.iteration ? dateTime|date_modify(timeLearned)|date('H:i:s', false)  :null }}</span>#}
                                                    {#</div>#}
                                                    {#{% if module.scorm is not null and module.scorm.score is defined and module.scorm.lessonStatus is defined %}#}
                                                        {#<div class="col-md-2 no-padding  text-gray" >#}
                                                            {#<span>{{ 'global.my_score'|trans }}: </span> <span class="bold"> {{ module.scorm.score is defined and module.scorm.lessonStatus is defined ? module.scorm.score:null }} %</span>#}
                                                        {#</div>#}
                                                    {#{% else %}#}
                                                        {#<div class="col-md-2 no-padding  text-gray" >#}
                                                            {#<span>{{ 'global.my_score'|trans }}: </span> <span class="bold"> {{ module.score?module.score ~ ' %':('N/A') }}</span>#}
                                                        {#</div>#}
                                                    {#{% endif %}#}
                                                    {#<div class="col-md-1 no-padding text-right  text-gray" >#}
                                                        {#{% if module.report %}#}
                                                            {#<span>{{ 'global.my_report'|trans }}</span>#}
                                                            {#{{ include('molecules/widgets/download-file.html.twig', { document: module.report, type: "documents" }) }}#}
                                                        {#{% endif %}#}
                                                    {#</div>#}
                                                    {#<div class="col-md-2 no-padding text-right  text-gray" >#}
                                                        {#{% if module.note %}#}
                                                            {#<span >{{ 'global.my_notes'|trans }}</span>#}
                                                            {#<a data-id="{{ key }}" id="plusNoteBtn{{ key }}" class="pointer plusNoteBtn"><i  class="font-size-10 text-gray fa fa-plus-circle" aria-hidden="true"></i></a>#}
                                                            {#<a data-id="{{ key }}" id="minusNoteBtn{{ key }}" class="pointer minusNoteBtn d-none"><i class="ffont-size-10 text-gray a fa-minus-circle " aria-hidden="true"></i></a>#}
                                                            {#<div id="divNote{{ key }}" class="col-md-12 d-none no-padding font-size-12 ">#}
                                                                {#{{ module.note.learnerNotes|raw }}#}
                                                            {#</div>#}
                                                        {#{% endif %}#}
                                                    {#</div>#}
                                                {#</div>#}
                                            {#{% endif %}#}
                                        </div>
                                {% endfor %}
                                </li>
                            {% endfor %}
                        {% endif %}

                        {% if moduleAssessment %}
                            {% set class = 'module-li-active' %}
                            {% set classButton = 'btn-deepmark' %}
                            {% set classIcon = 'li-active' %}
                            {% set key = '00' %}
                            <li class="module to-assessment marg-b-15 backgroud-deepmark-light no-padding li-assessment">
                                <div class="row col-md-12 no-padding" >
                                    <div class="col-md-1 no-padding ">
                                        <div class="row height-100 "></div>
                                    </div>
                                    <div class="col-md-1 text-center no-padding flex--center col-assessment">
                                        <div class="col-md-12 no-padding-left no-padding-right no-padding-top pad-b-20 text-center color-header font-size-14 border-radius-10 last-step">
                                            <img width="25" height="15" src="/images/tiara.png" style="margin-bottom: -9px;"><br>
                                            <span class="module-circle border-radius-50 flex--center pointer  box-module">
                                                <i class="fa fa-trophy font-size-20" aria-hidden="true"></i>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-md-3 no-padding-left no-padding-right no-padding-top pad-b-5 align-self-center center-mobile" >
                                        <b class="font-size-13 bold">{{ moduleAssessment.storedModule.designation }}</b>
                                        <p class="no-margin font-size-18 bold" >{{ moduleAssessment.designation }}</p>
                                        <div id="divDes{{ key }}" class="col-md-12 d-none no-padding font-size-12 " >
                                            {{ moduleAssessment.description|raw }}
                                        </div>
                                    </div>
                                    <div class="col-md-3 row no-padding" >
                                        <div class="col-md-1 flex--center no-padding">
                                            <a data-id="{{ key }}" id="plusBtn{{ key }}" class="pointer plusBtn"><i  class="fa fa-plus-circle font-size-20 text-gray" aria-hidden="true"></i></a>
                                            <a data-id="{{ key }}" id="minusBtn{{ key }}" class="pointer minusBtn d-none"><i  class="fa fa-minus-circle font-size-20 text-gray" aria-hidden="true"></i></a>
                                        </div>
                                        <div class="col-md-11 pad-l-5 align-self-center font-size-13 center-mobile" >
                                            <p class="no-margin" >
                                                <embed src="/images/clock.svg" width="15" height="15"
                                                       type="image/svg+xml"/>&nbsp;&nbsp;&nbsp;<span class="font-size-13 color-header">{{ totalAssessmentDuration|date('H:i:s') }}</span>
                                            </p>
                                            <p class="no-margin font-size-13 color-header" >
                                                <embed src="/images/calendar.svg" width="13" height="13"
                                                       type="image/svg+xml"/>&nbsp;&nbsp;<span  class="font-size-13">{{ 'global.from'|trans }} <span class="bold">{{ intervention.beginning|date("d/m/Y") }}</span> {{ 'global.to'|trans }} <span class="bold">{{ intervention.ending|date("d/m/Y") }}</span></span>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-md-2 no-padding text-center align-self-center color-header" >
                                        <span class="bold font-size-13">{{'learners.courses.conditions_to_validate'|trans }} &nbsp;
                                        <br>
                                        <span class="bold font-size-30">{{ totalAssessments|default(0) }}</span></span>
                                    </div>
                                    <div class="col-md-2 flex--center bold"  >
                                        <a class="btn btn-block btn-sm btn-block btn-deepmark" href="{{ moduleAssessment ? path('learner_courses_module', { 'id': moduleAssessment.id }) : 'javascript:void(0);' }}">
                                            {{ 'learners.courses.detail'|trans }}
                                        </a>
                                    </div>
                                </div>
                            </li>
                        {% endif %}
                    </ul>
                    {% if checkStatusDone is defined and checkStatusDone == 1 %}
                        <div id="popupDone" class="modal fade col-md-12" tabindex="-1" role="dialog">
                            <div class="modal-dialog modal-xs" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h3 class="modal-title c-green bold" id="modal-title">{{ 'email.congratulations'|trans }} !</h3>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body text-center">
                                        <h4>{{ 'global.course_done'|trans }}</h4>
                                        <button data-dismiss="modal" aria-label="Close" class="btn btn-deepmark pull-right">
                                            OK
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <script>
                            $("#popupDone").modal('show');
                        </script>
                    {% endif %}
                </div>
            </div>
        </main>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/learner/courses.js') }}"></script>
    <script>
        $('[data-toggle="tooltip"]').tooltip();
        $(document).ready(function () {
            let readMore = '{{ "global.read_more"|trans }}';
            let readLess = '{{ "global.read_less"|trans }}';
            readmore(300, readMore, readLess);
            $('.plusBtn').on('click', function () {
                var id = $(this).attr("data-id");
                $("#plusBtn"+id).addClass('d-none');
                $("#minusBtn"+id).removeClass('d-none');
                $("#divDes"+id).removeClass('d-none');

            });
            $('.minusBtn').on('click', function () {
                var id = $(this).attr("data-id");
                $("#plusBtn"+id).removeClass('d-none');
                $("#minusBtn"+id).addClass('d-none');
                $("#divDes"+id).addClass('d-none');

            });

            // show note or hidden
            $('.plusNoteBtn').on('click', function () {
                var id = $(this).attr("data-id");
                $("#plusNoteBtn"+id).addClass('d-none');
                $("#minusNoteBtn"+id).removeClass('d-none');
                $("#divNote"+id).removeClass('d-none');

            });
            $('.minusNoteBtn').on('click', function () {
                var id = $(this).attr("data-id");
                $("#plusNoteBtn"+id).removeClass('d-none');
                $("#minusNoteBtn"+id).addClass('d-none');
                $("#divNote"+id).addClass('d-none');

            });
        });
    </script>
{% endblock %}
