{% extends "base.html.twig" %}
{% block body %}
    <style>
        .video-caller {
            position: absolute;
            top: 0px;
            left: 0px;
            z-index: 1;
            height: 100%;
            width: 100%;
        }
        .video-self {
            position: absolute;
            top: -20px;
            right: 2px;
            z-index: 3;
            width: 150px;
            height: 150px;
        }

        .full-w-h{
            width: 100%;
            height: 100%;
        }

        .hide-element {
            display: none;
        }
    </style>
    {% set status_done =  constant('ApiBundle\\Entity\\Status::WITH_BOOKING_DONE') %}
    {% set statusDoneId = constant('\\ApiBundle\\Entity\\Status::WITH_BOOKING_DONE') %}
    {% set statusExpiredId = constant('\\ApiBundle\\Entity\\Status::LEARNER_INTERVENTION_EXPIRED') %}
    <div class="row">
        <div class="col-md-3 marg-t-5 justify-content-start flex--center color-header">
            <span>{{ 'global.trainer'|trans }}&nbsp;:&nbsp;</span><b class="font-size-18">{{ booked.trainer.displayName }}</b>
        </div>
        <div class="col-md-6 marg-t-10 flex--center color-header">
            {% if module.storedModule.appId == constant('\\ApiBundle\\Entity\\StoredModule::VIRTUAL_CLASS') %}
                {% set roomName = booked.moduleSession.id %}
            {% else %}
                {% set roomName = module.id ~ booked.id %}
            {% endif %}
            {# <span style="background-color: #4472C4; margin: 0.3125rem 1px; border-radius: 0.2rem; line-height: 1.5; letter-spacing: 1px; font-size: 0.6875rem;" class="text-white pad-15">{{ 'global.connection_meeting_text' |trans }} : {{ jitsi_url }}/{{ roomName }}</span> #}
        </div>
        <div class="col-md-3 text-right no-padding">
            <ul class="nav nav-pills no-padding marg-t-10 justify-content-end" role="tablist">
                {#{% if booked.module.signatureNumber > 0 %}
                    <li class="nav-item">
                        <a data-toggle="modal" data-target="#attendance-sheet" class="btn btn-sm border-radius-0 btn-deepmark text-white">
                            <div class=" row">
                                <div class="col-md-2 no-padding flex--center"><i class="fa fa-pencil "></i></div>

                                <div class="col-md-10 text-left">
                                    <span class="bold">{{ 'global.sign'|trans }}</span><br>
                                    <span class="font-weight-light">{{ 'global.attendance_sheet' |trans }}</span>
                                </div>
                            </div>
                        </a>
                    </li>
                {% endif %}#}
                <li class="nav-item">
                    <a module-id="{{ module.id }}"  data-action="backDetail" type="button" class="btn btn-sm border-radius-0 text-white btn-deepmark-orangelight pad-15"><i class="fas fa-arrow-right"></i> {{ 'global.exit_session'|trans }} </a>
                    {% if canBeNotated %}
                        {{ include('molecules/courses/notation.html.twig') }}
                    {% endif %}
                </li>
            </ul>
        </div>
    </div>
    <div class="row marg-t-10 no-padding">
        <div class="col-md-6 pad-l-0 pad-r-10" id="sharingReview">
            <div class="col-md-12 marg-b-15 bg-white border-radius-10 pad-t-15 pad-b-15">
                {# <div class="row pad-t-20">
                    <div class="col-md-1 marg-b-20 text-left">
                        
                    </div>
                    <div class="col-md-10 text-center marg-b-30">
                        <span class="bold font-size-20 color-header">Sharing viewer</span> | <span class="status bold font-size-20 color">Inactive</span>
                    </div>
                    <div class="col-md-1  marg-b-20 text-right">
                        <a data-type-name="doc" id="doc-show" class="pointer btn-show"><i class="fas fa-angle-down color-header font-size-20" aria-hidden="true"></i></a>
                        <a data-type-name="doc" id="doc-hide" class="pointer d-none btn-hide"><i class="fas fa-angle-up color-header font-size-20" aria-hidden="true"></i></a>
                    </div>
                </div> #}
                <div class="row marg-b-20">
                    <span id="2JitsiTitle" style="margin: auto; color: #0076fe; text-transform: uppercase; font-size: 20px; font-weight: 900">{{ 'global.viewer' |trans }}</span>
                    {# <span id="2JitsiUrl" style="margin: auto; color: #0076fe; font-size: 20px; font-weight: 900">{{ 'global.connection_meeting_text' |trans }}</span> #}
                </div>
                {# <div id="indicator" style="text-align: center;"></div>
                <div id="videos-container" style="width: 100%;"></div> #}

                <div id="video-2"></div>

                {# <iframe style="display: none; border: 0" id="preview2Jitsi"></iframe> #}

                {# <div class="col-md-12 my-doc" >
                    <div class="no-padding no-margin">
                        <div class="row border-top pad-t-10 pad-b-10">
                            <div class="col-md-9 no-padding" style="align-self: center">
                                <input type="text" id="your-url" name="" class="form-control" placeholder="Your url">
                            </div>
                            <div class="col-md-3 no-padding text-right">
                                <a class="btn btn-sm btn-deepmark border-radius-0 text-white open-your-url">
                                    {{ 'global.launch'|trans }}
                                </a>
                            </div>
                        </div>
                    </div>
                </div> #}
            </div>
            <div class="col-md-12 bg-white border-radius-10">
                <div class="col-md-12 text-center pad-15">
                    <span class="color-header bold font-size-20">{{ 'global.document_learner'|trans }}</span>
                    <a style="position: absolute; right: 10px; top: 16px;" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseDocuments" aria-expanded="true" aria-controls="collapseDocuments">
                        <i class="fa fa-plus color-header" style="display: none"></i>
                        <i class="fa fa-minus color-header"></i>
                    </a>
                </div>
                {% if module.educationalDocument|length != 0 %}
                    <div id="collapseDocuments" class="col-md-12 panel-collapse collapse show" role="tabpanel" aria-labelledby="headingOne">
                        {{ include('molecules/tables/learner-files-list.html.twig', {documents: module.educationalDocument, type: "documents"}) }}
                    </div>
                {% endif %}

                {% if  (booked.status is defined and booked.status is not null) and booked.status.id ==  status_done %}
                    <div class="col-md-12 text-center pad-15">
                        <span class="color-header bold font-size-20">{{ 'learners.courses.report'|trans|capitalize }}</span>
                    </div>
                    <div class="col-md-12">
                        {% if booked.report.fileDescriptor is defined and booked.report.fileDescriptor is not null %}
                            {{ include('molecules/tables/learner-files-list.html.twig', {documents: [booked.report], type: "documents"}) }}
                        {% endif %}
                    </div>
                    <div class="col-md-12 text-center pad-15" >
                        <span class="color-header bold font-size-20">{{ 'learners.courses.grade'|trans|capitalize }}</span>
                        {% set grade = booked.learnerGrade is not null ? booked.learnerGrade : 'learners.courses.awaiting_grade'|trans|capitalize %}
                        <h4>{{ grade }}</h4>
                    </div>
                {% endif %}
            </div>  
        </div>
        <div class="col-md-6 pad-l-0 pad-r-10">
            <div class="col-md-12 row bg-white border-radius-10 marg-b-15 pad-t-15 pad-b-15" style="min-height: 568px">
                <div class="row marg-b-20" style="width: 100%;">
                    <span style="margin: auto; color: #0076fe; text-transform: uppercase; font-size: 20px; font-weight: 900">{{ 'global.mainRoom' |trans }}</span>
                </div>
                <div id="video" style="height: 640px!important;">
                    <script src="{{ jitsi_url }}/external_api.js"></script>
                    <script>
                        var url = "{{ jitsi_url }}";
                        var domain = url.replace(/^(?:https?:\/\/)?(?:www\.)?/i, "").split('/')[0];
                        const parentElement = document.getElementById('video');
                        var roomNameString = "{{ roomName }}";
                        var options = {
                            roomName: roomNameString,
                            width: '100%',
                            height: 640,
                            parentNode: parentElement                                }
                        var api = new JitsiMeetExternalAPI(domain, options);
                    </script>
                </div>
            </div>
            <div class="col-md-12 text-center row bg-white border-radius-10">
                <section id="notes" class="col-lg-12 pad-t-20 pad-b-20">
                    <div class="row">
                        <div style="width: 55%" class="text-right">
                            <p>
                                <i class="fa fa-pencil color-header" aria-hidden="true"></i>
                                <span class="color-header bold font-size-20"> {{ 'global.my_notes'|trans|raw }}</span>
                                <a style="position: absolute; right: 10px; top: 16px;" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseNote" aria-expanded="true" aria-controls="collapseNote">
                                    <i class="fa fa-plus color-header" style="display: none"></i>
                                    <i class="fa fa-minus color-header"></i>
                                </a>
                            </p>
                        </div>
                    </div>
                    <div id="collapseNote" class="panel-collapse text-left collapse show" role="tabpanel" aria-labelledby="headingOne">
                        <textarea id="editor" data-type="notes" aria-label="With textarea" name="notes-learner-text">{{ notes }}</textarea>
                        <div class="row">
                            <div class="col-md-12 text-center pad-t-10">
                                <button data-send="notes" class="btn btn-deepmark btn-sm ">{{ 'buttons.save'|trans|raw }}</button>
                                <button class="btn btn-deepmark btn-sm " id="btn-export" onclick="exportHTML();">{{ 'buttons.export_to_word'|trans }}</button>
                            </div>
                        </div>
                    </div>
                </section>

            </div>
        </div>
        {# <div class="col-md-6">
            
        </div> #}
        {# <div class="col-md-6 pad-l-0 pad-r-10">
            <div class="col-md-12 text-center row bg-white border-radius-10">
                <section id="notes" class="col-lg-12 pad-t-20 pad-b-20">
                    <div class="row">
                        <div class="col-md-2"></div>
                        <div class="col-md-8 text-center">
                            <p>
                                <i class="fa fa-pencil color-header" aria-hidden="true"></i>
                                <span class="color-header bold font-size-20"> {{ 'global.my_notes'|trans|raw }}</span>
                            </p>
                        </div>
                        <div class="col-md-2 pad-b-15 pad-r-0 text-right">
                            <button data-send="notes" class="btn btn-deepmark btn-sm ">{{ 'buttons.save'|trans|raw }}</button>
                        </div>
                    </div>
                    <textarea id="editor" data-type="notes" aria-label="With textarea" name="notes-learner-text">{{ notes }}</textarea>
                </section>

            </div>
        </div> #}
    </div>
    {% if booked.module.signatureNumber > 0 %}
        {{ include('molecules/courses/attendance-sheet.html.twig', { bookingAgendas: [booked] }) }}
    {% endif %}
    <input type="hidden" id="activeStatus" name="activeStatus" value="1">
    <input type="hidden" name="bookingId" id="bookingId" value="{{ booked.id }}">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/lib/signature_pad.min.js') }}"></script>
    <script src="{{ asset('js/learner/courses.js') }}"></script>
    <script src="{{ asset('js/learner/attendance-sheet.js') }}"></script>
    <script src="{{ asset('js/lib/webrtc/socket.io.js') }}"></script>
    <script src="https://webrtc.github.io/adapter/adapter-latest.js"></script>
    <script src="{{ asset('js/lib/webrtc/BandwidthHandler.js') }}"></script>
    <script src="{{ asset('js/lib/webrtc/CodecsHandler.js') }}"></script>
    <script src="{{ asset('js/lib/webrtc/DetectRTC.js') }}"></script>
    <script src="{{ asset('js/lib/webrtc/IceServersHandler.js') }}"></script>
    <script src="{{ asset('js/lib/webrtc/conference_1.js') }}"></script>
    <script>
        var SIGNALING_SERVER = "{{ stream_url }}";
        {% if module.storedModule.appId == constant('\\ApiBundle\\Entity\\StoredModule::VIRTUAL_CLASS') %}
            {% set roomName = booked.moduleSession.id %}
        {% else %}
            {% set roomName = module.id ~ booked.id %}
        {% endif %}

        var channel = "{{roomName}}";
        var sender = Math.round(Math.random() * 999999999) + 999999999;
        var isOpen = false;

        let roomId = {{ booked.room.id|default(-1) }};
        let roomName = "{{ booked.room.roomName|default('') }}"
        let isNewRoom = true;

        io.connect(SIGNALING_SERVER).emit("new-channel", {
            channel: channel,
            sender: sender,
        });

        var socket = io.connect(SIGNALING_SERVER + channel);
            socket.channel = channel;
        socket.on("connect", function () {
            console.log("Connected");
            // if (config.callback) config.callback(socket);
        });

        // Update Online status for learner
        $.ajax({
            type: 'POST',
            url: '/learner/courses/status',
            data: { bookingId : {{ booked.id }}, status: 1 }
        });

        // Update Offline status for learner
        $(window).on('unload', function() {
            $.ajax({
                type: 'POST',
                url: '/learner/courses/status',
                data: { bookingId : {{ booked.id }}, status: 0 }
            });
        });

        let popup = null;
        new Jodit("#editor", {
            toolbarAdaptive: false,
            buttons: "bold,strikethrough,underline,italic,eraser,|,ul,ol,|,outdent,indent,|,font,fontsize,brush,paragraph,copyformat,preview"
        })
        $("#editor").on('change', function () {
            $('#btn-export').attr('disabled','disabled');
        });

        $('#recording').click(function () {
            var status = $(this).attr('status');
            if (status == 'start'){
                startRecording();
                $(this).attr('status', 'stop');
                $(this).attr('class', 'btn btn-danger');
            } else {
                endRecording();
                $(this).attr('status', 'start');
                $(this).attr('class', 'btn btn-primary');
            }
        });

        let booking_agenda_id = {{ booked.id }}

        $(document).ready(function () {
            initBinding();

        });

        function initBinding() {

            $('[data-send="notes"]').on('click', function () {
                let postAddress = "{{ path('learner_courses_save_notes', { 'id': module.id } ) }}";
                let learnerNotes = $("#editor").val();
                let payload = {
                    personType: 'learner',
                    notes: learnerNotes,
                    moduleId: {{ module.id }},
                    trainerId: {{ booked.trainer.id }},
                    learnerId: {{ booked.learner.id }},
                    bookingAgendaId: {{ booked.id }}
                };
                saveNotes(postAddress, payload);
            });

            $('[data-send="cancel_session"]').on('click', function () {
                let valueToSend = $('#cancel_session').val();

                if (isNaN(valueToSend)) return;

                let url = "/trainer/video/status/save";
                let payload = {
                    'status_id': valueToSend,
                    'booking_agenda_id': booking_agenda_id
                };

                makeRequest(url, payload);
            });
        }

        function saveNotes(url, data) {
            $.ajax({
                'url': url,
                'method': 'POST',
                'data': data
            }).done(function (response) {
                $('#btn-export').removeAttr('disabled');
                swal("{{ 'global.success_title'|trans }}", "{{ 'global.save_note_success_message'|trans }}", "success", {
                    button: "Ok",
                });
            }).fail(function (response) {
                swal("Error", "Error occurred while saving your notes. Please report the issue to IT department.", "error", {
                    button: "Ok",
                });
            })
        }
        $('.preview-file').click(function() {
            
            // $("#divIcon").remove();
            // let url = '{{ amazon_s3_url }}' + '/' + $(this).attr('data-pdf-loader-queue');
            // $('#preview_pdf').attr('src' , '{{ google_view_url }}'+ url + '&embedded=true');
            // $('#preview_pdf').show();
            // $('#preview_pdf').attr('height', '640px');
            // let path = `/learner/courses/popup/${$(this).attr('data-pdf-loader-queue')}`;
            let path = `{{ url('app_default_viewer') }}?url={{ amazon_s3_url }}/${$(this).attr('data-pdf-loader-queue')}`;
            // console.log("path", path);
            if (popup !== null) {
                popup.location = path;
            } else {
                popup = window.open(
                path,
                "",
                `scrollbars=no,resizable=no,status=no,location=no,toolbar=no,menubar=no,
        width=600,height=300,left=100,top=100`
                );
                let timer = setInterval(() => {
                if (popup.closed) {
                    clearInterval(timer);
                    popup = null;
                }
                }, 1000);
            }
        });
        $('.preview-media').click(function() {
            let path = $(this).attr('data-media-loader-queue');
            if (popup !== null) {
                popup.location = path;
            } else {
                popup = window.open(
                path,
                "",
                `scrollbars=no,resizable=no,status=no,location=no,toolbar=no,menubar=no,
        width=600,height=300,left=100,top=100`
                );
                let timer = setInterval(() => {
                if (popup.closed) {
                    clearInterval(timer);
                    popup = null;
                }
                }, 1000);
            }
        });
        $('.open-your-url').click(function() {
            let path = $('#your-url').val();
            if(path.match(/(http(s)?:\/\/.)?(www\.)?[-a-zA-Z0-9@:%._\+~#=]{2,256}\.[a-z]{2,6}\b([-a-zA-Z0-9@:%_\+.~#?&//=]*)/g) === null) {
                return;
            }
            if (popup !== null) {
                popup.location = path;
            } else {
                popup = window.open(
                path,
                "",
                `scrollbars=no,resizable=no,status=no,location=no,toolbar=no,menubar=no, width=600,height=300,left=100,top=100`
                );
                let timer = setInterval(() => {
                if (popup.closed) {
                    clearInterval(timer);
                    popup = null;
                }
                }, 1000);
            }
        });

        socket.on("toggleJitsi", function(response){
            console.log("response", response)
            console.log("isOpen", isOpen)
            console.log("roomId", roomId)

            if(response.toggleVal && !isOpen) {
                $("#video-2").empty();
                // $('#open2Jitsi').trigger("click");

                if(response.roomId == roomId) {
                    $("#2JitsiTitle").text(roomName);
                    
                    var url = "{{ jitsi_url }}";
                    var domain = url.replace(/^(?:https?:\/\/)?(?:www\.)?/i, "").split('/')[0];
                    const parentElement = document.getElementById('video-2');
                    // var roomNameString = "{{ roomName }}";
                    var options = {
                        roomName: roomId,
                        width: '100%',
                        height: 633,
                        parentNode: parentElement
                    }
                    var api = new JitsiMeetExternalAPI(domain, options);

                    api.executeCommand('toggleVideo');
                    api.executeCommand('toggleAudio');

                    isOpen = true;
                    $("#2JitsiTitle").show();
                    $("#2JitsiUrl").hide();
                }
            }

            if(!response.toggleVal && isOpen) {
                if(response.roomId == roomId) {
                    $("#video-2").empty();
                    $("#2JitsiTitle").text("{{ 'global.viewer' |trans }}");
                    // $("#2JitsiTitle").hide();
                    // $("#2JitsiUrl").show();
                    isOpen = false;
                }
            }
        });

        socket.on("changeRoom", function(res){
            console.log("res", res);
            console.log("roomId", roomId)
            if(res.roomId != roomId && res.bookingArr.indexOf({{booked.id}}) !== -1 && isNewRoom == true) {
                $("#video-2").empty();
                $("#2JitsiTitle").text("{{ 'global.viewer' |trans }}");
                $.ajax({
                    'url': '{{ path('learner_courses_check_new_room') }}',
                    'method': 'POST',
                    'data' : {
                        'bookingId': {{ booked.id }},
                    }
                }).done(function (response) {
                    console.log(response.roomId)
                    console.log(response.roomName)
                    roomId = response.roomId
                    roomName = response.roomName
                    isNewRoom = true
                    isOpen = false
                    // $("#video-2").empty();
                    // var url = "{{ jitsi_url }}";
                    // var domain = url.replace(/^(?:https?:\/\/)?(?:www\.)?/i, "").split('/')[0];
                    // const parentElement = document.getElementById('video-2');
                    // // var roomNameString = "{{ roomName }}";
                    // var options = {
                    //     roomName: roomId,
                    //     width: '100%',
                    //     height: 640,
                    //     parentNode: parentElement
                    // }
                    // var api = new JitsiMeetExternalAPI(domain, options);

                    // api.executeCommand('toggleVideo');
                    // api.executeCommand('toggleAudio');
                }).fail(function (error) {
                    console.log("error", error)
                    //
                });
                isNewRoom = false
            }
        })


    </script>
    <script>
        let idleTime = 0;
        let idleInterval = 0;
        let hasFrame = 0;
        //Increment the idle time counter every minute.
        idleInterval = setInterval(timerIncrement, 10000); // 10 seconds
        $('iframe').hover( function() {
            console.log('iFrameStatus: 1')
            hasFrame = 1;
            //Zero the idle timer on mouse movement.
            /*$(this).contents().keypress(function(){
                idleTime = 0;
            });*/
            $(this).contents().mousemove(function(){
                idleTime = 0;
                //console.log('hasFrame 1 hover: mousemove')
            });
        }, function() {
            hasFrame = 1;
            //Zero the idle timer on mouse movement.
            document.body.addEventListener('mousemove', function(e) {
                idleTime = 0;
                //console.log('hasFrame 1 not hover: mousemove')
            });
            console.log('iFrameStatus: 0')
        });

        if (hasFrame == 0) {
            //Zero the idle timer on mouse movement.
            document.body.addEventListener('mousemove', function(e) {
                idleTime = 0;
                //console.log('mousemove')
            });
            console.log('hasFrame: 0')
        }

        function timerIncrement() {
            idleTime = idleTime + 1;
            console.log(idleTime + ' seconds')
            if (idleTime >= 30) { //30 times x 10,000 = 300,000: 5 minutes
                idleTime = 0;
                clearInterval(idleInterval);
                idleInterval = 0; // I just do this so I know I've cleared the interval
                console.log('clearInterval')
                swal({
                    type: 'warning',
                    allowOutsideClick: false,
                    title: '{{ 'global.idled_warning'|trans|raw }}',
                    html: '{{ 'global.idled_message'|trans({'%mins%': 5})|raw }} {{ 'global.idled_module_stop'|trans|raw }} {{ 'global.back_return'|trans|raw }}',
                }).then(
                    function () {
                        idleInterval = setInterval(timerIncrement, 10000); // 10 seconds
                        console.log('setInterval again')
                    },
                )
            } else {
                ajaxCall();
            }
        }

        function ajaxCall() {
            let startTime = $('#startTime').text();
            $.ajax({
                'url': '/learner/courses/timing',
                'method': 'POST',
                'data' : {
                    'module_id': {{ module.id }},
                    'startTime': startTime,
                    'learnedTime': 10
                }
            }).done(function (response) {
                // show message here
            }).fail(function (response) {
                $('.loader').hide();
                if (response.hasOwnProperty('responseJSON') && response.responseJSON.hasOwnProperty('message')) {
                    swal('Error',response.responseJSON.message, 'error');
                }
            });
        }

        signInterval = setInterval(signTimerIncrement, 10000); // 10 seconds
        function signTimerIncrement() {
            if (!$('#signature-image').hasClass('show')) {
                $.ajax({
                    'url': '{{ path('learner_courses_check_signature') }}',
                    'method': 'POST',
                    'data' : {
                        'bookingId': {{ booked.id }},
                    }
                }).done(function (response) {
                    if (response.allow) {
                        // hide all modal only show the session modal
                        console.log(response)
                        $('#signature-image').find('input[name="bookId"]').val(response.bookId);
                        $('#signature-image').find('input[name="signatureType"]').val(response.signatureType);
                        $('#signature-image').find('input[name="signatureName"]').val(response.signatureName);
                        $('#signature-image').find('span[id="signatureNumber"]').text(response.signatureName);
                        $('#signature-image').find('p[id="learnerName"]').text(response.learnerName);
                        $('#signature-image').modal('show');
                        //$("#clear").trigger("click");
                    }
                }).fail(function (response) {
                    $('.loader').hide();
                    if (response.hasOwnProperty('responseJSON') && response.responseJSON.hasOwnProperty('message')) {
                        swal('Error',response.responseJSON.message, 'error');
                    }
                });
            }
        }
    </script>
    <script>
    // var config = {
    //     openSocket: function (config) {
    //         var SIGNALING_SERVER = "{{ stream_url }}";

    //         {% if module.storedModule.appId == constant('\\ApiBundle\\Entity\\StoredModule::VIRTUAL_CLASS') %}
    //             {% set roomName = booked.moduleSession.id %}
    //         {% else %}
    //             {% set roomName = module.id ~ booked.id %}
    //         {% endif %}
    //         config.channel = config.channel || "{{roomName}}";
    //         // config.channel = "fileUsersnguyenanhhoangworkspaceWebRTC-ExperimentPluginfree-Screen-Sharingindexhtml612821786257324";
    //         var sender = Math.round(Math.random() * 999999999) + 999999999;

    //         io.connect(SIGNALING_SERVER).emit("new-channel", {
    //             channel: config.channel,
    //             sender: sender,
    //         });

    //         var socket = io.connect(SIGNALING_SERVER + config.channel);
    //         socket.channel = config.channel;
    //         socket.on("connect", function () {
    //             if (config.callback) config.callback(socket);
    //         });

    //         socket.send = function (message) {
    //             socket.emit("message", {
    //                 sender: sender,
    //                 data: message,
    //             });
    //         };

    //         socket.on("message", config.onmessage);
    //     },
    //     onRemoteStream: function (media) {
    //         if (isbroadcaster) return;

    //         var video = media.video;
    //         $('#videos-container').empty();
            
    //         videosContainer.insertBefore(video, videosContainer.firstChild);

    //         document.querySelector("#indicator").style.display = "none";
    //     },
    //     onRoomFound: function (room) {
    //         if (isbroadcaster) return;

    //         conferenceUI.joinRoom({
    //             roomToken: room.roomToken,
    //             joinUser: room.broadcaster,
    //         });

    //         document.querySelector("#indicator").innerHTML =
    //         '<img src="https://www.webrtc-experiment.com/images/key-press.gif" style="margint-top:10px; width:50%;" />';
    //     },
    //     onNewParticipant: function (numberOfParticipants) {
    //         var text = numberOfParticipants + " users are viewing your screen!";

    //         if (numberOfParticipants <= 0) {
    //             text = "No one is viewing your screen YET.";
    //         } else if (numberOfParticipants == 1) {
    //             text = "Only one user is viewing your screen!";
    //         }

    //         document.title = text;
    //         showErrorMessage(document.title, "green");
    //     },
    //     oniceconnectionstatechange: function (state) {
    //         var text = "";

    //         if (state == "closed" || state == "disconnected") {
    //             text = "One of the participants just left.";
    //             document.title = text;
    //             showErrorMessage(document.title);
    //         }

    //         if (state == "failed") {
    //             text =
    //             "Failed to bypass Firewall rules. It seems that target user did not receive your screen. Please ask him reload the page and try again.";
    //             document.title = text;
    //             showErrorMessage(document.title);
    //         }

    //         if (state == "connected" || state == "completed") {
    //             text = "A user successfully received your screen.";
    //             document.title = text;
    //             showErrorMessage(document.title, "green");
    //         }

    //         if (state == "new" || state == "checking") {
    //             text = "Someone is trying to join you.";
    //             document.title = text;
    //             showErrorMessage(document.title, "green");
    //         }
    //     },
    // };

    // function showErrorMessage(error, color) {
    //     console.log("showErrorMessage -> error", error);
    // }

    // function getDisplayMediaError(error) {
    //     if (location.protocol === "http:") {
    //         showErrorMessage("Please test this WebRTC experiment on HTTPS.");
    //     } else {
    //         showErrorMessage(error.toString());
    //     }
    // }

    // // function captureUserMedia(callback) {
    // //     var video = document.createElement("video");
    // //     video.muted = true;
    // //     video.volume = 0;
    // //     try {
    // //         video.setAttributeNode(document.createAttribute("autoplay"));
    // //         video.setAttributeNode(document.createAttribute("playsinline"));
    // //         video.setAttributeNode(document.createAttribute("controls"));
    // //     } catch (e) {
    // //         video.setAttribute("autoplay", true);
    // //         video.setAttribute("playsinline", true);
    // //         video.setAttribute("controls", true);
    // //     }

    // //     if (navigator.getDisplayMedia || navigator.mediaDevices.getDisplayMedia) {
    // //         function onGettingSteam(stream) {
    // //             console.log("video -> stream", stream.getVideoTracks()[0])
    // //             console.log("audio -> stream", stream.getAudioTracks()[0])
            
    // //             video.srcObject = stream;
    // //             $('#videos-container').empty();
    // //             videosContainer.insertBefore(video, videosContainer.firstChild);

    // //             addStreamStopListener(stream, function () {
    // //                 // location.reload();
    // //             });

    // //             config.attachStream = stream;
    // //             callback && callback();
    // //         }

    // //         function getDisplayMediaError(error) {
    // //             if (location.protocol === "http:") {
    // //                 showErrorMessage("Please test this WebRTC experiment on HTTPS.");
    // //             } else {
    // //                 showErrorMessage(error.toString());
    // //             }
    // //         }

    // //         const displayMediaOptions = {
    // //             video: {
    // //                 aspectRatio: 1.7777777777777777,
    // //                 frameRate: 30,
    // //                 height: 480,
    // //                 resizeMode: "crop-and-scale",
    // //                 width: 768,
    // //                 cursor: "always",
    // //                 displaySurface: "browser",
    // //                 logicalSurface: true,
    // //             },
    // //             audio: {
    // //                 echoCancellation: true,
    // //                 noiseSuppression: true,
    // //             }
    // //         };

    // //         if (navigator.mediaDevices.getDisplayMedia) {
    // //             navigator.mediaDevices
    // //                 .getDisplayMedia(displayMediaOptions)
    // //                 .then((stream) => {
    // //                     onGettingSteam(stream);
    // //                 }, getDisplayMediaError)
    // //                 .catch(getDisplayMediaError);
    // //         } else if (navigator.getDisplayMedia) {
    // //             navigator
    // //                 .getDisplayMedia(displayMediaOptions)
    // //                 .then((stream) => {
    // //                     onGettingSteam(stream);
    // //                 }, getDisplayMediaError)
    // //                 .catch(getDisplayMediaError);
    // //         }
    // //     } else {
    // //         if (DetectRTC.browser.name === "Chrome") {
    // //           if (DetectRTC.browser.version == 71) {
    // //               showErrorMessage(
    // //               'Please enable "Experimental WebPlatform" flag via chrome://flags.'
    // //               );
    // //           } else if (DetectRTC.browser.version < 71) {
    // //               showErrorMessage("Please upgrade your Chrome browser.");
    // //           } else {
    // //               showErrorMessage(
    // //               "Please make sure that you are not using Chrome on iOS."
    // //               );
    // //           }
    // //         }

    // //         if (DetectRTC.browser.name === "Firefox") {
    // //             showErrorMessage("Please upgrade your Firefox browser.");
    // //         }

    // //         if (DetectRTC.browser.name === "Edge") {
    // //             showErrorMessage("Please upgrade your Edge browser.");
    // //         }

    // //         if (DetectRTC.browser.name === "Safari") {
    // //             showErrorMessage("Safari does NOT supports getDisplayMedia API yet.");
    // //         }
    // //     }
    // //   }

    //   /* on page load: get public rooms */
    //   var conferenceUI = conference(config);

    //   /* UI specific */
    //   var videosContainer =
    //   document.getElementById("videos-container") || document.body;

    // //   document.getElementById("share-screen").onclick = function () {
    // //   $("#screen-cast .close").click();
    // //       var roomName = document.getElementById("room-name") || {};
    // //       roomName.disabled = true;
    // //       captureUserMedia(function () {
    // //           conferenceUI.createRoom({
    // //           roomName: (roomName.value || "Anonymous") + " shared his screen with you",
    // //           });
    // //       });
    // //       // this.disabled = true;
    // //   };
    // </script>
{% endblock %}
