
<div class="course-card t-center flex flex--column">
    <h4 class="marg-b-20">{{ 'learners.courses.duration' |trans }}</h4>
    <i class="fas fa-clock icon--xl marg-b-10"></i>
    <span class="marg-b-20 t-medium">{{ module.duration|date('G:i', false) }}</span>
    <button data-action="calendar" class="btn btn-deepmark-green" id="virtual-calendar-booking">{{ 'learners.courses.book_session' |trans }}</button>
</div>
