.tr-modal {
	td { padding: 0 !important; }

	.td-modal {
		background-color: #FFFFFF;
		box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);

		max-height: 0;
		box-sizing: border-box;
		overflow: hidden;

		transition: max-height 0.3s;

		margin: 0;

		&__wrapper {
			padding: 20px;
			position: relative;
		}

		.billed-progress-widget,
		.student-progress-widget,
		.planif-progress-widget  {
			.progress {
				min-width: 50px !important;
			}
		}
	}

	&.active {
		.td-modal {
			max-height: 1000px;

			border: 2px solid $deepmark-mediumgray;
			border-top: 0;
			border-radius: 10px;

			padding-top: 25px;
		}
	}

	&--interv {
		.ratings-widget {
			display: inline-block;
			margin-right: 10px;
		}

		.student-progress-widget {
			display: inline-block;
			vertical-align: -9px;
			margin-right: 10px;
		}
	}
}

.ratings-modal {
	width: 90%;

	position: absolute;
	top: 20px;
	left: 5%;

	z-index: 500;

	background: #FFFFFF;
	border: 1px solid $deepmark-mediumgray;

	box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
	border-radius: 10px;

	display: none;

	padding: 20px;

	&-close {
		font-size: 24px;
		color: $deepmark-navy;
		position: absolute;
		top: 10px;
		right: 10px;
		z-index: 500;
	}
}

.ratings-modal-content {
	.ratings-list {
		padding: 0 15px;

		&__item {
			margin-bottom: 10px;
			display: block;

			.ratings-widget {
				display: inline-block;
			}

			.student-progress-widget {
				display: inline-block;
				vertical-align: -9px;

				@media screen and (min-width: 1200px) {
					min-width: 200px;
				}
			}

			span {
				width: 60px;
				display: inline-block;
				padding: 0 15px;
			}
		}
	}
}

.ratings-card {
	display: none;
	max-height: 50%;
	overflow-y: auto;
}

.modal-sub-header {
	display: flex;
	flex-direction: row;
	justify-content: center;

	.modal-yellow-icon-container {
		background-color: #FF9C01;
		width: 4rem;
		height: 4rem;
		border-radius: 50%;

		.fa-bolt-custom {
			color: #FFFFFF;
			font-size: 30px;
			font-weight: 100 !important;
			line-height: 2 !important;
		}
	}
}