table {
	>thead>tr>td,
	>tbody>tr>td,
	>tfoot>tr>td {
		padding: 20px 1em;
		//color: $deepmark-mediumgray;
	}

	>thead>tr>th{
		font-weight: 500!important;
	}

	ul, ol {
		margin: 0;
		padding: 0;
		list-style: none;
	}

	.col {
		&-right { text-align: right; }
		&-center { text-align: center; }
		&-left { text-align: left; }
	}

	.cell-pointer {
		cursor: pointer;
	}
	.img-container {
		width: 50px;
	}
	.img-container--round {
		border-radius: 50%;
	}
}

.table-responsive {
	.table-responsive {
		tr {
			td {
				&:first-child { padding-left: 5px; }
				&:last-child { padding-right: 5px; }
			}
		}
	}

	tr {
		&[onclick]:hover {
			background: rgba(0,0,0,.08);
		}

		&.background-white {
			background-color: #ffffff !important;

			td {
				background-color: #ffffff !important;
				padding: 5px 10px !important;
				border: none !important;
			}
		}

		&.background-gray {
			background-color: rgba(0, 0, 0, 0.05) !important;

			td {
				background-color: rgba(0, 0, 0, 0.05) !important;
				padding: 5px 10px !important;
				border: none !important;
			}
		}
	}

	.img-container {
		img {
			max-width: 100px;
		}
	}

	.svg-inline--fa {
		width: 20px;
		height: 20px;
	}

	.trainer-img-td {
		.img-container {
			display: inline-block;
			width: 50px;

			img {
				border-radius: 50%;
				max-width: 50px;
			}
		}

		p {
			display: inline-block;
			margin-left: 20px;
			vertical-align: 20px;
		}
	}

	.btn {
		i { color: #FFFFFF !important; }
	}
}

