<!DOCTYPE html>
<html
        xmlns="http://www.w3.org/1999/xhtml"
        lang="en">

<head>
    {% block head %}
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

        <title>{% block title %}{% endblock %}</title>

        <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700" rel="stylesheet">
        <style>
            body {
                font-family: 'Roboto', sans-serif;
                font-size: 16px;
            }
            #background {
                max-width: 800px;
                margin: auto;
                background-color:#fff;
            }
            #wrapper {
                border-radius: 5px;
                padding: 15px;
            }
            #type{
                padding: 20px;
                background-color: #0076fe;
                text-align: center;
            }
            #logo {
                display: block;
                max-width: 200px;
                margin: auto;
            }
            #content {
                text-align: center;
                padding: 15px;
            }
            #footer {
                text-align: center;
                padding-top: 20px;
            }
            h2 { font-size: 24px; }
            h3 { font-size: 18px; margin-bottom: .2em; }

            dl {
                margin-top: 0;
                margin-bottom: 2em;
            }

            dl > div {
                padding: 6px 0;
                display: flex;
                flex-wrap: wrap;
            }
            dl dt {
                font-weight: 500;
                width: 150px;
            }
            dl dd {
                margin-left: 0;
            }
            a {
                color: #003B5C;
            }
            .btn{
                background-color: #0076fe!important;
                position: relative;
                padding: 12px 30px;
                margin: 0.3125rem 1px;
                font-size: .75rem;
                font-weight: 400;
                line-height: 1.428571;
                text-decoration: none;
                text-transform: uppercase;
                letter-spacing: 0;
                cursor: pointer;
                border: 0;
                border-radius: 0.2rem;
                outline: 0;
                transition: box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1), background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
                will-change: box-shadow, transform;
                color: white!important;
            }
        </style>
    {% endblock %}
</head>

<body>
<div id="background">
    <div id="wrapper">
        <div id="content">
            <header id="header">
                <img
                        id="logo"
                        src="{{ app.request.getSchemeAndHttpHost() }}/images/mail_logo.png"
                        alt="Deepmark logo"/>
            </header>
            <main id="content">
                <div id="type">
                    <p style="margin: 0; color: #fff">
                        BNP PARIS BAS BANQUE PRIVEE, INFORMS YOU
                    </p>
                    <p style="margin: 0; margin-top: 10px!important; color: #fff; font-size: 20px; font-weight: 900">
                        {% block type %}{% endblock %}
                    </p>
                </div>
                {% block content %}
                {% endblock %}
            </main>
            <footer id="footer">
                {% block footer %}{% endblock %}
            </footer>
        </div>
    </div>
</div>
</body>
</html>
