{% extends 'ApiBundle:Email:base.html.twig' %}
{% block title %}{{ 'trainers.alerts.reports.reports_not_upload'|trans }}{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block content %}
    <h2>Félicitations {{ profile.displayName }}, votre compte est maintenant activé.</h2>
    <p>Voici les détails de votre compte.</p>
    <div>
        <h3>Apprenant</h3>
        <dl>
            <div>
                <dt>Nom :</dt>
                <dd>{{ profile.displayName }}</dd>
            </div>
            <div>
                <dt>Email or Username :</dt>
                <dd>{{ profile.person.email }}</dd>
            </div>
            <div>
                <dt>T&eacute;l&eacute;phone(s) :</dt>
                <dd>{{ profile.mobilePhone }}</dd>
            </div>
            <div>
                <dt>Lien pour rejoindre:</dt>
                <dd><a href="{{ joinUrl }}">ici</a></dd>
            </div>
        </dl>
    </div>
    <p>A bient&ocirc;t.</p>
{% endblock %}

