{% extends 'ApiBundle:Email:base.html.twig' %}
{% block title %}Intervention{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block content %}
    <h2>Une nouvelle séance de formation a été réservée avec vous !</h2>
    <p>Voici les détails de votre prochaine séance de formation.</p>
    <div>
        <h3>Informations</h3>
        <dl>
            <div>
                <dt>Thème :</dt>
                <dd>[Lien dynamique]</dd>
            </div>
            <div>
                <dt>Date de début :</dt>
                <dd>[Lien dynamique]</dd>
            </div>
            <div>
                <dt>Date de fin :</dt>
                <dd>[Lien dynamique]</dd>
            </div>
        </dl>
    </div>
    <div>
        <h3>Trainer</h3>
        <dl>
            <div>
                <dt>Nom :</dt>
                <dd>[Lien dynamique]</dd>
            </div>
            <div>
                <dt>Email :</dt>
                <dd>[Lien dynamique]</dd>
            </div>
            <div>
                <dt>T&eacute;l&eacute;phone(s) :</dt>
                <dd>[Lien dynamique]</dd>
            </div>
            <div>
                <dt>Lien pour rejoindre le webinar :</dt>
                <dd><a href="#">ici</a></dd>
            </div>
        </dl>
    </div>
    <p>Fichiers</p>
    <p>A bient&ocirc;t.</p>
{% endblock %}
