{% extends 'ApiBundle:Email:base.html.twig' %}
{% block title %}Module reservation{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block content %}
    <h2>Votre séance a bien été prise en compte !</h2>
    <p>Voici les détails de votre prochaine séance de formation.</p>
    <div>
        <h3>Informations</h3>
        <dl>
            <div>
                <dt>Module :</dt>
                <dd>{{ name }}</dd>
            </div>
            <div>
                <dt>Date de d&eacute;but :</dt>
                <dd>{{ start|date('Y-m-d G:i') }}</dd>
            </div>
            <div>
                <dt>Date de fin :</dt>
                <dd>{{ end|date('Y-m-d G:i') }}</dd>
            </div>
        </dl>
    </div>
    <div>
        <h3>Trainer</h3>
        <dl>
            <div>
                <dt>Nom :</dt>
                <dd>{{ trainer.firstName }} {{ trainer.lastName }}</dd>
            </div>
            <div>
                <dt>Email :</dt>
                <dd>{{ trainer.otherEmail }}</dd>
            </div>
            <div>
                <dt>T&eacute;l&eacute;phone(s) :</dt>
                <dd>{{ trainer.mobilePhone }}</dd>
            </div>
            <div>
                <dt>Fichiers :</dt>
                <dd>
                    {% for file in files %}
                        <a href="{{ file.file }}">{{ file.file }}</a>
                    {% endfor %}
                </dd>
            </div>
        </dl>
    </div>
    <p>A bient&ocirc;t.</p>
{% endblock %}
