{% extends 'ApiBundle:Email:base.html.twig' %}
{% block title %}{{ 'trainers.alerts.reports.reports_not_upload'|trans }}{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block content %}
    <h2>Peut-être avez-vous oublié de télécharger le rapport!</h2>
    <p>Vous trouverez ci-dessous les détails de votre prochaine session de formation.</p>
    <div>
        <h3>Informations</h3>
        <dl>
            <div>
                <dt>Module :</dt>
                <dd>{{ name }}</dd>
            </div>
            <div>
                <dt>Date de d&eacute;but :</dt>
                <dd>{{ start|date('D l F G:i') }}</dd>
            </div>
            <div>
                <dt>Date de fin :</dt>
                <dd>{{ end|date('D l F G:i') }}</dd>
            </div>
        </dl>
    </div>
    <div>
        <h3>Apprenant</h3>
        <dl>
            <div>
                <dt>Nom :</dt>
                <dd>{{ profile.displayName }}</dd>
            </div>
            <div>
                <dt>Email :</dt>
                <dd>{{ profile.person.email }}</dd>
            </div>
            <div>
                <dt>T&eacute;l&eacute;phone(s) :</dt>
                <dd>{{ profile.mobilePhone }}</dd>
            </div>
            <div>
                <dt>Lien pour rejoindre:</dt>
                <dd><a href="{{ joinUrl }}">ici</a></dd>
            </div>
        </dl>
    </div>
    <p>A bient&ocirc;t.</p>
{% endblock %}

