
.documents-list {
    &__item {
        position: relative;
        margin-bottom: 10px;
        padding-bottom: 5px;
        border-bottom: 1px solid $deepmark-lightgray;
        &-title {
            color: $deepmark-mediumgray;
        }
        &-icon {
            position: absolute;
            right: 0;
            color: $deepmark-mediumgray;

        }

    }
}

