$send-skill-button-width: 50px;
$select-padding: 10px;

.skills-list {
    &__item {
        position: relative;
        border-bottom: 1px solid $deepmark;
        padding-bottom: 10px!important;
        padding-top: 10px!important;

        &_new {
            border: 1px solid $deepmark;
            padding: 10px;
            margin-top: 10px;
        }
        &-title {
            color: $deepmark-mediumgray;
        }

        &-icon {
            position: absolute;
            right: 0;

            &--validate {
                color: $deepmark-green;
            }

            &--rejected {
                color: $deepmark-red;
            }

            &--pending {
                color: $deepmark-lightgray;
            }
        }

        .scroll-caret {
            transform: translateX(-($select-padding + 5px));
            pointer-events: none;
        }
    }
}

#skill-select {
    background: transparent;
    border: none;
    padding-right: $select-padding;
    width: calc(100% - (#{$send-skill-button-width + $select-padding + 10px}));
}

.send-skill {
    font-size: 12px;
    text-transform: lowercase;
    height: 18px;
    float: right;
    color: $deepmark-mediumgray;
    cursor: pointer;
    text-align: center;

    &:hover {
        color: #333333;
    }
}

.skill_add {
    cursor: pointer;
}
