.card--trainer {
    .span-min-width {
        display: inline-block;
        min-width: 200px;
    }

    .skills-cat-title {
        color: $deepmark-navy;
        font-size: 18px;
        font-weight: 400;
    }

    h6 { color: $deepmark-navy; }

    .rib-box {
        background: $deepmark-navy;
        color: #FFFFFF;
        display: inline-block;
        padding: 20px;
    }

    .justif-box {
        background: $deepmark-lightgray;
        color: #000000;
        display: inline-block;
        padding: 10px 20px;
    }

    .section-separator {
        height: 1px;
        margin: 15px 0;
    }

    .auto-list {
        dt { min-width: 50px; }
    }

    .card-header {
        display: flex;

        .icon-box {
            width: 100px;

            //margin-top: -20px;
            margin-left: 15px;

            &__icon-wrapper {
                width: 100px;
                height: 100px;
            }
            &__txt{
                font-size: 14px!important;
            }
        }

        .btn-edit {
            height: 50px;
        }
    }
}

.doc-list {
    &__item {
        margin-right: 15px;
        display: inline-block;
        text-align: center;

        &-icon {
            background: $deepmark-navy;
            color: #ffffff;
            font-size: 26px;
            text-align: center;
            padding: 20px;
            display: inline-block;
            border-radius: 5px;
        }

        &-txt {
            text-align: center;
        }
    }
}

.ratings-list {
    display: inline-block;

    .ratings-widget {
        display: inline-block;

        .fal { color: $deepmark-lightgray; }
    }

    p.ilblock {
        display: inline-block;
        margin: 0;
        //margin-left: 10px;
    }

    p.nomargin {
        margin: 0;
        margin-left: 15px;
    }

    p.p-minwidth { min-width: 100px; }
}

.trainer-avatar{
    width: 100px!important;
    height: 100px!important;
}
#administrative-documents-list{
    max-height: 400px;
    overflow-y: auto;
}
.select-border {
    .filter-option {
        border-bottom: 1px solid #d2d2d2;
    }
}

#signature-image .wrapper {
    width: 100%!important;
}