{% trans_default_domain 'FOSUserBundle' %}

<div class="card card--user">
	<div class="card-header card-header-icon">
		<div class="card-icon">
			<img src="{{ asset('img/default-avatar.png') }}" alt="">
		</div>

		<a href="{{ url('admin_profile_edit') }}" class="btn btn-deepmark-orangelight btn-edit"><i class="far fa-pen"></i></a>
	</div>

	<div class="card-body">
		<div class="row">
			<div class="col-md-6">
				<h6>Infos personnelles</h6>

				<dl class="row">
					<dt class="col-sm-2 text-right">Email</dt>
					<dd class="col-sm-10">{{ user.email }}</dd>
				</dl>
			</div>

			<div class="col-md-6">
			</div>
		</div>
	</div>
</div>