{% extends "base.html.twig" %}

{% if is_granted('ROLE_ADMIN') %}
	{% block pagename %}Mon profil Administrateur{% endblock %}
{% endif %}

{% block body %}
	{% include "@FOSUser/Profile/show_content.html.twig" %}
{% endblock body %}
