{% extends "base.html.twig" %}

{% block title %}ClientBundle:Learners:index{% endblock %}
{% block pagename %}{{ 'clients.list_learners'|trans }}{% endblock %}

{% block body %}
    <div class="card">
        <div class="card-header card-header-icon">
            <div class="card-icon active">
                <i class="fal fa-user-graduate"></i>
            </div>
        </div>

        <div class="card-body">
            {{ include('molecules/tables/list-learners-table.html.twig', { learners: learners }) }}
        </div>
    </div>
{% endblock %}
