<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>
		{% block title %}{% endblock %}
	</title>
	<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    {% block stylesheets %}
		{% set domain = (app.request.server.get('HTTP_X_FORWARDED_PROTO') ? app.request.server.get('HTTP_X_FORWARDED_PROTO')~'://' : 'http://') ~ app.request.server.get('HTTP_HOST') %}
		<link rel="stylesheet" href="{{ domain }}{{ asset('css/fontawesome.all.min.css') }}" media="all" />
		<link href="{{ domain }}{{ asset('css/material-dashboard.css?v=2.0.2') }}" rel="stylesheet" />
		<link rel="stylesheet" href="{{ domain }}{{ asset('css/style.css') }}" media="all" />
    {% endblock %}
	<link rel="icon" type="image/x-icon" href="{{ asset('img/'~site_logo) }}"/>
	<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
	<style>
		.page{
			font-family: Montserrat!important;
		}
	</style>
</head>
	<body>
		<div class="page">
			{% block body %}{% endblock %}
		</div>

		{% block libs %}
			{{ include('libs.html.twig') }}
		{% endblock %}
		{% block javascripts %}
		{% endblock %}
	</body>
</html>
