<!DOCTYPE html>
<html {% if isCourses is defined %}class="courses-html"{% endif %}>
    <head>
        {% set route = app.request.get('_route') %}
        <meta charset="UTF-8"/>
        <title>
        {% block pagename %}{% endblock %}

    </title>
    <meta name="viewport" content="width=device-width"/>

    {% block stylesheets %}
        <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
        <link rel="stylesheet" href="{{ asset('css/fontawesome.all.min.css') }}" media="all"/>
        <link rel="stylesheet" href="{{ asset('css/jquery-ui.css') }}" media="all"/>
        <link rel="stylesheet" href="{{ asset('css/material-dashboard.css') }}"/>
        <link rel="stylesheet" href="{{ asset('css/candlestick.min.css') }}"/>
        <link rel="stylesheet" href="{{ asset('css/vis.css') }}" media="all"/>
        <link rel="stylesheet" href="{{ asset('css/style.css') }}" media="all"/>
        <link rel="stylesheet" href="{{ asset('css/custom_style.css') }}" media="all"/>
        <link rel="stylesheet" href="{{ asset('css/select2.min.css') }}" media="all"/>
        <link rel="stylesheet" href="{{ asset('css/simplebar.css') }}" media="all"/>
        <link rel="stylesheet" type="text/css" href="{{ asset('js/lib/DataTables/datatables.min.css') }}"/>
        <link rel="stylesheet" href="{{ asset('css/responsive.css') }}" media="all"/>
        <link rel="stylesheet" href="{{ asset('css/bootstrap-tagsinput.css') }}" media="all"/>
        <link rel="stylesheet" href="{{ asset('css/jodit.min.css') }}" media="all"/>
        <link rel="stylesheet" href="{{ asset('css/owl.carousel.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/owl.theme.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/owl.transitions.min.css') }}">
    {% endblock %}

    <link rel="icon" type="image/x-icon" href="{{ asset('img/'~site_logo) }}"/>

    {% block libs %}
        {{ include('libs.html.twig') }}
    {% endblock %}

</head>

<body class="sidebar-mini">
    <div class="loader">
        <span class="badge badge-deepmark-orangelight spinner">
            <i class="fal fa-spinner"></i>
            Loading...</span>
    </div>
    <div class="page">
        <div class="wrapper">
            {% include "header.html.twig" %}
            {% include 'menu.html.twig' %}
            <div class="main-panel {% if route == 'learner_video_index' or route == 'trainer_video_conference' or route == 'learner_courses_video' or route == 'trainer_exercices_video' %}full{% endif %}"
                 id="main">
                <div class="content">
                    {% if app.session.flashbag|length > 0 %}
                        <div class="row">
                            <div class="col-md-12 deep-mark-notification">
                                {% for label, flashes in app.session.flashbag.all %}
                                    {% for flash in flashes %}
                                        <div class="alert alert-{{ label }}">
                                            {{ flash }}
                                        </div>
                                    {% endfor %}
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}
                    <div class="container-fluid">
                        {% for label, messages in app.flashes %}
                            {% for message in messages %}
                                <div class="alert alert-info flash-{{ label }}">
                                    {{ message }}
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                            {% endfor %}
                        {% endfor %}
                        {% block body %}
                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>
        <!-- Translation JS -->
        <input type="hidden" id="jsTranslations"
               data-module_expired="{{ 'learners.courses.expired'|trans }}"
               data-session_view="{{ 'email.view'|trans }}"
               data-session_rejoin="{{ 'global.rejoin'|trans }}"
               data-attendance_title="{{ 'global.attendance_title'|trans }}"
               data-attendance_text="{{ 'global.attendance_text'|trans }}"
               data-attendance_error="{{ 'global.attendance_error'|trans }}"
               data-attendance_signature_updated="{{ 'global.attendance_signature_updated'|trans }}"
               data-trainer_alerts_reports_not_upload="{{ 'trainers.alerts.reports.reports_not_upload'|trans }}"
               data-global_warning="{{ 'global.warning'|trans }}"
               data-successfully_title="{{ 'global.successfully_title'|trans }}"
               data-successfully_learner_removed_text="{{ 'global.successfully_learner_removed_text'|trans }}"
               data-cannot_remove_learner_text="{{ 'global.cannot_remove_learner_text'|trans }}"
               data-successfully_trainer_removed_text="{{ 'global.successfully_trainer_removed_text'|trans }}"
               data-select_one_learner="{{ 'global.select_one_learner'|trans }}"
               data-send_email_to_learner_success="{{ 'global.send_email_to_learner_success'|trans }}"
               data-select_one_trainer="{{ 'global.select_one_trainer'|trans }}"
               data-select_one_report="{{ 'global.select_one_report'|trans }}"
               data-send_email_to_trainer_success="{{ 'global.send_email_to_trainer_success'|trans }}"
               data-success_title="{{ 'global.success_title'|trans }}"
               data-warning_title="{{ 'global.warning_title'|trans }}"
               data-assign_learner_to_course_success="{{ 'global.assign_learner_to_course_success'|trans }}"
               data-assign_learner_to_group_success="{{ 'global.assign_learner_to_group_success'|trans }}"
               data-cancellation_session_success="{{ 'global.cancellation_session_success'|trans }}"
               data-alert_checked="{{ 'global.alert_checked'|trans }}"
               data-alert_has_been_sent="{{ 'global.alert_has_been_sent'|trans }}"
               data-signature="{{ 'global.signature'|trans }}"
               data-open_signature_title="{{ 'global.open_signature_title'|trans }}"
               data-open_signature_text="{{ 'global.open_signature_text'|trans }}"
               data-close_signature_title="{{ 'global.close_signature_title'|trans }}"
               data-close_signature_text="{{ 'global.close_signature_text'|trans }}"
               data-save_signature_title="{{ 'global.save_signature_title'|trans }}"
               data-save_signature_text="{{ 'global.save_signature_text'|trans }}"
               data-please_sign_text="{{ 'global.please_sign_text'|trans }}"
               data-warning_quit_session_title="{{ 'global.warning_quit_session_title'|trans }}"
               data-warning_quit_session_digital_confirm="{{ 'global.warning_quit_session_digital_confirm'|trans }}"
               data-warning_quit_session_importation_confirm="{{ 'global.warning_quit_session_importation_confirm'|trans }}"
               data-buttons_confirm="{{ 'buttons.confirm'|trans }}"
               data-buttons_cancel="{{ 'buttons.cancel'|trans }}"
               data-global_from="{{ 'global.from_new'|trans }}"
               data-global_to="{{ 'global.to_new'|trans }}"
               data-minutes="{{ 'learners.alerts.your_course_will_start_minutes'|trans }}"
               data-hours="{{ 'learners.alerts.your_course_will_start_hours'|trans }}"
               data-global_submit="{{ 'global.submit'|trans }}"
               data-record="{{ 'global.best_practices.creation.record'|trans }}"
               data-restart_recording="{{ 'learners.courses.quiz.question.open.record.restart_recording'|trans }}"
        />
    </div>

    {% block modals %}
        <div id="quiz-modal" class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}

    {% if is_granted('ROLE_LEARNER') and is_granted('ROLE_ADMIN') == false %}
        <div class="booking-popover">
            <button class="btn btn-sm btn-deepmark-navy booking-popover__close">
                <i class="fal fa-times"></i>
            </button>
            <fieldset>
                <div class="booking-popover__title mb-2" style="font-size: 1em">

                </div>
                <div class="booking-popover__subject"></div>

                <div id="bookingTimeDiv">
                    <div class="form-group">
                        <label for="bookingTime">
                            Select start time
                        </label>
                        <div class="bookingTimeDiv__times"></div>
                    </div>
                </div>
                <p>
                <div>
                    <button class="btn btn-sm btn-deepmark-green booking-popover__btnConfirm ml-1">RESERVER CETTE SÉANCE
                    </button>
                    <button class="btn btn-sm btn-deepmark-orangelight booking-popover__btnCancel">Cancel</button>
                    <button class="btn btn-sm btn-deepmark-red booking-popover__btnUnBook">UnBook</button>
                    <button class="btn btn-sm btn-deepmark-green booking-popover__btnQuit">Ok</button>
                </div>
                </p>
            </fieldset>

        </div>
    {% endif %}

    {% if is_granted('ROLE_TRAINER') and is_granted('ROLE_ADMIN') == false %}
        <div id="monthDispoTrainer" class="modal fade col-md-12" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <div class="modal-body">
                        <h3>{{ 'trainers.planning.set_dispo'|trans }}</h3>
                        <div class="row">

                            <div class="col">
                                <div class="form-check">
                                    <label class="form-check-label form-check-label--nopadding row">
                                        <div class="col-4">
                                            {{ 'trainers.planning.all_day'|trans }}
                                        </div>
                                        <div class="col-2">
                                            <input class="form-check-input input-availableday-calendar" type="radio"
                                                   value="1" name="available-check">
                                            <span class="circle">
                                                <span class="check"></span>
                                            </span>
                                        </div>
                                    </label>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-check">
                                    <label class="form-check-label form-check-label--nopadding row">
                                        <div class="col-6">
                                            {{ 'trainers.planning.custom'|trans }}
                                        </div>

                                        <div class="col-2">
                                            <input class="form-check-input input-available-calendar" type="radio" value="1"
                                                   name="available-check">
                                            <span class="circle">
                                                <span class="check"></span>
                                            </span>
                                        </div>
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div id="customTimeDispo" class="row" style="display: none">

                            <div class="row col-md-6 am-availability" style="border-rigth: 1px black solid;">
                                <div class="col-md-3">
                                    {{ 'global.am'|trans }}
                                    <input type="checkbox" id="amCheck" name="" value="">
                                </div>
                                <div class="col">

                                    {{ 'global.from'|trans }} :
                                    <select class="form-control col-md-12 start-range selectpicker" name=""
                                            data-style="btn btn-link">
                                        <option value="7">7h</option>
                                        <option value="8">8h</option>
                                        <option value="9">9h</option>
                                        <option value="10">10h</option>
                                        <option value="11">11h</option>
                                    </select>
                                </div>
                                <div class="col">
                                    {{ 'global.to'|trans }} :
                                    <select class="form-control col-md-12 end-range selectpicker" name=""
                                            data-style="btn btn-link">
                                        <option value="8">8h</option>
                                        <option value="9">9h</option>
                                        <option value="10">10h</option>
                                        <option value="11">11h</option>
                                        <option value="12">12h</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row col-md-6 pm-availability">
                                <div class="col">
                                    {{ 'global.pm'|trans }}
                                    <input type="checkbox" id="pmCheck" name="" value="">
                                </div>
                                <div class="col">

                                    {{ 'global.from'|trans }} :
                                    <select class="form-control col-md-12 start-range selectpicker" name=""
                                            data-style="btn btn-link">
                                        <option value="12">12h</option>
                                        <option value="13">13h</option>
                                        <option value="14">14h</option>
                                        <option value="15">15h</option>
                                        <option value="16">16h</option>
                                        <option value="17">17h</option>
                                    </select>
                                </div>
                                <div class="col">
                                    {{ 'global.to'|trans }} :
                                    <select class="form-control col-md-12 end-range selectpicker" name=""
                                            data-style="btn btn-link">

                                        <option value="13">13h</option>
                                        <option value="14">14h</option>
                                        <option value="15">15h</option>
                                        <option value="16">16h</option>
                                        <option value="17">17h</option>
                                        <option value="18">18h</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <button id="btn-dispo-confirm" type="button" name="button"
                                    class="btn btn-sm btn-deepmark-green">{{ 'buttons.confirm'|trans }}</button>
                            <button id="btn-dispo-cancel" type="button" name="button"
                                    class="btn btn-sm btn-deepmark-red">{{ 'buttons.cancel'|trans }}</button>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    {% endif %}


    <span class="user-locale-for-js" data-value="{{ app.request.locale }}" style="display: none;"></span>

    {% block javascripts %}

        <script>
            $(document).ready(function () {
                // initialise Datetimepicker and Sliders
                md.initFormExtendedDatetimepickers();
            });
        </script>

        <script src="{{ asset('js/variables.js') }}"></script>
        <script src="{{ asset('js/base.js') }}"></script>
        <script src="{{ asset('js/table-modal.js') }}"></script>
        <script src="{{ asset('js/widgets.js') }}"></script>
        {#{% if app.environment != 'dev' %}
            <script>
                "use strict";

                !function () {
                    var t = window.driftt = window.drift = window.driftt || [];
                    if (!t.init) {
                        if (t.invoked)
                            return void (window.console && console.error && console.error("Drift snippet included twice."));
                        t.invoked = !0, t.methods = ["identify", "config", "track", "reset", "debug", "show", "ping", "page", "hide", "off", "on"],
                                t.factory = function (e) {
                                    return function () {
                                        var n = Array.prototype.slice.call(arguments);
                                        return n.unshift(e), t.push(n), t;
                                    };
                                }, t.methods.forEach(function (e) {
                            t[e] = t.factory(e);
                        }), t.load = function (t) {
                            var e = 3e5, n = Math.ceil(new Date() / e) * e, o = document.createElement("script");
                            o.type = "text/javascript", o.async = !0, o.crossorigin = "anonymous", o.src = "https://js.driftt.com/include/" + n + "/" + t + ".js";
                            var i = document.getElementsByTagName("script")[0];
                            i.parentNode.insertBefore(o, i);
                        };
                    }
                }();
                drift.SNIPPET_VERSION = '0.3.1';
                drift.load('98rhmp9edm3t');
            </script>
        {% endif %}#}

        <script src="{{ asset('js/deepmark.js') }}"></script>
    {% endblock %}

    {% block common %}
        {% if route != 'learner_courses_module' %}
            {{ include('molecules/file-uploader.html.twig') }}
        {% endif %}
    {% endblock %}

</body>
</html>
