<nav id="header" class="navbar navbar-expand-xl navbar-absolute fixed-top">
    <div class="container-fluid no-padding">
        <div class="navbar-wrapper {{ nextSession is defined and nextSession is not empty ? "has-session" : "no-session" }}">
            <div class="navbar-wrapper" style="width: auto!important;">
                {% if is_granted('ROLE_SUPER_ADMIN') %}
                    {% set logoLink = path('admin_dashboard') %}
                {% elseif is_granted('ROLE_ADMIN') %}
                    {% set logoLink = path('admin_dashboard') %}
                {% elseif is_granted('ROLE_SUPERVISOR') %}
                    {% set logoLink = path('admin_dashboard') %}
                {% elseif is_granted('ROLE_LEARNER') %}
                    {% set logoLink = path('learner_dashboard') %}
                {% elseif is_granted('ROLE_TRAINER') %}
                    {% set logoLink = path('trainer_dashboard') %}
                {% elseif is_granted('ROLE_CLIENT') %}
                    {% set logoLink = path('client_dashboard') %}
                {% else %}
                    {% set logoLink = '#' %}
                {% endif %}
                <a class="logo-link menu-div-logo" href="{{ logoLink|default('#') }}"><img height="70" width="260" src="{{ asset('images/logo_io.svg') }}"></a>
            </div>
            <div style="width: 50%!important;">
                {% if is_granted('ROLE_PREVIOUS_ADMIN') %}
                    <span class="color-red bold flex--center font-size-11 pad-l-15" style="line-height: 15px;">
                        {{ 'global.you_emulator_with_a_user'|trans({'%fullname%': api.profile.firstName ~ ' ' ~ api.profile.lastName}) }}
                    </span>
                {% endif %}
            </div>
            <div class="justify-content-end">
                <ul class="navbar-nav">
                    <li class="nav-item flex--center" style="display: inline-flex;">
                        <span class="font-size-18 bold white-space marg-r-10 marg-l-10">{{ 'global.next_session'|trans }}</span>
                        {% if is_granted('ROLE_ADMIN') %}
                            {% if numSession is defined and numSession is not empty %}
                                <a class="btn-next-session flex--center btn btn-deepmark-orangelight marg-r-10">
                                    <span class="font-size-13 c-black">{{ numSession }}</span>
                                </a>
                            {% endif %}
                        {% elseif is_granted('ROLE_TRAINER') or is_granted('ROLE_LEARNER') %}
                            {% if nextSession is defined and nextSession is not empty %}
                                <a href="{% if is_granted('ROLE_LEARNER') %} {{ path('learner_courses_module', { 'id': nextSession[0].module.id }) }} {% elseif is_granted('ROLE_TRAINER')  %} {{  path('trainer_exercices_video_booking_agenda', {'id': nextSession[0].module.id, 'bid': nextSession[0].id }) }} {% endif %}" class="btn-next-session flex--center btn btn-deepmark-orangelight marg-r-10">
                                    <span class="font-size-13 c-black cursorPointer" id="clockHeader"></span>
                                </a>
                            {% else %}
                                <a class="btn btn-next-session flex--center cursor-none btn-deepmark-orangelight marg-r-10">
                                    <span class="font-size-13 c-black ">-- : -- : --</span>
                                </a>
                            {% endif %}
                        {% endif %}
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link cursorPointer flex--center" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="padding: 10px 10px">
                            <object data="/new-image/alertes.svg" width="40" height="40"
                                   type="image/svg+xml"/></object>
                        </a>
                    </li>
                    <li class="nav-item dropdown">
                        {% set backLink = '' %}
                        {% if is_granted('ROLE_PREVIOUS_ADMIN') %}
                            {% if 'ROLE_LEARNER' in app.user.roles %}
                                {% set backLink = path('admin_learners_index', {'_switch_user': '_exit'}) %}
                            {% elseif 'ROLE_TRAINER' in app.user.roles %}
                                {% set backLink = path('admin_trainers_index', {'_switch_user': '_exit'}) %}
                            {% else %}
                                {% set backLink = path('admin_dashboard', {'_switch_user': '_exit'}) %}
                            {% endif %}

                        {% else %}
                            {% set backLink = path('fos_user_security_logout') %}
                        {% endif %}
                        <a class="nav-link cursorPointer flex--center" href="{{ backLink }}" style="padding: 10px 10px">
                            <object data="/new-image/deconnexion.svg" width="40" height="40"
                                type="image/svg+xml"/></object>
                        </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link nav-language dropdown-toggle cursorPointer" style="color: black!important;"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                           id="switchLanguage">
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" id="dropdownLanguage"
                             aria-labelledby="switchLanguage" style=" top: 0">
                            <div class="row">
                                <div class="col-md-8">
                                    <a class="dropdown-item no-padding no-margin {% if app.request.locale == 'en' %} active{% endif %}" style="padding-top: 10px!important;"
                                       href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')|merge({'_locale': 'en'})) }}">
                                        <img width="40" src="/img/icons/united-kingdom.svg" class="flag-icon" alt="UK flag"/>
                                    </a>
                                    <a class="dropdown-item no-padding no-margin {% if app.request.locale == 'fr' %} active{% endif %}" style="padding-top: 10px!important;"
                                       href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')|merge({'_locale': 'fr'})) }}">
                                        <img width="40" src="/img/icons/france.svg" class="flag-icon" alt="France flag"/>
                                    </a>
                                    <a class="dropdown-item no-padding no-margin {% if app.request.locale == 'vi' %} active{% endif %}" style="padding-top: 10px!important;"
                                           href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')|merge({'_locale': 'vi'})) }}">
                                        <img width="40" src="/img/icons/vietnam.svg" class="flag-icon" alt="Vietnam flag"/>
                                    </a>
                                </div>
                                <div class="col-md-4 no-padding">
                                    <i class="fas fa-chevron-up cursorPointer marg-t-10 color-header"></i>
                                </div>
                            </div>

                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>
<input type="hidden" id="locate" value="{{ app.request.locale }}">
<input type="hidden" id="default_locale" value="{{ default_locale }}">
{% if  is_granted('ROLE_TRAINER') or  is_granted('ROLE_LEARNER') %}
    {% if nextSession is defined and nextSession is not empty %}
        <script src="{{ asset('js/lib/jquery.countdown.min.js') }}"></script>
        <script src="{{ asset('js/lib/moment-timezone-with-data.min.js') }}"></script>
        <script>
            let clock = document.getElementById('clockHeader');
            let dayCount = '{{ nextSession[0].bookingDate|date("Y-m-d H:i:s") }}';
            dayCount = moment.tz(dayCount, "{{ app.user.timezone.timeZone }}");
            if (clock) {
                $('#clockHeader').countdown(dayCount.toDate())
                    .on('update.countdown', function (event) {
                        let format = '%H:%M:%S';
                        if (event.offset.totalDays > 0) {
                            if ('{{ app.request.locale }}' === 'vi') {
                                format = '%-d {{ 'global.day'|trans }} ' + format;
                            } else {
                                format = '%-d {{ 'global.day'|trans }}%!d ' + format;
                            }
                        }
                        if (event.offset.weeks > 0) {
                            if ('{{ app.request.locale }}' === 'vi') {
                                format = '%-w {{ 'global.week'|trans }} ' + format;
                            } else {
                                format = '%-w {{ 'global.week'|trans }}%!w ' + format;
                            }
                        }

                        if (event.offset.totalMinutes == 14 && localStorage.getItem("{{ nextSession[0].id }}_15Minutes")==null) {
                            {% if is_granted('ROLE_TRAINER') %}
                                //console.log('15 =< current < 20')
                                showMessage();
                                localStorage.setItem("{{ nextSession[0].id }}_15Minutes","done");
                            {% endif %}
                        } else if (event.offset.totalMinutes == 9 && localStorage.getItem("{{ nextSession[0].id }}_10Minutes")==null) {
                            {% if is_granted('ROLE_LEARNER') %}
                                //console.log('10 =< current < 15')
                                showMessage();
                                localStorage.setItem("{{ nextSession[0].id }}_10Minutes","done");
                            {% endif %}
                        }
                        $(this).html(event.strftime(format));
                    })
                    .on('finish.countdown', function (event) {
                        console.log('finish.countdown')
                        localStorage.removeItem("{{ nextSession[0].id }}_15Minutes");
                        localStorage.removeItem("{{ nextSession[0].id }}_10Minutes");
                    });

                function showMessage() {
                    // hide all modal only show the session modal
                    $('.modal').modal('hide');
                    swal({
                        type: 'info',
                        allowOutsideClick: false,
                        showCancelButton: true,
                        confirmButtonText: '{{ 'global.session_start_ok'|trans }}',
                        cancelButtonText: "{{ 'global.session_start_ignore'|trans }}",
                        closeOnConfirm: false,
                        closeOnCancel: false,
                        title: '{{ 'global.idled_warning'|trans|raw }}',
                        html: '<p>{{ 'global.session_start_message'|trans({'%module_type%': nextSession[0].module.designation|default(''), '%module_name%': nextSession[0].module.intervention.designation|default('') })|raw }}</p><br><p class="text-left no-margin">{{ "global.intervention"|trans }} : {{ nextSession[0].module.designation|default('') }}</p><p class="text-left no-margin">{{ "popup.session"|trans }} : {{ nextSession[0].module.intervention.designation|default('')  }}</p>',
                    }).then(
                        function () {
                            {% if is_granted('ROLE_LEARNER') %}
                                {% set url = path('learner_courses_module', { 'id': nextSession[0].module.id }) %}
                            {% elseif is_granted('ROLE_TRAINER') %}
                                {% set url = path('trainer_exercices_video_booking_agenda', {'id': nextSession[0].module.id, 'bid': nextSession[0].id }) %}
                            {% endif %}
                            window.location.replace('{{ url }}');
                        },
                    )
                }
            }
        </script>
    {% endif %}
{% endif %}