{% block libs %}
    
{#    <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>#}

    <script src="{{ asset('js/lib/material/core/jquery.min.js') }}" type="text/javascript"></script>
    <script type="text/javascript" src="{{ asset('js/lib/DataTables/datatables.min.js') }}"></script>
    <script src="{{ asset('js/lib/jquery-ui.js') }}"></script>
    <script src="{{ asset('js/lib/material/core/popper.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('js/lib/material/core/bootstrap-material-design.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('js/lib/material/plugins/perfect-scrollbar.jquery.min.js') }}"></script>
    <script src="{{ asset('js/lib/material/plugins/moment.min.js') }}"></script>
    <script src="{{ asset('js/lib/material/plugins/sweetalert2.js') }}"></script>
    <script src="{{ asset('js/lib/material/plugins/jquery.validate.min.js') }}"></script>
    <script src="{{ asset('js/lib/material/plugins/jquery.bootstrap-wizard.js') }}"></script>
    <script src="{{ asset('js/lib/material/plugins/bootstrap-selectpicker.js') }}"></script>
    <script src="{{ asset('js/lib/material/plugins/bootstrap-datetimepicker.min.js') }}"></script>
    <script src="{{ asset('js/lib/material/plugins/bootstrap-tagsinput.js') }}"></script>
    <script src="{{ asset('js/lib/material/plugins/jasny-bootstrap.min.js') }}"></script>
    <script src="{{ asset('js/lib/material/plugins/fullcalendar.min.js') }}"></script>
    <script src="{{ asset('js/lib/material/plugins/jquery-jvectormap.js') }}"></script>
    <script src="{{ asset('js/lib/material/plugins/nouislider.min.js') }}"></script>
    <script src="{{ asset('js/lib/material/plugins/arrive.min.js') }}"></script>
    <script src="{{ asset('js/lib/material/plugins/chartist.min.js') }}"></script>
    <script src="{{ asset('js/lib/material/plugins/bootstrap-notify.js') }}"></script>
    <script src="{{ asset('js/lib/material/plugins/select2.min.js') }}"></script>
    <script src="{{ asset('js/lib/material/material-dashboard.js') }}" type="text/javascript"></script>
    <script src="{{ asset('js/lib/material/plugins/simplebar.js') }}"></script>
    <script src="{{ asset('js/lib/ckeditor/ckeditor.js') }}"></script>
    <script src="{{ asset('js/lib/jodit/jodit.min.js') }}"></script>
    <script src="{{ asset('js/lib/candlestick.min.js') }}"></script>
    <script src="{{ asset('js/lib/clockpicker.js') }}"></script>
    <script src="{{ asset('js/lib/date.js') }}"></script>
    <script src="{{ asset('js/lib/dropzone.js') }}"></script>
    <script src="{{ asset('js/lib/jquery.collection.js') }}"></script>
    <script src="{{ asset('js/lib/locale-all.js') }}"></script>
    <script src="{{ asset('js/lib/vis.js') }}"></script>
    <script src="{{ asset('js/readmore.js') }}"></script>
    <script src="{{ asset('js/bootstrap3-typeahead.js') }}"></script>
    <script src='{{ asset('js/lib/webviewer/lib/webviewer.min.js') }}'></script>

    <!-- Link Vue Javascript -->
    <script src='https://unpkg.com/vue/dist/vue.js'></script>
    <script src='https://unpkg.com/v-calendar'></script>

    <!-- Link Axios -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

{% endblock %}
