{% set route = app.request.get('_route') %}
{% set statusDoneId = constant('\\ApiBundle\\Entity\\Status::WITH_BOOKING_DONE') %}
{% set statusExpiredId = constant('\\ApiBundle\\Entity\\Status::LEARNER_INTERVENTION_EXPIRED') %}
{#{% if api.profile.entity is defined and api.profile.entity.organisation is defined and api.profile.entity.organisation.logo is defined %}
    {% set logo = app.request.getSchemeAndHttpHost() ~ api.profile.entity.organisation.logo %}
{% endif %}#}
<div id="menu-footer">
    <div style="margin-top: 70px" class="sidebar {% if route == 'learner_video_index' or route == 'trainer_video_conference' or route == 'learner_courses_video' or route == 'trainer_exercices_video' %}hidden{% endif %}"
         id="sidebar">
        <div class="sidebar-wrapper sidebar-main">
            <div class="user {{ route == 'fos_user_profile_show' or route == 'fos_user_profile_edit' ? 'active' }}">
                <div class="photo flex--center">
                    {% set urlProfile = '' %}
                    {% if is_granted('ROLE_SUPER_ADMIN') %}
                        {% set urlProfile = 'admin_profile_show' %}
                    {% elseif is_granted('ROLE_ADMIN') or is_granted('ROLE_SUPERVISOR') or is_granted('ROLE_MANAGER') %}
                        {% set urlProfile = 'admin_profile_show' %}
                    {% elseif is_granted('ROLE_TRAINER') %}
                        {% set urlProfile = 'trainer_profile_edit' %}
                    {% elseif is_granted('ROLE_LEARNER') %}
                        {% set urlProfile = 'learner_profile_edit' %}
                    {% endif %}
                    {% if api.profile.firstName is null and api.profile.lastName is null %}
                        <a class="text-white text-uppercase no-padding" href="{{ url(urlProfile) }}">{{ app.user.username }}</a>
                    {% else %}
                        <a class="text-white text-uppercase no-padding"
                           href="{{ url(urlProfile) }}">{{ api.profile.firstName|first }}{{ api.profile.lastName|first }}</a>
                    {% endif %}
                </div>
                <div class="user-info pad-t-10">
                    <div class="row">
                        <div class="col-md-12 pad-l-0 pad-r-20 text-ellipsis">
                            {% if is_granted('ROLE_SUPER_ADMIN') %}
                                <a class="username no-padding marg-l-10"><span>{{ 'global.superadmin_role'|trans }}</span></a>
                            {% elseif is_granted('ROLE_ADMIN') %}
                                <a href="{{ url('admin_profile_edit') }}" class="username no-padding marg-l-20">
                                    <span>{{ 'global.admin_role'|trans }}</span>
                                </a>
                            {% elseif is_granted('ROLE_SUPERVISOR') %}
                                <a href="{{ url('admin_profile_edit') }}" class="username no-padding marg-l-20">
                                    <span>{{ 'global.supervisor_role'|trans }}</span>
                                </a>
                            {% elseif is_granted('ROLE_TRAINER') %}
                                <a href="{{ url('trainer_profile_edit') }}" class="username no-padding marg-l-20">
                                    <span>{{ 'global.trainer_role'|trans }}</span>
                                </a>
                            {% elseif is_granted('ROLE_LEARNER') %}
                                <a href="{{ url('learner_profile_edit') }}" class="username no-padding marg-l-20">
                                    <span>{{ 'global.learner_role'|trans }}</span>
                                </a>
                            {% elseif is_granted('ROLE_CLIENT') %}
                                <a href="#" class="username no-padding marg-l-20">
                                    <span>{{ 'global.client_role'|trans }}</span>
                                </a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <ul class="nav">
                <!-- Super Admin, Admin and supervisor level  -->
                {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_SUPER_ADMIN') %}
                    <li class="nav-item {{ (route ==  'admin_dashboard' or route == 'admin_dashboard_trainer_activities' or route == 'admin_dashboard_learner_activities' or route ==  'admin_dashboard_activities' or route ==  'admin_dashboard_validations' or route == 'admin_dashboard_alerts' ) ? 'active' }}">
                        <a class="nav-link menu-admin" href="{{ url('admin_dashboard') }}">
                            <i class="fal fa-tachometer"></i>
                            <p class="nav-item__txt">{{ 'sidebar.dashboard'|trans }}</p>
                        </a>
                    </li>
                    <li class="nav-item {{ 'planning' in route ? 'active' }}">
                        <a class="nav-link menu-admin" href="{{ url('admin_planning_index') }}">
                            <i class="fal fa-calendar"></i>
                            <p class="nav-item__txt">{{ 'trainers.dashboard.nav.planning'|trans }}</p>

                        </a>
                    </li>
                    {% if is_granted('ROLE_SUPER_ADMIN') %}
                        <li class="nav-item {{ 'admins' in route ? 'active' }}">
                            <a class="nav-link menu-admin" href="{{ url('admin_admins_index') }}">
                                <i class="fal fa-address-book"></i>
                                <p class="nav-item__txt">{{ 'sidebar.admins'|trans }}</p>
                            </a>
                        </li>
                        {#<li class="nav-item {{ 'clients' in route ? 'active' }}">
                            <a class="nav-link" href="{{ url('admin_clients_index') }}">
                                <i class="fal fa-address-book"></i>
                                <p class="nav-item__txt">{{ 'sidebar.clients'|trans }}</p>
                            </a>
                        </li>#}
                    {% endif %}
                    {% if is_granted('ROLE_SUPER_ADMIN') %}
                        <li class="nav-item {{ 'organisation' in route ? 'active' }}">
                            <a class="nav-link menu-admin" href="{{ url('admin_organisation_index') }}">
                                <i class="fal fa-building"></i>
                                <p class="nav-item__txt">{{ 'sidebar.organizations'|trans }}</p>
                            </a>
                        </li>
                    {% elseif is_granted('ROLE_ADMIN') %}
                        <li class="nav-item {{ 'organisation' in route ? 'active' }}">
                            <a class="nav-link menu-admin" href="{{ path('admin_organisation_edit', { 'id': api.profile.entity.organisation.id }) }}">
                                <i class="fal fa-building"></i>
                                <p class="nav-item__txt">{{ 'sidebar.organizations'|trans }}</p>
                            </a>
                        </li>
                    {% endif %}
                    {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_SUPER_ADMIN') %}
                        <li class="nav-item {{ 'entity' in route ? 'active' }}">
                            <a class="nav-link menu-admin" href="{{ url('admin_entity_index') }}">
                                <i class="fal fa-sitemap"></i>
                                <p class="nav-item__txt">{{ 'sidebar.entities'|trans }}</p>
                            </a>
                        </li>
                        <li class="nav-item {{ 'supervisor' in route ? 'active' }}">
                            <a class="nav-link menu-admin" href="{{ url('admin_supervisors_index') }}">
                                <i class="fal fa-user-tie"></i>
                                <p class="nav-item__txt">{{ 'sidebar.supervisor'|trans }}</p>
                            </a>
                        </li>
                    {% endif %}
                    <li class="nav-item {{ 'learners' in route or route ==  'admin_group_index'  or route ==  'admin_group_new'  or route ==  'admin_group_edit'  or route ==  'admin_group_show' ? 'active' }}">
                        <a class="nav-link menu-admin" href="{{ url('admin_learners_index') }}">
                            <i class="fal fa-users-class"></i>
                            <p class="nav-item__txt">{{ 'sidebar.learners'|trans }}</p>
                        </a>
                    </li>

                    <li class="nav-item {{ 'trainers' in route ? 'active' }}">
                        <a class="nav-link menu-admin" href="{{ url('admin_trainers_index') }}">
                            <i class="fal fa-chalkboard-teacher"></i>
                            <p class="nav-item__txt">{{ 'sidebar.trainers'|trans }}</p>
                        </a>
                    </li>

                    <li class="nav-item {{ 'interventions' in route ? 'active' }}">
                        <a class="nav-link menu-admin" href="{{ url('admin_interventions_index') }}">
                            <i class="fal fa-wrench"></i>
                            <p class="nav-item__txt">{{ 'sidebar.interventions'|trans }}</p>
                        </a>
                    </li>

                    <li class="nav-item {{ 'quiz' in route ? 'active' }}">
                        <a class="nav-link menu-admin" href="{{ url('admin_quiz_index') }}">
                            <i class="fal fa-question-circle"></i>
                            <p class="nav-item__txt">{{ 'sidebar.quiz'|trans }}</p>
                        </a>
                    </li>
                    <li class="nav-item {{ 'stats' in route ? 'active' }}">
                        <a class="nav-link menu-admin" href="{{ url('admin_stats_index') }}">
                            <i class="fal fa-signal"></i>
                            <p class="nav-item__txt">{{ 'sidebar.stats'|trans }}</p>
                        </a>
                    </li>
                    {% if is_granted('ROLE_ADMIN') %}
                        <li class="nav-item {{ 'skills' in route ? 'active' }}">
                            <a class="nav-link menu-admin" href="{{ url('admin_skills_index') }}">
                                <i class="fas fa-graduation-cap"></i>
                                <p class="nav-item__txt">{{ 'sidebar.skills'|trans }}</p>
                            </a>
                        </li>
                    {% endif %}
                    {% if is_granted('ROLE_ADMIN') %}
                        <li class="nav-item {{ 'reports' in route ? 'active' }}">
                            <a class="nav-link menu-admin" href="{{ url('admin_reports_index') }}">
                                <i class="fal fa-chalkboard-teacher"></i>
                                <p class="nav-item__txt">{{ 'sidebar.trainers_reports'|trans }}</p>
                            </a>
                        </li>
                        <li class="nav-item {{ 'exercices' in route ? 'active' }}">
                            <a class="nav-link menu-admin" href="{{ url('admin_exercices_index') }}">
                                <i class="fal fa-chalkboard-teacher"></i>
                                <p class="nav-item__txt">{{ 'learners.courses.my_exercices'|trans }}</p>
                            </a>
                        </li>
                    {% endif %}
                    <li class="nav-item {{ 'library' in route ? 'active' }}">
                        <a class="nav-link menu-admin" href="{{ path('admin_library_index') }}">
                            <i class="fal fa-book"></i>
                            <p class="nav-item__txt">{{ 'sidebar.library'|trans }}</p>
                        </a>
                    </li>
                    <li class="nav-item {{ 'admin_best_practices_index' in route ? 'active' }}">
                        <a class="nav-link menu-admin" href="{{ url('admin_best_practices_index') }}">
                            <i class="fal fa-chalkboard-teacher"></i>
                            <p class="nav-item__txt">{{ 'sidebar.my_best_practices'|trans }}</p>
                        </a>
                    </li>
                <!-- Supervisor level  -->
                {% elseif is_granted('ROLE_SUPERVISOR') %}
                    <li class="nav-item {{ 'stats' in route ? 'active' }}">
                        <a class="nav-link menu-admin" href="{{ url('admin_stats_index') }}">
                            <i class="fal fa-signal"></i>
                            <p class="nav-item__txt">{{ 'sidebar.stats'|trans }}</p>
                        </a>
                    </li>
                <!-- Client level  -->
                {% elseif is_granted('ROLE_CLIENT') %}
                    <li class="nav-item {{ route == 'client_dashboard' ? 'active' }}">
                        <a class="nav-link menu-admin" href="{{ url('client_dashboard') }}">
                            <i class="fal fa-wrench"></i>
                            <p class="nav-item__txt">{{ 'sidebar.interventions'|trans }}</p>
                        </a>
                    </li>

                    <li class="nav-item {{ route == 'client_learners' ? 'active' }}">
                        <a class="nav-link menu-admin" href="{{ url('client_learners') }}">
                            <i class="fal fa-user-graduate"></i>
                            <p class="nav-item__txt">{{ 'sidebar.learners'|trans }}</p>
                        </a>
                    </li>

                    <li class="nav-item {{ route == 'client_stats' ? 'active' }}">
                        <a class="nav-link menu-admin" href="{{ url('client_stats') }}">
                            <i class="fal fa-signal"></i>
                            <p class="nav-item__txt">{{ 'sidebar.stats'|trans }}</p>
                        </a>
                    </li>
                <!-- Learner level  -->
                {% elseif is_granted('ROLE_LEARNER') %}
                    <li class="nav-item {{ route == 'learner_dashboard' or route == 'learner_dashboard_alerts' or route == 'learner_dashboard_bookings' ? 'active' }}">
                        <a class="nav-link menu-learner" href="{{ url('learner_dashboard') }}">
                            <i>
                                <object class="cursorPointer" data="/new-image/accueil.svg" width="40" height="40"
                                       type="image/svg+xml">
                                </object>
                            </i>
                            <p class="nav-item__txt">{{ 'sidebar.dashboard'|trans }}</p>
                        </a>
                    </li>
                    <li class="nav-item {{ 'courses' in route ? 'active' }}">
                        <a class="nav-link menu-learner" href="{{ url('learner_courses_index') }}">
                            <i>
                                <object data="/new-image/parcours.svg" width="40" height="40"
                                        type="image/svg+xml">
                                </object>
                            </i>
                            <p class="nav-item__txt">{{ 'sidebar.learners_courses'|trans }}</p>
                        </a>
                    </li>
                    <li class="nav-item {{ 'learner_dashboard_exercices' in route ? 'active' }}">
                        <a class="nav-link menu-learner" href="{{ url('learner_dashboard_exercices') }}">
                            <i>
                                <object data="/new-image/planning.svg" width="40" height="40"
                                       type="image/svg+xml">
                                </object>
                            </i>
                            <p class="nav-item__txt">{{ 'sidebar.trainers_planning'|trans }}</p>
                        </a>
                    </li>
                    <li class="nav-item {{ 'library' in route ? 'active' }}">
                        <a class="nav-link menu-learner" href="{{ url('learner_library_index') }}">
                            <i>
                                <object data="/new-image/bibliotheque.svg" width="40" height="40"
                                       type="image/svg+xml">
                                </object>
                            </i>
                            <p class="nav-item__txt">{{ 'sidebar.learners_library'|trans }}</p>
                        </a>
                    </li>
                    <li class="nav-item {{ 'learner_best_practices_index' in route or 'learner_exercices_my_exercices' in route or 'learner_exercices_view' in route ? 'active' }}">
                        <a class="nav-link menu-learner" href="{{ url('learner_best_practices_index') }}">
                            <i>
                                <object data="/new-image/bonnes-pratiques.svg" width="40" height="40"
                                       type="image/svg+xml">
                                </object>
                            </i>
                            <p class="nav-item__txt">{{ 'sidebar.my_best_practices'|trans }}</p>
                        </a>
                    </li>
                    <li class="nav-item {{ 'learner_catalog_index' in route ? 'active' }}">
                        <a class="nav-link menu-learner" href="{{ url('learner_catalog_index') }}">
                            <i>
                                <object data="/new-image/catalogue.svg" width="40" height="40"
                                       type="image/svg+xml">
                                </object>
                            </i>
                            <p class="nav-item__txt">{{ 'trainers.catalog.page_title'|trans }}</p>
                        </a>
                    </li>
                    <li class="nav-item {{ 'training' in route ? 'active' }}">
                        <a class="nav-link menu-learner" href="{{ url('learner_training_groups') }}">
                            <i>
                                <object data="/new-image/groupe.svg" width="40" height="40"
                                       type="image/svg+xml">
                                </object>
                            </i>
                            <p class="nav-item__txt">{{ 'sidebar.my_training_groups'|trans }}</p>
                        </a>
                    </li>
                <!-- Trainer level  -->
                {% elseif is_granted('ROLE_TRAINER') %}
                    <li class="nav-item {{ (route ==  'trainer_dashboard' or route == 'trainer_dashboard_alerts') ? 'active' }}">
                        <a class="nav-link menu-trainer" href="{{ url('trainer_dashboard') }}">
                            <i>
                                <object data="/images/ICONS-18.svg" width="25" height="25"></object>
                            </i>
                            <p class="nav-item__txt">{{ 'sidebar.dashboard'|trans }}</p>
                        </a>
                    </li>
                    <li class="nav-item {{ 'missions' in route ? 'active' }}">
                        <a class="nav-link menu-trainer" href="{{ url('trainer_missions_index') }}">
                            <i>
                                <object data="/images/ICONS-19.svg" width="25" height="25"></object>
                            </i>
                            <p class="nav-item__txt">{{ 'sidebar.missions'|trans }}</p>
                        </a>
                    </li>
                    <li class="nav-item {{ 'planning' in route ? 'active' }}">
                        <a class="nav-link menu-trainer" href="{{ url('trainer_planning_index') }}">
                            <i>
                                <object data="/images/ICONS-02.svg" width="25" height="25"></object>
                            </i>
                            <p class="nav-item__txt">{{ 'sidebar.trainers_planning'|trans }}</p>
                        </a>
                    </li>
                    <li class="nav-item {{ 'reports' in route ? 'active' }}">
                        <a class="nav-link menu-trainer" href="{{ url('trainer_reports_index') }}">
                            <i>
                                <object data="/images/report-menu.svg" width="25" height="25"></object>
                            </i>
                            <p class="nav-item__txt">{{ 'sidebar.trainers_reports'|trans }}</p>
                        </a>
                    </li>
                    <li class="nav-item {{ 'exercices' in route ? 'active' }}">
                        <a class="nav-link menu-trainer" href="{{ url('trainer_exercices_index') }}">
                            <i>
                                <object data="/images/ICONS-21.svg" width="25" height="25"></object>
                            </i>
                            <p class="nav-item__txt">{{ 'sidebar.trainers_exercices'|trans }}</p>
                        </a>
                    </li>
                    <li class="nav-item {{ 'trainer_best_practices_index' in route ? 'active' }}">
                        <a class="nav-link menu-trainer" href="{{ url('trainer_best_practices_index') }}">
                            <i>
                                <object data="/images/ICONS-21.svg" width="25" height="25"></object>
                            </i>
                            <p class="nav-item__txt">{{ 'sidebar.my_best_practices'|trans }}</p>
                        </a>
                    </li>
                    <li class="nav-item {{ route == 'trainer_statistics' ? 'active' }}">
                        <a class="nav-link menu-trainer" href="{{ url('trainer_statistics') }}">
                            <i>
                                <object data="/images/statistics.svg" width="25" height="25"></object>
                            </i>
                            <p class="nav-item__txt">{{ 'sidebar.my_stats'|trans }}</p>
                        </a>
                    </li>
                    <li class="nav-item {{ 'library' in route ? 'active' }}">
                        <a class="nav-link menu-trainer" href="{{ url('trainer_library_index') }}">
                            <i>
                                <object data="/images/ICONS-21.svg" width="25" height="25"></object>
                            </i>
                            <p class="nav-item__txt">{{ 'sidebar.learners_library'|trans }}</p>
                        </a>
                    </li>
                {% endif %}
            </ul>
            <div class="footer-sidebar col-md-12 no-padding">
                <div class="sidebar-wrapper sidebar-main">
                    <div class="user d-inline-flex">
                        <embed style="margin-left: 23px; margin-right: 11px;" src="/new-image/forum.svg" width="40" height="40"
                               type="image/svg+xml"/>
                        <p class="marg-t-10"><a class="color-header bold font-size-18" target="_blank" href="{{ forum_url|default('#') }}">{{ 'global.forum'|trans }}</a></p>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function() {
        $().ready(function() {
            $sidebar = $('.sidebar');

            $sidebar_img_container = $sidebar.find('.sidebar-background');

            $full_page = $('.full-page');

            $sidebar_responsive = $('body > .navbar-collapse');

            window_width = $(window).width();

            fixed_plugin_open = $('.sidebar .sidebar-wrapper .nav li.active a p').html();

            if (window_width > 767 && fixed_plugin_open == 'Dashboard') {
                if ($('.fixed-plugin .dropdown').hasClass('show-dropdown')) {
                    $('.fixed-plugin .dropdown').addClass('open');
                }

            }

            $('.fixed-plugin a').click(function(event) {
                // Alex if we click on switch, stop propagation of the event, so the dropdown will not be hide, otherwise we set the  section active
                if ($(this).hasClass('switch-trigger')) {
                    if (event.stopPropagation) {
                        event.stopPropagation();
                    } else if (window.event) {
                        window.event.cancelBubble = true;
                    }
                }
            });

            $('.fixed-plugin .active-color span').click(function() {
                $full_page_background = $('.full-page-background');

                $(this).siblings().removeClass('active');
                $(this).addClass('active');

                var new_color = $(this).data('color');

                if ($sidebar.length != 0) {
                    $sidebar.attr('data-color', new_color);
                }

                if ($full_page.length != 0) {
                    $full_page.attr('filter-color', new_color);
                }

                if ($sidebar_responsive.length != 0) {
                    $sidebar_responsive.attr('data-color', new_color);
                }
            });


            $('#minimizeSidebarBtn').click(function() {
                $('#minimizeSidebar').click();
            });

            $('.fixed-plugin .background-color .badge').click(function() {
                $(this).siblings().removeClass('active');
                $(this).addClass('active');

                var new_color = $(this).data('background-color');

                if ($sidebar.length != 0) {
                    $sidebar.attr('data-background-color', new_color);
                }
            });

            $('.fixed-plugin .img-holder').click(function() {
                $full_page_background = $('.full-page-background');

                $(this).parent('li').siblings().removeClass('active');
                $(this).parent('li').addClass('active');


                var new_image = $(this).find("img").attr('src');

                if ($sidebar_img_container.length != 0 && $('.switch-sidebar-image input:checked').length != 0) {
                    $sidebar_img_container.fadeOut('fast', function() {
                        $sidebar_img_container.css('background-image', 'url("' + new_image + '")');
                        $sidebar_img_container.fadeIn('fast');
                    });
                }

                if ($full_page_background.length != 0 && $('.switch-sidebar-image input:checked').length != 0) {
                    var new_image_full_page = $('.fixed-plugin li.active .img-holder').find('img').data('src');

                    $full_page_background.fadeOut('fast', function() {
                        $full_page_background.css('background-image', 'url("' + new_image_full_page + '")');
                        $full_page_background.fadeIn('fast');
                    });
                }

                if ($('.switch-sidebar-image input:checked').length == 0) {
                    var new_image = $('.fixed-plugin li.active .img-holder').find("img").attr('src');
                    var new_image_full_page = $('.fixed-plugin li.active .img-holder').find('img').data('src');

                    $sidebar_img_container.css('background-image', 'url("' + new_image + '")');
                    $full_page_background.css('background-image', 'url("' + new_image_full_page + '")');
                }

                if ($sidebar_responsive.length != 0) {
                    $sidebar_responsive.css('background-image', 'url("' + new_image + '")');
                }
            });
            $('.switch-sidebar-image input').change(function() {
                $full_page_background = $('.full-page-background');

                $input = $(this);

                if ($input.is(':checked')) {
                    if ($sidebar_img_container.length != 0) {
                        $sidebar_img_container.fadeIn('fast');
                        $sidebar.attr('data-image', '#');
                    }

                    if ($full_page_background.length != 0) {
                        $full_page_background.fadeIn('fast');
                        $full_page.attr('data-image', '#');
                    }

                    background_image = true;
                } else {
                    if ($sidebar_img_container.length != 0) {
                        $sidebar.removeAttr('data-image');
                        $sidebar_img_container.fadeOut('fast');
                    }

                    if ($full_page_background.length != 0) {
                        $full_page.removeAttr('data-image', '#');
                        $full_page_background.fadeOut('fast');
                    }

                    background_image = false;
                }
            });

            $('.switch-sidebar-mini input').change(function() {
                $body = $('body');

                $input = $(this);

                if (md.misc.sidebar_mini_active == true) {
                    $('body').removeClass('sidebar-mini');
                    md.misc.sidebar_mini_active = false;

                    $('.sidebar .sidebar-wrapper, .main-panel').perfectScrollbar();

                } else {

                    $('.sidebar .sidebar-wrapper, .main-panel').perfectScrollbar('destroy');

                    setTimeout(function() {
                        $('body').addClass('sidebar-mini');

                        md.misc.sidebar_mini_active = true;
                    }, 300);
                }

                // we simulate the window Resize so the charts will get updated in realtime.
                var simulateWindowResize = setInterval(function() {
                    window.dispatchEvent(new Event('resize'));
                }, 180);

                // we stop the simulation of Window Resize after the animations are completed
                setTimeout(function() {
                    clearInterval(simulateWindowResize);
                }, 1000);

            });
        });
    });
</script>