{% set route = app.request.get('_route') %}
{% if is_granted('ROLE_SUPER_ADMIN') %}
    {% set logoLink = path('admin_dashboard') %}
{% elseif is_granted('ROLE_ADMIN') %}
    {% set logoLink = path('admin_dashboard') %}
{% elseif is_granted('ROLE_SUPERVISOR') %}
    {% set logoLink = path('admin_dashboard') %}
{% elseif is_granted('ROLE_LEARNER') %}
    {% set logoLink = path('learner_dashboard') %}
{% elseif is_granted('ROLE_TRAINER') %}
    {% set logoLink = path('trainer_dashboard') %}
{% elseif is_granted('ROLE_CLIENT') %}
    {% set logoLink = path('client_dashboard') %}
{% else %}
    {% set logoLink = '#' %}
{% endif %}
{% set statusDoneId = constant('\\ApiBundle\\Entity\\Status::WITH_BOOKING_DONE') %}
{% set statusExpiredId = constant('\\ApiBundle\\Entity\\Status::LEARNER_INTERVENTION_EXPIRED') %}
<div class="sidebar {% if route == 'learner_video_index' or route == 'trainer_video_conference' or route == 'learner_courses_video' or route == 'trainer_exercices_video' %}hidden{% endif %}"
     id="sidebar">
    <div class="logo">
        {{ include('atoms/images/logo.html.twig', { link: logoLink }) }}
    </div>

    <div class="sidebar-wrapper sidebar-main">
        <div class="user {{ route == 'fos_user_profile_show' or route == 'fos_user_profile_edit' ? 'active' }}">
            <div class="photo col-md-2 no-padding">
                {% if api.profile.firstName is null and api.profile.lastName is null %}
                    {{ app.user.username }}
                {% else %}
                    {{ api.profile.firstName|first }}{{ api.profile.lastName|first }}
                {% endif %}
            </div>

            <div class="user-info col-md-7 text-center">
                {% if is_granted('ROLE_SUPER_ADMIN') %}
                    <a class="username no-padding"><span>{{ app.user.username }}</span></a>
                {% elseif is_granted('ROLE_ADMIN') or is_granted('ROLE_SUPERVISOR') %}
                    <a href="{{ url('admin_profile_show') }}" class="username no-padding">
                        <span>{{ api.profile.firstName }} {{ api.profile.lastName }}</span>
                    </a>
                {% elseif is_granted('ROLE_TRAINER') %}
                    <a href="{{ url('trainer_profile_show') }}" class="username no-padding">
                        <span>{{ api.profile.firstName }} {{ api.profile.lastName }}</span>
                    </a>
                {% elseif is_granted('ROLE_LEARNER') %}
                    <a href="{{ url('learner_profile_show') }}" class="username no-padding">
                        <span>{{ api.profile.firstName }} {{ api.profile.lastName }}</span>
                    </a>
                {% elseif is_granted('ROLE_CLIENT') %}
                    <a href="#" class="username no-padding">
                        <span>{{ api.profile.firstName }} {{ api.profile.lastName }}</span>
                    </a>
                {% endif %}
            </div>
            <div class="col-md-3 no-padding">
                {% if is_granted('ROLE_SUPER_ADMIN') %}
                {% elseif is_granted('ROLE_ADMIN') or is_granted('ROLE_SUPERVISOR') %}
                    <a href="{{ url('admin_profile_edit') }}" class="btn btn-sm btn-deepmark-orangelight">
                        <i class="fal fa-pen c-white"></i>
                    </a>
                {% elseif is_granted('ROLE_TRAINER') %}
                    <a href="{{ url('trainer_profile_edit') }}" class="btn btn-sm btn-deepmark-orangelight">
                        <i class="fal fa-pen c-white"></i>
                    </a>
                {% elseif is_granted('ROLE_LEARNER') %}
                    <a href="{{ url('learner_profile_edit') }}" class="btn btn-sm btn-deepmark-orangelight">
                        <i class="fal fa-pen c-white"></i>
                    </a>
                {% endif %}
            </div>

        </div>

        <ul class="nav">
            {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_SUPERVISOR') %}
                <li class="nav-item {{ (route ==  'admin_dashboard' or route ==  'admin_dashboard_activities' or route ==  'admin_dashboard_validations' or route == 'admin_dashboard_alerts' ) ? 'active' }}">
                    <a class="nav-link" href="{{ url('admin_dashboard') }}">
                        <i class="fal fa-tachometer"></i>
                        <p class="nav-item__txt">{{ 'sidebar.dashboard'|trans }}</p>
                    </a>
                </li>
                {% if is_granted('ROLE_SUPER_ADMIN') %}
                    <li class="nav-item {{ 'admins' in route ? 'active' }}">
                        <a class="nav-link" href="{{ url('admin_admins_index') }}">
                            <i class="fal fa-address-book"></i>
                            <p class="nav-item__txt">{{ 'sidebar.admins'|trans }}</p>
                        </a>
                    </li>
                    <li class="nav-item {{ 'clients' in route ? 'active' }}">
                        <a class="nav-link" href="{{ url('admin_clients_index') }}">
                            <i class="fal fa-address-book"></i>
                            <p class="nav-item__txt">{{ 'sidebar.clients'|trans }}</p>
                        </a>
                    </li>
                    <li class="nav-item {{ 'organisation' in route ? 'active' }}">
                        <a class="nav-link" href="{{ url('admin_organisation_index') }}">
                            <i class="fal fa-building"></i>
                            <p class="nav-item__txt">{{ 'sidebar.organizations'|trans }}</p>
                        </a>
                    </li>
                {% endif %}
                {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_SUPER_ADMIN') %}
                    <li class="nav-item {{ 'entity' in route ? 'active' }}">
                        <a class="nav-link" href="{{ url('admin_entity_index') }}">
                            <i class="fal fa-sitemap"></i>
                            <p class="nav-item__txt">{{ 'sidebar.entities'|trans }}</p>
                        </a>
                    </li>
                    <li class="nav-item {{ 'managers' in route ? 'active' }}">
                        <a class="nav-link" href="{{ url('admin_managers_index') }}">
                            <i class="fal fa-address-book"></i>
                            <p class="nav-item__txt">{{ 'sidebar.managers'|trans }}</p>
                        </a>
                    </li>
                    <li class="nav-item {{ 'supervisor' in route ? 'active' }}">
                        <a class="nav-link" href="{{ url('admin_supervisors_index') }}">
                            <i class="fal fa-user-tie"></i>
                            <p class="nav-item__txt">{{ 'sidebar.supervisor'|trans }}</p>
                        </a>
                    </li>
                {% endif %}
                <li class="nav-item {{ 'learners' in route or route ==  'admin_group_index'  or route ==  'admin_group_new'  or route ==  'admin_group_edit'  or route ==  'admin_group_show' ? 'active' }}">
                    <a class="nav-link" href="{{ url('admin_learners_index') }}">
                        <i class="fal fa-users-class"></i>
                        <p class="nav-item__txt">{{ 'sidebar.learners'|trans }}</p>
                    </a>
                </li>

                <li class="nav-item {{ 'trainers' in route ? 'active' }}">
                    <a class="nav-link" href="{{ url('admin_trainers_index') }}">
                        <i class="fal fa-chalkboard-teacher"></i>
                        <p class="nav-item__txt">{{ 'sidebar.trainers'|trans }}</p>
                    </a>
                </li>

                <li class="nav-item {{ 'interventions' in route ? 'active' }}">
                    <a class="nav-link" href="{{ url('admin_interventions_index') }}">
                        <i class="fal fa-wrench"></i>
                        <p class="nav-item__txt">{{ 'sidebar.interventions'|trans }}</p>
                    </a>
                </li>

                <li class="nav-item {{ 'quiz' in route ? 'active' }}">
                    <a class="nav-link" href="{{ url('admin_quiz_index') }}">
                        <i class="fal fa-question-circle"></i>
                        <p class="nav-item__txt">{{ 'sidebar.quiz'|trans }}</p>
                    </a>
                </li>


                <li class="nav-item {{ 'stats' in route ? 'active' }}">
                    <a class="nav-link" href="{{ url('admin_stats_index') }}">
                        <i class="fal fa-signal"></i>
                        <p class="nav-item__txt">{{ 'sidebar.stats'|trans }}</p>
                    </a>
                </li>

                {% if is_granted('ROLE_SUPER_ADMIN') %}
                    <li class="nav-item {{ 'skills' in route ? 'active' }}">
                        <a class="nav-link" href="{{ url('admin_skills_index') }}">
                            <i class="fas fa-graduation-cap"></i>
                            <p class="nav-item__txt">{{ 'sidebar.skills'|trans }}</p>
                        </a>
                    </li>
                {% endif %}
                <li class="nav-item {{ 'library' in route ? 'active' }}">
                    <a class="nav-link" href="{{ path('admin_library_index') }}">
                        <i class="fal fa-book"></i>
                        <p class="nav-item__txt">{{ 'sidebar.library'|trans }}</p>
                    </a>
                </li>
            {% elseif is_granted('ROLE_CLIENT') %}

                <li class="nav-item {{ route == 'client_dashboard' ? 'active' }}">
                    <a class="nav-link" href="{{ url('client_dashboard') }}">
                        <i class="fal fa-wrench"></i>
                        <p class="nav-item__txt">{{ 'sidebar.interventions'|trans }}</p>
                    </a>
                </li>

                <li class="nav-item {{ route == 'client_learners' ? 'active' }}">
                    <a class="nav-link " href="{{ url('client_learners') }}">
                        <i class="fal fa-user-graduate"></i>
                        <p class="nav-item__txt">{{ 'sidebar.learners'|trans }}</p>
                    </a>
                </li>

                <li class="nav-item {{ route == 'client_stats' ? 'active' }}">
                    <a class="nav-link" href="{{ url('client_stats') }}">
                        <i class="fal fa-signal"></i>
                        <p class="nav-item__txt">{{ 'sidebar.stats'|trans }}</p>
                    </a>
                </li>
            {% elseif is_granted('ROLE_LEARNER') %}
                <li class="nav-item {{ route == 'learner_dashboard' or route == 'learner_dashboard_alerts' or route == 'learner_dashboard_bookings' ? 'active' }}">
                    <a class="nav-link" href="{{ url('learner_dashboard') }}">
                        <i class="fal fa-tachometer"></i>
                        <p class="nav-item__txt">{{ 'sidebar.dashboard'|trans }}</p>
                    </a>
                </li>

                <li class="nav-item {{ 'courses' in route ? 'active' }}">
                    <a class="nav-link" href="{{ url('learner_courses_index') }}">
                        <i class="fal fa-list-ul"></i>
                        <p class="nav-item__txt">{{ 'sidebar.learners_courses'|trans }}</p>
                    </a>
                </li>

                <li class="nav-item {{ 'exercices' in route ? 'active' }}">
                    <a class="nav-link" href="{{ url('learner_dashboard_exercices') }}">
                        <i class="fal fa-file-edit"></i>
                        <p class="nav-item__txt">{{ 'sidebar.trainers_planning'|trans }}</p>
                    </a>
                </li>

                <li class="nav-item {{ 'library' in route ? 'active' }}">
                    <a class="nav-link" href="{{ url('learner_library_index') }}">
                        <i class="fal fa-book"></i>
                        <p class="nav-item__txt">{{ 'sidebar.learners_library'|trans }}</p>
                    </a>
                </li>
            {% elseif is_granted('ROLE_TRAINER') %}
                <li class="nav-item {{ (route ==  'trainer_dashboard' or route == 'trainer_dashboard_alerts') ? 'active' }}">
                    <a class="nav-link" href="{{ url('trainer_dashboard') }}">
                        <i class="fal fa-tachometer"></i>
                        <p class="nav-item__txt">{{ 'dashboard'|trans }}</p>
                    </a>
                </li>

                <li class="nav-item {{ 'planning' in route ? 'active' }}">
                    <a class="nav-link" href="{{ url('trainer_planning_index') }}">
                        <i class="fal fa-calendar"></i>
                        <p class="nav-item__txt">{{ 'sidebar.trainers_planning'|trans }}</p>
                    </a>
                </li>

                <li class="nav-item {{ 'reports' in route ? 'active' }}">
                    <a class="nav-link" href="{{ url('trainer_reports_index') }}">
                        <i class="fal fa-file-edit"></i>
                        <p class="nav-item__txt">{{ 'sidebar.trainers_reports'|trans }}</p>
                    </a>
                </li>
                <li class="nav-item {{ route == 'trainer_statistics' ? 'active' }}">
                    <a class="nav-link" href="{{ url('trainer_statistics') }}">
                        <i class="fal fa-signal"></i>
                        <p class="nav-item__txt">{{ 'sidebar.stats'|trans }}</p>
                    </a>
                </li>

                <li class="nav-item {{ 'library' in route ? 'active' }}">
                    <a class="nav-link" href="{{ url('trainer_library_index') }}">
                        <i class="fal fa-book"></i>
                        <p class="nav-item__txt">{{ 'sidebar.trainers_library'|trans }}</p>
                    </a>
                </li>
            {% endif %}

            <li class="nav-item logout">
                <a class="nav-link" href="{{ path('fos_user_security_logout') }}">
                    <i class="fal fa-power-off"></i>
                    <p class="nav-item__txt">{{ 'sidebar.logout'|trans }}</p>
                </a>
            </li>
        </ul>
    </div>

    {% if is_granted('ROLE_LEARNER') and not is_granted('ROLE_ADMIN') %}
        <div class="sidebar-wrapper sidebar-courses">
            {% if intervention is defined and modules is defined %}
                <ul class="course-nav" id="{{ intervention.id }}">
                    {% if modules %}
                        {% for course in modules %}
                            {% if course %}
                                {% if course.module.storedModule.appId != 1 and
                                    course.module.storedModule.appId != 2 %}

                                    {% set moduleActive = 0 %}
                                    {% if loop.index == 1 %}
                                        {% set moduleActive = (course.status.appId != statusDoneId and course.status.appId != statusExpiredId) %}
                                    {% elseif loop.index > 1 %}
                                        {% set moduleActive = (modules[loop.index - 2].module.done and course.status.appId != statusDoneId and course.status.appId != statusExpiredId) %}
                                    {% endif %}

                                    {% set moduleAvailable = (date(course.module.beginning) <= date() and date(course.module.ending) >= date()) and (date(course.module.intervention.beginning) <= date() and date(course.module.intervention.ending) >= date()) ? 1 : 0 %}
                                    {% set isAvailable = ((not intervention.sequential) or course.module.done or moduleActive) and moduleAvailable %}

                                    {{ include('molecules/sidebar/course-nav-item.html.twig', {
                                        isCurrent: module is defined ? module.id == course.module.id : false,
                                        loopId: loop.index,
                                        sequential: intervention.sequential,
                                        id: course.module.id,
                                        done: course.status,
                                        designation: course.module.designation,
                                        begins: course.module.beginning,
                                        ends: course.module.ending,
                                        validity: course.module.validatingScore,
                                        duration: course.module.duration,
                                        grade: course.notation ? course.notation.notation : 0,
                                        isBooked: course.module.isBooked,
                                        isAvailable: isAvailable,
                                        type: course.module.storedModule.appId,
                                        desc: course.module.subject ? course.module.subject.designation
                                    }) }}
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                    <li class="course-nav__item course-nav__item--end">
                        <div class="course-nav__item-inner">
                            <div class="course-nav__item-desc">
                                {{ 'learners.courses.finished_modules' | trans }}
                            </div>
                        </div>
                    </li>
                </ul>
            {% endif %}
        </div>
    {% endif %}

    <div class="sidebar-background">
    </div>
</div>
