{% extends 'base.html.twig' %}
{% block pagename %}{{ 'sidebar.trainers_reports'|trans }}{% endblock %}
{% block body %}
    <div class="row marg-t-10 text-center">
        <div class="col-md-12 text-center">
            <ul class="nav nav-pills  justify-content-center">
                <li class="nav-item">
                    <a id="todoBtn" class="btn active text-transform-none report-to-do" >{{ 'trainers.reports.admin_reports_to_do'|trans }}</a>
                </li>
                <li class="nav-item">
                    <a id="submittedBtn" class="btn text-transform-none report-pending">{{ 'trainers.reports.admin_reports_pending'|trans }}</a>
                </li>
                <li class="nav-item">
                    <a id="validatedBtn" class="btn text-transform-none report-done" >{{ 'trainers.reports.admin_reports_validated'|trans }}</a>
                </li>
                <li class="nav-item">
                    <a id="deniedBtn" class="btn text-transform-none report-reject" >{{ 'trainers.reports.admin_reports_denied'|trans }}</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="card marg-t-10" id="todo">
            <h3 class="text-center marg-b-10 marg-t-10 color-header bold"> {{ 'trainers.reports.admin_title_reports_to_do'|trans }} </h3>
            {{ include('molecules/tables/admin-reports-table.html.twig', { reports: reportsToDo, status: 'trainers.reports.status.to_do'|trans, type: 'toDoTable' }) }}
        </div>
        <div class="card marg-t-10" id="submitted">
            <h3 class="text-center marg-b-10 marg-t-10 color-header bold"> {{ 'trainers.reports.admin_title_reports_pending_validation'|trans }} </h3>
            {{ include('molecules/tables/admin-reports-table.html.twig', { reports: reportsSubmitted, status: 'trainers.reports.status.submitted'|trans, type: 'toValidationTable' }) }}
        </div>
        <div class="card marg-t-10" id="validated">
            <h3 class="text-center marg-b-10 marg-t-10 color-header bold"> {{ 'trainers.reports.admin_title_reports_validated'|trans }} </h3>
            {{ include('molecules/tables/admin-reports-table.html.twig', { reports: reportsApproved, status: 'trainers.reports.status.validated'|trans, type: 'validatedTable' }) }}
        </div>
        <div class="card marg-t-10" id="denied">
            <h3 class="text-center marg-b-10 marg-t-10 color-header bold"> {{ 'trainers.reports.admin_title_reports_denied'|trans }} </h3>
            {{ include('molecules/tables/admin-reports-table.html.twig', { reports: reportsRejected, status: 'trainers.reports.status.denied'|trans, type: 'rejectedTable' }) }}
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="validationReports" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog  modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body text-center">
                    <p id="txtValidation"></p>
                    <p>
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1">{{ 'popup.your_comment'|trans }}</label>
                        <textarea class="form-control" id="your_comment" rows="3" spellcheck="false"></textarea>
                    </div>
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ 'buttons.close'|trans }}</button>
                    <button  id="btnValidationAction" type="submit" class="btn btn-primary">{{ 'buttons.confirm'|trans }}</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="sendMessages" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body text-center">
                    <p id="txtSendMessages"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ 'buttons.close'|trans }}</button>
                    <button  id="btnSendMessagesAction" type="submit" class="btn btn-primary">{{ 'buttons.confirm'|trans }}</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/lang_datatable.js') }}"></script>
    <script>
        $(function () {
            CKEDITOR.replace('your_comment');
        })
        $(document).ready(function () {
            validationReports();
            $("#todoBtn").click(function() {
                $('html,body').animate({
                        scrollTop: $("#todo").offset().top},
                    'slow');
            });
            $("#submittedBtn").click(function() {
                $('html,body').animate({
                        scrollTop: $("#submitted").offset().top},
                    'slow');
            });
            $("#validatedBtn").click(function() {
                $('html,body').animate({
                        scrollTop: $("#validated").offset().top},
                    'slow');
            });
            $("#deniedBtn").click(function() {
                $('html,body').animate({
                        scrollTop: $("#denied").offset().top},
                    'slow');
            });

            let lang = languageDatatable();
            let toDoTable = $('#toDoTable').DataTable({
                    "language": lang,
                    "scrollX": true,
                    "scrollY": false,
                    "order": [[ 6, "desc" ], [ 8, "desc" ]]
                }
            );

            let toValidationTable = $('#toValidationTable').DataTable({
                    "language": lang,
                    "scrollX": true,
                    "scrollY": false,
                    "order": [[ 6, "desc" ], [ 9, "desc" ]]
                }
            );

            let validatedTable =$('#validatedTable').DataTable({
                    "language": lang,
                    "scrollX": true,
                    "scrollY": false,
                    "order": [[ 6, "desc" ], [ 9, "desc" ]]
                }
            );

            let rejectedTable =$('#rejectedTable').DataTable({
                    "language": lang,
                    "scrollX": true,
                    "scrollY": false,
                    "order": [[ 6, "desc" ], [ 9, "desc" ]]
                }
            );

            $('.buttons-colvis').on('click', function () {
                $('.dt-button-collection').addClass('show');
            });

            $(".dataTables_filter").hide();

            $('#toDoTableSearch').keyup(function(){
                toDoTable.search($(this).val()).draw() ;
            })

            $('#toValidationTableSearch').keyup(function(){
                toValidationTable.search($(this).val()).draw() ;
            })

            $('#validatedTableSearch').keyup(function(){
                validatedTable.search($(this).val()).draw() ;
            })

            $('#rejectedTableSearch').keyup(function(){
                rejectedTable.search($(this).val()).draw() ;
            })

            $('.check-all-toAssignTable').change(function() {
                var rows = toAssignTable.rows({ 'search': 'applied' }).nodes();
                $('input[name="toAssignTable"]', rows).prop('checked', this.checked);
            });
            $('.check-all-toDoTable').change(function() {
                var rows = toDoTable.rows({ 'search': 'applied' }).nodes();
                $('input[name="toDoTable"]', rows).prop('checked', this.checked);
            });
            $('.check-all-toValidationTable').change(function() {
                var rows = toValidationTable.rows({ 'search': 'applied' }).nodes();
                $('input[name="toValidationTable"]', rows).prop('checked', this.checked);
            });
            $('.check-all-validatedTable').change(function() {
                var rows = validatedTable.rows({ 'search': 'applied' }).nodes();
                $('input[name="validatedTable"]', rows).prop('checked', this.checked);
            });
            $('.check-all-rejectedTable').change(function() {
                var rows = rejectedTable.rows({ 'search': 'applied' }).nodes();
                $('input[name="rejectedTable"]', rows).prop('checked', this.checked);
            });

            $( window ).resize(function() {
                $('#toAssignTable, #toDoTable, #toValidationTable, #validatedTable, #rejectedTable').DataTable().columns.adjust();
            });

            let btn = $('[data-action="minimize-sidebar"]');
            if (btn.length) {
                btn.on('click', function () {
                    setTimeout(function() {
                        $('#toAssignTable, #toDoTable, #toValidationTable, #validatedTable, #rejectedTable').DataTable().columns.adjust();
                    }, 300);
                })
            }

            $('#apply_toValidationTable').on('click', function () {
                $("#txtValidation").text("{{ 'popup.validation_reports'|trans|raw }}");
                $("#validationReports").modal('show');
            });
            function validationReports() {
                $('#btnValidationAction').on('click', function () {
                    let type = $('select[name="select_toValidationTable"]').val();
                    let checkInput = $('input[name="toValidationTable"]');
                    let selectedEntities = [];

                    checkInput.each(function () {
                        if(this.checked && this.value !== ""){
                            selectedEntities.push(this.value);
                        }
                    });
                    if (!selectedEntities.length) {
                        // one or more checkboxes are
                        swal(jsTranslations.warning_title, jsTranslations.select_one_report, 'warning');
                        return;
                    }
                    $.ajax({
                        'url': '{{ path('admin_reports_validation') }}',
                        'method': 'POST',
                        'data' : {
                            'selectedEntities': selectedEntities,
                            'type': type,
                            'comment': CKEDITOR.instances['your_comment'].getData()
                        }
                    }).done(function (response) {
                        location.reload();
                    }).fail(function (response) {
                        console.log(response)
                    })
                });
            }

            $('#apply_toDoTable, #apply_validatedTable, #apply_rejectedTable').on('click', function () {
                $("#txtSendMessages").text("{{ 'popup.send_massage_reports'|trans|raw }}");
                $("#sendMessages").modal('show');
            });
        });
    </script>
{% endblock %}