<div class="text-center col-md-12 " style="align-self: center;">
    <button style="border-radius: 20px; color: #333" id="echoLaunch" class="btn btn-deepmark-orangelight">Echo launch <i class="fas fa-chevron-right" aria-hidden="true"></i></button>
    <div class="hidden">
        <span id="timeEchoInSeconds">0</span> <span>seconds</span>
    </div>
    {% if echoUrl is defined %}
        <script>
            // https://stackoverflow.com/questions/3342140/cross-domain-cookies :
            /*Example:

                    type: "get",
                            url: link,
                    crossDomain: true,
                    dataType: 'json',
                    xhrFields: {
                    withCredentials: true
            }*/
            $(document).ready(function () {
                $('#echoLaunch').on('click', function () {
                    $.ajax({
                        url: "{{ echoLoginUrl }}",
                        type: "POST",
                        crossDomain: true,
                        dataType: 'json',
                        xhrFields: {
                            withCredentials: true
                        },
                        contentType: "application/json",
                        data: '{"token": "{{ echoToken }}"}',
                        success: function (data) {
                            let start = new Date();
                            let child = window.open('{{ echoUrl }}', "Popup", "toolbar=no,scrollbars=no,location=no,statusbar=no,menubar=no,resizable=0,width=1400,height=1000");
                            child.focus();
                            let timer = setInterval(checkChild, 500);

                            function checkChild() {
                                if (child.closed) {
                                    let end = new Date();
                                    // console.log("ELAPSED MS: " + (end - start) + "ms")
                                    // console.log("ELAPSED MIN: " + ((end - start)/1000/60) + " min")
                                    console.log(((end - start) / 1000 / 60).toFixed());
                                    document.getElementById('timeEchoInSeconds').textContent = ((end - start) / 1000 / 60).toFixed();
                                    clearInterval(timer);
                                    window.parent.focus();
                                    updateEchoModule();
                                }
                            }
                        },
                        error: function () {
                            alert('Problem getting data');
                        },
                    });
                });

                function updateEchoModule() {
                    let startTime = $('#startTime').text();
                    let learnedTime = $('#timeEchoInSeconds').text();
                    $.ajax({
                        'url': '/learner/courses/echo-progress',
                        'method': 'POST',
                        'data': {
                            'module_id': {{ app.request.get('id') }},
                            'startTime': startTime,
                            'learnedTime': learnedTime
                        }
                    }).done(function (response) {
                        swal('Success', 'Update the progress of the ECHO module successful.', 'success');
                    }).fail(function (response) {
                        swal('Error', 'Update the progress of the ECHO module not successful.', 'error');
                    });
                }
            });
        </script>
    {% endif %}
</div>