<!--Add Template-->
<div class="modal modal-md" data-size="modal-md" tabindex="-1" role="dialog" id='add-template'>
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"><strong>{{ 'learners.courses.quiz.modals.add_a_doc'|trans }}</strong></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="upload-area dropzone" id="quizUploadTemplate"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ 'learners.courses.quiz.modals.close'|trans }}</button>
            </div>
        </div>
    </div>
</div>

{% set types = ['xls', 'doc', 'ppt', 'pdf', 'img', 'video', 'audio'] %}     
{% for type in types %}
<!--Add {{type}}-->
<div class="modal modal-md" data-size="modal-md" tabindex="-1" role="dialog" id='add-{{type}}'>
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"><strong>{{ 'learners.courses.quiz.modals.add_'~type~''|trans }}</strong></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="upload-area dropzone" id="quizUpload{{type}}"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ 'learners.courses.quiz.modals.close'|trans }}</button>
            </div>
        </div>
    </div>
</div>
{% endfor %}