{% if module.quiz and module.quiz.type != 'SURVEY_MONKEY' %}
    <div id="result_" class="col-md-12 bg-white border-radius-10 pad-t-15 pad-b-15 height-auto no-padding">
        <div class="col-md-12 no-padding" style="">
            <div id="quiz-done-resolver" style="visibility: hidden"
                 retry="{{ module.iteration }}"
                 moduleId="{{ module.id }}"
                 isCompleted="{{ isCompleted | default(0) }}"
                 resultsCount="{{ results|length }}">
            </div>
            <div class="col-md-12 p-0 m-0 collapse show marg-b-15"  id="quizQuestion" >
                <ul class="list-group">
                    <div id="quiz-wrapper">
                        <li class="list-group-item p-0 m-0 pad-t-40">
                            {% for question in module.quiz.questions %}
                                {% set questId = loop.index %}
                                <h4 class="no-margin bold">
                                    Question {{ questId }}</h4>
                                <div class="quiz-question-wrapper border-top marg-t-10 pad-t-10 font-size-13">
                                    <div class="quiz-question-text">
                                        <p class="bold">{{ question.text|raw }}
                                            {% if module.quiz.settings.quizable %}
                                                <span class="question-points">&nbsp;&nbsp;({{ question.points }} {{ 'learners.courses.quiz.num_points'|trans|lower }})</span>
                                            {% endif %}
                                        </p>
                                    </div>
                                    <div class="quiz-question-answers">
                                        {% for answer in question.answers %}
                                            {% if correctAnswers[question.id] is defined and answer.id in correctAnswers[question.id] %}
                                                {% set checked = 'checked="checked"' %}
                                            {% else %}
                                                {% set checked = '' %}
                                            {% endif %}
                                            <div class="row quiz-answer-wrapper pretty p-default p-smooth {{ question.type == 'single_answer' ? 'p-round' : 'p-curve' }}">
                                                <div class="col-md-1 no-padding text-center">
                                                    {% if question.type == 'single_answer' %}
                                                        {% if answer.points != 0 %}
                                                            <i class="fas fa-check correct-quiz"  aria-hidden="true"></i>&nbsp;&nbsp;
                                                        {% else %}
                                                            {% if checked %}
                                                                <i class="fa fa-times wrong-quiz"  aria-hidden="true"></i>&nbsp;&nbsp;
                                                            {% endif %}
                                                        {% endif %}
                                                    {% else %}
                                                        {% if answer.points != 0 %}
                                                            {% if checked %}
                                                                <i class="fas fa-check correct-quiz" aria-hidden="true"></i>&nbsp;&nbsp;
                                                            {% else %}
                                                                <i class="fa fa-times wrong-quiz" aria-hidden="true"></i>&nbsp;&nbsp;
                                                            {% endif %}
                                                        {% else %}
                                                            {% if checked %}
                                                                <i class="fa fa-times wrong-quiz"  aria-hidden="true"></i>&nbsp;&nbsp;
                                                            {% endif %}
                                                        {% endif %}
                                                    {% endif %}
                                                </div>
                                                {% if question.type == 'single_answer' %}
                                                    <div class="form-check form-check-radio text-left col-md-11 no-margin">
                                                        <label class="form-check-label answer-text">
                                                            <input name="{{ key }}_answer_{{ answer.id }}" {{ checked }} disabled="disabled"
                                                                   class="form-check-input question-checkbox"
                                                                   type="radio" question-id="{{ question.id }}"
                                                                   answer-id="{{ answer.id }}"
                                                                   question-type="{{ question.type }}">
                                                            {{ answer.answer }}
                                                            <span style="top:3px!important;" class="circle">
                                                                <span class="check"></span>
                                                            </span>
                                                        </label>
                                                    </div>
                                                {% else %}
                                                    <div class="form-check col-md-11 text-left no-margin">
                                                        <label class="form-check-label answer-text">
                                                            <input name="{{ key }}_answer_{{ answer.id }}" class="form-check-input question-checkbox" {{ checked }} disabled="disabled"
                                                                   type="checkbox" question-id="{{ question.id }}"
                                                                   answer-id="{{ answer.id }}"
                                                                   question-type="{{ question.type }}">
                                                            {{ answer.answer }}
                                                            <span class="form-check-sign">
                                                                            <span class="check"></span>
                                                                         </span>
                                                        </label>
                                                    </div>
                                                {% endif %}
                                            </div>
                                        {% endfor %}
                                    </div>

                                </div>
                            {% endfor %}
                        </li>
                    </div>
                </ul>
            </div>
        </div>
    </div>
{% endif %}