<div id="quiz-done-resolver" style="visibility: hidden"
     retry="{{ module.iteration }}"
     moduleId="{{ module.id }}"
     isCompleted="{{ isCompleted | default(0) }}"
     resultsCount="{{ results|length }}">
</div>
<div class="text-right">
        <a id="showResultBtn" class="btn btn-info" data-toggle="collapse" href="#resultQuiz" role="button" aria-expanded="false" aria-controls="resultQuiz">Show previous results</a>
</div>
<div class="row">
    <div class="col-md-12 p-0 m-0 collapse show" id="quizQuestion">
        <ul class="list-group">
            <li class="list-group-item p-0 m-0">
                <h4>Score to pass : </h4>
                <div class="progress">
                    <div class="progress-bar bg-info" role="progressbar" style="width: {{ module.scoreQuiz }}%" aria-valuenow="{{  module.scoreQuiz }}" aria-valuemin="0" aria-valuemax="100">
                        {{ 'learners.courses.score_to_pass'|trans }} : {{ module.scoreQuiz|round }} %
                    </div>
                </div>
            </li>
            <div id="quiz-wrapper" style="display: none">
                <li class="list-group-item p-0 m-0">
                    {% for question in module.quiz.questions %}
                        <div class="quiz-question-wrapper">
                            <div class="quiz-question-text">
                                {% set questId = loop.index %}
                                <h4>Question {{ questId }}: {{ question.text|raw }}</h4>
                                {% if module.quiz.settings.quizable %}
                                <span class="question-points">&nbsp;&nbsp;({{ question.points }} {{ 'learners.courses.quiz.num_points'|trans|lower }})</span>
                                {% endif %}
                            </div>
                            <div class="quiz-question-answers">
                                {% for answer in question.answers %}
                                    <div class="row quiz-answer-wrapper pretty p-default p-smooth {{ question.type == 'single_answer' ? 'p-round' : 'p-curve' }}">
                                        {% if question.type == 'single_answer' %}
                                            <div class="form-check form-check-radio">
                                                <label class="form-check-label answer-text">
                                                    <input name="answer_{{ questId }}" class="form-check-input question-checkbox" type="radio" question-id="{{ question.id }}" answer-id="{{ answer.id }}" question-type="{{ question.type }}">
                                                    {{ answer.answer }}
                                                    <span class="circle">
                                                    <span class="check"></span>
                                                </span>
                                                </label>
                                            </div>
                                        {% else %}
                                            <div class="form-check">
                                                <label class="form-check-label answer-text">
                                                    <input class="form-check-input question-checkbox" type="checkbox" question-id="{{ question.id }}" answer-id="{{ answer.id }}" question-type="{{ question.type }}">
                                                    {{ answer.answer }}
                                                    <span class="form-check-sign">
                                                      <span class="check"></span>
                                                  </span>
                                                </label>
                                            </div>
                                        {% endif %}
                                    </div>
                                {% endfor %}
                            </div>

                        </div>
                    {% endfor %}
                    {% if status is defined and status.appId != constant('\\ApiBundle\\Entity\\Status::LEARNER_INTERVENTION_EXPIRED') and
                        status.appId != constant('\\ApiBundle\\Entity\\Status::WITH_BOOKING_DONE') %}
                    <div class="text-left">
                        <button id="quiz-submit-button" class="btn btn-deepmark-orangelight" quiz-id="{{ module.quiz.id }}">
                            submit
                        </button>
                    </div>
                    {% endif %}
                </li>
            </div>
        </ul>
    </div>

    <div class="col-md-12 p-0 m-0 collapse" id="resultQuiz">
        <ul class="list-group">
            {% for result in results %}
                {%  set scorePercent = (result.score / module.quiz.totalPoints) * 100 %}
                <li class="list-group-item p-0 m-0">
                    <span class="c-black">{{ result.quiz.title }} - Result of trial # {{ loop.index }}</span>
                    {% if scorePercent == 0 %}
                        <div class="progress">
                            <div class="progress-bar bg-danger" role="progressbar" style="width: {{ scorePercent }}%" aria-valuenow="{{ scorePercent|round }}" aria-valuemin="0" aria-valuemax="100">
                                <label class="text-danger" style="width: 80px;">
                                    {{ 'learners.courses.my_score'|trans }} : {{ scorePercent | number_format(2, '.', ',') }} %
                                </label>
                            </div>
                        </div>
                    {% else %}
                        <div class="progress">
                            <div class="progress-bar {% if scorePercent >= module.scoreQuiz %} bg-success {% else %} bg-danger{% endif %}" role="progressbar" style="width: {{ scorePercent }}%" aria-valuenow="{{ scorePercent|round }}" aria-valuemin="0" aria-valuemax="100">
                                {{ 'learners.courses.my_score'|trans }} : {{ scorePercent | number_format(2, '.', ',') }} %
                            </div>
                        </div>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </div>
</div>
<div id="quiz-wrapper" style="display: none">

    <h4 id="quiz-title">{{ module.quiz.title }}</h4>

</div>

<div id="quiz-done-message" style="display: none">
    <div class="quizResult">
        <span><b>{{ module.quiz.title }}</b></span>

        <div class="quizScore">
            <span>{{ resolver.getLastResult(module.quiz, module) }} / {{ module.quiz.totalPoints }}</span>
        </div>
    </div>
    <div class="progress">
        <div class="progress-bar bg-success" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
            {{ 'learners.courses.my_score'|trans }} : 0 %
        </div>
    </div>
</div>

<script>
    let isCompleted = "{{ isCompleted }}";
    if (isCompleted && isCompleted != '') {
        $('#resultQuiz').attr('class', 'col-md-12 p-0 m-0 collapse show');
        $('#quizQuestion').attr('class', 'col-md-12 p-0 m-0 collapse');
    } else {
        $('#resultQuiz').attr('class', 'col-md-12 p-0 m-0 collapse');
        $('#quizQuestion').attr('class', 'col-md-12 p-0 m-0 collapse show');
    }

    $('#resultQuiz').on('hidden.bs.collapse', function () {
        $('#quizQuestion').attr('class', 'col-md-12 p-0 m-0 collapse show');
        $('#resultQuiz').attr('class', 'col-md-12 p-0 m-0 collapse');
       $('#showResultBtn').text('Show previous results');
    });

    $('#resultQuiz').on('shown.bs.collapse', function () {
        $('#quizQuestion').attr('class', 'col-md-12 p-0 m-0 collapse');
        $('#resultQuiz').attr('class', 'col-md-12 p-0 m-0 collapse show');
        $('#showResultBtn').text('Hide previous results');
    });
</script>
