<div class='stepList' style="background: none">
    <div class='card-quiz-add quiz-content'>
        <ul class="nav nav-tabs" role="tablist">
            <table class="table no-footer step-quiz" style="border-spacing: 0px 5px;">
                <tbody>
                    <div class="text-left"></div>
                    {% set quizPlayedId = 0 %}
                    {% set count = 0 %}
                    {% set numRes = 0 %}
                    {% set hasOpen = false %}
                    {% for step in quizSteps %}
                        {# {{dump(step)}} #}
                        {% set numRes = numRes + 1 %}
                        {% set count = count + step.questions|length %}
                        {% set answers = quizAnwers.answers|slice(count - step.questions|length,step.questions|length)%} 
                        {% set quizPlayedId = answers is not empty ? answers.0.play.id : 0 %}
                        {% set questions_score = 0 %}
                        {% set pointOfStep = 0 %}
                        {% set countRightAnwsersOfStep = 0 %}
                        {% set countOfStep = 0 %}
                        {% set arrayPlayId = [] %}
                        {% for asw in answers %}
                             
                            {% if(asw.status == 1) %}
                                {% set countRightAnwsersOfStep = countRightAnwsersOfStep + 1 %}
                                {% set pointOfStep = pointOfStep + asw.scores %}
                            {% endif %}
                            {% set arrayPlayId = arrayPlayId|merge([asw.id]) %}
                            {% set countOfStep = countOfStep + 1%}
                        {% endfor %}
                        {% for question in step.questions %}
                                {% set questions_score = questions_score + question.score_to_pass %}
                                {% if question.type == 'open' %}
                                    {% set hasOpen = true %}
                                {% endif %}

                        {% endfor %}
                        
                        {{ include('molecules/courses/quiz/step_nav.html.twig',{'quizPlayedId': quizPlayedId, 'module': module,'step': step, 'step_pos': step_pos , 'key' : key, 'numRes' : numRes ,'numberQuizResult': quizSteps|length, 'hasOpen' : hasOpen})}}
                    {% endfor %}
                </tbody>
            </table>
           {#  {%set step_pos = 0%}
            {% for step in quizSteps %}
                
                {%set step_pos = step_pos+1%}
            {% endfor %} #}
        </ul>
    </div>
    <div class="tab-content quiz-content" style="display:none">
        {%set step_pos = 0%}
        {% for step in quizSteps %}
            {{ include('molecules/courses/quiz/step_content_results.html.twig',{'module':module, 'quiz_id':module.quiz.getId() ,'step': step, 'step_pos': step_pos, 'quizResults' : quizResults})}}
            {%set step_pos = step_pos+1%}
        {% endfor %}
    </div>
</div>
