<div class="col-md-12 no-padding" id="quiz-header" style="display:none">
<div class="row">
    <div class="col-md-4 col-12 display-flex-center no-padding">

    {# </div>
    <div class="col-md-8" style="display: flex;align-items: center;"> #}
       {#  <h3  style="font-weight: 800" class=" no-margin text-center">
            <span class="color-header">{{ 'learners.courses.quiz.start.trial_number'|trans }} : </span># {{ results|length +1 }} {{ 'learners.courses.quiz.start.out_of'|trans }} {{ module.iteration }}
        </h3> #}
        {% set questions_count = 0 %}
        {% set questions_score = 0 %}
        {% for step in quizSteps %}
            {% set questions_count = questions_count + (step.questions|length) %}
            {% for question in step.questions %}
                {% set questions_score = questions_score + question.score_to_pass %}
            {% endfor %}

        {% endfor %}
        <!-- Todo translate -->
        {# <span class="padding-span"><b>{{quizSteps|length}}</b> Step</span> #}
        <span class="padding-span"><b>{{questions_count}}</b> {{ 'learners.courses.quiz.num_questions'|trans }}</span>
        {% if module.quiz.isSurvey != 1 %}
            <span class="padding-span"><b>{{questions_score}}</b> {{ 'learners.courses.quiz.num_points'|trans }}</span>
        {% endif %}
    </div>
    <div class="col-md-5 col-6 text-center display-flex-center no-padding">
        <div class="col-md-9 title-step-one text-center background-color-blue" style="padding: 4px!important;">
                                                
            <!-- Todo translate -->
            <div class="color-white">{{ 'learners.courses.quiz.test'|trans }}</div>
            <div class="color-white">
               <b>{{ results|length }} / {{ module.iteration }}</b>
            </div> 
            
        </div>
    </div>
    <div class="col-md-3 no-padding col-6 text-right display-flex-center justify-content-start no-padding">

        {% if module.durationActive == 1 %}
            <span class="col-md-7" style="display: inline-block;">
                <i class="fas fa-hourglass-half icon-size"></i>
            </span>
            <span style="display: inline-block;text-align:left">
                
                <span class="color-blue" id="quiz_timer">
                    {% if(module.duration|date('H') > 0) %} 
                    {{ module.duration|date('i')}}{{ 'learners.courses.quiz.start.hours'|trans }} {% endif %} {%if(module.duration|date('i') > 0)%}
                        <span class="color-blue"><b>{{ module.duration|date('H:i:s')}}</b></span></br>
                        <!-- Todo translate -->
                       
                    {% endif %} {%if(module.duration|date('s') > 0)%} {{ module.duration|date('s')}}{{ 'learners.courses.quiz.start.seconds'|trans }} {% endif %}
                </span>
                
            </span>
        {% endif %}
       
    </div>
    <hr style="width: 100%;margin:8px 0px; border-color: #d4d2d2" />
</div>
</div>
