{% set hour = module.duration|date('G', false) %}
{% set minutes = module.duration|date('i', false) %}
{% set totalSecondOfModule = hour*60*60 + minutes*60 %}
<style>
    #learn-more-modal{
        z-index: 9999;
    }
    .swal2-container{
        perspective: 1000px;
    }
    .swal2-modal{
        transform-style: preserve-3d!important;
        transition: transform 2s!important;
    }
    #newContent {
        transform: rotateY( 180deg)!important;
        margin: -20px!important;
    }
    .flipped {
        transform: rotateY( 180deg)!important;
    }
</style>
<div class="row">
     <!-- LEFT COLUMN -->
    {{ include('molecules/courses/quiz/quiz_left.html.twig') }}
    <!-- CENTER -->
    <div id="contentRight" class="col-md-8 no-padding-left no-padding-right" style="background-color: #fff; min-height: 280px; border-radius: 10px; padding-top:15px; ">
        <!-- IF NO RESULT -->
        <div id="quizQuestion" class="col-md-12 no-padding-left no-padding-right {% if results is not empty %} d-none {% endif %}" >
            <div class="col-md-12 no-padding" style="">
                {%  if module.quiz %}
                    <div id="quiz-done-resolver" style="visibility: hidden"
                         retry="{{ module.iteration }}"
                         moduleId="{{ module.id }}"
                         isCompleted="{{ isCompleted | default(0) }}"
                         resultsCount="{{ results|length }}">
                    </div>
                    <div class="col-md-12 p-0 m-0 collapse show" id="quizQuestion" style="margin-bottom: 15px;">
                        <ul class="list-group">
                            <div id="quiz-wrapper" >
                                <li class="list-group-item p-0 m-0" >
                                    <div class='stepList'>
                                        <input type="hidden" id="module_id" value="{{ module.id }}" />
                                        <input type="hidden" id="quiz_id" value="{{ module.quiz.id }}" />

                                        <!-- Menu Step -->
                                        {# <div class='card-quiz-add hide-element quiz-content'>

                                            <ul class="nav nav-tabs" role="tablist">
                                                {%set step_pos = 0%}
                                                {% for step in quizSteps %}
                                                    {{ include('molecules/courses/quiz/step_nav.html.twig',{'step': step, 'step_pos': step_pos})}}
                                                    {%set step_pos = step_pos+1%}
                                                {% endfor %}
                                            </ul>
                                        </div> #}

                                        <!-- Quiz Start step 1 -->
                                        <div class='row' id="quiz-start">
                                            {{ include('molecules/courses/quiz/quiz_header.html.twig') }}
                                            <div id="quiz-error" class="col-lg-12 hide-element">
                                                <div class="alert alert-danger">
                                                    <div class="col-lg-12">
                                                        <div class="col-lg-12">
                                                            <h1 class="text-center"><i class="fa fa-times"></i></h1>
                                                        </div>
                                                        <div class="col-lg-12">
                                                            <h2 class="text-center">{{ 'learners.courses.quiz.error.title'|trans }}</h2>
                                                        </div>
                                                        <div class="col-lg-12">
                                                            <p class="text-center">{{ 'learners.courses.quiz.error.description'|trans }}</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                           {#  <div class='col-lg-12 text-center'>
                                                <h1>{{ module.quiz.title }}</h1>
                                                <h2>{{ 'learners.courses.quiz.start.sub_title'|trans }}</h2>
                                            </div> #}
                                            {# <div class='col-lg-12 text-center'>
                                                {%set questions_count = 0%}
                                                {%set questions_score = 0%}
                                                {% for step in quizSteps %}
                                                    {% set questions_count = questions_count+(step.questions|length) %}
                                                    {% for question in step.questions %}
                                                        {% set questions_score = questions_score+question.score_to_pass %}
                                                    {% endfor %}
                                                {% endfor %}
                                                <p>
                                                    {{ 'learners.courses.quiz.start.steps'|trans }} : {{ quizSteps|length }}
                                                </p>
                                                <p>
                                                    {{ 'learners.courses.quiz.start.questions'|trans }} : {{ questions_count }}
                                                </p>
                                                <p>
                                                    {{ 'learners.courses.quiz.start.questions_score'|trans }} : {{ module.scoreQuiz }}%
                                                </p>

                                                {% if module.durationActive == 1 %}
                                                    <p>
                                                        {{ 'learners.courses.quiz.start.timer'|trans }} : {%if(module.duration|date('H') > 0)%} {{ module.duration|date('i')}}{{ 'learners.courses.quiz.start.hours'|trans }} {% endif %} {%if(module.duration|date('i') > 0)%} {{ module.duration|date('i')}}{{ 'learners.courses.quiz.start.minutes'|trans }} {% endif %} {%if(module.duration|date('s') > 0)%} {{ module.duration|date('s')}}{{ 'learners.courses.quiz.start.seconds'|trans }} {% endif %}
                                                    </p>
                                                {% endif %}
                                            </div> #}
                                             <div class="col-md-4 title-step-one text-center background-color-1 marg-t-30 offset-md-2">
                                                
                                                <!-- Todo translate -->
                                                <div class="color-blue">{{ 'learners.courses.quiz.test'|trans }}</div>
                                                <div class="color-header">
                                                   <b>{{ results|length }} / {{ module.iteration }}</b>
                                                </div> 
                                                
                                            </div>
                                            <!-- To do translate -->
                                            <div class='col-md-4 text-button marg-t-30'>
                                                <button type='button' class='btn btn-deepmark-gold startQuiz display-flex-center'>{{ module.quiz.isSurvey ? 'learners.courses.quiz.start_survey'|trans : 'learners.courses.quiz.start_quiz'|trans }}
                                                    <i class="fal fa-angle-right"></i>
                                                        
                                                </button>
                                            </div>
                                            <!-- To do translate -->
                                            <div class="col-md-12">
                                                <div class="text-center background-color-blue color-white marg-t-30 p-tb-5-lr-0">
                                                    {{ module.quiz.isSurvey ? 'learners.courses.quiz.description_survey'|trans : 'learners.courses.quiz.description_quiz'|trans }}
                                                </div>
                                            </div>
                                             <table class="table table-striped data-table w-100 dataTable no-footer step-quiz no-margin pad-r-15 pad-l-15">
                                                <tbody>
                                                    {% set questions_count = 0 %}
                                                    {% set count = 0 %}
                                                        {# {{dump(quizSteps)}} #}
                                                    {% for step in quizSteps %}
                                                        {% set questions_score = 0 %}
                                                        {% set count = count + 1 %}
                                                        {% for question in step.questions %}
                                                            {% set questions_score = questions_score + question.score_to_pass %}
                                                        {% endfor %}
                                                        <tr class="{{ count%2 == 0 ? "even"  : "odd" }}" data-title="{{step.step.title}}" data-id="{{step.step.id}}" data-point-step="{{questions_score}}" data-total-question="{{step.questions|length}}">
                                                            <td  style="border:0px; ">
                                                                <div class="title" style="display:none"></div>
                                                                <div class="row">
                                                                    <div class="col-md-2 no-padding text-right">
                                                                        <span class="color-blue bold">{{ 'learners.courses.quiz.step_of_quiz'|trans }} {{count}}&nbsp;.&nbsp;</span>
                                                                    </div>
                                                                    <div class="col-md-10 no-padding">
                                                                        <b>{{step.step.title|raw}}</b>
                                                                    </div>

                                                                </div>
                                                            </td>
                                                            <td width="35%" class="text-right" style="border:0px;">
                                                                <div class="row">
                                                                    <div class="col-md-{{ module.quiz.isSurvey ? 12 : 7}} no-padding-left">
                                                                        <span class="no-margin-right"><b>{{step.questions|length}}</b> <span class="no-margin-right">{{ 'learners.courses.quiz.num_questions'|trans|lower }}</span></span>
                                                                    </div>
                                                                    {% if module.quiz.isSurvey != 1 %}
                                                                    <div class="col-md-5 no-padding-right text-left border-left">
                                                                        <span><b>{{questions_score}}</b> <span>{{ 'learners.courses.quiz.num_points'|trans|lower }}</span></span>
                                                                    </div>
                                                                    {% endif %}
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    
                                                    {% endfor %}
                                                </tbody>
                                            </table>

                                        </div>
                                        {{ include('molecules/courses/quiz/quiz_header_step2.html.twig') }}

                                        <!-- Quiz Start Timer -->
                                        <div class="col-md-12 text-center marg-t-30 hide-element" id="quiz-start-timer">
                                            <h1 class="timer-3 hide-element no-margin">
                                                <span class="circle-time"><b>3</b></span>
                                            </h1>
                                            <h1 class="timer-2 hide-element no-margin">
                                                <span class="circle-time"><b>2</b></span>
                                            </h1>
                                            <h1 class="timer-1 hide-element no-margin">
                                                <span class="circle-time oneTime" ><b>1</b></span>
                                            </h1>
                                        </div>

                                        <!-- Step Resume -->
                                        <div class='row hide-element' id="quiz-step-resume">

                                            <div class='col-lg-12 text-center questionHeader'>
                                                <!-- To do translate -->
                                                <h2 class="bold font-size-25">{{ 'learners.courses.quiz.stage_completed'|trans }}</h2>
                                                <div class="row justify-content-md-center">
                                                    <div class='col-lg-8 col-md-8 text-center questionHeader header-quiz no-padding'>
                                                        <div class="pad-t-20 pad-b-20">
                                                            <h1 class="font-size-25 text-uppercase"></h1>
                                                        </div>
                                                        <div style="padding-bottom: 12px;" class='col-lg-12 text-left questionList p-top-10' data-question_title=" {{ 'learners.courses.quiz.step.resume.question_title'|trans }}">

                                                        </div>
                                                    </div>
                                                    
                                                </div>
                                                <h3 class="bold d-none"></h3>
                                                <h4 class="next-title d-none"></h4>
                                            </div>

                                            <div class='col-lg-12 text-center marg-t-20 marg-b-30'>
                                                <button type='button' class='btn btn-deepmark-gold nextStep' data-base_text="{{ 'learners.courses.quiz.cta.next_step'|trans }} <i class='fa fa-angle-right'></i>" data-finish_text="{{ 'learners.courses.quiz.cta.finish_step'|trans }} <i class='fa fa-angle-right'></i>">{{ 'learners.courses.quiz.cta.next_step'|trans }} <i class='fa fa-angle-right'></i></button>
                                                <button type='button' class='btn btn-deepmark-gold finishQuiz hide-element'>{{ 'learners.courses.quiz.cta.finish'|trans }} <i class='fa fa-angle-right'></i></button>
                                            </div>
                                        </div>

                                        <!-- Finish Resume -->
                                        <div class='row pad-t-30 hide-element' id="quiz-finish-resume">
                                            <div class='col-lg-12 text-center questionHeader'>
                                                
                                                {{ include('molecules/courses/quiz/result_one.html.twig',{module: module}) }}

                                            </div>
                                            <div style="display:none" class='col-lg-12 text-center questionList' data-msg_ok=" {{ 'learners.courses.quiz.finish.resume.msg_ok'|trans }}" data-msg_nok=" {{ 'learners.courses.quiz.finish.resume.msg_nok'|trans }}" data-question_title=" {{ 'learners.courses.quiz.finish.resume.question_title'|trans }}" data-step_title=" {{ 'learners.courses.quiz.finish.resume.step_title'|trans }}">

                                            </div>
                                            <div class='col-lg-12 text-center marg-t-20 marg-b-20'>
                                                <!-- To do translate-->
                                                <a href='{{ path('learner_courses_module', { 'id': module.id }) }}' class='btn btn-deepmark-gold'><i class='fa fa-check'></i> {{ 'learners.courses.quiz.see_results'|trans }}
                                                    {# {{ 'learners.courses.quiz.cta.finish_confirm'|trans }} #}
                                                </a>
                                            </div>
                                        </div>

                                        <div class="tab-content hide-element quiz-content">
                                            {%set step_pos = 0%}
                                            {% for stepLive in quizSteps %}
                                                {{ include('molecules/courses/quiz/step_content.html.twig',{'quiz_id':module.quiz.getId() ,'step': stepLive, 'step_pos': step_pos, results:false})}}
                                                {%set step_pos = step_pos+1%}
                                            {% endfor %}
                                        </div>
                                    </div>
                                </li>
                            </div>
                        </ul>
                    </div>
                {%  endif %}
            </div>
        </div>


        <!-- IF RESULTS -->
        {% if results is not empty %}
            {%  set isQuizSurvey = module.getQuiz() ? module.getQuiz().getIsSurvey() : 0 %}
            <div id="result" class="col-md-12 row justify-content-md-center" >
            	{# <div class="col-md-1" style="display: flex;align-items: center;">
	                <div style="background-size: cover;background-repeat: no-repeat; background-color: #fff!important ;width: 35px!important; height: 35px!important; background-image: url('{{ asset('images/document.png') }}')">
	                </div>
	            </div>
            	<div class="col-md-11" style="">
            		asdasdas
            	</div> #}
                <!-- To do translate -->
                <div class="col-md-12 text-center pad-b-10 pad-t-10">
                    <h3  style="font-weight: 800" class=" no-margin">
                        <span class="color-header">{{ isQuizSurvey ? 'learners.courses.survey.status'|trans : 'learners.courses.quiz.status'|trans }} : </span> #{{ results|length }}/{{ module.iteration }}
                    </h3>
                </div>
                <hr style="width: 100%;margin:10px 0px; border-color: #d4d2d2" />
                <div class="col-md-2"></div>
                <div class="col-md-4 text-center marg-t-10">
                    {%  if results|length < module.iteration %}
                        <button id="tryAgain" class="btn btn-block btn-padding-small btn-deepmark-orangelight {% if quizResultsAndAnswers|length >= module.iteration %} disabled {% endif %}  display-inline" >
                            <!-- To do translate -->
                            <i class="fas fa-sync-alt" style="padding-right:10px"></i>
                            {{ 'learners.courses.quiz.restart'|trans }}
                           {#  {{ 'learners.courses.quiz.cta.try_again'|trans }} <i class="fas fa-redo"></i> #}
                        </button>
                    {% endif %}
                </div>
                <div class="col-md-4 marg-t-10">
                    {{ include('molecules/courses/navigation.html.twig') }}
                    {% if canBeNotated %}
                        {{ include('molecules/courses/notation.html.twig') }}
                    {% endif %}
                </div>
                <div class="col-md-2"></div>

                <div class="col-md-12">
                    <div class="col-md-12 pad-t-20">
                        <ul class="list-group quiz-result-list">

                            {% for key, row in quizResultsAndAnswers |reverse %}
                                <!-- Check if has open question -->
                                {% set hasOpen = false %}
                                {% set isSurvey = false %}
                                {% for question in row.questions %}
                                    {% if question.type == 'open' %}
                                        {% set hasOpen = true %}
                                    {% endif %}
                                {% endfor %}
                                {% for question in row.questions %}
                                    {% if question.getIsSurvey() == 1 %}
                                        {% set isSurvey = true %}
                                    {% endif %}
                                {% endfor %}
                                {% if row.quizResult.answers is defined %}
                                    {% set totalTimer = 0 %}
                                    {% for answer in row.quizResult.answers %}
                                        {% if answer.params.timer is defined %}
                                            {% set totalTimer = totalTimer + answer.params.timer %}
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                                {% set dateTime = '00:00:00' %}
                                {% set timeLearned = totalTimer ? totalTimer ~ ' seconds' : '0 seconds' %}
                                <li class="list-group-item no-padding">
                                    <div class="col-md-12 quiz-header row" style="padding: 0px;">
                                        <div class="col-md-4 justify-content-start flex--center">
                                            <i class="far fa-calendar-alt"></i>&nbsp;&nbsp;&nbsp;
                                            <span class="font-size-13 c-white">{{ row.quizResult.created|date('d/m/Y') }}</span>
                                        </div>
                                        <div class="col-md-4 flex--center">
                                            <h3 class="no-margin marg-b-15">{{ 'learners.courses.quiz.test'|trans }} #{{ quizResultsAndAnswers|length- key }} </h3>
                                        </div>
                                        <div class="col-md-4 justify-content-end flex--center">
                                            <i class="fas fa-hourglass-end"></i>&nbsp;&nbsp;&nbsp;
                                            <span class="c-white no-margin font-size-13 bold">
                                                {{ timeLearned ? dateTime|date_modify(timeLearned)|date(' H:i:s', false) : null }}
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-md-12 row" style="padding-top: 20px;">
                                        <div class="col-md-4 {% if isQuizSurvey == true  %} flex--center {% endif %} text-center" >
                                            <!-- To do translate -->
                                            <p class="color-bold">{{ isQuizSurvey ? 'learners.courses.survey.result'|trans : 'learners.courses.quiz.result'|trans }}</p>
                                            {% if isQuizSurvey == true %}

                                            {% elseif hasOpen == true %}
                                                <div class="pad-b-20">
                                                    <i class="c-orangelight icon--xl fas fa-clock" aria-hidden="true"></i>
                                                </div>
                                            {% elseif row.quizResult.scores >= module.scoreQuiz %}
                                                <div>
                                                    <i class="c-green icon-50 fas fa-check" aria-hidden="true"></i>
                                                </div>
                                                <div class="c-green bold">{{ 'learners.courses.quiz.success'|trans }}</div>
                                            {% else %}
                                                <div>
                                                    <i class="c-red icon-50 fa fa-times" aria-hidden="true"></i>
                                                </div>
                                                <div class="c-red bold">{{ 'learners.courses.quiz.results.failed'|trans }}</div>
                                            {% endif %}
                                        </div>

                                        <div class="col-md-4 text-center border-left-custom">
                                            {% if isQuizSurvey == true  %}
                                                <div class="flex--center pad-b-20">
                                                    <i class="c-green icon-50 fas fa-check" aria-hidden="true"></i>
                                                </div>
                                            {% elseif hasOpen == false and isQuizSurvey == false %}
                                                <p class="marg-b-30 color-bold">{{ 'learners.courses.quiz.results.your_score'|trans }}</p>
                                                <p class="score">{{ row.quizResult.scores ? row.quizResult.scores : '0' }}%</p>
                                                <p class="color-blue">{{ row.scores }} pts / {{ row.total_points }}</p>
                                            
                                            {% else %}
                                                <p class="marg-b-30 color-bold">{{ 'learners.courses.quiz.results.your_score'|trans }}</p>
                                                <p>{{ 'learners.courses.quiz.results.waiting'|trans }}</p>
                                            {% endif %}

                                        </div>
                                        <div class="col-md-4 {% if isQuizSurvey == true  %} flex--center {% endif %} text-center border-left-custom" >
                                            {% if isQuizSurvey == true %}
                                                <span class="c-black bold">{{ row.total_questions }} {{ 'admin.quiz.create.modals.add_from_history.questions'|trans }}</span>
                                            {% elseif hasOpen == true %}
                                                <p class="color-bold marg-b-30">{{ 'learners.courses.quiz.results.good_answer'|trans }}</p>
                                                <p>{{ 'learners.courses.quiz.results.open'|trans }}</p>
                                            {% else %}
                                                <p class="color-bold marg-b-30">{{ 'learners.courses.quiz.results.good_answer'|trans }}</p>
                                                <p class="status icon-50">{{ row.answers_status.success }} <span class="font-weight-light"> {{ 'learners.courses.quiz.of'|trans }} </span> {{ row.total_questions }}</p>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <!-- RESULTS DETAILS -->
                                    <div class="col-md-12 no-padding text-center">
                                        <div class="col-md-12 no-padding-left no-padding-right pad-t-10 pad-b-10 backgroud-deepmark-light">
                                            <h4 class="color-header no-margin" style="font-weight: 900">
                                                <!-- To do translate -->
                                                <a data-id="{{ key }}" id="plusBtn{{ key }}" class="pointer plusBtn showResults">{{isQuizSurvey ? 'learners.courses.survey.detail_results'|trans : 'learners.courses.quiz.detail_results'|trans }}  <i class="far fa-angle-down"></i></a>
                                                <a data-id="{{ key }}" id="minusBtn{{ key }}" class="pointer  minusBtn hide-element hideResults">{{isQuizSurvey ? 'learners.courses.survey.detail_results'|trans : 'learners.courses.quiz.detail_results'|trans }}  <i class="far fa-angle-up"></i></a>
                                            </h4>
                                        </div>
                                        <div id="results-{{ key }}" class="hide-element">
                                            {{ include('molecules/courses/quiz/quiz_results.html.twig', {module: module, results: row.quizResult, quizSteps: row.steps, resultsQuestions: row.questions , quizAnwers : row , key:key}) }}
                                        </div>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                        <button onclick="topFunction()" id="myBtn" class="btn btn-round" title="Go to top"><i class="fas fa-arrow-up"></i></button>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
</div>


<div id="quiz-wrapper" style="display: none">

    <h4 id="quiz-title">{{ module.quiz.title|default('') }}</h4>

</div>

<div id="quiz-done-message" style="display: none">
    <div class="quizResult">
        <span><b>{{ module.quiz.title|default('') }}</b></span>

        <div class="quizScore">
            <span></span>
        </div>
    </div>
    <div class="progress">
        <div class="progress-bar bg-success" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
            {{ 'learners.courses.my_score'|trans }} : 0 %
        </div>
    </div>
</div>

<script>

    $('[data-action="nextModule"]').removeClass('btn-small');
    $('[data-action="nextModule"]').addClass('btn-padding-small');
    $('[data-action="nextModule"]').addClass('btn-block');
    $('#tryAgain').on('click', function () {
        $("#quizQuestion").removeClass("d-none");
    $("#result").hide();
    });</script>

<!-- Scripts -->
<script type="text/javascript">
    var mybutton = document.getElementById("myBtn");
    window.onscroll = function() {scrollFunction()};

    function scrollFunction() {
      if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
        mybutton.style.display = "block";
      } else {
        mybutton.style.display = "none";
      }
    }
    function topFunction() {
      document.body.scrollTop = 0;
      document.documentElement.scrollTop = 0;
    }
    {% if module.durationActive == 1 %}
        const quiz_duration = "{{module.duration|date('Y-m-d H:i:s')}}";{% else %}
        const quiz_duration = false;{% endif %}
        const quiz_steps_count = "{{quizSteps|length}}";
        const quiz_score = "{{module.scoreQuiz|default(0)}}";
        let quiz_steps = [];
        let quiz_questions_count = 0;
        let questions = [];
        {%for step in quizSteps%}
            questions = [];
            {%for question in step.questions%}
                quiz_questions_count++;
                questions.push({
                score_to_pass:{{question.score_to_pass}},
                        is_survey:{{question.getIsSurvey()}}
                });
            {%endfor%}
                quiz_steps.push({
                msg_ok: "{{step.step.params.msg_ok}}",
                        msg_nok: "{{step.step.params.msg_nok}}",
                        questions_count:{{step.questions|length}},
                        questions: questions
                });
        {%endfor%}
    </script>

    <!-- Duration -->
    <input type="hidden" id="quiz_duration" value="{{module.duration|date('Y-m-d H:i:s')}}" />
    <input type="hidden" id="quizUserPlayedId" value="{{module.duration|date('Y-m-d H:i:s')}}" />
    <!-- Translation JS -->
    <input type="hidden" id="translations"
           data-point="{{ 'learners.courses.quiz.num_points'|trans }}"
           data-complete="{{ 'learners.courses.quiz.quiz_complete'|trans }}"
           data-complete="{{ 'learners.courses.quiz.quiz_complete'|trans }}"
           data-test="{{ 'learners.courses.quiz.test'|trans }}" 
           data-open="{{ 'learners.courses.quiz.results.open'|trans }}"
           data-waiting="{{ 'learners.courses.quiz.results.waiting'|trans }}"
           data-servey="{{ 'learners.courses.quiz.results.servey'|trans }}"
           data-too_late_description="{{ 'learners.courses.quiz.js.too_late_description'|trans }}" 
           data-good_answer="{{ 'learners.courses.quiz.js.good_answer'|trans }}" 
           data-good_answer_p="{{ 'learners.courses.quiz.js.good_answer_p'|trans }}" 
           data-in_review_title="{{ 'learners.courses.quiz.js.in_review_title'|trans }}" 
           data-in_review_description="{{ 'learners.courses.quiz.js.in_review_description'|trans }}" 
           data-in_review_step_title="{{ 'learners.courses.quiz.js.in_review_step_title'|trans }}" 
           data-in_review_step_question="{{ 'learners.courses.quiz.js.in_review_step_question'|trans }}"
           data-in_review_quiz_title="{{ 'learners.courses.quiz.js.in_review_quiz_title'|trans }}"  
           data-in_review_quiz_sub_title="{{ 'learners.courses.quiz.js.in_review_quiz_sub_title'|trans }}"  
           data-survey_title="{{ 'learners.courses.quiz.js.survey_title'|trans }}" 
           data-survey_description="{{ 'learners.courses.quiz.js.survey_description'|trans }}" 
           data-survey_step_title="{{ 'learners.courses.quiz.js.survey_step_title'|trans }}" 
           data-survey_step_question="{{ 'learners.courses.quiz.js.survey_step_question'|trans }}"
           data-survey_quiz_title="{{ 'learners.courses.quiz.js.survey_quiz_title'|trans }}"  
           data-survey_quiz_sub_title="{{ 'learners.courses.quiz.js.survey_quiz_sub_title'|trans }}"  
           data-add_template="{{ 'learners.courses.quiz.js.add_template'|trans }}" 
           data-add_document="{{ 'learners.courses.quiz.js.add_document'|trans }}" 
           data-loading="{{ 'admin.quiz.create.js.loading'|trans }}"
           data-file_sended="{{ 'admin.quiz.create.js.file_sended'|trans }}"
           data-error_unknown="{{ 'admin.quiz.create.js.error_unknown'|trans }}"
           data-upload_complete="{{ 'admin.quiz.create.js.upload_complete'|trans }}"
           data-restart_recording="{{ 'learners.courses.quiz.question.open.record.restart_recording'|trans }}"
           data-no_answer_found="{{ 'learners.courses.quiz.js.no_answer_found'|trans }}"
           data-wrong_format_answer="{{ 'learners.courses.quiz.js.wrong_format_answer'|trans }}"
           data-attention="{{ 'learners.courses.quiz.js.attention'|trans }}"
           data-pending_score="{{ 'learners.courses.quiz.pending_score'|trans }}"
           data-question_pending="{{ 'learners.courses.quiz.question_pending'|trans }}"
           data-title_servey="{{ 'learners.courses.quiz.title_servey'|trans }}"
           data-learn_more="{{ 'global.find_out_more'|trans }}"
           data-learn_more_btn="{{ 'global.find_out_more_btn'|trans }}"
    />

    <script src="https://webrtc.github.io/adapter/adapter-latest.js"></script>
    <script src="{{ asset('js/learner/quiz/uploads.js') }}"></script>
    <script src="{{ asset('js/learner/quiz/security.js') }}"></script>   
    <script src="{{ asset('js/learner/quiz/quiz.js') }}"></script>                
                    
    <script src="{{ asset('js/learner/quiz/questions/qcm.js') }}"></script>                
    <script src="{{ asset('js/learner/quiz/questions/qcu.js') }}"></script>
    <script src="{{ asset('js/learner/quiz/questions/category.js') }}"></script>
    <script src="{{ asset('js/learner/quiz/questions/ordering.js') }}"></script>
    <script src="{{ asset('js/learner/quiz/questions/drag_and_drop.js') }}"></script>
    <script src="{{ asset('js/learner/quiz/questions/text_to_fill.js') }}"></script>
    <script src="{{ asset('js/learner/quiz/questions/open.js') }}"></script>
    <script src="{{ asset('js/learner/quiz/questions/scoring.js') }}"></script>

    {{ include('molecules/courses/quiz/modals.html.twig',{})}}
    {# {{ include('molecules/modal/detail-quiz.html.twig',{})}} #}
    {{ include('molecules/modal/detail-quiz.html.twig',{})}}