<div class="col-md-4" id="quiz-left-1" style="padding-left:0!important;">
    <div class="col-md-12 row"  style="background-color: #fff; border-radius: 10px; margin-bottom:15px!important; min-height: 280px!important; padding-top: 15px;">
        <div class="col-md-2 marg-b-15 flex--center no-padding">
            <div class="flex--center btn-gold border-radius-50 no-padding" style="width: 50px; height: 50px;">
                <object data="/images/quiz-white.svg" width="40" height="40"
                        type="image/svg+xml"></object>
            </div>
        </div>
        <div class="col-md-10 text-left no-padding-right" >
            <div class="row">
                <div class="col-md-9 text-center">
                    <span style="font-weight: 600">
                        {% if module.quiz.isSurvey == 1 %}
                            {{ 'table.quiz.is_survey.yes'|trans }}
                        {% else %}
                            {{ 'table.quiz.is_survey.no'|trans }}
                        {% endif %}
                    </span>
                </div>
                <div class="col-md-3"></div>
            </div>
            <h4 style="font-weight: 900" class="no-margin color-header">{{ module.designation }}</h4>
        </div>
        {# <div class="col-md-3"></div> #}
        <div class="col-md-12 no-padding" style="border-top: 1px solid #d4d2d2; padding-top: 15px!important;  font-size:13px;padding-bottom:5px!important;">
            <p class="no-margin" style="font-weight: bold;" >{{ 'learners.courses.quiz.description'|trans }}</p>
            <div class="col-md-12 no-padding" style=" text-align: justify; font-size:13px;">
                {{ module.description|raw }}
            </div>
        </div>
        <div class="col-md-12 no-padding row" style="border-bottom: 1px solid #d4d2d2;">
            <div class="col-md-12 no-padding marg-b-15">
                <p class="color-header no-margin bold">
                    <embed src="/images/clock.svg" width="22" height="22"
                           type="image/svg+xml"/>&nbsp;&nbsp;&nbsp;<span class="font-size-22">{{ module.duration|date('H:i:s') }}</span>
                </p>
                <p class="no-margin">
                    <embed src="/images/calendar.svg" width="18" height="20"
                           type="image/svg+xml"/>&nbsp;&nbsp;&nbsp;<span class="font-size-13 text-gray">{{ module.beginning|date('d/m/Y') }} {{ 'global.to'|trans }} {{ module.ending|date("d/m/Y") }}</span>
                </p>
            </div>
        </div>
        <div class="col-md-12 no-padding row" style="padding-bottom:15px!important;padding-top: 15px !important;">
            <div class="col-md-6 no-padding text-center" style=" color: grey!important;">
                {% if (module.scoreQuiz is not empty) %}
                    <p style="font-weight: 600; font-size: 13px; color: grey!important;">{{ 'learners.courses.quiz.score_to_pass'|trans }}</p>
                    <span style="font-size: 30px;font-weight:800;color: #0076fe !important;">{{ module.quiz.isSurvey ? "N/A" : module.scoreQuiz|round ~  "%" }}</span>
                {% endif %}
            </div>
            <div class="col-md-6 no-padding text-center" style=" color: grey;">
                {% if (module.iteration is not empty) %}
                    <p style="font-weight: 600; font-size: 13px; color: grey!important;">{{ 'learners.courses.quiz.results.number_attempts'|trans }}</p>
                    <span style="font-size: 30px;font-weight:800;color: #0076fe !important;">{{ module.iteration  }}</span>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="col-md-12 row" style="background-color: #fff; border-radius: 10px;">
    	<div class="col-md-3 text-center no-padding" style="display: flex;align-items: center;">
            <div style="background-size: cover;background-repeat: no-repeat; background-color: #fff!important ;width: 35px!important; height: 35px!important; background-image: url('{{ asset('images/document.png') }}')">
            </div>
        </div>
        <div class="col-md-6 text-center" style="padding:15px!important;">
            <span style="font-weight: 700; font-size: 20px;" class="color-header">{{ 'learners.courses.documents'|trans }}</span>
        </div>
        <div class="col-md-3"></div>
        <div class="col-md-12" >
            {% if module.educationalDocument|length != 0 %}
                {{ include('molecules/tables/files-list.html.twig', {documents: module.educationalDocument, type: "documents"}) }}
            {% endif %}
        </div>
    </div>
</div>
<div class="col-md-4" id="quiz-left-2" style="padding-left:0!important;display:none;position:absolute">
    <div class="row "  style="background-color: #fff; border-top-left-radius: 10px;border-top-right-radius: 10px;padding-top: 15px;padding-bottom:15px">
        <div class="col-md-4 text-center no-padding-right display-flex-center">
            <div class="module-circle " style="background-size: cover;background-repeat: no-repeat; background-color: #fff!important ;width: 40px!important; height: 40px!important; background-image: url('{{ asset('images/quiz.svg') }}')">
            </div>
        </div>
        <div class="col-md-4 justify-content-center no-padding display-flex-center"  >
            <span class="bold font-size-25" style="padding-right:5px">{{ 'learners.courses.quiz.step_title'|trans|upper }} </span>
            <span class="bold present-step font-size-25">1</span> <span> / </span>
            <span class="bold max-step font-size-25">{{quizSteps|length}}</span>
        </div>
        <div class="col-md-4 no-padding-left col-6 display-flex-center justify-content-end ">
            
            {% if module.durationActive == 1 and module.quiz.isSurvey != 1 %}
                <span class="col-md-4 text-right" style="display: flex;flex-flow: row-reverse;padding-right: 5px !important;">
                    <i class="fas fa-hourglass-half icon-size" style="font-size:20px"></i>
                </span>
                <span style="display:flex;text-align:left">
                    <span class="color-blue" id="quiz_timer" style="font-size:1.3em">
                        {% if(module.duration|date('H') > 0) %} 
                        {{ module.duration|date('i')}}{{ 'learners.courses.quiz.start.hours'|trans }} {% endif %} {%if(module.duration|date('i') > 0)%}
                            <span class="color-blue"><b>{{ module.duration|date('H:i:s')}}</b></span></br>
                            <!-- Todo translate -->
                        {% endif %} {%if(module.duration|date('s') > 0)%} {{ module.duration|date('s')}}{{ 'learners.courses.quiz.start.seconds'|trans }} {% endif %}
                    </span>
                    
                </span>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-center back-ground-b" style="padding: 32px 0px; font-size: 20px;">
            <span class="color-header bold " id="presentTitle">{{ quizSteps.0.step.title|default('') }}</span>
        </div>
    </div>
    <div class="row" style="background-color: #fff;padding: 10px 0px;">
        <div class="col-md-6 no-padding text-center">
            <div class="font-size-18 pad-t-5 ">{{ 'learners.courses.quiz.num_questions'|trans }}</div><div class="total-question-step color-blue font-size-30 bold pad-t-15 pad-b-5"></div>
        </div>
        <div class="col-md-6 no-padding text-center">
            <div class="font-size-18 pad-t-5">{{ 'learners.courses.quiz.num_points'|trans }}</div>

            <div class="{{module.quiz.isSurvey ? '' : 'point-question-step'}}  color-blue bold font-size-30 pad-t-15 pad-b-5">N/A</div>
        </div>
    </div>
    <div class="col-md-12 row" style="background-color: #fff; border-radius: 10px;margin-top:10px">
        <div class="col-md-3 text-center no-padding" style="display: flex;align-items: center;">
            <div style="background-size: cover;background-repeat: no-repeat; background-color: #fff!important ;width: 35px!important; height: 35px!important; background-image: url('{{ asset('images/document.png') }}')">
            </div>
        </div>
        <div class="col-md-6 text-center" style="padding:15px!important;">
            <span style="font-weight: 700; font-size: 20px;" class="color-header">{{ 'learners.courses.documents'|trans }}</span>
        </div>
        <div class="col-md-3"></div>
        <div class="col-md-12">
            {% if module.educationalDocument|length != 0 %}
                {{ include('molecules/tables/files-list.html.twig', {documents: module.educationalDocument, type: "documents"}) }}
            {% endif %}
        </div>
    </div>
</div>
