<div class="col-md-12 row" style="background-color: #fff; border-radius: 10px; padding-top:15px; padding-bottom:15px; height: auto!important">
    <div class="col-md-8 text-center offset-md-2" style="">
        <h2 class="bold">{{ 'learners.courses.quiz.quiz_complete'|trans }}</h2>
    </div>
    {%  set isQuizSurvey = module.getQuiz() ? module.getQuiz().getIsSurvey() : 0 %}

    <div class="col-md-12">
        <div class="col-md-12 pad-t-20">
            <ul class="list-group quiz-result-list">
                <li class="list-group-item no-padding">
                    <div class="col-md-12  text-center justify-content-md-center" style="padding: 0px;">
                        <h3 class="no-margin marg-b-15 quiz-header">{{ 'learners.courses.quiz.test'|trans }} #{{results|length + 1}}</h3>
                    </div>
                    <div class="col-md-12 row" style="padding-top: 20px;">
                        {% if isQuizSurvey != 1 %}
                            <div class="col-md-4 text-center" >
                                <p class="color-bold">{{ 'learners.courses.quiz.result'|trans }}</p>
                                <p class="result-icon"></p>
                            </div>
                            <div class="col-md-4 text-center border-left-custom">
                                <p class="color-bold">{{ 'learners.courses.quiz.num_points_result'|trans }}</p>
                                <h1 style="font-size:50px"></h1>
                                <h2 style="font-size:1em"></h2>
                                <p class="waiting"></p>
                            </div>
                            <div class="col-md-4 text-center border-left-custom" >
                                <p class="color-bold">{{ 'learners.courses.quiz.results.good_answer'|trans }}</p>
                                <p class="open_question"></p>
                                <p class="status marg-t-20"><span class="total-success" style="font-size: 35px;"></span> <span class="of">of</span> <span class="total" style="font-size: 35px;"></span></p>
                            </div>
                        {% else %}
                            <div class="col-md-4 text-center c-black pad-b-20 bold flex--center" >
                               {{ 'learners.courses.quiz.result'|trans }}
                            </div>
                            <div class="col-md-4 flex--center c-black pad-b-20 text-center border-left-custom">
                                <i class="c-green icon-50 fas fa-check" aria-hidden="true"></i>
                            </div>
                            <div class="col-md-4 flex--center c-black pad-b-20 text-center border-left-custom" >
                                <span class="total c-black bold"></span>
                            </div>
                        {% endif %}
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>