<style type="text/css">
	a::before {
		padding-right:8px;
	}
</style>
{# <li class="nav-item"> #}
    {# <a class="nav-link quiz-nav-link step-pos-{{step_pos}} {{step.is_first ? 'active' : ''}}" id="step-nav-{{ step.step_id }}" data-step="step-{{ step.step_id }}" aria-controls="step-{{ step.step_id }}">{{step.step_id}}</a> #}
    <tr style="background-color:white!important; {% if numberQuizResult != numRes %} border-bottom:1px solid #DDDDDD {% endif %}">
        <td width="33%" style="border:0px;" class="color-blue">
            <div class="text-left row no-padding">
                <div class="col-md-12 no-padding">
                    {# <a class="nav-link quiz-nav-link step-pos-{{step_pos}} {{step.is_first ? 'active' : ''}}" id="step-nav-{{ step.step_id }}" data-step="step-{{ step.step_id }}" aria-controls="step-{{ step.step_id }}">{{step.step_id}}</a> #}
                    <b><a data-play-id="{{ quizPlayedId }}" data-title="{{step.step.title|raw}}" data-number="{{ step.step.params.position + 1 }}" class="step-pos-{{step_pos}} {{step.is_first ? 'active' : ''}}" id="step-nav-{{ step.step_id }}" data-step="step-{{ step.step_id }}" aria-controls="step-{{ step.step_id }}" data-id={{key}} style="padding-right:10px"><i class="fas fa-eye "></i>&nbsp;&nbsp;&nbsp;&nbsp; <h4 style="display:contents">{{step.step.title|raw}}</h4></a></b>
                </div>
                {# <div class="col-md-2 display-flex-center no-padding">
               
                    {{dump((pointOfStep/questions_score) * 100 | round(1,'ceil') >= module.scoreQuiz|round )}}
                    {% if ((pointOfStep/questions_score) * 100 | round(1,'ceil') >= module.scoreQuiz|round ) %}
                        <i class="fas fa-check c-green" style="font-size:2em"></i>
                    
                    {% else %}
                        <i class="fas c-red fa-times" style="font-size:2em" aria-hidden="true"></i>
                    {% endif %}
               
                </div> #}
              
            </div>
        </td>
        
        <td width="33%" class="text-center color-blue boder-border" style="border:0px;">
            {% if hasOpen == true %}
                {% if module.quiz.isSurvey == 1 %}
                    
                    <i class="fas fa-check c-green" style="font-size:2em"></i>
                {% else %}
                    <i class="c-orangelight fas fa-clock" style="font-size:2em" aria-hidden="true"></i>
                {% endif %}
            {% else %}
                {% if ((pointOfStep/questions_score) * 100 | round(1,'ceil') >= module.scoreQuiz|round ) or  module.quiz.isSurvey == 1 %}

                    <i class="fas fa-check c-green" style="font-size:2em"></i>
                
                {% else %}
                    <i class="fas c-red fa-times" style="font-size:2em" aria-hidden="true"></i>
                {% endif %}
            {% endif %}
            
             {# <span style="font-size: 1.5em;">
                <b>{{pointOfStep}}
                <span> pts</span></b>
            </span>
             <span> / </span>
            <span style="font-size: 1.5em;">{{questions_score}}</span> #}
        </td>
        <td width="33%" class="color-blue" style="border:0px;">
           {#  <span style="font-size: 1.5em;">
               <b>{{countRightAnwsersOfStep}}</b>
                <span> {{ 'learners.courses.quiz.on'|trans }}</span>
            </span> #}
            <h4>{{countOfStep}} {{ 'admin.quiz.questions'|trans }}</h4>
        </td>
    </tr>
{# </li> #}