{% set typeOption = {
    'category' : 'admin.quiz.create.types.category'|trans,
    'qcu' : 'admin.quiz.create.types.qcu'|trans,
    'ordering' : 'admin.quiz.create.types.ordering'|trans,
    'open' : 'admin.quiz.create.types.open'|trans,
    'text_to_fill' : 'admin.quiz.create.types.text_to_fill'|trans,
    'drag_and_drop' : 'admin.quiz.create.types.drag_and_drop'|trans,
    'qcm' : 'admin.quiz.create.types.qcm'|trans,
    'scoring' : 'admin.quiz.create.types.scoring'|trans,
}%}


<!-- Container Step -->
<div class="tab-pane fade show step-pos-{{step_pos}} {{step.is_first ? 'active' : ''}}" id="step-{{step.step_id}}" role="tabpanel" aria-labelledby="step-{{step.step_id}}-tab" data-msg_ok="{{step.step.getParams().msg_ok}}" data-msg_nok="{{step.step.getParams().msg_ok}}">
    <!-- Step questions-->
    <div class="accordion questionList" id="step-{{step.step_id}}-accordion">
        <!-- Container Question -->
        {# {{dump(step.questions)}} #}
        {% set questionCount = 0 %}
        {% set questionScore = 0 %}

        {% for question in step.questions %}
            {% set questionScore = questionScore + question.score_to_pass %}
        {% endfor %}
        {% for question in step.questions %}
            {% set checkLearnMore = 0  %}
            <!-- learner more-->
            {% if module.quiz.isSurvey == 0 and module.typeQuiz == 2 and  question.isLearnMore == 1 %}
                {% if question.params.image_good is defined or question.params.doc_good is defined or question.params.song_good is defined or question.params.video_good is defined or question.params.question_good is defined %}
                    {% set checkLearnMore = 1  %}
                    <div class="d-none">
                        <div class="learn-more{{question.id}} no-padding col-md-12">
                            <div class="col-md-12 row pad-15 btn-orangelight">
                                <div class="col-md-2"></div>
                                <div class="col-md-8 text-uppercase text-center text-white">{{ 'global.find_out_more_btn'|trans }} +</div>
                                <div class="col-md-2 text-right">
                                    <a class="backBtn cursorPointer">
                                        <i class="fa fa-times text-white"></i>
                                    </a>
                                </div>
                            </div>
                            {% if question.params.question_good %}
                                <div class="col-md-12 text-left detail-question pad-t-15">
                                    {{ question.params.question_good|raw }}
                                </div>
                            {% endif %}
                            <div class="row col-md-12 pad-10 btn-deepmark-light">
                                <div class="col-md-3 flex--center justify-content-start">
                                    <i class="color-header font-size-12">{{ 'global.other_document'|trans }}</i>
                                </div>
                                {% if question.params.image_good %}
                                    <div class="col-md-3 no-padding-left text-center">
                                        <span type="button" class="color-header row pad-10" style="width: 100%; background: transparent!important; border: 1px solid #0076fe !important;">
                                            <div class="col-md-2 no-padding">
                                                <a href="/files/quiz/{{question.id}}/picture/{{ question.params.image_good }}" target="_blank">
                                                    <i class="fa fa-eye marg-r-10 marg-l-10 color-header"></i>
                                                </a>
                                            </div>
                                            <div class="col-md-8 text-center">
                                                {{ 'admin.quiz.create.question.container.add_image'|trans }}
                                            </div>
                                            <div class="col-md-2 no-padding text-right">
                                                {% if question.params.image_good_download is defined and question.params.image_good_download == 1 %}
                                                        <a target="_blank" href="/files/quiz/{{question.id}}/picture/{{ question.params.image_good }}" download>
                                                        <i class="fa fa-download color-header"></i>
                                                    </a>
                                                {% endif %}
                                            </div>
                                        </span>
                                    </div>
                                {% endif %}
                                {% if question.params.doc_good %}
                                    <div class="col-md-3 no-padding-left text-center">
                                        <span type="button" class="color-header row pad-10" style="width: 100%; background: transparent!important; border: 1px solid #0076fe !important;">
                                                {% set url_doc = url('app_default_viewer') ~ '?url=' ~ amazon_s3_url ~ '/' ~ question.params.doc_good %}
                                            <div class="col-md-2 no-padding">
                                                <a href="{{ url_doc }}" target="_blank">
                                                    <i class="fa fa-eye marg-r-10 marg-l-10 color-header"></i>
                                                </a>
                                            </div>
                                            <div class="col-md-8 text-center">
                                                {{ 'admin.quiz.create.question.container.add_doc'|trans }}
                                            </div>
                                            <div class="col-md-2 no-padding text-right">
                                                {% if question.params.doc_good_download is defined and question.params.doc_good_download == 1 %}
                                                    <a target="_blank" href="{{ amazon_s3_url ~ '/' ~ question.params.doc_good }}" download>
                                                        <i class="fa fa-download color-header"></i>
                                                    </a>
                                                {% endif %}
                                            </div>
                                        </span>
                                    </div>
                                {% endif %}
                                {% if question.params.song_good %}
                                    <div class="col-md-3 no-padding-left text-center">
                                        <span type="button" class="color-header row pad-10" style="width: 100%; background: transparent!important; border: 1px solid #0076fe !important;">
                                            <div class="col-md-2 no-padding">
                                                <a href="/files/quiz/{{question.id}}/song/{{question.params.song_good}}" target="_blank">
                                                    <i class="fa fa-eye marg-r-10 marg-l-10 color-header"></i>
                                                </a>
                                            </div>
                                            <div class="col-md-8 text-center">
                                                {{ 'admin.quiz.create.question.container.add_song'|trans }}
                                            </div>
                                            <div class="col-md-2 no-padding text-right">
                                                {% if question.params.song_good_download is defined and question.params.song_good_download == 1 %}
                                                    <a target="_blank" href="/files/quiz/{{question.id}}/song/{{question.params.song_good}}" download>
                                                        <i class="fa fa-download color-header"></i>
                                                    </a>
                                                {% endif %}
                                            </div>
                                        </span>
                                    </div>
                                {% endif %}
                                {% if question.params.video_good %}
                                    {% if 'youtube' in question.params.video_good %}
                                        {% set urlVideo = question.params.video_good|replace({'/watch?v=': '/embed/'}) %}
                                    {% elseif 'vimeo' in question.params.video_good %}
                                        {% set urlVideo = 'https://player.vimeo.com/video/'~question.params.video_good|replace({'https://vimeo.com/': ''}) %}
                                    {% else %}
                                        {% set urlVideo = '/files/quiz/'~question.id~'/video/'~question.params.video_good %}
                                    {% endif %}
                                    <div class="col-md-3 no-padding-left text-center">
                                        <span type="button" class="color-header row pad-10" style="width: 100%; background: transparent!important; border: 1px solid #0076fe !important;">
                                            <div class="col-md-2 no-padding">
                                                <a href="{{ urlVideo }}" target="_blank">
                                                    <i class="fa fa-eye marg-r-10 marg-l-10 color-header"></i>
                                                </a>
                                            </div>
                                            <div class="col-md-8 text-center">
                                                {{ 'admin.quiz.create.question.container.add_video'|trans }}
                                            </div>
                                            <div class="col-md-2 no-padding text-right">
                                                {% if question.params.video_good_download is defined and  question.params.video_good_download == 1 %}
                                                    {% if 'youtube' not in question.params.video_good and 'vimeo' not in question.params.video_good %}
                                                        <a target="_blank" href="{{ urlVideo }}" download>
                                                            <i class="fa fa-download color-header"></i>
                                                        </a>
                                                    {% endif %}
                                                {% endif %}
                                            </div>
                                        </span>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endif %}

            <input type="hidden" id="checkLearnMore{{question.id}}" value="{{ checkLearnMore }}">
            <!-- learner more-->

            {% set questionCount = questionCount+1 %}
            <div>
                <div class="1question-boxe {{questionCount == 1 ? '' : (results != false ? '' : 'hide-element')}}" aria-labelledby="headingOne" data-parent="#step-N-accordion" id="step-{{step.step_id}}-q-{{questionCount}}" data-total-question={{step.questions|length}} data-point-quesion-step={{questionScore}}>
                    <!-- Question header -->
                    <div class="row">
                        <div class="col-md-12 no-padding">
                            <div class="question question-body no-padding">
                                {# <h3 class="color-header">{{ 'admin.quiz.create.question.container.title_question'|trans }} {{questionCount}} <small>/ {{step.questions|length}}</small></h3>  #}
                                <div class="row">
                                    <div class="color-header col-md-7 no-padding">
                                        <div class="col-md-12 pad-t-5">
                                            <b>{{ 'admin.quiz.create.question.container.title_question'|trans }} {{questionCount}} </b>
                                            {% if typeOption[question.type] is defined %}
                                                &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
                                                <b>{{typeOption[question.type]}}</b>
                                            {% endif %}
                                            {% if module.quiz.isSurvey == 0 %}
                                                &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
                                                <b>{{question.score_to_pass}} {{ 'learners.courses.quiz.num_points'|trans|lower }}</b>
                                            {% endif %}
                                        </div>
                                        <hr class="background-color-blue" style="width: 100%;margin:26px 0px 0px 0px" />
                                        <div class="col-md-12 pad-t-10 text-justify pad-b-10 pad-r-0 question-quiz-title display-flex-center" style="overflow-y:auto">
                                            <b style="margin:auto">
                                                {% autoescape "html" %}
                                                    {{ question.getQuestion()|raw }}
                                                {% endautoescape %}
                                            </b>
                                        </div>
                                    </div>
                                    {# Todo translate #}
                                    <div class="color-header col-md-5 no-padding">
                                        {% set checkParam = 0 %}
                                        {% if(question.getParams().image) %}
                                            {% if checkParam == 0 %}
                                                {% set checkParam = 1 %}
                                            {% endif %}
                                            <div class="row">
                                                <div class='col-md-12 pad-b-15 no-padding-right text-center'>
                                                    <a href="/files/quiz/{{question.getId()}}/picture/{{question.getParams().image}}" target="_blank"><img width="100%" height="222" src='/files/quiz/{{question.getId()}}/picture/{{question.getParams().image}}' alt="" class="question-img" /></a>
                                                </div>
                                            </div>
                                        {%endif%}
                                        {% if(question.getParams().doc) %}
                                            {% if checkParam == 0 %}
                                                {% set checkParam = 1 %}
                                            {% endif %}
                                            <div class="row">
                                                <div style="height: 222px!important;" class='col-md-12 pad-b-15 text-center no-padding-right'>
                                                    {#{% set url_doc = app.request.getSchemeAndHttpHost()~'/files/quiz/'~question.getId()~'/doc/'~question.getParams().doc %}#}
                                                    {% set url_doc = amazon_s3_url ~ '/' ~ question.getParams().doc %}
                                                    <div id='viewer_{{question.id}}' style='width: 100%; height: 300px!important; margin: 0 auto;'></div>
                                                    <script>
                                                        $(document).ready(function(){
                                                            WebViewer({
                                                                path: "{{ asset('js/lib/webviewer/lib') }}", // path to the PDFTron 'lib' folder on your server
                                                                licenseKey: 'Insert commercial license key here after purchase',
                                                                initialDoc: "{{ url_doc }}",
                                                                // initialDoc: '/path/to/my/file.pdf',  // You can also use documents on your server
                                                            }, document.getElementById('viewer_{{question.id}}'))
                                                                .then(instance => {
                                                                    instance.disableElements(['printButton']);
                                                                    instance.disableElements(['downloadButton']);
                                                                    const docViewer = instance.docViewer;
                                                                    const annotManager = instance.annotManager;
                                                                    // call methods from instance, docViewer and annotManager as needed

                                                                    // you can also access major namespaces from the instance as follows:
                                                                    // const Tools = instance.Tools;
                                                                    // const Annotations = instance.Annotations;

                                                                    docViewer.on('documentLoaded', () => {
                                                                        // call methods relating to the loaded document
                                                                    });
                                                                });
                                                        });
                                                    </script>
                                                </div>
                                            </div>
                                        {%endif%}
                                        {% if(question.getParams().song) %}
                                            {% if checkParam == 0 %}
                                                {% set checkParam = 1 %}
                                            {% endif %}
                                            <div class="row">
                                                <div class='col-md-12 pad-b-15 text-center no-padding-right'>
                                                    <audio controls style="height: 50px; width: 100%; margin-top: 113px;">
                                                        <source src="/files/quiz/{{question.getId()}}/song/{{question.getParams().song}}">
                                                    </audio>
                                                </div>
                                            </div>
                                        {%endif%}
                                        {% if(question.getParams().video) %}
                                            {% if checkParam == 0 %}
                                                {% set checkParam = 1 %}
                                            {% endif %}
                                            <div class="row  pad-b-15 pad-l-15">
                                                <div  style="height: 222px!important;position: relative;"  class='col-md-12 text-center no-padding'>
                                                    {% if 'youtube' in question.getParams().video %}
                                                        <iframe style="width: 100%; height: 220px!important; position: absolute; top:0; left: 0" class="yvideo" data-question_id="{{question.id}}" src="{{question.getParams().video|replace({'/watch?v=': '/embed/'})}}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                                        {% elseif 'vimeo' in question.getParams().video %}
                                                        <iframe width="100%" style="width: 100%; height: 220px!important; position: absolute; top:0; left: 0" class="yvideo" data-question_id="{{question.id}}" src="https://player.vimeo.com/video/{{question.getParams().video|replace({'https://vimeo.com/': ''})}}"  frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
                                                        {% else %}
                                                        <video controls >
                                                            <source src="/files/quiz/{{question.getId()}}/video/{{question.getParams().video}}" type="video/mp4">
                                                        </video>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        {%endif%}
                                        {% if checkParam == 0 %}
                                            <div class="row">
                                                <div class='col-md-12 pad-b-15 no-padding-right text-center'>
                                                    <img width="100%" height="222" src='{{ asset("images/iconQ&A.svg") }}' alt="" class="question-img" />
                                                </div>
                                            </div>
                                        {% endif %}
                                    </div>

                                {# </div> #}
                               {#  <div class="row">
                                    <div class="col-md-12 no-padding">

                                    </div>
                                </div> #}

                                </div>
                            </div>
                        </div>
                    </div>


                    <!-- Question content -->
                    <div class="row">
                        <div class="col-md-12 no-padding">
                            <div class="question question-body questionContent no-padding">
                                {{ include('molecules/courses/quiz/questions/template_' ~ question.getType() ~ '.html.twig', {question_id: question.getId(), question: question, items: question.items, items_disordered: question.items_disordered})}}
                            </div>
                        </div>
                    </div>

                    <div class="row back-ground-b">
                        <div class="col-md-12 no-padding text-center marg-b-20">
                            <a href="#" class="btn btn-sm btn-deepmark-orangelight validateQuestion" data-question_id="{{question.id}}" data-type="{{question.type}}" data-show="step-{{step.step_id}}-q-{{questionCount+1}}" data-msg_ok="{{ 'learners.courses.quiz.question.container.msg_ok'|trans }}" data-sub_msg_ok="{{question.getParams().msg_ok}}" data-msg_nok="{{ 'learners.courses.quiz.question.container.msg_ok'|trans }}" data-sub_msg_nok="{{question.getParams().msg_nok}}"><i class='fa fa-check'></i>
                                <!-- To do translate -->
                                {{ 'learners.courses.quiz.validate_my_response'|trans|upper }}
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
