<!-- Container Step -->
<div class="tab-pane fade show step-pos-{{step_pos}} {{step.is_first ? 'active' : ''}}" id="step-{{step.step_id}}" role="tabpanel" aria-labelledby="step-{{step.step_id}}-tab">
    <!-- Step questions-->
    <div class="accordion" id="step-{{step.step_id}}-accordion">
        <!-- Container Question -->
        {% set questionCount = 0 %}

        {% for question in step.questions %}
            {% set questionCount = questionCount+1 %}
            <div class="">
                <div class="pad-t-20 {{questionCount == 1 ? '' : (results != false ? '' : 'hide-element')}}" aria-labelledby="headingOne" data-parent="#step-N-accordion" id="step-{{step.step_id}}-q-{{questionCount}}">
                    <!-- Question content -->
                    <div class="row">
                        <div class="col-md-12 no-padding">

                            {# {% if module.typeQuiz == 1 %} #}
                                {# <h3 class="color-header">{{ 'admin.quiz.create.question.container.title_question'|trans }} {{questionCount}}</h3>  #}
                            {# {% endif %} #}
                            <div>
                               {#  {% if module.typeQuiz == 2 and  question.getIsSurvey() == 0 %}
                                    <div class="color-blue" style="padding-top:20px"><b>Question {{questionCount}}</b></div>
                                    <hr style="width: 100%; margin:0px" />
                                {% endif %} #}
                                
                            {# <div class="question question-body questionContent"> #}
                                {{ include('molecules/courses/quiz/questions_results/template_' ~ question.getType() ~ '.html.twig', {module:module, question_id: question.getId(), question: question, items: question.items, items_disordered: question.items_disordered, quizResults: results})}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>