<div class="modal fade" id="addAvailabilityModal" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLongTitle">{{ 'trainers.planning.modal.add.title'|trans }}</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				{{ 'trainers.planning.modal.add.message'|trans }}
				<div class="row u-marg-t-xs">
					<div class="form-group timepicker col-md-3">
						<label for="startTimeModal">{{ 'global.from_new'|trans }}</label>
						<input id="startTimeModal" data-role="startTime" type="text" class="form-control timepicker" value="9:00">
					</div>
					<div class="form-group timepicker col-md-2">
						<label for="endTimeModal">{{ 'global.to_new'|trans }}</label>
						<input id="endTimeModal" data-role="endTime" type="text" class="form-control timepicker" value="12default: 0 :00">
					</div>
					<div class="col-md-1 no-padding text-center">
						<i class="fas fa-utensils-alt    color-header   inputMonday  iconMonday"></i>
					</div>
					<div class="form-group timepicker col-md-3">
						<label for="startTimeAfternoonModal">{{ 'global.from_new'|trans }}</label>
						<input id="startTimeAfternoonModal" data-role="startTimeAfternoon" type="text" class="form-control timepicker" value="13:00">
					</div>
					<div class="form-group timepicker col-md-2">
						<label for="endTimeAfternoonModal">{{ 'global.to_new'|trans }}</label>
						<input id="endTimeAfternoonModal" data-role="endTimeAfternoon" type="text" class="form-control timepicker" value="18default: 0 :00">
					</div>
				</div>
				<div class="errors">
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-success" data-confirm="modal">{{ 'buttons.add'|trans }}</button>
				<button type="button" class="btn btn-secondary" data-dismiss="modal">{{ 'trainers.planning.modal.add.btn_cancel'|trans }}</button>
			</div>
		</div>
	</div>
</div>