<div id="ask-replacement" class="modal fade col-md-12" tabindex="-1" role="dialog">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h3 class="modal-title">{{ 'global.ask_replacement' |trans }}</h3>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body text-center">
				<p id="txt">{{ 'global.replacement_content' |trans }}</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">{{ 'buttons.close'|trans }}</button>
				<button  id="btnReplacementAction" type="submit" class="btn btn-primary">{{ 'buttons.confirm'|trans }}</button>
			</div>
		</div>
	</div>
</div>
<script>
	$('#btnReplacementAction').on('click', function () {
		$.ajax({
			'url': '/trainer/planning/request/replacement',
			'method': 'POST',
			'data' : {
				'bookingId': $('#bookingId').val()
			}
		}).done(function (response) {
			location.reload();
		}).fail(function (response) {
			console.log(response)
		})
	});
</script>