<div id="assign-trainer-modal" class="modal" tabindex="-1" role="dialog">
	<div class="modal-dialog" role="document">
		<div class="modal-content">

			<div class="modal-header">
				<h5 class="modal-title" id="modal-title">{{ 'admin.interventions.create.step4.select_available_trainers'|trans }}</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">×</span>
				</button>
			</div>

			<div class="modal-body">
				<dl>
					<div id="session-list">
					</div>
				</dl>
			</div>
			<div class="modal-footer">
				<input type="hidden" id="modal-module-id" name="modal-module-id" value="">
				<button id="individual-remote-session-submit" class="btn btn-deepmark-orangelight hidden" moduleId="" disabled>{{ 'global.validate'|trans }} </button>
			</div>
		</div>
	</div>
</div>