<div id="contentTooltip" class="row info-avatar bg-white">
    <div class="col-md-12 text-right">
        <button class="btn btn-sm pink">S’ABONNER</button>
    </div>
    <div class="col-md-12 user flex--center">
        <img class="photo" src="/img/default-avatar.png">
    </div>
    <div class="col-md-12 pad-t-20 text-center">
        <b class="font-size-20">{{ profile.displayName}}</b>
{#        <p class="bold font-size-14">DIRECTEUR</p>#}
        <p class="font-size-18">{{ profile.getEntity().getOrganisation().getDesignation()}}, {{ profile.getEntity().getDesignation() }}</p>
        <p><span class="bold">21</span> contenus publiés  &nbsp; &nbsp;<i class="fa fa-info-circle font-size-18 c-light"></i></p>
    </div>
    <div class="col-md-12 flex--center font-size-25 d-inline-flex">
        <span class="bold">{{ ranking }}</span>&nbsp; &nbsp;
        {{ include('molecules/widgets/ratings.html.twig', { max: 5, grade: ranking  }) }}
{#        &nbsp; &nbsp;<span>5 avis</span>#}
    </div>
    <div class="col-md-12 text-left pad-t-30">
        <p class="no-margin font-size-11 text-gray">
            DERNIERE(S) PUBLICATION(S)
        </p>
    </div>
    <div class="col-md-12 marg-t-10 marg-b-15">
        <div class="row pad-t-5 pad-b-5 btn-deepmark-green-light color-header" style="border-radius: 40px;">
            <div class="col-md-10 pad-l-20 pad-t-5 pad-b-5 text-left">
                <p class="bold c-green no-margin font-size-12">Les clés du developpements personn...</p>
                <p class="font-size-11 no-margin c-green">le : 01.02.2020</p>
            </div>
            <div class="col-md-2 no-padding-left flex--center justify-content-end">
                <a class="btn btn-deepmark-green btn-round text-white btn-just-icon width-40 height-40 cursor-none">
                    <i class="fa fa-camera line-height-40"></i>
                    <div class="ripple-container"></div>
                </a>
            </div>
        </div>
    </div>
    <div class="col-md-12 marg-t-10 marg-b-15">
        <div class="row pad-t-5 pad-b-5 btn-deepmark-light color-header" style="border-radius: 40px;">
            <div class="col-md-10 pad-l-20 pad-t-5 pad-b-5 text-left">
                <p class="bold color-header no-margin font-size-12">Les clés du developpements personn...</p>
                <p class="font-size-11 no-margin color-header">le : 01.02.2020</p>
            </div>
            <div class="col-md-2 no-padding-left flex--center justify-content-end">
                <a class="btn btn-deepmark btn-round c-white btn-just-icon width-40 height-40 cursor-none">
                    <i class="fa fa-camera line-height-40"></i>
                    <div class="ripple-container"></div>
                </a>
            </div>
        </div>
    </div>
</div>