<style>
    #modal-session-date-new::first-letter { text-transform: capitalize; }
</style>
<div id="dashboard-calendar-modal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"
                        aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body book-modal-detail">
                <div class="col-md-12 text-center no-padding">
                    <h3 id="modal-type" class="color-header bold"></h3>
                    <h4 class="bold"  id="modal-title-module"></h4>
                    <h5 id="modal-intervention"></h5>
                    <embed src="/images/clock.svg" width="22" height="22"
                           type="image/svg+xml"/>&nbsp;&nbsp;
                    <span class="color-header font-size-30 bold" id="modal-duration"></span>
                </div>
                <div class="col-md-12 no-padding divStatus marg-t-20 ">
                    <div class="col-md-12 flex--center  module text-left justify-content-none" >
                        <span class="module-circle booked" style="background-color:#28c612; width: 20px!important; height: 20px!important; display: none "></span> &nbsp; &nbsp; <span class="booked booked-status-des" > &nbsp;{{ 'popup.booked'|trans }}!</span>
                        <span class="module-circle expired"  style="background-color:grey; width: 20px!important; height: 20px!important; display: none"></span> &nbsp; &nbsp; <span class="expired expired-status-des"> &nbsp;{{ 'popup.expired'|trans }}!</span>
                    </div>
                    <div class="col-md-12 no-padding row text-center book-bg" >
                        <div class="col-md-12 pad-t-10">
                            <h3  id="modal-session-date-new" class="bold no-margin"></h3>
                            <h3 class="font-weight-600">{{ 'global.from_txt'|trans }} <span id="timeDuration"></span></h3>
                            <p class="font-weight-600 color-header">{{ 'popup.with_trainer'|trans }}</p>
                        </div>
                        <div class="col-md-4 col-3 no-padding text-right">
                            <i class="fas fa-user"></i>
                        </div>
                        <div class="col-md-8 col-9 text-left">
                            <p class="no-margin" id="modal-trainer-display-name"></p>
                        </div>
                        <div class="col-md-4 col-3 no-padding text-right">
                            <i class="fa fa-phone" aria-hidden="true"></i>
                        </div>
                        <div class="col-md-8 col-9 text-left">
                            <p class="no-margin" id="modal-mobile-phone"> </p>
                        </div>
                        <div class="col-md-4 col-3 no-padding text-right">
                            <i class="fa fa-envelope" aria-hidden="true"></i>
                        </div>
                        <div class="col-md-8 col-9 text-left word-break">
                            <p class="no-margin" id="modal-other-email"></p>
                        </div>
                        <div class="col-md-12 text-center divForClassroom marg-t-15" style="display: none">
                            <i class="fas fa-map-marker-alt font-size-25 marg-b-15"  aria-hidden="true"></i>
                            <p id="modal-address"></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="col-md-12 text-center">
                    {% if not is_granted('ROLE_ADMIN') %}
                        <button id="modal-book-online-session" type="button"
                                class="btn btn-deepmark"
                                data-dismiss="modal">{{ 'email.view'|trans|capitalize }}</button>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>