<style>
    #modal-session-date-new::first-letter { text-transform: capitalize; }
</style>
<div id="dashboard-calendar-modal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"
                        aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body book-modal-detail">
                <div class="col-md-12 text-center no-padding">
                    <h3 id="modal-type" class="color-header bold"></h3>
                    <h4 class="bold"  id="modal-title-module"></h4>
                    <h5 id="modal-intervention"></h5>
                    <span class="color-header">{{ 'base.dropdown_trainer_dashboard'|trans  }} : </span><span id="modal-trainer-display-name"></span>
                </div>
                <div class="col-md-12 row no-padding divStatus marg-t-20">
                    <div class="col-md-6 flex--center  module text-left justify-content-none" >
                        <span class="module-circle booked" style="background-color:#28c612; width: 20px!important; height: 20px!important; display: none "></span> &nbsp; &nbsp; <span class="booked  booked-status-des" > &nbsp;{{ 'learners.courses.status.booked'|trans }}!</span>
                        <span class="module-circle expired"  style="background-color:grey; width: 20px!important; height: 20px!important; display: none"></span> &nbsp; &nbsp; <span class="expired expired-status-des" > &nbsp;{{ 'learners.courses.status.expired'|trans }}!</span>
                    </div>
                    <div class="col-md-6 text-right flex--center justify-content-end">
                        <embed src="/images/clock.svg" width="22" height="22"
                               type="image/svg+xml"/>&nbsp;&nbsp;
                        <span class="color-header bold font-size-18" id="modal-duration"></span>
                    </div>
                    <div class="col-md-12 no-padding row text-center  book-bg" >
                        <div class="col-md-12 pad-t-10" >
                            <h3 id="modal-session-date-new" class="no-margin bold"></h3>
                            <h3 class="font-weight-600">{{ 'global.from_txt'|trans }} <span id="timeDuration"></span></h3>
                            <p class="divForVirtual">
                                <i class="font-size-30 fa fa-laptop color-header"></i>
                            </p>
                            <p class=" color-header">with <span class="bold" id="numberLearner"></span> <span class="bold">learner(s)</span></p>
                        </div>
                        <div class="row col-md-12 divForRemote no-padding marg-b-15" style="display: none">
                            <div class="col-md-2 col-3 no-padding text-right">
                                <i class="fas fa-user color-header"></i>
                            </div>
                            <div class="col-md-10 col-9 text-left">
                                <p class="no-margin" id="learnerName"></p>
                            </div>
                            <div class="col-md-2 col-3 no-padding text-right">
                                <i class="fa fa-phone  color-header" aria-hidden="true"></i>
                            </div>
                            <div class="col-md-10 col-9 text-left">
                                <p class="no-margin" id="learnerMobile"> </p>
                            </div>
                            <div class="col-md-2 col-3 no-padding text-right">
                                <i class="fa fa-envelope color-header" aria-hidden="true"></i>
                            </div>
                            <div class="col-md-10 col-9 word-break text-left">
                                <p class="no-margin" id="learnerEmail"></p>
                            </div>
                            <div class="col-md-2 col-3 no-padding text-right">
                                <i class="fas fa-briefcase  color-header"></i>
                            </div>
                            <div class="col-md-10 col-9 text-left">
                                <p class="no-margin" id="learnerEntity"></p>
                            </div>
                        </div>
                        <div class="row col-md-12 divForVirtual no-padding marg-b-15" style="display: none">
                            <div class="col-md-2 col-3 no-padding text-right">
                                <i class="fas fa-briefcase  color-header"></i>
                            </div>
                            <div class="col-md-10 col-9 text-left">
                                <p class="no-margin entity" ></p>
                            </div>
                        </div>
                        <div class="col-md-12 row no-padding divForClassroom marg-b-15" style="display: none">
                            <div class="col-md-2 col-3 no-padding text-right">
                                <i class="fas fa-briefcase  color-header"></i>
                            </div>
                            <div class="col-md-10 col-9 text-left">
                                <p class="no-margin entity"></p>
                            </div>
                            <div class="col-md-2 col-3 no-padding text-right">
                                <i class="fas fa-map-marker-alt color-header"></i>
                            </div>
                            <div class="col-md-10 col-9 text-left">
                                <p class="no-margin" id="modal-address"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="col-md-12 text-center">
                    <button type="button"
                            class="btn btn-deepmark"
                            data-dismiss="modal">{{ 'email.view'|trans|capitalize }}</button>
                </div>
            </div>
        </div>
    </div>
</div>

