<div id="cancel-confirmation-modal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 id="cancel-confirmation-title" class="modal-title">{{ 'popup.mes_cancel'|trans }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ 'buttons.close'|trans }}</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal" id="cancel-booking">{{ 'learners.courses.cancel_booking' | trans }}</button>
            </div>
        </div>
    </div>
</div>