<div id="changeCourseInformation" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <form id="formCourseInformation" method="post" action="{{ url('admin_intervention_edit_information') }}">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title bold" id="exampleModalLongTitle">{{ 'global.change_course_information'|trans }}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body book-modal-detail">
                    <div class="row">
                        <div class="col-12 pad-l-0 pad-t-20">
                            <div id="logoPreview" style="height: 230px ;background-repeat: no-repeat; background-position: center; background-size: contain; {% if intervention is defined and intervention.logo.path is defined and intervention.logo.path %} background-image: url('/files{{ asset(intervention.logo.path) }}') {% endif %}" class="row w-100 border-header backgroud-deepmark-light flex--center">
                                <div class="add-file flex--center col-sm-12">
                                    <div class="row text-center">
                                        <span class="input-group-btn flex--center marg-t-60" style="padding-left: 0 !important;">
                                            <span class="btn-file-upload btn-round height-36 flex--center bg-white btn btn-file">
                                                <i class="color-header fa fa-plus"></i>
                                                {% set folderName = date('now')|date('YmdHis') + random(100) %}
                                                <input type="file" data-type="icons" data-id="icons" name="file[{{ folderName }}][file][logo]" id="logo-upload">

                                                {% set logoPath =  intervention.logo is defined and intervention.logo is not null ?  intervention.logo.path : "" %}
                                                <input type="hidden" data-type="icons" data-id="icons" id="logo-path" value="{{ logoPath }}" name="storedLogo">

                                                {% set logoName = intervention.logo.name is defined and intervention.logo.name is not null ? intervention.logo.name : "" %}
                                                <input type="hidden" data-type="icons" data-id="icons" id="file-name" value="{{ logoName }}" name="logoName">
                                            </span>
                                        </span>
                                    </div>
                                </div>
                                <p class="color-header"><i class="fa fa-camera" aria-hidden="true"></i>&nbsp;&nbsp;{{ 'admin.interventions.create.step1.upload_icons'|trans }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 pad-l-0 pad-t-20">
                            <div class="form-group no-margin row">
                                <label class="d-none col-sm-2 col-form-label required" for="intervention-title">
                                    {{ 'admin.interventions.create.step1.name'|trans }}
                                </label>
                                {% set title = intervention is defined and intervention is not null ? intervention.designation : "" %}
                                <div class="col-sm-12 no-padding">
                                    <input type="text" class="form-control btn-deepmark-light background-image-none color-header pad-l-15" placeholder="{{ 'admin.interventions.create.step1.name'|trans }}" name="title" id="intervention-title" value="{{ title }}" required>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 pad-l-0 pad-t-20">
                            <div class="form-group no-margin row bmd-form-group no-padding">
                                <label class="col-sm-2 d-none col-form-label">{{ 'admin.interventions.create.step1.description'|trans }}</label>
                                <div class="col-sm-12 col-md-12 no-padding">
                                    {% set description = intervention is defined and intervention is not null ? intervention.comment : "" %}
                                    <textarea name="description" id="intervention-description">{{ description }}</textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 pad-l-0 pad-t-20">
                            <object data="/images/calendar_gray.svg" width="15" height="15"
                                    type="image/svg+xml"></object>&nbsp;&nbsp;&nbsp;
                            <label class="c-black" for="startDate">{{ 'table.modules.start_date'|trans|capitalize }}</label> :&nbsp;
                            {% set startDate = intervention is defined and intervention is not null ? intervention.beginning|date('d/m/Y') : "" %}
                            <input id="startDate" type="text" class="cdform-control datepicker border-header border-radius-5 width-110" name="intervention_start_date" value="{{ startDate }}" required>
                        </div>
                        <div class="col-md-12 pad-l-0 marg-t-10">
                            <object data="/images/calendar_gray.svg" width="15" height="15"
                                    type="image/svg+xml"></object>&nbsp;&nbsp;&nbsp;
                            <label class="c-black" for="endDate">{{ 'table.modules.end_date'|trans|capitalize }}</label> : &nbsp;&nbsp;
                            {% set endDate = intervention is defined and intervention is not null ? intervention.ending|date('d/m/Y') : "" %}
                            <input id="endDate" type="text" class="cdform-control datepicker border-header border-radius-5 width-110" name="intervention_end_date" value="{{ endDate }}" required>
                        </div>
                    </div>
                </div>
                <div class="modal-footer ">
                    <div class="row col-xs-12 col-md-12 ">
                        <input type="hidden" name="id" value="{{ intervention.id }}">
                        <div class="col-xs-6 col-6 col-md-6  text-left">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ 'buttons.close'|trans }}</button>
                        </div>
                        <div class="col-xs-6 col-6  col-md-6 text-right">
                            <button type="submit" class="btn btn-primary">{{ 'buttons.confirm'|trans }}</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<script>
    new Jodit("#intervention-description", {
        toolbarAdaptive: false,
        buttons: "bold,strikethrough,underline,italic,eraser,|,ul,ol,|,outdent,indent,|,font,fontsize,brush,paragraph,copyformat,preview"
    });

    $('#logo-file-icon').on('click', function () {
        $('.listDataFileAlreadyUploadModalNew').modal({
            show: true,
            toggle: true
        });
    });

    // this is the id of the form
    $("#formCourseInformation").submit(function(e) {

        e.preventDefault(); // avoid to execute the actual submit of the form.

        let form = $(this);
        let url = form.attr('action');

        $.ajax({
            type: "POST",
            url: url,
            data: form.serialize(), // serializes the form's elements.
            success: function(response)
            {
                $("#changeCourseInformation").modal('hide');
                if (response.status) {
                    swal({
                        title: "Success",
                        text: '{{"booking.session_messages.change_course_information_success"|trans}}',
                        type: "success",
                        confirmButtonClass: "btn-primary",
                        confirmButtonText: "OK",
                        allowOutsideClick: false
                    }).then(function() {
                        location.reload();
                    })
                }
            }
        });
    });

    $(document).ready(function () {
        $('#logo-upload').on('change', function () {
            readURL(this);
        });
        bindLogoUploader();
    });

    function bindLogoUploader() {
        const uploadOptions = {
            success: function (data) {
                $('#file-name').val(data.result.fileName);
                $('#logo-table-name').text(data.result.fileName);
                $('#logo-path').val(data.result.filePath);
                $('#logoPreview').attr('src', data.result.filePath);
                $('#logoPreview').show();
                $('#logo-file-icon').removeClass('hidden');
            },
            failure: function (data) {
                $('#logoFileIcon').addClass('hidden');
            }
        };

        initFileUploader($('#logo-upload'), '/admin/courses/logo_upload', uploadOptions);

        $('#logo-file-icon').on('click', function () {
            $('.listDataFileAlreadyUploadModalNew').modal({
                show: true,
                toggle: true
            });
        });
    }

    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function(e) {
                $('#logoPreview').css("background-image", "url("+e.target.result+")");
            }

            reader.readAsDataURL(input.files[0]);
        }
    }
</script>