<div id="create-quiz-modal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <h4 class="text-center">{{ 'admin.interventions.create.modal.quiz_title'|trans }}</h4>

                <div id="quiz-builder">

                </div>
            </div>
        </div>
    </div>
</div>
