<div id="dashboard-activity-modal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"
                        aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>

            <div class="modal-body book-modal-detail" >
                <div class="col-md-12 text-center">
                    <div class="modal-sub-header">
                        <div class="modal-yellow-icon-container">
                            <i class="fa fa-bolt fa-bolt-custom" aria-hidden="true"></i>
                        </div>
                    </div>
                    <h2 class="bold">{{ 'popup.hello'|trans }}</h2>
                    <h4 class="bold"  id="modal-title-module">{{ 'learners.dashboard.modal.message'|trans }} ?</h4>
                </div>
            </div>

            <div class="modal-footer ">
                <div class="row col-xs-12 col-md-12 ">
                    <div class="col-xs-6 col-6 col-md-6  text-left">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ 'learners.dashboard.modal.btn_no'|trans }}</button>
                    </div>
                    <div class="col-xs-6 col-6  col-md-6 text-right">
                        <button type="button" class="btn btn-deepmark" data-confirm="modal">{{ 'learners.dashboard.modal.btn_yes'|trans }}<div class="ripple-container"></div></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>