<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<form id="formDelete" method="post" action="{{ url }}">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body text-center">
					{% if isDelete is defined and isDelete == 1 %}
						{{ 'popup.user_delete'|trans }}
						<br />
						<span class="text-danger font-size-14">{{ 'popup.attention_user_delete'|trans }}</span>
					{% else %}
						{{ 'popup.user_deactivate'|trans }}
					{% endif %}
				</div>
				<div class="modal-footer">
					<input type="hidden" name="isDelete" value="{{ isDelete }}">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">{{ 'buttons.close'|trans }}</button>
					<button type="submit" class="btn btn-primary">{{ 'buttons.confirm'|trans }}</button>
				</div>
			</div>
		</form>
	</div>
</div>