<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body text-center">
				<span class="text-danger font-size-14">{{ 'popup.course_delete'|trans }}</span>
			</div>
			<div class="modal-footer">
				<input type="hidden" id="deleteId">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">{{ 'buttons.close'|trans }}</button>
				<button id="submitAct" type="submit" class="btn btn-primary">{{ 'buttons.confirm'|trans }}</button>
			</div>
		</div>
	</div>
</div>