<style>
.flex {
  display: flex;
  align-items: center;
}
.ripple-container {
	display: none;
}
.badge-res{
 	display: inline-block!important;
 	vertical-align: middle!important;
	background-color: white!important;
	border:1px solid #0076fe!important;
	height: 20px!important;
	padding: 5px!important;
 }
#detail-quiz-modal .modal-body {
	max-height: 600px;
	overflow-y: auto;
}
.detail-question{
	max-height: 500px;
	overflow-y: auto;
}

.modal-dialog{
	perspective: 1000px;
}
.modal-content{
	transform-style: preserve-3d!important;
	transition: transform 2s!important;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	border-radius: 10px!important;
}
.contentLearnMore {
	transform: rotateY( 180deg)!important;
}
.backPopupBtn{
	/*transform: rotateY( 180deg)!important;*/
}
.flipped {
	transform: rotateY( 180deg)!important;
}
</style>
<div id="detail-quiz-modal" class="modal scroll-custom" tabindex="-1" role="dialog">
	<div class="modal-dialog" role="document" style="max-width: 70%">
		<div id="modal-content" class="modal-content">
			<div class="modal-header no-margin no-padding row btn-deepmark">
				<div class="col-md-11 modal-header-class">
					<h5 class="modal-title text-left">{{ 'learners.courses.quiz.step_title'|trans|capitalize }} <span id="step_number"></span>. <span id="modal-title-popup"></span></h5>
				</div>
				<div class="col-md-1 modal-header-class pad-t-10 justify-content-end flex--center">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close" style="opacity: unset!important;">
						<span aria-hidden="true" class="font-size-30 text-white">×</span>
					</button>
				</div>
			</div>
			<div id="detailQuiz" class="modal-body no-padding no-margin" style="padding-bottom: 20px!important;">
			</div>
			<div class="row contentLearnMore" style="display: none;">
				<div class="col-md-12 row pad-15 btn-orangelight" style="border-top-left-radius: 0.3rem; border-top-right-radius: 0.3rem;">
					<div class="col-md-2"></div>
					<div class="col-md-8 text-uppercase text-center text-white">{{ 'global.find_out_more_btn'|trans }} +</div>
					<div class="col-md-2 text-right">
						<a class="backPopupBtn cursorPointer">
							<i class="fa fa-times text-white"></i>
						</a>
					</div>
				</div>
				<div id="contentLearnMore" class="modal-body no-padding no-margin" style="border-bottom-left-radius: 0.3rem; border-bottom-right-radius: 0.3rem;">
				</div>
			</div>
		</div>
	</div>
</div>
<script>
	$(function() {
		$('#detail-quiz-modal').modal({
			show: false,
			keyboard: false,
			backdrop: 'static'
		});
	});
	$('#detail-quiz-modal').on('hidden.bs.modal', function (event) {
		// $(".backPopupBtn").click();
		$('video').each(function(index){
			$(this).get(0).pause();
		});
		$('audio').each(function(){
			this.pause(); // Stop playing
			this.currentTime = 0; // Reset time
		});
	});
	$('.backPopupBtn').on('click', function() {
		$('.modal-content').toggleClass('flipped');
		setTimeout( function() {
			$(".modal-header-class").show();
			$(".contentLearnMore").hide();
			$("#detailQuiz").show();
		}, 500 );
	});
</script>