<div id="importationSignatureOption" class="modal fade col-md-12" tabindex="-1" role="dialog">
	<div class="modal-dialog modal-xs" role="document">
		<div class="modal-content">
			<div class="modal-header ">
				<h3 id="quitSessionTitle" class="modal-title no-margin color-header font-size-18 bold text-uppercase">{{ 'global.quit_session'|trans }}</h3>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body text-center marg-t-10">
				<p class="color-header ">{{ 'global.warning_quit_session_importation_text'|trans }}</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">{{ 'buttons.cancel'|trans }}</button>
				<button type="button" class="btn btn-orangelight" data-confirm="modal" id="quitSessionImportationConfirm">{{ 'buttons.continue'|trans }}</button>
			</div>
		</div>
	</div>
</div>