<div class="td-modal__wrapper">
	<div class="row">
		<div class="col-md-3">
			<p style="display: inline-block;">
                {{ 'Parcours séquentiel'|trans }}
			</p>

			<div class="togglebutton" style="display: inline-block">
				<label>
                    {% if intervention %}
						<input type="checkbox" checked="checked" disabled>
						<span class="toggle"></span>
                    {% else %}
						<input type="checkbox" disabled>
						<span class="toggle"></span>
                    {% endif %}
				</label>
			</div>
		</div>

		<div class="col-md-3">
			<div class="row">
				<div class="col-md-3">
					<p>Sup. 1 :</p>
				</div>
				<div class="col-md-9">
					<p>
                        {{ intervention.admin.displayName }}<br>
                        {{ intervention.admin.mobilePhone }}<br>
                        {{ intervention.admin.otherEmail }}
					</p>
				</div>
			</div>
		</div>
	</div>
    {% if intervention.modules %}
		<h3>Modules</h3>
		<div class="table-responsive">
			<table class="table">
                {% for module in intervention.modules %}
					<tr class="background-white">
						<td>
							<strong>{{loop.index}}</strong> <i class="fal fa-box-open"></i>
                            {{ module.storedModule.designation }}
						</td>

						<td>
                            {{ module.designation }}
						</td>

						<td>
                            {{ module.duration| date('H.i') }}h
						</td>

						<td>
							<a href="#"><i class="fal fa-file"></i></a>
						</td>

						<td>
                            {{ include('molecules/widgets/student-progress.html.twig', { percent: 0, displayText: false }) }}
							0%
						</td>

						<td>
                            {{ include('molecules/widgets/ratings.html.twig', { grade: 0, max: 5 }) }}
						</td>
						<td>
                            {% for assigment in module.assigments %}
								<p>{{ assigment.liveResource.displayName }}</p>
                            {% endfor %}
						</td>
					</tr>
                {% endfor %}
			</table>
		</div>
    {% endif %}
    {% if intervention.learners %}
		<h3>Learners</h3>
		<div class="table-responsive">
			<table class="table">
                {% for learnerIntervention in intervention.learners %}
					<tr class="background-white">
						<td>
							<strong>{{loop.index}}</strong> <i class="fal fa-user"></i>
                            {{ learnerIntervention.learner.displayName }}
						</td>
					</tr>
                {% endfor %}
			</table>
		</div>
    {% endif %}

	<div class="ratings-modal">
        {{ include('molecules/interventions/ratings-modal.html.twig') }}
	</div>
</div>
</div>
