<div class="td-modal__wrapper">
	<div class="row">
		<div class="col-md-6">
			<div class="row">
				<div class="col-md-6">
				</div>

				<div class="col-md-6">
					<p>
						<strong>{{ 'global.addr'|trans }}</strong><br>
                        {{ manager.entity.designation }}<br>
                        {{ manager.entity.street }}<br>
                        {% if manager.entity.organisation is not null %}
                            {{ manager.entity.organisation.zipCode }} {{ manager.entity.organisation.city }}
                        {% endif %}
					</p>
				</div>
			</div>
		</div>

		<div class="col-md-6">
		</div>
	</div>

	<div class="table-responsive">
		<table class="table table-striped">
			<thead>
			<tr>
				<th>{{ 'table.interventions.intervention'|trans }}</th>
				<th>{{ 'table.interventions.sup'|trans }}</th>
				<th>
                    {{ 'table.billing_code'|trans }}
				</th>
				<th>{{ 'table.interventions.start_end'|trans }}</th>
				<th>{{ 'table.nb_coll_invlvd'|trans }}</th>
				<th>{{ 'table.grade'|trans }}</th>
				<th>{{ 'table.billing'|trans }}</th>
				<th>{{ 'table.status'|trans }}</th>
				<th>{{ 'table.action'|trans }}</th>
			</tr>
			</thead>

			<tbody>
            {% for intervention in interventionsManager %}
                {% if intervention.customer and intervention.customer == manager %}
					<tr>
						<td>
                            {{ intervention.designation }}
						</td>

						<td>
							Chloé DUPIN <br>
							0645974854<br>
							chloe.d@bpn.fr
						</td>

						<td>
							BNPVAD <br>
							10027
						</td>

						<td>
                            {{ intervention.beginning |date("Y-m-d")}}<br>
                            {{ intervention.ending |date("Y-m-d")}}
						</td>

						<td>
							89/167
						</td>

						<td>
                            {{ include('molecules/widgets/ratings.html.twig', { max: 5, grade: 0 }) }}
						</td>

						<td>
							<br>
							<a href="#" class="btn btn-sm btn-deepmark-red">{{ 'buttons.charge'|trans }}</a>
						</td>

						<td>
                            {% if intervention.status is defined and intervention.status is not null%}
                                {% if intervention.status.designation is not null %}
                                    {% if intervention.status.designation == "scheduled" or
                                        intervention.status.designation == "reserved" %}
										<span class="text-deepmark-blue">{{ intervention.status.designation |trans|upper }}</span>
                                    {% elseif intervention.status.designation == "canceled" or
                                        intervention.status.designation == "reported"%}
										<span class="text-deepmark-red">{{ intervention.status.designation |trans|upper }}</span>
                                    {% elseif intervention.status.designation == "done" %}
										<span class="text-deepmark-green">{{ intervention.status.designation |trans|upper }}</span>
                                    {% endif %}
                                {% endif %}
                            {% endif %}
						</td>

						<td>
							<a href="#"><i class="fal fa-pen"></i></a>
							<a href="#"><i class="fal fa-trash"></i></a>
						</td>
					</tr>
                {% endif %}
            {% endfor %}
			</tbody>
		</table>
	</div>
</div>
