<style>
    #date::first-letter { text-transform: capitalize; }
</style>
<div id="online-calendar-modal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3  class="modal-title font-weight-800 color-header">{{ 'learners.courses.choose_session' | trans }}</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <fieldset id="modal-hour-select" class="dm-radio-fieldset pt-3">
                    </fieldset>
                </div>

                <div class="form-group selectTrainer d-none">
                    <label for="modal-trainer-select">{{ 'learners.courses.select_trainer' | trans }}</label>
                    <select data-style="select-with-transition" class="form-control selectpicker" id="modal-trainer-select"></select>
                </div>
            </div>
            <div class="modal-footer text-right">
                <input type="hidden" name="learner-id" id="learner-id" value="{{ app.request.get('profileId') }}">
                {% if (module is defined and module.isPersonalBooking is defined and module.isPersonalBooking == 1 and is_granted('ROLE_LEARNER')) or (is_granted('ROLE_ADMIN') or (is_granted('ROLE_SUPERVISOR'))) %}
                <div class="col-md-12 text-right no-padding">
                    <a id="book-online-session-confirm" class="text-white btn btn-deepmark">{{ isBooked ? 'popup.change_booking'|trans : 'buttons.book'|trans }}</a>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>

<div id="online-calendar-confirm-modal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header row">
                <div class="col-md-1"></div>
                <div class="col-md-10 no-padding text-center">
                    <p class="modal-title font-weight-800 font-size-20 color-header no-margin">{{ 'popup.book_your'|trans }}</p>
                    <p class="no-margin color-header font-size-20" >{{ 'popup.individual_remote_session'|trans }}</p>
                </div>
                <div class="col-md-1 no-padding">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
            </div>
            <div class="modal-body online-book-modal">
                <div class="col-md-12 no-padding row text-center online-book-modal-detail">
                    <div class="col-md-12 pad-t-30">
                        <h3 id="date" class="no-margin bold"></h3>
                        <h3 class="font-weight-600">{{ 'global.from_txt'|trans }} <span id="timeStart"></span> {{ 'global.to_txt'|trans }} <span id="timeEnd"></span></h3>
                        <p class="font-weight-600 color-header" >{{ 'popup.with_trainer'|trans }}</p>
                    </div>
                    <div class="col-3 no-padding text-right">
                        <i class="fas fa-user"></i>
                    </div>
                    <div class="col-9 text-left">
                        <p class="no-margin" id="name"></p>
                    </div>
                    <div class="col-3 no-padding text-right">
                        <i class="fa fa-phone" aria-hidden="true"></i>
                    </div>
                    <div class="col-9 text-left">
                        <p class="no-margin" id="phone"> </p>
                    </div>
                    <div class="col-3 no-padding text-right">
                        <i class="fa fa-envelope" aria-hidden="true"></i>
                    </div>
                    <div class="col-9 text-left">
                        <p class="no-margin" id="mail"></p>
                    </div>
                    <div class="col-md-12 text-center pad-t-15 font-size-30 pad-b-15"  >
                        <i class="fa fa-laptop color-header" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
            <div class="modal-footer text-right">
                <input type="hidden" name="learner-id" id="learner-id" value="{{ app.request.get('profileId') }}">
                <div class="col-md-6 no-padding text-left">
                    <button type="button" class="btn btn-default " data-dismiss="modal">{{ 'buttons.cancel'|trans }}</button>
                </div>
                <div class="col-md-6 text-right">
                    {% if (module is defined and module.isPersonalBooking is defined and module.isPersonalBooking == 1 and is_granted('ROLE_LEARNER')) or (is_granted('ROLE_ADMIN') or (is_granted('ROLE_SUPERVISOR'))) %}
                    <button id="book-online-session" type="button" class="btn btn-deepmark"
                            data-dismiss="modal">{{ 'global.ok'|trans }}</button>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function() {

        $('#book-online-session-confirm').on('click', function () {
            var datetime = moment($("input[name=modal-hour-select]:checked").val());
            var date = datetime.format('dddd D MMMM ');
            var timeStart = datetime.format('HH:mm');
            var timeEnd = datetime.add({{ durationJs }}, 'minutes').format('HH:mm');
            $("#date").text(date);
            $("#timeStart").text(timeStart);
            $("#timeEnd").text(timeEnd);
            var trainerId = $("#modal-trainer-select").val();
            var name = $("#modal-trainer-select option:selected").text();
            $("#name").text(name);
            $.ajax({
                'url': '{{ path('learner_courses_get_trainer') }}',
                'method': 'POST',
                'data': {
                    'trainer_id': trainerId
                }
            }).done(function(data) {
                $("#mail").text(data.mail);
                $("#phone").text(data.phone);
                $("#online-calendar-modal").modal("hide");
                $("#online-calendar-confirm-modal").modal("show");
            })

        });
    });

</script>