<div id="sign" class="modal fade col-md-12" tabindex="-1" role="dialog">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h3 class="modal-title no-margin color-header font-size-18 bold text-uppercase">{{ 'global.choose_signature_mode'|trans }}</h3>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body text-center">
				<section class="col-lg-12">
					<div class="row course-card marg-t-20">
						<div class="col-md-6 flex--center">
							<button type="button" id="digitalSignature" class="btn {{ module.signatureMethod == 1 or module.signatureMethod is null ? 'btn-deepmark-orangelight' : 'btn-deepmark-default' }} btn-sm" {% if module.signatureMethod == 1 or module.signatureMethod is null %}data-toggle="modal" data-target="#attendance-sheet"{% endif %}>
								<i class="fas fa-fingerprint"></i>
								<span>{{ 'global.option_one'|trans }}</span>
							</button>
						</div>
						<div class="flex--center col-md-6">
							<button type="button" id="importSignature" class="btn {{ module.signatureMethod == 0 or module.signatureMethod is null ? 'btn-deepmark-orangelight' : 'btn-deepmark-default' }} btn-sm" {% if module.signatureMethod == 0 or module.signatureMethod is null %}data-toggle="modal" data-target="#attendance-sheet-download" {% endif %}>
								<i class="fas fa-fingerprint"></i>
								<span>{{ 'global.option_two'|trans }}</span>
							</button>
						</div>
					</div>
				</section>
			</div>
		</div>
	</div>
</div>