<div class="modal fade" id="publishBestPractice" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog  modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-center">
                <p class="color-header bold">{{ 'popup.publish_best_practice'|trans|raw }}</p>
                <div class="form-group text-left marg-t-20">
                    <label for="exampleFormControlTextarea1">{{ 'popup.publication_date'|trans|raw }}</label>
                    <input name="publishDate" id="publishDate" type="text" class="form-control datepicker">
                </div>
                <div class="form-group text-left marg-t-20">
                    <label for="exampleFormControlTextarea1">{{ 'popup.share_to_organization'|trans|raw }}</label>
                    <select id="organizationId" class="form-control selectpicker organizationId" data-container="body" data-style="btn btn-link">
                        {% set organizations = searchParam.organization %}
                        {% for organization in organizations %}
                            <option value="{{ organization.id }}">{{ organization.designation }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group text-left marg-t-20">
                    <label for="entityId">{{ 'popup.share_to_entity'|trans|raw }}</label>
                    <select id="entityId" class="form-control selectpicker" data-container="body" data-style="btn btn-link">
                        {% if is_granted('ROLE_TRAINER') or is_granted('ROLE_LEARNER') %}
                            <option value="{{ api.profile.entity.id }}">{{ api.profile.entity.designation }}</option>
                        {% endif %}
                    </select>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ 'buttons.close'|trans }}</button>
                <button  id="btnPublishAction" type="submit" class="btn btn-primary">{{ 'buttons.publish_best_practice'|trans }}</button>
            </div>
        </div>
    </div>
</div>