<!-- Modal recurring availability-->
{% if modal == 1 %}
<div class="modal fade" id="recurringPopup" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header padding-bottom-15">
				<h4 class="color-header bold modal-title" >{{ 'global.recurring_availability'|trans }}</h4>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body border-top-header no-padding">
				<div class="row pad-t-10">
					<div class="col-md-9">
						<ul>
							{{ include ('molecules/workingHours/newDayItem.html.twig', {'day': 'global.monday'|trans|capitalize, 'dayName': 'Monday', 'start': organisation.workingHours['Monday']['startTime']|default(null), 'end': organisation.workingHours['Monday']['endTime']|default(null), 'startTimeAfternoon': organisation.workingHours['Monday']['startTimeAfternoon']|default(null), 'endTimeAfternoon': organisation.workingHours['Monday']['endTimeAfternoon']|default(null) }) }}
							{{ include ('molecules/workingHours/newDayItem.html.twig', {'day': 'global.tuesday'|trans|capitalize, 'dayName': 'Tuesday', 'start': organisation.workingHours['Tuesday']['startTime']|default(null), 'end': organisation.workingHours['Tuesday']['endTime']|default(null), 'startTimeAfternoon': organisation.workingHours['Tuesday']['startTimeAfternoon']|default(null), 'endTimeAfternoon': organisation.workingHours['Tuesday']['endTimeAfternoon']|default(null)  }) }}
							{{ include ('molecules/workingHours/newDayItem.html.twig', {'day': 'global.wednesday'|trans|capitalize, 'dayName': 'Wednesday', 'start': organisation.workingHours['Wednesday']['startTime']|default(null), 'end': organisation.workingHours['Wednesday']['endTime']|default(null), 'startTimeAfternoon': organisation.workingHours['Tuesday']['startTimeAfternoon']|default(null), 'endTimeAfternoon': organisation.workingHours['Tuesday']['endTimeAfternoon']|default(null) }) }}
							{{ include ('molecules/workingHours/newDayItem.html.twig', {'day': 'global.thursday'|trans|capitalize, 'dayName': 'Thursday', 'start': organisation.workingHours['Thursday']['startTime']|default(null), 'end': organisation.workingHours['Thursday']['endTime']|default(null), 'startTimeAfternoon': organisation.workingHours['Thursday']['startTimeAfternoon']|default(null), 'endTimeAfternoon': organisation.workingHours['Thursday']['endTimeAfternoon']|default(null) }) }}
							{{ include ('molecules/workingHours/newDayItem.html.twig', {'day': 'global.friday'|trans|capitalize, 'dayName': 'Friday', 'start': organisation.workingHours['Friday']['startTime']|default(null), 'end': organisation.workingHours['Friday']['endTime']|default(null), 'startTimeAfternoon': organisation.workingHours['Thursday']['startTimeAfternoon']|default(null), 'endTimeAfternoon': organisation.workingHours['Thursday']['endTimeAfternoon']|default(null) }) }}
							{{ include ('molecules/workingHours/newDayItem.html.twig', {'day': 'global.saturday'|trans|capitalize, 'dayName': 'Saturday', 'start': organisation.workingHours['Saturday']['startTime']|default(null), 'end': organisation.workingHours['Saturday']['endTime']|default(null), 'startTimeAfternoon': organisation.workingHours['Saturday']['startTimeAfternoon']|default(null), 'endTimeAfternoon': organisation.workingHours['Saturday']['endTimeAfternoon']|default(null) }) }}
							{{ include ('molecules/workingHours/newDayItem.html.twig', {'day': 'global.sunday'|trans|capitalize, 'dayName': 'Sunday', 'start': organisation.workingHours['Sunday']['startTime']|default(null), 'end': organisation.workingHours['Sunday']['endTime']|default(null), 'startTimeAfternoon': organisation.workingHours['Sunday']['startTimeAfternoon']|default(null), 'endTimeAfternoon': organisation.workingHours['Sunday']['endTimeAfternoon']|default(null) }) }}
						</ul>
					</div>
					<div class="col-md-3">
						<button id="repeatTime" class="btn btn-border-header btn-sm" title="{{ 'trainers.planning.buttons.repeat'|trans }}">
							{{ 'trainers.planning.buttons.repeat'|trans }}
						</button>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12 flex--center no-padding recurring-calendar">
						<h4 class="color-header bold modal-title" >{{ 'global.recurring_period'|trans }}</h4>
					</div>
					<div class="col-md-6 marg-t-40 marg-b-100">
						<span class="bmd-form-group">
							<div class="input-group">
								<div class="input-group-prepend">
									<span class="input-group-text color-header">
									  	{{ 'learners.plans.start_date'|trans }}
									</span>
								</div>
								<input id="startDate" type="text" class="form-control datepicker">
							</div>
                  		</span>
					</div>
					<div class="col-md-6 marg-t-40 marg-b-100">
						<span class="bmd-form-group">
							<div class="input-group">
								<div class="input-group-prepend">
									<span class="input-group-text color-header">
									  	{{ 'learners.plans.end_date'|trans }}
									</span>
								</div>
								<input id="endDate" type="text" class="form-control datepicker">
							</div>
                  		</span>
					</div>
				</div>
				<div class="row pad-b-20">
					<div class="col-md-6">
						<button type="button" data-action="addRangeAvailability" class="btn btn-block" style="background: #28C612!important;">{{ 'global.create'|trans }}</button>
					</div>
					<div class="col-md-6">
						<button type="button" data-action="deleteRangeAvailability" class="btn btn-block btn-danger" >{{ 'table.modules.delete'|trans }}</button>
					</div>

				</div>
			</div>

		</div>
	</div>
</div>
{% else %}
	<div class="row">
		<div class="col-md-12 text-center padding-bottom-15 pad-t-15">
			<h4 class="color-header marg-t-0 bold modal-title" >
				{{ 'trainers.planning.nav.working_hours'|trans }}
			</h4>
		</div>
		<div class="col-md-12 border-top-header  order-top-header no-padding">
			<div class="row pad-t-10">
				{% if isNew is defined and isNew == 0 %}
					<div class="col-md-12 text-center pb-3">
						<label class="color-red">{{ 'global.working_hours_warning'|trans }}</label>
					</div>
				{% endif %}
				<div class="col-md-9">
					<ul>
						{{ include ('molecules/workingHours/newDayItem.html.twig', {'day': 'global.monday'|trans|capitalize, 'dayName': 'Monday', 'start': organisation.workingHours['Monday']['startTime']|default(null), 'end': organisation.workingHours['Monday']['endTime']|default(null), 'startTimeAfternoon': organisation.workingHours['Monday']['startTimeAfternoon']|default(null), 'endTimeAfternoon': organisation.workingHours['Monday']['endTimeAfternoon']|default(null) }) }}
						{{ include ('molecules/workingHours/newDayItem.html.twig', {'day': 'global.tuesday'|trans|capitalize, 'dayName': 'Tuesday', 'start': organisation.workingHours['Tuesday']['startTime']|default(null), 'end': organisation.workingHours['Tuesday']['endTime']|default(null), 'startTimeAfternoon': organisation.workingHours['Tuesday']['startTimeAfternoon']|default(null), 'endTimeAfternoon': organisation.workingHours['Tuesday']['endTimeAfternoon']|default(null)  }) }}
						{{ include ('molecules/workingHours/newDayItem.html.twig', {'day': 'global.wednesday'|trans|capitalize, 'dayName': 'Wednesday', 'start': organisation.workingHours['Wednesday']['startTime']|default(null), 'end': organisation.workingHours['Wednesday']['endTime']|default(null), 'startTimeAfternoon': organisation.workingHours['Tuesday']['startTimeAfternoon']|default(null), 'endTimeAfternoon': organisation.workingHours['Tuesday']['endTimeAfternoon']|default(null) }) }}
						{{ include ('molecules/workingHours/newDayItem.html.twig', {'day': 'global.thursday'|trans|capitalize, 'dayName': 'Thursday', 'start': organisation.workingHours['Thursday']['startTime']|default(null), 'end': organisation.workingHours['Thursday']['endTime']|default(null), 'startTimeAfternoon': organisation.workingHours['Thursday']['startTimeAfternoon']|default(null), 'endTimeAfternoon': organisation.workingHours['Thursday']['endTimeAfternoon']|default(null) }) }}
						{{ include ('molecules/workingHours/newDayItem.html.twig', {'day': 'global.friday'|trans|capitalize, 'dayName': 'Friday', 'start': organisation.workingHours['Friday']['startTime']|default(null), 'end': organisation.workingHours['Friday']['endTime']|default(null), 'startTimeAfternoon': organisation.workingHours['Thursday']['startTimeAfternoon']|default(null), 'endTimeAfternoon': organisation.workingHours['Thursday']['endTimeAfternoon']|default(null) }) }}
						{{ include ('molecules/workingHours/newDayItem.html.twig', {'day': 'global.saturday'|trans|capitalize, 'dayName': 'Saturday', 'start': organisation.workingHours['Saturday']['startTime']|default(null), 'end': organisation.workingHours['Saturday']['endTime']|default(null), 'startTimeAfternoon': organisation.workingHours['Saturday']['startTimeAfternoon']|default(null), 'endTimeAfternoon': organisation.workingHours['Saturday']['endTimeAfternoon']|default(null) }) }}
						{{ include ('molecules/workingHours/newDayItem.html.twig', {'day': 'global.sunday'|trans|capitalize, 'dayName': 'Sunday', 'start': organisation.workingHours['Sunday']['startTime']|default(null), 'end': organisation.workingHours['Sunday']['endTime']|default(null), 'startTimeAfternoon': organisation.workingHours['Sunday']['startTimeAfternoon']|default(null), 'endTimeAfternoon': organisation.workingHours['Sunday']['endTimeAfternoon']|default(null) }) }}
					</ul>
				</div>
				<div class="col-md-3">
					<a id="repeatTime" class="btn pointer btn-border-header btn-sm" title="{{ 'trainers.planning.buttons.repeat'|trans }}">
						{{ 'trainers.planning.buttons.repeat'|trans }}
					</a>
				</div>
			</div>

			<div class="row pad-b-20">
				<div class="col-md-12 marg-t-30 marg-b-10">
					<button type="submit" class="btn btn-block btn-deepmark float-right">{{ 'buttons.update'|trans }}</button>
				</div>
			</div>
		</div>
	</div>
{% endif %}

<script>
	let entityWorkingHours = {{ entityWorkingHours|json_encode|raw }};
	if (entityWorkingHours) {
		$.each( entityWorkingHours, function( key, value ) {
			$('#startTime-' + key).datetimepicker({
				format: 'HH:mm',
			});
			$('#startTime-' + key).data('DateTimePicker').minDate(value.startTime);
			$('#startTime-' + key).data('DateTimePicker').maxDate(value.endTime);

			$('#endTime-' + key).datetimepicker({
				format: 'HH:mm',
			});
			$('#endTime-' + key).data('DateTimePicker').minDate(value.startTime);
			$('#endTime-' + key).data('DateTimePicker').maxDate(value.endTime);

			$('#startTimeAfternoon-' + key).datetimepicker({
				format: 'HH:mm',
			});
			$('#startTimeAfternoon-' + key).data('DateTimePicker').minDate(value.startTimeAfternoon);
			$('#startTimeAfternoon-' + key).data('DateTimePicker').maxDate(value.endTimeAfternoon);

			$('#endTimeAfternoon-' + key).datetimepicker({
				format: 'HH:mm',
			});
			$('#endTimeAfternoon-' + key).data('DateTimePicker').minDate(value.startTimeAfternoon);
			$('#endTimeAfternoon-' + key).data('DateTimePicker').maxDate(value.endTimeAfternoon);
		});
	}
    let locate = $('#locate').val();
    $('#startDate').datetimepicker({
        format: 'ddd  DD/MM/YYYY',
        locale: locate,
        icons: {
            previous: 'fa fa-chevron-left',
            next: 'fa fa-chevron-right'
        }
    });
    $('#endDate').datetimepicker({
        format: 'ddd DD/MM/YYYY',
        locale: locate,
        icons: {
            previous: 'fa fa-chevron-left',
            next: 'fa fa-chevron-right'
        }
    });
</script>