<div class="modal fade" id="removeAvailabilityModal" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLongTitle">{{ 'trainers.planning.modal.remove.title'|trans }}</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				{{ 'trainers.planning.modal.remove.message'|trans }}
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger" data-confirm="modal">{{ 'trainers.planning.modal.remove.btn_confirm'|trans }}</button>
				<button type="button" class="btn btn-secondary " data-dismiss="modal">{{ 'trainers.planning.modal.remove.btn_cancel'|trans }}</button>
			</div>
		</div>
	</div>
</div>