<div class="modal fade" id="review_best_practice" tabindex="-1" role="dialog" aria-labelledby="review_best_practice" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="evaluation-form ">
                    <div class="text-center" style="font-size: 20px;">
                        <h3 class="marg-b-10 color-header" style="font-weight: 700">{{ 'Review Best Practice'|trans}}</h3>
                        {{ include('molecules/widgets/ratings-dynamic.html.twig', { max: 5 }) }}
                    </div>
                    <div class="marg-t-20 marg-b-20">
                        <label for="observationsArea">{{"learners.plans.evaluation_commentaire"|trans}}</label>
                        <textarea class="form-control" id="observationsArea" rows="3"
                                  placeholder=""></textarea>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="col-md-12 text-right">
                    <button class="btn btn-deepmark eval-btn" data-action="submitReview">
                        {{ 'buttons.validate'|trans }}
                    </button>
                </div>

            </div>
        </div>
    </div>
</div>
<script>
    const joditReview = new Jodit('#observationsArea', {
        toolbarAdaptive: false,
        buttons: "bold,strikethrough,underline,italic,eraser,|,ul,ol,|,outdent,indent,|,font,fontsize,brush,paragraph,copyformat,preview"
    });
</script>