<div id="session-date-modal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title bold" id="exampleModalLongTitle">{{ 'global.change_session_date'|trans }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body book-modal-detail">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group datepicker-group">
                            <label for="startDate">{{ "global.start_date"|trans }}</label>
                            <div class="input-group">
                                <input id="startDate" class="form-control datepicker" type="text"
                                       name="startDate" value=""/>
                                <div class="input-group-append">
                                    <span class="input-group-text">
                                        <i class="fal fa-calendar-alt"></i>
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group datepicker-group">
                            <label for="startTime">{{ "global.start_time"|trans }}</label>
                            <div class="input-group date">
                                <input id="startTime" class="form-control timepicker" type="text"
                                       name="startTime" value=""/>
                                <div class="input-group-append">
                                    <span class="input-group-text">
                                        <i class="fal fa-clock"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer ">
                <div class="row col-xs-12 col-md-12 ">
                    <input id="moduleId" class="form-control" type="hidden"
                           name="moduleId" value="{{ module.id }}"/>
                    <input id="sessionId" class="form-control" type="hidden"
                           name="sessionId" value=""/>
                    <div class="col-xs-6 col-6 col-md-6  text-left">
                        <button type="button" class="btn btn-secondary"
                                data-dismiss="modal">{{ 'learners.dashboard.modal.btn_no'|trans }}</button>
                    </div>
                    <div class="col-xs-6 col-6  col-md-6 text-right">
                        <button id="change-session-confirm" type="button" class="btn btn-deepmark"
                                data-confirm="modal">{{ 'learners.dashboard.modal.btn_yes'|trans }}
                            <div class="ripple-container"></div>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>