<div id="online-calendar-modal" class="modal" tabindex="-1" role="dialog">
	<div class="modal-dialog" role="document">
		<div class="modal-content">

			<div class="modal-header">
				<h5 class="modal-title" id="modal-title">{{ 'learners.courses.book_session' | trans }}</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">×</span>
				</button>
			</div>

			<div class="modal-body">
				<dl class="course-details">
					<div class="flex--v-center">
						<dt title="{{ 'learners.courses.session_status'|trans }}"><i class="fas fa-info-circle"></i></dt>
						<dd id="modal-booked-status"></dd>
					</div>
					<div class="flex--v-center">
						<dt title="{{ 'learners.courses.booked'|trans }}"><i class="fas fa-calendar-alt"></i></dt>
						<dd><span id="modal-start-date"></span> <span id="modal-end-date"></span></dd>
					</div>
					<div class="flex--v-center">
						<dt title="{{ 'learners.courses.duration' | trans }}"><i class="fas fa-clock"></i></dt>
						<dd id="modal-duration"></dd>
					</div>
					<div class="flex--v-center">
						<dt title=""><i class="fas fa-chalkboard-teacher"></i></dt>
						<dd id="modal-trainer-display-name"></dd>
					</div>
					<div class="flex--v-center">
						<dt title="{{ 'global.phone' | trans }}"><i class="fas fa-phone"></i></dt>
						<dd id="modal-mobile-phone"></dd>
					</div>
					<div class="flex--v-center">
						<dt title="{{ 'global.email' | trans }}"><i class="fas fa-envelope"></i></dt>
						<dd id="modal-other-email"></dd>
					</div>
				</dl>
			</div>

			<div class="modal-footer">
				<input type="hidden" id="modal-module-id" name="modal-module-id" value="">
				<input type="hidden" id="modal-booking-id" name="modal-booking-id" value="">
				<button id="modal-cancel-booking" type="button" class="btn btn-deepmark-red hidden" data-dismiss="modal">{{ 'buttons.cancel'|trans }}</button>
				<button id="modal-book-online-session" type="button" class="btn btn-deepmark-green">{{ 'buttons.edit'|trans }}</button>
				<button id="modal-book-online-assign" type="button" class="btn btn-deepmark-green hidden" data-dismiss="modal">{{ 'buttons.assign'|trans }}</button>
			</div>
		</div>
	</div>
</div>