<div id="upload-audio-modal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <h4 class="text-center">{{ 'admin.interventions.create.modal.audio_title'|trans }}</h4>

                <div class="row">
                    <label class="col-sm-5 col-form-label">1 - {{ 'admin.interventions.create.modal.audio_url'|trans }}</label>
                    <div class="col-sm-7">
                        <input type="text" class="form-control upload-audio-modal__url-field" placeholder="{{ 'admin.interventions.create.modal.audio_url-placeholder'|trans }}">
                    </div>
                </div>
                <div class="row">
                    <label class="col-sm-5 col-form-label">2 - {{ 'admin.interventions.create.modal.upload_external_library'|trans }}</label>
                    <div class="col-sm-7">
                        <button class="btn btn-sm btn-deepmark-orangelight upload-audio-modal__library-upload">{{ 'buttons.upload'|trans }}</button>
                    </div>
                </div>
                <div class="row">
                    <label class="col-sm-5 col-form-label">3 - {{ 'admin.interventions.create.modal.audio_from_library'|trans }}</label>
                </div>

                <div class="library-audios">
                </div>


                <div class="local-audios">
                  <label class="col-sm-5 col-form-label">4 - {{ 'admin.interventions.create.modal.upload_local_library'|trans }}</label>
                  <div class="add-file">
    								<div class="input-group">
    									<span class="input-group-btn" style="padding-left: 0 !important;">
    										<span name="btn-file-upload" class=" btn-file-upload btn btn-deepmark-orangelight btn-file">
    											Add a file <i class="fal fa-plus"></i><input type="file" name="file" data-type="body" class="inputUploadFile" multiple>
    										</span>
    									</span>
    								</div>
    							</div>
                </div>

                <div class="text-center">
                    <button class="btn btn-sm btn-deepmark-green upload-audio-modal__confirm">{{ 'admin.interventions.create.modal.confirm'|trans }}</button>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="mod-skeleton">
  <div class="library-audios__item row">
      <div class="col-sm-5">
          <audio controls>
              <source src="https://storage.googleapis.com/deepmark/dm_files/module08-exercice/module_body_content/LEARNER-PARCOURS-Module08-exercice_AUDIO%201%20REBOND%20-%20EXO.aac" type="audio/aac">
          </audio>
      </div>
      <div class="col-sm-3 upload-audio__title">

      </div>

      <div class="col-sm-4">
          <button class="btn btn-sm btn-deepmark-lightgray upload-audio-modal__library-choose-btn">{{ 'buttons.choose'|trans }}</button>
      </div>
  </div>
</div>
