<div class="modal fade" id="validationBestPractice" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog  modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-center">
                <p class="color-header bold" id="txtValidation"></p>
                <div class="row">
                    <div class="col-md-12 text-center no-padding">
                        <div style="margin-top: 17px;" class="form-group pad-b-0 admin">
                            <select id="typeAction" name="selectValidationType" class="classic">
                                <option value="1">  {{ 'trainers.exercises.status.validated'|trans }}  </option>
                                <option value="2">  {{ 'trainers.exercises.status.deny'|trans }}  </option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-group text-left marg-t-20">
                    <label for="exampleFormControlTextarea1">{{ 'popup.your_comment'|trans }}</label>
                    <textarea class="form-control" id="your_comment" rows="3" spellcheck="false"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ 'buttons.close'|trans }}</button>
                <button  id="btnValidationAction" type="submit" class="btn btn-primary">{{ 'buttons.confirm'|trans }}</button>
            </div>
        </div>
    </div>
</div>