<style>
    #modal-session-date-new::first-letter { text-transform: capitalize; }
</style>
<div class="modal" id="virtual-calendar-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header row">
                <div class="col-md-1"></div>
                <div class="col-md-10 no-padding text-center">
                    <h4 class="modal-title font-weight-800 color-header">{{ 'popup.book_your_virtual_class'|trans }}</h4>
                </div>
                <div class="col-md-1 no-padding">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
            </div>
            <div class="modal-body book-modal" >
                <div class="col-md-12 no-padding row text-center book-bg">
                    <div class="col-md-12 pad-t-30">
                        <h3 id="modal-session-date-new" class="no-margin bold"></h3>
                        <h3 class="font-weight-600">{{ 'global.from_txt'|trans }} <span id="timeStart"></span> {{ 'global.to_txt'|trans }} <span id="timeEnd"></span></h3>
                        <p class="font-weight-600 color-header">{{ 'popup.with_trainer'|trans }}</p>
                    </div>
                    <div class="col-md-4 col-3 no-padding text-right">
                        <i class="fas fa-user"></i>
                    </div>
                    <div class="col-md-8 col-9 text-left">
                        <p class="no-margin" id="modal-trainer-display-name"></p>
                    </div>
                    <div class="col-md-4 col-3 no-padding text-right">
                        <i class="fa fa-phone" aria-hidden="true"></i>
                    </div>
                    <div class="col-md-8 col-9 text-left">
                        <p class="no-margin" id="modal-mobile-phone"> </p>
                    </div>
                    <div class="col-md-4 col-3 no-padding text-right">
                        <i class="fa fa-envelope" aria-hidden="true"></i>
                    </div>
                    <div class="col-md-8 col-9 text-left">
                        <p class="no-margin" id="modal-other-email"></p>
                    </div>
                    <div class="col-md-12 text-center pad-b-15 pad-t-15 font-size-30" >
                        <i class="fa fa-laptop color-header" aria-hidden="true"></i>
                    </div>
                    <div class="form-group d-none">
                        <label for="selectVirtualClass">{{ 'popup.mes_classroom'|trans }}</label>
                        <select data-style="select-with-transition" class="form-control selectpicker" id="selectVirtualClass">
                        </select>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <input type="hidden" name="learner-id" id="learner-id" value="{{ app.request.get('profileId') }}">
                <div class="col-md-6 no-padding text-left">
                    <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'buttons.cancel'|trans }}</button>
                </div>
                <div class="col-md-6 text-right">
                    {% if (module is defined and module.isPersonalBooking is defined and module.isPersonalBooking == 1 and is_granted('ROLE_LEARNER')) or (is_granted('ROLE_ADMIN') or (is_granted('ROLE_SUPERVISOR'))) %}
                        <button id="book-session" type="button" class="btn btn-deepmark" data-action="confirmBooking" data-dismiss="modal">OK</button>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>