<div id="warningSignature" class="modal fade col-md-12" tabindex="-1" role="dialog">
	<div class="modal-dialog modal-xs" role="document">
		<div class="modal-content">
			<div class="modal-header ">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body text-center marg-t-10">
				<img width="20%" src="{{ asset('images/exclamation-xxl.png') }}">
				<h3 class="modal-title no-margin color-header font-size-18 bold text-uppercase pt-3">{{ 'global.warning_title'|trans }}</h3>
				<p class="color-header pt-2" id="warningQuitSession">{{ 'global.warning_quit_session_digital_confirm'|trans }}</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">{{ 'buttons.cancel'|trans }}</button>
				<button type="button" class="btn btn-orangelight" data-confirm="modal" id="quitSessionConfirm">{{ 'buttons.confirm'|trans }}</button>
			</div>
		</div>
	</div>
</div>