{% set route = app.request.get('_route') %}

<div class="card-icon {{ route == 'admin_clients_index' ? 'active' }}">
    <a href="{{ path('admin_clients_index') }}"><i class="fal fa-list"></i></a>
</div>

<div class="card-icon {{ route == 'admin_clients_new' ? 'active' }}">
    <a href="{{ path('admin_clients_new') }}"><i class="fal fa-plus"></i></a>
</div>

<div class="card-icon">
    <a href="{{ path('admin_clients_upload') }}"><i class="fal fa-upload"></i></a>
</div>