{% set route = app.request.get('_route') %}

<div class="card-icon {{ route == 'admin_learners_index' ? 'active' }}">
    <a href="{{ path('admin_learners_index') }}"><i class="fal fa-user-graduate"></i></a>
</div>

<div class="card-icon {{ route == 'admin_learners_new' ? 'active' }}">
    <a href="{{ path('admin_learners_new') }}"><i class="fal fa-plus"></i></a>
</div>

<div class="card-icon {{ route == 'admin_learners_upload' ? 'active' }}">
    <a href="{{ path('admin_learners_upload') }}"><i class="fal fa-upload"></i></a>
</div>
