{% set route = app.request.get('_route') %}

<div class="card-icon {{ route == 'admin_library_index' ? 'active' }}">
    <a href="{{ path('admin_library_index') }}"><i class="fal fa-book"></i></a>
</div>

<div class="card-icon {{ route == 'admin_library_upload' ? 'active' }}" >
	<a href="{{ path('admin_library_upload') }}"><i class="fal fa-upload"></i></a>
</div>
