{% extends "base.html.twig" %}

{% block pagename %}{{ 'trainers.dashboard.nav.planning'|trans }}{% endblock %}
{% block body %}
    <div class="row justify-content-center nav marg-t-20 marg-b-20"><span class="icon-user_gray"></span>
        {{ include('molecules/cards/nav/planning-nav.html.twig') }}
    </div>
    <div class="card no-margin planning">
        <div class="card-body no-padding">
            <div class="row marg-b-15">
                <div class="col-md-3">
                    {% if api.profile is not null %}
                        <p style="bottom: 0; position: absolute;" class="no-margin font-size-13 bold color-header">
                            {{ 'global.time_zone'|trans }} : {{ api.profile.person.timeZone.timeZone }}
                        </p>
                    {% endif %}
                </div>
                <div class="col-md-6 pad-t-15 flex--center pad-r-30">
                    <h3 style="bottom: 0;" class="text-center color-header no-margin bold">{{ 'trainers.dashboard.nav.planning'|trans }}</h3>
                </div>
                <div class="col-md-3"></div>
            </div>
            <div  id="monthActivities" class="pad-t-0">
                <div id="monthDashboard">
                    <div id="dashboard-learner" class="col-md-12 " >
                        {{ include('molecules/calendar/calendar-legend.twig', { user: 'admin'}) }}
                        <div id="trainerDashboardCalendar"></div>
                    </div>
                </div>
                <!-- Modal show the booked session -->
                {{ include('molecules/modal/calendar-admin-module-detail.html.twig') }}
            </div>
        </div>
    </div>
    <input type="hidden" id="typeModule" value="">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/admin/calendar/planning-calendar.js') }}"></script>
    <script>
        $('body').css('overflow', 'hidden');


        $('.btnAction').on('click', function () {
            $('.btnAction').removeClass('active');
            $(this).addClass('active');
            let type = $(this).attr('data-type');
            $("#typeModule").val(type);
            let startMonth = $('#trainerDashboardCalendar').fullCalendar('getView').start.format('YYYY-MM-DD');
            let endMonth = $('#trainerDashboardCalendar').fullCalendar('getView').end.format('YYYY-MM-DD');
            updateCalendar(startMonth, endMonth)

        });
        function updateCalendar(start, end) {
            let type = $("#typeModule").val();
            return new Promise((resolve, reject) => {

                const selectorCalendar = '#trainerDashboardCalendar';

                let url = '/trainer/calendars';

                if (start && end) {
                    url += '?dateStart=' + start + '&dateEnd=' + end + '&typeModule=' + type;
                }
                $.ajax({
                    'url': url,
                    'method': 'GET',
                }).done(function (response) {
                    $(selectorCalendar).fullCalendar('removeEvents');
                    $(selectorCalendar).fullCalendar('addEventSource', response);
                    $(selectorCalendar).fullCalendar('rerenderEvents');
                    resolve(response);
                });
            });
        }
    </script>

{% endblock %}