.alert {
  border-radius: 5px;
  box-shadow: 0 3px 6px $shadow;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 100%;

  p {
    color: inherit;
    margin: 0;
    padding: .5em 1em;
  }

  i {
    color: inherit !important;
    font-size: 40px;
  }
  .btn,
  .btn:focus,
  .btn:hover,
  .btn:active {
    background-color: white !important;
  }
}

.alert.alert-info {
  margin-top:10px;
  background-color: $deepmark-lightblue;
  color: white;
  .btn {
    color: $deepmark-lightblue;
  }
}

.alert.alert-success {
  background-color: $deepmark-green;
  color: white;
  .btn {
    color: $deepmark-green;
  }
}

.alert.alert-warning {
  background-color: $deepmark-orangelight;
  color: white;
  .btn {
    color: $deepmark-orangelight;
  }
}


.alert.alert-danger {
  background-color: $deepmark-red;
  color: white;
  .btn {
    color: $deepmark-red;
  }
}
