.btn {
  font-weight: 700;
  letter-spacing: 1px;
  border: none;
}

.btn.btn-round {
  padding: 0;
  width: 36px;
  border-radius: 50%;
}

a.btn.disabled {
  color: $pane-grey;
}

.btn.round {
  border-radius: 100px;
}

.btn{
  &.btn-primary,
  &.btn-primary:focus,
  &.btn-primary:hover {
    background-color: $deepmark-orangelight;
  }
  &.btn-secondary,
  &.btn-secondary:focus,
  &.btn-secondary:hover {
    background-color: $pane-grey;
  }
  &.btn-success,
  &.btn-success:focus,
  &.btn-success:hover {
    background-color: $deepmark-green;
  }
}

.bootstrap-select .dropdown-toggle {
  .filter-option {
    padding-left: 0;
    background: white;
  }
  .filter-option-inner{
    letter-spacing: 0;
  }
}

.btn-group-toggle {
  .btn-secondary:not(.active) {
    border: 1px solid $deepmark-lightgray;
  }
  .btn-secondary:not(:disabled):not(.disabled).active {
    background-color: $deepmark-orangelight;
    border-color: $deepmark-orangelight;
    color: white;
  }
}

.btn-middle {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

.row-delete-btn {
  cursor: pointer;
  border: 0;
  padding: 8px 10px;
  border-radius: 6px;
}

.btn-session {
  $btn-size: 30px;
  padding: 1em;
  font-weight: 700;
  width: $btn-size;
  height: $btn-size;
  i {
    font-weight: 500;
    font-size: 18px;
  }
}

.action-toolbar {
  display: flex;
  .btn {
    margin: 15px 10px;
  }
}

.flag-icon {
  width:38px;
  margin-right: 8px;
}

#header{
  .dropdown-toggle::after {
    display: none;
  }
  .dropdown-item:hover,
  .dropdown-item:focus {
    background-color: transparent!important;
    box-shadow: none!important;
  }
}