.card-calendar {
	border-top-right-radius: 25px;
	overflow: hidden;
}

.calendar-wrapper {
	height: 800px;
	transition: height 400ms ease-in;
	overflow: hidden;
	&.hidden {
		height: 0;
	}
}

.bookingTimeDiv__times {
	.btn.btn-sm {
		padding: .4rem 1.2rem;
		margin-right: .75rem;
	}
}

.btn-group-toggle {
	label {
		width: 100px;
	}
}

#days-listing {
	padding: 0;
}

.day-row {
	display: flex;
	align-items: center;
	justify-content: space-between;
	max-width: 900px;
	position: relative;
	&__checkbox {
		margin-top: -22px;
	}
	&__name {
		padding-right: 20px;
		width: 120px;
	}
	&__date {
		padding: 0 20px;
	}
}

#trainerPlanningCalendar {
	&.cursor-add :not(.fc-day-grid-event) { cursor: url(../img/icons/add.svg), auto !important;}
	&.cursor-clear .fc-day-grid { cursor: url(../img/icons/clear.svg), auto !important;}
	&.cursor-clear .fc-time-grid { cursor: url(../img/icons/clear.svg), auto !important;}

	&.cursor-add {
		.fc-highlight {
			background-color: $deepmark-green;
		}
		.fc-bg {
			background-color: transparentize($deepmark-green, .85);
		}
	}
	&.cursor-clear {
		.fc-highlight {
			background-color: $deepmark-red;
		}
		.event-availability {
			background-color: #e83629 !important;
		}
	}


}

.calendar-legend {
	$tile-size: 17px;
	display: flex;
	flex-wrap: wrap;
	padding: 0;
	margin: 15px 0 0;

	li {
		display: flex;
		& + li {
			margin-left: 2em;
		}
	}

	span {
		width: $tile-size;
		height: $tile-size;
		display: inline-block;
		margin-right: 10px;
	}
}

.calendar-trainer-name {
	font-size: 10px;
}

#days-listing {
	display: table;
	> li {
		display: table-row;
		> div {
			display: table-cell;
		}
	}
	.form-check-label {
		display: unset;
	}
}
