.fc-scroller { overflow-y: hidden !important; }
.fc-row .fc-content-skeleton .fc-day-top {
  background-color: #dddddd;
}
.fc-content{
  text-align: center;
}
.fc-sat,
.fc-sun {
  pointer-events: none;
  background: hsl(0,0,95%);
  .fc-day-number {
    color: hsla(0,0,0,0.2);
  }
}

.fc-day-number {
  color: #000000;
  margin-right: 10px;
}

.fc-button {
  cursor: pointer;
  font-size: 14px;
}

.fc-highlight {
  background-color: #000;
  opacity: .1;
}

.fc {
  th {
    background-color: $deepmark-mediumgray;
    color: white;
    padding: 5px 0;
  }

  .fc-button,
  .fc-button:focus {
    outline: none;
    background-color: $deepmark-lightgray;

    &.fc-state-active, &.fc-state-hover, &.fc-state-down {
      &:not(.fc-addAvailability-button):not(.fc-removeAvailability-button){
        background-color: $deepmark-orangelight;
      }
    }
  }

  .event-availability {
    font-weight: bold;
  }

  .event-booking {
    font-weight: bold;
  }

  .fc-day-grid-event {
    padding: 7px 4px;
  }

  .fc-title {
    .fa-calendar-check {
      margin-right: 10px;
    }
  }

  .fc-disabled-day {
    color:hsla(0,0%,100%,.5);
  }

  &-toolbar {
    h2 {
      width: 220px;
    }
  }

  &-left, &-right {
    display: flex;
    width: 310px;
    min-height: 1px;
  }

  &-left {
    justify-content: flex-start;
  }

  &-right {
    justify-content: flex-end;
  }

  &-center {
    > div {
      display: flex;
      align-items: center;
    }
  }
}

.fc-cancelBooking-button {
  background-color: #e83629 !important;
  color: white;
}

.fc-addAvailability-button {
  background-color: $deepmark-green!important;
  &.fc-state-active, &.fc-state-down, &.fc-state-hover,
  &:active, &:hover {
    background-color: $deepmark-green !important;
  }
}

.fc-removeAvailability-button {
  background-color: $deepmark-red!important;
  &.fc-state-active, &.fc-state-down, &.fc-state-hover,
  &:active, &:hover {
    background-color: $deepmark-red !important;
  }
}
