.modal-dialog {
  .modal-header {
    justify-content: flex-end;
    .close {
      position: relative;
      padding: 0;
      margin: 0;
      top: unset; right: unset;
    }
  }
  .modal-body {
    padding-top: 0;
    h3 {
      margin-top: 0;
    }
  }
  .modal-footer {
    justify-content: space-between;

    button {
      border: none;
      &.btn-confirm {
        background-color: $deepmark-green;
      }
      &.btn-cancel {
        background-color: $deepmark-red;
        color: white;
      }
    }
  }
}
