.billed-progress-widget,
.student-progress-widget,
.planif-progress-widget  {
	.progress {
		min-width: 80px;
		height: 20px;
		border-radius: 15px;
		background-color: $deepmark-mediumgray;
		margin-bottom: 5px;

		position: relative;

		.already {
			position: absolute;
			color: #ffffff;
			left: 5px;
			top: 1px;
		}

		.left {
			position: absolute;
			color: #ffffff;
			right: 5px;
			top: 1px;
		}
	}

	.progress-bar {
		background-color: $deepmark-green;
	}

	p {
		font-size: 12px;
		margin: 0;
		padding: 0;
		text-decoration: none;
		color: #a7a7a7;
	}
}

.planif-progress-widget {
	.progress {
		//background: linear-gradient(90deg, $deepmark-green 50%, $deepmark-red);
	}

	.progress-bar { background: none; }
}

$progress-bar-height: 30px;
.progress {
	font-weight: 500;
	height: $progress-bar-height;
}

.progress-bar {
	max-width: 100%;
}
