.slider-wrapper {
	position: relative;
	width: 100%;
	margin-top: -15px;
	padding-bottom: 10px;
}

.dm-slider {
	$slider-height: 30px;
	background: none !important;

	.noUi-base {
		height: $slider-height;
		background: linear-gradient(90deg, $deepmark-red, $deepmark-orangelight, $deepmark-green);
		border-radius: 15px;

		.noUi-connect { background: none; }

		.noUi-handle {
			width: $slider-height + 5px;
			height: $slider-height + 5px;
			top: -3px;
			border: none;
			background-color: $deepmark-orangelight;
			padding-right: 6px;

			&::after {
				content: attr(data-value);
				color: white;
				font-size: 24px;
				display: flex;
				height: 100%;
				align-items: center;
				justify-content: center;
			}
		}
	}
}
