.card-timeline {
    margin: 0;
    padding: 0;

    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;

    overflow: hidden;

    .card-body {
        margin: 0;
        padding: 0;
    }
}

.load-timeline {
    .vis-timeline {
        border: none;
    }

    .vis-background { background: #FFFFFF; }

    .vis-panel {
        &.vis-top {
            text-align: center;
            color: $deepmark-navy;
            border: none;
            border-left: 1px solid $deepmark-lightgray;

            .vis-major {
                font-weight: 600;
                background: #FFFFFF;
            }

            .vis-minor {
                border: 1px solid $deepmark-lightgray;
            }
        }

        &.vis-left {
            background: #FFFFFF;
            top: 74px !important;
        }

        &.vis-center {
            background-color: rgba(0, 0, 0, 0.05);
            top: 72px !important;
        }
    }

    .vis-time-axis {
        &.vis-foreground { background-color: #FFFFFF; }

        .vis-text {
            font-weight: 600;
            color: $deepmark-navy;
        }
    }

    .vis-foreground {
        .vis-group {
            border: none;
        }
    }

    .vis-labelset {
        .vis-label {
            border: none;
            color: $deepmark-navy;
            font-weight: 600;

        }
    }

    .vis-item {
        border: none;
        color: #FFFFFF;

        &.red { background: $deepmark-red; }
        &.green { background: $deepmark-green; }
        &.orange { background: $deepmark-orangelight; }
    }
}

.timeline-gradient {
    width: 100%;
    height: 20px;
    border-radius: 10px;

    background: linear-gradient(90deg, $deepmark-red, $deepmark-green 50%, $deepmark-red);

    position: absolute;
    top: 55px;
    left: 32px;
}
