{% extends 'base.html.twig' %}

{% block pagename %}{{ 'admin.profile.changing_client'|trans }}{% endblock %}

{% block body %}
    {% set defaultPassword = constant('\\ApiBundle\\Entity\\Profile::DEFAULT_PASSWORD') %}
    <div class="card {{ isEdit is defined ? 'card--user' : '' }}">
        {% if isEdit is defined %}
            {% set requiredClass = '' %}
            {% set requiredInput = false %}
            <div class="card-header card-header-icon">
                <div class="card-icon">
                    <img src="{{ asset('img/default-avatar.png') }}" alt="">
                </div>

                <a class="btn btn-deepmark-navy" href="{{ path('admin_managers_index') }}"><i
                            class="fal fa-list"></i></a>

                <div style="display: inline-block;">
                    <a id="btnDelete" data-placement="top" data-toggle="tooltip" title="Delete"
                       class="btn btn-deepmark-red"><i class="fal fa-trash"></i></a>
                </div>
            </div>
        {% else %}
            {% set requiredClass = 'required' %}
            {% set requiredInput = true %}
            <div class="card-header--nav">
                {{ include('molecules/cards/nav/admin-managers-nav.html.twig') }}
            </div>
        {% endif %}

        <div class="card-body">
            {{ form_start(form) }}
            {#{{ form_widget(form) }}#}
            <h2 class="marg-b-30">{{ isEdit is defined ? 'Edit the manager' : 'Create new manager' }}</h2>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group row">
                        <div class="col-4 t-right">
                            <label class="required">{{ 'global.firstname'|trans }}</label>
                        </div>
                        <div class="col-8">
                            {{ form_widget(form.firstName) }}
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-4 t-right">
                            <label class="required">{{ 'global.lastname'|trans }}</label>
                        </div>
                        <div class="col-8">
                            {{ form_widget(form.lastName) }}
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-4 t-right">
                            <label class="required">{{ 'global.entity'|trans }}</label>
                        </div>
                        <div class="col-8">
                            {{ form_widget(form.entity) }}
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-4 t-right">
                            <label class="required">{{ 'global.time_zone'|trans }}</label>
                        </div>
                        <div class="col-8">
                            {{ form_widget(form.person.timezone, {'attr': {'class': 'select2'}}) }}
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-4 t-right">
                            <label>{{ 'global.mobile'|trans }}</label>
                        </div>
                        <div class="col-8">
                            {{ form_widget(form.mobilePhone) }}
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-4 t-right">
                            <label>{{ 'table.function'|trans }}</label>
                        </div>
                        <div class="col-8">
                            {{ form_widget(form.position) }}
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-4 t-right">
                            <label>{{ 'global.phone'|trans }}</label>
                        </div>
                        <div class="col-8">
                            {{ form_widget(form.fixedPhone) }}
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-4 t-right">
                            <label class="required">{{ 'global.email'|trans }}</label>
                        </div>
                        <div class="col-8">
                            {{ form_widget(form.person.email) }}
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-4 t-right">
                            <label class="{{ requiredClass }}">{{ 'admin.profile.password'|trans }}</label>
                        </div>
                        <div class="col-8">
                            {{ form_widget(form.person.plainPassword.first, {'required': requiredInput}) }}
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-4 t-right">
                            <label class="{{ requiredClass }}">{{ 'admin.profile.rp_password'|trans }}</label>
                        </div>
                        <div class="col-8">
                            {{ form_widget(form.person.plainPassword.second, {'required': requiredInput}) }}
                        </div>
                    </div>
                    {% if isEdit is defined %}
                        <div class="form-group row">
                            <div class="col-4 t-right">
                                <label for="profile_client_edit_otherEmail">{{ 'global.other_email'|trans }}</label>
                            </div>
                            <div class="col-8">
                                {{ form_widget(form.otherEmail) }}
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>

            <div class="text-right">
                {% if isEdit is defined %}
                    <a href="{{ path('admin_managers_index') }}"
                       class="btn btn-deepmark-lightgray">{{ 'buttons.cancel'|trans }}</a>
                {% else %}
                    <a href="{{ path('admin_clients_new') }}"
                       class="btn btn-deepmark-lightgray">{{ 'buttons.cancel'|trans }}</a>
                {% endif %}
                <button type="submit"
                        class="btn btn-orangelight">{{ isEdit is defined ? 'buttons.update'|trans : 'buttons.create'|trans }}</button>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
    {% if isEdit is defined %}
        {{ include('molecules/modal/delete-user.html.twig', { url: path('admin_managers_delete',{id: profile.id }), isDelete: 1  }) }}
    {% endif %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(document).ready(function () {
            $('#profile_client_edit_person_timezone').select2({
                    minimumResultsForSearch: 1
                }
            );
            $('#profile_manager_person_timezone').select2({
                    minimumResultsForSearch: 1
                }
            );
            $('#btnDelete').on('click', function () {
                $('#deleteModal').modal('show');
            });
        })
    </script>
{% endblock %}
