@import "../abstracts/variables";

.icon-box {
    display: inline-block;

    &__icon-wrapper {
        background: $deepmark-navy;

        width: 60px;
        height: 80px;

        display: flex;
        align-items: center;
        justify-content: center;

        border-radius: 10px;

        margin: 0 auto;
    }

    &__icon {
        color: #FFFFFF;
        font-size: 26px;
    }

    &__txt {
        text-align: center;
        margin-top: 10px;
    }
}

.icon-box-list {

    .icon-box {
        margin-right: 15px;

        &:last-child { margin-right: 0; }
    }
}
