.vc-day-popover-container {
  background-color: #ffffff !important;
  border-color: white !important;
  border-radius: 1rem !important;
  overflow: scroll;
  overflow-x: hidden;
  max-height: 20rem;
  padding-top: 1rem !important;

  .event-list-container {
    .v-calendar-event-item-container {
      display: flex;
      flex-direction: row;

      .left-side {
        .left-side-icon-blue {
          background-color: #b9e4f3;
          width: 2.5rem;
          height: 2.5rem;
          border-radius: 50%;

          .fa-calendar-custom {
            color: #0476fe;
            font-size: 20px;
            font-weight: 100 !important;
            line-height: 2 !important;
          }
        }
      }

      .right-side {
        margin-left: 1rem;

        .event-range {
          font-size: 1.15rem;
          text-align: left;
          margin-bottom: 0rem !important;
        }

        .event-sub-range {
          margin-bottom: 0rem !important;
          text-align: left;
          color: red;
          text-transform: uppercase;
        }

        .event-type-container {
          text-align: left;
          margin-bottom: 0rem !important;

          .event-type {
            font-weight: bold;
            font-size: 0.8rem;
          }
          .event-title {
            font-size: 0.8rem;
          }
        }

        .event-location-container {
          text-align: left;

          .fa-map-marker-custom {
            color: #0476fe;
            font-size: 20px;
            font-weight: 100 !important;
            line-height: 2 !important;
          }
          .event-location {
            font-size: 0.8rem;
            color: #0476fe;
          }
        }
      }
    }
  }
}
