{% extends 'base.html.twig' %}

{% block body %}
    <h1>Person edit</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
    {{ form_end(form) }}
    <table id="lineReport">
        <thead>
        <tr>
            <th>Titre</th>
            <th>Wording</th>
            <th>notation</th>
        </tr>
        </thead>
        <tbody>
    {% for line in lines %}
        {{ include('molecules/ReportLine/line.html.twig', {
            'edit': true,
            'value': line,
        }) }}
    {% endfor %}
        </tbody>
    </table>
    <button name="addRow">Add Row</button>

    <ul>
        <li>
            <button name="btnEdit">Edit</button>
        </li>
        <li>
            <a href="{{ path('trainer_evaluation_index') }}">Back to the list</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
            <button type="submit">Delete</button>
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
