{% extends 'base.html.twig' %}

{% block body %}
    <h1>Person creation</h1>

    <div>
        <label for="">
            <input id="intervention" type="text">
        </label>
        <label for="">
            <input id="admin" type="text">
        </label>
        <label for="">
            <input id="learner" type="text">
        </label>
    </div>
    <table id="lineReport">
        <thead>
            <tr>
                <th>Titre</th>
                <th>Wording</th>
                <th>notation</th>
            </tr>
        </thead>
        <tbody>
        {{ include('molecules/ReportLine/line.html.twig') }}
        </tbody>
    </table>
    <button id="addLineRow">Add Row</button>
    <ul>
        <li><button id="addEval">Ajout</button></li>
        <li><a href="{{ path('trainer_evaluation_index') }}"></a></li>
        <li>
            <a href="{{ path('trainer_evaluation_index') }}">Back to the list</a>
        </li>
    </ul>
<div class="mod-skeleton">
    {{ include('molecules/ReportLine/line.html.twig') }}
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('js/report-evaluation.js') }}"></script>
{% endblock %}
