{% extends 'base.html.twig' %}

{% block body %}
    <h1>Person</h1>
    <table>
        <thead>
        <th>Id</th>
        <th>admin</th>
        <th>learner</th>
        <th>intervention</th>
        <th>Lines</th>
        </thead>
        <tbody>
            <tr>
                <td>{{ evaluation.id }}</td>
                <td>{{ evaluation.admin.firstName }}</td>
                <td>{{ evaluation.learner.firstName }}</td>
                <td></td>

                <td>{% for line in  lines %}
                    {{ line.wording }}
                    {{ line.notation }}
                    {% endfor %}
                </td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('trainer_evaluation_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('trainer_evaluation_edit', { 'id': evaluation.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
