{% extends "base.html.twig" %}

{% block title %}ClientBundle:Stats:index{% endblock %}
{% block pagename %}{{ 'clients.statistics_reports'|trans }}{% endblock %}

{% block body %}
    <div class="card card-pane">
        <div class="card-header">
            <ul class="nav nav-pills">
                <li class="nav-item">
                    <a href="#statsPane" class="nav-link active" data-toggle="tab">{{ 'clients.statistics.statistics_interventions'|trans }}</a>
                </li>

                <li class="nav-item">
                    <a href="#timelinePane" class="nav-link" data-toggle="tab">{{ 'clients.statistics.interventions_timeline'|trans }}</a>
                </li>
            </ul>
        </div>

        <div class="card-body">
            <div class="tab-content tab-space">
                <div class="tab-pane active" id="statsPane">
                    <div class="row">
                        <div class="col">
                            <form class="form">
                                <div class="form-group">
                                    <div class="input-group">
                                        <input type="text" value="" class="form-control" placeholder="{{ 'table.interventions.intervention'|trans }}...">

                                        <div class="input-group-append">
                                            <span class="input-group-text text-deepmark-orangelight"><i class="fal fa-search"></i></span>
                                        </div>
                                    </div>
                                  </div>
                            </form>
                        </div>

                        <div class="col">
                            <div class="form-group datepicker-group">
                                <div class="row">
                                    <label class="col-md-3 col-form-label" for="firstDate">{{ 'admin.billings.date'|trans }}</label>

                                    <div class="col-md-9">
                                        <div class="input-group">
                                            <input id="searchDate" type="text" class="form-control datepicker" value="10/06/2018">

                                            <div class="input-group-append">
                                                <span class="input-group-text text-deepmark-orangelight"><i class="fal fa-calendar-alt"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col">
                            <form class="form">
                                <div class="form-group">
                                    <div class="input-group">
                                        <input type="text" value="" class="form-control" placeholder="{{ 'search.content'|trans }}...">

                                        <div class="input-group-append">
                                            <span class="input-group-text text-deepmark-orangelight"><i class="fal fa-search"></i></span>
                                        </div>
                                    </div>
                                  </div>
                            </form>
                        </div>
                    </div>

                    <div class="interv-stats-special-timeline">
                        <div class="interv-stats-special-timeline__object"></div>
                    </div>
                </div>

                <div class="tab-pane" id="timelinePane">
                    {{ include('molecules/tables/list-interventions-stats-table.html.twig', { interventions: interventions, status: [] }) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}
