.dashboard-alerts-nav {
	.nav-link {
		position: relative;

		.badge {
			font-size: 20px;
			border-radius: 50%;
			padding: 5px 10px;

			position: absolute;
			top: -15px;
			right: -10px;
		}

		i {
			display: inline-block !important;
			margin-right: 10px;
			font-size: 16px;
		}

		&.active {
			background-color: $deepmark-red !important;
		}
	}
}

.special-toggle {
	.candlestick-wrapper { width: 100%; }
	p { margin-top: 5px; margin-bottom: 0; }

	.candlestick-bg.on {
		background-color: $deepmark-orangelight;

		.candlestick-off { display: none; }
		.candlestick-toggle { background-color: $deepmark-orangelight !important; }
	}

}

.msg-list {
	margin-top: 0;
	margin-bottom: 20px;

	&__item {
		background: rgba(0, 0, 0, 0.05);
		border-bottom: 1px solid $deepmark-mediumgray;

		padding: 15px;

		p {
			margin: 0;
			padding-top: 15px;
		}

		&:last-child { border-bottom: none; }

		.img-container {
			&--round {
				img {
					border-radius: 50%;
				}
			}

			float: left;
			overflow: hidden;

			width: 50px;

			img {
				max-width: 50px;
			}

			margin-right: 10px;
		}
	}
}
