.main-panel {
	background-color: #eeeeee;
	min-height: 100%;

	&.full {
		width: 100%!important;
	}
}

.navbar {
	.navbar-minimize {
		padding-left: 0;
	}
}

#modal-vclass-trainer-select{
	max-height: 300px;
	overflow-y: auto;
}

.btn {
	&-orangelight { background-color: $deepmark-orangelight; }
	&-lightmaroon { background-color: $deepmark-lightmaroon; }
	&-gold { background-color: $deepmark-gold; }
	&-navy { background-color: $deepmark-navy; }
	&-cadetblue { background-color: $deepmark-cadetblue; }
	&-lightblue { background-color: $deepmark-lightblue; }
	&-blue { background-color: $deepmark-blue; }
	&-green { background-color: $deepmark-green; }
	&-darkgreen { background-color: $deepmark-darkgreen; }
	&-red { background-color: $deepmark-red; }
}

.navbar-nav--dashboard {
	margin-left: 15px;
	margin-top: -15px;

	.nav-item {
		margin-left: 10px;
	}

	.btn--bigger {
		width: 70px;
		border-radius: 20px !important;
	}
}

.table-pagination {
	font-size: 24px;

	@media screen and (max-width: 992px) {
		font-size: 20px;
	}

	@media screen and (max-width: 768px) {
		font-size: 14px;
	}

	color: $deepmark-mediumgray;


	a {
		color: $deepmark-mediumgray;

		&:hover { text-decoration: none; }
	}
}

.loader {
	display: none;
	position: fixed;
	width: 100%;
	height: 100vh;
	background: rgba(0, 0, 0, 0.4);

	top: 0;
	left: 0;

	z-index: 1500;

	.spinner {
		font-size: 30px;

		position: absolute;
		top: 35vh;
		left: 45%;

		i {
			-animation: spin .7s infinite linear;
		   -webkit-animation: spin2 .7s infinite linear;
		}
   	}

	@-webkit-keyframes spin2 {
	    from { -webkit-transform: rotate(0deg);}
	    to { -webkit-transform: rotate(360deg);}
	}

	@keyframes spin {
	    from { transform: scale(1) rotate(0deg);}
	    to { transform: scale(1) rotate(360deg);}
	}
}
