{% extends 'base.html.twig' %}

{% block pagename %}{{ 'admin.profile.changing_client'|trans }}{% endblock %}

{% block body %}
    <div class="card {{ isEdit is defined ? 'card--user' : '' }}">
        {% if isEdit is defined %}
            <div class="card-header card-header-icon">
                <div class="card-icon">
                    <img src="{{ asset('img/default-avatar.png') }}" alt="">
                </div>

                <a data-placement="top" data-toggle="tooltip" title="List" class="btn btn-deepmark-navy" href="{{ path('admin_clients_index') }}"><i class="fal fa-list"></i></a>

                <div style="display: inline-block;">
                    <a href="{{ path('admin_clients_delete', { 'id': app.request.get('id') }) }}"><button type="submit" class="btn btn-deepmark-red"><i class="fal fa-trash"></i></button></a>
                </div>
            </div>
        {% else %}
            <div class="card-header--nav">
                {{ include('molecules/cards/nav/admin-clients-nav.html.twig') }}
            </div>
        {% endif %}
        <div class="card-body">
            {{ form_start(form) }}
            {#{{ form_widget(form) }}#}
            <div class="card-body">
                <h2 class="marg-b-30">{{ isEdit is defined ? 'admin.client.edit_client'|trans : 'admin.client.create_client'|trans }}</h2>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <div class="col-4 t-right">
                                {{ form_label(form.firstName) }}
                            </div>
                            <div class="col-8">
                                {{ form_widget(form.firstName) }}
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-4 t-right">
                                {{ form_label(form.lastName) }}
                            </div>
                            <div class="col-8">
                                {{ form_widget(form.lastName) }}
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-4 t-right">
                                {{ form_label(form.entity) }}
                            </div>
                            <div class="col-8">
                                {{ form_widget(form.entity) }}
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-4 t-right">
                                {{ form_label(form.person.timezone) }}
                            </div>
                            <div class="col-8">
                                {{ form_widget(form.person.timezone, {'attr': {'class': 'select2'}}) }}
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-4 t-right">
                                {{ form_label(form.mobilePhone) }}
                            </div>
                            <div class="col-8">
                                {{ form_widget(form.mobilePhone) }}
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-4 t-right">
                                {{ form_label(form.position) }}
                            </div>
                            <div class="col-8">
                                {{ form_widget(form.position) }}
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-4 t-right">
                                {{ form_label(form.fixedPhone) }}
                            </div>
                            <div class="col-8">
                                {{ form_widget(form.fixedPhone) }}
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-4 t-right">
                                {{ form_label(form.person.email) }}
                            </div>
                            <div class="col-8">
                                {{ form_widget(form.person.email) }}
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-4 t-right">
                                {{ form_label(form.person.plainPassword.first) }}
                            </div>
                            <div class="col-8">
                                {{ form_widget(form.person.plainPassword.first) }}
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-4 t-right">
                                {{ form_label(form.person.plainPassword.second) }}
                            </div>
                            <div class="col-8">
                                {{ form_widget(form.person.plainPassword.second) }}
                            </div>
                        </div>
                        {% if isEdit is defined %}
                            <div class="form-group row">
                                <div class="col-4 t-right">
                                    <label for="profile_client_edit_otherEmail">{{ 'global.other_email'|trans }}</label>
                                </div>
                                <div class="col-8">
                                    {{ form_widget(form.otherEmail) }}
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>

                <div class="text-right">
                    <a href="{{ isEdit is defined ? path('admin_clients_index') : path('admin_clients_new')}}" class="btn btn-deepmark-lightgray">{{ 'buttons.cancel'|trans }}</a>
                    <button type="submit" class="btn btn-orangelight">{{ isEdit is defined ? 'buttons.update'|trans : 'buttons.create'|trans }}</button>
                </div>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
<script type="text/javascript">
  $(document).ready(function(){
      $('#profile_client_edit_person_timezone').select2({
              minimumResultsForSearch: 1
          }
      );
      $('#profile_client_person_timezone').select2({
              minimumResultsForSearch: 1
          }
      );
      $('[data-toggle="tooltip"]').tooltip();
  })
</script>
{% endblock %}
