{% extends 'base.html.twig' %}

{% block pagename %}{{ 'admin.profile.client_list'|trans }}{% endblock %}

{% block body %}
    <div class="card">
        <div class="card-header--nav">
            {{ include('molecules/cards/nav/admin-clients-nav.html.twig') }}
        </div>

        <div class="card-body">
            <h2 class="marg-b-30">{{ 'admin.client.client_title'|trans }}</h2>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <th>{{ 'table.interventions.entity'|trans }}</th>
                    <th>{{ 'table.asked_by'|trans }}</th>
                    <th>{{ 'table.function'|trans }}</th>
                    <th>{{ 'table.email'|trans }}</th>
                    <th>{{ 'table.phones'|trans }}</th>
                    <th>{{ 'table.ca'|trans }}</th>
                    <th class="text-center">{{ 'table.action'|trans }}</th>
                    <th class="text-center">
                        <div class="form-check">
                            <label class="form-check-label">
                                <input class="form-check-input check-all-input" type="checkbox" value="">
                                <span class="form-check-sign">
                                        <span class="check"></span>
                                    </span>
                            </label>
                        </div>
                    </th>
                    </thead>

                    <tbody>
                    {% for client in clients %}
                        <tr data-toggle="modal" class="tr--withmodal" data-id="{{loop.index}}">
                            <td>
                                {% if client.entity is defined %}
                                    {{ client.entity.organisation.designation }} - {{ client.entity.designation }}
                                {% endif %}
                            </td>

                            <td>{{ client.displayName }}</td>

                            <td>
                                {{ client.position }}
                            </td>

                            <td>{{ client.otherEmail }}</td>

                            <td>
                                {{ client.fixedPhone }}<br>
                                {{ client.mobilePhone }}
                            </td>

                            <td>
                                <p>0</p>
                                {{ include('molecules/widgets/billed-progress.html.twig', { max: 1, current: 0 }) }}
                            </td>

                            <td class="text-center">
                                <a class="no-collapsable" href="{{ path('admin_clients_show', { 'id': client.id }) }}"><i class="fal fa-eye"></i></a>
                                <a class="no-collapsable" href="{{ path('admin_clients_edit', { 'id': client.id }) }}"><i class="fal fa-pen"></i></a>
                                <a class="no-collapsable" href="{{ path('admin_clients_delete', { 'id': client.id }) }}"><i class="fal fa-trash"></i></a>
                            </td>

                            <td class="text-center">
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" value="">
                                        <span class="form-check-sign">
                                                <span class="check"></span>
                                            </span>
                                    </label>
                                </div>
                            </td>
                        </tr>

                        <tr></tr>

                        <tr class="tr-modal tr-modal--client tr-modal-{{loop.index}}">
                            <td colspan="10">
                                <div class="td-modal">
                                    {{ include('molecules/modal/client-list-modal.html.twig') }}
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="navigation">
                {{ knp_pagination_render(clients) }}
            </div>

            <div class="send-msg-wrapper">
                <div class="text-right">
                    <a href="#" class="btn btn-sm btn-deepmark-navy send-msg-btn">{{ 'buttons.sendmsg'|trans }}</a>
                </div>

                <div class="send-msg-area">
                    <div class="row">
                        <div class="col-md-6 offset-md-6">
                            <form class="form">
                                <div class="form-group">
                                    <label for="msg">{{ 'global.message'|trans }}</label>
                                    <textarea class="form-control" id="msg" rows="5"></textarea>
                                </div>

                                <button type="submit" class="btn btn-sm btn-deepmark-navy">{{ 'buttons.send'|trans }}</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(function () {
            CKEDITOR.replace('msg');
        })
        $('.no-collapsable').on('click', function (e) {
            e.stopPropagation();
        });
    </script>
{% endblock %}
