{% extends 'base.html.twig' %}

{% block pagename %}{{ 'admin.profile.client_profile'|trans }}{% endblock %}

{% block body %}
    <div class="card card--user">
        <div class="card-header card-header-icon">
            <div class="card-icon">
                <img src="{{ asset('img/default-avatar.png') }}" alt="">
            </div>

            <a data-placement="top" data-toggle="tooltip" title="Edit" href="{{ url('admin_clients_edit', { id: profile.id }) }}" class="btn btn-deepmark-orangelight btn-edit"><i class="far fa-pen"></i></a>

            <div style="display: inline-block;">
                {{ form_start(delete_form) }}
                    <button data-placement="top" data-toggle="tooltip" title="Delete" type="submit" class="btn btn-deepmark-red btn-edit"><i class="fal fa-trash"></i></button>
                {{ form_end(delete_form) }}
            </div>
        </div>

        <div class="card-body">
            <div class="row">
                <div class="col-md-10">
                    <dl class="row">
                        <dt class="col-sm-3 text-right">{{ 'admin.profile.id'|trans }}</dt>
                        <dd class="col-sm-9">{{ profile.id }}</dd>

                        <dt class="col-sm-3 text-right">{{ 'admin.profile.creation_date'|trans }}</dt>
                        <dd class="col-sm-9">{% if profile.creationDate %}{{ profile.creationDate|date('Y-m-d H:i:s') }}{% endif %}</dd>

                        <dt class="col-sm-3 text-right">{{ 'admin.profile.update_date'|trans }}</dt>
                        <dd class="col-sm-9">{% if profile.updateDate %}{{ profile.updateDate|date('Y-m-d H:i:s') }}{% endif %}</dd>

                        <dt class="col-sm-3 text-right">{{ 'admin.profile.firstname'|trans }}</dt>
                        <dd class="col-sm-9">{{ profile.firstName }}</dd>

                        <dt class="col-sm-3 text-right">{{ 'admin.profile.lastname'|trans }}</dt>
                        <dd class="col-sm-9">{{ profile.lastName }}</dd>

                        <dt class="col-sm-3 text-right">{{ 'admin.profile.fixed_phone'|trans }}</dt>
                        <dd class="col-sm-9">{{ profile.fixedPhone }}</dd>

                        <dt class="col-sm-3 text-right">{{ 'admin.profile.mobile_phone'|trans }}</dt>
                        <dd class="col-sm-9">{{ profile.mobilePhone }}</dd>

                        <dt class="col-sm-3 text-right">{{ 'table.email'|trans }}</dt>
                        <dd class="col-sm-9">{{ profile.person.email }}</dd>

                        <dt class="col-sm-3 text-right">{{ 'global.organisation'|trans }}</dt>
                        <dd class="col-sm-9">{{ profile.entity.organisation.designation }}</dd>

                        <dt class="col-sm-3 text-right">{{ 'global.entity'|trans }}</dt>
                        <dd class="col-sm-9">{{ profile.entity.designation }}</dd>

                        <dt class="col-sm-3 text-right">{{ 'admin.profile.other_email'|trans }}</dt>
                        <dd class="col-sm-9">{{ profile.otherEmail }}</dd>

                        <dt class="col-sm-3 text-right">{{ 'admin.profile.billing_code'|trans }}</dt>
                        <dd class="col-sm-9">{{ profile.billingCode }}</dd>

                        <dt class="col-sm-3 text-right">{{ 'admin.profile.street'|trans }}</dt>
                        <dd class="col-sm-9">{{ profile.street }}</dd>

                        <dt class="col-sm-3 text-right">{{ 'admin.profile.avatar'|trans }}</dt>
                        <dd class="col-sm-9">{{ profile.avatar }}</dd>

                        <dt class="col-sm-3 text-right">{{ 'admin.profile.org_registration_nbr'|trans }}</dt>
                        <dd class="col-sm-9">{{ profile.organisationRegistrationNumber }}</dd>

                        <dt class="col-sm-3 text-right">{{ 'admin.profile.pitch'|trans }}</dt>
                        <dd class="col-sm-9">{{ profile.pitch }}</dd>

                        <dt class="col-sm-3 text-right">{{ 'admin.profile.scanned_iban'|trans }}</dt>
                        <dd class="col-sm-9">{{ profile.scannedIban }}</dd>

                        <dt class="col-sm-3 text-right">{{ 'admin.profile.iban'|trans }}</dt>
                        <dd class="col-sm-9">{{ profile.iban }}</dd>

                        <dt class="col-sm-3 text-right">{{ 'admin.profile.bic_code'|trans }}</dt>
                        <dd class="col-sm-9">{{ profile.bicCode }}</dd>
                    </dl>
                </div>
            </div>

            <div>
                <a class="btn btn-navy" href="{{ path('admin_clients_index') }}">{{ 'pagination.bck_to_list'|trans }}</a>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function(){
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>
{% endblock %}
