{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - {{ title }}{% endblock %}
{% block pagename %}{{ 'admin.supervisor.supervisor_title'|trans }}{% endblock %}

{% block body %}

    <div class="card marg-t-20 marg-l-0 marg-r-0 marg-b-0">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6 marg-t-10">
                <h3 class="bold text-center color-header">{{ 'admin.supervisor.supervisor_title'|trans }}</h3>
            </div>
            <div class="col-md-3 marg-t-20 no-padding-left text-right ">
                <a class="btn btn-sm font-size-10 btn-border-yelow btn-padding-small" href="{{ path('admin_supervisors_new') }}">{{ 'admin.supervisor.create_supervisor'|trans }}</a>
            </div>
        </div>

        <div class="card-body admin">
            <div class="row col-md-12 no-padding z-index" >
                <div class="col-md-4 no-padding">
                </div>
                <div class="col-md-4 no-padding-right pad-t-10" >
                    <div  class="row btn-deepmark-light border-radis-30 height-40">
                        <div class="col-md-3 text-center no-padding color-header font-size-10 flex--center ">{{ 'search.content'|trans }}</div>
                        <div class="col-md-7 no-padding ">
                            <input type="text" id="bookSearch" class="border-0 height-100 no-padding no-margin color-header backgroud-deepmark-light">
                        </div>
                        <div class="col-md-2 flex--center">
                            <i class="fas color-header fa-search"></i>
                        </div>

                    </div>
                </div>
                <div class="col-md-3 text-right no-padding-right">
                    <div style="margin-top: 17px;" class="form-group pad-b-0">
                        <select id="typeAction" class="classic">
                            <option value="1">{{ 'buttons.delete'|trans }}</option>
                            <option value="2">{{ 'global.deactivate'|trans }}</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-1 no-padding-right">
                    <button id="apply" class="btn btn-deepmark-orangelight btn-block">{{ 'global.apply'|trans }}</button>
                </div>
            </div>
            <div class="col-md-12 no-padding learnerTrainerList">
                <table id="entityTable" class="table table-striped w-100 font-size-13">
                    <thead class="table-header w-100">
                        <tr>
                            <th>{{ 'global.employee_id'|trans }}</th>
                            <th>{{ 'global.lastname'|trans }}</th>
                            <th>{{ 'global.firstname'|trans }}</th>
                            <th>{{ 'global.email'|trans }}</th>
                            <th>{{ 'table.function'|trans }}</th>
                            <th>{{ 'admin.entity.organization'|trans }}</th>
                            <th>{{ 'table.entity'|trans }}</th>
                            <th data-orderable="false" >{{ 'admin.entity.actions'|trans }}</th>
                            <th data-orderable="false" class="justify-content-center">
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input class="form-check-input check-all-input-datatable" type="checkbox" value="">
                                        <span class="form-check-sign">
                                    <span class="check"></span>
                                </span>
                                    </label>
                                </div>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for client in list %}
                        <tr>
                            <td>{{ client.employeeId | default('') }}</td>
                            <td>{{ client.lastName }}</td>
                            <td>{{ client.firstName }}</td>
                            <td>{{ client.person.email }}</td>
                            <td>{{ client.position }}</td>
                            <td>{{ client.entity.designation }}</td>
                            <td>{{ client.entity.organisation.designation }}</td>
                            <td>
                                <a href="{{ path('admin_supervisors_show', { 'id': client.id }) }}">
                                    <i class="fa fa-eye color-header"></i>
                                </a>&nbsp;&nbsp;
                                <a href="{{ path('admin_supervisors_edit', { 'id': client.id }) }}">
                                    <i class="fa fa-pencil color-header"></i>
                                </a>&nbsp;&nbsp;
                                <a data-id="{{ client.id  }}" class="btnDelete no-collapsable"><i class="fas fa-ban color-header"></i></a>
                            </td>
                            <td>
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" value="{{ client.id  }}">
                                        <span class="form-check-sign">
                                    <span class="check"></span>
                                </span>
                                    </label>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="modal fade" id="deleteOrInactiveModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body text-center">
                    <p id="txt"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ 'buttons.close'|trans }}</button>
                    <button  id="btnAction" type="submit" class="btn btn-primary">{{ 'buttons.confirm'|trans }}</button>
                </div>
            </div>
        </div>
    </div>
    {{ include('molecules/modal/delete-user.html.twig', { url: '', isDelete: 0  }) }}
    <script type="text/javascript" src="{{ asset('js/lang_datatable.js') }}"></script>
    <script>
        jQuery(document).ready(function () {
            jQuery('a.confirm-yes').on('click', function (event) {
                event.preventDefault();
                var ask = window.confirm("Are you sure you want to delete this item?");

                if (ask) {
                    window.location.href = jQuery(this).attr('href');
                }
            })
            $('.btnDelete').on('click', function () {
                var id = $(this).attr('data-id');
                $('#formDelete').attr('action', '/admin/supervisors/'+id+'/delete');
                $('#deleteModal').modal('show');
            });
        });
        $(document).ready(function () {
            deleteOrInactiveSupervisors();
            $('#apply').on('click', function () {
                let type = $('#typeAction').val();
                if (type == 1) {
                    $("#txt").text("{{ 'popup.user_delete'|trans|raw }}");
                } else {
                    $("#txt").text("{{ 'popup.user_deactivate'|trans|raw }}");
                }
                $("#deleteOrInactiveModal").modal('show');
            });

            let lang = languageDatatable();
            let table = $('#entityTable').DataTable({
                "language": lang,
                "order": [[ 1, "asc" ], [ 2, "asc" ]],
                    "scrollX": true,
                    "scrollY": false,
                    exportOptions: {
                        columns: ':visible'
                    },

                    "columnDefs": [
                        {
                            "width": "20%",
                            "targets": 3
                        }
                    ],
                    dom: 'Blfrtip',
                    buttons: [
                        'csv',
                        'excel',
                        {extend: 'pdfHtml5', orientation: 'landscape', pageSize: 'A3',},
                        'colvis'
                    ],
                }
            );
            $('#entityTable').DataTable().columns.adjust();

            $('.buttons-colvis').on('click', function () {
                $('.dt-button-collection').addClass('show');
            });
            $(".dataTables_filter").hide();
            $('#bookSearch').keyup(function(){
                table.search($(this).val()).draw() ;
            })
            $('.check-all-input-datatable').change(function() {
                var rows = table.rows({ 'search': 'applied' }).nodes();
                $('input[type="checkbox"]', rows).prop('checked', this.checked);
            });
            $( window ).resize(function() {
                $('#entityTable').DataTable().columns.adjust();
            });

            let btn = $('[data-action="minimize-sidebar"]');
            if (btn.length) {
                btn.on('click', function () {
                    setTimeout(function() {
                        $('#entityTable').DataTable().columns.adjust();
                    }, 300);
                })
            }
        });

        function deleteOrInactiveSupervisors() {

            $('#btnAction').on('click', function () {
                let type = $('#typeAction').val();
                let checkInput = $('input[type="checkbox"]');
                let selectedProfiles = [];

                checkInput.each(function () {
                    if(this.checked && this.value !== ""){
                        selectedProfiles.push(this.value);
                    }
                });

                if (!selectedProfiles.length) {
                    // one or more checkboxes are
                    swal('Warning', 'Please select at least one.', 'warning');
                    return;
                }
                $.ajax({
                    'url': '{{ path('admin_supervisors_deleteSupervisors') }}',
                    'method': 'POST',
                    'data' : {
                        'selectedProfiles': selectedProfiles,
                        'type': type
                    }
                }).done(function (response) {
                    location.reload();
                }).fail(function (response) {
                    console.log(response)
                })
            });
        }
    </script>

{% endblock %}
