{% set route = app.request.get('_route') %}
<nav>
    <ul class="nav nav-pills" role="tablist">
        {% for navigatorItem in navigatorItems %}
            <li class="nav-item">
                <a class="nav-link nav-link--flex {{ route == navigatorItem.href ? 'active' }} {{ navigatorItem.class }}"
                   href="{{ path(navigatorItem.href) }}">
                    <i class="{{ navigatorItem.icon }}"></i><span>{{ navigatorItem.label }}</span>
                </a>
            </li>
        {% endfor %}
    </ul>
    <div class="pane-search">
        <div class="row">
            <div class="col-md-2 offset-md-10">
                <form class="form">
                    <div class="form-group">
                        <div class="input-group">
                            <input type="text" value="" class="form-control"
                                   placeholder="{{ 'search.content'|trans }}...">
                            <div class="input-group-append">
                                <span class="input-group-text text-deepmark-orangelight"><i
                                            class="fal fa-search"></i></span>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</nav>