{% if others %}
<div class="card-body no-padding row">
    {% for other in others %}
        <div class="col-md-12">
            {{ include('molecules/cards/card-best-practices.html.twig', { bestPractice: other  }) }}
        </div>
    {% endfor %}
</div>
{% endif %}