<div class="row">
	<div class="col-md-12 no-padding">
		<div style="margin-top: 17px;" class="form-group pad-b-0 admin">
			<select id="{{ resourceType }}_select_best_practice_type" name="{{ resourceType }}_selectBestPracticeType" class="classic">
				{% if resourceType == constant('\\ApiBundle\\Entity\\BestPractice::RESOURCE_TYPE_QUIZ_LEARNER_ANSWER') %}
					{% if resourceParams.documents is defined and resourceParams.documents is not null %}
						{% for param in resourceParams.documents %}
							{% if param[0] != 'img' and param[1] is not empty %}
								{% set temp = param[2].name|default(param[1]) %}
								<option value="{{ param[0] }}|{{ constant('\\ApiBundle\\Entity\\BestPractice::DOCUMENT_TYPE_DOCUMENT') }}"> Document ({{ param[0] }}) : {{ temp }}  </option>
							{% endif %}
						{% endfor %}
					{% endif %}

					{% if resourceParams.template is defined and resourceParams.template is not empty %}
						<option value="template|{{ constant('\\ApiBundle\\Entity\\BestPractice::DOCUMENT_TYPE_DOCUMENT') }}"> Template: {{ file_descriptor.name|default(resourceParams.template) }}  </option>
					{% endif %}

					{% if resourceParams.record is defined and resourceParams.record is not empty %}
						<option value="record|{{ constant('\\ApiBundle\\Entity\\BestPractice::DOCUMENT_TYPE_VIDEO') }}"> Record: {{ resourceParams.record }}  </option>
					{% endif %}
				{% else %}
					{% set params = resourceParams|json_decode %}
					{% if params.file_descriptor.doc is defined %}
						{% set doc = params.file_descriptor.doc|json_decode %}
						{% if doc is not null %}
							<option value="doc|{{ constant('\\ApiBundle\\Entity\\BestPractice::DOCUMENT_TYPE_DOCUMENT') }}"> {{ doc.name }}  </option>
						{% endif %}
					{% endif %}
					{% if params.file_descriptor.song is defined %}
						{% set song = params.file_descriptor.song|json_decode %}
						{% if song is not null %}
							<option value="song|{{ constant('\\ApiBundle\\Entity\\BestPractice::DOCUMENT_TYPE_AUDIO') }}"> {{ song.name }}  </option>
						{% endif %}
					{% endif %}
					{% if params.file_descriptor.video is defined %}
						{% set video = params.file_descriptor.video|json_decode %}
						{% if song is not null %}
							<option value="video|{{ constant('\\ApiBundle\\Entity\\BestPractice::DOCUMENT_TYPE_VIDEO') }}"> {{ video.name }}  </option>
						{% endif %}
					{% endif %}
				{% endif %}
			</select>
		</div>
	</div>
	<div class="form-group text-left marg-t-20">
		<label for="exampleFormControlTextarea1">{{ 'popup.your_comment'|trans }}</label>
		<input type="hidden" class="form-control" name="resourceType" value="{{ resourceType }}" id="{{ resourceType }}_resource_type">
		<input type="hidden" class="form-control" name="resourceId" value="{{ resourceId }}" id="{{ resourceType }}_resource_id">
		<input type="hidden" class="form-control" name="entityId" value="{{ entityId }}" id="{{ resourceType }}_entity_id">
		<input type="hidden" class="form-control" name="moduleId" value="{{ moduleId }}" id="{{ resourceType }}_module_id">
	</div>
</div>