<div class="billed-progress-widget">
	<div class="progress">
		<div class="progress-bar" role="progressbar"
			style="width: {{ (current / max) * 100 }}%"></div>

		<span class="already">{{current}}€</span>
		<span class="left">{{max}}€</span>
	</div>

	<p class="float-left">{{ 'table.alrdy_charged'|trans }}</p>
	<p class="text-right">{{ 'table.billing'|trans }}</p>
</div>
