{%  if  appId == constant('\\ApiBundle\\Entity\\Status::WITH_BOOKING_DONE') %}
	{{ 'learners.courses.status.done' | trans }}
{% elseif appId == constant('\\ApiBundle\\Entity\\Status::WITH_BOOKING_BOOKED') %}
	{{ 'learners.courses.status.booked' | trans }}
{% elseif appId == constant('\\ApiBundle\\Entity\\Status::WITH_BOOKING_LEARNER_ABSENT') %}
	{{ 'learners.courses.status.absent' | trans }}
{% elseif appId == constant('\\ApiBundle\\Entity\\Status::WITH_BOOKING_CONFIRMED') %}
	{{ 'learners.courses.status.confirmed' | trans }}
{% elseif appId== constant('\\ApiBundle\\Entity\\Status::LEARNER_INTERVENTION_EXPIRED') %}
	{{ 'learners.courses.status.expired' | trans }}
{% elseif appId == constant('\\ApiBundle\\Entity\\Status::WITH_BOOKING_IN_PROGRESS') %}
	{{ 'learners.courses.status.in_progress' | trans }}
{% else %}
	{{ 'learners.courses.to_follow'|trans }}
{% endif %}