<div class="card card-stats" onclick="redirectCardDashboard('{{ link }}')" style="min-height: 215px;">
    <header class="card-header card-header--flex card-header-{{ color }} card-header-icon">
        <div class="card-icon">
            <i class="fal fa-{{ icon }}"></i>
        </div>
        <h6 class="card-category"> {{ title }} <span class="card-category--small">{{ titleSmall | default("") }}</span></h6>
    </header>

    <div class="card-body" {% if type is defined and type == 'alert' %} data-role="action_count_planning" {% endif %}>
        {{ statNumber }}
    </div>

    <footer class="card-footer {% if slider is defined and slider == true %}card-footer--withslider{% endif %}">
        {% if slider is defined and slider == true %}
            <div class="slider-wrapper" >
                <div class="slider dm-slider resources-slider" data-content="{{ statNumber }}"></div>
            </div>
        {% else %}
            <div class="stats">
                <a class="card-link stats-link" href="{{ link }}">{{ linkDesc }}</a>
            </div>
        {% endif %}
    </footer>
</div>
