<div class="progress-circle" data-percentage="{{ percent }}">
				<span class="progress-left">
					<span class="progress-bar-circle"></span>
				</span>
	<span class="progress-right">
					<span class="progress-bar-circle"></span>
				</span>
	<div class="progress-value">
		<div>
			{{ percent }}%
		</div>
	</div>
</div>