    {% if is_granted('ROLE_ADMIN') %}
        {% set role = 'admin' %}
    {% elseif is_granted('ROLE_TRAINER') %}
        {% set role = 'trainer' %}
    {% elseif is_granted('ROLE_LEARNER') %}
        {% set role = 'learner' %}
    {% endif %}

    {% set role = forceRole is defined ? forceRole : role %}

    {% set downloadPath = role ~ '_' ~ (type == 'documents' ? 'document_' : 'library_') ~ 'download' %}

        {% set linkHref = document.fileDescriptor ? path(downloadPath, {'id': document.fileDescriptor.id}) : (document.url is defined ? document.url : '#') %}
    {% set fileName =  document.fileDescriptor ? document.fileDescriptor.name ? '' %}
    <i class="far fa-file marg-r-10"></i><span><a href="{{ linkHref }}" download>{{ fileName }}</a></span>
