    {% set downloadPath = 'trainer_document_download' %}
    {% set linkHref = document.fileDescriptor ? path(downloadPath, {'id': document.fileDescriptor.id}) : document.url %}
    {% set fileName =  document.fileDescriptor.name %}
    <a href="{{ linkHref }}" download>
        <span  class="documents-list__item-title">
            {{  fileName }}
        </span>
        <span class="documents-list__item-icon">
            <i class="fal fa fa-download"></i>
        </span>
    </a>