{% if appId == constant('\\ApiBundle\\Entity\\StoredModule::ONLINE') %}
	{{ 'admin.interventions.mods.onlineseance'|trans }}
{% elseif appId == constant('\\ApiBundle\\Entity\\StoredModule::VIRTUAL_CLASS') %}
	{{ 'admin.interventions.mods.virtualclass'|trans }}
{% elseif appId == constant('\\ApiBundle\\Entity\\StoredModule::PRESENTATION_ANIMATION') %}
	{{ 'admin.interventions.mods.animation'|trans }}
{% elseif appId == constant('\\ApiBundle\\Entity\\StoredModule::ONLINE_WORKSHOP') %}
	{{ 'admin.interventions.mods.workshop'|trans }}
{% elseif appId == constant('\\ApiBundle\\Entity\\StoredModule::ELEARNING') %}
	{{ 'admin.interventions.mods.elearning'|trans }}
{% elseif appId == constant('\\ApiBundle\\Entity\\StoredModule::QUIZ') %}
	{{ 'admin.interventions.mods.quiz'|trans }}
{% elseif appId == constant('\\ApiBundle\\Entity\\StoredModule::ASSESSMENT') %}
	{{ 'admin.interventions.mods.assessment'|trans }}
{% elseif appId == constant('\\ApiBundle\\Entity\\StoredModule::EVALUATION') %}
	{{ 'admin.interventions.mods.evaluation'|trans }}
{% elseif appId == constant('\\ApiBundle\\Entity\\StoredModule::CONCEPTION') %}
	{{ 'admin.interventions.mods.conception'|trans }}
{% elseif appId == constant('\\ApiBundle\\Entity\\StoredModule::PILOTAGE') %}
	{{ 'admin.interventions.mods.driving'|trans }}
{% elseif appId == constant('\\ApiBundle\\Entity\\StoredModule::TEAM_PREPARATION') %}
	{{ 'admin.interventions.mods.team-preparation'|trans }}
{% endif %}