{% set percent = (current / max) * 100 %}

<div class="planif-progress-widget">
	<div class="progress" data-progress="{{ percent }}">
		<div class="progress-bar" role="progressbar" 
			style="width: {{ percent }}%"></div>
	</div>

	{% if displayText is defined and displayText == false %}

	{% else %}
		<p class="text-center">{{ current }} / {{ max }}</p>
	{% endif %}
	
</div>