<div class="student-progress-widget">
	<div class="progress">
		<div class="progress-bar" role="progressbar" 
			style="width: {{ percent }}%"></div>
	</div>
	{% if displayText is defined and displayText == false %}
	
	{% else %}
		<p class="text-center">{{ percent }} %</p>
	{% endif %}
</div>