{% if is_granted('ROLE_TRAINER') %}
    <div class="col-md-12 text-center row div-synthesis" >
        <div class="col-md-12 pad-b-20 text-center">
            <h3 class="no-margin color-header bold" >{{ 'popup.synthesis'|trans }}</h3>
        </div>
        <div class="col-md-6 text-center">
            <!-- Ratings -->
            <p class="bold">{{ 'popup.session_grade'|trans }}</p>
            <div class="marg-b-30 font-size-30">{{ include('molecules/widgets/ratings.html.twig', { max: 5, grade: moduleRating.rating }) }}</div>
            <!-- Report and Grade -->
            {% set grade = booked.learnerGrade is not null ? booked.learnerGrade : null %}
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-10 no-padding">
                    {{ include('molecules/trainer/my-report.html.twig', { templateFile: templateFile, reportFile: reportFile, grade:grade, minScore: module.minScore, appId: module.storedModule.appId, isNeedReport: booked.module.isNeedReport }) }}
                </div>
                <div class="col-md-1"></div>
            </div>
            {% if  (booked.status is defined and booked.status is not null) and (booked.status.appId ==  status_done or booked.status.appId ==  status_learner_absent) and reportFile is null and booked.module.isNeedReport is not null %}
                <input value="0" name="reportStatus" id="reportStatus" hidden>
            {% endif %}
        </div>
        <div class="col-md-6 text-center ">
            <p class="bold">{{ 'global.trainer_grade'|trans }}</p >
            <!-- Ratings -->
            <div class="marg-b-30 font-size-30">{{ include('molecules/widgets/ratings.html.twig', { max: 5, grade: moduleTrainerRating.rating }) }}</div>
            <!-- Attendance Sheet -->
            {% if booked.module.signatureMethod is not null %}
                {% if bookingAgendas and booked.module.signatureMethod == 1 %}
                    <div class="row">
                        <div class="col-md-1"></div>
                        <div class="col-md-10 no-padding">
                            <a href="{{ path('trainer_exercices_print_attendance', {'id': booked.id }) }}" target="_blank" style="padding-top: 3px;" class="btn btn-block border-radius-0 pad-l-10 marg-t-0 pad-b-5 pad-r-10 btn-deepmark text-white">
                                <div class="row">
                                    <div class="col-md-2 no-padding flex--center"><i class="fa fa-pencil"></i></div>
                                    <div class="col-md-8 text-left">
                                        <span class="bold font-size-9">{{ 'email.view'|trans|raw }}</span><br>
                                        <span class="font-weight-light">{{ 'global.the_attendance_sheet' |trans }}</span>
                                    </div>
                                    <div class="col-md-2 flex--center">
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-1"></div>
                    </div>
                {% else %}
                    {% if attendanceReportFile is empty  %}
                            <div class="row">
                                <div class="col-md-1"></div>
                                <div class="col-md-10 no-padding">
                                    <a data-toggle="modal" data-target="#attendance-sheet-download" style="padding-top: 3px;" class="btn btn-block border-radius-0 pad-l-10  pad-b-5 pad-r-10 btn-deepmark text-white">
                                        <div class=" row">
                                            <div class="col-md-2 no-padding flex--center"><i class="fa fa-pencil"></i></div>
                                            <div class="col-md-8 text-left">
                                                <span class="bold font-size-9">{{ 'global.option_two'|trans|raw }}</span><br>
                                                <span class="font-weight-light">{{ 'global.the_attendance_sheet' |trans }}</span>
                                            </div>
                                            <div class="col-md-2"></div>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-md-1"></div>
                            </div>
                    {% else %}
                        {% set audioType = ["wav", "mp3", "MP3", "WAV"] %}
                        {% set videoType = ["mp4", "mov", "ogg", "MP4", "MOV", "OGG"] %}
                        {% set imgType = ["png", "PNG", "JPG", "jpg", "JPEG", "jpeg"] %}

                        <div class="row">
                            <div class="col-md-1"></div>
                            <div style="height: 45px;" class="col-md-7 btn-deepmark-light no-padding flex--center color-header font-size-12 text-uppercase">{{ 'global.the_attendance_sheet' |trans }}</div>
                            <div style="height: 45px;" class="col-md-3 btn-deepmark-light no-padding flex--center text-right">
                                <a download href="{{ asset('files/reports/'~  attendanceReportFile.fileDescriptor.path) }}" class="color-header pointer" >
                                    <i class="far fa-arrow-to-bottom"></i>
                                </a>&nbsp;&nbsp;&nbsp;&nbsp;
                                {% set fileFormat = attendanceReportFile.fileDescriptor.mimeType %}
                                {% if fileFormat in imgType or fileFormat in videoType or fileFormat in audioType %}
                                    <a target="_blank" href="{{ attendanceReportFile ? asset('files/reports/'~  attendanceReportFile.fileDescriptor.path) : 'javascript:void(0)' }}" >
                                        <i class="fa fa-eye color-header" aria-hidden="true"></i>
                                    </a>&nbsp;&nbsp;
                                {% else %}
                                    <a data-pdf-loader-queue="{{ attendanceReportFile.fileDescriptor.path }}" class="pointer preview-file">
                                        <i class="fa fa-eye color-header" aria-hidden="true"></i>
                                    </a>&nbsp;&nbsp;
                                {% endif %}
                            </div>
                            <div class="col-md-1"></div>
                        </div>
                    {% endif %}
                {% endif %}
            {% endif %}

            {% if module.storedModule.appId == constant('\\ApiBundle\\Entity\\StoredModule::ONLINE') %}
                <!-- My notes -->
                <div class="row marg-t-5">
                    <div class="col-md-1"></div>
                    <div class="btn-deepmark-light col-md-10 marg-t-5 pad-10 row no-margin" style="height: 41px;">
                        <div class="col-md-7 text-left no-padding color-header font-size-12 text-uppercase">{{ 'global.view_my_notes' |trans }}</div>
                        <div class="col-md-5 no-padding text-right">
                            <a download href="#" class="color-header pointer" >
                                <i class="far fa-arrow-to-bottom"></i>
                            </a>&nbsp;&nbsp;
                            <a data-pdf-loader-queue="" class="pointer preview-file  ">
                                <i class="fa fa-eye color-header" aria-hidden="true"></i>
                            </a>&nbsp;&nbsp;
                        </div>
                    </div>
                    <div class="col-md-1"></div>
                </div>
            {% endif %}
        </div>
    </div>
{% elseif is_granted('ROLE_LEARNER') %}
    <div class="col-md-12 text-center row bg-white border-radius-10 pad-t-15 pad-b-15 marg-t-15" >
        <div  class="col-md-12 pad-b-20 text-center">
            <p class="color-header font-weight-600 font-size-20" >{{ 'popup.synthesis'|trans }}</p>
        </div>

        <!-- Ratings session -->
        <div class="col-md-6 text-center no-padding">
            <p class="bold">{{ 'global.session_evaluation'|trans }}</p>
            <div class="marg-b-30 font-size-40">{{ include('molecules/widgets/ratings.html.twig', { max: 5, grade:notation?notation.notation:0 }) }}</div>
        </div>

        <!-- Ratings trainer -->
        <div class="col-md-6 text-center no-padding">
            <p class="bold">{{ 'global.trainer_evaluation'|trans }}</p >
            <div class="marg-b-30 font-size-40">{{ include('molecules/widgets/ratings.html.twig', { max: 5, grade:notationTrainer?notationTrainer.notation:0 }) }}</div>
        </div>

        <!-- Report -->
        <div class="col-md-6 pad-10 row">
            <div class="col-md-1"></div>
            <div class="col-md-6 btn-deepmark-light justify-content-start pad-l-30 color-header height-50 flex--center font-size-12 text-uppercase">{{ 'global.my_report'|trans }}</div>
            <div class="col-md-4 btn-deepmark-light justify-content-end height-50 flex--center pad-r-30 text-right">
                {% if report is empty  %}
                    <a download href="javascript:void(0)" class="text-gray pointer" >
                        <i class="far fa-arrow-to-bottom"></i>
                    </a>&nbsp;&nbsp;&nbsp;&nbsp;
                    <a class="pointer">
                        <i class="fa fa-eye text-gray" aria-hidden="true"></i>
                    </a>&nbsp;
                {% else %}
                    {% set audioType = ["wav", "mp3", "MP3", "WAV"] %}
                    {% set videoType = ["mp4", "mov", "ogg", "MP4", "MOV", "OGG"] %}
                    {% set imgType = ["png", "PNG", "JPG", "jpg", "JPEG", "jpeg"] %}
                    <a download href="{{ asset('files/reports/'~  report.fileDescriptor.path) }}"
                       class="color-header pointer">
                        <i class="far fa-arrow-to-bottom"></i>
                    </a>&nbsp;&nbsp;&nbsp;&nbsp;
                    {% set fileFormat = report.fileDescriptor.mimeType %}
                    {% if fileFormat in imgType or fileFormat in videoType or fileFormat in audioType %}
                        <a target="_blank" href="{{ asset('files/reports/'~  report.fileDescriptor.path) }}">
                            <i class="fa fa-eye color-header" aria-hidden="true"></i>
                        </a>
                    {% else %}
                        <a data-pdf-loader-queue="{{ '/files/reports/'~ report.fileDescriptor.path }}"
                           class="pointer preview-file">
                            <i class="fa fa-eye color-header" aria-hidden="true"></i>
                        </a>
                    {% endif %}
                {% endif %}
            </div>
            <div class="col-md-1"></div>
        </div>
        {% if booked.module.signatureMethod is not null and booked.status.id == constant('\\ApiBundle\\Entity\\Status::DONE') %}
            {% if booked.module.signatureMethod == 1 %}
                <div class="col-md-6 pad-10 row">
                    <div class="col-md-1"></div>
                    <div class="col-md-10 no-padding">
                        <a href="{{ path('learner_exercices_print_attendance', {'id': booked.id }) }}" target="_blank" style="padding-top: 3px;" class="btn btn-block border-radius-0 pad-l-10 marg-t-0 pad-b-5 pad-r-10 btn-deepmark text-white">
                            <div class="row">
                                <div class="col-md-2 no-padding flex--center"><i class="fa fa-pencil"></i></div>
                                <div class="col-md-8 text-left">
                                    <span class="bold font-size-9">{{ 'email.view'|trans|raw }}</span><br>
                                    <span class="font-weight-light">{{ 'global.the_attendance_sheet' |trans }}</span>
                                </div>
                                <diagev class="col-md-2 flex--center">
                                </diagev>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-1"></div>
                </div>
            {% endif %}
        {% endif %}

        <!-- Attendance sheet -->
        {#{% set audioType = ["wav", "mp3", "MP3", "WAV"] %}
        {% set videoType = ["mp4", "mov", "ogg", "MP4", "MOV", "OGG"] %}
        {% set imgType = ["png", "PNG", "JPG", "jpg", "JPEG", "jpeg"] %}
        <div class="col-md-6 pad-10 row">
            <div class="col-md-1"></div>
            <div class="col-md-6 btn-deepmark-light justify-content-start pad-l-30 color-header height-50 flex--center font-size-12 text-uppercase">{{ 'global.attendance_sheet' |trans }}</div>
            <div class="col-md-4 btn-deepmark-light justify-content-end height-50 flex--center pad-r-30 text-right">
                {% if attendanceReportFile is empty  %}
                    <a download href="javascript:void(0)" class="text-gray pointer" >
                        <i class="far fa-arrow-to-bottom"></i>
                    </a>&nbsp;&nbsp;&nbsp;&nbsp;
                    <a class="pointer">
                        <i class="fa fa-eye text-gray" aria-hidden="true"></i>
                    </a>&nbsp;
                {% else %}
                    <a download href="{{ asset('files/reports/'~  attendanceReportFile.fileDescriptor.path) }}" class="color-header pointer" >
                        <i class="far fa-arrow-to-bottom"></i>
                    </a>&nbsp;&nbsp;&nbsp;&nbsp;
                    {% set fileFormat = attendanceReportFile.fileDescriptor.mimeType %}
                    {% if fileFormat in imgType or fileFormat in videoType or fileFormat in audioType %}
                        <a target="_blank" href="{{ asset('files/reports/'~  attendanceReportFile.fileDescriptor.path) }}" >
                            <i class="fa fa-eye color-header" aria-hidden="true"></i>
                        </a>&nbsp;&nbsp;
                    {% else %}
                        <a data-pdf-loader-queue="{{ '/files/reports/'~ attendanceReportFile.fileDescriptor.path }}" class="pointer preview-file">
                            <i class="fa fa-eye color-header" aria-hidden="true"></i>
                        </a>&nbsp;&nbsp;
                    {% endif %}
                {% endif %}
            </div>
            <div class="col-md-1"></div>
        </div>#}

        <!-- Grade -->
        {% if module.storedModule.appId == constant('\\ApiBundle\\Entity\\StoredModule::ONLINE') %}
            <div class="col-md-6 pad-10 row">
                <div class="col-md-1"></div>
                <div class="col-md-6 btn-deepmark-light justify-content-start pad-l-30 color-header height-50 flex--center font-size-12 text-uppercase">{{ 'global.my_score'|trans }}</div>
                <div class="col-md-4 btn-deepmark justify-content-end height-50 flex--center pad-r-30 text-right">
                    {% if booked.learnerGrade %} <span class="text-white font-size-20 bold">{{ booked.learnerGrade }}%</span> {% endif %}
                </div>
                <div class="col-md-1"></div>
            </div>

            <!-- My notes -->
            <div class="col-md-6 pad-10 row">
                <div class="col-md-1"></div>
                <div class="col-md-6 btn-deepmark-light justify-content-start pad-l-30 color-header height-50 flex--center font-size-12 text-uppercase">{{ 'global.my_notes' |trans }}</div>
                <div class="col-md-4 btn-deepmark-light justify-content-end height-50 flex--center pad-r-30 text-right">
                    <a download href="#" class="color-header pointer" >
                        <i class="far fa-arrow-to-bottom"></i>&nbsp;&nbsp;&nbsp;&nbsp;
                    </a>
                    <a data-pdf-loader-queue="" class="pointer preview-file">
                        <i class="fa fa-eye color-header" aria-hidden="true"></i>
                    </a>
                </div>
                <div class="col-md-1"></div>
            </div>
        {% endif %}
    </div>
{% endif %}