{% if url is not defined or url == null %}
    {% set url = app.request.uri %}
{% endif %}

{% spaceless %}
    <script src="https://platform.linkedin.com/in.js" type="text/javascript">lang: {{ locale }}</script>
    <script type="IN/Share" data-url="{{url}}"></script>
{% endspaceless %}