{% if facebook is not same as(false) %}
    <div class="col-md-6 button facebookButton">
        {{ facebookButton(facebook) }}
    </div>
{% endif %}

{% if linkedin is not same as(false) %}
  <div class="col-md-6 button linkedin">
      {{ linkedinButton(linkedin) }}
  </div>
{% endif %}
