<!DOCTYPE html>
<html>
<head>
    <meta charset="{{ _charset }}"/>
    <meta name="robots" content="noindex,nofollow"/>
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <title>{% block title %}{% endblock %}</title>
    <link rel="icon" type="image/png" href="{{ include('@Twig/images/favicon.png.base64') }}">
    <style>{{ include('@Twig/exception.css.twig') }}</style>
    {% block head %}{% endblock %}
</head>
<body>
{% block body %}{% endblock %}
{{ include('@Twig/base_js.html.twig') }}
</body>
</html>
