{% extends 'base.html.twig' %}

{% block pagename %}{{ 'admin.trainers.upload_cv_template'|trans }}{% endblock %}

{% set path = 'files/profile/' %}

{% block body %}
    <div class="card">
        <div class="card-header--nav">
            {{ include('molecules/cards/nav/admin-trainers-nav.html.twig') }}
        </div>
        <div class="card-body card--user card--trainer">
            <h2 class="marg-b-30">{{ 'admin.trainers.upload_cv_template'|trans }}</h2>
            <div class=" card-header card-header-icon">
                <a title="Download CV template" href="{% if cvTemplate is not null %}/trainer/documents/download/{{ cvTemplate.fileDescriptor.id }}{% endif %}"
                   id="trainer-cv">{{ include('molecules/tools/icon-box.html.twig', { icon: 'file-alt', txt: 'trainers.profile.cv_template'|trans }) }}</a>
                <div class="form-group">
                    <label for="cvFileTrainer" class="btn btn-deepmark-orangelight btn-edit">
                        <i class="far fa fa-upload no-margin"></i>
                    </label>
                    <input id="cvFileTrainer"
                           type="file"
                           name="cvFile"
                           data-type="myCV"
                           class="inputUploadPublicFile"
                           multiple/>
                </div>
            </div>
        </div>
    </div>
    <script>

        $(document).ready(function () {
            bindFileUploaders();
            $("#cvFileTrainer").on('change', function (event) {
                var file = $("#cvFileTrainer").val();
                if (file !== "") {
                    modalUpload();
                }
            });
        });

        function modalUpload() {

            const textTemplateNode = $('#upload-file-modal-text');

            const swalOptions = {
                showCancelButton: true,
                closeOnConfirm: false,
                showLoaderOnConfirm: true
            };

            swal(
                textTemplateNode.data('progress-header'),
                cloneTemplate($('#progressbar-upload-template'), 'progressbar-upload').prop('outerHTML'),
                "info",
                swalOptions
            );

            setTimeout(function () {
                swal(textTemplateNode.data('success-header'), textTemplateNode.data('success-comment'), "success", {
                    button: "Ok",
                });
            }, 1000);

        }

        function bindFileUploaders() {
            const uploadOptions = {
                formData: function (data, element) {

                    let triggerField = element.fileInput[0];
                    let profileId = $(triggerField).attr('data-profile-id');
                    let dataType = $(triggerField).attr('data-type');

                    return [{name: 'profileId', value: profileId}, {name: 'dataType', value: dataType}];
                },
                isTrainer: 1
            };

            initFileUploader($('.inputUploadPublicFile'), '/admin/trainers/ajax/cv_upload', uploadOptions);
        }

    </script>

{% endblock %}
