{% extends 'base.html.twig' %}

{% block pagename %}{{ 'admin.trainers.profile_edit'|trans }}{% endblock %}

{% set path = 'files/profile/' %}
{% block body %}
    {% set lunchStartTime = constant('\\ApiBundle\\Entity\\Profile::LUNCH_START_TIME') %}
    {% set lunchEndTime = constant('\\ApiBundle\\Entity\\Profile::LUNCH_END_TIME') %}

    <style>
        .icon-box__icon-wrapper{
            width: 150px;
            height: 150px;
            border-radius: 50%;
            margin: auto!important;
            background-color: #0076fe;
        }
        .trainer-avatar {
            width: unset !important;
            height: unset !important;
        }
        .select2 {
            border-bottom: 1px solid #ddd;
            padding: 0px;
            margin-top: -2px;
        }

    </style>
    
    {% set sessionTabCurrent = app.session.get('documentTab')|default('') %}
    <div class="col-md-12 no-padding">
        <ul class="nav nav-pills no-padding marg-t-15 marg-b-15 justify-content-center" role="tablist">
            <li class="nav-item">
                <a class="nav-link {% if sessionTabCurrent != 2 %} active {% endif %} bold" data-toggle="tab" href="#profile" id="btnProfile" role="tablist">
                    {{ 'admin.profile.title'|trans }}
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link bold {% if sessionTabCurrent == 2 %} active {% endif %}" data-toggle="tab" href="#organization"  id="btnOrganization" role="tablist">
                    {{ 'admin.profile.org'|trans }}
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link bold" data-toggle="tab" href="#account"  id="btnAccount" role="tablist">
                    {{ 'account.title'|trans }}
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link bold" data-toggle="tab" href="#skill"  id="btnInfo" role="tablist">
                    {{ 'sidebar.skills'|trans }}
                </a>
            </li>
            {#<li class="nav-item">
                <a class="nav-link bold" data-toggle="tab" href="#workingHour"  id="btnWorkingHour" role="tablist">
                    {{ 'trainers.planning.nav.working_hours'|trans }}
                </a>
            </li>#}
        </ul>
    </div>
    <div class="row">
        <div class="col-md-12 no-padding">
            <form enctype="multipart/form-data" action="{{ path('admin_trainers_save_edit', {id:profile.id}) }}" method="post">
                <div class="tab-content tab-space no-padding">
                    <div class="tab-pane {% if sessionTabCurrent != 2 %} active {% endif %}" id="profile">
                        <div class="row">
                            <div class="col-md-3 no-padding-left pad-t-40 text-center" >
                                {% if profile.avatar is defined and profile.avatar is not null %}
                                    <div class="trainer-avatar image-holder" id="trainer-avatar"  >
                                        <img class="border-radius-50" width="150" height="150" src="{{ profile.avatar }}" alt="">
                                    </div>
                                {% else %}
                                    <div id="trainer-avatar" class="trainer-avatar">
                                        {{ include('molecules/tools/new-icon-box.html.twig', { icon: 'user', txt: '' }) }}
                                    </div>
                                {% endif %}

                                <div class="form-group no-padding no-margin">
                                    <label for="avatarFileTrainer" class="pointer btn pad-5 btn-avatar" >
                                        <i  class="font-size-12 text-white fa fa-camera no-margin"></i>
                                        <p class="no-margin font-size-12 text-white no-padding" >Change</p>
                                    </label>

                                    <input id="avatarFileTrainer"
                                           type="file"
                                           name="avatarFile"
                                           data-type="avatar"
                                           data-profile-id="{{ profile.id }}"
                                           class="inputUploadPublicFile"
                                           multiple/>

                                </div>
                                <div class=" pad-t-5 text-center">
                                    {% if profile.avatar is defined and profile.avatar is not null %}
                                        <a data-toggle="modal" href="#deleteFile" class="deleteProfileFile text-gray" data-file-type="avatar">Delete photo</a>
                                    {% endif %}
                                </div>
                                <div class="col-md-12 marg-t-10 pad-10 text-center card ">
                                    <p class="no-margin bold">
                                        {{ 'global.trainer_grade'|trans }}
                                    </p>
                                    <div class="ratings-list">
                                        <p class="ilblock bold font-size-20">{{ ranking['grade'] is defined ? ranking['grade'] : 0 }}/5</p>
                                        <div class="font-size-25 marg-t-10 marg-b-10">
                                            {{ include('molecules/widgets/ratings.html.twig', { max: 5, grade: ranking['grade'] is defined ? ranking['grade'] : 0  }) }}
                                        </div>
                                        <p class="font-size-14 no-padding no-margin">{{ rankingGrades|length }} {{ 'global.evaluation_learners'|trans }}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-9 pad-t-20 marg-t-0 card">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label class="col-form-label required bmd-label-static">{{ 'global.firstname'|trans }}</label>
                                        <div class="form-group  has-success bmd-form-group">
                                            <input required type="text" class="form-control" name="firstName" value="{{ profile.firstName | default('') }}">
                                            <span class="form-control-feedback">
                                                <i class="fa fa-pencil color-header"></i>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <label class="col-form-label required bmd-label-static">{{ 'global.lastname'|trans }}</label>
                                        <div class="form-group  has-success bmd-form-group">
                                            <input required type="text" class="form-control" name="lastName" value="{{ profile.lastName | default('') }}">
                                            <span class="form-control-feedback">
                                                <i class="fa fa-pencil color-header"></i>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <label class="col-form-label  bmd-label-static">{{ 'global.phone'|trans }}</label>
                                        <div class="form-group  has-success bmd-form-group">
                                            <input  type="text" class="form-control" name="fixedPhone" value="{{ profile.fixedPhone | default('') }}">
                                            <span class="form-control-feedback">
                                                <i class="fa fa-pencil color-header"></i>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <label class="col-form-label required bmd-label-static">{{ 'global.mobile'|trans }}</label>
                                        <div class="form-group  has-success bmd-form-group">
                                            <input type="text" required class="form-control" name="mobilePhone" value="{{ profile.mobilePhone | default('') }}">
                                            <span class="form-control-feedback">
                                                <i class="fa fa-pencil color-header"></i>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <label class="col-form-label required bmd-label-static">{{ 'global.email'|trans }}</label>
                                        <div class="form-group  has-success bmd-form-group">
                                            <input type="text" class="form-control" name="email" value="{{ person.email | default('') }}">
                                            <span class="form-control-feedback">
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <label class="col-form-label bmd-label-static">{{ 'global.email_manager'|trans }}</label>
                                        <div class="form-group  has-success bmd-form-group">
                                            <input type="text" class="form-control" name="otherEmail" value="{{ profile.otherEmail | default('') }}">
                                            <span class="form-control-feedback">
                                                <i class="fa fa-pencil color-header"></i>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <label class="col-form-label bmd-label-static">{{ 'table.status'|trans }}</label>
                                        <div class="form-group  has-success bmd-form-group">
                                            <select id="typeTrainer" name="status" class="form-control max-width-100 height-36">
                                                {% if status %}
                                                    {% for value in status %}
                                                        <option {% if  profile.liveResourceOrigin is not empty and profile.liveResourceOrigin.id == value.id %} selected {% endif %} value="{{ value.id }}"> {{ ('select.'~value.designation|lower)|trans }}</option>
                                                    {% endfor %}
                                                {% endif %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <label class="col-form-label required bmd-label-static">{{ 'table.learners.employeeId'|trans }}</label>
                                        <div class="form-group  has-success bmd-form-group">
                                            <input type="text" required class="form-control" name="employeeId" value="{{ profile.employeeId | default('') }}">
                                            <span class="form-control-feedback">
                                                <i class="fa fa-pencil color-header"></i>
                                            </span>
                                        </div>
                                    </div>

                                    <div class="col-md-12 marg-t-30 marg-b-10">
                                        <input type="hidden" class="form-check-input" name="id" value="{{ person.id }}">
                                        <button type="submit" class="btn btn-block btn-deepmark float-right">{{ 'buttons.update'|trans }}</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card trainer no-margin">
                            <div class="row marg-b-20">
                                <div class="col-md-6 text-center pad-t-20">
                                    <h3 class="color-header ">{{ 'trainers.profile.my_cv'|trans }}</h3>
                                    <p class="no-margin ">
                                        <i class="fa fa-paperclip text-gray" aria-hidden="true"></i>
                                        <span class="text-gray">Joindre un fichier (max : 7 Mo)</span><br>
                                        ou
                                    </p>
                                    <div class="upload-area no-margin form-group">
                                        <div class="add-file marg-t-40 text-center">
                                            <label for="cvFileTrainer" class=" text-white">
                                                <i class="far fa-cloud-upload marg-b-10 font-size-50 text-white no-margin"></i>
                                                <p class="no-margin no-padding color-header bold font-size-18">Glissez / Déposez</p>
                                                <span class="no-margin color-header">votre fichier pour l’ajouter</span>
                                            </label>
                                            <input id="cvFileTrainer"
                                                   type="file"
                                                   name="cvFile"
                                                   data-type="myCV"
                                                   data-profile-id="{{ profile.id }}"
                                                   class="inputUploadPublicFile"/>
                                        </div>
                                    </div>
                                    <div class="row marg-t-10">
                                        <ul class="nav nav-pills no-padding" role="tablist">
                                            {% if profile.cv is defined and profile.cv is not null %}
                                                <li class="nav-item no-marg-r">
                                                    <a download class="btn border-radis-30 btn-deepmark btn-edit" href="{% if profile.cv is defined and profile.cv is not null %} {{ profile.cv }} {% endif %}"
                                                       id="trainer-cv"><i class="far fa fa-download no-margin"></i> CV</a>
                                                </li>
                                                <li class="nav-item no-marg-r">
                                                    {% set audioType = ["wav", "mp3", "MP3", "WAV"] %}
                                                    {% set videoType = ["mp4", "mov", "ogg", "MP4", "MOV", "OGG"] %}
                                                    {% set imgType = ["png", "PNG", "JPG", "jpg", "JPEG", "jpeg"] %}
                                                    {% if fileFormatCv in imgType or fileFormatCv in videoType or fileFormatCv in audioType %}
                                                        <a id="cv-trainer" class="btn btn-deepmark border-radis-30 text-white " target="_blank"  href="{% if profile.cv is not null %}{{ asset(profile.cv) }}{% endif %}" >
                                                            {{ 'email.view'|trans }}
                                                        </a>
                                                    {% elseif fileFormatCv == '' %}
                                                        <a class="btn btn-deepmark border-radis-30 text-white ">{{ 'email.view'|trans }}</a>
                                                    {% else %}
                                                        <a data-pdf-loader-queue="{{ profile.cv }}" class="btn btn-deepmark border-radis-30 text-white preview-profile ">
                                                            {{ 'email.view'|trans }}
                                                        </a>
                                                    {% endif %}
                                                </li>
                                                <li class="nav-item no-marg-r">
                                                    <a title="Delete the CV" class="deleteProfileFile cursorPointer btn border-radius-30  btn-deepmark-lightgray btn-edit"
                                                           data-file-type="cv"><i class="fa fa-trash no-margin"></i></a>
                                                </li>
                                            {% endif %}
                                            {% if cvTemplateDoc is not null %}
                                                <li class="nav-item no-marg-r">
                                                    <a title="Download CV template" class="btn border-radis-30 btn-deepmark btn-edit"
                                                       href="/trainer/documents/download/{{ cvTemplateDoc.fileDescriptor.id }}"
                                                       download><i class="far fa fa-download no-margin"></i> Template</a>
                                                </li>
                                            {% endif %}
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-md-6 text-center pad-t-20">
                                    <h3 class="color-header ">{{ 'trainers.profile.my_video'|trans }}</h3>
                                    <p class="no-margin ">
                                        <i class="fa fa-paperclip text-gray" aria-hidden="true"></i>
                                        <span class="text-gray">Joindre un fichier (max : 7 Mo)</span><br>
                                        ou
                                    </p>
                                    <div class="upload-area no-margin form-group">
                                        <div class="add-file  marg-t-40 text-center">
                                            <label for="videoFileTrainer" class="text-white">
                                                <i class="far fa-cloud-upload marg-b-10 font-size-50 text-white no-margin"></i>
                                                <p class="no-margin no-padding color-header bold font-size-18">Glissez / Déposez</p>
                                                <span class="no-margin color-header">votre fichier pour l’ajouter</span>
                                            </label>
                                            <input id="videoFileTrainer"
                                                   type="file"
                                                   name="videoFile"
                                                   data-type="video"
                                                   data-profile-id="{{ profile.id }}"
                                                   class="inputUploadPublicFile"/>
                                        </div>
                                    </div>
                                    <div class="row marg-t-10">
                                        <ul class="nav nav-pills no-padding" role="tablist">
                                            {% if profile.video is defined and profile.video is not null %}
                                                <li class="nav-item no-marg-r">
                                                    <a download class="btn btn-deepmark border-radis-30 btn-edit" href="{% if profile.video is defined and profile.video is not null %} {{ profile.video }} {% endif %}"
                                                        id="trainer-video"><i class="far fa fa-download no-margin"></i> {{ 'trainers.profile.my_video'|trans }}</a>
                                                </li>
                                                <li class="nav-item no-marg-r">
                                                    {% set audioType = ["wav", "mp3", "MP3", "WAV"] %}
                                                    {% set videoType = ["mp4", "mov", "ogg", "MP4", "MOV", "OGG"] %}
                                                    {% set imgType = ["png", "PNG", "JPG", "jpg", "JPEG", "jpeg"] %}
                                                    {% if fileFormatVideo in imgType or fileFormatVideo in videoType or fileFormatVideo in audioType %}
                                                        <a class="btn btn-deepmark border-radis-30 text-white " target="_blank"  href="{% if profile.video is not null %}{{ asset(profile.video) }}{% endif %}" >
                                                            {{ 'email.view'|trans }}
                                                        </a>
                                                    {% elseif fileFormatVideo == '' %}
                                                        <a class="btn btn-deepmark border-radis-30 text-white ">{{ 'email.view'|trans }}</a>
                                                    {% else %}
                                                        <a data-pdf-loader-queue="{{ profile.video }}" class="btn btn-deepmark border-radis-30 text-white preview-profile ">
                                                            {{ 'email.view'|trans }}
                                                        </a>
                                                    {% endif %}
                                                </li>
                                                <li class="nav-item no-marg-r">
                                                    <a title="Delete the video"
                                                       class="deleteProfileFile cursorPointer btn btn-deepmark-lightgray btn-edit"
                                                       data-file-type="video"><i class="fa fa-trash no-margin"></i></a>
                                                </li>
                                            {% endif %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane {% if sessionTabCurrent == 2 %} active {% endif %}" id="organization">
                        <div class="row">
                            <div class="col-md-6 profile no-padding-left pad-r-10">
                                <div class="pad-t-10 card no-margin min-height-350">
                                    <h3 class="no-margin text-center color-header">{{ 'global.organisation'|trans }}</h3>
                                    <div class="row pad-t-20 pad-b-20">
                                        <div class="form-group col-md-6">
                                            <label class="col-form-label required bmd-label-static">{{ 'global.organisation'|trans }}</label>
                                            <input disabled type="text" class="form-control" value="{{ profile.entity.organisation.designation | default('') }}">
                                        </div>
                                        <div class="form-group col-md-6 bmd-form-group is-filled">
                                            <label class="col-form-label required bmd-label-static">{{ 'global.entity'|trans }}</label>
                                            {# <input type="text" class="form-control" value="{{ profile.entity.designation | default('') }}"> #}
                                            <select name="entity" id="entity" class="form-control select2">
                                                {% if entities %}
                                                    {% for entity in entities %}
                                                        <option {% if profile.entity is not null  %} {{ profile.entity.id == entity.id ? 'selected' : '' }}  {% endif %} value="{{ entity.id }}">{{ entity.designation }}</option>
                                                    {% endfor %}
                                                {% endif %}
                                            </select>
                                        </div>
                                        <div class="form-group col-md-6 bmd-form-group is-filled">
                                            <label class="col-form-label bmd-label-static">{{ 'global.region'|trans }}</label>
                                            <select name="regional" id="regional" class="form-control select2">
                                            </select>
                                        </div>
                                        <div class="form-group col-md-6 bmd-form-group is-filled">
                                            <label class="col-form-label bmd-label-static">{{ 'global.group'|trans }}</label>
                                            <select name="group" id="group" class="select2 form-control">
                                            </select>
                                        </div>
                                        <div class="col-md-6 bmd-form-group is-filled">
                                            <label class="col-form-label bmd-label-static">{{ 'global.action_zone'|trans }}</label>
                                            <div class="form-group  has-success bmd-form-group">
                                                <select id="action_zone" name="action_zone" class="form-control selectpicker" data-style="btn btn-link" >
                                                    {% if perimeters %}
                                                        {% for value in perimeters %}
                                                            <option {% if  profile.interventionPerimeter is not empty and profile.interventionPerimeter.id == value.id %} selected {% endif %} value="{{ value.id }}"> {{ ('select.'~value.designation|lower)|trans }}</option>
                                                        {% endfor %}
                                                    {% endif %}
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 profile no-padding-right pad-l-10">
                                <div class="card pad-t-10 no-margin  min-height-350">
                                    <h3 class="no-margin text-center color-header">{{ 'global.workplace'|trans }}</h3>
                                    <div class="row pad-t-20 pad-b-20">
                                        <div class="form-group col-md-6 bmd-form-group is-filled">
                                            <label class="col-form-label required bmd-label-static">{{ 'select.denomination'|trans }}</label>
                                            <select name="workplace" id="workplace" class="select2 form-control">
                                            </select>
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label class="col-form-label required bmd-label-static">{{ 'select.address'|trans }}</label>
                                            <input disabled type="text" class="form-control"  value="{{ profile.entity.street | default('') }}">
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label class="col-form-label required bmd-label-static">{{ 'select.additional_address'|trans }}</label>
                                            <input disabled type="text" class="form-control"  value="{{ profile.entity.expansionStreet | default('') }}">
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label class="col-form-label required bmd-label-static">{{ 'select.postal_code'|trans }}</label>
                                            <input disabled type="text" class="form-control"  value="{{ profile.entity.postalCode | default('') }}">
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label class="col-form-label required bmd-label-static">{{ 'select.city'|trans }}</label>
                                            <input disabled type="text" class="form-control"  value="{{ profile.entity.city | default('') }}">
                                        </div>
                                        <div class="form-group col-md-6 bmd-form-group is-filled">
                                            <label class="col-form-label required bmd-label-static">{{ 'select.country'|trans }}</label>
                                            <input disabled type="text" class="form-control"  value="{{ profile.entity.country | default('') }}">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row card marg-t-20 marg-b-20 internalTrainer" style="display: none;">
                            <h3 class=" text-center color-header">{{ 'trainers.profile.my_documents'|trans }}</h3>
                            <div class="row pad-10" id="administrative-documents-list">
                                <div class="table-responsive">
                                    {% set audioType = ["wav", "mp3", "MP3", "WAV"] %}
                                    {% set videoType = ["mp4", "mov", "ogg", "MP4", "MOV", "OGG"] %}
                                    {% set imgType = ["png", "PNG", "JPG", "jpg", "JPEG", "jpeg"] %}
                                    <table class="table table-striped data-table" id="library-data-table">
                                        <thead class="table-header">
                                        <tr>
                                            <th class="bold" width="20%">{{ 'global.category'|trans }}</th>
                                            <th class="bold" width="20%">{{ 'table.library.doc_name'|trans }}</th>
                                            <th class="bold" width="15%">{{ 'global.status'|trans }}</th>
                                            <th class="text-center" width="10%"></th>
                                        </tr>
                                        </thead>
                                        <tbody>

                                        {{ include('molecules/trainer/administrative-documents-list.html.twig', {documents: identityDoc, profileId: profile.id, name: 'identite', category:'Identite de l’entreprise'}) }}

                                        {{ include('molecules/trainer/administrative-documents-list.html.twig', {documents: socialDoc, profileId: profile.id, name: 'social', category:'Regime social'}) }}

                                        {{ include('molecules/trainer/administrative-documents-list.html.twig', {documents: assuranceDoc, profileId: profile.id, name: 'assurance', category:'Assurance RCP'}) }}

                                        {{ include('molecules/trainer/administrative-documents-list.html.twig', {documents: contractDoc, profileId: profile.id, name: 'contrat_cadre', category:'Contrat cadre'}) }}

                                        {{ include('molecules/trainer/administrative-documents-list.html.twig', {documents: missionDocs, profileId: profile.id, name: 'contrat_mission', category:'Contrat mission'}) }}

                                        {{ include('molecules/trainer/administrative-documents-list.html.twig', {documents: statement, profileId: profile.id, name: 'billing', category:'Bank account statement'}) }}

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="card no-margin internalTrainer" style="display: none;">
                            <div class="row pad-b-20">
                                <div class="col-md-1"></div>
                                <div class="col-md-10 pad-b-10">
                                    <h3 class=" text-center color-header">{{ 'trainers.profile.billings_infos'|trans }}</h3>
                                </div>
                                <div class="col-md-1 flex--center">
                                    <a  style="display: none;" id="visibleIcon" class="pointer"><i class="far fa-eye-slash color-header"></i></a>
                                    <a  id="showIcon" class="pointer"><i class="far fa-eye color-header"></i></a>
                                </div>
                                <div class="col-md-12 row " id="billingDiv" style="display: none">
                                    <div class="col-md-6 marg-b-20">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text bold">
                                                   {{ 'global.bank_name'|trans }} :
                                                </span>
                                            </div>
                                            <input type="text" name="bank_name" id="bank_name" value="{% if profile.bankName is defined and profile.bankName is not null %}{{ profile.bankName }}{% endif %}" class="billing pad-l-5 pad-r-5 form-control btn-deepmark-light background-image-none" >
                                        </div>
                                    </div>
                                    <div class="col-md-6 marg-b-20">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text bold">
                                                   {{ 'global.account_currency'|trans }}:
                                                </span>
                                            </div>
                                            <input type="text" name="account_currency" id="account_currency" value="{% if profile.accountCurrency is defined and profile.accountCurrency is not null %}{{ profile.accountCurrency }}{% endif %}" class="billing pad-l-5 pad-r-5 form-control btn-deepmark-light background-image-none" >
                                        </div>
                                    </div>
                                    <div class="col-md-6 marg-b-20">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text bold">
                                                   {{ 'global.iban'|trans }} :
                                                </span>
                                            </div>
                                            <input type="text" name="iban" id="iban" value="{% if profile.iban is defined and profile.iban is not null %}{{ profile.iban }}{% endif %}" class="billing pad-l-5 pad-r-5 form-control btn-deepmark-light background-image-none" >
                                        </div>
                                    </div>
                                    <div class="col-md-6 marg-b-20">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text bold">
                                                   {{ 'global.bic'|trans }} :
                                                </span>
                                            </div>
                                            <input type="text" name="bic" id="bic" value="{% if profile.bic is defined and profile.bic is not null %}{{ profile.bic }}{% endif %}" class="billing pad-l-5 pad-r-5 form-control btn-deepmark-light background-image-none" >
                                        </div>
                                    </div>
                                    <div class="col-md-12  marg-b-20">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text bold">
                                                   {{ 'global.rib'|trans }} :
                                                </span>
                                            </div>
                                            <div class="col-md-2 pad-r-0">
                                                <div class="form-group text-center">
                                                    <label for="bank_code" class="text-black ">{{ 'global.bank_code'|trans }}</label>
                                                    <input name="bankCode" type="text" class="pad-l-5 pad-r-5 form-control billing text-center btn-deepmark-light background-image-none" value="{% if profile.bankCode is defined and profile.bankCode is not null %}{{ profile.bankCode }}{% endif %}" id="bank_code" placeholder="XXXXX">
                                                </div>
                                            </div>
                                            <div class="col-md-2 pad-r-0">
                                                <div class="form-group text-center">
                                                    <label for="agency_code" class="text-black ">{{ 'global.agency_code'|trans }}</label>
                                                    <input name="agencyCode" type="text" class="pad-l-5 pad-r-5 form-control billing text-center btn-deepmark-light background-image-none" value="{% if profile.agencyCode is defined and profile.agencyCode is not null %}{{ profile.agencyCode }}{% endif %}" name=="agency_code" id="agency_code" placeholder="XXXXX">
                                                </div>
                                            </div>
                                            <div class="col-md-3 pad-r-0">
                                                <div class="form-group text-center">
                                                    <label for="account_num" class="text-black ">{{ 'global.account_num'|trans }}</label>
                                                    <input name="accountNum" type="text" class="pad-l-5 pad-r-5 form-control billing text-center btn-deepmark-light background-image-none" id="account_num"  value="{% if profile.accountNum is defined and profile.accountNum is not null %}{{ profile.accountNum }}{% endif %}" name="account_num" placeholder="XXXXXXXXXX">
                                                </div>
                                            </div>
                                            <div class="col-md-1 pad-r-0" >
                                                <div class="form-group text-center">
                                                    <label for="rib_key" class="text-black ">{{ 'global.rib_key'|trans }}</label>
                                                    <input name="ribKey" type="text" class="pad-l-5 pad-r-5 form-control billing text-center btn-deepmark-light background-image-none" id="rib_key"  value="{% if profile.ribKey is defined and profile.ribKey is not null %}{{ profile.ribKey }}{% endif %}" name="rib_key" placeholder="XX">
                                                </div>
                                            </div>
                                            <div class="col-md-3 pad-r-0">
                                                <div class="form-group text-center">
                                                    <label for="domiciliation_agency" class="text-black ">{{ 'global.domiciliation_agency'|trans }}</label>
                                                    <input name="domiciliationAgency" type="text" class="pad-l-5 pad-r-5 form-control billing text-center btn-deepmark-light background-image-none" id="domiciliation_agency" value="{% if profile.domiciliationAgency is defined and profile.domiciliationAgency is not null %}{{ profile.domiciliationAgency }}{% endif %}" name="domiciliation_agency" placeholder="XXXXXXXXXXXX">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane card no-margin" id="skill">
                        <div class="skills-container row">
                            <div class="col-md-6 pad-20">
                                <div class="col-md-12 my-skill  text-center btn-deepmark">
                                    <h4 class="text-white no-margin">{{ 'trainers.profile.my_skills'|trans }} </h4>
                                </div>
                                <div class="row btn-deepmark-light pad-b-10 pad-t-10 font-size-12 color-header">
                                    <div class="row col-md-4 no-padding">
                                        <div class="col-md-4 text-center no-padding text-center">{{ 'import.table.status'|trans|capitalize }}</div>
                                        <div class="col-md-8 text-center no-padding">{{ 'import.field.skills'|trans|capitalize }}</div>
                                    </div>
                                    <div class="col-md-6 text-right no-padding">
                                            <span class="bg-white pad-5 border-radius-10">
                                            <label class="status-validate"></label>{{ 'trainers.reports.status.validated'|trans }}
                                            <label class="status-pending"></label>{{ 'calendar.legend.learner.orange'|trans }}
                                            <label class="status-deny"></label>{{ 'global.denied'|trans }}
                                            </span>
                                    </div>
                                    <div class="col-md-2 no-padding text-center">{{ 'table.modules.delete'|trans|capitalize }}</div>
                                </div>
                                <div id="trainer_skill_list" class="col-md-12 no-padding">
                                    {{ include('molecules/trainer/skills-list.html.twig', { skills: live_skills, editAdmin : 1 ,id : profile.id }) }}
                                </div>
                            </div>
                            <div class="col-md-6 pad-20">
                                <input type="hidden" value="{{ path('trainer_profile_skills_add_ajax') }}" id="actionSkill">
                                <div class="col-md-12 my-skill text-center text-white btn-deepmark">
                                    <h4 class="no-margin">{{ 'trainers.profile.choose_skill'|trans }}</h4>
                                </div>
                                <div class="col-md-12 border-header pad-l-0 pad-r-0 pad-t-0 p-b-20">
                                    <div class="row btn-deepmark-light pad-10">
                                        <div class="col-md-1 no-padding flex--center">
                                            <i class="fas fa-search color-header"></i>
                                        </div>
                                        <div class="col-md-11 no-padding">
                                            <input id="search_skill" class="search-skill-input" name="search_skill" placeholder="{{ 'global.search_your_skill'|trans }}">
                                        </div>
                                    </div>
                                    <div class="row border-top-header">
                                        <div class="col-md-12" id="divAddSkill" data-id ="{{profile.person.id}}">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane card no-margin" id="account">
                        <div class="row pad-t-20 pad-b-20">
                            <div class="form-group col-md-6">
                                <label class="col-form-label required bmd-label-static">{{ 'global.email'|trans }}</label>
                                <input type="text" class="form-control" name="email_temp" value="{{ person.email | default('') }}">
                            </div>
                            <div class="form-group col-md-6">
                                <label class="col-form-label required bmd-label-static">{{ 'admin.profile.password'|trans }}</label>
                                <div class="row">
                                    <div class="col-10 no-padding">
                                        <input type="password" name ="password" class="form-control">
                                    </div>
                                    <div class="col-2">
                                        <a href="#editPass" data-toggle="modal" class="fa fa-pencil color-header"></a>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-md-6">
                                <label class="col-form-label bmd-label-static">{{ 'global.status_account'|trans }}</label>
                                <select id="statusActive" name="statusActive" class="form-control select2" >
                                    <option {{ person is defined and person.enabled == 1 ? 'selected' : '' }} value="1">Active</option>
                                    <option {{ person is defined and (person.enabled == 0 or person.enabled == null)  ? 'selected' : '' }} value="0">Inactive</option>
                                </select>
                            </div>
                            <div class="form-group col-md-6">
                                <label class="col-form-label bmd-label-static">{{ 'global.create_at'|trans }}</label>
                                <input disabled type="text" class="form-control" value="{{ profile.creationDate | date('d/m/Y')  | default('') }}">
                            </div>
                            <div class="form-group col-md-6">
                                <label class="col-form-label bmd-label-static">{{ 'global.last_login'|trans }}</label>
                                <input disabled type="text" class="form-control" value="{{ 'now'|date('d/m/Y h:m') }}">
                            </div>
                            <div class="form-group col-md-6 bmd-form-group is-filled">
                                <label class="col-form-label bmd-label-static">{{ 'global.time_zone'|trans }}</label>
                                <select id="time_zone_id" name="time_zone_id" class="form-control max-width-100 height-36">
                                    {% if timeZones %}
                                        {% for timeZone in timeZones %}
                                            {% if person.timeZone is not null %}
                                                <option {{ person.timeZone.id == timeZone.id ? 'selected' : '' }}
                                                        value="{{ timeZone.id }}">{{ timeZone.timeZone }}</option>
                                            {% else %}
                                                <option value="{{ timeZone.id }}">{{ timeZone.timeZone }}</option>
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane card no-margin " id="workingHour">
                        {% set org = profile.workingHours ? profile : profile.entity  %}
                        {% set isNewWorkingHours = profile.workingHours ? 1 : 0 %}
                        {{ include('molecules/modal/recurring-availability.html.twig', { modal: '0', organisation: org, isNew: isNewWorkingHours, entityWorkingHours: profile.entity.workingHours}) }}
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="modal fade" id="deleteDoc" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                {# <form enctype="multipart/form-data" action="{{ path('admin_trainers_save_edit', {id:profile.id}) }}" method="post"> #}
                <form method="post" action="{{ path('trainer_profile_delete_doc') }}">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Delete</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Delete?
                    </div>
                    <div class="modal-footer">
                        <input type="hidden" name="profileId" value="{{ profile.id }}">
                        <input type="hidden" id="docId" name="docId">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" id="deleteBtn" class="btn btn-deepmark">Delete</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div id="deleteFile" class="modal fade col-md-12" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <form method="post" action="{{ path('trainer_profile_delete_file') }}">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <h3>Delete</h3>
                        <div class="row">
                            <p>Delete?</p>
                        </div>
                        <input type="hidden" name="fileProfileType" id="fileProfileType" value="">
                        <input type="hidden" id="profileId" name="profileId" value="{{ profile.id }}">
                        <div class="col-md-12 text-right ">
                            <button id="btn-dispo-confirm" type="submit" name="button"
                                    class="btn btn-sm btn-deepmark-orangelight">{{ 'buttons.confirm'|trans }}</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {% if sessionTabCurrent == 2 %}
        {% set sessionTabCurrent = app.session.remove('documentTab') %}
    {% endif %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $('#typeTrainer').change(function() {
            let type = $("#typeTrainer").val();
            if (type == 1) {
                $(".internalTrainer").hide();
            } else {
                $(".internalTrainer").show();
            }
        });
        $('#typeTrainer').trigger("change");

        $(".billing").blur(function(){
            $.ajax({
                url: '/trainer/profile/saveBilling',
                method: "POST",
                data: {
                    'profileId': $("#profileId").val(),
                    'bankName': $("#bank_name").val(),
                    'accountCurrency': $("#account_currency").val(),
                    'iban': $("#iban").val(),
                    'bic': $("#bic").val(),
                    'bankCode': $("#bank_code").val(),
                    'agencyCode': $("#agency_code").val(),
                    'accountNum': $("#account_num").val(),
                    'ribKey': $("#rib_key").val(),
                    'domiciliationAgency': $("#domiciliation_agency").val(),
                },
                success: function (response) {
                    if (response["status"] != "success") {
                        return false;
                    }
                }
            })
        });

        $('.preview-profile').click(function() {
            let domain = document.location.origin;
            let url = domain + '/' + $(this).attr('data-pdf-loader-queue');
            window.open(domain + '/viewer?url='+ url, '_blank');
        });
        var myElement = document.getElementById('administrative-documents-list');
        new SimpleBar(myElement, {autoHide: true});
        $(document).ready(function () {

            $('#action_zone').change(function () {
                $.ajax({
                    url: '/trainer/profile/saveInterventionPerimeter',
                    method: "POST",
                    data: {
                        'interventionPerimeter': $("#action_zone").val(),
                    },
                    success: function (response) {
                        if (response["status"] != "success") {
                            return false;
                        }
                    }
                })
            });

            $('#visibleIcon').click(function () {
                $("#billingDiv").hide();
                $("#visibleIcon").hide();
                $("#showIcon").show();
            });

            $('#showIcon').click(function () {
                $("#billingDiv").show();
                $("#visibleIcon").show();
                $("#showIcon").hide();
            });

            $(".deleteProfileFile").click(function () {
                var fileProfileType = $(this).attr("data-file-type");
                $('#fileProfileType').val(fileProfileType);
                $('#deleteFile').modal('show');
            });
            $('[data-toggle="tooltip"]').tooltip();

            $(".toggle-password").click(function() {

                $(this).toggleClass("fa-eye fa-eye-slash");
                var input = $($(this).attr("toggle"));
                if (input.attr("type") == "password") {
                    input.attr("type", "text");
                } else {
                    input.attr("type", "password");
                }
            });
            $(".toggle-repeat-password").click(function() {

                $(this).toggleClass("fa-eye fa-eye-slash");
                var input = $($(this).attr("toggle"));
                if ($('#repeatPassword').attr("type") === "password") {
                    $('#repeatPassword').attr("type", "text");
                } else {
                    $('#repeatPassword').attr("type", "password");
                }
            });
            $('#repeatPassword, #password').on('keyup', function () {
                if (($('#password').val() == '' && $('#repeatPassword').val() == '')){
                    $('#messageRepeatPassword').html();
                    return false;
                }
                if (($('#password').val() == $('#repeatPassword').val())) {
                    $('#messageRepeatPassword').html('Matching').css('color', 'green');
                } else {
                    $('#messageRepeatPassword').html('Not Matching').css('color', 'red');
                }
            });
            $(".delete-doc").click(function () {
                var id = $(this).attr("data-id");
                $('#docId').val(id);
                $('#deleteDoc').modal('show');
            });
            $('#entity').select2({
                minimumResultsForSearch: 1
                }
            );
            $('#regional').select2({
                    minimumResultsForSearch: 1
                }
            );
            $('#group').select2({
                    minimumResultsForSearch: -1
                }
            );
            // Make two field the same value
            let $email      = $('[name="email"]');
            let $email_temp = $('[name="email_temp"]');
            $email_temp.keyup(function(){
                $email.val($email_temp.val());
            });
            $email.keyup(function(){
                $email_temp.val($email.val());
            });

            $("#entity").change(function() {
                let entity_id = $(this).val();
                let regional_id = {{ profile is defined and profile.regional != null ? profile.regional.id  : 0  }};
                if(entity_id != '') {
                    $("#regional").empty();
                    $("#group").empty();
                    $("#workplace").empty();

                    $.ajax({
                        type: "POST",
                        url: '/admin/learners/regional',
                        data: {"entity_id": entity_id},
                        success: function (data) {
                            $.each(data, function (i, data) {
                                let selected = data.id == regional_id ? 'selected' : '';
                                $("#regional").append("<option "+ selected +" value="+data.id +" > "+ data.designation +" </option>");
                            });
                            if (data.length == 0){
                                $("#regional").append("<option></option>");
                            }
                            $("#regional").trigger('change');
                        }
                    });
                } else {
                    $("#regional").append("<option></option>");
                    $("#regional").trigger('change');
                }
            });
            $("#entity").trigger('change');

            $("#regional").change(function() {
                let regional_id = $(this).val();
                let group_id = {{ profile is defined and profile.groupOrganization != null ? profile.groupOrganization.id  : 0  }};
                if(regional_id != '') {

                    $("#group").empty();
                    $("#workplace").empty();
                    $.ajax({
                        type: "POST",
                        url: '/admin/learners/group',
                        data: {"regional_id": regional_id},
                        success: function (data) {
                            $.each(data, function (i, data) {
                                let selected = data.id == group_id ? 'selected' : '';
                                $("#group").append("<option " + selected +" value= "+data.id +" > "+ data.designation +" </option>");
                            });
                            if (data.length == 0){
                                $("#group").append("<option></option>");
                            }
                            $("#group").trigger('change');
                        }
                    });
                } else {
                    $("#group").append("<option></option>");
                    $("#group").trigger('change');
                }
            });
            // $("#regional").trigger('change');

            $("#group").change(function() {
                let group_id = $(this).val();
                let workplace_id = {{ profile is defined and profile.workplace != null ? profile.workplace.id  : 0  }};
                if(group_id != '') {
                    $("#workplace").empty().trigger("change");
                    $.ajax({
                        type: "POST",
                        url: '/admin/learners/workplace',
                        data: {"group_id": group_id},
                        success: function (data) {
                            $.each(data, function (i, data) {
                                let selected = data.id == workplace_id ? 'selected' : '';
                                $("#workplace").append("<option " + selected +" value= "+data.id +" > "+ data.designation +" </option>");
                            });
                            if (data.length == 0){
                                $("#workplace").append("<option></option>");
                            }
                            $("#workplace").trigger('change');
                        }
                    });
                } else {
                    $("#workplace").append("<option></option>");
                    $("#workplace").trigger('change');
                }
            });
            // $("#group").trigger('change');

        });

    </script>
    <script src="{{ asset('js/trainer/calendar-trainer.js') }}"></script>
    <script src="{{ asset('js/trainer/edit-skills.js') }}"></script>

{% endblock %}

