{% extends 'base.html.twig' %}

{% block pagename %}{{ 'admin.trainers.trainer_list'|trans }}{% endblock %}

{% block body %}
    <div class="row justify-content-center  marg-t-20 marg-b-20"><span class="icon-user_gray"></span>
        {{ include('molecules/cards/nav/admin-trainers-nav.html.twig') }}
    </div>
    <div class="card no-margin">
        <div class="card-body">
            <h3 class="text-center bold color-header no-margin">{{ 'admin.trainers.trainer_list'|trans }}</h3>
            {{ include('molecules/tables/list-trainers-table.html.twig', { trainers: trainers }) }}
            <div class="row pad-t-10">
                <div class="col-md-9">
                </div>
                <div class="col-md-3">
                    <div data-type="email" class="col-md-12 padding-5 my-skill btnActionTrainer text-center btn-border pointer ">
                        <p class="no-margin bold font-size-10 color-header text-email text-action text-uppercase">{{ 'admin.learners.send_email'|trans }}</p>
                    </div>
                    <div class="col-md-12 d-none divActionEmail divAction border-header marg-t-20 pad-l-0 pad-r-0 pad-t-0 p-b-20">
                        <div class="row btn-deepmark-light pad-5">
                            <div class="col-md-2 no-padding flex--center">
                                <i class="fas fa-search color-header"></i>
                            </div>
                            <div class="col-md-10 no-padding">
                                <input id="search_email" class="search-skill-input" name="search_skill" placeholder="{{ 'search.content'|trans }}">
                            </div>

                        </div>
                        <div class="row border-top-header">
                            <div class="col-md-12  no-padding" id="divEmail">
                                <div class="row pad-l-10 pad-r-10 pad-t-0 pad-b-0 email-row">
                                    <div data-id="emailRegistration"  class="email-name pointer assign col-md-12 no-padding  min-height-40 justify-content-start font-size-10 flex--center">
                                        {{ 'email.email_registration'|trans }}
                                    </div>
                                </div>
                                <input id="selectTemplate" type="hidden"/>
                            </div>
                            <div class="col-md-12 no-padding">
                                <button id="btnLinkSendTrainer"
                                        class="btn btn-block pad-t-10 pad-b-10 pad-l-5 pad-r-5 no-margin font-size-10 border-radius-0 btn-deepmark">{{ 'admin.learners.send_email'|trans }}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{ include('molecules/modal/delete-user.html.twig', { url: '', isDelete: 0  }) }}
    <script type="text/javascript" src="{{ asset('js/admin/trainers.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/lang_datatable.js') }}"></script>
    <script>
        $(document).ready(function () {
            deleteOrInactiveTrainers();
            $('.btnDelete').on('click', function () {
                var id = $(this).attr('data-id');
                $('#formDelete').attr('action', '/admin/trainers/'+id+'/delete');
                $('#deleteModal').modal('show');
            });
            let lang = languageDatatable();
            let table = $('#trainerTable').DataTable({
                "language": lang,
                "order": [[ 2, "asc" ], [ 3, "asc" ]],
                    "scrollX": true,
                    "scrollY": false,
                    dom: 'Blfrtip',
                    exportOptions: {
                        columns: ':visible'
                    },
                    buttons: [
                        'csv',
                        'excel',
                        {extend: 'pdfHtml5', orientation: 'landscape', pageSize: 'A3',},
                        'colvis'
                    ]
                }
            );

            // Hide columns
            table.columns( [9] ).visible( false );

            $('.buttons-colvis').on('click', function () {
                $('.dt-button-collection').addClass('show');
            });
            $(".dataTables_filter").hide();
            $('#bookSearch').keyup(function(){
                table.search($(this).val()).draw() ;
            })
            $('.check-all-input-datatable').change(function() {
                var rows = table.rows({ 'search': 'applied' }).nodes();
                $('input[type="checkbox"]', rows).prop('checked', this.checked);
            });
            $('#apply').on('click', function () {
                let type = $('#typeAction').val();
                if (type == 1) {
                    $("#txt").text("{{ 'popup.user_delete'|trans|raw }}");
                } else {
                    $("#txt").text("{{ 'popup.user_deactivate'|trans|raw }}");
                }
                $("#deleteOrInactiveModal").modal('show');
            });
        });

        function deleteOrInactiveTrainers() {
            $('#btnAction').on('click', function () {
                let type = $('#typeAction').val();
                let checkInput = $('input[type="checkbox"]');
                let selectedProfiles = [];

                checkInput.each(function () {
                    if(this.checked && this.value !== ""){
                        selectedProfiles.push(this.value);
                    }
                });

                if (!selectedProfiles.length) {
                    // one or more checkboxes are
                    swal('Warning', 'Please select at least one learner.', 'warning');
                    return;
                }
                $.ajax({
                    'url': '{{ path('admin_trainers_delete_trainers') }}',
                    'method': 'POST',
                    'data' : {
                        'selectedProfiles': selectedProfiles,
                        'type': type
                    }
                }).done(function (response) {
                    location.reload();
                }).fail(function (response) {
                    console.log(response)
                })
            });
        }
    </script>
{% endblock %}

