{% extends 'base.html.twig' %}

{% block pagename %}{{ 'admin.trainers.create_trainer'|trans }}{% endblock %}

{% block body %}
    {% set lunchStartTime = constant('\\ApiBundle\\Entity\\Profile::LUNCH_START_TIME') %}
    {% set lunchEndTime = constant('\\ApiBundle\\Entity\\Profile::LUNCH_END_TIME') %}
    {% set defaultPassword = constant('\\ApiBundle\\Entity\\Profile::DEFAULT_PASSWORD') %}
    <style>
        .icon-box__icon-wrapper{
            width: 150px;
            height: 150px;
            border-radius: 50%;
            margin: auto!important;
            background-color: #0076fe;
        }
        .trainer-avatar {
            width: unset !important;
            height: unset !important;
        }
        .select2 {
            border-bottom: 1px solid #ddd;
            padding: 0px;
            margin-top: -2px;
        }

    </style>

    <div class="col-md-12 no-padding">
        <ul class="nav nav-pills no-padding marg-t-15 marg-b-15 justify-content-center" role="tablist">
            <li class="nav-item">
                <a class="nav-link active bold" data-toggle="tab" href="#profile" id="btnProfile" role="tablist">
                    {{ 'admin.profile.title'|trans }}
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link bold" data-toggle="tab" href="#organization"  id="btnOrganization" role="tablist">
                    {{ 'admin.profile.org'|trans }}
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link bold" data-toggle="tab" href="#account"  id="btnAccount" role="tablist">
                    {{ 'account.title'|trans }}
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link bold" data-toggle="tab" href="#skill"  id="btnInfo" role="tablist">
                    {{ 'sidebar.skills'|trans }}
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link bold" data-toggle="tab" href="#workingHour"  id="btnWorkingHour" role="tablist">
                    {{ 'global.recurring_availability'|trans }}
                </a>
            </li>
        </ul>
    </div>
    <form enctype="multipart/form-data" action="{{ path('admin_trainers_save') }}" method="post">
        <div class="row">
            <div class="col-md-12 no-padding">
                <div class="tab-content tab-space no-padding">
                    <div class="tab-pane active " id="profile">
                        <div class="row">
                            <div class="col-md-3 no-padding-left pad-t-40 text-center" >
                                <div id="trainer-avatar" class="trainer-avatar">
                                    {{ include('molecules/tools/new-icon-box.html.twig', { icon: 'user', txt: '' }) }}
                                </div>
                                <div class="form-group no-padding no-margin">
                                    <label for="avatarFileTrainer" class="pointer btn pad-5 btn-avatar" >
                                        <i  class="font-size-12 text-white fa fa-camera no-margin"></i>
                                        <p class="no-margin font-size-12 text-white no-padding" >Change</p>
                                    </label>
                                    <input id="avatarFileTrainer"
                                           type="file"
                                           name="avatarFile"/>
                                </div>
                                <div class=" pad-t-5 text-center">
                                </div>
                            </div>
                            <div class="col-md-9 pad-t-20 marg-t-0 card">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label class="col-form-label required bmd-label-static">{{ 'global.firstname'|trans }}</label>
                                        <div class="form-group  has-success bmd-form-group">
                                            <input required type="text" class="form-control" name="firstName" >
                                            <span class="form-control-feedback">
                                                <i class="fa fa-pencil color-header"></i>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <label class="col-form-label required bmd-label-static">{{ 'global.lastname'|trans }}</label>
                                        <div class="form-group  has-success bmd-form-group">
                                            <input required type="text" class="form-control" name="lastName" >
                                            <span class="form-control-feedback">
                                                <i class="fa fa-pencil color-header"></i>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <label class="col-form-label  bmd-label-static">{{ 'global.phone'|trans }}</label>
                                        <div class="form-group  has-success bmd-form-group">
                                            <input  type="text" class="form-control" name="fixedPhone" >
                                            <span class="form-control-feedback">
                                                <i class="fa fa-pencil color-header"></i>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <label class="col-form-label required bmd-label-static">{{ 'global.mobile'|trans }}</label>
                                        <div class="form-group  has-success bmd-form-group">
                                            <input type="text" required class="form-control" name="mobilePhone" >
                                            <span class="form-control-feedback">
                                                <i class="fa fa-pencil color-header"></i>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <label class="col-form-label required bmd-label-static">{{ 'global.email'|trans }}</label>
                                        <div class="form-group  has-success bmd-form-group">
                                            <input type="text" class="form-control" name="email" >
                                            <span class="form-control-feedback">
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <label class="col-form-label bmd-label-static">{{ 'global.email_manager'|trans }}</label>
                                        <div class="form-group  has-success bmd-form-group">
                                            <input type="text" class="form-control" name="otherEmail">
                                            <span class="form-control-feedback">
                                                <i class="fa fa-pencil color-header"></i>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <label class="col-form-label bmd-label-static">{{ 'table.status'|trans }}</label>
                                        <div class="form-group has-success bmd-form-group">
                                            <select id="typeTrainer" name="status" class="form-control max-width-100 height-36">
                                                {% if status %}
                                                    {% for value in status %}
                                                        <option  value="{{ value.id }}"> {{ ('select.'~value.designation|lower)|trans }}</option>
                                                    {% endfor %}
                                                {% endif %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <label class="col-form-label required bmd-label-static">{{ 'table.learners.employeeId'|trans }}</label>
                                        <div class="form-group  has-success bmd-form-group">
                                            <input type="text" required class="form-control" name="employeeId" >
                                            <span class="form-control-feedback">
                                                <i class="fa fa-pencil color-header"></i>
                                            </span>
                                        </div>
                                    </div>

                                    <div class="col-md-12 marg-t-30 marg-b-10">
                                        <button type="submit" class="btn btn-block btn-deepmark float-right">{{ 'buttons.update'|trans }}</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card trainer no-margin">
                            <div class="row marg-b-20">
                                <div class="col-md-6 text-center pad-t-20">
                                    <h3 class="color-header ">{{ 'trainers.profile.my_cv'|trans }}</h3>
                                    <p class="no-margin ">
                                        <i class="fa fa-paperclip text-gray" aria-hidden="true"></i>
                                        <span class="text-gray">Joindre un fichier (max : 7 Mo)</span><br>
                                        ou
                                    </p>
                                    <div class="upload-area no-margin form-group">
                                        <div class="add-file marg-t-40 text-center">
                                            <label for="cvFileTrainer" class=" text-white">
                                                <i class="far fa-cloud-upload marg-b-10 font-size-50 text-white no-margin"></i>
                                                <p class="no-margin no-padding color-header bold font-size-18">Glissez / Déposez</p>
                                                <span class="no-margin color-header">votre fichier pour l’ajouter</span>
                                            </label>
                                            <input id="cvFileTrainer"
                                                   type="file"
                                                   name="cvFile"
                                                   data-type="myCV"
                                                   data-profile-id=""/>
                                        </div>
                                    </div>
                                    <div class="row marg-t-10">
                                        <ul class="nav nav-pills no-padding  " role="tablist">
                                            <li class="nav-item no-marg-r">
                                                <a title="Download CV template" class="btn border-radis-30 btn-deepmark btn-edit"
                                                   href="{% if cvTemplateDoc is not null %}/trainer/documents/download/{{ cvTemplateDoc.fileDescriptor.id }}{% endif %}"
                                                   download><i class="far fa fa-download no-margin"></i> Template</a>
                                            </li>
                                        </ul>

                                    </div>
                                </div>
                                <div class="col-md-6 text-center pad-t-20">
                                    <h3 class="color-header ">{{ 'trainers.profile.my_video'|trans }}</h3>
                                    <p class="no-margin ">
                                        <i class="fa fa-paperclip text-gray" aria-hidden="true"></i>
                                        <span class="text-gray">Joindre un fichier (max : 7 Mo)</span><br>
                                        ou
                                    </p>
                                    <div class="upload-area no-margin form-group">
                                        <div class="add-file  marg-t-40 text-center">
                                            <label for="videoFileTrainer" class="text-white">
                                                <i class="far fa-cloud-upload marg-b-10 font-size-50 text-white no-margin"></i>
                                                <p class="no-margin no-padding color-header bold font-size-18">Glissez / Déposez</p>
                                                <span class="no-margin color-header">votre fichier pour l’ajouter</span>
                                            </label>
                                            <input id="videoFileTrainer"
                                                   type="file"
                                                   name="videoFile"
                                                   data-type="video"
                                                   data-profile-id=""/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane " id="organization">
                        <div class="row">
                            <div class="col-md-6 profile no-padding-left pad-r-10">
                                <div class="pad-t-10 card no-margin min-height-350">
                                    <h3 class="no-margin text-center color-header">{{ 'global.organisation'|trans }}</h3>
                                    <div class="row pad-t-20 pad-b-20">
                                        <div class="form-group col-md-6">
                                            <label class="col-form-label required bmd-label-static">{{ 'global.organisation'|trans }}</label>
                                            <input disabled type="text" class="form-control" value="{{ adminProfile.entity.organisation.designation | default('') }}">
                                        </div>
                                        <div class="form-group col-md-6 bmd-form-group is-filled">
                                            <label class="col-form-label required bmd-label-static">{{ 'global.entity'|trans }}</label>
                                            <select name="entity" id="entity" class="form-control select2">
                                                {% if entities %}
                                                    {% for entity in entities %}
                                                        <option value="{{ entity.id }}">{{ entity.designation }}</option>
                                                    {% endfor %}
                                                {% endif %}
                                            </select>
                                        </div>
                                        <div class="form-group col-md-6 bmd-form-group is-filled">
                                            <label class="col-form-label bmd-label-static">{{ 'global.region'|trans }}</label>
                                            <select name="regional" id="regional" class="form-control select2">
                                            </select>
                                        </div>
                                        <div class="form-group col-md-6 bmd-form-group is-filled">
                                            <label class="col-form-label bmd-label-static">{{ 'global.group'|trans }}</label>
                                            <select name="group" id="group" class="select2 form-control">
                                            </select>
                                        </div>
                                        <div class="col-md-6 bmd-form-group is-filled">
                                            <label class="col-form-label bmd-label-static">{{ 'global.action_zone'|trans }}</label>
                                            <div class="form-group  has-success bmd-form-group">
                                                <select id="action_zone" name="action_zone" class="form-control selectpicker" data-style="btn btn-link" >
                                                    {% if perimeters %}
                                                        {% for value in perimeters %}
                                                            <option value="{{ value.id }}"> {{ ('select.'~value.designation|lower)|trans }}</option>
                                                        {% endfor %}
                                                    {% endif %}
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 profile no-padding-right pad-l-10">
                                <div class="card pad-t-10 no-margin  min-height-350">
                                    <h3 class="no-margin text-center color-header">{{ 'global.workplace'|trans }}</h3>
                                    <div class="row pad-t-20 pad-b-20">
                                        <div class="form-group col-md-6 bmd-form-group is-filled">
                                            <label class="col-form-label required bmd-label-static">{{ 'select.denomination'|trans }}</label>
                                            <select name="workplace" id="workplace" class="select2 form-control">
                                            </select>
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label class="col-form-label required bmd-label-static">{{ 'select.address'|trans }}</label>
                                            <input disabled type="text" class="form-control"  id="street">
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label class="col-form-label required bmd-label-static">{{ 'select.additional_address'|trans }}</label>
                                            <input disabled type="text" class="form-control"  id="expansionStreet">
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label class="col-form-label required bmd-label-static">{{ 'select.postal_code'|trans }}</label>
                                            <input disabled type="text" class="form-control"  id="postalCode">
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label class="col-form-label required bmd-label-static">{{ 'select.city'|trans }}</label>
                                            <input disabled type="text" class="form-control"  id="city">
                                        </div>
                                        <div class="form-group col-md-6 bmd-form-group is-filled">
                                            <label class="col-form-label required bmd-label-static">{{ 'select.country'|trans }}</label>
                                            <input disabled type="text" class="form-control"  id="country">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row card marg-t-20 marg-b-20 internalTrainer" style="display: none;">
                            <h3 class=" text-center color-header">{{ 'trainers.profile.my_documents'|trans }}</h3>
                            <div class="row pad-10" id="administrative-documents-list">
                                <div class="table-responsive">
                                    {% set audioType = ["wav", "mp3", "MP3", "WAV"] %}
                                    {% set videoType = ["mp4", "mov", "ogg", "MP4", "MOV", "OGG"] %}
                                    {% set imgType = ["png", "PNG", "JPG", "jpg", "JPEG", "jpeg"] %}
                                    <table class="table table-striped data-table" id="library-data-table">
                                        <thead class="table-header">
                                        <tr>
                                            <th class="bold" width="20%">{{ 'global.category'|trans }}</th>
                                            <th class="bold" width="20%">{{ 'table.library.doc_name'|trans }}</th>
                                            <th class="bold" width="15%">{{ 'global.status'|trans }}</th>
                                            <th class="text-center" width="10%"></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>Identite de l’entreprise</td>
                                            <td></td>
                                            <td class="bold">Missing</td>
                                            <td class="text-center">
                                                <label for="identite" class="pointer color-header">
                                                    <i class="fa fa-upload " aria-hidden="true"></i>
                                                </label>
                                                <input class="d-none uploadFile" multiple id="identite" type="file" name="identite[]"/>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Regime social</td>
                                            <td></td>
                                            <td class="bold">Missing</td>
                                            <td class="text-center">
                                                <label for="social" class="pointer color-header">
                                                    <i class="fa fa-upload " aria-hidden="true"></i>
                                                </label>
                                                <input class="d-none uploadFile" multiple id="social" type="file" name="social[]"/>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Assurance RCP</td>
                                            <td></td>
                                            <td class="bold">Missing</td>
                                            <td class="text-center">
                                                <label for="assurance" class="pointer color-header">
                                                    <i class="fa fa-upload " aria-hidden="true"></i>
                                                </label>
                                                <input class="d-none uploadFile" multiple id="assurance" type="file" name="assurance[]"/>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Contrat cadre</td>
                                            <td></td>
                                            <td class="bold">Missing</td>
                                            <td class="text-center">
                                                <label for="contrat_cadre" class="pointer color-header">
                                                    <i class="fa fa-upload " aria-hidden="true"></i>
                                                </label>
                                                <input class="d-none uploadFile" multiple id="contrat_cadre" type="file" name="contrat_cadre[]"/>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Contrat mission</td>
                                            <td></td>
                                            <td class="bold">Missing</td>
                                            <td class="text-center">
                                                <label for="contrat_mission" class="pointer color-header">
                                                    <i class="fa fa-upload " aria-hidden="true"></i>
                                                </label>
                                                <input class="d-none uploadFile" multiple id="contrat_mission" type="file" multiple="multiple" name="contrat_mission[]"/>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Bank account statement</td>
                                            <td></td>
                                            <td class="bold">Missing</td>
                                            <td class="text-center">
                                                <label for="billing" class="pointer color-header">
                                                    <i class="fa fa-upload " aria-hidden="true"></i>
                                                </label>
                                                <input class="d-none uploadFile" multiple id="billing" type="file" name="billing[]"/>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="card no-margin internalTrainer" style="display: none;">
                            <div class="row pad-b-20">
                                <div class="col-md-1"></div>
                                <div class="col-md-10 pad-b-10">
                                    <h3 class=" text-center color-header">{{ 'trainers.profile.billings_infos'|trans }}</h3>
                                </div>
                                <div class="col-md-1 flex--center">
                                    <a  style="display: none;" id="visibleIcon" class="pointer"><i class="far fa-eye-slash color-header"></i></a>
                                    <a  id="showIcon" class="pointer"><i class="far fa-eye color-header"></i></a>
                                </div>

                                <div class="col-md-12 row " id="billingDiv" style="display: none">
                                    <div class="col-md-6 marg-b-20">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text bold">
                                                   {{ 'global.bank_name'|trans }} :
                                                </span>
                                            </div>
                                            <input type="text" name="bank_name" id="bank_name"  class="billing pad-l-5 pad-r-5 form-control btn-deepmark-light background-image-none" >
                                        </div>
                                    </div>
                                    <div class="col-md-6 marg-b-20">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text bold">
                                                   {{ 'global.account_currency'|trans }}:
                                                </span>
                                            </div>
                                            <input type="text" name="account_currency" id="account_currency" class="billing pad-l-5 pad-r-5 form-control btn-deepmark-light background-image-none" >
                                        </div>
                                    </div>
                                    <div class="col-md-6 marg-b-20">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text bold">
                                                   {{ 'global.iban'|trans }} :
                                                </span>
                                            </div>
                                            <input type="text" name="iban" id="iban"  class="billing pad-l-5 pad-r-5 form-control btn-deepmark-light background-image-none" >
                                        </div>
                                    </div>
                                    <div class="col-md-6 marg-b-20">
                                        <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text bold">
                                               {{ 'global.bic'|trans }} :
                                            </span>
                                        </div>
                                            <input type="text" name="bic" id="bic" class="billing pad-l-5 pad-r-5 form-control btn-deepmark-light background-image-none" >
                                        </div>
                                    </div>

                                    <div class="col-md-12  marg-b-20">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text bold">
                                                   {{ 'global.rib'|trans }} :
                                                </span>
                                            </div>
                                            <div class="col-md-2 pad-r-0">
                                                <div class="form-group text-center">
                                                    <label for="bank_code" class="text-black ">{{ 'global.bank_code'|trans }}</label>
                                                    <input name="bankCode" type="text" class="pad-l-5 pad-r-5 form-control billing text-center btn-deepmark-light background-image-none" id="bank_code" placeholder="XXXXX">
                                                </div>
                                            </div>
                                            <div class="col-md-2 pad-r-0">
                                                <div class="form-group text-center">
                                                    <label for="agency_code" class="text-black ">{{ 'global.agency_code'|trans }}</label>
                                                    <input name="agencyCode" type="text" class="pad-l-5 pad-r-5 form-control billing text-center btn-deepmark-light background-image-none" name=="agency_code" id="agency_code" placeholder="XXXXX">
                                                </div>
                                            </div>
                                            <div class="col-md-3 pad-r-0">
                                                <div class="form-group text-center">
                                                    <label for="account_num" class="text-black ">{{ 'global.account_num'|trans }}</label>
                                                    <input name="accountNum" type="text" class="pad-l-5 pad-r-5 form-control billing text-center btn-deepmark-light background-image-none" id="account_num"  name="account_num" placeholder="XXXXXXXXXX">
                                                </div>
                                            </div>
                                            <div class="col-md-1 pad-r-0" >
                                                <div class="form-group text-center">
                                                    <label for="rib_key" class="text-black ">{{ 'global.rib_key'|trans }}</label>
                                                    <input name="ribKey" type="text" class="pad-l-5 pad-r-5 form-control billing text-center btn-deepmark-light background-image-none" id="rib_key" name="rib_key" placeholder="XX">
                                                </div>
                                            </div>
                                            <div class="col-md-3 pad-r-0">
                                                <div class="form-group text-center">
                                                    <label for="domiciliation_agency" class="text-black ">{{ 'global.domiciliation_agency'|trans }}</label>
                                                    <input name="domiciliationAgency" type="text" class="pad-l-5 pad-r-5 form-control billing text-center btn-deepmark-light background-image-none" id="domiciliation_agency" name="domiciliation_agency" placeholder="XXXXXXXXXXXX">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane card no-margin" id="skill">
                        <div class="skills-container row">
                            <div class="col-md-6 pad-20">
                                <div class="col-md-12 my-skill  text-center btn-deepmark">
                                    <h4 class="text-white no-margin">{{ 'trainers.profile.my_skills'|trans }} </h4>
                                </div>
                                <div class="row btn-deepmark-light pad-b-10 pad-t-10 font-size-12 color-header">
                                    <div class="row col-md-4 no-padding">
                                        <div class="col-md-4 text-center no-padding text-center">{{ 'import.table.status'|trans|capitalize }}</div>
                                        <div class="col-md-8 text-center no-padding">{{ 'import.field.skills'|trans|capitalize }}</div>
                                    </div>
                                    <div class="col-md-6 text-right no-padding">
                                        <span class="bg-white pad-5 border-radius-10">
                                        <label class="status-validate"></label>{{ 'trainers.reports.status.validated'|trans }}
                                        <label class="status-pending"></label>{{ 'calendar.legend.learner.orange'|trans }}
                                        <label class="status-deny"></label>{{ 'global.denied'|trans }}
                                        </span>
                                    </div>
                                    <div class="col-md-2 no-padding text-center">{{ 'table.modules.delete'|trans|capitalize }}</div>
                                </div>
                                <div id="trainer_skill_list" class="col-md-12 no-padding">
                                </div>
                            </div>
                            <div class="col-md-6 pad-20">
                                <input type="hidden" value="{{ path('trainer_profile_skills_add_ajax') }}" id="actionSkill">
                                <div class="col-md-12 my-skill text-center text-white btn-deepmark">
                                    <h4 class="no-margin">{{ 'trainers.profile.choose_skill'|trans }}</h4>
                                </div>
                                <div class="col-md-12 border-header pad-l-0 pad-r-0 pad-t-0 p-b-20">
                                    <div class="row btn-deepmark-light pad-10">
                                        <div class="col-md-1 no-padding flex--center">
                                            <i class="fas fa-search color-header"></i>
                                        </div>
                                        <div class="col-md-11 no-padding">
                                            <input id="search_skill" class="search-skill-input" name="search_skill" placeholder="{{ 'global.search_your_skill'|trans }}">
                                        </div>

                                    </div>
                                    <div class="row border-top-header">
                                        <div class="col-md-12" id="divAddSkill" data-id="-1">

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane card no-margin" id="account">
                        <div class="row pad-t-20 pad-b-20">
                            <div class="form-group col-md-6">
                                <label class="col-form-label required bmd-label-static">{{ 'global.email'|trans }}</label>
                                <input disabled type="text" class="form-control" name="email_temp" >
                            </div>
                            <div class="form-group col-md-6  bmd-form-group is-filled">
                                <label class="col-form-label bmd-label-static">{{ 'global.status_account'|trans }}</label>
                                <select id="statusActive" name="statusActive" class="form-control max-width-100 height-36" >
                                    <option value="1">Active</option>
                                    <option value="0">Inactive</option>
                                </select>
                            </div>
                            <div class="form-group col-md-6">
                                <label class="col-form-label required bmd-label-static">{{ 'admin.profile.password'|trans }}</label>
                                <input required type="password" name ="password" class="form-control" value="{{ defaultPassword }}">
                            </div>
                            <div class="form-group col-md-6">
                                <label class="col-form-label required bmd-label-static">{{ 'admin.profile.rp_password'|trans }}</label>
                                <input required type="password" name ="rpPassword" class="form-control" value="{{ defaultPassword }}">
                            </div>
                            <div class="form-group col-md-6 bmd-form-group is-filled">
                                <label class="col-form-label bmd-label-static">{{ 'global.time_zone'|trans }}</label>
                                <select id="time_zone_id" name="time_zone_id" class="form-control max-width-100 height-36">
                                    {% if timeZones %}
                                        {% for timeZone in timeZones %}
                                                <option value="{{ timeZone.id }}">{{ timeZone.timeZone }}</option>
                                        {% endfor %}
                                    {% endif %}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane card no-margin " id="workingHour">
                        {{ include('molecules/modal/recurring-availability.html.twig', { modal: '0', organisation: adminProfile.entity, entityWorkingHours: adminProfile.entity.workingHours }) }}
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div id="progressbar-upload-template" class="progress c-bg-lightblue template" style="width: 0%"></div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>

        $('#typeTrainer').change(function() {
            let type = $("#typeTrainer").val();
            if (type == 1) {
                $(".internalTrainer").hide();
            } else {
                $(".internalTrainer").show();
            }
        });
        $('#typeTrainer').trigger("change");

        var myElement = document.getElementById('administrative-documents-list');
        new SimpleBar(myElement, {autoHide: true});
        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function(e) {
                    $('#avatar').attr('src', e.target.result);
                }

                reader.readAsDataURL(input.files[0]);
            }
        }
        $(document).ready(function () {
            $('#visibleIcon').click(function () {
                $("#billingDiv").hide();
                $("#visibleIcon").hide();
                $("#showIcon").show();
            });
            $('#showIcon').click(function () {
                $("#billingDiv").show();
                $("#visibleIcon").show();
                $("#showIcon").hide();
            });
            $('#avatarFileTrainer').on('change', function () {
                $("#trainer-avatar").empty().append('<img id="avatar" style="border-radius: 50%;" width="150" height="150" src="">')
                readURL(this);
            });

            $('.uploadFile').on('change', function () {
                let file_name = $(this)[0].files[0].name;
                swal("Sucess", file_name, "success", {
                    button: "Ok",
                });
            });

            $('#entity').select2({
                    minimumResultsForSearch: 1
                }
            );
            $('#regional').select2({
                    minimumResultsForSearch: 1
                }
            );
            $('#group').select2({
                    minimumResultsForSearch: -1
                }
            );
            // Make two field the same value
            let $email      = $('[name="email"]');
            let $email_temp = $('[name="email_temp"]');
            $email_temp.keyup(function(){
                $email.val($email_temp.val());
            });
            $email.keyup(function(){
                $email_temp.val($email.val());
            });
            $("#entity").change(function() {
                let entity_id = $(this).val();
                let regional_id = {{ profile is defined and profile.regional != null ? profile.regional.id  : 0  }};
                if(entity_id != '') {
                    $.ajax({
                        type: "POST",
                        url: '{{ path('admin_learners_entity') }}',
                        data: {"entity_id": entity_id},
                        success: function (data) {
                            $("#street").val(data.street);
                            $("#expansionStreet").val(data.expansionStreet);
                            $("#postalCode").val(data.postalCode);
                            $("#city").val(data.city);
                            $("#country").val(data.country);

                        }
                    });
                    $("#regional").empty();
                    $("#group").empty();
                    $("#workplace").empty();

                    $.ajax({
                        type: "POST",
                        url: '/admin/learners/regional',
                        data: {"entity_id": entity_id},
                        success: function (data) {
                            $.each(data, function (i, data) {
                                let selected = data.id == regional_id ? 'selected' : '';
                                $("#regional").append("<option "+ selected +" value="+data.id +" > "+ data.designation +" </option>");
                            });
                            if (data.length == 0){
                                $("#regional").append("<option></option>");
                            }
                            $("#regional").trigger('change');
                        }
                    });
                } else {
                    $("#regional").append("<option></option>");
                    $("#regional").trigger('change');
                }
            });
            $("#entity").trigger('change');

            $("#regional").change(function() {
                let regional_id = $(this).val();
                let group_id = {{ profile is defined and profile.groupOrganization != null ? profile.groupOrganization.id  : 0  }};
                if(regional_id != '') {

                    $("#group").empty();
                    $("#workplace").empty();
                    $.ajax({
                        type: "POST",
                        url: '/admin/learners/group',
                        data: {"regional_id": regional_id},
                        success: function (data) {
                            $.each(data, function (i, data) {
                                let selected = data.id == group_id ? 'selected' : '';
                                $("#group").append("<option " + selected +" value= "+data.id +" > "+ data.designation +" </option>");
                            });
                            if (data.length == 0){
                                $("#group").append("<option></option>");
                            }
                            $("#group").trigger('change');
                        }
                    });
                } else {
                    $("#group").append("<option></option>");
                    $("#group").trigger('change');
                }
            });

            $("#group").change(function() {
                let group_id = $(this).val();
                let workplace_id = {{ profile is defined and profile.workplace != null ? profile.workplace.id  : 0  }};
                if(group_id != '') {
                    $("#workplace").empty().trigger("change");
                    $.ajax({
                        type: "POST",
                        url: '/admin/learners/workplace',
                        data: {"group_id": group_id},
                        success: function (data) {
                            $.each(data, function (i, data) {
                                let selected = data.id == workplace_id ? 'selected' : '';
                                $("#workplace").append("<option " + selected +" value= "+data.id +" > "+ data.designation +" </option>");
                            });
                            if (data.length == 0){
                                $("#workplace").append("<option></option>");
                            }
                            $("#workplace").trigger('change');
                        }
                    });
                } else {
                    $("#workplace").append("<option></option>");
                    $("#workplace").trigger('change');
                }
            });

        });

    </script>
    <script src="{{ asset('js/trainer/calendar-trainer.js') }}"></script>

    <script src="{{ asset('js/trainer/edit-skills.js') }}"></script>

{% endblock %}