{% extends 'base.html.twig' %}

{% block pagename %}{{ 'admin.trainers.trainer_profile'|trans }}{% endblock %}

{% block body %}
    <div class="card">
        <header class="card-header card-header--flex c-bg-navy">
            <h2>{{ profile.firstname }} {{ profile.lastname }}</h2>
            <div class="action-toolbar">
                <a data-placement="top" data-toggle="tooltip" title="Edit" href="{{ url('admin_trainers_edit', { id: profile.id }) }}" class="btn btn-deepmark-orangelight btn-edit "><i class="far fa-pen"></i></a>
                <button data-placement="top" data-toggle="tooltip" id="btnDelete" type="submit" class="btn btn-deepmark-red btn-edit"><i class="fas fa-ban"></i></button>
            </div>
        </header>

        <div class="card-body">
            <div class="row">
                <div class="col-md-5">
                    <section class="profile-details">
                        <header>
                            {% if profile.avatar is defined and profile.avatar is not null %}
                                <img width="225" src="{{ profile.avatar }}" alt="">
                            {% else %}
                                <img src="{{ asset('img/default-avatar.png') }}" alt="">
                            {% endif %}
                            <p>{{ 'table.trainer'|trans }}<small class="marg-l-10">({{ 'admin.trainers.trainer_since'|trans }} {{ profile.creationDate|date('d/m/Y') }})</small></p>
                        </header>
                    </section>
                    <section>
                        <dl>
                            {% if profile.otherEmail  %}
                                <dt>{{ 'global.email'|trans }}</dt>
                                <dd>{{ profile.otherEmail}}</dd>
                            {% endif %}

                            {% if profile.mobilePhone  %}
                                <dt>{{ 'global.mobile'|trans }}</dt>
                                <dd>{{ profile.mobilePhone }}</dd>
                            {% endif %}

                            {% if profile.street  %}
                                <dt>{{ 'global.address'|trans }}</dt>
                                <dd>{{ profile.street }}</dd>
                            {% endif %}
                        </dl>
                    </section>

                    <section class="marg-t-20">
                        <h3>{{ 'admin.trainers.skills'|trans|capitalize }}</h3>
                        <div class="row">
                            <div class="col-md-6">
                                <ul>
                                    {% for skillName in skillNames %}
                                        <li>{{ skillName }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </section>

                    <section class="profile-ratings marg-t-20">
                        <h3>{{ 'admin.trainers.rating'|trans }}</h3>
                        <div class="row">
                            <div class="col-md-6">
                                <h4>{{ 'table.trainer'|trans }}</h4>
                                <div class="rating-item">
                                    {{ include('molecules/widgets/ratings.html.twig', { max: 5, grade: ranking }) }}
                                    <span class="ilblock">{{ ranking }}/5</span>
                                </div>
                            </div>

                        </div>
                    </section>
                </div>
                <div class="col-md-7">
                    <div class="card card-pane">
                        <div class="card-header">
                            <ul class="nav nav-pills" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" data-toggle="tab" href="#monthCalendar" role="tablist">
                                        {{ 'trainers.planning.nav.month_planning'|trans }}
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="card-body">
                            <div class="tab-content tab-space">
                                <input type="hidden" id="trainerId" name="trainerId" value="{{ app.request.get('id') }}">
                                <div class="tab-pane active" id="trainerPlanningCalendar">
                                    {{ include('molecules/calendar/calendar-legend.twig', { user: 'trainer'}) }}
                                    <div id="trainerShowCalendar"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card-body">
            <div class="row">
                <div class="col-md-4">
                </div>
            </div>

            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">{{ 'table.organization'|trans }}</th>
                        <th scope="col">{{ 'table.entity'|trans }}</th>
                        <th scope="col">{{ 'table.module_name'|trans }}</th>
                        <th scope="col">{{ 'table.interventions.dates'|trans }}</th>
                        <th scope="col">{{ 'trainers.alerts.billings.sponsor'|trans }}</th>
                        <th scope="col">{{ 'table.interventions.sup'|trans }}</th>
                        <th scope="col">{{ 'table.interventions.grade'|trans }}</th>
                        <th scope="col">{{ 'table.interventions.planif'|trans }}.</th>
                        <th scope="col">{{ 'table.interventions.analyze'|trans }}</th>
                        <th scope="col">{{ 'table.interventions.progress'|trans }}</th>
                        <th scope="col">{{ 'table.interventions.alert'|trans }}</th>
                    </tr>
                    </thead>

                    <tbody>
                    {% if assignments is defined %}
                        {% for assignment in assignments %}
                            <tr>
                                <td>
                                    <div class="img-container">
                                        <img src="{{ asset('img/Logo_BNP.png') }}" alt="">
                                    </div>
                                </td>

                                <td>
                                    {{ assignment.module.intervention.admin.entity.designation }}
                                </td>

                                <td>
                                    {{ assignment.module.designation }}
                                </td>

                                <td>
                                    {{ assignment.module.beginning | date('Y-m-d') }}<br>
                                    {{ assignment.module.ending | date('Y-m-d') }}
                                </td>

                                <td>
                                    {{ assignment.module.intervention.customer.displayName }} <br>
                                    {{ assignment.module.intervention.customer.mobilePhone }}<br>
                                    {{ assignment.module.intervention.customer.person.email }}
                                </td>

                                <td>
                                </td>

                                <td>
                                    {{ include('molecules/widgets/ratings.html.twig', { max: 5, grade: 4 }) }}
                                </td>

                                <td>
                                    {{ include('molecules/widgets/planif-progress.html.twig', { current: 27, max: 41 }) }}
                                </td>

                                <td>
                                    <i class="fal fa-chart-area"></i>
                                </td>

                                <td>
                                    {{ include('molecules/widgets/student-progress.html.twig', { percent: 65 }) }}
                                </td>

                                <td>
                                    <span class="text-deepmark-red">4</span>
                                </td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                    </tbody>
                </table>
            </div>

            <div>
                <a class="btn btn-navy" href="{{ path('admin_trainers_index') }}">{{ 'pagination.bck_to_list'|trans }}</a>
            </div>
        </div>
    </div>
    <!-- Modal delete or deactivate the user -->
    {{ include('molecules/modal/delete-user.html.twig', { url: path('admin_trainers_delete',{id: profile.id }), isDelete: 0  }) }}
    <!-- Modal remove availability-->
    {{ include('molecules/modal/remove-availability.html.twig') }}
    <!-- Modal add availability-->
    {{ include('molecules/modal/add-availability.html.twig') }}
    <!-- Modal show the booked session -->
    {{ include('molecules/modal/show-module.html.twig') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/admin/calendar/calendar-trainer.js') }}"></script>

    <script>
        $(document).ready(function(){
            $('[data-toggle="tooltip"]').tooltip();

            $('#btnDelete').on('click', function () {
                $('#deleteModal').modal('show');
            });
        });
    </script>
{% endblock %}
