{% extends 'base.html.twig' %}

{% block pagename %}Upload trainer{% endblock %}

{% block body %}
    {{ include('molecules/uploadFiles.html.twig', {'type': 'Trainers',page: 'Trainer', form:form}) }}
    <script>
        jQuery(document).ready(function () {
            jQuery('#file_descriptor_path').on('change', function () {
                jQuery('#mapping').hide();
                let file_name = jQuery("#file_descriptor_path")[0].files[0].name;
                let delimiter = jQuery("#delimiter").val();
                let fd = new FormData();
                fd.append('file', jQuery("#file_descriptor_path")[0].files[0]);
                fd.append('type', 'import');
                fd.append('delimiter', delimiter);
                jQuery.ajax({
                    url: '/admin/trainers/ajaxUpload',
                    type: 'POST',
                    data: fd,
                    beforeSend: function () {
                        swal(
                            "Uploading progress", "Your file is being uploaded", "info",
                            {
                                showCancelButton: true,
                                closeOnConfirm: true,
                                showLoaderOnConfirm: true
                            }
                        );
                    },
                    success: function (respond) {
                        let importHeaders = respond.data;

                        jQuery.each(importHeaders, function (index, importHeader) {
                            jQuery('select.entity-fields').append('<option value="' + importHeader + '">' + importHeader + '</option>');
                        });
                        jQuery('.selectpicker').selectpicker('refresh');
                        swal("Sucess", file_name, "success", {
                            button: "Ok",
                        });
                        jQuery('#mapping').show();

                    },
                    cache: false,
                    contentType: false,
                    processData: false
                })
                    .fail(function (respond) {
                        swal("Error", respond.msg, "error", {
                            button: "Ok",
                        });
                    });
            });
        });
    </script>
{% endblock %}
