{% extends 'base.html.twig' %}
{% block pagename %}{{ 'trainers.catalog.page_title'|trans }}{% endblock %}
{% block body %}
    <style>
        .main-panel{
            background-color: #F4F3F9!important;
        }
        .main-panel > .content {
            padding: 0 !important;
        }

    </style>
    <div class="catalog scroll-custom">
        <div class="row">
            <div class="col-sm-9 pad-t-20">
                <div id="bestPracticesList"></div>
            </div>
            <div class="col-md-3 pad-t-20 btn-deepmark-light">
                <div class="row flex--center">
                    <div class="col-md-12 text-center bold color-header">{{ 'global.catalog.category'|trans }}</div>
                    <div class="col-md-12 text-center no-padding marg-b-15">
                        {{ include('molecules/cards/nav/catalog-nav.html.twig') }}
                    </div>
                </div>
                <div class="row flex--center">
                    <div class="col-md-12 text-center bold color-header">{{ 'global.catalog.filters'|trans }}</div>
                    <div class="col-md-12 no-padding text-center marg-b-15">
                        <div class="card-body no-padding">
                            <div class="row custom marg-t-10 pb-1 stat-filter">
                                <div class="col-md-12 no-padding filter course-filter global-filter entityId f-search f-2 marg-t-10">
                                    <div class="form-group select-border datepicker-group">
                                        <div class="col-md-12 no-padding  btn-deepmark">
                                            <label class="text-white" for="entityId">{{ 'trainers.statistics.entity'|trans }}</label>
                                        </div>
                                        <div class="input-group bg-white">
                                            <select id="entityId" class="form-control  selectpicker"  data-container="body"  data-style="btn btn-link">
                                                <option value="0">{{ 'trainers.statistics.export.all'|trans }}</option>
                                                {% for entity in searchParam.entities %}
                                                    <option value="{{ entity.id }}">{{ entity.designation }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 no-padding filter course-filter global-filter entityId f-search f-2 marg-t-10">
                                    <div class="form-group select-border datepicker-group">
                                        <div class="col-md-12 no-padding  btn-deepmark">
                                            <label class="text-white" for="entityId">{{ 'global.best_practices.category'|trans }}</label>
                                        </div>
                                        <div class="input-group bg-white">
                                            {% set tags = searchParam.tags %}
                                            <select multiple id="tagId" title="{{ 'trainers.statistics.export.all'|trans }}" class="form-control selectpicker" data-container="body"  data-style="btn btn-link">
                                                {% for key, tag in tags %}
                                                    <option value="{{ key }}" {% if tag|upper in tagsQuery %}selected{% endif %}>{{ tag }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 no-padding filter course-filter global-filter entityId f-search f-2 marg-t-10">
                                    <div class="form-group select-border datepicker-group">
                                        <div class="col-md-12 no-padding  btn-deepmark">
                                            <label class="text-white" for="entityId">{{ 'global.catalog.type'|trans }}</label>
                                        </div>
                                        <div class="input-group bg-white">
                                            <select id="type" class="form-control selectpicker"  data-container="body"  data-style="btn btn-link">
                                                <option value="">{{ 'trainers.statistics.export.all'|trans }}</option>
                                                <option value="distance">{{ 'global.catalog.options.distance'|trans }}</option>
                                                <option value="mix">{{ 'global.catalog.options.mix'|trans }}</option>
                                                <option value="face_to_face">{{ 'global.catalog.options.face_to_face'|trans }}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 no-padding filter course-filter global-filter entityId f-search f-2 marg-t-10">
                                    <div class="form-group select-border datepicker-group">
                                        <div class="col-md-12 no-padding btn-deepmark">
                                            <label class="text-white" for="entityId">{{ 'global.catalog.duration'|trans }}</label>
                                        </div>
                                        <div class="input-group bg-white">
                                            <select id="duration" class="form-control selectpicker" data-container="body" data-style="btn btn-link">
                                                <option value="">{{ 'trainers.statistics.export.all'|trans }}</option>
                                                <option value="1|10">1 - 10 hrs</option>
                                                <option value="10|20">10 - 20 hrs</option>
                                                <option value="20|30">20 - 30 hrs</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 no-padding filter course-filter global-filter entityId f-search f-2 marg-t-10">
                                    <div class="form-group select-border datepicker-group">
                                        <div class="col-md-12 no-padding btn-deepmark">
                                            <label class="text-white" for="entityId">{{ 'global.best_practices.number_of_stars'|trans }}</label>
                                        </div>
                                        <div class="input-group bg-white">
                                            <select id="rateNumber" class="form-control  selectpicker"  data-container="body"  data-style="btn btn-link">
                                                <option value="0">{{ 'trainers.statistics.export.all'|trans }}</option>
                                                <option value="1">&#8805; 1</option>
                                                <option value="2">&#8805; 2</option>
                                                <option value="3">&#8805; 3</option>
                                                <option value="4">&#8805; 4</option>
                                                <option value="5">5</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 text-center no-padding">
                                <button id="search_best_practices" class="btn btn-block btn-deepmark-orangelight">{{ 'global.best_practices.show_selection'|trans }}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        $('#search_best_practices').click(function () {
            let organizationId = '{{ searchParam.organization.id }}';
            let entityId = $('#entityId').val();
            let tagId = $('#tagId').val();
            let type = $('#type').val();
            let duration = $('#duration').val();
            let rateNumber = $('#rateNumber').val();
            let tab = '{{ app.request.get("tab") }}';
            let sort = '{{ app.request.query.get('sort') }}'
            let url = sort ? "{{ url('api_catalog_search') }}?sort={{ app.request.query.get('sort') }}" : "{{ url('api_catalog_search') }}";
            console.log(url)
            $.ajax({
                type: "POST",
                url: url, // use all role
                data: {
                    "organizationId": organizationId,
                    'entityId': entityId,
                    'tagId': tagId,
                    'type': type,
                    'duration': duration,
                    'rateNumber': rateNumber,
                    'tab': tab
                },
                success: function (data) {
                    $('#bestPracticesList').html(data);
                    if("{{  app.request.get('tab') }}" === "3") {
                        let selectionTable = $('#selectionTable').DataTable({
                                "paging": false,
                                "info": false
                            }
                        );
                        $(".dataTables_filter").hide();
                        $('#searchBestPractices').keyup(function () {
                            selectionTable.search($(this).val()).draw();
                        })
                    }
                }
            });
        })
        $("#search_best_practices").trigger('click');
        $(document).on('keyup', '#searchBestPractices', function() {
            var value = $(this).val().toLowerCase();
            $("#card-practice-list .card-practice").filter(function() {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    </script>
{% endblock %}