<table id="dataTableStatistic" class="table no-margin">
    <thead>
    <tr>
        <th class="bold"> {{ 'trainers.statistics.course_name' | trans }}</th>
        <th class="bold"> {{ 'trainers.statistics.module_name' | trans }}</th>
        <th class="bold"> {{ 'trainers.statistics.module_type' | trans }}</th>
        <th class="bold"> {{ 'trainers.statistics.count_assessment' | trans }}</th>
        <th class="bold"> {{ 'trainers.statistics.module_duration' | trans }}</th>
        <th class="bold"> {{ 'trainers.statistics.average_real_time_spent' | trans }}</th>
        <th class="bold"> {{ 'trainers.statistics.progression' | trans }}</th>
        <th class="bold"> {{ 'trainers.statistics.not_started' | trans }}</th>
        <th class="bold"> {{ 'trainers.statistics.booked' | trans }}</th>
        <th class="bold"> {{ 'trainers.statistics.started' | trans }}</th>
        <th class="bold"> {{ 'trainers.statistics.completed' | trans }}</th>
        <th class="bold"> {{ 'trainers.statistics.rating_module' | trans }}</th>
        <th class="bold"> {{ 'trainers.statistics.score_to_pass_percent' | trans }}</th>
        <th class="bold"> {{ 'trainers.statistics.average_score_percent' | trans }}</th>
        <th class="bold"> {{ 'trainers.statistics.completion_of_learners' | trans }}</th>
    </tr>
    </thead>
    <tbody>
    {% for data in statisticData %}
        <tr>

            <td>
                {{ data.courseName }}
            </td>

            <td>
                {{ data.moduleName }}
            </td>

            <td>
                {{ data.moduleType }}
            </td>

            <td>
                {% if data.isAssessment == 1 %} {{ 'learners.dashboard.modal.btn_yes'|trans }} {% else %} {{ 'learners.dashboard.modal.btn_no'|trans }} {% endif %}
            </td>

            <td>
                {{ data.moduleDuration }}
            </td>

            <td>
                {{ data.realTime }}
            </td>

            <td>
                {{ data.progressing }}%
            </td>

            <td>
                {{ data.notStarted }}
            </td>

            <td>
                {{ data.booked }}
            </td>

            <td>
                {{ data.started }}
            </td>
            <td>
                {{ data.completed }}
            </td>
            <td>
                {{ data.moduleRating }}
            </td>
            <td>
                {{ data.scoreToPass }}
            </td>
            <td>
                {{ data.averageScore }}
            </td>
            <td>
                {{ data.statusPassed }}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<script>
    var columnsExport = '{{ columnsExport is defined ? columnsExport : "" }}';
</script>