<table id="dataTableStatistic" class="table no-margin">
    <thead>
    <tr>
        <th class="bold"> {{ 'trainers.statistics.course_name' | trans }}</th>
        <th class="bold"> {{ 'trainers.statistics.organization' | trans }}</th>
        <th class="bold"> {{ 'trainers.statistics.entity' | trans }}</th>
        <th class="bold"> {{ 'trainers.statistics.number_of_total_modules' | trans }}</th>
        <th class="bold"> {{ 'trainers.statistics.number_of_booking_modules' | trans }}</th>
        <th class="bold"> {{ 'trainers.statistics.number_of_without_booking_modules' | trans }}</th>
        <th class="bold"> {{ 'trainers.statistics.number_of_assessment_modules' | trans }}</th>
        <th class="bold"> {{ 'trainers.statistics.number_of_learners' | trans }}</th>
        <th class="bold"> {{ 'trainers.statistics.number_of_not_started_learners' | trans }}</th>
        <th class="bold"> {{ 'trainers.statistics.number_of_started_learners' | trans }}</th>
        <th class="bold"> {{ 'trainers.statistics.number_of_done_learners' | trans }}</th>
        <th class="bold"> {{ 'trainers.statistics.progression' | trans }}</th>
        <th class="bold"> {{ 'trainers.statistics.number_of_training_groups_registered' | trans }}</th>
        <th class="bold"> {{ 'trainers.statistics.publication_date' | trans }}</th>
        <th class="bold"> {{ 'trainers.statistics.start_date_course' | trans }}</th>
        <th class="bold"> {{ 'trainers.statistics.end_date_course' | trans }}</th>
        <th class="bold"> {{ 'trainers.statistics.course_rating' | trans }}</th>
        <th class="bold"> {{ 'trainers.statistics.module_duration_in_hour' | trans }}</th>
        <th class="bold"> {{ 'trainers.statistics.average_time_spent_course' | trans }}</th>
        <th class="bold"> {{ 'trainers.statistics.total_used_space_course' | trans }}</th>
    </tr>
    </thead>
    <tbody>
    {% for data in statisticData %}
        <tr>
            <td>
                {{ data.courseName }}
            </td>
            <td>
                {{ data.organization }}
            </td>
            <td>
                {{ data.entity }}
            </td>
            <td>
                {{ data.numOfModules }}
            </td>
            <td>
                {{ data.numOfBooking }}
            </td>
            <td>
                {{ data.numOfWithoutBooking }}
            </td>
            <td>
                {{ data.numOfaAssessment }}
            </td>
            <td>
                {{ data.numOfLearners }}
            </td>
            <td>
                {{ data.numOfNotStarted }}
            </td>
            <td>
                {{ data.numOfStarted }}
            </td>
            <td>
                {{ data.numOfFinished }}
            </td>
            <td>
                {{ data.progressing }}%
            </td>
            <td>
                {{ data.numOfTrainingGroups }}
            </td>
            <td data-order="{{ data.creationDate | date('U') }}">
                {{ data.creationDate | date('d/m/Y') }}
            </td>
            <td data-order="{{ data.startDateCourse | date('U') }}">
                {{ data.startDateCourse | date('d/m/Y') }}
            </td>
            <td data-order="{{ data.endDateCourse | date('U') }}">
                {{ data.endDateCourse | date('d/m/Y') }}
            </td>
            <td>
                {{ data.rating }}
            </td>
            <td>
                {{ data.numDurations }}
            </td>
            <td>
                {{ data.totalSpentTime }}
            </td>
            <td>
                {{ data.totalSizeCourse }}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<script>
    var columnsExport = '{{ columnsExport is defined ? columnsExport : "" }}';
</script>