
<br><h3 class="bold btn-deepmark text-center text-white">{{ 'sidebar.learners'|trans }}</h3> <br>
<table class="table table-bordered no-margin text-center">
    <thead>
        <tr>
            <th class="bold">{{ 'trainers.statistics.number_of_learners'|trans }}</th>
            <th class="bold">{{ 'trainers.statistics.export.active'|trans }}</th>
            <th class="bold">{{ 'trainers.statistics.export.inactive'|trans }}</th>
            <th class="bold">{{ 'trainers.statistics.export.new'|trans }}</th>
            <th class="bold">{{ 'trainers.statistics.export.total_time_spent'|trans }}</th>
            <th class="bold">{{ 'trainers.statistics.export.average_time_spent'|trans }}</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ statisticData.0.learners.total }}</td>
            <td>{{ statisticData.0.learners.active }}</td>
            <td>{{ statisticData.0.learners.inactive }}</td>
            <td>{{ statisticData.0.learners.new }}</td>
            <td>{{ statisticData.0.learners.totalSpentTime }}</td>
            <td>{{ statisticData.0.learners.averageSpentTime }}</td>
        </tr>
    </tbody>
</table>

<br><h3 class="bold btn-deepmark text-center text-white">{{ 'sidebar.trainers'|trans }}</h3> <br>
<table class="table table-bordered no-margin text-center">
    <thead>
        <tr>
            <th class="bold">{{ 'trainers.statistics.export.total_number_of_trainers'|trans }}</th>
            <th class="bold">{{ 'trainers.statistics.export.active'|trans }}</th>
            <th class="bold">{{ 'trainers.statistics.export.inactive'|trans }}</th>
            <th class="bold">{{ 'trainers.statistics.export.new'|trans }}</th>
            <th class="bold">{{ 'trainers.statistics.export.average_trainer_grade'|trans }}</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ statisticData.0.trainers.total }}</td>
            <td>{{ statisticData.0.trainers.active }}</td>
            <td>{{ statisticData.0.trainers.inactive }}</td>
            <td>{{ statisticData.0.trainers.new }}</td>
            <td>{{ statisticData.0.trainers.averageTrainerGrade }}</td>
        </tr>
    </tbody>
</table>

<br><h3 class="bold btn-deepmark text-center text-white">{{ 'sidebar.supervisor'|trans }}</h3><br>
<table class="table table-bordered no-margin text-center">
    <thead>
        <tr>
            <th class="bold">{{ 'trainers.statistics.export.total_number_of_supervisors'|trans }}</th>
            <th class="bold">{{ 'trainers.statistics.export.active'|trans }}</th>
            <th class="bold">{{ 'trainers.statistics.export.inactive'|trans }}</th>
            <th class="bold">{{ 'trainers.statistics.export.new'|trans }}</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ statisticData.0.supervisors.total }}</td>
            <td>{{ statisticData.0.supervisors.active }}</td>
            <td>{{ statisticData.0.supervisors.inactive }}</td>
            <td>{{ statisticData.0.supervisors.new }}</td>
        </tr>
    </tbody>
</table>

<br><h3 class="bold btn-deepmark text-center text-white">{{ 'sidebar.interventions'|trans }}</h3><br>
<table class="table table-bordered no-margin text-center">
    <thead>
        <tr>
            <th class="bold">{{ 'trainers.statistics.export.total_number_of_courses'|trans }}</th>
            <th class="bold">{{ 'trainers.statistics.export.new_published'|trans }}</th>
            <th class="bold">{{ 'trainers.statistics.export.started'|trans }}</th>
            <th class="bold">{{ 'trainers.statistics.export.ended'|trans }}</th>
            <th class="bold">{{ 'trainers.statistics.export.average_course_grade'|trans }}</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ statisticData.0.courses.total }}</td>
            <td>{{ statisticData.0.courses.new }}</td>
            <td>{{ statisticData.0.courses.started }}</td>
            <td>{{ statisticData.0.courses.ended }}</td>
            <td>{{ statisticData.0.courses.averageGrade }}</td>
        </tr>
    </tbody>
</table>


<br><h3 class="bold btn-deepmark text-center text-white">{{ 'sidebar.training_group'|trans }}</h3><br>
<table class="table table-bordered no-margin text-center">
    <thead>
        <tr>
            <th class="bold">{{ 'trainers.statistics.export.total_number_of_training_groups'|trans }}</th>
            <th class="bold">{{ 'trainers.statistics.export.new'|trans }}</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ statisticData.0.groups.total }}</td>
            <td>{{ statisticData.0.groups.new }}</td>
        </tr>
    </tbody>
</table>


<br><h3 class="bold btn-deepmark text-center text-white">{{ 'sidebar.stokage_information'|trans }}</h3><br>
<table class="table table-bordered no-margin text-center">
    <thead>
        <tr>
            <th class="bold">{{ 'trainers.statistics.export.stockage_available'|trans }}</th>
            <th class="bold">{{ 'trainers.statistics.export.stokage_used'|trans }}</th>
            <th class="bold">{{ 'trainers.statistics.export.stockage_remaining'|trans }}</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ statisticData.0.stokage.total }}</td>
            <td>{{ statisticData.0.stokage.used }}</td>
            <td>{{ statisticData.0.stokage.remaining }}</td>
        </tr>
    </tbody>
</table>

<br><h3 class="bold btn-deepmark text-center text-white">{{ 'sidebar.modules'|trans|capitalize }}</h3><br>
<table class="table table-bordered no-margin text-center">
    <thead>
        <tr>
            <th class="bold">{{ 'trainers.statistics.export.module_type'|trans }}</th>
            <th class="bold">{{ 'trainers.statistics.export.total'|trans|capitalize }}</th>
            <th class="bold">{{ 'trainers.statistics.export.booked'|trans }}</th>
            <th class="bold">{{ 'trainers.statistics.export.cancelled'|trans }}</th>
            <th class="bold">{{ 'trainers.statistics.export.ended'|trans }}</th>

        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ 'trainers.statistics.export.eLearning'|trans }}</td>
            <td>{{ statisticData.0.modules.eLearning.total }}</td>
            <td>{{ statisticData.0.modules.eLearning.booked }}</td>
            <td>{{ statisticData.0.modules.eLearning.cancelled }}</td>
            <td>{{ statisticData.0.modules.eLearning.ended }}</td>
        </tr>
        <tr>
            <td>{{ 'trainers.statistics.export.quiz'|trans }}</td>
            <td>{{ statisticData.0.modules.quiz.total }}</td>
            <td>{{ statisticData.0.modules.quiz.booked }}</td>
            <td>{{ statisticData.0.modules.quiz.cancelled }}</td>
            <td>{{ statisticData.0.modules.quiz.ended }}</td>
        </tr>
        <tr>
            <td>{{ 'trainers.statistics.export.micro_learning'|trans }}</td>
            <td>{{ statisticData.0.modules.microLearning.total }}</td>
            <td>{{ statisticData.0.modules.microLearning.booked }}</td>
            <td>{{ statisticData.0.modules.microLearning.cancelled }}</td>
            <td>{{ statisticData.0.modules.microLearning.ended }}</td>
        </tr>
        <tr>
            <td>{{ 'trainers.statistics.export.assignment'|trans }}</td>
            <td>{{ statisticData.0.modules.assignment.total }}</td>
            <td>{{ statisticData.0.modules.assignment.booked }}</td>
            <td>{{ statisticData.0.modules.assignment.cancelled }}</td>
            <td>{{ statisticData.0.modules.assignment.ended }}</td>
        </tr>
        <tr>
            <td>{{ 'trainers.statistics.export.individual'|trans }}</td>
            <td>{{ statisticData.0.modules.individual.total }}</td>
            <td>{{ statisticData.0.modules.individual.booked }}</td>
            <td>{{ statisticData.0.modules.individual.cancelled }}</td>
            <td>{{ statisticData.0.modules.individual.ended }}</td>
        </tr>
        <tr>
            <td>{{ 'trainers.statistics.export.virtual'|trans }}</td>
            <td>{{ statisticData.0.modules.virtual.total }}</td>
            <td>{{ statisticData.0.modules.virtual.booked }}</td>
            <td>{{ statisticData.0.modules.virtual.cancelled }}</td>
            <td>{{ statisticData.0.modules.virtual.ended }}</td>
        </tr>
        <tr>
            <td>{{ 'trainers.statistics.export.workshop'|trans }}</td>
            <td>{{ statisticData.0.modules.workshop.total }}</td>
            <td>{{ statisticData.0.modules.workshop.booked }}</td>
            <td>{{ statisticData.0.modules.workshop.cancelled }}</td>
            <td>{{ statisticData.0.modules.workshop.ended }}</td>
        </tr>
        <tr>
            <td>{{ 'trainers.statistics.export.presentation'|trans }}</td>
            <td>{{ statisticData.0.modules.presentation.total }}</td>
            <td>{{ statisticData.0.modules.presentation.booked }}</td>
            <td>{{ statisticData.0.modules.presentation.cancelled }}</td>
            <td>{{ statisticData.0.modules.presentation.ended }}</td>
        </tr>
    </tbody>
</table>
<script>
    $(document).ready(function () {
        $("#individualTxt").text('{{ statisticData.0.modules.individual.total }}');
        $("#virtualTxt").text('{{ statisticData.0.modules.virtual.total }}');
        $("#presentationTxt").text('{{ statisticData.0.modules.presentation.total }}');
        $("#workshopTxt").text('{{ statisticData.0.modules.workshop.total }}');
        $("#interventionsTxt").text('{{ statisticData.0.courses.total }}');
        $("#learnersTxt").text('{{ statisticData.0.learners.total }}');
        $("#trainersTxt").text('{{ statisticData.0.trainers.total }}');
        $("#supervisorTxt").text('{{ statisticData.0.supervisors.total }}');
    });
</script>