<table id="dataTableStatistic" class="table no-margin">
    <thead>
    <tr>
        <th class="bold"> {{ 'trainers.statistics.email' | trans }}</th>
        <th class="bold"> {{ 'trainers.statistics.course_name' | trans }}</th>
        <th class="bold"> {{ 'trainers.statistics.action_type' | trans }}</th>
        <th class="bold"> {{ 'trainers.statistics.date' | trans }}</th>
        <th class="bold"> {{ 'trainers.statistics.module_duration' | trans }}</th>
    </tr>
    </thead>
    <tbody>
    {% for data in statisticData %}
        <tr>

            <td>
                {{ data.email }}
            </td>

            <td>
                {{ data.courseName }}
            </td>

            <td>
                {{ data.actionType }}
            </td>

            <td>
                {{ data.date }}
            </td>

            <td>
                {{ data.duration }}
            </td>

        </tr>
    {% endfor %}
    </tbody>
</table>