<table id="dataTableStatistic" class="table no-margin">
    <thead>
    <tr>
        <th class="bold"> {{ 'trainers.statistics.name' | trans }}</th>
        <th class="bold"> {{ 'trainers.statistics.fist_name' | trans }}</th>
        <th class="bold"> {{ 'trainers.statistics.email' | trans }}</th>
        <th class="bold"> {{ 'trainers.statistics.position_id' | trans }}</th>
        <th class="bold"> {{ 'trainers.statistics.employee_id' | trans }}</th>
        <th class="bold"> {{ 'trainers.statistics.organization' | trans }}</th>
        <th class="bold"> {{ 'trainers.statistics.entity' | trans }}</th>
        <th class="bold"> {{ 'trainers.statistics.regional_direction' | trans }}</th>
        <th class="bold"> {{ 'trainers.statistics.group' | trans }}</th>
        <th class="bold"> {{ 'trainers.statistics.workplace' | trans }}</th>
        <th class="bold"> {{ 'trainers.statistics.training_group' | trans }}</th>
        <th class="bold"> {{ 'trainers.statistics.course_name' | trans }}</th>
        <th class="bold"> {{ 'trainers.statistics.registration_date' | trans }}</th>
        <th class="bold"> {{ 'trainers.statistics.status' | trans }}</th>
        <th class="bold"> {{ 'trainers.statistics.number_completed_modules' | trans }}</th>
        <th class="bold"> {{ 'trainers.statistics.number_validated_modules' | trans }}</th>
        <th class="bold"> {{ 'trainers.statistics.number_to_finish_modules' | trans }}</th>
        <th class="bold"> {{ 'trainers.statistics.progression' | trans }}</th>
        <th class="bold"> {{ 'trainers.statistics.real_time_spent' | trans }}</th>
        <th class="bold"> {{ 'trainers.statistics.start_date_course' | trans }}</th>
        <th class="bold"> {{ 'trainers.statistics.end_date_course' | trans }}</th>
        <th class="bold"> {{ 'trainers.statistics.last_login' | trans }}</th>
        <th class="bold"> {{ 'trainers.statistics.number_login' | trans }}</th>
    </tr>
    </thead>
    <tbody>
    {% for data in statisticData %}
        <tr>
            <td>
                {{ data.lastName }}
            </td>
            <td>
                {{ data.firstName }}
            </td>
            <td>
                {{ data.email }}
            </td>
            <td>
                {{ data.positionId }}
            </td>
            <td>
                {{ data.employeeId }}
            </td>
            <td>
                {{ data.organization }}
            </td>
            <td>
                {{ data.entity }}
            </td>
            <td>
                {{ data.regional }}
            </td>
            <td>
                {{ data.group }}
            </td>
            <td>
                {{ data.workplace }}
            </td>
            <td>
                {{ data.groupName }}
            </td>
            <td>
                {{ data.courseName }}
            </td>
            <td data-order="{{ data.registrationDate | date('U') }}">
                {{ data.registrationDate | date('d/m/Y') }}
            </td>
            <td>
                {% if  data.status == 'Finished'  %}
                    {{ 'learners.courses.status.finished' | trans }}
                {% elseif data.status == 'In Progress' %}
                    {{ 'learners.courses.status.in_progress' | trans }}
                {% elseif data.status == 'Created' %}
                    {{ 'learners.courses.status.created' | trans }}
                {% endif %}
            </td>
            <td>
                {{ data.numCompletedModules }}
            </td>
            <td>
                {{ data.numValidatedModules }}
            </td>
            <td>
                {{ data.numToFinishModules }}
            </td>
            <td>
                {{ data.progressing }}%
            </td>
            <td>
                {{ data.totalSpentTime }}
            </td>
            <td data-order="{{ data.startDateCourse | date('U') }}">
                {{ data.startDateCourse | date('d/m/Y') }}
            </td>
            <td data-order="{{ data.endDateCourse | date('U') }}">
                {{ data.endDateCourse | date('d/m/Y') }}
            </td>
            <td data-order="{{ data.lastLogin ? data.lastLogin | date('U') : '' }}">
                {{ data.lastLogin ? data.lastLogin | date('d/m/Y') : '' }}
            </td>
            <td>
                {{ data.numLogin }}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<script>
    var columnsExport = '{{ columnsExport is defined ? columnsExport : "" }}';
</script>