<table id="dataTableStatistic" class="table no-margin">
    <thead>
    <tr>
        <th class="bold"> {{ 'trainers.statistics.name' | trans }}</th>
        <th class="bold"> {{ 'trainers.statistics.fist_name' | trans }}</th>
        <th class="bold"> {{ 'trainers.statistics.email' | trans }}</th>
        <th class="bold"> {{ 'trainers.statistics.position_id' | trans }}</th>
        <th class="bold"> {{ 'trainers.statistics.employee_id' | trans }}</th>
        <th class="bold"> {{ 'trainers.statistics.organization' | trans }}</th>
        <th class="bold"> {{ 'trainers.statistics.entity' | trans }}</th>
        <th class="bold"> {{ 'trainers.statistics.regional_direction' | trans }}</th>
        <th class="bold"> {{ 'trainers.statistics.group' | trans }}</th>
        <th class="bold"> {{ 'trainers.statistics.workplace' | trans }}</th>
        <th class="bold"> {{ 'trainers.statistics.training_group' | trans }}</th>
        <th class="bold"> {{ 'trainers.statistics.course_name' | trans }}</th>
        <th class="bold"> {{ 'trainers.statistics.module_name' | trans }}</th>
        {#<th> {{ 'trainers.statistics.module_type' | trans }}</th>#}
        <th class="bold"> {{ 'trainers.statistics.status' | trans }}</th>
        {#<th> {{ 'trainers.statistics.trainer' | trans }}</th>#}
        <th class="bold"> {{ 'trainers.statistics.module_duration' | trans }}</th>
        <th class="bold"> {{ 'trainers.statistics.real_time_spent' | trans }}</th>
        <th class="bold"> {{ 'trainers.statistics.score' | trans }}</th>
        <th class="bold"> {{ 'trainers.statistics.score_to_pass' | trans }}</th>
        <th class="bold"> {{ 'trainers.statistics.result' | trans }}</th>
        {#<th> {{ 'trainers.statistics.rating_module' | trans }}</th>
        <th> {{ 'trainers.statistics.comment_module' | trans }}</th>#}
        <th class="bold"> {{ 'trainers.statistics.end_date' | trans }}</th>
    </tr>
    </thead>
    <tbody>
    {% for data in statisticData %}
        <tr>
            <td>
                {{ data.lastName }}
            </td>
            <td>
                {{ data.firstName }}
            </td>

            <td>
                {{ data.email }}
            </td>
            <td>
                {{ data.positionId }}
            </td>
            <td>
                {{ data.employeeId }}
            </td>
            <td>
                {{ data.organization }}
            </td>
            <td>
                {{ data.entity }}
            </td>
            <td>
                {{ data.regional }}
            </td>
            <td>
                {{ data.group }}
            </td>
            <td>
                {{ data.workplace }}
            </td>
            <td>
                {{ data.groupName }}
            </td>
            <td>
                {{ data.courseName }}
            </td>
            <td>
                {{ data.moduleName }}
            </td>
            {#<td>
                {{ data.moduleType }}
            </td>#}
            <td>
                {% if data.status == 'Done'  %}
                    {{ 'learners.courses.status.done' | trans }}
                {% elseif data.status == 'In Progress' %}
                    {{ 'learners.courses.status.in_progress' | trans }}
                {% elseif data.status == 'Created' %}
                    {{ 'learners.courses.status.created' | trans }}
                {% else %}
                    {{ data.status }}
                {% endif %}
            </td>
            {#<td>
                {{ data.trainer }}
            </td>#}
            <td>
                {{ data.duration }}
            </td>
            <td>
                {{ data.realTime }}
            </td>
            <td>
                {{ data.score }}
            </td>
            <td>
                {{ data.scoreToPass }}
            </td>
            <td>
                {{ data.result == 1 ? 'trainers.statistics.result_passed' | trans : 'trainers.statistics.result_failed' | trans }}
            </td>
            {#<td>
                {{ data.rating }}
            </td>
            <td>
                {{ data.comment }}
            </td>#}
            <td data-order="{% if data.completionDate and data.result %}{{ data.completionDate | date('U') }}{% endif %}">
                {{ (data.completionDate and data.result)?data.completionDate|date('d/m/Y'):null }}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<script>
    var columnsExport = '{{ columnsExport is defined ? columnsExport : "" }}';
</script>