<table id="dataTableStatistic" class="table no-margin">
    <thead>
    <tr>
        <th class="bold"> {{ 'trainers.statistics.name' | trans }}</th>
        <th class="bold"> {{ 'trainers.statistics.fist_name' | trans }}</th>
        <th class="bold"> {{ 'trainers.statistics.email' | trans }}</th>
        <th class="bold"> {{ 'trainers.statistics.position_id' | trans }}
        <th class="bold"> {{ 'trainers.statistics.employee_id' | trans }}</th>
        <th class="bold"> {{ 'trainers.statistics.organization' | trans }}</th>
        <th class="bold"> {{ 'trainers.statistics.entity' | trans }}</th>
        <th class="bold"> {{ 'trainers.statistics.regional_direction' | trans }}</th>
        <th class="bold"> {{ 'trainers.statistics.group' | trans }}</th>
        <th class="bold"> {{ 'trainers.statistics.workplace' | trans }}</th>
        <th class="bold"> {{ 'trainers.statistics.training_group' | trans }}</th>
        <th class="bold"> {{ 'trainers.statistics.course_name' | trans }}</th>
        <th class="bold"> {{ 'trainers.statistics.module_name' | trans }}</th>
        <th class="bold"> {{ 'trainers.statistics.module_type' | trans }}</th>
        <th class="bold"> {{ 'trainers.statistics.status' | trans }}</th>
        <th class="bold"> {{ 'trainers.statistics.trainer' | trans }}</th>
        <th class="bold"> {{ 'trainers.statistics.booking_date' | trans }}</th>
        <th class="bold"> {{ 'trainers.statistics.module_duration' | trans }}</th>
        <th class="bold"> {{ 'trainers.statistics.booking_session' | trans }}</th>
        <th class="bold"> {{ 'trainers.statistics.score_to_pass' | trans }}</th>
        <th class="bold"> {{ 'trainers.statistics.score' | trans }}</th>
        <th class="bold"> {{ 'trainers.statistics.result' | trans }}</th>
        <th class="bold"> {{ 'trainers.statistics.rating_session' | trans }}</th>
        <th class="bold"> {{ 'trainers.statistics.comment_session' | trans }}</th>
        <th class="bold"> {{ 'trainers.statistics.rating_trainer' | trans }}</th>
        <th class="bold"> {{ 'trainers.statistics.comment_trainer' | trans }}</th>
    </tr>
    </thead>
    <tbody>
    {% for data in statisticData %}
        <tr>
            <td>
                {{ data.lastName }}
            </td>

            <td>
                {{ data.firstName }}
            </td>

            <td>
                {{ data.email }}
            </td>

            <td>
                {{ data.positionId }}
            </td>

            <td>
                {{ data.employeeId }}
            </td>

            <td>
                {{ data.organization }}
            </td>
            <td>
                {{ data.entity }}
            </td>
            <td>
                {{ data.regional }}
            </td>
            <td>
                {{ data.group }}
            </td>
            <td>
                {{ data.workplace }}
            </td>
            <td>
                {{ data.groupName }}
            </td>
            <td>
                {{ data.courseName }}
            </td>
            <td>
                {{ data.moduleName }}
            </td>
            <td>
                {{ data.moduleType }}
            </td>
            <td>
                {{ data.status }}
            </td>
            <td>
                {{ data.trainer }}
            </td>
            <td data-order="{{ (data.bookedDate)?data.bookedDate|date('U'):'' }}">
                {{ (data.bookedDate)?data.bookedDate|date('d/m/Y'):null }}
            </td>
            <td>
                {{ data.duration }}
            </td>
            <td>
                {{ data.bookingSession }}
            </td>
            <td>
                {{ (data.scoreToPass != '') ? data.scoreToPass ~ '%' : ('trainers.statistics.n_a' | trans) }}
            </td>
            <td>
                {{ (data.score != '') ? data.score ~ '%' : ('trainers.statistics.n_a' | trans) }}
            </td>
            <td>
                {{ data.score>0 and data.scoreToPass>0 and data.score>data.scoreToPass ? 'trainers.statistics.result_passed' | trans : (data.scoreToPass==0 ? 'N/A' : 'trainers.statistics.result_failed' | trans) }}
            </td>
            <td>
                {{ data.rating == 'N/A' ? data.rating : data.rating ~ '/5' }}
            </td>
            <td>
                {{ data.comment|striptags }}
            </td>
            <td>
                {{ data.ratingTrainer == 'N/A' ? data.ratingTrainer : data.ratingTrainer ~ '/5' }}
            </td>
            <td>
                {{ data.commentTrainer|striptags }}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>