<table id="dataTableStatistic" class="table no-margin">
    <thead>
    <tr>
        <th class="bold"> {{ 'trainers.statistics.fist_name' | trans }}</th>
        <th class="bold"> {{ 'trainers.statistics.name' | trans }}</th>
        <th class="bold"> {{ 'trainers.statistics.email' | trans }}</th>
        <th class="bold"> {{ 'trainers.statistics.employee_id' | trans }}</th>
        <th class="bold"> {{ 'trainers.statistics.organization' | trans }}</th>
        <th class="bold"> {{ 'trainers.statistics.entity' | trans }}</th>
        <th class="bold"> {{ 'trainers.statistics.regional_direction' | trans }}</th>
        <th class="bold"> {{ 'trainers.statistics.group' | trans }}</th>
        <th class="bold"> {{ 'trainers.statistics.training_group' | trans }}</th>
        <th class="bold"> {{ 'trainers.statistics.course_name' | trans }}</th>
        <th class="bold"> {{ 'trainers.statistics.quiz_name' | trans }}</th>
        <th class="bold"> {{ 'trainers.statistics.score' | trans }}</th>
        <th class="bold"> {{ 'trainers.statistics.score_to_pass' | trans }}</th>
        <th class="bold"> {{ 'trainers.statistics.number_of_trial' | trans }}</th>
        <th class="bold"> {{ 'trainers.statistics.number_of_question' | trans }}</th>
        {% for header in 1..statisticData.maximumHeader %}
            <th> {{ 'trainers.statistics.question' | trans }}{{ ' ' ~ header }}</th>
            <th> {{ 'trainers.statistics.status_question' | trans }}{{ ' ' ~ header }}</th>
            <th> {{ 'trainers.statistics.score_question' | trans }}{{ ' ' ~ header }}</th>
        {% endfor %}
    </tr>
    </thead>
    <tbody>
    {% for data in statisticData.data %}
        <tr>
            <td>
                {{ data.firstName }}
            </td>

            <td>
                {{ data.lastName }}
            </td>

            <td>
                {{ data.email }}
            </td>

            <td>
                {{ data.employeeId }}
            </td>

            <td>
                {{ data.organization }}
            </td>
            <td>
                {{ data.entity }}
            </td>
            <td>
                {{ data.regional }}
            </td>
            <td>
                {{ data.group }}
            </td>
            <td>
                {{ data.groupName }}
            </td>
            <td>
                {{ data.courseName }}
            </td>
            <td>
                {{ data.quizName }}
            </td>

            <td>
                {{ data.score }}
            </td>
            <td>
                {{ data.scoreToPass }}
            </td>
            <td>
                {{ data.numTrial }}
            </td>
            <td>
                {{ data.numQuestion }}
            </td>
            {% if data.quizResults|length < statisticData.maximumHeader %}
                {% set remainElement = statisticData.maximumHeader - data.quizResults|length %}
                {% for dataQuiz in data.quizResults %}
                    <td>
                        {{ dataQuiz.question }}
                    </td>
                    <td>
                        {{ (dataQuiz.status == 0 ? 'trainers.statistics.status_failed' : (dataQuiz.status == 1 ? 'trainers.statistics.status_pass' : 'trainers.statistics.n_a')) | trans }}
                    </td>
                    <td>
                        {{ dataQuiz.percentScore }}
                    </td>
                {% endfor %}
                {% for header in 1..remainElement %}
                    <td>
                        {{ 'trainers.statistics.n_a' | trans }}
                    </td>
                    <td>
                        {{ 'trainers.statistics.n_a' | trans }}
                    </td>
                    <td>
                        {{ 'trainers.statistics.n_a' | trans }}
                    </td>
                {% endfor %}
            {% else %}
                {% for dataQuiz in data.quizResults %}
                    <td>
                        {{ dataQuiz.question }}
                    </td>
                    <td>
                        {{ (dataQuiz.status == 0 ? 'trainers.statistics.status_failed' : (dataQuiz.status == 1 ? 'trainers.statistics.status_pass' : 'trainers.statistics.n_a')) | trans }}
                    </td>
                    <td>
                        {{ dataQuiz.percentScore }}
                    </td>
                {% endfor %}
            {% endif %}
        </tr>
    {% endfor %}
    </tbody>
</table>