{% for tab in statisticHeaders %}
    <table id="dataTableStatistic" class="table no-margin">
        <thead>
        <tr>
            {% for header in tab %}
                <th class="bold">{{header}}</th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% for line in statisticData %}
            <tr>
                {% for header in tab %}
                    {% if line[(loop.index)-1] is defined %}
                        <td>{{line[(loop.index)-1]|raw}}</td>
                    {% else %}
                        <td></td>
                    {% endif %}
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endfor %}