<table id="dataTableStatistic" class="table no-margin">
    <thead>
    <tr>
        <th class="bold"> {{ 'trainers.statistics.fist_name' | trans }}</th>
        <th class="bold"> {{ 'trainers.statistics.name' | trans }}</th>
        <th class="bold"> {{ 'trainers.statistics.email' | trans }}</th>
        <th class="bold"> {{ 'trainers.statistics.employee_id' | trans }}</th>
        <th class="bold"> {{ 'trainers.statistics.organization' | trans }}</th>
        <th class="bold"> {{ 'trainers.statistics.entity' | trans }}</th>
        <th class="bold"> {{ 'trainers.statistics.regional_direction' | trans }}</th>
        <th class="bold"> {{ 'trainers.statistics.group' | trans }}</th>
        <th class="bold"> {{ 'trainers.statistics.training_group' | trans }}</th>
        <th class="bold"> {{ 'trainers.statistics.registration_date' | trans }}</th>
        <th class="bold"> {{ 'trainers.statistics.last_login' | trans }}</th>
        <th class="bold"> {{ 'trainers.statistics.status' | trans }}</th>
    </tr>
    </thead>
    <tbody>
    {% for data in statisticData %}
        <tr>

            <td>
                {{ data.firstName }}
            </td>

            <td>
                {{ data.lastName }}
            </td>

            <td>
                {{ data.email }}
            </td>

            <td>
                {{ data.employeeId }}
            </td>

            <td>
                {{ data.organization }}
            </td>
            <td>
                {{ data.entity }}
            </td>
            <td>
                {{ data.regional }}
            </td>
            <td>
                {{ data.group }}
            </td>
            <td>
                {{ data.groupName }}
            </td>
            <td>
                {{ data.registrationDate | date('d/m/Y') }}
            </td>
            <td>
                {{ data.lastLogin == null ? ('trainers.statistics.n_a' | trans) : (data.lastLogin | date('d/m/Y')) }}
            </td>
            <td>
                {{ (data.status == 1 ? 'trainers.statistics.status_active'  : 'trainers.statistics.status_inactive') | trans }}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>