<table id="dataTableStatistic" class="table no-margin">
    <thead>
    <tr>
        <th class="bold"> {{ 'trainers.statistics.skills' | trans }}</th>
        <th class="bold"> {{ 'trainers.statistics.total_trainers' | trans }}</th>
        <th class="bold"> {{ 'trainers.statistics.total_courses' | trans }}</th>
        <th class="bold"> {{ 'trainers.statistics.total_modules' | trans }}</th>
        <th class="bold"> {{ 'trainers.statistics.total_quizzes' | trans }}</th>
        <th class="bold"> {{ 'trainers.statistics.total_individual_remote_session' | trans }}</th>
        <th class="bold"> {{ 'trainers.statistics.total_classroom_training' | trans }}</th>
        <th class="bold"> {{ 'trainers.statistics.total_virtual_classroom' | trans }}</th>
        <th class="bold"> {{ 'trainers.statistics.total_exercises' | trans }}</th>
    </tr>
    </thead>
    <tbody>
    {% for data in statisticData %}
        <tr>
            <td>
                {{ data.skills }}
            </td>
            <td>
                {{ data.totalTrainers }}
            </td>
            <td>
                {{ data.totalCourses }}
            </td>
            <td>
                {{ data.totalModules }}
            </td>
            <td>
                {{ data.totalQuizzes }}
            </td>
            <td>
                {{ data.totalIndividualRemoteSession }}
            </td>
            <td>
                {{ data.totalClassroomTraining }}
            </td>
            <td>
                {{ data.totalVirtualClassroom }}
            </td>
            <td>
                {{ data.totalExercises }}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>