<div class="learnerTrainerList admin">
    <div class="row col-md-12 no-padding marg-t-20 " >
        <div class="col-md-4 no-padding">
        </div>
        <div class="col-md-4 no-padding-right pad-t-10" >
            <div  class="row btn-deepmark-light border-radis-30 height-40">
                <div class="col-md-3 text-center no-padding color-header font-size-10 flex--center ">{{ 'search.content'|trans }}</div>
                <div class="col-md-7 no-padding ">
                    <input type="text" id="bookSearch" class="border-0 height-100 no-padding no-margin color-header backgroud-deepmark-light">
                </div>
                <div class="col-md-2 flex--center">
                    <i class="fas color-header fa-search"></i>
                </div>

            </div>
        </div>
    </div>
    <table id="dataTableStatistic" class="table table-striped w-100 font-size-13">
        <thead class="table-header w-100">
        <tr>
            <th>{{ 'global.photo'|trans }}</th>
            <th>{{ 'global.employee_id'|trans }}</th>
            <th>{{ 'trainers.statistics.last_name'|trans }}</th>
            <th>{{ 'trainers.statistics.first_name'|trans }}</th>
            <th>{{ 'table.interventions.organization'|trans }}</th>
            <th>{{ 'table.entity'|trans }}</th>
            <th>{{ 'global.intervention_zone'|trans }}</th>
            <th>{{ 'global.trainer_status'|trans }}</th>
            <th>
                {{ 'table.trainers.trainer_grade'|trans }}
            </th>
            <th>{{ 'global.account_status'|trans }}</th>
            <th>
                {{ 'admin.skills.form.skills'|trans }}
            </th>
        </tr>
        </thead>

        <tbody>
        {% for row in statisticData %}
            <tr>
                <td>
                    <div class="img-container img-container--round">
                        <img style="height: 50px;  object-fit: cover;" src="{{ asset(row.trainer.avatar|default('img/default-avatar.png')) }}" alt="">
                    </div>
                </td>
                <td>
                    {{ row.trainer.employeeId }}
                </td>
                <td>
                    {{ row.trainer.lastname }}
                </td>
                <td>
                    {{ row.trainer.firstname }}
                </td>
                <td> {{ row.trainer.entity ? row.trainer.entity.organisation.designation : '' }}</td>
                <td> {{ row.trainer.entity ? row.trainer.entity.designation : '' }}</td>
                <td> {{ row.trainer.interventionPerimeter != null ? row.trainer.interventionPerimeter.designation : '' }} </td>
                <td class="text-capitalize"> {{ row.trainer.liveResourceOrigin != null ? row.trainer.liveResourceOrigin.designation : '' }} </td>

                <td>
                    {{ include('molecules/widgets/ratings.html.twig', { max: 5, grade: row.ranking }) }}
                </td>
                <td class="text-capitalize">
                    {% if row.trainer.person.enabled %}
                        {{ 'table.active'|trans }}
                    {% else %}
                        {{ 'table.inactive'|trans }}
                    {% endif %}
                </td>
                <td>
                    {{ row.skills }}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>