{% extends "base.html.twig" %}

{% block title %}{{ 'learners.exercices.title'|trans }}{% endblock %}
{% block pagename %}{{ 'learners.exercices.title'|trans }}{% endblock %}


{% block body %}
	<div class="card">
		<div class="card-header card-header-icon">
				<div class="card-icon active">
						<i class="fal fa-clipboard-list fa-2x"></i>
				</div>

				<h2>
						{{ 'learners.dashboard.nav.exercices'|trans }}
				</h2>
		</div>
		<div class="card-body">
			{{ include('molecules/tables/trainer-reports-table.html.twig', { interventions: interventions, modal: false }) }}
		</div>
	</div>
{% endblock %}
