{% extends 'base.html.twig' %}

{% block pagename %}{{ 'admin.admin.admin_title'|trans }}{% endblock %}

{% block body %}
    <div class="card">
        <div class="card-header--nav">
            {{ include('molecules/cards/nav/admin-admins-nav.html.twig') }}
        </div>

        <div class="card-body">
            <h2 class="text-center color-header">{{ 'admin.admin.admin_title'|trans }}</h2>
            <div class="table-responsive">
                <table id="adminsTable" class="table table-striped w-100">
                    <thead>
                    <th>{{ 'table.interventions.entity'|trans }}</th>
                    <th>{{ 'table.asked_by'|trans }}</th>
                    <th>{{ 'table.function'|trans }}</th>
                    <th>{{ 'table.email'|trans }}</th>
                    <th>{{ 'table.phones'|trans }}</th>
                    <th>{{ 'table.trainers.state'|trans }}</th>
                    <th>{{ 'table.ca'|trans }}</th>
                    <th class="text-center">{{ 'table.action'|trans }}</th>
                    <th class="text-center">
                        <div class="form-check">
                            <label class="form-check-label">
                                <input class="form-check-input check-all-input" type="checkbox" value="">
                                <span class="form-check-sign">
                                        <span class="check"></span>
                                    </span>
                            </label>
                        </div>
                    </th>
                    </thead>

                    <tbody>
                    {% for admin in admins %}
                        <tr data-toggle="modal" class="tr--withmodal" data-id="{{loop.index}}">
                            <td>
                                {% if admin.entity is defined %}
                                    {{ admin.entity.organisation.designation }} - {{ admin.entity.designation }}
                                {% endif %}
                            </td>

                            <td>{{ admin.displayName }}</td>

                            <td>
                                {{ admin.position }}
                            </td>

                            <td>{{ admin.otherEmail }}</td>

                            <td>
                                {{ admin.fixedPhone }}<br>
                                {{ admin.mobilePhone }}
                            </td>

                            <td>
                                {% if admin.person.enabled %}
                                    {{ 'table.active'|trans }}
                                {% else %}
                                    {{ 'table.inactive'|trans }}
                                {% endif %}
                            </td>

                            <td>
                                <p>0</p>
                                {{ include('molecules/widgets/billed-progress.html.twig', { max: 1, current: 0 }) }}
                            </td>

                            <td class="text-center">
                                <a class="no-collapsable" href="{{ path('admin_admins_show', { 'id': admin.id }) }}"><i class="fal fa-eye"></i></a>
                                <a class="no-collapsable" href="{{ path('admin_admins_edit', { 'id': admin.id }) }}"><i class="fal fa-pen"></i></a>
                                <a data-id="{{ admin.id  }}" class="btnDelete no-collapsable"><i class="fas fa-ban"></i></a>
                            </td>

                            <td class="text-center">
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" value="">
                                        <span class="form-check-sign">
                                                <span class="check"></span>
                                            </span>
                                    </label>
                                </div>
                            </td>
                        </tr>

                        <tr></tr>

                        <tr class="tr-modal tr-modal--admin tr-modal-{{loop.index}}">
                            <td colspan="10">
                                <div class="td-modal">
                                    {{ include('molecules/modal/admin-list-modal.html.twig') }}
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="navigation">
                {{ knp_pagination_render(admins) }}
            </div>

            <div class="send-msg-wrapper">
                <div class="text-right">
                    <a href="#" class="btn btn-sm btn-deepmark-navy send-msg-btn">{{ 'buttons.sendmsg'|trans }}</a>
                </div>

                <div class="send-msg-area">
                    <div class="row">
                        <div class="col-md-6 offset-md-6">
                            <form class="form">
                                <div class="form-group">
                                    <label for="msg">{{ 'global.message'|trans }}</label>
                                    <textarea class="form-control" id="msg" rows="5"></textarea>
                                </div>

                                <button type="submit" class="btn btn-sm btn-deepmark-navy">{{ 'buttons.send'|trans }}</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{ include('molecules/modal/delete-user.html.twig', { url: '', isDelete: 0  }) }}
    <script>
        $(function () {
            CKEDITOR.replace('msg');
        })
        $('.no-collapsable').on('click', function (e) {
            e.stopPropagation();
        });
        $(document).ready(function () {
            $('.btnDelete').on('click', function () {
                var id = $(this).attr('data-id');
                $('#formDelete').attr('action', '/admin/admins/'+id+'/delete');
                $('#deleteModal').modal('show');
            });
            /*let table = $('#managerTable').DataTable({
                    "scrollX": true,
                    "scrollY": false
                }
            );*/
        });
    </script>
{% endblock %}
