{% extends 'base.html.twig' %}

{% block pagename %}{{ 'admin.admin.create_admin'|trans }}{% endblock %}

{% block body %}
    {% set defaultPassword = constant('\\ApiBundle\\Entity\\Profile::DEFAULT_PASSWORD') %}
    <div class="card">
        <div class="card-header--nav">
            {{ include('molecules/cards/nav/admin-admins-nav.html.twig') }}
        </div>
        {{ form_start(form) }}
        <div class="card-body">
            <h2 class="marg-b-30">{{ 'admin.admin.create_admin'|trans }}</h2>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group row">
                        <div class="col-4 t-right">
                            <label class="required">{{ 'global.firstname'|trans }}</label>
                        </div>
                        <div class="col-8">
                            {{ form_widget(form.firstName) }}
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-4 t-right">
                            <label class="required">{{ 'global.lastname'|trans }}</label>
                        </div>
                        <div class="col-8">
                            {{ form_widget(form.lastName) }}
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-4 t-right">
                            <label class="required">{{ 'global.entity'|trans }}</label>
                        </div>
                        <div class="col-8">
                            {{ form_widget(form.entity) }}
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-4 t-right">
                            <label class="required">{{ 'global.time_zone'|trans }}</label>
                        </div>
                        <div class="col-8">
                            {{ form_widget(form.person.timezone, {'attr': {'class': 'select2'}}) }}
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-4 t-right">
                            <label>{{ 'global.mobile'|trans }}</label>
                        </div>
                        <div class="col-8">
                            {{ form_widget(form.mobilePhone) }}
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-4 t-right">
                            <label>{{ 'table.function'|trans }}</label>
                        </div>
                        <div class="col-8">
                            {{ form_widget(form.position) }}
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-4 t-right">
                            <label>{{ 'global.phone'|trans }}</label>
                        </div>
                        <div class="col-8">
                            {{ form_widget(form.fixedPhone) }}
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-4 t-right">
                            <label class="required">{{ 'global.email'|trans }}</label>
                        </div>
                        <div class="col-8">
                            {{ form_widget(form.person.email) }}
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-4 t-right">
                            <label class="required">{{ 'admin.profile.password'|trans }}</label>
                        </div>
                        <div class="col-8">
                            {{ form_widget(form.person.plainPassword.first, {'attr': {'value': defaultPassword}}) }}
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-4 t-right">
                            <label class="required">{{ 'admin.profile.rp_password'|trans }}</label>
                        </div>
                        <div class="col-8">
                            {{ form_widget(form.person.plainPassword.second, {'attr': {'value': defaultPassword}}) }}
                        </div>
                    </div>
                </div>
            </div>

            <div class="text-right">
                <a href="{{ path('admin_admins_new') }}" class="btn btn-deepmark-lightgray">{{ 'buttons.cancel'|trans }}</a>
                <button type="submit" class="btn btn-orangelight">{{ 'buttons.create'|trans }}</button>
            </div>
        </div>
        {{ form_end(form) }}
    </div>
    <script>
        $('#profile_client_person_timezone').select2({
                minimumResultsForSearch: 1
            }
        );
    </script>
{% endblock %}
