<ul class="calendar-legend">
    {% if user == 'trainer' %}
        <li>
            <span class="btn-deepmark"></span>
            <label class="font-size-12" >{{ 'calendar.legend.trainer.green' | trans }}</label>
        </li>
        <li>
            <span class="c-bg-green"></span>
            <label class="font-size-12" >{{ 'calendar.legend.learner.green' | trans }}</label>
        </li>
        <li>
            <span class="c-bg-orangelight"></span>
            <label class="font-size-12" >{{ 'calendar.legend.learner.orange' | trans }}</label>
        </li>
        <li>
            <span class="c-bg-red"></span>
            <label class="font-size-12" >{{ 'calendar.legend.learner.red' | trans }}</label>
        </li>
        <li>
            <span class="c-bg-gray"></span>
            <label class="font-size-12" >{{ 'calendar.legend.learner.gray' | trans }}</label>
        </li>
    {% elseif user == 'learner' %}
        <li>
            <span class="c-bg-green"></span>
            <label class="font-size-12" >{{ 'calendar.legend.learner.green' | trans }}</label>
        </li>
        <li>
            <span class="c-bg-orangelight"></span>
            <label class="font-size-12" >{{ 'calendar.legend.learner.orange' | trans }}</label>
        </li>
        <li>
            <span class="c-bg-red"></span>
            <label class="font-size-12" >{{ 'calendar.legend.learner.red' | trans }}</label>
        </li>
        <li>
            <span class="c-bg-gray"></span>
            <label class="font-size-12" >{{ 'calendar.legend.learner.gray' | trans }}</label>
        </li>
    {% elseif user == 'learner_booking' %}
        <li>
            <span class="c-bg-green"></span>
            <label class="font-size-12" >{{ 'global.many_availabilities' | trans }}</label>
        </li>
        <li>
            <span class="c-bg-orangelight"></span>
            <label class="font-size-12" >{{ 'global.limited_availability' | trans }}</label>
        </li>
        <li>
            <span class="c-bg-red"></span>
            <label class="font-size-12" >{{ 'global.full_booked' | trans }}</label>
        </li>
        <li>
            <span class="c-bg-gray"></span>
            <label class="font-size-12" >{{ 'global.expired' | trans }}</label>
        </li>
    {% endif %}
    {% if user != 'learner_booking' %}
        <li class="pull-right">
            <span class="c-bg-am"></span>
            <label class="font-size-12" >{{ 'global.morning' | trans }}</label>
        </li>
        <li class="pull-right">
            <span class="c-bg-pm"></span>
            <label class="font-size-12" >{{ 'global.afternoon' | trans }}</label>
        </li>
    {% endif %}
</ul>
