{% extends 'base.html.twig' %}

{% block pagename %}{{ isEdit is defined ? 'admin.profile.edit_learner'|trans : 'admin.profile.create_learner'|trans }}{% endblock %}

{% block body %}
    <style>
        .select2-container-multi .select2-choices {
            border-bottom: 1px solid #ddd!important;
        }
        .select2 {
            border-bottom: 1px solid #ddd;
            padding: 0px;
            margin-top: -2px;
        }
        .icon-box__icon-wrapper {
            width: 150px;
            height: 150px;
            border-radius: 50%;
            margin: auto!important;
            background-color: #0076fe;
        }
    </style>
    {% set lunchStartTime = constant('\\ApiBundle\\Entity\\Profile::LUNCH_START_TIME') %}
    {% set lunchEndTime = constant('\\ApiBundle\\Entity\\Profile::LUNCH_END_TIME') %}
    {% if isEdit is not defined %}
        {% set defaultPassword = constant('\\ApiBundle\\Entity\\Profile::DEFAULT_PASSWORD') %}
    {% endif %}

    <div class="row">
        <div class="col-md-12  no-padding">
            <ul class="nav nav-pills no-padding marg-t-15 justify-content-center" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active bold" data-toggle="tab" href="#profile" id="btnProfile" role="tablist">
                        {{ 'admin.profile.title'|trans }}
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link bold" data-toggle="tab" href="#organization"  id="btnOrganization" role="tablist">
                        {{ 'admin.profile.org'|trans }}
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link bold" data-toggle="tab" href="#account"  id="btnAccount" role="tablist">
                        {{ 'account.title'|trans }}
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link bold" data-toggle="tab" href="#workingHour"  id="btnWorkingHour" role="tablist">
                        {{ 'trainers.planning.nav.working_hours'|trans }}
                    </a>
                </li>
            </ul>
        </div>

        <div class="col-md-12 no-padding">
            {# {% if isEdit is defined %} #}
            <form  enctype="multipart/form-data" id="form" action="{{ isEdit is defined ? path('admin_learners_save_edit', {id:profile.id}) : path('admin_learners_save') }}" method="post">
            <div class="tab-content tab-space no-padding">
                <div class="tab-pane active " id="profile">
                    <div class="row">
                        <div class="col-md-3 pad-t-30 text-center" >
                            {% if profile.avatar is defined and profile.avatar is not null %}
                                <div class="image-holder" id="trainer-avatar"  >
                                    <img class="border-radius-50" width="150" height="150" src="{{ profile.avatar }}" alt="">
                                </div>
                            {% else %}
                                <div id="trainer-avatar">
                                    {{ include('molecules/tools/new-icon-box.html.twig', { icon: 'user', txt: '' }) }}
                                </div>
                            {% endif %}

                            <div class="form-group no-padding no-margin">
                                <label for="avatarFileTrainer" class="pointer btn btn-avatar pad-5" >
                                    <i class=" text-white font-size-12 fa fa-camera no-margin"></i>
                                    <p class="no-margin no-padding text-white font-size-12" >{{ 'global.change'|trans }}</p>
                                </label>

                                <input id="avatarFileTrainer"
                                       type="file"
                                       name="avatarFile"
                                       data-type="avatar"
                                       data-profile-id="{{ profile.id|default('') }}"
                                       class="inputUploadPublicFile"
                                       multiple/>

                            </div>
                            <div class=" pad-t-5  text-center">
                                {% if profile.avatar is defined and profile.avatar is not null %}
                                    <a  data-toggle="modal" href="#deleteFile" class="deleteProfileFile text-gray">{{ 'global.delete_photo'|trans }}</a>
                                {% endif %}
                            </div>
                        </div>

                        <div class="col-md-9 card card-body marg-t-15">
                            
                                <div class="row">
                                    <div class="col-md-6">
                                        <label class="col-form-label required bmd-label-static">{{ 'global.firstname'|trans }}</label>
                                        <div class="form-group  has-success bmd-form-group">
                                            <input required type="text" class="form-control" name="firstName" value="{{ profile.firstName | default('') }}">
                                            <span class="form-control-feedback">
                                                <i class="fa fa-pencil color-header"></i>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <label class="col-form-label required bmd-label-static">{{ 'global.lastname'|trans }}</label>
                                        <div class="form-group  has-success bmd-form-group">
                                            <input required type="text" class="form-control" name="lastName" value="{{ profile.lastName | default('') }}">
                                            <span class="form-control-feedback">
                                                <i class="fa fa-pencil color-header"></i>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <label class="col-form-label required bmd-label-static">{{ 'global.phone'|trans }}</label>
                                        <div class="form-group  has-success bmd-form-group">
                                            <input required type="text" class="form-control" name="fixedPhone" value="{{ profile.fixedPhone | default('') }}">
                                            <span class="form-control-feedback">
                                                <i class="fa fa-pencil color-header"></i>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <label class="col-form-label bmd-label-static">{{ 'global.mobile'|trans }}</label>
                                        <div class="form-group  has-success bmd-form-group">
                                            <input type="text" class="form-control" name="mobilePhone" value="{{ profile.mobilePhone | default('') }}">
                                            <span class="form-control-feedback">
                                                <i class="fa fa-pencil color-header"></i>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label class="col-form-label required bmd-label-static">{{ 'global.email'|trans }}</label>
                                        <input autocomplete="off" required name="email_temp" type="text" class="form-control" value="{{ person.email | default('') }}">
                                    </div>
                                    <div class="col-md-6"></div>
                                    <div class="col-md-6">
                                        <label class="col-form-label bmd-label-static">{{ 'global.designation'|trans }}</label>
                                        <div class="form-group  has-success bmd-form-group">
                                            <input type="text" class="form-control" name="position" value="{{ profile.position | default('') }}">
                                            <span class="form-control-feedback">
                                                <i class="fa fa-pencil color-header"></i>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <label class="col-form-label bmd-label-static">{{ 'global.employee_id'|trans }}</label>
                                        <div class="form-group  has-success bmd-form-group">
                                            <input type="text" name="employee_id" class="form-control" value="{{ profile.employeeId | default('') }}">
                                            <span class="form-control-feedback">
                                                <i class="fa fa-pencil color-header"></i>
                                            </span>
                                        </div>
                                    </div>
                                    <div class=" col-md-6">
                                        <label class="col-form-label bmd-label-static">{{ 'global.email_manager'|trans }}</label>
                                        <div class="form-group  has-success bmd-form-group">
                                            <input type="text" class="form-control" name="manager_email" value="{{ profile.managerEmail | default('') }}">
                                            <span class="form-control-feedback">
                                                <i class="fa fa-pencil color-header"></i>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <label class="col-form-label bmd-label-static">{{ 'global.other_email'|trans }}</label>
                                        <div class="form-group  has-success bmd-form-group">
                                            <input type="text" class="form-control" name="otherEmail" value="{{ profile.otherEmail | default('') }}">
                                            <span class="form-control-feedback">
                                                <i class="fa fa-pencil color-header"></i>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <input type="hidden" class="form-check-input" name="id" value="{{ person.id | default('') }}">
                                        <button type="submit" class="btn btn-block btn-deepmark float-right">{{ 'buttons.update'|trans }}</button>
                                    </div>
                                </div>
                            
                        </div>
                    </div>
                </div>
                <div class="tab-pane col-md-12 no-padding marg-t-15" id="organization">

                    <div class="row">
                        <div class="col-md-6 profile no-padding-left pad-r-10">
                            <div class="pad-t-10 card no-margin min-height-350">
                                <h3 class="no-margin text-center color-header">{{ 'global.organisation'|trans }}</h3>
                                <div class="row pad-t-20 pad-b-20">
                                    <div class="form-group col-md-6">
                                        <label class="col-form-label required bmd-label-static">{{ 'global.organisation'|trans }}</label>
                                        <input disabled type="text" class="form-control" value="{{ isEdit is defined ? profile.entity.organisation.designation : currentProfile.entity.organisation.designation }}">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label class="col-form-label required bmd-label-static">{{ 'global.entity'|trans }}</label>
                                        <select name="entity" id="entity" class="form-control select2">
                                            {% if entities %}
                                                {% for entity in entities %}
                                                    <option {% if profile is defined and profile.entity is not null  %} {{ profile.entity.id == entity.id ? 'selected' : '' }}  {% endif %} value="{{ entity.id }}">{{ entity.designation }}</option>
                                                {% endfor %}
                                            {% endif %}
                                        </select>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label class="col-form-label bmd-label-static">{{ 'global.region'|trans }}</label>
                                        <select name="regional" id="regional" class="form-control select2">
                                            {% if regionals %}
                                                {% for regional in regionals %}
                                                    <option value="{{ regional.id }}">{{ regional.designation }}</option>
                                                {% endfor %}
                                            {% endif %}
                                        </select>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label class="col-form-label bmd-label-static">{{ 'global.group'|trans }}</label>
                                        <select name="group" id="group" class="select2 form-control">
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 profile no-padding-right pad-l-10">
                            <div class="card pad-t-10 no-margin  min-height-350">
                                <h3 class="no-margin text-center color-header">{{ 'global.workplace'|trans }}</h3>
                                <div class="row pad-t-20 pad-b-20">
                                    <div class="form-group col-md-6">
                                        <label class="col-form-label required bmd-label-static">{{ 'select.denomination'|trans }}</label>
                                        <select name="workplace" id="workplace" class="select2 form-control">
                                        </select>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label class="col-form-label required bmd-label-static">{{ 'select.address'|trans }}</label>
                                        <input type="text" disabled class="form-control"  id="street" value="{{ isEdit is defined ? profile.entity.street : currentProfile.entity.street }}">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label class="col-form-label required bmd-label-static">{{ 'select.additional_address'|trans }}</label>
                                        <input type="text" disabled class="form-control" id="expansionStreet" value="{{ isEdit is defined ? profile.entity.expansionStreet : currentProfile.entity.expansionStreet }}">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label class="col-form-label required bmd-label-static">{{ 'select.postal_code'|trans }}</label>
                                        <input type="text" disabled class="form-control" id="postalCode" value="{{ isEdit is defined ? profile.entity.postalCode : currentProfile.entity.postalCode }}">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label class="col-form-label required bmd-label-static">{{ 'select.city'|trans }}</label>
                                        <input type="text" disabled class="form-control" id="city" value="{{ isEdit is defined ? profile.entity.city : currentProfile.entity.city }}">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label class="col-form-label required bmd-label-static">{{ 'select.country'|trans }}</label>
                                        <input type="text" disabled class="form-control" id="country" value="{{ isEdit is defined ? profile.entity.country : currentProfile.entity.country }}">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane card card-body marg-t-15" id="account">

                    <div class="row">
                        <div class="form-group col-md-6">
                            <label class="col-form-label required bmd-label-static">{{ 'global.email'|trans }}</label>
                            <input type="text" class="form-control" name="email" value="{{ person.email | default('') }}">
                        </div>
                        <div class="form-group col-md-6">
                            <label class="col-form-label required bmd-label-static">{{ 'admin.profile.password'|trans }}</label>
                            <div class="row">
                                <div class="col-10 no-padding">
                                    <input autocomplete="off" name="password" type="password" class="form-control" value="{{ isEdit is defined ? '' : defaultPassword }}" readonly onfocus="this.removeAttribute('readonly');">
                                </div>
                                <div class="col-2">
                                    <a href="#editPass" data-toggle="modal" class="fa fa-pencil color-header"></a>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-md-6 bmd-form-group is-filled">
                            <label class="col-form-label bmd-label-static">{{ 'global.status_account'|trans }}</label>
                            <select id="status" name="status" class="form-control select2" >
                                <option {{ person is defined and person.enabled == 1 ? 'selected' : '' }} value="1">Active</option>
                                <option {{ person is defined and (person.enabled == 0 or person.enabled == null)  ? 'selected' : '' }} value="0">Inactive</option>
                            </select>
                        </div>
                        {% if isEdit is defined %}
                        <div class="form-group col-md-6">
                            <label class="col-form-label bmd-label-static">{{ 'global.create_at'|trans }}</label>
                            <input disabled type="text" class="form-control" value="{{ profile.creationDate | date('d/m/Y')  | default('') }}">
                        </div>
                        <div class="form-group col-md-6">
                            <label class="col-form-label bmd-label-static">{{ 'global.last_login'|trans }}</label>
                            <input disabled type="text" class="form-control" value="{{ 'now'|date('d/m/Y h:m') }}">
                        </div>
                        {% endif %}
                        <div class="form-group col-md-6 bmd-form-group is-filled">
                            <label class="col-form-label bmd-label-static">Time zone</label>
                            <select id="time_zone_id" name="time_zone_id" class="form-control select2" >
                                {% if timeZones %}
                                    {% for timeZone in timeZones %}
                                        <option {{ (person.timeZone.id is defined and person.timeZone.id == timeZone.id) ? 'selected' : '' }}  value="{{ timeZone.id }}">{{ timeZone.timeZone }}</option>
                                    {% endfor %}
                                {% endif %}
                            </select>
                        </div>

                    </div>
                </div>
                <div class="tab-pane card card-body no-padding marg-t-15" id="workingHour">
                    {% if isEdit is defined %}
                        {% set org = isEdit is defined and profile.workingHours ? profile : profile.entity  %}
                    {% else %}
                        {% set org = currentProfile.entity %}
                    {% endif %}
                    {% set isNewWorkingHours = profile is defined and profile.workingHours ? 1 : 0 %}
                    {% set defaultWorkingHours = profile is defined ? profile.entity.workingHours : api.profile.entity.workingHours %}
                    {{ include('molecules/modal/recurring-availability.html.twig', { modal: '0',  organisation: org, isNew: isNewWorkingHours, entityWorkingHours: defaultWorkingHours }) }}
                </div>
            </div>
            </form>
        </div>

    </div>
    <script>
        function repeatTime() {
            let startTime = $('#startTime-Monday').val();
            let endTime = $('#endTime-Monday').val();

            let startTimeAfternoon = $('#startTimeAfternoon-Monday').val();
            let endTimeAfternoon = $('#endTimeAfternoon-Monday').val();
            $('[id^="startTime-"]').each(function () {
                $(this).val(startTime);
            });

            $('[id^="endTime-"]').each(function () {
                $(this).val(endTime);
            });

            $('[id^="startTimeAfternoon-"]').each(function () {
                $(this).val(startTimeAfternoon);
            });

            $('[id^="endTimeAfternoon-"]').each(function () {
                $(this).val(endTimeAfternoon);
            })
        }

        $(document).ready(function(){
            $('#repeatTime').on('click', function (event) {
                event.preventDefault();
                repeatTime();
            });

            $('[data-toggle="tooltip"]').tooltip();
            // Make two field the same value
            let $email      = $('[name="email"]');
            let $email_temp = $('[name="email_temp"]');
            $email_temp.keyup(function(){
                $email.val($email_temp.val());
            });
            $email.keyup(function(){
                $email_temp.val($email.val());
            });
        });
    </script>
    <script>
        $(".toggle-password").click(function() {

            $(this).toggleClass("fa-eye fa-eye-slash");
            var input = $($(this).attr("toggle"));
            if (input.attr("type") == "password") {
                input.attr("type", "text");
            } else {
                input.attr("type", "password");
            }
        });
        $('#repeatPassword, #password').on('keyup', function () {
            if (($('#password').val() == '' && $('#repeatPassword').val() == '')){
                $('#messageRepeatPassword').html();
                return false;
            }
            if (($('#password').val() == $('#repeatPassword').val())) {
                $('#messageRepeatPassword').html('Matching').css('color', 'green');
            } else {
                $('#messageRepeatPassword').html('Not Matching').css('color', 'red');
            }
        });
        $('#time_zone_id').select2({
                minimumResultsForSearch: 1
            }
        );
        $('#entity').select2({
                minimumResultsForSearch: 1
            }
        );
        $('#regional').select2({
                minimumResultsForSearch: 1
            }
        );
        $('#group').select2({
                minimumResultsForSearch: -1
            }
        );

        $('#workplace').select2({
                minimumResultsForSearch: -1
            }
        );
        $('#status').select2({
                minimumResultsForSearch: -1
            }
        );

        $(function () {
            $('.timepicker').datetimepicker({
                format: 'HH:mm',
                icons: {
                    up: 'fa fa-chevron-up',
                    down: 'fa fa-chevron-down'
                }
            });
        });
    </script>
    <script>
        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#logoPreview').attr('src', e.target.result);
                };

                reader.readAsDataURL(input.files[0]);
            }
        }
        $(document).ready(function () {
            $(".deleteProfileFile").click(function () {
                var fileProfileType = $(this).attr("data-file-type");
                $('#deleteFile').modal('show');
            });

            $('#avatarFileTrainer').on('change', function () {
                $("#trainer-avatar").empty().append('<img id="logoPreview" style="border-radius: 10px;" width="100" height="100" src="" alt="">')
                readURL(this);
            });

            $('#btnDelete').on('click', function () {
                $('#deleteModal').modal('show');
            });

            $("#entity").change(function() {
                let entity_id = $(this).val();
                $.ajax({
                    type: "POST",
                    url: '{{ path('admin_learners_entity') }}',
                    data: {"entity_id": entity_id},
                    success: function (data) {
                        $("#street").val(data.street);
                        $("#expansionStreet").val(data.expansionStreet);
                        $("#postalCode").val(data.postalCode);
                        $("#city").val(data.city);
                        $("#country").val(data.country);

                    }
                });
                let regional_id = {{ profile is defined and profile.regional != null ? profile.regional.id  : 0  }};
                if(regional_id != '') {
                    $("#regional").empty();
                    $("#group").empty();
                    $("#workplace").empty();

                    $.ajax({
                        type: "POST",
                        url: '/admin/learners/regional',
                        data: {"entity_id": entity_id},
                        success: function (data) {
                            $.each(data, function (i, data) {
                                let selected = data.id == regional_id ? 'selected' : '';
                                $("#regional").append("<option "+ selected +" value="+data.id +" > "+ data.designation +" </option>");
                            });
                            if (data.length == 0){
                                $("#regional").append("<option></option>");
                            }
                            $("#regional").trigger('change');
                        }
                    });
                } else {
                    $("#regional").append("<option></option>");
                    $("#regional").trigger('change');
                }
            });
            $("#entity").trigger('change');

            $("#regional").change(function() {
                let regional_id = $(this).val();
                let group_id = {{ profile is defined and profile.groupOrganization != null ? profile.groupOrganization.id  : 0  }};
                if(regional_id != '') {

                    $("#group").empty();
                    $("#workplace").empty();
                    $.ajax({
                        type: "POST",
                        url: '/admin/learners/group',
                        data: {"regional_id": regional_id},
                        success: function (data) {
                            $.each(data, function (i, data) {
                                let selected = data.id == group_id ? 'selected' : '';
                                $("#group").append("<option " + selected +" value= "+data.id +" > "+ data.designation +" </option>");
                            });
                            if (data.length == 0){
                                $("#group").append("<option></option>");
                            }
                            $("#group").trigger('change');
                        }
                    });
                } else {
                    $("#group").append("<option></option>");
                    $("#group").trigger('change');
                }
            });
            $("#regional").trigger('change');

            $("#group").change(function() {
                let group_id = $(this).val();
                let workplace_id = {{ profile is defined and profile.workplace != null ? profile.workplace.id  : 0  }};
                if(group_id != '') {
                    $("#workplace").empty().trigger("change");
                    $.ajax({
                        type: "POST",
                        url: '/admin/learners/workplace',
                        data: {"group_id": group_id},
                        success: function (data) {
                            $.each(data, function (i, data) {
                                let selected = data.id == workplace_id ? 'selected' : '';
                                $("#workplace").append("<option " + selected +" value= "+data.id +" > "+ data.designation +" </option>");
                            });
                            if (data.length == 0){
                                $("#workplace").append("<option></option>");
                            }
                            $("#workplace").trigger('change');
                        }
                    });
                } else {
                    $("#workplace").append("<option></option>");
                    $("#workplace").trigger('change');
                }
            });
            $("#group").trigger('change');
        });
    </script>
{% endblock %}