{% extends 'base.html.twig' %}

{% block pagename %}{{ 'admin.learners.title'|trans }}{% endblock %}

{% block body %}
    <div class="row justify-content-center  marg-t-20 marg-b-20"><span class="icon-user_gray"></span>
        {{ include('molecules/cards/nav/admin-learners-nav.html.twig') }}
    </div>
    <div class="card no-margin">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4 marg-t-10">
                <h3 class="bold text-center color-header">{{ 'admin.learners.title'|trans }}</h3>
            </div>
            <div class="col-md-2 marg-t-20 text-center no-padding-left">
                <button id="resetBtn" class="btn btn-block btn-border-yelow btn-padding">{{ 'global.reset'|trans }}</button>
            </div>
            <div class="col-md-2 marg-t-20 no-padding-left ">
                <button id="searchBtn" class="btn btn-block btn-deepmark-orangelight btn-padding">{{ 'buttons.select'|trans }}</button>
            </div>
        </div>

        <div class="card-body no-padding">
            <div class="row custom marg-t-20 pl-3 pr-3 pb-1 stat-filter">
                <div class="col-md-3 no-padding filter course-filter global-filter organizationId f-search f-1 marg-t-10">
                    <div class="form-group select-border datepicker-group">
                        {% set organizations = searchParam.organization %}
                        <div class="col-md-12 no-padding  btn-deepmark">
                            <label class="text-white" for="organizationId">{{ 'trainers.statistics.organization'|trans }}</label>
                        </div>
                        <div class="input-group btn-deepmark-light">
                            <select id="organizationId" class="form-control selectpicker organizationId"  data-container="body"  data-style="btn btn-link">
                                {% for organization in organizations %}
                                    <option value="{{ organization.id }}">{{ organization.designation }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 no-padding filter course-filter global-filter entityId f-search f-2 marg-t-10">
                    <div class="form-group select-border datepicker-group">
                        <div class="col-md-12 no-padding btn-deepmark">
                            <label class="text-white" for="entityId">{{ 'trainers.statistics.entity'|trans }}</label>
                        </div>
                        <div class="input-group btn-deepmark-light">
                            <select id="entityId" class="form-control selectpicker" data-container="body" data-style="btn btn-link">

                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 no-padding filter regionalId f-search  f-2 marg-t-10">
                    <div class="form-group select-border datepicker-group">
                        <div class="col-md-12 no-padding  btn-deepmark">
                            <label class="text-white" for="regionalId">{{ 'trainers.statistics.regional_direction'|trans }}</label>
                        </div>
                        <div class="input-group btn-deepmark-light">
                            <select id="regionalId" class="form-control  selectpicker"  data-container="body" data-style="btn btn-link">
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 no-padding filter f-search  f-1 marg-t-10">
                    <div class="form-group select-border datepicker-group">
                        <div class="col-md-12 no-padding  btn-deepmark">
                            <label class="text-white" for="sectorId">{{ 'trainers.statistics.group'|trans }}</label>
                        </div>
                        <div class="input-group btn-deepmark-light">
                            <select id="sectorId" class="form-control  selectpicker"  data-container="body" data-style="btn btn-link">

                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 no-padding filter f-search f-1 marg-t-10">
                    <div class="form-group select-border datepicker-group">
                        <div class="col-md-12 no-padding btn-deepmark">
                            <label class="text-white" for="workplaceId">{{ 'trainers.statistics.workplace'|trans }}</label>
                        </div>
                        <div class="input-group btn-deepmark-light">
                            <select id="workplaceId" class="form-control  selectpicker" data-container="body" data-style="btn btn-link">

                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 no-padding filter f-search f-1 marg-t-10">
                    <div class="form-group select-border datepicker-group">
                        <div class="col-md-12 no-padding  btn-deepmark">
                            <label class="text-white" for="groupId">{{ 'global.trainning_group'|trans }}</label>
                        </div>
                        <div class="input-group btn-deepmark-light">
                            <select id="groupId" class="form-control  selectpicker" data-container="body" data-style="btn btn-link">

                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 no-padding filter f-search f-1 marg-t-10">
                    <div class="form-group select-border datepicker-group">
                        <div class="col-md-12 no-padding  btn-deepmark">
                            <label class="text-white" for="statusId">{{ 'trainers.statistics.status'|trans }}</label>
                        </div>
                        <div class="input-group btn-deepmark-light">
                            <select id="statusId" class="form-control selectpicker" data-container="body" data-style="btn btn-link">
                                <option value="-1">{{ 'trainers.statistics.export.all'|trans }}</option>
                                <option value="1">{{ 'table.active'|trans|capitalize }}</option>
                                <option value="0">{{ 'table.inactive'|trans|capitalize }}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 height-120 no-padding period-filter f-search marg-t-10">
                    <div class="form-group datepicker-group btn-deepmark-light">
                        <div class="col-md-12 no-padding  btn-deepmark">
                            <label class="text-white" for="creationDate">{{ 'table.creation_date'|trans|capitalize }}</label>
                        </div>
                        <div class="input-group pad-t-10 btn-deepmark-light">
                            <input id="creationDate" type="text" class="form-control marg-l-10 datepicker" name="creation_date" value="">
                            <div class="input-group-append">
                                <span class="input-group-text"><i class="fal fa-calendar-alt"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 height-120 no-padding period-filter f-search marg-t-10">
                    <div class="form-group datepicker-group btn-deepmark-light">
                        <div class="col-md-12 no-padding  btn-deepmark">
                            <label class="text-white" for="endDate">{{ 'table.connection_date'|trans|capitalize }}</label>
                        </div>
                        <div class="input-group pad-t-10 btn-deepmark-light">
                            <input id="connectionDate" type="text" class="form-control marg-l-10 datepicker" name="connection_date" value="">
                            <div class="input-group-append">
                                <span class="input-group-text"><i class="fal fa-calendar-alt"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row stat-data d-none marg-b-20">
                <div class="col-12 marg-b-20">
                    <div id="tableLearnersData">
                    </div>
                </div>
                <div class="col-md-4"></div>
                <div class="col-md-8">
                    <div class="row">
                        <div class="col-md-4">
                            <div data-type="group" class="col-md-12 padding-5 my-skill btnActionLearner text-center btn-border pointer ">
                                <p class="no-margin bold font-size-10 color-header text-action text-group text-uppercase">{{ 'admin.learners.assign_to_group'|trans }}</p>
                            </div>
                            <div class="col-md-12 divActionGroup d-none divAction border-header marg-t-20 pad-l-0 pad-r-0 pad-t-0 p-b-20">
                                <div class="row btn-deepmark-light pad-5">
                                    <div class="col-md-2 no-padding flex--center">
                                        <i class="fas fa-search color-header"></i>
                                    </div>
                                    <div class="col-md-10 no-padding">
                                        <input id="search_group" class="search-skill-input" name="search_skill" placeholder="{{ 'search.content'|trans }}">
                                    </div>
                                </div>
                                <div class="row border-top-header">
                                    <div class="col-md-12  no-padding" id="divGroup">
                                        {% if searchParam.groups %}
                                            {% set countGroups = searchParam.groups|length %}
                                            {% for group in searchParam.groups %}
                                                <div class="row pad-l-10 pad-r-10 pad-t-0 pad-b-0 group-row">
                                                    <div data-id="{{ group.id }}"  class="group-name pointer assign col-md-12 no-padding min-height-40 {% if countGroups > loop.index  %} border-bottom-header {% endif %} justify-content-start font-size-10 flex--center">
                                                        {{ group.designation }}
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        {% endif %}

                                        <input  id="selectGroup" type="hidden"/>
                                    </div>
                                    <div class="col-md-12 no-padding">
                                        <button id="btnAssignLearner"
                                                class="btn btn-block no-margin pad-t-10 pad-b-10 pad-l-5 pad-r-5 font-size-10 border-radius-0 btn-deepmark">{{ 'admin.learners.assign_to_group'|trans }}</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 ">
                            <div data-type="course" id="assignCourse" class="col-md-12 padding-5 my-skill btnActionLearner text-center btn-border pointer ">
                                <p class="no-margin bold font-size-10 color-header text-course text-action text-uppercase">{{ 'admin.learners.attach'|trans }}</p>
                            </div>
                            <div class="col-md-12 d-none divActionCourse divAction border-header marg-t-20 pad-l-0 pad-r-0 pad-t-0 p-b-20">
                                <div class="row btn-deepmark-light pad-5">
                                    <div class="col-md-2 no-padding flex--center">
                                        <i class="fas fa-search color-header"></i>
                                    </div>
                                    <div class="col-md-10 no-padding">
                                        <input id="search_intervention" class="search-skill-input" name="search_skill" placeholder="{{ 'search.content'|trans }}">
                                    </div>

                                </div>
                                <div class="row border-top-header">
                                    <div class="col-md-12  no-padding" id="divIntervention">
                                        {% if interventions %}
                                            {% set countCourse = interventions|length %}
                                            {% for intervention in interventions %}
                                                <div class="row pad-l-10 pad-r-10 pad-t-0 pad-b-0 intervention-row">
                                                    <div id="interventionActive{{ intervention.id }}" data-id="{{ intervention.id }}"  class="course-name pointer assign col-md-12 no-padding  min-height-40  {% if countCourse > loop.index  %} border-bottom-header {% endif %} justify-content-start font-size-10 flex--center">{{ intervention.designation }}</div>
                                                </div>
                                            {% endfor %}
                                        {% endif %}
                                        <input  id="selectIntervention" type="hidden"/>
                                    </div>
                                    <div class="col-md-12 no-padding">
                                        <button id="btnLinkLearner"
                                                class="btn btn-block no-margin pad-t-10 pad-b-10 pad-l-5 pad-r-5 font-size-10 border-radius-0 btn-deepmark">{{ 'admin.learners.link_attach'|trans }}</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div data-type="email" class="col-md-12 padding-5 my-skill btnActionLearner text-center btn-border pointer ">
                                <p class="no-margin bold font-size-10 color-header text-email text-action text-uppercase">{{ 'admin.learners.send_email'|trans }}</p>
                            </div>
                            <div class="col-md-12 d-none divActionEmail divAction border-header marg-t-20 pad-l-0 pad-r-0 pad-t-0 p-b-20">
                                <div class="row btn-deepmark-light pad-5">
                                    <div class="col-md-2 no-padding flex--center">
                                        <i class="fas fa-search color-header"></i>
                                    </div>
                                    <div class="col-md-10 no-padding">
                                        <input id="search_email" class="search-skill-input" name="search_skill" placeholder="{{ 'search.content'|trans }}">
                                    </div>

                                </div>
                                <div class="row border-top-header">
                                    <div class="col-md-12  no-padding" id="divEmail">
                                        <div class="row pad-l-10 pad-r-10 pad-t-0 pad-b-0 email-row">
                                            <div data-id="emailRegistration"  class="email-name pointer assign col-md-12 no-padding  min-height-40 justify-content-start font-size-10 flex--center">
                                                {{ 'email.email_registration'|trans }}
                                            </div>
                                        </div>
                                        <input id="selectTemplate" type="hidden"/>
                                    </div>
                                    <div class="col-md-12 no-padding">
                                        <button id="btnLinkSendLearner"
                                                class="btn btn-block pad-t-10 pad-b-10 pad-l-5 pad-r-5 no-margin font-size-10 border-radius-0 btn-deepmark">{{ 'admin.learners.send_email'|trans }}</button>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{ include('molecules/modal/delete-user.html.twig', { url: '', isDelete: 0  }) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/admin/learners.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/lang_datatable.js') }}"></script>
    <script>
        $(function () {
            CKEDITOR.replace('msg')
        })
        var myElement = document.getElementById('divGroup');
        new SimpleBar(myElement, { autoHide: true });
        var myElement = document.getElementById('divIntervention');
        new SimpleBar(myElement, { autoHide: true });

        $(document).ready(function () {
            $("#typeAction").change(function() {
                let typeAction = $(this).val();
                if (type == 3){

                }
            });
            $(".btnActionLearner").click(function() {
                let type = $(this).attr("data-type");
                $(".btnActionLearner").addClass("btn-border");
                $(".btnActionLearner").removeClass("btn-deepmark");
                $(this).addClass("btn-deepmark");
                $(this).removeClass("btn-border");
                $(".text-action").removeClass('text-white');
                $(".text-action").addClass('color-header');
                $(".text-action").removeClass('d-none');
                $(".divAction").addClass('d-none');
                if (type == "group") {
                    $(".text-group").removeClass('color-header');
                    $(".text-group").addClass('text-white');
                    $(".divActionGroup").removeClass("d-none");

                } else if (type == "course") {
                    $(".text-course").removeClass('color-header');
                    $(".text-course").addClass('text-white');
                    $(".divActionCourse").removeClass("d-none");

                } else if (type == "email") {
                    $(".text-email").removeClass('color-header');
                    $(".text-email").addClass('text-white');
                    $(".divActionEmail").removeClass("d-none");
                }
            });

            $(".email-name").click(function() {
                $(".email-name").removeClass("active-attach");
                let emailId = $(this).attr("data-id");
                $("#selectTemplate").val(emailId);
                $(this).addClass("active-attach");

            });

            $("#search_group").keyup(function() {
                let text = $(this).val();
                let indexOf = [];
                $(".group-row").hide();
                $(".group-row .group-name").each(function(){
                    if($(this).text().toLowerCase().indexOf(""+text+"") != -1 ){
                        $(this).closest(".group-row").show();
                    }
                });
            });

            $(".group-name").click(function() {
                $(".group-name").removeClass("active-attach");
                let groupId = $(this).attr("data-id");
                $("#selectGroup").val(groupId);
                $(this).addClass("active-attach");

            });

            $("#search_intervention").keyup(function() {
                let text = $(this).val();
                let indexOf = [];
                $(".intervention-row").hide();
                $(".intervention-row .course-name").each(function(){
                    if($(this).text().toLowerCase().indexOf(""+text+"") != -1 ){
                        $(this).closest(".intervention-row").show();
                    }
                });
            });

            $(".course-name").click(function() {
                $(".course-name").removeClass("active-attach");
                let courseId = $(this).attr("data-id");
                $("#selectIntervention").val(courseId);
                $(this).addClass("active-attach");

            });
            // filters
            $("#organizationId").change(function() {
                $("#entityId").empty();
                let organizationId = $(this).val();
                if(organizationId != '') {
                    $.ajax({
                        type: "POST",
                        url: '{{ path('admin_learners_organizationEntity') }}',
                        data: {"organizationId": organizationId},
                        success: function (data) {
                            $("#entityId").append($("<option />").val(0).text('{{ 'trainers.statistics.export.all'|trans }}'));
                            $.each(data, function (i, data) {
                                $("#entityId").append($("<option />").val(data.id).text(data.designation));
                            });
                            $('#entityId').selectpicker('refresh');
                        }
                    });
                }
                $('#entityId').selectpicker('refresh');
                $("#entityId").trigger('change');
            });

            $("#entityId").change(function() {
                let entityId = $(this).val();
                let organizationId = $("#organizationId").val();
                if(entityId != '') {
                    $("#courseId").empty();
                    $.ajax({
                        type: "POST",
                        url: '{{ path('admin_learners_entityCourse') }}',
                        data: {"entityId": entityId, 'organizationId': organizationId},
                        success: function (data) {
                            $("#courseId").append($("<option />").val(0).text(' {{ 'trainers.statistics.export.all'|trans  }}'));
                            $.each(data, function (i, data) {
                                $("#courseId").append($("<option />").val(data.id).text(data.designation));
                            });
                            $('#courseId').selectpicker('refresh');
                            $("#courseId").trigger('change');
                        }
                    });

                    $("#groupId").empty();
                    $.ajax({
                        type: "POST",
                        url: '{{ path('admin_learners_entityGroup') }}',
                        data: {"entityId": entityId , 'organizationId': organizationId},
                        success: function (data) {
                            $("#groupId").append($("<option />").val(0).text('{{ 'trainers.statistics.export.all'|trans }}'));
                            $.each(data, function (i, data) {
                                $("#groupId").append($("<option />").val(data.id).text(data.designation));
                            });
                            $('#groupId').selectpicker('refresh');
                        }
                    });

                    $("#regionalId").empty();
                    $.ajax({
                        type: "POST",
                        url: '{{ path('admin_learners_entityRegion') }}',
                        data: {"entityId": entityId, 'organizationId': organizationId},
                        success: function (data) {
                            $("#regionalId").append($("<option />").val(0).text('{{ 'trainers.statistics.export.all'|trans }}'));
                            $.each(data, function (i, data) {
                                $("#regionalId").append($("<option />").val(data.id).text(data.designation));
                            });
                            $('#regionalId').selectpicker('refresh');
                            $("#regionalId").trigger('change');

                        }
                    });

                }

            });

            $("#regionalId").change(function() {
                let regionalId = $(this).val();
                let organizationId = $("#organizationId").val();
                let entityId = $("#entityId").val();
                if(regionalId != '') {

                    $("#sectorId").empty();

                    $.ajax({
                        type: "POST",
                        url: '{{ path('admin_learners_regionSector') }}',
                        data: {"regionalId": regionalId, "entityId": entityId, 'organizationId': organizationId},
                        success: function (data) {
                            $("#sectorId").append($("<option />").val(0).text('{{ 'trainers.statistics.export.all'|trans }}'));
                            $.each(data, function (i, data) {
                                $("#sectorId").append($("<option />").val(data.id).text(data.designation));
                            });
                            $('#sectorId').selectpicker('refresh');

                            $("#sectorId").trigger('change');

                        }

                    });

                }

            });

            $("#sectorId").change(function() {
                let sectorId = $(this).val();
                let regionalId = $("#regionalId").val();
                let organizationId = $("#organizationId").val();
                let entityId = $("#entityId").val();
                if(sectorId != '') {

                    $("#workplaceId").empty();

                    $.ajax({
                        type: "POST",
                        url: '{{ path('admin_learners_sectorWorkplace') }}',
                        data: {"sectorId": sectorId, "regionalId": regionalId, "entityId": entityId, 'organizationId': organizationId},
                        success: function (data) {
                            $("#workplaceId").append($("<option />").val(0).text('{{ 'trainers.statistics.export.all'|trans }}'));
                            $.each(data, function (i, data) {
                                $("#workplaceId").append($("<option />").val(data.id).text(data.designation));
                            });
                            $('#workplaceId').selectpicker('refresh');
                        }
                    });

                }

            });

            $("#organizationId").trigger('change');
            //$("#entityId").trigger('change');

            $('#searchBtn').click(function() {
                searchHandler(true)
            });
            $('#resetBtn').click(function() {
                $(".selectpicker").val(0);
                $("#statusId").val(-1);
                $('.selectpicker').selectpicker('refresh');
                $(".datepicker").val('');
            });

            function dateNewFormat(date) {
                return date = date.split("/").reverse().join("-");
            }

            function searchHandler($isExport = false, $isPdf = false){
                $('.loader').show();
                let dateTimeFrom;
                let dateTimeTo;
                let dateTimeCreationDate = dateNewFormat($('#creationDate').val());
                let dateTimeConnectionDate =  dateNewFormat($('#connectionDate').val());

                let entityId = $('#entityId').val();
                let organizationId = $('#organizationId').val();
                let regionalId = $('#regionalId').val();
                let sectorId = $('#sectorId').val();
                let workplaceId = $('#workplaceId').val();
                let groupId = $('#groupId').val();
                let statusId = $('#statusId').val();

                let locate = $('#locate').val();
                let default_lang = $('#default_locale').val();
                locate = (locate == default_lang) ? '' : '/' + locate;

                var header = '';
                let organizatioName =  $("#organizationId").val() == 0 ? 'Organization_all' : $( "#organizationId option:selected" ).text();
                var title = 'Learners of ' + organizatioName  + " ("+moment().format('DD-MM-YYYY')+") ";
                $.ajax({
                    url: '{{ path('admin_learners_get_learners_by_search') }}',
                    data: {
                        'creationDate': dateTimeCreationDate,
                        'connectionDate': dateTimeConnectionDate,
                        'organizationId': organizationId,
                        'entity_id': entityId,
                        'regionalId': regionalId,
                        'sectorId': sectorId,
                        'workplaceId': workplaceId,
                        'groupId': groupId,
                        'statusId': statusId
                    },
                    success:function(data) {
                        $('.loader').hide();
                        $(".stat-data").removeClass('d-none');
                        $('#tableLearnersData').html(data);
                        let lang = languageDatatable();
                        let table  = $('#learnerTable').DataTable({
                            "language": lang,
                            dom: 'Blfrtip',
                            "scrollX": true,
                            "order": [[ 1, "asc" ], [ 2, "asc" ]],
                            exportOptions: {
                                columns: ':visible'
                            },
                            buttons: [
                                'csv',
                                'excel',
                                {extend: 'pdfHtml5', orientation: 'landscape', pageSize: 'A3',},
                                'colvis'
                            ]
                        });
                        // Hide columns
                        table.columns( [7] ).visible( false );
                        table.columns( [8] ).visible( false );
                        table.columns( [9] ).visible( false );
                        table.columns( [10] ).visible( false );

                        $(".dataTables_filter").hide();
                        $('#bookSearch').keyup(function(){
                            table.search($(this).val()).draw() ;
                        });

                        $('.buttons-colvis').on('click', function() {
                            $('.dt-button-collection').addClass('show');
                        });

                        $("#learnerTable").on("click", ".btnDelete", function(){
                            var id = $(this).attr('data-id');
                            $('#formDelete').attr('action', '/admin/learners/'+id+'/delete');
                            $('#deleteModal').modal('show');
                        });
                        //
                        // $('.check-all-input-datatable').change(function() {
                        //     var rows = table.rows({ 'search': 'applied' }).nodes();
                        //     $('input[type="checkbox"]', rows).prop('checked', this.checked);
                        // });

                        $(".check-all-input-datatable").click(function(){
                            if($(this).is(":checked")){
                                $('.check-input').attr("checked",true);
                            }else{
                                $('.check-input').attr("checked",false);
                            }
                        });

                    },
                    error:function () {
                    }
                });
            }

            $("#searchBtn").trigger('click');

        });

    </script>
{% endblock %}
