{% extends "base.html.twig" %}

{% block body %}
    {% if module is not null %}
        {% set type = module.storedModule.appId %}
    {% else %}
        {% set type = null %}
    {% endif %}

    {% if type == constant('\\ApiBundle\\Entity\\StoredModule::ONLINE') %}
        {{ include('molecules/courses/admin/onlineseance.html.twig', { module: module }) }}
    {% elseif type == constant('\\ApiBundle\\Entity\\StoredModule::VIRTUAL_CLASS') %}
        {{ include('molecules/courses/admin/virtualclass.html.twig', { module: module }) }}
    {% elseif type == constant('\\ApiBundle\\Entity\\StoredModule::ONLINE_WORKSHOP') %}
        {{ include('molecules/courses/admin/virtualclass.html.twig', { module: module }) }}
    {% elseif type == constant('\\ApiBundle\\Entity\\StoredModule::PRESENTATION_ANIMATION') %}
        {{ include('molecules/courses/admin/animation.html.twig', { module: module }) }}
    {% endif %}
{% endblock %}


{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('js/learner/courses.js') }}"></script>
    <script>
        $(document).ready(function () {
            let readMore = '{{ "global.read_more"|trans }}';
            let readLess = '{{ "global.read_less"|trans }}';
            readmore(300, readMore, readLess);
        });
    </script>
{% endblock %}
