{% extends 'base.html.twig' %}

{% block pagename %}{{ 'admin.profile.create_learner'|trans }}{% endblock %}

{% block body %}
    <style>
        .select2-container-multi .select2-choices {
            border-bottom: 1px solid #ddd!important;
        }
    </style>
    {% set lunchStartTime = constant('\\ApiBundle\\Entity\\Profile::LUNCH_START_TIME') %}
    {% set lunchEndTime = constant('\\ApiBundle\\Entity\\Profile::LUNCH_END_TIME') %}
    {% set defaultPassword = constant('\\ApiBundle\\Entity\\Profile::DEFAULT_PASSWORD') %}
    <div class="card">
        <div class="card-header--nav">
            {{ include('molecules/cards/nav/admin-learners-nav.html.twig') }}
        </div>
        <div class="card-body">
            <form  enctype="multipart/form-data" id="form" action="{{ path('admin_learners_save') }}" method="post">
                <div class=" card--user card--trainer">
                    <div class=" card-header card-header-icon">
                        <div id="trainer-avatar" class="trainer-avatar">
                            {{ include('molecules/tools/icon-box.html.twig', { icon: 'user', txt: 'trainers.profile.my_avatar'|trans }) }}
                        </div>

                        <div class="form-group marg-l-15">
                            <label for="avatarFileTrainer" class="btn btn-deepmark-orangelight btn-edit">
                                <i class="far fa fa-upload no-margin"></i>
                            </label>
                            <input id="avatarFileTrainer"
                                   type="file"
                                   name="avatarFile"
                                   data-type="avatar"
                                   class="inputUploadPublicFile"
                                   multiple/>

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 pl-0">
                        <h3>{{ 'admin.profile.infos'|trans }}</h3>
                        <div class="form-group row">
                            <div class="col-3 t-right">
                                <label class="col-form-label required bmd-label-static">{{ 'global.lastname'|trans }}</label>
                            </div>
                            <div class="col-8">
                                <input required type="text" class="form-control" name="lastName" value="">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-3 t-right">
                                <label class="col-form-label required bmd-label-static">{{ 'global.firstname'|trans }}</label>
                            </div>
                            <div class="col-8">
                                <input required type="text" class="form-control" name="firstName"
                                       value="">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-3 t-right">
                                <label class="col-form-label bmd-label-static">{{ 'global.designation'|trans }}</label>
                            </div>
                            <div class="col-8">
                                <input type="text" class="form-control" name="position"
                                       value="">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-3 t-right">
                                <label class="col-form-label bmd-label-static">{{ 'global.employee_id'|trans }}</label>
                            </div>
                            <div class="col-8">
                                <input type="text" name="employee_id" class="form-control" value="">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-3 t-right">
                                <label class="col-form-label required bmd-label-static">{{ 'global.phone'|trans }}</label>
                            </div>
                            <div class="col-8">
                                <input required type="text" class="form-control" name="fixedPhone"
                                       value="">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-3 t-right">
                                <label class="col-form-label bmd-label-static">{{ 'global.mobile'|trans }}</label>
                            </div>
                            <div class="col-8">
                                <input type="text" class="form-control" name="mobilePhone"
                                       value="">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-3 t-right">
                                <label class="col-form-label required bmd-label-static">{{ 'global.email'|trans }}</label>
                            </div>
                            <div class="col-8">
                                <input required type="email" class="form-control" name="email"
                                       value="">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-3 t-right">
                                <label class="col-form-label required bmd-label-static">{{ 'admin.profile.password'|trans }}</label>
                            </div>
                            <div class="col-7">
                                <input required id="password" type="password" class="form-control" name="password" value="{{ defaultPassword }}">
                            </div>
                            <div class="col-2">
                                <span toggle="#password" class="fa fa-fw fa-eye field-icon toggle-password"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-3 t-right">
                                <label class="col-form-label required bmd-label-static">{{ 'admin.profile.rp_password'|trans }}</label>
                            </div>
                            <div class="col-8">
                                <input required id="repeatPassword" type="password" class="form-control" name="rpPassword" value="{{ defaultPassword }}">
                                <span id='messageRepeatPassword'></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-3 t-right">
                                <label class="col-form-label bmd-label-static">Time zone</label>
                            </div>
                            <div class="col-8">
                                <select id="time_zone_id" name="time_zone_id" class="form-control select2" >
                                    {% if timeZones %}
                                        {% for timeZone in timeZones %}
                                            <option value="{{ timeZone.id }}">{{ timeZone.timeZone }}</option>
                                        {% endfor %}
                                    {% endif %}
                                </select>
                            </div>
                        </div>
                        <h3>{{ 'global.additional_information'|trans }}</h3>
                        <div class="form-group row">
                            <div class="col-3 t-right">
                                <label class="col-form-label bmd-label-static">{{ 'global.email_manager'|trans }}</label>
                            </div>
                            <div class="col-8">
                                <input type="email" class="form-control" name="manager_email"
                                       value="">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-3 t-right">
                                <label class="col-form-label bmd-label-static">{{ 'global.other_email'|trans }}</label>
                            </div>
                            <div class="col-8">
                                <input type="email" class="form-control" name="otherEmail"
                                       value="">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 pl-0">
                        <div class="form-group row">
                            <div class="col-3 t-right">
                                <label class="col-form-label bmd-label-static">{{ 'global.status_account'|trans }}</label>
                            </div>
                            <div class="col-8">
                                <select id="status" name="status" class="form-control select2" >
                                    <option value="1">Active</option>
                                    <option value="0">Inactive</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-3 t-right">
                                <label class="col-form-label bmd-label-static">{{ 'admin.profile.lunch_start_time'|trans }}</label>
                            </div>
                            <div class="col-8">
                                <input name="lunch_start_time" value="{{ lunchStartTime }}"  type="text" class="form-control timepicker">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-3 t-right">
                                <label class="col-form-label bmd-label-static">{{ 'admin.profile.lunch_end_time'|trans }}</label>
                            </div>
                            <div class="col-8">
                                <input name="lunch_end_time" value="{{ lunchEndTime }}"  type="text" class="form-control timepicker">
                            </div>
                        </div>
                        <h3>{{ 'global.organisation_structure'|trans }}</h3>

                        <div class="form-group row">
                            <div class="col-3 t-right">
                                <label class="col-form-label bmd-label-static">{{ 'global.direction_region'|trans }}</label>
                            </div>
                            <div class="col-8">
                                <select id="regional" name="regional" class="form-control select2">
                                    {% if regionals %}
                                        {% for regional in regionals %}
                                            <option value="{{ regional.id }}">{{ regional.designation }}</option>
                                        {% endfor %}
                                    {% endif %}
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-3 t-right">
                                <label  class="col-form-label bmd-label-static">{{ 'global.group'|trans }}</label>
                            </div>
                            <div class="col-8">
                                <select id="group" name="group" class="form-control select2">

                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 text-right">
                    <a href="{{ path('admin_learners_index') }}" class="btn btn-deepmark-lightgray">{{ 'buttons.cancel'|trans }}</a>
                    <button type="submit" class="btn btn-orangelight ">{{ 'buttons.create'|trans }}</button>
                </div>
            </form>
        </div>
    </div>
    <script>
        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#logoPreview').attr('src', e.target.result);
                };

                reader.readAsDataURL(input.files[0]);
            }
        }
        $(".toggle-password").click(function() {

            $(this).toggleClass("fa-eye fa-eye-slash");
            var input = $($(this).attr("toggle"));
            if (input.attr("type") == "password") {
                input.attr("type", "text");
            } else {
                input.attr("type", "password");
            }
        });
        $('#repeatPassword, #password').on('keyup', function () {
            if (($('#password').val() == '' && $('#repeatPassword').val() == '')){
                $('#messageRepeatPassword').html();
                return false;
            }
            if (($('#password').val() == $('#repeatPassword').val())) {
                $('#messageRepeatPassword').html('Matching').css('color', 'green');
            } else {
                $('#messageRepeatPassword').html('Not Matching').css('color', 'red');
            }
        });
        $('#time_zone_id').select2({
                minimumResultsForSearch: 1
            }
        );
        $('#regional').select2({
                minimumResultsForSearch: 1
            }
        );
        $('#status').select2({
                minimumResultsForSearch: -1
            }
        );
        $('#group').select2({
                minimumResultsForSearch: -1
            }
        );

        $(function () {
            $('.timepicker').datetimepicker({
                format: 'HH:mm',
                icons: {
                    up: 'fa fa-chevron-up',
                    down: 'fa fa-chevron-down'
                }
            });
        });
    </script>
    <script>
        $(document).ready(function () {
            $('#avatarFileTrainer').on('change', function () {
                $(".trainer-avatar").empty().append('<img id="logoPreview" style="border-radius: 10px;" width="100" height="100" src="" alt="">')
                readURL(this);
            });

            $("#regional").change(function() {
                let regional_id = $(this).val();
                if(regional_id != '') {
                    $("#group").empty();
                    $.ajax({
                        type: "POST",
                        url: '{{ path('admin_learners_groupOrganization') }}',
                        data: {"regional_id": regional_id},
                        success: function (data) {
                            $.each(data, function (i, data) {
                                $("#group").append($("<option />").val(data.id).text(data.designation));
                            });
                        }
                    });
                }
            });
            $("#regional").trigger('change');
        });
    </script>
{% endblock %}
