{% extends 'base.html.twig' %}

{% block pagename %}{{ 'admin.profile.learner_profile'|trans }}{% endblock %}


{% block body %}
    <div class="card">
        <header class="card-header card-header--flex c-bg-navy">
            <h2>{{ profile.firstname }} {{ profile.lastname }}</h2>
            <div class="action-toolbar">
                <a data-placement="top" data-toggle="tooltip" title="Edit" href="{{ url('admin_learners_edit', { id: profile.id }) }}" class="btn btn-deepmark-orangelight btn-edit"><i class="far fa-pen"></i></a>
                <a class="btn btn-deepmark-red btn-edit"  data-placement="top" data-toggle="tooltip" id="btnDelete"><i class="fas fa-ban"></i></a>

            </div>
        </header>

        <div class="card-body">
            <div class="row">
                <div class="col-md-5">
                    <section>
                        <header>
                            {% if profile.avatar is defined and profile.avatar is not null %}
                                <img width="225" src="{{ profile.avatar }}" alt="">
                            {% else %}
                                <img src="{{ asset('img/default-avatar.png') }}" alt="">
                            {% endif %}
                            <p>{{ 'table.learner'|trans }}<small class="marg-l-10">({{ 'admin.learners.learner_from'|trans }} {{ profile.creationDate|date('d/m/Y') }})</small></p>
                        </header>
                    </section>

                    <section>
                        <dl>
                            {% if profile.otherEmail  %}
                                <dt>{{ 'global.email'|trans }}</dt>
                                <dd>{{ profile.otherEmail}}</dd>
                            {% endif %}

                            {% if profile.mobilePhone  %}
                                <dt>{{ 'global.mobile'|trans }}</dt>
                                <dd>{{ profile.mobilePhone }}</dd>
                            {% endif %}

                            {% if profile.street  %}
                                <dt>{{ 'global.address'|trans }}</dt>
                                <dd>{{ profile.street }}</dd>
                            {% endif %}

                            {% if profile.entity and profile.entity.organisation %}
                                <dt>{{ 'admin.profile.org'|trans }}</dt>
                                <dd>{{ profile.entity.organisation.designation }}</dd>
                            {% endif %}

                            {% if profile.entity and profile.entity.designation %}
                                <dt>{{ 'admin.profile.entity'|trans }}</dt>
                                <dd>{{ profile.entity.designation }}</dd>
                            {% endif %}

                            {% if profile.regional and profile.regional.designation %}
                                <dt>{{ 'admin.learners.regional_directorate'|trans }}</dt>
                                <dd>{{ profile.regional.designation }}</dd>
                            {% endif %}

                            {% if profile.groupOrganization and profile.groupOrganization.designation %}
                                <dt>{{ 'admin.learners.group'|trans }}</dt>
                                <dd>{{ profile.groupOrganization.designation }}</dd>
                            {% endif %}

                            {% if profile.workplace and profile.workplace.designation %}
                                <dt>{{ 'global.workplace'|trans }}</dt>
                                <dd>{{ profile.workplace.designation }}</dd>
                            {% endif %}
                        </dl>
                    </section>
                </div>
                <div class="col-md-7">
                    <div class="card card-pane">
                        <div class="card-header">
                            <ul class="nav nav-pills" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" data-toggle="tab" href="#monthCalendar" role="tablist">
                                        {{ 'trainers.planning.nav.month_planning'|trans }}
                                    </a>
                                </li>
                                {#<li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#weekCalendar" role="tablist">
                                        {{ 'trainers.planning.nav.week_planning'|trans }}
                                    </a>
                                </li>#}
                            </ul>
                        </div>

                        <div class="card-body">
                            <div class="tab-content tab-space">
                                <input type="hidden" id="learnerId" name="learnerId" value="{{ app.request.get('id') }}">
                                <div class="tab-pane active" id="learnerPlanningCalendar">
                                    {{ include('molecules/calendar/calendar-legend.twig', { user: 'learner'}) }}
                                    <div id="learnerShowCalendar"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="table-responsive">
                <table id="moduleTable" class="table">
                    <thead>
                    <tr>
                        <th> {{ 'trainers.statistics.course_name' | trans }}</th>
                        <th> {{ 'trainers.statistics.module_name' | trans }}</th>
                        <th> {{ 'trainers.statistics.module_type' | trans }}</th>
                        <th> {{ 'trainers.statistics.status' | trans }}</th>
                        <th> {{ 'trainers.statistics.trainer' | trans }}</th>
                        <th> {{ 'trainers.statistics.end_date' | trans }}</th>
                        <th> {{ 'trainers.statistics.module_duration' | trans }}</th>
                        <th> {{ 'trainers.statistics.real_time_spent' | trans }}</th>
                        <th> {{ 'trainers.statistics.score' | trans }}</th>
                        <th> {{ 'trainers.statistics.score_to_pass' | trans }}</th>
                        <th> {{ 'trainers.statistics.rating_module' | trans }}</th>
                        <th> {{ 'trainers.statistics.comment_module' | trans }}</th>
                        <th> {{ 'trainers.statistics.rating_trainer' | trans }}</th>
                        <th> {{ 'trainers.statistics.comment_trainer' | trans }}</th>
                        <th> Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for row in data %}
                        <tr>
                            <td> {{ row.courseName }}</td>
                            <td> {{ row.moduleName }}</td>
                            <td> {{ row.moduleType }}</td>
                            <td> {{ row.status }}</td>
                            <td> {{ row.trainer }}</td>
                            <td> {{ row.moduleEnd | date('d/m/Y') }}</td>
                            <td> {{ row.moduleDuration | date('H:i:s') }}</td>
                            <td> {{ row.realtime  }}</td>
                            <td> {{ row.score }}</td>
                            <td> {{ row.targetEvaluation }}</td>
                            <td> {{ row.moduleRating }}</td>
                            <td> {{ row.moduleComment | raw }}</td>
                            <td> {{ row.moduleTrainerRating }}</td>
                            <td> {{ row.moduleTrainerComment| raw }}</td>
                            <td>
                                {% if (is_granted('ROLE_ADMIN') or is_granted('ROLE_SUPERVISOR')) and row.isBook %}
                                    <a class="btn btn-sm btn-deepmark-orangelight" href="{{ path('admin_learners_module', { 'profileId': app.request.get('id'), 'id': row.moduleId }) }}">Book</a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

            </div>

            <div>
                <a class="btn btn-navy" href="{{ path('admin_learners_index') }}">{{ 'pagination.bck_to_list'|trans }}</a>
            </div>
        </div>
    </div>
    <!-- Modal delete or deactivate the user -->
    {{ include('molecules/modal/delete-user.html.twig', { url: path('admin_learners_delete',{id: profile.id }), isDelete: 0  }) }}
    <!-- Modal show the booked session -->
    {{ include('molecules/modal/calendar-module-detail.html.twig') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/admin/calendar/calendar-learner.js') }}"></script>
    <script>
        $(document).ready(function(){
            $('#btnDelete').on('click', function () {
                $('#deleteModal').modal('show');
            });
            $('[data-toggle="tooltip"]').tooltip();
            $('#moduleTable').DataTable({
                "scrollX": true,
            });
            $('.buttons-colvis').on('click', function() {
                $('.dt-button-collection').addClass('show');
            });
        });
    </script>
    <script src="/js/calendar.js"></script>
    <script src="/js/init-calendars.js"></script>
    <script src="{{ asset('js/learner.js') }}"></script>
{% endblock %}
