{% extends 'base.html.twig' %}

{% block title %}{{ 'admin.profile.import_users'|trans }}{% endblock %}
{% block pagename %}{{ 'admin.profile.import_users'|trans }}{% endblock %}

{% block body %}
    {{ include('molecules/import.html.twig', {'type': importType|capitalize }) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        let importType = '{{ importType }}'
    </script>
    <script src="{{ asset('js/deepmark/import.js') }}"></script>
{% endblock %}
