{% extends 'email/email_base.html.twig' %}
{% block title %} {{ 'email.cancellation_confirmed'|trans|upper }}{% endblock %}

{% block head %}
    {{ parent() }}
{% endblock %}

 {% block logo %}
     <img width="200" height="200" style="width: 200px; height: 200px;"
          id="logo"
          src="{{ app.request.getSchemeAndHttpHost() }}/{{ profile.entity.organisation.logo }}"
          alt="{{ profile.entity.organisation.designation }} logo"/>
     <br>
 {% endblock %}

{% block type %}
    <table style=" padding: 20px; width: 100%;text-transform: uppercase;
                background-color: #0076fe;
                text-align: center;">
        <tr style="text-align: center;">
            <td>
                <p style="margin: 0; color: #fff">
                    {{ profile.entity.organisation.designation }}, {{ 'email.informs_you'|trans|upper }}
                </p>
                <p style="margin: 0; margin-top: 10px!important; color: #fff; font-size: 20px; font-weight: 900">
                    {{ 'email.cancellation_confirmed'|trans|upper }}
                </p>
            </td>
        </tr>
    </table>
{% endblock %}

{% block midle %}
    <table id="midle" style="width: 100%; padding: 20px;background-color: #E5F0FC; text-align: center;color:#0076fe;">
        <tr>
            <td width="30%" style="text-align: center;">
                <img width="60" height="70" src="{{ app.request.getSchemeAndHttpHost() }}/images/email_info.png"/>
            </td>
            <td style="text-align: left;">
                <p style="font-weight: 900;font-size: 20px;color: #0076fe;margin:0;" >
                    {% if booked.module.storedModule.appId == constant('\\ApiBundle\\Entity\\StoredModule::ONLINE') %}
                        {{ 'admin.interventions.mods.onlineseance'|trans }}
                    {% elseif booked.module.storedModule.appId == constant('\\ApiBundle\\Entity\\StoredModule::VIRTUAL_CLASS') %}
                        {{ 'admin.interventions.mods.virtualclass'|trans }}
                    {% elseif booked.module.storedModule.appId == constant('\\ApiBundle\\Entity\\StoredModule::PRESENTATION_ANIMATION') %}
                        {{ 'admin.interventions.mods.animation'|trans }}
                    {% endif %}
                </p>
                <p style="color: #0076fe;margin:0;" >{{ booked.module.designation }}</p>
                <p style="color: #0076fe;margin:0;" >{{ booked.module.intervention.designation }}</p>
            </td>
        </tr>
    </table>
    <br>
{% endblock %}

{% block content %}
    {% set hour = booked.module.duration|date('G', false) %}
    {% set minutes = booked.module.duration|date('i', false) %}
    {% set duration = '' %}
    {% if hour == '0' %}
        {% set duration = '+'~minutes~' min' %}
    {% elseif minutes == '00' %}
        {% set duration = '+'~ hour ~ 'hours' %}
    {% else %}
        {% set duration = '+' ~hour ~ ' hours' ~ ' +' ~ minutes~ ' min' %}
    {% endif %}
    <table style="max-width:550px; min-width: 70%; padding: 10px; margin: auto; margin-top: 20px; border: 1px solid red; border-collapse: collapse;">
        <tr>
            <td width="40%">
                <img width="20" height="15" src="{{ app.request.getSchemeAndHttpHost() }}/images/email_status_cancel.png"/>&nbsp; &nbsp; <span class="booked" style="font-size: 14px; font-weight: 800;color:red;"> &nbsp; {{ 'email.canceled'|trans }}</span>
            </td>
            <td></td>
            <td width="40%" style="text-align: right;" >
                <img width="15" height="15" src="{{ app.request.getSchemeAndHttpHost() }}/images/email_clock.png"/>&nbsp;&nbsp;{{ booked.module.duration|date('H:i:s') }}
            </td>
        </tr>
        {% if booked.module.storedModule.appId == constant('\\ApiBundle\\Entity\\StoredModule::PRESENTATION_ANIMATION') %}
            <!-- Classroom training -->
            <tr style="background-color: #ecf3fb; ">
                <td style=" text-align: center;" colspan="3">
                    <h2 style="font-weight: 900" class="no-margin">{{ booked.bookingDate|localizeddate('full', 'none', app.request.locale)|capitalize }}</h2>
                    <h3 style="font-weight: 500"> {{ booked.bookingDate|date('G:i', profile.person.timeZone.timeZone) }} to {{ booked.bookingDate|date_modify(duration)|date('G:i', profile.person.timeZone.timeZone) }}</h3>
                    <p class="text-color" style="font-weight: 600;color: #0076fe">-
                        {% if 'ROLE_TRAINER' in profile.person.roles %}
                            {{ 'popup.with_learner'|trans|upper }}
                        {% elseif 'ROLE_LEARNER' in profile.person.roles %}
                            {{ 'popup.with_trainer'|trans|upper }}
                        {% endif %}-</p>
                </td>
            </tr>
            <tr style="background-color: #ecf3fb;">
                <td class="text-center" style="text-align: center; width: 30%">
                    <img width="20" height="20" src="{{ app.request.getSchemeAndHttpHost() }}/images/email_user.png"/>
                </td>
                <td style=" width: 70%;text-align: left;">
                    <p class="no-margin">
                        {% if 'ROLE_TRAINER' in profile.person.roles %}
                            {{ booked.learner.displayName }}
                        {% elseif 'ROLE_LEARNER' in profile.person.roles %}
                            {{ booked.trainer.displayName }}
                        {% endif %}
                    </p>
                </td>
                <td></td>
            </tr>
            <tr style="background-color: #ecf3fb;" >
                <td style="text-align: center; width: 30%">
                    <img width="20" height="20" src="{{ app.request.getSchemeAndHttpHost() }}/images/email_phone.png"/>
                </td>
                <td style=" width: 70%;text-align: left;">
                    <p class="no-margin">
                        {% if 'ROLE_TRAINER' in profile.person.roles %}
                            {{ booked.learner.mobilePhone }}
                        {% elseif 'ROLE_LEARNER' in profile.person.roles %}
                            {{ booked.trainer.mobilePhone }}
                        {% endif %}
                    </p>
                </td>
                <td></td>
            </tr>
            <tr style="background-color: #ecf3fb;">
                <td style=" text-align: center; width: 30%" class="text-center">
                    <img width="20" height="20" src="{{ app.request.getSchemeAndHttpHost() }}/images/email.png"/>
                </td>
                <td style=" width: 70%;text-align: left;">
                    <p class="no-margin">
                        {% if 'ROLE_TRAINER' in profile.person.roles %}
                            {{ booked.learner.person.email }}
                        {% elseif 'ROLE_LEARNER' in profile.person.roles %}
                            {{ booked.trainer.person.email }}
                        {% endif %}
                    </p>
                </td>
                <td></td>
            </tr>
            {% if booked.moduleSession and booked.moduleSession.sessionPlace %}
                <tr style="background-color: #ecf3fb; padding-bottom: 15px">
                    <td>
                    </td>
                    <td style=" width: 70%;text-align: center;">
                        <img width="20" height="20" src="{{ app.request.getSchemeAndHttpHost() }}/images/email_map.png"/><br>
                        <p class="no-margin">{{ booked.moduleSession.sessionPlace.address }}</p>
                    </td>
                    <td></td>
                </tr>
            {% endif %}
        {% elseif booked.module.storedModule.appId == constant('\\ApiBundle\\Entity\\StoredModule::VIRTUAL_CLASS') %}
            <!-- Virtual classroom -->
            <tr style="background-color: #ecf3fb; ">
                <td style=" text-align: center;" colspan="3">
                    <h2 style="font-weight: 900" class="no-margin">{{ booked.bookingDate|localizeddate('full', 'none', app.request.locale)|capitalize }}</h2>
                    <h3 style="font-weight: 500"> {{ booked.bookingDate|date('G:i', profile.person.timeZone.timeZone) }} to {{ booked.bookingDate|date_modify(duration)|date('G:i', profile.person.timeZone.timeZone) }}</h3>
                    <p class="text-color" style="font-weight: 600;color: #0076fe">-
                        {% if 'ROLE_TRAINER' in profile.person.roles %}
                            {{ 'popup.with_learner'|trans|upper }}
                        {% elseif 'ROLE_LEARNER' in profile.person.roles %}
                            {{ 'popup.with_trainer'|trans|upper }}
                        {% endif %}-</p>
                </td>
            </tr>
            <tr style="background-color: #ecf3fb;">
                <td class="text-center" style="text-align: center; width: 30%">
                    <img width="20" height="20" src="{{ app.request.getSchemeAndHttpHost() }}/images/email_user.png"/>
                </td>
                <td style=" width: 70%;text-align: left;">
                    <p class="no-margin">
                        {% if 'ROLE_TRAINER' in profile.person.roles %}
                            {{ booked.learner.displayName }}
                        {% elseif 'ROLE_LEARNER' in profile.person.roles %}
                            {{ booked.trainer.displayName }}
                        {% endif %}
                    </p>
                </td>
                <td></td>
            </tr>
            <tr style="background-color: #ecf3fb;" >
                <td style="text-align: center; width: 30%">
                    <img width="20" height="20" src="{{ app.request.getSchemeAndHttpHost() }}/images/email_phone.png"/>
                </td>
                <td style=" width: 70%;text-align: left;">
                    <p class="no-margin">
                        {% if 'ROLE_TRAINER' in profile.person.roles %}
                            {{ booked.learner.mobilePhone }}
                        {% elseif 'ROLE_LEARNER' in profile.person.roles %}
                            {{ booked.trainer.mobilePhone }}
                        {% endif %}
                    </p>
                </td>
                <td></td>
            </tr>
            <tr style="background-color: #ecf3fb; padding-bottom: 15px">
                <td style=" text-align: center; width: 30%" class="text-center">
                    <img width="20" height="20" src="{{ app.request.getSchemeAndHttpHost() }}/images/email.png"/>
                </td>
                <td style=" width: 70%; text-align: left;">
                    <p class="no-margin">
                        {% if 'ROLE_TRAINER' in profile.person.roles %}
                            {{ booked.learner.person.email }}
                        {% elseif 'ROLE_LEARNER' in profile.person.roles %}
                            {{ booked.trainer.person.email }}
                        {% endif %}
                    </p>
                </td>
                <td></td>
            </tr>
        {% elseif booked.module.storedModule.appId == constant('\\ApiBundle\\Entity\\StoredModule::ONLINE') %}
            <!-- Individual Remote Session 	 -->
            <tr style="background-color: #ecf3fb; ">
                <td style=" text-align: center;" colspan="3">
                    <h2 style="font-weight: 900" class="no-margin">{{ booked.bookingDate|localizeddate('full', 'none', app.request.locale)|capitalize }}</h2>
                    <h3 style="font-weight: 500"> {{ booked.bookingDate|date('G:i', profile.person.timeZone.timeZone) }} to {{ booked.bookingDate|date_modify(duration)|date('G:i', profile.person.timeZone.timeZone) }}</h3>
                    <p class="text-color" style="font-weight: 600;color: #0076fe">-
                        {% if 'ROLE_TRAINER' in profile.person.roles %}
                            {{ 'popup.with_learner'|trans|upper }}
                        {% elseif 'ROLE_LEARNER' in profile.person.roles %}
                            {{ 'popup.with_trainer'|trans|upper }}
                        {% endif %}-</p>
                </td>
            </tr>
            <tr style="background-color: #ecf3fb;">
                <td class="text-center" style="text-align: center; width: 30%">
                    <img width="20" height="20" src="{{ app.request.getSchemeAndHttpHost() }}/images/email_user.png"/>
                </td>
                <td style=" width: 70%;text-align: left;">
                    <p class="no-margin">
                        {% if 'ROLE_TRAINER' in profile.person.roles %}
                            {{ booked.learner.displayName }}
                        {% elseif 'ROLE_LEARNER' in profile.person.roles %}
                            {{ booked.trainer.displayName }}
                        {% endif %}
                    </p>
                </td>
                <td></td>
            </tr>
            <tr style="background-color: #ecf3fb;">
                <td class="text-center" style="text-align: center; width: 30%">
                    <img width="15" height="15" src="{{ app.request.getSchemeAndHttpHost() }}/images/email_building.png"/>
                </td>
                <td style=" width: 70%;text-align: left;">
                    <p class="no-margin">{{ booked.learner.entity.organisation.designation }} {{ booked.learner.entity.designation }}</p>
                </td>
                <td></td>
            </tr>
            <tr style="background-color: #ecf3fb;" >
                <td style="text-align: center; width: 30%">
                    <img width="20" height="20" src="{{ app.request.getSchemeAndHttpHost() }}/images/email_phone.png"/>
                </td>
                <td style=" width: 70%;text-align: left;">
                    <p class="no-margin">
                        {% if 'ROLE_TRAINER' in profile.person.roles %}
                            {{ booked.learner.mobilePhone }}
                        {% elseif 'ROLE_LEARNER' in profile.person.roles %}
                            {{ booked.trainer.mobilePhone }}
                        {% endif %}
                    </p>
                </td>
                <td></td>
            </tr>
            <tr style="background-color: #ecf3fb; padding-bottom: 15px">
                <td style=" text-align: center; width: 30%" class="text-center">
                    <img width="20" height="20" src="{{ app.request.getSchemeAndHttpHost() }}/images/email.png"/>
                </td>
                <td style=" width: 70%;text-align: left;">
                    <p class="no-margin">
                        {% if 'ROLE_TRAINER' in profile.person.roles %}
                            {{ booked.learner.person.email }}
                        {% elseif 'ROLE_LEARNER' in profile.person.roles %}
                            {{ booked.trainer.person.email }}
                        {% endif %}
                    </p>
                </td>
                <td></td>
            </tr>
        {% endif %}
    </table>
{% endblock %}

{% block footer %}
    {% if joinUrl is not null %}
        <a href="{{ joinUrl }}" class="btn" name="btnInitInt">{{ 'email.view'|trans }}</a>
    {% endif %}
{% endblock %}
