{% extends 'email/email_base.html.twig' %}
{% block title %}{{ 'email.new_course_registration'|trans|upper }}{% endblock %}

{% block head %}
    {{ parent() }}
{% endblock %}

 {% block logo %}
     <img width="200" height="100"
          id="logo"
          src="{{ domainUrl }}/{{ profile.entity.organisation.logo }}"
          alt="{{ profile.entity.organisation.designation }} logo"/>
     <br>
 {% endblock %}

{% block type %}
    <table style=" padding: 20px; width: 100%;text-transform: uppercase; background-color: #ED7D31; text-align: center;">
        <tr style="text-align: center;">
            <td>
                <p style="margin: 0; color: #fff; text-transform: uppercase">
                    {{ profile.entity.organisation.designation }} , {{ 'email.informs_you'|trans|upper }}
                </p>
                <p style="margin: 0; margin-top: 10px!important; color: #fff; font-size: 20px; font-weight: 900">
                    {{ 'admin.alerts.alerts_learner_not_start_course'|trans|upper }}
                </p>
            </td>
        </tr>
    </table>
    <br>
{% endblock %}

{% block content %}
    <table style="max-width:550px; min-width: 70%; padding: 10px; margin: auto; border: 1px solid #efefef; overflow-wrap: break-word; text-align: center; border-collapse: collapse;">
        <tr style="background-color: #DFE9FF; padding-top: 20px; padding-bottom: 20px;">
            <td style="text-align: center">
                <p style="font-weight: 900; font-size: 20px; color: #3273FF;">
                    {{ intervention.designation }}
                </p>
            </td>
        </tr>
        <tr style="padding:30px;">
            <td>
                <table width="100%">
                    <tr>
                        <td style="text-align: center;">
                            <p style="font-weight: 900;">
                                {{ 'admin.interventions.create.step1.description'|trans }}
                            </p>
                            <p style="font-size: 12px; margin: 0; text-align: justify;">{{ intervention.comment|raw }}</p>
                            <p>
                                {{ 'email.duration_course'|trans }}: <b>{{ duration|date('H:i:s') }}</b>
                            </p>
                            <p>
                                {{ 'global.available_from'|trans }} <b>{{ intervention.beginning|date("d/m/Y") }}</b> {{ 'global.available_to'|trans }} <b>{{ intervention.ending|date("d/m/Y") }}</b>
                            </p>
                            <br>
                        </td>
                    </tr>
                    <tr style="text-align: center;">
                        <table style="width: 100%">
                            <tr>
                                <td width="15%"></td>
                                <td style="text-align: center;background-color: #0076fe;height: 50px;" >
                                    <a href="{{ domainUrl }}{{ joinUrl }}" style="color: #ffffff; text-decoration: none; font-size: 18px; text-transform: uppercase"  name="btnInitInt">{{ 'email.to_access'|trans|upper }}</a>
                                </td>
                                <td width="15%"></td>
                            </tr>
                        </table>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    <br>
{% endblock %}
