{% extends 'email/email_base.html.twig' %}
{% block title %}{{ 'admin.alerts.booking_confirm'|trans }}{% endblock %}

{% block head %}
    {{ parent() }}
{% endblock %}

 {% block logo %}
     <img width="200" height="200" style="width: 200px; height: 200px;"
             id="logo"
             src="{{ app.request.getSchemeAndHttpHost() }}/{{ profile.entity.organisation.logo }}"
             alt="{{ profile.entity.organisation.designation }} logo"/>
     <br>
 {% endblock %}

{% block type %}
    <table style=" padding: 20px; width: 100%;text-transform: uppercase;
                background-color: #0076fe;
                text-align: center;">
        <tr style="text-align: center;">
            <td>
                <p style="margin: 0; color: #fff">
                    {{ profile.entity.organisation.designation }}, {{ 'email.informs_you'|trans|upper }}
                </p>
                <p style="margin: 0; margin-top: 10px!important; color: #fff; font-size: 20px; font-weight: 900">
                    {{ 'admin.alerts.booking_confirm'|trans|upper }} !
                </p>
            </td>
        </tr>
    </table>
    <br>
{% endblock %}

{% block content %}
    {% set hour = booked.module.duration|date('G', false) %}
    {% set minutes = booked.module.duration|date('i', false) %}
    {% set duration = '' %}
    {% if hour == '0' %}
        {% set duration = '+'~minutes~' min' %}
    {% elseif minutes == '00' %}
        {% set duration = '+'~ hour ~ 'hours' %}
    {% else %}
        {% set duration = '+' ~hour ~ ' hours' ~ ' +' ~ minutes~ ' min' %}
    {% endif %}

    <table style="max-width:550px; min-width: 70%; padding: 10px; margin: auto; border: 1px solid #efefef; overflow-wrap: break-word; text-align: center; border-collapse: collapse;">
        <tr style="padding-top: 20px; padding-bottom: 30px;">
           <td style="text-align: center; font-family: 'Montserrat', sans-serif;">
               <p style="font-weight: 900;font-size: 25px;color: #0076fe; margin-bottom: 0;margin-top: 20px;">
                   {% if booked.module.storedModule.appId == constant('\\ApiBundle\\Entity\\StoredModule::ONLINE') %}
                       {{ 'admin.interventions.mods.onlineseance'|trans }}
                   {% elseif booked.module.storedModule.appId == constant('\\ApiBundle\\Entity\\StoredModule::VIRTUAL_CLASS') %}
                       {{ 'admin.interventions.mods.virtualclass'|trans }}
                   {% elseif booked.module.storedModule.appId == constant('\\ApiBundle\\Entity\\StoredModule::PRESENTATION_ANIMATION') %}
                       {{ 'admin.interventions.mods.animation'|trans }}
                   {% endif %}
               </p>
               <p style="font-weight: 900; font-size: 20px; margin-top:5px; margin-bottom: 0;">{{ booked.module.designation }}</p>
               <p style="margin-top:10px; margin-bottom: 20px;">{{ booked.module.intervention.designation }}</p>
           </td>
        </tr>
        <tr style="background-color: #ecf3fb; padding-bottom: 20px; padding-top: 20px;">
            <td style="text-align: center;">
                <h2 style="font-weight: 900; margin-top: 10px; margin-bottom: 0;">{{ booked.bookingDate|localizeddate('full', 'none', app.request.locale)|capitalize }}</h2>
                <p style="margin-top:5px; margin-bottom: 0;"> {{ booked.bookingDate|date('G:i', profile.person.timeZone.timeZone) }} - {{ booked.bookingDate|date_modify(duration)|date('G:i', profile.person.timeZone.timeZone) }}</p>
                <p style="margin-top:10px;">
                    {{ 'admin.interventions.create.step1.duration'|trans }} : {{ booked.module.duration|date('H:i:s') }}
                </p>
                {% if booked.module.storedModule.appId == constant('\\ApiBundle\\Entity\\StoredModule::PRESENTATION_ANIMATION') %}
                    <h2 style="font-weight: 900; margin-bottom: 0;">
                        {{ 'admin.interventions.create.step2.place'|trans }}
                    </h2>
                    {% if booked.moduleSession and booked.moduleSession.sessionPlace %}
                        <p style="margin-top:5px; margin-bottom: 0;"> {{ booked.moduleSession.sessionPlace.address }}</p>
                        <p style="margin-top:10px;">
                            {{ booked.moduleSession.sessionPlace.place }}
                        </p>
                    {% endif %}
                {% endif %}
            </td>
        </tr>
        <tr>
            <td style="text-align: center">
                <br>
                <p style="font-size: 20px;">
                    {% if 'ROLE_TRAINER' in profile.person.roles %}
                        {{ 'admin.interventions.create.step1.learner' | trans }} :
                    {% elseif 'ROLE_LEARNER' in profile.person.roles %}
                        {{ 'admin.interventions.create.step1.trainer' | trans }} :
                    {% endif %}
                </p>
                <b style="font-size: 25px;">
                    {% if 'ROLE_TRAINER' in profile.person.roles %}
                        {{ booked.learner.displayName }}
                    {% elseif 'ROLE_LEARNER' in profile.person.roles %}
                        {{ booked.trainer.displayName }}
                    {% endif %}
                </b>
                <p style="margin-top:5px; margin-bottom: 0;">
                    {% if 'ROLE_TRAINER' in profile.person.roles %}
                        {{ booked.learner.mobilePhone }}
                    {% elseif 'ROLE_LEARNER' in profile.person.roles %}
                        {{ booked.trainer.mobilePhone }}
                    {% endif %}
                </p>
                <p style="margin-top:5px; margin-bottom: 0;">
                    {% if 'ROLE_TRAINER' in profile.person.roles %}
                        {{ booked.learner.person.email }}
                    {% elseif 'ROLE_LEARNER' in profile.person.roles %}
                        {{ booked.trainer.person.email }}
                    {% endif %}
                </p>
                <p style="margin-top:5px; margin-bottom: 0;">
                    {% if 'ROLE_TRAINER' in profile.person.roles %}
                        {{ booked.learner.entity.organisation.designation }}, {{ booked.learner.entity.designation }}
                    {% elseif 'ROLE_LEARNER' in profile.person.roles %}
                        {{ booked.trainer.entity.organisation.designation }}, {{ booked.trainer.entity.designation }}
                    {% endif %}
                </p>
                <br>
            </td>
        </tr>
        <tr style="padding:30px;">
            <td>
                <table width="100%">
                    <tr style="text-align: center;">
                        <table style="width: 100%">
                            <tr>
                                <td width="15%"></td>
                                <td style="text-align: center;background-color: #0076fe;height: 50px;" >
                                    <a href="{{ joinUrl }}" style="color: #ffffff; text-decoration: none; font-size: 18px; text-transform: uppercase"  name="btnInitInt">{{ 'email.to_access'|trans|upper }}</a>
                                </td>
                                <td width="15%"></td>
                            </tr>
                        </table>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    <br>
{% endblock %}
