{% extends 'email/email_base.html.twig' %}
{% block title %}{{ 'email.alerts_pending'|trans|upper }}{% endblock %}

{% block head %}
    {{ parent() }}
{% endblock %}

{% block logo %}
     <img
             id="logo"
             src="{{ domainUrl }}{{ profile.entity.organisation.logo }}"
             alt="{{ profile.entity.organisation.designation }} logo"/>
{% endblock %}

{% block type %}
    <p style="margin: 0; color: #fff">
        {{ profile.entity.organisation.designation }}, {{ 'email.informs_you'|trans|upper }}
    </p>
    <p style="margin: 0; margin-top: 10px!important; color: #fff; font-size: 20px; font-weight: 900">
        {{ 'email.alerts_pending'|trans|upper }}
    </p>
{% endblock %}

{% block midle %}
    <div id="midle" style="background-color: #f7dcdc!important;">
        <div class="row" style="width: 100%">
            <div class=" text-right" style="width: 30%">
                <button style="border: none;height: 40px!important; width: 40px!important; border-radius: 50%; background-color: #fff;" >
                    <embed src="{{ domainUrl }}/images/ICONS-17.svg" width="22" height="22"
                           type="image/svg+xml"/>
                </button>
            </div>
            <div class="text-left" style="width: 70%; font-size: 13px;color:red!important;margin: auto">
                <p class="no-margin">&nbsp;&nbsp;&nbsp;{{ 'email.pending_msg'|trans }}</p>
                <p class="no-margin">&nbsp;&nbsp;&nbsp;{{ 'email.join_msg'|trans }}</p>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
   <p style="color: red;font-size: 30px;">{{ 'email.you_have'|trans|upper }} <span style="color: red; font-size: 40px!important;">{{ alerts }}</span> {{ 'admin.dashboard.nav.alerts'|trans|upper }}</p>
{% endblock %}


{% block footer %}
    <a href="{{ domainUrl }}{{ joinUrl }}" class="btn" name="btnInitInt">{{ 'email.view'|trans }}</a>
{% endblock %}
