{% extends 'email/email_base.html.twig' %}
{% block title %}{{ 'email.course_modification'|trans|upper }}{% endblock %}

{% block head %}
    {{ parent() }}
{% endblock %}

 {% block logo %}
     <img
             id="logo"
             src="{{ app.request.getSchemeAndHttpHost() }}{{ profile.entity.organisation.logo }}"
             alt="{{ profile.entity.organisation.designation }} logo"/>
 {% endblock %}

{% block type %}
    <p style="margin: 0; color: #fff">
        {{ profile.entity.organisation.designation }}, {{ 'email.informs_you'|trans|upper }}
    </p>
    <p style="margin: 0; margin-top: 10px!important; color: #fff; font-size: 20px; font-weight: 900">
         {{ 'email.course_modification'|trans|upper }}
    </p>
{% endblock %}

{% block midle %}
    <div id="midle">
        <div class="row" style="width: 100%">
            <div class="flex-center" style="width: 20%">
                <i style="font-size: 50px;" class="fa fa-info-circle" aria-hidden="true"></i>
            </div>
            <div class="text-left" style="width: 80%;margin: auto;font-size: 13px;">
                <p class="text-color no-margin ">{{ 'email.course_modification_msg'|trans }}</p>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="row" style="max-width: 400px; margin: auto; padding-top: 20px; ">
        <div style="width: 100%; box-shadow: 0 1px 4px 0 #DADADA;" class="card card-chart">
            <div class="card-header bg-header d-flex justify-content-center align-items-center" style="height: 200px;">
                {% if intervention.logo is not null %}
                    <img height="200px" src="{{ app.request.getSchemeAndHttpHost() }}/files/{{ intervention.logo.path }}" />
                {% endif %}
            </div>
            <div style="padding:10px; width: 100%;" class="text-left">
                <b style="font-size: 13px!important;font-weight: 800;" class="card-title long-text">{{ intervention.designation }}</b>
                <p style="font-size: 12px; color: grey">{{ 'global.available_from'|trans }}  {{ intervention.beginning|date("d/m/Y") }} {{ 'global.available_to'|trans }}  {{ intervention.ending|date("d/m/Y") }}</p>
                <p class="no-margin" style="font-size: 12px;">{{ intervention.comment|raw }}</p>
            </div>
            <div class="text-color" style=" margin-right:10px!important; margin-bottom: 10px; text-align: right!important; justify-content:unset!important; ">
                <i class="fa fa-clock-o"></i>&nbsp;&nbsp;{{ duration }}
            </div>
        </div>
    </div>
{% endblock %}


{% block footer %}
    <a href="{{ joinUrl }}" class="btn" name="btnInitInt">{{ 'email.view'|trans }}</a>
{% endblock %}
