{% extends 'email/email_base.html.twig' %}
{% block title %}{{ 'email.platform_registration'|trans|upper }}{% endblock %}

{% block head %}
    {{ parent() }}
{% endblock %}

 {% block logo %}
     <img width="200" height="200" style="width: 200px; height: 200px;"
          id="logo"
          src="{{ app.request.getSchemeAndHttpHost() }}/{{ profile.entity.organisation.logo }}"
          alt="{{ profile.entity.organisation.designation }} logo"/>
     <br>
 {% endblock %}

{% block type %}
    <table style=" padding: 20px; width: 100%;text-transform: uppercase;
                background-color: #0076fe;
                text-align: center;">
        <tr style="text-align: center;">
            <td>
                <p style="margin: 0; color: #fff">
                    {{ profile.entity.organisation.designation }}, {{ 'email.informs_you'|trans|upper }}
                </p>
                <p style="margin: 0; margin-top: 10px!important; color: #fff; font-size: 20px; font-weight: 900">
                    {{ 'email.platform_registration'|trans|upper }}
                </p>
            </td>
        </tr>
    </table>
    <br>
{% endblock %}

{% block content %}
    <table style="max-width:550px; min-width: 70%; padding: 10px; margin: auto; border: 1px solid #efefef; overflow-wrap: break-word; text-align: center">
        <tr style="padding:30px;">
            <td>
                <table width="100%">
                    <tr>
                        <td style="text-align: center;">
                            <h2 class="text-center" style="color:#0076fe ">{{ 'email.congratulations'|trans }} !</h2>
                            <p class="text-center">{{ 'email.you_have_joined_the'|trans }} {{ 'email.match_learning_platform'|trans }}</p>
                            <p class="text-center">{{ 'email.your_username'|trans }} : <br>
                                <b>{% if email is defined %} {{ email }} {% else %} {{ profile.person.email }} {% endif %}</b>
                            </p>
                            {% if yourPassword is defined %}
                            <p class="text-center">{{ 'email.your_password'|trans }} : <br>
                                <b>{{ yourPassword }}</b>
                            </p>
                            {% endif %}
                            <p>
                                {{ 'email.text_registration'|trans }} <br />
                                {{ 'email.text_config'|trans }}
                            </p>
                            <br>
                        </td>
                    </tr>
                    <tr style="text-align: center;">
                        <table style="width: 100%">
                            <tr>
                                <td width="15%"></td>
                                <td style="text-align: center;background-color: #0076fe;height: 50px;" >
                                    <a href="{{ joinUrl }}" style="color: #ffffff; text-decoration: none; font-size: 18px; text-transform: uppercase"  name="btnInitInt">{{ 'email.to_access'|trans|upper }}</a>
                                </td>
                                <td width="15%"></td>
                            </tr>
                        </table>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
{% endblock %}

