{% extends 'email/email_base.html.twig' %}
{% block title %}{{ 'email.new_course_registration'|trans|upper }}{% endblock %}

{% block head %}
    {{ parent() }}
{% endblock %}

 {% block logo %}
     <img width="200" height="100"
          id="logo"
          src="{{ app.request.getSchemeAndHttpHost() }}/{{ profile.entity.organisation.logo }}"
          alt="{{ profile.entity.organisation.designation }} logo"/>
     <br>
 {% endblock %}

{% block type %}
    <table style=" padding: 20px; width: 100%;text-transform: uppercase;
                background-color: #0076fe;
                text-align: center;">
        <tr style="text-align: center;">
            <td>
                <p style="margin: 0; color: #fff">
                    {{ profile.entity.organisation.designation }} , {{ 'email.informs_you'|trans|upper }}
                </p>
                <p style="margin: 0; margin-top: 10px!important; color: #fff; font-size: 20px; font-weight: 900">
                    {{ 'admin.alerts.alerts_new_exercises_for_correction'|trans|upper }}
                </p>
            </td>
        </tr>
    </table>
    <br>
{% endblock %}

{% block content %}
    <table style="width: 500px; margin: auto; border: 1px solid #efefef; overflow-wrap: break-word; text-align: center; border-collapse: collapse;">
        <tr style="background-color: #DFE9FF; padding-top: 20px; padding-bottom: 30px;">
            <td style="text-align: center">
                <p style="font-weight: 900; font-size: 25px; color: #3273FF; margin-bottom: 0; margin-top: 20px;">
                    {{ exercises.answer.play.quiz.title|default('') }}
                </p>
            </td>
        </tr>
        <tr style="padding-bottom: 20px; padding-top: 20px;">
            <td style="text-align: center;">
                <table width="100%">
                    <tr>
                        <td style="text-align: center;">
                            <p>
                                <b>{{ exercises.answer.question.question|default('')|raw }}</b>
                            </p>
                            <br>
                        </td>
                    </tr>
                    <tr style="text-align: center;">
                        <table style="width: 100%">
                            <tr>
                                <td width="15%"></td>
                                <td style="text-align: center;background-color: #0076fe;height: 50px;" >
                                    <a href="{{ joinUrl }}" style="color: #ffffff; text-decoration: none; font-size: 18px; text-transform: uppercase"  name="btnInitInt">{{ 'email.to_access'|trans|upper }}</a>
                                </td>
                                <td width="15%"></td>
                            </tr>
                        </table>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    <br>
{% endblock %}
