{% extends 'email/email_base.html.twig' %}
{% block title %}{{ 'email.planning_update_requested'|trans|upper }}{% endblock %}

{% block head %}
    {{ parent() }}
{% endblock %}

 {% block logo %}
     <img
             id="logo"
             src="{{ domainUrl }}{{ profile.entity.organisation.logo }}"
             alt="{{ profile.entity.organisation.designation }} logo"/>
 {% endblock %}

{% block type %}
    <p style="margin: 0; color: #fff">
        {{ profile.entity.organisation.designation }}, {{ 'email.informs_you'|trans|upper }}
    </p>
    <p style="margin: 0; margin-top: 10px!important; color: #fff; font-size: 20px; font-weight: 900">
        {{ 'email.planning_update_requested'|trans|upper }}
    </p>
{% endblock %}

{% block midle %}
    <div id="midle">
        <div class="row" style="width: 100%">
            <div class="flex-center" style="width: 20%">
                <i style="font-size: 50px;" class="fa fa-info-circle" aria-hidden="true"></i>
            </div>
            <div class="text-left" style="width: 80%; font-size: 13px;margin: auto;">
                <p class="text-color no-margin">{{ 'email.planning_update_msg'|trans }}</p>
                <p class="text-color no-margin">{{ 'email.planning_update_msg_1'|trans }}</p>
                <p class="text-color no-margin">{{ 'email.planning_update_msg_2'|trans }}</p>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <br>
    <div class="flex-center" style="background-color: #0076fe; margin:auto;border-radius: 50%; width: 60px;height: 60px;">
        <i style="color: #fff;" class="fa fa-calendar"></i>
    </div>
{% endblock %}


{% block footer %}
    <a href="{{ joinUrl }}" class="btn" name="btnInitInt">{{ 'email.update_your_planning'|trans|upper }}</a>
{% endblock %}
