
{% extends 'email/email_base.html.twig' %}
{% block title %}{{ 'email.new_course_assignment'|trans|upper }}{% endblock %}

{% block head %}
    {{ parent() }}
{% endblock %}

 {% block logo %}
     <img width="200" height="100"
             id="logo"
             src="{{ app.request.getSchemeAndHttpHost() }}{{ profile.entity.organisation.logo }}"
             alt="{{ profile.entity.organisation.designation }} logo"/>
     <br>
 {% endblock %}

{% block type %}
    <table style=" padding: 20px; width: 100%;text-transform: uppercase;
                background-color: #0076fe;
                text-align: center;">
        <tr style="text-align: center;">
            <td style="padding-top: 10px; padding-bottom: 10px;">
                <p style="margin: 0; color: #fff; text-transform: uppercase">
                    {{ profile.entity.organisation.designation }}, {{ 'email.informs_you'|trans|upper }}
                </p>
                <p style="margin: 0; margin-top: 10px!important; color: #fff; font-size: 20px; font-weight: 900;text-transform: uppercase">
                    {{ 'email.new_session_assignment'|trans|upper }}
                </p>
            </td>
        </tr>
    </table>
    <br>
{% endblock %}

{% block content %}
    {% set hour = assignment.module.duration|date('G', false) %}
    {% set minutes = assignment.module.duration|date('i', false) %}
    {% set duration = '' %}
    {% if hour == '0' %}
        {% set duration = '+'~minutes~' min' %}
    {% elseif minutes == '00' %}
        {% set duration = '+'~ hour ~ 'hours' %}
    {% else %}
        {% set duration = '+' ~hour ~ ' hours' ~ ' +' ~ minutes~ ' min' %}
    {% endif %}
    <table style="max-width:550px; min-width: 70%; padding: 10px; margin: auto; border: 1px solid #efefef; overflow-wrap: break-word; text-align: center; border-collapse: collapse;">
        <tr style="padding-top: 20px; padding-bottom: 30px;">
            <td style="text-align: center">
                <p style="font-weight: 900;font-size: 25px;color: #0076fe; margin-bottom: 0;margin-top: 20px;">
                    {% if assignment.module.storedModule.appId == constant('\\ApiBundle\\Entity\\StoredModule::ONLINE') %}
                        {{ 'admin.interventions.mods.onlineseance'|trans }}
                    {% elseif assignment.module.storedModule.appId == constant('\\ApiBundle\\Entity\\StoredModule::VIRTUAL_CLASS') %}
                        {{ 'admin.interventions.mods.virtualclass'|trans }}
                    {% elseif assignment.module.storedModule.appId == constant('\\ApiBundle\\Entity\\StoredModule::PRESENTATION_ANIMATION') %}
                        {{ 'admin.interventions.mods.animation'|trans }}
                    {% endif %}
                </p>
                <p style="font-weight: 900; font-size: 20px; margin-top:5px; margin-bottom: 0;">{{ assignment.module.designation }}</p>
                <p style="margin-top:10px; margin-bottom: 20px;">{{ intervention.designation }}</p>
            </td>
        </tr>
        <tr style="background-color: #ecf3fb; padding-bottom: 20px; padding-top: 20px;">
            <td style="text-align: center;">
                <h2 style="font-weight: 900; margin-top: 10px; margin-bottom: 0;">{{ assignment.moduleSession.session.sessionDate|localizeddate('full', 'none', app.request.locale)|capitalize }}</h2>
                <p style="margin-top:5px; margin-bottom: 0;">{{ assignment.moduleSession.session.sessionDate|date('G:i') }} - {{ assignment.moduleSession.session.sessionDate|date_modify(duration)|date('G:i') }}</p>
                <p style="margin-top:10px;">
                    {{ 'admin.interventions.create.step1.duration'|trans }} : {{ assignment.module.duration|date('H:i:s') }}
                </p>
                {% if assignment.module.storedModule.appId == constant('\\ApiBundle\\Entity\\StoredModule::PRESENTATION_ANIMATION') %}
                    <h2 style="font-weight: 900; margin-bottom: 0;">
                        {{ 'admin.interventions.create.step2.place'|trans }}
                    </h2>
                    {% if assignment.moduleSession and assignment.moduleSession.sessionPlace %}
                        <p style="margin-top:5px;">{{ assignment.moduleSession.sessionPlace.address }}<br>{{ assignment.moduleSession.sessionPlace.place }}</p>
                    {% endif %}
                {% endif %}
            </td>
        </tr>
        {% if assignment.module.storedModule.appId == constant('\\ApiBundle\\Entity\\StoredModule::ONLINE') %}
            <tr>
                <td style="text-align: center">
                    <br>
                    <p style="font-size: 20px;">
                        {{ 'admin.interventions.create.step1.learner' | trans }} :
                    </p>
                    <b style="font-size: 25px;">
                        Name
                    </b>
                    <p style="margin-top:5px; margin-bottom: 0;">mobilePhone</p>
                    <p style="margin-top:5px; margin-bottom: 0;"> email </p>
                    <p style="margin-top:5px; margin-bottom: 0;">organisation, entity</p>
                    <br>
                </td>
            </tr>
        {% endif %}
        <tr style="padding:30px;">
            <td>
                <table style="width: 100%">
                    <tr>
                        <td colspan="3"><br></td>
                    </tr>
                    <tr>
                        <td width="15%"></td>
                        <td style="text-align: center;background-color: #0076fe;height: 50px;" >
                            <a href="{{ joinUrl }}" style="color: #ffffff; text-decoration: none; font-size: 18px; text-transform: uppercase"  name="btnInitInt">{{ 'email.to_access'|trans|upper }}</a>
                        </td>
                        <td width="15%"></td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    <br>
{% endblock %}
