{% extends 'email/email_base.html.twig' %}
{% block title %}{{ 'email.new_current_activity'|trans|upper }}{% endblock %}

{% block head %}
    {{ parent() }}
{% endblock %}

 {% block logo %}
     <img width="200" height="100"
          id="logo"
          src="{{ app.request.getSchemeAndHttpHost() }}{{ profile.entity.organisation.logo }}"
          alt="{{ profile.entity.organisation.designation }} logo"/>
     <br>
 {% endblock %}

{% block type %}
    <table style=" padding: 20px; width: 100%; text-transform: uppercase;
                background-color: #ED7D31;
                text-align: center;">
        <tr style="text-align: center;">
            <td style="padding-top: 10px; padding-bottom: 10px;">
                <p style="margin: 0; color: #fff; text-transform: uppercase">
                    {{ profile.entity.organisation.designation }} , {{ 'email.informs_you'|trans|upper }}
                </p>
                <p style="margin: 0; margin-top: 10px!important; color: #fff; font-size: 20px; font-weight: 900;text-transform: uppercase">
                    {{ 'email.new_current_activity'|trans|upper }}
                </p>
            </td>
        </tr>
    </table>
    <br>
{% endblock %}

{% block content %}
    <table style="max-width:550px; min-width: 70%; padding: 10px; margin: auto; border: 1px solid #efefef; overflow-wrap: break-word; text-align: center; border-collapse: collapse;">
        <tr style="background-color: #ecf3fb; padding-bottom: 20px; padding-top: 20px;">
            <td style="text-align: center;">
                <p style="font-size: 20px; color:#0076fe; font-weight: 900; padding-left: 20px; padding-right: 20px">{{ 'email.new_current_activity_msg'|trans }}</p>
            </td>
        </tr>
        <tr style="padding:30px;">
            <td>
                <table width="100%">
                    <tr>
                        <td style="text-align: center;">
                            <p style="font-weight: 900; color: red; font-size: 20px;">
                                3 - {{ 'email.alerts_to_deal'|trans }}
                            </p>
                            <p style="font-weight: 900; font-size: 17px; margin: 0; margin-bottom: 15px;">
                                3 - {{ 'email.reports_to_be_made'|trans }}
                            </p>
                            <p style="font-weight: 900; font-size: 17px; margin: 0; margin-bottom: 15px;">
                                3 - {{ 'email.exercises_to_correct'|trans }}
                            </p>
                            <p style="font-weight: 900; font-size: 17px; margin: 0; margin-bottom: 15px;">
                                3 - {{ 'email.new_assignment_assigned'|trans }}
                            </p>
                            <p style="font-weight: 900; font-size: 17px; margin: 0;margin-bottom: 15px;">
                                3 - {{ 'email.planning_to_update'|trans }}
                            </p>
                        </td>
                    </tr>
                    <tr style="text-align: center;">
                        <table style="width: 100%">
                            <tr>
                                <td width="15%"></td>
                                <td style="text-align: center;background-color: #0076fe;height: 50px;" >
                                    <a href="{{ joinUrl }}" style="color: #ffffff; text-decoration: none; font-size: 18px; text-transform: uppercase"  name="btnInitInt">{{ 'email.to_access'|trans|upper }}</a>
                                </td>
                                <td width="15%"></td>
                            </tr>
                        </table>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    <br>
{% endblock %}
