{% extends 'email/email_base.html.twig' %}
{% block title %}{{ 'email.replacement_deny'|trans|upper }}{% endblock %}

{% block head %}
    {{ parent() }}
{% endblock %}

 {% block logo %}
     <img
             id="logo"
             src="{{ app.request.getSchemeAndHttpHost() }}{{ profile.entity.organisation.logo }}"
             alt="{{ profile.entity.organisation.designation }} logo"/>
 {% endblock %}

{% block type %}
    <p style="margin: 0; color: #fff">
        {{ profile.entity.organisation.designation }}, {{ 'email.informs_you'|trans|upper }}
    </p>
    <p style="margin: 0; margin-top: 10px!important; color: #fff; font-size: 20px; font-weight: 900">
        {{ 'email.replacement_deny'|trans|upper }}
    </p>
{% endblock %}


{% block midle %}
    <div id="midle">
        <div class="row" style="width: 100%">
            <div class="flex-center" style="width: 20%">
                <i style="font-size: 50px;" class="fa fa-info-circle" aria-hidden="true"></i>
            </div>
            <div class="text-left" style="width: 80%;margin: auto; font-size: 13px;">
                <p class="text-color no-margin">{{ 'email.replacement_deny_msg'|trans }}</p>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    {% set hour = booked.module.duration|date('G', false) %}
    {% set minutes = booked.module.duration|date('i', false) %}
    {% set duration = '' %}
    {% if hour == '0' %}
        {% set duration = '+'~minutes~' min' %}
    {% elseif minutes == '00' %}
        {% set duration = '+'~ hour ~ 'hours' %}
    {% else %}
        {% set duration = '+' ~hour ~ ' hours' ~ ' +' ~ minutes~ ' min' %}
    {% endif %}
    <div class="row" style="max-width: 400px;margin: auto;margin-top: 20px; border: 1px solid #fca00c;">
        <div class="row" style="width: 100%;padding:10px;">
            <div class="flex-center" style=" text-align: left!important; justify-content:unset!important; width: 50%;">
                <span class="module-circle booked" style="background-color:#fca00c; width: 20px !important; height: 20px !important;"></span> &nbsp; &nbsp; <span class="booked" style="font-size: 14px; font-weight: 800;color:#fca00c;"> &nbsp;{{ 'email.deny'|trans }}</span>
            </div>
            <div style="width: 50%; text-align: right!important; justify-content:unset!important; ">
                <i class="fa fa-clock-o"></i>&nbsp;&nbsp;{{ booked.module.duration|date('H:i:s') }}
            </div>
        </div>
        {% if booked.module.storedModule.appId == constant('\\ApiBundle\\Entity\\StoredModule::PRESENTATION_ANIMATION') %}
            <!-- Classroom training -->
            <div class="row" style="padding-bottom:30px!important;background-color: #ecf3fb;">
                <div class="text-center" style="padding-top:15px; width: 100%; ">
                    <h2 style="font-weight: 900" class="no-margin">{{ booked.bookingDate|localizeddate('full', 'none', app.request.locale)|capitalize }}</h2>
                    <h3 style="font-weight: 500"> {{ booked.bookingDate|date('G:i', profile.person.timeZone.timeZone) }} {{ 'global.to'|trans }} {{ booked.bookingDate|date_modify(duration)|date('G:i', profile.person.timeZone.timeZone) }}</h3>
                    <p class="text-color" style="font-weight: 600">-{{ 'popup.with_trainer'|trans|upper }}-</p>
                </div>
                <div class="no-padding text-right" style="width: 30%;">
                    <i class="fa fa-user"></i>
                </div>
                <div class=" text-left" style="width: 70%;">
                    <p class="no-margin">&nbsp;&nbsp;&nbsp;{{ booked.trainer.displayName }}</p>
                </div>
                <div class=" no-padding text-right" style="width: 30%;">
                    <i class="fa fa-phone" aria-hidden="true"></i>
                </div>
                <div class="text-left" style="width: 70%;">
                    <p class="no-margin">&nbsp;&nbsp;&nbsp;{{ booked.trainer.mobilePhone }}</p>
                </div>
                <div class="no-padding text-right" style="width: 30%;">
                    <i class="fa fa-envelope" aria-hidden="true"></i>
                </div>
                <div class="text-left" style="width: 70%;">
                    <p class="no-margin">&nbsp;&nbsp;&nbsp;{{ booked.trainer.person.email }}</p>
                </div>
                {% if booked.moduleSession and booked.moduleSession.sessionPlace %}
                    <div class="text-center " style="margin-top: 15px; width: 100%;">
                        <i class="fa fa-map-marker" style="font-size: 25px; margin-bottom: 15px;" aria-hidden="true"></i>
                        <p id="modal-address" class="no-margin">{{ booked.moduleSession.sessionPlace.address }}</p>
                    </div>
                {% endif %}
            </div>
        {% elseif booked.module.storedModule.appId == constant('\\ApiBundle\\Entity\\StoredModule::VIRTUAL_CLASS') %}
            <!-- Virtual classroom -->
            <div class="row" style="padding-bottom:30px!important;background-color: #ecf3fb;">
                <div class="text-center" style="padding-top:15px; width: 100%; ">
                    <h2 style="font-weight: 900" class="no-margin">{{ booked.bookingDate|localizeddate('full', 'none', app.request.locale)|capitalize }}</h2>
                    <h3 style="font-weight: 500"> {{ booked.bookingDate|date('G:i', profile.person.timeZone.timeZone) }} {{ 'global.to'|trans }} {{ booked.bookingDate|date_modify(duration)|date('G:i', profile.person.timeZone.timeZone) }}</h3>
                    <p class="text-color" style="font-weight: 600">-{{ 'popup.with_trainer'|trans|upper }}-</p>
                </div>
                <div class="no-padding text-right" style="width: 30%;">
                    <i class="fa fa-user"></i>
                </div>
                <div class=" text-left" style="width: 70%;">
                    <p class="no-margin">&nbsp;&nbsp;&nbsp;{{ booked.trainer.displayName }}</p>
                </div>
                <div class=" no-padding text-right" style="width: 30%;">
                    <i class="fa fa-phone" aria-hidden="true"></i>
                </div>
                <div class="text-left" style="width: 70%;">
                    <p class="no-margin">&nbsp;&nbsp;&nbsp;{{ booked.trainer.mobilePhone }}</p>
                </div>
                <div class="no-padding text-right" style="width: 30%;">
                    <i class="fa fa-envelope" aria-hidden="true"></i>
                </div>
                <div class="text-left" style="width: 70%;">
                    <p class="no-margin">&nbsp;&nbsp;&nbsp;{{ booked.trainer.person.email }}</p>
                </div>
            </div>
        {% elseif booked.module.storedModule.appId == constant('\\ApiBundle\\Entity\\StoredModule::ONLINE') %}
            <!-- Individual Remote Session 	 -->
            <div class="row" style="padding-bottom:30px!important;background-color: #ecf3fb;">
                <div class="text-center" style="padding-top:15px; width: 100%; ">
                    <h2 style="font-weight: 900" class="no-margin">{{ booked.bookingDate|localizeddate('full', 'none', app.request.locale)|capitalize }}</h2>
                    <h3 style="font-weight: 500"> {{ booked.bookingDate|date('G:i', profile.person.timeZone.timeZone) }} {{ 'global.to'|trans }} {{ booked.bookingDate|date_modify(duration)|date('G:i', profile.person.timeZone.timeZone) }}</h3>
                    <p class="text-color" style="font-weight: 600">-{{ 'popup.with_learner'|trans|upper }}-</p>
                </div>
                <div class="no-padding text-right" style="width: 30%;">
                    <i class="fa fa-user"></i>
                </div>
                <div class=" text-left" style="width: 70%;">
                    <p class="no-margin">&nbsp;&nbsp;&nbsp;{{ booked.learner.displayName }}</p>
                </div>
                <div class="no-padding text-right" style="width: 30%;">
                    <i class="fa fa-building"></i>
                </div>
                <div class=" text-left" style="width: 70%;">
                    <p class="no-margin">&nbsp;&nbsp;&nbsp;{{ booked.learner.entity.organisation.designation }} {{ booked.learner.entity.designation }}</p>
                </div>
                <div class=" no-padding text-right" style="width: 30%;">
                    <i class="fa fa-phone" aria-hidden="true"></i>
                </div>
                <div class="text-left" style="width: 70%;">
                    <p class="no-margin">&nbsp;&nbsp;&nbsp;{{ booked.learner.mobilePhone }}</p>
                </div>
                <div class="no-padding text-right" style="width: 30%;">
                    <i class="fa fa-envelope" aria-hidden="true"></i>
                </div>
                <div class="text-left" style="width: 70%;">
                    <p class="no-margin">&nbsp;&nbsp;&nbsp;{{ booked.learner.person.email }}</p>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}


{% block footer %}
    <a href="{{ joinUrl }}" class="btn" name="btnInitInt">{{ 'email.view'|trans }}</a>
{% endblock %}
