<!DOCTYPE html>
<html
        xmlns="http://www.w3.org/1999/xhtml"
        lang="en">

<head>
    {% block head %}
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

        <title>{% block title %}{% endblock %}</title>
        <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700" rel="stylesheet">
        <style>
            body {
                margin: 0 auto !important;
                padding: 0 !important;
                height: 100% !important;
                width: 100% !important;
            }
            * {
                -ms-text-size-adjust: 100%;
            }
            table,
            td {
                mso-table-lspace: 0pt !important;
                mso-table-rspace: 0pt !important;
            }
            .module-circle {
                border-radius: 50%;
            }
            .flex-center {
                display: flex;
                align-items: center;
                justify-content: center;
            }
            .module{
                font-weight: 900;
                font-size: 20px;
            }
            .no-padding{
                padding:0;
            }
            .no-margin{
                margin:0;
            }
            .row {
                display: flex;
                flex-wrap: wrap;
            }
            .text-center{
                text-align: center;
            }
            body {
                font-family: 'Montserrat', sans-serif;
                font-size: 16px;
            }
            #background {
                max-width: 800px;
                margin: auto;
                background-color:#fff;
            }
            #wrapper {
                border-radius: 5px;
                padding: 15px;
            }
            #type{
                padding: 20px;
                background-color: #0076fe;
                text-align: center;
            }
            #midle{
                padding: 20px;
                background-color: #E5F0FC;
                text-align: center;
                color:#0076fe;
            }
            #logo {
                display: block;
                height: 160px;
                margin: auto;
            }
            #content {
                text-align: center;
                padding: 15px;
            }
            #footer {
                text-align: center;
                padding-top: 20px;
            }
            h2 { font-size: 24px; }
            h3 { font-size: 18px; margin-bottom: .2em; }

            dl {
                margin-top: 0;
                margin-bottom: 2em;
            }

            dl > div {
                padding: 6px 0;
                display: flex;
                flex-wrap: wrap;
            }
            dl dt {
                font-weight: 500;
                width: 150px;
            }
            dl dd {
                margin-left: 0;
            }
            a {
                color: #003B5C;
            }
            .text-color{
                color: #0076f;
            }
            .btn{
                background-color: #0076fe;
                position: relative;
                padding: 12px 30px;
                margin: 0.3125rem 1px;
                font-size: .75rem;
                font-weight: 400;
                line-height: 1.428571;
                text-decoration: none;
                text-transform: uppercase;
                letter-spacing: 0;
                cursor: pointer;
                border: 0;
                border-radius: 0.2rem;
                outline: 0;
                transition: box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1), background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
                will-change: box-shadow, transform;
                color: #fff;
            }
            .text-left{
                text-align: left;
            }
            .text-right{
                text-align: right;
            }
            .msg{
                margin-bottom: 10px;
                margin-top: 10px;
            }
            .bold{
                font-weight: 900;
            }
        </style>
    {% endblock %}
</head>

<body>
<div id="background">
    <div id="wrapper">
        <div id="content">
            {#<header id="header">
                {% block logo %}
                {% endblock %}
            </header>#}
            <main id="content">
                {% block type %}
                {% endblock %}

                {% block midle %}
                {% endblock %}

                {% block content %}
                {% endblock %}

            </main>
            <footer id="footer">
                {% block footer %}{% endblock %}
                <br />
                <br />
                <hr style="border-top: 1px dotted;">
                <p style="font-size: 12px;" class="msg pt-3">{{ 'email.email_message'|trans }} {{ 'email.thanks_message'|trans }}</p>
            </footer>
        </div>
    </div>
</div>
</body>
</html>
