{% extends "base.html.twig" %}

{% block pagename %}{{ 'admin.billings.title'|trans }}{% endblock %}

{% block body %}
    <div class="card card-pane">
        <div class="card-header">
            <ul class="nav nav-pills" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#furnish-table" role="tablist">
                        {{ 'admin.billings.providers'|trans }}
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#client-table" role="tablist">
                        {{ 'admin.billings.clients'|trans }}
                    </a>
                </li>
            </ul>
        </div>

        <div class="card-body">
            <div class="tab-content tab-space">
                <div class="tab-pane active" id="furnish-table">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>{{ 'admin.billings.provider'|trans }}</th>
                                <th>{{ 'admin.billings.intervention_name'|trans }}</th>
                                <th>{{ 'admin.billings.product'|trans }}</th>
                                <th>{{ 'admin.billings.date'|trans }}</th>
                                <th>{{ 'admin.billings.bill_number'|trans }}</th>
                                <th>{{ 'admin.billings.amount'|trans }}</th>
                                <th>{{ 'admin.billings.state'|trans }}</th>
                                <th>
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <input class="form-check-input check-all-input" type="checkbox" value="">
                                            <span class="form-check-sign">
                                <span class="check"></span>
                            </span>
                                        </label>
                                    </div>
                                </th>
                            </tr>
                            </thead>

                            <tbody>
                            {% for bill in billings.providers %}
                                <tr>
                                    <td>
                                        {{ bill.firstname }} {{ bill.lastname }} <br>
                                        {{ bill.mobile_number }}<br>
                                        {{ bill.email }}
                                    </td>

                                    <td>{{ bill.intervention_name }}</td>
                                    <td>{{ bill.product_to_bill }}</td>
                                    <td>{{ bill.date }}</td>
                                    <td>{{ bill.bill_number }}</td>
                                    <td>{{ bill.amount }}</td>
                                    <td>
                                        <div class="togglebutton togglebutton-specialmargin">
                                            <label>
                                                <input type="checkbox" checked="checked">
                                                <span class="toggle"></span>
                                            </label>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-check">
                                            <label class="form-check-label">
                                                <input class="form-check-input" type="checkbox" value="">
                                                <span class="form-check-sign">
																<span class="check"></span>
														</span>
                                            </label>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>

                    <div class="text-right">
                        <a href="#" class="btn btn-navy btn-sm">{{ 'admin.billings.auto_paiement'|trans }}</a>
                    </div>
                </div>

                <div class="tab-pane" id="client-table">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>{{ 'admin.billings.org'|trans }}</th>
                                <th>{{ 'admin.billings.entity'|trans }}</th>
                                <th>{{ 'admin.billings.asked_by'|trans }}</th>
                                <th>{{ 'admin.billings.product'|trans }}</th>
                                <th>{{ 'admin.billings.date'|trans }}</th>
                                <th>{{ 'admin.billings.bill_number'|trans }}</th>
                                <th>{{ 'admin.billings.amount'|trans }}</th>
                                <th>{{ 'admin.billings.action'|trans }}</th>
                                <th>
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <input class="form-check-input check-all-input" type="checkbox" value="">
                                            <span class="form-check-sign">
                                <span class="check"></span>
                            </span>
                                        </label>
                                    </div>
                                </th>
                            </tr>
                            </thead>

                            <tbody>
                            {% if client_bills is defined %}
                                {% for bill in client_bills %}
                                    <tr>
                                        <td>
                                            <div class="img-container">
                                                <img src="{{ asset('img/Logo_BNP.png') }}" alt="">
                                            </div>
                                        </td>

                                        <td>
                                            {{ bill.entity }}
                                        </td>

                                        <td>
                                            {{ bill.firstname }} {{ bill.lastname }} <br>
                                            {{ bill.phone }}<br>
                                            {{ bill.email }}
                                        </td>

                                        <td>
                                            {{ bill.product_to_bill }}
                                        </td>

                                        <td>
                                            {{ bill.date }}
                                        </td>

                                        <td>
                                            {{ bill.bill_number }}
                                        </td>

                                        <td>
                                            {{ bill.amount }}
                                        </td>

                                        <td>
                                            <a href="#"><i class="fal fa-eye"></i></a>
                                            <a href="#"><i class="fal fa-pen"></i></a>
                                            <a href="#"><i class="fal fa-trash"></i></a>
                                        </td>

                                        <td>
                                            <div class="form-check">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="checkbox" value="">
                                                    <span class="form-check-sign">
																<span class="check"></span>
														</span>
                                                </label>
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                            {% endif %}
                            </tbody>
                        </table>
                    </div>

                    <p class="text-right">
                        {% if bills is defined %}
                            TOTAL : {{ billings.clients|length }}
                            <a style="margin-left: 10px;" href="#"
                               class="btn btn-sm btn-navy">{{ 'admin.billings.send_bill'|trans }}</a>
                        {% endif %}
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
